{% extends template %}

{% set title = "«Когда я пребываю в тишине…»" %}
{% set pubdate = "01.01.2012" %}

{% block content %}
  {% filter poem %}
    Когда я пребываю в тишине,
    я словно в мире Ином пребываю.
    Торжественна безвременная тишь,
    И всё ненужное, как сон, я забываю.

    Я молча пребываю в тишине.
    Молчу и растворяюсь в белой тайне.
    Здесь места нет нелепости-войне.
    Печаль и радость в благости бескрайней
    переплелись…
  {% endfilter %}
{% endblock %}
