{% extends template %}

{% set title = "Апофеоз весны" %}
{% set pubdate = "01.01.2012" %}

{% block content %}
  {% filter poem %}
    Излучение, бьющее насмерть.
    Но из смерти для вечности
    вновь
    возвращается из преисподней
    в Небеса
    обновлённая болью
    любовь.
  {% endfilter %}
{% endblock %}
