{% extends template %}

{% set title = "«Ты — моё Солнце…»" %}
{% set pubdate = "01.01.2012" %}

{% block content %}
  {% filter poem %}
    Ты — моё Солнце.
    Я твой Меркурий.
    Самый близкий я спутник твой.
    Я оплавлен твоими лучами.
    Моё тело — песок и зной.

    Но за линией горизонта —
    вечность ночи, холод и мрак.
    Атмосфера, душа, сгорела.
    Но иного мне и не надо.
    Солнце, вечность,
    пусть будет так!
  {% endfilter %}
{% endblock %}
