{% extends template %}

{% set title = "«Что есть душа…»" %}
{% set pubdate = "01.01.2012" %}
{% set prev = "vadim_strannik/love-4" %}

{% block content %}
  {% filter poem %}
    Что есть душа?
    Это светоч нетленный,
    во мраке плоти
    живущий вечно.
    Солнца частица.

    А Солнце — что же?
    Та же душа —
    Бога творение
    и продолжение
    Светлого Рода.
  {% endfilter %}
{% endblock %}
