{% extends template %}

{% set title = "Жемчужина" %}
{% set pubdate = "01.01.2012" %}

{% block content %}
  {% filter poem %}
    Смотрите!
    Я нашёл истину,
    в истинном океане купаясь.
    Жемчужина на свету
    светится,
    ладонью согретая.
    Рада!
  {% endfilter %}
{% endblock %}
