{% extends template %}

{% set title = "«Ничего кроме света и боли…»" %}
{% set pubdate = "01.01.2012" %}

{% block content %}
  {% filter poem %}
    Ничего кроме света и боли.
    Ничего кроме света от боли.
    Ничего кроме боли от света.
    Ничего, ничего, ничего.
  {% endfilter %}
{% endblock %}
