{% extends template %}

{% set title = "«По границе между сном и явью…»" %}
{% set pubdate = "01.01.2012" %}

{% block content %}
  {% filter poem %}
    По границе между сном и явью
    странствую, страдая и скорбя.
    Там, за гранью,
    радость, как дыхание.
    Здесь лишь боль, лишь мука.
    Но, любя

    неизведанное,
    прорываюсь к воле.
    Лишь представлена,
    предчувствована жизнь —
    без границ, без граней.
    Как поверить?
    Океаном, сердцем, небом —
    быть!
  {% endfilter %}
{% endblock %}
