{% extends template %}

{% set title = "«Когда становишься любовью…»" %}
{% set pubdate = "01.01.2012" %}

{% block content %}
  {% filter poem %}
    Когда становишься любовью,
    становишься и болью также.
    Но суждено родиться свыше.
    И боль любовью одолеть.
  {% endfilter %}
{% endblock %}
