{% extends template %}

{% set title = "Петя в гостях" %}
{% set pubdate = "10.03.1997" %}
{% set workdate = "25.10.1994" %}
{% set workplace = "Лигово" %}

{% block content %}
  {% filter poem %}
    Пригласили в гости Петю
    На обед к подруге Свете.

    Невоспитанный ребёнок
    Не здоровался ни с кем,
    Чавкал он как поросёнок,
    Не был он ни глух ни нем,

    Ел салат из общей миски,
    Брал руками колбасу,
    Выпил два стакана виски,
    Пальцем ковырял в носу…

    И сказала мама Свете:
    «Есть противно рядом с Петей!»
  {% endfilter %}
{% endblock %}
