{% extends template %}

{% set title = "Здравствуйте!" %}
{% set pubdate = "10.03.2016" %}
{% set workdate = "10.03.2016" %}
{% set workplace = "Санкт-Петербург" %}
{% set prev = "korovionkoff/humor-15" %}

{% block preface %}
  {% filter epigraph %}
    {% filter poem %}
      …С поэтами непросто, как с детьми,
      И крика их души никто не слышит.
      Но, вдохновлённый добрыми людьми,
      Поэт стихи хорошие напишет!
    {% endfilter %}
  {% endfilter %}

  {% filter epigraph %}
    {% filter poem %}
      …Слова тебе не скажут ничего:
      Дрожит мой голос, словно от мороза.
      Послушай песни сердца моего —
      Они правдивей, чем рутины проза.
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter poem %}
    Здравствуйте! Как Ваше имя-отчество?
    Рад посещению — проходите-ка!
    Всё размещённое здесь стихотворчество
    Требует мнения строгого критика!

    Боты одни во «входящих» почты,
    Бесят — поэтому и в печали я.
    Что-то закиньте мне в ящик срочно —
    Шутку, привет или замечание!
  {% endfilter %}
{% endblock %}
