{% extends template %}

{% set title = "Маме" %}
{% set pubdate = "06.02.2006" %}
{% set workdate = "08.11.2005" %}
{% set workplace = "Лигово" %}

{% block content %}
  {% filter poem %}
    Ты отворила двери в жизнь!
    Тебя благодарю я, мама!
    Стареть, родная, не стремись,
    Перед годами будь упрямой!

    Ты в годы трудные смогла
    Одна поднять меня с сестрёнкой.
    Ты терпеливою была,
    Хоть путь казался бритвой тонкой.

    Внушая правильную цель,
    Ты нас вела, но не ломала.
    Когда корабль мой сел на мель —
    Ты волны жизни подымала.

    Благословляю две руки,
    Несущие любовь и ласку!
    Из сердца шлю тебе стихи,
    Как ты мне маленькому — сказку.
  {% endfilter %}
{% endblock %}
