{% extends template %}

{% set title = "Интроверт" %}
{% set pubdate = "05.11.2008" %}
{% set workdate = "07.10.2008" %}
{% set workplace = "Дачное" %}

{% block content %}
  {% filter poem %}
    Снова вылез в реальность —
    Суета неприятна!
    Вновь повсюду банальность —
    Мне бы в норку обратно!

    В закоулках рассудка
    Не боюсь ничего!
    Проще быть в мире жутком
    Не от мира сего.
  {% endfilter %}
{% endblock %}
