{% extends template %}

{% set title = "Мальчикиада" %}
{% set pubdate = "05.11.2003" %}
{% set workdate = "03.08.2003" %}
{% set workplace = "Михайловский" %}

{% block content %}
  {% filter poem %}
    Маленький мальчик — крутой фигурист:
    Ездит по озеру вверх он и вниз!
    Лёд разошёлся пред ним на куски —
    Мальчик вздохнул… и отбросил коньки.

    Мальчик забил унитаз шелухой.
    Долго он слушал, какой он плохой!

    Мальчик замазал печную трубу.
    Этим решил он бабули судьбу.

    Мальчик трубу выхлопную замазал,
    Чтобы природу не портили газы.
    Только водитель выскочил вдруг —
    Мальчик испортил весь воздух вокруг.

    Дети лопатой навоз ковыряли
    И на шоссе потихоньку швыряли.
    Ржали в канаве потом ребятишки:
    Долго, наверно, воняли покрышки!

    Чтобы ребёнок в пелёнки не ссал,
    Папа подгузник ему надевал.
    Были пелёнки чисты и нежны…
    А под подгузником гнили штаны!
  {% endfilter %}
{% endblock %}
