{% extends template %}

{% set title = "Под негромкий плач рояля" %}
{% set pubdate = "05.11.2006" %}
{% set workdate = "03.10.2006" %}
{% set workplace = "Дачное" %}

{% block content %}
  {% filter poem %}
    В клубе пел рояль печально,
    Пианисту пальцы грея.
    Если струны зазвучали —
    Я душой летать умею.

    Звук мечты недостижимой,
    Утоли мои печали!
    Уношусь я в мир незримый
    Под негромкий плач рояля.
  {% endfilter %}
{% endblock %}
