{% extends template %}

{% set title = "Дачная каторга" %}
{% set pubdate = "05.11.2003" %}
{% set workdate = "16.08.2003" %}
{% set workplace = "Михайловский" %}

{% block content %}
  {% filter poem %}
    Холодные тонкие струны дождя
    Играют свою монотонную песню.
    Дождинка, а с нею большая слеза
    Из глаз моих вытекут вместе.

    Я здесь, вдалеке от людской суеты,
    От праздников бурных, от шумных гулянок.
    Разбиты ладони, разбиты мечты
    Среди огородных делянок.

    Мы странно расстались: он просто пришёл —
    И я тебе вдруг оказался не нужен.
    Дай Бог, чтобы было тебе хорошо
    И весело с будущим мужем.

    А мне не осталось теперь ничего —
    Лишь только поехать на старую дачу.
    Ушла ты, оставив меня одного, —
    Всё время на поле ишачу.

    Забыть о тебе просто так нелегко —
    Но скоро в душе станет мирно и пусто.
    На завтрак подкисшее ждёт молоко,
    На ужин — салат да капуста.

    Природа лечила во все времена —
    Докажут Некрасов, Толстой и Есенин.
    Когда доставала родная жена —
    Свой рай в шалаше видел Ленин.

    Когда я вернусь после лета домой,
    Окрепший, весёлый и в тёмном загаре,
    Все девушки будут гоняться за мной —
    Такой буду суперский парень!

    Мы снова сойдёмся: я просто приду —
    И он тебе сразу же станет не нужен.
    И будешь довольна у всех на виду
    Ты мной, своим будущим мужем!

    …Четвёртую ночь поливают дожди,
    И кроме их песни не слышно ни звука.
    Здесь жизнь нелегка — и веселья не жди:
    В тиши этой — вечная мука.
  {% endfilter %}
{% endblock %}
