{% extends template %}

{% set title = "Город мой" %}
{% set pubdate = "30.06.2001" %}
{% set workdate = "03.02.2000" %}
{% set workplace = "Лигово" %}

{% block content %}
  {% filter poem %}
    Мне судьба помогла появиться на свет
    В этом городе чудном, прекрасном, спокойном.
    Здесь с рожденья живу я уже много лет,
    Беззаботно гуляя по улицам стройным.

    Ежедневно с приходом вечерней зари
    Из окна я смотрю на его панораму.
    Больше жизни люблю я его фонари,
    Свежий ветер морской и свеченье рекламы.

    Необъятные парки и зелень дворов,
    Бесконечно спешащие добрые лица,
    Золотое сиянье литых куполов —
    Это мой Петербург! Я могу им гордиться!

    Распахни свою свежесть, мой Питер ночной!
    Постою на холодной и мокрой аллее.
    Да, юга далеко! Но мой город со мной —
    И поэтому я ни о чём не жалею!
  {% endfilter %}
{% endblock %}
