{% extends template %}

{% set title = "Михаилу Лермонтову" %}
{% set pubdate = "05.11.2005" %}
{% set workdate = "02.11.2005" %}
{% set workplace = "Лигово" %}

{% block content %}
  {% filter poem %}
    Легко крутя штурвал божественного слова,
    Ты шёл по гребню самой бешеной волны!
    Твой одинокий парус для поэтов новых
    Сверкает в небе эталоном белизны!
  {% endfilter %}
{% endblock %}
