{% extends template %}

{% set title = "Упорство графомана" %}
{% set pubdate = "05.11.2007" %}
{% set workdate = "17.09.2007" %}
{% set workplace = "Лигово" %}

{% block content %}
  {% filter poem %}
    Мне часто говорят: «Бросай стихи!
    За пару строк никто в карман не сунет.
    Поют в башке живые петухи,
    А жареный — отнюдь не в темя клюнет!»

    Но я опять тоскую по луне…
    И снова стих писать сегодня начал.
    Любой правдивый труд всегда в цене —
    Что б он для окружающих ни значил!
  {% endfilter %}
{% endblock %}
