{% extends template %}

{% set title = "Зовём Весну" %}
{% set pubdate = "05.11.2003" %}
{% set workdate = "07.04.2003" %}
{% set workplace = "Санкт-Петербург" %}

{% block content %}
  {% filter poem %}
    Стоит апрель. А за окном — зима…
    И негодует обречённый ветер.
    От ужаса метель сошла с ума:
    Недолго ей кружить на белом свете.

    А где-то за углом дрожит Весна:
    Боится этих злых апрельских шуток.
    Не прячься же! Лети скорее к нам!
    Мы ждём тебя с минуты на минуту!

    Вот жаворонков целый батальон
    Спешит в поля будить младую озимь.
    А юноша-поэт, что вновь влюблён,
    Готов перед возлюбленной пасть оземь!
  {% endfilter %}
{% endblock %}
