{% extends template %}

{% set title = "Русская погода" %}
{% set pubdate = "06.02.2006" %}
{% set workdate = "21.01.2006" %}
{% set workplace = "Дачное" %}

{% block content %}
  {% filter poem %}
    Мороз играет на щеках,
    Пылают руки, стынут уши,
    Но в глубине, в пуховиках,
    Горят огнём живые души!

    Нас холодом не удивишь:
    Что минус пятьдесят медведю?
    Кричит восторженно малыш,
    Когда с горы на санках едет!

    Зима по-нашенски пришла:
    Сначала прохлаждалась где-то —
    И вот сугробов намела,
    Когда в затылок дышит лето!

    …Забыть бесследно не могу
    Ни звон декабрьской капели,
    Ни как по задницу в снегу
    Пять километров шёл в апреле!
  {% endfilter %}
{% endblock %}
