{% extends template %}

{% set title = "Ночной монолог" %}
{% set pubdate = "30.01.2000" %}
{% set workdate = "18.11.1999" %}
{% set workplace = "Дачное" %}

{% block content %}
  {% filter poem %}
    Ночь. Бессонное ложе. Приходят мечты.
    Недвижим я, как мощи почившего.
    Вспоминаю я ветер, поляну, цветы —
    Прелесть дня, безвозвратно уплывшего.

    Раньше птицей счастливой кружил в вышине,
    А теперь в сердце — сырость и холодность.
    Кончен радостный смех! Не вернуть уже мне
    Над волнами летящую молодость.

    Страх, уныние, лень — всё, что я приобрёл,
    В пустоту распыляя усилия.
    Лодка к берегу встала — я дальше пошёл,
    Над душой совершая насилие.

    Я живу, по наклонной в пучину сходя,
    Алкоголь стал мне ближе, чем родственник.
    Ну зачем каждый вечер под звуки дождя
    Меня гложет рассудок — мой собственник?..

    За окошком маячит рассвет. Новый день
    Пролетит бесполезно-общественно.
    Злобный разум ушёл в подсознания тень.
    Ну а завтра придёт он? Естественно.
  {% endfilter %}
{% endblock %}
