{% extends template %}

{% set title = "Прекрасная пора" %}
{% set pubdate = "05.11.2003" %}
{% set workdate = "19.04.2003" %}
{% set workplace = "Лигово" %}

{% block content %}
  {% filter poem %}
    Приятен первый признак перемен:
    Проталин плач природе петь позволил,
    Птиц перелётных прекратился плен,
    Призыв проснуться пролетел по полю.

    Прогрелась почва, почки подросли,
    Плетёт паук поспешно паутину,
    Поляны первоцветом поросли,
    Покрывшись пестротканой пелериной.
  {% endfilter %}
{% endblock %}
