{% extends template %}

{% set title = "Красуйся, Петербург!" %}
{% set pubdate = "17.04.2002" %}
{% set workdate = "23.03.2002" %}
{% set workplace = "Лигово" %}

{% block content %}
  {% filter poem %}
    Красуйся, Петербург,
    В вечерней синеве!
    Неполных триста лет
    Стоишь ты на Неве.

    Суровая река
    И каменный гранит —
    Всё это на века
    История хранит.

    Изящные дворцы,
    Адмиралтейства шпиль;
    Корабль летит над ним
    И в шторм, и в шквал, и в штиль.

    Летит он над землёй
    И весть несёт о том,
    Что славный город мой
    Основан был Петром,

    Что у Невы стоит
    До нынешней поры,
    На город свой глядит
    С подножия горы —

    И вспоминает он,
    Как триста лет назад
    С расчётом возведен
    Прекрасный стольный град —

    На низком берегу,
    На брошенной земле,
    Где тонет моря гул
    В туманной белой мгле,

    Где нету ни души —
    Лишь только вдалеке
    Плеск слышится в тиши:
    Рыбачат на реке.

    И вот возводят дом,
    Без устали трудясь,
    Махая топором,
    Роняя бревна в грязь…

    Так город возникал
    В недолгие года
    И сразу центром стал —
    Как видно, навсегда!

    Блокадная пора
    Тяжелою была —
    Хотела нас сломить,
    Но только не смогла:

    По-прежнему стоит
    Великий град Петра.
    Он так же знаменит
    Сегодня, как вчера.

    Великих горожан,
    Талантливых — не счесть.
    И президент страны —
    Он тоже вырос здесь!

    Величественным будь,
    Любимый город мой!
    Прошел ты славный путь,
    Россия — за тобой.

    Красуйся, Петербург!
    Пройдет всего лишь год —
    И славный юбилей
    Отпразднует народ.

    Готовятся к нему
    Уже и стар, и млад —
    Все в общую судьбу
    Посильный вносят вклад.

    В порядок приведём
    Мы каждый уголок,
    Чтоб город праздник свой
    Достойно встретить смог.

    Торжественным огнем
    Ростральные зажгут.
    И озарится небо,
    И прогремит салют.

    Он возвестит о том,
    Чего так ждал весь свет!
    Ура, мой Петербург!
    Ты прожил триста лет!
  {% endfilter %}
{% endblock %}
