{% extends template %}

{% set title = "Новогоднее" %}
{% set pubdate = "17.04.2002" %}
{% set workdate = "31.12.2001" %}
{% set workplace = "Лигово" %}

{% block content %}
  {% filter poem %}
    Выпал снег вчера тяжёлый.
    Скоро будет Новый Год,
    Провести банкет весёлый
    Собирается народ.

    На высокой стройной ёлке
    Зажигаются огни,
    Только мы не знаем толком,
    Что пророчат нам они:

    То ли счастье без предела,
    То ли тихую печаль.
    Вьюга мимо пролетела —
    Старый год умчался вдаль…

    С чувством счастья в дом несу
    Сало, хлеб и колбасу.
    Пить не буду как свинья —
    Только в честь события!..
  {% endfilter %}

  {{ asters }}
  {% filter poem %}
    …Просыпаюсь утром рано.
    Чудо, ты произошло?
    С двух глотков воды из крана
    Первое начну число.

    Санта-Клауса олени,
    В рот мой, видно, как пельмени,
    Заскочили сдуру вдруг —
    Вот откуда вонь вокруг.

    А ещё ужасно сухо,
    Жжёт всё нёбо. Ноет ухо:
    Взрыв петарды — на ура!
    И в стене как раз дыра.

    Был ли праздник или не был —
    Всё одна сплошная хрень!
    Можно кушать мясо с хлебом
    И в другой какой-то день!

    Я сижу, глотаю слёзы,
    Что с бутылки натекли.
    Новый год — бухая проза!
    Что же люди в нём нашли!
  {% endfilter %}
{% endblock %}
