{% extends template %}

{% set title = "Нежный букет" %}
{% set pubdate = "05.11.2005" %}
{% set workdate = "18.10.2005" %}
{% set workplace = "Лигово" %}

{% block content %}
  {% filter poem %}
    Посмотри мне в глаза — и увидишь в них нежный букет!
    Миллион алых роз, про которые в песне поётся.
    Ничего у художника бедного более нет,
    Кроме сердца, которое стонет и бешено бьётся.

    Слушай речь мою! В ней будет слышен раскатистый гром!
    Свет любви засверкает под облаком молнией быстрой!..
    А потом моя нежность прольётся прохладным дождём
    Поцелуев, надежд, тёплый слов и нечаянных мыслей.
  {% endfilter %}
{% endblock %}
