{% extends template %}

{% set title = "Вокруг Парнаса" %}
{% set pubdate = "06.02.2006" %}
{% set workdate = "26.01.2006" %}
{% set workplace = "Лигово" %}

{% block content %}
  {% filter poem %}
    «Вокруг Парнаса я брожу шесть лет! —
    Сказал один продвинутый поэт. —
    Тропу узрев, я в путь по ней пускаюсь,
    Но каждый раз обратно возвращаюсь.
    Устал по кругу вечному ходить!
    Куда свернуть, чтоб гору покорить?»

    Ответил человек с пером в руке,
    Спускавшийся с Парнаса налегке:
    «Когда к вершине голову вздымаешь —
    Вокруг себя дорог не замечаешь.
    Кончай с тоской взирать на небосвод —
    Тогда увидишь нужный поворот».
  {% endfilter %}
{% endblock %}
