{% extends template %}

{% set title = "Новогодний тост" %}
{% set pubdate = "06.02.2006" %}
{% set workdate = "27.12.2005" %}
{% set workplace = "Дачное" %}

{% block content %}
  {% filter poem %}
    Пусть снег кружится в лёгкой пляске,
    В душе рождаются стихи,
    Пусть взглянет каждый без опаски
    На прошлогодние грехи.

    Забудем грустное сегодня!
    В теченье ночи новогодней
    Пусть льётся бодрость как вода —
    И не иссякнет никогда!
  {% endfilter %}
{% endblock %}
