{% extends template %}

{% set title = "Бой" %}
{% set pubdate = "30.01.2000" %}
{% set workdate = "12.01.2000" %}
{% set workplace = "Лигово" %}

{% block content %}
  {% filter poem %}
    Дело было ранним утром:
    Просветлел уж небосклон.
    Я не спал давно, как будто
    Я забыл, что значит сон.

    Наблюдая за звездою,
    Вспоминаю про семью.
    Вижу я: летит стрелою
    Что-то в сторону мою.

    Я в бинокль смотрю на точку,
    Вижу: вражий самолёт!
    Как он смел в такую ночку
    Нам испортить небосвод!

    Я — мгновенно к командиру!
    Говорю: «Пора вставать!
    Ночь прошла — не место миру!
    Снова надо воевать!»

    Взвод готов, готова пушка,
    И наводчик говорит:
    «Ну, не подведи, старушка!» —
    «Пли!» — наш командир кричит.

    Хоть летел фашист проворно,
    Но расчёт нас не подвёл —
    Видим мы: какой-то чёрный
    Из-под крыльев дым пошёл!

    А секунд через пятнадцать
    Начал он огнём гореть
    И на поле опускаться,
    Чтобы больше не взлететь…
  {% endfilter %}
{% endblock %}
