{% extends template %}

{% set title = "Про наш роман" %}
{% set pubdate = "06.02.2006" %}
{% set workdate = "23.12.2005" %}
{% set workplace = "Дачное" %}

{% block content %}
  {% filter poem %}
    Темнеет рано.
    И ночь длинна.
    Я сильно пьяный —
    И ты пьяна.

    Глядишь с опаской
    Издалека.
    Брусничной краской
    Горит щека.

    Но лезут в драку
    Твои глаза!
    Пошёл в атаку —
    Нельзя назад.

    Вино целует
    Бокала дно.
    Тебя зову я
    Своим вином.

    Пусть дремлет совесть!
    И стыд — в туман!
    Мы пишем повесть
    Про наш роман.
  {% endfilter %}
{% endblock %}
