{% extends template %}

{% set title = "Утро будущего лета" %}
{% set pubdate = "05.11.2003" %}
{% set workdate = "19.04.2003" %}
{% set workplace = "Лигово" %}

{% block content %}
  {% filter poem %}
    Роса ложится на цветы,
    Целуя мягкие бутоны.
    На белоснежном ложе ты
    Всё спишь, мой ангел полусонный.

    Щекочет пальчики трава,
    Щеку ласкает луч рассвета…
    Таким привиделось вчера
    Мне утро будущего лета.
  {% endfilter %}
{% endblock %}
