{% extends template %}

{% set title = "Зимнее утро" %}
{% set pubdate = "05.11.2006" %}
{% set workdate = "07.02.2006" %}
{% set workplace = "Лигово" %}

{% block content %}
  {% filter poem %}
    Снова снег под утро выпал
    На истерзанную землю —
    Поле хлопьями засыпал,
    И деревья в шапках дремлют.

    Тихо всё и безмятежно
    На краю озёрной глади.
    Подвывает безнадежно
    Ветер в тростниковой пряди.

    В горизонт уходит небо —
    Свод из серого бетона.
    Чайки, съев остатки хлеба,
    Разлетаются со стоном…
  {% endfilter %}
{% endblock %}
