{% extends template %}

{% set title = "Ты" %}
{% set pubdate = "05.11.2007" %}
{% set workdate = "17.09.2007" %}
{% set workplace = "Лигово" %}

{% block content %}
  {% filter poem %}
    Ты —
    Праздник средь серых будней.
    Как же мне было трудно
    Без тебя!
    Мне
    Кажется мир безбрежным,
    Если ты смотришь нежно
    На меня.

    С тобой мы не случайно:
    Спасибо Небесам!
    Пусть все земные тайны
    Открыты будут нам,
    Пока руки горячей
    Касается рука,
    Пока тревожит сердце взгляд
    И губы трепетно дрожат
    Пока.

    Дни
    Я без тебя скучаю,
    Если вдруг разлучают
    Нас дела.
    Но
    Будут чудесны сутки,
    Если на две минутки
    Ты пришла.

    С тобой мы не случайно:
    Спасибо Небесам!
    Пусть все земные тайны
    Открыты будут нам,
    Пока руки горячей
    Касается рука,
    Пока тревожит сердце взгляд
    И губы трепетно дрожат
    Пока.
  {% endfilter %}
{% endblock %}
