{% extends template %}

{% set title = "Прощание с летом" %}
{% set pubdate = "05.11.2011" %}
{% set workdate = "08.05.2011" %}
{% set workplace = "Татьянино" %}

{% block content %}
  {% filter poem %}
    Намёк осенний — бесконечный дождь,
    Ритмично бьющий по зонтам и крышам.
    Послушай, лето: скоро ты уйдёшь,
    Оставив только вкус созревших вишен,

    Пройдёт немного ласковых деньков —
    И, оборвав листву в порыве диком,
    Зальётся мир слезами облаков
    И мокрых чаек безутешным криком.

    Ты — с дерева, а я — с календаря, —
    Листки сорвём в пакет воспоминаний.
    Простимся, ничего не говоря,
    До вновь судьбой назначенных свиданий.
  {% endfilter %}
{% endblock %}
