{% extends template %}

{% set title = "Монолог Яблони" %}
{% set pubdate = "30.01.2000" %}
{% set workdate = "19.06.1999" %}
{% set workplace = "Михайловский" %}

{% block content %}
  {% filter poem %}
    Я стою одна во чистом поле —
    Все друзья уж высохли давно.
    Господи! Такой несчастной доли
    Не желаешь и врагам в кино!

    Человеку надобно все тропы,
    Все пути-дороги прошагать.
    Но, увы, не прыгнешь выше попы!
    И теперь приходится страдать…

    Человек ещё был обезьяной —
    Помню, Бог назвал его Адам —
    А таскал плоды уж неустанно,
    Говоря при этом: «Еве дам».

    Три тысячелетья прошагали.
    Новые орудия труда.
    Люди огородов накопали —
    И меня поставили туда.

    Всеми они силами пытались
    Снять с меня хороший урожай.
    Кучи удобрений насыпались,
    Было пищи — ну хоть отбавляй!

    Я от радости похорошела,
    Превратилась я в культурный сорт,
    И на каждой веточке висело
    Яблок сто величиною с торт…

    Минуло ещё тысячелетье.
    В Англию попала на газон.
    И в моей тени, как моль в жилете,
    Поселился Исаак Ньютон.

    Как-то раз я с солнышком играла,
    Ветер ветви весело качал.
    Как тряхнёт — и яблоко упало!
    И в природе начался развал:

    Шишка порождает озаренье —
    И побитый Исаак Ньютон,
    Сидя на траве, о тяготенье
    Тут же сформулировал закон.

    Все науки в корне изменились,
    Прояснилось множество чудес,
    И капиталисты появились,
    И настал технический прогресс.

    Сразу сто печей заполыхали,
    Сразу задымили тыщи труб,
    И сады повсюду выдирали,
    Как больной и отслуживший зуб…

    Вот двадцатый век. Союз и Штаты
    Способ урожайности нашли:
    Стали рассыпать в садах нитраты —
    Яблоки как на дрожжах росли.

    Только рост — не значит улучшенье,
    И бесплодны могут быть плоды.
    И, возможно, прекратят цветенье
    Скоро заражённые сады…

    Нет пути назад. Но я желаю,
    Чтоб вернулась молодость моя…
    Я хочу расти в саду у Рая,
    Где Адам и Ева — мне друзья!
  {% endfilter %}
{% endblock %}
