{% extends template %}

{% set title = "Весна в деревне" %}
{% set pubdate = "30.01.2000" %}
{% set workdate = "20.04.1998" %}
{% set workplace = "Дачное" %}

{% block content %}
  {% filter poem %}
    Вот и в деревне весна наступает.
    Хоть и велик ещё снежный покров —
    Но уж крестьянин с утра выгоняет
    В сонное поле на выпас коров.

    Солнышко в восемь утра уже всходит,
    Около лунок потрескался лёд,
    Стайка грачей вслед за трактором ходит,
    Роща весеннюю песню поёт.
  {% endfilter %}
{% endblock %}
