{% extends template %}

{% set title = "Долгожданный снег" %}
{% set pubdate = "05.11.2007" %}
{% set workdate = "18.12.2006" %}
{% set workplace = "Лигово" %}

{% block content %}
  {% filter poem %}
    Пришёл на Землю снег
    В разгаре зимней пляски.
    Уж думал человек:
    Не заменить коляски
    Изяществом саней,
    Летящих по сугробам…
    С тоской осенних дней
    Мы вдаль глядели оба…

    Вдруг там, на небесах,
    Господь придумал нечто,
    Чтоб в питерских лесах
    Стояла осень вечно?
    Иль Бога попросил
    Поэт с пером мятежным,
    Который в осень был
    Задумчивым и нежным?

    Зелёная трава —
    У ёлки новогодней!
    Нет шапки, нет шарфа —
    Но стало ли свободней?
    Грибы пошли гулять —
    Хватай зимой корзинки!
    А я ношу опять
    Осенние ботинки.

    Примёрзнет грязь с утра —
    А днём пылят дороги.
    Лишь льда чиста кора —
    Зимы симптом убогий.
    И у стеклянных рек
    Молили мы: «О Боже!
    Пришли на Землю снег!
    Мы без него не можем!»

    Снег миловал! Пришёл!
    Теперь зимы — навалом!
    Деревьям — хорошо!
    Трава — под одеялом.
    На варежке лежит
    Снежинок ворох дружный.
    И если снег летит —
    Кому-то это нужно!
  {% endfilter %}
{% endblock %}
