{% extends template %}

{% set title = "Видение о Петрограде" %}
{% set pubdate = "30.06.2001" %}
{% set workdate = "17.10.2000" %}
{% set workplace = "Санкт-Петербург" %}

{% block content %}
  {% filter poem %}
    Было весело.
    Флаги развесила
    Площадь, где к дому прислонен дом.
    Шёл я сонный.
    Встал у колонны:
    Шагалось с трудом.

    Выпили кружку,
    Заев горбушкой,
    Со мною сомнительные друзья.
    Головокруженье —
    И тут же виденьем
    Башка затуманилась моя…

    …Казалось, что время
    Не властно над всеми,
    И площадь — не та, что утром была.
    Где транспаранты,
    Столбы-оккупанты?
    Жизнью другою площадь жила.

    Прозвучал жалко
    Свист детской пищалки —
    Проехал ретроавтомобиль:
    Медленней бега,
    Словно телега,
    Протарахтел, поднимая пыль.

    День продолжался.
    Народец съезжался:
    И офицеры высших чинов,
    И вор законный,
    И поп с иконой —
    Каждый спасать свою шкуру готов.

    Я лёг под колонну.
    Слышны отдалённо
    Все сказанные слова.
    На старославянском
    О быте дворянском
    Жирный полковник твердил — ать-два!

    Мол, типа и в общем,
    Низы что-то ропщут.
    Их не устроил порядок вещей.
    «Суд им известен —
    Всех мы повесим!» —
    Молвил священник, тощ как кощей.

    Так рассуждали,
    Кого-то там ждали.
    И вот показалась вечерняя мгла —
    В права вступила,
    Город накрыла,
    Обняла крепко и сверху легла.

    Заснул под колонной,
    Ошеломлённый,
    Не зная, как мне обратно попасть…
    И вдруг — дали больно!
    Вскочил недовольный —
    И вижу смеющуюся пасть:

    «Нажрался, скотина! —
    Сказал мне мужчина. —
    Придёт интурист! Не позорь народ!»
    Я понял, что дома,
    Что в веке знакомом,
    Где делят нас всех на рабов и господ.

    О Питер мой славный!
    Когда я не справный —
    Ты будто бы снишься мне наяву.
    Я рад, что на свете
    Три долгих столетья
    Стоит этот город. И я в нём живу.
  {% endfilter %}
{% endblock %}
