{% extends template %}

{% set title = "Дегенерат" %}
{% set pubdate = "05.11.2006" %}
{% set workdate = "09.10.2006" %}
{% set workplace = "Лигово" %}

{% block content %}
  {% filter poem %}
    Влюбился в Лань один дородный Свин.
    Снял денег у Бобра — и в магазин.
    Купил дешёвый торт, к нему вино —
    И пригласил красавицу в кино.

    Будь девочка немножечко умней —
    Не пел бы басни хитрый Соловей.
    Но Лань румянцем девственным зажглась,
    Сказала «Да!» — и мигом собралась.

    Идёт неспешно Лань на каблуках,
    А Свин — вразвалку, с грязью на боках.
    Она ему толкует про музей,
    А он — про секс в сарае у друзей.

    Вся очередь от кассы отошла,
    Когда сирена вой свой завела —
    То Свин, напившись у буфета вдрызг,
    Сошёл внезапно с хрюканья на визг.

    Охрану из хорьков вспугнув слегка,
    Толкая Лань под мягкие бока,
    Свин поспешил усесться на балкон,
    Как будто главный в этом зале — он.

    Лань не любила фильмов о борьбе.
    Она ему шептала о себе:
    Поэму, дескать, пишет и рассказ —
    Вчера летала ночью на Парнас.

    Свин, мерно дуя в толстый пятачок,
    Внезапно приоткрыл один зрачок,
    Рыгнул, икнул — и выпалил в ответ:
    «Там „Балтика“ дешевле или нет?»

    Через неделю убежала Лань.
    А Свин воскликнул: «Ну какая дрянь!
    Ей показал в алмазах небеса,
    Она — бежать, как с полки колбаса!»

    Свин стал кадрить Лисицу у вокзала.
    Но та его отшила и сказала:
    «Прищурив мелкий поросячий взгляд,
    Не лезь в калашный ряд, дегенерат!»
  {% endfilter %}
{% endblock %}
