{% extends template %}

{% set title = "Письмо" %}
{% set pubdate = "05.11.2003" %}
{% set workdate = "03.04.2003" %}
{% set workplace = "Лигово" %}

{% block content %}
  {% filter poem %}
    Я жду тебя давно.
    Молю, приди ко мне!
    Всё без тебя одно —
    Есть счастье или нет.

    Поверь, что я один
    Как будто не живу:
    На кромках толстых льдин
    Как будто бы плыву,

    На медленном огне
    Сгораю не скорбя,
    Чтоб змей зелёный мне
    Помог забыть тебя.

    А если ты придёшь
    Однажды по весне —
    То наконец поймёшь,
    Как быстро тает снег,

    Как ярко может жизнь
    Влюблённых расцвести!
    Прочтя письмо, не злись.
    Прости меня, прости!
  {% endfilter %}
{% endblock %}
