{% extends template %}

{% set title = "Про лень" %}
{% set pubdate = "12.12.1997" %}
{% set workdate = "15.10.1997" %}
{% set workplace = "Лигово" %}

{% block content %}
  {% filter poem %}
    Случилось то в осенний тёплый день:
    Решил козёл на сельском поле
    Поесть капустки… Но идти-то лень! —
    И не пошёл: нет силы воли.

    Пришёл козёл на поле поутру —
    Капусты нет: уже убрали. —
    И поскакал козёл, как кенгуру,
    Унынья полон и печали.

    Ленивый мыслит: времени — вагон —
    Он сделать дело успевает.
    Но коль зевнёшь, считать начнёшь ворон —
    И счастье мимо пролетает…

    Вот так и в притче про козла,
    Который был ленив чрезмерно.
    И если б не откладывал дела —
    Голодным не остался б, верно.
  {% endfilter %}
{% endblock %}
