{% extends template %}

{% set title = "Последний летний вечер" %}
{% set pubdate = "05.11.2003" %}
{% set workdate = "31.08.2003" %}
{% set workplace = "Лигово" %}

{% block content %}
  {% filter poem %}
    Последний летний вечер. Тёплый дождь,
    Поющий серенаду для кого-то.
    Я знаю, лето, ты сейчас уйдёшь…
    И грустно мне, и грустно отчего-то.

    Быть может, я проспал свою зарю,
    Когда стучалась в дверь ко мне удача?
    Я в сумрачное небо посмотрю
    И, может быть… и, может быть, заплачу.

    Слеза скупая сохнет на ветру,
    Но душу разъедает соль до боли.
    Я не сгорю в тоске и не умру!
    Но не смогу, но не смогу без соли…
  {% endfilter %}
{% endblock %}
