{% extends template %}

{% set title = "Первый экзамен" %}
{% set pubdate = "05.11.2008" %}
{% set workdate = "14.06.2008" %}
{% set workplace = "Лигово" %}

{% block content %}
  {% filter poem %}
    Помнишь, коллега, свой первый экзамен? —
    Голос у лифта напутственный мамин,
    Серия тягостных мыслей в пути…
    Чтение в транспорте может спасти!

    Мелкая дрожь, и холодные руки,
    Мозг, окосевший вконец от науки,
    Ручка в кармане, шпаргалка в другом —
    Ходят под дверью студенты кругом.

    Вспомни молитву в дверях кабинета,
    Руку, застывшую возле билета,
    Ужас при взгляде на текст, а затем —
    Припоминанье неученых тем.

    Голосом жалким ответ начинаешь,
    Что-то с испугу потом вспоминаешь,
    С грозным доцентом беседу ведёшь —
    И понимаешь, что не пропадёшь.

    Время застыло… «Давайте зачётку!» —
    Сердце ликует и пляшет чечётку!
    Вышел наружу. Ты этого ждал:
    К стенке припав, констатируешь: «Сдал!..»
  {% endfilter %}
{% endblock %}
