{% extends template %}

{% set title = "Журавли" %}
{% set pubdate = "05.11.2003" %}
{% set workdate = "06.10.2003" %}
{% set workplace = "Лигово" %}

{% block content %}
  {% filter poem %}
    Я выйду в поле с раннего утра,
    Чтоб попрощаться с запоздалой стаей.
    Не станут журавли кричать «Ура!»,
    От мест родных надолго улетая.

    Храни вас Бог! Но прежде чем в полёт —
    Хочу, чтоб покружили вы над домом,
    Где девушка чудесная живёт,
    С которой мы давным-давно знакомы.

    Пусть, ваших крыльев чувствуя тепло,
    Она сквозь сон о чём-то шепчет мило.
    Любовь мою возьмите под крыло,
    Чтобы она в дороге не остыла.
  {% endfilter %}
{% endblock %}
