{% extends template %}

{% set title = "Ты меня не любила" %}
{% set pubdate = "05.11.2007" %}
{% set workdate = "08.10.2007" %}
{% set workplace = "Лигово" %}

{% block content %}
  {% filter poem %}
    Сон осенний опять
    Растревожил меня.
    Я спешу в те луга,
    Где нам было тепло.
    Нам не вместе встречать
    Утро нового дня.
    Скоро будут снега
    Мне стучаться в стекло.

    Были ясные ночи —
    Звёзд на небе не счесть,
    И прекрасные очи,
    И пьянящая лесть…

    Но дороги покрыла
    Корка зимнего льда.
    Ты меня не любила
    Никогда-никогда.

    Ты красива, как май,
    И сладка, как вино.
    Есть ли рай на земле?
    Места в нём тебе нет.
    С кем угодно гуляй —
    Всё уже решено:
    Скоро сгинет в золе
    Безупречный портрет.

    Были ясные ночи —
    Звёзд на небе не счесть,
    И прекрасные очи,
    И пьянящая лесть…

    Но дороги покрыла
    Корка зимнего льда.
    Ты меня не любила
    Никогда-никогда.
  {% endfilter %}
{% endblock %}
