{% extends template %}

{% set title = "Наших встреч мгновения" %}
{% set pubdate = "05.11.2005" %}
{% set workdate = "16.07.2005" %}
{% set workplace = "Лигово" %}

{% block content %}
  {% filter poem %}
    Словно в ясное небо бескрайнее,
    Я в глаза твои долго смотрю.
    Взгляд, похожий на солнышко раннее,
    Дарит миру вторую зарю.

    Наших встреч долгожданных мгновения
    Окрыляют меня. Я лечу.
    В небеса совершив восхождение,
    Возвращаться назад не хочу.

    Тихий звук мелодичного голоса
    Заставляет забыть обо всём,
    А твои золотистые волосы
    Полыхают на солнце огнём.

    Нежных рук колдовские движения
    Разум мой навсегда увели.
    Знай: ладоней твоих притяжение?—
    Больше, чем притяженье Земли!

    А потом, когда скоро расстанемся,
    Буду светлым часам этим рад:
    Шлейф оранжевый по небу тянется,
    Когда солнце ушло на закат.
  {% endfilter %}
{% endblock %}
