{% extends template %}

{% set title = "Весенние морозы" %}
{% set pubdate = "05.11.2006" %}
{% set workdate = "20.03.2006" %}
{% set workplace = "Дачное" %}

{% block content %}
  {% filter poem %}
    Весна недолго правила свой бал:
    Три дня лишь с крыши капала вода.
    Я только шапку с гвоздика убрал —
    Как вновь вернулись в город холода.

    С таким остервенением мороз
    Не лютовал и в снежном феврале! —
    А нынче воздух щиплет бедный нос,
    И примерзают сапоги к земле.

    В душе — огонь, а под ногами — лёд.
    Где притаилась сонная весна?
    Мы с нетерпеньем ждём её приход:
    Ведь теплота природе так нужна!
  {% endfilter %}
{% endblock %}
