{% extends template %}

{% set title = "Осенняя печаль" %}
{% set pubdate = "05.11.2005" %}
{% set workdate = "14.10.2005" %}
{% set workplace = "Михайловский" %}

{% block content %}
  {% filter poem %}
    Берёзовый листочек по воде,
    Вальсируя, уносится куда-то.
    Стоит осенний тёмно-серый день,
    Наполненный тумана ароматом.

    Унылый лес, лишившийся листвы,
    Пред миром обнажённый, тихо плачет.
    Всё потеряв, как я, он от молвы
    Больную душу никуда не прячет.
  {% endfilter %}
{% endblock %}
