{% extends template %}

{% set title = "Всё возвращается" %}
{% set pubdate = "05.11.2010" %}
{% set workdate = "14.10.2010" %}
{% set workplace = "Дачное" %}

{% block content %}
  {% filter poem %}
    Осень в Россию тихонько пришла
    И разноцветные листья зажгла:
    Их цветомузыка всюду звучит.
    Листья потухнут — она замолчит.

    Сяду на лавку у старой ольхи,
    Буду мечтать, погрузившись в стихи, —
    О благоденствии прожитых лет
    И о надеждах, которых уж нет.

    Тихо прошепчет ольха: «Не грусти!
    Счастье — как листья: возьми — отрасти!
    Новой весной будет радостным лес —
    И у тебя будет время чудес!»

    Счастье похоже порой на листву:
    Дунет судьба — и бросает в траву.
    Но с возвращением лучших времён
    Мы возрождаемся — это закон!
  {% endfilter %}
{% endblock %}
