{% extends template %}

{% set title = "Ясень" %}
{% set pubdate = "30.01.2000" %}
{% set workdate = "19.05.1999" %}
{% set workplace = "Лигово" %}

{% block content %}
  {% filter poem %}
    Где-то средь русских степей
    Ясень растёт на просторе,
    Так же, как я, одинок.
    Звёздных-презвёздных ночей
    Тьмою омыта, как морем,
    Сеть бесфонарных дорог.

    А на рассвете пройдут
    Степью в тайгу дровосеки:
    Ясень уже обречён.
    Кончится жизнь и моя,
    Смолкнет, иссякнет навеки,
    Быстрая, как детский сон…
  {% endfilter %}
{% endblock %}
