{% extends template %}

{% set title = "Поэтам литобъединения" %}
{% set pubdate = "05.11.2003" %}
{% set workdate = "22.04.2003" %}
{% set workplace = "Лигово" %}

{% block heading %}
  <h1 class="art__title">Поэтам литобъеди&shy;нения</h1>
{% endblock %}

{% block preface %}
  {% filter epigraph %}
    {% filter poem %}
      Собирать поэтов вместе
      Всем поклонникам на радость —
      Ну хотя б два раза в месяц —
      Может лишь Диана Радес.

      Одиночка — как пушинка:
      Исчезает, только дунешь.
      Но, как кисточкой в картинку,
      Нас в анналы впишет <a href="https://vk.com/club23358182" target="_blank" rel="nofollow">«Рунеж»</a>…
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter poem %}
    Простите мне мой тяжкий грех,
    О вы, сообщество поэтов:
    Бывало, мой задорный смех
    Перу и лире был ответом.

    Я, в первый раз придя сюда,
    Поэзию душою встретил —
    Открылось сразу мне тогда
    Всё то, что раньше не заметил.

    На слове зиждется весь свет!
    Что есть коварней? Что мудрее?
    По речке времени поэт,
    Гребя пером, плывёт быстрее.

    Душой благодарю всех тех,
    Кто разум мой наполнил светом!
    Простите мне былой мой грех!
    Хочу я тоже стать поэтом!
  {% endfilter %}
{% endblock %}
