{% extends template %}

{% set title = "Посвящение школе" %}
{% set pubdate = "10.03.2003" %}
{% set workdate = "08.02.2003" %}
{% set workplace = "Лигово" %}

{% block content %}
  {% filter poem %}
    Мы собрались сегодня вновь —
    Те, кто учил, кого учили.
    В компании выпускников
    Мы вспомним тех, о ком забыли.

    Прошли те славные года,
    И мы теперь — другие люди.
    Но школу милую всегда
    Мы с уваженьем помнить будем.

    Живи же, школа, триста лет!
    А повезёт — ещё и больше!
    Пусть яркий твой ученья свет
    Горит для нас как можно дольше!
  {% endfilter %}
{% endblock %}
