{% extends template %}

{% set title = "Медсестра" %}
{% set pubdate = "05.11.2003" %}
{% set workdate = "21.04.2003" %}
{% set workplace = "Лигово" %}

{% block content %}
  {% filter poem %}
    Медсестра, милосердия кладезь, —
    Состраданье, забота, уход.
    Нежно пластырь рукою приладишь —
    И коварная боль отойдёт.

    Обходя величаво палаты,
    Беспокоишься ночь напролёт.
    Как легко в твоих пальчиках вата
    По спине пациента ползёт!

    Элегантно, но метко и остро
    Колешь задницу длинной иглой.
    «Ах, сестрёнка! И быстро, и просто!
    Обалдеть!» — восклицает больной.

    Вся в работе — от суток до суток,
    Вся в беде и тревоге людской,
    Ты снуёшь мимо суден и уток,
    Охраняя наш мир и покой.

    Честь тебе, медсестра дорогая!
    Пусть звенеть кошелёк не горазд,
    Но душа у тебя — золотая!
    Бог сторицей за это воздаст!
  {% endfilter %}
{% endblock %}
