{% extends template %}

{% set parentTitle = "Я такое расскажу — не поверишь!" %}
{% set title = "Глава 1" %}
{% set pubdate = "19.12.2011" %}
{% set prev = "delf/love-2" %}

{% block content %}
  {% filter prose %}
    Да-а-а! В деревенской жизни есть свои преимущества. Лена поставила чемодан и сумку на перрон и со вкусом потянулась, пружиня грудь и даже чуть-чуть привстав на цыпочки.
    Эх! Жалко, что некому полюбоваться этими телодвижениями! Андрюшка обязательно полез бы с руками, а она, надув губки, ворчала бы:
    — Ну, перестань! Ну не сейчас! Обижусь! — а сама прижималась бы крепче, крепче…
    Уф! С Андрюшкой придётся подождать! Как минимум месяц. Во всяком случае, именно на столько её контракт. Он, конечно же, был против и целых два дня дулся, как ребёнок. Причём чем больше она пыталась подластиться, тем больше он капризничал. Тогда она сменила тон, и Андрей вынужден был согласиться. Сказать по правде, ей и самой было страшновато.
    Но что? Пятьсот долларов для них лишние?! И практика ей, студентке мединститута, не помешает. Да, конечно, она знает: ухаживать за лежачим больным трудно и, по правде говоря, неприятно. Но у неё будет возможность узнать, подходит ли ей эта профессия… и вообще…
    На перроне — ни души. То есть совсем. Ни встречающих, ни служащих. Тишину нарушали только затихающий шум удаляющегося поезда и, наоборот, всё усиливающийся птичий гомон. (Я понимаю, красивее было бы сказать «птичье пение», но эта беспородная и бессчётная свора орала на все лады, так что извините…)
    Лена подхватила вещички, прошла через здание вокзала, тоже безлюдное, и вышла на улицу. Ни-ко-го! На небольшой площади перед вокзалом три закрытых ларька (интересно: они вообще — работают?), напротив — какое-то здание непонятного предназначения.
    Когда-то оно было построено не без определённой претензии. Но потом все архитектурные излишества заштукатурили (а не выделяйся!) и вдобавок покрасили в жуткий ядовито-жёлтый цвет. Краска порядком облупилась, и здание имело вид скорее запущенный, чем обитаемый.
    Лена невольно поёжилась: хорошо, что сейчас не ночь — вот бы страху натерпелась!
    Никто её не встречает… а если вообще — это чей-то розыгрыш?! А сто долларов задатка?.. Послышался шум приближающейся машины, и на площадь вылетел чёрный мерседес. Он резко затормозил около Лены, и из него выскочил водитель.
    Это был парень лет тридцати, повыше среднего роста и спортивного телосложения. Вид у него был совсем не деревенский. Лена даже признала бы, что он симпатичный, что для девушки, имеющей жениха, причём любимого, согласитесь, немало, если бы не наглый вид и липкий, оценивающий взгляд.
    — Значит, это ты будешь Костику массаж делать? А что! Я б тоже не отказался. Конечно, не в его положении. Тьфу, тьфу… Кстати, я — Виталий, можно — Витя. Ты, я знаю, Лена, — он абсолютно не обращал внимания на её настороженный вид и неприветливое молчание. — Поехали. Нас уже ждут. Садись.
    Он зашвырнул чемодан и сумку на заднее сиденье, и Лена была вынуждена сесть рядом с ним. Она была в джинсах, но всё же поплотнее сжала коленки и с опаской покосилась на своего спутника: «Если такой начнёт приставать, отговориться будет сложновато!»
    Сначала они ехали через посёлок. Дома, в основном, одноэтажные, перед каждым — небольшой палисадник, позади — огород. Но рядом со скромным домиком иногда красовалось двухэтажное каменное строение, явно новое и современное. Таких было немного, но они выделялись. И показывали не столько вкус хозяев, сколько их финансовые возможности.
    Лена смотрела по сторонам с интересом, и Виталий пояснил:
    — Это городские, у кого есть денежки. Здесь пока недорого. Посмотришь, какое поместье у хозяина, — добавил он с трудно объяснимой гордостью.
    Посёлок закончился большими, непонятного для Лены значения строениями.
    Теперь машина ехала между полей. И в посёлке дорога была не в прекрасном состоянии, а пролегающий между полей путь дорогой можно было назвать с очень большой натяжкой. Машину сильно раскачивало.
    — Когда дожди, тут вообще не проехать! — недовольно сказал Виталий.
    Вскоре они повернули и поехали через лес.
    — Владения нашего хозяина начались.
    — Как! И лес тоже? — поразилась Лена.
    — Ещё какой! — хохотнул Виталий. — Можно в походы ходить! С палаткой… и спальным мешком, а?!
    «Если сейчас остановится и предложит прогуляться, вцеплюсь ему в лицо ногтями, скотина нахальная!» — решила Лена.
    Но Виталий замолчал и даже посерьёзнел.
    Никакого забора не было — огромный трёхэтажный дом был окружён ухоженным садом и выглядел шикарно не только снаружи, но и (как потом убедилась Лена) внутри.
    Хозяйка, холёная, красивая и надменная, встретила их у входа. В длинных пальцах с тщательным маникюром она небрежно держала длинную сигарету.
    «На вид — типичная стерва, — подумала Лена. — Так этим богатеньким и надо!»
    — Вот, Лариса Андреевна, приехали. Всё в порядке! — засуетился Виталий.
    По его заискиванию, по той снисходительности, с которой на него посмотрела «барыня», и по тому, что при ней он даже не смотрит в сторону гостьи, Лена поняла — спят! Сволочи, конечно, но хоть она будет избавлена от домогательств этого самоуверенного жеребца!
    На Лену Лариса посмотрела с женской небезразличностью к тому, как выглядит другая женщина, тем более намного моложе.
    «Минимум косметики, скромная причёска и закрытая одежда! — тут же решила Лена. — Надеюсь, она не думает, что у меня возникнут виды на её Виталика».
    — Здравствуй, Лена! — холодно сказала хозяйка. — С приездом!
    — Здравствуйте, Лариса Андреевна! — вежливо ответила Лена, сразу обозначив «рамки» и дав понять, что нарушать их она не собирается.
    — Пойдём, я покажу тебе твою комнату, устроишься, приведёшь себя в порядок, и я ознакомлю тебя с твоими обязанностями. Полчаса хватит?
    В комнате, отведённой Лене, было всё необходимое. Даже отдельный туалет и душ. Лена быстро разложила свои немногочисленные пожитки, думая при этом, что им с Андрюшкой вполне хватило бы такой комнаты. Для начала. Даже без всего этого шика. Она быстренько привела себя в порядок, с особой тщательностью закрутив сзади свои роскошные волосы. Тут Лена задумчиво прищурилась себе в зеркало, вспомнив, какой у её Андрюшки становится взгляд, когда он нетерпеливо распускает ей их. Она встряхивает головой, волосы вольно рассыпаются по плечам, взгляды встречаются… Господи! Неужели она уже скучает? Леночка сделала жалобное лицо и, с интересом разглядывая своё отражение, пришла к выводу: ей грустно не потому, что пошёл второй день их разлуки, а потому, что впереди ещё целый месяц! Который предстоит провести среди таких неприятных ей людей. Особенно эта «барыня»! Красивая, холёная и надменно-пренебрежительная.
    «Наверное, во мне говорит классовая неприязнь, — иронично решает Лена. — Интересно, какой её муж? Наверное — противный старикан! Но я ведь сильная и знала, на что иду».
    Она ещё немного поуговаривала своё отражение в зеркале и, когда хозяйка постучала в дверь её комнаты, почти успокоилась. Во всяком случае, Лариса Андреевна ничего не заметила. Впрочем, вряд ли ей было дело до кого-нибудь, кроме себя родной.
  {% endfilter %}
{% endblock %}
