{% extends template %}

{% set parentTitle = "Я такое расскажу — не поверишь!" %}
{% set title = "Глава 2" %}
{% set pubdate = "19.12.2011" %}

{% block content %}
  {% filter prose %}
    Комната, где лежал больной, была рядом с комнатой Лены.
    — Мобильником здесь пользоваться запрещено, отдашь Виталику. Тут очень чувствительное оборудование. Возможны помехи. Если надо будет позвонить, скажешь — и я организую. А вообще, всё, что тебе будет необходимо, находится здесь. Поэтому попрошу: по всему дому не шастать, если что-либо понадобится — спроси.
    Лена постаралась скрыть торжествующе-презрительную усмешку: «Шастать! А корчит из себя — аристократку!» — и кивнула.
    К больному был подключён аппарат, контролирующий сердечную деятельность, и две капельницы. На столике рядом с кроватью — кислородная маска. Кровать, конечно, была специальная. С приспособлениями, помогающими больного приподнимать, поворачивать… в общем — со всеми современными «наворотами».
    Сам больной, мужчина средних лет и довольно приятной внешности, лежал неподвижно и был болезненно бледен. Только глаза, всё понимающие и живые, давали понять, что это не мертвец. На Лену он посмотрел с интересом и, как ей почему-то показалось, с надеждой.
    Лена подошла и непроизвольным, чисто женским движением сочувственно погладила его руку.
    — Что с ним? — спросила она Ларису Андреевну, которая стояла в стороне и курила неизменную сигарету.
    — Ты, кажется, учишься в медицинском? — хозяйка, прищурившись, затянулась и выдохнула дым по-мужски — через нос. Лена несколько растерянно кивнула. — Значит, тебе известно такое понятие — врачебная тайна. В твои обязанности входит: поворачивать его, следить, чтобы не было пролежней, делать массаж и, самое главное, вовремя давать лекарство. Это особенно важно. Вот из этих ампул набираешь в шприц пять миллилитров и вкалываешь вот в эту капельницу. Строго каждые шесть часов. Сейчас, — она посмотрела на часы, — девять. В двенадцать — вколешь. Дальше сама подсчитаешь. Да, кстати, моего мужа зовут Константин, — тепла в её голосе было даже меньше, чем во включенном холодильнике. — Надеюсь, всё понятно?
    — Понятно! — Лена послушно кивнула и самым невинным голосом, на который только была способна от распирающего её возмущения, поинтересовалась: — Я могу приступать к выполнению своих обязанностей? — Хозяйка, с непонятным интересом глядя на неё, кивнула и опять, прищурившись, затянулась. — Тогда первое, что я попрошу, — твёрдым голосом сказала Лена, — это не курить в этой комнате, — интерес в глазах Ларисы Андреевны усилился, — и впредь, — «и пусть выгонит, всё равно скажу», — не позволять себе разговаривать со мной в таком тоне!
    — Как скажешь! — усмехнулась хозяйка. Было не похоже, что она разозлилась, вроде даже обрадовалась.
    Свою работу Лена делала очень старательно. Тем более, что сам больной вызывал у неё сочувствие и даже симпатию. Её удивило, что ампулы были без надписи, но она решила не спрашивать, почему. С хозяйкой она, стараясь скрывать неприязнь, разговаривала в основном по необходимости (та никуда не вмешивалась, да и не интересовалась вообще), а Виталику цедила холодно: «здрасте».
    К счастью, каждый день эта парочка с утра уезжала и возвращалась к вечеру.
    Раз в три дня Виталий привозил из посёлка двух женщин, которые убирали в доме и готовили еду.
    По вечерам Лена гуляла в саду, стараясь не удаляться от дома. Небольшой домик в глубине сада её внимания не привлекал. Он выглядел необитаемым.
    Но однажды вечером…
    Лена увидела, что в домике горит свет. Она невольно поёжилась и непроизвольно огляделась по сторонам.
    «А чего я, в сущности, боюсь, — подумала Лена. — Конечно, тут полно всяких странностей, но меня, по большому счёту, это не касается!»
    Холодея от страха, она осторожно приблизилась к домику. Окна не были занавешены, и она увидела Ларису Андреевну. Та с кем-то разговаривала, размахивая руками. С места, где Лена стояла, ей было не видно, с кем. Она уже хотела подвинуться, чтобы разглядеть собеседника, как вдруг (так вдруг, что Лена вздрогнула и даже зажала себе рот, сдерживая невольный вскрик) из невидимого для неё угла к хозяйке метнулась тёмная фигура…
    До Ларисы Андреевны она почему-то не дотянулась, но намерения были очевидны. Лариса, запрокинув голову, захохотала издевательски, а Лена бросилась к дому.
    У себя в комнате она, немного успокоившись, попыталась решить: это происшествие как-то касается её или все эти странности — личное дело хозяев дома. У богатых, знаете ли, свои причуды. И про всякие садомазохистские штучки теперь даже школьники знают! Ай да Лариска! Бедный Константин!
    К больному Лена относилась не просто с сочувствием, а даже с каким-то почти материнским чувством. И возраст здесь не имел никакого значения. Наверное, это вполне естественно. Ведь абсолютно беспомощный больной полностью от неё зависел.
    Лена в детстве была очень впечатлительным ребёнком с повышенным, прямо-таки обострённым чувством сострадания. Как-то она увидела слепого и потом, чтобы понять, как это — ничего не видеть, целый день ходила с закрытыми глазами, пока вконец не разозлила родителей и до смерти не перепугала бабушку. Наверное, именно поэтому она и захотела стать врачом, молодости присущ максимализм.
    — Ты, наверное, хороший человек, Костя! — она всегда разговаривала с больным, когда ухаживала за ним. Отвечать он не мог, но Лена по его взгляду понимала, что это ему нравится. — А вот жёнушка твоя — та ещё штучка. Извини, конечно, наверное, ты её любишь. И почему умные и хорошие мужики западают на таких… — она ласково погладила Константина по голове, как ребёнка.
    Тот часто-часто заморгал и посмотрел умоляюще.
    — Бедненький! — жалостливо сказала Лена. — Ты даже не можешь мне ответить.
    Вдруг её осенило.
    — Господи! Какая я дура! Ты же можешь отвечать мне глазами! Я даже где-то читала такое. Как я сразу не догадалась! Давай договоримся: я тебя буду спрашивать, а ты отвечаешь таким образом: «да» — моргаешь один раз, «нет» — два раза. Ты понял?
    Константин медленно закрыл глаза и открыл: «Да». Он смотрел на девушку с надеждой и нетерпением.
    Лена захлопала в ладоши и в избытке чувств даже несколько раз подпрыгнула на носочках.
    — Я сразу заметила: когда вкалываю в капельницу лекарство, ты смотришь умоляюще, как будто просишь не делать этого. Твоя Лариса говорит, это потому, что ты хочешь умереть. Это правда?
    Константин закрыл и открыл глаза два раза: «Нет».
    — Но ведь если я не буду вовремя давать тебе лекарство, ты можешь умереть?
    «Нет!»
    — Ты хочешь сказать, что она врёт? — неприязнь, которую Лена испытывала к Ларисе, позволяла ей не особенно церемониться при выборе выражений.
    «Да!»
    — Подумать только! С виду такая порядочная дама, — ядовито сказала Лена. — Кстати! Мне как раз надо давать тебе лекарство, что прикажешь делать?
    Она прикусила губу, тщательней, чем обычно, вытянула шприцем содержимое ампулы и остановилась в нерешительности. Она и сама была не рада, что затеяла этот разговор: теперь приходилось принимать решение. Константин смотрел с мольбой.
    — А если ты меня всё же обманываешь? А? Костик, милый! Меня ведь посадят!
    «Нет! Нет! Нет!»
    Лена вздохнула и выдавила шприц в раковину. Во взгляде больного появилась надежда.
    Всю ночь Лена не отходила от своего подопечного. Даже подремала тут же, в кресле, около его постели.
    Следующие ампулы были вылиты уже более решительно.
    Когда вечером Лена подошла к кровати, она увидела, что Константин лежит с закрытыми глазами. В панике она окликнула его и встряхнула за руку, но тут же в ужасе вскрикнула и отскочила в сторону: больной открыл глаза, медленно повернул к ней голову и что-то промычал.
  {% endfilter %}
{% endblock %}
