{% extends template %}

{% set title = "О-о-о-о-о!!!" %}
{% set pubdate = "18.12.2011" %}

{% block content %}
  {% filter prose %}
    — Здравствуйте! Я ваша новая секретарша.
    — Очень приятно!
    — Давайте сразу договоримся: ничего приятного я вам делать не собираюсь.
    — Да я и не рассчитывал! Но к работе вы намерены приступить?
    — И не более того!
    — Для начала дайте мне…
    — Я же предупредила! Даже не надейтесь.
    — Вы не дослушали, я просил дать мне красную папку с нижней полки.
    — И не подумаю!
    — Ну, а это почему?
    — Вы хотите, чтобы я нагнулась за папкой, чтобы посмотреть, какие у меня трусики!
    — Мне нужна эта папка! А ваши трусики меня интересуют далеко не в первую очередь!
    — Ага! Вот сами и признались! Всё же интересуют!
    — Знаете, я думаю, что мне не нужна секретарша!
    — Я знаю, кто тебе нужен, кобель — тебе нужна проститутка и домработница в одном лице!
    — Дура!
    — Ах, вот как ты заговорил после всего!
    — После чего «всего»?
    — После всего, что у нас сейчас будет!
    — Ничего у нас не будет! Уходи!
    — Как же! Да я тебя как открытую книгу читаю!
    — И что ты там вычитала?
    — А то, что ты меня хочешь!
    — Так читай дальше! Там написано, что я хочу тебя убить!
    — И этому мерзавцу я отдала свои лучшие минуты этого дня!
    — Ну всё! Мое терпение лопнуло! Иди сюда!
    — На помощь!
    — Не волнуйся, я сам справлюсь!
    — Это французское бельё!
    — Поздно!
    — Скотина, животное… ах! Зверь!
    — Р-р-р-р-р!
    — О-о-о-о-о!
    — У-у-у-у-у!
    — М-м-м-м-м!
    — Ух!
    — Не сюда!
    — Угу!
    — Быстрее!
    — Ух! Ух! Ух! Ух! Ух!
    — Ах! Ах! Ах! Ах! Ах!
    — О-о-о-о-о-х!
    — О-о-о-о-о-х!
    — Милый! Тебе понравилось?
    — О-о-о-м-м-м!!!
    — Следующий раз я буду стюардесса, а ты типа террорист и изнасилуешь меня посреди салона. При всех пассажирах.
    — А где мы возьмём пассажиров, солнышко?
    — Вообразим! С нашим-то воображением!!!
  {% endfilter %}
{% endblock %}
