{% extends template %}

{% set title = "Рыбалка" %}
{% set pubdate = "18.12.2011" %}
{% set titleDescr = "Продолжение «Мышей»" %}

{% block content %}
  {% filter prose %}
    Я Юрку не защищаю, просто всё должно быть по справедливости. Эту дурацкую статью — сама лично в журнале читала. Юрка мне дал.
    — На, посмотри, — говорит, — чтобы потом не говорила, что я это придумал!
    Жалко, я название того журнала не запомнила. Это ж какая сволочь такое пишет! В журнале! Разные же люди читают. Вот я, например, могу от корки до корки… и ничего такого не заметить. А Юрка откроет на любой странице… и нате вам пожалуйста!
    Журнал не помню, а то, что написано, помню. Забудешь такое!
    «Если взять пористый, желательно красный кирпич, несколько дней вымочить его в керосине, то потом на рыбалке или охоте вам будет легко развести костёр. Кирпич будет долго и жарко гореть».
    Вот бы в глаза посмотреть тому, кто это написал!
    Юрка меня предупредил:
    — Смотри, деду своему не разболтай! Мы ему сюрприз сделаем!
    Ну, я же своими глазами в том журнале читала! Думаю: «Ладно. Раз написано, значит, уже кто-то проверил».
    Деда мой заядлый рыбак. С соседом они вместе на рыбалку ходят. Дядя Степан. Отец того Андрюхи, что с Люськой хороводит.
    Я люблю с ними ходить. Так классно!
    Они с собой берут огурчиков, помидорчиков, лучка зелёного, картошек, ну, и всякого, что на огороде нарвать можно. Ещё салка, конечно, и хлебушек с горбушечкой. Горбушечку мне всегда отдают. («Кушай крайчик, чтоб любил мальчик…» Больно надо!)
    Ещё они, само собой, бутылочку берут. Самогон чаще, а бывает, и водку. Ну, это меня не касается.
    Делают костёр, пару рыбок поймают, удочки оставят: поймается — поймается. В котелок рыбку бросят, говорят: «Не ушица дорога — а запах!» Мы сидим, разговариваем. А природа кругом! А запахи!..
    Отвлеклась…
    Юрка ещё с прошлого лета у деревенских парней в большом авторитете был. Со своими салютами. И за сарай ему очень благодарны были. Говорят:
    — Вот молодец! А то у нас всё руки не доходили!
    Только попросили салюты эти подальше от домов запускать. Не всегда ведь всё так удачно обернётся! На салюты много народу приходило поглядеть. Юрка все замечания учёл, и больше ничего не горело. Правда, было, что одному парню чуть глаз не выбило. Но и тут удачно сложилось. Как говорится: «Нет худа без добра!»
    Того парня пару дней назад в соседней деревне отлупили. Он за их девчонкой бегал. Наши ребята уже хотели идти в ту деревню разбираться. Ещё Юрку спрашивали, он не может взрывпакеты сделать? Но Юрка сказал, что он только в мирных целях работает. (Представляете, что было бы, если бы он в «немирных целях» орудовать начал?)
    А того парня здоровски налупили! У него вся левая сторона лица опухла и перекосилась. А глаз — так совсем заплыл. Вот как раз в то место, где должен был быть глаз, осколочек салюта и попал! Фельдшер потом сказал, что если б глаз был на месте — его непременно бы выбило! А так припекло немного — и всё… Мог бы так и не орать. Мужик ещё называется!
    Ребята идти драться передумали. А то глупо получается! Человеку, можно сказать, глаз спасли!
    В общем, Юрке раз плюнуть было бензин достать. Я и не подумала! Для меня что керосин, что бензин — без разницы! А Юрка ещё сказал, что так лучше даже. Нашёл где-то небольшое ведёрко (кажется, от томатной пасты), натолкал туда куски кирпича и залил доверху бензином.
    Потом замотал целлофаном, закрыл крышку и опять замотал. Старательно сделал. Если ближе чем на 10 метров не подходить, так и не очень воняет. Юрка меня уверил, что в костре запах сразу выгорит.
    За день до рыбалки мы пошли червей копать. Ну, копал, конечно, Юрка, а я визжала, когда червей видела, и пальцем показывала, где. На шум припёрся Тузик…
    Вот ведь любопытный! Пару дней назад деда с Юркой около бани цементом заливали небольшую площадочку у входа. А мы с Тузиком в тенёчке сидели и смотрели. Тузик из любопытства, а я, хоть Юрку и предупредила, чтоб без всяких штучек, но думаю: присмотрю всё же…
    Потом все обедать пошли. И никто этому Тузику не виноват! Сам зачем-то по незастывшему цементу прогулялся. Мы после обеда выходим — Тузик под кустом смородиновым лежит и лапы в сторону вытянул. А на лапах всё равно как серые носочки одеты. Цемент уже подсох. Я подошла к нему и толкаю, чтоб проснулся. Тузик заворчал недовольно и хотел куда-нибудь уйти. Чувствует — мешает что-то. Как начал бегать по двору в панике! Цемент поскрашивался, только комочки между когтями в шерсти остались. Он их потом долго выгрызал.
    Почему-то Тузик на меня взъелся! Наверное, решил, что если я его разбудила, так я и виновата! А может, потому что громче всех смеялась, когда он по двору бегал. Ну правда было смешно! Он так потешно лапами махал!
    А Юрка не смеялся. Сказал:
    — О! Идея! Надо мышам жидкого цемента налить. Им бегать трудно станет, и Васька их переловит!
    Я Юрку в угол затолкала и объяснила:
    — Во-первых — Васька даже связанных мышей ловить не будет. Во-вторых — первым, кто втопчется в этот цемент, будет Люська. А она и так думает, что тогда всё это я подстроила, — и Васька, кстати, тоже на меня думает. Как меня видит, под кровать залазит и шипит. Ну, если от дуры Люски ждать нечего, то о котах я была лучшего мнения. — А в-третьих — если ещё раз разговор про мышей зайдёт — я за себя не ручаюсь!
    В общем, накопали мы червей, полную банку набрали. Хотя Тузик так мешался, что Юрка хотел его лопатой огреть. Я заступилась, думаю: может, перестанет на меня обижаться… Одна сплошная неблагодарность!..
    Назавтра пошли на рыбалку. Тут не очень далеко деда местечко облюбовал. Километра два, ну, может, чуть больше. Идём. Птички поют. Юрка со своим ведёрком позади всех идёт. Тузик, конечно, тут же крутится.
    Приходим. Место красивое! Деда кусок дёрна срезал под костёр и пошёл за дровами. Дядя Степан снасти раскручивает. Юрка посмотрел на меня заговорщически, быстро выкопал ямку и вывалил в неё куски кирпича. Потом и оставшийся в ведёрке бензин туда выплеснул — чтоб добро не пропадало. Сверху сухой травой заложил. Банку с червями открыл и вроде как выбирает.
    Приходит деда, укладывает дрова, собирается костёр разводить. Дядя Степан бутылку за горлышко завязал, в воду опустил и ищет, к чему привязать. Тузик сидит в сторонке и комочки цемента из лап выгрызает.
    А я в сторонку отошла, вроде как видами любуюсь. Не то чтобы волновалась, просто думаю: «Идея Юркина! Пусть вся слава и слова благодарности ему и достанутся!»
    Деда дрова уложил и поджёг…
    Ка-а-ак пухнет! Вверх просто столб дыма и горящей травы взлетел. Высоко! Я, в общем, не очень удивилась. Вздрогнула только.
    Дядя Степан обернулся и, разинув рот, на всё это вот смотрит. Юрка как сидел, так и остался. Банку только выронил. Тузик, ни слова не говоря, помчался домой — трава стелилась! И никакие комочки цементные ему не мешали. Вот притвора!
    А деда на спину упал, лежит и в небо смотрит с недоумением. А оттуда сыплются такие чёрные хлопья и кусочки всякие.
    Я даже подумала, что если бы эти хлопья были не чёрные, а белые — было бы красиво! Как снег. А так, конечно, грязь одна…
    Ну, я первая спохватилась и к Юрке бросилась, чтобы накостылять! Подбегаю, а с банки, что он уронил, все черви повылазили и копошатся. Фу! Противно так! Я — визжать. Деда голову поднимает и интересуется:
    — А чего это сейчас здеся было?
    Я обрадовалась, что он вроде как живой, и Юрке по затылку — хлоп! Уже без злости. Так. Ну, не зря же бежала. Он поворачивается… мама дорогая! Ресницы начисто сгорели, а брови с рыжими подпалинами. Я ему со злорадством говорю:
    — Ты теперь на Фантомаса похож! Так тебе и надо!
    Он встал и пошёл к озеру посмотреть на свой вид. Тут дядя Степан как закричит страшно! И деда моего на помощь зовёт. Оказывается — он верёвочку так и не привязал. Бутылочка — тю-тю! Дед бросился ему помогать, а я плюнула (ну, настроение же вконец испорчено!) и домой пошла.
    Во двор захожу, а Тузик в будку забился и оттуда лает на меня со злостью. Всегда и во всём (у всех) — я виноватая!
    Баба Вера с Люськой выскочили:
    — Что случилось?
    Я говорю:
    — Черви разбежались — рыбалка отменяется!
    Люська ехидно так:
    — Черви не могут бегать — они ползают. Могла бы уже и знать!
    Нет! Эта дура меня ещё и учить будет! Но я промолчала. Думаю: «Посмотреть хочу, если около тебя так шарабахнет, какая ты тогда умная будешь!» Я уж на что привычная — и то…
    Да! Чуть не забыла. Я, когда от озера уходила, обратила внимание, что костёр и вправду горит очень жарко. Так что если кто хочет — пробуйте! Проверено…
  {% endfilter %}
{% endblock %}
