{% extends template %}

{% set title = "При всём богатстве выбора…" %}
{% set pubdate = "03.06.2012" %}
{% set next = "delf/never-ever-1" %}

{% block content %}
  {% filter prose %}
    Пора летних отпусков. Хочешь не хочешь, а надо что-то с этим делать.
    Куда направить своё измученное офисной тягомотиной тело?
    По первому впечатлению, нет ничего лучше, как поехать в Турцию.
    Давайте подумаем. Какие плюсы? Турки, море, солнце, восточный базар, гостиница, экскурсии.
    А минусы есть? Конечно! Приставучие турки, солёное море, где полно медуз и акул, пекучее солнце, от которого надо прятаться и мазаться дорогущими кремами, которые — ещё не факт, что помогут. А восточный базар — вообще ужас! Обманут, обвесят, обсчитают, вдобавок втюрят какую-нибудь фигню. В гостинице обязательно что-нибудь пропадёт, а попробуй прихватить в качестве сувенира ихние полотенца или тапочки! А экскурсии — вещь вообще опасная! Заведут не туда — и привет. И с темпераментными восточными мужчинами держи ухо востро! Зазеваешься — сразу изнасилуют! Восток дело такое, там с этим просто. И правильно! И нечего по заграницам шляться!
    А чем плох отдых, например, в деревне?
    Деревенский воздух, тишина, банька, молоко прямо из-под коровы, яйца прямо из-под курочек, пруд прямо за околицей, лес прямо за огородом, а там — ягоды, грибы. Чудо!
    Но… вы в курсе, чем, собственно, воздух в деревне пахнет? Вот-вот! А тишина. Да это же мёртвая тишина! Интернета нет, мобильник вне зоны доступа, по телеку одна программа — и то только когда электричество есть! Для баньки воду надо самой из колодца натаскать. Молоко парное для городского жителя — штука опасная. Не всякое здоровье тут сдюжит. А яйца — наверняка с саманулёзом! В пруду полно лягушек, а я их больше чем акул боюсь.
    Про грибы с ягодами вообще молчу. Лучше сразу яду выпить и не мучиться. А потом, когда будешь их собирать, какой-нибудь маньяк подстережёт и изнасилует! И правильно! И нечего по лесу шляться.
    Вон в парке можно погулять по тенистым аллеям, на скамейке посидеть, книжку интересную прочитать.
    Только, спрашивается, а что мешает тому же маньяку подстеречь тебя в тенистости аллей и изнасиловать? И на скамейку присела, зачиталась — а маньяк тут как тут!
    Получается, «куда ни кинь — всюду клин», «как ни крутите, ни вертите — существовала Нефертити». Что в таком случае остаётся? Как говорят французы, «расслабиться и получать удовольствие».
    Нет, ну правда, чего привередничать? Если уж этого никак не избежать, то лучше всего ехать всё же в Турцию.
    Первое впечатление — оно самое верное.
    Темпераментный восточный мужчина, берег моря, ласковый плеск набегающих на песчаный пляж волн. Небо всё в звёздах… романтика! И самое главное, совесть при этом абсолютно чиста. Ведь выхода просто не было!
    В общем, себя я убедила. А вас?
  {% endfilter %}
{% endblock %}
