{% extends template %}

{% set title = "Первый раз" %}
{% set pubdate = "18.12.2011" %}
{% set prev = "skromnaia/girl-9" %}

{% block content %}
  {% filter prose %}
    Ну всё! Сегодня это у меня будет. В первый раз. И не с моим Юрочкой, а с другим парнем! Сама бы я не решилась, но лучшая подруга, Люська, подбила:
    — Да ты попробуй! Класс! Я тоже сначала боялась, а теперь знаешь как нравится!
    И ещё она посоветовала, если я решусь, сделать это первый раз с Мишкой:
    — Он знаешь какой опытный и заботливый! Научит тебя всяким трюкам. Потом своего Юрку учить будешь!
    Ага! Да если Юрка нас застукает, убьёт на месте. Сначала Мишку, потом меня. Или нет, он с меня, конечно, начнёт. А Люську я сама убью, провокаторшу!
    — Ну что, ты готова? — прерывает мои кровожадные размышления Мишка.
    — Готова! — дрожа от страха перед предстоящим, отвечаю я, а сама думаю, что ещё не поздно дать Мишке в глаз и смотаться.
    — Да не трясись ты так! — снисходительно бросает Мишка. — Всё будет тип-топ!
    — Мишенька! — подхалимским голоском говорю я. — А может, надо было всё же воспользоваться… ну, этими… как там они называются… средствами предохранения?
    — Не боись! — Мишка — сама уверенность. — Мы осторожненько.
    Скотина бездушная.
    — Если мне будет больно, убью! — предупреждаю ласково.
    — Я тебя буду вот тут придерживать… — Мишка берёт меня за бёдра.
    — Хорошо! — отчаянно соглашаюсь. «А! Была — не была!»
    Если про это узнает Юрка, он меня убьёт точно. И, скорее всего, с особой жестокостью. Как Отелло Дездемону.
    Воображение у меня — будь здоров, и я очень живенько представляю себе картинку: я, в таком розовом прозрачном пеньюаре, с распущенными волосами, заплаканная, чертовски красивая и ужасно грешная, стою на коленях и молю о пощаде. А Юрка, очень смуглый и очень суровый, заносит надо мной меч и орёт: «Умри, неверная!» Или там, кажется, задушили. Ещё лучше! Господи, как не хочется умирать! Я ещё так молода!
    — Ты что, уснула? — выдёргивает меня из «приятных» размышлений голос Мишки.
    — Нет! — вздыхаю. — Но скоро усну вечным сном.
    — Я всегда знал, что ты дура ненормальная! — делает мне комплимент Мишка.
    Как ни странно, но это меня взбадривает.
    — Не болтай! — заявляю решительно. — Начинай давай.
    — Значит, так, — инструктирует Мишка, — сначала я сам буду всё делать, потом начнёшь потихоньку двигаться. Поняла?
    Я чувствую его горячие и нетерпеливые ладони на своих бёдрах. Зажмуриваюсь и прошу:
    — Ну, начинай уже!
    Мамочки, мамочки, мамочки! И зачем я только согласилась учиться кататься на этих чёртовых роликах? Ой!!! Уже поехалиииииииииииииииииииииииииииии…
  {% endfilter %}
{% endblock %}
