{% extends template %}

{% set title = "Эмансипация" %}
{% set pubdate = "18.12.2011" %}

{% block content %}
  {% filter prose %}
    Двери уже закрывались, когда в лифт впорхнула очаровательная девушка. Одета — превозмутительно! Юбчонка короче некуда и прозрачная кофточка. Тоже коротюсенькая — весь животик видно.
    — Успела! — выдохнула она и посмотрела на меня. Ну да! На меня! В лифте больше никого и не было.
    — Здо{{ acute }}рово! — сказал я уныло.
    — Угу! — она расстегнула верхнюю пуговичку на своей кофточке и помахала ладошкой. — Жарко тут.
    Я тревожно молчал.
    — А ты ничего, симпотный! — в её взгляде появился дерзкий интерес.
    — Что вы се… — мой голос сорвался на фальцет, и я торопливо откашлялся. Она великодушно ждала. — Что вы себе позволяете?! — пропищал я, стараясь, чтобы это прозвучало возмущённо.
    — А я ещё ничего не позволяю себе, котик! — усмехнулась она. — Чё, комплимент не понравился?
    — Дома знают, где я, но на всякий случай позвоню! — я начал рыться в карманах в поисках мобильника.
    — Вот умора! — уже откровенно потешалась она. — В лифте же связи нет. Не дёргайся, котик.
    — Не называйте меня котиком! — протестующе пискнул я. — И вообще… Я карате знаю! Удары там всякие, приёмчики…
    — Это хорошо! — одобрила она. — Значит, мой электрошокер не понадобится, если кто-нибудь нам помешает!
    Я понял, что пропал.
    Лифт дёрнулся и остановился.
    — О-пачки! — обрадовалась она. — Теперь это надолго! Мы всё успеем, котик!
    — У меня критические дни! — цеплялся я за последнюю надежду.
    — Это какие такие? — она явно заинтересовалась.
    — Начальница на работе пристаёт! — всхлипнул я. — Проходу просто не даёт!
    — Как я её понимаю! — сказала насильница и положила руки мне на плечи. — Как я её понимаю! — повторила она, жарко дыша мне в лицо.
    — Я буду кричать! — сказал я слабея и закрыл глаза.
    — Кричи! — шепнула она мне на ушко, и я почувствовал её горячее колено у себя между ног. — Кричи, котик! Люблю, когда кричат…
    Лифт опять дёрнулся, и я открыл глаза. Она стояла в противоположном углу. В её глазах чётко читались страх и решимость. Весьма опасное сочетание, надо сказать. Рука в сумочке. Наверняка этот чёртов электрошокер сжимает.
    Уф! Привидится же!
    — Вы бы осторожней с этой штукой! — попросил я.
    — Ничего! — зловеще сказала она, и решимость в её глазах явно усилилась. — Я умею обращаться с этой, как вы изволили сказать, штукой!
    Проклятый лифт дёрнулся уже наяву и остановился!
    Она смотрела на меня, как в этой ситуации смотрела бы львица на ягнёнка.
    Мама! Мамочка! Кто-нибудь…
  {% endfilter %}
{% endblock %}
