{% extends template %}

{% set title = "Нужное выбрать и подчеркнуть" %}
{% set pubdate = "18.12.2011" %}

{% block content %}
  {% filter prose %}
    Просьба читать внимательно!
    Письмо (1 — влюблённой; 2 — оскорблённой) женщины.
    Здравствуй, (1 — любимый; 2 — негодяй)!
    Наверно, ты уже (1 — не надеялся услышать обо мне; 2 — надеялся больше никогда обо мне не услышать).
    Возможно, даже думал, что (1 — меня уже нет в живых; 2 — я загнулась где-нибудь).
    Могу себе представить, как ты (1 — страдал; 2 — радовался).
    Я долго решала послать (1 — или не посылать тебе весточку; 2 — к тебе адвоката или киллера), но вот решила написать письмо.
    Вспоминаю с (1 — умилением; 2 — ужасом) проведённые вместе дни.
    Они (1 — пролетели мгновением; 2 — тянулись бесконечно).
    Это был (1 — Рай, который ты создал для меня; 2 — Ад, который мне устроил ты со своей мамашей).
    А с каким (1 — нетерпением, 2 — страхом) я ждала, когда ты вернёшься с (1 — работы, 2 — очередной пьянки)! И ты всегда приходил с (1 — цветами, 2 — пьяными дружками).
    Помню, как ты меня (1 — целовал ласково; 2 — бил жестоко за недоваренные пельмени).
    Помню все твои (1 — нежные слова; 2 — грубые оскорбления).
    И я решила — мы должны встретиться! (1 — Ты обрадовался? 2 — Вешайся, скотина!)
    Просто предвкушаю мгновение, когда я (1 — обниму тебя; 2 — вцеплюсь в твою подлую рожу).
    Обещаю, ты никогда не забудешь нашу предстоящую встречу!!!
  {% endfilter %}
{% endblock %}
