{% extends template %}

{% set title = "Сказка про романтического мужчину" %}
{% set pubdate = "18.12.2011" %}

{% block content %}
  {% filter prose %}
    С романтическим мужчиной можно познакомиться где угодно. И вовсе не обязательно, чтобы условия были романтическими.
    Например, автобус. Ты стоишь на своих красивых, но уставших ногах, а он сидит. Место не уступает.
    Причём обычный мужчина не уступает по причине «графьёв нет», а романтический стесняется и боится, что ты воспримешь это как заигрывание.
    Автобус резко тормозит, и ты летишь прямо к нему на колени. Обычный мужчина отреагирует примерно так:
    а) даст в глаз;
    б) начнёт орать: «Ну, ты, корова! Смотри, куда прёшь! Чего расселась, не Дюймовочка!»
    Романтичный придержит в своих объятьях твоё испуганное и смущённое тело и скажет на ушко:
    — Я и мечтать не мог о таком подарке судьбы!
    Уже этим вечером ты благодаришь его за великодушие, и если повезёт, через какое-то время он приглашает тебя послушать в торжественной обстановке музыкальное произведение «Марш Мендельсона».
    Начало семейной жизни вы помните смутно, но когда первые восторги проходят, оказывается, в доме кроме спальни есть ещё помещения!
    Причём с мебелью. И на этой мебели пыли уже как… короче, много пыли уже.
    Что сделает обычный мужчина:
    а) даст в глаз;
    б) начнёт орать: «Ну, ты, корова! Кроме твоего маникюра в квартире тоже есть чем заняться!»
    Романтичный просто пальцем напишет на пыльном шкафу: «Всё равно я тебя люблю!»
    И вот подошли к основному. К еде… Оказывается, ты плохо готовишь! Ну, ты, конечно, что-то там готовишь, но есть это можно только под общим наркозом.
    Что сделает обычный мужчина:
    а) даст в глаз;
    б) купит тебе «Поваренную книгу» и, уходя на работу, скажет: «Ну, ты, корова! Выучить от сих до сих. Приду — проверю. Не выучишь — пасть порву!»
    Романтический скажет: «Оденься, дорогая, покрасивей» — возьмёт тебя под белы рученьки и поведёт… нет, к сожалению, не в шикарный ресторан.
    На это уже никакой романтичности не хватит. Поведёт он тебя к твоей маме и скажет: «Забирайте назад вот это сокровище. И напомните, какие дороги ведут к сердцу мужчины. А то приданого, которое вы дали за вашей дочкой, на личного повара не хватает…»
    Конечно, учитывая, что это всё же сказка, можно было бы придумать финал посчастливей, но это уже была бы научная фантастика.
  {% endfilter %}
{% endblock %}
