{% extends template %}

{% set parentTitle = "Джек" %}
{% set title = "Глава 1" %}
{% set pubdate = "06.06.2012" %}
{% set prev = "delf/vera-6" %}

{% block content %}
  {% filter prose %}
    Хочу сказать сразу: вся эта неприятная история произошла по вине Джека! Если бы не этот чёртов пёс — возможно, ничего этого бы и не случилось! Но, впрочем, всё по порядку.
    Если бы Володе несколько лет назад сказали, что он дойдёт до жизни такой… Он тогда работал на мебельном комбинате бригадиром участка сборки, а жена Маришка (он всегда называл её только так) учительствовала в младших классах. Подрастал сын Валька. Хорошая трёхкомнатная квартира. В квартире, как говорится, тоже всё слава Богу.
    Володя не пил (ну, по праздникам разве немного), даже не курил. Занимался гиревым спортом. А если починить что… мастер на все руки. Всё рухнуло почти сразу. Сначала — обесценились их, пускай небольшие, сбережения. Потом комбинат, на котором он работал, какие-то проныры сначала приватизировали, а потом обанкротили. Около трёхсот человек остались без работы.
    В то время по стране весёлыми темпами шла праздничная раздача слонов, а кое-где даже мамонтов! Ну кого, в самом деле, волновали тогда всякие мелочи! Ой! Ну не смешите!
    Володя, повторюсь, мастер на все руки, без работы, а значит, без заработка, не сидел. Жене тоже обещали, что уже в следующем месяце выдадут зарплату сразу за полгода. Тут ещё неожиданно повезло. Сыну Вальке как раз исполнилось шестнадцать, и какими-то правдами и (по большей части) неправдами его удалось отправить по программе на обучение в Израиль. Может быть, и пережили бы лихие времена… Но тут и нашли врачи у Маришки эту болезнь.
    Сказали сразу: без операции шансов никаких. С операцией — немного, но есть. Жена его отговаривала:
    — Ну зачем? Ты же знаешь, что врачи говорят. Давай уж, как Бог даст.
    Володя и слушать не стал:
    — Да что ты такое говоришь! Как я жить смогу, как Вальке в глаза посмотрю, если не сделаю всё возможное! И потом, шансы всё-таки есть! А мы и в однокомнатной проживём.
    Дальше — всё, как у многих. Фирмочка, через которую они делали обмен, — пух! Лопнула. Деятели эти — кто в бега подался, кого просто — грохнули. Грех говорить, но, может, и хорошо, что Маришка недолго всё это видела…
    Болезнь буквально сожгла её.
    Вот так! Всё было… и… Как Володя тогда с ума не сошёл, он и сам объяснить не может. Может быть, злость не дала. На этих подонков. В смерти Маришки он их тоже винил. Хотя, может быть, операция бы и не помогла.
    От прошлой жизни осталось немного. В три чемодана уместилось. Да ещё ящик с инструментами. Вместо квартиры — выписка: «Дело расследуется».
    Месяца три помыкался по друзьям. Но… они и сами не по-барски жили. Тут и подвернулся этот подвал. В нём перед этим бомжи обитали. Оставили разгром полнейший! Управдом — суровый мужик, бывший офицер, «афганец» — еле от них избавился! Володя подрядился всё в порядок привести, подремонтировать… ну всё такое!
    Николай Викторович (управдом) сначала всё время ходил, наблюдал за работой. Может, поначалу не очень и доверял. Володя — всё время сумной и молчал больше. Потихоньку — разговорились! Викторович сам и предложил:
    — Послушай, Володя, зима на носу. Где ты шататься собираешься? Давай оборудуй себе комнату в подвале. Места полно! Боюсь, как бы бомжи опять не пристроились. Я с участковым сам договорюсь. Он — не смотри, что мент, — мужик правильный… Наверное, потому до сих пор и старлей. Будешь у нас — группа быстрого реагирования, — (никак военные термины не мог забыть), — починить, подправить… не бесплатно, конечно! Этих бездельников из ЖЭКа ведь не дождёшься, не допросишься. Лады?
    Участковый Дмитрий Сергеевич мужик и впрямь правильный оказался! Посмотрел на всё, фуражку приподнял, чтоб затылок почесать, и изрёк:
    — Разрешить не могу. Прав таких не имею. А глаза закрою… На твою, Викторович, ответственность. Ты, Володя, что — тоже в десантуре служил, что Викторович так к тебе расположился?
    — Нет! — растерялся Володя — «а вдруг надо». — Я — в Морфлоте.
    — Тоже круто! — вздохнул Сергеевич. — Ты уж нас не подведи.
    Когда через неделю (на даче был) Николай Викторович пришёл проверить, как его жилец обустраивается, — ахнул!
    — Ну, Вовка, ты даёшь! Это же номер люкс! Только что ниже ватерлинии. Так на флоте говорят? А что! И у нас, и у вас — тельняшки. Полоски только разные.
    Володя действительно постарался. Выгородил небольшую, но уютную комнатку. Доски и мебель — ведь знал, где брать. Даже кухоньку сделал отдельно. Туалет, душ… Все коммуникации же под рукой.
    — Володя, только газ сюда не притаскивай! — предостерёг управдом. — Электричество — пользуй сколько хочешь. Разберёмся.
    Володя начал прикармливать двух кошек — крыс чтоб погоняли. А зимой, случайно зайдя на пустырь, буквально отбил у озверевших юнцов молодую овчарку. Почти щенка. Жуткая участь ждала бедолагу. Рядом на снегу дымился обугленный труп другой собаки, которую малолетние подонки сначала забили палками, потом облили бензином и подожгли. Ещё и палкой проткнули зачем-то!!! Пёс, которого спас Володя, едва дышал. Юнцы били его палками, а он огрызался, пока не упал. Тут Володя и подоспел. Несколько здоровенных оплеух разогнали трусоватых юнцов. Володя забрал пса и на руках донёс до ближайшего ветеринара. Тот осмотрел, сказал, что кости целы, а внутренние органы — отбиты или нет — так сразу не определить.
    Две недели Володя таскал Джека (так он назвал спасённого) на руках. Спасибо ветеринару: то ли по доброте душевной, то ли из профессионального интереса — помог. Без денег! Откуда бы Володя их взял? Джек выжил… И сейчас, через два с половиной года, это был крупный, холёный, мощный пёс. Дополнительную свирепость и без того грозному виду придавало бельмо, почти полностью залившее левый глаз. Память о лютых побоях. Надо ли говорить, что Володю Джек не просто слушался — казалось, этот угрюмый с виду пёс читает мысли своего хозяина.
    Восьмиподъездный двенадцатиэтажный дом стоял в компании ещё двух таких же громадин. Они изображали гигантскую букву «П» и примыкали к длинному скверу, за которым была дорога. В огромном пространстве между домами располагались школа, спортгородок, детская площадка и даже магазин. Вот как раз магазин, предназначенный для удобства жильцов, был одновременно и причиной для головной боли. В нём продавалось и спиртное, со всеми вытекающими отсюда последствиями.
    Участковый Сергеевич частенько вынужден был улаживать пьяные разборки, а уж жалобам от жильцов — просто счёт потерял.
    — Ну что я могу сделать, граждане? — отдувался он, по привычке поднимая фуражку, чтобы почесать затылок. — Коммерция! Мать их за ногу! Грозятся: если будем жать насчёт спиртного — вообще закроют.
    — Да уж лучше б и закрыли! — горячились жильцы.
    Но, вздыхая, понимали: не наездишься! Тут ведь вот как удобно! Всё рядом.
    Джек всю территорию громадного «двора» считал своими владениями. Гулял он без поводка. Сначала, по причине его болезни, в поводке не было необходимости, а в дальнейшем Джек проявил такое послушание своему хозяину и такое равнодушие к чужим, что необходимость и не появилась.
    Конечно, поначалу жильцы домов, а было их несколько тысяч, побаивались угрюмого пса, который гулял с самым независимым видом. И участковому жаловались, и Николаю Викторовичу — управдому. Володя старался выходить с Джеком утром пораньше, вечером — попозже.
    Постепенно народ привык, а после того, как Джек утихомирил двух хулиганов, он стал просто местным любимцем.
    Дело было под вечер. Хорошенько поддатые парни затеяли было бучу на детской площадке, а в ответ на робкие замечания женщин, гулявших там с детьми, полезли драться. Джек, как раз мирно гулявший неподалёку, такого беспорядка в своих владениях допустить не мог. Он мгновенно уложил обоих буянов лицом вниз и не давал им пошевелиться, пока его не отозвал Володя. Те и попыток дёргаться не делали, видя громадного рассвирепевшего пса. Даже протрезвели вроде немного.
    Подоспевший Викторович милицию озабочивать не стал. Собственноручно и собственноножно накостылял пьянчугам. Под завистливым взглядом Джека, которому Володя, понятно, поучаствовать в экзекуции не разрешил.
    Кстати, после этого происшествия пёс и управдом друг друга очень зауважали. Викторович при встрече ласково подзывал Джека и доставал из кармана гостинчик. Джек благосклонно брал печенюжку или кусочек колбасы и даже, невиданное дело, подставлял под дружеское потрёпывание свой могучий загривок.
    Кроме этой, хоть как-то понятной, симпатии, угрюмый и недоверчивый с чужими, Джек очень дружелюбно относился к участковому Сергеевичу. Никакого вразумительного объяснения этому не было. Сергеевич никогда ничем его не угощал, при встречи говорил серьёзно: «Привет, коллега!» — и Джек, приветливо виляя хвостом, подходил, бодал под руку и урчал, когда участковый хлопал его по лобастой башке.
    Володя как-то съязвил, мол, «собака собаку»… Сергеевич и не подумал обижаться.
    — Ты, Володенька, зря иронию разводишь! Джек во мне родственную душу чует. И поверь — уж лучше такие собаки, как мы с ним, чем люди, которые в глаза тебе лыбятся, а за спиной тебя… ну, ты понимаешь!
    Володя только хмыкнул: кто бы спорил…
    Конечно, нашлись доброхоты, настучали. Мол, бомж в подвале поселился и своего «Баскервиля» на мирных граждан натравливает. Приезжали разбираться, но Николай Викторович «поднял общественность», составили петицию, в которой не попросили — потребовали оставить Володю, а главное, Джека, в покое. Участковый тоже однозначно высказался:
    — Мне таких помощников ещё парочку — на участке куда как спокойней было бы! Иной раз самому хочется кого-нибудь покусать!
    Отстали.
    Правда, теперь Джека начали «доставать» знаками внимания. Он вздыхал и отходил. Но пацанва всё же нашла подход. Была у этого угрюмого и страшенного пса одна слабость. Очень любил приносить мяч. У Володи редко была возможность с ним поиграть, и Джек днём располагался возле площадки, на которой мальчишки гоняли в футбол. Забавно было видеть, как серьёзный пёс вприпрыжку мчался за мячом, когда тот вылетал за пределы поля. Помахивая от восторга хвостом, Джек приносил мяч назад. Наверное, он сам стеснялся этой своей слабости, потому что, вернув мяч, опять угрюмел и ложился на место с несколько сконфуженным видом. Мальчишки, конечно, рады стараться! Запуливали мячик — надо не надо!
    А по вечерам Володя гулял с ним допоздна. Викторович попросил:
    — Володь! Ты когда с Джеком гуляешь, ей-Богу, всем спокойней! Его уже все знают! И бузить — поостерегутся.
    Вот в один из таких вечеров…
  {% endfilter %}
{% endblock %}
