{% extends template %}

{% set parentTitle = "«Ничего личного» — принцип киллеров. Часть 1" %}
{% set title = "Глава 3. Ещё пять лет назад. Израиль" %}
{% set pubdate = "13.02.2012" %}

{% block heading %}
  <h1 class="art__title">«Ничего личного» — принцип киллеров</h1>
  <p class="art__title-descr">Часть 1</p>
{% endblock %}

{% block content %}
  {% filter prose %}
    Если у Бала и были какие-то иллюзии (хотя почему «если»? наверняка были), то с ними он, как неосторожная девушка с невинностью, расстался весьма быстро.
    Он-то думал, что механик по судовым холодильным установкам с опытом работы в стране, окружённой морями, без особого труда найдёт работу по специальности. В крайнем случае, в этом жарком климате наверняка много промышленных холодильников…
    Короче, когда его взяли помощником слесаря на довольно крупное, по израильским, понятно, меркам, предприятие, он уже понимал: просто повезло (знаете анекдот: «Как ткачиха Иванова, ударница и т. д., стала валютной проституткой? — Просто повезло!»).
    Его поставили в пару с опытным слесарем, и Бал из самых лучших побуждений подсказал, как лучше сделать работу — просто по привычке… Всё! Нажил врага.
    Напарник начал его доставать. И в этом преуспел куда больше, чем в профессии. На второй день взбешённый Бал схватил его за шиворот и приволок в комнату начальства.
    От волнения у него вылетел весь и без того не очень богатый иврит. Он попросил одного из начальников, польского еврея, перевести остальным, чтобы его больше не ставили в пару с этим гадом. Бала успокоили, предложили попить водички и сказали буквально следующее:
    а) только терпение, б) будет хорошо, в) мы разберёмся… Что вы думаете? Разобрались!
    Уже назавтра Бал получил письмо об увольнении. С уверениями, впрочем, что ничего личного.
    Тогда Бал не мог и представить, что вскоре он сам будет часто употреблять это выражение, правда в несколько других случаях.
    Помыкавшись с месяц, Бал осел на заправке. А что? Платили всё равно везде минимум. А тут его хотя бы никто не доставал (почти), хозяин давал часов сколько хочешь, всегда можно было поменяться сменами, и потом, чаевые! Когда-то он сам щедрой рукой раздавал, теперь научился брать, более того, даже рассчитывать на них… Так-то!
    Конечно, Бал оставил свои данные в нескольких частных конторах по поиску работы. (Тут я должна дать небольшую справку. В то время вовсю действовали-злодействовали подобные конторы. Модель весьма простая. Людей посылали на предприятия, где они, полностью бесправные, работали, отчисляя часть зарплаты посредникам. Предприятию тоже выгодно — никаких обязательств! Через определённое время работника увольняли и брали другого. Я воздержусь от эпитетов насчёт этого б… Думаю, у многих найдутся свои. Кстати — всё это было законно.)
    Иногда Балу звонили из этих контор, но то, что предлагали, его не устраивало. Поэтому, когда позвонили в очередной раз, особого восторга он не ощутил. Тем более, что звонившая девушка говорила по-русски.
    Симпатию и излишнее доверие к бывшим соотечественникам Бал тоже особенно не испытывал, после того как его пару раз нагрели. Но девушка была настойчива и сказала, что у него есть шанс получить высокооплачиваемую государственную работу.
    «Ладно, — подумал Бал, — съезжу, посмотрю. — И хрен вы меня больше проведёте!»
    Он без труда поменялся сменами и за полчаса до назначенного времени, задрав голову, разглядывал высоченное современное здание, казалось, построенное только из стекла.
    Наверное, тут были сотни контор и офисов. Бал не без труда нашёл нужную дверь, открыл и спросил у девушки, сидевшей перед компьютером, то ли это, что ему надо. Девушка с милой улыбкой подтвердила и в свою очередь спросила, он ли… (она назвала его имя и фамилию). Теперь Бал, мило улыбаясь, подтвердил. Давненько ему так мило не улыбалась такая симпатяшка!
    — Проходите, вас ждут, — сказала она.
    — Как ждут? — удивился Бал и посмотрел на часы. — Ещё пятнадцать минут!
    — Проходите, проходите! Всё в порядке!
    Бал зашёл в небольшой, но очень уютный кабинет. Минимум мебели: два небольших шкафа, стол с обязательным компьютером и два удобных на вид кресла. В одном из них развалился молодой парень и, закинув ноги в моднющих туфлях на угол стола, очень сосредоточенно делал себе маникюр.
    «Вот люди устраиваются! — с завистью подумал Бал. — Девочка в приёмной, кабинетик уютненький с кондишеном, сам чистенький и модненький. Ещё, гад, ноготки себе точит! Наверно, голубой», — чтобы хоть как-то успокоиться, решил Бал.
    Представить, что этот пижон может в любой момент по-хозяйски полапать за все места симпатягу из приёмной, было уже просто невмоготу.
    Парень же приветливо улыбнулся и, медленно стянув ноги со стола, сказал:
    — Садись. И давай на «ты», а то я отвык к одному человеку во множественном числе обращаться. Я — Виктор.
    Пожав протянутую руку, Бал сел в действительно удобное кресло.
    «Даже если и зря приехал, хоть посижу удобно, в прохладе. Тем более что на улице сейчас — страшная жара и такая влажность, что жабры не кажутся таким уж излишеством!»
    Виктор подвинул мизинцем бумаги на столе:
    — Ты… — он прочитал его фамилию.
    — Да. Но знаешь, меня всю жизнь все, даже мама, зовут Бал. Так что, если тебе не трудно…
    — Хорошо, Бал. Я должен задать тебе несколько вопросов.
    Бал безразлично пожал плечами:
    «Надо, так задавай».
    — Ты в каких войсках служил?
    Бал подался вперёд. Опасливо покосился по сторонам и открыл «страшную» тайну:
    — В советских.
    Виктор даже не подумал обижаться:
    — А точней?
    Бал откинулся на спинку кресла:
    «Действительно! Я же ничего тогда не подписывал. И по приезде в Израиль заполнял анкету в военкомате».
    — В отдельном взводе, — и, не дожидаясь вопросов, пояснил: — Нас готовили как диверсантов. Такого, знаешь, местного разлива.
    — И чему вас обучали? — Виктор явно был больше озабочен своими ногтями, чем темой разговора.
    — Взорвать вражеский объект, караул вырезать, пленного притащить. Стрелять из любого оружия, ножи, немного рукопашный… — Бал опять подался вперёд и поинтересовался: — Ну что? Очень это понадобится в вашей фирме?
    Виктор вытянул вперёд руку с растопыренными пальцами. Склонил голову к плечу, полюбовался своими безупречными ногтями и спросил безразличным голосом:
    — А ты что, думаешь, я из праздного любопытства интересуюсь?
    От неожиданности Бал замер:
    «Бандюги, наверное, в шайку вербуют, — он попытался себя развеселить. — Хотя какая на хрен разница».
    — В горячих точках был? — продолжил Виктор.
    Бал невольно улыбнулся: представил себе рожу этого пижона, если бы тот услышал такой ответ, что самая горячая точка, где он бывал, причём иногда по несколько раз за ночь, была у Надежды. М-м-м, какая горячая точка…
    Бал, давненько будучи на голодном пайке в этой теме, задумался и ответил несколько рассеянно:
    — Нет. К счастью, не пришлось.
    — Это хорошо, психи нам не нужны, — нараспев сказал Виктор и дунул на свой ноготь.
    «Интересно, — подумал Бал, — этот тип сейчас нарывается или просто — по жизни гнида?»
    Следующий вопрос, ему показалось, он недопонял, поэтому переспросил:
    — Что?
    — Убивать, значит, не приходилось. А смог бы?
    Первый раз за всё время разговора Виктор отвлёкся от своего маникюра и внимательно смотрел на собеседника.
    «Да проще простого! — подумал Бал. — Ты мне дай кого-нибудь из тех, кто довёл до жизни такой…» Но вслух решил блеснуть эрудицией:
    — Не знаю. Не пробовал. Но думаю, что могу.
    Виктор удивлённо заломил бровь… Н-да! Чехова он, похоже, не читал.
  {% endfilter %}
{% endblock %}
