{% extends template %}

{% set parentTitle = "«Ничего личного» — принцип киллеров. Часть 2" %}
{% set title = "Глава 1" %}
{% set pubdate = "22.02.2012" %}
{% set prev = "delf/killer-1-14" %}

{% block heading %}
  <h1 class="art__title">«Ничего личного» — принцип киллеров</h1>
  <p class="art__title-descr">Часть 2</p>
{% endblock %}

{% block content %}
  {% filter prose %}
    Бал изобразил приветливую улыбку и начал осторожно приближаться к сидящему, следя за его руками. Мужчина качнулся, откинулся назад, и Бал с облечением понял, что он сильно пьян. И в его взгляде — не настороженность, а старательная попытка не отрубиться.
    На столике стояли несколько бутылок, все открытые. Пара тарелок с какой-то закуской. Хозяин каюты, наверное, расслаблялся не по-детски. То, что его незваный гость в мокрой одежде, его не удивило, если он вообще заметил это.
    Бал вспомнил про мокрые следы.
    — Можно присоединиться? — он показал на столик с остатками одинокого пиршества.
    Мужчина кивнул с пьяной важностью и сделал широкий приглашающий жест.
    Бал взял бутылку виски и вышел из каюты. В коридоре он положил бутылку на палубу и толкнул её ногой. Та покатилась, расплёскивая содержимое. Теперь мокрые следы на полу имели приемлемое объяснение. Когда он вернулся, мужчина, слегка покачиваясь, стоял уже посреди каюты и вид имел весьма решительный.
    «Проклятье! — подумал Бал. — Я надеялся, что ты пьяней! Жалко! Жил бы!»
    — Всё в порядке, друг! — успокоил он хозяина каюты. — Просто отнёс пару капель своему товарищу. Ему срочно нужен был допинг. Понимаешь?! Он сейчас подойдёт.
    Объяснение, конечно, идиотское, но мужчина удовлетворённо кивнул и вернулся на место.
    — Наливай! — предложил Бал. — За знакомство! Я Алекс!
    — Ра-фа-эле! — одной рукой он щедро наливал виски по стаканам, а другой сделал значительный жест. Мол, видал! Не просто так!
    Балу было очень неприятно то, что он должен был сейчас сделать. Этот пьяненький и приветливый мужичок был ему даже симпатичен. Но… рисковать было нельзя…
    Бал напрягся и, когда этот Рафаэле запрокинул голову, вливая в себя виски, мгновенно поставил свой стакан на столик, схватил тарелку и, крутанув её в пальцах, рубанул его по горлу. Тот, хрипнув, мотнулся назад и с такой силой упал лицом на столик, что Бал сочувственно поморщился. Хотя какая теперь уже разница!
    Убитого он трогать не стал. На первый взгляд всё выглядело вполне естественно: ну, пил человек, устал и прилёг отдохнуть! Бывает.
    Рыться в чужих вещах тоже противно, но необходимо переодеться в сухое. Вещи в чемодане были неожиданно аккуратно сложены. Рубашка оказалась в самый раз, а джинсы — нормально в поясе, только немного длинноваты. Бал их подвернул, что на джинсах смотрелось даже модно. Ботинки Бал оставил свои.
    Он взял со стола бутылку, плеснул немного виски на себя и собрался уже уходить, когда заметил, что у него пропали часы. Наверное, слетели с руки от удара, когда он свалился в воду. Брезгливо морщась, он снял часы с руки убитого: «Прости, амиго, — ничего личного!»
    Передатчик он взял без проблем. Не боясь привлечь внимание, нажал кнопку вызова. Ну говорит подвыпивший человек по мобильному — что с того!
    — Это — Бал! — сказал он. — Дон и Блэк — убиты.
    — Ты сейчас где? — ничего не выясняя, по-деловому, спросили его.
    Бал посчитал в уме до пяти, чтобы не нахамить, и ответил:
    — На судне этом проклятом как бы я мог по-другому с вами связаться!
    — Ты в порядке?
    Бал опять посчитал до пяти и промолчал. Ещё хорошо, что его не спрашивают: «Что случилось?»
    — Катер, как сам понимаешь, отменяется. Работаем запасной вариант — вертолёт. Тебе придётся спрыгнуть в воду. По правому борту, — (опять правый борт!) — тебе сбросят трос, подсвеченный зелёным. Заход будет один. Удачи! Через десять минут. Успеешь?
    «Надо ещё прожить эти десять минут!» — подумал Бал и засёк время. Хорошо, что он взял часы.
    — Постараюсь!
    По палубе расхаживали крепкие парни, наверняка они были вооружены. Прыгать у них на виду — безрассудство. Прошло уже пять минут, а ничего путного в голову не приходило. Впрочем… В метре от лееров ограждения, с правого борта, стоял один. Наверняка из этих… Среднего роста, крепкий. Он стоял, широко расставив ноги, сунув руки в карманы джинсов, и раскачивался на носках. С виду он весьма подходил для того, что задумал Бал.
    Пьяненько покачиваясь, Бал подошёл к нему и, заплетая язык, предложил выпить. Парень презрительно посмотрел на него и не счёл нужным отвечать.
    «Отлично! Ну давай, не подведи меня, дружок!»
    Бал встал спиной к леерам, правой рукой опёрся на них, а левой сунул парню бутылку с виски под нос.
    — Почему это ты не хочешь выпить со мной?! — пьяным голосом крикнул он и напрягся… Но, видно, парень был очень прилично тренирован, а может, сказалась усталость… Полностью уклониться Бал не сумел. Скользящий удар пришёлся в левое ухо. Бал, резко развернувшись, спрыгнул за борт, надеясь, что это похоже на то, что он вылетел от удара.
    В воде Бал начал орать, угрожая своему «обидчику», что, дескать, вот он до него доберётся. У борта уже стояли несколько человек, смеялись и кричали что-то насмешливое.
    Сошло! Его приняли за пьяного неудачника-скандалиста.
    Он кричал, размахивал руками, а ногами отрабатывал, чтобы хоть немного отплыть от судна.
    Вертолёт появился неожиданно даже для Бала, хотя он его и ждал. Завис. Бал увидел рядом с собой зелёный огонёк. Понял, что это подсвечен трос. Рванулся к нему, схватил, закрутил вокруг пояса и намотал на правую руку. Вертолёт, не поднимая его, начал набирать скорость. Бал напряг все мышцы и закрыл глаза.
    Стреляли им вслед или нет — он не знал…
    Когда его подтянули к вертолёту, парень в комбинезоне буквально за шиворот втащил его в кабину, помог освободиться от троса и молча похлопал по плечу.
    Потом также молча протянул маленькую фляжку (такую же, как у Дона).
    Бал взял, хлебнул. Обожгло так, что он закашлялся до слёз…
    Вертолёт приземлился. Бала пересадили в машину. Сколько ехали — он не знал, потому что то и дело терял сознание. Когда машина остановилась на какой-то слабо освещённой улице возле дома, смахивающего на третьеразрядную гостиницу, его передали на попечение старого, хромого индейца.
    Тот подставил плечо, помогая Балу идти. Пахло от него так, что Бал, хоть и почти терял сознание, поморщился с отвращением. Старик принёс сухую одежду и помог переодеться. Потом принёс стакан с каким-то питьём. Бал спорить не стал — выпил. К его удивлению, питьё было хоть и не знакомо ему, на вкус — ничего себе. Наверное, туда было подмешано что-то тонизирующее, потому что через несколько минут Бал перестал отрубаться и в голове немного прояснилось.
    Внимательно следивший за ним старик знаками позвал за собой. Они поднялись по поскрипывающей деревянной лестнице, прошли по слабо освещённому коридору, старик открыл дверь в тёмную комнату, посторонился, пропуская. Когда Бал зашёл, хромой индеец тихо закрыл за ним дверь. Около Бала неожиданно включилась тусклая лампочка. Много она не осветила, но Бал увидел стоящий у стены стул.
    — Садись! — скрипнул незнакомый голос из темноты. Бал не вздрогнул, потому что ждал чего-то в этом роде. Он сел и бессильно откинулся на спинку стула. Глаза немного привыкли, и Бал разглядел три силуэта.
    — Ты сможешь рассказать, что случилось? — спросил другой голос, тоже незнакомый. (Голос третьего он так и не услышал.)
    — Рассказать — смогу! — Бал попытался выпрямиться и зло улыбнулся. — Показать — не смогу! — (Сработала привычка дерзить начальству.)
    — Мы слушаем! — спокойно сказал первый голос. Вряд ли находящихся в этой комнате можно было чем-нибудь удивить.
    Бал хотел спросить: а кто, собственно, «мы», — но решил: не время сейчас нарываться.
    Липкую духоту пытался разогнать потолочный вентилятор. От усердия или, скорее, от старости он иногда повизгивал. Прохладней не становилось, но воздух хоть как-то двигался. Жару Бал не замечал, напротив — от затылка по спине мерзкими волнами сползал озноб.
    Рассказывая, Бал вынужден был сосредоточиться на нескольких вещах: во-первых, ничего не напутать и не сбиться на эмоции, во-вторых, он старался изо всех сил не потерять сознание (видимо, действие тонизирующего напитка кончилось), и в третьих, не кривиться от раскалывающей голову боли в висках.
    К счастью, слушали его молча, не перебивая ни вопросами, ни комментариями. Спросили только, когда он закончил (тот, второй, спросил):
    — Ты уверен, что напарники твои погибли?
    В мозгу Бала полыхнула ярость. Он поморщился и с усилием сглотнул колючий, почти разорвавший горло комок. Ярость как-то без перехода сменилась полной апатией, он угрюмо помотал головой и прохрипел сухим оцарапанным горлом:
    — Ни малейшего шанса!.. — слегка кашлянул. — Ни малейшего!
    Три дня он провалялся на кровати. Много спал. Когда не спал — тупо смотрел в потолок. Ел, не разбирая вкуса, то, что приносил старик. Уже даже попривык к тошнотворному запаху, которым, казалось, были насквозь пропитаны и хромой индеец, и вся его задрипанная гостиница… На четвёртый день его без особых проблем переправили в Израиль.
  {% endfilter %}
{% endblock %}
