{% extends template %}

{% set parentTitle = "«Ничего личного» — принцип киллеров. Часть 2" %}
{% set title = "Глава 9. Отпуск" %}
{% set pubdate = "22.02.2012" %}

{% block heading %}
  <h1 class="art__title">«Ничего личного» — принцип киллеров</h1>
  <p class="art__title-descr">Часть 2</p>
{% endblock %}

{% block content %}
  {% filter prose %}
    Бал настоял, чтобы с собой взять минимум вещей.
    — Всё равно из того, что возьмём, девяносто девять процентов не понадобится… Купим необходимое на месте. Полинка! Мы же с тобой толком по магазинам не ходили!
    В Риге Полине очень понравилось. Бал её восторгов почему-то не разделял. Бормотал что-то про «буржуев недорезанных».
    А вот в Париже… Нет! Не так! А ВОТ В ПАРИЖЕ!!! И всё равно… Нельзя передать восторг от этого «вечного города»! Да знаю я, что Рим — «вечный город». Но и Париж!.. Это точно!
    Бал предложил поселиться в какой-нибудь маленькой гостинице типа семейной. Подальше от туристов, этих вечно озабоченных, чтобы побольше успеть, дядек и тёток. Беспрерывно что-то фотографирующих и громко, бесцеремонно переговаривающихся на разных языках.
    — Полинка! Погуляем по маленьким улочкам! Будем обедать в маленьких приватных ресторанчиках! Ты будешь говорить по-французски! Виза у нас — открытая, спасибо Нику, успеем мы все эти достопримечательности посмотреть!
    Полина согласилась с радостью. Они поселились в маленькой уютной гостинице, где Полина сразу покорила хозяйку. Они действительно обедали и ужинали (завтрак делала хозяйка гостиницы) в маленьких и обворожительных подвальчиках. Они даже оделись почти одинаково: в широкие модные брюки со множеством карманов и ремешков, лёгкие светлые тенниски и короткие куртки (по вечерам было прохладно) — тоже с великим множеством карманов и карманчиков, ремешков и «молний».
    Только вкусы насчёт обуви у них разошлись. Полина носила лёгкие и удобные кроссовки. Бал предпочёл свои любимые тяжёлые ботинки, которые он почему-то называл «альпийскими».
    В полном восторге от себя и друг друга, они обнимались и целовались посреди улицы, не обращая ни на кого внимания! И в тот день всё было так же. Набродились, устали и зашли в уже знакомый ресторанчик поужинать.
    Тихо мурлыкала музыка, и голос певца плавал в сладостной неге. Бал приподнял бокал с вином и легонько качнул рубиновую жидкость. Задумчиво глядя на блики, сказал:
    — Всё же как красив французский язык! Он сам по себе — музыка!
    — Хочешь, я переведу, о чём песня? — предложила Полина.
    — Нет! Не надо. Я и так знаю! — самоуверенно сказал Бал.
    — Вот как! — улыбнулась Полина. — И о чём же?
    Бал на секунду замер, засмотревшись на её губы. Потом вздохнул, зажмурился и откинулся на спинку стула.
    — Эта песня о том, что ты — самая красивая, самая лучшая и что я безумно тебя люблю!
    — Самое интересное, что ты почти прав! — прошептала Полина.
    — Да попробовал бы он петь что-нибудь другое! — усмехнулся Бал и потянулся через стол, чтобы поцеловать её.
    — Ты ведёшь себя, как мальчишка! — укоризненно сказала Полина, вероятно, решив, что хоть кто-то из них должен проявлять благоразумие…
    А у самой уже потемнели глаза и нервно трепетали ноздри!
    После ужина решили немного погулять.
    Они были слишком поглощены друг другом, поэтому не увидели, откуда вынырнули эти трое!..
    Один, вероятно, главарь, высокий, худой, с неопрятной гривой давно не мытых волос, преградил им дорогу. В руке он держал нож, и по нервным судорогам лица было видно, что угрызения совести его не озабочивают. Двое других, пониже ростом, но поплотней, стояли чуть в стороне, сунув руки в, наверное, тоже не пустые карманы.
    Бал шагнул вперёд, прикрывая замершую в ужасе Полину. Он выставил вперёд ладони в успокаивающем жесте и, не оборачиваясь, попросил:
    — Полинка! Скажи, что я сейчас отдам бумажник и что мы не хотим неприятностей!
    Полина, заикаясь от волнения, перевела.
    Главарь сказал что-то своим дружкам на незнакомом Полине языке. Те радостно «гы-гыкнули».
    Бал язык узнал. «Вот паскуды! И здесь покоя не дают!»
    Длинный повелительно махнул рукой: давай, мол, не тяни!
    Все трое немного расслабились и смотрели на свою жертву насмешливо-презрительно.
    Бал, заискивающе улыбаясь, медленно, стараясь не делать резких движений, потянул бумажник из внутреннего кармана куртки. Расставался он с ним без большого сожаления. Бумажник выглядел внушительно, но в нём не было и пятидесяти долларов! Деньги Бал держал… ну, в общем… в другом месте.
    Длинный, шагнув вперёд, протянул руку, собираясь забрать добычу. В этот момент его дружки неожиданно схватили Полину и потащили в сторону. Возможно, просто хотели обыскать… Она жалобно вскрикнула, и они что-то забубнили ей. Всё! Дальше Бал действовал, как автомат.
    Он легонько подбросил бумажник перед лицом длинного. Тот машинально попытался его поймать. В ту же секунду тяжёлый ботинок Бала «въехал» длинному в пах. Бедолага выпучил глаза и, жалобно постанывая, начал осторожно приседать. С него явно было достаточно, но Бал, повторяю, действовал, как автомат. Он схватил длинного за волосы и резко дёрнул вниз, одновременно выбросив вверх колено.
    Удар получился страшный. Как тряпичную куклу, Бал отшвырнул обездвиженное тело в сторону и резко повернулся к остальным. Успел как раз! Один из бандитов остался держать Полину, а второй бросился на помощь своему дружку. Бал качнулся в сторону и носком своего «альпийца» достал колено нападавшего. Раздался противный хруст треснувшей кости, и подбитый недоумок рухнул как подкошенный, завывая и хватаясь за перебитую ногу.
    Бал, уже не торопясь, направился к третьему, который продолжал придерживать Полину. Бал невольно улыбнулся. И этот третий, и Полинка стояли с одинаково изумлённым видом.
    Парень держал в руке нож, но особой уверенности, похоже, не испытывал. Слишком быстро и жестоко этот чёртов иностранец расправился с его дружками!
    Опомнившись, он потянул к себе Полину, видимо, собираясь ею прикрыться, но она, откинувшись назад, замолотила свободной рукой по сжимавшим её рукав пальцам грабителя. Тот неожиданно отпустил, и Полина, вскрикнув, полетела на землю.
    Бал резко подался вперёд, но до стычки дело не дошло. Ругаясь (не по-французски), незадачливый грабитель бросился прочь.
    — Ты в порядке, девочка? — наклонился Бал к Полине, которая сидела на земле с ошарашенным видом. — Вставай! — он посмотрел на свои ладони и брезгливо поморщился: на них осталось противное ощущение грязных, сальных волос.
    Бал протянул Полине локоть, помогая подняться.
    — Послушай! — вдруг вспомнил он. — А почему ты не орала на всю улицу?
    — Они сказали: если я буду кричать, тебя убьют… — пробормотала Полина и, вцепившись в Бала, вдруг заголосила по-бабьи: — Балька, милый! Бежим отсюда! Он сейчас вернётся с дружками, и нас точно убьют!
    — Ага! Сейчас побежим… — не стал спорить Бал. — Только я бумажник заберу свой…
    Полина не отпускала его и лишь зажмурилась, когда он, буквально волоча её за собой, подошёл к месту драки и наклонился, чтобы поднять бумажник.
    Бал посмотрел в залитое кровью бледное лицо длинного и чертыхнулся вполголоса.
    — Всё! Пошли! — он задумчиво посмотрел на второго, с перебитой ногой. Тот уже не орал, а тихо поскуливал. То ли притерпелся к боли, то ли боялся привлекать к себе внимание. — Ладно! — (Всё равно третий удрал.) — Пошли.
    Он не хотел говорить Полине, что бежать у него сейчас не получится! Оказывается, он сильно ушиб колено. Ещё бы! Так врезать! Сразу в горячке не почувствовал, а сейчас — начало ныть. «Вот чёрт! Опухнет, наверное».
    Они прошли несколько кварталов, прежде чем Бал разрешил остановить такси. Полину он заранее предупредил:
    — С водителем не разговаривай! Скажи мне, как будет: «нам надо в центр»?
    Потом они взяли второе такси и вернулись наконец в гостиницу.
    Бал уже заметно хромал. Зайдя в номер, он сразу направился в ванную.
    — Полинка, детка, сегодня я первый! До сих пор такое ощущение, будто руки воняют. Ты пока раздобудь лёд. Колено болит. Только никому не говори, зачем.
    После душа Бал уселся в кресло и, недовольно морщась, прикладывал к болевшему колену завёрнутый в полотенце лёд.
    Полина совсем уже успокоилась. Вышла из душа, завёрнутая в два полотенца, подошла к Балу и уронила полотенца на пол. Бал отложил лёд в сторону и притянул её к себе.
    Полина жарко целовала его в шею, он чувствовал на груди прикосновение затвердевших сосков, но сам только вздыхал и ласково пропускал сквозь пальцы её влажные волосы. Полина немного отстранилась и посмотрела удивлённо: «Как! Это всё?!»
    Бал, в очередной раз вздохнув, сказал:
    — Полинка! Нам надо отсюда валить. Как можно быстрей…
    Полина испуганно округлила глаза и спросила шёпотом:
    — Ты думаешь, эти могут нас найти?
    Бал опять притянул её к себе и объяснил, тоже шёпотом:
    — Не в этом дело!.. Понимаешь… я, кажется, одного из них, того, с длинными волосами… убил… нечаянно!
    «Кажется» и «нечаянно» он добавил, чтобы смягчить сказанное.
    Полина замерла, потом медленно выпрямилась. В глазах — ужас.
    — Господи! Ты уверен?
    Бал только хмыкнул. Полина подняла с пола полотенце, прижала к груди и села на кровать.
    — Но подожди! — вдруг оживилась она. — Ведь это они на нас напали! Ты же защищался! Они могли тебя убить! Меня — изнасиловать и тоже убить! У них были ножи, а у тебя ничего! Я же всё видела!
    — Вот именно! — вздохнул Бал.
    — Что? — не поняла Полина. — Что «вот именно»?
    — То, что видела только ты! А ты не свидетель! Ты соучастница! Да-да! Знаешь, как всё это будет представлено, если дело дойдёт до суда? Милые юноши мирно игрались себе в песочке. А мимо шёл злой израильский коммандос с подругой. И решил этот негодяй выпендриться перед ней. Перед тобой, значит! В итоге: один юноша зверски убит, второй жестоко искалечен, а третий так напугался, что теперь по ночам не спит, а когда спит — писает в постель!
    А то, что они ножами махали, тебя тащили, а меня, зазевайся немного, зарезали бы?! Так это даже обсуждаться не будет!
    — Не может быть! — у Полины был очень удручённый вид.
    — Может! — горько усмехнулся Бал. — Ты просто не понимаешь. Мы находимся в самом логове демократии! Они тут просто подвинулись на правах человека. Только почему-то права эти есть у всяких отморозков! А то, что и простые люди имеют право хотя бы не быть убитыми, ограбленными или оскорблёнными, вспоминают уже, когда это случается! Знаешь, сколько у этих подонков найдётся златоустых защитников? Здесь они так заборолись за права «обиженных» и «оскорблённых», что это уже перешло в плавно текущий дебилизм!
    — И что же нам делать? — не похоже, чтобы Полина поняла всё из эмоционального «выступления» Бала, но поверить — она поверила.
    — Уезжать нам надо… Чем быстрей!.. — Бал неожиданно засмеялся.
    — Ты чего? — растерянно улыбнулась Полина.
    — Да вот подумал. Если поймают, у меня будет возможность крикнуть: «Да здравствует французский суд! Самый гуманный суд в мире!»
    Они оба захохотали. Но это было больше нервное!
  {% endfilter %}
{% endblock %}
