{% extends template %}

{% set parentTitle = "«Ничего личного» — принцип киллеров. Часть 1" %}
{% set title = "Глава 5" %}
{% set pubdate = "13.02.2012" %}

{% block heading %}
  <h1 class="art__title">«Ничего личного» — принцип киллеров</h1>
  <p class="art__title-descr">Часть 1</p>
{% endblock %}

{% block content %}
  {% filter prose %}
    Первые три раза Бал даже не понял, зачем его вообще брали.
    Но каждый раз по возвращении с ним очень обстоятельно беседовал психолог, и он проходил нудное тестирование.
    (Кстати, чтобы больше не касаться этой темы. Переправка к месту операции и затем возвращение каждый раз происходили по-разному, например, с туристической группой. Документы были абсолютно настоящие, только — одноразовые. Почти всегда Бал переправлялся в одиночку. Как добирались Дон и Блэк, он не имел ни малейшего представления).
    Подготовкой к операции и доработкой деталей занимался Блэк. Он бессчётное количество раз заставлял отрабатывать все возможные и невозможные варианты.
    Как-то Бал спросил Дона:
    — Послушай! Он всегда такой дотошный?
    — Всегда! — успокоил его тот. — Поэтому до сих пор живой.
    — Ну а личная жизнь у тебя, скажем, есть?
    — Бывает, — вздохнул Дон. — Только редко… и с презервативом.
    По-русски Дон говорил с мягким, иногда почти незаметным акцентом, но в тоже время выдавал такие обороты речи, что даже весьма начитанный Бал, что называется, диву давался.
    Блэк говорил чисто. С немного железным выговором. Про его словарный запас сказать что-либо было невозможно. Больше четырёх-пяти слов кряду он выдавал редко. И если вынужден был это делать — морщился недовольно и кривился, как от зубной боли.
    Испанским, насколько мог судить Бал, оба владели в совершенстве.
    Блэка ничто кроме дела, похоже, не интересовало. Во всяком случае, как говорится, замечен не был. А с балагуристым, весёлым Доном Бал быстро сдружился.
    Дон и сообщил ему наконец эту новость.
    — Ну что, Балька, твой выход! — он внимательно, как будто видел первый раз, разглядывал товарища. — Для этого задания ты подходишь как нельзя лучше. Блэк — тоже мелкий, но у него больно рожа злая. А ты — то что надо. Лицо немного подсмуглим… Накачанный ты только слишком…
    — Я специально не качаюсь, у меня просто фигура такая! — возмутился Бал.
    — Ладно. Не большая проблема, — похоже, Дон рассуждал сам с собой. — Я тебе рубашку подберу. Пошире, порваней и погрязней…
    — Вот за «погрязней» — отдельное спасибо! — пробурчал Бал. Позже он понял, что Дон вовсе не шутил…
    Бал вышел на две остановки раньше и до места шёл пешком. Дон был уже там и зубоскалил с хорошенькой девчонкой, которая продавала напитки.
    Возле небольшого стола стоял пластмассовый ящик, наполненный колотым льдом, в который были воткнуты баночки и бутылочки с различными напитками. Ещё в одном ящике оранжевели апельсины. И если кто-то заказывал свежий сок, девушка разрезала их пополам и при помощи какого-то очень древнего, но весьма эффективного пресса выдавливала сок в пластиковый стаканчик.
    Было очень жарко, баночки и бутылочки соблазнительно запотели, девушка была миленькой, приветливо улыбалась — и торговля шла весьма бойко.
    Дон помогал вовсю. Давил на рычаг пресса и развлекал девчонку какими-то байками. Она раскраснелась от смущения и удовольствия. Ещё бы — такой красавчик!
    Бал тоже купил «кока-колу» и не спеша отошёл. Через минуту его догнал Дон, оставивший позади очередное разбитое (ну, если не на всю жизнь, то уж на пару дней — точно!) девичье сердечко.
    Минут через десять они зашли в какой-то грязный и дурно пахнущий подъезд. На замызганных ступеньках сидел мальчишка очень неопределённого возраста. С одинаковым успехом можно было предположить, что ему и десять лет, и пятнадцать.
    Рядом стоял лоток, с которого уличные торговцы продают всякую всячину. Газеты, сигареты, жвачку и т. д.
    Когда они зашли, мальчишка вскочил, схватил стоявшее тут же ведро с губкой и испарился…
    — Рубашку сними! — велел Дон. Он протянул Балу действительно рваную и грязную тенниску. Его рубашку сложил и засунул к себе в карман. Потом повернул Бала к свету, достал какую-то баночку и намазал его лицо кремом.
    — За лицо не берись, легко стирается, — предупредил он. — Всё помнишь? Ствол под газетами. У тебя четыре выстрела, хотя хватит и одного: такие пули шансов не оставляют. По сторонам не вертись. Я всё буду контролировать, да и Блэк недалеко. Потом выходишь на чётную сторону и идёшь к выезду с улицы. Я догоню…
    «Волнуется больше моего! — с благодарностью подумал Бал. — Иначе не стал бы повторять одно и тоже, наверное, в десятый раз».
    — Послушай, Дон! — спохватился он. — А меня конкуренты не побьют?
    — Всё нормально. Парень, который торгует на этом месте, пару дней полежит дома. Кажется, с велосипеда упал. Неудачно. Если очень интересно — спросишь потом у Блэка, он должен был видеть, — без тени улыбки сказал Дон. И, хлопнув Бала по плечу, добавил:
    — Ну, давай. С Богом!
    Вообще-то Бал был неверующий. Но ему это пожелание в такой момент показалось несколько кощунственным.
    «Ладно. Потом скажу. Чего сейчас придираться».
    Он подхватил лоток и пошёл к выходу.
    — Слышишь! — окликнул Дон. — Старайся в глаза не смотреть.
    Бал, не оборачиваясь, поднял раскрытую ладонь.
    Он через проходной двор вышел на нужную улицу и начал свою коммерцию…
    Нужную машину Бал заметил сразу, как только та вырулила из-за угла. Во рту пересохло. Серебристый форд, медленно двигаясь, приближался. Он почти поравнялся с Балом, когда на выезде с улицы раздался грохот столкнувшихся машин и затем — крики и автомобильные гудки. Блэк сработал как часы. Кто бы сомневался!
    Движение, естественно, остановилось, и лоточники выскочили на дорогу, громко предлагая свой товар. Бал тоже заорал:
    — Газеты, сигареты, жвачка! — и начал протискиваться между машинами. Водитель «форда», в отличие от многих других, сидел почти спокойно. Выставил левый локоть в открытое окно и пальцами правой выстукивал на руле какой-то мотив. Бал подобострастно склонился и предложил свой товар.
    «Клиент», мужчина лет сорока, темноволосый, очень загорелый, посмотрел приветливо и сказал:
    — А действительно! Дай, друг, газету и пару сигарет. Сколько?
    К машине подскочил мальчишка, очень похожий на того, из подъезда (хотя почему похожий, наверняка тот же!), и начал возить мыльной губкой по ветровому стеклу. Мужчина добродушно усмехнулся и полез за мелочью. Но мальчишка, оставив стекло намыленным, уже исчез.
    Бал нащупал под газетами рукоятку пистолета.
    «Ну что же, ничего личного». Сейчас эта фраза всплыла в памяти случайно, но потом Бал всегда повторял её про себя — уже из суеверия.
    Он выстрелил. Даже если на пистолет и не был бы накручен глушитель, вряд ли в этом адском шуме кто-нибудь бы услышал выстрел. «Клиент» замер, медленно повернулся и удивлённо посмотрел на Бала. Потом его глаза закатились, нижняя челюсть беспомощно отвисла, из уголков рта струйками потекла слюна. Он, обмякнув, ткнулся лицом в руль.
    Бал столкнул его в сторону и ещё несколько раз, не считая, нажал на спуск, пока пистолет пусто не щёлкнул.
    Завернув оружие в газеты, Бал закинул свёрток в салон машины. Затем, отойдя на шаг, покивал головой (со стороны выглядело, что он благодарит водителя за покупку).
    Стараясь не суетиться, Бал походил ещё немного между машинами, даже умудрился что-то продать. Потом вышел на чётную сторону и пошёл вперёд.
    Его догнал Дон и молча затолкнул в какой-то двор. Буквально вырвал из рук лоток, который закинул вместе со всем содержимым в мусорный бак.
    Бал потащил через голову прилипшую к телу тенниску.
    Дон, помогая, сдёрнул тенниску и, притянув Бала к себе, вытер ею его лицо. Достал из кармана рубашку:
    — Одевай! И за мной!
    Они проскочили через проходной двор. Возле весьма потрепанного на вид мотоцикла сидел грязный мальчуган и курил. Дон сунул ему несколько монет и кивнул Балу, чтобы тот садился сзади.
    Бал знал, что Дон любит погонять на «байке» и даже несколько раз видел. Но одно дело — смотреть со стороны, и совсем другое — ехать пассажиром с этим психом! Он закрыл глаза, прижался к широкой спине друга и развлекал себя, думая, что скажет этому, блин, гонщику, если они не угробятся.
    Лихая езда навевала весьма красочные обороты, которым позавидовал бы любой боцман. Но когда Дон наконец остановился, Бал отклеился от него, сошёл на землю, качнулся и сказал укоризненно:
    — Скотина!
    Дон довольно хохотнул, как будто услышал комплимент, и укатил…
  {% endfilter %}
{% endblock %}
