{% extends template %}

{% set parentTitle = "«Ничего личного» — принцип киллеров. Часть 2" %}
{% set title = "Глава 7" %}
{% set pubdate = "22.02.2012" %}

{% block heading %}
  <h1 class="art__title">«Ничего личного» — принцип киллеров</h1>
  <p class="art__title-descr">Часть 2</p>
{% endblock %}

{% block content %}
  {% filter prose %}
    В таких случаях принято говорить: «Дальше всё было как в тумане…»
    Обойдёмся без патетики. Просто прилившая к голове кровь мешала видеть и понимать. И поэтому… всё действительно было как в тумане!
    Такси! Целоваться начали в лифте! Бал не с первой попытки, одной рукой, открыл дверь номера. Одежда вперемешку раскидана от входа до (наконец-то!) кровати…
    Когда через… о чём это я?! Можно подумать, что кто-то засекал время!
    Итак, с начала. Через чёрт знает сколько времени, задыхаясь, Полина спросила Бала:
    — Послушай! Похоже, последние лет сто ты жил в монастыре!
    — Вроде того… — не дал себя отвлечь Бал.
    Он давно привык рано просыпаться, хотя последнее время необходимости в этом не было. Но после этой ночи он спал и спал… бы! Полинка, прижавшись, закинула на него жаркую ногу и, обняв, горячо поцеловала! Бал, конечно, ничего не имел против продолжения, но Полинка уже сладко сопела. Похоже — и не просыпалась…
    Бал немного поразрывался между вполне естественным желанием и тихой нежностью. Решил, что если он сейчас её разбудит, то это затянется! Потом ещё отсыпаться. А надо бы поговорить. Он полежал немного, потом тихо, уважая себя за выдержку, высвободился, конечно, не без сожаления, из сладких объятий и направился в ванную.
    Собрал по дороге разбросанную по номеру одежду и сложил вещи Полины на кресло. Потом долго, с удовольствием принимал душ и приводил себя в порядок, стараясь не очень шуметь. Подмигнул своему отражению в зеркале: «А ты — молодцом!»
    Выйдя из ванной, Бал сел в свободное кресло, отвернув его к окну, чтобы не смотреть на спящую Полину.
    Хотелось подумать, не отвлекаясь. Но мысли скакали цветным и радостным калейдоскопом. Он то и дело проваливался в приятную дрёму, и выходить из этого состояния было лень, да и жалко!
    Полина начала просыпаться около десяти. Бал услышал «вкусные» потягивания, в которых хотелось принимать участие, потом она позвала его хрипловатым со сна голосом:
    — Балька! Ты где?
    — Привет! — Бал высунулся из-за спинки своего кресла. Он цвёл в счастливой улыбке.
    Бал с удовольствием и восхищением смотрел на неё. Волосы безжалостно разлохмачены! Губы припухли от бесчисленных и беспощадных поцелуев! Вообще она была основательно помята и растрёпана, что очень льстило его мужскому самолюбию. Ведь именно он проделал с ней всё это!
    — У-у-у! — капризным голосом сказала Полина и протянула к нему руки. Бал в секундочку оказался в её тёплых и одуряюще пахнущих объятьях.
    Полинка, удовлетворённо вздохнув, засопела, опять засыпая.
    — Нет, нет! Вставай! Просыпайся! — обцеловывал её Бал.
    — Иди ко мне! — предложила заманчивую альтернативу Полина.
    — Нам надо поговорить! — чтобы отказаться, Балу пришлось проделать большую внутреннюю работу.
    Полина приоткрыла один глаз и сразу начала придираться:
    — Кофе в постель я, как видно, не заслужила!
    — Фи! Девочка! — скривился Бал. — Что за пошлость! Ты что, воспитывалась на бульварной литературе? А чтобы ты успокоилась, могу сказать: ты заслужила сытный, здоровый, а главное, полноценный завтрак! Так что — подъём!
    — Ладно! — покорно вздохнула Полина. — Тогда отпусти меня…
    Бал почему-то не предусмотрел, что и с его стороны потребуются определённые жертвы. Он сокрушённо повздыхал, Полинка тем временем опять вознамерилась подремать.
    — Ладно! — Бал решительно поднялся. — Вставай!
    Полина наконец-то открыла оба глаза и, притянув одеяло к подбородку, попросила:
    — Отвернись, пожалуйста! Я хочу пройти в ванную.
    — Неужели я что-то пропустил?! — «заволновался» Бал и сделал вид, что хочет отдёрнуть одеяло.
    — От-вер-нись! — приказным тоном сказала Полина.
    Бал сделал обиженное лицо и уселся в своё кресло.
    — И глаза закрой! — продолжала командовать Полина. — Ты в окне, как в зеркале, всё видишь!
    — Я честный человек! — почти искренне возмутился Бал, но глаза всё же закрыл.
    — Вместо того чтобы сидеть и грустить, — сказала Полина, направляясь в ванную, — постарайся раздобыть фен.
    Бал даже расстроился: «Вот чёрт, как это я не подумал? — но успокоил себя, решив: — Чтобы предусмотреть такое — надо быть женщиной…»
    — У тебя есть пятнадцать минут! — крикнула Полинка из ванной и включила воду.
    «Как же, как же! — усмехнулся Бал, натягивая куртку. — Полчаса — как минимум».
    Торопиться необходимости не было: магазин был буквально через дорогу. Фен он купил без проблем: времена дефицитов кончились. Потом с удовольствием позубоскалил с хорошенькой продавщицей и, очень довольный собой, вернулся в номер. Полина, конечно же, была ещё в ванной. Бал приоткрыл дверь, доложил об успешном выполнении приказа и надеялся, что его попросят потереть спинку… Но Полина сказала только:
    — Спасибо! Я уже скоро.
    Бал не стал напрашиваться, достал фен из коробки, проверил в работе. Включил телевизор, пощёлкал пультом. Минут через десять Полинка наконец вышла. На ней был его халат, который он повесил в ванной, но так ни разу и не одел. На голове в виде чалмы накручено полотенце. Щёки раскраснелись, проснувшиеся глаза сияли. Вообще она выглядела так соблазнительно, что Бал полез с руками.
    Полинка решительно и строго прервала эти поползновения. А когда увидела, что он надулся, разрешила поцеловать себя в щёчку и помочь с феном.
    Старательно орудуя феном, Бал сосредоточенно сопел, прикусив в усердии кончик языка. А уже перед выходом из номера Полина доверила ему самое дорогое, что только может доверить женщина мужчине: застегнуть молнию на сапожках!!!
    (Тут я просто обязана сделать сноску…
    Женщина с ужасом смотрит, как грубые мужские ручищи терзают замочек на любимых финских или, пуще того, итальянских сапожках! Кстати, этим ручищам она с удовольствием позволяла тискать себя в самых укромных местечках, но это одно! А тут, будь он хоть ювелир, полного доверия нет!
    Мужчина, чувствуя напряжённость и ответственность ситуации, тоже начинает нервничать! И часто всё это кончается непоправимой бедой! Затяжкой на колготах!!! Которые, судя по причитаниям, с которыми их оплакивают, сделаны были в единственном экземпляре и других таких уже никогда не будет!)
    Бал, кстати, застегнул сапожки с хладнокровием, присущим людям его профессии.
    В небольшом уютном кафе (выбор Полины) в этот час было немного посетителей. Молоденькая официантка дала им книжки-меню и стояла рядом, приготовив блокнотик и карандаш — записать заказ.
    Полина, помня про диету, тоскливо вздыхала, а Бал не стал утруждать себя выбором:
    — Мне, пожалуйста, яичницу с грибами. Кстати! А что за грибы?
    — Не знаю! — огорчилась официантка. — Хотите, спрошу?
    — Тебя как зовут, детка? — улыбнулся Бал.
    — Вика… — окончательно растерялась девушка и посмотрела на Полину.
    — Викуля! — ворковал Бал. — Ты в таких случаях говори, что сама собирала!
    — Угу! — не удержалась Полина. — Зимой!
    — Да кто вникать будет? — заспорил Бал. — Главное, что их собирала такая очаровательная девушка.
    — Ещё что-нибудь заказывать будете? — уткнувшись в блокнотик и опасаясь смотреть на Полину, спросила официантка.
    — Обязательно! Пятьдесят грамм красной икры, кусочек масла, горячий шоколад и пирожное. Заварное! — Бал даже сглотнул слюну. — Обожаю — заварное! — он поколебался, прикидывая, достаточно ли заказал. — Ладно! Пока хватит. Вообще-то я почти не завтракаю, но после сегодняшней ночи… Просто необходимо восстановить силы! — доложил он с самым невинным видом и, подняв чистый взгляд младенца, с удовольствием отметил, что обе девушки покраснели.
    — Вам что? — обратилась официантка к Полине.
    — Яйцо всмятку, вот этот салатик и чёрный кофе без сахара… — у Полины был очень несчастный вид. — Балька! Пирожное дашь укусить?
    — Самому мало! — безжалостно отреагировал Бал, с иронической улыбкой слушавший Полинкин заказ. — Вика! Детка! Ты это всё зачеркни и принеси, будь добра, моей девушке то же, что и мне. Только оставь этот ужасный кофе, а пирожных — два. Самых лучших. Ей тоже надо силы восстанавливать!
    Вика молча кивнула и, боясь рассмеяться, повернулась, чтобы уйти, но Бал опять окликнул её:
    — Викуля! Допиши в наш заказ ещё два пирожных! Для себя. И пообещай, что съешь!
    Вика, больше не в силах сдерживаться, засмеялась и убежала за заказом.
    Сияющий Бал вздохнул с чувством хорошо выполненного долга и откинулся на спинку стула.
    — Милый! — язвительно поинтересовалась Полина. — Или мне показалось, или ты действительно заигрывал с этой официанточкой?!
    — Что значит «показалось»?! — обиделся Бал. — Конечно — заигрывал! — он подался вперёд и смотрел на Полину с обожанием. — Причём, заметь, имея такую красавицу как ты, я могу это делать абсолютно бескорыстно!..
    На улице было холодно, ветер гонял колючие снежинки, но Бал предложил немного (как он выразился) прогуляться.
    — А ты не замёрзнешь? — заботливо поправляя ему воротник куртки, спросила Полина.
    — Рядом с тобой — нет! — Бал притянул её к себе, действительно через все одежды чувствуя тепло её тела.
    — О чём ты собирался поговорить? — напомнила Полина, взяв его под руку.
    — Полинка! Честное слово, мне этот разговор самому не очень приятен… Поэтому я буду спрашивать, а ты постарайся отвечать, не отвлекаясь на размышления, «зачем он это спрашивает». Хорошо?
    Полина согласно кивнула.
    — Итак, вопрос по существу: у вас… с мужем, — в сумерках не было видно, как он поморщился, — у вас была общая квартира?
    — Что значит — «была»? — возмутилась Полина. Видно, этот вопрос для неё был болезнен. — У нас — общая квартира! Развод он мне не даёт, на размен не соглашается! Придётся судиться! Кстати, деньги на квартиру нам родители дали, причём мои — больше! И пять тысяч долларов у друзей одолжили. До сих пор не отдали!
    — Отлично! — неожиданно для неё обрадовался Бал.
    — Ты находишь, что это отлично?! — возмутилась Полина и потащила свою руку из-под его локтя.
    — Подожди! Я объясню! — придержал её Бал. — Если предложить ему такой вариант: ты отказываешься от претензий на квартиру, а он — даёт тебе развод?
    — И вечно жить у Ленки? — не разделила его оптимизм Полина.
    — Я куплю тебе квартиру. Долг друзьям тоже верну. Они-то пострадать не должны!
    — Квартиру мне купишь?! — зашипела Полина и на этот раз решительно выдернула свою руку. Даже в сумерках было видно, как бешено сверкнули её глаза. — Ты это за кого меня принимаешь?! Обидеть хочешь?!.. Ой!
    «Ой» — это потому, что Бал, молниеносно повернувшись, крепко схватил её за плечи и довольно сильно встряхнул.
    — Никогда! Никогда так больше не говори! — теперь он шипел и сверкал глазами. — «Обидеть»?
    Бал вдруг понял, что делает ей больно, а молчит она потому, что боится этой его вспышки непонятного ей гнева. Он мягко притянул её к себе и забормотал виновато:
    — Как ты и подумать так могла?! Да я!.. Пусть только кто-нибудь!.. Кстати! — спохватился он. — Может, я ночью сделал тебе больно или неприятно?! Так ты скажи! Я постараюсь сдерживаться!..
    — Только попробуй! — мурлыкнула успокоенная Полинка и поцеловала его так, что Бал понял, что он прощён!.. И вообще! Пора возвращаться в гостиницу!
  {% endfilter %}
{% endblock %}
