{% extends template %}

{% set parentTitle = "«Ничего личного» — принцип киллеров. Часть 1" %}
{% set title = "Глава 11. Развязка" %}
{% set pubdate = "13.02.2012" %}

{% block heading %}
  <h1 class="art__title">«Ничего личного» — принцип киллеров</h1>
  <p class="art__title-descr">Часть 1</p>
{% endblock %}

{% block content %}
  {% filter prose %}
    Дон вёл машину, Гарик сидел рядом, сзади справа — Ксения, слева — Блэк, Бал — посредине. Когда они выехали за город и оказались в районе вилл, Гарик предупредил:
    — Теперь скоро.
    Блэк и Бал сползли вниз между сиденьями и приготовили оружие с уже навинченными глушителями. Ксения побледнела и вжалась в спинку сиденья.
    Дон, не поворачиваясь, понял её состояние и перекинул назад свою фляжку с коньяком.
    Бал вопросительно посмотрел на Ксению, но она отрицательно помотала головой. Уговаривать уже времени не было: они подъезжали.
    Вышел охранник. Волноваться причин не было. Он знал и Гарика, и его джип.
    Через немного приоткрытое окно он увидел красивую девушку. Всё как обычно, тем более что хозяин его предупредил. Приветливо улыбнувшись, он открыл ворота. Когда машина заехала на территорию, охранник закрыл ворота и пошёл к себе в будку — позвонить, что всё в порядке.
    Маркиз действительно был «парень с размахом»! И, надо признать, со вкусом.
    Растения, хоть и не поражали разнообразием, были ухоженны и красиво расположены. Неизбежные мраморные статуи повторяли известные сюжеты и действительно радовали глаз. Перед роскошным трёхэтажным домом, увитым вьюном, — несколько цветочных клумб. Всё это освещалось разноцветной подсветкой, также весьма продуманно расположенной, и смотрелось величественно и даже романтично.
    Дон присвистнул:
    — Ого! Сразу видно, что хозяин трудится в поте лица! Вот она — трудовая копейка! Давай, Гарик, показывай, куда ехать. А то заблудимся ещё…
    — А то! — с труднообъяснимой гордостью сказал Гарик. — Здесь возьми налево, а вон за той бабой, — (вообще-то это была мраморная Диана, богиня охоты, с легким копьём и даже в сопровождении двух непонятной породы собак, тоже, конечно, мраморных), — направо, и метров через тридцать упрёмся в бассейн.
    Возле ярко освещённого бассейна стояло несколько небольших столиков с фруктами, напитками и ещё с чем-то… На лёгких креслах сидели четверо мужчин. Трое молодых, спортивного вида. Они были почти одинаково одеты: тёмные брюки и тонкие светлые рубашки. Под мышкой — кобуры. Они смотрели внимательно, но без малейшего волнения: приезд Гарика был здесь привычным делом.
    Четвёртый, несколько грузноватый мужчина средних лет, одет был скорее модно, чем удобно: шорты до икр и цветастая рубашка. Вид у него был весьма холёный. Маркиз.
    Он махнул рукой своим охранникам, чтобы оставались на месте, сам нетерпеливо направился к гостям.
    — Сиди и не рыпайся! — прошипел Дон Гарику, выскочил из машины, с холуйской прытью обежал вокруг джипа, открыл заднюю левую дверь и подал руку Ксении. — Не бойся! — шепнул он, принимая самые угодливые позы, что при его росте и телосложении выглядело весьма забавно.
    Возможно, он переигрывал, даже наверняка переигрывал, но Маркиз не обратил на него никакого внимания, а когда увидел Ксению, вообще забыл про всё на свете. Пренебрежительно толкнув стоявшего на пути Дона, он шагнул к девушке и весьма галантно подал ей руку.
    Дон почтительно посторонился и, оказавшись за спиной у Маркиза, рубанул его по шее ребром ладони. Прыгнув через падающие тело, он схватил Ксению в охапку и свалил её на землю, прикрывая собой. На всякий случай… ну и чтобы не видела всего…
    Охранники не успели ничего предпринять. Выскочившие как чёртики Блэк и Бал вмиг понаделали в них дырок. Потом Блэк, не опуская оружие, направился к бассейну, а Бал побежал к воротам.
    Увидев бегущего незнакомца, который непонятно как здесь появился, охранник привстал в недоумении, чем, собственно, только упростил дело. Бал с ходу выстрелил три раза. Подбежал и, убедившись, что охранник готов, уже не торопясь вернулся к бассейну.
    Там все были заняты. Блэк обыскивал убитых. Белый как простыня Гарик сидел на месте и, по-видимому, боялся даже пошевелиться. Дон стоял, привалившись спиной к джипу, и смотрел на всё ещё не очухавшегося Маркиза.
    Ксения, красиво раскинувшись, лежала на травке, куда её перенёс Дон, — она была в обмороке.
    Бал направился было к ней, но Дон остановил.
    — Подожди. Потом. Помоги этого кабана в дом затащить.
    Они не без труда заволокли грузного Маркиза в дом и, не особенно церемонясь, швырнули на низкий диван.
    Вошли по-прежнему бледный Гарик и по обыкновению жутковато-безразличный Блэк.
    — Ну, я пошёл, — заторопился Бал, которого дальнейшее не интересовало.
    Он заторопился к Ксении. Она по-прежнему была в обмороке.
    Бал осторожно приподнял её голову и легонько похлопал по щекам.
    Потом он сообразил, что если она придёт в себя сейчас, то увидит убитых и тогда точно — истерика. Взяв девушку на руки, Бал осторожно перенёс её в джип и уложил на заднее сиденье.
    — Ксюша! Ксюша! — он опять похлопал её по щекам. Бесполезно! На глаза попалась фляжка Дона. Бал открутил пробку, разжал осторожно, чтобы не поранить нежные губы, и влил несколько капель коньяка девушке в рот.
    Ксения судорожно вздохнула, закашлялась, открыла наконец глаза и с ужасом посмотрела на Бала.
    — Всё в порядке? — улыбнулся он.
    Ксения забилась в угол, ужас в её глазах усилился.
    — Ксюша! — Бал протянул к ней руки.
    Ксения дрожала так, что слышно было, как стучат её зубы.
    — Да пойми ты! — Бал понимал, что несёт чушь, но ничего другого сейчас в голову просто не шло. — Это как в кино: хорошие парни, плохие парни… Эти парни были очень плохие, много зла делали. Таких девчонок, как ты, без счёта сгубили. Их надо было остановить. И ты нам очень помогла. Да! — вспомнил он. — Это же твои деньги, — он схватил сумку и вытряхнул пачки денег Ксении на колени… Даже лучшие из женщин — хоть немного, но корыстны: на деньги Ксения посмотрела с интересом.
    — Ксю-уша! — почти жалобно сказал Бал и опять протянул к ней руки.
    Девушка вздохнула и уткнулась лицом в грудь Балу. Он сидел, боясь даже пошевелиться, только осторожно гладил её волосы…
    — Ну как он? — спросил Блэк, внимательно разглядывая Маркиза.
    — С виду — крепкий мужик, — виновато сказал Дон.
    Блэк посмотрел по сторонам. На столе стояла ваза с цветами. Он выкинул цветы на пол, а воду выплеснул в лицо Маркизу. Тот задышал хрипло, открыл глаза и, мутно глядя, попытался встать. Дон рывком поднял его и сильно встряхнул, приводя в себя.
    — Что?.. Кто?.. — забормотал Маркиз и осёкся под взглядом Блэка. Под этим жутким взглядом цепенели и не такие «ухари».
    — Где сейф? — ровным голосом спросил страшный гость.
    Наверное, в этот момент Маркиз подумал, что его просто грабят: как убивали охранников, он не видел.
    — Я всё отдам, — забормотал он, бегая глазками, чтобы не наткнуться на пугающий взгляд.
    Сейф оказался весьма банально за одной из картин.
    — Сигнализацию не забудь, — напомнил Дон. Он стоял рядом с Маркизом, и когда тот открыл сейф, оттолкнул его в сторону. Там могло быть оружие. Заглянул внутрь и кивнул Блэку: порядок.
    — Это всё? — безразлично спросил Блэк.
    — Всё! — клятвенно прижал руки к груди Маркиз. Блэк выстрелил ему в голову и быстро повернулся к Гарику.
    Тот закрыл глаза и перекрестился.
    — Брата не трогайте! Обещали! — надо признать, что держался этот мерзавец весьма достойно. Блэк одобрительно хмыкнул и вышел из дома.
    — Ну чего ты растопырился! — добродушно крикнул Дон неподвижно стоящему Гарику. — Иди сюда. Он выгреб содержимое сейфа на пол, присел на корточки.
    Собрал, не разбирая, все бумаги и документы, а деньги пододвинул к Гарику.
    — Это — тебе! Тут побольше, чем полста. Считай, что это твой гонорар. И смотри «пальчики» нигде не оставь.
    Теперь за руль джипа сел Блэк, Гарик — рядом. Дон плюхнулся сзади.
    — Ксюха! Как ты? — Дон ласково тронул девушку за плечо.
    Она чуть-чуть повернула голову, одним глазом посмотрела на Дона и попыталась улыбнуться.
    — Ты просто молодец, — веселился Дон. — Я, когда на тебя прыгал, думал: «Ну всё — сейчас как заорёт…», — а ты молодец! Сразу в обморок — и мне никаких хлопот! Да! — он увидел пачки денег. — Ты же теперь богатая невеста! Ох, зашлю сватов! — он в избытке чувств так пихнул Бала в плечо, что если бы дверка была открыта, тот точно вылетел бы из машины вместе с прильнувшей к нему Ксенией.
  {% endfilter %}
{% endblock %}
