{% extends template %}

{% set parentTitle = "«Ничего личного» — принцип киллеров. Часть 2" %}
{% set title = "Глава 5" %}
{% set pubdate = "22.02.2012" %}

{% block heading %}
  <h1 class="art__title">«Ничего личного» — принцип киллеров</h1>
  <p class="art__title-descr">Часть 2</p>
{% endblock %}

{% block content %}
  {% filter prose %}
    Из банка Бал вышел совершенно ошеломлённый.
    Ну чего греха таить — он предполагал, что на этом счету будут деньги. Но столько! Он только кивал с важным и глубокомысленным видом, за которым скрывал своё изумление, когда какой-то банковский начальник распинался перед ним:
    — Ваш счёт поддерживается в полном порядке! Ваш доверитель очень удачно все годы распоряжался деньгами! Мы заботимся об удобстве и выгоде клиентов! Надеюсь, вы и дальше будете нашим уважаемым клиентом!.. — ну и всё в том же духе. Кстати, ежемесячные поступления, не считая процентов, были значительно больше, чем Бал зарабатывал на двух работах! Было от чего обалдеть!
    Звонку от Ника он уже не удивился.
    — Привет! — как будто они расстались вчера, а не десять лет назад. — Надо встретиться. Ты не против?
    — А если — против? — поинтересовался Бал. Просто из любопытства.
    Ник засмеялся:
    — Значит, завтра в шесть вечера на пляже за Хилтон. Подходит?
    Бал хотел спросить: «А если не подходит?», но подумал, что второй раз шутка может не пройти…
    — Мало изменился! Седой только! — Ник с интересом разглядывал Бала. Сам он несколько погрузнел. — Давай хоть по воде походим, а то стыдно сказать: рядом море, а я, бывает, за год ни разу не выберусь!
    Они закатали штанины брюк и побрели по воде. Небольшие волны всё же заплёскивались на брюки, но они не обращали на это внимание.
    — Ну слава Богу! Надеюсь, сейчас ты вернёшься к жизни! — довольным голосом сказал Ник.
    — Может, ты не в курсе, — Бал вовсе не собирался ехидничать, — но так, как я жил эти десять лет, так живут девяносто девять процентов бывших наших… и ничего страшного в этом не видят.
    — Ну, не всем так везёт с работой! — насмешливо сказал Ник. — Особенно с охраной офиса!
    Бал остановился. Потом, быстро наклонившись, черпанул ладонями воду и плеснул в Ника.
    — Так это твоя работа! То-то я думаю: за десять лет меня не проверили ни разу! Зарплата вовремя! Я про эти охранные конторы наслышан! Что, теперь можно требовать компенсацию?!
    — Не наглей! — хмыкнул Ник.
    — Постой, постой! — Бал хлопнул себя по лбу. — Галину тоже ты…
    — Ну нет! — Ник захохотал и в восторге, присев, похлопал себя по коленям. — Галочку — ты!.. — он посерьёзнел. — К её депортации тоже, поверь, отношения не имею.
    Он немного поколебался, но брызгать на Бала в ответ не стал. Видимо, решил, что это не солидно.
    — Послушай, Ник! Я что спросить хочу. Почему у меня столько много денег на счету оказалось?
    — А ты не рад!
    — И всё-таки ответь!
    Ник погрустнел и тяжело вздохнул:
    — У Дона сестра и мать остались… где, прости, я тебе сказать не могу. А у Блэка — никого… Он мне распоряжение оставил. Если с ним что случится, его деньги между вами поделить. «У меня кроме них никого нет», — написал. Так вот!
    Они ещё долго ходили молча. Потом поужинали в кафе на набережной.
    — Больше не пропадай, — сказал Ник Балу на прощание, — если что понадобится — звони. Буду рад помочь.
    Через три месяца. Московская гостиница
    Бал лежал, слегка прикрывшись простынёю, и, закинув руки за голову, разглагольствовал, обращаясь к молоденькой и чертовски красивой проститутке:
    — Знаешь, детка! Я пока в Москву не приехал, думал, что стал богатым! Такое впечатление, что мир сошёл с ума! Просто «пир во время чумы» какой-то!
    (Он повернулся на бок и, подперев голову ладонью, продолжил, хотя девчонка его почти не слушала. Она одевалась и была озабочена тем, куда припрятать лишнюю сотню баксов, которые Бал подарил ей за ударно проделанную работу.)
    — Я когда-то в молодости, вот как тебе сейчас мне тогда было, посмотрел фильм. Итальянский. Ни как называется, ни толком про что — не помню. Что-то про сицилийскую мафию. Так там комиссар полиции, доведённый до бешенства мафиозными разборками, кричал. Я почему-то запомнил, почти дословно: «На Сицилию надо сбросить атомную бомбу! Потом всё заасфальтировать! Заминировать! Обнести колючей проволокой и пропустить по ней ток!» Как это ни печально, но кажется, большинство россиян примерно так думают в отношении Москвы!
    Девушка, уже к тому времени надёжно пристроившая деньги, хихикнула сочувственно. Наверное, тоже не местная. А может, просто хотела угодить щедрому клиенту…
    Мурманск встретил его ветром, который мёл в лицо мелкий, как песок, колючий снег. Бал поселился в гостинице «Арктика». Конечно, по удобству она сильно уступала московской гостинице, но Балу было вполне комфортно в относительно скромном одноместном номере, гордо носившем не вполне заслуженное звание «люкс».
    Каждое утро он выходил из гостиницы и до полудня ездил по городу на троллейбусе или автобусе. Нехотя, просто потому, что надо, обедал где-нибудь и до вечера или бродил, или опять бессмысленно колесил по городу. Он немного простудился, шмыгал носом и сухо покашливал, но искренне удивился бы, если б кто-то спросил: на кой чёрт ему это надо!
    Бал сидел у окна в почти пустом дневном троллейбусе и пытался продышать глазок в замёрзшем окне. На очередной остановке зашла девушка, прошла вперёд и, остановившись недалеко от Бала, сняв шапку, встряхнула головой, освобождая шикарную гриву чудесных каштановых волос. Он как во сне поднялся со своего места, тронул легонько её за плечо:
    — Простите!
    Девушка обернулась — и её изумительные серо-зелёные глаза расширились в испуге и удивлении. Она увидела, как незнакомый мужчина, болезненно исказившись в лице, хватаясь за сердце, оседает в проходе.
    — Надежда! — прохрипел Бал.
    — Вы обознались! — с жалостью в голосе сказала девушка. — Вам нужна помощь?
    — Подожди! — усилием воли Бал выпрямился. — Я понял! Ты — Полина! Это маму твою зовут Надежда. Вы невероятно похожи.
    — Но откуда вы меня знаете? — поразилась девушка. — Я что-то не припоминаю, чтобы мы встречались!
    — Вряд ли это можно объяснить в двух словах! Мне очень надо поговорить с тобой. А меня ты не помнишь, потому что прошло восемнадцать лет. Тебе сейчас двадцать пять? Надеюсь, ты меня не боишься и согласишься со мной пообедать?
    — Соглашусь! — решила заинтересованная Полина. — Я вспоминаю, вас зовут Бал, правильно? Не совсем обычное имя, поэтому я и запомнила. Так что опасаться у меня нет оснований. Пойдём!
    Бал так искренне обрадовался, что она улыбнулась.
    — Выбирай ты, куда идти, — предложил Бал, — я здесь две недели и, наверное, мало что знаю.
    — Есть в центре одно очень симпатичное кафе. Во всяком случае, я иногда бываю там, и мне нравится.
    — Этого достаточно! Я согласен!
    — Есть ещё одна причина, почему я хочу, чтобы вы пошли туда, но об этом потом!
    — Я на всё согласен! — Бал учтиво склонил голову. — Веди.
    В кафе он, особо не вникая, заказал треску с овощами, а Полина долго колебалась.
    — Я хочу на два-три килограмма похудеть, — объяснила она, — а диету — знаете, как трудно соблюдать!
    Бал никогда не пробовал, но охотно поверил. Правда, насчёт похудания у него было своё, чисто мужское, мнение. Разглядеть в подробностях фигуру, тепло одетой Полины он не мог, но то, что угадывалось, ему нравилось. Сказать он не решился, но подумал: «Похудеть хочет! На два-три килограмма! Судя по тому, что я вижу, это как раз самые сладкие килограммчики!»
    — А вы не хотите знать, как дела у мамы сейчас? — спросила Полина. Бал отвёл глаза от её прямого взгляда.
    — Надеюсь, что неплохо, — севшим голосом сказал он, — могу даже предположить, что её теперешнего мужа зовут Андрей.
    — Действительно! Андрей! Откуда вы знаете? — удивлённо сказала Полина и недоверчиво посмотрела на Бала.
    — Нет-нет! — поспешил отвести от себя подозрения тот. — Честное слово, справки я не наводил! Я две недели как приехал из Израиля, и ты первая знакомая, кого я встретил. Просто… — он смущённо хмыкнул, — просто, когда мы расставались, Надежда сказала, что тогда выйдет замуж за Андрея, своего одноклассника. Он её со школы любит. Кажется, он ходил в море. Штурманом.
    — Когда они поженились, — испытующе глядя на него, сказала Полина, — он пошёл работать в порт. Докером. Сейчас — бригадир.
    Понимая, что ему, возможно, не совсем удобно расспрашивать, добавила:
    — У меня братишка есть, Проша. Ему уже шестнадцать. Очень способный! — с гордостью сказала она. — Сейчас в Питере учится.
    — Проша, — удивился Бал, — это как же полное имя?
    — Прохор! — строгим голосом сказала Полина и испытующе посмотрела на Бала: как он отреагирует?
    Балу это понравилось: «Молодец! Своих в обиду нельзя давать!»
    — А что?! Красивое имя! — Бал всё же невольно улыбнулся. — Главное, редкое!
    — Вот кто бы говорил! — тоже улыбнулась Полина.
    — А сама ты как? — Бал с делано безразличным видом ковырял вилкой треску, которую, кстати, так и не попробовал. — Замужем? Дети?
    — А! — слегка махнула рукой Полина и тоже начала проявлять повышенный интерес к содержимому своей тарелки.
    — Ты хочешь сказать, — садившимся голосом сказал Бал, — что ты, такая красавица, — и никого…
    — Три года назад я вышла замуж… — Полина сделала паузу, наверно, воспоминания были ей не совсем приятны. — Димка работал у папы в бригаде. Хороший был парень. Ну, выпивал! Думала, после свадьбы — образумится. Не может быть, чтобы я на него не повлияла. А! — она опять махнула рукой. — В общем, терпела почти год. Какие дети! Я его трезвым не видела! Ещё и ревновал! Вот уже два года живу у Ленки, подруги…
    — Бил? — хрипло спросил Бал.
    — Ну, это — нет! — вдруг улыбнулась Полина. — Андрей его предупредил, что голову оторвёт!
    — Молодец! — с облегчением сказал Бал. — Мужик! А сама ты — учишься, работаешь?
    — Я окончила институт! — с гордостью сказала Полина. — Иняз. Сейчас работаю в лицее. Преподаю английский. Ещё я французский знаю, но пока не на том уровне, чтобы преподавать.
    — Здорово! Всегда уважал людей, знающих иностранные языки. Хотя и я знаю — иврит и испанский! Правда, тоже не на том уровне, чтобы преподавать!
    Полина посмотрела на часики.
    — Когда мы сюда шли, — немного поколебавшись, начала она, — я, если помните, сказала, что есть причина, почему я хочу, чтобы вы пришли именно сюда… Вам что, совсем не интересно?!..
    Полина сделала паузу, ожидая его реакции. Но Бал из жизненного опыта усвоил: чем меньше проявляешь любопытство, тем больше шансов его удовлетворить! Поэтому он с самым равнодушным видом пожал плечами, подхватил вилкой кусок трески, внимательно его рассмотрел, перед тем как отправить в рот, и спросил как можно безразличней:
    — И что же это за причина?
    — Здесь, на седьмом этаже, фирма, в которой мама работает бухгалтером. Через несколько минут у неё обеденный перерыв, а обедает она в этом кафе…
    На лице Бала ничего не отразилось. Продолжая машинально жевать и, конечно, не чувствуя вкуса, он сказал вежливым голосом:
    — Вот как?! Буду рад её увидеть!
    Полина, приподняв брови и чуть склонив голову, внимательно посмотрела на него. Бал встретился с ней взглядом и весьма естественно улыбнулся замёрзшим вдруг лицом.
    Они ещё про что-то поговорили, отвечая друг другу невпопад.
    Полина, которая поглядывала на входную дверь, вдруг замолчала на полуслове. Она сделала глазами знак Балу, тот понял, опустил голову и тихо прокашлялся, как будто готовился произносить речь.
    — Привет, доча! — (Господи! Голос — почти не изменился!) — Умница, что пришла! Ты это с кем? Знакомь, знакомь! — (немного игриво).
    Полина сидела с очень серьёзным лицом и старалась не дышать.
    Бал поднял на неё глаза и посмотрел почти жалобно, как будто просил поддержки, потом вздохнул, медленно поднялся и повернулся к Надежде.
    — Здравствуй!
  {% endfilter %}
{% endblock %}
