{% extends template %}

{% set parentTitle = "«Ничего личного» — принцип киллеров. Часть 1" %}
{% set title = "Глава 2. Примерно десять лет назад.Латинская Америка. Круизное судно" %}
{% set pubdate = "13.02.2012" %}

{% block heading %}
  <h1 class="art__title">«Ничего личного» — принцип киллеров</h1>
  <p class="art__title-descr">Часть 1</p>
{% endblock %}

{% block subtitle %}
  <h2 class="art__subtitle">Глава 2. Примерно десять лет назад.<br>
    Латинская Америка. Круизное судно</h2>
{% endblock %}

{% block content %}
  {% filter prose %}
    Раз, два… не успею!.. три… прыжок! Одна пуля всё же зацепила его, вырвав кусочек мяса из левой ляжки.
    От жгучей боли Бал дёрнулся и, не успев сгруппироваться, пальнулся о воду так, что чуть весь дух из себя не вышиб.
    Но плавал, а особенно нырял Бал весьма прилично. Хватанув воздух отбитыми лёгкими, он нырнул и, держа борт судна по левую руку, поплыл в сторону носа.
    Это оказалось одним из обстоятельств, в итоге спасших ему жизнь. Судно стояло на якоре в полумиле от берега. Неподалёку мотались несколько лодок. Кто-то ловил рыбу, кто-то просто катался.
    Нападавшие решили (вполне, впрочем, резонно), что на одной из них могут быть его сообщники, и бросились спускать катер, который тоже был по правому борту, но в корме.
    А Бал оплыл судно спереди и, оказавшись по левому борту, наткнулся на якорную цепь.
    До этого момента Бал боролся за жизнь, как животное, — бездумно и безо всякой надежды. Теперь он понял: есть шанс! Вряд ли преследователи ожидают, что он может вернуться на судно.
    Бал был великолепно тренирован, и в нормальном состоянии подняться по цепи было бы для него плёвым делом, но сейчас…
    Колокольно гудела голова, всё тело болезненно ныло, и всё же, подстёгиваемый отчаянием, он довольно лихо поднялся и, ухватившись за отворот планшира, перебросил себя через фальшборт. Рухнув на палубу, Бал откатился под якорную лебёдку. Особо разлёживаться было нельзя, и, немного отдышавшись, он прокрался вдоль борта и поднялся по трапу на палубу кают первого класса.
    Вдалеке кто-то прошёл, не обратив на него никакого внимания. Но тут Бал сообразил, что капающая с его одежды вода оставляет мокрые следы. Вот чёрт! Надо было срочно чем-то затереть, и Бал толкнулся в первую же дверь. К счастью, оказалось открыто, и он, заскочив в каюту, начал оглядываться в поисках чего-нибудь подходящего…
    Раздался шорох, и Бал понял, что ни одно везение не может продолжаться бесконечно. В глубине каюты за небольшим столом сидел мужчина среднего возраста и плотного телосложения. Он сидел неподвижно (поэтому Бал его и не заметил сразу) и угрюмо, исподлобья смотрел на него.
  {% endfilter %}
{% endblock %}
