{% extends template %}

{% set parentTitle = "«Ничего личного» — принцип киллеров. Часть 1" %}
{% set title = "Глава 7" %}
{% set pubdate = "13.02.2012" %}

{% block heading %}
  <h1 class="art__title">«Ничего личного» — принцип киллеров</h1>
  <p class="art__title-descr">Часть 1</p>
{% endblock %}

{% block content %}
  {% filter prose %}
    — Тебе хорошо! Ты тему сечёшь! А я? Судовой электрик. Я же в этом ни в зуб ногой! А если меня спросят что-нибудь? — сокрушался Дон.
    Они стояли с Балом неподалёку от площади, ожидая, когда подъедут автобусы с моряками, чтобы, смешавшись с ними, пойти на базар.
    — Скажешь, что электричество — это направленное движение таких ма-а-ахоньких частиц… — улыбнулся Бал.
    — Издеваешься? — обиделся Дон.
    — Ну, во-первых — это правда. И потом, если ты так ответишь, точно отвяжутся! — успокоил его Бал. — Всё, пошли. Вон уже автобусы приехали.
    Они не спеша прошлись по торговым рядам и подошли к нужной лавке. Полки были заставлены товаром, продавец, худощавый парень, подскочил к ним и на очень приличном русском спросил, что их интересует.
    — Видик сколько стоит? — поинтересовался Дон.
    Продавец ответил.
    — А если два, скидка будет? — поинтересовался Бал.
    — Десять процентов.
    — Послушай, друг, а если мы возьмём много? — тихо спросил Дон, — Штук пятьдесят. Видиков. Ну и ещё чего-нибудь по мелочи?
    — Вы не шутите? — засомневался продавец.
    — Ага! — развеселился Дон. — Мы, знаешь ли, специально десять тысяч километров сюда добирались, чтобы над тобой пошутить. Дождаться не могли. Пошли, Алекс, он что тут — один?
    (По легенде, Бал сейчас был Алексом, Дон — Виктором, а Блэк, соответственно, — Питом. Испанский знал только Алекс, и то — совсем немного).
    — Подождите! — продавец заволновался. — Я это не решаю, надо говорить с главным. Завтра можете прийти?
    — Мы здесь на ремонте стоим. Так что без проблем. Завтра в это же время — о’кей?
    Они ударили по рукам и разошлись.
    Назавтра, опять дождавшись приезда моряков, Дон с Балом пришли на базар. На этот раз они сразу направились к лавке. Парень уже ждал их.
    — Ну что? — спросил Дон. — Где твой хозяин?
    — Спроси у них, что им точно нужно.
    Арье подошёл незаметно и, остановившись позади ребят, внимательно их разглядывал. Он был среднего роста, худощав, выглядел много моложе своих сорока четырёх. Симпатичное, даже приятное (если смотреть без предубеждения) лицо, спокойный, уверенный взгляд. Рядом стояли два невысоких крепыша.
    — Хозяин спрашивает: что вам надо и сколько? — перевёл продавец.
    (Очень хорошо! Пока переводят, есть несколько секунд подумать.)
    — Скажи, что мы возьмём пятьдесят видиков, штук двадцать плееров и пять магов, только хороших.
    — Как они собираются всё это провезти? — спросил Арье.
    Дон подождал, пока продавец переведёт, и ответил:
    — До парохода — вы, а дальше — уже наша забота. Пусть скажет, сколько эту будет стоить.
    Арье достал калькулятор, несколько минут сосредоточенно считал, потом назвал сумму.
    — И скажи им, что плюс триста долларов за доставку.
    Бал начал торговаться, притом с таким рвением, что все очень скоро перешли на крик. Несколько раз мрачные крепыши напрягались, но, проорав минут десять, стороны все-таки договорились.
    Подошёл Пит (Блэк).
    — Всё нормально? — (Ого! Он даже улыбается! Может ведь, когда хочет!)
    Бал сказал ему результат сделки. Блэк изобразил довольный вид и кивнул.
    — Это — наш старший, — представил Бал. — Пит. И на пароходе — ещё двое в доле.
    — Скажи им, что через три дня всё будет, — велел продавцу Арье и попрощался.
    Когда ребята вышли с базара, Дон напустился на Бала:
    — Ты зачем так торговался? Я уже думал, что до мордобоя дойдёт! И что тогда делать?
    — Молодец, Бал. Всё правильно… — Блэк как обычно был немногословен.
    — Да вы что! — поразился Дон. — Мы же не собираемся, надеюсь, платить!
    — Вот именно! — хмыкнул Блэк.
    — Как ты не понимаешь! — объяснил Бал. — Торговаться надо, будто покупаем. Иначе — подозрительно! — и, чтобы переключить разговор, предложил: — Ребята, пойдём, я вам экскурсию по местам своей трудовой славы сделаю!
    — Без меня, — буркнул Блэк, — полно дел. И вы тоже особенно не шатайтесь. До вечера.
    — А я пойду! — сказал Дон. — Куда поведёшь?
    — В музей святой инквизиции. Посмотришь, как людей мучали-пытали.
    — Жалко, Блэк ушел! — пожалел Дон. — Это же его тема. Но и мы что-нибудь полезное почерпаем. А вообще, Балька, хочу сказать: весёленькие у вас были развлечения!..
    Через три дня они пришли на базар ближе к вечеру. Арье их уже ждал.
    Алекс протянул ему пятьсот долларов аванса.
    — Вот. Как договаривались. Остальное — на пароходе, когда проверим выборочно несколько аппаратов.
    «Пит» стоял рядом и особого интереса к переговорам не проявлял, видимо, полностью полагаясь в этом вопросе на «Алекса». «Виктор» всё время болезненно морщился и тягуче сплёвывал. Иногда он что-то бормотал себе под нос.
    — Что это с ним? — спросил Арье.
    Когда продавец перевёл, «Виктор» зло ругнулся и сказал:
    — Водка, б..ь, палёная!
    — Он водкой отравился! — объяснил «Алекс». — Охота ему было — в такую жару!
    «Пит» с серьёзным и осуждающим видом покачал головой.
    — А! Это здесь запросто! — оживился Арье. — Скажи им, что надо осторожно с этим делом. И ослепнуть можно, и даже умереть. А вообще эти русские пьют как свиньи! Это не переводи.
    «Моряки» сели в тендер, в котором были сложены коробки с товаром. Также в машине были два человека Арье. Сам он с двумя своими крепышами и с переводчиком ехал на другой машине.
    В порту на безлюдном причале их ждала лайба, гружённая ящиками с овощами. Рулевой, худой, неопределенного возраста индеец, почтительно склонился перед Арье. Тот велел своим людям перегрузить коробки на лайбу и отпустил двоих на тендере.
    Потом все перешли на судно, рулевой завёл движок, и они отчалили.
    В море «Виктора» совсем развезло. Он то и дело перевешивался за борт и мучительно травил. Потом, немного очухавшись, попытался завести разговор с двумя молчаливыми охранниками Арье. Те брезгливо отворачивались, но «Виктора» уже понесло.
    Крепыши вопросительно посмотрели на хозяина, но тот только махнул рукой: мол, чёрт с ним, пускай.
    Показались суда, стоящие на рейде. Арье повернулся к ребятам.
    — Где ваше?
    — Сейчас покажу, — Блэк поднялся… Это был сигнал. Дон «дружески» обнял обоих охранников. Тут же Блэк бросился к Арье, а Бал к переводчику…
    Всё было кончено в несколько секунд.
    Дон уже тряс обезумевшего от ужаса рулевого, чтобы тот пришёл в себя. Возможно, он и видел, как убивают, но чтобы сразу четверых! В несколько секунд! Голыми руками!..
    Бал и Блэк быстро обыскали убитых. У всех, кроме переводчика, было оружие, и, хотя это ничего бы не изменило, Бал огорчился: единственный безоружный достался ему.
    Один пистолет он перебросил Дону, и тот для пущей убедительности сунул его под нос рулевого.
    — Хочешь жить — поворачивай в порт и швартуйся в тихом месте. Если на кого-нибудь наткнёмся, ты — первый!
    — Пожалуйста, не убивайте! — молил рулевой, который даже не удивился, что эти страшные пассажиры вдруг заговорили на чистом испанском. — У меня четверо детей, я всё сделаю.
    Он что-то ещё бормотал, но его уже никто не слушал.
    Они пришвартовались на каком-то заброшенном и безлюдном причале.
    — Тут никого не бывает, — сказал рулевой. — Я всё сделал, как вы и просили. Отпустите меня, прошу, вы же обещали.
    — Послушай, Дон! — взволнованно сказал Бал. — Похоже, этот бедолага действительно не при делах, а?
    — Ты, Балька, не забывай: мы не солдаты, пленных не берём, — напомнил Дон. Но и сам, поморщившись, отвернулся, когда к несчастному рулевому подошёл Блэк…
    — Дон! Убери тут, — Блэк пнул ногой пластиковый бак, в котором было ещё по меньшей мере литров десять соляры. — Только не сразу, минут через двадцать.
    — Всё сделаю. Не нуди. Проваливайте! — Дон соскочил на причал и направился к сваленным поодаль обломкам досок.
    — Блэк, может, я ему помогу? — предложил Бал, который чувствовал себя несколько неловко после проявленной слабости. — Вдвоём мы мигом управимся.
    Дон услышал и, повернувшись, крикнул:
    — Да уходите вы! Быстрей! Мне одному спокойней. Ты, Бал, не комплексуй. Всё путём!
    «Ну да! — подумал Бал. — Конечно, всё путём! Знать бы ещё, каким!»
  {% endfilter %}
{% endblock %}
