{% extends template %}

{% set parentTitle = "«Ничего личного» — принцип киллеров. Часть 1" %}
{% set title = "Глава 6" %}
{% set pubdate = "13.02.2012" %}

{% block heading %}
  <h1 class="art__title">«Ничего личного» — принцип киллеров</h1>
  <p class="art__title-descr">Часть 1</p>
{% endblock %}

{% block content %}
  {% filter prose %}
    И всё же полноправным членом группы Бал почувствовал себя не сразу. Прошло около года.
    Ник давал задание. Всю необходимую информацию об очередном объекте и разработанной аналитическим отделом, операции. Доработка и подготовка были делом Блэка.
    Всё было, на первый взгляд, как обычно. Объект обосновался в Латинской Америке, точнее — в N. Промышляет контрабандой. Конкретно — электроникой. Зовут Арье, бывший гражданин Франции. Не Бог весть какая шишка, но всегда вооружён, настороже и в сопровождении также вооружённых бандитов. Обычно — двух.
    Постоянного места проживания нет, маршруты передвижения тоже непостоянные. Имеется только одна зацепка: реализует свой товар на базаре, где у него есть небольшой магазин. Там он иногда появляется, чтобы забрать выручку. Операцию было рекомендовано провести именно на базаре.
    — Несколько дней придётся подождать, — сказал Ник, — поселитесь неподалёку. Как только он появится, вам сообщат, ну и… На базаре относительно спокойно, там даже полиция нечасто появляется, так что осложнений не предвидится.
    Бал, когда ходил в море, несколько раз был на заходе и в этой стране. И ситуация вовсе не виделась ему такой, какой она казалась в изложении Ника. Он покачал головой, чем обратил на себя внимание.
    — В чём дело, Бал? Ты хочешь что-то сказать?
    — Вообще-то да… — осторожно сказал Бал и выразительно посмотрел на Ника. (Дело в том, что по контракту не разрешалось рассказывать про своё прошлое и называть настоящее имя. Ник понял.)
    — Говори, — разрешил он, — только по делу и конкретно.
    — Я был в этой стране на заходах и часто отоваривался на этом базаре. Всё правильно, действительно там спокойно и полиция там не появляется. Твои «головастики» всё правильно рассчитали. Только есть один вопрос: почему? Почему в стране, где просто дикий уровень преступности, где часы с руки могут сорвать буквально с мясом, я сам видел, где за фотоаппарат могут полоснуть бритвой по лицу — на этом базаре тишь да благодать? Почему на базар, который находится в центре города, кстати, рядом с дворцом президента, не заходит полиция? Там можно оставить пакет с вещами — и его никто не возьмёт. Почему?
    — Они там все повязаны. Мы оттуда не уйдём! — догадался Блэк.
    — Ни малейшего шанса… — подтвердил Бал.
    — В чём дело, Ник? — Блэк спросил это абсолютно спокойно, но Ник не решился встретиться с ним глазами и быстро спросил Бала:
    — Ты что-то можешь предложить?
    — Есть одна мысль, — ответил несколько смущённый общим вниманием Бал, — на этом базаре основные покупатели — моряки. Ну а моряки всегда «ченчуют». Раньше в основном по мелочи. А сейчас, когда везде такой беспредел, думаю, никого не удивит, если кто-то закажет крупную партию. Мы можем выдать себя за моряков, заказать партию, скажем, видиков. Суда там стоят на дальнем рейде, самим доставить на борт — нет никакой возможности. Порт охраняют военные. А у этого Арье наверняка есть варианты. Там ходят лайбы с продуктами или со снабжением… На переходе мы его и возьмём.
    — А если он сам не поедет, а пошлёт кого-нибудь из своих? — засомневался Ник.
    — Скажем, что деньги за товар отдадим на пароходе, — поддержал план Дон, — надо, чтобы сумма была приличной. Вряд ли он очень доверяет своей банде. Ты же говоришь, что за выручкой на базар сам приезжает…
    Ник посмотрел на Блэка.
    — Они вооружены, а вам пронести оружие будет невозможно. Проблем не будет?..
    — Ты это серьёзно? — без всяких эмоций поинтересовался Блэк.
    — Ник иногда воображает, что он заведующий в пансионате для благородных девиц! — громким шёпотом объяснил Дон Балу.
    — Да пусть! Мечтать не вредно! — съехидничал тот.
    — Хорошо! Делайте, что хотите! — сокрушённо сказал Ник и махнул рукой.
    — Эх! Люблю я, когда девушки мне говорят: «Ах! Делайте, что хотите!» — Дон мечтательно вздохнул, зажмурился и, сцепив пальцы за головой, откинулся на спинку кресла.
    — И часто они тебе так говорят? — поддержал тему Бал.
    Дон, чуть повернув голову и приоткрыв один глаз, опять вздохнул, на этот раз с сожалением:
    — Реже чем хотелось бы, знаешь!
    Ник хотел что-то сказать, но поперхнулся и закашлялся, то ли от злости, то ли от смеха…
    Блэк встал.
    — В целом — план годится, — он был, как обычно, немногословен, — подробности доработаем. Пусть просчитают ассортимент и количество. Так, чтобы не спугнуть, но чтобы наверняка клюнул. Пошли, ребята!
    Дон поднялся, со вкусом потянулся и заявил:
    — Ник, ты там передай: ещё раз так облажаются — я на них немножко женюсь. Причём на всех сразу!
    — Милый, а как же я? — «заволновался» Бал. — Ты что, меня больше не любишь?
    Они вышли, обнявшись и дурацки хихикая.
    — Клоуны! — добродушно буркнул Ник и облегчённо вздохнул.
  {% endfilter %}
{% endblock %}
