{% extends template %}

{% set parentTitle = "«Ничего личного» — принцип киллеров. Часть 2" %}
{% set title = "Глава 8" %}
{% set pubdate = "22.02.2012" %}

{% block heading %}
  <h1 class="art__title">«Ничего личного» — принцип киллеров</h1>
  <p class="art__title-descr">Часть 2</p>
{% endblock %}

{% block content %}
  {% filter prose %}
    У рассказчика есть преимущество! Поиски и покупка квартиры — занятие нудное, тягомотное и нервное. Даже для тех, кто покупает. Деньги Бала давали возможность не ограничивать себя в выборе, и, преодолев несильные, по правде говоря, возражения Полины, которая предлагала что-нибудь поскромней, они купили новую четырёхкомнатную квартиру недалеко от центра. Для Надежды с Андреем — тоже не менее хорошую, но, по всеобщему молчаливому согласию, совершенно в другом районе. Все эти подробности мы преодолеем очень просто! Итак…
    Примерно через два месяца.
    Бал ползал на коленях по пустой комнате, рулеткой тщательно вымеряя все размеры и записывая их в тетрадку. В соседней комнате Полина разбирала картонные коробки с вещами. Во всей квартире из мебели пока бы только матрас, на котором они и спали.
    — Полинка! — немного громче чем надо позвал Бал. Эхо гулко шарахнулось, и это было чертовски приятно! Потому что напоминало: квартира новая, пустая, и обживать её им ещё предстоит!
    — Полинка! — с удовольствием прислушиваясь, повторил Бал. — Твои когда переезжают?
    — Через неделю. А что?
    — Просто спросил. Со старой квартирой они что делать собираются?
    — Хотят Прошке оставить. Он парень серьёзный, глупости делать не будет. Они поэтому и новую квартиру выбрали в том же районе.
    — Здорово! — обрадовался Бал. — А мы давай купим обстановку и, главное, аппаратуру! Крутую! Я ведь его ещё и не видел, вот и будет ему от нас подарок! А то я голову ломал. Машину — рано… А что ещё парню подарить? Ты согласна?
    — Ты меня просто так спрашиваешь! — засмеялась Полина. — Всё равно ведь сделаешь по-своему!
    — Но тебе же приятно! Твой любимый братик! Кстати, Полинка! А почему я в последнее время не вижу Лену? Твою подругу. И ей надо что-нибудь подарить. Только пусть сама выберет.
    Полина, оставив коробки, зашла в комнату, где возился Бал, и встала у двери.
    — А она, представь себе, уже выбрала!
    Что-то в её голосе должно было насторожить, но весьма благодушно настроенный Бал на это внимания не обратил.
    — Хорошо, что зашла! Придержи конец рулетки, а то у меня всё время срывается.
    Полина подошла, присела и пальцем придержала ленту рулетки.
    — А тебе не интересно, что Ленка выбрала?
    — И что же? — с полным безразличием спросил Бал, записывая в тетрадку очередные цифры.
    — Тебя! — спокойным голосом поведала Полинка. (Спокойным-то спокойным! Но именно с таким «спокойствием» женщины и затевают самые беспощадные скандалы!)
    Бал, в этот момент зажмурив один глаз и наморщив нос, шевелил губами, что-то высчитывая. Повисла пауза.
    — Что?! — дошло до него наконец. — Как — меня?!
    — Ну, не впрямую, конечно! — на остатках терпения объяснила Полина. Она сделала гримаску и противным голосом передразнила свою лучшую подругу: — «А может, у твоего Бала друг есть? Только чтобы такой, как он…» Ноги её больше у нас не будет!
    — Скажи, что меня сделали в единственном экземпляре, а чертежи утеряны! — попытался отшутиться Бал.
    Полина смотрела на него с подозрением: «Чего это ты так веселишься?»
    — Да она и не в моём вкусе вовсе! — чувствуя себя без вины виноватым, начал оправдываться он.
    — Конечно! — оживилась Полина. — Красивая блондинка с классной фигурой — не в твоём вкусе!
    — А вот — не в моём! — посерьёзнел Бал и притянул её к себе.
    Полина обиженно сопела, отворачивалась, дула губки и делала вид, что не замечает, как он расстёгивает пуговички на её кофточке…
    Умиротворённый Бал лежал на матрасе, заложив правую руку под голову. На левом плече лежала Полина и жарко дышала ему в грудь.
    — Полинка! Ты не спишь? — тихо спросил он.
    Она, не отвечая, легонько царапнула его своим маникюром.
    — Знаешь! Я уже сто лет нигде не был! В смысле, чтобы просто отдохнуть, погулять, пофотографироваться! Никуда не торопиться! М-м-м! А ты когда последний раз куда-нибудь ездила?
    — Последний раз я была с родителями на Чёрном море… Сейчас уже не помню, в каком городе. Мне тогда было лет десять… — по голосу Полины было слышно, что она улыбается. — Да! Ещё в прошлом году я ездила со своим классом в Питер. На два дня. Ходили по музеям. Правда, я ничего не видела толком… Надо было следить, чтобы мои охламоны ничего не натворили… Считается?
    Бал осторожно высвободил начавшую затекать руку, повернулся к Полине и ласково убрал волосы с её лица.
    — Послушай! Давай летом «закатимся» куда-нибудь! У тебя когда начинаются каникулы?
    — Каникулы — это у учеников! — важно так поправила его Полина. — А у меня отпуск. И начинается он в начале июля.
    — Значит, у нас будет почти два месяца. Неплохо! Прокатимся две недели по Европе, а потом в Израиль. Я тебе такие места покажу! Кстати! Загранпаспорт у тебя есть?
    — Совершенно случайно есть! — идея Полине явно понравилась. — Ленка звала с ней в Турцию. Пришлось делать паспорт. Поездка сорвалась, а паспорт остался.
    — Вот видишь! — обрадовался Бал. — А ты на Лену обижаешься!
    — Может, хоть в постели не будешь про неё вспоминать? — зловредно зашипела Полина.
    — Так ты же сама… — начал было оправдываться Бал, но понял, что это бесполезно. — Да ладно! Оставь! Завтра дашь мне паспорт. Я другу позвоню! Попрошу помочь с визой…
    Тянуть он не стал. Назавтра же и позвонил Нику…
    Тот обрадовался! После дежурных вопросов про здоровье и про погоду спросил:
    — Ты, небось, попросить хочешь что-то? Давай! Не тяни!
    — А просто так я уже позвонить не могу? — осторожно «обиделся» Бал.
    — Дождёшься от тебя! Как же… — ворчал Ник. — Говори уже!
    — Хорошо! У меня к тебе действительно есть просьба…
    — Только не говори, что во что-то вляпался! — перебил Ник.
    — Послушай! Я серьёзно! — вздохнул Бал. — Кого мне просить кроме тебя?
    — Конечно, Бал! — посерьёзнел Ник. — Всё что в моих возможностях…
    — В твоих! Я думаю, в твоих! Понимаешь, я хочу со своей невестой приехать в Израиль. А с визами в таких случаях… Сам знаешь… Вот и решил: попрошу тебя. Ну! Как?
    — Да без проблем! — Ник обрадовался, что действительно может помочь. — Паспортные данные давай. И сразу говори: вы только в Израиль едете?
    — Хочу в Прибалтику заехать, а потом, конечно, в Париж!
    — Бал! Ты что, смеёшься? Что значит в Прибалтику? Куда конкретно? Отсталый ты человек!
    — Тьфу ты, чёрт! Никак не привыкну! В Латвию! Я раньше часто в Риге бывал. Хочу посмотреть, как сейчас там.
    — Лады! Ну, твои данные у меня есть, давай невесты своей диктуй! Записываю.
    Когда Бал назвал год рождения Полины, Ник неожиданно «взвился»:
    — Что-о-о-о?! Да ты с ума сошёл! Ты что, не понимаешь? Девочка тебя как «паровоз» использует! Бросит потом, дурня, и «ищи-свищи»! Тут, извини, я тебе не помощник! Не хочу потом чувствовать себя виноватым!
    — Ник! Послушай! Это совсем не то, что ты там себе думаешь! Я её много лет знаю!
    — Точно спятил! — вздохнул Ник. — Каких таких «много лет»?! Ты же там пару месяцев! Совсем уже!..
    — Ник! — терпеливо сказал Бал. — Я сейчас здесь пару месяцев. Это правда! Но Полинку я знаю много лет. И это тоже правда! Потом как-нибудь объясню. Записывай давай! Не зли…
    — Ну смотри! На твою ответственность! Но если она здесь «крутнётся», я ей такое устрою… Не позволю никому, даже красивым девушкам… Она же красивая? — Бал подтверждающе вздохнул. — Никому не позволю моих друзей обижать! Даже тех, которые мне хамят!
    — Я не хамлю! — запротестовал Бал. — Ты же меня знаешь!
    — Вот именно! — подытожил разговор Ник.
    Можно, конечно, сказать, что они с нетерпением ждали лета… Но они не скучали. Бал с удовольствием возился по дому и даже научился готовить! Правда, это получалось у него с переменным успехом. Пока он жил с Галиной, готовила она, он и не совался, а когда жил один, перебивался по-разному, меньше всего заботясь о вкусе того, что ест.
    Сейчас же его интересовал не только вкус того, что он готовит, но и то, как блюдо смотрится! И то и другое удавалось ему не всегда, а уж вместе — так совсем редко. Но Полина, не привыкшая к такой заботе, всё хвалила и утешала Бала, когда фиаско было слишком очевидным.
    Бал даже стал ходить в тренажёрный зал! Причём усердствовал там так же, как и в постели с Полинкой. Его теперь на всё хватало.
    Иногда они ходили в гости. Бал нашёл двух друзей, с которыми раньше ходил в море.
    У обоих, слава Богу, были вполне благополучные семьи. У одного уже даже была внучка. Конечно, по их мнению (а скорее, по мнению их жён), Полина была слишком молода и чересчур красива! Но они прощали ей это, видя, с каким обожанием парочка смотрит друг на друга…
    А когда они бывали в компании Полининых друзей, Бал так непосредственно хохмил и так лихо отплясывал, что молодёжь охотно прощала ему и вызывающую седину, и слишком красивые, чтобы быть настоящими, зубы.
    Правда, не обходилось без недоразумений…
    Как-то на свадьбе у Полинкиной подруги Бал так выплясывал с пьяненькой и поэтому «отвязанной» девчонкой, что её кавалер предложил ему «выйти подышать воздухом».
    (Давайте не будем сразу думать о человеке плохо и предположим, что двоих дружков он пригласил, чтобы они полюбовались, как он сейчас разделается с этим «сорокотом»!)
    Парень был в приличном подпитии, присутствие друзей придавало ему решительности и дерзости, поэтому с темой тянуть не стал.
    Он сделал очень эффектное движение головой, которое, по-видимому, должно было свидетельствовать о серьёзности его намерений, взял Бала за грудки и задал традиционный вопрос:
    — Ты что?!
    Собственно, и всё! Через секунду он стоял в нелепой позе с вывернутой рукой, а Бал почти добродушно обращался к его дружкам:
    — Ребята! Предлагаю два варианта решения проблемы. Первый: вы не дёргаетесь, и мы расходимся мирно. По-другому: я ломаю вашему товарищу руку и занимаюсь вами… Обещаю: вы убедитесь, что ваш дружок ещё легко отделался! Итак?!
    — Отпусти! Гад! Больно… — простонал ревнивец.
    — Будем считать, что вы выбрали первый вариант! — Бал не стал придираться к форме, в которой была изложена просьба, и отпустил вывернутую руку.
    Видя, что парень болезненно морщится, Бал участливо посоветовал:
    — Потри плечо! Через пару минут пройдёт. И если тебе от этого станет легче, можешь сказать своей девушке, что я попросил прощения! Я действительно не хотел никого обидеть…
    — Интересно! А если бы хотел?! — пробормотал со злостью, но и с уважением протрезвевший парень. Бал усмехнулся…
    Когда они все вместе возвращались назад, на них буквально налетела взволнованная Полина. Со злостью оттолкнув шедших первыми парней, она бросилась к Балу.
    — Что они с тобой сделали?
    — Ты о чём?! — очень искренне удивился Бал.
    — Мне сказали, что тебя потащили драться!
    Парни топтались тут же и чувствовали себя неуютно под недобрым взглядом Полинки.
    — Ты что?! — ахнул Бал и сделал большие и честные глаза. — Эти милые ребята?! Мы выходили покурить!
    — Ты же не куришь! — Полина теряла терпение.
    — Да! И они не курили… Я им объяснил, что курить вредно. Мы мило пообщались… Кстати, ребята! Вы идите, идите… Спасибо за компанию!
    Те, что-то буркнув, отчалили.
    — Правду ты, конечно, не скажешь? — спросила уже спокойно Полина.
    — Постой! — вдруг сообразил Бал. — Ты что! Бежала меня выручать?!.. Ну да! Я забыл, ты же своих не сдаёшь!
    Как-то Бал встречал Полину после работы. Уже подходя к лицею, он увидел её сидящей на скамейке в окружении подростков, по всей видимости, учеников. Три девчонки и два парнишки лет по пятнадцать.
    Когда Полина увидела его, её лицо стало жалобным, как будто она собиралась заплакать.
    — Что случилось? — забеспокоился Бал и посмотрел на ребят.
    В свою очередь, они рассматривали его с внимательной бесцеремонностью, свойственной их возрасту.
    — Балька! — захныкала Полина. — Я ногу вывихнула!
    — Полина Андреевна на лестнице поскользнулась… — объяснила одна из девчонок, а один из парней прокомментировал: «Ещё бы! На таких каблучищах! Убиться же можно!» — Мы хотели скорую вызвать, а она сказала, что вас дождётся.
    Бал присел около скамейки.
    — Я посмотрю?
    — Ой! Болит! — заволновалась Полина, хотя Бал даже ещё не дотронулся.
    — Я тихонько…
    Бал медленно расстегнул «молнию» на сапожке и осторожно снял его. Потом пальцами легонько пробежался по лодыжке. У Полины был вид человека, готового к чудовищным и незаслуженным мукам.
    Когда Бал осторожно покачал её ступню, Полина вскрикнула, вместе с ней солидарно ойкнули девчонки, а мальчишки сочувственно поморщились.
    — Больно?! — насторожился Бал.
    — Нет! Страшно! — призналась Полина.
    Бал облегчённо вздохнул и выпрямился.
    — У тебя, малыш, не вывих, а просто растяжение! Неприятно, конечно, но не более того! Тугая повязка, ну и несколько дней придётся походить в тапочках. Больничный возьмешь.
    — А вы что? В этом понимаете? — с невольным кокетством спросила одна из девчонок.
    Бал уже было открыл рот — сказать, что «уж в женских ножках он разбирается», — но вовремя спохватился.
    — И в этом — тоже! Так что не беспокойтесь — ничего страшного!
    — Ага! — всхлипнула Полина, которая сейчас меньше всего чувствовала себя учительницей. — Мы завтра в театр собирались… Билеты теперь пропадут!
    У девчонок был сочувственно-жалостливый вид, а мальчишки хмурились и откровенно скучали. Нет! На подвиг — они всегда пожалуйста! А тут, оказывается, их красивая и вообще-то любимая «училка» расхныкалась, понимаешь, из-за ерунды!
    — Ребята! — выручил их Бал. — Поймайте такси, пожалуйста. На всякий случай заедем в травмпункт, всё равно надо больничный для работы.
    Дома Полина лежала в зале на диване, укрытая пледом, и, выложив забинтованную ногу на подушку, с удовольствием капризничала. Бал с не меньшим удовольствием мотался между кухней и залом, предлагая Полинке что-нибудь вкусненькое, и то и дело подсаживался на диван, чтобы пожалеть больную. А ночью повязка совсем и не мешала!
  {% endfilter %}
{% endblock %}
