{% extends template %}

{% set parentTitle = "Синдром памяти" %}
{% set title = "Глава 1. Начало девяностых" %}
{% set pubdate = "04.03.2012" %}
{% set prev = "delf/baikonur-4" %}

{% block preface %}
  {% filter ins %}
    {% filter prose("short") %}
      В этой повести есть описание очень жестоких сцен. К сожалению, не придуманных. Впечатлительным людям, пожалуй, лучше не читать.
      Зачем? Зачем вообще писать на такие темы? Ведь мир вокруг нас полон насилия и жестокости! И есть другие темы, красивые и сентиментальные, нежные и проникновенные! И как, описывая зверства, не скатиться к цинизму, к смакованию кровавых сцен? Не переборщил ли автор, не пугает ли?
      Ответ у меня есть. Если о ЗЛЕ не говорить, его не станет меньше. Неприятно, страшно, противно… но кто-то же должен! И почему не я? Достаточно посмотреть <a href="//www.youtube.com/watch?v=c7iZMJK-7k8" target="_blank" rel="nofollow">сюжет</a>, чтобы убедиться, что ничего я не преувеличила.
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter prose %}
    Только Бустан с его азиатским терпением мог высмотреть среди скал дозор духов. Часа два лежал, почти не шелохнувшись, не отрываясь от прибора ночного видения. Я несколько раз пихал его в бок, думал, что он прикемарил. Бустан только шипел, как возмущённая змея.
    Ну а потом — дело техники. Двух дозорных снял из бесшумки наш снайпер, и мы накрыли банду в их норах. Стреляли только в упор. Надежда, слабая, конечно, но была. Что мы хоть кого-то из похищенных найдём живым.
    Неделю назад духи санчасть разгромили. Не посмотрели на то, что там и местным в помощи не отказывали. Хотя, может быть, как раз поэтому и разгромили. Такие вот понятия.
    Троим офицерам-врачам, как это ни страшно прозвучит, можно сказать, повезло. Им просто перерезали горло. А двух девчонок-медсестёр мы в одной из нор нашли. Их как звери дикие терзали…
    — Это не мусульмане! — гортанно кричит Бустан. — Зверьё!
    …Всё начинает плыть. И я понимаю, что это опять тот проклятый сон, который преследует меня уже много лет.
    Мне как человеку, солдату, мужчине в конце концов, невыносимо сознание того, что мы тогда не успели. Не должны молодые девчонки умирать такой страшной смертью.
    Сон не кончается, и я понимаю, что пока не досмотрю его до последней секунды, он меня не отпустит.
    Вот мне навстречу идёт Чистый. А я знаю, что он мёртвый. И как он умер, тоже знаю. Одна наша разведгруппа в засаду попала. Все погибли, а его, раненого, духи захватили.
    Спецназ они люто ненавидели. Это у нас по взаимности. Мы Чистого потом со столба снимали. Не человек — обрубок. Люди такое сделать не могут. Самое страшное, что он был ещё живой. Даже в сознании. Наверно, ему вкололи что-то, чтобы дольше мучился. Наш сержант перекрестился и застрелил его. Это было всё, что мы могли для него сделать.
    Вот наш комвзвода Белый кричит что-то беззвучно. Его под Шиндандом снайпер застрелил. Мы тогда в одном кишлаке с «чёрными аистами» столкнулись. Это спецназ духов…
    Усилием воли вырываю себя из сна. А может, это и не сон вовсе. Это память моя меня не отпускает. Ладно Чистый и комвзвода, тут понятно, но почему мне снятся всё время эти безымянные и безликие девчонки? Что-то это же должно значить?
    Но сейчас я проснулся с чувством, что сегодня произойдёт что-то. Что-то, чего я жду, сам того не осознавая.
    Лежу. В темноту пялюсь.
    В моей каморке вообще на философию тянет. Окон в ней нет. В любое время дня и ночи — темнота абсолютная. Диоген бы от зависти помер! Что же этот сон значит? Но сегодня после него у меня нет обычного тягостного чувства. Что-то должно измениться!
    Так, в общем, почти обычно, начался тот день. День, когда я встретил Оленьку.
    Если я уже начал рассказывать, то давайте скажу немного о себе.
    Сергеев Родион Олегович. 1966 года рождения, это сколько мне сейчас получается? Двадцать семь. Молодой? А это как посмотреть. В восемьдесят четвёртом призвали в армию. Полгода в учебке, а потом Афган. Сначала десантный полк. Потом спецназ. Остался на сверхсрочную. Не мог ребят бросить. Вышел с последним батальоном. Орден Красного знамени и две медали. Одна за ранение.
    После службы — из огня да в полымя. В бандиты звали. И в менты звали. А я столько смертей видел, и эти девчонки снятся всё время.
    Вернулся домой, в Брянск. У отца школьный друг — комендант общежития. Взял к себе завхозом. Вот, каморку выделил.
    Здесь, наверно, раньше инвентарь хранился, ему окна без надобности. Да и я темноты не боюсь. Только Петру Васильевичу, коменданту, сказал, что неплохо бы в комплекте с каморкой и прибор ночного видения выдать.
    Завхоз из меня, если честно, никакой. Я ведь кроме как воевать ничего не умею. Хотя нет. Ещё машины водить умею. Причём любые. Нас специально обучали. Входило в программу, так сказать.
    На «боевые» я успел «девятку» купить. Потом все сбережения — медным тазом. Как у всех. Ну не жить же мне с родителями в однокомнатной квартире. У нас ещё дом в пригороде. Совсем буржуи! Но далеко от работы. Так что каморка — это просто моё спасение. Спасибо Петру Васильевичу!
    Зарплата, конечно, маленькая. Вот я и «бомблю». Извозничаю. Точку присмотрел около вокзала. Там всегда можно взять клиента. Конечно, таксисты всё контролируют, но после нескольких попыток «повлиять» они поняли, что для здоровья полезней оставить меня в покое. Всё прошло под девизом «Что с контуженного взять?». Если честно, мне по барабану их впечатления. В общем, у нас нейтралитет.
    «Девятку» ребята из автосервиса так наладили — бегает как молодая. Там у них за старшего парень из наших. «За речкой» мы не пересекались, но это не принципиально. Своих не бросаем.
    Лицензии на извоз у меня нет, но менты не трогают. Вошли в положение. Всегда можно договориться, было бы желание.
    В тот вечер я успел сделать несколько ходок и уже собирался вернуться домой…
    Наверно, это судьба. Сам не знаю, зачем вернулся на вокзал ещё раз. Все клиенты уже разъехались. Следующий поезд часа через два, а меня как магнитом.
    Она стояла бледная и несчастная…
    Глаза испуганные, прижимает к себе мальчонку лет трёх. Из вещей — полупустая сумка.
    Около неё крутится Витёк. Это таксист. Та ещё гнида. Один из тех, кто на меня пытался «влиять». Так что насчёт моих методов убеждения ему объяснять не надо.
    Я подошёл поближе. Сам не знаю зачем. Наверно, слишком обречённый вид был у молодой женщины. Обратил ли я внимание, что она не только молодая, но и очень красивая? Наверно, чисто мужским чутьём я это почувствовал. А сейчас она была для меня просто испуганной девчонкой, которой нужна моя помощь.
    Тогда в Афгане, когда мы раздолбали лагерь духов и нашли там двух наших девчонок, помощь им уже была не нужна.
    А тут вот она! И я могу ей помочь.
    — Ну что, девушка! — изгалялся Витёк. Он стоял ко мне спиной, а я даже после ранения хожу бесшумно. — Денег нет — натурой возьму!
    Наверно, и меня она приняла сначала за одного из таксистов и ничего хорошего не ждала. В её взгляде застыло отчаяние.
    Только Бустан с его азиатским терпением мог высмотреть среди скал дозор духов. Часа два лежал, почти не шелохнувшись, не отрываясь от прибора ночного видения. Я несколько раз пихал его в бок, думал, что он прикемарил. Бустан только шипел, как возмущённая змея.
    Ну а потом — дело техники. Двух дозорных снял из бесшумки наш снайпер, и мы накрыли банду в их норах. Стреляли только в упор. Надежда, слабая, конечно, но была. Что мы хоть кого-то из похищенных найдём живым.
    Неделю назад духи санчасть разгромили. Не посмотрели на то, что там и местным в помощи не отказывали. Хотя, может быть, как раз поэтому и разгромили. Такие вот понятия.
    Троим офицерам-врачам, как это ни страшно прозвучит, можно сказать, повезло. Им просто перерезали горло. А двух девчонок-медсестёр мы в одной из нор нашли. Их как звери дикие терзали…
    — Это не мусульмане! — гортанно кричит Бустан. — Зверьё!
    …Всё начинает плыть. И я понимаю, что это опять тот проклятый сон, который преследует меня уже много лет.
    Мне как человеку, солдату, мужчине в конце концов, невыносимо сознание того, что мы тогда не успели. Не должны молодые девчонки умирать такой страшной смертью.
    Сон не кончается, и я понимаю, что пока не досмотрю его до последней секунды, он меня не отпустит.
    Вот мне навстречу идёт Чистый. А я знаю, что он мёртвый. И как он умер, тоже знаю. Одна наша разведгруппа в засаду попала. Все погибли, а его, раненого, духи захватили.
    Спецназ они люто ненавидели. Это у нас по взаимности. Мы Чистого потом со столба снимали. Не человек — обрубок. Люди такое сделать не могут. Самое страшное, что он был ещё живой. Даже в сознании. Наверно, ему вкололи что-то, чтобы дольше мучился. Наш сержант перекрестился и застрелил его. Это было всё, что мы могли для него сделать.
    Вот наш комвзвода Белый кричит что-то беззвучно. Его под Шиндандом снайпер застрелил. Мы тогда в одном кишлаке с «чёрными аистами» столкнулись. Это спецназ духов…
    Усилием воли вырываю себя из сна. А может, это и не сон вовсе. Это память моя меня не отпускает. Ладно Чистый и комвзвода, тут понятно, но почему мне снятся всё время эти безымянные и безликие девчонки? Что-то это же должно значить?
    Но сейчас я проснулся с чувством, что сегодня произойдёт что-то. Что-то, чего я жду, сам того не осознавая.
    Лежу. В темноту пялюсь.
    В моей каморке вообще на философию тянет. Окон в ней нет. В любое время дня и ночи — темнота абсолютная. Диоген бы от зависти помер! Что же этот сон значит? Но сегодня после него у меня нет обычного тягостного чувства. Что-то должно измениться!
    Так, в общем, почти обычно, начался тот день. День, когда я встретил Оленьку.
    Если я уже начал рассказывать, то давайте скажу немного о себе.
    Сергеев Родион Олегович. 1966 года рождения, это сколько мне сейчас получается? Двадцать семь. Молодой? А это как посмотреть. В восемьдесят четвёртом призвали в армию. Полгода в учебке, а потом Афган. Сначала десантный полк. Потом спецназ. Остался на сверхсрочную. Не мог ребят бросить. Вышел с последним батальоном. Орден Красного знамени и две медали. Одна за ранение.
    После службы — из огня да в полымя. В бандиты звали. И в менты звали. А я столько смертей видел, и эти девчонки снятся всё время.
    Вернулся домой, в Брянск. У отца школьный друг — комендант общежития. Взял к себе завхозом. Вот, каморку выделил.
    Здесь, наверно, раньше инвентарь хранился, ему окна без надобности. Да и я темноты не боюсь. Только Петру Васильевичу, коменданту, сказал, что неплохо бы в комплекте с каморкой и прибор ночного видения выдать.
    Завхоз из меня, если честно, никакой. Я ведь кроме как воевать ничего не умею. Хотя нет. Ещё машины водить умею. Причём любые. Нас специально обучали. Входило в программу, так сказать.
    На «боевые» я успел «девятку» купить. Потом все сбережения — медным тазом. Как у всех. Ну не жить же мне с родителями в однокомнатной квартире. У нас ещё дом в пригороде. Совсем буржуи! Но далеко от работы. Так что каморка — это просто моё спасение. Спасибо Петру Васильевичу!
    Зарплата, конечно, маленькая. Вот я и «бомблю». Извозничаю. Точку присмотрел около вокзала. Там всегда можно взять клиента. Конечно, таксисты всё контролируют, но после нескольких попыток «повлиять» они поняли, что для здоровья полезней оставить меня в покое. Всё прошло под девизом «Что с контуженного взять?». Если честно, мне по барабану их впечатления. В общем, у нас нейтралитет.
    «Девятку» ребята из автосервиса так наладили — бегает как молодая. Там у них за старшего парень из наших. «За речкой» мы не пересекались, но это не принципиально. Своих не бросаем.
    Лицензии на извоз у меня нет, но менты не трогают. Вошли в положение. Всегда можно договориться, было бы желание.
    В тот вечер я успел сделать несколько ходок и уже собирался вернуться домой…
    Наверно, это судьба. Сам не знаю, зачем вернулся на вокзал ещё раз. Все клиенты уже разъехались. Следующий поезд часа через два, а меня как магнитом.
    Она стояла бледная и несчастная…
    Глаза испуганные, прижимает к себе мальчонку лет трёх. Из вещей — полупустая сумка.
    Около неё крутится Витёк. Это таксист. Та ещё гнида. Один из тех, кто на меня пытался «влиять». Так что насчёт моих методов убеждения ему объяснять не надо.
    Я подошёл поближе. Сам не знаю зачем. Наверно, слишком обречённый вид был у молодой женщины. Обратил ли я внимание, что она не только молодая, но и очень красивая? Наверно, чисто мужским чутьём я это почувствовал. А сейчас она была для меня просто испуганной девчонкой, которой нужна моя помощь.
    Тогда в Афгане, когда мы раздолбали лагерь духов и нашли там двух наших девчонок, помощь им уже была не нужна.
    А тут вот она! И я могу ей помочь.
    — Ну что, девушка! — изгалялся Витёк. Он стоял ко мне спиной, а я даже после ранения хожу бесшумно. — Денег нет — натурой возьму!
    Наверно, и меня она приняла сначала за одного из таксистов и ничего хорошего не ждала. В её взгляде застыло отчаяние.
  {% endfilter %}
{% endblock %}
