{% extends template %}

{% set parentTitle = "Синдром памяти" %}
{% set title = "Глава 4" %}
{% set pubdate = "04.03.2012" %}

{% block content %}
  {% filter prose %}
    Через три дня, когда всё было готово, я вроде как случайно «проговорился» при Витьке про дом в посёлке. Оленьку он же видел, и вывод сделать нетрудно. Бандиты землю рыли, нас разыскивая. А Витёк не упустит возможность со мной поквитаться.
    Тут у меня сомнений не было, как и в том, что наверняка у бандитов есть связи с ментурой и узнать адрес им труда не составит.
    Так что можно ждать «гостей». Они себя долго ждать не заставили. Пожаловали уже на следующий день, или, точнее, ночь. На двух мерсах.
    То, что это были именно они, тоже сомнений не вызывало. На мерсах теперь только бандиты и разъезжают. А в наш забытый Богом и людьми посёлок вела только одна дорога. Ну какие в глубинке дороги? На тракторе, конечно, без проблем, а на легковушке, хоть и мерсе, только потихонечку!
    Поэтому убедиться, что это именно те, кого мы ждём (в обеих машинах — молодые крепкие ребята), перегородить дорогу, забросать машины сначала бутылками с краской, а потом и с зажигательной смесью — было делом буквально минутным.
    Эти урки дешёвые просто не понимали, с кем в войнушку поиграть затеяли!
    Пока тачки догорали, мы переловили обалдевших от неожиданности бандитов. Особенно не церемонились. Тех, кто пытался сопротивляться, жёстко вырубали. Они же не с поздравительными открытками в гости ехали.
    Восемь бойцов, четверо с волынами.
    Бурый даже заметил с плохо скрываемой завистью:
    — Родина, — (так меня зовут друзья), — и за что это тебе такая уважуха? Они же про нас не знали. Получается, вот этим коллективчиком — на тебя одного?
    Мы быстро выяснили, кто тут за старшего (бригадира). Остальных связали и оттащили в соседний лесок. Места тут тихие. Сгоревшие машины раньше утра не заметит никто. Так что времени проветрить мозги у этих уродов будет достаточно.
    Со старшим начали «общаться». Надо было выяснить, как выйти на их хозяина. Чтобы закрыть проблему окончательно.
    — Слушай сюда, падла! — встряхнул я и без того помятого бригадира. — Или сам нам сейчас всё подробненько расскажешь, или с тобой вот он, — киваю на Лютого, — побеседует. Только учти, у него самые крутые духи в штаны обделывались…
    Ярость захлёстывает меня, и опять наваливается каморочная темнота. Слышу женский крик, мне кажется, это что-то кричит Оленька. Мелькает мысль: «А как она здесь оказалась?» Меня кто-то трогает, как сквозь вату слышу чьи-то голоса, и опять мерещится взволнованный голос Оленьки.
    Да что это со мной?
    Мучительно застонав, не открываю, а буквально раздираю непослушные веки. Перед глазами всё как в тумане.
    Сквозь этот туман вижу склонившихся надо мной мужчину и женщину. Лиц я не различаю, но женщина, наверно, и есть моя Оленька.
    Значит, её голос мне не померещился. Где я? Что со мной? Кажется, я лежу на какой-то кровати. Наверно, я всё же вырубился, и ребята отвезли меня в больницу. Значит, этот незнакомый дядечка — доктор. Да! Точно! Белое пятно — это его халат.
    — Что со мной? — я сам с трудом слышу свой шёпот.
    — А с вами, батенька, — точно доктор, только доктора всегда вставляют в свою речь всякие дурацкие словечки типа вот этого «батенька», — самое настоящее чудо! Вы как относитесь к чудесам?
    Злость на его неуместное чувство юмора придаёт мне силы.
    — Хреново отношусь к чудесам! — информирую уже чуть-чуть окрепшим голосом. — И к шуткам дурацким отношусь хреново!
    Но доктор и не думает обижаться:
    — Прекрасно, батенька! Вы даже себе не представляете, как всё прекрасно!
    Положительно, он нахально испытывает моё терпение, пользуясь моей же непонятной беспомощностью.
    У меня немного проясняется в глазах. Я уже почти нормально вижу и сияющее лицо доктора, и взволнованные глаза моей Оленьки.
    Кстати, а почему она молчит? Наверно, за меня испугалась!
    А доктор продолжает с возмущающим меня весельем:
    — Оставляю вас с сестричкой, мне надо срочно Акбаю Батыровичу, спонсору нашему, позвонить!
    Он уходит, напевая себе что-то под нос.
    А у меня сразу куча вопросов. Почему он назвал Оленьку сестричкой? Какой такой спонсор? И почему имя Акбай Батырович мне мучительно знакомо?
    Делаю попытку приподняться, но у меня получается только немного пошевелиться.
    Оленька берёт меня за руку.
    — Оленька! — может, она мне всё объяснит. — Что со мной? И вообще, как ты, как Димка? Ребята где?
    Оленька выпускает мою руку и отстраняется. В глазах изумление.
    — А откуда вы знаете, как меня зовут? И про Димку?
    Всё ясно! Тут кто-то сошёл с ума! Тут все сошли с ума! А единственный нормальный человек лежит беспомощный. Или они меня разыгрывают? Только зачем?
    — Оленька! — наверняка моё изумление сейчас нисколько не меньше, чем её! — Оленька! Почему ты вдруг называешь меня на «вы», и вообще, что произошло?
    — Обещайте не волноваться… — начинает Оленька, и я вскипаю от злости:
    — Прекрати говорить мне «вы»! — яростно сверкаю глазами, это сейчас единственно доступный мне способ выразить своё возмущение. — И почему я должен волноваться?!
    Оленька колеблется, но потом решается:
    — Вы, то есть ты, в восемьдесят девятом получил осколочное ранение в голову. Почти четыре года в коме… и вот… Но я с вами, то есть с тобой, только последние три месяца! — извиняющимся голосом добавляет она.
    Наверно, что-то происходит с моим лицом, потому что Оленька пугается:
    — Я, наверно, не должна была это говорить. Тебе плохо?
    Возвращается доктор. Он улыбается ещё шире и ещё радостней потирает руки.
    — Акбай Батырович так обрадовался, так обрадовался! Сказал, что первым самолётом вылетает. Завтра к вечеру будет!
    — Акбай Батырович, — наконец-то доходит до меня, — так это же…
    — Бустан! — подсказывает Оленька. — Твой друг из Узбекистана, он бизнесмен и очень больнице помогает…
    — Давайте, батенька, займёмся вами! — берётся за дело доктор. — Будем вас приводить в порядок!
    Надо всё как-то осознать, и я почти не обращаю внимания на возню вокруг меня.
    Послушно пью лекарства, терплю уколы и капельницы. В голове каша. Но всё время ищу взглядом Оленьку. К счастью, она от меня не отходит ни на минутку. И наверняка её присутствие, её ласковый взгляд и прикосновения тёплых ладоней сейчас для меня и есть самое лучшее лекарство!!!
  {% endfilter %}
{% endblock %}
