{% extends template %}

{% set parentTitle = "Ни фига себе поездочка! "%}
{% set title = "Глава 3" %}
{% set pubdate = "06.01.2012" %}

{% block heading %}
  <h1 class="art__title">{{parentTitle}}</h1>
  <p class="art__title-descr">или</p>
  <p class="art__title">Отдых по-миллионерски</p>
{% endblock %}

{% block content %}
  {% filter prose %}
    В порту одной из стран Южной Америки (вы уже знаете, почему я не могу уточнять) яхта стала на якорь, и нас на катере перевезли на берег.
    Конечно, ужасно интересно посмотреть, как живут в стране, в которую попадаешь случайно и вряд ли когда ещё попадёшь.
    Город основан ещё конкистадорами. Сейчас это огромный мегаполис с населением на два Израиля.
    А люди с виду мало чем отличаются от европейцев (потом я узнала: это потому, что большинство — потомки эмигрантов. Целые колонии немцев и украинцев, да и других хватает). Но нрав куда как горячей. Особенно это видно на дороге. В смысле — у водителей.
    Мало что не делает за рулём южноамериканский водитель. Как он при этом ещё и ведёт машину — для меня полная загадка.
    Когда мы ехали куда-нибудь (Пупс всегда брал в аренду машину вместе с водителем. В основном, что-то вроде микроавтобуса. Лимузинов там просто не было), я просила Пупса, чтобы он запрещал водителю во время поездки с нами разговаривать.
    Ладно бы разговаривал — так он всё время оборачивается и жестикулирует! А рядом, спереди и сзади, — такие же, как он… (удержусь от эпитета). Но бедняга, посидев с минуту молча, просто выходил из строя. Приходилось терпеть этот экстрим.
    Слава Богу, почти все улицы с односторонним движением. Потому что очень узкие, и по-другому никак! То ли конкистадоры всё это предусмотрели, то ли просто так случайно получилось.
    Израильские пешеходы, которые, не повернув головы и не прекращая разговор по мобильнику, с дебильной смелостью ступают на пешеходный переход, гибли бы там пачками.
    Машины на поворотах не тормозят, и ещё водитель облает чудом оставшегося в живых пешехода. А тот, не возражая, постарается испариться. Наши ребята, все водители, завистливо вздыхали и как-то само собой вспоминали всякие истории, где их обидели пешеходы.
    Полное отсутствие дворов и даже подворотен. Сплошь стены домов. Большие площади. На каждой — гигантские скульптурные композиции. Кстати, очень красивые.
    Много зданий готического стиля. Интересно, эти высоченные шпили для чего? Никакого практического применения не вижу.
    Ну, про музеи и прочие достопримечательности вряд ли интересно рассказывать. Вот посмотреть — интересно.
    А когда мы бродили по городу, в фешенебельном районе наткнулись на любопытный магазин. Всё в этом магазине было сделано из кожи крокодилов и змей. Начиная с ремешка для часов и до мебели. Да-да! Представляете диванчик из шкуры змеи? Точнее, конечно — змей. Цену даже не пытайтесь представить!
    Я стала посреди зала и, подняв руки над головой кольцом, закачалась и зашипела, изображая кобру. Пупс сказал, что похоже, а Валька добавила, что я бы здорово украсила витрину. Если уж точно — она сказала так:
    — Аленька! Твоё чучело в витрине привлекло бы массу покупателей!
    Я ответила, что ей видней, потому что, собственно, «чучело» — её профессия.
    Да Бог с ней. Лучше расскажу историю с витриной, коль уж речь зашла.
    Мы с Котиком вдвоём шли мимо шикарного магазина одежды. В витрине вместо манекенов были живые девушки. Естественно, очень красивые. Дело происходило следующим образом.
    Девушка проходила в одну сторону в купальнике, брала шубку, одевала и дефилировала обратно. Потом очень эротично снимала шубенцию. Так и ходила туда-сюда. Надо признать — действительно впечатляюще. Стройные ножки на шпилечках. Хорошенькие девочки в бикини…
    Мой Котик так засмотрелся, что с размаху налетел на столб. Приложился — будь здоров! На следующий день у него под левым глазом такой шикарный фингал образовался — любо-дорого!
    У меня самой лучше бы не получилось. Валька, когда узнала причину, сказала, что на моём месте подсветила бы и вторую сторону. Для симметрии.
    Я прямо её зауважала и вечером во время ужина два раза назвала Виолеттой и разок даже Виолетточкой.
    Кент тоже оценил фингал и сказал мне, что хоть он как тренер гордится моими успехами, но если я буду распускать руки, тренировать меня больше не будет.
    Моим возмущённым оправданиям он не больно-то и поверил.
    Пришлось притащить Кота, поставить перед народом, и тот, краснея от стыда, честно рассказал, как дело было.
    Все, конечно, ржали как ненормальные.
    Да, забыла сказать. Жили мы на вилле у друзей Пупса. Она почти всё время пустовала, только несколько человек прислуги следили за порядком. Сами хозяева большую часть времени проводили в Европе и с охотой предлагали своим друзьям воспользоваться виллой (так объяснил Пупс). Вилла была сразу за городом, как принято говорить — в предместьях. Я уж не знаю насчёт предместий, но это было настоящее поместье.
    Двухэтажный дом, выстроенный без затей, но всё очень удобно и продуманно. Мебель — стиль модерн, но тоже удобная. Уютно и чисто.
    Территория (ну не называть же это двором!) огорожена высоким каменным забором, на который пошло столько материала, что можно из него было бы построить несколько обыкновенных домов. Много красивых и ухоженных деревьев.
    Красивые, цветущие чуть ли не целый год кусты. Во всяком случае, когда мы там были, эти кусты цвели. Вечером воздух был пронизан поистине волшебными ароматами. Тоже всё ухоженно. И, что характерно, обслуги почти не видно.
    Были мы там всего пару дней, но каких! Днём ездили в город. Машину, как я уже сказала, Пупс заказывал. В гараже стоял джип, можно было пользоваться, но нас восемь человек, и потом, проблемы с парковкой… (Почему восемь? Аквалангисты тоже были с нами и, как я поняла, выполняли заодно функцию телохранителей Пупса, а скорее, Вальки — такое тело надо охранять! Это точно!)
    Обедали мы в шикарных ресторанах. Я сейчас скажу, наверное, кощунственную вещь, но самая вкусная еда всё же была в маленьких подвальчиках.
    В ресторанах, конечно, всё шик-блеск. Самое главное — можно было наконец прилично одеться, и это не выглядело выпендрёжем! Официанты — шуршали вокруг. Музыка — и можно потанцевать. Тут уж я себя показала!
    Но блюда, кроме оформления, ничем не поражали. Мне — так себе.
    А в подвальчиках подавали такие отбивные с кровью! Такой картофель и салат! Такое пиво! Восторг! И, весьма кстати, недорого. Хотя, конечно, платил за всё Пупс, я всё же поинтересовалась.
    Не могу не повторить — таких отбивных я никогда в жизни не ела! Причём всю порцию даже мужчины не могли доесть.
    Валька сказала, что у меня плебейские замашки, а сама (я же видела) наяривала те отбивные, а в ресторанах сразу про диету свою вспоминала.
    Ну и фиг с ней! Пускай плебейские. Валька — девчонка неплохая, вообще-то, форсу только много.
    Кстати, ей так понравилось прозвище, которое я дала её дружку, что она теперь звала его не иначе как Пупсиком. Пупс цвёл и смотрел на меня с благодарностью.
    А вечером мы собирались на вилле около бассейна. Кусты одурительно благоухали, звонко и невероятно громко трещали какие-то насекомые, мальчики жарили мясо. Вот ведь израильская привычка! Я предлагала набрать этой асады (отбивные так называются) и просто подогреть. Тем более, так вкусно у наших всё равно не получалось, но они слышать не хотели!
    А мы с девочками нежились в бассейне. Мальчики приносили мясо и вино к бассейну, мы подплывали, как русалки, и они нас кормили с рук! Восторг. Я уже говорила? Значит, ещё раз восторг!
    А ещё в этом поместье были лошади. Для выездки. Есть же люди, которые могут не просто иметь всё такое, но и ещё практически этим не пользоваться!
    Специальный человек каждое утро выводил лошадей на, тоже специальную, площадку и гонял их по кругу. Таких лошадей нельзя даже один день не тренировать.
    Конечно, нам предложили покататься.
    Я никогда не думала, что это так сложно! Надо точно в ритме упираться ногами в стремена. Иначе седло так настучит в… ну, вы понимаете, что потом не только сексом заниматься — ходить больно.
    Валька, конечно, это знала и нас с Ленкой предупредила. Минут пять для начала я выдержала.
    Но самое невероятное, как оказалось, ждало нас впереди.
    Пупс сказал, что мы переезжаем к его другу в… ну, в общем, в другую страну. На яхте начали какой-то ремонт. Поэтому его друг пришлёт за нами самолёт. Мы с Ленкой начали визжать от восторга. Самолёт! Личный!
    Тут уже Пупс обиделся немного этим нашим восторгам. Во всяком случае, он надулся (и стал ещё больше похож на пупса).
    — Подумаешь! — говорит. — Там, в этой стране, содержание небольшого (он подчеркнул — «небольшого») самолёта дешевле, чем в Израиле — содержание Виолеттиного джипа! Да и сам самолёт не дороже.
    Мне бы его проблемы!
  {% endfilter %}
{% endblock %}
