{% extends template %}

{% set parentTitle = "Ни фига себе поездочка! "%}
{% set title = "Глава 2" %}
{% set pubdate = "06.01.2012" %}

{% block heading %}
  <h1 class="art__title">{{parentTitle}}</h1>
  <p class="art__title-descr">или</p>
  <p class="art__title">Отдых по-миллионерски</p>
{% endblock %}

{% block content %}
  {% filter prose %}
    Да! Забываю сказать, что на яхте был ещё один член экипажа. Пёс.
    Просто удивительно, как Пупс умеет подбирать себе кадры! Пса звали Майкл, и это был такой же Майкл, как Валька — Виолетта!
    Такой же беспородный и обалденно красивый. Но называть его, скажем, Мишкой — не получилось. Он кроме как на «Майкл» ни на что просто не реагировал.
    Это был псина величиной с большую овчарку. Гладкошёрстный, песочного цвета, с тонким прямым хвостом, мощной грудью и крупной башкой. Если специально не злить — добродушный.
    Но мозгов — не больше, чем у Вальки. А если и больше, то ненамного!
    В первом же порту, куда мы зашли, он ухитрился свалиться за борт. Его, конечно, сразу достали. Там на воде было небольшое пятно мазута. Может, оно одно на всё море и было, но Майкл ухитрился попасть прямо в него. Вот всё это пятно на себя и собрал!
    Его несколько часов отмывали и оттирали.
    Только этот мазут ему ещё и в глаза попал. Майкл как взбесился! Почти ничего не видел и никому дотронуться до глаз не позволял. Только почему-то мне. Не знаю, как это объяснить. На других рычал, а мне покорно давал протирать свои переливающиеся радугой (от мазута) глаза ваткой, смоченной в лекарстве.
    Я ещё по собственной инициативе и крепким чаем промывала.
    Несколько дней я с ним возилась, и после этого Майкл всегда около меня крутился.
    Мы были недалеко от Африки, когда Пупс объявил, что все приглашаются на рыбалку.
    Я чего-то не возбудилась. Сказала, что буду в бассейне. Никто даже не попытался меня уговаривать, но когда яхта легла в дрейф (погода была изумительная!) и около бассейна я осталась одна-одинёшенька (Майкл не в счёт), мне стало немного обидно.
    Думаю, пойду посмотрю, как там… ну, из любопытства.
    К моему удивлению, никаких длинных спиннингов не было. Собственно — никаких не было. Все стояли вдоль борта и держали в руках какие-то шнурки. Именно шнурки, а не лески, я не путаю.
    На палубе уже бешено колотилось несколько рыбин. Потом мне объяснили, что это тунец. Рыбины были все одинаковые. Каждая длиной с полметра, круглые и блестящие. На моих глазах все тягали рыбину за рыбиной. Я не выдержала и сказала, что хочу тоже попробовать. Мне выдали такой же шнур с грузиком и крючком. Всё! Вся оснастка.
    Как только я забросила эту штуковину в воду, почувствовала сильный рывок. Если бы не матрос, которому Пупс велел присматривать за мной, мне могло здорово прищемить шнуром руки. Но минут через пять я уже справлялась сама! Есть секретики!
    Я просто даже не представляла, что может так ловиться! Мы еле успевали вытаскивать рубину за рыбиной. Наверное, это безумие вряд ли можно назвать настоящей рыбалкой.
    Пойманную рыбу все кидали прямо на палубу рядом с собой. Рыбины, как я уже говорила, бешено колотились и прыгали по всей палубе.
    Никогда бы не подумала, что небольшая в общем-то рыбина может быть такой мощной. Удержать её руками не могли и сильные мужики!
    И тут в дело включился Майкл. Он собирал прыгающую по палубе рыбу, стискивал своими могучими клыками за голову и таскал ко мне.
    Где-то, наверное, через час этой вакханалии — как ещё можно назвать такую рыбалку? — Пупс велел прекратить ловлю. Все, даже я, втянулись и в увлечении просто не думали: а что, собственно, делать потом с таким количеством рыбы?! А вот Пупс — подумал.
    Майкл тем временем стянул ко мне почти весь улов. Я стояла буквально по колено в рыбе! Народ начал возмущаться, а он сел перед всей этой композицией, в центре которой была я, и начал грозно рычать. И смех и грех! Видок у псины был ещё тот! Морда, грудь, лапы — всё в рыбьей крови. Ну чисто вампир!
    Никому, даже Пупсу, подойти не даёт.
    Все не столько Майкла боятся, сколько любопытствуют, как я сама выбраться смогу. Всё же вокруг завалено рыбой! Пришлось реально выползать. Эти ротозеи буквально стонали от хохота.
    Это надо иметь такое счастье, а?
    Наверное, эта рыбалка и была последней каплей в почти бездонной чаше моего многострадального терпения.
    Вечером я под каким-то надуманным, но выглядевшим вполне естественно предлогом отослала Кота на ужин первым. Сказала, что мне надо задержаться.
    За какие-то несчастные полчаса одела вечернее платье, купленное специально для этой поездки (кстати, его стоимость будет потом сюрпризом для Кота), навела (как успела) марафет, накрасилась и даже что-то вроде причёски изобрела по быстрому: завила несколько локонов, чтобы они спиралями падали на плечи, и сделала такую прядку.
    Знаете, эта прядка как бы нечаянно постоянно спадает на глаза, и надо её вот так, надув губки, сдувать: «фу» — или пальчиком так отбрасывать с глаз. Говоришь с мужчиной, честно смотришь ему в глаза и так «фу» или пальчиком у него перед лицом. В этот момент у собеседника не то что бумажник — почку вытащат — не заметит! (Это так, к слову.)
    Короче, в боевой готовности и в не менее боевом настроении я появилась перед всей честной компанией.
    Кот меня знает и сразу смекнул, что я собираюсь поскандалить. Смотрит жалобно. Но ситуацию разрядил Пупс.
    Вскочил с места. Рысцой ко мне, под руку взял, к стулу подвёл и даже ручку поцеловал.
    — Ай, умничка, Алиночка! — говорит. — Вот нам всем урок, как надо к ужину выходить. А то все в маечках и шортиках. Несолидно!
    — Угу! — Валька поддерживает. — Брюлики только забыла одеть.
    Это она типа подколола — откуда у меня бриллианты?
    Но я промолчала. Решила по пустякам не заводиться.
    До десерта слова не сказала. Стюард возле меня порхал прямо. Наверное, Пупс ему знак подал. А может, и сам догадался.
    А когда подали десерт, говорю, как про вопрос уже решённый:
    — «Путевые заметки» буду писать. Про всё, что у нас тут происходит.
    Полная тишина. А я аплодисментов и не ждала.
    — С этим ещё можно что-нибудь сделать? — это Пупс у моего Кота спрашивает.
    Тот, предатель, отвечает:
    — Если только за борт скинуть. А так — вряд ли.
    Молчу, как будто это меня не касается. Пупс так задумчиво:
    — Ну, с этим всегда успеем…
    Я от злости мороженым поперхнулась. Но молчу, уже из последних сил.
    Когда все уже в задумчивости расходились, Пупс мне говорит:
    — А вас, Штирлиц, я попрошу остаться.
    Наверное, думал, я разулыбаюсь тут вся. Сурово молчу.
    — Аленька! — говорит. — Ты же умная девочка. Зачем мне проблемы придумываешь? Ну что тебе не нравится?
    — Всё! — говорю. — Всё не нравится! Задолбали своей загадочностью. Я себе совсем по-другому всё представляла. А кстати, чего ты так переполошился?
    Пупс походил туда сюда. Видимо, сам с собой совещался. Наконец принял решение:
    — Ладно! — говорит. — Пиши. Только ни имён, ни мест, где мы будем, никакой точной информации. И мне сначала дашь прочитать. Договорились?
    Думаю: «Чего зарываться? Вроде и вправду мужик приятный. А проблем не хочет — так это же нормально!»
    — Хорошо! — соглашаюсь. — Только имей в виду: ты у меня будешь Пупс.
    Он тихонько интересуется:
    — Что? Это Виолетта меня так зовёт?
    — Да нет! — отвечаю (и тут, первый раз за время разговора, улыбаюсь). — Это я тебя так звать хочу. Не нравится? Ну похож просто очень.
    Он хмыкнул и махнул рукой — Пупс так Пупс!
    Вот почему я использую эти полуклички-полупрозвища. Кстати, прилипло! А у меня привычка осталась всем прозвища давать!
  {% endfilter %}
{% endblock %}
