{% extends template %}

{% set title = "Какая прекрасная…" %}
{% set pubdate = "07.01.2012" %}
{% set prev = "delf/humor-14" %}

{% block content %}
  {% filter prose %}
    Какая прекрасная жизнь! Это первое, что подумал Боб, проснувшись. Рядом, слева, тихонько и сладко посапывала Леора. Она всегда слева от него. И не только потому, чтобы быть ближе к сердцу. Просто, когда она была справа, на улице или в постели, он чувствовал какой-то дискомфорт. Даже машину всегда водила она.
    Именно это едва не сделалось причиной разрыва их отношений. Да, да!
    Любовниками они стали в первый же вечер своего знакомства. Оба с одинаковым отчаянным безрассудством кинулись в охватившую их страсть. Но через некоторое время выяснилось, что у них есть и другие одинаковые качества. Например, упрямство.
    Ему никак не удавалось объяснить ей своё желание, чтобы она была всегда слева. Никакие доводы, типа, что мужчина должен всегда иметь правую руку свободной для оружия, её не убеждали. И если он приводил хоть какие-то доводы, Леора этим себя не утруждала. «Не хочу», в её понимании, было достаточно аргументированным доводом.
    — Какого оружия?! — хохотала она. — Просто всех мужчин всегда тянет налево!
    — Вот и хорошо! — подхватывал он. — Меня потянет налево, а там ты!
    Леора пошла на принцип.
    Боб приводил в пример Англию и Японию, самых ревностных хранителей традиций. Там со времён рыцарей и самураев (соответственно) даже автомобильное движение левостороннее, потому что в правой руке у воинов было оружие, и ничто не должно было им мешать… Бесполезно.
    Леора всегда привыкла настаивать на своём. Даже если это не имело практического смысла.
    Глупо? Смешно? Да! И ещё раз — да, если бы эта бессмысленная размолвка не грозила разрывом их отношений.
    Страстные (раньше) любовники, они упрямо поворачивались в постели друг к другу спиной. Какой секс с таким настроением?!
    Неизвестно, чем бы это закончилось, но однажды в сувенирном магазине Леора увидела, что Боб очень внимательно рассматривает небольшой японский меч и, кажется, собирается купить его. Меч был хоть и небольшой, но, несмотря на то, что магазин сувенирный, выглядел совсем как настоящий и был пугающе острый (потом оказалось, что он и был настоящий, предназначен для вполне японского харакири).
    — Ножик тебе зачем? — Леора постаралась, чтобы вопрос прозвучал безразлично.
    — В постели положу справа от себя, — отвечал Боб.
    Они пару секунд молча любовались друг другом.
    — Ладно! — вздохнула Леора. — Убедил.
    Боб обнял её. Уже несколько ночей они спали спина к спине и порядком соскучились. Ну, вы понимаете. В общем, их объятия были несколько интимней, чем это принято в общественном месте. Что немало напугало хозяина магазина.
    Его можно понять. Какие-то ненормальные держат меч для японского харакири и обнимаются, как в последний раз. Бедный хозяин осторожно, но решительно забрал меч и только после этого спросил, всё ли у клиентов в порядке. Наверняка он имел в виду, с головой.
    Меч они, конечно, купили. Повесили на стену, и теперь, если один из них пытался затеять скандальчик, второй молча показывал потенциальному агрессору на их почти семейную реликвию.
    Почему почти? Ну, официально они ещё не были мужем и женой.
    Боб улыбнулся, вспомнив эту дурацкую, но такую дорогую им историю.
    Какая прекрасная жизнь! Он повернулся к Леоре, вдохнул её волнующий запах и поцеловал в припухшие, мягкие во сне губы.
    Леора вздохнула, просыпаясь, губы немножко напряглись, отвечая на поцелуй. Боб нежно провёл ладонью по её спине. Леора вздрогнула и хрипловато прошептала:
    — Иди ко мне!
    О! Как он любил эту хрипотцу! Хрипотца появлялась в звонком Леорином голосе, когда она сгорала от страсти.
    Какая прекрасная жизнь!
    Боб застонал и открыл глаза.
    Нет! Нет! Это неправда. Неправда то, что он видит сейчас в зеркале. Это изувеченное, жалкое тело в инвалидном кресле — не он. Боб опять застонал и повернулся всем раздираемым болью телом влево. Леора всегда слева от него. Ближе к сердцу. И потому, что он так привык!
    Она загадочно улыбалась с большой, на полстены, фотографии. Он улыбнулся ей в ответ. Конечно, на его изуродованном лице улыбка казалась жуткой гримасой. Но сейчас это его совсем не заботило.
    Леоре тогда повезло больше. Когда в их машину врезался тот грузовик, она погибла на месте. А ему врачи спасли жизнь. Ещё, наверное, и гордятся этим. Спасли безнадёжного. А зачем? И разве это жизнь?
    Но сегодня всё! Почти два месяца он собирал обезболивающее и снотворное. Кто бы знал, чего ему это стоило.
    Сегодня всё! Боб не спеша, по одной таблетке глотал лекарство. Всё! Он блаженно откинулся на спинку этого ненавистного кресла.
    Сознание не помутилось, а, наоборот, прояснилось.
    Леора широко улыбнулась и позвала своим хрипловатым, порочным голосом:
    — Иди ко мне!
    Боб встал, потянулся, с наслаждением чувствуя каждую мышцу своего сильного, тренированного тела.
    О! Как он соскучился по этому ощущению! Почти как по телу Леоры.
    — Иди ко мне! — повторила она нетерпеливо.
    — Иду! — Боб вздохнул облегчённо. — Иду…
    Какая прекрасная…
  {% endfilter %}
{% endblock %}
