{% extends template %}

{% set title = "Воплощение мечт" %}
{% set pubdate = "07.01.2012" %}

{% block content %}
  {% filter prose %}
    А начиналось всё так здорово! Я написала рассказ. Настоящий рассказ!!! Сюжет заезженный, но верняк. Парень с девушкой — киллеры. Работают на пару. Убийства, погони, перестрелки и много любовных сцен.
    Там примерно поровну убийств и любовных сцен. Даже, наверно, любовных сцен побольше. Перед заданием они в постели настраиваются, а после выполнения заказа — снимают стресс.
    Причём делают это очень разнообразно. С огоньком и выдумкой. Что делают? И убивают, и любовью занимаются.
    Я старалась, чтобы читателю не было скучно.
    В общем, получилось ничего себе. Маленький нюансик: рассказ я написала от первого лица, вроде как та девушка всё это вспоминает.
    И мой рассказ опубликовали!!! Как я вышла на редактора газеты и уломала его прочитать моё творение — всё это отдельная история, тоже с погонями и нервными потрясениями.
    Возможно, есть мужчины, которые могут устоять под умоляющим взглядом стройной голубоглазой блондинки, но я таких пока не встречала. Кстати, надеюсь и не встретить.
    Короче, рассказ опубликовали в газете, причём довольно известной, по местным меркам. Точнее, не в самой газете, а в приложении. В общем, если совсем честно, это мужской журнал. А что? Ничего такого. Тоже литературное издание. Популярней других, между прочим!
    Гонорар копеечный, да и не в нём дело. Меня распирало от гордости! Несколько экземпляров мне дали авторских, а ещё штук двадцать я сама прикупила. Целый день ездила по городу и раздавала журналы всем знакомым.
    Вечером предстояло самое важное и приятное. Похвастаться своим успехом мужу!
    Вот наконец долгожданный вечер! После ужина я с загадочным видом протягиваю муженьку журнальчик. Он в шоке. (Так я и поверила, что он никогда таких журналов не читал!)
    — Ты чего? — спрашивает.
    — Читай, — говорю. — Вот рассказ. Это мой! Представляешь?
    Потрясённый супруг погрузился в чтение, а я чувствовала приятное волнение в предвкушении его восторгов.
    Результат превзошёл все самые смелые ожидания.
    — Какой ужас! — прошептала моя вторая половинка, дочитав рассказ.
    — Что? — теперь шок у меня.
    — Зачем ты это сделала?
    — Что сделала? — я в полнейшей растерянности.
    — Ну ладно, написала ты этот рассказик, ну напечатали эту хренотень, но зачем ты подписалась своим именем? Какой позор!
    — Ты о чём, милый? — ко мне начинает возвращаться самообладание. — О каком позоре речь? Редактор сказал, что очень хорошо написано, и предложил продолжить сотрудничество!
    — Во! — муженёк подносит к моему носу кулак. — Я тебе покажу сотрудничество!
    — Ручками не размахивай! — предупреждаю я. — Забыл, у кого из нас пояс по карате?
    — А я смотрю, ты и кое в чём другом преуспела! — распаляется супруг. — Это откуда такие познания в технике секса? А? Здесь, например, — он тычет пальцем в злополучный журнал, — в третьей главе. А если знакомые прочитают? Что они подумают? Что ты в борделе практический опыт получала?
    Если я сейчас скажу, что знакомые уже в курсе, пояс мне не поможет.
    — Там ещё убийства есть, — уточняю я. — И тоже весьма достоверно описаны. Или ты подозреваешь, что и тут у меня есть практический опыт?
    — Вполне возможно! — выкрикивает в запале супруг. — Теперь я ничему не удивлюсь!
    — Послушай! — пытаюсь решить всё мирно. — А тебе не приходит в голову, что я просто хороший автор, поэтому всё так и достоверно?
    — Да уж! — восклицает ревнивец. — В третьей главе куда уж достовернее!
    Вот далась ему эта третья глава!
    Муж ненадолго задумывается, потом выдаёт своё решение:
    — Ты должна искупить свою вину!
    Насчёт вины он, конечно, погорячился, но я, видно, и правда поступила легкомысленно, подписавшись своим именем. Разные ведь люди читают. Мне и в голову не приходила мысль, что можно воспринять мой рассказ как описание моих же похождений! Правильно. Тех, кто пишет всякую фигню, ни в чём таком, конечно, не обвинят.
    — Хорошо! — мир в семье дороже амбиций. — Готова искупить. И как это ты себе представляешь? Попросить, чтобы опубликовали опровержение?
    — Как раз наоборот! — муж смотрит на меня загадочно. — Я требую подтверждения. Вот эту главу, — конечно, речь о третьей главе, — мы сейчас с тобой и воплотим в жизнь.
    — Вот только рассказик допишу! — предъявляю я своё последнее желание.
    — По-быстрому! — не терпится ему. — Я жду…
    Всё! Надо идти. Сама напросилась. Надеюсь, я там нигде ничего не напутала. А то иди знай, как оно обернётся…
  {% endfilter %}
{% endblock %}
