{% extends template %}

{% set title = "Никогда, Иногда, Всегда" %}
{% set pubdate = "07.01.2012" %}

{% block content %}
  {% filter epigraph %}
    {% filter poem("quote") %}
      Бессонной ночью, в тишине,
      Я слышу мерный звук
      Часов, висящих на стене,
      Их еле слышный стук.

      Неразличим он в шуме дня:
      Часы идут — пустяк…
      Но много значит для меня
      Их тихое «тик-так».

      Тик-так — и миг в небытие
      Умчался — не вернуть…
      Тик-так — всё ближе забытье,
      И всё короче путь…

      Тик-так — и стрелок хоровод —
      Ему возврата нет…
      Тик-так… Я слушаю уход
      Секунд, минут и… лет…

      [<a class="page__independent-link" href="/korovionkoff/index.html">Андрей Коровёнков</a>]
    {% endfilter %}
  {% endfilter %}

  {% filter prose %}
    Жили-были… нет, ну почему все сказки Всегда начинаются с этого дурацкого «жили-были»? Неужели хотя бы Иногда нельзя начать по-другому? Вот я и начну по-другому, тем более что сказка моя как раз про то, что бывает только Иногда. Да и то в сказке.
  {% endfilter %}

  {% filter prose %}
    Однажды поздно вечером, можно даже сказать, ночью один немолодой мужчина сидел перед зеркалом в своей пустой квартире и думал с горечью:
    «Да! Ну и видок! Краше в гроб кладут. Хотя тогда уже какая разница!»
    В пустой квартире было надоедливо тихо и ненужно чисто. Ни жены, ни детей.
    «Вот, — думал он, — жизнь какая-то не такая получилась. Были бы дети, да и внуки уже были бы. И поговорить, и позаботиться. С женой и поругались бы Иногда за что-нибудь. Ну, она нашла бы, за что. А так…»
    Тик-так, тик-так — тикали ходики на стене. Нет! Это не ходики! Это секунды со стуком падали в невозвратность. Тик… Так… Тик… Так…
    В дверь постучали: тук-тук-тук.
    «Кто это? — удивлённо подумал мужчина. — Я никого не жду. Да! Я уже никого и ничего не жду…»
    Он печально вздохнул и пошёл открывать.
    А совсем недалеко, буквально в соседнем доме, тоже светилось одинокое окошко.
    Немолодая женщина сидела перед зеркалом в своей пустой квартире и думала с горечью:
    «Эх! Как-то жизнь не сложилась. Ни мужа, ни детей. Уже сейчас бы с внучками нянькалась. Внуки бы переворачивали дом вверх дном, я бы ворчала на них. И волновалась бы за детей. И пихала бы ночью мужа в бок, чтобы не храпел! И ругалась бы с ним Иногда. Ну, нашла бы, за что. А так…»
    Тик-так, тик-так — тикали ходики на стене. Нет! Это не ходики! Это секунды со стуком падали в невозвратность. Тик… Так… Тик… Так…
    В дверь постучали: тук-тук-тук.
    «Кто это? — удивлённо подумала женщина. — Я никого не жду. Да! Я уже никого и ничего не жду…»
    Женщина и мужчина одновременно открыли двери. На пороге стояла незнакомка.
    — Ты кто? — одновременно спросили они.
    — Я Жизнь, — ответила незнакомка.
    — Я недоволен тобой! — сказал мужчина.
    — Я недовольна тобой! — сказала женщина.
    Жизнь обиделась.
    — Я только предоставляю возможности, — сказала она, — а в том, что вы ими не воспользовались, моей вины нет!
    — Но у меня и не было возможностей! — одновременно сказали мужчина и женщина.
    — Как это не было? — удивилась Жизнь. — Пойдём, я покажу.
    Она взяла их за руки.
  {% endfilter %}

  {% filter prose %}
    На низеньком заборе сидели мальчик и девочка.
    — Ты дура и уродина! — сказал мальчик.
    — Сам дурак! — ответила девочка и показала язык.
    Они спрыгнули на землю.
    — Я видеть тебя Никогда не хочу! — сказал мальчик.
    — И я тебя тоже Никогда! — ответила девочка.
    И они пошли в разные стороны.
  {% endfilter %}

  {% filter prose %}
    — Как?! — в один голос закричали мужчина и женщина. — Вот это и была возможность? И ничего нельзя уже изменить?
    — Ладно! — сказала Жизнь. — Ведь Иногда можно сделать и то, что нельзя. Пусть…
  {% endfilter %}

  {% filter prose %}
    На низеньком заборе сидели мальчик и девочка.
    — Ты красивая, — сказал мальчик, — если тебя кто обидит, только скажи!
    — Ага! — кокетливо засмеялась девочка.
    Они спрыгнули на землю. Мальчик взял девочку за руку.
    — А давай Всегда будем вместе! — сказал он.
    — Всегда-Всегда? — хитренько спросила девочка.
    — Всегда-Всегда! — важно ответил мальчик.
  {% endfilter %}

  {% filter prose %}
    Ну вот, теперь можно уже сказать это дурацкое «жили-были».
  {% endfilter %}

  {% filter prose %}
    Жили-были старик со старухой (ну, вообще-то они были просто немолодые, но в сказке же принято говорить «старик со старухой»).
    Однажды ночью они одновременно проснулись и сели в кровати.
    — Уф! — сказала старуха и вздохнула с облегчением. — Приснится же такое!
    Старик тоже облегчённо вздохнул, но промолчал.
    В соседней комнате заплакал ребёнок. Сын с невесткой в отпуск укатили, а им ребёнка и подкинули.
    Старик старательно сделал недовольное лицо.
    — Я подойду!
    — Вместе! — сказала старуха.
    Они встали и взялись за руки.
    — Никогда у нас в доме не будет тишины и покоя! — ворчал старик. — Наверно, Всегда будет такой балаган!
    — Всегда-Всегда? — хитренько спросила старуха.
    — Всегда-Всегда! — важно ответил старик.
  {% endfilter %}
{% endblock %}
