{% extends template %}

{% set title = "Не верю!" %}
{% set pubdate = "07.01.2012" %}

{% block content %}
  {% filter prose %}
    Конечно, возникает вполне законный вопрос: а на кой мне вообще понадобилось записываться в студию актёрского мастерства? Отвечу предельно честно.
    Дело в том, что я пишу. Пишу рассказы, повести, иногда даже романы. И мечтаю, что в один очень прекрасный день по какой-нибудь моей работе… захотят снять фильм. Я, конечно, соглашусь, но с одним условием. Даже вместо гонорара! Попрошу маленькую роль. Малюсенькую такую ролюшку. А что? Одной мечтой больше, одной меньше.
    А тут как раз в нашем городе и открылась эта студия. Я восприняла это как знак судьбы!
    «Ну, — думаю, — неспроста это!»
    И записалась.
  {% endfilter %}

  {% filter prose %}
    Руководила студией самая настоящая актриса!
    Она играла в кино. Роль, прямо скажем, небольшая, но со словами! Там она, типа, идёт по улице, а главный герой, такой симпатичный парень, её спрашивает: «Тётенька, не подскажете, где в вашем городе Дом культуры?» И она становится в позу памятника пролетарскому вождю, где он указывает путь в светлое будущее, и говорит: «Вот там!»
    В кино она указывала главному герою путь к Дому культуры, а нам, своим ученикам, решила преподать уроки актёрского мастерства. Показать, так сказать, путь к высокому мастерству.
    Естественно, за деньги. Как говорится, кто что может.
    Мы, как положено, разыгрывали всякие сценки, а она смотрела и давала профессиональные советы.
    Но вот со мной у неё не сложилось. Или у меня с ней?
    Я стараюсь, просто душу на разрыв, а она: «Не верю!» — и всё! Кто-нибудь про Станиславского, кроме этого «не верю!», что-нибудь знает? Вот ему, наверно, икается!
    Мой постоянный партнёр по сценкам и просто хороший парень Андрей уже возмущался. Правда, только мне.
    — Ну чего она от тебя хочет? Нормально вроде!
    Мы с ним играем сценку, его она хвалит, а мне: «Не верю!»
    Я ещё долго терпела, учитывая мой темперамент. Но допекло!
    «Всё! — думаю, — последний шанс этой стерве даю, а там пусть сама на себя пеняет!»
    Как раз она дала нам с Андрейкой разучить сценку из «Ромео и Джульетты».
    Мы старались. Андрейка даже сказал, что теперь режиссёрша точно меня похвалит.
    Я тоже на это надеялась, но на всякий случай заготовила и «домашний вариант».
    Вечером, собираясь в студию, я сюрпризик для этой Станиславской недоделанной в пакетик положила. На всякий пожарный.
    Короче, разыгрываем мы с Андреем сценку. Стою на столе, типа, на балконе, Андрей мне в любви признаётся, а я ему отвечаю. Всё слово в слово. Нигде не спутала. Чувства дала.
    Заканчиваем, я вся в ожидании, а эта мымра делает постное лицо и заявляет:
    — Андрюша — молодец, а тебе, Алина, не верю!
    Твою мать! В смысле, где ж такие нервы взять, чтоб это вытерпеть?
    Спрыгиваю со стола и иду к двери. Режисёрша мне вслед, с надеждой так:
    — Ой, Алиночка, ты решила от нас уйти?
    «Ага! Сейчас! Уже! Размечталась! Щас ты всё сама увидишь!»
    Подхожу к двери, закрываю замок, ключ кладу в карман.
    — Нет, Татьяна Николаевна, — это руководительницу нашу так зовут. Я не ухожу и никто отсюда не выйдет, во всяком случае, живой не выйдет.
    С этими весёлыми словами снимаю с вешалки у двери свой пакетик и достаю тот самый сюрприз. А точнее, туристический топорик. Делаю страшное лицо и говорю:
    — Ну что, Станиславская долбаная! А вот то, что я тебя сейчас здесь замочу на хрен, веришь?
    Она орёт:
    — Кто-нибудь! Позвоните в милицию!
    А я поворачиваюсь к присутствующим и предупреждаю:
    — Вот мобилу у кого увижу в руках, с того и начну! Желающие уже есть?
    Желающих не оказалось. Насчёт моего характера и физической подготовки все в курсе.
    Только милый друг Андрейка бросается ко мне, наверно, надеясь на особое к себе отношение. Но я же вся на нервах! Сильно отталкиваю его, он, неловко отступив, спотыкается и летит в угол за составленные пирамидой столы.
    — Дура! — орёт он оттуда. Стукнулся, наверно. — Совсем сбрендила!
    А я — как взбесившаяся тигрица. И ещё с топориком этим.
    — Ах так! — рычу. — Я тебе сейчас покажу «сбрендила»!
    Прыгаю, ну прямо как зверюга, в тот угол, взмахиваю топориком и…
    Андрей вскрикивает, потом крик переходит в стон, а стон — в предсмертный хрип…
    Я поднимаюсь и, помахивая окровавленным топориком, иду к остолбеневшей в ужасе режиссёрше.
    — Что, гадина! Мне теперь всё едино! Назад ходу нет! Молись, паскуда!
    Все зрители в ужасе, но не рыпаются. Понимают, что я сейчас шуток не оценю.
    — Помогите! — слабым голосом просит режиссёрша. Чтобы покричать, у неё, наверно, воздух кончился.
    — Щас! Щас я тебе помогу! — обещаю зловеще. — Вскрытие, чтобы причину смерти установить, не понадобится.
    В это время за столами слышится какая-то возня, и оттуда медленно, как зомби, выходит окровавленный Андрей.
    — Ты меня убила! — завывает он и протягивает ко мне дрожащие руки. — Убииииилааааа!
    — Ага! — говорю. — Пришлось. Извини, Андрюха.
    С этими словами провожу пальцем по его окровавленному лицу, потом этот палец облизываю.
    — Жмот ты, Андрюха! — делаю заключение. — Кетчуп, небось, самый дешёвый купил. Ни вкуса ни запаха!
    — Гы-гы! — не спорит мой сообщник. — Да и этот сошёл за милую душу! Вона, все же поверили!
    — Кстати! — поворачиваюсь к нашей руководительнице. — Татьяна Николаевна, сейчас-то вы поверили?
    — Не верю! — шепчет та. Глазоньки у неё закатываются, ноженьки подламываются, и она грохается в вполне заслуженный обморок.
    Вот ведь упрямая! Помереть готова, а то, что эту сценку я разыграла очень убедительно, так и не признала!
    Там ещё у присутствующих было два небольших сердечных приступа, у троих истерический смех, ну и так, по мелочи.
    В общем, читатель, если ты ещё мне не веришь, так я могу прийти и к тебе!
    А что? С меня станется!
  {% endfilter %}
{% endblock %}
