{% extends template %}

{% set parentTitle = "Моё нескучное лето" %}
{% set title = "Глава 12. Нина Васильевна" %}
{% set pubdate = "01.06.2012" %}

{% block content %}
  {% filter prose %}
    В числе прочих удовольствий в нашем лагере был палаточный городок. Ну, конечно, не в самом лагере. Километрах в двух, около маленькой речушки.
    В том месте, где был разбит палаточный городок, ширина речушки была метра три, глубина — метра полтора. Дно песчаное, со стороны лагеря пологий берег, с другой стороны берег зарос тростником. Течение быстрое, вода чистейшая. Но холодная даже в жару.
    Виталька объяснил, что, наверно, это ключевая вода. Поэтому такая холодная.
    Вообще, Виталька развернул такую бурную деятельность, что я просто диву далась!
    В этом палаточном городке жили все отряды по очереди. Неделю. Мы пришли сюда после второго отряда. И застали ужасный бардак. Палатки закреплены кое-как, кострище — просто свалка. На речушке были установлены мостки, для того, чтобы было удобно мыться и набирать воду. Так эти мостки держались на честном слове.
    Виталька сразу организовал ремонт и уборку. Мы с девчонками еловыми ветками вымели весь городок и посыпали вокруг палаток чистый речной песок. Мальчишки под руководством Витальки починили мостки, закрепили как надо палатки, а вместо первобытного кострища соорудили что-то вроде очага!
    Они смотались в лагерь (даже, кажется, ходили два раза) и натащили красных кирпичей. Виталька где-то раздобыл стальной лист.
    Выкопали яму, обложили кирпичом — получилось и красиво, и аккуратно. И пользоваться удобно. А стальной лист отдраили, и мы использовали его в качестве огромной сковородки. Потому что из кухонного инвентаря был только большой котёл.
    А ещё Виталька придумал поставить флагшток и каждое утро поднимать флаг отряда. И флаг с мальчишками нарисовал. Какую-то чисто бандитскую рожу, а чтоб не сомневались, ещё перекрещенные кинжалы и подпись: «Третий отряд форева».
    Виталька устранил меня от власти без дворцового переворота.
    Нет, я даже рада: не всё же мне тянуть, — но немного обидно, что моё мнение никто не спросил.
    И Нина Васильевна поразила. Причём приятно. Я с ужасом думала, как я в этом жбане буду варить кашу, а она сама предложила:
    — Алиночка, вы не против, если я покашеварю?
    Я чуть на сосну от радости не запрыгнула! (Кстати, готовила она просто суперски!)
    В общем, неожиданно оказалось, что и без меня отряд прекрасно справляется. Моё самолюбие утешало меня: «Просто ты всё наладила так, что работает на автомате!» — но, повторю, обидно немного всё же было.
    А ещё, к моему удивлению, Нина Васильевна начала отпускать своего сыночка Валентина с отрядом — без того, чтобы следить за ним непрестанно.
    И вот как-то утром (это было на второй или третий день нашего пребывания в палаточном городке) Виталька убежал с отрядом на утреннюю пробежку, Нина Васильевна готовит завтрак, а я бездельничаю. Хоть с небольшими угрызениями совести, но и с удовольствием.
    Она вдруг начинает разговор:
    — Вас, Алина, мне Бог послал! Вы меня очень выручили. Не знаю, что бы я без вас делала!
    Я пожимаю плечами неопределённо. Врать не хочется, а правду и не скажешь!
    А Нина Васильевна продолжает:
    — Вы, наверно, думаете: вот, мол, училка, дети у неё небось в пеночках, а над своим кудахчет?
    Опять пожимаю плечами. Очень близко к тексту дамочка сейчас сказала!
    Но Нина Васильевна продолжает. Моя реакция её, похоже, не интересует:
    — Понимаете, мой муж, Валькин папа, год назад погиб в автокатастрофе. Он поехал Вальку забирать со спорта, Валечка на акробатику ходил, и на обратном пути… А я их дома жду, собирались все вместе в кино, потом в кафе… А Валечка с папой друг без друга просто не могли! Я даже ревновала немного…
    Нина Васильевна отвернулась, я подумала, что она плачет, и приобняла её за плечи. Она не плакала. Лицо — как каменное.
    — Валечка в аварии почти не пострадал, — ровным голосом продолжала Нина Васильевна. — Физически не пострадал. Вот только папа умирал у него на глазах…
    Он полгода вообще не разговаривал. Врачи ничего не обещали. Потом начал потихоньку оттаивать. Я ведь почему не хочу, чтобы он в комнате мальчиков спал? Он во сне до сих пор с папой своим разговаривает. Не кричит, не зовёт, просто разговаривает. А дети могут его на смех поднять. Я вообще не знаю, правильно ли сделала, что его в лагерь взяла, или нет?
    Отряд вернулся с пробежки.
    — Строиться! — скомандовал Виталька. — Сейчас мы решим, кому предоставляется честь поднять флаг отряда…
    — Предлагаю доверить подъём флага Валентину! — с ужасом слышу свой голос. (Неужели я имела глупость сказать это? Боже! Что я наделала? Сейчас мои бандиты возмущённо завоют и будут правы! Я дура! Гнать таких из психологии поганой метлой!)
    У Витальки поползли вверх брови, Нина Васильевна побледнела смертельно…
    Мгновение тишины. «Ну поймите, — мысленно молю я, — поймите! Так надо! Я ведь никогда вас не обманывала! Ну пожалуйста…»
    — Правильно! — басит Димка. — Я согласен!
    — Валечка достоин! — поддерживает его моя любимая злодейка Женька.
    — Отряд! Смирно! — звонко командует Оленька. Все замирают. — Право поднять флаг отряда предоставляется Валентину!
    «Золотые мои!»
    В торжественной тишине Валька медленно подходит к флагштоку, поворачивается к отряду и… улыбается.
    Он сейчас улыбается всем. Или точнее — никому. Просто улыбается. Но я улыбаюсь ему в ответ и ободряюще киваю: давай, пацан! Всё будет хорошо!
    Может, пока меня не надо метлой? А?
  {% endfilter %}
{% endblock %}
