{% extends template %}

{% set parentTitle = "Моё нескучное лето" %}
{% set title = "Глава 9. Анюта" %}
{% set pubdate = "01.06.2012" %}

{% block content %}
  {% filter prose %}
    Со стороны, если не вникать, то Василий и Анюта парой были просто великолепной!
    Он — брутальный (как сейчас модно говорить), высокий, атлетичного сложения. И на лицо не урод. Совсем даже.
    Она — стройная, очень нежная и женственная. Чувственно красивая. В её застенчивости и робости была именно та притягательность, которая и покоряет настоящих мужчин. И они робеют рядом с такой беззащитной нежностью.
    Вот Васёк и робел. И, конечно, дико ревновал. Тут бы они с Виталькой достойно посоперничали! Ну до смешного. Конечно, меня так и тянуло подколоть на эту тему.
    И вот как раз, когда Виталька пришёл на танцы с разукрашенной физиономией (после той драки с Володей), Васёк с видом знатока, оценив Виталькины фингалы и припухшую губу, ехидно интересуется:
    — Сурово, Алинка, ты со своим кавалером! Натворил чего?
    (Первый танец мы традиционно танцуем с ним, а Виталька с Анютой).
    Ну просто грех упустить такой случай!
    Грустно вздыхаю — и жалостливым голосом, чуть ли не со слезой:
    — Ах, Василий! Беда у нас! Мой-то Виталька, изменщик подлый, ушёл к твоей Анютке! Вот я и разнервничалась.
    Васёк прекратил даже те неуклюжие попытки изображать танец, которые он делал до сих пор. Правда, молча. Насчёт «сказать» — это не так быстро.
    Давлю дальше:
    — А давай мы тоже любовь закрутим! Чтобы они не думали, что мы расстраиваемся! Ты мне давно нравишься, Васёк, ты вообще слышишь, что я говорю? Я-то тебе нравлюсь, али как?
    Мыслительный процесс Василия, и без того не очень быстрый, сейчас вообще завяз!
    Тем временем танец заканчивается, и ничего не подозревающие Виталька и Анюта подходят к нам. Виталька здоровается:
    — Привет, Василий! Чего застыл, как статуя Командора?
    Нашёл кому говорить, но с темой угадал!
    Васёк уже по моей довольной физии догадался, что я его разыграла. Спрашивает Витальку:
    — Украшение от кого?
    Я подхватываю Витальку под руку:
    — А он у меня рыцарь! За женщину заступился!
    — Ври давай! — теперь Василий мне на всякий случай вообще не верит. — Ты сама кому хочешь навешаешь!
    — Вот умеете вы, мужчина, сделать девушке комплимент!
    (Я довольна результатом. Спасу от этих ревнивцев нет…)
    Виталька тоже ревнивый тип. То, что я повода не подаю, ситуацию не меняет. Он ревнует «вообще».
    Глупый мальчишка, даже не подозревает, что он у меня кандидатура безальтернативная. Я как-то подумала: «Вот если бы не Виталька, с кем можно закрутить?» Парней много, есть и хорошие, но только Борис Аркадьевич мне симпатичен. Но конкуренцию с умопомрачительной обаяшкой Наташей-маленькой я бы и затевать не стала. Так что Виталькины терзания напрасны. Мне с ним по-настоящему хорошо и спокойно.
    Моя грозная репутация его волнует не больше чем наша разница в возрасте. Единственное, что его немного напрягало, это мой рост (а как же французский вариант?). Я не оговорилась — именно мой рост. Свой этот нахалёныш, считает вполне нормальным. А мне высказал: «И зачем девушке быть такой дылдой?» Ну просто кругом я виноватая!
    Правда, с каблуками ему всё же пришлось смириться. (После того, как я провела среди него разъяснительную работу, подкреплённую несколькими бонусными поцелуями.)
    А целуется Виталька, хоть и не очень умело, но сладко-сладко! У меня в голове сразу как пузырьки шампанского! Хорошо, что он не знает об этом. А то бы… в общем, хорошо, что не знает.
    Поверьте, вовсе не хочу показать, что я недотрога и вся из себя такая целомудренная. Но понимаю, что если позволю Витальке ВСЁ, это его привяжет ко мне. Более того, это его обяжет! Наверняка этот благородный мальчик скажет что-то типа: «После всего, что у нас было, я обязан…» Вот и не хочу его «обязывать». Хотя если кто-то скажет, что я просто дура, спорить не буду.
    А когда Виталька кроме поцелуев начинает продвигаться в этом вопросе дальше, чем я могу себе позволить, достаточно шепнуть ему на ушко: «Виталька!» — и он, огорчённо вздохнув, свои тревожащие меня поползновения сразу прекращает…
    Ну вот! Я опять отвлеклась про своё родное. А глава ведь Анюткина!
    Анюта — девушка трепетная и нежная. Прелестный цветок! Её наивность просто умиляет. Хотя наивность, граничащая с глупостью, должна, по идее, раздражать!
    Вот и в историю с Гариком Анюта вляпалась по этой своей наивности.
    Гарик у нас тут местный Казанова. Высокий, загорелый, мускулистый. Длинные блестящие чуть вьющиеся чёрные волосы и голубые глаза! Эта композиция убойно действует на женское впечатление!
    И все разведёнки и мамы-одиночки падают жертвой, не то что без возражений, а с превеликим удовольствием. В общем, Гарик себя чувствует, как кот на фабрике по производству сметаны вёдрами.
    Работа спасателя, конечно, ответственная, но имеет и явные преимущества. Когда дети купаются, Гарик курсирует вокруг на водяном велосипеде. Естественно, катая всех желающих.
    Но можете представить моё удивление, когда в один прекрасный день я увидела в роли пассажирки Анютку! И опять я не оговорилась. Именно в роли. Ведь понятно, куда Гарик может «завезти»!!!
    Вероятно, это было понятно всем, кроме самой Анюты. Потому что, когда в тот же вечер после наших регулярных посиделок её встретил Гарик, она удивилась совершенно искренне.
    Как обычно, мы с Виталькой провожали её до корпуса пятого отряда.
    Гарик по-хозяйски приобнял замершую Анюту за плечи и небрежно бросил нам с Виталькой:
    — Отдыхайте! Сегодня я Анютку провожу.
    — Виталька! — я изо всех сил сохраняю спокойствие. — Проводи Анюту, а мне с Гариком переговорить надо.
    Единственный, к кому Виталька меня не ревновал, — это Гарик. Гарика он просто презирал. Поэтому молча подхватывает счастливую Анюту и уходит.
    — А что, Алина Дмитриевна! — хмыкает Гарик. — Может, ты со мной хочешь прогуляться?
    Моя железная выдержка удерживает меня от того, чтобы сразу дать ему в морду.
    — Слушай сюда, Гарик! Если ты ещё раз дотронешься до Анютки не то что своими шаловливыми ручонками, а даже своим потным взглядом — пеняй на себя!
    — Драться со мной будешь? — самоуверенно интересуется Гарик, наивно надеясь на свою великолепную мускулатуру.
    — Хорошая мысль! — одобрительно говорю я. — Мы к ней обязательно вернёмся. Но ты забыл о главном оружии женщины. Вот столько с бабами крутишь, а про их главное оружие забыл. Или не знаешь?
    — Ногти? — пытается пошутить Гарик.
    — Коварство! У мужчин, возможно, это бы называлось подлостью, а у нас, слабых женщин, — коварство! Я Василию, этому бугаю деревенскому, скажу, что ты к Анютке приставал. Изнасиловать хотел. А ты объяснишься, если успеешь. Только, можешь мне поверить, не успеешь!
    Вернулся слегка запыхавшийся Виталька.
    — Пойдём, милый! — подхватываю его под ручку. — А то тут воняет!
    Даже не пытайтесь представить себе удивление Василия, когда на следующих же танцах, пропуская свой дежурный танец с Виталькой, Анюта сама подошла к нему и доверчиво положила свои нежные ладошки на его могучие плечи:
    — Потанцуем, Васенька?
    В общем, с этого вечера мы с Виталькой были избавлены от поднадоевшей обязанности ходить хвостом за этой парочкой.
    А я своё обещание, данное Гарику, не забыла. Я вообще своих обещаний никогда не забываю.
    Самым трудным в моём плане было избавление на несколько минут от опеки Витальки. Но как-то вечером я привлекла Оленьку и командиров семёрок, усадила их всех составлять планы, а сама метнулась на спортплощадку.
    Гарик там звездил под завистливыми взглядами парней и обожающими взглядами своих девиц. Тут я и нарисовалась.
    Немного разогревшись и размявшись, предлагаю:
    — Гарик! А давай со мной спарринг поработай. Если не боишься, конечно. Обещаю насмерть не убивать.
    В общем, предложение, от которого трудно отказаться, «сохранив лицо». Гарику выбора не осталось.
    Судить взялся физрук.
    Даю возможность Гарику немного подвигаться, сама присматриваюсь.
    Как я и предполагала — пустышка! Вроде всё делает правильно, и со стороны, наверно, выглядит эффектно. Но слишком медленно.
    Он изо всех сил делает вид, что, мол, вполсилы бьётся. Чтобы его немного взбодрить, бью несколько кегоми (прямой удар) в живот, но не сильно. Не хочу вырубить раньше времени. Для зрителей кручу парочку маваши (круговые). Гарик так неловко защищается, что мне надо очень стараться, чтобы его не зацепить.
    Но тянуть нельзя. Из окон спален нашего отряда спортплощадка хорошо видна. И Виталька может появиться в любой момент.
    Даю Гарику провалиться в очередной атаке и бью сдвоенный. В бедро и сразу в голову.
    Я точно знаю, что сейчас будет. Удар придётся за ухо. Гарика мотнёт, у него закатятся под лоб глаза, безвольно отвиснет нижняя челюсть, и он рухнет лицом вниз, неловко подвернув под себя руки. Его надо будет переворачивать на спину, хлопать по щекам, отливать водой и вправлять язык, чтобы он не задохнулся.
    Во всяком случае, именно так было с той бедной девчонкой на молодёжке. А она была в защитном шлеме!
    Йя!!! Моя нога легко касается головы Гарика, и только Бог знает, каких трудов мне стоило удержаться.
    Физрук наверняка понимает это по моему лицу, он мгновенно вклинивается, останавливая бой:
    — Победила Алина Дмитриевна!
    — Ведьма, — уточняю я.
    — Что? — не понимает физрук.
    Делаю традиционный церемонный поклон и уточняю:
    — У меня кличка такая.
    — Это многое объясняет! — усмехается физрук.
    После посиделок, на которых я сразу попросила прекратить обсуждение моего боя с Гариком, мы с Виталькой сидим на берегу озера. Убийственно романтичная обстановка. Таю под сладкими Виталькиными поцелуями и всхлипывая жалуюсь, что никакая я не грозная. И мышей боюсь. И лягушку никогда бы в руки не взяла. Бррррррр!!!
  {% endfilter %}
{% endblock %}
