{% extends template %}

{% set parentTitle = "Моё нескучное лето" %}
{% set title = "Глава 7. Наташа-большая" %}
{% set pubdate = "01.06.2012" %}

{% block content %}
  {% filter prose %}
    Наташа-большая. Зеленоглазая блондинка. Высокая, фигуристая, красивая. Готовится быть роковой женщиной. Не знаю, как насчёт роковой, но стерва будет первостатейная. Хотя разницу я объяснить не смогу. Но это не важно.
    На красивом лице Наташи-большой нет-нет да и появляется этакое высокомерное пренебрежение. Правда, она старается с нами его особо не показывать. С ней общаются просто из вежливости, что ли. Большой симпатии она не вызывает. Причём демонстративно к этому и не стремится.
    Романчик её с Володей начался весьма неожиданно. Что называется, у всех на виду.
    После отбоя местная молодёжь устраивала посиделки. Понятно, в те дни, когда не было танцев. Собирались на пару часиков. Стол — в складчину, кто что может. Иногда распивали на всю компашку бутылочку вина. Да, да! Там каждому по граммульке выходило.
    Володя был женат. Но это не страшно. Подумаешь! Сколько было, есть и будет всяких романов, так называемых «курортных»! Кто-нибудь придаёт им большое значение?
    Всё дело в том, что жена Володи Лена и пятилетний сынишка Серёжа… тоже были здесь, в лагере!!! Серёжа в шестом отряде, там самая малышня, а Лена устроилась на кухню.
    Все знают, что Володя сынишку просто обожает. Ходит каждый день к отбою (в младших отрядах отбой раньше, чем общий по лагерю) и читает сказки. Там без него вся комната не ложится!
    Вот однажды, неожиданно для нас, на посиделки пришли Володя с Леной. Сначала всё было как обычно. Все юморили, подкалывали друг друга. Особенно Наташа-большая старалась.
    Вдруг Володя встаёт и говорит:
    — Пойду-ка я на озеро. Купаться охота! — поворачивается к Наташе-большой и спокойно так предлагает: — Компанию составишь?
    Все замерли. А Наташа — тоже абсолютно спокойно:
    — Пошли! С удовольствием…
    И они ушли!!!
    Лена сидит, слова не говорит. Белая как простыня.
    Так и пошло. Лена, конечно, больше не приходила, а эти деятели просто демонстративно или уходили с посиделок, или приходили в обнимку, когда их уже и не ждали.
    Собственно, их вообще никто не ждал. Просто, не сговариваясь, решили не вмешиваться. Хотя всё это было и странно, и неприятно.
    Что у них там было, никто не знал. Я думаю, может, ничего и не было. Не удивлюсь, если Наташка Володю попросту «динамила».
    Как всё неожиданно у всех на виду началось, так же неожиданно и опять, можно сказать, у всех на виду и закончилось.
    Прошёл примерно месяц. И вот на очередных посиделках случайно, а может, и не совсем, кто-то завёл разговор о детях.
    Вожатая шестого отряда и говорит:
    — Володя, Серёжка твой такой чудесный мальчишка! И на тебя так похож!
    Володя вдруг побледнел смертельно, а Наташа-большая только фыркнула презрительно.
    И тут мой Виталька заявляет:
    — Ну вы и сволочи!
    Володя как ждал. Вскочил, глазами сверкает:
    — Ты что сказал, сопляк? Да я тебе сейчас морду набью!
    Я придерживаю Витальку и спокойненько говорю:
    — Ты, Володя, не горячись! Виталька сказал то, что тут все думают. Или мне тоже морду набьёшь?
    Сама киплю внутри.
    Володя сел и бормочет:
    — Сопляк! За бабой прячется.
    Я тогда почему-то не придала значение тому, что Виталька промолчал.
    На следующий день, во время тихого часа, Виталька сказал, что у него болит голова и он пойдёт к себе отдохнуть. Ну ладно!
    А минут через двадцать прибегает Наташа-маленькая:
    — Алинка, там в клубе Виталика избивают, — (так и сказала: «избивают»).
    В клубе мужчины собирались поиграть в бильярд и настольный теннис. Женщины туда почти никогда не ходили. Может, кроме Наташи-маленькой. Она всегда старалась быть около Бориса Аркадьевича.
    Виталька там ни разу не был. Можно было не сомневаться, зачем он туда пошёл на этот раз.
    Я ворвалась в клуб, но в дверях меня перехватили физрук с тем же Борисом Аркадьевичем.
    Драку, конечно, уже разняли. Потом я узнала, что Виталька зашёл, при всех назвал Володю подонком и залепил пощёчину.
    Пока их разняли, Володя успел Витальке настучать. Подбитый глаз, разбитая губа, по мелочам ещё!
    Я только что не рычала как тигрица! Если бы в тот момент добралась до Володи, мало бы ему не показалось!
    Но, к счастью, меня удержали.
    Поостыв, я и сама поняла: Виталька бы воспринял моё вмешательство как оскорбление.
    Я увела его умываться. Сбегала на кухню за льдом. Ну, врачевать ушибы и синяки мне же не привыкать!
    К моему удивлению, Виталька итогами драки не тяготился. Даже вроде доволен был: «Я ему тоже врезал!» Ну мальчишка!
    Вечером мы с отрядом шли после ужина в корпус, когда навстречу вышел Володя.
    На всякий случай я взяла Витальку под руку и только собиралась с презрительным безразличием пройти мимо, как Володя окликнул:
    — Алина Дмитриевна, можно тебя на минутку?
    Третий отряд остановился без команды, Виталька, высвободив руку, отстранил меня в сторону и шагнул вперёд:
    — Проваливай давай!
    Самой каратистке-раскаратистке приятно, когда за неё заступаются!
    Но Володя повёл себя совсем неожиданно. Он примирительно протянул руку и сказал:
    — Виталий, извини, пожалуйста… Ты был прав. Мир?
    (Тут надо пояснить, что начлагеря решил в ситуацию не вмешиваться. Ведь драку начал Виталька, а все, в том числе и начлагеря, считали, что по сути он прав. Так что извинения Володи, которого в самой драке никто и не винил, были искренними, тут можно было не сомневаться.)
    Виталька от удивления потерял дар речи. Я легонько пихаю его в бок и шепчу:
    — Ну, Виталька! Помиритесь!
    Третий отряд внимательно за всем наблюдает. Витальку любят, и поэтому на Володю смотрят недоброжелательно.
    — Виталька! — ещё раз толкаю своего рыцаря.
    Он, вздохнув, протягивает руку:
    — Ладно, проехали!
    — А теперь, пожалуйста, я с Алиной Дмитриевной переговорить хочу… — просит Володя.
    — Виталька, веди отряд, я скоро! — распоряжаюсь. Мне очень интересно: и зачем это я Володе понадобилась?
    Мы присели на лавочку.
    — Алина, ты же психолог?
    — Будущий! — честно уточняю.
    — Не важно! — машет рукой Володя.
    — Вообще-то я детский психолог.
    — Ещё лучше! — Володя вздыхает.
    Сидим, молчим.
    — Володя! — напоминаю. — Если хочешь что-то сказать, говори. Меня отряд ждёт.
    (Во будет прикол, если он сейчас мне в любви признается!)
    Володя опять вздыхает, а я усмехаюсь своим предположениям.
    — Не знаю, как начать, ты же понимаешь, я посоветоваться, конфиденциально, — (киваю). — Просто запутался совсем, — (Ну так, блин, распутывайся!) — В общем, ты же знаешь, когда в лагерь устраиваешься работать, надо анализы сдать, — (заинтриговал до невозможности). — Я уже не первый год на лето иду в лагерь работать. А тут сам, понимаешь — сам! Сам попросил сделать полный анализ. В общем, подробности не интересны, только выяснилось, что я не могу иметь детей!
    Я сижу в полном шоке!
    — Мне просто крышу снесло! — продолжает Володя. — Я сам не знаю, что делаю и зачем. Убить эту гадину хотел. Получается, она меня всё время обманывала! И что мне теперь делать?
    Он почти кричит, и я успокаивающе беру его за руку.
    — Знаешь, Володя, или прости и живите, а не можешь простить — расходитесь. Мучить её и себя — не надо.
    — Ну ты даёшь! — возмущается Володя. — А Сергуня? Он же меня любит. И… и я его тоже… Как с ним? Прийти и сказать: «Всё, Сергуня, я тебе больше не папка, ты меня не люби и я тебя не люблю?»
    Первый раз в жизни жалею о выбранной профессии. Это же мне и такие истории разрешать надо будет! Да кто я такая! Какое право имею советы людям давать! Советы, от которых вся их дальнейшая жизнь зависит!
    Ох-хо-хо!
    — Володя! — решаюсь я наконец. — Ты эти годы с Леной как жил? Она какой-то повод давала?
    — Да всё нормально было! — он порывисто вздыхает. — Если бы не анализ этот чёртов…
    — Значит, так! — (я приняла решение, и пусть все эти «профессиональности» психологические катятся к чёртовой матери!) — Значит, так. Ну уйдёшь ты к другой женщине. У неё тоже прошлое будет. Оно у всех есть. А сына точно потеряешь. Ты сейчас ради него успокойся, поговори с Леной. Постарайся простить. Кстати, она могла и не знать точно, кто отец. Ну ты же Серёжку по-настоящему любишь! Все в лагере знают, как ты сказки каждый вечер читаешь, — (в бою меня дисквалифицировали бы за запрещённый удар).
    — Спасибо! — Володя облегчённо вздыхает.
    Люди всегда принимают с удовольствием и облегчением советы, которые отвечают их тайным или явным желаниям. Пытаться их переориентировать — дело неблагодарное.
    «А как же профессионализм? Как психология?» — спросите вы. Ну, я уже сказала. Пару строчек выше. Посмотрите, если забыли…
    Виталька, конечно, попытался вызнать, про что мы с Володей говорили. Я честно сказала:
    — Про жизнь.
    А Наташа-большая уже через пару дней хороводилась с одним из экспедиторов. Наверно, в рамках своей подготовки к роковой роли. Не знаю, как роковая женщина, а стерва из неё получится отменная. Я уже это говорила?
  {% endfilter %}
{% endblock %}
