{% extends template %}

{% set parentTitle = "Вера" %}
{% set title = "Глава 1" %}
{% set pubdate = "05.06.2012" %}
{% set prev = "delf/summer-13" %}

{% block content %}
  {% filter prose %}
    Сан Саныч, третий штурман мурманского тралового флота, ехал в отпуск. Собственно, даже не в отпуск, а так, на четыре дня. Витюша, товарищ по мореходке, пригласил. Они дружили втроём: Сашка, Витюша (его все так звали) и Володя.
    В отличие от своих друзей, в море как раз Витюша ходить и не собирался. Папашка его был в Питере какой-то шишкой. А сыночка он определил в мурманскую мореходку, чтобы убрать подальше от питерских соблазнов и потому ещё, что дисциплина здесь — почти военная.
    Хотя, возможно, и просто потому, что начальником мореходки был его друг. Все это знали, плюс — Витюша был исключительный нахалюга и плут. И тем не менее ему прощалось всё — за незлобивость, весёлость и лихость. Более того — его даже любили, особенно местные девчонки, которых он менял с завидной (для других курсантов) регулярностью. Когда Витюша получил диплом, папа устроил ему место с кабинетом в Ленинграде, отмазав каким-то образом от необходимости три года отрабатывать, как полагалось молодому специалисту. Впрочем, кто бы сомневался!
    Там Витюша опять продолжил свои приятные упражнения с теперь уже ленинградскими девицами. Пока на его, как говорится, жизненном пути не повстречалась Рита. Студентка юрфака. Блондинка с голубыми, как положено, глазами и с умопомрачительной фигурой. Ну просто Барби! Но, несмотря на свою кукольную, а значит, глуповато-безобидную внешность, Ритуля была девушка умная и житейски хваткая.
    Дураков в юридическом, как вы понимаете, не держат. Короче, Витюша, потрепыхавшись немного в её красивом маникюре, решил: «А собственно, чего я дёргаюсь? Красивая, умная… и вообще!.. Что мне, дураку, ещё надо?» — (Возможно он подумал как-нибудь по-другому, но смысл — точно такой.)
    И вот он пригласил своих друзей по мореходке, Сашу и Володю, познакомиться со своей невестой.
    Володя не смог поехать. Он был третий механик и должен был налаживать дизеля. Саша тоже хотел отказаться — из солидарности, но Володя настоял:
    — Обязательно езжай! А то Витюша обидится. Потом расскажешь! Эх! Жалко, что я не могу. А то бы нашу «копеечку» обкатали!
    (Они недавно купили «жигулёнок» первой модели. Водил, конечно, Володя.)
    Это с Витюшей они познакомились и подружились только в мореходке. А с Вовкой Сашка дружил с детства. С третьего класса или даже со второго. Сейчас и не упомнить. И учителя, и родители, и другие мальчишки ну никак понять не могли, что сближает этих двух таких разных ребят?
    Сашка — высокий, красивый, черноволосый. Непоседа и отчаянно смелый. Учёба давалась ему очень легко.
    Вовка — белобрысый, коренастый. Всегда такой сосредоточенный и серьёзный, что мог показаться угрюмым. Учился тоже хорошо, но тут — больше благодаря старательности, чем способности, и, конечно, помощи друга.
    Дружили мальчишки по-настоящему. Самые задиры очень быстро убедились: с ними лучше не связываться, потому что придётся иметь дело с пугающим бесстрашием Сашки и с крепкими кулаками Вовки.
    Родители у Саши — оба инженеры. Даже работали вместе. Жили в новострое, в скромном двухкомнатном кооперативе.
    Вовкин отец ходил механиком на рыболовецких сейнерах, моряки называют такие суда «малышами». Видели бы вы, что проделывают волны с таким пароходиком во время шторма! Поэтому на «малышах» ходят отчаянные ребята, уж поверьте!
    Мама Вовки, Татьяна Ивановна, работала нянечкой в больнице. Две ночи в неделю. У них была большая трёхкомнатная квартира. Почти в центре. У Вовы была своя комната, и Саша часто оставался у него ночевать.
    Сашкины родители работали вместе… вместе и погибли, когда их старенький «москвич» разнёс вдребезги пьяный водитель на грузовике. Так Сашка в одночасье стал сиротой. Мать его была из детдома, а у отца — уже престарелые родители где-то в глубинке. Служба опеки собиралась отправить мальчика в приют, но Марк Захарович, Вовкин отец, решил:
    — Не может быть и речи! У нас будешь жить! Всё равно вы с Вовкой — как братья.
    Сам решил. А умоляющий взгляд сына и заплаканные глаза жены только помогли ему принять такое решение.
    Случилось это в конце лета, ребята должны были осенью пойти в пятый класс. А зимой «малыш», на котором Марк Захарович был механиком, попал в сильный шторм. Да в придачу ещё и мороз страшенный. И хотя экипаж пытался «обкалываться», судно перевернулось… Подбежавшие на помощь суда подняли только спасательный плотик с шестью уже закоченевшими телами. Вовкиного отца среди них не было…
    Страшно выла вдова. Мальчишки плакали, обнявшись…
    Но жизнь продолжается. (Многим из нас приходилось или слышать, или самим говорить эти слова.) Теперь мама Таня (так Татьяну Ивановну звал Сашка, а иногда и Вовка) работала в больнице почти каждую ночь, ещё по утрам убиралась в соседней поликлинике. Небольшой пенсии за погибшего мужа не хватало.
    Женщина она симпатичная, попыталась устроить личную жизнь ещё раз. Сошлась с одним… Таких в Мурманске зовут «сезонниками».
    Короче, года через два он «испарился». Оставив, правда, после себя, верно, на добрую память, годовалую красотку Маришку. И если к нему самому ребята никаких тёплых чувств не проявляли, так, терпели, то сестрёнку просто обожали. И возились с ней — никаких нянек не надо!
    Мама Таня тоже особенно не переживала. Махнула рукой: видно, не судьба!
    Только вот в религию теперь «ударилась». Причём как-то по-своему. Ни в церковь, ни тем более ни в какие секты не ходила. Притащила откуда-то бумажную иконку, повесила её рядом с портретом погибшего мужа и молилась в том углу какими-то известными только ей молитвами. И Бога почему-то звала частенько просто — Макарушка…
    Ребята, конечно, не одобряли, но молчали. Понимали, тяжело ей…
    Когда они окончили школу, подошли к маме Тане с серьёзным разговором.
    Говорил в основном Сашка. Мол, видим, как тебе тяжело, с троими-то… вот решили… пойдём пока работать, а учиться поступим потом… Ну и всё такое…
    Мама Таня и слушать не стала. Бросилась в свой угол и запричитала, обращаясь сразу к обоим:
    — Господи боже мой! Макарушка! Видите! Не справилась я! Не смогла!.. Ишь чего, окаянные, удумали! — (это уже сыновьям). — А вот попробуйте только! Школу на отлично… а теперь…
    Четырёхлетняя Маришка, конечно, толком ничего не понимала, жалась к ней и, готовясь реветь за компанию, на братьев сердито смотрела: «чего мамочку обижаете».
    — Хорошо! — сдались ребята. — Но только в мореходку! Другие варианты даже не обсуждаются!
    Ох! Щемило сердце у мамы Тани, но согласилась она. Куда денешься.
    Сашка, конечно, поступил на судоводительское (штурманское) отделение. Мечтал стать капитаном (а кем ещё?). Вовка, само собой, — на механика-дизелиста. Как батя…
    Вот теперь они оба ходят, понятное дело, на одном судне. Сашка — третьим штурманом, Вовка — тоже третьим, но механиком. Оба хорошие, даже отличные, специалисты. А Сан Санычем Сашку на пароходе все зовут, кроме Вовки, конечно. Даже капитан. А капитан на судне это — ух! Первый после Бога!
    А уж их капитан — мужик отчаянный. Все ветра, во всех океанах, знают его в лицо. В прежние времена он наверняка командовал бы пиратским фрегатом.
  {% endfilter %}
{% endblock %}
