{% extends template %}

{% set parentTitle = "Вера" %}
{% set title = "Глава 4" %}
{% set pubdate = "05.06.2012" %}

{% block content %}
  {% filter prose %}
    «Я — молодец! И вообще! Ты ещё просто не знаешь, какая я у тебя!» — говорили её глаза. Сашка посерьёзнел и положил руки ей на плечи…
    Они слегка обалдело уставились на вошедшего Володю.
    — Я стучал! — виновато сказал тот и посмотрел на Сашку: «может, не вовремя?».
    — Верочка! Это Володя! — несколько церемонно представил друга смущённый Сашка.
    — Очень приятно! — Верочка протянула руку. — Саша в каждом письме про вас писал! — притворяться, по-видимому, она не очень умела, и в её взгляде ещё было что-то такое (предназначенное, конечно, Санечке), от чего мужчин бросает в жар.
    Володя, наверное, это понял, тоже смутился и осторожно пожал узкую ладошку:
    — Мне тоже! Очень приятно! Сашка про вас много рассказывал.
    — Ого! — восхищённо воскликнула Верочка. — Да у вас рука — как железная!
    — Так он же целыми днями с железом возится! — объяснил Сашка. — Да и потом, Вовка раньше боксом занимался.
    — Ты это… как гостей встречаешь? — сменил тему Володя. — Стол пустой!
    — Да я как-то не подумал! — растерянно развёл руками Саша.
    — Что бы ты без меня делал! — укоризненно, но добродушно сказал Володя. — Я — быстро.
    Он действительно вернулся довольно быстро и притащил целый ворох всякой вкуснятины. Ну конечно, несколько видов солёной и вяленой рыбы, вяленые креветки, полукопчёную колбасу и здоровущий кусок сыра. Печенье, конфеты, ещё чего-то там…
    — Вовка! — поразился Саша. — Ты что, камбуз ограбил?
    — Ты не бездельничай! — не стал вдаваться в подробности Вова. — Сгоняй принеси воду на чай с причала.
    — Вот чёрт! Не подумал! — Сашка, очень довольный, что тоже может внести свой вклад, вытащил из рундука трёхлитровую стеклянную банку, оплетённую капроном, и вышел.
    — А почему на причал? — удивилась Вера. — У вас что, вода кончилась?
    — Вода, конечно, не кончилась, — Вова разложил принесённое на столе и, склонив голову к плечу, оценивал дизайн. — Только у нас она опреснённая. Нет, конечно, добавляются минералы, всё как положено… Но с береговой — никакого сравнения. А в Мурманске вообще вода очень вкусная.
    — Знаете, я раньше никогда не задумывалась, вкусная или нет простая вода.
    — Послушайте, ребята! — сказал вошедший Саша. — Хватит вам друг другу «выкать». — Он поставил банку на стол и сунул в неё кипятильник. Когда вода закипела, засыпал полпачки цейлонского чая…
    Веру упросили попробовать всё. «Ну хоть малюсенький кусочек». Вяленую рыбу она куснула и жалобно посмотрела на Сашу.
    — Ну Вовка! — заступился тот. — Это же к пиву. Верочка, ты пиво любишь?
    Она засмеялась:
    — Вова, не обижайся! Наверное, это очень вкусно, но я пока не привыкла. А креветки — очень мне понравились! — поторопилась она добавить, видя, что Санечкин друг не то чтобы обиделся, но огорчился.
    — Лады, ребята! — не без сожаления сказал Володя. — Мне пора. Дизель коптит. Надо разбирать.
    — Верочка! — сказал Саша, когда они остались одни. — У нас, возможно, будет ночью перешвартовка, поэтому мне придётся ночевать на судне. Поедешь с Вовкой вечером домой, познакомишься с мамой Таней и Маришкой, — он кашлянул и отвернулся.
    — Санечка! — тихо и жарко сказала Вера. — Я к тебе приехала. К тебе! А с мамой Таней и Маришкой ты меня завтра сам познакомишь.
    Сашка облегчёно вздохнул и притянул Верочку к себе.
    Её глаза были так близко, что я, если бы не избегала банальности и избитости, сказала бы, что в них можно было утонуть. Но я — избегаю, поэтому — скажу просто: её глаза были близко-близко!.. Но в них действительно — можно было утонуть. Сашка и тонул!
    — Ты обещал показать пароход! — тихо сказала Вера и покосилась на дверь: «А вдруг кто-нибудь зайдёт!»
    — Да, да! Конечно! — не торопился отпускать её Сашка. — Только в туфельках тебе трудновато будет.
    — Вы, мужчины, почему-то считаете, что женщинам на каблуках ходить — мучение.
    — А что? Разве не так? — удивился Саша. (Как и многие мальчишки, он когда-то в детстве попробовал походить в маминых туфлях и только чудом не вывихнул ноги. Мужчины почему-то помнят такие вещи всю жизнь.)
    — Вообще-то трудновато! — вздохнула Вера, тоже не очень торопясь отлипать от своего Санечки. — Но ведь вам красиво! А ты же со мной? Значит — справимся!
    Саша водил Веру по почти безлюдному пароходу. Показал кают-компанию, салон команды. Открыл дверь на рыборазделочную фабрику:
    — Тут палуба закрыта решётками, тебе — не пройти. Отсюда смотри. Вон там, в самом конце, — бункер. Транспортёры, морозильные камеры. А вот здесь, около дверей, — упаковка.
    Они шли по коридору, когда Саша вспомнил:
    — Верочка, подожди здесь, мне вон в ту каюту надо на минутку зайти.
    (Это была каюта его рулевого, которого Саша хотел предупредить, чтобы не вздумал «нажраться», как в прошлый раз. Смущать парня присутствием Веры он не хотел.)
    Вера стояла, прислонившись к переборке, которую она совершенно естественно, как сугубо береговой человек, считала железной стенкой, когда раздался грохот, и в этой самой стенке, метрах в двух от неё, распахнулась дверь.
    В коридор вывалился здоровенный детина. Он был неожиданно тепло одет. Буквально по-зимнему. Телогрейка, под которой виднелся свитер и ватные простёганные брюки. На голове — тёплый подшлемник, обут в «кирзачи». В довершение картины, он был небрит, от него пахло спиртным и почему-то морозом.
    Парень обрадовался, увидев оторопевшую от его неожиданного появления и вполне злодейского вида Верочку. Упёр могучие ручищи в переборку, так, что хоть он и не касался её, она оказалась в плену.
    — Ты чья, Снегурка? — рыкнул злодей, явно довольный её очевидной растерянностью.
    Будущий юрист, испуганно распахнув свои изумительные глаза, попыталась вспомнить какие-нибудь правовые нормы, запрещающие ограничивать свободу личности, но терялась под нахальным и беспощадным взглядом этого бандита. Поэтому только жалобно пискнула:
    — Саша!
    — Валерка! Чертяка! Ты чего это ребёнка пугаешь?! — спокойно спросил как раз подошедший Сашка.
    — А! Саныч! — в голосе «страшного злодея», который оказался просто Валеркой, были и уважение, и невольное разочарование. — Так это твоя Снегурка! — руки он убирать не торопился. — А я смотрю — стоит, переборку сторожит. Думал — бесхозная.
    — Давай, давай! Проваливай! — Сашка добродушно, но решительно подтолкнул Валерку.
    Тот с достоинством удалился, бормоча под нос что-то про «штурманцов», которые позахватывали всех Снегурок.
    — Господи! — всё ещё взволнованно спросила Верочка. — Что это за Бармалей?
    — Валерка?! — удивился Сашка, который ничего злодейского во внешности Валерия не усматривал, потому как привык. — Да это — лучший трюмный всех времён и народов. Он у нас — просто незаменимый. В любой аврал — один справляется! Да и парень — просто золотой!
    — Конечно, конечно! Санечка! — в благодарность за своё чудесное спасение Верочка решила пока не спорить. — Он золотой и даже, наверное, с бриллиантами! Только ты меня, пожалуйста, больше одну не оставляй. Очень народ у вас тут хозяйственный — заберут, как бесхозную! Обещаешь?
    Наверное, она хотела съязвить. А Сашка отвернулся, чтобы скрыть довольную улыбку, и с готовностью пообещал…
    На мостике — так моряки называют ходовую рубку — были тишина и полумрак.
    Только неярко светились разноцветные лампочки на приборах.
    Саша открыл дверь и, не входя, спросил вахтенного штурмана, который сидел в углу и слушал в наушники радио:
    — Николаевич! Можно я своей девушке мостик покажу?
    Вахтенный, второй штурман, — хохол, годков так под пятьдесят. Отличный мужик, хотя рыбак — довольно слабенький. Заканчивал среднюю мореходку, поэтому — «второй» был его «потолком». Сашку, как и почти весь экипаж, он уважал и даже любил. Понимал, что этот молодой и перспективный штурман очень скоро обгонит его по службе.
    «Я ещё, Саныч, под твоим капитанством до пенсии надеюсь походить!»
    — Ты чего это, Саныч, спрашиваешь?! — удивился он. — Ты тут такой же хозяин, как и я, — Николаевич встал, снял наушники и положил их на стол. — Давай, показывай.
    На Верочку он посмотрел с одобрением. Вообще мужчинам любого возраста было трудно не попасть под обаяние этой хрупкой рыжеватой девушки.
    Сашка с гордостью и обстоятельно объяснял Верочке предназначение всех приборов. Вряд ли она много что понимала в этих объяснениях. Только удивилась, что штурвал такой маленький. Сашка засмеялся и понял, что слушает она — больше из вежливости.
    — Хочешь с Вовкой поговорить? Он сейчас в машине.
    Саша включил «берёзку» — внутрисудовую связь:
    — Машина! Мостику!
    Повторять пришлось несколько раз. Потом в динамике послышался недовольный голос моториста:
    — Машина на проводе! Чего надо! — (Попробовал бы он так ответить в рейсе! Но сейчас все, естественно, расслабились, и Сашка решил — не придираться.)
    — Третьего механика на связь. Срочно! — строго потребовал Саша.
    В ответ динамик недовольно буркнул, пара минут тишины, потом ответил несколько искажённый трансляцией Вовкин голос, тоже без излишней приветливости.
    — Это я! Вован! — поторопился сказать Саша. — Верочке пароход показываю!
    Вовкин голос заметно потеплел:
    — Вера! Сашка там небось рубкой хвалится?! А настоящее сердце судна — это, конечно же, машинное отделение! Хотите посмотреть?
    — Конечно! С удовольствием! — вежливо ответила Вера. Даже по голосу было слышно, что она улыбается. «Какие, право, эти мужчины всё же мальчишки! И как это здорово!»
    — Санёк! — звенел динамик Вовкиным голосом. — Идите сейчас, а то мы начинаем «вспомогач» раскидывать.
    — Саша! Что они начинают делать? — поинтересовалась Вера, когда осторожно, с Сашкиной помощью, спускалась по внутренним трапам.
    — Дизель вспомогательный разбирать начинают. Коптит немного. Это как раз Вовкино заведование. А он, чертяка, дотошный. Сейчас будет возиться — пока не отладит.
    Саша открыл дверь в машинное отделение, и Вера в растерянности остановилась. Спускаться по этим почти отвесным трапам, в её понимании, было просто нереально.
    Саша понял.
    — Да, действительно! Это я не подумал! Сейчас спущусь, Вовку позову.
    — Ну нет! — Вера схватила его за руку. — Ты обещал меня одну не оставлять. Забыл?!
    Саша перевесился через поручни и позвал Володю. Тот быстро поднялся и, посмотрев на Веру, всё понял:
    — Да, Санёк! — он удручённо почесал затылок. — Это мы не учли! В таких туфельках по трапам не нагуляешься! — он оживился. — А давай я отсюда покажу!
    — Да уймись ты! «Мазута»! — засмеялся Саша. — Очень Верочке твои железяки интересны!
    Вера прилежно сделала огорчённое лицо и вновато вздохнула…
    К вечеру на и без того почти безлюдном судне стало совсем тихо. Местные — разошлись по домам. Другие — кто выпив, кто так — угомонились.
    — Ты укладывайся… — Саша почему-то понизил голос. — Я выйду, а хочешь, в Вовкиной каюте лягу.
    — Дверь закрыл? — тоже тихо спросила Вера. И покорно прильнула к Саше, когда он порывисто её обнял…
    Помня о тонкости судовых переборок, они старались не очень шуметь. И если Верочке надо было немножко постонать, она покусывала Сашкино плечо…
    Перешвартовки, кстати, так и не было. А когда утром Саша с Верочкой под ручку подходили к парадному трапу, на палубе встретили Валеру — трюмного.
    Тот побрился, его могучую фигуру плотно облегал джинсовый костюм, на ногах — супермодные «казачки». Увидев Верочку, он в приветливой улыбке обнажил сильные клыки и поинтересовался:
    — Так говоришь — Бармалей?! — (И откуда уже узнал?)
    Верочка, конечно, теперь ни черта не боялась, но, приличия ради, немножко покраснела и с удовольствием крепко прижалась к Сашке.
    Бармалей, с одобрением и восхищением хмыкнув, потопал вниз.
    У трапа Верочка сама повернулась к Саше и положила ему руки на плечи, чтобы он снёс её на руках…
    Около проходной их встретил Володя на машине.
    — Мне надо вещи забрать из камеры хранения, — сказала Вера.
    — Легко! — бодро ответил Володя. — Где именно?
    — В аэропорту, Вован! — невинным голосом вмешался Саша.
    — Где?! — Володя в изумлении резко тормознул. (Аэропорт далековато, что и говорить!)
    — Да нет, Володенька! — успокоила его Вера. — Здесь рядом, на железнодорожном вокзале.
    — Можно подумать, что в аэропорт ты бы не поехал! — съехидничал Саша.
    — Для Верочки — конечно бы поехал. А тебя, охламона, пешком бы погнал! — с облегчением пробурчал Володя…
  {% endfilter %}
{% endblock %}
