{% extends template %}

{% set title = "Вечер" %}
{% set pubdate = "11.11.2011" %}

{% block content %}
  {% filter poem %}
    День оказался не у дел —
    И, оттеснённый тучей,
    Он сморщился и стал как мел,
    Рассыпавшийся кучей.

    И вот, немного погодя,
    Из облачной хибары
    Косматой музыкой дождя
    Сполз сумрак на бульвары.

    Он жар последний погасил
    В тускнеющем закате —
    И так весь белый свет затмил
    Невовремя, некстати,

    Что даже ветер приумолк
    За серостью фасадов,
    Напрасно взять пытаясь в толк,
    Что здесь пришельцу надо.

    А сумрак полз себе, как уж,
    По сторонам не глядя,
    И след испаринами луж
    Расплёскивался сзади.

    А сумрак расширялся, рос
    Коллоидной рекою —
    И, словно массовый гипноз,
    Всё заполнял собою.

    Он всё плотней сжимал круги,
    Простанство заарканив —
    Семиэтажные шаги
    Барахтались в тумане.

    Дремотный отсвет фонарей
    Не мог никак пробиться,
    И время жалось у дверей
    Подстреленною птицей.

    И неуклюже невесом,
    Мгле моросящей внемля,
    Кленовый лист твоим письмом
    Планировал на землю.
  {% endfilter %}
{% endblock %}
