{% extends template %}

{% set title = "Сентябрьские вариации" %}
{% set pubdate = "11.11.2011" %}
{% set prev = "ton/poem" %}

{% block content %}
  <h2 class="art__subtitle">1</h2>
  {% filter poem %}
    Тонкой струною холода
    Тронута даль небес,
    И, словно медный колокол,
    Стынет осенний лес.

    Над автострадной линией
    Нет уже тёплых нот.
    Лишь паутинкой синею
    Тихое «до» плывёт.

    Кажется эхом тающим
    Листьев багряный свет:
    Ветви — органа клавиши,
    Жаль, музыканта нет.
  {% endfilter %}

  <h2 class="art__subtitle">2</h2>
  {% filter poem %}
    А над линией автострадной —
    Хаотичный бедлам эстрадный:
    Запечалившуюся прохладу
    Какофонией рвёт эстакада.

    И уходит на отдых туман,
    Как своё отыгравший орган.
    Лишь, как нотку последнюю, ветер
    Паутинкой несёт бабье лето.
  {% endfilter %}

  <h2 class="art__subtitle">3</h2>
  {% filter poem %}
    Осень полна перезвоном:
    Пурпурно-маршевым клёном,
    Жёлто-частушечным грабом,
    Плачем берёзовым слабым,

    Речитативом черёмухи,
    Скороговоркою ясеня —
    Музыкой грустно-знакомою,
    Музыкой вечно-прекрасною.
  {% endfilter %}
{% endblock %}
