{% extends template %}

{% set title = "Я дома" %}
{% set pubdate = "21.11.2011" %}

{% block content %}
  {% filter poem %}
    Стены в простеньких обоях:
    Не чертоги, не хоромы.
    Но щемяще и знакомо
    Вновь в душе морским прибоем,
    Эхом радостным: «Я дома!»

    Неизысканность уюта:
    Полки, шкаф, листы альбома,
    Стулья, стол, диван и кроме
    Них нет в команте как будто
    Ничего. И всё ж я дома!

    Знаю, завтра вновь дорога
    К миру выведет большому.
    Но уверен я: любому
    Хочется сказать в итоге
    С наслаждением: «Я дома!»

    И в каких бы далях не был —
    Лишь к нему душа влекома.
    Невозможно по-другому
    Ощутить седьмое небо.
    Я блаженствую… Я дома…
  {% endfilter %}
{% endblock %}
