{% extends template %}

{% set title = "Чайка" %}
{% set pubdate = "21.11.2011" %}

{% block content %}
  {% filter poem %}
    Я поражён необычайно:
    Почти над самой головой
    Висела в синем небе чайка —
    Так низко, что достать рукой.

    И шелестело оперенье,
    Как будто странный сон дневной,
    Слепя глаза мне белизной
    Неповторимого паренья.

    Был мой восторг непостигаем
    И, по-мальчишечьи смеясь,
    Я понял вдруг, что мы теряем
    С необъяснимым чем-то связь,

    С тем, что как свет необходимо,
    Но что не вспомним мы никак,
    Что в наших будничных делах
    Проносится всё чаще мимо.

    А чайка? Что ж, ещё мгновенье,
    И вот величественный взмах…
    Она всего лишь смутной тенью
    Коснулась строк в моих стихах.
  {% endfilter %}
{% endblock %}
