{% extends template %}

{% set title = "Ночные полёты" %}
{% set pubdate = "21.11.2011" %}

{% block content %}
  {% filter poem %}
    Опять бессонница права,
    Паря над мглой аэродрома.
    Ворчит усталая трава,
    Но глушатся её слова
    Очередным раскатом грома.

    И высветлив себя на миг,
    Воспламенясь от напряженья,
    Как рвущийся на волю стих,
    Взмывает в тьму ночную МиГ,
    Сгребя её под оперенье.

    Он мчит в бездонный небосвод,
    Туда, где звёзд созревших гроздья
    Висят столетья напролёт,
    И всматривается пилот
    В свои небесные угодья.

    Пусть сонно ропщут облака:
    Ну что им ночью-то не спится!
    Но, как всегда, тверда рука,
    И, приминая им бока,
    Летит серебряная птица.

    И на заоблачную гладь
    Луна уронит отсвет синий
    И будет верным псом бежать,
    И будет след висеть, как гать,
    Проложенная по трясине.
  {% endfilter %}
{% endblock %}
