{% extends template %}

{% set title = "Тучи" %}
{% set pubdate = "21.11.2011" %}
{% set prev = "hoholist/autumn-6" %}

{% block content %}
  {% filter poem %}
    Поднимут тучи паруса,
    Приняв окраску голубую,
    И понесутся в даль иную,
    И я поверю в чудеса.

    И я поверю: мир не тот,
    Каким казался мне ещё сегодня,
    Он шире, звонче, сумасбродней,
    И, как стрела, он весь — вперёд.

    И, как стрела, летит душа
    За голубыми кораблями.
    Я переполнен вновь мечтами
    И вновь похож на малыша.

    И вновь покажется на миг,
    Что всё на свете достижимо,
    Но только — если одержимо
    И если — только напрямик.
  {% endfilter %}
{% endblock %}
