{% extends template %}

{% set title = "Перед стартом" %}
{% set pubdate = "21.11.2011" %}

{% block content %}
  {% filter poem %}
    Опущен фонарь:
    Машина к полёту готова.
    Товарищ технарь
    Сказал своё веское слово.

    Сейчас самолёт
    Покатит вперёд потихоньку.
    Немного трясёт
    Волнующуюся бетонку,

    И техник притих —
    Желает пилоту удачи.
    Предстартовый миг —
    Как много он каждый раз значит…

    Ну что же, лети
    Смелей, светлокрылая птица,
    Уверен, в пути
    С тобой ничего не случится.

    Не зря на земле
    Мы, техники, недосыпали:
    Есть сила в крыле,
    Покорными будут ей дали.

    И в сердце твоём,
    И в нервах твоих всё в порядке —
    Ждёт аэродром
    Лишь благополучной посадки.

    Но всё же, пока
    Шасси ВПП не коснётся,
    Нам наверняка
    Спокойными быть не придётся.
  {% endfilter %}
{% endblock %}
