{% extends template %}

{% set parentTitle = "История плохой-хорошей девочки" %}
{% set title = "Глава 9" %}
{% set pubdate = "14.02.2013" %}
{% set next = "delf/humor-1" %}

{% block content %}
  {% filter prose %}
    Я тоже целовала всех без разбора. Ленка умирала от ревности, но я поймала Геру, и ему пришлось лизаться со мной минут пять. Кстати, почему пришлось? Уверена, ему не было неприятно!
    А ночью, как Пупс и обещал, мы вернулись на яхту.
    В каюте я сразу побежала в душ. Потом потребовала романтический ужин. Юра сообщил, что скоро утро, а я возразила, что мне пофиг, хочу романтический ужин!
    Он пошёл добывать антураж.
    Я достала из чемодана красивое кружевное бельё. Это мой вклад в романтический ужин. Полюбовалась на своё отражение в зеркалах. Решила, что нормальная секс-ориентация мне всё же как-то ближе… Юры всё не было.
    Делаю второй круг. Репетирую самые завлекательные телодвижения… Юра не возвращается.
    «Вот скотина!» — возмущаюсь мысленно и, как есть, в кружевах, выхожу из каюты.
    Вообще, далеко я идти и не собиралась. Но чего не ожидала точно, это того, что практически нос к носу столкнусь с Толиком-Лёликом.
    — А мы как раз за тобой! — сообщил один из них (я их всё время путала).
    Меня почему-то не удивило, что они пришли за мной, я им даже обрадовалась. Как же — соратники всё же!
    Они подхватили меня под руки с двух сторон и, не успела я ничего подумать, буквально внесли в салон.
    В салоне было темно, но вот послышался шорох, щёлкнул выключатель, и если бы сейчас небо обрушилось на землю, я поразилась бы немногим больше.
    За столом сидел и весьма нагло улыбался мне господин Синльон.
    — Привет, милая! — поприветствовал он меня на чистейшем русском.
    Хорошо, что Толик-Лёлик продолжали меня держать. Я точно бы рухнула в обморок. Всё вокруг меня закачалось.
    Воображение у меня — будь здоров. Но никогда оно ещё не трудилось с такой скоростью. В пару секунд я представила себе штук тридцать всяких вариантов.
    Хотя, в общем, суть сводилась к одному: эти грёбаные братцы — предатели, на яхте измена, все убиты, и сейчас будут убивать меня. Я остолбенела практически в прямом смысле этого определения!!!
    Один из предателей перехватил меня за обе руки — пошевелиться невозможно. Это простого мужика я вырублю на раз. А против таких амбалов у меня шансов — ноль!
    Второй гад в это время завязал мне глаза. (Рот не затыкают, значит, кричать бесполезно!)
    Мне слышатся какие-то шорохи, шепотки и даже хихиканье. Я, естественно, решаю, что это ангелы прилетели за моей душой и сейчас перешёптываются, ожидая, когда эта душа покинет красивое молодое тело.
    На то, что хотя бы изнасилуют, перед тем как прикончить, надежды нет! Эти гомики лишают меня даже этого. Нет! Ну почему в свои последние секунды я думаю про всякую фигню? Хотя, а про что мне сейчас думать?
    — Готово! — сказал один из моих палачей.
    Меня отпустили, и я теперь стояла посреди салона в бессмысленных теперь уже кружевах и с повязкой на глазах.
    — Да сними ты повязку! — насмешливо предлагает Синльон. (Вот как им не терпится покончить со мной!)
    Медленно стягиваю повязку, из последних сил решив, что постараюсь умереть достойно. Хотя то, что я про них думаю, конечно же, скажу. Во всяком случае, сколько успею.
    Всё! Отбрасываю повязку в сторону, набираю в лёгкие воздух для своего финального монолога и…
    — Сюрприз!!!
    Со всех сторон меня окружает вся наша ватага!
    — Прикольное бельишко! — ехидничает Виолетта. — На распродаже брала?
    Вижу всё происходящее, как в сюрреалистическом сне. Никак не пойму, злиться мне, плакать, смеяться, устроить истерику, дать кому-нибудь в морду… в общем, вариантов столько, что так сразу и не выберешь лучший. А может, я просто в ступоре?
    Все ржут, все меня тискают, а я думаю: вот был бы позор, если бы я начала валяться на коленях и молить о пощаде!
    Когда страсти несколько улеглись, меня усадили во главе стола, на место Пупса, и не просто рассказали, а торжественно сообщили, что всё это был просто розыгрыш!
    Розыгрыш это был, мать моя женщина!!!
    — Ну ты же сама искала во всём подвох! — давился довольным смехом Пупс. Вот мы тебя и разыграли!
    Я в этот момент думала, что накрылся медным тазом мерс, который я намеревалась потребовать за своё участие в операции.
    Господин Синльон, конечно, не был никаким Синльоном! Это ещё один из многочисленных друзей Пупса. В ресторане том всем присутствующим заплатили столько, что я могла бы жахнуть из базуки — и мне бы ничего за это не было! Короче, все живы-здоровы. А главное, моя совесть чиста, никто из-за меня не погиб и не похищен!
    В общем, решаю не обижаться и с удовольствием разделяю всеобщее веселье.
    Уже в своей каюте заявляю Юре:
    — А знаешь, я совсем не в обиде! Даже лучше, что вы не шпионы! И что никого не убивали и не похищали!
    Юра уложил меня в постель.
    — Иди сюда! — зову его. Умираю — хочу трахаться! Наверно, послестрессовое состояние.
    — Девочка моя! — Юра сейчас просто сама нежность. — Я на пару минут должен заскочить к Пупсу. Если уснёшь, обязательно разбужу, так и знай!
    — Обязательно! — бормочу сонно. — Только попробуй не разбудить.
    Меня ласково обволакивает сладкий туман.
    Здорово, что всё оказалось просто розыгрышем. Ох и страху натерпелась! А интересно, почему они всё же настаивают, чтобы я не упоминала настоящих имён и не называла стран, в которых мы побывали? И нога у Виолетты действительно же разбита. Ой, ну какая разница! Чего я такая мнительная!
    Последнее, что думаю, прежде чем окончательно провалиться в приятный сон: «О! Я знаю, как назову свои путевые заметки. Назову так: “История плохой-хорошей девочки”. Да! Это то что надо!»
  {% endfilter %}

  <h2 class="art__subtitle">P. S.</h2>
  {% filter prose %}
    В это самое время в каюте того, кого наша героиня назвала в своём рассказе Пупсом, собрались остальные участники всех вышеописанных событий.
    — Ну что, — спросил Пупс у Юры, — Алина ни о чём не догадалась?
    — Всё нормально! — Юра вздохнул с облегчением. — Алинка даже рада, что так обернулось.
    — Она хоть и блондинка, но не полная же дура! — ехидно заметила Виолетта.
    — Алинка совсем не дура! — возмутился Юра.
    — Большого ума я у неё что-то не зафиксировала! — гнёт своё Виолетта.
    — Это у вас взаимно! — огрызается обиженный за свою подружку Юра.
    — Виолетточка! — укоризненно сказал Пупс. — Зачем ты так?
    — Да ладно! — махнула рукой Виолетта. — Спасибо ей, конечно. Не вовремя я с ногой этой… А она всё натурально сделала!
    — Особенно с салатом! — хмыкает Пупс.
    — Я же говорил, она нам может пригодиться! — гордится подружкой Юра.
    — И спать веселее! — подкалывает Виолетта, но на этот раз беззлобно.
    — Андрэ, как там наш гость? — безразлично спросил Гера.
    Пупс (так называть нам его привычней) с удовольствием потёр руки:
    — Я с ним предварительно переговорил, объяснил ему его перспективы, точнее, полное их отсутствие. Он деловой человек. Картель его наверняка уже ищет. Мы же всё обставили, как будто он устроил таким образом себе побег. Все счета и коды допуска у него. Будет сотрудничать, никуда не денется. Кстати, — обратился Пупс к лже-Синльону, — Влад, дальше главная роль твоя. Мы тебя завтра высадим в порту Икс, засветишься в банке, снимешь немного денег кредиткой клиента. В гостинице «забудешь» вещи с его отпечатками. Даже ДНК будет этого Синльона. Ну а за твою внешность можно не волноваться. Камеры наблюдения всё подтвердят. Только постарайся, чтобы твой голос нигде не записали. А так всё отлично. Даже Алинка, а она у нас девочка наблюдательная, ничего не заподозрила.
    — Может, ей всё рассказать? — неуверенно спросил Юра, которого немного мучили угрызения совести перед любимой девушкой.
    — Не думаю, может, потом как-нибудь. Надо всё обдумать, — нахмурился Пупс.
    — Пусть хоть кто-то из нашей компании спит со спокойной совестью! — вздохнула Леночка.
    — Ленок! — хмыкнул Гера. — Мы же с тобой про всё договорились!
    — Кстати! Насчёт «спит», — спохватился Юра. — Я обещал её разбудить.
    — Интересно, и зачем? — съехидничала Виолетта.
    Леночка покраснела и преданно посмотрела на своего Герочку.
    …В одной из секретных кают яхты размышлял над своей дальнейшей судьбой господин Синльон, банкир наркокартеля, обладающий бесценной информацией не только о наркотрафиках, но, что ещё важней, и о поставках оружия террористическим организациям.
    А у себя в каюте безмятежно спала Алина. Через минуточку придёт Юра, разбудит её требовательными ласками и… и это именно то, что снится сейчас нашей плохой-хорошей девочке.
  {% endfilter %}
{% endblock %}
