{% extends template %}

{% set parentTitle = "История плохой-хорошей девочки" %}
{% set title = "Глава 3" %}
{% set pubdate = "14.02.2013" %}

{% block content %}
  {% filter prose %}
    Быстро моюсь под душем и переодеваюсь. Выхожу из раздевалки и… Юра, слава Богу, тут! Я бы просто разревелась в голос, если бы его не было.
    Улыбаюсь виновато и протягиваю ему свою сумку. Он молча берёт сумку, я, в свою очередь, беру его под руку и вообще всем видом показываю, какая я послушная девочка. Правда, с немного вредноватым характером.
    В машине сижу молча. Просто я же себя знаю — обязательно ляпну что-нибудь.
    Юра усмехается:
    — А ты хороший боец! Разложить Виолетту — это надо суметь.
    — Да уж, — хмыкаю, — Валька — девица необыкновенная.
    Про себя думаю, что эта зеленоглазая колдунья, похоже, разбудила во мне сексуальность.
    — Ты Виолетту имеешь в виду? — уточняет Юра.
    — Я вас всех имею в виду! — объясняю свою жизненную позицию (всё же я не удержалась — ляпнула).
    Кошусь на Юру: а вдруг он обиделся? Нет! Трясётся в беззвучном смехе.
    — Не ржи! — бурчу я. — За дорогой смотри, а то врежешься во что-нибудь. И вообще, ты в курсе, что мне в другую сторону? Забыл, где я живу?
    — Я помню, где ты живёшь, — спокойно заявляет Юра. — Но мы едем ко мне. Вопросы есть?
    «Есть ли у меня вопросы? Да целая куча! Но лучше помолчу».
    — Кстати, — интересуется, не без ехидства, Юра. — А ты знаешь, кому уши пообещала оторвать?
    Виновато вздыхаю.
    — Он совладелец этого спорткомплекса и абсолютный владелец Виолетты, Вальки, как ты её назвала.
    (Ну вот. Умею я портить отношения с людьми. Теперь меня на пушечный выстрел к спорткомплексу не подпустят.)
    — Скорее уж Валька владеет этим пузаном! — нарушаю молчание.
    — Точное замечание! — соглашается Юра. — Андрэ на задних лапках перед ней ходит.
    «Андрэ! Виолетта! Во дают!»
    — Ну всё! — опять вздыхаю. — Теперь Андрэ этот меня видеть не захочет.
    — Теперь, — усмехается Юра, — ты у него в любимицах. Можешь мне поверить.
    «Да ну его к чёрту, — думаю, — Андрэ этого, главное, чтобы я у тебя в любимицах была!»
    Юра живёт в очень хорошем районе Рамат Гана. Трёхкомнатная квартира в новом доме. Явно недешёвая мебель и современная аппаратура.
    — Классно, а где твоя жена? — как чужой, слышу свой тонкий и жалобный голосок.
    — Моя жена? — не удивляется Юра. — В соседней комнате. Сейчас позову.
    (Почему я не умерла на месте?)
    — Василиска, — ласково говорит Юра. — Давай, морда ленивая, иди с нашей гостьей познакомься.
    (Прикольные у них отношения.)
    Из соседней комнаты вальяжно выходит здоровенная рыжая… кошка. Кошка! Я кошек, вообще-то, не люблю. Но эту готова сейчас расцеловать.
    Василиса безразлично смотрит на меня, трётся о Юркину ногу и, посчитав свою миссию выполненной, удаляется.
    Юра подходит ко мне, я замираю…
    «Сейчас он начнёт меня целовать и, там, приставать по-всякому, — в моей голове мысли затеяли чехарду. — Он ниже меня, и стоя целоваться неудобно. Надо сесть вон на этот диван, а может, уже сразу и лечь?»
    — Что? — кажется, я, задумавшись, не услышала Юрин вопрос.
    — Ты какую кухню любишь? — повторяет он.
    — А! Да без разницы. Доверяю тебе, — демонстрирую свою покорность.
    — Ладно! Тогда закажем дары моря. Алин, ты любишь дары моря?
    Молча киваю, хотя не знаю точно, люблю дары моря или нет. Я их не пробовала ни разу!
    Юра ставит на стол бутылку вина и два бокала. Всё остальное буквально через несколько минут приносит посыльный. Дары моря упакованы в красивые коробочки и действительно вкусно пахнут.
    Пьём вино, едим, что-то говорим, а у меня в голове только: «Ну когда уже? Когда?»
    Юра по-своему и, конечно, неправильно понимает мою растерянность:
    — Алина, я не собираюсь к тебе приставать…
    Он ещё что-то говорит, я не слышу. В голове шум, в висках пульсы. Опять как со стороны слышу свой голос:
    — Отвези меня домой…
    — Алин, я выпил, никуда сейчас не поеду. Вот, на диване ложись. В ванной всё что надо.
    Про то, что можно вызвать такси, мы оба благоразумно не вспоминаем.
    В ванной я ревниво осматриваю всё. Нет. Уф! Никаких признаков женщины. Тут я вспоминаю гладко выбритую киску Виолетты. Нахожу бритву и тщательно выбриваю свою возбуждённую киску. Надеюсь, мне это пригодится.
    Потом голенькая лежу под тонкой простынёй и прислушиваюсь, как возится Юрка. Вот он выходит из ванной, подходит ко мне, я замираю в ожидании. Юрка наклоняется ко мне и по-братски чмокает в щёчку:
    — Спокойной ночи, Алинка!
    Уходит в спальню и закрывает за собой дверь.
    Вот так! Значит, решение за мной. Ладно.
    Решительно поднимаюсь и направляюсь в спальню. Во будет прикол, если он на ключ дверь закрыл! Конечно, я такую хлипкую дверцу с одного удара вышибу, но ощущение уже будет не то.
    Ерунда, короче, всякая в голову лезет.
    Медленно открываю дверь в спальню… и понимаю — засада! Меня ждали!
    Юрка, как султан, возлежит на огромной кровати, еле слышно играет завораживающая музыка, рядом с кроватью на специальных полочках мерцают необыкновенной красоты ночники — сказочные цветы переливаются разноцветными огоньками. Зеркальный шкаф на всю стену и сказочные цветы многократно отражаются в зеркальных дверках.
    Я любуюсь Юркой. Красивый, мускулистый, мужественный. Смотрю на своё отражение. Я тоже ничего. Да к чёрту скромность — я сейчас великолепна! Особенно в волшебном переливании разноцветных огоньков.
    Подхожу, наклоняюсь к Юре… Сейчас мне надо как-то объяснить, что я ничегошеньки не умею… Но ничего объяснять не приходится. Юрочка всё делает сам.
    Через секунду я уже лежу на этой великолепной кровати, и Юра страстно меня целует. Я чувствую, как его напряжённый член упирается мне в живот. Это меня немного отвлекает. Вот Юра начинает сползать вниз. Долго ласкает мои напряжённые соски. Тискает их, сосёт, покусывает.
    Начинаю невольно постанывать. Всё плывёт.
    Поласкав языком мой пупок, Юра нежно, но требовательно раздвигает мне ноги и впивается поцелуем в киску. Мысленно благодарю Виолетту и свою предусмотрительность! Наверняка гладенькую киску Юрочке ласкать приятней… Ах! Ах!!!
    Почти теряю сознание.
    Сильные пальцы ласково раздвигают лепестки киски, и я чувствую в себе Юрин язык. Его губы находят возбуждённый клитор, и… теперь я понимаю, почему девушки ревнуют своих парней. Понятно, почему Леночка готова меня повесить! Если её Гера проделывает с ней нечто подобное, то соперницу просто необходимо вешать!
    А Юра как-то очень ловко разворачивается и поворачивает меня, как пушинку (всё же он отличный спортсмен).
    Теперь мы лежим в позе шестьдесят девять. Он с прежним усердием ласкает мою киску, а его мощный член у меня прямо перед лицом.
    Я первый раз вижу мужское хозяйство так близко. Честно говоря, когда меня трахал тренер, и потом, когда трахалась с парнями, рассматривать их причиндалы у меня не было никакого желания. И запах возбуждённого мужчины мне был неприятен.
    Но тут другое. Я любуюсь Юркиным членом. И запах сейчас меня возбуждает. Осторожно, чтобы не сделать больно, щупаю крепкие яички, потом начинаю подрачивать напряжённый, упругий ствол. Головка члена блестит и переливается в мерцании сказочный цветов. Осторожно, прислушиваясь к своим ощущениям, целую загадочно блестящую головку. В это время Юра раздвигает лепестки моей киски и сильно губами прижимает клитор. Ахаю от наслаждения, и член оказывается у меня в ротике. Сосу с удовольствием, обласкивая скользкую головку язычком. Я потеряла ощущение времени. Но вот Юра опять поворачивается, мы обнимаемся и страстно целуемся. Я сцеловываю с его губ вкус моей киски, а он с моих — вкус своего члена.
    Юрка долго и нежно трёт головкой члена вокруг моей киски, водит по лепесткам. Нетерпеливо вздрагиваю. И наконец член во мне! Вот что такое секс! А не та мерзость, что у меня была… Да и не было ничего. Сон. Кошмарный, отвратительный сон. И сейчас я отдаюсь первому в моей жизни мужчине.
    Юра то двигается плавно и осторожно, нежно целуя и лаская мои груди, то, сложив меня пополам (вот где пригодилась моя отличная растяжка), трахает сильными, резкими толчками. Его яички хлопают по моей попе, он возбуждённо рычит, а я улетаю под пение райских птичек. Сладкие импульсы оргазма пронизывают меня. Начинаясь в матке и взрываясь пузырьками шампанского в голове.
    Я уже совсем растаявшая и сладко обессиленная, когда Юра укладывает меня лицом вниз, сам садится верхом, его член во мне, и он вдобавок ко всему делает нежный массаж, разминая своими сильными и ласковыми руками мои плечи.
    В раю лучше не будет!
    Юра делает несколько сильных толчков, чувствую, что член выскальзывает из моей киски и мне на попу выплёскивается горячая липкая сперма.
    Тренер тоже любил кончать на киску. Наверно, этого козла возбуждало, что он мажет своей вонючей спермой нежную девичью кисулю. И я бежала, умирая от отвращения, в душ и смывала с себя мерзкое ощущение.
    Но почему я вообще вспоминаю это? Договорилась же с собой: это был кошмарный сон.
    Юра растирает свою сперму по моей попе и киске. У меня нет даже мысли бежать в душ. Я хочу пахнуть запахом своего любимого мужчины.
    И вот мы лежим, тесно обнявшись. Мы сейчас — одно целое. Одно тающее от наслаждения целое.
    — Юрочка! — задыхаясь, шепчу я. — Ты мой первый мужчина. Я тебе потом объясню…
    Я бормочу что-то несвязное, потому что в голове, кроме расслабленного блаженства, нет места ни для одной мысли… хотя нет! Стоп! Одна мысль всё же есть: «Весь этот сексодром что, так и простаивал до моего появления? И на ком-то же Юрочка натренировался!»
    Меня как холодной водой облило. В секунду, я же тоже хорошая спортсменка, уже сижу на Юрке, уложив его на лопатки. Он, конечно, думает, что это продолжение наших забав, улыбается, подлец!
    — Ты всех сюда водишь? — шиплю разъярённой пантерой.
    — Глупенькая! — усмехается Юра.
    — Скажи уже прямо — дура! — я сейчас его придушу.
    — Аленький! — сгоняет с лица умильную улыбку Юра, сейчас он серьёзен, даже торжественен. — Давай договоримся: я не спрашиваю, почему я у тебя первый, а ты — почему ты у меня единственная.
    Я обезоружена. И правда, как я буду объяснять про этого козла, как его там, Геннадия… неважно, как. И потом, «единственная» — это даже лучше, чем «первый»!
    Медленно наклоняюсь и прикусываю Юру за плечо. Он лежит не шелохнувшись. Сжимаю зубы сильней (посмотрим, сколько ты вытерпишь), сильней, сильней… пока не чувствую во рту привкус крови. Юра так и не пошевелился. Медленно отпускаю его и, приподнявшись, вопросительно заглядываю ему в глаза: «Ну как?»
    Юрка смотрит на меня с восхищением. Вот и хорошо. Теперь я знаю не только запах его спермы, но и вкус его крови. А он, думаю, понял, что ласковая и покорная кошечка в случае чего мгновенно превратится в дикую и безжалостную пантеру.
    Потом мы опять лежим обнявшись, пантера — снова ласковая кошечка. Я зацеловываю и зализываю Юрочкино окровавленное плечо. Так и засыпаем.
    Будит меня рассвет. Юрочка тихонечко и вкусно похрапывает в моих объятьях. Откидываю простыню и восхищённо восклицаю: «Ого!»
    «Ого!» — это посвящено члену. Он меня и ночью весьма впечатлил, а сейчас выглядит ещё внушительней. Уважительно щупаю его и опять повторяю: «Ого!»
    — Это утренний стояк, — сонным голосом, не открывая глаз, объясняет Юра.
    «Да здравствуют утренние стояки!»
    — Тебе на занятия, у меня три тренировки, надо выспаться, — пытается сачкануть Юра.
    — Конечно! — соглашаюсь самым честным голосом. — Подержаться можно?
    — Можно! — великодушно разрешает Юра…
    Через несколько секунд я уже делаю ему минетик. Ну не удержалась!
    Потом седлаю своего великолепного мускулистого партнёра, помогая себе рукой, насаживаюсь на стоячее великолепие и начинаю плавно двигать бёдрами. Юра расслабленно постанывает. Я любуюсь нашим отражением в зеркальных дверках. Там красивая девушка, оседлав мускулистого парня, ласкает его своей возбуждённой киской и попой. Красиво мы смотримся!
    Но долго тянуть не надо, да я ещё и не умею так тонко чувствовать партнёра. Очень скоро Юрка начинает рычать и выгибаться. Я не против, уже успела кончить, соскальзываю с члена и помогаю ему ручками. Юрка кончает себе на живот. Опять седлаю его и киской растираю сперму по его животу. Мы должны пахнуть одинаково!
    Ещё и поспать пару часиков удалось!
    Я первая бегу в ванную. Делаю контрастный душ. Потом на кухне хлопочу насчёт завтрака. Вообще, я никогда не готовила. У меня же папа повар. В Украине у нас был ресторанчик, и необходимости готовить у меня не возникало. Здесь я на выходные езжу к родителям. Папочка закармливает свою любимую дочуру всякими вкусностями и с собой нагружает кучу коробочек и пакетиков. Достать из холодильника и погреть в «микро» — всего делов.
    Но я же папина дочка! Наверно, умение готовить у меня в генах.
    Пока Юрочка плещется под душем и приводит себя в порядок, я из черствоватых булочек, парочки яиц, молока и масла делаю великолепные гренки. Потом, не найдя кофе, готовлю горячее какао (оказывается, Юра просто не любит кофе и обожает какао, прямо как маленький), растворив там ещё и полплитки шоколада.
    Юрка сметает завтрак. После ночных трудов проголодался, да и вкусно!
    Вздыхая с чувством хорошо выполненного долга, целую Юру:
    — Всё! Мне надо бежать. От тебя добираться до универа надо на двух автобусах.
    Юра придерживает меня:
    — Малыш, а если я тебя подвезу, минут пятнадцать ты выиграешь?
    Смешной. «Малыш»! А я его на полголовы выше. Но приятно!
    — Может, и двадцать, а что?
    Юра, не вдаваясь в объяснения, поворачивает меня к себе спиной и укладывает грудью на стол. Торопливо раздвигаю посуду, чтобы не сбросить её на пол, когда буду биться в оргазме. Буду-буду! Тут можно не сомневаться. Юрочка тем временем аккуратно, чтобы сильно не помять, задирает мне платье, оттягивает трусики… и…
    Но на занятия я всё же успеваю. Ленка, всё понимая по моей сияющей физии, интересуется:
    — Ну как?
    — Три! — торжественно сообщаю.
    — Что «три»? — делает большие глаза моя подружка.
    — Три раза! — я блаженно закатываю глаза. — И каких!!!..
    — Дорвалась, да? — краснеет Леночка. — Затрахаешь парня.
    — Ты просто завидуешь! — замечаю ехидно.
    — Ничего не завидую, — жарко шепчет Леночка. — Мы с Герой, знаешь, тоже…
    Я её уже не слушаю. Какое мне дело, что и как у них там с Герой…
  {% endfilter %}
{% endblock %}
