{% extends template %}

{% set parentTitle = "Надеюсь и верю" %}
{% set title = "Глава 3" %}
{% set pubdate = "23.02.2012" %}

{% block content %}
  {% filter prose %}
    Я не умерла, но моя жизнь остановилась. Напоминаю: мне тогда было пятнадцать лет. Только что закончила восьмой класс. Леонид следил за тем, чтобы я не очень отставала в учёбе. Ради него я старалась как могла. Сейчас всё стало ненужным.
    Мама по-знакомству впихнула меня в медучилище и устроила в студенческое общежитие. Там я познакомилась с Леной.
    Эта неугомонная девчонка, кружившая головы всем парням, попадавшим в её поле зрения, почему-то взяла надо мной шефство. Она потом объяснила мне это так:
    — Смотрю, красивая девушка, а в глазах пустота. Как я могла тебя не поддержать?
    Мы сто раз на дню с ней ссорились и даже ругались, но и жить друг без дружки не могли.
    Вот ей, единственной на всём белом свете, я рассказала о Леониде. Она сначала решила, что всё это выдумки и я сочинила историю для того, чтобы произвести впечатление. Конечно, никаких доказательств у меня не было. Как и не было желания никому, даже ей, доказывать, что это правда. Вот это её и убедило. Моё безразличие, верит она или нет. И когда я, душась слезами, рассказывала о нас с Лёнечкой, она сидела, широко раскрыв глаза, потом обнимала меня и шептала на ушко:
    — Счастливая ты, Ритка!
    Сама она тоже в четырнадцать лет попробовала запретный плод. Но тут всё было как обычно. Подростковая вечеринка, прыщавый юнец на год её старше…
    — Кончил, только дотронувшись! — невесело хохотнула Лена. — Правда, восстановился быстро, ткнул грубо, я заорала, он со страха чуть не обделался. Потом мы вместе с чужого дивана мою кровь отмывали. Романтика!
    Наверно, поэтому парней она меняла чуть ли не каждую неделю.
    — Послушай, Ритка! — как-то решилась она задать мне давно мучающий её вопрос. — Правда, что тебе было так приятно, как ты рассказываешь, или сочиняешь понта ради?
    — Правда! — обнимала я обиженно надувшуюся подружку. — Правда, Ленусик! Так хорошо, что и словами не передать.
    Она вздыхала у меня на груди.
    А я всё расцветала и расцветала! Лёнечка! Любый мой! Ну как же так?!
    Конечно, мужчины обращали на меня внимание, но все их попытки со мной познакомиться наталкивались на моё холодное безразличие.
    Володя в моей жизни появился благодаря… луже! Вот ведь судьба: все мои мужчины так или иначе связаны с водой!
    Сначала на моём пути появилась громаднющая лужа, а потом в мою жизнь вошёл Володя. Если уж совсем точно, он меня внёс в другую жизнь. На руках. Через ту злополучную лужу.
    Я стояла в полной растерянности. Лужу ни пройти, ни обойти было нельзя. Только что закончился дождь, а тут низкое место и сточная канализация забилась. Не лужа — озеро. А я тороплюсь.
    — Перенести, девушка? — слышу позади себя мужской голос.
    Пока я стояла и любовалась водным препятствием, Володя стоял и любовался мной.
    Сама не знаю, почему я вдруг спросила:
    — А сможете?
    — Я-то смогу! — усмехнулся он. — Главное, чтобы вы согласились.
    Когда он нёс меня на руках, я уже знала, что соглашусь на всё. Мне тогда было семнадцать. После Леонида ни один мужчина до меня и пальцем не дотронулся. А тело рвалось! Я тайком он Лены запиралась в ванной и тискала себя за напряжённые соски, тёрла горевшую от желания кисулю… а потом ночью ревела в подушку и шептала на все лады имя любимого.
    А тут сильный и хороший парень. На руках носит. Ленка без разговора свалила к знакомым (мы жили вдвоём в одной комнате).
    Я Володю ночью чуть на куски не разорвала. И потом было ещё несколько безумных ночей. Всё, что я умела, по чему скучала, Володя получил. Предохраняться мы не умели, и я залетела.
    Ну всё, думаю, это судьба.
    Володе тогда было двадцать шесть лет, моей беременности он обрадовался, познакомил со своей мамой, Татьяной Андреевной, и, казалось, чёрная полоса в моей жизни закончилась. Володина мама нам комнату освободила и сказала, что слышать не хочет, чтобы её внучка вынашивали в общаге!
    Но оказалось, что Володя трезвый и Володя пьяный — это два разных человека.
    Когда он заявился пьяный, я не очень огорчилась вначале. Ну выпил, кто сейчас не пьёт. Порхала вокруг него. А сама на седьмом месяце. Живот, как говорят, на нос лезет.
    Володя бурчит что-то, а я смеюсь! Ужином накормила. Спать уложила. А сама на диванчике примащиваюсь со своим животярой.
    Только как-то пристроилась и придремала, зовёт:
    — Ритка! Ну-ка сюда быстро!
    Я послушно сползла с дивана и подошла к нему. Лежит голый и свой вздыбленный член подрачивает.
    Говорю:
    — Володечка, милый! Нельзя мне сейчас! Для маленького опасно!
    А он:
    — Соси давай!
    Ну что с пьяным спорить, я становлюсь на колени и беру в ротик его член…
    И в ту же секунду получаю жестокую оплеуху.
    — Что! — орёт Володя. — Что, вафлёрка? Скольким ты пересосала, а? И ещё вопрос, от кого ребёнок…
    Слава Богу, в комнату буквально ворвалась его мать. Она меня собой закрыла. Он здоровый, покалечил бы запросто. И ребёнка могла лишиться. Но на мать даже пьяный руку не поднял. Ох она ему и дала! Лупит чем попало и кричит:
    — Скотина! Не трогай девочку! Она моего внука носит! Знать тебя не хочу! Вон отсюда!
    Он послушался как миленький. Но назавтра я ушла к Леночке в общагу. Комната всё ещё наша была. Татьяна Андреевна на коленях просила остаться. Я обняла её, сказала, что она мне как мама, но лучше я сейчас уйду. Потом видно будет.
    Но я уже точно знала, что никогда не прощу. За что? За что он со мной так?
    Володя, конечно, приходил в общежитие, просил прощения, умолял вернуться. Я его ни словом не упрекнула. Но по моим глазам он всё пронял. Правильно понял. Больше унижаться не стал.
    Сынулю я родила в срок, здоровенького. Татьяна Андреевна в нас души не чаяла. Она мне и правда как мама. А Володя уехал на Север. На заработки. Женился там. Звонит по телефону, и мы весьма мило общаемся.
    Наверно, не надо даже и говорить, как я назвала сынулю. И теперь могла, не скрываясь, ласково называть имя моего первого мужчины.
    А с моей маман отношения у меня так и не улучшились. Внуку она порадовалась. Похоже, даже искренне, но никакой помощи ждать от неё не приходилось. Через год после смерти Леонида она сошлась с мичманом. На складе в порту службу нёс. Больше с плавсоставом она решила дела не иметь. Пусть мичман, зато всегда под бочком. Кстати, я её понимаю.
    С Олежиком я встретилась случайно. Всё получилось благодаря Лене. Именно она заставила меня тогда пойти в ресторан. Хотела познакомить с другом своего очередного ухажёра. Только вышло не совсем так, как она планировала.
  {% endfilter %}
{% endblock %}
