{% extends template %}

{% set title = "То, что внутри…" %}
{% set pubdate = "18.06.2012" %}
{% set prev = "icecreamhater/moods-7" %}
{% set next = "skromnaia/hope-0" %}

{% block content %}
  {% filter prose %}
    Отвратительное жёлто-зелёное пятно, почему-то чертовски похожее на трёхдневный синяк, особенно мерзко смотрелось на идеально белом потолке. Но самое ужасное — то, что, когда я попыталась отвезти взгляд от пятна, оно поползло по потолку и навязчиво полезло в глаза, меняя оттенки и форму. Даже когда я, устав с ним бороться, зажмурилась, эта мерзость не исчезла! Я не только продолжала видеть это мучавшее меня пятно, но и почувствовала его запах. Оно пахло гноем и болотной тиной.
    Да что оно ко мне привязалось? Я тут себе лежу, а это проклятое вонючее пятно… Стоп! Где я? Кто я? Что со мной происходит? Пытаюсь приподняться, но не могу даже толком пошевелиться.
    Спокойно! Надо успокоится, и тогда я, конечно, вспомню, кто я, узнаю, где я и пойму, что со мной.
    Итак, по порядку. Кто я? Странный вопрос! Я…
    «Мамочка! Танюшка спит?»
    Ну вот! Я уже начинаю вспоминать!
    «Да, доченька, она спит. Иди ко мне…»
    Память возвращается болезненными, колющими мозг импульсами.
    По-видимому, я стою на кухне и режу овощи на салат. Потому что у меня в руке большой блестящий нож. Наверняка он ужасно острый, и если им нечаянно порезаться, кровь не остановить…
    Кровь! Кровь не остановить!
    «Мамочка, Танюшка спит? Мамочка! Мамочкааа!»
    Почему эти слова рвут мой мозг?
    «Да, доченька, она спит. Иди ко мне, я вам платьица купила новые и банты…»
    «Мамочка! Мамочкааа! ААААААААААААААААА!!!..»
    В мой воспалённый взгляд вплывает лицо какой-то женщины.
    — Где я? Что со мной? — хриплю сорванным горлом, ломая запёкшиеся губы.
    Во рту сразу появляется солоновато-металлический привкус крови.
    Кровь! Кровь не остановить! ААААААААААААААААА!!!
    — Мне надо к моим доченькам! — всхлипываю.
    Женщина неожиданно колет меня чем-то в руку.
    Мучительно вывернувшись, поворачиваю голову. Оказывается, я привязана к кровати какими-то ремнями. Прямо у локтевого сгиба в мою руку воткнут шприц, и женщина сейчас выдавливает его содержимое мне в кровь.
    Кровь! Кровь не остановить…
    Но меня уже окутывает сонная пелена, растворяя в себе гнойное пятно.
    «Мамочка! Танюшка спит?»
    «Да, доченька, и мы сейчас уснём…»
    Почему я слышу всё так явственно, как будто разговаривают у меня в голове?
    Женщина, только что сделавшая мне укол, говорит кому-то:
    — И как только земля таких носит?
    — А что она натворила? — собеседница — неизвестная мне женщина. В её голосе — интерес и сочувствие.
    — Деток своих убила, извергиня! Младшенькую, той два годика было, задушила, а старшенькую, которой и четырёх не было, ножом… Потом одела их в нарядные платьица, даже банты повязала. Сама стала рядом и молится. Так и нашли. У докторицы, которая первой на вызов приехала, нервный срыв был. А эта знай себе молится!
    — И кому она молилась? — в голосе неизвестной мне женщины больше нет сочувствия. — Дьяволу, что-ли?
    Женщина, делавшая укол, вздыхает:
    — И Дьявол на такое не способен. Разве что монстр какой-нибудь…
    Про кого они говорят? Про меня?!!! Это не я! Я не могла такого сделать! Это пятно! Монстр, который разрывает мой мозг! Убейте! Убейте его!
    «Мамочка, Танюшка спит? Мамочкааа…»
    Убейте меня вместе с ним!
    Кровь! Кровь не остановить!
    Яду мне! Яду!!!
  {% endfilter %}

  <h2 class="art__subtitle">От автора</h2>
  {% filter prose %}
    Самое страшное — то, что история не выдумана. И я, побывав несколько минут в образе героини рассказа, пережила почти приступ безумия. Неужели в каждом из нас дремлет монстр? И как уберечь свой разум?
    Господи! Спаси и сохрани.
  {% endfilter %}
{% endblock %}
