{% extends template %}

{% set parentTitle = "Бумеранг" %}
{% set title = "Глава 5" %}
{% set pubdate = "05.02.2013" %}

{% block content %}
  {% filter prose %}
    «Как я могла, как можно быть такой безрассудной и глупой!»
    Альбина, содрогаясь от слёз и горя, сидела в самом холодном и тёмном углу крыши своего высокого дома. Она поочерёдно то кусала уже посиневшие от холода пальчики, сжатые в маленькие кулачки, то беспомощно стучала ими об оголившиеся замёрзшие колени, поднимая голову в синее утреннее небо.
    «Как я могла?» — всхлипывала девушка, беспомощно уронив голову в колени, продолжая судорожно то скулить, то рыдать, то по-детски хлюпать…
    Открыв дверь своей квартиры, Альбина важно и заносчиво оглянулась через левое плечо, как бы показывая своё величие, важный шаг жизни из детства в зрелость и такую долгожданную взрослую жизнь.
    За спиной на неё смотрели восемь пар любящих и восхищённых глаз.
    Мама смахнула с влажных глаз слёзы радости за свою красивую и статную дочь, отец, искреннее улыбнувшись, с гордость произнёс слова:
    — Ну вот и всё, старшенькая у нас почти совсем выросла.
    Милые сестрички-невелички так и стояли с открытыми ртами и широко распахнутыми глазами, до краёв наполненными завистью и восхищением!
    Альбина почти на крыльях вылетела из парадной, у самых дверей её как всегда поджидал Олег, в своих руках он бережно держал большой букет красных цветов.
    Альбина приподнялась на пальчики, чтоб вдохнуть полной грудью исходящий от них аромат.
    Олег не протянул ей цветы, он даже не в состоянии был подать ей руку.
    Тяжело проглотив свой вздох, он вымолвил:
    — Ты божественна!
    Альбина, улыбнувшись, сделала круг на месте, как бы демонстрируя и утверждая услышанное.
    Торжественная часть прошла достаточно быстро, зал был заполнен повышенной оживлённостью и светящейся в воздухе живой энергией, глаза выпускников горели, с лиц не сходили улыбки.
    В зале заиграла музыка, юные стройные пары, как молодая стая лебедей, закружили в плавном вальсе.
    Рука Олега лежала на талии Альбины, только в этот раз тепло от неё исходило как-то иначе. Альбина не могла понять, то ли ткань на её платье слишком тонка, то ли у Олега поднялась от волнения температура.
    Он с каждым разом плотней прижимал её к себе, как бы боясь выронить из своих рук.
    Альбина была уверена в своём танце и причин для такого волнения со стороны Олега совсем не понимала.
    После танца они на мгновенье расстались, Альбина углубилась в центр зала.
    Совсем неожиданно в её ухо через прядь пышных волос хлынул обжигающий жар, сопровождающийся дыханием Олега.
    Олег, приблизившись почти вплотную, тихо шепнул ей, что хотел бы немного прогуляться, вдохнуть свежего воздуха. При этом, вложив её ладонь в свою руку, так же бережно увлёк её за собой.
    На улице уже было темно, в небе сияли, будто горные хрустали, ярко мерцающие звёзды.
    Олег, подняв в небо глаза, стал объяснять Альбине, из чего они состоят, так как самым любимым уроком и вопросом в жизни Олега были астрономия и звёзды. Он непременно хотел посвятить свою жизнь звёздам и науке.
    Олег перечислял созвездие за созвездием, звезду за звездой, при этом повторяя несколько слов:
    — Альбина, посмотри, как они красивы!.. Альбина, посмотри, как красива она!.. Альбина, посмотри, как они светятся и горят!
    Потом резко, повернув плечи девушки к себе, он пристально вгляделся в её глаза, произнеся как-то тихо, торжественно и необычно:
    — Ты знаешь, что самая красивая во всей галактике — это ты!.. Ты моя самая светлая, самая яркая, самая желанная и самая любимая звезда!
    Он привлёк девушку к себе так близко, что Альбина опять почувствовала его обжигающее дыхание, теперь уже не ухом и затылком, а нежными, чуть-чуть размыкающимися алыми губами.
    Олег обхватил её талию рукой, а второй, взяв нежно и чуть жёстко за шею, привлёк к себе, соединяясь с ней в поцелуи, его язык скользнул через её слегка открытые губы, его дыхание проникло, как ей показалось, в её лёгкие и сердце.
    Голова закружилась, небо и земля соединились, плавно двигаясь по кругу часовой стрелки, окутав их лёгкой прозрачной вуалью атмосфер, расшитой мерцающими звёздами, от которых исходило дурманящее ароматом тепло молодых садовых побегов.
    Олег прижимал её всё ближе и ближе, сжимая тисками своих сильных юношеских рук. Его губы скользили по её нежному юному лицу, он целовал её глаза, волосы, не отдавая себе отчёта, склоняясь к её тонкой шее и плечу. Альбину кружили волны страсти и наслаждений, поджав ногу, она трепетала в его объятиях, издавая тихие стоны желания и близости.
    Его жаркие руки ласкали её гибкий стан, согревая и обжигая каждую клетку. Голова кружилась, а тело наполняли волны жара и нежности. Они медленно, не отдавая себе отчёта, углублялись в сад.
    Олег легко подхватив Альбину на руки, опустился и присел на лавочку, бережно усадив девушку на колени. Их губы с жадностью и страстью тянулись друг к другу, не разъединяясь даже на короткое мгновенье, её руки обвивали его шею, иногда скользили на плечи и спину. Тело Альбины было подобно телу змеи, отличие их в тот момент было в температуре. Альбина пылала, как раскалённый в печи огонь.
    Губы сохли, воздуха не хватало, она, как рыба, выброшенная на берег, периодически глотала большими глотками воздух, не находя в этом ни успокоения, ни насыщения.
    Рука Олега скользнула Альбине под платье, остановившись у основания её горящих пламенем ног.
    Альбина, издав стон, прижалась к его руке всем телом, кусая и сглатывая его губы.
    Олега покрывала дрожь, периодически переходящая то в холод, то в жар. Голова кружилась, руки дрожали, он резко рванул её трусики, переворачивая девушку на скамеечку.
    Альбина впилась в его шею, как утопленник перед спасением. Она всё сильней прижимала юношу к себе, всё настойчивее прижималась к его животу своим животом. Приподнимая свои сильные упругие бёдра, Олег, рванув пуговицу на своих брюках, резко погрузился в её плоть, теряя предусмотрительность и рассудок.
    Волна блаженства, наслаждения, накрывая, уносила молодых влюблённых куда-то очень далеко, рождая в них лёгкость, невесомость с чувством свободного полёта в просторную галактику.
    Открыв глаза, Альбина встретилась с взглядом Олега, он пристально и внимательно смотрел в её лицо, положив заботливо свою руку под её шею, тёплыми жаркими губами прикоснулся к её губам, девушка мгновенно ответила взаимностью, слегка поправляя подол своего высоко задравшегося платья. Высоко над лавочкой качался фонарь, напевая песенку своим незатейливым скрипом, в синем, почти васильковом небе светились необычно яркие звёзды, отражаясь своим сиянием в счастливых глазах девушки.
    Тесно обнявшись, они медленно передвигались по ночному городу, любуясь светом обычных окон и светившихся на аллеях фонарей.
    У самого подъезда Олег нежно, но уже с глубокой страстью поцеловал девушку в губы, властно прижимая её к себе.
    Девушка вновь вспыхнула огнём, но с силой отстранила Олега и, поцеловав его в щёку, скрылась за дверью.
    Прижавшись к стене, охлаждая своё тело и плоть, она с нежностью вспоминала каждое их прикосновение, сердце билось живой пойманной птицей, посаженной в железную клетку. Тело ликовало. Немного успокоившись, она поднялась к себе на этаж, тихим оборотом повернула ключ в замочной скважине.
    Открыв дверь, девушка обомлела. Перед ней стояла её мама, вся разбитая, испуганная, глядя в её глаза своими глубоким взглядом, наполненным до самого дна горем.
    — Что? — тихо произнесла Альбина.
    — Папа. Умер папа.
    Счастье так резко выскользнуло из-под ног девушки, сменяясь горем, что она не успела уловить этого мгновения, чтоб хоть как-то задержаться. Ноги подвернулись, и девушка резко рухнула на пол, слабой рукой ухватившись за юбку матери.
    Шло время. Похороны, поминки, опять поминки. Девушка не видела Олега. Думать о произошедшем у неё не было сил, она всё так же винила себя в поступке, представляя две картины одновременно. Жаркую любовь, её первый в жизни поцелуй и первый сексуальный опыт — и в тоже время постель, врачей, умирающего отца, звавшего её на помощь, остро нуждающегося в это время в её присутствии, её мать, её милых юных сестричек — и снова фонари, звёзды, лавочку, её оголённые колени и задранное до бесстыдства платье, только в этой картине звёзды не сияли, они мерцали каплями боли и слёз.
    Альбина долго не могла расстаться с чувством вины и позора. Мама через короткое время опять попала в больницу, здоровье её после смерти мужа совсем иссякло, она в свои сорок шесть лет выглядела на шестьдесят с небольшим. С трудом переставляя ноги, много думая, мало произносила слов.
    Альбина как-то хотела помочь матери, но все её старания были напрасны.
    Олег пытался встретиться с девушкой. Как-то, приблизившись к ней в магазине, нежно коснулся её спины рукой, прошептав тихо:
    — Альбина.
    Девушка, резко повернувшись, грубо произнесла одно слово:
    — Проваливай.
    Олег отступил назад, девушка с лёгкостью исчезла, так же неожиданно, как появилась.
  {% endfilter %}
{% endblock %}
