{% extends template %}

{% set parentTitle = "Бизнес-бомж" %}
{% set title = "Глава 11" %}
{% set pubdate = "23.07.2013" %}

{% block content %}
  {% filter prose %}
    Открыв утром глаза, Степан увидел свет — яркий свет раннего утра. Палата была чистой и пустой. Странно: он не видел свою фею, не слышал её голос, но не испугался и не удивился. Он как-то чувствовал себя сегодня иначе, видел светлое солнечное утро и был ему рад — рад как никогда.
    Степан лежал и думал. Думал о своей новой жизни. Она всплывала у него в голове, рисуя новые картины, новые эпизоды, новые действия. Ему очень хотелось встать, встать и пойти — нет, побежать. Побежать туда — к вокзалу. Он скучал, любил и волновался, но пойти он хотел совсем не в ожидании одного глотка горячей водки, а чтоб увидеть их всех. Собрать их, посадить в тесный круг вокруг Клюшкиного огня и рассказать им свою историю, полную жизни и любви. Ему хотелось сказать им всем, что он их любит, что они ему нужны, что он обязательно сделает всё, чтоб спасти их, чтоб они могли жить. Жить так же хорошо, как жили когда-то, и даже лучше, так как теперь они не будут совершать тех ошибок, что совершали раньше. Они знают, к чему ведут их ошибки. Степан впервые знал, он был просто уверен, что они ему поверят и пойдут за ним, пойдут туда, куда он их позовёт.
    Из коридора донеслись голоса. Степан уже знал, что это время — время обхода. Голоса стихли, а в палату вошли пятеро молодых людей и его врач — маленький сухой старичок. В отпуск он так и не уехал. Бормотал себе под нос, что все они тут без него просто помрут и нужны они только ему и никому больше. Он часто ругал их, часто жалел.
    Один из докторов задал вопрос:
    — Семёныч, он жить будет или всё спит?
    Семеныч, к великому удивлению даже Степана, сказал, что сегодня он планирует снять гипс Степану. Так долго никто ещё не лежал загипсованным, и его он так продержал чисто интуитивно, что-то подсказало ему тогда, что так будет лучше. А посоветоваться ему было не с кем, так как Степан был бомжом и не имел родни.
    — Ну ладно.
    Всем было глубоко наплевать, снимут гипс Степану или будет он лежать в нём до конца жизни. Врачи поставили какие-то галочки в своих тетрадях и молча вышли. Прошло некоторое время, и в дверях появился Сергей.
    — Я пришёл, как ты?
    — Хорошо, — ответил Степан. Его фея находилась недалеко от него, она, как всегда, сидела на краю кровати и вела с ним речь о прекрасном спокойном будущем. Она рассказывала ему о Боге и жизни с Богом, рассказала ему об Иисусе и святых, рассказала об их нелёгких судьбах на Земле.
    — Ну как ты? Ты не забыл о нашем пари, или у тебя была очередная горячка?
    Степан с уверенностью, как будто ждал этого вопроса, сказал:
    — Нет, не забыл. Я готов, готов начать прямо сейчас.
    — Сейчас? Да ты с ума сошёл или вообще в него не входил отродясь? Что ты можешь сейчас? Ты стоять и то, наверное, не можешь без чей-то поддержки.
    — А я один стоять и не буду, я имею поддержку — и сильную поддержку — со стороны.
    — И кто это? Кто тебя поддержит? Ты что, совсем сбрендил? Кому ты нужен, ты же бомж! Ты не забыл? Или я тебе последние мозги вышиб своим джипом?
    — Нет, не забыл. Я, в первую очередь, — человек, а поддержат меня Бог и мой ангел-хранитель.
    — Ну крыша поехала точно. Бог, ангел… поддержут, ещё раз поддержут. Ладно, как знаешь, но пари мы заключили, а я — человек слова. Вот тебе деньги, а ты мне — бизнесмена через пять лет. Крепкого, уверенного в себе и в своём деле бизнесмена.
    Сергей бросил на кровать пачек семь зелёненьких купюр, телефон и паспорт. А также пакет, в котором виднелись новые туфли и два свёртка с одеждой.
    — Я тут кое-что для тебя сделал, пока ты в больнице валялся: паспорт, долги за квартиру и за свет заплатил. Там всё в порядке.
    — Спасибо, — сказал Степан.
    — Не благодари меня, это часть нашего пари. Я благотворительностью не занимаюсь — это не в моих правилах. Я считаю, что человек должен надеяться только на самого себя, как я, — и тогда он многого добьётся. Ну да ладно, разговорился что-то я. В телефоне забит мой номер. Меня зовут Сергей. Когда нужна будет реальная помощь — звони. Только по делу звони, я приеду через полчаса. Ты знаешь, езжу я быстро.
    Сергей ухмыльнулся и повернул влево, хлопнув Степана по плечу, пошёл в сторону дверей.
    — Может, тебя подвести? — замедлив шаг, спросил Сергей.
    — Нет, я сам. Давно не был на улице, мне надо оглядеться и прогуляться.
    — Ну как знаешь, — Сергей, о чём-то размышляя, скрылся за дверью.
    Степан недолго думая развернул пакеты, взял в руки чёрные джинсы и поднёс их к лицу. Как давно, а может, никогда, он не вдыхал в себя этот запах — запах простого живого материала, пролежавшего на прилавке магазина. «Как много в жизни мы не замечаем и пропускаем мимо своего сознания, — подумал Степан. — Как много я не знал и не видел в своей жизни. И жил ли я вообще?»
    Выйдя из палаты, Степан отправился прямо по коридору. Он без труда нашёл кабинет Семеныча, так как больницы были все однотипные. Где-где, а в больницах ему приходилось бывать очень часто — когда его братков, полуживых, истекающих кровью, они приносили вперёд ногами, открывая ногами двери, требуя немедленно спасти их, бросая на стол пачки денег. Жизнь Степана неслась ураганом, она была шумной, яркой, как ему казалось, и насыщенной — крутой, одним словом. Войдя в кабинет Семеныча, Степан тихо произнёс:
    — Я ухожу, спасибо вам за всё. Вы помогли мне начать всё с нуля, и вас я буду помнить всегда.
    Семеныч так был удивлён, что не мог произнести ни слова. Он только от изумления поднял свои очки на лоб, откинувшись на спинку стула.
    — Рентген, ещё надо сделать рентген, — тихо произнёс он.
    — Нет, я был многие годы как собака. На мне и зажило всё как на собаке. Слава Богу, это не мной придумано.
    Степан не удивился, что при первых своих разговорах за последние три месяца он часто упоминал Бога.
    — Ну как знаешь, лучше, конечно, провести полное обследование.
    — Нет, у меня мало времени, мне надо так много успеть в своей жизни. Меня ждут люди, я должен им помочь.
    Степан был уверен, что его ждут, мучаются и ждут, и тянуть он не мог. Он считал, что не торопиться — это преступление. Степан повернулся и ушёл.
    — Я к вам ещё зайду, я не прощаюсь. Храни вас Бог.
    Семеныч так и остался сидеть в кресле. Он долго не мог понять, что всё же произошло, так как за свои семьдесят пять лет он видел многое, но такого не видел точно.
    Степан, вымывшись и одевшись, подошёл к зеркалу. Сколько лет он не видел себя! На него смотрел какой-то мужчина, абсолютно не знакомый ему. Он не знал его, но знал, что это — он. Он — новый Степан, с разумом и душой, с любовью к своёму ангелу, к своим ближним и своей долгой плодотворной жизни. Он знал, что никогда не отречётся от Бога, от ангела и от себя, что он никогда больше не бросит их и не предаст. Он твёрдо верил, что сможет помочь всем, кого пошлёт ему Бог.
    — Я люблю тебя, жизнь! — сказал Степан, глядя себе в глаза. — Я люблю тебя такой, какая ты есть. Я никогда не брошу тебя и не отрекусь от тебя, какой бы ты ни была. Но я знаю: всё будет хорошо. Я сделаю так, что всё будет хорошо. Ангел мой, пошли со мной, — сказал Степан и закрыл дверь в пустую палату.
  {% endfilter %}
{% endblock %}
