{% extends template %}

{% set parentTitle = "Бизнес-бомж" %}
{% set title = "Глава 10" %}
{% set pubdate = "23.07.2013" %}

{% block content %}
  {% filter prose %}
    Чем тогда всё закончилось, Степан вспомнил только сейчас. Матушка Смерть посидела рядом, посмотрела в глаза Степану, а он, как всегда, оторвался от её взгляда лишь потому, что улетел куда-то далеко и до сих пор не может понять, где он был. Он видел чистилище, ножи мясорубки, лохмотья, рубленые тела, мясо, воду. Но не пил её, а видел потом что-то тёмное, затем что-то светлое — и небо, сине-чёрное небо. А он летел, летел быстро, скорее, молниеносно.
    Резкий ветер дул ему в лицо, и дождь, холодный крупный дождь, всё лил и лил на лицо и тело Степана. Он долго лежал с открытым ртом, открытыми глазами и смотрел в небо, даже капли дождя не мешали ему видеть небо. Синее — чёрное — синее небо, то, которое он только что проскользнул. Он так давно не видел небо.
    Степан перевернулся и начал сухим языком, совсем непослушным и жёстким, лизать воду, ту, что, казалась рекой, текущей с небес. Он пил и пил её, ему казалось, что он так мог бы лежать вечность, лежать и лизать асфальт, и это было самым великим наслаждением, которое могло быть у человека. Если б не услышал сильный и пронзительный голос Клюшки:
    — Ты что валяешься!!! Вставай. Вставай и пошли, наши там под крышей сидят, ждут, пока эта зараза перестанет лить. Все коробки намочила, спать нам сегодня придётся, по-моему, опять в «бассейнах».
    Однажды был сильный дождь, который лил всю неделю подряд, намочил всё и оставил большие лужи. Когда он наконец закончился, кто-то из их семейки, что был поживей, сказал:
    — Вот благодать, у нас теперь и бассейны есть — рай, а не жизнь, — и стал омывать своё лицо в ближайшей луже. Все внимательно слушали и почему-то поверили в это. К нему как-то сразу приклеилось это прозвище, и с тех пор его стали звать Бассейном. Потом он так всегда называл лужи после очередного дождя, и все остальные с тех пор лужи звали бассейнами.
    Когда у них были удачные дни, они могли пить и есть во время дождя. Когда город был полупустым, они устраивали вечеринки, прыгая в своих бассейнах, танцуя и крича, называя это пением.
    Клюшка подхватила Степана под руки, не спрашивая, хочет он вставать или нет, и с силой повлекла за собой. Где Клюшка брала силы — никто не знал, но она всегда приходила на помощь ко всем, кто не мог встать. Она как-то находила их и поднимала, перетаскивая в своё логово. В её логове было много бумаги, стены, стол. Ночами грел костёр, и всегда были вода, пища и спиртное. Там была жизнь, рай для бомжей. Проще — Клюшкин дом. И все сходились к ней на огонь, принося с собой кусок сала, кусок колбасы, кусок хлеба… не важно… несли то, что могли принести.
    Клюшка была крепкой коренастой женщиной. Вечерами она садилась у костра и начинала рассказывать о своей безумной страстной любви с арабским послом, после которой она и осталась, вся в слезах, посреди улицы, не имея ни денег, ни документов, ни средств на жизнь. Боль предательства была настолько сильной и нестерпимой, что она не смогла справиться с ней без стакана крепкой водки. Потом ещё одного, за ним — ещё и ещё. Через какое-то время она уже не помнила и не понимала: пьёт она затем, чтоб не болела душа, — или душа болит, если она не пьёт.
    В один из дней, кода сил совсем не было, она упала, потеряв сознание. Очнулась оттого, что кто-то её поднял, а затем потащил волоком. Это было как в бреду, но она вдруг услышала разговоры и почувствовала тепло. Тепло шло от огня — рядом горел костёр. Кто-то сунул ей стакан под нос и сказал:
    — На, пей!
    Клюшка выпила и хотела что-то сказать, но её оборвали:
    — Молчи, потом расскажешь.
    Вот тогда она отошла и, сев у костра, начала рассказывать свою историю. Так изо дня в день, сидя у костра, когда ночь входит в свои владения, она рассказывает и рассказывает о своей красивой счастливой жизни, где были лимузины, цветы и шампанское — и она, рыжая бестия с огненной гривой волос, с необузданным нравом и горящими, как звёзды, глазами. Никто не смог обуздать Клюшку, но предать и обмануть смогли. Брошенную Клюшку обуздала, но не сломала судьба.
    Клюшка всегда приходила на помощь, подбирая умирающих бомжей на улице, и волоча тащила их или заставляла идти к своёму огню, который горел и горел, даже в сильный дождь. Все боялись даже думать о том, что когда-то Клюшка умрёт. Им казалась: если умрёт Клюшка, умрут все — один за другим.
    От её прежней жизни у неё остались только сильный властный голос, крепкая хватка рук и яркий боевой взгляд. На вид Клюшке было лет пятьдесят, а по бумагам — лет сорок. Но бумаг давно не было — и возраста, соответственно, тоже.
    Что интересно: когда человек лишается всего того, что ему дорого и ценно, то он параллельно лишается всего того, что ему мешало жить. Клюшка была лишена возраста, денег, страха приобретения морщин и выпадения волос. Она была красива и сильна — по бомжовским понятиям. У неё было множество поклонников, и она всегда пользовалась вниманием. В своём кругу она была просто «королевой», волевой и сильной.
  {% endfilter %}
{% endblock %}
