{% extends template %}

{% set parentTitle = "Бизнес-бомж" %}
{% set title = "Глава 3" %}
{% set pubdate = "23.07.2013" %}

{% block content %}
  {% filter prose %}
    От слепящего света он ничего не мог видеть, один свет, сплошной свет. Через несколько секунд он тяжело подумал: «Если это рай, то лучше бы я попал в ад, там, может, не было бы этого дебильного света, который проедает мне не только глаза, но и мозг. Тот, что не успел за годы окончательно высохнуть». Степан вновь закрыл глаза и провалился в глубокий тяжёлый сон.
    Он несколько дней провёл в глубоком забытье и лишь потом, несколько лет спустя, будет вспоминать, что видел маму, которая сидела у его постели, что-то тихо и нежно напевая, поглаживая ему то лоб, то руку своей мягкой, нежной ладонью. Видел отца, который почему-то молча стоял и смотрел на него каким-то другим, не своим взглядом. Свою красивую, весёлую, с голубыми глазами, Ольгу. Только глаза у неё были какие-то очень грустные и наполненные большой печалью. В жизни он никогда не видел у неё такого глубоко думающего и дающего жизнь и силу взгляда. Степан то и дело видел Мишутку и Алёшку, которые по очереди подходили к кровати и тут же растворялись, так же как появлялись.
    Придя в себя… Хотя это неправильное выражение, в себя прийти он не мог, так как «себя» уже давно не существовало: был тяжёлый мешок, набитый сплошным дерьмом, — без чувств, эмоций и ощущений.
    Полежав немного, он попытался вспомнить, что же всё-таки с ним произошло. И Степан вспомнил воду — живую, чистую воду, с сильным напором льющуюся из крана. Холодную, скользящую у него где-то в груди, омывающую и очищающую его душу. Потом угол дома, поворот и… бац!!!
    «Да, это точно был джип». Когда он повернул голову, то увидел, как автомобиль с огромной скоростью летит на него. Думать о чём-то далее ему не пришлось. Удар, ожог, покой. «Несколько дней, наверное, покоя? Интересно, сколько дней я лежу? Я же лежу — и это точно, что я лежу и я не умер, я живой. Какой бред, какой дурак взял бы меня в больницу? Если это больница… У меня давно нет документов. А если это не больница? Ещё тупее мысль. Кто бы меня взял к себе?»
    Люди давно сторонились Степана, не подпуская его близко, высказывая, кто что по этому поводу думает, а он и не обижался ни на кого и никогда, ни за что. От него и правда всегда пахло, если это можно так назвать, как от козла. Степан часто не мог дойти до туалета и нужду свою справлял прямо под себя. К тому же и почки у него отказали уже лет пять назад, он так думал, когда смирился в очередной раз с тем, что не снимал свои портки.
    «Да что там, всё равно по капле — высохнет. Да, смерть — это хорошо». Степан не боялся смерти и не ждал, ему было глубоко безразлично, сегодня, завтра или никогда. У него не могло быть смерти, он так думал, так как у покойников её не бывает.
    Вспомнился один разговор с дворником очень ранним утром.
    — Вставай, чего разлёгся, сдохнешь ведь.
    — Не сдохну, я давно уже сдох.
    — Дохлые не разговаривают, а ты ещё отвечаешь, значит живой.
    — Живой, только проку-то в том ни мне, ни людям. За всеми смерть — и с косой, и с метлой, а у меня посидит-посидит в ногах — и других забирать уходит. Видно, ей тоже не нравится, как от меня пахнет. А может, тяжёлый, нести не хочется. Думаю, что всё-таки на мне грязи больше чем положено. Всё ждёт, когда я вымоюсь, но я и не собираюсь, ей надо — пусть моет, а мне и так хорошо, теплей в мороз спится, я и так труп.
    — Вставай, вставай, вон милиция едет.
    — А мне-то что? Уж им-то я точно не нужен. С меня-то что взять? Ни взять, ни снять. Катать они просто так никого не будут. Не бесплатные извозчики с предоставлением ночлежки. Это для земных — рай такой и благодать.
    — А ты что, неземной, что ли?
    — Нет, я как дерьмо в прорубе, всё болтаюсь и болтаюсь — ни утонуть, ни вылезти.
    — Ладно, пошёл я улицы убирать, с вами поговоришь — и сам бомжом станешь, не работаете, не страдаете, ни милиции, ни смерти не боитесь.
    Дворник заскрипел своей деревянной лопатой ещё легче и быстрей, но снег падал и падал, как будто ему назло, не давая добиться желаемого результата. Степан, полежав немного, ещё раз попытался встать. Ног он как всегда не чувствовал, и руки совсем стали какие-то деревянные. С большим трудом опёрся на них, представив, что это протезы, встал на колени и пошёл, или, правильней, пополз, к себе домой.
    Домой он всегда возвращался, не зная, почему и зачем, давно перестав делать какие бы то ни было определения, механически, на подсознательном уровне, свой курс держал в сторону дома.
  {% endfilter %}
{% endblock %}
