{% extends template %}

{% set title = "Когда это Кащей правду говорил?" %}
{% set titleDescr = "Притча" %}
{% set pubdate = "25.01.2013" %}
{% set workdate = "19.02.2008" %}

{% block content %}
  {% filter prose %}
    Сидит одна старая ведьма и размышляет:
    — А вдруг я смогу стать феей? Схожу-ка я к Кащею. Он живёт дольше меня, наверняка знает, превращались ли когда-нибудь ведьмы в фей.
    Подняла она свой воз — это вес, он у неё состоял не из жировых отложений, а из перемолотого зелья, пыли, камней. Она все свои годы пыталась понять жизнь и смерть. Любила всё перетереть до песка и разглядывать в песчинках и в деталях, что из чего состоит. И всё оседало на лёгкое тело. Некоторые из песчинок она складывала в мешочки, некоторые — в карманы. Они были ненужными, но близкими и красивыми, только по этой причине ей так тяжело было с ними расстаться.
    Пришла, дверь была открыта:
    — Что дверь не закрываешь, Кащей?
    — А кого мне бояться? Все боятся меня, вот и пусть боятся. Придут напугать — сами напугаются. Мне даже и делать для этого ничего не надо. Стар стал, резвости поубавилось, лень-матушка в дом пришла. Я её пустил, кухаркой нанялась, а сама всё спит и спит за печкой. Думал, килограмма три с ней в весе прибавлю, да ошибся, она с собой Ложь прихватила, они подруги не разлей вода, будто одно целое. А ты зачем пожаловала? Страха в тебе что-то я не учуял.
    — Да я по делу пришла, совета спросить. Может ведьма феей стать? Ты дольше меня живёшь, за века мудрость мешками, поди, складируешь?
    — Ну ты меня рассмешила. Когда это Кащей правду говорил? Тебе, так и быть, скажу: закон есть один, я никому не говорил о нём и о том, что я тоже законам Вселенной подчиняюсь. Если ты во зле смогла увидеть мудрость и добро, то получишь от этого зла помощь в виде зрения, которое поможет тебе пройти и других провести через зло и не пораниться… а сейчас брось свои мешки у меня — я бесплатно советов не даю — и лети куда глаза глядят, иначе я тебя съем, я голоден, лень второй день дрыхнет.
    Ведьма испугалась гнева Кащея, бросила всё, за что держалась годами, и вспорхнула, как колибри.
    Летит-летит — и вдруг начала осознавать и радоваться:
    — Я свободная, я лечу, я фея!
  {% endfilter %}
{% endblock %}
