{% extends template %}

{% set parentTitle = "Случайная встреча" %}
{% set title = "Глава 8" %}
{% set pubdate = "05.07.2013" %}

{% block content %}
  {% filter prose %}
    На улице стоял мороз, он не огорчал и не радовал Марию, как-то всё текло в её жизни рядом, не касаясь её сознания и тела.
    Голова была забита проблемами, скопившимися за последние годы. В памяти всплывали неоплаченные счета, долги, кредиты, необустроенное жильё. И много всякой всячины, казавшейся ей на тот момент возом, который вытащить на себе уставшей женщине не под силу. Рядом дефилировал её чёрт, повиливая хвостом, чувствуя своё преимущество, поблёскивая глазами, любезничая, подавая то одну, то другую лапку, увенчанную жёстким и колким копытом, рассказывая о своей поездке в Париж: он хвастался новыми покупками и изысканными ресторанами которые, успел там посетить. Не имея ни такта, ни совести, он также делился впечатлениями о своих новых состоятельных любовницах, молодых и не очень, дарящих ему подарки и претендующих на его любовь. Марию это совсем не трогало: она прекрасно знала, что черти не имеют души, а соответственно, и любви.
    Женщина была убеждена: любовь не живёт где попало, она имеет свой дом, а дом её — это душа, находящаяся в сердце человека.
    И кто мог претендовать на любовь в его сердце?
    Кроме холодного, расчётливого рассудка, хитрых, скрытых, извращённых мыслей, в нём ничего не было. Молодая женщина просто шла, пропуская его косную болтовню мимо ушей.
    У Марии так кружилась голова от безысходности, что, будь на его месте сам дьявол, она вела бы себя, наверное, так же.
    И только снег, сверкавший на солнце, успокаивал и умиротворял её душу.
    Мария знала, что у неё просто усталость и очередная депрессия, с которой ей стало сложно справляться и из которой с годами всё сложней выходить.
    Мария понимала, что ничто и никто не приходит в жизнь человека случайно, что за все свои мысли, поступки и действия надо платить — и не за поступки, как выяснилось, тоже. Винить кого-либо в данный момент ей совсем не хотелось, если только себя — за слабость и неспособность жить на этой Земле среди так и не ставших для неё родными людей.
  {% endfilter %}
{% endblock %}
