{% extends template %}

{% set parentTitle = "Случайная встреча" %}
{% set title = "Глава 3" %}
{% set pubdate = "05.07.2013" %}

{% block content %}
  {% filter prose %}
    День действительно был тихий, тёплый, солнечный. Мария пробежала за несколько минут небольшое расстояние, на ходу проникла в первую подходящую маршрутку и, расположившись, погрузилась в свои глубокие мысли.
    В метро также на ходу вбежала в почти уходящую электричку и через несколько секунд, как ей показалось, она поднималась уже на эскалаторе к выходу.
    Время пролетело как-то незаметно, растворясь в пространстве.
    Мария давно определила для себя: мысли поглощают время. И чем больше думает человек, тем быстрей бежит его время, растворяясь в мыслях и сознании. Мысли поедают время, мысли — пища для времени.
    Когда в жизни дело касалось её заболевшей души, Мария всегда направлялась именно в этот монастырь, ноги несли её сами собой. Вопрос, куда пойти, никогда не приходил в её сознание.
    Может, по той причине, что она там крестилась? Может быть, именно в этом месте она соприкасалась с голосом Бога, святых, ангелов, получая силу и энергию жизни и духа.
    Но точно одно: какой бы истощившейся, изболевшейся она ни была, сразу после выхода из лавры или через несколько часов набиралась новых физических, духовных, моральных и творческих сил, которых на какое-то время хватало ей, чтобы выживать и крутиться в её беличьем колесе.
    Среди икон собора особо почитаемы икона преподобного Серафима Саровского Чудотворца и икона Божьей Матери «Скоропослушница», икона Матроны Московской, икона Ксении Блаженной, икона Казанской Божьей Матери, Тихвинская икона Божьей Матери и множество других, которые несут источник света, исцеления, любви и тепла.
    Перебежав дорогу из четырёх полос, она оказалась у ворот монастыря. Достала платок, лёгким движением рук покрыла на ходу голову и свои сумбурные мысли. Перекрестившись и поклонившись, она вошла на территорию Троицкой Лавры.
  {% endfilter %}
{% endblock %}
