{% extends template %}

{% set parentTitle = "Символ вечной любви, или Девушка по имени Симона" %}
{% set title = "Глава 10" %}
{% set pubdate = "06.08.2013" %}

{% block heading %}
  <h1 class="art__title">Символ вечной любви</h1>
  <p class="art__title-descr">или</p>
  <p class="art__title">Девушка по имени Симона</p>
{% endblock %}

{% block content %}
  {% filter prose %}
    Наступила осень, погода, как всегда играя в прятки со временем, демонстрировала задержавшееся лето. День был тёплым, безоблачным, календарь показывал начало октября.
    Осень, зима, весна, лето имеют одну общую черту — своеобразное пришествие: вот их нет, нет — и в один из дней нагрянут. Нравится им по каким-то необъяснимым причинам заставать людей врасплох, да так неожиданно, что люди совсем не успевают ни настроиться, ни перестроиться, ругаясь, открывают сундуки, натягивают на себя их содержимое, которое немного соответствует погоде.
    Оживлённую беседу оборвало чьё-то громкое объявление: «На кафедре появился новый интересный, симпатичный, даже поговаривают, что он дьявольски красив. И если не ложные слухи, то, по правильному подсчёту, приступит к занятиям именно сегодня. Ну просто чертовски умён и обаятелен!» — речь закончилась ударением на слова «Amoureux de la pierre».
    Все как-то радостно оживились, надеясь подсознательно и сознательно на какое-то чудо и возможность перемен в своих исследованиях.
    Ноэль долго не мог в тот поздний вечер прийти в себя, лёжа в холодном углу на ледяном каменном полу. Душу рвало, иглами кололо разум, разрывая на части, голод, жажда давили желудок, горло и плоть, ни один осколок хрусталя не был бы таким же острым и мерзким. Как подняться и встать? Сил не осталось совсем.
    Он первый раз добровольно принял смерть, смирившись в своей жизни с тем, что он её просто бросил, бросил всю свою жизнь, жизнь вампира-алхимика, столько жертв, столько труда и столько вложенных сил! Для того, чтоб продлевать её из года в год, из столетия в столетие. Правильно говорят: как только откажешься, как отречёшься — так её и вернут, и совсем не важно, вампир ты или человек. Её взгляд, её глаза, её хрупкое тело, её запах — всё в ней было создано из света, свечения нежной берёзы, отливающего сиянием луны. Где взять силы, чтоб подняться и жить? Глаза блуждали по полу, статуям, вглядываясь в каждую по очереди, но ни одна из них не могла сравниться с ней. Вот. Всё, что есть в ней. Крысы мерзко визгнули рядом с его ухом, оборвав нить его мышления. Он дико, как голодный леопард, рванулся на писк, сжав зубами спину одной из крыс. Разжевав шкуру, хрустел костями и позвоночником, заглатывая и всасывая тёплую кровь.
    Полежав минут тридцать, он почувствовал отлив смерти, более или менее восполнились силы. Обхватив палку руками, Ноэль занялся ловкой охотой.
    Войдя в аудиторию, Ноэль прошёл к окну, повернулся к стене и, постояв минут семь, медленно развернулся лицом к сидящим. Пространство заполнила магическая тишина, тишина пронизывала стены, потолок и пол.
    Непринуждённо, спокойно подняв глаза, он медленно вглядывался в глаза сидящих перед ним юношей и девушек. Магическая тишина, заполнившая просторный зал, окружала абитуриентов. Взгляд кобры перед смотрящим на неё человеком, взгляд хищника перед прыжком к своей жертве. Тихий холодный ровный взгляд, завораживающий и притягивающий гипнозом. Взгляд, полный покоя и тишины, проникающий в глубь души и сознания. Сложно выйти из этого магического коридора.
    Ноэль тихо и внимательно погружался в сидящих перед ним девушек и юношей. Вот, вот они все, все стоят и не дышат, стоят на его ладони, а в центре их стоит она, та, к кому он шёл много веков через мрак, темноту и свет.
    Вампир, один из немногих умеющий видеть свет и мрак, любовь и смерть.
    Симона, едва взглянув в его глаза, тут же почувствовала резкую тошноту, предательски подкатившуюся к горлу из глубины живота, проскользнув через душу. Голова резко закружилась, пол качнулся. Пошатнувшись, девушка ухватилась за край стола побелевшими хрупкими руками, встала, шагнула вперёд.
    Открыв свои большие синие глаза, девушка осознала, что лежит у него в руках, а он почти на коленях держит её в своих объятиях. И опять глаза, его взгляд, девушка чувствовала его тело и силу рук.
    Студенты оживлённо зашумели, объясняя Ноэлю, что девушка совсем недавно перенесла сотрясение мозга и, видимо, по этой причине от резкого перепада температур потеряла сознание.
    Урок прошёл быстро и оживлённо. Ноэль много говорил, обещая показать студентам выплавку меди, бронзы и всего самого неизвестного из того, что должен знать каждый изучающий химию в их университете; чтоб поглотить её до самых глубин, надо непременно знать тайну алхимии, тринадцать заповедей «Изумрудной скрижали». Эти слова — священный материал, из которого столько веков строило само себя алхимическое мироздание — здание герметического мира. Что такое алхимия, никто после занятий не обсуждал. Симона, держа руку в области груди, уходя, замедляла шаги, то и дело оглядываясь по сторонам. Девушка пыталась остановить бьющуюся, как в золотой клетке, душу.
    Ветер то и дело подхватывал подол её платья, разбрасывая волосы, бесстыже оголял её ноги, а она, как лёгкий свободный ангел, уходила по отточенными столетиями камням в самую глубину заколдованного города. «Сколько алхимиков было рождено в этом замечательном городе! — пронеслось в её голове. — Насколько он умён и красив!». Её покорили его ум и его знания. Веками изгоняя, убивая, сжигая на кострах, человечество склоняло свои головы пред умами алхимиков. Сколько заложено в их познаниях мистики, магии, чистоты, силы и труда! Насколько он умён! Блеск его глаз и сила взгляда говорили о возвышенности и уме. Девушка передвигалась по городу, неся в себе чувство, чувство любви, восхищения, уважения и нежности к этому неизвестному ей человеку.
    Ночь опустилась на город, Ноэль приблизился к своему драгоценному, веками стовшему в его мастерской камню, нежными движениями убрал и вытер с него паутину, пыль, он гладил и ласкал его своими огрубевшими руками. Руки становились мягче, а камень теплей. Он чувствовал прилив сил и прилив энергии, нежность и удовлетворение наполняли его тело, лунный свет скользил по каменным изгибам, играя бирюзой. «Вот оно, то время, время моей жизни, которое так легко перейдёт в вечность, теперь я буду всемогущ и бессмертен!» Он прикоснулся к камню языком, нежно обнял его, согревая, лаская всем своим телом, пропитывая и наполняя спокойным дыханием, дыханием страсти, вожделения, нежности и любви.
    «Это он, он даст мне вечную жизнь, а я дам ему силы — столько, сколько понадобится, столько, сколько необходимо на века, на все века, которые будут отсчитывать часы, часы моей Вселенной и вечности». Он медленно передвинул мраморный камень ближе к печи и наконец-то разжёг в ней огонь. Счастье! Он наконец-то испытывал триумф и счастье, то большое, которого не знают люди на Земле. Укрыв камень холстом, неслышными шагами он вышел за дверь.
    Осеняя ночь была тихой и спокойной, звёзды, как брильянты, отливали своими гранями на ровном синем небе. Пройдясь по тихим улочкам, Ноэль свернул к одному из домов, в котором жила Эльвира, девушка, милая, нежная.
    Эта девушка — одна из первых, с кем встретился глазами. Эльвира стояла перед зеркалом, расчёсывая свои длинные белокурые волосы, любуясь, вглядываясь в свои глаза.
    После соприкосновения с ним взглядом она почувствовала силу, любовь и увидела в себе совсем не обычную красоту. Ей совсем не хотелось спать, и только нежное благоухание наполняло её плоть. Девушка, услышав шум за окном, повернула голову и увидела Ноэля. Не сказав ни слова, не издав ни звука, она тихими шагами направилась к двери, испытывая сильное и нежное влечение.
    Кто сможет объяснить и рассказать, чем владел человек или вампир по имени Ноэль? Возможно, просто гипнозом. Люди не чувствовали страха, волнения, они как заколдованные куклы, наполненные любовью и страстью, шли на его взгляд, испытывая наслаждение. Девушка молча вышла на улицу, вложив свою ладонь в его протянутую к ней руку.
    Они медленно направились в сторону замка, девушка так же без звука, как вышла из дома, шагнула за ним в открытую дверь.
    Огонь и мерцание свеч сделали её ещё приятней, изысканней, он положил руку на её плечо, прикоснулся к волосам, вдохнув её аромат, аромат жизни, скользнул рукой к груди, прикоснувшись холодными пальцами к соску, девушку пробил озноб, истома наполнила всё тело наслаждением, ноги слега подкосились, Эльвира, обессилев, склонила голову на его плечо. Ноэль осторожно куснул, как свежий виноград, её кожу, ощущая запах крови, тела и плоти, лаская трепетно её жёсткий сосок.
    Девушка забилась в наслаждении, всё сильней прижимаясь к его телу, отдавая сама с большим желанием свою кровь и энергию. Высосав всю кровь до капли, он нежно взял её на руки, отнёс и положил на мраморный пол перед лучезарным камнем под названием «Любовь». Взяв нож, разрезал свои ладони в семи местах, прикоснулся к камню, окровавленными руками начал его ласкать, передавая ему энергию, силу, жизнь и любовь, выдыхая в него своим окровавленным ртом дыхание.
    Ноэль опустился в кресло, поднял глаза в потолок, потом посмотрел на камень и зарычал, заорал что было сил. Он орал и рычал, как победитель после боя.
    — Вот они, вот она, вот оно! Счастье, триумф! Вечность! Всё, я пришёл к цели, весь мир теперь в моих руках, весь мир, вся Вселенная! Я вечный! Я обрёл вечную жизнь! Я всесилен, я всемогущий! — он захватил лицо руками, погрузился в свои ладони, вдохнул аромат ещё не высохшей крови и уснул.
  {% endfilter %}
{% endblock %}
