{% extends template %}

{% set parentTitle = "Символ вечной любви, или Девушка по имени Симона" %}
{% set title = "Глава 13" %}
{% set pubdate = "06.08.2013" %}
{% set next = "leaving_miracle/poem" %}

{% block heading %}
  <h1 class="art__title">Символ вечной любви</h1>
  <p class="art__title-descr">или</p>
  <p class="art__title">Девушка по имени Симона</p>
{% endblock %}

{% block content %}
  {% filter prose %}
    С того самого вечера, когда Андре нашёл Симону на улице с разбитой головой, он стал аккуратно ходить вслед за ней, не нарушая её одиночества, никогда не рассказывая ей о том, что давно посвящён в её тайну танца. Андре всегда мечтал стать великим скульптором, и, возможно, совсем не по той причине, что приобретёт от этого уважение и положение, скорее, по той причине, что ему с самого детства хотелось творить красоту, которую он видел своей душой. Ему очень нравилось спать, обретая во снах крылья и свободу, только на сон с его загруженностью совсем не оставалось времени. Во снах он видел божественно красивых мраморных и каменных девушек, Андре согласен был отдать всё, лишь бы сотворить хоть одну из них. В этот поздний вечер, спрятавшись в кустарнике, он как всегда любовался и наслаждался Симоной. Андре видел, как подошёл к ней Ноэль, он видел, как они поспешно покидали парк, он видел, как они обнялись, следуя за ними неслышными быстрыми шагами.
    Собственными глазами он видел любовь, которая соединила Святость с адом, чтоб спасти жизнь человечеству. В тот самый момент в его сознании пронеслись слова: «Как любовь слепа, она правда слепа!»
    Андре увидел выстроенные ровными кольцами статуи, в центре колец находился шар. Шар, приподнявшись, накрыл девушку и мужчину с головы до ног. Андре видел не успевшие стать забальзамированными или сожжёнными в печи трупы людей, он стоял застывший, без дыхания, почти как одна из статуй, не в силах произнести ни звука, покрытый с ног до головы, как панцирем, толстым слоем мурашек.
    Крысы, взвизгнув, пронеслись между его ногами, задев штанину. Андре вздрогнул и очнулся, как от прикосновения щелчка гипноза. Пятясь назад тихими шагами, он вышел за дверь и, резко повернувшись, побежал, будто на чужих ногах, по улице.
    Много лет с того самого вечера он искал этот замок, много раз рисовал выходы и входы, измеряя расстояния, вычисляя его местонахождение. Он написал множество эскизов в память о своей единственной любви по имени Симона.
    Андре стал великим скульптором, после того как создал во дворе родного университета скульптуру «Девушка и вампир».
    Их силуэты, тесно обнявшись, нежно смотрели друг другу в глаза, так, что ни один камень, даже выращиваемый веками, не смог бы скрыть их любви и остудить тела. Их тела настолько были слиты воедино, что нежность и страсть были видны в самую тёмную и холодную ночь, на расстоянии. Их любовь вопреки всему на века скрепил и соединил камень. Камень не смог огрубить, погасить любовь, нежность и свет. Скульптура чудесным образом источала тепло, аромат, свечение. Скульптура из белого мрамора с отливом бирюзы создавала завораживающий свет, тот, в котором так часто купалась танцующая девушка в лучах лунного сияния.
    В день открытия скульптуры люди несли и несли цветы. Цветы были всех сортов и ароматов, вплоть до полевых. Каждый пришедший возлагал то, что любил, частичку своего сердца, своей души, бережно опуская к подножию.
    Они остались жить на Земле, а люди со всего мира в любое время года по сей день всё несут и несут живые цветы, складывая их к подножью бережно и нежно.
    Кто-то — затем, чтоб встретить свою любовь, кто-то — чтоб укрепить любовь, кто-то — продлить её, кто-то — в день свадьбы, чтоб на века слиться воедино, как эти двое, чистая святая девушка и вампир, разделяя между собой рай и пекло.
    Вселенная, солнце, небо, земля, ветер, вода окружают и насыщают их. Камень, наполненный светом, дарит людям веру, надежду и любовь.
    Влюблённые, согревая друг друга, сидят на скамеечках в мерцании фонарей, звёзд, яркой луны, наслаждаясь музыкой фонарей, звучащей от прикосновения к ним ветра, исполняющего мелодию вечной любви, закрытую для человеческого сознания, мелодию скрипа закрывающихся ворот, рая и ада.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2011">2011</time>
{% endblock %}
