{% extends template %}

{% set parentTitle = "Символ вечной любви, или Девушка по имени Симона" %}
{% set title = "Глава 8" %}
{% set pubdate = "06.08.2013" %}

{% block heading %}
  <h1 class="art__title">Символ вечной любви</h1>
  <p class="art__title-descr">или</p>
  <p class="art__title">Девушка по имени Симона</p>
{% endblock %}

{% block content %}
  {% filter prose %}
    Симона кружила в нежном лёгком танце, сливаясь с ветром, забыв про всё, что связывало её с землёй и людьми. Только она и мелодия её вольного друга ветра. Ветер дунул чуть резче и сильней, как будто поднял её на руки, она сделала прыжок вперёд и, отталкиваясь от земли, крутанулась в воздухе.
    В этот момент что-то сильное толкнуло её в грудь, так, что девушка отлетела в сторону и, потеряв равновесие, упала и ударилась головой о железную дверь старого замка. Последним, что она могла почувствовать, был глухой стук, сопровождавшийся жжением, в то же мгновение музыка исчезла, всё потемнело и погасло.
    Ноэль подполз к двери, огляделся. Дверь была закрыта с тыльной стороны на тяжёлый дубовый засов. Впившись в него глазами, он понимал, что даже если он встанет, то открыть засов ему не хватит сил, запах крови и человечины был уже так близок, в глазах у него слегка мутнело, а голова кружилась уже не от слабости, а от жажды вкушения пиши.
    Он встряхнулся и встал на ноги, держась руками за дверь. К его большому удивлению, засов открылся свободно и легко.
    Ноэль потянул дверь, и вместе с дверью к нему под ноги ввалилась она. Опустившись на колени, не веря своим глазам, он тихо и нежно прикоснулся к её окровавленному виску, проведя ладонью по лбу.
    Сколько столетий он искал только её, сколько объехал и обошёл земель, городов, усадеб!
    Кто мог ответить точно, сделав правильный подсчёт? Конечно, никто, по одной причине: никто не мог находиться на Земле столько, сколько находился находится на ней с момента рождения он сам.
    Её запах, её красота, её нежность, юность, невинность, незащищённость сводили его с ума, одурманивая, помимо этого, запахом крови и тела. Её энергии издавали тонкий насыщенный аромат, как нежный весенний букет полевых цветов.
    Голод брал своё, ему хотелось недолго думая вонзить свои корявые зубы в её мягкое нежное тело, вырвав большой кусок свежего мяса, запив всё это её сладкой кровью, высосав всю её до последней капельки, возможно, даже съесть её тело, разжёвывая хрустящие нежные косточки.
    От этой мысли его голова кружилась всё сильней. У него не было сил совладать с собой, он нагнулся ещё ниже, встал над ней на колени, уперевшись в землю руками, вглядываясь в нечеловеческом изнеможении в её лицо. Ничто никогда не было в его давно проклятой всеми жизни таким искушением, даже чуточку похожим. Его кости крутило и крутило, живот сводило, а голова кружилась; страсть, желание выкручивали его наизнанку.
    Он оторвал одну руку от земли и аккуратно убрал её светлые воздушные волнистые волосы с разбитого виска, нагнувшись ниже, прикоснувшись языком, тихо и нежно лизнул его, сползая по следу крови к щеке, носу, губам.
    Девушка содрогнулась и открыла глаза.
    Она не знала, где она, не знала, кто она, не знала, кто он.
    Симона видела перед своим взором глаза, погружаясь во взгляд, взгляд самого дьявола.
    Он в тот момент, наслаждаясь ей, был не яростным и не злым; Симона, не заметив опасности, глядела в его глаза, проваливаясь, уходя всё дальше и дальше, проникая через лабиринты в коридоры веков, её тело чувствовало истому, душа ликовала, сердце билось, билось ровно и спокойно, отдавая где-то в глубине слегка будоражащим трепетом наслаждения, испытывая реальный магический полёт.
    Девушка не чувствовала исходящего от него трупного запаха, не видела его уродства, не ощущала энергетического ужаса. Их взгляды соединились, образуя один длинный коридор от её души до глубин бездны, тленного ада.
    В это время неожиданно совсем близко раздался чей-то громкий, взволнованный крик.
    Они резко дёрнулись, разорвав звено в цепи соединения. Девушка мгновенно вернулась в себя, широко открыв большие синие глаза, наполненные разумом. Тёмное пятно над ней быстро скользнуло куда-то в сторону. Из души девушки вырвался стон. С трудом поворачивая голову вправо, Симона увидела тень, скользнувшую в приоткрытую дверь замка.
    Слова доносились всё громче, всё ближе и всё чаше, девушка попыталась встать, приподнялась, резко упала, вновь ударившись головой, теперь уже о землю, и потеряла сознание.
  {% endfilter %}
{% endblock %}
