{% extends template %}

{% set parentTitle = "Женские капризы" %}
{% set title = "Глава 2" %}
{% set pubdate = "27.01.2013" %}

{% block content %}
  {% filter prose %}
    Тяжело вздохнув, Олег поднял подушку с пола, поднеся её к лицу, вдыхая её нежный аромат, оставленный ещё так недавно близкой ему женщиной.
    «Куда понесла её душа? Что за несдержанный характер и что за манеры у этой взбалмошной женщины!
    Ну откуда в ней столько необузданных страстей?
    Может, я действительно ей надоел?
    Да нет!
    Как же может такое быть?
    У неё просто неуравновешенный характер, и она совсем не может себя вести в семье и в обществе.
    Как сложно, наверное, быть несдержанным и неуравновешенным».
    Олег присел на диван, крепко обхватив подушку руками. «Может, я действительно много работаю, и мой цветочек просто устал, может, я действительно очень мало уделяю ей внимания?»
    Олег вспомнил её глаза, сверкающие, как две молнии среди ночи.
    Где она? Куда побежала? Не дай Бог, с ней что-то случится. Всё, хватит сидеть, надо идти и извиниться. Олег улыбнулся. Извиниться? За что? Он же ничего не сделал, он даже слова не произнёс, если только что один вопрос по той причине, что его он волновал.
    Куда она это собралась на ночь глядя?
    Олег посмотрел в окно, за окном надвигался вечер, на улице падал снег и мерцали фонари. Что делать? Где она? «Вероника, Вероника, где ты, где мой милый капризный человечек?»
    Олег скользнул глазами по комнате, телефон Вероники лежал на краю дивана.
    Он вышел в прихожую, одел куртку и сапоги.
    Где она? На улице зима, а она почти босиком, в лёгких мокасинах и тонкой куртке на халат. «Господи, что за дура! — вырвалось вдруг у него. — Достаточно, это пора остановить!
    Если в неделе семь дней, то пять непременно заполнены бранью и скандалом. Я непременно с ней поговорю, так не может больше продолжаться, это выходит за рамки понимания и здравого смысла. Она не даёт мне покоя, не даёт спокойно жить и работать. Я же просил, умолял, говорил, что так нельзя и что её поведение выходит из-под любого контроля. Всё, надо быть с ней строже. Вероника, Вероника», — он, щёлкнув ключами в замочной скважине, принял непоколебимое решение: «Сейчас я ей всё скажу, сейчас я стану жёстким и строгим.
    Сейчас я ей скажу, кто в доме хозяин, что пора стать старше и умней. Ну как так можно, как можно зимой в мокасинах, вечером в холод и по снегу?»
    У Олега подступил ком к горлу.
    «Где она, что с ней?
    В этом виноват я и только я.
    Кретин, я действительно бездушный пень.
    Вглядевшись в глубь тёмного двора, он увидел маленький силуэт, сидевший на самой дальней скамейке. Олег быстрым шагом, почти бегом направился в сторону фигурки. Девушка молча смотрела в снег, как-то по-детски поджав ноги. Олег, наклонившись, подхватил её на руки, тесно прижав к себе.
    — Девочка моя, ну что случилось? Прости меня, Вероника, милая, прости. Я очень тебя люблю, я сделаю всё, что ты хочешь, я буду слушать каждое твоё слово. Хочешь, мы завтра поедем к твоей маме, хочешь, пойдём в кино, хочешь, мы пойдём в театр, а хочешь, мы пригласим в дом всех наших друзей и устроим вечеринку?
    Вероника всхлипнула. И, резко задыхаясь сквозь неожиданно нахлынувшие слёзы, ответила:
    — Нет.
    Немного выдержав паузу, Олег вдруг произнёс:
    — Хочешь, мы поедем на море?
    Вероника так же резко, но уже без слёз произнесла короткое:
    — Нет.
    — Ну что ты хочешь, мой маленький ангел? Может, ты действительно хочешь к медведям? — улыбнувшись, произнёс он.
    Вероника как-то живо распрямилась, ответив ему:
    — Да!
    — Поехали, — сказал Олег, — я сделаю всё, что ты скажешь, мой маленький капризный ангел. Я же тебя так люблю! К медведям — значит, к медведям.
    — Когда? — чуть слышно произнесла Вероника.
    — Да хоть завтра, — сказал, улыбаясь, Олег.
    Олег долго растирал её замёрзшие ноги, согревая их дыханием, целуя её холодные пальчики, отпаивая своё милое создание горячим молоком.
    Ночь была наполнена страстью, нежностью, любовью. Под самое утро, выбившись из последних сил, два жарких тела, крепко обхватив друг друга в объятия, мирно засопели.
    Олег был переполнен блаженной истомой и тёплым счастьем, проваливаясь в тёплую бездну глубокого сна и покоя, он с улыбкой на лице произнёс в полудрёме с нежностью слова:
    — Ну вот и всё… наконец-то ты спокойна и мила, и я очень, очень люблю тебя.
  {% endfilter %}
{% endblock %}
