{% extends template %}

{% set parentTitle = "Женские капризы" %}
{% set title = "Глава 6" %}
{% set pubdate = "27.01.2013" %}
{% set workdate = "02.11.2011" %}
{% set next = "galamala/boomerang-1" %}

{% block content %}
  {% filter prose %}
    В комнате было тихо и тепло, на улице давно уже цвёл май, Олег заканчивал свою книгу, а Вероника суетилась, бегая то и дело по квартире.
    — Папа, папа, а это что? — спросила маленькая Алёнка, обхватив большой, почти своего роста, бинокль руками, пытаясь достать его из ящика комода. Олег на мгновение онемел, чуть ли не потеряв при этом дар речи. Немного подумав, он, нежно улыбнувшись, приподнялся, подойдя к дочери, оперевшись на костыль, сел рядом.
    — Это, доченька, бинокль. Волшебный бинокль, который спас жизнь в тайге мне и твоей маме, а ещё он подарил жизнь тебе. Так как если бы не было его, неизвестно, были бы мы все.
    В это время вошла в комнату Вероника. Присев рядом, она нежно обняла мужа и дочь, опустив глаза на его ноги.
    — Прости, прости, милый мой Олег.
    Олег, вновь улыбнувшись, мягко ответил:
    — Мне не за что тебя прощать, у меня есть многое, у меня есть вы, я так сильно люблю вас! Вероника провела рукой по его протезам, наполняя их сердечным теплом.
    — Папа, я тоже вас сильно люблю! — Алёнка, бросив бинокль в сторону, обеими руками обхватила родителей, прижимая к себе и целуя их поочерёдно в щёки. — Папа, а когда я вырасту и стану такой же, как вы, мы пойдём в тайгу?
    — Женские капризы, — произнесла тихо Вероника.
    В глазах Алёнки застыл вопрос, комнату на какое-то мгновение наполнила тишина.
  {% endfilter %}
{% endblock %}
