{% extends template %}

{% set parentTitle = "Женские капризы" %}
{% set title = "Глава 1" %}
{% set pubdate = "27.01.2013" %}
{% set prev = "galamala/ft-2" %}

{% block content %}
  {% filter prose %}
    Вероника крутила в руках бинокль, прикладывая его к глазам то одной, то другой стороной.
    — Олег, Олег, я ничего не вижу. Олег, ну как? Олег, помоги, Олег, я хочу в лес.
    Вероника по-детски поджала губы и нахмурила брови.
    — Олег, ты обещал. Ты всегда мне только обещаешь, я перестану скоро верить твоим словам. Ты никогда не держишь слово, ты всегда говоришь: «Да, да, да, котёнок». А сам? А сам снова зарылся с головой в свои бумаги. Олег, ответь мне. Ты меня любишь? Олег, я не могу больше так. Я что, за пень выходила замуж или за мужчину? Правильно мне Ольга говорила, что «этот книжник сведёт тебя с ума или, ещё хуже, загонит в гроб». Всё, я больше не могу, мне надоело… Я ухожу, я ухожу к маме. Там я хоть имела свободу, а этот Мишка, помнишь, как он любил меня? Обещая мне чуть ли не золотые горы. А я? Я дура, поверила тебе, вышла за тебя замуж. И какой итог? Я сижу как пень рядом с тобой, такой же пень, как ты, мне не с кем поговорить, у меня нет детей. Да и откуда же им быть, если ты кроме своей ботаники ничего не видишь? И подруг у меня больше нет, так как им всем надоели твои рассказы о бабочках и мотыльках, жуках и всякой там мерзкой саранче.
    — Биология, милая, — как совокупность наук о живой природе, — произнёс Олег.
    — Да ты бы мне хоть её уже показал, третий год ты обещаешь мне, что мы поедем в тайгу, я не прошусь к морю или в Амстердам. Я понимаю, что с твоей копеечной зарплатой мы не можем выехать даже в соседний район, на самый дешёвый рынок, где китайцы продают такие же дешёвые трусы, как наши с тобой отношения и вся наша совместная жизнь.
    Вероника распалялась всё больше.
    — Зачем я только пошла с тобой под венец? Надоело, я пойду к батюшке, скажу ему, как мы с тобой живём, пусть он развенчает нас назад. Тогда я спокойно могу развестись с тобой и тут же выйти замуж, а Мишка, к твоему сведению, ещё холост, и мы с ним вчера виделись. Когда я шла из магазина, купив тебе это прокисшее молоко к завтраку.
    Олег выровнял шею, выпрямил плечи, снял и вытер тщательно свои очки.
    — Зайчик мой, Вероничка, ну что опять случилось, что за муха тебя укусила? Ты устала, ты хочешь к маме, так возьми билет и съезди к ней в гости, она тоже так давно не была у нас и, наверное, соскучилась не меньше, а я как раз сделаю доработку и закончу свою книгу. Хочешь, сходи в кино или на концерт.
    — С кем? — резко вскрикнула Вероника. — С кем я пойду на концерт? Сколько можно мне говорить эти пустые, бестолковые речи! С кем я пойду в кино? Я уже, как пень, одна, тот пень, который невозможно вырвать с этого пустого, бессмысленного места. Я сохну… Ты что, не видишь, что я сохну? Конечно, о чём я, конечно, ты не видишь, если бы ты видел, то ты бы не дал мне высохнуть и погибнуть. Тебе твоя саранча дороже и нужней, чем я. Я, близкий и родной человек. О чём я, кто родной, ты? Нет, всё, довольно, хватит, я ухожу, я ухожу совсем!
    Олег чуть слышно задал вопрос:
    — Куда?
    — Куда? К чёрту, в лес, к медведям, да куда бы ни было, это уже не столь важно, важно, что я ухожу, всё, мне всё надоело. Надоело всё: тишина, дом, ты, твоя рожа. А что больше всего надоело? Так знай, это твои стеклянные, бездушные очки, которые, в которых, кроме моего отражения, больше ничего нет.
    Вероника вскочила с дивана, резко швырнув подушку под ноги Олега, нырнула в лёгкие мокасины, скрылась за дверью, совсем неаккуратно захлопнув её за собой.
  {% endfilter %}
{% endblock %}
