{% extends template %}

{% set parentTitle = "Женские капризы" %}
{% set title = "Глава 3" %}
{% set pubdate = "27.01.2013" %}

{% block content %}
  {% filter prose %}
    Олег открыл глаза, солнце светило как-то ярко и необычно. Посмотрев в окно, он увидел настежь распахнутые шторы. Из кухни доносился аромат жареных оладьев, которые так нравились Олегу. Он улыбнулся, вспомнив русскую поговорку, так не присущую его мягкому характеру и воспитанию.
    «Слава Богу, настроение сегодня у неё на высшем уровне, сейчас поем и допишу, по крайней мере, „Исторический очерк становления биологии как науки“».
    Олег очень любил солнце, ему в такие дни меньше приходилось напрягать свои уставшие глаза и легче было сосредотачиваться на мысли.
    Надев тапочки, он вышел в кухню.
    Его удивлению не было предела.
    В центре комнаты лежала палатка, рюкзак, набитый продуктами, стояли термосы, заполненные кипятком.
    Вероника, повернувшись к мужу, обняла его мягкими руками, поцеловав в губы, с улыбкой и сияющими глазами произнесла:
    — Милый, доброе утро!
    У Олега на короткое время потемнело в глазах, дыхание перехватило — то ли от поцелуя, то ли от вида палатки. Он, нежно отстранив руки Вероники, как-то сбивчиво спросил:
    — Что это?
    — Как что? — с лёгкостью ответила молодая красивая женщина. — Палатка, продукты, чай, кофе. Я всё продумала сама, я очень долго думала, по этой причине собралась легко и быстро, посчитав, что будить тебя не стоит, что ты непременно должен выспаться после столь бурной ночи.
    Олег опустился на стул, мысли его разбрелись — по квартире, по незаконченной работе, в которой, казалось, он видел самый пик, потом они переметнулись на медведя, тайгу и поезд.
    — Вероничка, да ты что?
    — Я — что я? Ты же сам мне вчера сказал «выбирай», и я выбрала, а что, что?
    И она запела дворовую песню Вилли Токарева «Гитара с треснувшею декой»:
  {% endfilter %}

  {% filter ins %}
    {% filter poem("quote") %}
      В тайге балдоха светит, но не греет,
      Как черепаха, срок годами мой ползёт.
      За десять лет я, может быть, не постарею,
      А может, раньше выйду, может, повезёт.

      По тундре, по железной дороге…
    {% endfilter %}
  {% endfilter %}

  {% filter prose %}
    — Всё, хватит! Вероничка, что ты? Какая тайга, как моя книга, как работа? На улице январь, у нас даже нет тёплой одежды.
    — Ты же обещал! — резко перебила она. — Ты говорил, ты же сам мне предложил. Как, ты опять мне лгал? — на её глаза навернулись слёзы. — Ты обманул меня, а я тебе поверила. Сколько можно! Вновь одно и то же! Мне надоела твоя ложь, мне всё надоело! — Вероника села на стул и громко заплакала.
    — Вероника, подожди, не торопись, давай подумаем, давай обсудим. Нельзя так, не торопись, давай поговорим.
    — Нет! Я не буду больше говорить, я устала, я больше не могу. Или сейчас, или никогда. Слышишь? Никогда! Я уеду, я сейчас уеду, или с тобой, или без тебя, но уеду я навсегда.
    — Ладно, чёрт с тобой! — выругался в гневе Олег. — Поехали — к чёрту, к медведям и даже к самому дьяволу. Пусть всё летит к чертям: жизнь, работа, время. Пусть всё катится в тартарары, мне тоже всё надоело. Мне надоели твои слёзы и скандалы, я тоже так больше не могу, я больше не в силах терпеть этот хаос. Поехали! Пусть будет так, как ты хочешь. — Олег дёрнул сумку за ручку, да так, что та с лёгкостью отлетела и осталась в его руке.
  {% endfilter %}
{% endblock %}
