{% extends template %}

{% set title = "Прощание страны с Иосифом Виссарионовичем Сталиным" %}
{% set workdate = "15.12.2015" %}
{% set pubdate = "05.11.2017" %}
{% set titleDescr = "Март 1953 года" %}

{% block content %}
  {% filter prose %}
    5 марта 1953 года И.В. Сталина не стало.
    Любая смена режима в любой стране, особенно через революцию, проходит через трагедию этой страны, трагедии человеческих судеб. И всё-таки к этому времени страна выстояла, стала развиваться промышленность, тяжёлая и лёгкая, и многое-многое другое.
    Но 22 июня 1941 года началась война, после которой страна восстанавливалась из руин. Нам, детям, трудно было оценивать политику правительства, но мы знали то, что должны знать дети. А именно: мы понимали, что война со стороны Германии была захватнической, то есть враг пришёл на нашу землю и хотел захватить нашу страну.
    Мы знали, что взрослые защитили нашу страну. Жизнь была трудной, но мы считали её справедливой. Многие из наших сверстников не имели отцов, потому что они погибли, защищая нашу страну от захватчика. Мы видели, что никто из взрослых никогда не говорил о Сталине плохо. Мы читали книги о войне и из них знали, что во время тяжёлых сражений бойцы шли в атаку с возгласами «За Родину! За Сталина!». Вернувшиеся с войны люди подтверждали это.
    Мы, школьники, один раз в год читали в газетах о снижении цен на продукты питания и <i>никогда</i> не слышали об их повышении. Хоть снижения эти и были незначительными, в полном смысле копеечными.
    И вдруг страну потрясло сообщение о кончине вождя.
    Взрослые люди рыдали. Ведь недавно закончилась война, в мире было неспокойно, все боялись нового нападения, а силы ещё не были восстановлены.
    В то время я была в шестом классе. Мои первые стихи, стихи о нашем Вожде, поместили в школьную газету.
  {% endfilter %}
{% endblock %}
