{% extends template %}

{% set title = "Два братишки мишки" %}
{% set pubdate = "05.11.2017" %}
{% set titleDescr = "Декабрь 1969 года" %}

{% block content %}
  {% filter prose %}
    <time datetime="1969-12-14">14 декабря 1969 года</time> Алёнке исполнилось 5 лет. Бабуля Аня вместе с дядей Колей, её сыном, прислали нам денежек, чтобы я купила для Алёнки подарок. И я выбрала ей большого жёлтого мишку.
    Какое счастье было у Алёнки! Она дала его поиграть и Анютке. Но когда Анютка поняла, что спать он будет с Алёнкой, потому что день рождения у неё, она тихонько заплакала.
    Я не выдержала и сказала девочкам, что пойду поищу им братика для этого мишки, ведь он там остался. Пойду, пока не закрыли магазин. Предупредила их, чтобы ждали меня дружно, тогда братик мишки очень захочет у нас жить и быстро найдётся. А сама зашла к соседке тёте Кате, рассказала ей ситуацию и заняла у неё денежку до получки для приобретения второго мишки.
    Я купила мишку-братика с таким же чёрным носом, только немного другого окраса.
    В тот вечер мои дети были самыми счастливыми на Земле! Ещё несколько лет своего безмятежного детства они спали со своими мишками.
  {% endfilter %}

  {% filter prose %}
    В тот учебный год (с сентября 1969 по июль 1970) я работала уборщицей в райкоме партии. Работа была замечательна тем, что круглосуточный дежурный мог открыть мне дверь в любое время суток. От здания райкома до нашего дома — 5 минут ходьбы. И имелась большая партийная библиотека, но там было и много познавательных книг. Разумеется, что на работу я ходила только тогда, когда дети спали (или в 6 часов утра, или в 12 ночи).
    С девочками у меня был железный режим: массажи, прогулки, просматривание и чтение книг и, конечно, аккуратное питание. Карандаши и бумага-ватман были всегда на виду. Иногда на ватмане, на полу, мы делали коллективные рисунки. Я сшила девочкам кассы азбучные и цифровые с большими карманчиками и яркими буквами и, соответственно, цифрами на них. Мы их повесили на стенку над детскими кроватками. А на тумбочке, которая разделяла изголовья двух кроваток, стоящих вдоль стенки, в картонных коробочках лежали картонные квадратики. Эти квадратики были с изображениями: с одной стороны — буквы, а с другой — овощи, фрукты или животные, названия которых начиналось с той буквы, которая была на обороте. А что касается цифр — с одной стороны картонки была написана цифра, с другой — соответственное количество палочек.
    Каждый вечер девочки укладывали спать маленькие буквы и цифры к своим мамам в большие карманчики кассы. А утром перекладывали их в коробочки, в их детский буквенный садик. При этом каждое слово произносилось чётко, особенно выделялась первая буква.
    На работу я убегала в шесть часов утра, предварительно приготовив мужу завтрак. После уборки я заглядывала в молочный магазин, который был рядышком и работал с восьми утра. Детей поднимала в полдевятого.
    Перед сном, послушав какую-нибудь историю или сказку, дети засыпали, а я уходила в большую комнату. Там мне никто не мешал, и я выполняла все задания заочных подготовительных курсов ЛГУ, полученные по почте.
    Начиная с 4-го класса, я собирала книги, и к тому времени уже собрала порядочную библиотеку. Готовясь к экзаменам, я увлеклась этим процессом. Одна стена комнаты была увешана фотографиями классиков нашей литературы, а другая — фотографиями князей и царей дореволюционного периода. Были указаны годы жизни, под портретами писателей — названия литературных произведений.
    Девочки запоминали фамилии классиков, больше всех им нравился Лев Толстой, наверное, из-за его большой бороды. Конечно, я читала им его короткие рассказы для детей.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2012">2012</time>
{% endblock %}
