{% extends template %}

{% set title = "Рябушка" %}
{% set workdate = "29.07.2004" %}
{% set pubdate = "10.03.2008" %}
{% set titleDescr = "2003 год" %}

{% block content %}
  {% filter prose %}
    Стоял солнечный полдень весёлого августовского денёчка. Я время от времени отходила от грядки с огурчиками и поглядывала на калитку.
    Сегодня был день моего рождения, и поэтому я понимала, что из-за этой калитки может появиться любой сюрприз. И он не заставил себя ждать. Калитка открылась, и я увидела одну из моих дочерей с объёмистой коробкой в руках и внучку с цветами. Дочь аккуратно поставила коробку на длинный стол во дворе и доложила:
    — Открывайте и встречайте.
    «Что же это за сюрприз?» — подумала я и осталась стоять в замешательстве. Подошли муж и младшая внучка. Муж открыл коробку, а из нее — о Боже! — склонив голову на бочок, поглядывала на нас красивая рябая курочка.
    — Ря-буш-ка, — ласково позвала я её.
    Внучки заохали, заахали. А она сначала вскочила на краешек коробки, потом на стол, расправила свои рябые крылышки, как будто они у неё слежались, и, глядя на нас, ответила: «Ко-ко-ко-ко-ко?» Как будто спрашивала: «Где это я? Как дела?»
    Все переживали, сможет ли она спрыгнуть со стола, и пытались ей помочь, но она сделала это самостоятельно и сразу же по-деловому начала копаться в бороздке между грядок.
    Да, забыла сказать, что здесь же, около стола, замерев от удивления, сидели: пёс Черныш — сынок нашей боксёрши Багиры — и рыжий кот Васька. Как только Рябушка оказалась на самой грядке, Черныш опасливо отскочил в сторону и залаял. А Рябушка, захлопав крыльями и издав свое грозное «ко-ко-ко», нахохлившись, понеслась на Черныша. Пёс отбежал на порядочное расстояние и замолчал, продолжая наблюдать за гостьей издалека.
    Рыжий кот Васька с распушённым хвостом, похожим на трубу, вскочил в этот момент на стол и наблюдал за Рябой с безопасной высоты.
    Отогнав пса, Рябушка успокоилась и проворковала смиренно, даже тихо: «Ко-ко-ко», — и по-хозяйски приступила к рыхлению жёлтыми сильными лапками бороздок и грядок по своему усмотрению в поисках червячков, жучков, гусениц и улиток.
    С этого дня и Черныш, и кот Васька обходили Рябушку стороной на почтительном расстоянии. Но стоило им только забыться и, не заметив её, пробежать слишком близко, то Рябушка здесь же настигала невежу и клевала в хвост.
    Муж соорудил для неё настоящий курятник, насыпал опилки, даже раздобыл деревянное корытце, закрепил насест — деревянную палку, закреплённую от стенки к стенке на некоторой высоте от пола, где она и спала, удобно держась лапками за палочку; голову прятала при этом в перышки.
    Рябушка всегда отзывалась на мой голос, даже если я разговаривала с кем-то. Когда я долго не появлялась на улице, она выбегала из своего маленького домика, подбегала к кухонному окну, даже взмывала на уровень подоконника и обеспокоенно хлопотала: «Коко-ко-ко», — как будто звала меня: «Вы-хо-ди-и». Я отвечала ей в её тональности: «Ко-ко-ко-ко-ко».
    Если я выходила к своим грядкам или садилась во дворе в летнее кресло, то Рябушка всегда была рядом и перепахивала вокруг меня всё, что можно. Особенно ей нравились помидорные листочки, обожала она и ревень.
    Через месяц Рябушка начала каждый день приносить нам яички. Сначала они были мелковатые, но желток в них был ярко-жёлтым. Рябушка пережила с нами две зимы, одно большое лето и красивый сентябрь.
    Жаль, что тогда у нас не было видеокамеры, и никто не увидит, как в хороший солнечный денек на траве под окном спят Васька и Черныш, вытянув лапы и отбросив хвосты, а посередине между ними — Рябушка. Лежит с зажмуренными глазами, на боку, вытянув лапку, укрытую крылом.
    Однажды мне надо было пойти в центр городка к пяти часам вечера на короткую деловую встречу. Рябушка в тот день была более беспокойна, чем обычно, и несколько раз вызывала меня на улицу, взлетая к подоконнику. Я выходила к ней, гладила, меняла водичку в корытце, и она ненадолго успокаивалась.
    Увидев, что я иду к калитке, она припустила за мной с отчаянными криками. Я оглянулась и остановилась. Рябушка тоже затормозила, помолчала, склонила, как обычно, головку и уже тихо и как-то просительно произнесла: «Ко-ко-ко», — как бы напутствуя меня. Я склонилась перед ней и сказала, что скоро вернусь, и чтобы она вела себя хорошо, и даже погрозила ей пальчиком. Она выслушала меня и ещё раз тихонько и грустно произнесла: «Ко-ко-ко». Закрывая калитку, я помахала рукой своей необычной подружке.
    После встречи, возвращаясь домой, я переходила перекрёсток и совершенно волшебно не попала под колёса неизвестно откуда вылетевшей на огромной скорости машины.
    Словно чьи-то крылья подхватили меня в этот момент и откинули на каких-то полшага, которых вполне хватило для спасения моей жизни. Только мощная волна теплого воздуха пронеслась мимо меня. Через мгновение машины уже не было видно.
    А я ещё долго стояла на этом месте как вкопанная, не зная, кого благодарить за подаренную мне жизнь. От мощного перенапряжения каждая клеточка моего тела дрожала.
    А дома меня ждала беда. Моя Рябушка погибла. Погибла прямо на ровной дорожке около дома. Из рассказа домашних, я поняла, что умерла она в тот момент, когда я должна была погибнуть. Уж не Рябушкины ли крылья перенесли меня? Спасая меня, она погибла от разрыва сердца.
  {% endfilter %}
{% endblock %}
