{% extends template %}

{% set title = "Наше первое путешествие" %}
{% set pubdate = "05.11.2017" %}
{% set titleDescr = "Лето 1968 года" %}

{% block content %}
  {% filter prose %}
    Шёл 1968 год. Правда, в воздухе пахло «грозой». Война могла разразиться в любой неловкий момент, стоило только дипломатическим службам сделать неверное словесное изречение.
    Простые люди жили своей жизнью, но, понимая напряжённую политическую обстановку в стране, старались быть более экономными и разумными.
    Меня уже в нескольких письмах звала к себе в Подмосковье, в Николо-Урюпино Красногорского района, моя свекровь — Анна Фёдоровна. Она занимала половину небольшого дома, купленного её сыновьями у совхоза, в котором и работала. Домик был виден с автобусной остановки, так как был первым, только стоял немного в низине.
    Конечно, бабуля переживала за своих внучек, ей думалось, что с ней нам будет надёжнее. Ну что ж, может, она и была права.
    До Москвы мы доехали благополучно. А на вокзале нас встретил брат мужа Коля, который, воспользовавшись такси, довёз нас до Николо-Урюпино, донёс чемоданы, а потом и Анюту (ей было только 10 месяцев), и оставил нас на веранде бабулиного дома, а сам той же машиной вернулся в Москву (был рабочий день).
    Свекровь встретила нас и сказала, что хоть она и обещала не ходить на работу, пока мы у неё гостим, но директор совхоза просил её по возможности не оставлять работу.
    — Ну что поделаешь, лишь бы у Вас сил хватило на работу, а я справлюсь. Жалко, что летом Вам не дают отпуска.
    И бабуля, показав мне, где что находится, после обеда поехала на работу.
    Машина-развозка (открытая грузовая машина с лавочками в кузове) приезжала за работницами ранним утром, а позже привозила их на обед, на два часа, а потом снова везла отдохнувших женщин на поле до вечера.
    Конечно, я понимала, что труд в совхозе физически тяжёлый. Но здесь, под Москвой, всё-таки рабочие уже получали заработную плату рублями, а не трудоднями, имели право свой паспорт держать у себя на руках, передвижение людей внутри страны в период власти Н. С. Хрущёва уже было более свободным, за исключением выезда за границу.
    Я жалела и уважала свою свекровь и всегда перед её приездом на обед заготавливала пару вёдер воды, ковш и полотенце. Прямо на улице среди травы я поливала ей на мозолистые руки воду, подавала полотенце. И, конечно, обед уже стоял на столе. А после обеда она ещё имела возможность отдохнуть в доме, а девочек на тихий час я старалась уложить на улице на раскладушках.
    Анна Фёдоровна не говорила лишних слов. Видно, уже привыкла так жить. Её судьба заслуживает большого внимания. В конце своего пути она вышла победителем.
    В домике и на веранде я постаралась создать уют. В прихожей смастерила вешалки. В совхозной мастерской выпросила толстую проволоку для карниза, купила материал, сшила шторы. Столы в доме и на веранде и сундук застелила красивой клеёнкой, которую приобрела ещё в Ленинграде. Ну кто о ней мог так позаботиться в это время, кроме меня! Родственники обязательно приезжали к ней в выходные, но это уже отдельная история.
    Конечно, одной управляться с двумя малышками было непросто, но понимая, что я делаю доброе дело не только для своих девочек, но и для Анны Фёдоровны, я не уставала.
    Самая большая трудность была в том, что не было забора, поэтому за девочками надо было смотреть в оба. Конечно, и для них, и для меня было много интересного, они всё время были около меня.
    Из всего этого путешествия в моей памяти остались два момента.
    Анютке очень нравилось бегать по дорожке около дома, по бокам которой желтели солнышки одуванчиков. Она иногда останавливалась, даже приседала, рассматривая цветочки. Однажды она, немного пробежав, остановилась около ярко цветущих одуванчиков, наклонилась и, разводя ручонками и толкуя что-то понятное ей одной, стала что-то удивлённо рассматривать. Это оказалась пчела, которая, конечно, ужалила её в лоб. Мы с бабулей замерли, а Анюта насупилась — и бегом на веранду, уселась на сундучок и засопела, положив ручки на коленочки. Анна Фёдоровна села рядышком, обняла её и извлекла жало. А Анютка при этом не издала ни единого звука. Бабуля прижала её к себе и прошептала:
    — Какая молодец, терпеливая. Сейчас холодок приложим — и всё пройдёт.
    — Анна Фёдоровна, как здорово, что Вы рядом оказались! Вдруг у меня бы не получилось удалить жало. Спасибо большое.
    — Ничего-ничего, справилась бы. А теперь я возьму в холодильнике что-нибудь холодненькое да подержу немножко. А Анюта — молодец, значит и в жизни будет терпеливой.
    Слава Богу, отёк, ещё не очень большой, быстро исчез.
    Анютке было уже одиннадцать месяцев. А Алёнке — уже три года и пять месяцев. Хоть я и держала всё время девочек в поле зрения, то есть, выполняя хозяйственные дела, всё время с ними разговаривала, но в жизни бывает всякое. У свекрови не было забора, а по левую сторону от любимой Анютиной дорожки был открытый колодец, расположенный так низко, что девочки могли, наклонившись, посмотреть в него. Я развешивала на верёвку постиранное детское бельишко, вдруг взглянула в сторону колодца и… обомлела…
    Алёнка, опираясь руками о край колодца и заглядывая в него, подтянулась, ноги уже не касались земли…
    Я с душераздирающим воплем свалилась на землю. Алёнка вздрогнула и отскочила от колодца.
    Внутри у меня всё дрожало. Какую непередаваемую жуть я пережила в этот момент! А Алёнка подбежала ко мне, погладила меня по голове и спросила:
    — Мамочка, тебе больно?
    Я, сидя на траве, схватила её, крепко прижала к себе и почти шёпотом умоляюще простонала:
    — Больше никогда так не делай, пожалуйста!!!
    «Господи, как всё хрупко в этом мире, порой до беды полшага. Огради и помилуй!» — подумала я.
    В выходной день приехал Коля, брат мужа, и по моей просьбе сделал крышку для колодца, чтобы он не был доступен для детей.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2012">2012</time>
{% endblock %}
