{% extends template %}

{% set title = "Получил вожжами" %}
{% set workdate = "26.05.2014" %}
{% set pubdate = "05.11.2017" %}
{% set titleDescr = "1956 год" %}

{% block content %}
  {% filter prose %}
    Однажды зимой, в воскресный день, к нам приехала старшая сестрёнка, и мы пошли с ней в сарай за дровами, взяв верёвки для вязанок.
    Зимой быстро темнеет. Уже наступили сумерки. Из парадной я вышла первая, а за мной — сестрёнка. Пройдя совсем немного, вдруг я почувствовала, как сзади, схватив меня за шею, на меня прыгнул тяжёлый человек, и я чуть не упала. Это оказался мужик небольшого роста. Как здорово, что у нас были хорошо натренированные руки, а в руках были верёвки.
    Сестрёнка, выскочив из парадной, со всей силы протянула его верёвкой так, что он тут же оказался на снегу.
    Мы не кричали, не бежали, а он остался лежать на снегу, приподняв голову, ожидая, когда мы скроемся за угол дома.
    Люди проходили мимо, взглянув на происходящее как на разрешившуюся историю.
    Вспоминая этот случай, я ещё раз хочу сказать, что очень важно любить и оберегать своих близких, быть к ним внимательными! Ведь, когда мы вместе, мы и сильнее, и здоровее, и увереннее в этой непростой жизни с её неожиданными сюрпризами.
    Это был второй раз, когда моя старшая сестрёнка спасла мне жизнь.
  {% endfilter %}

  {% filter prose %}
    А когда мне было около шести лет, мы жили на 6-й линии Васильевского Острова в доме номер 29. Внутри дома был двор-колодец. Мы с сестрёнкой Валей играли в мячик, бросая его об стенку дома. Мячик упал и покатился вдоль стены, а я — за ним.
    В ту пору у меня был нарушен слух, и я совсем не слышала, что во двор въехала грузовая машина и стала пятиться задом к стенке дома, именно туда, где находилась я.
    Но вдруг интуитивно я оглянулась и увидела, что на меня надвигается кузов грузовой машины, а Валя, присев с раскинутыми руками и с открытым ртом, что-то кричала. Я уловила только одно слово: «Сте-на-а!!!»
    И я бросилась на стену дома, как бы влившись в неё и распластав по ней руки.
    Был ли водитель болен или пьян, неизвестно, но он вышел из кабинки, захлопнул дверцу и ушёл в парадную дома. Да я его и не видела. И мы даже об этом не говорили.
    А я помню, как Валя вытаскивала меня из щели, образовавшейся между стеной дома и кузовом машины. Я только помню, как я вся дрожала, и когда Валя вытащила меня из образовавшейся щели, мы обе плакали, сидя на корточках около парадной.
    Я уверена, что не зря люди появляются на Земле, они помогают друг другу выжить, и образовавшаяся в результате добрая энергетика помогает нам верить в тепло, верность и нужность человеческих душ.
  {% endfilter %}
{% endblock %}
