{% extends template %}

{% set title = "Неожиданный гость" %}
{% set workdate = "26.05.2014" %}
{% set pubdate = "05.11.2017" %}
{% set titleDescr = "1958 год" %}

{% block content %}
  {% filter prose %}
    Я училась уже в 10-м классе, а мои младшие брат и сестра учились во вторую смену. Когда я приходила из школы, они уже были на занятиях.
    Мы жили на последнем, пятом, этаже, и по фасаду всего этажа протянулся балкон. Кое-где балконы были перекрыты решёткой.
    На улице стояла весна, но занятия в школе ещё продолжались. В этот день, как обычно, я пришла из школы, вошла в общий коридор квартиры, младшие уже были на занятиях. Открываю ключом комнату… А за столом сидит паренёк из квартиры напротив. Квартира эта была перенаселена, там и комнат, и людей было намного больше нашего.
    Этот паренёк в школе не учился, сильно заикался. Но по характеру был добрым. Когда взрослые спрашивали его, почему он не учится в школе, то он отвечал:
    — А-а я-а я-а з-за-ик-каюсь, я — мма-лло-умст-венный.
    И вот этот паренёк сидел у нас за столом. Когда я вошла в комнату, он подскочил.
    — Сиди. Мы сейчас с тобой чаю попьём. А вот здесь у нас свежий хлебушек, мы его маслом намажем.
    Я стала быстро намазывать хлеб маслом, заварила чай. Раньше у простого народа не было холодильников, и масло у нас лежало в банке с холодной водой.
    Он пил свежезаваренный сладкий чай. С удовольствием ел свежий хлебушек с настоящим сливочным маслом, и ещё я выделила ему из неприкосновенного запаса хороший кусочек копчёной колбасы.
    Конечно, он не ожидал такого и всё время оглядывался.
    — Да ты не бойся, сейчас сюда сегодня никто не придёт. Жуй спокойно. Ребята
    придут позже.
    — Я-я п-пр-о-о-с-с-то о-о-ч-че-нь х-хо-о-т-тел е-есть, — говорил он, пряча глаза.
    Я не посмела его спросить, каким образом он перелез через металлическую решётку, была ли оставлена приоткрытой балконная дверь. Ему и так было неловко.
    — С-спа-сиббо, — бормотал он, неловко выходя из-за стола. А я дала ему ещё с собой сухариков.
    А если бы я сразу выгнала его? Нет, я бы не смогла, мне было его жалко.
  {% endfilter %}
{% endblock %}
