{% extends template %}

{% set title = "Горячее сердце" %}
{% set pubdate = "10.03.2008" %}
{% set titleDescr = "1962 год" %}

{% block content %}
  {% filter prose %}
    Сегодня, войдя в помещение вокзала, я случайно услышала разговор двух женщин.
    — Да, — говорила одна из них, — вряд ли в наше время встретишь таких людей.
    Вторая, сев поудобнее:
    — А что, милая, и я знаю подобный случай. Их мало, да, но я тоже знаю историю необыкновенную. Ему — двадцать один год, а ей — двадцать. Любили они друг друга. Да, милая. Жизнь неласково обошлась с ними. Заболела эта девушка, Таней её звали. Тяжело заболела, — глаза женщины стали печальными, яснее вырисовывались морщины на еще нестаром лице.
    …Каждый день бегал парнишка к ней в больницу, цветы ей носил; а в глазах его было столько печали, что трудно смотреть на него было. Вызывает его как-то лечащий врач, профессор, и говорит ему:
    — Вот, сынок, не будет она тебе женой. Ты хороший парень, ты найдёшь себе славную девушку.
    Побледнел парнишка, тень пробежала по его лицу. Вдруг глаза его заблестели:
    — Неправда, профессор, неправда! Что нужно ей? Что нужно для её жизни?!
    — Хотя бы одно здоровое лёгкое, — задумчиво, но твёрдо сказал профессор.
    — Лёгкое? Возьмите, возьмите его у меня!
    — Что? Ваше лёгкое? Нет, молодой человек. Вы что-то не то сказали, да оно и не поможет ей, — с трудом выговорил профессор.
    С последними словами профессора парнишка сорвался с места, кинулся на него, схватил за грудки и одним духом закричат ему в лицо:
    — Без наркоза режьте меня, а она пусть живёт! Вы кто? Врач или нет?! Забирайте моё лёгкое сейчас же! Бледный и потрясенный стоял около него профессор.
    — Но вы будете очень недолго жить… Вы знаете это?
    — Но я хочу, чтобы она хоть немного, хоть какое-то время могла видеть этот мир — это море простора, небо, солнце, людей, их жизнь и вас! Вас, профессор. Слышите? Я буду всегда, вечно благодарить вас. Нет! Мы, мы с Танюшкой! Она — изумительный человек! Вы должны, должны спасти её! — он просил, умолял, требовал…
    …Подошла электричка, и нужно было торопиться. Женщина, смахнув слёзы, поцеловала рассказчицу:
    — Спасибо, милая, век не забуду. Оказывается, и сейчас есть настоящие, сильные люди, — и она вошла в вагон электропоезда. Я посмотрела расписание электричек на следующий день и медленно побрела к дому. На душе было всё спутано, и очень хотелось знать конец этой истории. Когда я вспомнила о рассказчице, её уже не было видно.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1962-02">Февраль 1962</time>
{% endblock %}
