{% extends template %}

{% set title = "Полгода взросления" %}
{% set titleDescr = "1952 год" %}
{% set workdate = "14.12.2015" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter prose %}
    Я уже училась в четвёртом классе. Мне нравилось всё: и сама школа, и учителя, и девочки. Нравилось делать уроки,
    а больше всего нравилась школьная библиотека.
    Там всегда было празднично. Так интересно расставлены книги, иллюстрации, словно зазывали нас подойти к ним.
    Там можно было самим подбирать книги и посидеть в сказочной обстановке. Эти островки тепла и защиты я вспоминаю до сих пор. Библиотекарь была для меня очень близким человеком.
    Всех девочек она называла по имени. Спрашивала каждую из нас, как наши домашние дела, все ли здоровы, понравилась ли прочитанная книга. И что было самым интересным, а что — не очень.
    Тогда я уже много читала. Ведь тогда информацию мы могли получать только по радио, поэтому книги заменяли нам многое. Очень нравились стихи Некрасова, Лермонтова, сказки и стихи Пушкина, рассказы Аркадия Гайдара. Но тогда я больше читала про себя, то есть или шёпотом, или мысленно, сопровождая взглядом текст.
    Но после Нового года я заболела. Конечно, я, может быть, и не запомнила бы этот момент. Но болезнь затянулась, и я пропустила в школе почти две четверти.
  {% endfilter %}

  {% filter prose %}
    В первую половину дня я была в комнате одна. Вот именно в это время я и училась читать вслух с выражением. Наверное,
    меня это увлекло потому, что наш папа рассказывал мне, как он любил красиво читать стихи, чтобы каждое слово было сказано чётко, ведь и людям понятно — и себе приятно, особенно когда надо читать стихи в классе. Но это потом, когда стало легче и от болезненных ощущений не осталось ничего, кроме слабости.
    А сначала, я помню, мама будила меня посреди ночи, не один раз за ночь, и давала мне крупную таблетку сиреневого цвета в крапинку. Я помню, как очень громко ругалась врач, что я была отравлена этой таблеткой — норсульфазолом. Но мама говорила, что давала эту таблетку каждые двадцать минут по назначению другого врача. Не знаю, кто прав, кто виноват, но внешний вид этой таблетки и даже вкус я помню до сих пор. И испытываю рвотные позывы.
    Как называлась моя болезнь, я не знала, но в связи с её серьёзностью меня не выписывали в школу до конца учебного года.
    В ту пору ещё никто не имел мобильных телефонов, и даже стационарный телефон в квартире был большой редкостью. Поэтому, чтобы я могла делать домашние задания, девочки опускали мне в почтовый ящик записанные номера задач, примеров и упражнений. Встречаться со мной девочкам было нельзя.
    И только через много лет я неожиданно узнала об этом. В тот момент я уже находилась в печальном состоянии, то есть мне уже нельзя было ходить, а коляски ещё не было, и я перебирала свой архив. Там было всё что угодно: не только школьные выписки моих детей, у которых у самих уже дети закончили школы, но даже мои школьные табели с первого класса, характеристики учителей за каждый год и даже два заявления моего папы на имя директора моей школы: одно — о зачислении меня в первый класс, а второе — о зачислении в восьмой класс, в котором папа гарантирует оплату за моё обучение. В ту пору обязательное обучение было по седьмой класс, а с восьмого класса обучение было платным. За первую половину учебного года 8-го класса мы заплатили, а с января 1956 года оплату за школьное обучение старших классов отменили.
    Среди архива я обнаружила и свою медицинскую справку, форму № 286, то есть справку для поступления в следующее учебное заведение. В перечне перенесённых мною за время обучения в школе заболеваний первым записан «гепатит гем». Наверное, неправильно то, что детям и подросткам врачи не объясняют важность такой информации, а родители со своими заботами не обратили внимания на этот вопрос. Так что иногда полезно перебирать свои архивы прежних лет.
  {% endfilter %}

  {% filter prose %}
    А тогда я старательно исполняла все домашние задания.
    Однажды к нам пришёл в гости родственник, дядя Коля Абаренков. При разговоре с моим отцом он спросил его, не решили ли они оставить меня на второй год. И я услышала ответ отца: «Да, мы решили не трогать её. Успеет выучиться».
    Я никому ничего не сказала, а просто за две недели проштудировала оба учебника по русскому и математике, а читать я и так умела неплохо.
    Девочки через старшую сестрёнку передали, когда у нас будет консультация перед экзаменом, и я пришла к её началу. Наша Валентина Ивановна очень удивилась моей просьбе и разрешила приходить и на консультации, и на экзамены. И я очень обрадовалась.
    В итоге я сдала экзамены (устные предметы — математику и русский — на пятёрки, а письменные — на четвёрки) и перешла в пятый класс.
    Это была моя победа. А самое главное — то, что я научилась самостоятельности, была упряма перед поставленной целью и без помощи и упрашиваний взрослых справилась с задачей.
  {% endfilter %}
{% endblock %}
