{% extends template %}

{% set title = "Ах уж эти школьные годы!" %}
{% set workdate = "10.08.2003" %}
{% set pubdate = "10.03.2008" %}
{% set titleDescr = "Осень 1958 года" %}

{% block content %}
  {% filter prose %}
    Прошло уже сорок восемь лет, и всё равно при воспоминании о том золотом времени душа наполняется вольным ветром, раскрываются горизонты, и мы, как птицы, парящие в облаках над миром, купаемся в просторах Вселенной. В нас столько вольного ветра, будто мы и есть ветер, а небесный свод так необъятен, что кажется бесконечным. И нам — быстрым, ярким, жаждущим познать мир, чтобы ориентироваться в нём и быть нужным на этой Земле — всё нипочём.
    С сентября 1954 года по решению комитета по народному образованию (ранее — гороно) началось совместное обучение мальчиков и девочек. Мы перешли тогда в седьмой класс. В конце предыдущего учебного года учительский комитет, зная о предстоящем решении, готовил нас психологически для перехода из одного состояния в другое.
    В конце третьей четверти нам предложили совместное участие в лыжном забеге. В четвёртой — устраивались совместные встречи по баскетболу и волейболу. Участники и болельщики невольно знакомились друг с другом. Мы, девчонки, постепенно привыкали к мысли о совместном обучении. Ребята, влившиеся в наш класс, особенно первое время, были вежливы и внимательны к нам. Это было замечательное, светлое время в нашей жизни.
    Я, Лида Виноградова, и Коля Голубев сидели на разных колонках, но парты были на одном уровне, и, когда класс приветствовал учителя, руки наши невольно соприкасались. Мы без слов внутренне ощущали присутствие друг друга, класс нам казался светлым и просторным. Если я приходила в класс позже обычного для нас времени, то всегда встречала встревоженные Колины глаза. Увидев меня, он успокаивался, приветствуя меня кивком головы. И от этого мне было уютно и тепло. Мы никогда ни о чем не сказали друг другу. Внешне мы были, как и все дети, но отличались тем, что были похожи друг на друга, и души наши были чем-то сродни, и нам хотелось, чтоб у каждого из нас всё было хорошо.
    Но однажды случилось так, что, выйдя из школы после уроков, Коля при всех пошёл вместе со мной, спросив, где я живу. И я, показав рукой на свой дом, ответила, что это здесь, совсем рядом, напротив школы. Коля сказал, что их семья как семья военного срочно направляется в город Лиду Гродненской области.
    — Надо же, — рассмеялась я, — значит, ты меня никогда не забудешь?
    — Так где же ты живёшь? — переспросил он. — Да вот здесь, — беспечно ответила я, совсем не догадываясь, что таким образом он спрашивал мой адрес. И уже тем более я не думала, что больше никогда его не увижу.
    Надо ли рассказывать, как неожиданно погас огонёк в моей душе. Я ругала себя за несообразительность, за недогадливость. Теперь я точно знаю, что он тоже ругал себя за стеснительность, нерешительность, за то, что не смог сказать мне о своём отъезде заранее. Он снился мне в цветных снах, мы разговаривали с ним на испанском языке. И он много лет не уходил из моей души.
    А в классе кипела прежняя жизнь. Мальчик, сидящий за мной, бледнолицый, худенький Юра Шивов, дышал моим присутствием. Каждую переменку ему удавалось положить мне на парту новую открытку с каким-либо пейзажем — где он их брал? Он также пытался как бы незаметно коснуться моей руки, но я горевала о Коле. Моя подружка Лариса Гончарова поведала ему о моей печали. Юра развеселился и ответил, что завтра нас удивит. И удивил, однако. Его парта была за нами, и перед очередным уроком он зачитал нам Колино письмо. Оно было коротким. Коля писал, что они устраиваются на новом месте, и в следующем письме обещал описать всё поподробнее. Здесь же он очень просил сообщить мой адрес. Но Юрка сказал, что ни за что этого не сделает. Я очень просила дать Колин адрес, но Юра был твёрд в своём решении. Юра стал раздражать меня своим излишним вниманием, и я иногда грубила ему. Но в конце учебного года у него умерла мама, и мне стало жаль его.
    В то время завершающим классом средней школы был седьмой. В восьмой класс многие уже не пришли, в том числе и Юра Шивов, и Лариса Гончарова. В школе было, как в настоящей, хорошей семье. Время от времени мне всё равно снился Коля Голубев, как будто мы с ним парим в облаках в восторге от простора Вселенной. Ах этот необузданный вольный ветер…
    С Ларисой Гончаровой мне пришлось встретиться у неё дома уже после окончания десятого класса по приглашению её отца. Он хотел помочь мне устроиться на работу.
    Это приглашение мне передали одноклассники. Оказавшись у них дома и, соответственно, встретившись с Ларисой, мы прошли в её комнату. Бросив взгляд на письменный стол Ларисы, я невольно обратила внимание на письмо с ярким штемпелем. Письмо как бы само попало в поле моего зрения, и внутри у меня почему-то всё съёжилось, мне стало мало воздуха. Необъяснимое тяжёлое предчувствие ворвалось в меня.
    Ларисин отец — дядя Вася — предложил мне присесть к столу и вышел из комнаты, а Лариса, покраснев, сказала:
    — Ты уж прости меня. Он мне очень нравился, и я думала, что всё равно буду с ним. Но уже столько лет я пишу ему, а он в каждом своём письме спрашивает твой адрес, — уже раздражённо почти прокричала она. Теперь я окончательно поняла, что речь идёт о Коле.
    — Лариса, я потрясена твоим поступком. Как ты могла знать об этом и молчать? Почему? Почему вы с Юрой так поступили? Ну пожалуйста, дай мне его адрес!
    — Нет! Я не могу этого сделать, не хочу! Я и не сказала бы об этом никогда, если бы ты сейчас не увидела этот конверт.
    В комнату вошёл Ларисин отец, и мы стали договариваться с ним о предстоящей встрече на заводе, где он работал начальником ОТК военного предприятия. Еле сдерживая себя, я попрощалась с ним. Лариса предложила мне побродить по городу, но я восприняла это как вероломную тактику и сказала, что сегодня очень занята, понимая, что «завтра» у нас с ней уже не будет. «Умирать — так сразу», — подумала я.
    Я не хотела и не могла слушать, как она будет приукрашивать и привирать несуществующее. Ясно было только одно, что он, как и я, не получил ответа на вопрос: почему при внешнем благополучии так вероломны и беспардонны бывают люди ради личного интереса? При этом создавая видимость искренней дружбы, чему позавидует любое ЦРУ. Я вышла на улицу. Нахлынувшие воспоминания сами привели меня к нашей школе. «Хорошо бы, чтобы в его жизни встретилась хорошая девушка», — подумала я о Коле. Постояв немного, пошла к обелиску в честь декабристов: там была скамейка среди аллеи. А напротив плескались волны Финского залива.
    Начиналось бабье лето… Отчаянное многоцветье трав, листвы, деревьев и кустарника. Солнышко, целуя на прощанье Матушку-Землю, зажигало и оживляло её краски, а легкий, ещё тёплый ветерок, слегка пробегая по этой многогранной красоте, предлагал нам запомнить и сохранить в памяти её чудодейственное тепло.
    Душа наша при печали прощания испытывает тихую радость испитого счастья. Растворяясь душой своей в природе бабьего лета, уходя от реальной суровой действительности, следя за движением облаков по небесному своду, мы заряжаемся жаждой жить. Жить справедливо, по совести. Птицы, собирающиеся стаями, отрезвят нас и напомнят о предстоящих испытаниях — испытаниях временем, временем бесконечных дождей и всесильных морозов.
    Но побывав в объятьях природы, в объятьях бабьего лета, мы снова захотим жить, захотим преодолеть все тяготы, которые обязательно встретятся на пути. И, набравшись душевных сил и великого терпения, мы будем стремиться в доме своём сохранить огонь душевного тепла и снова ждать пробуждения природы, которая ещё и ещё раз растворит нас в своих объятьях и зарядит страстью к жизни.
    И я подумала, что мой дедушка о моей истории сказал бы так: «Бог знает, что делает, внученька». Но мне ещё трудно было смириться с этой мыслью. Пройдёт ещё много лет, когда я, не кривя душой, осознанно буду произносить эту фразу: «Бог знает, что делает». Именно такое умозаключение не раз поможет смириться и пережить беды, встретившиеся в моей жизни.
  {% endfilter %}
{% endblock %}
