{% extends template %}

{% set title = "Дед Фёдор" %}
{% set workdate = "06.12.2015" %}
{% set pubdate = "05.11.2017" %}
{% set titleDescr = "1943 год" %}

{% block content %}
  {% filter prose %}
    А ещё у меня был деда Фёдор, очень хороший дед. Он — отец моего папы.
    Он не только курил махорку (как он говорил — «самосад») и сам крутил самокрутку, но также много занимался хозяйством. Работа в деревне никогда не кончается.
    А ещё он знал много частушек и учил меня. По уговору деда я начала плясать в деревне на посиделках, и, конечно, не просто плясала, а пела частушки. А знала я их в большом количестве. Например:
  {% endfilter %}

  {% filter ins %}
    {% filter poem("quote") %}
      Ой, топни, нога,
      Топни, правенькая.
      Всё равно ребята любят,
      Хоть и маленькая.

      Чечевица, чечевица,
      Чечевица с викою.
      Вот поела чечевицу,
      А теперь чирикаю.

      Пойду плясать,
      Дома нечего жевать.
      Сухари да корки,
      На ногах опорки.
    {% endfilter %}
  {% endfilter %}

  {% filter prose %}
    Частушки и пляска маленькой девчонки четырёх — пяти лет умиляли взрослых. Но дед Фёдор учил меня иногда и частушкам, в которых звучали непристойные слова, то есть матерные. Моя речь была чистой, конечно, для своего возраста, какие-то буквы изменялись, но для взрослых это было ещё смешнее. Прибегала моя мама, забирала меня на руки и уносила домой, а потом сердилась на деда.
    А отец учил нас плясать, особенно обращая внимание на присядку, и бегать вприсядку, загребая ногами.
  {% endfilter %}

  {% filter prose %}
    Однажды мама откуда-то пришла и была такая говорливая, что-то говорила взрослым. А позже она рассказала нам, что встретила тётушку, которая перед войной только сидела за столом и пыталась делать замечания внукам, так как у неё был инсульт.
    И каково же было удивление мамы, когда она увидела свою тётю бегущей с продуктами для внуков! И речь у неё была нормальная. А ведь она сидела сиднем пять лет! Тётушка рассказала, что страх за судьбу детей и начало войны как клин клином вышибли болезнь: «Сыновей война прибрала, вот Бог и оставил меня помогать невесткам внуков растить».
    Пути Господни неисповедимы.
  {% endfilter %}
{% endblock %}
