{% extends template %}

{% set title = "Честь" %}
{% set workdate = "20.06.2003" %}
{% set pubdate = "10.03.2008" %}
{% set titleDescr = "1960 год" %}

{% block content %}
  {% filter prose %}
    Конец лета 1960 года. Мне только что исполнилось девятнадцать лет.
    Вечером на платформе станции Ланская я ждала электричку. Задумалась и не заметила, как оказалась в самом начале платформы, у головного вагона. Эта часть платформы не освещалась, была безлюдна, а состав ещё не подошёл. Я повернулась и решила идти к середине перрона, где всегда много отъезжающих, но заметила, что прямо на меня неуверенной походкой шагал долговязый молодой человек, раскрыв руки для объятий.
    Я мгновенно прикинула, что в правой руке у меня тяжёлая сумка, а левая свободна, и я её применю. Удар натренированным ребром ладони всегда можно использовать как средство самозащиты. В глаза бросился дрогнувший кадык молодого человека — он хищно проглотил последнюю слюну от предстоящей сладостной встречи.
    Раздумывать было некогда. И я, спокойно глядя ему в глаза, ребром ладони нанесла удар по кадыку. От неожиданности он упал, как скошенный, а я не спеша продолжила путь. Боковым зрением я заметила, что он пытается встать. Вдалеке засветился прожектор приближающейся электрички.
    Я понимала, что пострадавший может попытаться мне отомстить, но не хотела ещё раз применять силу. Сориентировавшись, подошла к трём спокойно разговаривавшим между собой мужчинам и встала к ним спиной, но близко. Молодой человек успел подойти ко мне и, склоняя свою непутёвую голову надо мной, произнёс:
    — Уважаю, люб-лю, це-лую…
    Я поднесла руку к его щеке, напрягла её и слегка качнула любвеобильного нахала с неуверенных ног на близко стоявших мужчин, которые сразу же расшумелись. Двери подошедшей электрички открылись и скрыли меня от непутёвого воздыхателя.
    А я подумала, что в этой жизни, чтоб не оказаться мишенью, может быть, разумно без надобности не отдаляться от людей, но если такое случилось — смело отстаивать своё человеческое достоинство, свою честь.
  {% endfilter %}
{% endblock %}
