{% extends template %}

{% set title = "Ворона, голубь, Тюпка и Путька" %}
{% set pubdate = "05.11.2017" %}
{% set titleDescr = "1976 год" %}

{% block content %}
  {% filter prose %}
    Летом 1976 года девочки гуляли стайкой: я разрешала всем подружкам моих девочек бывать у нас. И, видимо, поэтому обо всех их затеях я узнавала раньше других родителей.
    Однажды прихожу домой, а у нас Ворона. И место ей выделено. Она взглянула на меня оценивающим взгядом, голову — набок. А я ей говорю: «Ка-ать-ка, Ка-ать-ка».
    Ворона покрутила головой и, встряхнувшись, сказала как вздохнула: «Катька».
    — Ну здорово, — сказала я ей. А она опять: «Катька».
    Девочки объяснили мне, что она не может взлететь. И спросили у меня, можно ли ей у нас пожить.
    — Ну хорошо, может, и правда поправится да сил наберётся.
    У неё было всё, даже жёрдочка. Она стала ручной, набрала сил. А через месяц девочки со своими подружками решили выпустить её с Зелёной горки.
    Эта горка находилась почти напротив дома номер 284, где жил <a href="/lidija_seljagina/resorts.html#kuleshov">Владимир Петрович Кулешов</a>. Вдоль Приморского шоссе (до выезда из Сестрорецка), если смотреть на озеро Разлив, протянулась широкая полоса, естественно, озеленённая, которая прикрывала внутреннюю дорогу для подъезда к домам. Вот здесь, на этой полосе, по правую руку, если смотреть на озеро, был удачный широкий зелёный бугорок, нарочно или случайно оставленный устроителями. Дети облюбовали это местечко и называли его Зелёной горкой.
  {% endfilter %}

  {% filter prose %}
    Потом недели три у нас жил голубь и спал на антресоли. У него болела лапка. Он прилетал к нам в конце дня на ночь. Конечно, нашу антресоль он узнал только после того, как девочки пригласили его к нам в гости, то есть принесли.
    Я ещё работала в Сестрорецке, но уже участковым, аппартаменты этой инспекции находились на первом этаже большого точечного строения по улице Строителей, вдоль железнодорожного полотна, у станции Сестрорецк.
  {% endfilter %}

  {% filter prose %}
    Ко мне прямо на работу явилась целая делегация девочек вместе с Анютой, которые просили у меня разрешения оставить у нас котика, ещё очень маленького, который был обнаружен около подвала.
    Пришлось согласиться с различными условиями ухода за ним. Анюта оказалась молодец, она научила малыша Тюпу ходить в общий унитаз.
  {% endfilter %}

  {% filter prose %}
    Уже было прохладно, девочки были в пальтишках. И так случилось, что, бросая камешки в реку Шипучку, Аня поскользнулась на камне и упала в речку.
    Открылась дверь, и ко мне в инспекцию вошли девочки с промокшей и продрогшей Анечкой.
    Я срочно позвонила в дежурную часть — и, спасибо, мгновенно пришла машина, и мы отвезли нашу потерпевшую домой. Как хорошо, что она всегда не одна. А вот Лена, она постарше, стала чаще оставаться одна, больше читала.
  {% endfilter %}

  {% filter prose %}
    На моей территории по Левашову мама одного паренька предложила мне щенка карликовой лайки. Приезжаю с работы, на мой звонок Анюта открывает мне дверь, а я достаю из-за пазухи шинели щенка… Вот это был момент!!!
    На кухне в уголочке было выделено местечко с подстилкой. Наш кот Тюпа подрос, и мы беспокоились, как он примет малыша, но получилось здорово. Теперь уже Тюпка взял на себя роль родителя. Надо было видеть, как этот вчерашний малыш закрывал лапкой плачущего малыша Путьку, только что взятого от мамки, умурлыкивал, успокаивал его. Когда Анюта или я выходили с Путькой гулять, то на небольшом расстоянии сзади его обязательно сопровождал Тюпа… Его высокая шёрстка придавала ему солидность.
  {% endfilter %}

  {% filter prose %}
    В тёплое время года мы, как и прежде, ходили до Белоострова или ехали до 41-го километра, а оттуда лесочком обратно.
    А в свободные вечера напевали знакомые песни, рассказывали произошедшие с нами истории…
  {% endfilter %}

  {% filter prose %}
    Прошло три с лишним года, девочки играли с Путькой на улице: они прятались за угол дома, а Путька их находил. В тот момент, когда Путька забегал за дом, проезжавшая мимо машина резко остановилась — и Путька пропал. Люди из машины забрали его себе. Но мы ещё долго надеялись, что он найдётся.
    А потом пропал и Тюпа.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2012">2012</time>
{% endblock %}
