{% extends template %}

{% set title = "Последняя денежная реформа в СССР" %}
{% set workdate = "16.01.2018" %}
{% set pubdate = "10.03.2018" %}
{% set titleDescr = "1991 год" %}

{% block content %}
  {% filter prose %}
    Это была самая скандальная реформа в СССР. За две недели до реформы премьер-министр Валентин Павлов объявил, что никакой реформы не будет. Сроки обмена денег были сжаты. Пятидесяти- и сторублёвые купюры могли быть обменены в течение трёх дней (с 23 до <time datetime="1991-01-25">25 января 1991 года</time>), то есть со среды по пятницу. Сумма обмена наличных денег на одного человека ограничена. При процедуре обмена в паспорт ставился штамп с указанием суммы — для контроля разрешённой нормы.
    Все <a href="/lidija_seljagina/point-2-13.html" title="События в жизни автора в то время описаны в цикле «По лабиринтам жизни»">невероятные трудности</a> пришлось преодолеть.
    А хаос в стране только нарастал. В <time datetime="1991-02">феврале 1991 года</time> я пробиралась по колдобинам нечищеных дорог Калининского района к дому старшей дочери и поражалась: в тот год я впервые видела в Ленинграде такие неухоженные, нерасчищенные улицы. И навести порядок никто не торопился. В нашем Сестрорецке ещё чувствовалась власть, и дороги наши были чисты и аккуратны.
  {% endfilter %}

  {% filter prose %}
    <time datetime="1991-12-25">25 декабря 1991 года</time> после тайного совещания в Беловежской пуще, без участия М. С. Горбачёва, было объявлено о распаде Советского Союза. А с <time datetime="1992-01-01">1 января 1992 года</time> цены были отпущены в свободное плавание.
    Оборвались договорные обязательства, остановились многие предприятия. Своего пика гиперинфляция достигла осенью <time>1992</time> года, когда розничные цены на питание и сигареты <i>увеличивались каждый день</i>.
    Экономические связи разрушились, система здравоохранения пришла в упадок. С <time>1992</time> года в стране наблюдается естественная убыль населения.
  {% endfilter %}
{% endblock %}
