{% extends template %}

{% set title = "Рыжонка в Ленинграде" %}
{% set workdate = "16.01.2018" %}
{% set pubdate = "10.03.2018" %}
{% set titleDescr = "1950 год" %}

{% block content %}
  {% filter prose %}
    На Васильевском, на проспекте КИМа и переулке Каховского, у самого Финского залива, весной и осенью 1950 года, когда мы шли в школу, иногда могли встретить на улице корову с хозяйкой.
    Ведь такие пятиэтажные дома по проспекту КИМа как 7/19, 5/34 и другие не имели парового отопления, но в каждой комнате стояли огромные голландские печи, а на кухнях — большие плиты с дымоходом. А для того, чтобы заготовить дрова, для каждой квартиры были предусмотрены сараи. Вот в этих сараях иногда временно хозяева держали коров.
    Так случилось и у нас.
    Понимая, что в послевоенном городе без помощи земли и коровы будет невозможно поднять четверых детей здоровыми и сильными, наши родители решились взять участок земли. Отцу как инвалиду Великой Отечественной войны в 1948 году Государство предоставило в пользование участок земли в Белоострове, а также выделило безвозмездно ссуду для постройки дома. Было решено сначала поставить времянку и приготовить всё для содержания коровы и ведения прочего хозяйства.
    Но подготовить место ещё не успели, а молодую корову, Рыжонку, уже привели из Молоковского района Калининской (Тверской) области, поэтому временно и устроили её в таком сарае.
    Это надо иметь мужество, чтобы привести корову пешком, проделать такой путь, что отец и сделал вместе со своим братом. Время тогда было сложное: на улицах города было много преступлений — это от неустроенности людей, от послевоенной нищеты.
    А маме, для того чтобы напоить и накормить корову, надо было ходить к ней не только днём, но и ранним утром, и поздним вечером. А если учесть, что освещения во дворе часто не было, то можно представить, как ей было страшно.
  {% endfilter %}

  {% filter prose %}
    Она рассказывала, как однажды, возвращаясь в темноте из сарая, почувствовала что-то неладное. Посветив фонариком, увидела, что буквально перед ней ползут навстречу друг другу два мужчины, и у каждого из них в руке по кирпичу. Что они там выясняли между собой?
    Она в ужасе остановилась. И вдруг один из них хриплым голосом произнёс:
    — Ну что стоишь? Проходи скорее. У нас свои счёты.
    Не заметив, как проскочила мимо них, мама, влетев в парадную с чёрного хода, перебежала на нашу лестницу. И дрожащими ногами стала подниматься в квартиру, на последний, пятый, этаж.
  {% endfilter %}

  {% filter prose %}
    И как только в Белоострове поставили времянку, мама переехала туда вместе с Рыжонкой. А у нас она бывала через день, привозя молоко, часть которого продавалась постоянным клиентам.
    У нас тогда, как и у всех простых людей, не было холодильников. Сливочное масло держали в стеклянных банках с холодной водой. А уж горячей воды и ванной комнаты тоже не было.
    Но все школьные каникулы, не только летние, но и осенние, зимние и весенние, мы, конечно, жили с мамой в Белоострове. Благодаря этим обстоятельствам мы научились работать на огороде и вести хозяйство.
  {% endfilter %}
{% endblock %}
