{% extends template %}

{% set title = "С молоком матери" %}
{% set workdate = "20.05.2003" %}
{% set pubdate = "10.03.2008" %}
{% set titleDescr = "1980 год" %}

{% block content %}
  {% filter prose %}
    Старшей дочери было почти пятнадцать, когда в семье появился третий ребёнок.
    Из роддома домашние встретили меня с сыном бережно и заботливо. Мы долго, с восторгом рассматривали малыша, и он казался нам забавным и удивительным. Это был крупный ребёнок с уже хорошей мускулатурой. Взгляд его, порой казавшийся нам осознанным и серьёзным, сменялся безмятежной, трогательной улыбкой.
    Но уже на другой день вечером, когда я укладывала малыша спать, старшая дочь включила свой любимый проигрыватель и непринуждённо начала слушать музыку. А надо сказать, жили мы в однокомнатной квартире, и защитить малыша от шума, казавшегося мне излишним, я не могла. И повторялось это каждый день. Лена, приходя из школы, ставила какую-либо полюбившуюся ей пластинку много-много раз подряд. Обычно это было тогда, когда дома оставались только я, малыш и Лена. Она вроде бы относилась к малышу, заглядывала к нему в кроватку, улыбалась ему, но инициативу в оказании помощи не проявляла, хоть никогда не отказывала мне.
    Господи, как я переживала! Сначала я укоризненно смотрела на свою дочь, но та делала вид, что не замечает моего взгляда. Позже я просила её не шуметь, пока укладываю малыша спать. Потом я пыталась приказать и наказать её. Но я понимала своё бессилие. У меня стало пропадать молоко. Ночью, когда все спали, я, обращаясь к Богу, просила: «Подскажи, подтолкни, вразуми, наведи на мысль верную, на решение правильное…»
    К утру я осознала, что старшая дочь ревнует меня к малышу. И я дала себе слово перетерпеть это чувство страха за малыша и внешне казаться равнодушной к происходящему. Не получив ответной реакции после очередной проигранной пластинки, дочь потеряла интерес к этому процессу: уже на следующий день Лена стала включать проигрыватель только во время бодрствования малыша, заглядывала к нему в кроватку, спрашивала его с улыбкой:
    — Тебе нравится? — а он просто агукал.
    Однажды в середине <time datetime="1980-03">марта</time>, придя из школы раньше Ани, Лена застала меня с ревущим малышом на руках. Опухшая десна, попытка сунуть в рот всё что угодно и пожевать, текущая слюна изо рта — всё говорило о первом режущемся зубе. Сынишка с утра не мог угомониться. Дочь сочувственно взглянула на меня и сказала:
    — Знаю, чего ему не хватает. Положи его в кроватку, и всё будет хорошо. Вот увидишь, он сейчас заснёт.
    Её голос звучал тепло и спокойно, и я подчинилась. Аленка поставила свою любимую пластинку, а малыш заулыбался, закрутил головкой, как бы улавливая, откуда струится мелодия, и неожиданно заснул с удивительно трогательной улыбкой на симпатичной физиономии.
    Я смотрела на малыша и удивлялась, а Лена подошла ко мне, положила мне на плечо руку и сказала, улыбаясь:
    — Ведь он привык, ему, как и мне, нравится музыка.
    Мы обнялись с дочерью, наблюдая за безмятежным сном малыша, который помирил нас.
    Позднее всё, что он делал в жизни, — выполнение домашних заданий в школе и колледже, занятия в институте, — происходило в музыкальном сопровождении. Что немало удивляло окружающих.
    Вот уж воистину — впитал с молоком матери. Дети любят тот мир, в котором они появились.
  {% endfilter %}
{% endblock %}
