{% extends template %}

{% set title = "К тёте на блины" %}
{% set titleDescr = "1952 год" %}
{% set workdate = "16.01.2018" %}
{% set pubdate = "10.03.2018" %}

{% block content %}
  {% filter prose %}
    В начале пятидесятых появились телевизоры КВН. Около экрана такого телевизора стояла большая круглая линза, которая, прилегая к экрану, давала возможность видеть изображение.
    И в семье тёти Гути (маминой сестры) появился такой телевизор. У них в семье был только один сын, ровесник нашей младшей сестрёнки. А нас четверо, и между нами у всех разница в три года.
    И вот в ранний воскресный день 1952 года мы дружно собирались, спускались с пятого этажа и, взявшись за руки, переходили Железноводскую улицу и шли вдоль трамвайной линии в сторону Смоленского кладбища. Наши младшие, сестрёнка и братишка, были в серединке, а мы со старшей сестрёнкой — по краям.
    Около нашего дома, если переходить с угла проспекта КИМа, была школа № 29 (сейчас — интернат № 2) и трамвайное кольцо маршрутов 4 и 6. А шагая вдоль трамвайной линии, мы попадали на Камскую улицу, где жила тётя Гутя.
    Она встречала нас приветливо, усаживала напротив экрана, и мы смотрели детскую передачу. Мы знали, что в это время тётя Гутя на кухне печёт блины. А потом перед каждым из нас появлялись тарелочка с блинами и сладкий чаёк.
    Нарадовавшись всему, благодарили её и так же, взявшись за руки, шагали домой.
    Конечно, тогда ещё не было мобильных телефонов. И даже стационарные в квартирах были редким явлением. Вряд ли сегодня можно выпустить ребятишек в таком количестве, на такое расстояние, на такое длительное время и с таким послушанием.
  {% endfilter %}
{% endblock %}
