{% extends template %}

{% set title = "В память о моих родителях" %}
{% set titleDescr = "1932 — 1937 гг." %}
{% set workdate = "02.12.2015" %}
{% set pubdate = "05.11.2017" %}
{% set prev = "lidija_seljagina/dates" %}
{% set prevTitle = "К альтернативному перечню рассказов автора" %}

{% block content %}
  {% filter prose("short") %}
    Когда я открываю сундучок своих воспоминаний, то из него, расталкивая друг друга, выпрыгивают, как маленькие гномики, мои маленькие рассказы, выстраиваются в очередь и умоляют меня побыстрее записать их.
  {% endfilter %}

  {% filter ins %}
    {% filter poem %}
      На дне души у каждого, дружок,
      Беда лежит, что тронуть невозможно.
      В душе у нас есть тайный сундучок —
      Туда мы горечь прячем осторожно.
      Ах, потерять бы ключ от сундучка…
      Но так бывает лишь у дурачка.
    {% endfilter %}
  {% endfilter %}

  {% filter prose("short") %}
    В этой жизни надо уметь принять не только победу, но и поражение. И осознав его, жить дальше, не боясь завтрашнего дня. Мир не так уж страшен, если сам ты не потеряешь свет в своей душе.
  {% endfilter %}

  {% filter prose %}
    Мой отец — Виноградов Дмитрий Фёдорович — родился 6 ноября 1908 года в деревне Ляпино Молоковского района Тверской губернии в крестьянской семье.
    Моя мать — Виноградова (в девичестве — Лебедева) Лидия Арсентьевна родилась 17 марта 1918 года в селе Ахматово Молоковского района Тверской губернии в семье середняка Лебедева Арсения Степановича, 1883 года рождения, уроженца того же местечка, до начала репрессий.
    По наговору дед был выслан в Сибирь в период раскулачивания, в 1932 году, как кулак. О нём была написана небольшая, но яркая книга. Автор — женщина, которая писала о нём как о человеке, который спас людей, выброшенных из поезда в сибирском лесу. Книгу привезли, дали почитать родственникам и увезли: в те времена людьми руководило чувство самосохранения.
    А он как настоящий русский мужик умел строить дома без единого гвоздя. Уезжая в ссылку, он сумел взять с собой чемоданчик с необходимым инструментом. Люди, попавшие в суровые условия, были от души благодарны этому 49-летнему человеку, с помощью которого они смогли завалить лес и построить себе убежище без единого гвоздя.
    Позже с помощью людей ему удалось бежать, и он оказался в посёлке Калининского Легпромстроя, где работал возчиком. Но через какое-то время Арсений Степанович был узнан жителем своей деревни и по его доносу 2 сентября 1937 года арестован (Постановление Калининского областного комитета труда). 27 сентября 1937 года тройкой УНКВД Калининской области был вынесен приговор: расстрелять. 1 октября 1937 года приговор приведён в исполнение.
    Арсению Степановичу было всего 54 года… 14 июля 1967 года его посмертно реабилитировали, о чём записано в Книге Памяти по Калининской области.
    Из Лебедевых пострадал не только наш дед: были и священники, которым пришлось сложить голову свою за святую веру, о чём отмечено в Книге Памяти. Все эти люди отличались честностью и трудолюбием. Дед моей матери был купцом 2-й гильдии.
    В 1932 году, на момент раскулачивания отца, нашей маме было всего 14 лет. Были у неё и сёстры, и брат — и младше её, и старше. Самой младшей было около годика.
    Наш дедок действительно не был кулаком, так как никогда не использовал наёмную силу. А достаток в семье был только за счёт своего бесконечного труда и труда взрослеющих детей. Как у любого работящего русского крестьянина, в хозяйстве были и корова, и лошадь, и куры. А также поставленная им самим без единого гвоздя изба.
    Он очень серьёзно относился к воспитанию своих детей. Мама была способным ребёнком: быстро читала, легко считала, была ответственна за порученные ей дела. Но ей пришлось закончить только 4 класса, потому что в семье было много детей и работы. С 9 лет она пошла в няньки.
    Ей на всю жизнь запомнились советы отца, который был с детьми спокоен, но требователен. Она помнит, как под его контролем научилась легко и быстро растапливать печи. Он говорил дочери: «Ну вот и ладно, это хорошо, что ты делаешь это ловко. Кто знает, как сложатся ваши судьбы. Ведь любые навыки могут неожиданно пригодиться в этой жизни и разрешат вам быть независимыми, то есть самостоятельными». Кто бы знал, что его размышления сбудутся, да ещё как!
    А мать, то есть моя бабушка, научила её шить, да не просто так, а с изюминкой. Наша мама и потом, уже в нашей семье, обшивала нас всех.
    Отца отправили в Сибирь.
    Всю семью без кормильца выгнали из дома, а жителей деревни предупредили, что если кто-то будет замечен в оказании помощи этой семье, то будет так же объявлен врагом народа. В их доме организовали школу.
    Жители села пошли вразрез с советами организаторов задержания и прятали детей и мать, разделив их по соседям. Общение с ними было только по ночам.
    И надо же было тому случиться, что директор школы тайно взял нашу маму на работу в ночную смену. Она топила печи в своём родном доме и согревала в чернильницах замёрзшие чернила для учеников.
    И каждой ночью, занимаясь знакомым ей делом, она всегда вспоминала советы отца, его рассуждения о том, что человеку очень важно научиться любому ремеслу.
    А наша бабушка, Лебедева Анна Семеновна, 1881 года рождения, захоронена на Смоленском кладбище в Ленинграде в январе 1942 года, во время блокады, а в феврале 1942 года здесь же захоронена одна из её дочерей — Лебедева Нина Арсентьевна, 1911 года рождения.
    Позже один из руководителей сельсовета захочет направить нашу будущую маму на лесоповал, но пожилой бухгалтер поможет ей советом, как показать свою уверенность в том, что несовершеннолетних направлять на лесоповал <b>запрещено законом</b>.
    А наш будущий отец уже отслужил в армии в Новороссийске и работал в Ленинграде на военном заводе фрезеровщиком, окончив в вечерней школе десять классов. В Ленинграде он жил на Васильевском, в доме 29 по 6-й линии, в комнате коммунальной квартиры вместе со своим братом. А на время отпуска обязательно уезжал в свою деревню Ляпино, чтобы навестить своих родителей и помочь им по хозяйству.
    Деревня Ляпино от села Ахматово находилась на расстоянии 4-х километров. В этом селе уже был неплохой клуб-изба. Там они и познакомились. Сначала он всё узнал о своей будущей жене, а позже, когда ей исполнилось 18 лет (1936 год), они поженились, и отец увёз её в Ленинград.
    Его брат пошёл работать сантехником, а его жена — дворником, и им дали квартиру на Мытнинской улице, но в полуподвальном помещении. Позже тётя Таня работала телефонисткой. Эту семью я запомнила чистоплотной и хлебосольной: здесь всегда были соленья и варенья, так как никогда не забывали свою деревню, своих родителей и родные леса.
    А мама пошла на тот завод, где работал и отец.
    Вот таким образом и создавалась наша семья.
    10 июня 1938 года у них появилась первая доченька, а 24 августа 1941 года появилась и я.
    С той поры прошло много лет, и сегодня мы можем открыть сайт села Ахматово Молоковского района Тверской области — и на экране появится церквушка, которая была ещё в те времена, а напротив, с угла, — наш родительский дом.
    Вот как бывает.
  {% endfilter %}
{% endblock %}
