{% extends template %}

{% set title = "Бог знает, что делает" %}
{% set workdate = "03.12.2003" %}
{% set pubdate = "10.03.2008" %}
{% set titleDescr = "2003 год" %}

{% block content %}
  {% filter ins %}
    {% filter poem %}
      У каждого — своё предназначенье.
      И мир нам переделать не дано.
      Но мы идём на встречное теченье…
      И крутится жестокое кино.
    {% endfilter %}
  {% endfilter %}

  {% filter prose %}
    Ощущение растворённости в этом мире, необузданной, неукротимой, безграничной свободы, состояние человека, парящего в облаках над Вселенной — вот что чувствует в первый раз влюблённый человек. Весь воздух наполнен музыкой благодати, и если это — одновременно и взаимно вспыхнувшая искра, то память об этом трогательном состоянии помогает нам, очень помогает жить в будущем.
    Как бы ни менялась психология человека и вся цивилизация в целом, что бы ни говорили о молодёжи, я знаю, что любого человека на Земле коснулось это чувство, чувство первозданности, чувство парящего в облаках над Вселенной, истинно верящего в искренность, не воспринимающего ложь, не замечающего предательства.
    Господи, как беззащитен в этот момент любой из нас! И как велик грех того, кто, видя это чувство у идущего ему навстречу, посмеётся над ним! Как велик грех того, кто, заметив одновременно вспыхнувшую искру двоих, сделает всё так, чтобы разъединить людей, так до конца жизни своей и не получивших ответ на вопрос: почему? Почему так случилось?
    Но в юности мы ещё так горячи, что не воспринимаем фразу верующего человека: «Бог знает, что делает». Мы полны эмоций, и наше недопонимание и неполучение любого ответа, положительного или отрицательного, рождает в нас комплекс неуверенности, неполноценности или наполняет нас обидой. Всё это являет на свет чувство растерянности, зависти и даже злобы. И как долог и болезнен путь к пониманию истины, к мудрому выводу: «Бог знает, что делает».
    Поэтому чем ближе молодое поколение к своим дедам, к их почему-то уже холодному рассудку, тем понятнее, объективнее, осознаннее и менее ранимо или трагично будет оно встречать земные потери. Но похоже, что молодость никогда не захочет заменить свой горячий пыл на холодный разум, именуемый мудростью.
    И потому у каждого на Земле — свой путь, путь проб и ошибок. А ведь ещё так важно, чтобы каждый из нас, кроме жажды удержать обоюдно загоревшуюся искру счастья, имел бы свой тыл для самореализации, открыл бы в себе то, для чего пришёл на Землю. И если бы нам удалось открыть в себе потребность заниматься тем, от чего бы душа наша пела и не ощущала себя обречённой, тогда труд наш не стал бы являться непомерным грузом, а наоборот, окрылил бы нас своими новыми открытиями, и потери личного характера не были бы для нас так тяжелы.
    Как важно найти для себя место на этой земле и, трудясь, ощутить себя парящим в облаках над Вселенной и, упиваясь делом своим, не замечать, как листки, слетающие с календаря, приведут нас к возрасту мудрого, холодного разума! И, оглядываясь на своё прошлое, как бы фантастически-трагично не сложился наш путь, чтобы от бед, встретившихся на пути нашем, не потерять оставшийся разум и чтобы продолжить путь или начать его сначала, мы согласимся с мудрой мыслью, осознавая её истинно глубокое значение: «Бог знает, что делает».
    Это повествование может явиться прологом к любой истории о потере звучания музыки и неожиданном отсутствии вольного ветра в душе.
  {% endfilter %}
{% endblock %}
