{% extends template %}

{% set title = "Рыбалка" %}
{% set pubdate = "05.11.2017" %}
{% set titleDescr = "Лето 1971 года" %}

{% block content %}
  {% filter prose %}
    Лето <time>1971</time> года. Алёнке уже шесть с половиной лет, а Анюте — четыре годика.
    Бабушка Аня из Подмосковья часто писала нам письма, я всегда отвечала ей. А девочки оставляли на бумаге свои ладошки, которые я обводила карандашом.
    В то лето бабуля ждала нас в гости. В каждом письме она напоминала нам о скорой встрече. А нам не привыкать, собрали чемодан — и вперёд.
    Я дала брату мужа Коле телеграмму, чтобы встретил нас в Москве и довёз до Николо-Урюпино на такси. Как и в <a href="/lidija_seljagina/bio-33.html" title="Читайте рассказ «Наше первое путешествие»">прошлый раз</a>, Коля донёс наши чемоданы и пакетики и оставил нас на веранде, а сам той же машиной уехал на работу.
    В этот раз кроме одёжки мы захватили с собой карандаши, краски, бумагу, резинки, книги.
    Опять в моей жизни завертелось всё тем же порядком. Бабуля на работе, а я с девочками, живём себе как умеем. Иногда мне удавалось укладывать их спать прямо на улице, на раскладушках. Я предлагала им заглядываться на небо, наблюдать, как проплывают облака, отражая причудливые формы людей и животных, а то и необычные картины их действий. Иногда небо закрывали такие большие чёрные тучи, что в ожидании сильного дождя или грозы мы прятались на веранде.
    В выходные дни к бабуле приезжали младший сын Коля, младшая сестра бабули Лена (намного младше), её муж Володя и их дочь Людочка.
    Мужчины почти всегда уходили на рыбалку и возвращались поздно. Чистили рыбу на улице, не привлекая детей. Однажды они собрались на рыбалку раньше обычного. Алёнка попросилась с ними. Коля спросил у меня согласия и сказал, что сегодня они уйдут ненадолго. И я разрешила ей это маленькое путешествие.
    Взрослые вернулись со странными лицами, а Алёнка буквально бежала за ними и что-то приговаривала сквозь слёзы. Поравнявшись со мной, она уткнулась в меня и плача просила лишь об одном — чтобы дяди отпустили рыбок:
    — Ведь живые, а их сейчас убьют.
    Дядя Коля присел около Алёнки и сказал, что они с дядей Володей так и сделают: отнесут их обратно в речку.
    — А вы сейчас вместе с Анютой и Людочкой идите спать, а мама перед сном расскажет вам какую-нибудь интересную историю.
    Коля погладил её по головке, а я утвердительно кивнула головой, обнимая её за плечики:
    — Конечно, Алёнушка, всё будет хорошо. Успокойся.
    Вот так еле успокоили неожиданно открывшуюся тонкую душу ребёнка.
    Маленький человек создан так, чтобы стараться помочь обиженным или жалеть их. Я думаю, что чувство сопереживания в ребёнке — одно из нужных качеств будущего взрослого человека. Не быть же <i>роботом</i>, наблюдая за несправедливостью, когда прав сильный. Это удаётся только тогда, когда в семье часто говорят о том, что маленьких и беззащитных надо защищать.
    Здесь, наверное, имели значение возраст и частое обращение к сказочным персонажам: Алёна очень любила сказки, а животные в сказках превращаются в одушевлённых персонажей, которые наделены мыслями, чувствами, рассудком и даже иногда логическим мышлением.
    Как трудно оградить душу ребёнка! Как вырастить справедливого, но не слабого душой человека в этой жизни? Как не озлобить его? Как важно задумываться нам, взрослым, сегодня, чтобы завтра наши дети оказались не опасными для нас, а всегда оставались с нами духовно близкими!..
  {% endfilter %}

  {% filter prose("short") %}
    Так прошли почти полтора месяца, мой отпуск заканчивался. Мне было жалко оставлять бабулю одну. Но, такова жизнь.
    Впоследствии мы с девочками всегда звали её пожить у нас. И она не раз приезжала к нам зимой, в свой отпуск.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2012">2012</time>
{% endblock %}
