{% extends template %}

{% set title = "Где ты, Данка?" %}
{% set workdate = "11.01.2016" %}
{% set pubdate = "05.11.2017" %}
{% set titleDescr = "2001 — 2012 гг." %}

{% block content %}
  {% filter prose %}
    Моим внучкам было по одиннадцать лет. Ещё Багира наша была жива, и ничто не предвещало беды.
    В летний солнечный день две внучки принесли щеночка, рыженького с белым, и умоляли разрешить взять его: «Ведь дяденьки, которые отдали нам собачку, хотели её утопить».
    Когда муж сказал: «Нельзя», — они сели за забором и стали хныкать. Обещали всё — и гулять, и кормить, и любить.
    И что из этого вышло? Не прошло и недели, как нашлись причины, чтобы отказаться от обещаний. Поэтому когда взрослый разрешает ребёнку оставить животное в доме — значит он разрешает это для себя.
    Конечно, когда есть земля и будка — то это уже полдела. А если в квартире — то это целая беда и для животного, и для хозяина.
    С этой собакой — Данкой — мы прожили одиннадцать лет. А в один прекрасный день мы вынуждены были покинуть этот дом. Взять её с собой было нереально, там не было и нет забора. Ещё за два года до выезда я уже не способна была носить Данке еду, потому что ходьба на костылях становилась всё болезненнее. Спасибо соседям по улице, которые кормили её.
    И ведь она больше года жила без хозяев. Две женщины продолжали носить ей еду. А соседка со своим мужем просто приварились к ней душой, и Данка отвечала им взаимностью. Но неожиданно эта молодая женщина умерла.
    Говорят, что к Данке много раз приходила женщина в чёрной куртке и в конце концов взяла её с собой. Данка шла с ней сама.
    Конечно, в далёкой деревне собака необходима, но здесь… Дай Бог, чтобы ей повезло в её последние годы с хозяином!
  {% endfilter %}
{% endblock %}
