{% extends template %}

{% set title = "Откуда питон?" %}
{% set workdate = "20.06.2003" %}
{% set pubdate = "10.03.2008" %}
{% set titleDescr = "1991 год" %}
{% set openGraphImg = "bio-58.jpg" %}
{% set openGraphImgType = "image/jpeg" %}
{% set openGraphImgWidth = 270 %}
{% set openGraphImgHeight = 400 %}
{% set openGraphImgAlt = "Лидия Селягина с питоном" %}

{% block content %}
  {% filter prose %}
    Одна из моих дочерей предложила мне и моему младшему сыну съездить в Зоопарк. Я надела свою только что сшитую юбку и уже была счастлива. Для меня это была большая победа над собой. Ведь недели три назад по медицинскому заключению я была поставлена на костыли.
    Около входа в Зоопарк наше внимание привлекли два плотных молодых человека: один — с питоном на шее, а другой — с фотоаппаратом. Подобно живой рекламе, они демонстрировали перед горожанами возможность сфотографироваться вместе с питоном.
    Вдруг дочь предложила:
    — По гороскопу ты — змея, со змеёй и сфотографируйся, легче станет.
    Сначала я отшутилась. Но, бродя с ребятами по зоопарку, время от времени мысленно возвращалась к этой идее. И уже на выходе из зоопарка я шутливо предложила дочери с сыном обмотаться питончиком и сделать снимок с названием «Дружная семейка».
    Ребята отскочили от меня:
    — Ты что!
    Тогда я, вспомнив свою неугомонную юность, с игривостью в голосе и загадочностью в глазах обратилась к хозяину питона:
    — Слушай, мужик, давай меняться!
    — Как это? Чем? — в недоумении спросил мужчина.
    — Да я тебе — костыли, а ты мне — питона на шею, на чуть-чуть. А? — доверительно, вполголоса, проговорила я.
    — Да ведь не выдержишь, рухнешь, — улыбаясь, ответили оба мужчины в один голос.
    — А вы меня к дереву прислоните, и всё получится.
    — Здорово! Давайте попробуем, — сказал один из них.
    И, взяв у меня костыли, предложил мне встать около дерева, а другой повесил мне на шею питона весом килограммов на семь-восемь. Вручил мне в руки шею и хвост змея и предупредил, чтобы я плотно сжимала их руками.
    «Боже мой, часто ли попадают питоны в наши руки?» — подумала я и с нежностью стала поглаживать нового приятеля с двух сторон.
    Питон, почувствовав мою нежность и отчаянье, принял это как знак признания в любви и стал плотно обнимать мою шею. Похоже, что из таких объятий я бы никогда не смогла освободиться самостоятельно. Но хозяин, увидев опьянённого страстью питона, бросился к нему и прижал концы его тела. Питон обмяк, и радость общения прекратилась.
    — Я же предупреждал, предупреждал, — взволнованно повторял хозяин.
    — Да что вы, успокойтесь, этой женщине именно сейчас этого и не хватало, — ответила я. — Вот теперь в моей жизни всё встанет на своё место. Давайте щёлкайте своим фотоаппаратом, пока ваш питон не понял, что видимся мы с ним в последний раз.
  {% endfilter %}

  {{figure(openGraphImg, openGraphImgAlt, "", openGraphImgWidth, openGraphImgHeight)}}

  {% filter prose %}
    Снимок получился замечательным. Сделан он был второго августа, и по просьбе дочери перед моим днём рождения по почте пришла фотография. Так я встретила свое пятидесятилетие и поняла, чем я буду заниматься в этой жизни.
    Получив свободное время от каждодневной трудовой деятельности, я подняла на поверхность сложенные по дороге моей жизни стихи и песни, рассказы и другие повествования, и увереннее стала держать перо моя рука.
  {% endfilter %}
{% endblock %}
