{% extends template %}

{% set title = "Знакомство с жизнью вне школы" %}
{% set workdate = "18.12.2015" %}
{% set pubdate = "05.11.2017" %}
{% set titleDescr = "Лето 1957 года" %}

{% block content %}
  {% filter prose %}
    27 мая 1957 года была прекрасная погода, город праздновал день своего рождения.
    Мои младшие уже были в Белоострове, а я в тот день встретилась со своими одноклассниками. Прошлись вдоль залива и распрощались.
    Была ещё середина дня. Я медленно шла вдоль залива и уже повернула в сторону своего дома, когда меня окликнул молодой человек в солдатской форме.
    Он производил приятное впечатление. Сказал, что неожиданно дали увольнение, а побродить по городу не с кем. И я согласилась, ведь стояла такая замечательная погода! И мы бродили по городу до салюта. Но салют уже смотрели около залива, около его части. Вот так состоялась моё первое знакомство вне школы. Паренька звали Сашко Лобзов, он был старше меня на четыре года, а проживал в Луганской области.
    Он был мастером спорта и обладал великолепным каллиграфическим почерком (об этом я узнала позже). В этот день мы, уставшие, но довольные, сказали друг другу «спасибо», пожелали удачи и разошлись. Он знал, где меня можно будет найти, да и я знала о нём всё.
    В июне после 9-го класса у нас была практика на совхозном поле. Это тоже недалеко от школы. Мы пропалывали какие-то овощи, даже не помню какие. Но точно помню, что мы не уставали, нам просто было весело. С заданием справлялись.
    Там нас кормили обедом. Я думаю, что всем нашим ребятам запомнилась женщина, бойкая, крепко сложенная, которая кормила нас, называла себя боцманом и имела усики.
    После практики я уехала к своим в Белоостров.
    Вернулись мы в предпоследний день перед первым сентября. Я пошла в школу, чтобы записать расписание уроков. На улице ко мне подошла девочка и спросила:
    — Тётя, а сколько сейчас времени? Сколько часов?
    Я ответила ей, так как только что вышла из дома. Но сама я обалдела оттого, что меня назвали тётей. Неужели я уже взрослая? Я пришла домой и сказала своим младшим, что меня на улице уже тётей называют. А они рассмеялись.
  {% endfilter %}
{% endblock %}
