{% extends template %}

{% set title = "Первое наказание первой учительницы, или Боевое крещение" %}
{% set titleDescr = "1972 год" %}
{% set pubdate = "05.11.2017" %}

{% block heading %}
  <h1 class="art__title">Первое наказание первой учительницы</h1>
  <p class="art__title-descr">или</p>
  <p class="art__title">Боевое крещение</p>
  <p class="art__title-descr">({{titleDescr}})</p>
{% endblock %}

{% block content %}
  {% filter prose %}
    После моей встречи с учительницей прошло недели две. В этот день я торопилась домой после первой смены.
    Алёнка лежала на диване в курточке, лицо мокрое от слёз, лоб горячий.
    — Алёнушка, что с тобой? Давай померяем температуру. У меня есть клюквенный морсик, или, может, покушаешь, а? — приговаривала я, аккуратно снимая с неё курточку.
    Потом я подсела к ней поближе и прижала к себе. Алёнка уткнулась в меня и горько расплакалась. Потом затихла. Мы просто сидели рядом. И ребёнок начал рассказывать. То, что я услышала, поразило меня.
    — Мама, я сегодня опоздала в школу.
    — А что, разве не зазвенел будильник?
    — Зазвенел. Просто Аня не хотела и не могла быстро встать. Она говорила, что у неё болит голова.
    — Господи, — подумала я, — и как мне это в голову не пришло?
    — И что же было дальше? — беспокойно спросила я.
    — Я всё-таки уговорила её пойти в садик. Я очень просила её пойти со мной и объясняла, что оставаться одной дома нельзя. Мы опоздали на её завтрак. Я хотела проводить её в группу, но она разделась и спряталась в раздевалке в свой шкафчик. А я побежала в школу.
    — Ну и что же в школе? — взволнованно спросила я.
    — Подбежала к классу, постучала. Учительница разрешила мне войти, но велела поставить портфель и встать около парты, так как урок уже начался. Когда прозвенел звонок на перемену, Галина Степановна велела всем детям, кроме меня, выйти из класса и открыла окно для проветривания. И так я стояла все уроки и перемены. А в конце каждого урока она показывала на меня пальцем и говорила детям, какая я плохая, так как я опоздала, и со мной не надо дружить. Она говорила: «Дети, повторите за мной: она
    плохая», — и дети повторяли. А на перемене, проходя мимо меня, кто-то щипал, а кто-то плевал и говорил: «Плохая». Я падала и снова вставала. Уроки закончились, и учительница сказала: «А теперь можешь идти домой. Ещё раз опоздаешь — будет то же самое, а то и хуже. Да, я помню, твоя мама говорила, что ты сестрёнку в садик отводила, но это не моё дело».
    И Алёнка снова горько заплакала.
    — Мамочка, я думала, что учительница хорошая, а она плохая, — сквозь слёзы говорила дочка.
    Я была в смятении. Зачем учительница сознательно вывела ребёнка из строя? Ведь она сама набирала состав будущего класса для себя. Она сама была довольна тем, что Лена вполне знакома с программой первого класса. У ребёнка была светлая голова, прекрасная память, она читала, писала, считала. Была наделена логическим мышлением, рисовала, занималась музыкой.
    Я рассказала о том, что дочка с рождения слаба физически и поэтому я на всякий случай приобрела методички по всем предметам, именно те, по которым работает данная школа, чтобы в случае необходимости заниматься с ней дома. И заказывала я всю эту методическую литературу в двух экземплярах, чтобы один из них отдать учительнице для пользования. За что она поблагодарила меня.
    Алёнка заснула, а проснувшись, не смогла встать на правую ногу. Врач на следующий день зафиксировал тяжёлый лимфаденит при высочайшей температуре и нервный срыв.
    На большой перемене Лену навестили одноклассники, человек пятнадцать. Их направила учительница. Один из мальчиков сказал, что Галина Степановна велела Лене не прогуливать. «Господи, как хорошо, что я не пустила ребят к ней и она не слышала обидных для неё слов!» — подумала я. А детям сказала, что Лена серьёзно заболела и выйдет в школу не скоро, но я буду приходить в школу за домашним заданием. Поблагодарила их за то, что они навестили свою одноклассницу, сказала, что передам Лене от них привет и пожелание скорей поправиться. И что она будет рада. В глазах детей я видела искреннее сочувствие: они знали, что учительница была неправа.
    Алёнка сначала сильно ослабла и трудно поддавалась лечению. Мы жили на первом этаже, и когда болезнь стала отступать, я одевала её, выносила на руках в парадную на несколько минут и сидела с ней на стуле.
    Я брала домашние задания в порядке изучения, и Алёна выполняла их в отдельных тетрадях, выбирая для занятий те моменты, когда температура отступала. Так постепенно всё встало на свои места.
    В школу Алёнка вышла через два месяца. Я никому не жаловалась, и было видно, что Галина Степановна сама сожалела о случившемся.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2012">2012</time>
{% endblock %}
