{% extends template %}

{% set title = "Вчера миллион, а сегодня — шесть" %}
{% set workdate = "17.01.2018" %}
{% set pubdate = "10.03.2018" %}
{% set titleDescr = "1997 год" %}

{% block content %}
  {% filter prose %}
    Подходило к концу лето <time>1997</time> года. Год был необычный.
    Мой младший сын собирался пойти осенью в колледж, а внучка — в первый класс. Шли волнительные приготовления.
    Наша страна хоть и осталась Россией, но уже не была Советским Союзом: вместе с распадом Союза закончилось и бесплатное обучение в бывших техникумах, а сегодня – колледжах, а также в институтах и университетах. Хотя государство ещё как-то старалось помочь льготной категории граждан.
    В этот период жизни я уже была на инвалидности и передвигалась на костылях, муж — на низкооплачиваемой работе, а в связи с серьёзным заболеванием старшей дочери внучка проживала у нас почти с пяти лет.
    Сын сдал экзамены с одной четвёркой. Никто из нас ни на что не рассчитывал. Надеялись, что сумму, которая потребуется для обучения, будем как-то перезанимать и что она не будет безумно большой. Я очень хотела дать ему хотя бы среднее специальное образование, а потом уж — он сам.
    В тот вечер после программы новостей зачитали гороскоп на следующий день. Обычно я не очень обращала внимание на эту справку, но в тот вечер, именно в тот момент, я зашла в комнату и задержалась на несколько минут. И вдруг слышу, что завтра мне (деве) поступит интересное предложение. Я улыбнулась и выключила телевизор.
    Но каково же, было моё удивление, когда на следующий день мне позвонила завуч колледжа и сказала, что у неё для меня есть интересное предложение. И желательно, чтобы я на следующий день приехала с утра на личную встречу для решения возникшего вопроса.
    — Конечно, конечно, — ответила я.
    Стояло красивое тихое раннее утро. Я приехала в колледж ни свет ни заря, когда в фойе находился только вахтёр. Завуч, войдя в фойе, поприветствовала меня и предложила пройти:
    — Лидия Дмитриевна, потихоньку поднимайтесь на второй этаж в мой кабинет. У меня для Вас есть интересное предложение.
    Услышав эту фразу уже в который раз, я невольно почувствовала какие-то грядущие перемены. В кабинете завуч сразу поставила меня в известность, что для колледжа добавили три бюджетных места. Учитывая материальные условия нашей семьи и неплохие данные сына, одно из них могло быть предоставлено ему. Но для стабильного положения при дальнейшем обучении надо было внести три миллиона рублей.
    Я так и замерла. Завуч, поняв мою неуверенность, объяснила, что сумму можно внести не единовременно, а заключить дополнительный договор и выплатить за два семестра, но если я выйду из кабинета, не заключив никакого договора, то она будет вынуждена на это место определить другого кандидата: именно в тот день необходимо было сдать данные о занятых бюджетных местах.
    И я, понимая ситуацию, заключили договор о согласии выплатить три миллиона рублей, не оговаривая время выплаты. Пока ехала домой в электричке, мозг лихорадочно работал, и пришло решение. В прошлом году на день рождения мне подарили телевизор с пультом управления, учитывая мою ограниченность в движении. Он стоил три миллиона рублей.
    Деньги нужны были срочно. И, войдя в дом, я сразу же по телефону обратилась к моим друзьям. Я предложила им этот телевизор за один миллион, но чтобы его взяли сразу в течение двух часов. Да, конечно, я хотела бы продать его хотя бы за полтора миллиона, но, почувствовав мою срочность, народ не торопился к согласию.
    А при таком условии телевизор взяли за полчаса.
    Позвонила другой приятельнице и попросила у неё в долг шестьсот тысяч рублей до определённого срока. Узнав о причине, она сразу же предложила подъехать. Остальные четыреста дала вторая дочь.
    А где взять ещё один?
    И вдруг, уже во второй половине дня, звонит завуч и сообщает мне о том, что через день она уходит в отпуск. И желательно, чтобы я подъехала завтра с теми возможностями, которые есть, чтобы всё документально оформить. Конечно, если сумма найдётся полностью, то будет спокойнее всем. Ведь половину этой суммы надо будет завтра же отвезти в другой колледж, где ребята будут обучаться первый год по новой программе: за один год — двухгодичная ускоренная программа, — а со следующего года уже продолжат обучение в этом колледже.
    Я решила проехать в Сестрорецк и, выйдя из электрички, в каком-то рассеянном состоянии направилась от платформы к дому «Змею Горынычу», где жила одна из моих приятельниц.
    Вдруг меня окликнула Наталья, мама одного из школьных друзей моего сына. Она занималась сейчас торговлей на рынке, как многие люди в это непростое время.
    Таких людей называли челноками. Им постоянно приходилось ехать за границу (то есть в бывшие союзные республики), закупать товар несколько дешевле, а при доставке его в свой город — продавать немного дороже, чтоб оправдать и дорогу, и свой труд.
    — Лидия Дмитриевна, здравствуйте! Что у Вас произошло? О чём задумались?
    Вот я и поведала ей о своём кроссворде-ребусе. А она мне в ответ:
    — Для Димы обязательно помогу. Побудьте здесь, далеко не уходите. Я сейчас разменяю и принесу.
    Я и сообразить не успела, как она исчезла и, поворачивая за угол дома, помахала мне рукой.
    Наташа быстро вернулась, а я, беря у неё деньги, удивлённо произнесла:
    — Да зачем мне их разменивать, мне же их всё равно отдавать?
    — Да они же у меня в долларах были, — ответила Наташа.
    — Надо же, а я и не сообразила. Слушай, Наташа, взять-то я взяла, а какой срок отдачи?
    — Знаете, как сможете, постепенно, хоть год, хоть два. Ведь мы никуда друг от друга не денемся. Лишь бы у Димы всё было хорошо.
    Конечно, я была очень благодарна такому случаю, и на <time datetime="1998-08-17">следующий день</time> мы с сыном поехали в колледж.
    Переговорив с завучем, оставили там половину суммы. Я расписалась за сданную сумму в каком-то списке. И поехали в другой колледж, где, отдав вторую половину суммы, я так же расписалась в предложенном списке.
    Принимая эти деньги, пожилая сотрудница заметила:
    — Что же Вы на костылях — такую дорогу? Сын и сам бы привёз.
    — Да что Вы, — ответила я, — это всем миром собранная сумма. Не дай Бог что-нибудь не так.
    А когда мы с лёгкостью на душе вернулись домой, то я узнала, что из-за инфляции вчерашний миллион превратился в шесть.
    Некоторые из моих подруг предлагали мне вернуть по номиналу: я же брала нашими купюрами. Но я решила, что жизнь непредсказуема. У нас растут сыновья. Лучше рассчитаемся сами, чтобы не оставить причины для их раздора.
    Наташа не торопила меня, а я постепенно выплатила всё, сдавая комнату на втором этаже нашего дома тоже не очень богатому человеку.
  {% endfilter %}

  {% filter prose %}
    Прошло много лет, но Наташа, встречая меня, всегда напоминала мне о том, что если мне будет что-то необходимо, то она обязательно придёт на помощь.
    Сын, окончив колледж, пошёл работать по профессии и самостоятельно получил высшее образование.
    И всё же, несмотря ни на какие превратности судьбы, в то непростое время стояли отчаянно красивые дни, так похожие один на другой!
  {% endfilter %}
{% endblock %}
