{% extends template %}

{% set title = "Анютины лягушата" %}
{% set pubdate = "05.11.2017" %}
{% set titleDescr = "1970 год" %}

{% block content %}
  {% filter prose %}
    Летом <time>1970</time> в выходные дни мы с дочками обязательно уходили в лесочек. Сначала, чтобы сэкономить силы, в Сестрорецке садились в автобус и ехали до 40-го или 41-го километра, а возвращаясь обратно пешком, сначала сворачивали немного в лесок и шли вдоль дороги. Собирали мы не только ягоды и грибы, но и замысловатые маленькие коряги, интересные ветки. Угадывали названия растений. У небольшой лужицы рассматривали лягушат — вприсядку или лёжа на пузике. Распевали нехитрые песенки. А осенью собирали шишечки от чёрной ольхи, жёлуди, каштаны, шишки от ёлок и сосен, и в дождливую погоду дома делали поделки.
    Приготовив тесто из одного килограмма муки и одного килограмма соли, лепили человечков, животных, домики, фрукты, овощи — всё, что позволяла фантазия. Потом изделия долго сушили на солнце, если позволяло время года, или около открытой духовки, покрывали желаемой краской, а высушив изделие, покрывали бесцветным лаком, ещё раз сушили — и получали хорошо сохраняемую вещицу.
    Собирали листочки, а то и небольшие веточки деревьев и кустарников, и создавали гербарий, подписывая, какому дереву или кустарнику принадлежат эти веточки или листочки. Угадывали названия того или иного цветка.
    В то лето Анютке было 3 годика, а Алёнке — 5 лет и 6 месяцев.
  {% endfilter %}

  {% filter prose %}
    Был очередной выходной, и после тихого часа мы пошли в Белоостров. Сначала мы доезжали автобусом до 39-го километра, потом шли по <a href="/lidija_seljagina/resorts.html#bridge">висячему мостику</a> через реку Сестру. Для меня это было очень непросто. Девочки давали мне ручки, становясь серьёзными, и мы тихо переходили через мостик. Шагнув на берег, мы немного отходили от воды и усаживались на подброшенное мною одеялко, чтобы тихо посидеть и посмотреть на воду, поговорить о том, кто в ней живёт, и не только о рыбах, но и о раках, которые прячутся под большими валунами, и о жучках-плавунцах, и о водомерках, что как будто скачут по поверхности воды.
    Мы замечали красивых бабочек, которые усаживались на яркие цветы, а также толстых шмелей и пчёл.
    Потом мы угощались бутербродами, компотом и, отдохнувшие, вставали и шли по тропинке в садоводство, а из него прямо по этой же незаасфальтированной, но хорошо утрамбованной дороге выходили на её естественное продолжение — Сестрорецкое шоссе, на котором в доме № 14 жили бабушка, дедушка, дяди и тёти моих девочек.
    Проходя по садоводству, мы встречали козочек, привязанных для прогулки, около которых можно было посидеть на корточках, попробовать поговорить на их языке. Смотрели на больших коров и их теляток или, остановившись около невысокого редкого забора, наблюдали за хвастуном петухом, который, взлетев на невысокий садовый столик, лавочку или забор и громко захлопав крыльями, во всё горло праздновал свою победу.
    Побыв немного в гостях, чтоб не отвлекать взрослых от дел, мы решили поехать домой автобусом, благо остановка рядом. Когда мы уже были около автобусной остановки, где можно скрыться от солнца, из Сестрорецка пришёл автобус, высадил людей и пошёл на кольцо, чтобы развернуться и захватить нас в Сестрорецк.
    Анютка в трусиках, футболочке и лёгкой панамочке присела в сторонке на корточки и что-то рассматривала в траве. Я окликнула её:
    — Анюта, автобус сейчас вернётся, иди скорее!
    — Сейсяс, сейсяс, — произнесла она и как-то быстро замахала ручонками, как будто поправляла футболочку.
    Автобус вернулся и открыл для нас двери. Анютка быстро прошмыгнула перед нами и устроилась на первое сиденье, а мы с Алёной — на второе, за ней. Я обратила внимание, что перед закрытием двери автобуса с нижней ступеньки соскочила лягушка. Анюта завопила:
    — Мама, лягуська убезала… Ма-ма! лягуська!
    Пассажиры удивились, закрутили головами. Я присела около Анюты и сказала ей тихо:
    — Мама-лягушка боится ездить в автобусе. Она поскакала искать своих деток».
    — И неть, и неть, они десь! — и она оттопырила футболочку у шеи…
    — Боже мой, мама-лягушка сама прискачет за ними к нам в Сестрорецк. Мы их выпустим в травку около нашего окна, у нас же первый этаж, — уговаривала я Анюту.
    Когда вошли в комнату, мы с Алёнкой замерли. Анютка приподняла футболочку, и с её животика стали соскакивать лягушата…
    Мы аккуратно посадили всех лягушат в банку, потом полили травку около окна водой и выпустили бедняг на свободу.
    Анюта любила животных, птиц, бабочек и вообще всё живое.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2012">2012</time>
{% endblock %}
