{% extends template %}

{% set title = "«Хоёсенькие девоськи»" %}
{% set pubdate = "05.11.2017" %}
{% set titleDescr = "Ноябрь 1968 года" %}

{% block content %}
  {% filter prose("short") %}
    <time datetime="1968-11-06">6 ноября 1968 года</time>, в предпраздничный тогда ещё день, я (муж ещё был в командировке), приведя девочек домой из садика и яселек, вспомнила о том, что в праздничные дни все специализированные магазины (овощной, молочный и прочие) будут закрыты.
  {% endfilter %}

  {% filter ins %}
    {% filter prose %}
      Праздник 7 ноября уже давно утратил своё политическое значение, а раньше это был народный праздник, отражение советского образа жизни. К нему готовились все художественные и спортивные коллективы, демонстрация акробатических этюдов поражала своими возможностями, в каждой колонне кроме транспарантов и лозунгов, которые призывали к миру на всей Земле, обязательно были аккордеонисты, а народ под аккомпанемент аккордеона или баяна пел полюбившиеся лирические песни военных лет — и авторские, и народные. Это был светлый день дружбы.
      На демонстрации никто никого не загонял, за это не платили дополнительных денег. Пойти на демонстрацию было престижно, у каждого учреждения: завода, фабрики, школы или вуза — были свои эмблемы и знамёна. Знаменосец был уважаемым человеком. А общепризнанной эмблемой Мира на Земле была птица — голубь.
      Вечером на площадях большого города зажигались огни, выступали ансамбли песни и пляски, народ танцевал под духовой оркестр, звуки которого, слегка сдержанные и даже интеллигентные, уже издалека будили какую-то неизведанную тайну моей души, а затем слияние звуков всего оркестра захватывало меня в вихрь вальса… Я обожаю в вальсе этот кульминационный момент, растворяюсь в гармонии этих ощущений. Тогда ещё в наши головы не приходило желание нажраться до поросячьего визга, оказавшись незащищённым и осмеянным.
      Слава Богу, ещё сохранились звуки нашей священной гармони. Даже сегодня на первом канала телевидения по утрам звучит передача «Играй, гармонь» — как светлая память о Геннадии Заволокине. Ещё обожаю слушать сердечную гитару и весёлую балалайку, широкое звучание домры и материнский тембр виолончели, рыдания скрипочки и душевные звуки пастушьей дудочки, под которые воображение рисует бескрайние поля с цветами, реки, озёра и пруды со склонившимися над ними ивами. Раньше каждый, кто соприкасался с природой, даже ребёнок, мог смастерить себе дудочку из дудника и, поиграв на ней, поставить в какой-либо сосуд с водой, чтобы можно было ещё и ещё раз насладиться этими звуками — простыми, незамысловатыми, но родными.
      Сразу приходит на память детская песенка:
    {% endfilter %}
  {% endfilter %}

  {% filter ins %}
    {% filter poem %}
      Дудочку-погудочку смастерил я сам.
      Подражает дудочка разным голосам.
      Хочешь, я тебе сыграю песню ветерка?
      Хочешь, я тебе сыграю, как поёт река?
    {% endfilter %}
  {% endfilter %}

  {% filter prose %}
    Я напоила девочек компотом, проверила, чтобы в комнате не было игрушек с острыми углами, и сказала, что быстро схожу принесу молочка, сливочек и сырков. Девочки ответили, что всё будет «хо-ё-сё», и я побежала.
    Всё это путешествие заняло не больше двадцати минут. Когда я прибежала обратно, то не поверила своим глазам…
    Весь пол большой комнаты был усыпан крупами, сахарным песком, солью, мукой — всеми моими запасами из хозяйственного стола и шкафа-пенала. Я в замешательстве, в одежде и с авоськами, прислонилась к стенке и сползла по ней на пол.
    Да, я понимала, что они маленькие: Анютке — 1 год и 4 месяца, а Алёнке — 3 года и 10 месяцев, конечно, не отшлёпаешь, но также осознавала, что всё это, рассыпанное по всему полу, — не соберёшь. В кармане ещё оставались какие-то деньги, и я поняла, что в магазин придётся бежать ещё раз.
    Из глаз моих невольно потекли слёзы. Доченьки замерли, увидев меня на полу, подбежали ко мне, попытались меня поднять и взволнованно сказали:
    — Мамоцка, ма-ма, пости, мы хотели свалить касу лялям. Мамоцька, не паць…
    Сидя на полу, я обняла их и тихо сказала:
    — Что же вы наделали… Нам теперь и самим не из чего сварить кашу.
    Они погрустнели и присмирели. Я понимала, что времени до закрытия магазина остаётся немного, а крупу уже не спасёшь.
    Я тихонько встала и сказала им, что они поступили плохо и за это придётся им постоять в углу. Постоять — это условно, так как в двух углах комнаты стояло по стулу. Я уже давно поняла, что устоять на одном месте дети физически не могут даже десяти минут, и кричать на них бесполезно, потому что они боятся крика и перестают понимать, о чём это и за что.
    Девочки с понурыми головами пошли к своим стульчикам и тихонько сели.
    А я быстро принесла ведро и, заметая на совок лихо перемешанные крупы, соль и песок, сверху щедро засыпанные мукой, сложила в него все наши стратегические запасы.
    — Ну а теперь вы поняли, что у нас не из чего сварить ни кашу, ни супчик?
    — Да, — тихо ответили девочки.
    — Ладно, выходите из углов и усаживайте своих кукол за их столики. А мне сейчас опять придётся сбегать в магазин, а то его сейчас закроют.
    — Хоёсё, мамоцка, мы будем хоёсими девоськами.
    А что делать… и я на свой страх и риск полетела в магазин. Прибегаю обратно, открываю дверь и вижу своих «хоёсеньких девосек» с сосредоточенными лицами на концертном рояле. Он стоял около книжного шкафа.
    Алёнка тянулась к столетнику, который я специально поставила на книжный шкаф, чтоб его не достали девочки, потому что он колючий. А Анютка сидела на рояле на корточках и уже крепко держала два самых жирных листа от столетника.
    — Господи, а сейчас-то вы что делаете? — спросила я, ставя сумки и снимая пальтишко.
    — А мы хотели его потлогать, — тихо и очень серьёзно ответила Анюта.
    — Да как же вы забирались? А слезать-то как будете?
    Я сняла их с рояля, приговаривая: «Вот тебе и хоёсенькие».
    А девчонки, понурив головы, сами побрели по своим углам к стульчикам, сели и заревели:
    — Пости нас, мамоцка, мы босе не будем.
    Я сняла бедный столетник-алоэ со шкафа, села на диван, поставила цветок себе на колени и попросила девочек подойти ко мне и сесть рядышком. Я аккуратно освободила два толстых листочка из крепко зажатого от волнения Анютиного кулачка. Рассказала девочкам, как один толстый листик этого растения может лечить и человека, и животных.
    — Если снять с толстого листочка кожицу, а оставшееся опустить в бокал и добавить туда мёда, то этим составом можно заживлять ранки. Теперь давайте поставим столетник на его постоянное место, — и я поставила цветок на подоконник. — Ну, теперь вы не будете его обижать?
    — Нет, не будем, — ответила Алёнка,— только он хочет пить, — и потянулась за леечкой.
    — Нет, его нельзя много поить, он погибнет. Земельку можно проверить пальчиком. Если земелька влажная, значит она чёрная, и поливать нельзя.  А потом пальчик надо обязательно помыть под краном водичкой, а лучше вымыть сразу обе ручки с вашим мылом. Поняли?
    — Да. Мама, мы будем у тебя спласывать. Договолились? — с трудом проговорила Анютка, а Алёнка кивала головой.
    А потом я рассказывала им о рояле. Открыла большую крышку и показала, где находятся такие крючочки, которые как бы дёргают за клавишу, на которую мы нажимаем, и появляется звук.
    — Вы видите, здесь живут звуки. А вы вдвоём забрались сюда. А если бы крышка не выдержала и лопнула, вы бы провалились, и крышка зажала бы ваши ножки. Вам было бы очень больно. А я бы вызывала специальных дядей-мастеров, чтобы они освободили ваши ножки. А рояль бы сломался навсегда, потому что у нас нету денежек на его ремонт.
    Девочки притихли.
    — Мамоцка, а мозно поигать? — с трудом выговорила Анюта.
    — Только аккуратнее. Что-нибудь медленное. Ведь уже пора в ванную, да и спать.
    Девочки потихоньку попробовали звуки рояля. Я закрыла инструмент.
    — Мы больсе не будем на него забияться.
    — Вот обманывать нельзя. Вы мне уже говорили, что будете хорошими девочками, и что из этого вышло?
    — Нет, не будем. Плости нас, позалуста.
    — Ну ладно, может, и правда всё будет хорошо. А теперь пойдёмте на кухню, поужинаем. Потом уложите своих кукол спать, расскажите им что-нибудь.
    — Да, да, мы рассказем, что нельзя забияться на лояль, а то ножкам больно будеть, — с трудом выговорила Анюта…
    — А потом мы пойдём в ванную и спать в свои кроватки.
    — А сказку? — наперебой зашумели девочки.
    — Конечно. Конечно, расскажу или сказку, или какую-нибудь историю.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2012">2012</time>
{% endblock %}
