{% extends template %}

{% set title = "Мой первый партнёр" %}
{% set titleDescr = "1952 — 1953 гг." %}
{% set workdate = "15.12.2015" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter prose %}
    Итак, я уже учусь в 5-м классе, начальная школа закончилась. Наверное, с этим закончилось и наше школьное детство.
    Нам было спокойно, у нас была одна учительница — Валентина Ивановна, и мы всегда могли у неё всё узнать, она преподавала нам все предметы, рассказывала много интересного.
    В средней школе каждый предмет преподавали разные учителя. Когда проходил урок физкультуры, нам, освобождённым от неё, разрешено было находиться в закреплённом за нами классе. Мы сидели за партами и непринуждённо толковали о чём-нибудь.
    В тот день мы стали вспоминать понравившиеся нам песни. Помню, встала Тамара Чернова и исполнила нам партизанскую песню, которую любил её папа. У неё это получилось трогательно. И я запомнила её:
  {% endfilter %}

  {% filter ins %}
    {% filter poem("quote") %}
      Нас было только семеро — и больше ни души.
      Мы пробирались плавнями, шумели камыши.

      Партизаны, не забудем никогда
      Азовское море, военные года.

      Своих детей оставили, не скоро встретим их.
      Руками неумелыми баюкали чужих.

      А партизаны, не забудем никогда
      Азовское море, военные года…
    {% endfilter %}
  {% endfilter %}

  {% filter prose("short") %}
    Другие девочки тоже пели, но мне запомнилась именно эта. Я просто представила эту картину, и она врезалась в мою память. И я тоже напевала девочкам песни, по их просьбе могла заговорить мужским голосом. Могла взять высокую ноту и пропела небольшой отрывок из оперетты:
  {% endfilter %}

  {% filter ins %}
    {% filter poem("quote") %}
      С подружками по ягоды ходить,
      На оклик их весёлый отзываться.
      Круги водить, за Лелем повторять…
    {% endfilter %}
  {% endfilter %}

  {% filter prose %}
    Девочки рассказали об этом нашей классной воспитательнице, а она на следующий, свободный для нас, урок предложила прийти к нам такой замечательной женщине — Варваре Михайловне.
    Она послушала нас всех, а мне предложила исполнить любую русскую народную песню. Помню, что я исполнила:
  {% endfilter %}

  {% filter ins %}
    {% filter poem("quote") %}
      В низенькой светёлке огонёк горит.
      Молодая пряха у окна сидит.
      Молода, красива, карие глаза,
      По плечам развита русая коса.
      Русая головка, думы без конца…
      Ты о чём мечтаешь, девица-краса?
    {% endfilter %}
  {% endfilter %}

  {% filter prose %}
    Варвара Михайловна взяла меня в художественную самодеятельность. И это было здорово!
    Где бы мы разучивали столько песен? Я помню многие и сейчас. Например:
  {% endfilter %}

  {% filter ins %}
    {% filter poem("quote") %}
      Вышла мадьярка на берег Дуная,
      Бросила в воду цветок.
      Утренней Венгрии дар принимая,
      Дальше понёсся поток.

      Этот цветок увидали словаки
      Со своего бережка.
      Стали бросать они алые маки,
      Им отзывалась река.

      Дунай, Дунай,
      А ну узнай,
      Где чей подарок?
      К цветку цветок —
      Сплетай венок,
      Пусть будет красив он и ярок.
    {% endfilter %}
  {% endfilter %}

  {% filter prose("short") %}
    Или, например:
  {% endfilter %}

  {% filter ins %}
    {% filter poem("quote") %}
      Кто видал сады Тбилиси,
      Кто видал ЗАГЭС?
      И безоблачные выси
      Сказочных небес…

      Кто видал хоть краем глаза,
      Как миндаль цветёт?
      Тот с ашугами Кавказа
      Вместе запоёт:

      Ах, Тбилиси, дорогой,
      Воздух голубой!
      Вечно светит с высоты
      Солнце над тобой…
    {% endfilter %}
  {% endfilter %}

  {% filter prose %}
    А самое главное, Варвара Михайловна учила нас чувствовать каждое слово: если ты произносишь слово «холодно» — значит, ты чувствуешь холод, и тогда слово произносится с таким чувством, что слушатели тоже ощущают этот холод, и наоборот. Учила, что каждое словечко «закрываем на замочек». Как вагоны ведёт машинист с определённой скоростью, и вагоны не наскакивают друг на друга, так и человеческая речь: между каждым словом — остановочка. А если машинист резко затормозит, то последние вагоны могут наскочить друг на друга. Так и слова при быстрой речи без выделения последней буквы каждого слова будут не услышаны. Последняя буква каждого слова должна быть слышна. А самое главное: я не только перестала краснеть у учительского стола или в магазине, подавая деньги кассиру, — я уже не боялась целого зала перед собой.
    Школа на проспекте КИМа, в которой мы начинали учиться, была под номером 29 — старое здание, прекрасный актовый зал с чудным звучанием.
    Позже, когда нас соединили с мальчиками, я перешла в школу номер 34 в переулке имени Каховского.
    Кроме песен и стихов мы разучивали танцы и пляски. Очень ярко остался в памяти мой первый партнёр — китайский мальчик Ван, кажется, Чжу-Ян. К сожалению, мы и не пытались запомнить его фамилию, мы по-детски думали, что эта встреча навсегда, ну, по крайней мере, пока учимся в школе. Мы звали его Ваней.
    Ещё мы с ним пели песню, в которой есть слова:
  {% endfilter %}

  {% filter ins %}
    {% filter poem("quote") %}
      Парень хороший,
      Парень хороший,
      Как тебя зовут?
      По-эстонски — Иванес,
      А по-русски — Ваня…
    {% endfilter %}
  {% endfilter %}

  {% filter prose %}
    В этой песне говорится, что все мы, люди, одинаково хотим мирной жизни, а имя Ваня есть во всех языках, только звучит иначе.
    Где Варвара Михайловна нашла этого мальчика, мы с девочками не знали. В ту пору у меня были смуглая кожа и очень чёрные глаза. И, конечно, чёрные косы. Об этом говорили все взрослые, которые окружали нас.
    Я этого стеснялась. А Варвара Михайловна однажды привела Вана на занятия, подвела ко мне и сказала: «Вот теперь я вижу, что у нас есть хорошая пара». И у нас всё получалось здорово.
    Но однажды он не пришёл. В стране было непростое время, задавать вопросы вслух было нельзя. А он мне ещё долго снился в цветных снах.
    В пятом классе нас принимали в пионеры. Почему-то память ярко осветила момент, когда к нам в класс вошли два или три взрослых человека, а наша учительница сказала им: «Вот, смотрите, это — наша итальяночка». Взрослые улыбались и за что-то хвалили меня.
    В пятом классе у меня уже были косы. Мне разрешили их растить только после того, как я научилась заплетать ленты, закрепляя их на спинке стула. Ведь мама у нас вынуждена была ночевать в Белоострове, там уже была наша корова Рыжонка. Так что вставали утром мы сами. А днём мама приезжала через день, оставляла молоко, которое надо было разнести по знакомым хозяйкам, с которыми мама договаривалась заранее.
    А в школе кроме занятий художественной самодеятельностью организовывали занятия по подготовке к санитарной обороне (на значок ГСО). Проводилось много интересных занятий по спасению, людей попавших в беду. Также готовились к сдаче норм БГТО — «Будь Готов к Труду и Обороне», а потом — к сдаче норм ГТО — «Готов к Труду и Обороне» (с более серьёзными требованиями). Во внеурочное время устраивали чтение книг перед классом на выбор.
    А когда наш класс превратился в пионерский отряд и был разбит
    на несколько звеньев, звеньевые отвечали за успеваемость в своих звеньях. Отличникам и хорошистам давалось задание — подтянуть отстающих. Также ездили в театры с учителем.
    У нас были добрые учителя и строгие родители. Страна только приходила в себя после тяжёлой войны.
  {% endfilter %}
{% endblock %}
