{% extends template %}

{% set title = "Двадцать так двадцать" %}
{% set workdate = "17.01.2018" %}
{% set pubdate = "10.03.2018" %}
{% set titleDescr = "1992 год" %}

{% block content %}
  {% filter prose %}
    В <time>1992</time> году медицина для населения ещё была бесплатной.
    У меня с ногой беда. Открылась язва. Постоянный хирург Майя Семёновна Френк ушла в отпуск. А её заменял молодой специалист Карлов, проходивший практику по сосудистой хирургии. Он и назначил мне сок коланхое и постановку пиявок, в целом 20 штук, но в течение 4-5 сеансов, то есть постепенно.
    — А пиявки Вам поставят в процедурном кабинете, — в конце приёма сказал мне хирург.
    — Хорошо, спасибо, — ответила я и отправилась в аптеку.
    На следующий день я оказалась в процедурном кабинете вместе с банкой, в которой плавали пиявки. Молодая, совсем юная, медсестра, увидев пиявки, изменилась в лице.
    — Да Вы что, женщина! Какие пиявки? Я что, с Вами буду заниматься три часа, а остальные пациенты будут ждать, когда я закончу, и только потом буду делать им инъекции?
    — Да Вы что, миленькая? Со мной сидеть не надо. Я не маленькая. Вы мне просто поставьте их, но не все сразу. Хирург пишет, что надо разделить на несколько сеансов, — объясняла я ровным голосом.
    — Ну уж нет, двадцать так двадцать, — нервно ответила медсестра. — И вообще, женщина, я хочу Вас предупредить, что пиявки принимают только чистую кожу. Так что неизвестно, привели ли Вы себя сегодня в порядок, — нервно объявила девушка.
    — Да и успокойтесь Вы. Я не стану Вам объяснять, приводила ли я себя в порядок. Пиявки сами догадаются. А в отношении того, что их количество надо разделить на несколько сеансов, Вы подумайте. Ведь об этом пишет хирург, — спокойно объясняла я.
    — А я Вам сказала: двадцать так двадцать.
    — Ну, Ваше право. Я просто хочу, чтоб эта процедура помогла мне по мере возможности.
    — Ну ладно, располагайтесь на топчане, — смирилась медсестра.
    Она остановила свой взгляд на пиявках и задумалась…
    — Послушайте, возьмите пинцет, прихватите пиявку за талию и посадите её ко мне на ногу, только в стороне от язвы, вот и всё. А она сама определится, где ей остановиться, — посоветовала я.
    И медсестра приступила к действию и устроила на ноге все двадцать пиявок.
    Ощущение было похоже на жжение крапивой. Хорошо, что, перед тем как мне расположиться, медсестра бросила большую медицинскую клеёнку.
    Я просидела часа два. Мимо пиявок тонкой струйкой стекала кровь. Меня начало знобить. В это время пациенты входили для получения инъекций. Одни уходили, входили следующие.
    Вдруг очень быстро вошёл смотровой врач и сразу же, увидев мою ногу, спросил меня:
    — Женщина, Вы давно делали анализ крови?
    — Давно, — ответила я.
    Он взял под локоть медсестру и вышел с ней в смежный кабинет. Поскольку дверь была открыта, я услышала, что было сказано более громко: «Побольше, побольше», — и врач быстро вышел из кабинета. Я подумала, что кто-то из знающих пациентов сказал ему обо мне.
    В свою очередь медсестра вышла из смежного кабинета с бинтами и с большим рулоном серой ваты и, подойдя ко мне, попробовала снять первую пиявку. Но не очень-то получилось. Пиявка прицепилась ко мне и не хотела отцепляться. И это было болезненно.
    — А что если дать ей понюхать нашатыря? — предложила я.
    Медсестра уже не возражала. И как только приблизила ватку к пиявке, та сразу свалилась на бочок.
    Девушка укутывала мою ногу как куклу. Я думала, что на этом всё и закончится. Да и до дома близко.
    Пока я аккуратно шла к своему дому, я ловила на себе сочувствующие взгляды прохожих, но не понимала почему. Ведь на костылях я уже не один день.
    Но когда подошла к своему подъезду и стала преодолевать эти три ступеньки, то увидела на своей закутанной ноге приличное алое пятно крови. Значит, она прошла даже через эти бинты и вату.
    Дома никого не было. Меня сильно знобило. Перед тем как освободить ногу от тяжёлой упаковки и лечь на диван, я на всякий случай принесла тазик.
    Устроилась на диван, а ногу — частично на табурет, а внизу на полу — таз, куда тонкой струйкой капала кровь. Меня знобило, а я, как бы сопротивляясь и подбадривая себя, напевала детские песенки.
    Наконец-то пришли муж с сыном. Увидев такую картину, сразу же по моей просьбе поехали в аптеку за перекисью водорода и бинтами. И только к 23-м часам всё угомонилось. Я забинтовала ногу и уснула.
    Конечно, была невероятная слабость. А в 5 утра, как только ногу опустила вниз, всё повторилось.
    Оставалось только дождаться приёма хирурга. И с утра я уже была у Карлова. После перевязки, кроме выписанных ранее лекарств, добавили ещё пилюли от малокровия. Но язва тогда быстро закрылась.
    Вот такая история произошла со мной.
  {% endfilter %}
{% endblock %}
