{% extends template %}

{% set title = "Возвращение в послевоенный Ленинград" %}
{% set workdate = "06.12.2015" %}
{% set pubdate = "05.11.2017" %}
{% set titleDescr = "1946 год" %}

{% block content %}
  {% filter prose %}
    И вот настало время возвращаться в послевоенный Ленинград.
    1946 год. Конечно, мы, дети, ни о чём не переживали, вместе с родителями мы ничего не боялись. А родители в связи с переездом перенесли много хлопот.
    А нас было уже трое. Незадолго до отъезда я неожиданно стала терять слух. Перед отъездом в Ленинград мы стояли около поезда, ближе к паровозу. Вдруг паровоз дал такой гудок, что я подпрыгнула! Все засмеялись, а мама сказала: «Ну значит всё будет хорошо. Вылечим». И, когда мы приехали в Ленинград, мама долго ездила со мной к профессору Максимилиановской платной клиники.
    Слух возвращался постепенно, в первом классе я часто ходила с повязкой на ушах и горле. Запомнила только одно: по утрам, когда наши носы давали сбой, мама сажала нас на стулья друг против друга и вставляла нам в носы медовые палочки. Это очень помогало в лечении и горла, и носа, и ушей. Но одна беда: только мама выходила на кухню — мы сразу начинали смешить друг друга, и наши палочки вылетали под общий хохот. Но тут являлась мама, и она почему-то всегда знала, кто первый начал шалить. Что делать, все успокаивались.
  {% endfilter %}

  {% filter prose %}
    Вернулись мы в Ленинград в ту же большую коммунальную квартиру № 35 дома 29 по 6-й линии Васильевского острова, но вскоре обменяли маленькую комнату на комнату побольше в квартире № 46 того же дома.
    В коммунальной квартире — длинный-длинный коридор, а по бокам — двери, двери, двери…
    Там мне запомнилась такая картинка. Посреди нашей комнаты стоял длинный стол. Мы, дети, готовились к обеду. По приезде в город мой организм снова хотел соли. Дверь в комнату была открыта, а в дверях стояли соседи и, тихонько переговариваясь, наблюдали именно за мной. Отец придвинул ко мне солонку, и я, левой рукой зачерпнув ложку соли, на глазах у всех проглотила всё содержимое, которое в то время казалось мне вкусным. После этого отец сам каждому из нас наливал ложку рыбьего жира и каждому давал по квадратику чёрного хлеба, посыпанного солью. Таким кусочком мы заедали этот вкус рыбьего жира. Раньше не было гранулок рыбьего жира, приходилось пить с ложечки. Соседи убедились в том, что я глотала соль сама с удовольствием, и разошлись по своим комнатам. Потом это постоянное желание ушло, но иногда хотелось солёненького.
    В феврале 1947 года у нас появилась ещё сестрёнка. Приехав в эту комнату, родители понимали, что если появится ещё одно дитё, то в комнате будет очень тесно. Так всё и случилось. Летом родители торопились найти бо{{acute}}льшую комнату, так как летом организовать переезд было бы легче, и в выходные дни часто уходили из комнаты, закрывая нас на ключ. И всегда невольно вспоминается история с <a href="/lidija_seljagina/ir-1-3.html">облигациями</a>, которую, наверно, помнят старожилы этого дома.
    Родители договорились об обмене на намного бо{{acute}}льшую комнату (25 квадратных метров) в двухкомнатной квартире № 54 дома № 7/19 по проспекту КИМа, совсем рядом у залива. В этой комнате было огромное итальянское окно, которое имело выход на балкон. А ещё к этой комнате примыкала длинненькая кладовка с двойной дверью. В ней были два огромных итальянских окна: окно слева выходило на балкон, который протянулся по всему периметру нашего пятого этажа, а окно справа выходило на лестничные марши, но его никто не открывал. Это было и необычно, и добавляло площади: ведь нас было уже шесть человек.
  {% endfilter %}
{% endblock %}
