{% extends template %}

{% set title = "Непосредственность" %}
{% set pubdate = "10.03.2008" %}
{% set titleDescr = "1969 год" %}

{% block content %}
  {% filter prose %}
    Гости разъезжались.
    Две бабушки собирались к нам в гости на несколько дней, а прогостили целое лето.
    Екатерина Егоровна, одна из бабушек, обняла внучку, которой всего четыре с половиной года.
    — Леночка, ты, наверное, скучать будешь без бабушек?
    Девочка задумалась, а потом очень серьёзно ответила:
    — Нет, бабушка, не буду. Перед большим зеркалом буду рожи строить, какие захочу.
    Бабушка растерялась, а потом всё поняла. Ведь в их комнате стоял платяной шкаф, а в нём закреплено зеркало.
    Три месяца бабушки думали, что девочка рада их приезду. А оказалось, она ждала, когда освободится комната и к ней возвратится островок независимости.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1969">1969</time>
{% endblock %}
