{% extends template %}

{% set title = "Мы — дети неоглядного неба" %}
{% set pubdate = "10.03.2008" %}
{% set titleDescr = "2003 год" %}

{% block content %}
  {% filter prose %}
    В марте месяце в скрытых от ветра закуточках — самое замечательное, яркое солнце. И именно последняя неделя марта — каникулярная. На эту неделю мы — школьники — уезжали в пригород.
    Я очень любила первое мартовское облачение в купальный костюм, и с пологой крыши сарая наблюдала за движением облаков. Безоблачный свод! Редкое явление. А движение облаков? Фантастично! Это целая сказочная, живая страна. Надо мной проплывают образы людей и животных, я неожиданно обращаюсь к ним на каком-то непонятном мне языке — ярком, по-моему, восточном.
    Откуда это? Кто я? Эти вопросы не раз проносились в моей голове. Возможно, их и не было бы никогда, если бы периодически не приходила мне на память картина, которую трудно назвать сном.
    Я очень чётко вижу повозку в уходящем цыганском таборе… Вся повозка разделена на высокие ячейки. А из каждой ячейки торчат головы цыганят, и я среди них. Суровый бородатый цыган-возница очень строго и беспокойно оглядывается назад. За повозкой бежит женщина с распущенными длинными чёрными волосами. Я не ощущаю её своей матерью. Я не знаю её. Она бежит за уходящей повозкой, кричит: «Отдай, отдай ребенка!» — и ничком падает на землю, издавая странные глухие звуки. Бородатый цыган вынимает меня из моей ячейки и выбрасывает из повозки на дорогу. Я до сих пор вижу близко перед собой удивлённые чёрные, выпуклые, как вишни, глаза цыганёнка из соседней ячейки; в них — страх и жалость. Кто он? Где сейчас этот табор? Видно, сжалилось цыганское сердце перед женским горем.
    Помнится, когда мне было годика четыре, при входе в деревню очередного табора цыган старшая сестрёнка хватала меня за руку и прятала под стол, тщательно расправляя длинную, до пола, скатерть.
    После войны вся семья вернулась в город. Когда мне было лет десять, однажды ночью я проснулась от шума голосов. В нашей комнате было много крикливых темноволосых женщин в длинных пёстрых юбках; они просили у матери разрешения оказать мне помощь. (Я тогда тяжело болела и полгода не ходила в школу.) Почему? Кто они мне?
    В детстве я не раз подскакивала от одного и того же сна: как будто в тёмной зимней ночи люди, сидящие у костра с суровыми лицами, очень немногословно и с трудом говорят о только что захороненном ребёнке. Это была девочка. Суровые лица женщины и нескольких мужчин освещают порой вспыхивающие языки пламени и разлетающиеся искры костра. Мужчины одеты в белые маскировочные одежды, женщина — в чёрное длинное пальто.
    В конце пятидесятых, уже в старших классах, я радовалась, как дитя, поймав радиоволну на украинском языке. Однажды на уроке истории, уже в девятом классе, неожиданно для себя, выйдя к столу учителя, стала отвечать тему по-украински, так как незадолго до того читала украинскую книгу. Пришлось быстро переключиться на серьезный лад.
    В школе мы начали изучать испанский язык, и я видела яркие, красивые сны на испанском языке. А пожилая учительница по математике ещё в начальных классах называла меня «наша итальяночка».
    В юности, услышав о приезде в город цыганского ансамбля, я всегда бежала на эту встречу, а душа моя пела. Их зажигательные пляски заряжали меня энергией.
    Мне тепло и уютно от индийских напевов.
    А как объяснить то, что не один раз среди тёмной ночи я вдруг явственно видела себя на приёме у английской королевы? Сон повторялся так часто, с такими подробностями и до тех пор, пока не родилось у меня стихотворение:
  {% endfilter %}

  {% filter ins %}
    {% filter poem %}
      Мне приснился однажды сон:
      В замке ждёт меня королева.
      Лондон; в воздухе капельный звон;
      Королева прекрасна, как Ева.

      Предо мною кидают мостки,
      Чтоб приблизиться к замку. Туманно.
      Словно новой жизни ростки,
      Эйфорийные волны обманны.

      К замку движется экипаж.
      Окружённая пажеской свитой,
      Я вхожу в этот дивный мираж,
      Прикасаясь к тайне сокрытой.
    {% endfilter %}
  {% endfilter %}

  {% filter prose %}
    Как часто, прикрыв глаза, я ощущала себя парящей птицей, способной держать равновесие на любой высоте, руководить направлением движения, перелетать с дерева на дерево!
    Стихотворение Беранже «Нищая» ассоциируется с моим прошлым и сегодняшним днём. Оно для меня оказалось прогнозом. В юности я читала его под аккорды гитары. В своей юной и бурной жизни, как поток водопада, я читала свои стихи и стихи других поэтов и заряжала своей неугомонной энергией сидящих в зале. А сегодня кто я?
    В своих снах я вижу себя той, которой, возможно, стану в какой-нибудь следующей жизни… или после неё…
  {% endfilter %}

  {% filter ins %}
    {% filter poem %}
      И я когда-нибудь премудрой примадонной
      Предстану пред тобою, мой народ,
      И из души моей, безумной и бездонной,
      Умчатся вирши в сказочный полёт.

      Я знаю: я затрону ваши души,
      И, небо за судьбу благодаря,
      Предстану перед Богом безоружной,
      И буду знать, что жизнь прошла не зря.
    {% endfilter %}
  {% endfilter %}

  {% filter prose %}
    Глядя вслед проплывающим облакам, рисуя образы, которые когда-то зародились в моём существе, душа моя наполняется тёплым светом, и я ощущаю свою защищённость. Невольная мысль волнует мой ум: кто я? И кто мы? Может, мы не одни в этом мире? Может, у нас есть друзья, которые помогают нам, предупреждают нас об опасности. А ведь иногда создаются такие обстоятельства, которые выше нас, и мы, понимая это, смиряемся и говорим: «Бог знает, что делает».
    Ещё и ещё раз устремляется взор наш в неоглядное небо, а оно словно врачует и успокаивает наши души. И мы тянемся к добру и пытаемся помочь ближним, и душа невольно наполняется теплом и желанием жить по справедливости. Может быть, мы и есть дети неоглядного неба, которое манит нас к себе своей загадочностью и призывает нас к разуму, к пониманию меры дозволенного? Как гармоничны мы с природой в момент душевного полёта! И как сурова сама действительность! Так кто же кроется в тучах, закрывая наше безоблачное небо, нашу защиту?
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2003-03">Март 2003</time>
{% endblock %}
