{% extends template %}

{% set title = "С изюминкой" %}
{% set workdate = "20.05.2003" %}
{% set pubdate = "10.03.2008" %}
{% set next = "lidija_seljagina/inspector-1" %}
{% set titleDescr = "2003 год" %}

{% block content %}
  {% filter prose %}
    Сегодня с утра до вечера моталась по городу. Устала. Около шести часов вечера зашла в кафе. Посетителей и буфетчицы не было видно.
    Я осмотрела помещение. Из расположенных высоко, но широких окон лился яркий свет и дурманящий воздух весны. Вдоль двух стен — полочки для еды без мест для сиденья. Около низкого столика, видимо, предусмотренного для детей, закреплено широкое зеркало. Именно здесь я и решила выпить чашечку кофе с пирожком.
    Девчушка-продавец, маленькая, худенькая, с короткой стрижкой светлых волос, ещё почти ребенок, вынырнула из-под прилавка и удивилась моему явлению:
    — Как это вы так? Неслышно.
    — В детстве научилась, — отшутилась я и направилась к столику с зеркалом. Подняла глаза и не узнала себя. — Боже! А я думала, что я — красавица. Вся моська съёжилась. Как же давно я не видела себя в таком роскошном зеркале! — невольно произнесла я вслух.
    Девушка рассмеялась:
    — А Вы с юмором.
    — Это правда, — ответила я. — А ведь это оттого, что «писака».
    — Вот это да! — воскликнула девушка.
    Перед моим уходом продавец спросила:
    — Ну и как? Нашли капусту в пирожке?
    — В самом центре, в сердце его. А вот если бы эту капустку на мясорубку, то точно бы распушилась она по всей внутренности пирожка, — шутливо отвечала я.
    — Я так и передам пекарю, — ответила девчушка с улыбкой.
    Мы дружески попрощались. Я шагала к метро и размышляла о несбыточном: как хорошо, как легко нам, когда мы доброжелательны друг к другу, и в нашем уважительном отношении спрятана самая замечательная изюминка — изюминка человеколюбия.
  {% endfilter %}
{% endblock %}
