{% extends template %}

{% set title = "Лето" %}
{% set workdate = "11.09.2016" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    Что ж такое лето, дети? —
    Значит, стало всем тепло.
    Не нужны уже пальтишки,
    Босиком бежать легко.

    Можно платьице одеть
    И носочки яркие,
    На лужайке замереть
    Нам от солнца жаркого,

    От жуков и комаров,
    Что позже собираются.
    А в хороший летний день
    Вся ребятня купается.

    Помидоры, огурцы,
    Морковка и редиска.
    А салатики из них
    Любит даже киска.

    Летом мы следим, ребята,
    Помогаем созревать,
    Поливаем их из лейки,
    Чтобы позже собирать…

    А деревья, все в листве,
    Шелестят при ветре.
    И спасают нас в жару
    Всех деревьев ветви.

    На пригорках — земляника.
    На лужайках — погляди:
    И черника, и брусника,
    И малины ягоды.

    Летом за грибами ходим.
    Кроме них порой находим
    И улиток, и ежей.
    Летом жизнь у них живей.

    Слышим пенье птиц в лесу:
    Трели разливаются.
    А потом у них у всех
    Птенцы появляются.

    К осени птенцы готовы
    Над гнездом своим летать.
    Ну а мы грибов и ягод
    Успеваем поднабрать.
  {% endfilter %}
{% endblock %}
