{% extends template %}

{% set title = "Насекомые" %}
{% set workdate = "16.08.2016" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    И ещё в лесах у нас
    Есть птицы и животные.
    И везде, во всём, всегда
    С нами — насекомые.

    Есть и мухи, и жуки,
    Комары и мошки,
    Бабочки и муравьи,
    Светлячков немножко.

    Косеножка-паучок —
    Наш домашний чудачок.
    Есть шмели и осы,
    Кузнечики, стрекозы.

    Пчёлы не забыты:
    Умны и деловиты.
    Нам приносят мёд они,
    Хоть порой сердиты.

    Есть жуки; в коре дерев
    Прячутся порою.
    Выручают дятлы лес,
    Всегда готовы к бою.

    Выгоняют всех жуков —
    Короедов-чудаков —
    Чтоб сберечь деревья —
    Лесное огражденье.

    Птицы берегут наш лес
    От вредных насекомых.
    Ну а пчёлы, например,
    Подают нам всем пример.

    Собрав цветочную пыльцу,
    Летят всегда к себе, к крыльцу,
    И, к своим ульям возвратясь,
    Оставят мёд — и вновь назад.
    И так уж в августе готов
    Запас медовый на весь год.

    И есть в лесу лягушки.
    И жабы — их подружки.
    На языки их липнет
    Любая мошкара.
    Вот так они питаются.
    Вот так и очищаются
    Болота и леса.

    Но только получается,
    Что армия лягушек —
    Жаб и их подружек —
    Несколько мала.
    И чтоб их больше стало —
    Беречь их неустанно,
    Лягушек и подружек,
    Беречь — всегда-всегда.
  {% endfilter %}
{% endblock %}
