{% extends template %}

{% set title = "Осень" %}
{% set workdate = "11.09.2016" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    Осень — как её узнать?
    Успеваем замечать,
    Что паутина просто с веток
    Может на лицо упасть.

    Ветерок стал попрохладней,
    Солнца меньше, ночь черна.
    И с деревьев кружит, кружит
    С ветром пёстрая листва.

    Лес пестрит не только жёлтым:
    Черноплодка с краснотой,
    И с рябины красной тихо
    Листик падает резной.

    И ковёр из листьев жухлых
    Укрывает Землю-мать,
    Ведь зимой под ним и снегом
    Ей придётся полежать.

    Уж грибница подмерзает.
    Иногда — ночной мороз:
    Хоть и небольшой бывает,
    Но подпортит нам прогноз.

    Только клюква на болоте
    Красным глазом светится,
    Не боится ведь мороза,
    И на кочке греется.

    Есть у осени момент:
    Словно золотая,
    Две недели постоит
    Солнцем залитая.

    Но ведь это — только днём.
    К вечеру — прохлада.
    И теряется листва
    Уж с любого сада.

    Вдруг осенние дожди
    Зарядят надолго.
    Ты послушай, подожди,
    Мы заполним полки.

    Мы на зиму запасём,
    Всё наварим, уберём
    В холодильник иль в буфет,
    Чтоб зимой не знать нам бед:

    И солёные грибочки,
    И огурчики из бочки,
    И капуста сквашена,
    И ягода налажена.

    В морозилку заложили
    Ягоду различную
    И варенье наварили —
    Вкусное, отличное.

    И в морозный зимний вечер
    Будет нам тепло при встрече.
    Ведь ещё совсем чуть-чуть —
    И снегом запорошит путь.
  {% endfilter %}
{% endblock %}
