{% extends template %}

{% set title = "Ягоды лесные" %}
{% set workdate = "15.08.2016" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    Ягоды лесные
    Растут уж не в саду.
    Растут они свободно,
    Они растут в лесу.

    На много километров
    Здесь есть один лесник,
    Который наблюдает,
    Чтоб в лес тот не проник

    Разбойник и разиня,
    Чтоб не возник пожар,
    Чтоб не пилили сосны,
    Чтоб лес не пострадал.

    Деревья и кустарники
    Растут совсем одни.
    То дождь их заливает,
    То солнышко палит.

    Но вот на бугорочке
    Здесь земляника есть,
    А дальше — и черника,
    И брусника здесь.

    А к осени в болоте
    Есть клюква-ягода.
    Бывает ежевика
    И гоноболь. Да, да.

    Но это те, что в травах
    Прячутся густых.
    Но есть ещё в высоких
    Кустарниках больших.

    Ягоды рябины,
    Калины над рекой,
    Черёмухи, малины,
    Боярышник густой.

    Рябину знаем красную:
    Сладка она к зиме.
    Но есть она и чёрная —
    Рябина черноплодная.

    А есть ещё черёмуха,
    В ней косточка плотна.
    Когда подержишь ягоды
    Во рту… вот это да!

    Народ вокруг заохает:
    «Ты только погляди…
    Все зубы, губы и язык
    Стали черным-черны!»

    Стянет оскоминой во рту
    Все челюсти твои.
    И будет, ой, невмоготу,
    Ну просто хоть замри!

    Но сама ягода сладка.
    И полезна, и редка.
    Её можно насушить
    И зимою заварить.

    Но ещё в лесу встречаем
    Ягоды опасные.
    Ядовитые они,
    Чёрные и красные.

    Но я думаю, что вы
    Не пойдёте в лес одни.
    Вам без взрослых никуда —
    Иначе ждёт вас всех беда.
  {% endfilter %}
{% endblock %}
