{% extends template %}

{% set title = "Грибы лесные и не только" %}
{% set workdate = "15.08.2016" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    Когда по лесу мы пойдём,
    Грибы здесь разные найдём.
    Пусть их взрослые берут —
    В лесу их много там и тут.

    Серый подберёзовик,
    Белый гриб большой,
    Подосиновик-красавец
    И лисичек рой,

    Грузди и опята,
    И ещё — маслята,
    Шампиньоны и горькушки —
    Очень вкусные в кадушке.

    Но есть грибы похожие —
    Опасные, но схожие.
    Чтобы вам всё в них понять,
    Надо дружно подрастать.

    Люди научились
    Выращивать грибы.
    Грибы те не лесные —
    А из теплиц они,
    Шампиньоны — знатные,
    Вкусные, приятные.
  {% endfilter %}
{% endblock %}
