{% extends template %}

{% set title = "Зима" %}
{% set workdate = "12.09.2016" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    Ну а зимушку узнать
    Как мне? Подскажите!

    Ну конечно же, зима
    Приморозит речку.
    У кого есть в доме печь —
    Тот затопит печку.

    Ну а кто живёт сейчас
    В многоэтажном доме —
    Тот узнает, что для вас
    Электричество иль газ
    Подключат к батарее —
    И будет вам теплее.

    А на улице снежком
    Запорошит всё кругом,
    И с морозным ветерком
    Подморозит землю.

    Мы успеем все зимой
    Вдоволь накататься,
    Просто с горки и на санках
    Будем кувыркаться.

    И на лыжах — по лыжне,
    И с коньками — на катке,
    И в снежки смешно играть,
    Бабу снежную создать.
    И ещё зимы приметы:
    Мы ведь в тёплое одеты.

    А ещё к нам в Новый год
    Дедушка Мороз придёт,
    Будет в праздник ёлка
    И подарков горка.

    Но устанем от мороза
    И от холода зимой.
    И услышим по прогнозу,
    Что запахнет вдруг весной,

    А мороз — всё меньше, меньше…
    Ветер тёплый налетит —
    И сосульки с крыш заплачут,
    Снег с водою убежит,

    Солнце выглянет, согреет
    Землю, всех зверушек, нас,
    И зима водой заплачет,
    А вернётся — в другой раз.
  {% endfilter %}
{% endblock %}
