{% extends template %}

{% set title = "Напутствие родителям" %}
{% set pubdate = "17.04.2008" %}
{% set next = "lidija_seljagina/poem-1" %}

{% block preface %}
  <p class="art__dedic">Родителям моих воспитанников из детского сада № 22 г. Сестрорецка</p>
{% endblock %}

{% block content %}
  {% filter poem %}
    А родителям вот мой совет:
    Говорите с детьми, говорите.
    Даже если и времени нет,
    Говорите с детьми, говорите.

    Даже если не поняли — что ж,
    Научитесь услышать ребёнка.
    Не отмахивайтесь никогда,
    Как от маленького котёнка.

    Для детей наших времени нет.
    Но один лишь я дам вам совет:
    Говорите с детьми, говорите.
    Научитесь выслушивать их.

    Не оставьте одних, не вспугните.
    Говорите с детьми! Говорите!
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1991-05">Май 1991</time>
{% endblock %}
