{% extends template %}

{% set title = "В ожидании лета" %}
{% set workdate = "18.05.2013" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    Отцветает мать-и-мачеха.
    Лето красное мы ждём.
    Не пугают грозы вешние —
    Оказаться под дождём.

    Впереди — лужайки нежные
    И грибные, брат, места.
    Позади — дороги снежные.
    Начнём с чистого листа!

    Я люблю с зарёю утренней
    Заглядеться в облака.
    От душевной дрожи внутренней
    К небу тянется рука…

    И оттуда, как по лестнице,
    Мироздания тепло
    Заполняет душу вестницей —
    И становится светло.
  {% endfilter %}
{% endblock %}
