{% extends template %}

{% set title = "Жители лесные" %}
{% set workdate = "17.08.2016" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    Кто ж ещё живёт в лесах,
    Меж деревьев бродит?
    Кто там прячется в кустах
    И из нор выходит?

    Ох, проснулся сам медведь!
    Из берлоги вышел.
    Он голодный. И ты впредь
    Не мешай ему реветь,
    Чтоб он тебя не слышал.

    А в лесу у нас живут
    Разные зверюшки:
    Зайцы, лисы, белки, ёж
    И полёвки-мышки.

    Покрупнее звери есть —
    Кабаны и волки,
    И с рогами лоси здесь,
    И медведи-шатуны…
    Вот, смотри-ка, сколько!
  {% endfilter %}
{% endblock %}
