{% extends template %}

{% set title = "«Ах, люди, как коварно создан мир…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Ах, люди, как коварно создан Мир!
    Как хрупки наши души перед свинством!
    Как чётко в нас потеряно единство!
    Ах, как убог, бесправием гоним,

    Уходит человек в небытиё.
    Он растлевает раньше, чем умрёт.
    И сердце матери от ужаса замрёт,
    Когда уходит из семьи её дитё.

    Всё сводится к тому, что жизнь — борьба.
    В большом и малом ставя цель себе,
    Не навреди и огради себя
    От зла и мести, дикости в душе.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1990">1990</time>
{% endblock %}
