{% extends template %}

{% set parentTitle = "Летопись от Древнекиевской Руси до России. От Рюрика до Путина. Часть 2-я" %}
{% set title = "17-й стих" %}
{% set workdate = "09.03.2010" %}
{% set pubdate = "10.12.2017" %}

{% block heading %}
  <h1 class="art__title">
    Летопись от Древнекиевской Руси до России.<br>
    От Рюрика до Путина
  </h1>
  <p class="art__title-descr">Часть 2-я</p>
{% endblock %}

{% block content %}
  {% filter poem %}
    По именному Указу Петра
    Были основаны города:
    Новосибирск, Таганрог и Петровск,
    Липецк и Бийск, да и рядышком — Омск.

    Север Саратовской — это Петровск —
    Бывший купеческий пост.
    Новосибирск — Кривощёковых код,
    Бывший казачий сход.

    Место слиянья Оби, Иртыша —
    Омскою стала земля хороша.
    Бия с Катунью слились воедино —
    Где и основан был Бийск так картинно.

    А Таганрог, да и Липецк — и прежде
    Были уж названы именем прежним.
    Выход к Оби и на Север к морям —
    Будет свободен путь нам.
  {% endfilter %}
{% endblock %}
