{% extends template %}

{% set parentTitle = "Летопись от Древнекиевской Руси до России. От Рюрика до Путина. Часть 2-я" %}
{% set title = "20-й стих" %}
{% set workdate = "10.01.2015" %}
{% set pubdate = "10.12.2017" %}

{% block heading %}
  <h1 class="art__title">
    Летопись от Древнекиевской Руси до России.<br>
    От Рюрика до Путина
  </h1>
  <p class="art__title-descr">Часть 2-я</p>
{% endblock %}

{% block content %}
  {% filter poem %}
    Переворот Елизаветы
    Бескровным был в стране.
    И потому придут рассветы
    В культуре и труде.

    Династию чтоб не прервать
    (Привычно жизнь текла),
    Решила вызвать из Киля
    Уж {{ notelink("третьего Петра", 1) }},

    Хоть мог он в Швеции остаться
    И стать в ней верным королём.
    Никто не мог и догадаться,
    Что зверь-жена живёт при нём.

    И был у них уж Павел, сын,
    Но это не было преградой.
    Так ловко заманив в капкан,
    Так ласково питали ядом.

    Уже на троне воцарясь,
    И Петром Третьим называясь,
    Не мог он просто осознать,
    Что, к его жизни подбираясь,
    Его жена и мать дитя
    Ждёт затаённо смерти дня.

    Успев у трона побывать,
    Стране пытаясь дань отдать,
    Он искренне хотел в пути
    Хоть долю истины найти.

    Но не пройдёт и двухсот дней,
    Как по заказу Катерины
    Произойдёт переворот,
    А {{ notelink("Пётр — убитый", 2) }} без причины.

    Да нет, причина лишь одна:
    Власть {{ notelink("Катерина", 3) }} обрела,
    А мужа убрала с пути,
    Чтоб к царству не мешал пройти.

    Вот и у трона, власть в руках.
    Екатерина — как монарх.
    Она Вторая на Руси.
    Что хочешь у неё спроси.

    Она готова ко всему —
    И подведёт страну к тому,
    Что Золотым век назовётся,
    И многого она добъётся.
    {{ notelink("Тридцать четыре года власти", 4) }}
    Подарят Катерине счастье.

    И развиваются науки,
    Культура расцвела.
    И, земли новые освоив,
    В войне приобрела.

    Но сын растёт, и {{ notelink("он узнал", 5) }}
    Причину всех потерь.
    Отец погиб по просьбе той,
    Что — мать ему теперь.

    Хоть {{ notelink("был он", 6) }} очень образован,
    И честен, и умён,
    Но благородство и открытость —
    Всё раздражало в нём.

    Чтоб в нашей памяти остался
    Суворова навечный след,
    И переход тот через Альпы,
    И русских множество побед.

    И всё же Павел оценил
    И сам присвоил ему звание —
    {{ notelink("Генералисимус", 7) }} всех войск,
    России нашей достояние.

    И хитрецов, и плутократов
    Толкало на раздрай в рядах.
    И заговор возник, однако,
    Дворцового переворота страх.

    Как сложно или невозможно
    Быть благородным и прямым!
    С такими качествами можно
    Быстрей покинуть этот мир.

    Что ж, к сожалению, и Павел
    Попал в такие жернова.
    Переломала и сожрала
    Система этого царя.

    Павел Петрович был убит
    {{ notelink("В Михайловском дворце", 8) }}.
    И Александр — его сын —
    Узнает о конце

    И будет сам себя корить
    И заговорщиков винить.
    И, находясь у власти сам,
    Стал аккуратен к «чудесам».
  {% endfilter %}
{% endblock %}

{% block notes %}
  [25 декабря 1761 г., племянник Елизаветы Карл Петер Ульрих] — прим. авт.
  [Убит 6 июля 1762 г.] — прим. авт.
  [1762 — 1796 гг.] — прим. авт.
  [1762 — 1796 гг.] — прим. авт.
  [Будущий царь Павел I] — прим. авт.
  [1796 — 1801 гг. — правление Павла I] — прим. авт.
  [1799 г., Суворов] — прим. авт.
  [19 марта 1801 г.] — прим. авт.
{% endblock %}
