{% extends template %}

{% set title = "«Мне страшно, что, я — член КПСС…»" %}
{% set pubdate = "10.03.2018" %}

{% block content %}
  {% filter poem %}
    Мне страшно, что я — член КПСС.
    Член партии, которая убила
    Семью царя. Ах, если б лишь царя…
    Жену, детей! И в яме их сгноила.

    Мне страшно, что я — член КПСС.
    Член партии, которой хороши
    Все средства унижения души,
    Все средства спрятанной душевной гнили.
    Святые чувства в ней давно постыли.

    Но, чудится мне, в партии моей
    Всегда была вторая половина,
    Та, что гноила жертвы лагерей,
    Та, что в Афган гнала родного сына…

    И больно мне, и дико признавать,
    Что я в её рядах, она мне — Мать.
    Мы, что внизу, привыкли с верой жить.
    И страшно нам глаза свои открыть,
    И с ужасом, застывшим на юру,
    Уже вошли в гражданскую войну!

    Но как избавить партию мою
    От имени лжеца и плутократа?
    За всё приходит жуткая расплата.
    Народ подставит голову свою.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1989">1989</time>
{% endblock %}
