{% extends template %}

{% set parentTitle = "Летопись от Древнекиевской Руси до России. От Рюрика до Путина. Часть 3-я" %}
{% set title = "25-й стих. Семьдесят лет назад" %}
{% set workdate = "22.06.2011" %}
{% set pubdate = "10.12.2017" %}

{% block heading %}
  <h1 class="art__title">
    Летопись от Древнекиевской Руси до России.<br>
    От Рюрика до Путина
  </h1>
  <p class="art__title-descr">Часть 3-я</p>
{% endblock %}

{% block content %}
  {% filter ins %}
    {% filter prose %}
      Помню ли я Великую Отечественную войну?
      Нет, конечно. Ведь я появилась на свет 24 августа 1941 года в городе Ленинграде. А Великая Отечественная война началась 22 июня 1941 года.
      Наш город Ленинград славится белыми ночами. Именно в ночь с 21 на 22 июня 1941 года (самую короткую летнюю ночь), в 4 часа утра, на нас (тогда наша страна называлась Советский Союз) <i>вероломно</i>, без объявления войны, напала Германия под руководством Гитлера, несмотря на то, что в сентябре 1939 года между СССР и Германией был заключён договор о дружбе и границе.
    {% endfilter %}
  {% endfilter %}

  {% filter poem %}
    Наши родители знали,
    Как началась война.
    Ночью в квартиры стучали —
    Дворники и беда.

    От военкома повесткой
    Вызваны были враз.
    Без объявления, резко
    Враг наступал на нас.

    Белая ночь в Ленинграде
    Самой короткой была.
    Никто не знал о <i>блокаде</i>.
    Так началась война.
  {% endfilter %}

  {% filter ins %}
    {% filter prose("short") %}
      А <time datetime="1941-09-08">8 сентября 1941 года</time> город Ленинград оказался в <i>блокадном кольце</i>.
    {% endfilter %}

    {% filter prose %}
      Также <time datetime="1380-09-08"><a href="/lidija_seljagina/chronicle-1-7.html#1380" title="Об этом — в первой части Летописи (7-й стих)">8 сентября</a>, но 1380 года</time>, произошла Куликовская битва. С огромнейшими потерями русские выиграли эту битву, впервые используя эффект неожиданности и конницу. После этого боя князь Дмитрий и его брат князь Владимир стали называться Донскими.
      Вот и Блокаду ленинградцы выстояли, но с чудовищными потерями. Снятие Блокады завершилось только <time datetime="1944-01-27">27 января 1944 года</time>.
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2011-06-22T04:00">22.06.2011, 04:00</time>
{% endblock %}
