{% extends template %}

{% set title = "«Исполнением гимна скулы сведя…»" %}
{% set pubdate = "10.12.2017" %}

{% block preface %}
  {% filter ins %}
    {% filter short %}
      По случаю последнего легального съезда КПСС, начало которого транслировалось по телевидению.
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter poem %}
    Исполнением гимна скулы сведя,
    Я страну хороню, ту, в которой родилась,
    Ту, в которой девчонкой росла,
    Ту, к которой душой приварилась.

    Кто убил тебя, Русь? Необычная наша судьба
    Исхлестала, изранила души людские.
    И осталась опять на проезжем дворе голытьба,
    И забиты приезжими порты морские.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1992">1992</time>
{% endblock %}
