{% extends template %}

{% set title = "«Дорогие мои, хорошие…»" %}
{% set pubdate = "10.03.2018" %}

{% block content %}
  {% filter poem %}
    Дорогие мои, хорошие,
    Не берите детей на митинг!
    Дорогие мои, хорошие,
    Может всё в одночасье сгинуть!

    Сколько силы непредсказуемой!
    Как страшна иногда толпа!
    От стихийности обезумев,
    Может всё вмиг смести она.

    Дорогие мои, хорошие,
    Не берите детей на митинг!
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1990">1990</time>
{% endblock %}
