{% extends template %}

{% set title = "«Играют гимн, как похоронный марш…»" %}
{% set pubdate = "10.12.2017" %}

{% block content %}
  {% filter poem %}
    Играют гимн, как похоронный марш.
    Страну хоронят на восьмом десятке.
    И нет уж сил смотреть на этот шарж.
    А власти всё ещё играют в прятки.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1992">1992</time>
{% endblock %}
