{% extends template %}

{% set parentTitle = "Летопись от Древнекиевской Руси до России. От Рюрика до Путина. Часть 1-я" %}
{% set title = "11-й стих" %}
{% set workdate = "14.12.2014" %}
{% set pubdate = "10.12.2017" %}

{% block heading %}
  <h1 class="art__title">
    Летопись от Древнекиевской Руси до России.<br>
    От Рюрика до Путина
  </h1>
  <p class="art__title-descr">Часть 1-я</p>
{% endblock %}

{% block content %}
  {% filter poem %}
    После правителя больного
    Ушла в глубокий кризис Русь.
    Убийства, казни, страх и горе —
    Вокруг всё вызывало грусть.

    Но сын же Грозного Ивана,
    Царь {{ notelink("Фёдор Первый", 1) }}, был иной.
    И Русь вздохнула от кошмара,
    Благодарила за покой.

    Конечно, ссорились бояре,
    Конечно, спорились дворяне.
    Но хоть простой люд не терзали,
    На казнь смотреть не заставляли.
    И вместе с Фёдором пытались
    Все что возможно возродить.

    Соседский враг всё понимал.
    А может, случая желал.
    Но вероломством не страдал,
    Пока не трогал Русь.

    {{ notelink("Иван Четвёртый", 2) }} принял смерть.
    Но ведь ещё осталась ветвь:
    То — младший Дмитрий, мать его.
    Им в {{ notelink("Угличе", 3) }} быть суждено.

    И через семь тяжёлых лет
    {{ notelink("Погибнет Дмитрий в Угличе", 4) }}.
    Ему всего лишь девять лет —
    А примет столько горьких бед!

    На царство {{ notelink("Фёдор", 5) }} уж венчался,
    И Годунов здесь приближался,
    Чтоб ближе к Фёдору примкнуть
    И выбрать с ним единый путь.

    Фёдор спокойно правит царством,
    Не обрекая на мытарства.
    Здесь вырастают города,
    Здесь заключат договора.

    Сам {{ notelink("в брак вступает с Годуновой", 6) }},
    Живёт с ней дружно и любя.
    Но долго не было дитя.
    Бояре {{ notelink("в заговоре", 7) }} были,
    Чтоб устранить жену Ирину
    И заменить другой такой,
    Чтоб дети бегали гурьбой.

    Но Бог дал {{ notelink("доченьку", 8) }} Ирине,
    И, Феодосией назвав,
    Вздохнули, радость ту приняв,
    Из тюрем выпустив народ.
    Дары богаты разошлёт

    В монастыри, Иерусалим…
    Ребёнок будет всем любим,
    Но чрез два года с половиной
    Их доченька {{ notelink("покинет мир", 9) }}…

    Для всех — огромная беда —
    Лишиться деток навсегда.
    Семь сотен лет как по Руси
    Династьей Рюриковичи

    Шли по земелюшке родной,
    Учась беречь её покой.
    Смерть Фёдора —  это {{ notelink("пролог", 10) }},
    Смутного времени порог.
  {% endfilter %}
{% endblock %}

{% block notes %}
  [1584 — 1598 гг.] — прим. авт.
  [18 мая 1584 г.] — прим. авт.
  [Май 1584 г.] — прим. авт.
  [1591 г.] — прим. авт.
  [31 мая 1584 г.] — прим. авт.
  [1575 г.] — прим. авт.
  [1587 г.] — прим. авт.
  [29 мая 1592 г.] — прим. авт.
  [25 января 1594 г.] — прим. авт.
  [7 января 1598 г.] — прим. авт.
{% endblock %}
