{% extends template %}

{% set title = "«Потерпи, народ, ну что ж…»" %}
{% set pubdate = "10.03.2018" %}

{% block content %}
  {% filter poem %}
    Потерпи, народ, ну что ж.
    Вымрешь вполовину.
    Вот уж лето на дворе,
    Пожуёшь былину.

    Ну и что, что тыщи мрут,
    Кому какое дело?
    Ну и что, что власти лгут
    И вшивеет тело.

    Так задумано, увы,
    Растоптали совесть.
    Так потери велики,
    Что не вставишь в повесть…

    Весь народ окаменел,
    Мрёт под слово «надо».
    Видно, центр осатанел
    И не видит ада.

    По костям нашим пройдёт
    Следущая партия.
    Без войны народ умрёт.
    Поищи на карте, а? —

    Где б без шума, без войны
    Убирали б массы.
    Видно, праздник сатаны
    Полностью удался.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1992-06">Июнь 1992</time>
{% endblock %}
