{% extends template %}

{% set title = "«Униженный, обманутый народ…»" %}
{% set pubdate = "10.03.2018" %}

{% block content %}
  {% filter poem %}
    Униженный, обманутый народ
    Застыл в угаре дикого дурмана.
    Что за судьба страну родную ждёт?
    Народ раздроблен путами обмана.

    О Родина, ты не хотела зла.
    Ты поддалась увёрткам волчьей стаи.
    И, как в предсмертном ужасе, в угаре,
    В смятении найти пути не можешь
    Из созданного стаей тупика.

    Какое горе!.. Здесь не до расплаты!
    Душа кричит: «Ну есть же виноватый?!» —
    Но власть молчит. Мертва моя страна.

    И есть одна надежда у людей,
    Что, может, Бог услышит и поможет.
    Душа кричит, душа молчать не может.
    Кто заврачует души у людей?..
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1990">1990</time>
{% endblock %}
