{% extends template %}

{% set title = "«В санатории детском объявились нудисты…»" %}
{% set pubdate = "17.04.2008" %}

{% block preface %}
  {% filter ins %}
    {% filter prose("short") %}
      В отношении нудистов, постоянно проникающих на территорию детского санатория «Дюны» Курортного района Санкт-Петербурга.
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter poem %}
    В санатории детском объявились нудисты —
    Новый класс паразитов, детских душ террористы.
    Воспитатели-женщины просят толстых жлобов:
    «Да оденьте же трусики хоть у детских домов!»

    Но нудистам насрать, что сказала им мать!
    Есть у них удовольствие — своим срамом мотать,
    Чтоб на свежем на воздухе продувало насквозь,
    Чтобы стадо двуногое не бродило поврозь.

    У меня предложение: сделать гадам засаду,
    Чтоб гуляло то стадо там, где лично им надо.
    Гнать их в шею иль в пятую точку
    На свою, на нудистскую, кочку.

    Я вот думаю: может, всё куплено нынче?
    И глумленье над детской душою привычно?
    Может, всё это — кем-то задуманный план:
    Растоптать наши души, превращая всё в срам?
  {% endfilter %}

  {% filter ins %}
    {% filter prose %}
      Летом <time>1992</time> года группа нудистов присмотрела себе поляну около детского санатория «Солнышко». Но среди родителей подобралась замечательная активная группа, которая постоянными хитрыми засадами с
      рогатками и солью выжила аморальных типов с этой территории без всякого вмешательства власти. После этого группа нудистов взяла в аренду участок земли на пляже, но путь к нему проходил недалеко от детского санатория «Дюны».
      Жажда развращать детей, обращать внимание на себя, привела их к таким подлым действиям. И сотрудники санатория были вынуждены периодически обращаться к сотрудникам правоохранительных органов.
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1993-07">Июль 1993</time>
{% endblock %}
