{% extends template %}

{% set title = "«Я в шальную погоду России…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Я в шальную погоду России
    Неотъемлемой частью вольюсь.
    Я с тревожными буднями Мира,
    Как песчинка, на дно окунусь.

    Горемычная Русь разудалая,
    Как нужна тебе прежняя стать,
    Чтобы русский мужик, сын крестьянина,
    Смог помочь тебе на ноги встать!

    Посмотри, ведь поля твои брошены.
    Подними деревеньки свои.
    Затяни свои вольные песни
    И детей за собой позови.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1990">1990</time>
{% endblock %}
