{% extends template %}

{% set title = "«Придёт угомон и в Россию…»" %}
{% set workdate = "10.12.1993" %}
{% set pubdate = "10.03.2018" %}

{% block content %}
  {% filter poem %}
    Придёт угомон и в Россию.
    Притихнут усталые львы.
    Душа, предаваясь бессилью,
    Замрёт на истоках канвы.

    По новой канве вышивая —
    Неведомы наши пути, —
    Дороги свои выбирая,
    Другим на пути не вреди.
  {% endfilter %}
{% endblock %}
