{% extends template %}

{% set parentTitle = "Летопись от Древнекиевской Руси до России. От Рюрика до Путина. Часть 1-я" %}
{% set title = "1-й стих" %}
{% set workdate = "04.10.2014" %}
{% set pubdate = "10.12.2017" %}
{% set prev = "lidija_seljagina/fc-3-32" %}

{% block heading %}
  <h1 class="art__title">
    Летопись от Древнекиевской Руси до России.<br>
    От Рюрика до Путина
  </h1>
  <p class="art__title-descr">Часть 1-я</p>
{% endblock %}

{% block preface %}
  {% filter ins %}
    {% filter prose("short") %}
      Основано на достоверных исторических фактах, изложенных в книге Евгения Анисимова «<a href="https://www.litres.ru/evgeniy-anisimov/istoriya-rossii-ot-rurika-do-putina-ludi-sobytiya-daty/" target="_blank" rel="nofollow">История России от Рюрика до Путина. Люди. События. Даты</a>» и книгах Александра Савинова из серии «<a href="http://www.russiantsars-collection.ru/" title="Официальный сайт серии" target="_blank" rel="nofollow">Князья, цари и императоры России</a>».
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter poem %}
    {{notelink("От Рюрика до Юрика", 1)}} —
    Запомни навсегда.
    {{notelink("Олег наш Вещий", 2)}}, помните?
    И {{notelink("Игоря беда", 3)}}.

    Княгиня наша — {{notelink("Олюшка", 4)}},
    Их {{notelink("Святослав", 5)}} — сынок.
    Потом — беда по полюшку,
    {{notelink("Усобицы", 6)}}, дружок.

    Запомните, что Рюрик
    Построил новый град.
    И Новгород сегодня
    Цветёт, как вешний сад.

    Династии начало есть,
    И Рюриковичей — не счесть.
    Хоть поздно, но {{notelink("родился сын", 7)}},
    И Игоря Олег растил.

    Поход на Киев всё решил:
    {{notelink("Аскольда с Диром победил", 8)}},
    И Киев — центр всея Руси —
    Указан в летописи.

    {{notelink("Олег возглавил государство", 9)}},
    Что дорастёт потом до царства,
    И древнерусская земля
    Своею жизнью зажила.

    А как же Игорь? Вот беда!
    Здесь князя жадность подвела —
    И в результате алчности
    {{notelink("Погиб не как герой", 10)}}:
    Растерзан был без жалости
    Голодною толпой.

    Княгиня наша Олюшка
    {{notelink("Познала горя вволюшку", 11)}}.
    И, отомстив за Игоря,
    {{notelink("Сожгла Искоростень", 12)}}.

    Но, осознав свою вину,
    Свой грех перед древлянами,
    Она пополнила казну,
    Встав вровень с христианами.

    Определила твёрдо дань.
    {{notelink("Проехала по деревням", 13)}},
    По всем селеньям бедняков,
    Внедряя справедливость вновь.

    Сама {{notelink("крещенье приняла", 14)}} —
    И мудро править начала,
    Стараясь справедливой быть,
    Чтоб государство сохранить.

    Хоть сын её не принял веру,
    Но Ольга знала во всём меру
    И {{notelink("внуку", 15)}} своему, любя,
    Вложила веру, намоля.
    Когда ко власти он придёт,
    То в веру обратит народ.

    За {{notelink("восемь лет безвластия", 16)}},
    Безумия и тьмы
    Народ искал сверхвластного
    Защитника земли.

    {{notelink("Сначала", 17)}} князь Владимир был
    Жестоким и шальным,
    Держал гаремы личные,
    Дурною славой слыл.

    Но {{notelink("принял православие", 18)}} —
    И тем к себе снискал
    Народа понимание,
    Поддержку от вассал.

    И всё же, с всепрощением,
    Владимир-князь — он смог
    Объединить {{notelink("крещением", 19)}}
    Народ. И Бог помог.

    И стал он Красным Солнышком:
    Народ его любил.
    И целых {{notelink("тридцать пять годков", 20)}}
    Он Русь свою хранил.
  {% endfilter %}
{% endblock %}

{% block notes %}
  [862 — 879 гг.] — прим. авт.
  [879 — 912 гг.] — прим. авт.
  [912 — 945 гг.] — прим. авт.
  [945 — 964 гг.] — прим. авт.
  [964 — 972 гг.] — прим. авт.
  [972 — 980 гг.] — прим. авт.
  [864 г.] — прим. авт.
  [882 г.] — прим. авт.
  [879 — 912 гг.] — прим. авт.
  [912 — 945 гг.] — прим. авт.
  [945 — 964 гг.] — прим. авт.
  [946 г.] — прим. авт.
  [947 г.] — прим. авт.
  [957 г., Константинополь] — прим. авт.
  [Владимир Святой] — прим. авт.
  [972 — 980 гг.] — прим. авт.
  [С 980 г.] — прим. авт.
  [989 г.] — прим. авт.
  [С осени 989 г.] — прим. авт.
  [980 — 1015 гг.] — прим. авт.
{% endblock %}
