{% extends template %}

{% set parentTitle = "Летопись от Древнекиевской Руси до России. От Рюрика до Путина. Часть 1-я" %}
{% set title = "7-й стих" %}
{% set workdate = "05.12.2014" %}
{% set pubdate = "10.12.2017" %}

{% block heading %}
  <h1 class="art__title">
    Летопись от Древнекиевской Руси до России.<br>
    От Рюрика до Путина
  </h1>
  <p class="art__title-descr">Часть 1-я</p>
{% endblock %}

{% block content %}
  {% filter poem %}
    {{notelink("Ярлык", 1)}} от хана получает,
    Землёю русской управляет
    Князь суздальский. Так хан решил,
    И волю князя подчинил.

    А князь московский, Дмитрий-князь,
    Ярлык получит и {{notelink("указ", 2)}} —
    {{notelink("Княженье во Владимире", 3)}},
    Ведь {{notelink("молод", 4)}} князь для имени.
    Но рядом с ним отец Алексий,
    Князь ограждён от подлых версий.

    Беда московская пришла:
    В пожаре {{notelink("Кремль сгорел", 5)}} дотла.
    Но вновь {{notelink("строительство", 6)}} начнётся —
    И белокаменный взовьётся
    Кремль над красавицей Москвой,
    Всех будет радовать собой.

    {{notelink("В шестнадцать лет", 7)}} уж мужем стал,
    Дочь суздальского князя взял.
    И через год родился сын,
    В семнадцать лет — сын {{notelink("Даниил", 8)}}.

    Мужает Дмитрий — и идёт
    То на {{notelink("Тверское княжество", 9)}},
    То помогает городам
    Дать бой {{notelink("ливонским рыцарям", 10)}}.

    И снова Тверь, вновь на пути.
    Смог дружбу с Ольгардом найти
    Тверской князь Михаил,
    За что был нелюбим.

    Пытались {{notelink("осадить Москву", 11)}},
    Но Дмитрий убедил Литву —
    И, к перемирию придя,
    Является в Орду.

    Хоть там бывал уж Михаил,
    Но Дмитрий хана убедил,
    И тот ему ярлык вручил
    На княжески права.

    И снова он — великий князь.
    Судьбой придётся, и не раз,
    Вновь защищать Москву…
    То недовольные князья,

    То вновь ордынская волна.
    Но рать московская сильна,
    И на реке {{notelink("Оке", 12)}} она
    Закрыла путь в Москву.

    Жизнь продолжается, и в ночь
    Рождается у князя {{notelink("дочь", 13)}}.
    И {{notelink("сын, и снова сын", 14)}}, а он
    Достойно занимает трон
    (Вот так и хочется сказать),
    Но только он — ещё не знать.

    Лишь Иван Третий обретёт
    И трон свой, и признание,
    С татар-монгольскою ордой
    {{notelink("Последнее прощание", 15)}}.

    А здесь, между Ордой, Москвой,
    Все связи обостряются,
    И на реке {{notelink("Пьяне", 16)}} беда,
    И {{notelink("Нижний разграбляется", 17)}}.

    В {{notelink("февральский день", 18)}} митрополит
    Всем долгой жизни повелит.
    А Дмитрий князь уж возмужал —
    И {{notelink("вновь", 19)}} ордынцев поражал.
    И продолжал свой род и клан,
    И уж родился сын {{notelink("Иван", 20)}}.

    Но тут Мамай шёл на Москву…
    Чтоб защитить её одну,
    Князь собирает всех князей,
    Кого возможно, их друзей.

    А также сами Москвичи
    В полк ополченцами пошли.
    И даже с прочих городов
    Пришли, чтоб победить врагов.

    И Сергий Радонежский был,
    И войско то благословил.
    А князю Дмитрию сказал,
    Что ждёт их страшный смертный вал.

    <span class="page__targetable" id="1380">Князь перевёл полк через Дон,
    К реке Непрядве вышел он.
    И там, на поле Куликовом,
    И встретились с Златой Ордою.</span>

    Пред битвой вышли два бойца:
    От хана — Челубей — гонца,
    От русских — инок Пересвет…
    И с первой схватки их уж нет.

    Князь Дмитрий сам возглавил полк,
    Что первым примет бой-урок.
    Почти весь полк изрублен был.
    …Не сдерживая гнев и пыл,

    Из леса конница неслась…
    И, эхом русским раскатясь,
    В смятенье привела врага!!!
    Вёрст тридцать гнали «бедняка».

    И сохранился чей-то сказ,
    Как бы учительский подсказ:
    «Нас — рать! Нас — рать!» — кричал Мамай
    И с раной побежал в Сарай…

    А князя Дмитрия нашли
    Под срубленными ветвями.
    Хоть оглушённый, но живой.
    И потому стал князь — Донской.

    Пусть помнят люди на века,
    Как прапрапрадеды полка
    Сражались, не боясь врага,
    За землю и свободу.

    Из четырёхсот тысяч от полка
    Осталось только сорок.
    А {{notelink("враг ударился в бега", 21)}}
    В испуге, как ребёнок.

    А дома верная жена
    Вновь князю {{notelink("сына", 22)}} родила.
    Опять нашествие Орды:
    Тохтамыш рвётся до Москвы.

    И только хитростью {{notelink("Василий", 23)}},
    Сын Дмитрия, {{notelink("в Орду прибыл", 24)}}.
    Сам Тохтамыш его пленил.
    И лишь к концу другого года
    Смог убежать. Сильна порода!

    Рязанский князь Коломну грабил.
    А Дмитрий договор составил.
    То — вечный договор князей:
    Москвы с Рязанью и друзей.

    Князь Дмитрий род свой продолжает,
    Жена ему {{notelink("Петра", 25)}} рожает.
    А мир шумит, и жизнь струится,
    Князь выдать замуж дочь стремится
    За сына князя из Рязани —
    Жизнь свою узами связали.

    А в мае месяце у них
    Родился {{notelink("Константин", 26)}},
    А кроме этого — ещё
    Пять дочерей и сын.
    Но вдруг {{notelink("на пятый день", 27)}} Донской
    Унёс печаль свою с собой.

    Сверхнапряжённая судьба
    Уж в тридцать девять увела.
    Но помнит русская земля
    Тот {{notelink("Куликовский бой", 28)}}!!!
  {% endfilter %}
{% endblock %}

{% block notes %}
  [1361 г.] — прим. авт.
  [1362 г.] — прим. авт.
  [С 6 января 1363 г.] — прим. авт.
  [12 лет] — прим. авт.
  [1365 г.] — прим. авт.
  [1366 г.] — прим. авт.
  [1366 г.] — прим. авт.
  [1367 г.] — прим. авт.
  [1368 г.] — прим. авт.
  [Псков, Новгород] — прим. авт.
  [Ноябрь — декабрь 1370 г.] — прим. авт.
  [Лето 1373 г.] — прим. авт.
  [1368 г. — дочь София] — прим. авт.
  [1371 г. — сын Василий, 1374 г. — Юрий] — прим. авт.
  [1472 — 1480 гг.] — прим. авт.
  [1377 г.] — прим. авт.
  [1377 г.] — прим. авт.
  [12 февраля 1378 г.] — прим. авт.
  [1378 г.] — прим. авт.
  [1380 г.] — прим. авт.
  [8 сентября 1380 г.] — прим. авт.
  [1382 г. — сын Андрей] — прим. авт.
  [12 лет] — прим. авт.
  [Весна 1383 г.] — прим. авт.
  [1385 г.] — прим. авт.
  [14 мая 1389 г.] — прим. авт.
  [19 мая 1389 г.] — прим. авт.
  [8 сентября 1380 г.] — прим. авт.
{% endblock %}
