{% extends template %}

{% set title = "«Я картиной такой сбита с толку была, господа…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Я картиной такой сбита с толку была, господа:
    На коленях старик… вся седая его голова.
    Уходящая осень… и беспомощно тянутся руки.
    И в глазах — океан непридуманной огненной муки.

    На коленях старик. Помогите подняться ему.
    Он упал на траву. Кто, скажите, виною тому?
    Но бегут господа по делам за добычей большой,
    Не заметив отца в круговерти магической той.

    Манят деньги наверх, кто кого переплюнуть спешит.
    А в итоге — старик на коленях с поклоном стоит.
    Помогите ему, господа!
    Так близки, так ранимы года!
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1993-09">Сентябрь 1993</time>
{% endblock %}
