{% extends template %}

{% set title = "«Укради, укради кошелёк…»" %}
{% set pubdate = "10.03.2018" %}

{% block content %}
  {% filter poem %}
    Укради, укради кошелёк!
    Мне давно в него нечего класть.
    В моём доме давно нет обнов.
    Но зато есть народная власть.

    Укради, укради кошелёк.
    Забери его — в Бога и мать!
    Ну хоть чем-то побалуй, судьба,
    Чтоб я деньги могла узнавать.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1990">1990</time>
{% endblock %}
