{% extends template %}

{% set title = "«Наступает темнота…»" %}
{% set pubdate = "10.03.2018" %}

{% block preface %}
  {% filter ins %}
    {% filter prose("short") %}
      В последнее время в сумерках стало неуютно на улицах нашего городка. Многие улицы не освещаются. Зябко вздрагивает одинокий прилично одетый прохожий при виде неожиданно появившихся словно «ряженых» людей. Кто они? Откуда? Почему раньше мы не замечали? Или их было значительно меньше?
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter poem %}
    Наступает темнота,
    Выползает «гопота».
    Не ходи за ворота,
    Коль настала темнота.

    Днём не видно «гопоты»
    Из-за вечной суеты.
    Днём мы видим красоту,
    Ночью — только «гопоту».

    Ах, какая ерунда!
    Есть же в жизни красота.
    Но стоит как турунда
    Пред глазами «гопота».

    Из чего она взялась?
    Горе бесталанное.
    Ведь от нас же повелось —
    Общество бесправное.

    Видно, так заведено:
    Если жизнь бесцельна,
    Будет вам отведено
    Действо беспредельно.

    Дорогие господа,
    Где родилась «гопота»?
    Оттолкнули «гопоту» —
    И упали в темноту…
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1992-11">Ноябрь 1992</time>
{% endblock %}
