{% extends template %}

{% set title = "«Говорят, эмоции захватили души…»" %}
{% set pubdate = "10.03.2018" %}

{% block content %}
  {% filter poem %}
    Говорят, эмоции захватили души.
    И на наших Пленумах это пламя тушат.
    Говорят, эмоции — это истерия.
    Но честные эмоции — это наша сила.

    Если бы эмоции в дело обращались,
    Никакие беды бы с нами не случались.
    Жизнью многолетнею мы чаянья скрывали.
    Зато в великолепии молчанье изучали.

    Видели, ведь видели, как честность убивали;
    И честность эту самую от себя скрывали.
    И вдруг такая силища — эмоции наружу…
    Коль лидеры отыщутся, то волю не задушишь.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1990">1990</time>
{% endblock %}
