{% extends template %}

{% set title = "«Кто? Наш депутат из России…»" %}
{% set pubdate = "10.03.2018" %}

{% block content %}
  {% filter poem %}
    Кто? Наш депутат из России?
    Где новые кадры страны?
    Всесильность ведь — в знании мира,
    А твёрдость — не в страхе войны.

    Готовы ли, всё критикуя,
    Удар на себя навести.
    Дана ли вам мудрость и сила,
    Чтоб крах всей страны отвести?
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1990">1990</time>
{% endblock %}
