{% extends template %}

{% set title = "«Жизнь устроили нам, суки…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Жизнь устроили нам, суки!
    Не умрёшь теперь от скуки.
    Цены бешеные нынче,
    Ну а мы с тобой — не Кинчев,

    Не какая-то звезда.
    Но дают зато «дрозда» —
    Выраженье есть такое,
    Когда сердце волком воет.

    Кто работает — трясётся:
    Вдруг всё завтра же сорвётся?
    Потому платить не будут,
    А работать люди будут —

    Мол, потом должок вернут
    И инфляцию учтут.
    Шиш заплатят, «господа»! —
    Так зовут людей труда.

    Ну а тот, кого откинуть
    Не забыли, как скотину,
    Может сдохнуть — ерунда.
    Не нужны люди труда.

    Что ж, нас много расплодилось?
    Вот что нынче сотворилось!
    Разнесли страну по кочкам,
    Замер люд по уголочкам.

    Зато мафия жива,
    Не попадитесь в жернова.
    Отсидеться бы в окопе,
    Не поддали бы по жопе.
    На дворе уже весна —
    Не опухните от сна.

    Кому нечего жевать,
    Садись на мочевину,
    На свою, на личную,
    То есть, на урину.
    Хоть сие звучит смешно,
    Но нас спасёт это звено.

    Выходите в поле,
    На траву… На воле
    Будем обновляться
    И жизнью наслаждаться.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1994-05">Май 1994</time>
{% endblock %}
