{% extends template %}

{% set title = "«Город в ожидании жары…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Город — в ожидании жары,
    Раскалённых стен, удушья, зноя…
    Город — в ожидании беды,
    Замер весь в предчувствии разбоя…
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1991-07">Июль 1991</time>
{% endblock %}
