{% extends template %}

{% set title = "«Житель блокадного града…»" %}
{% set workdate = "11.05.2005" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Житель блокадного града,
    Житель Чечни и Афгана,
    Житель иракского ада —
    Есть человечества рана.

    Но, принимая медали
    И знаки как память войны,
    Вновь вижу страшные дали
    И чувствую горечь вины.

    Запутались мы в дурмане,
    И стонет от горя Земля.
    Как в паутинном обмане,
    Столкнулись магнитополя.

    Жителей всей Планеты
    Преследуют горе и беды.
    Жители, как Планета,
    Ждут своего рассвета.
  {% endfilter %}
{% endblock %}
