{% extends template %}

{% set title = "«Как стартовая лошадь…»" %}
{% set workdate = "30.01.1993" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Как стартовая лошадь,
    Иду на ВТЭК смотреться.
    Душе тревожно очень,
    И телу не согреться.

    Но даже здесь встречаю
    И зависть, и цинизм.
    И в мыслях отмечаю
    Железный эгоизм.

    Вся хитрость — в жажде жизни,
    В анализе вещей.
    Как можно докатиться
    До немощи мощей!
  {% endfilter %}
{% endblock %}
