{% extends template %}

{% set title = "«Профессор, педиатр областной…»" %}
{% set pubdate = "17.04.2008" %}

{% block preface %}
  {% filter ins %}
    {% filter prose("short") %}
      Этот факт действительно произошёл в октябре 1992 года после встречи в областной детской больнице с иностранцами.
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter poem %}
    Профессор, педиатр областной,
    В сосиску пьяный, еле «му» сказавши,
    Однажды так на встрече нализавши
    В больнице детской, тоже областной,

    Что из машины чистой медицины
    Он выпал наподобие скотины.
    Труды его рассыпались по луже.
    Профессор, может, ты кому-то нужен —

    Вот именно такой, в безумном виде?
    Старался кто-то, на тебя в обиде.
    Смотри, профессор, жизнь невелика!
    Не терпит дело тело дурака.

    Ах, Боже мой! Как важно нам
    Хранить глаза и уши,
    Чтоб жизнь не превратилась в хлам,
    И цели не разрушить!
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1992-10">Октябрь 1992</time>
{% endblock %}
