{% extends template %}

{% set title = "«В метро, под землёй, под городом…»" %}
{% set workdate = "20.05.2002" %}
{% set pubdate = "10.03.2018" %}

{% block content %}
  {% filter poem %}
    В метро, под землёй, под городом,
    Поезд летит, как стихия.
    Подросток с выправкой гордой
    Вдруг зачитал стихи нам.

    «О Господи, что творится! —
    Бормочет сосед-дедок, —
    Что в голове роится?
    Ну что же с тобой, сынок?»

    Подросток самозабвенно
    Читал о жизни-беде,
    О том, что жизнь переменна,
    И часто — нехватка в еде.

    О том, что уж небо сине
    И птиц голоса слышны.
    О Родина! О Россия!
    Твои сыны голодны!

    Читает мальчишка громко,
    Грудь на вздохе вздымает.
    Голос мальчишеский звонкий
    Звуки перекрывает.

    Мечтал он о ясном небе,
    В метро нам читал стихи.
    И хоть говорил о хлебе,
    Но не кормился с руки.

    Из рук он не взял копейки,
    Сказав, что нельзя ведь так.
    «Я просто хотел, чтоб люди
    Узнали, что, где и как», —

    И вышел на следущей станции.
    Вошёл в соседний вагон,
    Но чётко держал дистанцию,
    Какой бы ни слышал звон.
  {% endfilter %}
{% endblock %}
