{% extends template %}

{% set title = "«Сыплю в кружку жестяную бабушке копеечку…»" %}
{% set workdate = "05.06.2005" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Сыплю в кружку жестяную бабушке копеечку.
    И я рада за неё, что нашла лазеечку,
    Что она, придя домой, выпьет чашку чая,
    И согреется душа, вечер свой встречая.

    Чтоб была её кровать тёплой и уютной,
    Чтобы радость на душе не была минутной.
  {% endfilter %}
{% endblock %}
