{% extends template %}

{% set title = "«То газ, то нефть взрываются местами…»" %}
{% set workdate = "04.07.2012" %}
{% set pubdate = "10.12.2017" %}

{% block content %}
  {% filter poem %}
    То газ, то нефть взрываются местами.
    То вновь срывается компьютерная связь,
    То с неба падают с горящими крылами
    Авиалайнеры — и горя вязь.

    Метро взрывают, и вибрирует Земля.
    А здесь уже — поддельное лекарство.
    То там, то тут отравлена вода,
    Леса горят — земное наше царство.

    А в психбольницах травят без конца
    Кому-то не угодных, без границы.
    Цивилизации опасная игра —
    И завистью израненные лица.

    Упали нравы, шприцы, порошки…
    Эстрада, озабоченная напрочь.
    И в основном все эти «корешки»
    Душой растлели — и упали навзничь.

    То хлор, то ртуть, то в кухне взрыв с огнём,
    То под асфальтом взрыв воды кипящей…
    Друзья мои, вот так мы здесь живём —
    Вот в этом новом веке настоящем.

    И всё равно, когда шумит весна
    И вновь над нами небо голубое,
    Душа моя теплом земным полна,
    Хоть на мгновенье хочется покоя.
  {% endfilter %}
{% endblock %}
