{% extends template %}

{% set title = "Второе посещение психиатрической больницы" %}
{% set workdate = "07.04.2007" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Есть впускные два дня на неделе.
    У ворот образован подъезд,
    И паркуют порядно машины
    По числу предоставленных мест.

    И в ворота — авоськи, авоськи…
    Руки тянет, но близко уже.
    А обратно, хоть руки без ноши,
    Отражают глаза боль в душе.

    Два часа по два раза в неделю
    С внешним миром налажена связь.
    Остальное — душе в усмиренье:
    Ряд инъекций и капельниц вязь.

    Я смотрю, и мне страшно порою.
    Море горя за этой стеной.
    Вроде здесь побывал целый город,
    И понять трудно, кто здесь больной.
  {% endfilter %}
{% endblock %}
