{% extends template %}

{% set title = "«Зловещие по смыслу и значению…»" %}
{% set workdate = "06.10.1993" %}
{% set pubdate = "10.03.2018" %}

{% block content %}
  {% filter poem %}
    Зловещие по смыслу и значению,
    Несутся «вольвы» с видом деловым.
    Они летят не так — по поручению, —
    Вооружась ударом силовым.
  {% endfilter %}
{% endblock %}
