{% extends template %}

{% set title = "«Ещё один рубеж… ах, первое число…»" %}
{% set workdate = "30.09.1992" %}
{% set pubdate = "10.12.2017" %}

{% block preface %}
  {% filter ins %}
    {% filter prose("short") %}
      1 октября 1992 года, в <a href="/lidija_seljagina/bio-64.html" title="У автора есть рассказ об этих событиях">День пожилого человека</a>, который в том году впервые отмечался в России, отпущены цены на энергоносители. «Вот вам обещание: положить руку на рельсы, если что-то изменится». Да понятно, что один в поле не воин…
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter poem %}
    Ещё один рубеж… ах, первое число!
    Оно для нас, друзья, — двойная дата:
    Чтоб старцев «уберечь», решил Гайдар привлечь
    Структуры неразгаданного ада.

    Октябрь настаёт, в себе соединив
    Лучи перекрестившихся годов.
    В день пожилых людей решил гайдар отсечь
    Возможность выживания дедов.

    Гайдар ты наш, Егор, политика сложна.
    И Бог тебя рассудит, погоди…
    Когда ложишься спать в пуховую кровать,
    То боль тебя не щемит во груди?

    Как стонет вся страна, как гибнут старики!
    Их кости в крематории трещат.
    Ах, первое число, безжалостны деньки.
    Без тормоза народ влетает в ад.

    Ах, первое число, всё действо — в октябре,
    Истории кружится колесо.
    И, пусть меня простят, кто выживет к весне —
    Тот будет знать, что просто повезло.

    Политика и зло — о как они близки!
    Безжалостна порой и безрассудна
    Политика — весло, и на гребне волны
    Бывают перевёрнутые судна.

    Ах Родина моя! За всю свою судьбу,
    Родная, как ты только не страдала!
    Но чтоб на гроб людей уж не было доски… —
    Такого, правда, точно не бывало!
  {% endfilter %}
{% endblock %}
