{% extends template %}

{% set title = "«Неужели в самом деле…»" %}
{% set pubdate = "10.12.2017" %}

{% block preface %}
  {% filter ins %}
    {% filter prose("short") %}
      В первых числах июня 1992 года Б. Н. Ельцин заявил, что приостановит подъём цен на энергоносители, и Россия хоть на время вздохнула. Но надолго ли?
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter poem %}
    Неужели в самом деле
    Пожалел народ Правитель
    И зажёг в предсмертном теле
    Огонёк надежд, творитель?

    Мы, простой народ России,
    Записавшись в чернь недавно,
    Уж раздеты и босые,
    Собрались в поход коварный.

    Ну дай Бог, сдержал бы слово.
    Ведь ещё одно мгновенье…
    И печально, и не ново,
    И… взорвалось бы терпенье…

    Помоги, Господь, Борису.
    Вразуми глубоким смыслом.
    Не поддался бы капризу
    Волчьей стаи, диким мыслям.

    А мы снова обретаем,
    Может, мнимую, но веру.
    Хоть душою понимаем
    Отведённую нам меру.

    Ты пойми, уж нет терпенья.
    Всех угробить невозможно.
    Вырастает поколенье
    В обстановке смутной, сложной.

    Чем кормить детей России?
    Как же смута бесконечна!
    Возрождается насилье…
    Эта жизнь бесчеловечна.

    Ну дай Бог, сдержал бы слово.
    Ведь ещё одно мгновенье…
    И печально, и не ново,
    И… взорвалось бы терпенье.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1992-07">Июль 1992</time>
{% endblock %}
