{% extends template %}

{% set title = "«Берегись, Россия, “похоронки”…»" %}
{% set pubdate = "10.12.2017" %}

{% block preface %}
  {% filter ins %}
    {% filter prose %}
      В отношении <a href="/lidija_seljagina/bio-62.html" title="У автора есть рассказ об этих событиях">приватизационных чеков</a>, которые войдут в историю как «похоронки», или «ваучеры», и будут выданы населению России с 1 октября по 31 декабря 1992 года. Использовать их можно было только в течение одного года, то есть по декабрь 1993 года включительно.
      Позже эта бумага превратилась в мыльный пузырь, которому суждено было лопнуть. Так завершилось окончательное разгосударствление России.
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter poem %}
    Берегись, Россия, «похоронки».
    Каждому отсчитана цена.
    Как бы ни были твои рассветы звонки —
    А вечеря будет всем одна.

    И понятна стала суть народу,
    Тайна разведения мостов:
    Отделили хитрую породу
    От породы вечных «дураков».

    Вот и ходим мы, Иваны-Марьи,
    Вдоль кооператорских витрин.
    Всё сырьё скупили по дешёвке,
    А продать хотели б за алтын.

    Берегись, россия, «похоронки»!
    То — твоя последняя печаль.
    Мало будет нас весною звонкой —
    В этом и таится вся мораль.

    Вот и рассчитаемся друзьями
    За ошибки прежних здесь вельмож.
    Мы страну свою «раздели» сами,
    Только «секс» на запад не похож.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1992-09">Сентябрь 1992</time>
{% endblock %}
