{% extends template %}

{% set parentTitle = "Летопись от Древнекиевской Руси до России. От Рюрика до Путина. Часть 3-я" %}
{% set title = "26-й стих" %}
{% set workdate = "15.02.2015" %}
{% set pubdate = "10.12.2017" %}

{% block heading %}
  <h1 class="art__title">
    Летопись от Древнекиевской Руси до России.<br>
    От Рюрика до Путина
  </h1>
  <p class="art__title-descr">Часть 3-я</p>
{% endblock %}

{% block content %}
  {% filter poem %}
    Но ведь мы не одни на планете.
    Враг не дремлет — и снова беда.
    И внезапно жестоко в рассвете
    Он напал на Союз на года.

    Эх, земля наша русская, боже!
    Сколько крови в себя приняла!
    Но себе и соседям поможет:
    Всем союзом фашистов гнала.

    Снова трудные дни. Снова голод.
    Снова карточки в помощь пошли.
    И я помню, как Сталин народу
    Помогал всем по жизни идти.

    {{notelink("Каждый год", 1)}} мы читали в газете,
    Что на хлеб, молоко и крупу
    Никогда не поднимутся цены,
    Даже будут дешевле чуть-чуть.

    После этой достойной Победы
    Сталин понял народ, оценил.
    После страшной разрухи на годы
    Он как мог от беды нас хранил.
  {% endfilter %}

  {% filter ins %}
    {% filter prose %}
      В послевоенное время, конечно, страна находилась в разрухе и бедности. Раз в год в газете «Правда» печаталась справка о стоимости жизненно необходимых продуктов на сегодняшний день и о том, на сколько копеек они подешевели на следующую весну. Но подорожать? — нет!
      Вернувшись с войны, взрослые позже, вспоминая свою войну, рассказывали, как, идя в атаку, они кричали: «За Родину! За Сталина!» Даже когда по подлому доносу человека вели на расстрел, он всё равно произносил важные для него слова: «За Родину! За Сталина!»
      И я помню, когда Сталина не стало. В коммунальных квартирах на кухнях люди ещё долго говорили шёпотом. А в день похорон рыдали все: и взрослые, и дети. «А почему же плакали взрослые?» — думала я.
      Училась я тогда уже в шестом классе. Шепчась между собой и высказывая свои мысли о поведении родителей, мы с подружками (школа была женская) решили, что взрослые боялись, что если у страны не будет сильного руководителя, то снова может начаться война. И от этого было страшно. В школьную газету поместили моё первое стихотворение, и оно было о прощании народа с вождём.
      Вот так искренне и наивно мы, дети, начинали свою жизнь. И только когда мы стали взрослыми, то многое узнали и поняли. Конечно, участвовать в политическом движении, а тем более быть его ведущим, отвечать в стране за всё — это всё равно что идти по тонкому льду, уметь ювелирно мыслить и кожей распознавать среди своего окружения верных и неверных людей.
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block notes %}
  [После 1946 г.] — прим. авт.
{% endblock %}
