{% extends template %}

{% set title = "«Спрятан ценный российский пласт…»" %}
{% set workdate = "18.05.2013" %}
{% set pubdate = "10.12.2017" %}

{% block content %}
  {% filter poem %}
    Спрятан ценный российский пласт,
    Утрамбованный, словно наст.
    Не дают поднять головы
    Те шальные рубли.

    И кричит в тишине душа…
    Не успела сказать не спеша.
    Ведь для бизнеса нет рублей,
    И нет доступа к ней.

    Деньги, денежки — шелест и звон…
    Жизнь проходит, как сказочный сон.
    И чем дальше, тем мне страшней.
    Я шагаю по ней…

    А с экрана имущий класс
    Всё кричит, что уж нету нас,
    Тех, кто любит свою страну.
    Я кричу в тишину…

    Я кричу через наста пласт…
    Пусть Господь всем нам слово даст.
    Литераторы есть в стране!
    Уж поверьте вы мне.

    Спрятан ценный культурный пласт,
    Утрамбованный, словно наст.
    Не дают поднять головы
    Те шальные рубли.
  {% endfilter %}
{% endblock %}
