{% extends template %}

{% set title = "В отношении конкурсов красоты" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter epigraph %}
    {% filter poem("quote") %}
      Разве это ищут люди?
      Разве людям это надо?
      То кокетничает грудью,
      То кокетничает задом.

      Если вам уж неизвестно,
      Разрешите я замечу,
      Что совсем в другое место
      Спрятан разум человечий.

      [Иосиф Уткин, <time datetime="1941">1941</time>]
    {% endfilter %}
  {% endfilter %}

  {% filter poem %}
    Красивое тело, высокая грудь —
    О, дайте на тело на это взглянуть!
    За взгляд  миллионов текут миллионы —
    Господские игры во время чумы
    И праздник бесстыдства на фоне беды!

    Здесь девушек наших, замерив детально,
    Изъяны грудей изучив досконально,
    На выставку тела, что вроде скота…
    Да где же ты, святость, души чистота!..

    И взрослые дяди к разврату ведут,
    Девчоночье тело на рынок сдадут.
    Смотри, заграница, какие тела!
    Никто не ответит за эти дела!
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1990">1990</time>
{% endblock %}
