{% extends template %}

{% set title = "«Зачем Гайдар призвал народ на площадь…»" %}
{% set workdate = "03.10.1993" %}
{% set pubdate = "10.03.2018" %}

{% block content %}
  {% filter poem %}
    Зачем Гайдар призвал народ на площадь?
    Ведь это есть призыв к большой беде:
    Из бронетранспортёров прополощут —
    И подведут всех к гибельной черте.
  {% endfilter %}
{% endblock %}
