{% extends template %}

{% set parentTitle = "Летопись от Древнекиевской Руси до России. От Рюрика до Путина. Часть 1-я" %}
{% set title = "2-й стих" %}
{% set workdate = "07.10.2014" %}
{% set pubdate = "10.12.2017" %}

{% block heading %}
  <h1 class="art__title">
    Летопись от Древнекиевской Руси до России.<br>
    От Рюрика до Путина
  </h1>
  <p class="art__title-descr">Часть 1-я</p>
{% endblock %}

{% block content %}
  {% filter poem %}
    И сын Владимира Святого,
    Недаром его Мудрым звали,
    Стал князем Киевским — и строго
    Хранил устой святой морали.
    И целых {{notelink("тридцать восемь лет", 1)}}
    Сам Ярослав хранил обет.

    Но перед этим должен был
    {{notelink("Уйти с дороги", 2)}} Святополк,
    Который братьев трёх убил
    И честью князя пренебрёг.

    А дальше — дети Ярослава:
    Сын Изяслав обет даёт.
    И {{notelink("двадцать один год", 3)}}, однако,
    Народу силу отдаёт.

    И Святослав помог немного,
    {{notelink("Три года", 4)}} в Киеве стоял.
    Шестнадцать лет от Ярослава
    {{notelink("Сын Всеволод ту власть держал", 5)}}.

    Он образованнейший был:
    Пять иностранных изучил,
    Библиотеку содержал
    И очень многое читал.

    {{notelink("Плюс двадцать лет", 6)}} сам Святополк,
    Уж Изяславича сынок,
    Власть в Киеве с умом держал,
    Народа думы выражал.

    Пришло уж {{notelink("время Мономаха", 7)}} —
    Сын Всеволода — и без страха
    Держал он Киевскую Русь,
    Владимира не знала грусть.

    Ведь он {{notelink("«Устав»", 8)}} свой утвердил,
    Чем и мятеж остановил.
    {{notelink("Процент по долгу снизил", 9)}} он,
    Поддержан был со всех сторон.

    А {{notelink("«Поученье»", 10)}} Мономаха?
    Чтоб жили в дружбе и без страха.
    И сыновьям он завещал
    Любовь к отчизне и к умам.

    И Нестор {{notelink("летопись создал", 11)}},
    Нам на века всем написал —
    То Повесть временных тех лет —
    Есть человечеству завет.

    А как же шапка Мономаха? —
    Спрошу историю без страха.
    Ошибка вышла здесь, друзья,
    И обижаться нам нельзя.

    Убор был создан в Бухаре,
    Подарен был он — Калите,
    И с конской упряжью златой,
    Уж в век четырнадцатый. Стой…
    Златоордынский хан Узбек
    {{notelink("Подарит Калите на век", 12)}}.

    И внука Дмитрия к престолу
    {{notelink("Привёл в той шапке царь Иван", 13)}}.
    Он третьим был в Руси по счёту,
    Он шапку Мономаха дал.
  {% endfilter %}
{% endblock %}

{% block notes %}
  [1016 — 1054 гг.] — прим. авт.
  [1019 г.] — прим. авт.
  [1054 — 1078 гг.] — прим. авт.
  [1073 — 1076 гг.] — прим. авт.
  [1077 — 1093 гг.] — прим. авт.
  [1093 — 1113 гг.] — прим. авт.
  [1113 — 1125 гг.] — прим. авт.
  [1113 г.] — прим. авт.
  [Со 100 % и 200 % до 20 %] — прим. авт.
  [1117 г.] — прим. авт.
  [1113 г.] — прим. авт.
  [1321 г.] — прим. авт.
  [1498 г.] — прим. авт.
{% endblock %}
