{% extends template %}

{% set title = "«Зал — без обратной связи…»" %}
{% set workdate = "01.01.1994" %}
{% set pubdate = "10.03.2018" %}

{% block content %}
  {% filter poem %}
    Зал — без обратной связи,
    Душа — без выхода в свет.
    Сколько открылось грязи!
    Но не узнаем ответ.

    За что рассыпались души?
    За что разгорелись страсти?
    За что поясочки потуже
    Завяжем при новой власти?

    Уже ни к чему вопросы,
    Давайте отбросим грёзы.
  {% endfilter %}
{% endblock %}
