{% extends template %}

{% set parentTitle = "Летопись от Древнекиевской Руси до России. От Рюрика до Путина. Часть 1-я" %}
{% set title = "10-й стих" %}
{% set workdate = "13.12.2014" %}
{% set pubdate = "10.12.2017" %}

{% block heading %}
  <h1 class="art__title">
    Летопись от Древнекиевской Руси до России.<br>
    От Рюрика до Путина
  </h1>
  <p class="art__title-descr">Часть 1-я</p>
{% endblock %}

{% block content %}
  {% filter poem %}
    И у Ивана Третьего
    Родился сын {{notelink("Василий", 1)}} —
    Тоже, получается,
    {{notelink("Третий на Руси", 2)}}.
    Жил он с Соломонией,
    Жил в любви, красиво,
    Но не было детей у них
    За двадцать лет любви.

    Чтоб был наследник у него,
    Решил ещё жениться.
    А Соломонию — жену —
    {{notelink("Доверил он монастырю", 3)}},
    Чтобы с другой сродниться.

    С огромной силой, как могла,
    Она сопротивлялась.
    Но не смогла преодолеть —
    И жертвою осталась.

    Пыталась что-то доказать,
    Но не услышал он.
    И подчиниться ей пришлось —
    Такой в Руси закон.

    И Соломония, она
    При постриге София,
    Там тайно {{notelink("сына родила", 4)}},
    Георгием уж назвала.

    И, чтоб спасти своё дитя,
    Из храма выносила,
    Чтоб не нашёл Василий.
    Ведь сымитировать смогла,
    Как будто схоронила.

    {{notelink("Лет чрез четыреста", 5)}}, дружок,
    Могилка будет вскрыта.
    А вместо тельца там муляж
    Лежал, едва прикрытый.

    Куда сыночка унесли —
    Теперь никто не знает.
    Но то, что выжить помогли,
    От верной смертушки спасли, —
    Народ о том вещает.

    А Соломонию, дружок,
    Канонизировал народ.
    И все об этом знают,
    Так как гробница у неё
    Тепло всем источает.

    А сам Василий вновь женат.
    Жене всего семнадцать.
    И если б знала Русь тогда,
    Она бы задрожала,
    Когда Васильева жена
    Ей {{notelink("Грозного", 6)}} рожала.

    Такого зверя мир не знал,
    И на полвека задержал
    Народа положение,
    Ускорив разложение.

    И всё, что было на Руси,
    Всё уничтожено в грязи.
    Но стали голос подавать
    Дворяне и бояре.
    И люди стали понимать:
    Страна в бедовой яме.

    {{notelink("Иван остался без отца", 7)}}
    В три годика всего.
    А Глинская — регент его,
    Мать сына своего.

    Но много сделать не смогла,
    Ведь {{notelink("через пять лет", 8)}} умерла.
    А власть боярам отошла,
    {{notelink("Князь Шуйский", 9)}} взял её.

    А {{notelink("позже", 10)}} правил его брат,
    Затем и Бельский сам.
    Но вновь {{notelink("в Москве переворот", 11)}},
    И вновь {{notelink("власть Шуйский-брат возьмёт", 12)}}.

    И подрастает сам Иван,
    Ему уже тринадцать.
    И он уж приказал {{notelink("убрать", 13)}}
    С дороги Шуйских-братцев.

    В семнадцать лет ему дано
    {{notelink("Венчание на царство", 14)}}.
    А через месяц — {{notelink("первый брак", 15)}}
    С Захарьиною Настей.

    И через пять лет у него
    Уж {{notelink("первенец-сынок", 16)}}.
    Назвали Дмитрием его,
    Но жить он {{notelink("только годик", 17)}} смог,
    И нет уже его.
    Второй сыночек уж — {{notelink("Иван", 18)}},
    А третий — {{notelink("Фёдор", 19)}} сам.

    И сам был статен, и умён,
    И красотой не обделён.
    Но редко в жизни так бывает —
    И сам {{notelink("Иван заболевает", 20)}}.

    А через семь лет — вновь беда:
    Жена {{notelink("уходит навсегда", 21)}}
    В миры иные. Не вернёшь.
    И где же силы наберёшь,
    Чтоб жизнь земную продолжать?
    Но продолжает он шагать…

    У них ведь было шесть детей,
    А выжило лишь только двое.
    Кто б мог перенести такое,
    Не утонув в судьбе своей?

    Боль набирает обороты.
    Ему б от царства отойти.
    И злоба душу наполняет —
    Другого нет ему пути.

    Власть бесконечно деспотична.
    Ещё семь браков у царя.
    В последнем браке {{notelink("сын родился", 22)}},
    Печальна будет их судьба.

    А перед этим, год назад,
    Он на невестку зашумел.
    А сын, чтоб защитить жену,
    Вдруг преградил здесь путь ему.

    Но царь, взбешённый и больной,
    {{notelink("Ударил", 23)}} сына с силой! — стой!
    Ивану было двадцать семь…
    И нет его уже совсем.

    И за свирепые расправы,
    За казни, чёрной силы рать —
    В Руси четвёртого Ивана
    Народ стал Грозным называть.

    Хотя мне хочется отметить:
    Уж раз случилась с ним беда —
    То надо бы врачам заметить,
    Чтоб не накапливалось зла.
    Но как больного человека
    От власти отстранить тогда?..
  {% endfilter %}
{% endblock %}

{% block notes %}
  [25 марта 1479 г.] — прим. авт.
  [1505 — 1533 гг.] — прим. авт.
  [1525 г.] — прим. авт.
  [1525 г.] — прим. авт.
  [1936 г.] — прим. авт.
  [25 августа 1530 г.] — прим. авт.
  [1533 г.] — прим. авт.
  [1538 г.] — прим. авт.
  [1538 — 1540 гг.] — прим. авт.
  [Иван, 1540 — 1542 гг.] — прим. авт.
  [2 января 1542 г.] — прим. авт.
  [Андрей] — прим. авт.
  [29 декабря 1543 г.] — прим. авт.
  [16 января 1547 г.] — прим. авт.
  [3 февраля 1547 г.] — прим. авт.
  [1552 г.] — прим. авт.
  [1553 г.] — прим. авт.
  [28 марта 1554 г.] — прим. авт.
  [31 мая 1557 г.] — прим. авт.
  [Март 1533 г.] — прим. авт.
  [6 января 1560 г.] — прим. авт.
  [Дмитрий] — прим. авт.
  [9 ноября 1581 г.] — прим. авт.
{% endblock %}
