{% extends template %}

{% set title = "«Перепутали, перестроили…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Перепутали, перестроили…
    Закружилась вся жизнь, как метель.
    Как-то странно так всё устроили:
    Не учесть колоссальных потерь.

    Закружились мы в ритме бешеном
    По волшебному кругу беды
    В состоянии, как подвешенном,
    А ногам далеко до тропы.

    Что за сила над нами властвует?
    Что за демон сделал расклад?
    Кто сегодня над миром коварствует?
    Неужели — дороженька в ад?

    А сегодня здесь скоро вновь весна.
    Зацветут сады, но без нас.
    Потому, видать, пьют Ваньки до дна,
    Чтобы жизнь принять без прикрас.

    Перепутали, перестроили…
    Закружилась вся жизнь, как метель.
    Как-то странно так всё устроили:
    Не учесть колоссальных потерь.
  {% endfilter %}

  {% filter ins %}
    {% filter prose %}
      Чувствуя своё бессилие над несправедливостью в период разгосударствления, развала огромных промышленных предприятий и потери больших достижений в области космонавтики, потеряв работу как средство к существованию и веру в истинную справедливость, народ запил… Потом застыл и, как медведь после спячки, сбросив с себя всё наносное и удачно выбрав правителей, устоял, окреп, набрался мудрости и снова смог заявить о себе, что он выжил.
      Помогай нам, Господь, в нашем пути.
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1994-02">Февраль 1994</time>
{% endblock %}
