{% extends template %}

{% set title = "«Отгремели зловещие войны…»" %}
{% set pubdate = "10.03.2018" %}

{% block content %}
  {% filter poem %}
    Отгремели зловещие войны,
    Отпылали пожары беды.
    Снова мальчики на перроне
    По призыву встают в ряды.

    Новобранцы, как они молоды,
    Неуклюжи и зелены.
    Но нельзя им бояться холода
    И афганской палящей жары.

    Знают мальчики: в лотерее
    Можно многое потерять.
    В государственной той затее
    Трудно многое им понять.

    Но одно совершенно ясно:
    В государстве неправовом
    Возражать начальству опасно.
    Исполненье присяги — во всём.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1990">1990</time>
{% endblock %}
