{% extends template %}
{% from "source/layouts/netbiblio/macro/toc-with-content-iterator.njk" import tocWithContentIterator as tocItem %}

{% set title = "Перечень рассказов Лидии Селягиной с указанием дат отражённых в них событий" %}
{% set pubdate = "06.02.2018" %}
{% set prev = "lidija_seljagina/point-2-15" %}
{% set next = "lidija_seljagina/bio-1" %}
{% set tocHref = "lidija_seljagina/index.html#bio" %}

{% block content %}
  {% filter prose("short") %}
    При перечне рассказов хочется учесть историческую обстановку в стране и поимённо перечислить руководителей Государства на момент описания жизни простого народа.
  {% endfilter %}

  {% filter prose %}
    В период с апреля 1917 года по 21 января 1924 года руководителем России, а позже (с 1922 года) Советского Союза (СССР), являлся Владимир Ильич Ленин.
    Надо учесть, что Декреты, объявленные Лениным о Мире, Власти, Земле, Образовании, Здравоохранении и т. д., заинтересовали крестьян и поселили в них надежду на более светлое будущее.
  {% endfilter %}

  {% filter prose("short") %}
    В период с февраля 1924 года по 5 марта 1953 года руководителем Советского Союза являлся Иосиф Виссарионович Сталин.
  {% endfilter %}

  <ul class="page__toc toc toc--collection">
    {{tocItem("lidija_seljagina/bio-1", "В память о моих родителях", "1932&hairsp;–&hairsp;1937 гг.")}}
    {{tocItem("lidija_seljagina/ir-1-1", "Где, когда и как выжила Иришка", "1941 год")}}
    {{tocItem("lidija_seljagina/ir-1-2", "Эвакуация", "Июль 1942 года")}}
    {{tocItem("lidija_seljagina/bio-2", "Дед Фёдор", "1943 год")}}
    {{tocItem("lidija_seljagina/bio-3", "Соль", "1944 год")}}
    {{tocItem("lidija_seljagina/bio-4", "Отец", "Конец лета 1944 года")}}
    {{tocItem("lidija_seljagina/bio-5", "Другая изба или…", "1944 год")}}
    {{tocItem("lidija_seljagina/bio-6", "Возвращение в послевоенный Ленинград", "1946 год")}}
    {{tocItem("lidija_seljagina/ir-1-3", "Облигации", "1947 год")}}
    {{tocItem("lidija_seljagina/ir-1-4", "Малиновые палочки", "1948 год")}}
    {{tocItem("lidija_seljagina/bio-7", "Одни дома", "1949 год")}}
    {{tocItem("lidija_seljagina/ir-1-5", "Экзамен", "1949 год")}}
    {{tocItem("lidija_seljagina/bio-8", "Бог дал — Бог взял", "1950 год")}}
    {{tocItem("lidija_seljagina/bio-9", "Рыжонка в Ленинграде", "1950 год")}}
    {{tocItem("lidija_seljagina/ir-1-6", "По грибы", "1951 год")}}
    {{tocItem("lidija_seljagina/bio-10", "К тёте на блины", "1952 год")}}
    {{tocItem("lidija_seljagina/bio-11", "Не принеси в жертву дитя своё", "1952 год")}}
    {{tocItem("lidija_seljagina/ir-1-7", "Аванс", "1952 год")}}
    {{tocItem("lidija_seljagina/bio-12", "Полгода взросления", "1952 год")}}
    {{tocItem("lidija_seljagina/bio-13", "Мой первый партнёр", "1952&hairsp;–&hairsp;1953 гг.")}}
    {{tocItem("lidija_seljagina/bio-14", "Тихоня", "1953 год")}}
    {{tocItem("lidija_seljagina/bio-15", "Прощание страны с И. В. Сталиным", "Март 1953 года")}}
  </ul>

  {% filter prose("short") %}
    С сентября 1953 года по 14 октября 1964 года руководителем страны был Никита Сергеевич Хрущёв.
  {% endfilter %}

  <ul class="page__toc toc toc--collection">
    {{tocItem("lidija_seljagina/ir-1-8", "Подпаски", "Лето 1955 года")}}
    {{tocItem("lidija_seljagina/bio-16", "Шестой класс", "1953&hairsp;–&hairsp;1954 уч. год")}}
    {{tocItem("lidija_seljagina/bio-17", "Билет № 31", "1955 год")}}
    {{tocItem("lidija_seljagina/bio-18", "Психология — дело тонкое", "1955 год")}}
    {{tocItem("lidija_seljagina/bio-19", "Сбой в пирамиде акробатов", "1955&hairsp;–&hairsp;1998 гг.")}}
    {{tocItem("lidija_seljagina/ir-1-9", "Конечная", "Ноябрь 1955 года")}}
    {{tocItem("lidija_seljagina/bio-20", "Получил вожжами", "1956 год")}}
    {{tocItem("lidija_seljagina/bio-21", "Вера Григорьевна", "1956 год")}}
    {{tocItem("lidija_seljagina/ir-1-10", "Первый поход", "1956 г. — нач. 1957 г. (школьные каникулы)")}}
    {{tocItem("lidija_seljagina/bio-22", "Знакомство с жизнью вне школы", "Лето 1957 года")}}
    {{tocItem("lidija_seljagina/bio-23", "Эхо войны", "1957 год")}}
    {{tocItem("lidija_seljagina/ir-1-11", "Был город чист, как детская душа", "Осень 1957 года")}}
    {{tocItem("lidija_seljagina/ir-1-12", "Грех", "1957 год")}}
    {{tocItem("lidija_seljagina/bio-24", "Неожиданный гость", "1958 год")}}
    {{tocItem("lidija_seljagina/bio-25", "Наш последний десятый класс", "1958 год")}}
    {{tocItem("lidija_seljagina/bio-26", "Ах уж эти школьные годы!", "Осень 1958 года")}}
    {{tocItem("lidija_seljagina/bio-27", "Здравствуй, жизнь…", "Конец лета 1958 года")}}
    {{tocItem("lidija_seljagina/bio-28", "Завод", "1958 год")}}
    {{tocItem("lidija_seljagina/ir-2-1", "Странные люди", "1959 год")}}
    {{tocItem("lidija_seljagina/ir-2-2", "Напряжение", "1959 год")}}
    {{tocItem("lidija_seljagina/ir-2-3", "Непростое совпадение", "1960 год")}}
    {{tocItem("lidija_seljagina/ir-2-4", "Уроки жизни", "1960 год")}}
    {{tocItem("lidija_seljagina/ir-2-5", "Последствия травмы", "1960 год")}}
    {{tocItem("lidija_seljagina/ir-2-6", "Домовой", "1960 год")}}
    {{tocItem("lidija_seljagina/ir-2-7", "Святое исцеление", "1960 год")}}
    {{tocItem("lidija_seljagina/bio-29", "Честь", "1960 год")}}
    {{tocItem("lidija_seljagina/ir-2-8", "Держись, Константин Симонов!", "1960 год")}}
    {{tocItem("lidija_seljagina/inspector-1", "Приобретение жизненного опыта", "1960 год")}}
    {{tocItem("lidija_seljagina/inspector-2", "Пальцы пианиста", "1960 год")}}
    {{tocItem("lidija_seljagina/ir-2-9", "Находчивость", "1960 год")}}
    {{tocItem("lidija_seljagina/ir-2-10", "Ах, времена, времена…", "1961 год")}}
    {{tocItem("lidija_seljagina/inspector-3", "Прозрение", "1961 год")}}
    {{tocItem("lidija_seljagina/ir-2-11", "Не сойти с лыжни", "1961 год")}}
    {{tocItem("lidija_seljagina/ir-2-12", "Слухи", "1961 год")}}
    {{tocItem("lidija_seljagina/ir-2-13", "Помог", "1962 год")}}
    {{tocItem("lidija_seljagina/bio-30", "Горячее сердце", "1962 год")}}
    {{tocItem("lidija_seljagina/inspector-4", "Розовые очки", "1962 год")}}
    {{tocItem("lidija_seljagina/ir-2-14", "Не потеряй надежду", "1962 год")}}
    {{tocItem("lidija_seljagina/bio-31", "Начало пути", "1962 год")}}
    {{tocItem("lidija_seljagina/ir-2-15", "Наши дети", "1962 год")}}
    {{tocItem("lidija_seljagina/ir-2-16", "Ах уж эти дагестанцы!", "1963 год")}}
    {{tocItem("lidija_seljagina/inspector-5", "Оставила позиции", "1963 год")}}
    {{tocItem("lidija_seljagina/bio-32", "Несмирившаяся", "1963 год")}}
    {{tocItem("lidija_seljagina/ir-3-1", "Неожиданное замужество", "1963 год")}}
  </ul>

  {% filter prose("short") %}
    С октября 1964 года по 10 ноября 1982 года Государством руководил Леонид Ильич Брежнев.
  {% endfilter %}

  <ul class="page__toc toc toc--collection">
    {{tocItem("lidija_seljagina/ir-3-2", "Тяжёлая", "Февраль 1965 года")}}
    {{tocItem("lidija_seljagina/ir-3-3", "Отрезанный ломо" + acute + "ть", "1965 год")}}
    {{tocItem("lidija_seljagina/ir-3-4", "Не успели", "1965 год")}}
    {{tocItem("lidija_seljagina/ir-3-5", "Тяжела ты, шапка Мономаха!", "Дек. 1965 г. — март 1966 г.")}}
    {{tocItem("lidija_seljagina/ir-3-6", "За решёткой", "Лето 1967 года")}}
    {{tocItem("lidija_seljagina/bio-33", "Наше первое путешествие", "Лето 1968 года")}}
    {{tocItem("lidija_seljagina/bio-34", "«Хоёсенькие девоськи»", "Ноябрь 1968 года")}}
    {{tocItem("lidija_seljagina/ir-3-7", "Я никогда не оставлю вас одних!", "Январь 1969 года")}}
    {{tocItem("lidija_seljagina/ir-3-8", "Неординарное решение", "Лето 1969 года")}}
    {{tocItem("lidija_seljagina/ir-3-9", "Странное исчезновение <small>или</small> Друг Мухтар", "Лето 1969 года")}}
    {{tocItem("lidija_seljagina/bio-35", "Два братишки мишки", "Декабрь 1969 года")}}
    {{tocItem("lidija_seljagina/bio-36", "Непосредственность", "1969 год")}}
    {{tocItem("lidija_seljagina/ir-3-10", "Детская логика", "1970 год")}}
    {{tocItem("lidija_seljagina/bio-37", "Анютины лягушата", "1970 год")}}
    {{tocItem("lidija_seljagina/ir-3-11", "На чужой каравай…", "1970 год")}}
    {{tocItem("lidija_seljagina/ir-3-12", "Две Светланы", "1970 год")}}
    {{tocItem("lidija_seljagina/ir-3-13", "Лёгкая и изящная", "1970 год")}}
    {{tocItem("lidija_seljagina/ir-3-14", "Пошутил", "1970 год")}}
    {{tocItem("lidija_seljagina/bio-38", "Рыбалка", "Лето 1971 года")}}
    {{tocItem("lidija_seljagina/bio-39", "Кактус", "Осень 1971 года")}}
    {{tocItem("lidija_seljagina/bio-40", "Бахчисарайский фонтан", "1971 год")}}
    {{tocItem("lidija_seljagina/ir-3-15", "Новенький и любименький", "1972 год")}}
    {{tocItem("lidija_seljagina/bio-41", "Первое самостоятельное путешествие в Белоостров", "Осень 1972 года")}}
    {{tocItem("lidija_seljagina/bio-42", "Первое наказание первой учительницы", "1972 год")}}
    {{tocItem("lidija_seljagina/bio-43", "Размышления Алёнки по поводу приёмов воспитания первоклашек", "1972 год")}}
    {{tocItem("lidija_seljagina/inspector-6", "Вольнонаёмная", "1973 год")}}
    {{tocItem("lidija_seljagina/bio-44", "Вместо ёлочки — сосна", "1974 год")}}
    {{tocItem("lidija_seljagina/inspector-7", "Предупреди ребёнка сам", "1974 год")}}
    {{tocItem("lidija_seljagina/inspector-8", "Заяц на пеньке", "1974 год")}}
    {{tocItem("lidija_seljagina/inspector-9", "В плавках по зимнему городу", "1974 год")}}
    {{tocItem("lidija_seljagina/inspector-10", "Откупной от задержанного", "1974 год")}}
    {{tocItem("lidija_seljagina/inspector-11", "Повезло", "1974 год")}}
    {{tocItem("lidija_seljagina/bio-45", "Кнопка", "С 1975 года")}}
    {{tocItem("lidija_seljagina/inspector-12", "Зам. прокурора К.", "1975 год")}}
    {{tocItem("lidija_seljagina/inspector-13", "Ложный вызов", "1975 год")}}
    {{tocItem("lidija_seljagina/inspector-14", "Рейд по подвалам в Сестрорецке", "1975 год")}}
    {{tocItem("lidija_seljagina/bio-46", "Задержание", "1976 год")}}
    {{tocItem("lidija_seljagina/inspector-15", "Закон — что дышло…", "1976 год")}}
    {{tocItem("lidija_seljagina/ir-3-16", "Судьба мечты", "1976 год")}}
    {{tocItem("lidija_seljagina/bio-47", "Ворона, голубь, Тюпка и Путька", "1976 год")}}
    {{tocItem("lidija_seljagina/inspector-16", "Внеплановый выезд", "1977 год")}}
    {{tocItem("lidija_seljagina/inspector-17", "Бомбочка", "1977 год")}}
    {{tocItem("lidija_seljagina/inspector-18", "Чувство опасности", "1978 год")}}
    {{tocItem("lidija_seljagina/inspector-19", "«Тихий» мальчик и Колька", "1978 год")}}
    {{tocItem("lidija_seljagina/inspector-20", "Новенький в интернате", "1978 год")}}
    {{tocItem("lidija_seljagina/inspector-21", "Заложница системы", "1978 год")}}
    {{tocItem("lidija_seljagina/inspector-22", "Ложная взрослость <small>или</small> Заблудившаяся", "1978 год")}}
    {{tocItem("lidija_seljagina/inspector-23", "Последняя электричка", "1978 год")}}
    {{tocItem("lidija_seljagina/inspector-24", "Сюрприз", "1978 год")}}
    {{tocItem("lidija_seljagina/ir-4-1", "По лестнице жизни", "1970&hairsp;–&hairsp;1978 гг.")}}
    {{tocItem("lidija_seljagina/ir-4-2", "Особые люди", "1978 год")}}
    {{tocItem("lidija_seljagina/inspector-25", "Нестандартный сержант", "1978 год")}}
    {{tocItem("lidija_seljagina/inspector-26", "Знания, от которых содрогнётся душа", "1978 год")}}
    {{tocItem("lidija_seljagina/ir-4-3", "Единственный у родителей", "1978 год")}}
    {{tocItem("lidija_seljagina/inspector-27", "Закрытый интернат", "1979 год")}}
    {{tocItem("lidija_seljagina/ir-4-4", "Жизнь продолжается", "1979 год")}}
    {{tocItem("lidija_seljagina/bio-48", "С молоком матери", "1980 год")}}
    {{tocItem("lidija_seljagina/inspector-28", "Чтобы знали все, что у меня есть отец", "1980 год")}}
    {{tocItem("lidija_seljagina/inspector-29", "Чёрный кот", "1980 год")}}
    {{tocItem("lidija_seljagina/inspector-30", "Убит шлагбаумом", "1980 год")}}
    {{tocItem("lidija_seljagina/inspector-31", "Жили-были конюх и дворник", "1980 год")}}
    {{tocItem("lidija_seljagina/inspector-32", "Попробуй только принеси сюда дитя…", "1981 год")}}
    {{tocItem("lidija_seljagina/inspector-33", "Эх, Пашка…", "1981 год")}}
    {{tocItem("lidija_seljagina/ir-4-5", "Огурчики", "1981 год")}}
    {{tocItem("lidija_seljagina/inspector-34", "Ночная встреча", "1982 год")}}
    {{tocItem("lidija_seljagina/inspector-35", "Парадокс", "1982 год")}}
    {{tocItem("lidija_seljagina/inspector-36", "Осторожно! Больной!", "1982 год")}}
    {{tocItem("lidija_seljagina/inspector-37", "Свидетель", "1982 год")}}
    {{tocItem("lidija_seljagina/bio-49", "Мурка, Гоша, Черныш и Последыш", "1982 год")}}
    {{tocItem("lidija_seljagina/ir-4-6", "Не зови меня, мама", "1982 год")}}
    {{tocItem("lidija_seljagina/bio-50", "От Ленинграда до Арзамаса", "1982 год")}}
  </ul>

  {% filter prose %}
    В период с ноября 1982 года по 9 февраля 1984 года страной руководил Юрий Владимирович Андропов.
  {% endfilter %}

  <ul class="page__toc toc toc--collection">
    {{tocItem("lidija_seljagina/ir-4-7", "Давайте помянем…", "1983 год")}}
  </ul>

  {% filter prose("short") %}
    В период с февраля 1984 года по 10 марта 1985 года страной руководил Константин Устинович Черненко.
  {% endfilter %}

  {% filter prose("short") %}
    В период с марта 1985 года по 25 декабря 1991 года Советским Союзом руководил Михаил Сергеевич Горбачёв.
  {% endfilter %}

  <ul class="page__toc toc toc--collection">
    {{tocItem("lidija_seljagina/bio-51", "Прогулка под дождём", "1986 год")}}
    {{tocItem("lidija_seljagina/bio-52", "Чапа и Тортилла", "С 1987 года")}}
    {{tocItem("lidija_seljagina/inspector-38", "Защитная реакция словом", "1988 год")}}
    {{tocItem("lidija_seljagina/bio-53", "Память прощания", "1989 год")}}
    {{tocItem("lidija_seljagina/bio-54", "Встреча с НЛО и её последствия", "1990 год")}}
    {{tocItem("lidija_seljagina/bio-55", "Багира и Черныш", "С 1990 года")}}
    {{tocItem("lidija_seljagina/bio-56", "Будем жить", "Осень 1990 года")}}
    {{tocItem("lidija_seljagina/bio-57", "Продовольственные чеки (карточки)", "1990&hairsp;–&hairsp;1991 гг.")}}
    {{tocItem("lidija_seljagina/bio-58", "Откуда питон?", "1991 год")}}
    {{tocItem("lidija_seljagina/ir-4-8", "Копи силы", "1991 год")}}
    {{tocItem("lidija_seljagina/bio-59", "Последняя денежная реформа в СССР", "1991 год")}}
    {{tocItem("lidija_seljagina/bio-60", "«Скорая» не выедет", "1991 год")}}
  </ul>

  {% filter prose %}
    В период с 12 июня 1991 года по 31 декабря 1999 года руководителем Российской Федерации был Борис Николаевич Ельцин.
  {% endfilter %}

  <ul class="page__toc toc toc--collection">
    {{tocItem("lidija_seljagina/bio-61", "Господи, прости нас грешных…", "1992 год")}}
    {{tocItem("lidija_seljagina/bio-62", "Приватизационные чеки (ваучеры)", "1992 год")}}
    {{tocItem("lidija_seljagina/bio-63", "Нация должна выжить", "1992 год")}}
    {{tocItem("lidija_seljagina/ir-4-9", "Ворона", "1992 год")}}
    {{tocItem("lidija_seljagina/bio-64", "Чай в кафе", "1992 год")}}
    {{tocItem("lidija_seljagina/bio-65", "Двадцать так двадцать", "1992 год")}}
    {{tocItem("lidija_seljagina/bio-66", "Первая денежная реформа в России", "1993 год")}}
    {{tocItem("lidija_seljagina/bio-67", "«Скорая» без транспорта", "Январь 1994")}}
    {{tocItem("lidija_seljagina/bio-68", "Ушастый спаситель", "1994 год")}}
    {{tocItem("lidija_seljagina/bio-69", "Вовлечение", "1994 год")}}
    {{tocItem("lidija_seljagina/ir-4-10", "Неожиданные дачники", "1995 год")}}
    {{tocItem("lidija_seljagina/bio-70", "Вчера миллион, а сегодня — шесть", "1997 год")}}
    {{tocItem("lidija_seljagina/bio-71", "Вторая денежная реформа в России и Армия Спасения", "1998 год")}}
    {{tocItem("lidija_seljagina/ir-4-11", "Тайна", "1999 год")}}
    {{tocItem("lidija_seljagina/bio-72", "Ураган над Санкт-Петербургом", "1999 год")}}
  </ul>

  {% filter prose("short") %}
    С марта 2000 года Президентом Российской Федерации избран Владимир Владимирович Путин.
  {% endfilter %}

  <ul class="page__toc toc toc--collection">
    {{tocItem("lidija_seljagina/bio-73", "Весенний визит", "2000 год")}}
    {{tocItem("lidija_seljagina/bio-74", "Рыжий Васька", "2001 год")}}
    {{tocItem("lidija_seljagina/bio-75", "Где ты, Данка?", "2001&hairsp;–&hairsp;2012 гг.")}}
    {{tocItem("lidija_seljagina/bio-76", "Данкины кабачки", "2002 год")}}
    {{tocItem("lidija_seljagina/bio-77", "Рябушка", "2003 год")}}
    {{tocItem("lidija_seljagina/chronicle-4-97", "Я в свободной живу стране", "2003 год")}}
    {{tocItem("lidija_seljagina/bio-78", "Мы — дети неоглядного неба", "2003 год")}}
    {{tocItem("lidija_seljagina/bio-79", "Бог знает, что делает", "2003 год")}}
    {{tocItem("lidija_seljagina/bio-80", "С изюминкой", "2003 год")}}
    {{tocItem("lidija_seljagina/ir-4-12", "Крыска Лариска и компания", "2005 год")}}
  </ul>
{% endblock %}
