{% extends template %}

{% set title = "У платформы Александровская" %}
{% set workdate = "06.02.2009" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    Граф Александр хозяином был прежде
    И церковь заложил, как оберег.
    Молясь и каясь, жил народ в надежде,
    Но век двадцатый храм не уберёг.

    Сегодня снова на священном месте
    Для странников и местных прихожан
    Сияет купол как маяк Надежде,
    Где можно душу излечить от ран.
  {% endfilter %}
{% endblock %}
