{% extends template %}

{% set title = "Маргарите Петровне Журавлёвой" %}
{% set workdate = "10.08.2009" %}
{% set pubdate = "05.11.2017" %}

{% block preface %}
  {% filter ins %}
    {% filter short %}
      Заведующая библиотекой посёлка Солнечное Курортного района Санкт-Петербурга.
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter poem %}
    Золотые бусинки местечка
    В ожерелье края соберёшь.
    И промолвишь тёплое словечко
    Так, что душу в трепет приведёшь.

    Видно, ты связной идёшь по жизни.
    Цель твоя — объединять сердца.
    Миссия твоя — служить Отчизне
    С помощью волшебного словца.

    Рита, Маргариточка Петровна,
    В Солнечном — и с солнечной душой.
    У залива Финского просторно
    Нас встречает зал читальный твой.

    И сегодня, в этот день рожденья,
    Вместо книг несём тебе цветы,
    Чтобы ты запомнила мгновенья
    Нашей бесконечной теплоты,

    Чтобы ты сама в себе открыла
    Множество задумок и побед.
    Чтобы ты ещё нам подарила
    Новый, неразгаданный секрет.

    Рита, Маргариточка Петровна,
    В Солнечном и с солнечной душой.
    У залива Финского просторно
    Нас встречает зал читальный твой.
  {% endfilter %}
{% endblock %}
