{% extends template %}

{% set title = "Зеленогорск" %}
{% set workdate = "02.05.2009" %}
{% set pubdate = "05.11.2017" %}

{% block preface %}
  {% filter ins %}
    {% filter prose("short") %}
      Впервые упоминается в начале XVI века как деревня Терийоки. Своё название деревня получила от речки, на которой стояла. Существуют два толкования названия: от Терва Йоки — «смоляная река» — или Терий Оки — «тетеревиная река».
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter poem %}
    Терийоки — Тервайоки…
    Разгони, Господь, тревоги…
    Ведь с шестнадцатого века
    То название пошло.
    То ли речка смоляная,
    То ли тетеревиная…
    А на речке — деревенька
    И обычное житьё.

    А сегодня — град зелёный
    Музыкальной дорог школой,
    Куполами храмов светлых.
    И других приходов ряд.

    И шумя своей листвою,
    Ароматною хвоёю
    Зазывает всех на берег
    В свой роскошный дивный парк.
  {% endfilter %}
{% endblock %}
