{% extends template %}

{% set title = "Светлой Памяти Нины Мичулис" %}
{% set workdate = "09.04.2013" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    Дорогая Нина Мичулис,
    Так загадочно симпатична,
    Удивительна, как каприччио.
    На слуху твоё имя публично.

    Удивлялась советам после.
    Выжить было тогда нелегко.
    Я была у тебя званым гостем,
    Вкусно соевое молоко.

    Я была у тебя в квартире,
    Что с искусственными цветами.
    В полумраке, в неведомом мире
    Ты светилась чудными мирами.

    А уж взяв стихи мои на дом,
    А потом возвращая их мне,
    Ты дала мне сто долларов разом
    Для издания книги в стране.

    Получив совет экстрасенса,
    Попросила вернуть их назад.
    Я вернула заветные «пенсы» —
    А стихи пусть в столе полежат.

    Пришло время — и зазвучало…
    Что ж, не всё можно сразу объять.
    Только жалко. Тебя не стало.
    Ты умела меня понимать.

    Мы теряем близких порою.
    Просто, кажется, смерть далека.
    И шумят деревья листвою,
    И натужно гудят провода.
  {% endfilter %}
{% endblock %}
