{% extends template %}

{% set title = "«Ничего, что осень за окном…»" %}
{% set workdate = "22.10.2011" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    Ничего, что осень за окном,
    Что наряд багряный разлетится.
    Он укроет золотым ковром
    Землю; и тепло в ней сохранится.

    Не горюй о прошлом, не грусти,
    Ведь тепло в душе твоей таится…
    А печаль ты в просинь отпусти —
    С листопадом пусть она кружится.

    Ты дождись, придёт к тебе весна.
    Вновь увидишь радостные лица.
    А печаль пусть памятью светла,
    И тепло в душе твоей хранится.
  {% endfilter %}
{% endblock %}

{% block addition %}
  <a class="page__addition" href="https://vk.com/l_sel?w=wall-155907543_11" target="_blank" rel="nofollow">Послушать аудиоавтограф</a>
{% endblock %}
