{% extends template %}

{% set title = "Ольге Григорьевне Растворовой на сороковины" %}
{% set workdate = "14.02.2010" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    Здесь скромный буклетик, в нём восемь стихов,
    И все — о родимом местечке.
    В нём столько тепла и волнительных слов —
    У каждого вздрогнет сердечко.

    Ах, если бы знать, что за месяц всего,
    За месяц ухода из мира,
    Она в этом зале дарила тепло,
    Свой скромный буклетик дарила.

    И вот он сейчас сиротливо лежит,
    Лежит на столе сиротливо…
    Хозяйка ушла, а в нём восемь стихов
    Остались для жизни, для Мира.

    Давайте помянем. И свечи зажжём,
    Чтоб память в нас долго хранила
    Сердечные строчки о крае своём.
    В них прячется дивная сила.
  {% endfilter %}
{% endblock %}
