{% extends template %}

{% set title = "«Влюблённый в свой край, он смог заглянуть…»" %}
{% set workdate = "04.02.2010" %}
{% set pubdate = "05.11.2017" %}

{% block preface %}
  {% filter epigraph %}
    {% filter poem %}
      Незаметно, скромно, деловито
      Шёл по полю жизни человек.
      И душа его была открыта
      Для добра и творческих побед.
    {% endfilter %}
  {% endfilter %}

  <p class="art__dedic">Памяти Николая Андреевича Шлиппенбаха</p>
{% endblock %}

{% block content %}
  {% filter poem %}
    Влюблённый в свой край, он смог заглянуть
    Каждому дому в лицо.
    В книге единой сумел отразить
    Житейское наше кольцо.

    За скромность и честность наград не дают.
    Но так создала нас природа —
    И стала наградой за верность и труд
    Вечная память народа.
  {% endfilter %}
{% endblock %}
