{% extends template %}

{% set title = "«Да что вы, люди добрые, очнитесь…»" %}
{% set workdate = "22.06.2014" %}
{% set pubdate = "05.11.2017" %}

{% block preface %}
  {% filter ins %}
    {% filter prose("short") %}
      Январь 2014 года. Неожиданно для России Украина внесла коррективы в школьные учебники по истории, где вероломно для всего мира утверждалось, что Россия захватила Украину и что Германия не нападала на Россию. И этими фантазиями внесла большую смуту в мир и разожгла в своей стране гражданскую войну.
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter poem %}
    Да что вы, люди добрые, очнитесь!
    Как можно было мысли допустить?
    Германия напала на Россию —
    И этого никак не отменить.
  {% endfilter %}
{% endblock %}
