{% extends template %}

{% set title = "Сестрорецк" %}
{% set workdate = "04.05.2009" %}
{% set pubdate = "05.11.2017" %}

{% block preface %}
  {% filter ins %}
    {% filter prose %}
      Земли, на которых расположен Сестрорецк, до XVIII века принадлежали Швеции и являлись частью деревни Куоккало. Современный Сестрорецк основан в 1714 году Петром I, тогда же он и получил это название.
      Древнейший из сохранившихся до наших дней топоним Курортного района — река Сестра — известен с 1323 года. Первоначальная русская форма названия — Сестрея — возможно, произошла от карельского названия «Сиестаройа» — «Черносмородинная речка». Есть и другие толкования.
      Второе, финское, название — Рейайоки («пограничная река») — река получила, когда по ней проходила граница Швеции и Новгорода.
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter poem %}
    Черносмородинная речка, а по-карельски — Сиестарайа.
    А вот по-фински — Рейайоки, как будто бы уже вторая…
    На самом деле — всё одна:
    Сестрея, а потом — Сестра.
    А в посёлке Систербек, что в устие реки Сестры,
    Вели торговлю ниеншанцы, а летом — даже до зари.

    Век был семнадцатый тогда,
    Здесь шведы были господа…
    И только позже, через век,
    Исчезнет бывший Систербек…

    А часть Куокколы до устья составит новый городок,
    И тишину рассветной сини разбудит заводской гудок,
    И будет славен Сестрорецк — и оружейников работой,
    Дубков прекрасною природой.

    Со стороны одной — залив,
    Напротив — озеро Разлив
    И устье той реки Сестры,
    Что пограничною была,
    Вдоль Белоострова прошла
    От Чёрной речки и в залив.
  {% endfilter %}
{% endblock %}
