{% extends template %}

{% set title = "У беседки Фёдора Шаляпина" %}
{% set workdate = "03.01.2009" %}
{% set pubdate = "05.11.2017" %}

{% block preface %}
  {% filter epigraph %}
    {% filter poem %}
      В пожелтевших афишах Курзала
      Это имя так часто мелькало.
      А раскатистый бас из беседки
      Приводил в трепетание ветки.
    {% endfilter %}
  {% endfilter %}

  {% filter ins %}
    {% filter prose("short") %}
      У санатория «Сестрорецкий Курорт» недалеко от Сестрорецкого Курзала частично сохранилась беседка, где часто звучал бас Фёдора Шаляпина.
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter poem %}
    Шаляпин… и летят божественные звуки…
    Из прошлого встаёт так чётко силуэт,
    И к небу вскинуты его большие руки…
    По ним, как по мостам, тепло уходит в свет.

    И крепок, и могуч, величественно ярок,
    Его могучий бас волну угомонил.
    А песенный напев, необычайно жарок,
    К беседке в Сестрорецк полгорода сманил.
  {% endfilter %}
{% endblock %}
