{% extends template %}

{% set title = "Горская" %}
{% set workdate = "08.01.2010" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    А на Горской — пригорочки: то горушки, то горочки.
    То берёзки, то ёлочки, дач вельможных парад…
    Дипломаты, и лекари, и бароны, и пекари,
    И молочной продукции — целой мызы отряд.

    Всё, конечно, меняется, продают — покупается.
    И истоки теряются. Стенбок-Фермор иль кто…
    До него граф Шувалов был, Стенбок-Фермор надел купил.
    Проиграл мызу целую. Да, на скачках, и что?..

    Врангель жил здесь с семьёй своей. Было много мирских потерь.
    Был застрелен на улице — лишь за то, что барон…
    Емельянов собрал отряд. В двадцать первом мишень — Кронштадт.
    И кадетский мятеж ребят был тогда устранён…

    А на Горской — пригорочки: то горушки, то горочки.
    И уходит в кольцо дорог тайна прежних тревог…
  {% endfilter %}
{% endblock %}
