{% extends template %}

{% set title = "Святой заложник" %}
{% set workdate = "19.08.2015" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    О часть Руси, окраина её!
    Ты, Украина, — вечные страданья…
    За красоту, за шахты, за тепло
    Ты — под прицелом душераздиранья!!!

    Но как вам быть? Как вам соединиться?!
    Быть может, на три части разделиться —
    И к миру общему по-своему стремиться?!
    Но прекратить в безумстве находиться!
    Ведь в горе задыхается страна…

    Как свой народ самим же убивать?!
    Страдают, плачут раненые дети.
    И уж молчат убитые, молчат!
    И корчаться калеки в лихолетье…

    Решай скорей, красивая страна!
    Кто станет рядом — талисман надёжный?!
    И в чьих когтях, что держат не щадя,
    Ты оказалась, как святой заложник?
  {% endfilter %}
{% endblock %}
