{% extends template %}

{% set title = "«Не зря прошёлся по Планете…»" %}
{% set workdate = "18.08.2009" %}
{% set pubdate = "05.11.2017" %}

{% block preface %}
  <p class="art__dedic">Владимиру Петровичу Кулешову, одному из пяти лучших флористов мира</p>
{% endblock %}

{% block content %}
  {% filter poem %}
    Не зря прошёлся по Планете,
    Оставив всполохи зарниц.
    И любовались даже дети
    Движением твоих ресниц.

    Вдыхая аромат цветочный,
    Твой взгляд стал зорче и нежней.
    Нужней Планете хрупкой очень,
    Которой чистота важней.

    И украшая Землю светом,
    Ты — сам оазис доброты.
    И, словно Солнышко, при этом
    Полны тепла твои черты.

    А ты прошёлся по Планете,
    Осуществил свою мечту,
    Запомнил ярче всех на Свете
    Индонезийскую звезду.

    Погрей нас, Солнышко, подольше
    Своим присутствием земным.
    Ну ладно. Можешь стать потоньше.
    Ты всё равно неотразим.

    А ты прошёлся по Планете,
    Осуществил свою мечту,
    Запомнил ярче всех на Свете
    Индонезийскую звезду.
  {% endfilter %}
{% endblock %}
