{% extends template %}

{% set title = "«Уходит эпоха, с ней взглядом прощаюсь…»" %}
{% set workdate = "02.02.2010" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    Уходит эпоха, с ней взглядом прощаюсь.
    Невольно душою к друзьям обращаюсь:
    Пока ещё живы, храните друг друга,
    Пусть будут у каждого друг и подруга.

    Держитесь, ребята, и связь не теряйте.
    Из нашего прошлого опыт черпайте.
    Пока ещё живы, храните друг друга,
    Пусть будут у каждого друг и подруга.
  {% endfilter %}
{% endblock %}
