{% extends template %}

{% set title = "«По Земле протопала немало…»" %}
{% set workdate = "27.08.2011" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    По Земле протопала немало.
    Семьдесят исполнилось уже.
    Думала, что всё здесь оставляла,
    А пришлось кружиться в кураже.

    Что ж, ребята, раз такое дело,
    Жизнь нас забирает в Интернет.
    Я почти на цыпочках, несмело,
    Выползаю в люди, в Новый свет.

    Но конфуз случился на Планете —
    Стал компьютер всем необходим.
    Даже очень маленькие дети
    Вынуждены подружиться с ним.

    В удивленье замерла Планета,
    Не видать старушек у окна.
    Видно, в паутине Интернета
    Мир решит проблемы в дважды два.

    Не хочу одна здесь оставаться,
    Как старинный экспонат земной.
    И иду к компьютеру сдаваться,
    Обучаться грамоте иной.
  {% endfilter %}
{% endblock %}
