{% extends template %}

{% set title = "«Дорожите, ребята, властью…»" %}
{% set workdate = "05.04.2015" %}
{% set pubdate = "05.11.2017" %}
{% set next = "lidija_seljagina/fc-2-1" %}

{% block content %}
  {% filter poem %}
    Дорожите, ребята, властью,
    Той, что держит в России мир.
    Да, конечно, есть разные факты,
    Но зато — не «блажной экстрим»:

    Утром можно рассвет свой встретить,
    Ребятишек своих разбудить,
    На вопросы смешные ответить,
    Тёплым завтраком накормить.

    И, нацелясь на мира познанье,
    Всю земную любовь принять.
    Это здорово — ранним утром
    Тишину земную встречать!
  {% endfilter %}
{% endblock %}
