{% extends template %}

{% set title = "Памяти 1961–1962 гг." %}
{% set workdate = "25.11.2011" %}
{% set pubdate = "05.11.2017" %}

{% block heading %}
  <h1 class="art__title">Памяти 1961&hairsp;–&hairsp;1962 гг.</h1>
{% endblock %}

{% block content %}
  {% filter poem %}
    Над Двиною угасает свет,
    Летний вечер тишину приносит.
    А меня, девчонку в двадцать лет,
    Витебляне, к вам судьба заносит.

    Косы ниже пояса волной,
    А глаза горят, как звёзды в небе.
    Смуглою и стройною такой…
    Вспоминаю всё, как быль и небыль.

    Есть законы жизни, Боже мой,
    Может, здесь бывали мои предки.
    И совсем не зря порой ночной
    Вспоминаю встречи, хоть и редки.

    Я по просьбе заводских коллег
    Приезжала в цех ваш молодёжный.
    Ну а ты, Анищенко Олег,
    Обо мне заботился тревожно…

    Трепетом и нежностью маня,
    Шелест ветра бередил нам души.
    В Ленинград ты провожал меня
    И тревогой сердца не нарушил.

    Как приятно душу бередить,
    Записную книжечку листая…
    Памятью по Витебску бродить,
    Юности своей тепло вдыхая.
  {% endfilter %}
{% endblock %}
