{% extends template %}

{% set title = "«Уходит век — а сколько было бед…»" %}
{% set workdate = "06.02.2009" %}
{% set pubdate = "05.11.2017" %}

{% block preface %}
  {% filter ins %}
    {% filter short %}
      На фотовыставке Виктора Михайловича Фёдорова.
    {% endfilter %}

    {% filter prose("short") %}
      Зима, одинокий мост, ибо русло реки обошло его и вода взяла другое направление. Кругом не видно растительности, кроме двух деревьев, стоящих близко друг к другу. Одно из них — погибающее на корню, а ствол другого — сильный, он тянется к небу, как к свету Надежды.
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter poem %}
    Уходит век — а сколько было бед…
    Уходит век, как умирает древо.
    Но остаётся молодой побег
    Ольхи, чьё семя чистит воду смело.

    Вода — она сильна: оставив мост,
    Взяла совсем другое направленье.
    Вопрос-загадка был совсем не прост,
    И мы обходим место в изумленье.
  {% endfilter %}
{% endblock %}
