{% extends template %}

{% set title = "Светлой памяти Владимира Петровича Кулешова" %}
{% set workdate = "06.01.2013" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    Отсветило Солнышко Земное,
    Догорел последний Солнца Луч.
    И лицо естественно-простое
    Улыбнулось Миру из-за туч.

    Жаль с тобою, друг мой, расставаться.
    И с поникшей головой скорблю.
    Где бы только силушки набраться,
    Осознать судьбинушку твою!
  {% endfilter %}
{% endblock %}
