{% extends template %}

{% set title = "«У каждого в жизни есть даты беды…»" %}
{% set workdate = "27.01.2010" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter epigraph %}
    {% filter poem("quote") %}
      «Стоит ли плакать в день Памяти о жертвах Блокады?»

      [Из диалога на лавочке около жилого дома]
    {% endfilter %}
  {% endfilter %}

  {% filter poem %}
    У каждого в жизни есть даты беды.
    Есть даты потерь своих близких.
    В конце концов ищем мы корни свои,
    Словно на золотоприисках.

    Ведь каждый в душе помнит маму свою,
    Какая б ни слыла молва.
    И в памяти нашей, как в ратном бою,
    Подкорковая канва…

    Она сохраняет нам лучшие дни,
    Вчерашние в детстве моём.
    И лучик любви согревает меня,
    Где рядом я с мамой вдвоём.

    Живёт в нас сегодня блокадный синдром:
    И хлебные крошки сберечь,
    И если на пенсию трудно прожить —
    То надобно что-то испечь.

    А если и есть — то хоть крупку собрать
    На всякий момент перемен.
    Сколько же надо нам горя принять,
    Чтоб жизнь получить взамен!

    А там… как хотите — хоть плачьте, хоть нет,
    Хоть просто в душе — сквозняк…
    Мы в гены отдали блокадный синдром.
    Его не изъять никак.
  {% endfilter %}
{% endblock %}
