{% extends template %}

{% set title = "Светлой памяти Анны Фёдоровны Чандыловой" %}
{% set workdate = "10.12.2011" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    Наверно, страшно было спать порой,
    Ведь очень часто поле боя снилось,
    И стон лежащих на земле сырой,
    И вой снарядов… В голове роилось…

    Проходит время, реже стали сны.
    Но память часто душу леденила.
    Замолкни, память, дайте тишины,
    Чтоб раны хоть чуть-чуть не бередило!

    Ты поняла: войну забыть нельзя…
    И в тишине пришло к тебе решенье,
    Что медсестрою будешь навсегда,
    В беду попавшим — ангелом спасенья.

    Ну что ж поделать, твой пришёл черёд,
    В Миры Иные — время отправленья.
    Мы будем помнить твой земной полёт,
    Твой честный путь и мудрые решенья.

    Мы отдаём тебе земной поклон
    За эту стойкость, преданность и веру,
    Что будет всё однажды хорошо.
    И лишь бы небо, небо голубело.
  {% endfilter %}
{% endblock %}
