{% extends template %}

{% set title = "Памяти Ольги Григорьевны Растворовой" %}
{% set workdate = "13.01.2010" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    Так трудно поверить, что к нам не придёт никогда.
    Ведь только вчера говорили…
    Мгновенно в строю вмиг погас огонёк навсегда.
    Потухло, угасло светило.

    И трудно поверить, что Ваша мирская чета,
    Как лучший пример к подражанью,
    Уже не придёт к нам — такая случилась беда…
    Но весть неподвластна сознанью.

    А может, лишь кома усталое тело взяла
    На отдых от жизни активной?
    Угасла надежда, звездою на небе взошла
    Душа такой женщины сильной.
  {% endfilter %}
{% endblock %}
