{% extends template %}

{% set title = "Репино" %}
{% set workdate = "28.04.2009" %}
{% set pubdate = "05.11.2017" %}

{% block preface %}
  {% filter ins %}
    {% filter prose %}
      Одно из древнейших поселений этого района, упоминается с XVI века. Ранее земли этой рыболовецкой деревни простирались до устья реки Сестры.
      Финское название — Куоккала — происходит, по одной из версий, от слова «Каукку», обозначающего крючок для ловли рыбы. Современное название дано в честь великого русского художника Ильи Ефимовича Репина, жившего в Куоккале несколько десятилетий вплоть до кончины 29 сентября 1930 года в возрасте 86 лет.
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter poem %}
    Куоккала, Куоккала — смешинка в бороде.
    Крючок с приманкой брошенный барахтался в воде…
    Ловись же, рыбка шустрая. Издревле рыбари,
    С шестнадцатого века аж, старались до зари.

    Куоккала, Куоккала, вдоль устья, до Сестры,
    Раскинулись владения древнейшей той поры.
    Красоты необъятные и неба синева
    Околдовали Репина, свели его с ума.

    Он здесь нашёл пристанище и радость бытия.
    И отразил в картинах тех житейские дела.
    А в память о художнике — волшебнике Пенат —
    Местечко стало Репиным — и каждый встрече рад.
  {% endfilter %}
{% endblock %}
