{% extends template %}

{% set title = "Наш Сестрорецк" %}
{% set workdate = "22.06.2014" %}
{% set pubdate = "05.11.2017" %}

{% block preface %}
  {% filter ins %}
    {% filter prose %}
      Ещё в 1323 году по мирному договору между Великим Новгородом и Швецией граница, разделяющая новгородские и шведские земли, проходила по реке Сестре.
      Исторически установлено, что датой основания города или селения считается первое упоминание в летописи, писцовой книге или в каком-либо ином документальном источнике, подтверждающем его существование в то время.
      Установлено, что селение Систербек упоминается в шведской официальной хронике под 1643 годом, «ноября 20-го дня», в связи с жалобой купцов города Выборга на действия купцов Ниеншанца (основан в 1632 году), подрывающих торговлю Выборга устройством ярмарки в Систербеке на границе с Выборгской губернией, отчего город Выборг терпит большой ущерб в промыслах и торговле.
      Сестрорецк получил своё название от реки Сестры, на которой он расположен в 28 км от Петербурга, примыкая к берегу Финского залива, против Кронштадта.
      Сестра, вытекая из болот, недалеко от своего устья соединяется с речкой Чёрной и, постепенно увеличиваясь, делает крутой поворот с юго-востока на северо-запад и впадает в Финский залив.
      Понимая значение Полтавской победы 27 июня 1709 г., Пётр I назвал её «днём Воскресенья России».
      Безопасность Петербуга не была обеспечена, пока шведы находились в Выборге, поэтому Пётр I придавал большое значение взятию шведской крепости. В результате троекратного штурма в 1710 Выборг был взят.
      Победы над шведами на море — Гангутская битва (1714) и битва при Гренгаме (1720) заставили шведский флот уйти в свои гавани, а русские получили выход на Балтику.
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter poem %}
    Наш Сестрорецк — как младший брат
    У Петербургских вечных врат.
  {% endfilter %}
{% endblock %}
