{% extends template %}

{% set title = "Олегу Кошевому" %}
{% set workdate = "08.06.2011" %}
{% set pubdate = "05.11.2017" %}

{% block preface %}
  <p class="art__dedic">Герою Советского Союза (1926&hairsp;–&hairsp;1943)</p>
{% endblock %}

{% block content %}
  {% filter poem %}
    Недалёко от города Ровеньки
    В сорок третьем году, в феврале,
    Под фашистские жуткие оклики
    Был расстрелян в лесу на заре.

    И семнадцати не было отроду,
    За идею погиб паренёк —
    Краснодонский вожак комсомолии,
    И в глазах — озорной огонёк.

    Ветер-горе кружил над Отчизною,
    К нам в Серово принёс эту весть…
    И в посёлке за речкою Рощинкой
    Его имени улица есть.

    Ах вы, девочки-мальчики юные,
    Ули-Гули и Зои глаза,
    Кошевого Олега — с прищурочкой…
    Всё война, всё война унесла…
  {% endfilter %}
{% endblock %}
