{% extends template %}

{% set title = "Памяти затопленного города Молога" %}
{% set workdate = "16.11.2009" %}
{% set pubdate = "05.11.2017" %}
{% set prev = "lidija_seljagina/resorts" %}
{% set prevTitle = "К предыдущей части книги" %}

{% block content %}
  {% filter poem %}
    Музей затопленной земли
    Из прошлого — Молога.
    И виден город из воды.
    Страшна судьбы дорога.

    А ночью слышится порой
    И стон, и зов на помощь…
    Давно затоплен город мой,
    Давно затоплен город мой,
    Но слышу звуки в полночь…

    И я кричу — как в никуда…
    «Не затопляйте города,
    Не оставляйте города».
  {% endfilter %}
{% endblock %}
