{% extends template %}

{% set title = "Смолячково" %}
{% set workdate = "07.05.2009" %}
{% set pubdate = "05.11.2017" %}

{% block preface %}
  {% filter ins %}
    {% filter prose %}
      До 1939 года посёлок назывался Лаутаранта (в переводе с финского — «плотовый берег») и являлся частью деревни Ино — Инонкуля. Она входила в состав волости Уусикиркко Выборгской губернии (Финляндия). В древности жители южного побережья перебирались на северное на плотах. Вероятно, это место использовалось как гавань.
      В Лаутаранте с 1900 по 1911 творил живописец Серов. Здесь он создавал известные произведения, например, «Похищение Европы». В 1922 году здесь была построена школа.
      В 1948 году посёлок был переименован в честь Героя Советского Союза Феодосия Артемьевича Смолячкова.
      Здесь много детских лагерей, протекает река Приветная, ранее называвшаяся Инонйоки, располагается дача-усадьба психиатра Владимира Михайловича Бехтерева «Тихий берег».
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter poem %}
    Часть деревни Инонкуля Лаутаранта заняла.
    Только речкой Инонйоки разделённая была.
    Перевод — «плотовый берег», а река — Приветная.
    Видно, в месте том была гавань незаметная.

    Но приметил «Тихий берег» очень важный человек —
    И оставил след навечно психиатр прежних лет.
    И художник-пейзажист Гавань ту заметил —
    Десять лет в деревне жил, путь его был светел.

    А весной с птенцами вместе собиралась детвора —
    Дошколята и ребята с петербургского двора…
    Воздух свежий. Берег тихий, первозданная краса.
    Всё так хрупко в этом мире, словно тонкая лоза.

    И ещё одно заметим: стал посёлок уж иной —
    Смолячково. Но так светел и целебен воздух твой!
  {% endfilter %}
{% endblock %}
