{% extends template %}

{% set title = "Владимиру Петровичу Кулешову" %}
{% set workdate = "15.04.2012" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    Наступила следущая дата.
    Нам… восьмой десяток. Боже мой…
    Как же наша жизнь была богата,
    Сколько света видели с тобой!

    Если только в небо заглядеться,
    Если ветра вольного вдохнуть,
    То забьётся веселее сердце
    И намного легче станет путь.

    Подрастает смена — наши дети.
    И судьба страны уж в их руках.
    Дай им Бог пройти дороги эти
    Мудро, не испытывая страх.

    А тебе сегодня я желаю
    Тёплого и солнечного дня,
    Чтоб тебя вниманьем окружала
    Вся твоя любимая родня.
  {% endfilter %}
{% endblock %}
