{% extends template %}

{% set title = "«Полвосьмого утра, а солнце — в оконце…»" %}
{% set workdate = "22.03.2016" %}
{% set pubdate = "05.11.2017" %}

{% block preface %}
  <p class="art__dedic">Александре Семёновне Сарновской</p>
{% endblock %}

{% block content %}
  {% filter poem %}
    Полвосьмого утра, а солнце — в оконце.
    Месяц март на исходе. На пороге — весна.
    Александра Семёновна, мы Вас поздравляем!
    С днём рожденья, родная! И с приходом тепла!

    Чтобы лучик весенний, душу Вам согревая,
    Помогал Вам в пути, ограждая от зла,
    Чтобы дом не пустел, чтобы стол с пирожками
    И с прекрасным вином ожидал нас всегда!

    Так здоровья, родная! Сколько Бог нам отмерил —
    Прошагаем мы рядом, на судьбу не ропща.
    И пусть праздники будут нашей маленькой датой,
    А мы будем встречать их, как всегда, сообща.
  {% endfilter %}
{% endblock %}
