{% extends template %}

{% set title = "«Заглянуло Солнце в оконце…»" %}
{% set workdate = "31.03.2017" %}
{% set pubdate = "05.11.2017" %}

{% block preface %}
  <p class="art__dedic">Нине Васильевне Сайко</p>
{% endblock %}

{% block content %}
  {% filter poem %}
    Заглянуло Солнце в оконце.
    Заглянуло проверить Вас.
    Как живётся? И что жуётся?
    Настроение в этот час?

    Всё в порядке. Апрель на пороге.
    Самый первый апрельский денёк.
    Ждёт Вас радостный и весёлый
    Поздравленья друзей — оберёг.

    С Днём Рожденья! Тепла от родимых!
    Радость встреч — и в душе благодать…
    С Днём Рожденья! Задумка любимых —
    Вас сберечь и тепло Вам отдать.

    А ещё от души Вам желаю
    Воплощенья мечты своей в жизнь!
    С Днём Рожденья я Вас поздравляю!
    Будет жизнь как весенний сюрприз.
  {% endfilter %}
{% endblock %}
