{% extends template %}

{% set title = "Анне Григорьевне Хургиной" %}
{% set workdate = "22.01.2014" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    Я в оконце гляжу: гонит ветер позёмку.
    Наконец-то зима и снежок за окном.
    Я сижу у окна, но душе, как ребёнку,
    Больно только за то, что нет места мне в нём.

    Вот уж время пришло — отказали колени.
    Но душа-то жива, ей так хочется петь!
    Ей, душе, не понять — в ней нет признаков лени, —
    Что энергии просто осталось на треть.

    В этом мире большом я хочу затеряться,
    Полной грудью вздохнуть на развилке дорог.
    Уж не сможет ничто на Земле повторяться.
    Но… однажды шагнуть на родимый порог…

    Эх, как хочется вновь заглянуть в своё детство
    И потрогать порог, что теплом обогрет!
    Станет сердцу тепло, придёт вера в наследство,
    Что есть в мире добро, — и настанет рассвет.

    Пусть последнею мыслью станет вера в надежду,
    Что тепло и добро не покинет людей,
    Что стремленье к познанью есть тропинка, что — между
    Добротою и злом. Путь тернистый по ней.

    Снова вижу рассвет над родною Землёю.
    Просыпается вновь всё живое вокруг.
    И как важно нам всем не забыть, что порою
    Доброта и тепло сохранит всё, мой друг.
  {% endfilter %}
{% endblock %}
