{% extends template %}

{% set title = "Моему сыну" %}
{% set workdate = "26.10.2012" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    Я тебя в дорогу осеню перстами,
    Попрошу у Бога оградить от бед.
    Мира и удачи, добрыми вестями
    Пусть наполнен будет путь твоих побед.

    В жизни всё бывает — спуски и подъёмы.
    И надежда счастья у прикрытых век…
    Но в любое время, как на космодроме,
    Не забудь, дружище, что ты — Человек.

    Пролетает время жизни незаметно.
    Дай Бог тебе встретить на своём пути
    Женщину, что станет верной, неизменной,
    Чтоб земное счастье смог ты обрести.

    А ещё желаю вам дитё родное,
    Чтоб своим вниманьем смог ты их согреть,
    Чтоб на вас смотрело небо голубое,
    Чтоб тепло вам было и хотелось петь.
  {% endfilter %}
{% endblock %}
