{% extends template %}

{% set title = "Моей внучке Ольге" %}
{% set workdate = "28.05.2011" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    Рассвет встаёт перед тобой,
    Жизнь набирает обороты.
    На плечи юные твои
    Легли уж новые заботы.

    Дай Бог, мой друг, тебе в пути
    С душою верной повстречаться,
    Земное счастье обрести
    И в море жизни утверждаться.

    Всё в первый раз, как первый снег,
    И слепит… Ты восторгом дышишь…
    И ты, родной мой человек,
    Мелодии рассвета слышишь.

    Шагай, ни пуха ни пера…
    Жизнь преподносит нам сюрпризы…
    Какая б ни пришла пора —
    Ты победишь судьбы капризы!
  {% endfilter %}
{% endblock %}
