{% extends template %}

{% set title = "«Не ставьте целью жить весьма богато…»" %}
{% set workdate = "20.08.2015" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    Не ставьте целью жить весьма богато —
    Всё это не закончится добром.
    Мир разнолик. Завистники, ребята,
    Вам не дадут иметь богатый дом.
  {% endfilter %}
{% endblock %}
