{% extends template %}

{% set title = "Моей внучке Танюше" %}
{% set workdate = "27.07.2013" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    Ах, Танюшка, Танюшка, — торопливая птица.
    Торопилась стать взрослой, да душе не смириться.
    Ведь, совсем молодая, ты шагнула не глядя…
    И у сына отец есть, а у доченьки — дядя.

    Одного лишь желаю: чтобы жизнь вас сдружила,
    Чтобы вас породнила родниковая жила,
    Чтоб друг другу желали лишь удачи и счастья,
    Выручали друг друга от беды и ненастья.

    Помогли своим деткам выбрать в жизни пути,
    По которым им будет интересно идти.
    Ах, Танюшка, Танюшка, — торопливая птица.
    Торопилась стать взрослой, да душе не смириться.
  {% endfilter %}
{% endblock %}
