{% extends template %}

{% set title = "«Слава Богу, весна на дворе…»" %}
{% set workdate = "31.12.2015" %}
{% set pubdate = "05.11.2017" %}

{% block preface %}
  <p class="art__dedic">Александре Семёновне Сарновской</p>
{% endblock %}

{% block content %}
  {% filter poem %}
    Слава Богу, весна на дворе.
    Греет Солнышко через стекло.
    И вот в этой чудесной поре
    Появилось на свет вновь дитё.

    Крепко встала на ножки девчонка.
    Присмотрелась и цель обрела —
    Стать в дальнейшем всерьёз экономкой.
    В вуз Казанский заявку сдала.

    Это ж надо судьбе так случиться,
    Что приехал за нею солдат —
    Оставалось лишь год дослужиться —
    И забрал он её в Ленинград.

    Всё успела тогда Александра:
    Вуз закончить — и с мужем вперёд…
    Приглянулась завода команда,
    Здесь в дальнейшем судьбу обретёт.

    Стала лучшей невесткой свекрови,
    И сынок уже сам — инженер.
    И не рвутся семейные корни,
    И другим Александра в пример.

    И внучок уже стал кавалером,
    Делом занят и к цели идёт.
    Кропотливым трудом и примером
    Александра всем силы даёт.

    Есть в ней статный, добротный стержень.
    Есть душевный, надёжный магнит.
    И дай Бог Александре быть прежней,
    Чтоб не рвалась житейская нить.

    Пусть Вас встретит весны аромат,
    Ведь природа уже просыпается.
    Каждый близкий за Вас будет рад,
    Если песни о Вас слагаются.

    С Днём Рожденья, моя дорогая!
    Светлых дней Вам, свершенья идей.
    Пусть живёт на Земле не сгорая
    Вера в верную дружбу людей.
  {% endfilter %}
{% endblock %}
