{% extends template %}

{% set title = "Людмиле Михайловне Минаевой" %}
{% set workdate = "18.01.2016" %}
{% set pubdate = "05.11.2017" %}

{% block preface %}
  <p class="art__dedic">Заведующей Центральной библиотекой имени М. М. Зощенко — за многолетний труд</p>
{% endblock %}

{% block content %}
  {% filter poem %}
    Бессребреник душой,
    Труженик России.
    Вложен Вами вклад большой,
    Чтоб стране быть сильной.

    Крепкий духом — кто пришёл
    В этот Мир в крещенье.
    Дай Вам Бог тепла в душе,
    Силы и терпенья.

    И ещё: здоровья Вам,
    Светлых дней весенних,
    Чтоб семья дарила Вам
    Радость и веселье.
  {% endfilter %}
{% endblock %}
