{% extends template %}

{% set title = "«И нежна, и умна, и статна…»" %}
{% set workdate = "19.04.2010" %}
{% set pubdate = "05.11.2017" %}

{% block preface %}
  <p class="art__dedic">Тамаре Павловне Кряжевой</p>
{% endblock %}

{% block content %}
  {% filter poem %}
    И нежна, и умна, и статна,
    И изюминка в голосе есть.
    В жизни всякое было. Да ладно,
    Не об этом сегодня и здесь.

    За тепло нежных рук и сердца,
    За открытость большой души!
    Все спешат к очагу согреться,
    Где всегда все блюда хороши.

    И дай Бог и на долгие лета,
    Чтобы блеск твой в глазах не пропал.
    На Земле есть такая примета:
    Улыбнись отраженью зеркал.
  {% endfilter %}
{% endblock %}
