{% extends template %}

{% set title = "«Поставить цель и выполнить её…»" %}
{% set workdate = "01.04.2016" %}
{% set pubdate = "05.11.2017" %}

{% block preface %}
  <p class="art__dedic">Раисе Николаевне Гараевой</p>
{% endblock %}

{% block content %}
  {% filter poem %}
    Поставить цель и выполнить её —
    Такое, брат, не каждому дано.
    Препятствий много, но ведь цель светла —
    И потому достигнута она.

    Раиса Николаевна! Как быть?
    Какой эпитет можно применить?
    Чтоб не обидеть и не захвалить…
    И остаётся, видимо, одно —
    С Победой Вас! И сохранить его —
    Тот коллектив, что удалось сплотить.
    И в жизнь мечту святую воплотить.
  {% endfilter %}
{% endblock %}
