{% extends template %}

{% set title = "«Вот и Старый Новый год…»" %}
{% set workdate = "11.01.2016" %}
{% set pubdate = "05.11.2017" %}

{% block preface %}
  <p class="art__dedic">Раисе Николаевне Гараевой</p>
{% endblock %}

{% block content %}
  {% filter poem %}
    Вот и Старый Новый год,
    И рожденья дата.
    Поздравляет Вас народ,
    И душа Вам рада.

    Собиратель старины,
    Узнавая корни,
    Мы становимся сильней —
    Или непокорней.

    За серьёзный ценный труд,
    За вниманье к людям
    Вам — здоровья целый пуд
    И хороших буден.

    От души благодарим
    За задумки Ваши,
    Вашу душу озарим
    Поздравленьем нашим.
  {% endfilter %}
{% endblock %}
