{% extends template %}

{% set title = "Моей старшей дочери" %}
{% set workdate = "06.03.2013" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    Мы с тобой доживём до весны
    И до ясного тёплого лета.
    Верь в добро и в хорошие сны,
    Наша песенка вовсе не спета.

    Сохраняй же подвижность, молю!
    Время мчится со скоростью света.
    Обрати к Богу душу свою —
    Мрак исчезнет, придёт час рассвета.

    Только веруй в добро и тепло.
    Пусть Надежда тебя согревает.
    Бог поможет — и станет светло,
    Наше горе с тобою растает.

    Вновь окажемся рядом с тобой
    Средь деревьев весенней порою.
    И залива весёлый прибой
    Даст нам силы продлить жизнь с тобою.

    Ты пройдёшь по желанной Земле.
    Насладишься её ароматом.
    Станешь снова свободной в судьбе,
    Лишь бы Вера была твоя рядом.
  {% endfilter %}
{% endblock %}
