{% extends template %}

{% set title = "Марии Мещерской" %}
{% set workdate = "15.05.2011" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    Дитя природы первозданной,
    Так солнечна душа твоя!
    И сердце бьётся неустанно
    В познанье завтрашнего дня.

    О дева юная! Как будто
    Из века прошлого пришла.
    И мысль мелькнёт уже под утро,
    Что слово верное нашла.

    Прекрасна жизнь, коль веришь в разум,
    И в справедливость, и в любовь.
    Не верь слащавым, с фальшью, фразам
    И душу береги, как новь.

    Дай Бог на жизненном пути
    Друзей надёжных обрести.
  {% endfilter %}
{% endblock %}
