{% extends template %}

{% set title = "Моей младшей дочери" %}
{% set workdate = "27.07.2013" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    На долю твою выпало немало.
    Ох как порой судьбинушка ломала!
    Но ты крепилась, стержень свой держа.
    И сохранилась хрупкая душа.

    Трудна твоя житейская дорога.
    На сердце бесконечная тревога
    За будущее внуков и детей,
    За утвержденье совести людей.

    Так хочется, чтоб твой дальнейший путь
    Стал потеплее. Аккуратней будь.
  {% endfilter %}
{% endblock %}
