{% extends template %}

{% set title = "«Как бы мне не забыть, что настанет шестое…»" %}
{% set workdate = "06.04.2015" %}
{% set pubdate = "05.11.2017" %}

{% block preface %}
  <p class="art__dedic">Тамаре Павловне Кряжевой</p>
{% endblock %}

{% block content %}
  {% filter poem %}
    Как бы мне не забыть, что настанет шестое!
    И не просто шестое, а рождения день.
    Снова май зазвенит, и запахнет весною,
    Настоящей весною день рожденья спешит.

    О, я Вам благодарна за отзывчивость Вашу,
    За способность нести людям радость и свет,
    За стремленье украсить жизнь обычную нашу
    И внести в неё лучик необычных побед.

    Чтобы Вам повезло и чтоб близкие Ваши
    Были рядышком с Вами средь весны и тепла,
    Чтобы мирное небо всегда было над нами
    И в душе не кончалась, а шумела весна!
  {% endfilter %}
{% endblock %}
