{% extends template %}

{% set title = "Ирине Шестипаловой" %}
{% set workdate = "21.07.2017" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    Благодарю за майские цветы.
    Благодарю за летние пионы.
    Дай Бог ещё твоей душе цвести.
    Семье твоей — здоровья и покоя.

    А сыновьям — свой путь найти земной
    И с честью по нему пройти, друг мой.
  {% endfilter %}
{% endblock %}
