{% extends template %}

{% set title = "Семёну Михайловичу Богуславскому" %}
{% set workdate = "20.10.2009" %}
{% set pubdate = "05.11.2017" %}

{% block preface %}
  {% filter ins %}
    {% filter short %}
      Член поэтического клуба «Лукоморье».
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter poem %}
    Что было, то было… увы, не изменишь.
    История наша сурова порой.
    Но если ты молод — душою не дремлешь
    И летом проснёшься с рассветной зарёй.

    Застанешь природу в её пробужденье.
    И сердцем невольно откроешь секрет,
    Что в том первозданном безмолвном рожденье
    Таятся все корни любви и побед.
  {% endfilter %}
{% endblock %}
