{% extends template %}

{% set title = "«Узнаем ли мы вновь с тобой друг друга…»" %}
{% set workdate = "30.10.2012" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    Узнаем ли мы вновь с тобой друг друга?
    Меняют нас с тобой, мой друг, года.
    Те встречи замела шальная вьюга.
    И предстоит ли новая… когда?

    И как бы внешне мы ни изменялись,
    При редких встречах вешнею порой
    Все бабушки в девчонок превращались,
    А дедушки кивали головой.

    И если кто-то вновь исчез из круга,
    Ты сильно не печалься, милый мой.
    Нас всех объединяет память друга
    И память нашей юности с тобой.
  {% endfilter %}
{% endblock %}
