{% extends template %}

{% set title = "Виктору Михайловичу Фёдорову" %}
{% set workdate = "14.11.2009" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    Спасибо, милый друг, за тёплое словечко.
    Как будто сам Гольфстрим проник в моё сердечко.
    А уровень тепла в душе моей поднялся
    И к тайнам бытия невольно прикасался…

    Высокопарность слов! Прости меня, беднягу.
    Пойду-ка я, мой друг, тихонечко прилягу…
  {% endfilter %}
{% endblock %}
