{% extends template %}

{% set title = "Регине Иосифовне Булановой" %}
{% set workdate = "05.02.2010" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    Попечитель наш районный
    И целитель умудрённый —
    С пирожками иль шарлоткой
    Появляется она.
    И её в больнице знают,
    И невольно ожидают,
    И душевно привечают
    Даже чудо-доктора.

    И в родном своём местечке,
    Как магнит, её сердечко
    Собирает ей подобных.
    Вот такие, брат, дела.
    Подравняйтесь, посмотрите
    И пример с неё берите.
    То — Буланова Регина
    С вами рядышком всегда.
  {% endfilter %}
{% endblock %}
