{% extends template %}

{% set title = "«Как хорошо, что в мысли не стреляют…»" %}
{% set workdate = "13.07.2015" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    Как хорошо, что в мысли не стреляют.
    Как хорошо, что в них не попадают.
    А потому мы мысленно шагаем
    К своей мечте…

    И здорово, что хоть внутри себя
    Мы можем жить и честно, и любя.
  {% endfilter %}
{% endblock %}
