{% extends template %}

{% set title = "Нине Васильевне Сайко" %}
{% set workdate = "01.08.2012" %}
{% set pubdate = "05.11.2017" %}

{% block preface %}
  <p class="art__dedic">Жительнице посёлка Разлив</p>
{% endblock %}

{% block content %}
  {% filter poem %}
    Верь — не верь, а в апреле,
    В самый первый денёк,
    Появился в Разливе
    Новой жизни росток.

    Появилась девчонка.
    Из апреля лучи
    Талисманом ей стали
    Даже в тёмной ночи.

    Верность краю родному,
    Верность близким друзьям,
    Трудолюбие, мудрость
    И девиз: «Не предам!»

    И, как память эпохи,
    Где мы жили, друзья,
    Создаёт музей быта
    И фольклора она.

    Да храни тебя Боже,
    И надежды в ночи.
    Пусть тебя согревают
    Из апреля лучи.
  {% endfilter %}
{% endblock %}
