{% extends template %}

{% set title = "Внучке Оле" %}
{% set workdate = "11.04.2016" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    Когда я буду закрывать глаза,
    Ты мне попробуй обещать, родная,
    Что постараешься быть честной и всегда
    Внимательной к своим родным. Земная

    И хрупкая, в своей судьбе
    Старайся доброе увидеть на Земле.
    Будь умницей и ограждай себя
    От хамства, свинства и сектантства зла.
    А как определишься — и Бог даст дитё,
    И будет на душе твоей светло.

    И всем теплом и материнской статью
    Ты сможешь многое. И, мать свою любя,
    Согреешь душу ей, от страха оградя.
    Ты худенькая — но ведь сильная душой.
    И Бог тебе подарит Мир большой.
  {% endfilter %}
{% endblock %}
