{% extends template %}

{% set title = "«Здравствуй, новое майское утро…»" %}
{% set workdate = "25.03.2016" %}
{% set pubdate = "05.11.2017" %}

{% block preface %}
  <p class="art__dedic">Тамаре Павловне Кряжевой</p>
{% endblock %}

{% block content %}
  {% filter poem %}
    Здравствуй, новое майское утро!
    Сколько их в нашей жизни прошло…
    В росных травах — блеск перламутра,
    Ветерка дуновенье одно.

    Майский ветер — наш друг на свете —
    То холодный, то дарит тепло.
    И черёмухи, и сирени
    Разольют буйным цветом его.

    Опьянит, одурманит, закружит,
    Разольёт после гроз озон.
    И для гаммы весны нам нужен
    Утром ранним птичий трезвон.

    Вот в такой красоте весенней,
    В приближенье земного тепла,
    Появилась с рассветной ранью
    Та девчонка, что мама ждала.

    В Ленинграде сорок шестого
    Века прошлого, после войны, —
    Это было вовсе не ново:
    Появились дети любви.

    Ну а то, что ребёночек третий… —
    И продукты по карточкам есть.
    Как могли выживали дети,
    Раз любовь у родителей есть.

    Вот и стала девчонок троечка,
    И сплотилась крепче семья.
    И назвали девочку Томочкой,
    Чтоб в дальнейшем царицей была.

    Работяги прошлого времени
    При железном режиме в стране
    Возрождали город и верили,
    Что сады зацветут на Земле.

    И с земными бедами справились,
    И богатой стала страна.
    Три сестры подросли, оправились,
    И у каждой — дорога своя.

    Пред глазами — пример родительский:
    Честность, точность, работы воз.
    Вот и выросла смена искренних —
    И по жизни как паровоз…

    За собой вагончики тащит —
    И стремится к свету, добру,
    Чтобы те, кто рядом, почаще
    Смогли видеть души теплоту.

    Вы уже и мама, и бабушка,
    И ведущая в «Огоньке».
    Дорогая Тамара Павловна!
    Мы, кто рядом, Вас любим все!

    Я от всех по домам сидящих
    Объявляю личный поклон
    Нашей женщине настоящей,
    Той, что может взять телефон

    И сказать нам доброе слово,
    И потратить время на нас.
    А ведь нас, от людей оторванных, —
    Ох, немалый домашний класс.

    Ведь когда-то страну ведущие,
    Не успевшие замереть,
    Задержались в пыли дорожной:
    То ли нет нас, а то ли есть…

    Я не хнычу, нет, не подумайте.
    Берегите таких людей!
    Эти люди по-женски царственны,
    С колоссальным запасом идей.

    Пробегает так жизнь по зёрнышку.
    С днём рожденья! Любви, тепла!
    Неба мирного! Самого-самого!
    Что хотелось нам всем всегда!
  {% endfilter %}
{% endblock %}
