{% extends template %}

{% set title = "Моим верным друзьям" %}
{% set workdate = "24.08.2011" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    За Армию Спасения
    В моём родном краю!
    Я Гимн Благодарения
    Друзьям своим пою.

    Я благодарна Господу,
    Что жизнь прошла не зря.
    Все ангелы-хранители
    Теперь — мои друзья.

    От холода, от голода,
    От бедушки-беды,
    Когда была я молода,
    И вот до бороды… —

    Вы помогали выжить мне,
    Вы верили в меня,
    Спасали от бездушия
    И стали мне — родня.

    Дай Бог вам всем здоровия,
    Удачи впереди,
    Чтобы никто по глупости
    Не смог вам навредить.

    Чтоб ваши очень близкие
    Оберегали вас,
    Когда настанет времечко,
    Когда придёт тот час.

    Пусть ценят вас любимые
    За то, что хороша,
    Отзывчива и бережна
    Звенящая душа.

    Чтоб жило в вас сочувствие,
    Чтоб помнили про честь.
    И совесть, как религия,
    Конечно, в каждом есть.

    Спасибо Вам, хорошие,
    Мне просто повезло:
    Меня всегда поддерживало
    Сильное звено.
  {% endfilter %}
{% endblock %}
