{% extends template %}

{% set title = "«Никто не приготовил тебе Мир…»" %}
{% set workdate = "01.06.2016" %}
{% set pubdate = "05.11.2017" %}

{% block preface %}
  <p class="art__dedic">Внучке Оле</p>
{% endblock %}

{% block content %}
  {% filter poem %}
    Никто не приготовил тебе Мир
    Красивым, справедливым и прозрачным.
    Ты принимай его сейчас таким,
    Чтоб заискрил и вовсе не был мрачным.

    Ведь если в пору летнюю у нас
    В рассветной тишине проснётся утро —
    Вдыхая аромат от росных трав,
    Ты видишь в травах отблеск перламутра.

    И в тишине дыханье ветерка
    Нам дарит чистоту из родника.
  {% endfilter %}
{% endblock %}
