{% extends template %}

{% set title = "Памяти Людмилы Зыкиной" %}
{% set workdate = "05.07.2009" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    В светлый путь и миры иные
    Ты, Людмила, уходишь от нас.
    Голос Зыкиной — крик России,
    Зык Земли и сплотившихся рас.

    Как Волга-матушка — река широкая,
    Так широка была твоя душа.
    Ах, Волга-реченька, река глубокая…
    А ты лебёдушкою с песней шла.

    Твоей мечтой была одна заветная:
    Чтоб песнь струилась вдаль, как та река.
    Как друг нам верная, душа приветная —
    Над Волгой-матушкою… на века…
  {% endfilter %}
{% endblock %}
