{% extends template %}

{% set title = "Александру Сергеевичу Пушкину" %}
{% set workdate = "28.10.2008" %}
{% set pubdate = "05.11.2017" %}
{% set prev = "lidija_seljagina/fc-2-70" %}

{% block content %}
  {% filter poem %}
    На Московской земле ты родился,
    Всей России духовный певец.
    И тайник задушевный открылся —
    Сколько в мире сразил ты сердец.

    Царскосельский лицей в Петербурге
    Узы братства навеки сплотил.
    И Державин, воздев к небу руки,
    Вас крестами судьбы осенил.

    То оправдан ты был от навета,
    То — язвительный взгляд сквозь лорнет.
    Бесконечною завистью света
    Был цинично оболган поэт.

    Честь жены и честь женщины — свята.
    И душа возмущеньем полна.
    И перчатка решительно снята,
    И дуэль предрешила она.

    В Петербурге у Чёрной речки
    Был Дантесом исполнен заказ —
    И на снег пал, сражён без осечки,
    И разбит светлый русский алмаз.

    Но летят твои вирши по свету,
    Узнаваемы с нескольких фраз.
    Пусть тебя третий век с нами нету,
    А они — среди нас, среди нас.
  {% endfilter %}
{% endblock %}
