{% extends template %}

{% set title = "Александру Лазареву" %}
{% set workdate = "20.02.2017" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    А в Ваших сказаниях плачет душа
    О тёплом, о верном и честном.
    Пусть трудно фактически, но не спеша
    Расскажется всё непременно.

    А дворик с таджиком-узбеком стал чист,
    И тихо, покуда зарница
    Раскроет с рассветом тот истинный лик,
    Что в жизни сегодня творится.

    Я знаю, что нам повезло в те года.
    Мы верили все в справедливость.
    Мы совесть имели и верили, да…
    И нас сохранила наивность.

    Пусть нас ограждали от связи с огнём
    За гранью границы Союза.
    Мы стали Людьми в Государстве своём.
    А Совесть была — наша Муза.

    Мы были готовы к любому труду,
    Не мысля поверить в предательства тьму.
    А Зависть за Совестью, видно, не зря
    Охотилась, цепко за душу беря.

    И зло и добро так близки иногда.
    Вот и пришли к нам лихие года.
  {% endfilter %}
{% endblock %}
