{% extends template %}

{% set title = "Диане Радес" %}
{% set workdate = "22.10.2008" %}
{% set pubdate = "05.11.2017" %}

{% block preface %}
  {% filter ins %}
    {% filter short %}
      Руководитель литературного клуба <a href="https://vk.com/club23358182" target="_blank" rel="nofollow">«Рунеж»</a>.
    {% endfilter %}
  {% endfilter %}

  <p class="art__dedic">
    В отношении её поэтического сборника «Движение души»
  </p>
{% endblock %}

{% block content %}
  {% filter poem %}
    Хоть книжечка на скрепочках —
    Но очень хороша.
    К ней подхожу на цыпочках,
    Волнительно дыша.

    Не замечаю скрепочек
    И толщину листа.
    Ну никаких зацепочек,
    Читаю как с холста.

    Так широко движение
    Дианиной души,
    Что чувствую скольжение
    Всех образов в тиши.

    И с книгой путешествую
    По миру не спеша.
    О Радес, Вас приветствую.
    Сильна Ваша душа.
  {% endfilter %}
{% endblock %}
