{% extends template %}

{% set title = "Ангелы в лодке" %}
{% set workdate = "13.01.2012" %}
{% set pubdate = "05.11.2017" %}

{% block preface %}
  <p class="art__dedic">
    Литературным объединениям Санкт-Петербурга и Ленинградской области
  </p>
{% endblock %}

{% block content %}
  {% filter poem %}
    Спасибо Судьбе, что так в жизни сложилось,
    Что связь завязалась и всё получилось.
    И как хорошо, если даже однажды
    Мы видимся, братцы, хоть за год лишь дважды.

    «Соратников» встречи, и «Парус Балтийский»,
    И <a href="https://vk.com/club23358182" target="_blank" rel="nofollow">«Рунеж»</a> в лучах музыкального диска,
    И встречи с Валдая, и с Нарвской Заставы,
    И «Рога Борея» рождённая слава.

    Нас много сегодня, хоть мы — самородки.
    Сильна нами Русь, а мы — ангелы в лодке.
    И в городе нашем нас много, ребята,
    Неправда, что жизнь добротой не богата.

    Пишите, друзья, а читатель найдётся.
    Он здесь, среди нас, мы встаём раньше солнца.
    Мы слышим дыхание ночи в тиши…
    Ты слышишь, дружище, садись и пиши.

    Не надо ждать завтра, сегодня б признаться,
    Что мы на Руси — не трусливые зайцы.
    А виноваты лишь в том, что искали
    Красавицу-правду в одеждах печали.

    Нас много сегодня, хоть мы — самородки.
    Сильна нами Русь, а мы — ангелы в лодке.
    И в городе нашем нас много, ребята.
    Неправда, что жизнь добротой не богата.
  {% endfilter %}
{% endblock %}
