{% extends template %}

{% set title = "Нине Николаевне Кулагиной на 86-летие" %}
{% set workdate = "05.11.2008" %}
{% set pubdate = "05.11.2017" %}

{% block preface %}
  {% filter ins %}
    {% filter prose("short") %}
      Поэтесса и прозаик, член литературного клуба <a href="https://vk.com/club23358182" target="_blank" rel="nofollow">«Рунеж»</a>. Необыкновенная манера исполнения заставляет задуматься, окунуться не только в двадцатый, но и в девятнадцатый век.
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter poem %}
    Стоит берёзка за окном,
    Стоит — на Вас любуется.
    Хоть листья сброшены дождём,
    А силушкой балуется.

    Ах, ветки, ветки, ветки, что ж,
    То детки уж немалые,
    Хоть год на год и не похож,
    И Вы чуть-чуть усталые.

    Вы поприветствуйте её,
    Свою берёзку статную.
    Вот так и вспомнится житьё,
    Как вместе вырастали Вы…

    Пусть за окном ноябрь шумит…
    Всё в жизни образуется.
    Ведь к Вам домой родня спешит
    И розами любуется.

    Благоуханны и свежи
    Те розы в день рождения.
    И Вы собою хороши
    Свеченьем глаз творения.

    Здоровья Вам и тишины
    Волнительно-торжественной.
    Вы вдохновением полны,
    Звучит Ваш глас божественно…
  {% endfilter %}
{% endblock %}
