{% extends template %}

{% set title = "Владимиру Зельдину" %}
{% set workdate = "31.10.2016" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    Ушёл в Миры Иные на сто втором году
    Владимир Зельдин, братцы, ну просто на ходу.
    В столетний юбилей свой в театре танцевал.
    За яркость и подвижность он к Гиннесу попал.

    Единственный ведь в Мире был человек такой,
    Влюблённый в своё дело без зависти земной.
    Земля пусть будет пухом… Как на посту солдат,
    Ушёл в Миры Иные, тепло души отдав.
  {% endfilter %}
{% endblock %}
