{% extends template %}

{% set title = "Ольге Крупенчук-Вознесенской" %}
{% set workdate = "23.05.2013" %}
{% set pubdate = "05.11.2017" %}

{% block preface %}
  {% filter ins %}
    {% filter short %}
      Член Российского Межрегионального союза писателей и литературного клуба <a href="https://vk.com/club23358182" target="_blank" rel="nofollow">«Рунеж»</a>.
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter poem %}
    Наша Оленька — скалолазочка.
    Жизнь походная — словно сказочка.
    И на фоне родимой природы —
    Самородок кремнёвой породы.

    Логопед она замечательный
    И для близких своих — внимательна.
    А душа — словно птица вольная
    И в поэзию вся влюблённая.

    И рождаются строки дивные —
    Философские и активные.
    Пусть хранит тебя небо синее,
    Оставайся всегда красивою.

    И спасибо тебе за дядюшку
    Вознесенского и за Матушку,
    То, что ценишь души богатые
    И слова, от души большой взятые.
  {% endfilter %}
{% endblock %}
