{% extends template %}

{% set title = "«Когда ты сам родить не можешь…»" %}
{% set workdate = "03.04.2015" %}
{% set pubdate = "05.11.2017" %}

{% block preface %}
  {% filter ins %}
    {% filter prose("short") %}
      В последнее время наблюдается тенденция — брать за основу классические произведения и, выворачивая их наизнанку, делая свои умозаключения, нисколько не считаясь с автором, с его чувствами и решениями (даже если он уже ушёл в Миры Иные), исказив всё прошлое, присваивать это произведение себе. И потому…
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter poem %}
    Когда ты сам родить не можешь
    Своими мыслями сюжет,
    Зачем же лезешь с грязной рожей
    В чужую душу, дармоед?

    Корёжишь трепетную дрожь
    И превращаешь правду в ложь.
    Устали классики дрожать.
    Пора своё, мой друг, рожать.
  {% endfilter %}
{% endblock %}
