{% extends template %}

{% set title = "Михаилу Вэю" %}
{% set workdate = "25.02.2017" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    Тяжело эту ношу нести бесконечно.
    До утра доживёшь — и забрезжит рассвет.
    Ну а если весной — так красиво и нежно
    В тишине мирозданья услышать привет…

    По сигналу пернатых вновь проснётся Земля.
    Ну а в трепете трав виден блеск перламутра.
    Где-то в ясное небо пашни паром парят.
    Вот и отблеск росы, это — раннее утро…

    И пока тишина, и дышать так легко,
    Ты забудь о печалях, в лодку сядь и плыви…
    И не важно совсем, может, пусты карманы,
    В тишине неземной Мир в Душе обрети.

    В жизни всё относительно, будь осторожен.
    Не завидуй богатым, их дороги сложны.
    Если ты, человек, интересом умножен,
    То родным своим, близким ты в пути помоги.
  {% endfilter %}
{% endblock %}
