{% extends template %}

{% set title = "«Вас лично с Новым Годом…»" %}
{% set workdate = "29.12.2012" %}
{% set pubdate = "05.11.2017" %}

{% block preface %}
  <p class="art__dedic">Ивану Тимофеевичу Михайлову</p>
{% endblock %}

{% block content %}
  {% filter poem %}
    Вас лично с Новым Годом —
    И Ваших близких тоже.
    Когда дружны с природой —
    Во всём поможет Боже.

    Пусть путь осветит ясность
    Стремлений и надежд.
    Вам чужда в жизни праздность,
    Она — черта невежд.

    Здоровья и задора,
    Всегда с друзьями быть,
    Не только вдоль забора
    С собачкою трусить.
  {% endfilter %}
{% endblock %}
