{% extends template %}

{% set title = "Ирине Тульской" %}
{% set workdate = "23.10.2016" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    Дебет с кредитом дружны.
    Дебет с кредитом важны.
    Лишь бухгалтер знает толк,
    Кто движет цифровой поток.

    Над бухгалтером всегда
    Есть указание. Да-да,
    Главного начальника —
    Как родоначальника.

    А бухгалтер — ювелир:
    Она, как шеф распределил,
    Рассчитала точно
    И отчиталась срочно.

    Но чтоб немного отдохнуть
    От цифр и от расчётов,
    Очень хочется взглянуть
    На мыслей ваших взлёты.

    И почувствовав тепло
    Человечьих мыслей —
    На душе у Вас светло
    И дорога чище.

    Здоровья и удачи!
    И тишины в придачу.
  {% endfilter %}
{% endblock %}
