{% extends template %}

{% set title = "«Всё в жизни относительно, поверьте…»" %}
{% set workdate = "07.03.2017" %}
{% set pubdate = "05.11.2017" %}
{% set next = "lidija_seljagina/chronicle-1-1" %}

{% block content %}
  {% filter poem %}
    Всё в жизни относительно, поверьте.
    Когда листаем прошлое своё,
    Нам люди говорят: «В беду не верьте», —
    Что всё пройдёт — и будет хорошо.

    Но я уж убедилась: всё — неправда.
    Все те, кто были рядышком со мной,
    Ко мне приходят — я им очень рада.
    Во сне приходят, принося покой.

    И я не тороплюсь сегодня, братцы,
    И радоваться, и искать покой,
    И над бедою собственной смеяться.
    Всё в жизни относительно, друг мой.
  {% endfilter %}
{% endblock %}
