{% extends template %}

{% set title = "Нине Николаевне Кулагиной на девяностолетие" %}
{% set workdate = "31.10.2012" %}
{% set pubdate = "05.11.2017" %}

{% block content %}
  {% filter poem %}
    С такой датой поздравишь не каждого.
    Здесь терпенье и мудрость нужны.
    И сказать людям столько важного
    В эти годы торопитесь Вы!

    И под Божьим присмотром трудитесь,
    Оставляя свой след на Земле,
    Оставляя уроки мудрости,
    Помогая тем самым Судьбе.

    За окном пусть ноябрь закружится,
    А у Вас в Вашем доме — тепло.
    Пусть с душою душа подружится,
    И от этого станет светло.
  {% endfilter %}
{% endblock %}
