{% extends template %}

{% set title = "Попробуй только принеси сюда дитя…" %}
{% set workdate = "26.05.2014" %}
{% set pubdate = "05.11.2017" %}
{% set titleDescr = "1981 год" %}

{% block content %}
  {% filter prose %}
    Когда едешь на эскалаторе в метро, входишь в вагон поезда, торопишься в самолёт и видишь вокруг себя серьёзные предупредительные лица — даже не предполагаешь, что кто-то задумал что-то злое, больное и обидное. А жизнь — она такая разная. Надо научиться любить и оберегать своих близких.
    Из совхоза «Пригородный» мне позвонила девушка и сказала, что её подруга Марина родила дочь, лежит в роддоме и не знает, как ей быть, потому что её родная мама пригрозила ей:
    — Попробуй только принеси сюда дитя… Получишь за это!!
    Мы договорились, что я сегодня же приду в совхоз и мы всё обсудим.
    В это время моему младшему сыну было всего два годика, поэтому я привезла целый большой ранец обновок для малышки. Конечно, я понимала, что бабушка находится в затруднительном материальном положении, а ещё и наличие младенца, конечно, требует ответственности. Отец малышки недавно ушёл в армию. Он попал под Выборг и потому на увольнение приезжал домой.
    Я, приехав в совхоз со своими обновками, разговорами завела молодых мам и бабуль. Стали собирать необходимые вещи и детское питание. На всех лавочках говорили только об одном — брать или не брать малышку. И решили: брать.
    Сначала все перессорились, ведь у каждого своё мнение. В основном среди простых людей нет уважения к гражданскому браку, так как молодая мама не имеет материальной защиты на период вскармливания малыша.
    А потом я долго-долго разговаривала с бабушкой, которая была тронута такой светлой, человеческой поддержкой и сдалась!
    Марину с малышкой встретили целым совхозом. Все были рады, что ещё одно дитя осталось дома.
  {% endfilter %}
{% endblock %}
