{% extends template %}

{% set title = "Вольнонаёмная" %}
{% set workdate = "20.04.2014" %}
{% set pubdate = "05.11.2017" %}
{% set titleDescr = "1973 год" %}

{% block content %}
  {% filter prose %}
    В органы внутренних дел я сначала пришла на вольнонаёмную должность в качестве секретаря-машинистки в Медвытрезвитель № 1 при Сестрорецком РУВД, позже — начальником инспекции при Сестрорецком РУВД, и на основании рапорта приступила к службе.
    И это очень правильно. Ведь к тому времени за период службы внештатным сотрудником при Василеостровском РУВД в юности, позже — занимаясь в Педагогическом училище и одновременно работая воспитателем в детском саду, имея уже своих двух дочерей, и поработав на вольнонаёмных должностях в определённой системе, я получила весомый опыт жизни и смогла освободиться от «розовых очков», от «эйфорийных» состояний, которые, к сожалению, часто наполняют умы молодых офицеров.
    А самое главное, несмотря на то, что в юности я была прямолинейной «правдолюбкой», жизнь научила меня выражать своё мнение не мгновенно, а, прежде всего, перепроверив подлинность фактов и взвесив все «за» и «против». У меня появилось чувство внутреннего самосохранения, о котором в юности я не имела ни малейшего представления. Это мои дети привили мне это чувство.
    Но при всём при том я сумела не потерять чувства собственного достоинства, никого не предала, и если я понимала, что система сильней меня, а поддержки рядом нет, то не рисковала сражаться с ветряной мельницей, а подавала рапорт или заявление об увольнении, чтобы остаться нужной детям.
    А оставив службу в силу сложившихся обстоятельств, я ещё долго пользовалась у населения территории, на которой несла службу, тёплым вниманием.
    Через год после тяжёлых последствий перенесённой мною онкологической операции, при наличии троих детей (третьему было только два годика), мне пришлось оставить службу. Ко мне приезжали с теплом, с добром, с просьбой помочь разрешить ту или иную ситуацию. Я привыкла быть среди людей, переживать за их ошибки и радоваться их радостям.
    И до сегодняшнего дня мне не унять это ощущение единства с людьми, которые окружают и окружали меня, со страной, в которой я живу, с жителями всей Планеты. И потому иногда мне кажется, что я парю над Землёй, как птица…
    Стихи и короткие записи, превратившиеся позже в песни и рассказы, записывались мною раньше только в ночное время, чтобы не нарушить ритм жизни своих близких.
    Жизнь моя, в любом её проявлении, была для меня желанной — благодаря возможности выплеснуть на бумагу состояние души моей, подаренной Господом, — и необходимой, так как никто и ничто не будет так держать нас на Земле, как дети наши. И если у кого-то из них что-то не сложилось, то всегда хотелось не просто дожить до улучшения ситуации, но и лично самой принять своё посильное участие в помощи своим родным.
    А научить превозмочь душевную боль из-за болезни своих детей может только умение увидеть вокруг себя людей, судьбы которых сломаны ещё более жестокими событиями, — и тогда я, понимая, что Господь оградил нас от более страшной судьбы, шептала: «Благодарю тебя, Господи, за то, что мы имеем сегодня. Наведи нас на мысль верную, на решение правильное. Укрепи дух наш, удержи в терпении нашем».
    Вот так постепенно я училась жить в этом мире, не просто жить, чтобы выжить, а жить радостно. В каждом, кто окружал меня, я старалась сначала увидеть добрые качества, а с ними человек богаче и душой шире.
    Прожив столько лет, я точно знаю, что справедливость, честность и доброта будут жить на Земле вечно, пусть иногда как бы оставляя нас, но мы сами должны нести в себе светлые помыслы, и тепло земли поможет нам найти правильное решение и не хранить обиды в себе. А желание познавать жизнь является самым светлым и благостным желанием, ибо именно оно позволяет нам бесконечно расширять наш кругозор и ощущать себя вечным учеником этого мира.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2014-04-20">20.04.2014 (Пасха)</time>
{% endblock %}
