{% extends template %}

{% set title = "Бомбочка" %}
{% set workdate = "25.05.2014" %}
{% set pubdate = "05.11.2017" %}
{% set titleDescr = "1977 год" %}

{% block content %}
  {% filter prose %}
    У ребят из совхоза «Пригородный» всё проще и свободнее. Их всех объединяет территория. Почти все родители работают в совхозе. Дети учатся в одной школе. Есть общий клуб. Каждый каждого знает. Если что родитель не заметил, сосед подскажет.
    В совхозе есть свиньи, коровы, но ещё совхоз выращивает, в парниках и в открытом грунте, помидоры, огурцы, зелень, капусту, картофель, свёклу, морковь, редис, редьку и тому подобное. Поэтому здесь имелись запасы минеральных удобрений — тогда, до неожиданной перестройки, так и было. Совхоз мог обслуживать прилежащие к нему территории.
    Но и здесь происходили загадочные события, и родители, если в семье что-то происходило, могли не заметить. Так произошло и в семье Олега.
    Олег перешёл в восьмой класс. Решили с двумя приятелями собрать бомбочку, о которой узнали от каких-то взрослых ребят. А того, из чего их собирают, в совхозе сколько хочешь. И бомбочка получилась. Ребята пошли в лесок, вышли на поляну, устроились посидеть и развели костёр. Мальчишки любили посидеть у костра и рассказать свои истории.
    Они уже собрались идти домой, а Олег предложил попробовать бросить бомбочку в костёр, ведь должна же она взорваться. Ребята немного отошли, и Олег бросил бомбочку, но та упала на край костра. Тогда Олег попросил ребят отойти в сторону:
    — Я сейчас, только подкину её подальше.
    Он подбежал к краешку костра и, схватив бомбочку, резко бросил её в центр. Уже нагревшись заранее, она мгновенно разорвалась и обожгла лицо и кисти Олега.
    В дежурную часть пришла телефонограмма из городской детской больницы имени Раухфуса, и я поехала туда. Олега было не узнать. На его лице видны были только глаза, остальная часть, а также руки и другие участки тела, были покрыты тёмно-коричневой мазью.
    — Что же ты так, Олежка? Ты ведь мог погибнуть и потерять своих ребят. И самому досталось. Сколько тебе ещё мучиться?
    — Не знаю, — тихо ответил парнишка. — Вы простите нас и особенно меня. Пожалуйста!
    — Ну что делать, Олежка, терпи. А когда выйдешь из больницы, то обязательно проведём с тобой встречу с ребятами из школы, где ты сам расскажешь, как это всё опасно и что последствия могут изуродовать любого, кто повторит этот опыт.
    Эта неожиданная беда сплотила ребят и на какое-то время погасила нездоровый интерес к этим бомбочкам. Надолго ли?
  {% endfilter %}
{% endblock %}
