{% extends template %}

{% set title = "Заяц на пеньке" %}
{% set workdate = "31.05.2014" %}
{% set pubdate = "05.11.2017" %}
{% set titleDescr = "1974 год" %}

{% block content %}
  {% filter prose %}
    Работа в Медвытрезвителе № 1 мне показалась, как любое новое дело, интересной. Я, как всегда, просто для себя анализировала всё — и количество задержанных в разное время суток, в разные месяцы, и отношение служащих к задержанным. А что касается режима работы, то он был мне по душе.
    Я успевала провожать девочек в детский сад и в школу. В обед прибегала домой и успевала обедать со старшей Алёнкой, а младшая была ещё в садике.
    В это время я трудилась секретарём-машинисткой. Кроме учёта и регистрации корреспонденции, подготовки и отправки отчётов в мои функции входили регистрация задержанных и направление сообщений о их задержании по месту работы. Если задержанный был пенсионером, то сообщение направляли в собес для оплаты за услуги медвытрезвителя. Почту я направляла обычным письмом, не заказным. Такие правила были в то время.
    И вот однажды, в воскресный день, во второй половине дня, ко мне домой заехал водитель от исполкома. Я хорошо знала его и его жену, и живут они недалеко от нас. Войдя в квартиру, в спокойной обстановке он поведал о своём несчастье. Раньше этот факт можно было приравнять к несчастью, так как после такого «письма счастья» беднягу задержанного не только штрафовали, но и могли лишить годовой премии или перенести отпуск с летнего на зимнее время.
    — Лидочка, у нас несчастье. К нам в гости вчера приезжал мой брат. Всё было хорошо. За обильным столом мы выпили только по стопочке. И к вечеру они с женой поехали домой. И вдруг утром узнаём, что его задержали ребята из нашего медвытрезвителя. Даже не пойму, почему, может, потому что с иголочки одет. Помоги по возможности.
    — Господи, что ты имеешь в виду? Я даже не соображу.
    — Слушай, ведь ты только завтра сможешь получить сообщение. Может, его можно не зафиксировать?
    — Нет, не зафиксировать я не посмею, здесь моя служба в будущем. А вот, зарегистрировав отправление, оставить письмо у себя, не опуская в почтовый ящик… Вообще-то я никогда об этом не задумывалась. Но если рассудить, то эта отправка обычная, не заказная. Может, такая возможность для этого и оставлена. Тебя я знаю. А брат кем работает?
    — Он занимает ответственное место, и, самое главное, он действительно был в нормальном состоянии.
    — Ну хорошо, возможно, я так и сделаю, оставлю конверт как забытый.
    Придя на работу в понедельник, я так и сделала. Где-то через неделю водитель заглянул ко мне на работу с каким-то газетным пакетом. В кабинете никого не было.
    — Лидочка, тебе от нас огромное спасибо. А это от нас твоим девочкам, это им понравится, — и он подал мне этот пакет.
    Я же, не зная, что в этом пакете, отскочила от него:
    — Ты что? Я взяток не беру, и конверт у меня ещё дома и не уничтожен.
    — Лида, прекрати, мы знаем, что тебя не купишь. Это не тебе, а девочкам. Придёшь домой и увидишь.
    — Ну ладно, ребята. Спасибо. Смотри, если что не так, то сама приду. Пока.
    Во время работы я заторопилась домой: обычно мы приходим на обед одновременно со старшей дочерью Алёнкой.
    Пообедали и, как всегда, у меня оставалось ещё пятнадцать-двадцать минут на сон. Я очень уставала в последнее время и научилась расслабляться в обед. Перед тем как прилечь я развернула пакетик и обалдела: на пеньке сидел замечательный заяц с клубникой посреди зелёной поляны! И всё это было так здорово выполнено! И я подумала, что это дорогая и ценная игрушка. «Ну всё, — подумала я, — вернусь с работы — вечером к ним зайду».
    Я прилегла, прошло минут пятнадцать. Ко мне тихонько подошла Алёнка:
    — Мамочка, а ты не обидишься?
    — Что случилось?
    — Мамочка, я подержала зайчика, и рука липкая стала и вкусно пахнет, я её лизнула, а она сладкая. Тогда я и зайчика лизнула, а он тоже конфетный, — тихонько объяснила Алёнка.
    — Да ты что! Вот это да! Алёнка, это для вас с Анюткой передал дяденька, который заходил к нам в гости. Он со своей тётенькой передали вам на праздник, — объяснила я Алёнке.
    — Вот здорово! Скажи им спасибо.
    — Конечно, обязательно передам. Ну ладно, зайчик, я побежала на работу, уже немного осталось, и сразу же за Анюткой зайду. А ты что сейчас будешь делать?
    — А я пока порисую.
    — Ну и ладно. Закрывай за мной дверь. Я постою у двери, пока ты её закрываешь. Никому не открывай, а мы с Анютой скоро будем.
    — Ну иди, мамочка, я закрыла дверь.
    И я побежала на работу.
  {% endfilter %}
{% endblock %}
