{% extends template %}

{% set title = "Чувство опасности" %}
{% set pubdate = "10.03.2008" %}
{% set titleDescr = "1978 год" %}

{% block content %}
  {% filter prose %}
    Я находилась в инспекции по делам несовершеннолетних в отделении милиции Парголова от Выборгского РУВД. Напротив меня были рабочий стол и сейф такого же участкового инспектора, а территория, примыкающая к нашему отделению, была поделена между нами.
    Дверь открылась, и в инспекцию вошёл мужчина роста выше среднего, широкоплечий, атлетического телосложения, с очень правильными чертами лица. Но глаза… В них был такой неподдельный страх, что я кожей ощутила реальное чувство опасности, предчувствие смертельного исхода.
    Это была не моя территория.
    Мужчина говорил сбивчиво, торопливо, перебивая самого себя, чтобы успеть, успеть всё сказать и принять меры. Он пытался объяснить, что жена очень ревнует его, ревнует даже к детям, и именно к детям. Сейчас им шесть и семь лет. До этого несколько месяцев назад у неё была вспышка ревности, и она угрожала поджечь квартиру. И она её подожгла, за что и была направлена в психиатрическую больницу. А муж, как и раньше, занимался детьми, как и раньше, водил их в детский сад, хлопотал по дому.
    Жили они в Торфах, оба работали на торфопредприятии.
    И вот — новая вспышка яростной ревности. Сейчас она угрожает уничтожить детей, чтобы они ему не достались. И он испытывает жуткий реальный страх от этой угрозы.
    Мы советуем ему обратиться в дежурную часть отделения, РУВД и в больницу, где она лежала.
    И никто не остановил преступления. Никто, кроме него, не поверил в эту чудовищную угрозу, а некоторые сотрудники, видя, как ладно сложен мужчина, ещё шутили, что грех не приревновать такого.
    В больнице ответили, что она была выписана здоровой. И никто не обезопасил детей, никуда не спрятал. Никто.
    Дети были вывезены матерью под Пушкин и там в лесном массиве задушены и закопаны. И это — чудовищная правда. Позже эта мать-убийца ехала с участковым инспектором в машине на следственный эксперимент и указала место, где закопаны убитые ею дети.
    Судебно-медицинская психиатрическая экспертиза признала её вменяемой. Она была осуждена на двенадцать лет. Господи, они уже прошли.
    Люди, кто мы! Неужели психически здоровый человек из-за ревности сможет убить своих детей? Разве эта дикая ревность не является болезнью?
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2002-04">Апрель 2002</time>
{% endblock %}
