{% extends template %}

{% set title = "Внеплановый выезд" %}
{% set workdate = "25.05.2014" %}
{% set pubdate = "05.11.2017" %}
{% set titleDescr = "1977 год" %}

{% block content %}
  {% filter prose %}
    Была зима. Около восьми вечера в дежурную часть Парголовского отделения милиции поступил звонок с информацией о том, что в одном из частных домов оставлены двое маленьких детей.
    Мы выехали группой в составе меня как участкового инспектора по делам несовершеннолетних, инспектора уголовного розыска, начальника паспортного стола и участкового инспектора по взрослому населению.
    Приехав в адрес, мы обнаружили приоткрытую дверь на веранду, дверь в сам дом также была приоткрыта. Печь холодная. На полу — двое малышей годика по два, во фланелевых кофточках, но босиком и с голыми попами. Почему-то на стуле в большом тазике стояла замороженная параша. А дети собирали с пола рассыпавшуюся сухую вермишель.
    Да, я даже пожалела, что ни у кого с собой не было фотоаппарата для предъявления фотографии как доказательства, ибо в такое поверить трудно. Никаких взрослых — ни вокруг дома, ни внутри — не было видно.
    Мы вызвали скорую помощь и госпитализировали детей. А они не плакали, а, наоборот, радовались незнакомым людям.
  {% endfilter %}

  {% filter prose %}
    В то время группа в таком же составе направлялась по адресам для проверки паспортного режима. Тогда была статья о тунеядстве, которая гласила, что если человек по достижении совершеннолетия не работал и не учился более трёх месяцев, то ему полагались один год заключения и лишение прописки.
    В этот вечер мы посетили один из таких адресов. Из заключения вышел, отсидев за тунеядство один год, гражданин, который ранее был здесь прописан. Теперь, для того чтобы прописаться по свому адресу, надо было получить разрешение от всех жильцов этой площади. В противном случае человек становился <i>бомжом</i>. Такие люди выселялись на 101-й километр от Ленинграда.
    Позже эту статью отменили. По ней было много нечестных решений.
  {% endfilter %}
{% endblock %}
