{% extends template %}

{% set title = "Повезло" %}
{% set workdate = "31.05.2014" %}
{% set pubdate = "05.11.2017" %}
{% set titleDescr = "1974 год" %}

{% block content %}
  {% filter prose %}
    Однажды, когда я не могла выйти на работу в обычное время, так как заболела младшая дочь, начальник предложил мне выполнять свои обязанности на дому.
    Конечно, я согласилась. Вечером я приносила выполненную работу, а утром на вытрезвительской машине мне привозили документы для обработки. В дежурной части об этом знали.
    Но через несколько дней я пришла раньше обычного. В тот момент, когда я подходила к вытрезвителю, передо мной из машины толчками выводили задержанного, и я слышала, как он просил:
    — Ребята, меня нельзя бить, я больной, беда будет.
    Но эта смена была грубовата, да и славилась частыми задержаниями имущих людей. Уже руководство предупреждало, что смены разделит.
    Увидев, что я иду сзади, они смолчали. Но когда они скрылись за дверью дежурной части, я услышала дикий вопль задержанного. Я не раздумывая распахнула дверь и увидела, как эти двое сопровождающих тащили задержанного в одиночную палату, наделяя его недюжинными тумаками, а он, пытаясь сопротивляться, вопил. Дежурный и фельдшер стояли молча.
    Всё произошло мгновенно. Я, влетев в дежурную часть, своим пронзительным голосом властно вскрикнула:
    — Стоять!!! — все замолкли. — Вы совершаете преступление. А я успела вас щёлкнуть на плёнку. Прекратить избиение! Дать мне документы потерпевшего и привезти его ко мне в квартиру на машине!
    Фельдшер тихо спросила:
    — Ты что? В своём уме?
    — Я вам ещё раз говорю, что я щёлкнула на плёнку ваши действия, так что на суде придётся признаться, а вам, — я обратилась к фельдшеру и дежурному, — придётся быть свидетелями. Да вон, у вас в зале есть такие граждане, которых можно было бы не задерживать, но зато они будут свидетелями. Что? Не так? Да ведь так долго всё это продолжаться не может.
    Дежурный молча отдал мне документы гражданина.
    — Отдайте ему одежду, — сказал он тем, кто наносил побои задержанному. А у того дрожали руки.
    Наш дом был в трёх минутах от вытрезвителя. Я сразу предложила мужчине пройти в маленькую комнату. Его лихорадило, как в приступе малярии, я принесла ему сладкий чай с бутербродами. Он, пока пил и жевал бутерброды, всё извинялся.
    — Да хватит Вам, сейчас немного отдохнёте и поедете домой. Я вижу, что Вам совсем плохо было.
    — Да, мне надо было сладкого. Теперь мне лучше.
    — Вот, сейчас Вы немного отдохните, а я загляну в вытрезвитель, а то они там обалдели, наверное: такой они меня ещё не видели. А Вы, как только я вернусь, поезжайте в травму к себе или в нашу, сестрорецкую. Пусть если даже до суда не дойдёт, то хоть уроком будет.
    — А Вы что, Лидия Дмитриевна, в самом деле на плёнку щелкнули?
    — Да, конечно, нет. У меня даже фотоаппарата нет. Просто в этот момент всем было не до этого. Вот я и воспользовалась навыками, полученными мною в театральной студии.
    — Слушайте, а было так правдоподобно!
    — Нет, я, конечно, сейчас в этом не сознаюсь. Я Вас закрою на ключ. Не беспокойтесь, ни перед кем оправдываться не придётся.
    Когда я вернулась, он засобирался и ушёл, сказав на прощанье:
    — Я даже не понял, за что мне пришло такое спасение! И ещё: сколько у Вас детей? Я вижу, здесь детские вещи.
    — Две девочки у меня, и мы пока живём дружно.
    — Ну, как говорят люди, дай Бог Вам самого хорошего. Спасибо большое. До свидания.
    А где-то через месяц, в выходной день, позвонили в дверь. А в дверях стоял мой спасённый с замечательным букетом цветов и коробкой, в которой оказались замшевые сапоги.
    — Господи, да Вы что! Это же — море денег!
    — Нет, успокойтесь, Лидия Дмитриевна, я хоть и не очень здоров, но работаю директором обувной фабрики. И я бы помог Вам всей жизнью за Вашу сердечность, но не имею права настаивать. Пусть Вам будет хоть немного светлее от моего визита. Спасибо Вам. Храни Вас Господь! — он как-то засуетился и раскланялся.
    Я ещё долго стояла в парадной, провожая его взглядом, наблюдая, как он, тихо прихрамывая, уходит от нас…
    А позже, через год, я узнала, что одного из сопровождавших этого человека в одиночную палату посадили на три года. А ещё позже мы с ним случайно встретились, я уже служила на офицерской должности, а он вышел из заключения.
    — Ты знаешь, я ведь не обижаюсь на тебя и даже говорил тебе «спасибо». Ты, наверное, вовремя остановила меня. Ведь даже в тот день могло бы быть хуже. Я не знаю, что на меня нашло.
    — Послушай, ведь я никого не фотографировала, у меня даже фотоаппарата нет и не было. Это я просто решила остудить вас всех. Я даже не знала, что возбудили дело.
    — Ну ты даёшь, а было так естественно! А как тот мужик?
    — Ну теперь не знаю. А тогда я поняла, что он больной. Когда его привезли ко мне, его трясло. Оказывается, ему нужно было срочно дать сладкого. А у вас при тех обстоятельствах он мог бы скончаться. Он пришёл в себя и, поблагодарив меня, уехал.
    — Вот это да! Слава Богу, что всё так закончилось. Ну до встречи.
  {% endfilter %}
{% endblock %}
