{% extends template %}

{% set title = "Откупной от задержанного" %}
{% set workdate = "31.05.2014" %}
{% set pubdate = "05.11.2017" %}
{% set titleDescr = "1974 год" %}

{% block content %}
  {% filter prose %}
    Когда я прихожу на службу, сначала захожу в дежурную часть, чтобы узнать ночные новости или новости выходных дней. Вот и сегодня, смотрю, все необычайно улыбчивые.
    — Ну, порадуйте меня чем-нибудь.
    Сегодня была другая фельдшер — Нина Зиновьевна — но всё равно тоже душевная.
    — Ой, Лида, ты бы знала, такое бывает редко. Позавчера, в субботу, задержали слегка нетрезвого мужчину. Ну что делать, моё дело — замерить давление. Говорю дежурному, что можно было бы и отпустить, а он отвечает, что раз задержали, то пусть задержится. В общем, дурной пример заразителен. Наши дежурные часа в три утра поднимались на второй этаж, а он из спального зала прямо на улицу только в трусах и сбежал. Дежурный ещё не успел сообщить руководству, а около 6-ти утра, представляешь, он приехал на машине с личным шофёром, прекрасно одетый, как пижон, и с ящиком коньяка. Ну, тут у всех дух поднялся. Уж как там уладили это дело — не знаю, но бланк оформили ошибочным. В общем, всех кого надо угостили. А нечего прекрасно одеваться и к нам в гости заезжать!
    Да уж, жизнь совсем не такая, какой представляют её наши дети.
  {% endfilter %}
{% endblock %}
