{% extends template %}

{% set title = "Свидетель" %}
{% set workdate = "28.05.2014" %}
{% set pubdate = "05.11.2017" %}
{% set titleDescr = "1982 год" %}

{% block content %}
  {% filter prose %}
    Осень. Я еду в вечерней, но не поздней, электричке. За окном сумерки. В вагоне включили свет.
    Электричка отошла от Финляндского вокзала. Пассажиры заняли свои места. В вагон вошёл мужчина с каким-то суровым выражением лица. Сел на ближайшее свободное место и как-то горестно закрыл лицо руками. Я сидела в середине вагона и оказалась невольным свидетелем происходящего.
    Буквально через мгновенье вслед за ним в вагон вошёл хорошо слаженный, чёткий молодой человек, подошёл к только что вошедшему мужчине и обратился с вопросом:
    — Скажите, Вы запомнили это лицо?
    И тот, отнимая руки от лица, ответил:
    — Да.
    В этот момент человек спортивного телосложения поднял руку над головой сидящего, и между его пальцев мелькнуло лезвие бритвы. Мгновенным движением он провёл им по успевшим закрыться векам и выскочил на платформу.
    — Следующая остановка — Ланская, — объявил помощник машиниста.
    Пострадавший продолжал сидеть, закрыв лицо руками, а из под-под пальцев сочилась кровь.
    Люди подскочили, закричали, побежали в кабину машиниста, вызвали скорую помощь. А я ещё и ещё раз убеждаюсь в том, что если на улице спросят нас о подтверждении каких-либо фактов или участников каких-либо событий, то отвечать на вопросы неизвестным нам лицам не стоит.
  {% endfilter %}
{% endblock %}
