{% extends template %}

{% set title = "Защитная реакция словом" %}
{% set workdate = "28.05.2014" %}
{% set pubdate = "05.11.2017" %}
{% set next = "shuvalow/poem" %}
{% set titleDescr = "1988 год" %}

{% block content %}
  {% filter prose %}
    Вечером <time datetime="1988-01-02">второго января 1988 года</time> Лена задержалась у меня и собралась уходить к себе уже в двенадцатом часу ночи. Я предложила ей остаться у меня, но она вспомнила, что у неё дома остался рабочий халат, а утром надо было ехать на работу. Я уговаривала её ночевать у меня, а утром встать в <time datetime="1988-01-03T06:30">6 часов 30 минут</time>. Успела бы и за халатом, и на работу. Но она пошла. Мы договорились, что если автобус не придёт, то она вернётся ночевать к нам.
    Автобусная остановка была рядом с нами, и я вышла на лоджию, чтоб убедиться, что Лена села в автобус. Стояла красивая тихая белоснежная зимняя ночь. Я видела, как Лена вошла в автобус. Но на душе у меня было неуютно, ни сидеть, ни лежать не могла.
    Когда Лена уже вышла на Парковую улицу, у фонарного столба на повороте к дому кто-то неожиданно схватил её сзади за ремешок её красной сумочки. Она резко развернулась, и свет фонаря чётко осветил лицо молодого человека, который пытался тащить её за сумку и лихорадочно приговаривал:
    — Нам надо в лес.
    Поняв, что он хочет затащить её в ближайший лесок, чтобы нейтрализовать свою похоть, она, глядя ему в глаза, спокойно спросила:
    — Парень, а ты местный?
    — Да, местный, — недоумевая ответил он.
    — Так что же ты своих обижаешь?
    Несколько ослабив напряжение, но ещё держась за ручку сумки, он бормотал:
    — Нам надо в лес.
    Тогда Лена со всей силы потянула за ручку, а потом резко отпустила, и парень упал в снег. Лена громко закричала своим звонким голосом и со всей силы побежала к дому.
    Навстречу ей из дома выскочил Миша, который жил на втором этаже и был сотрудником уголовного розыска. Они вместе пошли по следам преступника, в надежде, что он выбросит сумочку, тем более что она красная и на снегу её было бы видно издалека.
    Но, к сожалению, ничего не обнаружили. Хоть из денежных средств там и был только рубль, но ещё была записная книжка, где были необходимые для работы телефоны, и другие ценные для неё вещи.
    Через день мы пошли с Леной в РУВД, и она подала заявление о случившемся. Через неделю её вызвали на опознание её красной сумочки. А ещё недели через две нас вызвали на суд в отношении этого молодого человека.
    Выяснилось, что через неделю после истории с Леной этот молодой человек подкараулил женщину с последней электрички и расправился с ней, предварительно стащив с неё верхнюю одежду, которую, как и Ленину сумочку, он спрятал в подвал школы. Ученики нашли вещи и сдали в дежурную часть РУВД.
    На день суда потерпевшая ещё лежала в больнице, а перед случившимся она только что вышла из стационара, где находилась на сохранении беременности.
    На суде парень сознался в содеянном. Хоть он и был плотного телосложения, ему оказалось всего пятнадцать лет.
    Я никогда не забуду, как адвокат этого молодого человека, взывая к пониманию, пытался объяснить, что одной из причин обострённого желания обладать женщиной в таком возрасте в данном случае является травма глаза. То есть ощущение своей неполноценности. На что я бросила реплику в зал:
    — Господи, что же с нами слепые-то делать будут!
    Мне запомнилось, как на вопрос судьи к Лене как к потерпевшей о том, как бы она хотела наказать преступника, она, несмотря ни на что, без злобы ответила, что не хочет ему зла и многих лет заключения. Что просто хочет, чтобы на наших улицах никогда и никто не сделал её беззащитной. Да и любую другую женщину. Ведь на улицах своего города хочется чувствовать себя защищённым.
  {% endfilter %}
{% endblock %}
