{% extends template %}

{% set title = "Убит шлагбаумом" %}
{% set workdate = "01.06.2014" %}
{% set pubdate = "05.11.2017" %}
{% set titleDescr = "1980 год" %}

{% block content %}
  {% filter prose %}
    Лихачество, бравада. Зачем это? Затем, чтоб срочно превратить себя в инвалида или вовсе погибнуть?!
    — Нет, — скажет каждый, — конечно, нет!
    А вот так и получается, когда преследует тебя одна мысль — умчаться на всех парусах, насколько позволит скорость, да так, чтоб в ушах звенело. Как будто опьянел, и хочется захлебнуться свободой, вырвавшейся на волю.
    Когда такое летящее состояние вселяется в Вас, остановитесь, перед тем как разрешить себе отпустить себя, проверьте, всё ли Вы выполнили, чтобы обезопасить себя от беды.
    Начало лета, четырнадцать с половиной лет, новенький мопед, завистливые взгляды ребят. Так важно, чтобы рядом был взрослый, который чувствовал бы себя ответственным за паренька, который первый раз в жизни коснулся мопеда. А такая беда может случиться с каждым, как иногда говорят, «безбашенным», да ещё совсем юным.
    Так и здесь: был Вовка — и не стало…
    Невзирая ни на что сели вдвоём на один новенький мопед. Он сидел сзади. Его приятель, уверенный в себе, летел на самой большой скорости под закрывающийся шлагбаум. И он действительно успел проскочить, но на переезде от большой скорости сильно подпрыгнул, шлагбаум резко опустился вниз, и Вовка слетел с мопеда. И… погиб. Добрый, умный, с хорошим будущим, единственный у родителей.
    А приятель даже не сразу оглянулся, не сразу понял, что навсегда потерял друга…
    Страшно, что так бездарно, безумно, из-за ежесекундной жажды свободы уходят от нас дети.
  {% endfilter %}
{% endblock %}
