{% extends template %}

{% set title = "Эх, Пашка…" %}
{% set workdate = "01.06.2014" %}
{% set pubdate = "05.11.2017" %}
{% set titleDescr = "1981 год" %}

{% block content %}
  {% filter prose %}
    Ну почему мы жалеем о своих прошлых действиях после того, как попадаем в беду?
    Наши железнодорожные станции, например, Парголово и Левашово, имеют свои отстойники для товарных составов с грузом, ожидающих своего отправления, а иногда и просто порожних составов. Местные мальчишки часто бегают вдоль этих составов, перепрыгивая с подножки на подножку. Но ведь никто не знает, когда состав вздрогнет и пойдёт, а это происходит так мгновенно, что можно не успеть соскочить на землю, так как мимо, совсем близко, может пронестись на большой скорости, без остановки, другой состав.
    Так случилось и с Пашкой. Ему было всего 16 лет.
    В этот день Пашка вместе с ребятами бегал по стоящим товарным составам, ожидающим своего отбытия. Дурачились между собой. Но состав вздрогнул и пошёл. Не все успели благополучно соскочить на землю, в том числе и Пашка. Некоторые застрявшие на площадках вагона решили покориться судьбе и выйти на землю только тогда, когда остановится состав. А Пашка решил, что сможет соскочить у родной станции, и… остался без ноги.
    Эта колоссальная беда выбила мальчишку из колеи на несколько лет.
    Господи, как объяснить подросткам, что они смогут защитить себя и своих близких, достигнуть своего совершенства только тогда, когда будут здоровыми и независимыми от дурных привычек, когда ночь проводить станут в своей кровати, хотя бы до 25 лет беречь свой ночной сон! Вот тогда-то здоровые молодые люди — будущие хозяева страны и мира — будут беречь справедливость и здоровье людей.
  {% endfilter %}
{% endblock %}
