{% extends template %}

{% set title = "Зам. прокурора К." %}
{% set workdate = "31.05.2014" %}
{% set pubdate = "05.11.2017" %}
{% set titleDescr = "1975 год" %}

{% block content %}
  {% filter prose %}
    Мне предложили перейти из медвытрезвителя в РУВД начальником канцелярии. Больше всего в этой канцелярии меня заинтересовал архив отказных материалов. Правда, там был полный хронологический беспорядок.
    В это время мои девочки были в санатории, а я после основного рабочего дня устраивалась в архиве до 10-11 часов вечера и с большим интересом не только наводила порядок, расставляя дела, соблюдая хронологию, но и перечитывала каждый отказной материал с 1941 года. Получение такой информации ещё раз утвердило моё желание стать участковым инспектором по делам несовершеннолетних.
    Я с удовольствием занималась возложенными на меня обязанностями. А это — и ежедневное представление прокурору района отчёта об оперативной обстановке в районе, и получение секретной почты от фельдфебельской службы, и поездка на почту с целью сдать определённую корреспонденцию, и выдача на несколько часов под расписку секретной корреспонденции, и приём её обратно в тот же день, и прочее и прочее… И, конечно, не быть разиней и не держать открытым сейф.
    На широкий подоконник я устроила цветущие растения.
    В один из обычных дней у меня в кабинете появился мужчина небольшого роста, крепкого телосложения.
    — Здравствуйте! — как-то напористо произнёс он, близко подойдя к моему столу, где я заполняла очередной журнал.
    — Здравствуйте! — спокойно ответила я.
    — Почему Вы не приветствуете старших?! — крикливо произнёс мужчина.
    Я отложила журнал и спокойно спросила:
    — А кто Вы такой?
    Человек рассердился, подскочил на месте, щёлкнув каблуками, одновременно чётко вытянулся и поставленным голосом доложил:
    — Зам. прокурора города — Капелькин!
    Такой маленький плотненький человечек — и так пафосно сообщил о своём месте на Земле, что я невольно широко, по-доброму, улыбнулась.
    — Вот и хорошо, — приветливо ответила я. — А я — начальник канцелярии.
    Он растерялся, ему как-то хотелось показать свою важность, но не вышло.
    — Простите, а что, Вы разве не аттестованы?
    — Нет, к сожалению, эта должность пока не аттестуется. Я понимаю, что Вам нужны отказные материалы. Это возможно только через прокурора района. А прокурор у нас располагается выше этажом.
    — Спасибо. И извините, что побеспокоил Вас.
    А после его ухода мне позвонил прокурор района и просил принести ему пару отказных материалов.
  {% endfilter %}
{% endblock %}
