{% extends template %}

{% set title = "Закрытый интернат" %}
{% set pubdate = "10.03.2008" %}
{% set titleDescr = "1979 год" %}

{% block content %}
  {% filter prose %}
    В середине февраля где-то около одиннадцати часов утра в будний день наша дежурная служба задержала четырёх мальчишек в школьной форме, в ботинках без шнурков, озябших, но довольных. Их привели ко мне в кабинет.
    — Давайте знакомиться, — говорю я им. — Усаживайтесь поудобнее, рассказывайте, кто вы, откуда, и почему раздетые.
    Среди этих ребятишек одного я узнала сразу — это Саша Виноградов из дома на Ломоносовской улице. Это частный дом, поделённый пополам. Одну половину занимают его родители, лишённые родительских прав, вторую половину занимают его бабушка и дедушка.
    Саша направлен в интернат номер два, расположенный на проспекте Кима, на Васильевском. Это здание мне очень знакомо. Там была школа номер двадцать девять, в которой я училась по седьмой класс, а потом нас перевели в школу рядом, номер тридцать четыре, ближе к Финскому заливу.
    Дежурного я попросила найти Сашину бабушку и подвезти к нам. Я знаю, что бабуля очень переживает за Сашу: ездит за ним каждую субботу, а по понедельникам отвозит его к первому уроку. Сама она хоть и астматик, но с готовностью взяла бы внука себе совсем, да дед категорически против. Вот и рвётся душа у бабули, вот и мечется.
    Пока Татьяны Владимировны не было, конечно, вступаю в разговор с ребятами, и кое-что проясняется. Все они выглядят почти как дошкольники, хотя учатся во втором классе, особенно один из них — он меньше всех и прихрамывает.
    — Ребята, что вас заставило по такому холоду ехать через весь город раздетыми? Саша, ты от чего спасал своих друзей?
    — Сегодня нас должны были избить старшеклассники.
    — Так. Давайте сначала. Рассказывайте, есть ли у вас хорошие воспитатели, которые вам нравятся?
    — Да, — перебивая друг друга, заговорили мальчики.
    — Конечно, больше нам нравится воспитатель-мужчина.
    — Почему?
    — Потому что он не закрепляет за нами «бойцов», а когда мы нарушаем дисциплину, то он сам может ударить нас, но не так больно, или за более серьёзное требует отдать ему котлеты или мясо во время обеда.
    — А почему вам не нравится другой воспитатель? Это женщина?
    — Да, она сама нас не трогает, а назначает «бойцов», которые должны бить нас, каждого по отдельности.
    — Так, тогда расскажите, почему в ваших ботинках нет шнурков? Саша, я не поверю, если ты мне скажешь, что бабуля оставила тебя без шнурков.
    — Нет, бабуля каждую неделю покупает новые.
    — Просто к некоторым ребятам никто не приезжает. А у нас уже давно ничего нет, даже простыни отнимают, — заговорили наперебой ребята.
    Итак, дело принимало более серьёзный оборот.
    — Хорошо, ребята. А ночью у вас дежурит воспитатель или няня? Ну, кто-то из взрослых.
    — Нет, остаются дежурить «бойцы» из восьмого класса.
    — А вы их слушаетесь или просто боитесь?
    — Конечно, страшно, — отвечали мальчишки. — Ведь среди ночи просто так могут войти к нам в спальню, включить свет, поставить лицом к стенке и бить по бокам.
    — Подождите, давайте о другом. Пока бабули нет, скажите мне, а кем бы вы хотели быть в этой жизни? Кем? Ну вот ты, — и я показала на самого небольшого по росту.
    — Я? Медбратом. — Почему? Почему не врачом?
    — Потому что я часто болею, поэтому пропускаю уроки. А врачи меня спасли после того, как однажды ночью меня избили «бойцы».
    — Да-да, они отбили ему селезёнку.
    — Господи, да что же это такое!
    Задыхаясь от волнения и подъёма по лестнице, вошла Татьяна Владимировна. Она села напротив меня, отдышалась, и я взяла с неё объяснение обо всём, что она видела в этом интернате. Оказалось, и правда постельного белья нет, шнурки к ботинкам приобретает каждую неделю, в интернате есть «бойцы», которые по просьбе или приказу учителей физически разбираются с младшими. Почему она не рассказала мне раньше? Потому что всем бабушкам сказано, чтобы они молчали, иначе им запретят приближаться к интернату, так как дети на данный момент — государственные.
    В предыдущий понедельник Татьяна Владимировна приехала в интернат с внуком чуть позже обычного. Она быстро помогла ему стащить куртку, и он побежал вверх по лестнице, сопровождаемый звонком на урок. Повесив куртку внука, она услышала страшный крик. Думая, что это кричит её внук, она забыла про свою одышку и астму и сама не заметила, как оказалась на третьем этаже, где прямо на лестничную клетку была открыта дверь в туалет.
    В предбаннике туалета плотный крепыш избивал ногами лежащего на полу мальчишку намного младше его. Татьяна Владимировна закричала о помощи. На её крик из ближайшего класса вышла какая-то классная дама, спокойно подошла и каким-то железным голосом членораздельно произнесла:
    — Не мешайте работать!
    Кроме этого, она сопроводила её вниз, перед этим остановив «бойца» словами:
    — Пока хватит. Я думаю, что он понял.
    Выпроводив Татьяну Владимировну за двери интерната, она предупредила её, чтобы та молчала, а то ведь и её не подпустят к интернату.
    С личного согласия Татьяны Владимировны её объяснение и объяснения детей, а также своё сообщение я направила в городскую прокуратуру. Вскоре пришёл ответ, что факты, изложенные в сообщении, подтвердились. Руководство интерната уволено и заменено. Возбуждено уголовное дело.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2007">2007</time>
{% endblock %}
