{% extends template %}

{% set title = "Безоблачная юность, или Предупреди ребёнка сам" %}
{% set titleDescr = "1974 год" %}
{% set workdate = "17.05.2014" %}
{% set pubdate = "05.11.2017" %}

{% block heading %}
  <h1 class="art__title">Безоблачная юность</h1>
  <p class="art__title-descr">или</p>
  <p class="art__title">Предупреди ребёнка сам</p>
  <p class="art__title-descr">({{titleDescr}})</p>
{% endblock %}

{% block content %}
  {% filter prose %}
    Нам не хочется пугать своих детей-подростков тем, что жизнь в больших городах полна неприятных, а то и опасных неожиданностей. Мы не торопимся огорчать их реальными событиями, но на правах родителей требуем от них выполнения наших правил общежития, то есть приходить домой не позднее определённого часа, сообщать, где они бывают, приглашать своих друзей домой именно в вашем присутствии. Думая, что этим мы щадим психику детей, а на самом деле часто получаем подростковое непослушание — как сопротивление непонятным для них требованиям.
    Поэтому так необходимы доверительные отношения между детьми и родителями. А это так непросто. Достигнуть таких дружеских и в то же время уважительных отношений можно только тогда, когда осознаёшь ответственность за дальнейшую судьбу своего ребёнка. Но, к сожалению, так бывает далеко не всегда, и на то есть масса причин.
    За время моей работы воспитателем детского сада, участковым инспектором по делам несовершеннолетних, а потом снова воспитателем передо мной прошло много людских судеб. Я могу рассказывать об этом не смолкая, если у меня хватит на это времени, а у людей — время для прочтения или слушания.
    Да ведь, коснувшись этих рассказов, каждый вспомнит свои истории, которые, может, заставят человека посмотреть на жизнь несколько иначе, позволят найти время, чтобы понять своих близких, которые так нуждаются в вашем внимании. Чтобы не отнимать у людей время, я постараюсь в дальнейшем изложить здесь такие истории, в которых будет отражён не только отдельный житейский сюжет, но и причины, окружающие подростка и породившие судьбу человека.
    В этот небольшой сборник я хочу ввести и ранее написанные мною рассказы о моей службе в органах. В них отражена наша реальная действительность. Если попробовать проанализировать эти истории, то можно убедиться иногда в том, что в наших поломанных судьбах далеко не всегда виновато правительство, ведь как многое зависит от нас! Нас — простых людей, являющихся необходимой составляющей нашего общества.
  {% endfilter %}
{% endblock %}
