{% extends template %}

{% set title = "Аванс" %}
{% set workdate = "07.08.2005" %}
{% set pubdate = "10.03.2008" %}
{% set titleDescr = "1952 год" %}

{% block content %}
  {% filter prose %}
    Сегодня Иринка удивилась тому, что в школу за ней пришла старшая сестра. В этом году Иринкин четвёртый класс учился во вторую смену. Сестра скомандовала, чтобы Иришка быстро собиралась, так как дома её ждёт мама. До самого дома старшая сестра держала её за руку, как маленькую. Но Иришка ничуть не обиделась и чувствовала себя спокойно и даже весело. Но не успев войти в комнату, она увидела очень строгое лицо матери и остановилась, оробела.
    — Вот, я её привела…
    За окном шумела весна, и Иришке не нужно было снимать пальтишко.
    — Проходи, — строго произнесла мать.
    И только Иришка шагнула через порог, как неожиданно получила удар отцовским ремнём. Она невольно вскрикнула от боли. А мать продолжала наносить ей удары и приговаривала:
    — Сознавайся, сознавайся, сознавайся! — а Иришка уворачивалась от ударов и только один раз успела выкрикнуть:
    — За что?
    Мать била её до тех пор, пока не обессилела. Не получив признания, бросила ремень и приказала ей вымыть руки, лицо и сесть за уроки. Обеда она сегодня не заслужила. Всхлипывая и ничего не понимая, Иришка разложила учебники и тетради, изредка бросая взгляд на старшую сестру, которая готовила домашнее задание по математике.
    Вскоре пришёл с работы отец и весело сообщил, что он нашёл то, что считал кем-то взятым.
    — А я уже отходила её твоим шпандырем, — сказала мать, взглянув на Иринку.
    — Ну что ж, пусть это будет аванс за будущие безобразия, — убеждённо ответил отец и присел к столу в ожидании ужина.
  {% endfilter %}
{% endblock %}
