{% extends template %}

{% set title = "Экзамен" %}
{% set workdate = "15.04.2004" %}
{% set pubdate = "10.03.2008" %}
{% set titleDescr = "1949 год" %}

{% block content %}
  {% filter ins %}
    {% filter poem %}
      Послевоенным помню город мой,
      Когда, с оконца сковырнув замазку,
      Грызя её, мы попадали в сказку
      Послеблокадной и скупой порой.

      Из печки взятый чёрный уголёк
      Мы грызли, как любимый сахарок…
      Послеблокадный милый город мой —
      И детство, пережитое с тобой…
    {% endfilter %}
  {% endfilter %}

  {% filter prose %}
    Дверь в комнату соседки приоткрыта. Из коридора коммунальной квартиры видно, что на столе — вазочка, наполненная кусочками рафинированного сахара. Солнце заливает всю комнату из большого итальянского окна, маленькими искорками переливаются спрессованные снежные кристаллы!
    Иринке всего восемь лет. Она знала, что если бы соседка не спала, то обязательно угостила бы её одним кусочком. Но та крепко уснула после сдачи смены в магазине.
    Иришка на цыпочках вошла в комнату, села на стул около стола и стала рассматривать искрящиеся на солнце кусочки рафинада. Она уже представляла, как кусочек сахара будет таять у неё во рту, как тают настоящие снежинки в тепле. Она уже ощущала эту сладость, но боялась протянуть руку. Вдруг соседка проснётся и застанет её в этот момент! Она знает, что тётя Вера не откажет ей, но… это, если попросить.
    «Ой, ведь я ворую!» — пронеслось в её голове.
    И она вспомнила, как взрослые иногда тихо говорили о том, что наверху есть кто-то, кто следит за нами: он всё видит, а иногда предупреждает людей о чём-то плохом. «А вдруг этот кто-то толкнёт тётю Веру в бок в тот момент, когда я буду брать кусочек, и она откроет глаза и всё увидит?» — размышляла Иринка. Ей стало страшно, и она, крадучись, как и вошла, выскользнула из комнаты.
    Сквозь приоткрытую дверь большой тёплый луч солнца, как бы следя за Иринкой, осветил и часть коридора. Она вошла в свою комнату, где её младшие братишка и сестрёнка играли на большом красном ватном одеяле, расстеленном на полу. «Как хорошо, что я не взяла этот кусочек, ведь они тоже любят сахар, а он так редко бывает у нас», — рассуждала Иришка, включаясь в игру с ребятами.
    Вдруг дверь в комнату открылась, и вошла тётя Вера. Одну руку она держала за спиной.
    — Что же вы тут одни делаете? Смотрите-ка, что здесь у меня? Са-ха-рок! — и она, присев на корточки около ребят, поставила на стул перед ними блюдечко с кусочками сахара. — Я угощаю вас, по три кусочка каждому. Давайте я вам кипяточку налью, если захотите — попьёте.
    Обрадованные дети потянулись за кристальными кусочками, а Иринкино лицо залила краска стыда.
    — Ирочка, а ты что? — тётя Вера погладила Ирину по голове. — Давай угощайся, — тепло и доверительно, почти шёпотом, сказала тётя Вера. — Я знаю, что тебе хочется. Это твои любимые кусочки, которые сами во рту тают, — на Иринкины глаза невольно навернулись слёзы. — Успокойся, — продолжала уговаривать тётя Вера, — я ведь нечаянно проснулась и видела, что ты удержалась от соблазна. Молодец, умница, я и так тебе доверяла, — и она привлекла Ирину к себе. Заглянув в глаза девочки, она сказала: — Давай договоримся: если тебе что-нибудь очень захочется, скажи мне, ладно? — Иринка согласно кивнула головой, но продолжала плакать. — Да не плачь ты, успокойся. — Худенькие плечи девочки продолжали вздрагивать. Тётя Вера снова присела к плачущей малышке, заглянула ей в глаза и тихонько сказала: — Ну послушай. Считай, что у тебя сегодня был экзамен, и ты сдала его на пять. Поняла?
    — Угу, — кивнула головой Иринка. — Тётя Вера, — спросила она еле слышно, — а это вас толкнул тот, кто на небе живёт, да? Это он вас предупредил? — Тётя Вера тепло улыбнулась и сказала:
    — Конечно, это тот, кто живёт на небе. И нам всегда будет лучше, если мы будем об этом помнить.
    Иринка облегчённо вздохнула и потянулась за своими кусочками сахара. Благодарно посмотрела на соседку и тихо сказала:
    — Спасибо.
    — Ну ладно, не скучайте. Ваша мама уже сейчас вернётся, а я пошла к себе, — сказала тётя Вера, закрыв за собой дверь комнаты.
    Так в Иришкиной жизни состоялся первый экзамен.
  {% endfilter %}
{% endblock %}
