{% extends template %}

{% set title = "По грибы" %}
{% set workdate = "20.08.2005" %}
{% set pubdate = "10.03.2008" %}
{% set titleDescr = "1951 год" %}

{% block content %}
  {% filter prose %}
    Иришка вместе со своими сестрёнками и братом очень любили ходить с отцом в лес по грибы. С ним всегда было интересно. Он научил их делать певучие дудки, пел вместе с ними военные песни. Приучил не отпускать резко в лицо сзади идущего большие ветки. Научил палкой искать грибы, узнавать, съедобная сыроежка или нет: он надламывал шляпку, и если показывалось молочко — значит, съедобная. А ещё всем очень нравилось на обратном пути на берегу озера поставить свои корзины и корзиночки, побарахтаться в воде и, устроившись на поляне, разложить приготовленные матерью бутерброды и питьё и послушать рассказы отца — какие-нибудь лесные истории.
    Отец с удовольствием учил их плавать. Он научил их при помощи палки измерять глубину дна и его вязкость. Но всегда перед тем, как пустить детей к воде, обязательно напоминал им:
    — Перед тем, как нырнуть, необходимо войти в воду только по щиколотку и, пригоршнями зачерпывая воду, облить себя под мышками, шею, лицо, за ушами. И только потом, убедившись, что дно в порядке, замерив глубину палкой, можно погрузиться в воду.
    Дети выполняли его требования, не задумываясь об их важности. Однажды, развеселившись с ребятами, отец сам резко нырнул без предварительной подготовки, да и день тогда был нежаркий. Смотрят ребята, а отца нет. Закричали они, забегали по берегу. А он вынырнул немножко дальше от них, медленно вышел из воды и, сделав несколько шагов по траве, присел, а потом лёг, а лицо у него было какое-то необычное — вытянутое, нос острый.
    — Папочка, папа! Ты чего! — наперебой бросились к нему дети.
    — Сейчас полежу, немножко устал, — слабым голосом ответил отец.
    — Да что с тобой случилось? — хлопотали ребята. Они принесли ему полотенце, дали попить. Немного посидев, отец начал рассказывать детям:
    — Вот что запомните! Перед тем как нырнуть, необходимо постепенно охладить своё тело водой так, как всегда вам сказывал. А иначе может произойти такая же беда, как со мной сейчас. Хорошо, что у меня в резинке трусов закреплена булавка. У меня ведь так свело голень, что я еле нашёл силы, чтоб уколоть себя. Ну да ладно, боль болью остановил, только маме не рассказывайте, а то она испугается и плакать будет.
    — Нет, не расскажем сегодня. Потом когда-нибудь, когда большие будем.
    — Ну договорились.
  {% endfilter %}
{% endblock %}
