{% extends template %}

{% set parentTitle = "Иришкины истории" %}
{% set title = "Предисловие" %}
{% set pubdate = "10.03.2008" %}
{% set prev = "lidija_seljagina/poem-74" %}
{% set openGraphImg = "ir.jpg" %}
{% set openGraphImgType = "image/jpeg" %}
{% set openGraphImgWidth = 700 %}
{% set openGraphImgHeight = 912 %}
{% set openGraphImgAlt = "Обложка книги, художник Евгений Попов" %}

{% block subtitle %}
  <h2 class="art__subtitle">Героиня — автор, автор — героиня</h2>
{% endblock %}

{% block content %}
  {% filter prose %}
    У ребенка, рождённого в Ленинграде в августе грозного 1941-го, не может быть лёгкой судьбы. Полной мерой достанутся ему голод и холод, бомбёжки и болезни, тяготы эвакуации, вечные нехватки самого простого и необходимого, нервные срывы измученной заботами матери и страдающего от фронтовых ран отца. Не лучший старт для роста и взросления, для достижения жизненного успеха.
    Чтобы не сломаться, не поплыть по течению, да просто выжить и быть человеком, надо иметь много силы, мужества и оптимизма! Всё это было дано при рождении маленькой Лиде Виноградовой (Селягиной), дано судьбой и генами любящих, но порой поневоле жестоких родителей. А сверх того ей даны были красота, весёлое обаяние, тонкая душа, задорный характер и многие таланты, и главный среди них — поэтический дар. Он раскрывается даже тогда, когда она пишет прозу.
    И жизнь состоялась. Нелёгкая, но с яркими радостями. С ушибами и предательствами, но с любовью, друзьями, порой неожиданными удачами. Со счастьем учёбы и творчества! С детьми, цветами, деревьями, птицами, зверями — неизменными источниками радости. Именно о них — её теплые и вдохновенные строки.
    В этой книге автор собрала и объединила в хронологической последовательности рассказы о жизни своих близких, а также о собственной жизни.
    Читателю ясно, что героиня книги — девочка (девушка, женщина) Ирина — это её автор, преодолевшая и продолжающая преодолевать все трудности и беды, ежечасно вытаскивающая себя из болезни творчеством. Да помогут ей в этом Бог и люди!
  {% endfilter %}

  {% filter prose %}
    Также в книге вы встретите три рассказа от имени мальчика: «<a href="/lidija_seljagina/ir-2-12.html">Слухи</a>», «<a href="/lidija_seljagina/ir-2-13.html">Помог</a>» и «<a href="/lidija_seljagina/ir-3-14.html">Пошутил</a>». Вот что пишет о них автор: «Эти истории были поведаны мне близким человеком. Будучи уже взрослым, он пересказывал отрывочки из своего детства так ярко, что мне не хотелось терять яркий колорит рассказов, и я решила написать их от имени мальчика». Описываемые события <a href="/lidija_seljagina/dates.html" title="Все рассказы Лидии Дмитриевны в хронологическом порядке описываемых событий">произошли</a> в совхозе «Пригородный» (станция Парголово) осенью 1961 года, летом 1962 года и летом 1970 года.
  {% endfilter %}

  <div class="page__content-author">
    Ольга Растворова, член поэтического клуба <a href="http://dompisatel.ru/?page_id=607" target="_blank" rel="nofollow">«Лукоморье»</a>
  </div>
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2008-03">Март 2008, Сестрорецк</time>
{% endblock %}

{% block addition %}
  {% set figureTitle %}
    Обложка книги. Иллюстрация <a href="/lidija_seljagina/resorts.html#popov">Евгения Попова</a> (2004). Название — автограф Лидии Селягиной (2007).
  {% endset %}
  {{figure(openGraphImg, openGraphImgAlt, figureTitle, openGraphImgWidth, openGraphImgHeight)}}
{% endblock %}
