{% extends template %}

{% set title = "Облигации" %}
{% set workdate = "13.08.2005" %}
{% set pubdate = "10.03.2008" %}
{% set titleDescr = "1947 год" %}

{% block content %}
  {% filter prose %}
    Сейчас — летняя пора 1947 года. Из распахнутого окна бельэтажа дома номер двадцать девять по шестой линии Васильевского острова высунулась коротко стриженная девчоночья голова. Заглядывая во двор-колодец, девочка лет восьми, завидев у противоположной стороны дома стайку ребят, крикнула:
    — Эй, вы чего там делаете?
    — В прятки играть будем, — ответил долговязый худой мальчик, — выходи, а то нас мало.
    Из этого же окна высунулась другая стриженая голова.
    — Нам нельзя. Взрослые нас в комнате закрыли и куда-то ушли, — ответила девочка года на три помладше первой.
    К подоконнику тянулись ещё чьи-то детские руки.
    — А там кто ещё? — спросил другой мальчик.
    Остальные ребята стояли, с любопытством задрав головы.
    — Это наш братик, — ответила одна из девочек и подсадила его так, чтобы его можно было увидеть хоть на мгновение.
    — Небольшой ещё, — оценивающе сказала девочка снизу.
    — А у нас ещё сестрёнка есть, она совсем маленькая, в пелёнках лежит, — похвасталась одна из сестрёнок.
    — А игрушки у вас какие-нибудь есть? А то скучно, — спрашивали дети снизу.
    — Игрушек нет, а вот бумажки красивые у мамы с папой я видела, — сказала старшая, — я сейчас покажу.
    Она взяла мамину сумку с полки платяного шкафа и вытащила оттуда несколько пачек красивых бумажек.
    — Мо-го, мо-го, — восторженно стуча ручонками по подоконнику, радостно кричал младший братишка. Кто-то из детей снизу крикнул:
    — А нам киньте немножко, у вас много, и мы посмотрим.
    — Кинем, сейчас. Нам не жалко. И себе немного оставим, — ответил радостный девчоночий голос сверху.
    Девочки по очереди пригоршнями хватали красивые бумажки и бросали из окна. Младший братик визжал от восторга. А красивые бумажки летали, как птицы, выбирая место приземления. Во двор прибежали ещё несколько ребятишек, и всё гонялись и ловили необычные картинки.
    — Всё-о, больше не-ту! — крикнули девчонки из окна почти одновременно.
    — Сё-о, сё-о! — вторил им их младший брат, подпрыгивая и стуча ладошками по краю подоконника.
    — Спаси-ибо! — прокричали ребята снизу и уселись около стены дома на корточки, чтобы поделить бумажки поровну.
    Вдруг из коридора кто-то стал открывать комнату ключом. Девочки быстро положили сумку в шкаф и прикрыли его. В комнату вошла мама.
    — Вы что здесь делаете? И окно открыли, ещё выпадет кто! — строго сказала мать.
    Закрывая окно, она обратила внимание на группу детей во дворе, которые в одной руке держали какие-то бумажки, а второй размахивали и кричали:
    — Спа-си-бо!
    — Что это они такие радостные? — проговорила мать, плотно закрывая и вторую раму.
    — Мы бумажки кидали! — восторженно доложил младший.
    — Какие бумажки? Где взяли? — строго прикрикнула она.
    Девочки вобрали головы в плечи, а братишка стучал кулачком по шкафу и приговаривал:
    — Там, та-ам, та-ам…
    Мать быстро открыла шкаф, а когда открыла сумку, то закричала нехорошим голосом:
    — Облигации! Наши облигации! Ведь нас заставили купить их на целую месячную зарплату… — она выглянула в окно, дети уже расходились. — Стойте! Не уходите, сейчас девочки бегут к вам, — закричала она ребятам.
    — Бегом вниз! И чтобы всё вернули! — скомандовала она старшим, держа младшего за руку.
    — А я-а, а я-а! — вопил младший, топая ногами и вырываясь из рук.
    Мать шлёпнула его, и тот надул губы, насупился, засопел. В это время в комнату вошёл отец.
    — Что здесь такое? Куда побежали девочки? Ты ещё малышку не кормила? И сама ничего не пила? А ты чем недоволен? — он присел около сына и заглянул ему в глаза.
    — Девоськи катинки бух! — и он махнул ручонкой вниз.
    — Какие картинки? Где взяли?
    — Там, там, — малыш подбежал к шкафу и постучал по нему своими кулачонками. Отец взглянул на мать и понял, что что-то произошло:
    — Ну скажи ты, что случилось?
    — Они думали, что это картинки, и выбросили во двор детям. Я послала их собрать. Да смогут ли? — тихо ответила жена.
    — Та-ак. Ты вот что, давай быстро собери на стол. И тебе, и детям есть пора. Да малышку покорми, хорошо, что ещё спит. А об этом не думай, а то молоко пропадёт. Я сейчас соседей обойду; они сами у ребятишек спросят да объяснят им, что это за картинки. Ну давайте собирайте на стол, я сейчас девочек пришлю. Да не горюй ты, и не такое переживали!
  {% endfilter %}
{% endblock %}

{% block addition %}
  {% filter ins %}
    {% filter short %}
      Отцу удалось вернуть облигации.
    {% endfilter %}
  {% endfilter %}
{% endblock %}
