{% extends template %}

{% set title = "Ах, времена, времена…" %}
{% set workdate = "15.04.2004" %}
{% set pubdate = "10.03.2008" %}
{% set titleDescr = "1961 год" %}

{% block content %}
  {% filter prose %}
    Все знают, что в 1861 году было отменено крепостное право. Но не все, особенно молодые, знают, что в 1961 году в Советском Союзе был издан указ, запрещающий частным лицам в своих хозяйствах держать крупный и мелкий скот. Указ был вызван тем, что Партия объявила: в стране построен «развитой социализм», и страна переходит к построению коммунизма, который абсолютно несовместим с частной собственностью.
    Этот год остался в памяти у многих, особенно у тех, кто имел дело с землёй. В те времена многодетные семьи выживали за счёт своего трудолюбия. Плоды земли, возможность иметь молоко и мясо давали родителям надежду вырастить здоровым послевоенное поколение детей. На родительские зарплаты, рассчитанные на одного, от силы двух человек, семью не поднимешь.
    Рабочий день «частника» начинался с пяти утра и заканчивался около полуночи. Это вынужденное фермерство не поощрялось государством, а облагалось очень серьёзным налогом. Частник нёс в приёмный пункт оброк, наложенный на каждый хозяйственный двор. Он сдавал молоко, яйца и, если есть свинья, мясо. Сдавать нужно было круглый год, поэтому приходилось покупать продукты, чтобы заплатить налог: яйца, когда куры не неслись, молоко, когда корова не доилась…
    На этом «забота» о частнике не заканчивалась. Землю около дома следовало использовать согласно указаниям местной власти, то есть на участке деревья и кусты должны были быть размещены в определённом процентном отношении, а остальная часть земли — только под овощи.
    Для исполнения указа по ликвидации домашнего скота на каждом хозяйственном дворе побывала ветеринарная служба — комиссия, которая и определяла, куда будет направлено животное: в колхоз или на мясокомбинат. Всё произошло стремительно. Таким образом, в стране был выполнен и перевыполнен годовой план по заготовке мяса.
    В магазинах столичных городов достаточно долго стояли вдоль стен высоченные пирамиды мясных консервных банок. А войдя в продуктовый магазин, наличие гастрономического отдела можно было угадать по аромату колбасных изделий. Женский стон висел в воздухе над посёлками. Сжатые губы мужчин обещали глубокую память об этой «ошибке» правительства.
    …В этот день мать еле вошла в квартиру. Иринка помогла ей раздеться. Мать с полузакрытыми глазами медленно подошла к дивану и, упав на него, сначала замерла, а потом беспомощно зарыдала.
    Ирина понимала, что плачет мать от этой жестокой несправедливости. Она долго не отходила от матери, дала ей возможность нареветься, приготовила успокоительный чай. Мать оставалась совсем беспомощной ещё несколько дней, провела их в постели и отказывалась от еды. Постепенно шок стал проходить, и мать устроилась на работу, за которую платили гроши, и продолжала работать в своём саду-огороде. Огород помогал выжить и морально, и физически.
    А в это время в местном отделении милиции подводили итоги по выполнению Указа о запрете содержания домашнего скота. Перед совещанием в дежурную часть зашёл слегка пьяный мужчина и с чувством выполненного долга подал дежурному заявление о том, что у его соседа ночью хрюкал поросёнок. Дежурный прочитал заявление и, увидев указанный адрес, проговорил:
    — А что же ты не дописал, что в этой семье шестеро детей мал мала меньше? Ведь поросёнок — не корова, подрастёт — заколют. Для детей — поддержка.
    Но в этот момент вошёл начальник отделения и, увидев бумагу в руках дежурного, властно потребовал заявление. Прочёл и здесь же написал резолюцию: «Участковому Иванову И. И. для исполнения. Срок исполнения — трое суток», — расписался и вышел.
    На этом участке оказался исключительно усердный участковый. Он просидел в засаде в кустах около забора две холодных ночи. К утру второй ночи услышал детское, почти нежное хрюканье поросёнка. Зашёл к соседу, написавшему заявление, взял в понятые заявителя и его жену и тут же составил акт о наличии бедного животного в хозяйстве соседа. Нарушители были оштрафованы, поросёнок сдан на мясокомбинат. Участковый получил премию и был счастлив.
    Весна 1961 года для многодетных рабочих семей, обычно рассчитывавших на подсобное хозяйство, оказалась голодной.
    Позже мать высказала невероятную мысль:
    — Ты знаешь, а ведь это вредительство. У всех, у кого на нашей улице были здоровые, сильные коровы, дающие прекрасные надои с высокой жирностью, «кормилицы» были отправлены на мясокомбинат, а старые и слабые здоровьем — в колхозы. Что же завтра будет с этими колхозами? Это очередное вредительство, — прошептала она.
    Тогда, в 1961 году, она ещё не могла рассказать своим детям, что когда ей было четырнадцать лет, их семья, шестеро из девяти выживших детей, с грудничком на руках были выброшены на улицу. Отца увезли по этапу в Сибирь, а дом использовали под школу. И пошли скитаться по свету взрослые и дети только за то, что умели трудиться и жить честно, что сами, без чужой помощи, своими руками и хребтом могли заработать на свою жизнь.
    Вскоре вышла статья Сталина о перегибах в коллективизации. Хотя их семья относилась к середнякам, никто не вернул им отца, дом и нажитое имущество. С ярлыком «кулацкие дети» трудно было сохраниться. Но им повезло, что в самый первый и гибельный момент им тайно помогала вся деревня.
  {% endfilter %}
{% endblock %}
