{% extends template %}

{% set title = "Не потеряй надежду" %}
{% set workdate = "25.04.2003" %}
{% set pubdate = "10.03.2008" %}
{% set titleDescr = "1962 год" %}

{% block content %}
  {% filter prose %}
    Иришка ехала в Ленинград из Витебска, куда была командирована от своего завода. Вот позади остался белорусский призыв: «Граждане витебляне!» — поразивший Ирину своим звучанием. Поездка подарила ей много впечатлений, интересных знакомств; и уже не хотелось расставаться с новыми друзьями. Но такова жизнь: терять и находить приходится нам в этой круговерти.
    Лицо её пылало: большие чёрные с прищуром глаза были загадочны. Она решила собраться с мыслями и, отбросив свои длинные тяжёлые чёрные косы и подперев кулачки под смуглые щёчки на столике у окна, засмотрелась на проплывающие за окном посёлки и поля нашей бесконечно огромной и родной Земли. Ах, какие мелодии звучали в её душе! А колёса, постукивая о рельсы, задавали мелодиям ритм, и казалось, звучит большой оркестр.
    Вдруг кто-то как бы случайно прикоснулся к её косе. Она сначала не обратила внимания, но прикосновение повторилось. Оглянувшись, она увидела пятерых молодых людей, очень напоминавших вчерашних школьников. Молодые люди извинились за свою якобы непреднамеренную неловкость и предложили Иринке поиграть с ними в карты. Она ответила, что играть в карты не любит и не будет. А вот вечером может им погадать с тем условием, если они сейчас не будут её беспокоить.
    Молодые люди с удовольствием согласились. И уже позже, к вечеру, они пришли к Иришке и угостили её разной вкуснятиной, а потом она действительно раскинула им карты. В результате стало ясно, что трое ребят останутся в казённом доме, а вот двоим предстоит дорога обратно.
    Оказалось, что ребята едут поступать в военное училище. Иришка заметила, как не на шутку загрустили двое пареньков, и всей душой пыталась их убедить, что человек никогда не должен терять надежду. А гадание и предсказание надо воспринимать как предупреждение тонких, слабых периодов жизни. К этому надо быть готовым и учиться эти периоды преодолевать.
    Поезд подошёл к Ленинграду, и, прощаясь, ребята обещали навестить Иринку. А та в свою очередь ещё раз просила их не терять надежду.
    Однажды ещё в период белых ночей, когда Ирина возвращалась домой с вечерней смены, ничего не подозревая, она встретила своих старых знакомых. Они сдержали своё слово и навестили её. А рано утром двое из них действительно возвращались домой, в свой родной Киев.
  {% endfilter %}
{% endblock %}
