{% extends template %}

{% set title = "Уроки жизни" %}
{% set workdate = "13.05.2007" %}
{% set pubdate = "10.03.2008" %}
{% set titleDescr = "1960 год" %}

{% block content %}
  {% filter prose %}
    Как будто при пробуждении, Иринка услышала резкий скрежет тормозов, крики людей. Почувствовала, как чьи-то сильные руки крепко прижимали её к себе. Это было только мгновенье. Глаза её ещё ничего не видели. Она снова как будто растворилась, но полученная пощёчина заставила её сконцентрироваться, и она словно сквозь дымку увидела лицо Володи Говоркова. И опять всё исчезло…
    После следующей пощёчины она более чётко увидела лицо знакомого паренька, который крепко держал её за предплечья и внимательно смотрел в глаза. А она словно проснулась. В ушах ещё стояли скрежет тормозов и страшные крики людей: «А-а-а…»
    Ноги её ослабли, всё тело обмякло. И если бы не сильные Володины руки, Иринка бы рухнула. Он крепко обхватил её за талию и аккуратно повёл к скверу. Помог ей присесть на лавочку, сильно прижал к себе, чтобы сбить нарастающую дрожь во всём её теле. Она невольно прильнула к пареньку и вдруг всё вспомнила… Слёзы хлынули сами собой… А он, слегка прижимая её за плечи, приговаривал:
    — Теперь поплачь. Всё будет хорошо…
    Она так рыдала, что не заметила, как он достал из кармана её пальто письмо и прочитал его. Обессилев от слёз, затихла.
    — Спасибо тебе, — слабым голосом сказала она, уткнувшись в его шинель, — спасибо, — и тут Иринка увидела в руке Володи присланное ей письмо. Он положил свои руки на её, сложенные замочком, и тихо, но очень уверенно сказал:
    — Тот, кто написал это письмо и отправил тебе, очень хотел, чтобы ты поверила в эту ложь.
    — Почему ты так думаешь? — благодарно заглядывая ему в глаза, слабым голосом спросила Иринка.
    — Потому что если бы твой парень действительно погиб при исполнении воинского долга, как пишет тебе этот псевдодруг, то сообщили бы тебе об этом не так, наигранно выписывая аккуратнейшим образом каждую букву. Вот увидишь, когда-нибудь ты узнаешь, что это писала девчонка. А вообще, это здорово, если бы меня кто-то так преданно ждал. Только ведь сейчас ты чуть не погибла. Ведь люди думали, что ты сама бросилась под машину. Хорошо, что я успел тебя схватить, да и водитель — молодец, сумел резко затормозить. Я сразу понял, что с тобой что-то неладное, потому что ты шла через дорогу так быстро, как во сне, будто ничего не видя перед собой. Но не думал, что сознание твоё настолько отключилось, и мне пришлось приводить тебя в чувство пощёчинами. Извини, — он снова положил свою руку на её и, заглянув в глаза, спокойно спросил: — Расскажи мне, как ты узнала об этом письме.
    — Володя, сегодня же Первое мая. Я встала утром и собралась на демонстрацию с заводскими ребятами. Перед выходом бросила взгляд на почтовый ящик, интуитивно решила проверить и обнаружила письмо.
    — А ты не рассмотрела штамп, откуда оно пришло? Ведь оно должно было прийти из другого города. Обрати внимание, как на нём смазаны буквы. Разобрать невозможно.
    — Нет, я сразу открыла и прочитала. Ты знаешь, я так испугалась, что даже не заметила, как оказалась в квартире подруги. Первое, что я произнесла: «Ты слышишь, Толя погиб». А Аида медленно повернулась ко мне и как-то неестественно позевала, жеманно прикрыв рот. Я остолбенела от пойманного выражения безразличия и выскочила из квартиры. Бежала бегом не думая куда… Сначала мелькали люди шумные, яркие, а потом я ничего не помню. И как я с переулка Каховского пробежала по проспекту Кима, Железноводской, Уральской, пересекла Уральский мостик, Малый проспект, Средний проспект и оказалась на Большом проспекте, не помню.
    — Ну так вот, пойми, тот, кто хотел тебе сделать больно, справился с этой задачей. Только ты в это не верь. Ведь ничего просто так не бывает. Смотри на жизнь со стороны, старайся не входить в состояние такой безысходности, иначе беда будет. Ну, куда теперь пойдёшь?
    — Конечно, домой. Я чувствую невероятную слабость.
    — Давай я провожу тебя до автобусной остановки, а там выйдешь прямо у своей парадной. Будешь организовывать заводской вечер в нашем училище — тогда и свидимся. У меня увольнение заканчивается.
    — Спасибо тебе, Володенька. Надо же как в жизни бывает. Ещё раз спасибо, — тихим виноватым голосом благодарила Иринка своего спасителя. Паническое состояние потери стало отступать, но его сменило нарастающее чувство недоумения: «Как же так? Получается, что такой большой путь я пробежала с отключенным сознанием? Что надо знать людям, чтобы этого не происходило? И Аида, которая всегда очень интересовалась моей жизнью, так наигранно и жеманно позевала. Значит, она знала об этом письме, ведь она не попыталась меня остановить. А может, она и написала его…»
  {% endfilter %}
{% endblock %}
