{% extends template %}

{% set title = "Ах уж эти дагестанцы!" %}
{% set workdate = "29.10.2007" %}
{% set pubdate = "10.03.2008" %}
{% set next = "lidija_seljagina/ir-3-1" %}
{% set nextTitle = "К следующей части книги" %}
{% set titleDescr = "1963 год" %}

{% block content %}
  {% filter prose %}
    Через два года Иринке повезло: на заводе от профсоюзной организации ей дали две спаренных горящих путёвки в дом отдыха «Взморье», расположенный между Туапсе и Сочи. Две вместе они стоили всего четырнадцать рублей сорок копеек. Иринка была в восторге. Она обожала поездки в поездах дальнего следования. Одно из её стихотворений начиналось так:
  {% endfilter %}

  {% filter ins %}
    {% filter poem("quote") %}
      Я люблю паровозные гуды
      И чадящей трубы облака,
      Я люблю свежей насыпи груды
      Привезённого с моря песка.
    {% endfilter %}
  {% endfilter %}

  {% filter prose %}
    Ехать в поезде было не скучно, так как в этом же вагоне ехала отдыхать молодая пара из её цеха.
    За окном мелькали леса, поля и реки, деревушки, церквушки, а другой раз — километры брошенной земли и опустевшие, разрушенные домики. Но весной при ясном небе не хочется думать о плохом, а верится в то, что всё ещё можно восстановить и наладить.
    После двух ночей, проведённых в поезде, и жаркого дня организм Иринки дал сбой. А ей ещё предстояло проехать автобусом до дома отдыха. «А, была не была!» — думала Иринка. Тем более что опоздавших, едущих по горящим путёвкам, подхватывал попутный автобус от соседнего санатория. «Надо торопиться», — решила она.
    Водитель был в хорошем настроении: с улыбкой на лице и с доброй шуткой на устах. Все удобно устроились, и автобус тронулся.
    Многие знают эти южные дороги. На очередном повороте водитель, вырулив на прямую, ещё немного добавит скорость и снова куда-то повернёт. Не каждый выдержит такой путь. Вот и Иринкин вестибулярный аппарат совсем вышел из строя: на очередном повороте она отключалась, и на какое-то мгновение сознание покидало её. Пассажиры ахали, просили водителя остановить автобус и вынести девушку на воздух. Он выполнял все их требования, но уже без улыбки на лице, а с большим человеческим волнением. Он уже начал сердиться и, буквально вынеся её из автобуса, поставив около себя, просто закричал ей в ухо:
    — Быстро два пальца в рот, или я сам это сделаю!
    А она, еле держась на ногах, поддерживаемая им, тихо качая головой, сказала:
    — Потерпи, дяденька, ведь уже скоро.
    Он схватил её на руки, как ребёнка, посадил на очередное место, которое предложили взволнованные пассажиры, и строго сказал:
    — Ну за что мне такое наказание? Я потерплю, поеду потише, но и ты держись!
    Иринка благодарно взглянула на него. Наконец автобус остановился.
    — Ну вот тебе твоё «Взморье», — с улыбкой сказал водитель. Иринка попыталась встать. — Сидеть! — крикнул водитель, выходя из своей кабины. Сначала он вынес её чемодан, отнёс и поставил его у ограды при входе на территорию дома отдыха, потом взял Иринку на руки и, посадив её на чемодан, сказал: — Ну сиди, жди, кто-нибудь увидит тебя. Я уже везде опоздал. А ты поправляйся. И чтоб глаза мои больше не видели тебя в таком разобранном виде!
    Иринка в знак благодарности слабо улыбнулась своими бледными губами. Она слышала добрые, сочувствующие напутствия пассажиров и медленно помахала им рукой. Облегчённо вздохнула и вдруг почувствовала такую нарастающую головную боль, что так и не смогла вспомнить, как она оказалась в медицинском кабинете. Ей дали выпить какую-то микстуру, какие-то таблетки, потом угостили вкусным чаем, и ей стало так хорошо, как будто ничего подобного с ней и не происходило.
    — Ну что? Теперь, наверное, и танцевать готова? — улыбаясь, спросила медсестра.
    — Ой, и правда, так здорово! — Ирина встала, сделала несколько шагов. — Спасибо. Теперь точно всё в порядке, — с благодарностью ответила она.
    — У нас есть свободное место на втором этаже, но там в номере только пожилые женщины. Согласна?
    — Конечно, согласна. С ними спокойнее.
    — Пожалуй, ты права. Здесь, в наших краях, такой красавице спокойнее будет среди старших. Одни косы чего стоят! Да смотри на танцах осторожнее! Если кто приставать будет, то реагируй сразу. А то у нас здесь одну пригласили выйти из зала на улицу воздухом подышать, да вот уж третий день ищут. Вот беда какая! Так что если что — жалуйся, проси помощи, мне скажи, — взволнованно говорила медсестра.
    — Спасибо большое! А теперь куда мне идти? — пытаясь взять свой чемодан, спросила Иринка.
    — Ты вот что, чемодан сейчас не хватай. В тот номер сейчас пойдёт сестра-хозяйка. Если ты не против, она его отнесёт и пригласит кого-нибудь из этой комнаты. Сейчас у нас обедает первая смена, а они и ты теперь будете обедать во вторую смену. Так что ты успеешь оглядеться, освоиться. Согласна?
    — Конечно, согласна. Даже очень согласна! Это хорошо, что сразу не одна буду.
    — Ну вот и хорошо.
    В медпункт пришли сразу три женщины. Поздоровались, по очереди назвали себя и пригласили Иринку прогуляться перед обедом на территории. Иринка поблагодарила медсестру, сказала, что всё запомнила, и если будет необходимость, то обязательно обратится к ней.
    — Вот и молодец. И мне будет спокойнее, — сказала медсестра, закрывая за ними дверь.
    Иринка уже забыла, что с ней произошло. Ухоженные аллеи, приветливые люди и, конечно, замечательная погода создавали хорошее настроение. Женщины пошли по направлению к столовой, по пути рассказывая о порядках в доме отдыха и показывая, где какое здание, как пройти к морю. Около столовой группа молодых людей играла в кольцеброс. Иринке показалась забавной такая серьёзная озабоченность молодых людей, их участие в детской игре, и она звонко засмеялась, увидев на лице одного молодого человека неподдельное расстройство по поводу своей неудачи. Спутницы тоже обратили на это внимание, но тут же отвлеклись, так как пришло время обеда. Когда уже шли из столовой, продолжая знакомство с местностью, Иринку окликнул молодой человек и подошёл к ней ближе:
    — Ирочка, можно вас на минуту?
    Женщины с удивлением приостановились.
    — Вы не торопитесь, не уходите от меня далеко, — шутливо попросила их Ира. Они понимающе закивали головами. — Я слушаю вас, молодой человек. Что вы хотите мне сказать?
    — Ирочка, нам предстоит вместе с вами поехать в Ленинград.
    — Какое совпадение! Надо же! Ой, подождите! А как вы узнали, что я из Ленинграда? И тем более — когда мне ехать обратно? А вместе с вами зачем?
    — Ирочка, я буду просить руки у ваших родителей, чтобы вы вышли за меня замуж.
    Иринка замерла от неожиданности. Перед ней стоял хоть и симпатичный, даже обаятельный молодой человек с кавказской внешностью, но она не понимала, как это так — стремительно, без её согласия.
    — Да вы что, молодой человек! Я даже не знаю, кто вы, как вас зовут, чем занимаетесь, чем интересуетесь, где живёте. Хоть вы внешне симпатичны и обаятельны даже, но как это — не спросив меня?
    — Ирочка, меня зовут Шамиль. Я — аварец, живу в Махачкале.
    — Нет, подождите, у нас так не делается.
    — А как же по-другому, если мне понравилась девушка с первого взгляда? — недоумевал молодой человек.
    — Нет, Шамиль, у нас молодые люди сначала знакомятся, встречаются, узнают многое друг о друге, и если их интересы совпадают, они тянутся друг к другу, тогда и встаёт вопрос о встрече с родителями, чтобы поставить их в известность о совместном решении. Я огорчу вас, наверное, своим ответом. Собираясь в поездку, я поставила перед собой только одну задачу — укрепить своё здоровье по мере возможности, и никаких временных отношений, встреч и расставаний. Я уже привыкла к тому, что молодые люди, особенно в период отдыха, обманывают нашего брата — от этого в душе остаются одни страдания. И не пытайтесь меня очаровывать, потому что не хочу разочароваться. Извините, меня ждут женщины.
    Молодой человек был ошеломлён: «Надо же, вроде такая молоденькая, такая хохотушка, а с таким характером. Ну ничего, посмотрим, чья возьмёт», — решил он про себя и медленно побрёл по аллее.
    Иринка поделилась с женщинами неожиданным предложением и сказала, что очень рада тому, что она оказалась вместе с ними.
    — Да ты не беспокойся, может, он поймёт, а если будет продолжать преследовать, то мы своего приятеля привлечём и будем тебя охранять. Эти люди упрямые и не понимают, когда им девушки отказывают, как будто у них права голоса нет, — сказала одна из женщин.
    — Ой, спасибо вам всем за поддержку. А вы знаете, я мечтала, что буду вставать в шесть часов утра для прогулки, зарядки. И костюмчик себе подобрала симпатичный.
    — Ну так действуй, — сказала соседка по койке.
    — В шесть утра он, поди, спать ещё будет, — поддержала её другая.
    На следующее утро ровно в шесть часов Иринка тихонько вышла из номера, заглянула вниз со второго этажа и… о ужас! Все стены, начиная со второго этажа и до самого выхода, были исписаны признаниями ей в любви и верности — и в прозе, и в стихах. А когда она заглянула сквозь перила лестницы, то встретилась с ним взглядом. А он, задрав голову вверх, с нескрываемым счастьем в голосе произнёс:
    — Доброе утро, дорогая! Я тебя жду. Иди скорей ко мне!
    Ира прыгнула к своей двери и закрылась изнутри. Одна из женщин проснулась и, увидев растерянное лицо Иринки, прижимавшей спиной дверь и державшей указательный палец у рта, удивлённо произнесла:
    — Да ты что? В такую рань — и он уже здесь? Он что, больной?
    — Слушайте, вот как мне теперь здесь жить? — шептала Иринка.
    — Да не горюй. Мы сегодня же привлечём своего соседа. Он будет нас сопровождать везде, а иногда и на танцы. Не переживай. Мы вчера с ним толковали на эту тему. Он нас убедил, что эти молодые люди слышат только мужчин, они не воспринимают женского отказа.
    Ирина немного успокоилась.
    Шамиль не посмел подняться в женский корпус. А на улицу Ирина выходила только в сопровождении старших. Даже за столом у них появился привлекательный плечистый мужчина, но он был глухонемой и переговаривался со своими соседками по столу письменно. Иринка обратила внимание на его прекрасный каллиграфический почерк. «Значит, порядочный человек», — подумала она.
    Он сопровождал её в Лазаревское к стоматологу, когда у неё невероятно сильно болел зуб, и письменно договаривался с врачом, чтобы ей поставили самую надёжную пломбу.
    — Хороший у вас сопровождающий, умный, и почерк у него отличный, — сказала врач. Иринка чувствовала себя ребёнком, ей было уютно.
    Шамилю в такой ситуации оставалось только здороваться издалека.
    Через неделю была предложена автобусная экскурсия в Сочи. Ирина отказалась: она не знала, как поведёт себя её вестибулярный аппарат. Но, бросив взгляд в окно, увидела бродившего около её корпуса Шамиля.
    — Ой, сходите кто-нибудь за нашей медсестрой, скажите, что я зову её, мы с ней договорились.
    Медсестра предложила всем зайти к ней в кабинет, а потом все вышли вместе с ней. Она закрыла кабинет снаружи. На время экскурсии Иринка осталась в кабинете и читала книжку.
    Такое осадное положение не помешало ей познакомиться с двумя симпатичными парнями. Один из них — Гена Ворона — служил в это время в тех краях. Проходя вечером мимо беседки, вся Иринкина компания услышала замечательное исполнение лирической песни: «Отчего, отчего, отчего так хорошо? Оттого, что ты идёшь по переулку…»
    Компания остановилась, и Иришка первая шагнула в беседку.
    — Кто здесь? Можно к вам присоединиться? Не помешаем? — спросила она.
    — Конечно, не помешаете. Проходите все, я здесь один, это я вас зазывал, — весело ответил парень, одетый в солдатский мундир.
    — А как это вы здесь во время службы? — серьёзно спросил мужчина из Иришкиной группы.
    — Да у меня ещё увольнение не закончилось, — без обиды ответил парень.
    — Тогда спойте нам что-нибудь ещё, а? Уж больно у вас душевно получается, — попросила Иринка.
    — Давайте все вместе, а? — пригласил паренёк.
    Старшие уселись на лавочке, и одна из женщин сказала: — Давайте вы вдвоём: у вас голоса молодые, красивые. А мы послушаем.
    Так завязалось знакомство.
    Иногда Гене удавалось хоть на короткое время попасть в танцевальный зал, но все знали, что с Ирочкой можно было танцевать только с позволения её «временных родителей», да ещё к ним присоединился молодой человек Алёша из Усть-Лабы. Ему хотелось выговориться, и он рассказал Иринке о своей жене, которая очень похожа на неё, и что у них уже есть маленькая дочь, а его мать не разрешает жене жить в их доме. И как соединить ему этих необходимых для него женщин? Как будто он ждал от Иринки и её соседок по палате волшебного совета.
    Всё было бы ничего, но время от времени Шамиль снова исписывал все стены словами о своей любви к Иринке. А ей от этого было и неудобно, и страшновато. Тем временем медсестра подсказала, что была свидетелем того, как Шамиль интересовался конечным сроком пребывания Иринки в доме отдыха и временем отбытия поезда на Ленинград.
    Алёша уезжал раньше. Он и предложил: чтоб Иринкин путь был безопаснее, без преследования, надо, чтобы Иринка уехала местным поездом до Кропоткина. Там он встретит её, а на следующий день проводит на поезд. В его порядочности никто не сомневался, да и в доме у него было полно родственников.
    Так Шамилю и не удалось приголубить Иринку, несмотря на своё аварское происхождение. Но в конце декабря на заводе в лаборатории, где работала Ирина, её позвали к телефону.
    — Дорогая, я нашёл тебя! Теперь ты будешь со мной всегда! — почти кричал он от счастья.
    — Нет, Шамиль, это невозможно. Я только что вышла замуж, — ответила Иринка.
  {% endfilter %}
{% endblock %}
