{% extends template %}

{% set title = "Последствия травмы" %}
{% set workdate = "18.05.2007" %}
{% set pubdate = "10.03.2008" %}
{% set titleDescr = "1960 год" %}

{% block content %}
  {% filter prose %}
    После полученной электротравмы прошло месяцев девять. Иринка осталась работать в своём сборочном цехе родного военного завода.
    Яркое летнее утро. В просторном цехе — как в большом классе. Вдоль огромных окон протянулись конвейерные линии. По обеим сторонам конвейера женщины в белых халатах и колпачках склонились над пайкой мелких плат. В воздухе витает аромат канифоли. За привычной работой девчата переговариваются вполголоса:
    — Кулундук! Галя! Давай-ка поменяемся с тобой паяльниками. Что-то никак не могу приспособиться к твоему, — обращается Иринка.
    — Давай, — и Галя встала, чтобы подать паяльник.
    Иришка приподнялась со своего рабочего места. Яркие лучи солнца слепят ей глаза. Она протягивает руку навстречу Гале… И вдруг глаза её окунулись в тёмную ночь.
    — Ой, что это! Глаза, мои глаза… Я ничего не вижу. Девчонки, что с моими глазами, что? Я вас не вижу! — причитала Иринка. Она ещё услышала, как чей-то голос торопливо и чётко ответил:
    — Внешне с глазами всё в порядке…
    …Иринка увидела себя лежащей на зелёной поляне. Вокруг неё хлопотали люди. Сверху она видела их сосредоточенные лица. Она не чувствовала ни боли, ни страха. Она испытывала ощущение гармоничного равновесия тёплой тишины. Стоящий в её изголовье человек сказал строгим голосом:
    — Пятнадцать, семнадцать минут.
    Вдруг Ирина почувствовала невероятное нарастание головной боли, сопровождающееся металлическими отблесками молний, режущими глаза. Она услышала вырвавшийся из неё страшный крик. Голова её дёрнулась, вся она ослабла. А люди, хлопочущие вокруг, просили её:
    — Ну, ещё, ещё. Давай, вернись.
    Страшное нарастание головной боли повторилось, и вместе с разрядами металлических молний вырвался душераздирающий вопль. Как будто что-то прорвалось внутри, и она, обессиленная и беспомощная, открыла глаза и уже по-настоящему увидела над собой ясное небо и себя, лежащую на поляне около здания цеха. Вокруг хлопотали люди…
    — Вернулась, вернулась! Наконец-то! Теперь всё будет хорошо. Спи, отдыхай.
    И она заснула сном очень уставшего, но выздоравливающего человека.
  {% endfilter %}
{% endblock %}
