{% extends template %}

{% set title = "Помог" %}
{% set pubdate = "10.03.2008" %}
{% set titleDescr = "1962 год" %}

{% block content %}
  {% filter prose %}
    В летнюю пору мы, совхозные мальчишки, предоставленные сами себе, бродим по окраинам совхоза. Иногда собираемся на рыбалку, иногда — в лес.
    А в нежаркий день или поутру обязательно гоняем в футбол. Сегодня с утра решили двинуться к речке, заглянуть в совхозные сараи. Чердаки сараев заполняются душистым сеном. Внизу обычно хранят инвентарь землепашца. Когда пробираешься по чердаку, под ногами иногда прокручиваются брёвна, того и гляди навернёшься вниз. Но манящий запах сена зовёт нас.
    Вот и сегодня посидели на сеновале, потолковали за жизнь и договорились разбежаться по домам, а после обеда собраться на футбольном поле. Все стали по-быстрому спускаться по приставной лестнице, я оказался последним. И, ожидая своей очереди, переминался с ноги на ногу. Вдруг бревно подо мной прокрутилось, и я упал, приземлившись на сено пятой точкой. Невероятная, обжигающая боль пронзила мой бедный зад. Неожиданный душераздирающий вопль вырвался из моей глотки.
    Пацаны поняли, что я хорошо сел на вилы, черенок которых плотно упирался в угол сарая. Всем стало ясно, что просто так с них не слезешь. Я вопил о помощи.
    — Терпи-и, — закричал Толька, стараясь перекричать мой вопль, — я сейчас.
    И вдруг ещё более чудовищная боль пронзила мою задницу. Казалось, что вилы ищут мою душу, чтобы выпустить её на волю. Мгновение — и боль прекратилась. Никто не верил, что весь ужас позади.
    Оказывается, чтобы снять меня с вил, Толька сначала вонзил их в меня поглубже и, когда черенок вил оторвался от пола, накренил их и выдернул из меня. Ребята помогли мне спуститься с лестницы и стали осматривать моё тело. Все были поражены, что, кроме проколов, никаких следов крови не было.
    — Что же это за странная часть тела — наша «пятая точка»? — сказал Толька.
    — Наверное, попался удачно, — ответил Колька.
    В этот вечер мне не пришлось играть в футбол. Но душа моя не выдержала, и я после обеда был около ребят в качестве болельщика.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2003-02">Февраль 2003</time>
{% endblock %}
