{% extends template %}

{% set title = "Неординарное решение" %}
{% set pubdate = "10.03.2008" %}
{% set titleDescr = "Лето 1969 года" %}

{% block content %}
  {% filter prose %}
    <time datetime="1969-05-06">Шестое мая 1969 года</time>, вечер. Перрон Витебского вокзала Ленинграда запружен народом. Там всегда многолюдно. Ждали нового состава Ленинград — Кишинёв. Отъезжающие, провожающие — разгорячённые, взволнованные лица. Всё, как в последний раз…
    Внимание привлекала интересная группа людей. Видимо, это были две сестры, их отец и две маленькие девочки, лет четырёх и двух.
    Старшая сестра — стройная, смуглая, чёрные толстые косы ниже пояса, белоснежные зубы, чёрные, формы вишни, глаза. А две малышки — это её дочери. Причём старшая — голубоглазая, светленькая, с худеньким, бледным личиком, а младшая — смуглая, с чёрными волосами и щёчками-пампушками. Младшая сестра молодой матери была чем-то похожа на старшую дочь. Пожалуй, жестами. Все черты её лица были более тонкими, кожа — светлой.
    А их отец был статным мужчиной, уже седым, но ещё очень ладным, с голубыми глазами и горячим характером. Он пытался очень убедительно сказать что-то такое, что остановит дочь и заставит её удержаться от своего решения, а именно, уехать в неизведанные места, где её никто не ждёт с двумя маленькими детьми.
    — Что ты делаешь? Ну на что ты рассчитываешь? Опомнись!
    — Да, папочка. Я рассчитываю на то, на что не рассчитывал Наполеон, то есть на помощь народа. Я рассчитываю на какую-либо тётю Машу, тётю Пашу или тётю Клашу. Я рассчитываю на исцеление детей своих. Не обижайтесь на меня. Я напишу, где остановимся. Ждите.
    В этот момент она подала проводнице билеты, потом передала ей своих девочек и, подняв чемодан, стремительно и легко поднялась по ступенькам в тамбур вагона. Оглянулась, махнула на прощанье рукой, и ещё раз вырвалось из её души: «Поймите меня! Ждите!»
    Весь состав, как бы приняв на себя всю печаль расставаний, охнул, содрогнулся и поплыл, оставляя на перроне людей, не изменивших своему образу жизни, разлучённых со своими родными и близкими.
    Ах, вокзалы, вокзалы… Какие баллады, романсы, оды, стихи, песни, а то и целые романы можно посвящать действам, которые совершаются здесь, на перроне и в здании вокзала. Какие таинственные действа происходят порой, какая буря эмоций, как волны в шторм, поднимается и утихает, ударяясь о реалии нашей действительности.
  {% endfilter %}

  {% filter prose %}
    Эмоциональным толчком для неординарного решения послужили сложившиеся обстоятельства. Сложный ленинградский климат и не очень крепкая материальная база обязательно зацепят рикошетом какое-нибудь звено жизненной цепочки.
    Случилось так, что у старшенькой определилась двусторонняя очаговая пневмония и в течение месяца даже в больнице излечению не поддавалась. А у младшенькой начался астматический кашель. Участковая врач, утешая молодую растерявшуюся маму, приговаривала:
    — Да не расстраивайтесь вы так. Климат у нас такой. А детей подобных в городе уже больше пятидесяти процентов. Ничего не поделаешь.
    А здесь ещё решили, что старшей девочке сделают полное переливание крови. Вот и испугалась молодая мама, и решила она поехать в любой конец страны, где будет по климату, лишь бы вылечить своих детей. Она посоветовалась с врачами и получила направление с диагнозом и последующими рекомендациями.
    Мужа дома не было, он стал часто исчезать в командировки. Так это или нет, но участия в воспитании детей уже не принимал, и то, что молодая мама всей душой переживала за здоровье детей, он считал пустой забавой и нежеланием молодой женщины работать. Но она чувствовала себя ответственной за будущее своих детей и потому официально договорилась на работе, документально оформив своё отсутствие.
    Сдала двухкомнатную квартиру на четыре месяца. Оставила мужу записку о том, где он может пожить это время, предварительно договорившись с родственниками, и уехала в далёкое никуда в поисках здоровья для своих детей.
    Так началось путешествие молодой женщины с двумя малышками.
  {% endfilter %}

  {% filter prose %}
    В поезде они попали в условия большой коммунальной квартиры. Пожилые женщины были подкуплены нежным отношением молодой мамы к своим девочкам. А молодая женщина не отказывалась от общения. Она искренне и жадно выслушивала все сетования и рассуждения о жизни, а это подкупало рассказчиц. В результате она получила несколько советов, которым решила последовать.
    Оказалось, что правильнее было остановиться в Бендерах, а потом поехать автобусом в посёлок Меренешты. Там проходит канал, и дети могут купаться. Да и жизнь в целом намного дешевле, чем в других местечках. А медицинская служба есть везде.
    Итак, окончательное решение было принято.
  {% endfilter %}

  {% filter prose %}
    Никто не ждал эту отчаянную женщину. Но она верила в людскую доброту и чувствовала себя спокойно. Коммуникабельность — великая штука: она помогает людям в этой непростой жизни чувствовать себя как дома, даже находясь далеко от него.
    Поезд пришёл в Бендеры около пяти утра. Дети, окружённые не только материнской заботой, но и сердобольными пассажирками, чувствовали себя хорошо, не капризничали. С первым автобусом, то есть около шести утра, наши путешественницы прибыли в посёлок Меренешты. Да так и расположились на широкой лавочке автобусной остановки. Яркое молдавское солнце обещало жаркий день. Сама автобусная остановка находилась на насыпной дамбе, а внизу просматривались домики и мазанки самого посёлка.
    От одного недалеко стоявшего дома отделилась женская фигура, и было понятно, что она направлялась к путешественницам. Она оказалась местной цыганкой. Увидев в молодой женщине что-то близкое, цыганка, узнав причину их появления, предложила снять комнату: у неё был дом — настоящий, не мазанка. Женщины взяли чемоданы и прочие вещи и направились в дом гостеприимной хозяйки. Обе малышки послушно шли рядом. Муж цыганки, молдаванин Фёдор, выйдя навстречу, помог донести чемоданы.
  {% endfilter %}

  {% filter prose %}
    Меренешты гостеприимно встретили ленинградцев. Хозяйка сразу сходила за фельдшером, чтобы тот осмотрел девочек и ознакомился с заключением и рекомендациями ленинградских врачей. Она познакомила Ирину с одной из соседок, имеющей корову, чтобы поить девочек парным молоком.
    Предприимчивость хозяйки не мешала Ирине с девочками. Хозяйка завозила в дом вино в бочках, а местные жители пользовались её гостеприимством и засиживались в её гостиной, часто беря зелье в долг или под залог. Зато Ирина с девочками была неприкосновенна.
    Она водила девочек на канал и каждое утро шестичасовым автобусом ездила в Бендеры на рынок. Цены на продукты в Бендерах по сравнению с питерскими были просто копеечными в полном смысле этого слова.
    И всё вроде складывалось неплохо, но произошла беда.
  {% endfilter %}

  {% filter prose %}
    Из-за быстрого таяния снегов и вскрывшихся рек прорвало дамбу, и вода пошла на Бендеры. Стало затапливать текстильный и мясной комбинаты. События развивались стремительно, и, чтобы спасти город и иметь меньше потерь, местные власти решили повернуть воду на посёлки. Местное радио без конца предупреждало, просило и требовало население посёлков покинуть свои дома, подняться на дамбу и выезжать в Бендеры, где люди на время наводнения получат кров над головой. Но никто не хотел поверить в то, что местная власть пойдёт на это. Никто не хотел верить, что вся эта стихия искусственным образом будет направлена на село.
    В предыдущий день Ирина навестила женщину, у которой она брала молоко. Пыталась подтолкнуть её к разговору о временном переезде: пусть хотя бы хозяин съездит один в Бендеры, узнает, как быть со скотиной. Ведь у них пять детей, а также корова, две свиньи, гуси, куры. Но хозяева, находясь в шоке, даже слова не промолвили. Иринины хозяева тоже не реагировали на призыв местной власти покинуть свои жилища. И сама Ирина оставалась на месте.
    Только перед сном на всякий случай она поставила на стол детские ботики, а также чемоданы с одеждой. Сон не приходил. Она слышала, как на рассвете хозяйка сказала своему мужу, что всё равно колхозные поля будут затоплены, поэтому она с другой цыганкой пойдёт сейчас на колхозный огород и наберёт несколько мешков зелёного гороха, чтобы продать их на рынке.
    Ещё с вечера она распорядилась, чтобы её постоянные клиенты подняли на чердак полную бочку вина. А местные односельчане устроили дежурство у дамбы. Где-то в девять часов утра воздух был неподвижен, неоглядное голубое небо казалось бескрайним. На улице стояла жара и необычайная, тревожная тишина.
  {% endfilter %}

  {% filter prose %}
    Вдруг — мощный удар где-то совсем рядом.
    — Где это, что же это такое? — Иринка выскочила на улицу, и при этой звенящей тишине она услышала злое шипение воды.
    Вода прорвала дамбу и, попав в противоположный от неё дом-мазанку, оставила от него только остов да чудом сохранившуюся раскачивающуюся лампадку, бережно повешенную хозяйкой. Вода по-хозяйски, со зловещим шипением, понеслась по посёлку.
    Началась паника. Запричитали и забегали взрослые. Замычали коровы. Загоготали гуси. Казалось, что необычно резко и страстно закукарекали петухи, захрюкали свиньи. Всё это двигалось по направлению к дамбе. Где-то за всем этим бежали дети. Они очень боялись, что про них забудут.
    — А я! А меня! Ма!!!
    Ирина вбежала в дом. Подбежав к кровати хозяина, стала расталкивать его, стаскивая с него одеяло. Тот, в свою очередь очнувшись ото сна и увидев так близко около себя Иришку, на которую у него давно горел зуб, протянул к ней руки. Но она не обиделась, а в запале прокричала:
    — Ядрён батон! Дамбу прорвало! Ведь смоет сейчас — и детей твоих, и моих, и твоего девяностолетнего деда! Подъём! Скорей! Бегом! Поднимем с тобой наверх, на чердак, самое необходимое. Увидишь, вода будет выше окон!
    Фёдор оторопел и, соскочив с кровати в полной растерянности, был похож на большого ребёнка.
    — За мной! Быстро! — прямо в ухо крикнула ему Ирина, схватила его за руку и потащила в соседнюю комнату.
    Фёдор повиновался и бегом, скорее машинально, чем соображая, мгновенно занёс вместе с Ириной несколько чемоданов наверх и кое-что, приготовленное хозяйкой.
    — Всё! Ты здесь оставайся! Делай что хочешь, забирайся на чердак, жди свою жену. Не забудь, ведь вчера туда поднимали бочку с вином. А я забираю детей — и своих, и ваших — и деда. Где остановимся, как-нибудь через кого-нибудь дам знать, — и она выскочила на вторую половину дома, где её ждали притихшие от предчувствий дети и девяностолетний дед.
    Самую младшую, Анютку, она несла на руках, остальные крепко держались друг за друга и за её юбку, а с другой стороны, взяв её под руку, аккуратно ступал дед. Иринка подбадривала их и в конце концов вывела на дамбу.
    Машины, животные, взрослые и дети — всё двигалось в суматохе. Иринка обратила внимание на чёрную «Волгу» и молодого, интересного водителя, который с явным сочувствием наблюдал за случившейся бедой со своего рабочего места. Ирина, прикинув, что машина пустая, склонилась над парнем, нечаянно задев его своими длинными чёрными косами. Парень обмяк и, явно не замечая стоявших за ней детей и старика, сказал:
    — Така гарна дівчина, таї що здісь робішь? — спросил он почти на чистом украинском языке.
    — Та ж ленинградская я! А ведь ты не один. Кого ждёшь?
    — Начальника жду. Он пошёл убедиться, что его тарный цех поплыл. Сейчас прибежит.
    — Слухай, парубок, подивїсь… Діти у мене таї дiд. Давай посадим.
    — Куда? Нет!
    Ирина быстро открыла дверцу машины и, невзирая на протест водителя, затащила сначала деда, а потом и всех детей. Устроилась сама. Всё произошло так стремительно, что парень обалдел и, поняв, что деваться некуда, спросил:
    — А что делать с начальником? Ведь он будет материться и выкидывать вас из машины.
    — Давай договоримся, — сказала Ирина, — как только он начнёт кричать, ты рычи мотором и начинай двигаться. А я тебя уверяю, как только доедем до того места, где вода кончится, я попрошу высадить нас. Давай.
    К машине приближался человек с растерянным выражением лица. Увидев в своей машине посторонних, он впал в негодование. Это была последняя капля, которая помогла ему прийти в ярость.
    — Вон! — кричал мужчина. — Вон сейчас же! Сейчас выброшу!
    — Кого первого? Вот этого? — показав на старика, кричала Ирина. — Или вот эту? — показав на свою младшенькую, не унималась она. — Садись скорее сам, а то уедем без тебя. Заводи мотор, быстро! — кричала она уже водителю.
    Водитель зарычал мотором. Начальник вскочил на первое сиденье, а Ирина сказала ему:
    — Не бойся, шеф! Мы выйдем около того дома, где кончится вода. Поехали. Ведь и их тоже надо спасти.
    И машина стала осторожно пробираться через поток беженцев. А местное радио продолжало кричать о том, что в подходящие грузовые машины сначала будут грузить скот, потом детей, и уже после — взрослых. Ждать можно и на крыше автобусной остановки. Местные жители уже знали, что ночью два соседних села полностью ушли под воду. В них, кроме людей, погибло много скота.
    С дамбы было видно, как под ясным голубым небом при полном безветрии вода со змеиным шипением и с потрясающей скоростью заполняла собой улицы посёлка.
    Прибыли военные на амфибии. Они двигались от дома к дому и уговаривали людей покинуть свои дома. Мужчины разместились в чердачных помещениях своих домов и боялись покидать нажитое годами имущество.
  {% endfilter %}

  {% filter prose %}
    Вода остановилась в Кицканах. И надо же тому случиться, что дом, около которого Ирина попросила остановить машину, оказался домом сестры Фёдора. Люди! Бог на земле есть! Наверное, он сам помогал им в пути.
    Сестра хозяина приняла детей и попросила Ирину проводить деда в глубь села, к другим родственникам. Это была настоящая молдавская мазанка с земляным полом. Было понятно, что здесь живёт девушка, так как по стенам были развешены её наряды — её приданое. Иринка познакомилась с ней и подарила ей тогда ещё только входившие в моду в Ленинграде чёрные ажурные колготки, красивый незатейливый кулончик и ещё несколько изящных вещиц, чем очень расположила к себе молдавскую красавицу.
    Оставив деда, Иринка вернулась к своим девчатам.
  {% endfilter %}

  {% filter prose %}
    Она обещала сестре Фёдора, что уйдёт сразу, как только сойдёт вода. А за это время она обещала помогать ей во всём по хозяйству, так как в семье был новорождённый. Ирина честно выполняла обещание. В шесть утра она отправлялась первым автобусом в Бендеры за продуктами по заказу хозяйки, готовила обеды — и на свой, и на молдавский лад. Больше всего ей самой нравились молдавский борщ, блины с укропом и камбала, обжаренная в сливочном масле и тушённая в молочном соусе. Не надо рассказывать, какая это была вкуснотища в сочетании со свежим отварным картофелем, обильно посыпанным укропом.
    Прошло три недели, и вода стала спадать. Из Меренешт пришли известия, что бывшие хозяева за время наводнения, пока вода стояла до чердачного помещения, продали бочку вина. Соседи подплывали к ним на лодках, толковали о своих решениях, объединялись в своей беде и тем самым поддерживали друг друга.
    Ирина выполнила своё обещание. Встав утром и подняв детей, она взяла с собой документы, деньги, одноконфорочную плитку, сложила в авоську ночной горшок и повесила всё на руку. Взяла на руки младшую, а старшую за руку и пустилась пешком к посёлку Меренешты, откуда приехала три недели назад.
  {% endfilter %}

  {% filter prose %}
    Они долго шагали под палящими лучами солнца. Их догнал какой-то рабочий автобус и подвёз к посёлку. Ирина понимала, что в Меренештах она уже не останется, так как вода, простоявшая в посёлке три недели, вывела из строя все коммуникационные сооружения, и питьевой воды здесь уже не было. Но прийти на старое место было интересно и нужно.
    Шли по дамбе. Подходя к посёлку, уже издали увидели, что листва на деревьях начиналась где-то выше среднего человеческого роста. Внизу — чёрная пустая земля. Запомнилась встретившаяся на дамбе корова, тянувшаяся за листвой орешника.
    Дом прежних хозяев был недалеко от остановки. Ирина аккуратно стала спускаться вниз, но пришлось спустить с рук младшую, так как под общим весом в некоторых местах ноги вязли мгновенно. Встретилась с хозяйкой, предупредила, что вещи заберёт сразу, как только где-нибудь снимет комнату.
    Их дом сохранился, но стены внутри дома облезли до голого кирпича. Чтобы оставшиеся в посёлке одиннадцать домов не дали сильной осадки, черепицу и железо с крыш сняли и затянули полиэтиленом. Побывав словно на пепелище, оставалось только посочувствовать пострадавшим. И Ирина с детьми направилась к Бендерам.
  {% endfilter %}

  {% filter prose %}
    В Бендерах, зайдя в универмаг «Примавера», она долго вглядывалась в лица продавцов. Выбрав, по её мнению, открытую по натуре девушку, она обратилась к ней с вопросом: куда бы она посоветовала направиться, чтобы снять комнату? Везде ли уважают ленинградцев?
    И девушка с доброй улыбкой посоветовала выйти на Ленинградскую улицу: она хоть и на окраине Бендер, но центр рядом. Уставшая от похода и впечатлений Ирина по совету молодой продавщицы решила остановиться в любом доме, где её примут.
    И им повезло. Увидев у одного из домов мужчину, Ирина обратилась с просьбой остановиться хотя бы на одну ночь. Но её лицо, кажущееся ещё очень юным, и длинные чёрные косы смутили хозяина и вызвали неуверенность в её самостоятельности. Ирина поняла это по взгляду.
    — У меня есть с собой и деньги, и паспорт. Если хотите, я покажу, чтобы вы поверили. Если что-то будет не так, то я сразу же подыщу другого хозяина.
    — Да ладно, дочка, проходи. Жена у меня в больнице сейчас. Я спрошу её согласия. А дети у нас, сын и дочь, только заканчивают десятилетку.
    Хозяин проводил Ирину с девочками в комнату, приготовленную как будто специально для них.
    — Ладно, отдыхайте. Да где же твои вещи?
    — Да ведь мы под наводнение попали, потому часть вещей — в Меренештах, а часть — в Кицканах.
    — Ну ничего. Отдыхайте. Постельного на всех хватит, а завтра утром, пока девчонки спят, дочка моя за ними присмотрит, а ты всё и соберёшь.
    — Спасибо, спасибо вам огромное! Девочек в Бендерах я кормила, так что если можно, то попьём и упадём уже, наверное, всё равно куда.
    — Ну давайте устраивайтесь. Здесь вам будет безопасно и спокойно.
    — Спасибо вам огромное ещё раз! Спокойной ночи.
    — Да и вам тоже, — ответил хозяин и вышел из комнаты.
    Наутро Ирина поднялась ни свет ни заря и первым автобусом доехала до Меренешт. Когда вернулась, дети ещё спали. Тогда она сразу же отправилась в Кицканы и, забрав оставшиеся вещи, рассталась с сестрой Фёдора. Расставаться всегда грустно, но её ждали дочери, уже у новых хозяев, и она торопилась.
    Всё было неплохо. Но на третий день хозяин, придя из больницы, сказал, что хозяйке не лучше, но на днях её выписывают, поэтому придётся Иринке поискать комнату у кого-то из соседей.
    — Что делать, конечно, поищу, — ответила Ирина.
  {% endfilter %}

  {% filter prose %}
    Взяв с собой девочек, она медленно пошла по Ленинградской улице, ни у кого ничего не прося, боясь показаться лишней. Пройдя достаточно долго, таким же мерным шагом шагала обратно. Отделившись от одного из домов, их окликнула женщина:
    — Куда же вы, красавицы, путь держите? Или ищете что, а?
    — И то правда, ищем, — ответила Ирина. — Мы сами ленинградские, и улица — Ленинградская. Остановиться здесь хотелось бы на какое-то время.
    — Ну-ка проходите сюда, потолкуем, — сказала женщина, гостеприимно открывая калитку. — Расскажи-ка, милая, как тебя занесло сюда с двумя ребятишками. А, так ты сейчас в том доме остановилась? Ну так вот, оставляй сейчас девочек, забирай свои вещи, рассчитайся с хозяином, а я тебе как-нибудь расскажу об этой семье такую историю! Но это попозже. А девочек твоих я вылечу.
    Так Иринка познакомилась с одной из замечательных женщин на Земле — тётей Пашей Пержу. Тётя Паша в её жизни сыграла немалую роль — научила многим житейским премудростям и вылечила девочек.
  {% endfilter %}

  {% filter prose %}
    Тётя Паша сама — белоруска, а муж Григорий — молдаванин. Оба они работали в Бендерах на мясокомбинате. Григорий — бригадир, а она — член бригады.
    На следующий день, придя после работы, тётя Паша ещё от калитки кричала:
    — Ира, иди бери этот {{notelink("внутренник", 1)}}, кидай в кастрюлю — и на маленький огонь. А я пойду к соседке за тёпленьким куриным яичком.
    У тёти Паши были только гуси. Быстро вернувшись от соседки с яйцом в руках, она устроилась поудобнее на лавочке в саду, у длинного стола. Подозвала к себе Алёнку — они испытывали друг к другу симпатию. Алёнке хотелось прислониться к этой притягивающей к себе женщине. Она ей доверяла.
    Раньше Леночке никогда не приходилось пробовать сырые яйца. Но поставленная задача — вылечить ребёнка от застоявшейся пневмонии до полного выздоровления — требовала этого действа. Да ещё, как приговаривала тётя Паша, чтоб курочка создала это яичко при помощи петуха, ведь только такое яйцо имеет своё истинное воздействие. И девчушка в руках обаятельной тёти Паши выполняла все её просьбы.
    Следующий день был выходным. Тётя Паша предупредила Иринку, что завтра они вместе с ней рано утром, пока дети спят, будут на рынке и привезут {{notelink("жерделей", 2)}} — столько, сколько смогут, чтобы сварить повидло. А Григорий привезёт к дому машину песка. А также в этот вечер тётя Паша договорилась с молочницей, живущей на этой улице, что она поутру будет приносить парное молоко. Да, всё это стоило денег, но совсем не баснословных.
    В субботу тётя Паша с Иринкой привезли двадцать пять килограммов жерделей по пять копеек за килограмм и вместе с остальными членами тёти Пашиной семьи (семнадцатилетними Верой и Колей) устроились на летней кухне под виноградными лозами освобождать жердели от косточек. За разговорами о жизни даже удивились, как быстро справились с делом. И под руководством тёти Паши Ирина, надев на себя длинный широкий резиновый фартук и высокие резиновые сапоги и вооружившись длинной палицей, приготовилась варить повидло на раскалённых кирпичах. Когда повидло уже поменяет цвет, перестанет стрелять своими кипящими брызгами (для этого и длинная палица: периодически помешивая варево, успокаивать разбушевавшуюся лаву), надо добавить на заложенные двадцать пять килограммов жерделей всего пять килограммов сахарного песка, полкило сливочного масла и два пакета ванили. Это делало повидло нежным и ароматным. Итак, выстроилась полная картина лечения девочек.
    В семь часов утра молочница принесла парное молоко. Ирина нарезала по ломтику самого пышного молдавского хлеба (она приобретала его каждое утро в ларёчке около дома, что открывался ни свет ни заря), намазывала его перекипячённым внутренним свиным салом, всё это покрывала ароматным повидлом из жерделей. Девочки с удовольствием выпивали по большому бокалу парного молока и съедали по порядочному ломтю пышного хлеба с повидлом.
    Тётя Паша предусмотрела всё и дала Ирине две ванночки. После завтрака девочки выходили за калитку в одних трусиках со своими ведёрками. Ирина несла два больших ведра. Колонка была недалеко. Они легко и весело под палящим солнцем заполняли свои ванночки. Заполнив их, девочки вместе с мамой начинали играть в песок. Ирина усаживалась вместе с ними, строила песочные замки, рассказывала им сказки, пела песни, и всё заканчивалось тем, что под весёлый визг девчонок она начинала закапывать им ножки и дальше тельце песком, прогретым лучами солнца.
    Позже под мамину команду «Ныряй!» девчонки бежали к своим корытам и барахтались там до той поры, пока воды уже почти не оставалось. Тогда все дружно снова шли на колонку и заполняли свои корытца водой. А в это время солнышко ласкало и лечило девочек. Эта процедура повторялась не менее двух-трёх раз каждое утро.
    Ирина здесь многому научилась. На раскаленных кирпичах (лампачах) научилась подготавливать баклажаны для создания баклажанной икры. А тушёная картошка с баклажанами была похожа по аромату и вкусу на картошку с грибами. Калорийный молдавский борщ в тарелке на столе чувствует себя гостеприимным хозяином. Он привлекает к себе не только своей внутренней насыщенностью, но и внешним многообразием красок, а по желанию — сверху покрывается сметаной. Компоты Ирина не варила. А из фруктов и ягод она сама выжимала соки и предлагала детям.
    Однажды она купила на рынке целый немалый таз винограда и, неся его на голове по молдавскому обычаю, не переставала удивляться тому, что за всё это содержимое она заплатила всего один рубль двадцать копеек. А помидоры, такие полные, сочные и сладкие, стоили всего пять копеек за килограмм.
    Тётя Паша, идя с работы, обязательно заходила к соседке, брала тёпленькое сырое куриное яичко и тут же скармливала Алёнке. А Ирине приговаривала:
    — Ты не беспокойся, тёпленькое взяла, сразу от курочки.
    У девчат засияли глаза, засверкали зубки.
  {% endfilter %}

  {% filter prose %}
    Прошло время, и пора было собираться домой. Иринка с тётей Пашей сроднились, и их беседам в свободное время не было конца. Молодая женщина любила слушать незатейливые житейские истории, которые запомнила на всю жизнь, и научилась анализировать свои поступки.
    Провожала Ирину с девочками к поезду вся семья — более десяти человек. Тётя Паша, всплакнув, говорила:
    — Ты вот что, пожалей девочек. И в этот год придумай что-нибудь, чтобы укрепить их здоровье. Не отдавай их ни в садик, ни в ясли. Да помни: соблюдение режима и водные процедуры имеют огромное значение. А о питании ты знаешь всё.
    — Да-да, тётя Пашечка, я на этот год тогда переведусь уборщицей, а заодно и подготовлюсь в университет.
    — Ишь куда хватила! Ну давай пробуй! Если что, пиши, и сразу.
    Поезд тронулся, девочки махали в окно. А проводник принёс канистру, полную виноградного вина:
    — Это велено передать Вам. Чтобы помнили Бендеры.
    Ирина смущённо поблагодарила его.
  {% endfilter %}

  {% filter prose %}
    За целый год девочки ни разу не имели повышенной температуры.
    Господи! А ведь богата Земля наша добрыми, замечательными, правильными людьми, такими как тётя Паша.
    Ирина с девочками ещё дважды ездила в Молдавию. Их встречали целой семьёй, как своих родных.
    Обстоятельства и расстояния разделили их, но Ирина до сих пор вспоминает порой замечательную мудрую женщину, Прасковью, с которой свёл её сам Господь Бог. И в память об этой встрече у неё родилась мелодия, звучащая в её голове, с текстом, обращённым к этой святой женщине:
  {% endfilter %}

  {% filter ins %}
    {% filter poem %}
      Женщина с фамилией Пержу!
      (По-молдавски это — просто «вишня».)
      Я не по фамилии сужу.
      Помню я, что там была не лишней.

      Тётя Паша, вспомните меня:
      Молодая женщина и дети.
      И теплом души своей маня,
      Вы пригрели нас на этом свете.

      Тётя Паша, вспомните тот год:
      Дамба разорвалась, словно бомба,
      Потрясён бедою был народ…
      Закружилась жизнь по граням ромба.

      Вспоминая горе и беду,
      Радость встреч и чувство расставанья,
      По Бендерам памятью бреду…
      Благодарна Вам на расстоянье.
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2003-06">Июнь 2003</time>
{% endblock %}

{% block notes %}
  [Внутренник] — внутреннее свиное сало (прим. авт.).
  [Жердель] — ранний сорт абрикосов (прим. авт.).
{% endblock %}
