{% extends template %}

{% set title = "Тяжёлая" %}
{% set workdate = "23.06.2007" %}
{% set pubdate = "10.03.2008" %}
{% set titleDescr = "Февраль 1965 года" %}

{% block content %}
  {% filter prose %}
    На последней консультации врач дала Ирине направление в институт Эрисмана и посоветовала не откладывать госпитализацию, так как высокое давление может очень серьёзно повлиять на процесс родов и состояние здоровья малыша и мамы.
    Дома муж убедил Ирину перед роддомом зайти вместе в загс, чтобы она оставила там заявление на перемену фамилии, так как год назад при регистрации брака Ирина не решилась взять фамилию мужа. «Да, вероятно, его просьба вполне резонна», — подумала Ирина и согласилась.
    На следующий день, за десять дней до родов, они поехали сначала в загс на Васильевский, а потом в институт.
    В Ирина не переживала: в палате была хорошая психологическая атмосфера, да и муж приезжал почти каждый день.
    Через десять дней после госпитализации в палату с вечерним обходом вошла дежурная врач. У всех будущих мамочек послушала сердцебиение малышей. И только в отношении одной из них предупредила на всю палату:
    — Девочки, если наша Танечка начнёт часто бегать в туалет, то сразу предупредите дежурную медсестру. Танюша, ты не волнуйся, всё должно быть хорошо. Просто похоже, что твой малыш уже готов к выходу.
    — А как мои дела? — тихо спросила Ирина. — Малыш ещё не устроился правильно?
    — Да… пока ещё нет. Что ему не понравилось? Ведь столько дней уже у нас. А теперь второй день лежит поперёк. Сегодня ты спи спокойно.
    У Ирины было какое-то умиротворённое, тёплое состояние. Она как будто погрузилась в пуховую невесомую перину и растворилась во сне. Вспоминая позже своё состояние в момент засыпания, она сравнивала его с ощущением лёгкости погружения в невесомость.
    Проснулась она от шума в палате. Оказалось, уже было <time datetime="1964-12-14T06:00">шесть часов утра</time>. Санитарка дотронулась до её одеяла:
    — Ой, милая, да у тебя воды отошли.
    Ирина подхватилась, соскочила с постели, схватила на ходу халат и как можно быстрее заторопилась в туалет. За ней еле успевала со своей шваброй пожилая санитарка:
    — Да что ты, милая, глупая, садиться-то на горшок нельзя, ребёночка-то выплеснешь. Стой, стой…
    Ирина сконфуженно приостановилась.
    — Галина Ивановна, идите скорее, — позвала санитарка дежурную медсестру. — Идите скорее за врачом, у нашей Ирочки воды отошли.
    — Да не робей ты. Бог даст — всё будет хорошо, — сказала санитарка и под руку проводила Ирину в предродовую палату.
    — Ну вот, как же так! Ещё вчера вечером при обходе врач сказала, что ещё не скоро, — беспокойно говорила Ирина.
    — Да ведь это у всех по-разному. Самое главное — слушай команды акушерки. В нашем институте акушерам помогают студенты. Если что, помогут. Ну ладно, милая, я пойду. Оставайся с Богом!
    Ей показали койку, предложили устроиться отдыхать. Сначала к ней подошёл врач. Это был мужчина лет сорока — видимо, психолог: он внимательно расспросил Ирину о её прошлых заболеваниях и спросил, чего она боится больше всего, и есть ли какие-нибудь просьбы.
    — Да, я боюсь нарастающей боли. Если зайдусь в крике, то пусть меня ударят по лицу.
    Здесь же собрались врачи и решали, делать ли ей кесарево сечение, поскольку она худенькая, да и плод лежит поперёк. Решили, что срочно вызовут специалиста, который повернёт плод вручную. Естественные роды могут способствовать её дальнейшему выздоровлению. А после кесарева сечения заживление будет проходить ещё медленнее. Да и условия жизни, которые ждут её после выхода из больницы, — не самые лучшие.
    Схватки, которые к ней приходили естественным образом, глушили до замирания духа, так как ждали специалиста для поворота плода. Она теряла сознание, её приводили в чувство и снова просили терпеть.
    Постепенно схватки утихли, а сама она не помнила, заснула или потеряла сознание. Очнулась уже на родильном кресле, со всех сторон окружённая людьми в белых халатах: здесь были и врачи, и студенты. Слева измеряли давление, справа готовили шприц, у изголовья стоял человек, готовый подавать кислород. По бокам — медсёстры, которые вводили какие-то лекарства. В ногах — две акушерки.
    Сначала сделали вручную поворот плода. Это было великое испытание. Потом был дан сигнал вводить в вену лекарство, одновременно в рот ввели трубку от баллона с кислородом. Попытались давить на живот натянутым полотенцем, но схваток не было. Тогда один за другим стали делать уколы, как потом сказали, маленькими дозами, и искусственные схватки были вызваны. Все заговорили:
    — Скорей, скорей!
    Но ребёнок был повёрнут на выход ножками. Всё снова остановилось. Кто-то промокал пот со лба Ирины, кто-то снова давал кислород.
    — Или достаю по частям, или разрезаю вас без наркоза. А? Не слышу, — жёстко произнесла акушерка.
    — Режьте! Скорей! — крикнула Ирина.
    Снова — несколько стимулирующих уколов подряд.
    — Приготовились!
    Чудовищную, обжигающую боль почувствовала Ирина, и одновременно с этим из неё вырвался невероятный вопль, который она не могла остановить. Один из студентов ударил её по лицу, и Ирина быстро и тихо произнесла:
    — Спасибо.
    После семи разрезов достали девочку. Она не кричала. Ирина то теряла сознание, то воскресала. Она смутно видела, как её малышку окунали то в один, то в другой таз. Наконец девочка издала слабый звук. Потом её запеленали и показали Ирине. Глазки-бусинки малышки казались удивлёнными.
    Ирине продолжали вливать какие-то лекарства, а малышку отнесли в соседний бокс, где помогали ей остаться в этом мире. К Ирине подошла санитарка, спросила, нет ли у них в семье больных туберкулёзом или алкоголиков.
    — Да нет, ничего такого ни о ком не знаю, — слабо ответила Ирина.
    Роды произошли где-то в <time datetime="1964-12-14T20:00">восемь часов вечера</time>, а в <time datetime="1964-12-14T23:00">одиннадцать</time> её поместили в отдельную палату с дежурной медсестрой.
    Кажется, все беды позади. Но Ирина понимала, что её малышке придётся уделить много внимания и сил, чтобы вырастить её здоровой.
    Так получилось, что в ночь перед родами последний раз в жизни она спала сладким, безмятежным сном.
    Пять дней к ней не приносили малышку. Она толком не знала, что ей делать с наполненными и до болезненности упругими грудями. Та же пожилая санитарочка показала, как сцеживаться:
    — Ты, как и все мамочки, готовься к каждому кормлению. Груди разрабатывай по очереди. Смотри, вот так. Давай попробуй сама. Попроси своих, чтобы принесли молокоотсос. Пусть муж купит в аптеке. Надейся, что тебе разрешат её кормить. Она хоть и слабенькая, всё равно справится, если подготовишься. Поняла? Да режим питья соблюдай. Сыр, орехи грецкие с умом кушать надо.
    — Спасибо вам большое! — благодарила Ирина. — А то мне как-то страшно стало. Спасибо.
    — Самое главное — не теряй веру. Если у малышки хватит силёнок взять грудь, значит, она обязательно выживет.
    В палату приходили студентки и поддерживали Ирину психологически. Они рассказывали, что среди новорожденных Алёнка самая симпатичная, возможно, потому, что у неё анемия тяжёлой формы, и поэтому она самая светленькая.
  {% endfilter %}

  {% filter prose %}
    На шестой день после родов пришла детский врач и сказала, что девочка появилась с асфиксией, с серьёзной анемией (кровяных телец у неё было в два раза меньше, чем у обычного новорождённого) и с нарушением координации рук и ног. Это значит, что она находилась между жизнью и смертью.
    — У вас есть возможность оставить её хотя бы на год в Педиатрическом институте, за это время сами можете полежать, поправить своё здоровье в другой больнице. Координация рук наладилась. В отношении состояния ножек можно предполагать, что ребёнок в дальнейшем может плохо передвигаться. Но не надо отчаиваться: если ездить с ней в ортопедический институт имени Турнера и выполнять все назначения, то Алёнка встанет не только на ноги, но и на коньки.
    (Впоследствии так и получилось:  в пять лет Алёнка встала на коньки.)
    — Спасибо. Может, ещё всё обойдётся, — тихо ответила Ирина.
    У неё ещё было высокое давление, медленное заживали швы, вставать не разрешалось. Малышку ей так и не приносили. На десятый день она решила попробовать потихоньку подняться и, касаясь стены, дойти до туалета и вымыть лицо от бесконечных слёз. Она взяла полотенце и медленно, как старушка, держась за стену, побрела по коридору, куда указали соседки по палате.
    Она брела вперёд, и вдруг дорогу перегородили стеклянные двери в бокс. Створка была приоткрыта. В большом светлом помещении стояли кроватки с новорождёнными.
    На противоположном конце бокса стояла кроватка, оборудованная кислородным баллоном. Рядом тоже были стеклянные двери, через которые вошла группа студентов во главе с пожилым профессором. Профессор зачитал текст на бирочке, закреплённой на спинке кроватки. Такие же бирочки были прикреплены к ручке и ножке новорожденного. Ирина услышала:
    — Виноградова… А ведь это та девочка, о которой я рассказывал вам вчера. Надо же, удивительно, что ещё жива.
    Ирина поняла, что теряет сознание.
    Очнулась она на койке в своей палате. Тот самый профессор пытался измерить ей давление. Аппарат стоял на белой табуретке, и Ирина невольным движением руки смахнула его на пол. Она кричала, но с губ срывался лишь стон:
    — Что вы! Зачем, зачем измерять мне давление, если у меня погибает дочь! Дайте мне её, я готовлю для неё грудь. А без молочка она умрёт точно, — умоляла Ирина. — Покажите, покажите мне её сейчас.
    — Хорошо. Успокойтесь. В очередное кормление вам её принесут. Но в это первое кормление рядом будут детские врачи и студенты, чтобы убедиться в том, что у малышки хватит силёнок взять грудь. Мы посмотрим: если она справится с этим, то её будут приносить вам на руках на каждое кормление. Везти на общей каталочке её нельзя.
    В следующее кормление Ирине действительно принесли малышку, и та прекрасно взяла грудь. Эту процедуру наблюдали детские врачи. И вопрос был решён в пользу малышки. И конечно, в душе Ирина благодарила санитарочку.
    Но патронажные сёстры, как и все люди, разные. И иногда Алёнку не приносили. За Иринку переживали все мамочки в палате, наперебой спрашивая: «А где наша малышка?»
    В основном все сестрички улыбчиво отвечали, что сейчас доставят. Но была одна такая, которая в своё дежурство отвечала: «А что её носить, она всё равно вся синяя!»
    Спасибо девчатам, они нажаловались заведующей, и больше этой патронажной сестры в палате не видели. Но Ирина в такие моменты могла только беспомощно плакать.
    Постоянное беспокойство о том, что она снова может не увидеть и не накормить малышку, привело её к маститу.
    Был декабрь. Ночью для проветривания палаты приоткрыли фрамугу. Ирине приснилось, что надо подготовиться к кормлению, и она во сне надела косыночку и открыла грудь. Она не знала, сколько времени спала, но проснулась в лихорадке. Её увезли в другое отделение и назначили большие дозы антибиотиков. Первую инъекцию сделали через двадцать минут. Ирина очень переживала из-за дочки и решила не оставлять её в институте. Она упросила мужа взять их под расписку: без расписки их бы не выпустили.
    Жить предстояло в деревянном доме в Белоострове. Муж работал и учился в институте, поэтому Ирина оставалась одна со всеми проблемами. Но она мужественно переносила трудности.
  {% endfilter %}

  {% filter prose %}
    <span id="turner">Когда Алёнке исполнилось два месяца, Ирина поехала с ней в Ортопедический институт имени Турнера. Перед предстоящей поездкой она уже перечитала все статьи о вывихах тазобедренного сустава и недоразвитии нижних конечностей. Она была уверена, что вывихов нет.</span>
    Ирина с трудом дошла до вокзала. Ох и тяжёлой показалась ей Алёнка в ватном одеяле, без коляски!
    У Ирины был второй номерок к врачу. Она могла бы быстро освободиться, но доцент Огурцова после бесцеремонно-болезненного внешнего осмотра малышки сообщила, что налицо явные вывихи тазобедренных суставов. Но Ирина убеждённо возразила. Доцент возмутилась:
    — Девочка, у тебя медицинское образование?
    — Извините, но пока я готовилась к приёму, успела прочитать массу литературы по этому вопросу. Положите ребёнка на животик, и вы увидите сзади симметричные складочки. Вы знаете, я не уйду отсюда, пока не уточните диагноз при помощи снимка.
    — Нет уж, миленькая, не умничай! Она ещё мала для снимка.
    — Если я начну сдерживать развитие её ножек, что обычно делается при вывихах, то у неё может быть недоразвитие нижних конечностей. Продолжайте приём. Я не буду вам мешать, пока покормлю девочку грудью.
    В конце приёма врач в сердцах выдернула из рук Ирины малышку и, подхватив её под мышки, кинулась в рентгенкабинет. Ирина еле успевала за ней. Когда Ирина вошла в кабинет, врач уже видела результаты снимка и с удивлением в голосе произнесла:
    — А девчонка-то, оказывается, права. Люблю настойчивых. Ну, специалист ты наш, иди сюда скорее. Сейчас я покажу тебе массаж и основную гимнастику, которую надо делать ребёнку не менее шести раз в день, перед каждым кормлением. Два раза в сутки делай водные процедуры в ванночке. И не пеленай её — дай возможность развиваться. Вместо пелёнок одевай штанишки. Теперь такие есть в продаже.
    Иринка, потерявшая силы от волнения и голода, вышла из здания с Алёнкой на руках. Она поняла, что не сможет дойти даже до обочины, чтобы остановить такси. Руки и ноги дрожали от перенапряжения. Она была очень худенькой и, несмотря на свои двадцать три с половиной года, смахивала на подростка.
    Отойдя от крыльца института, она прижалась спиной к зданию и стала сползать. К ней подошёл мужчина:
    — Ты что! Тебе плохо? — Нет, она тяжёлая, — слабым голосом ответила Ирина, глядя на Алёнку.
    — Вот детский сад! Тяжёлая! Куда ехать?
    — В Белоостров.
    — А деньги-то есть?
    — Да, есть. Мне надо до Финляндского вокзала, а там — электричкой.
    — Ну ладно, сиди. Я сейчас.
    Он остановил такси, переговорил с водителем, подошёл к Ирине:
    — Давай свою тяжёлую! — и, весело улыбаясь, протянул руки. Взяв Алёнку, помог Ирине приподняться. Перед тем как захлопнулась дверца машины, он подошёл к водителю: — Слушай, давай я тебе доплачу, только я тебя прошу: донеси ты эту тяжёлую до электрички, — и показал на малышку.
    — Хорошо, шеф. Будет сделано, — улыбаясь, ответил водитель.
    На вокзале электричка стоит долго. Войдя в вагон с Алёнкой на руках, шофёр спросил у Ирины:
    — Ну говори, где тебе лучше устроиться?
    — Ой, вы меня поближе к тем женщинам, — тихонько ответила Иринка, — они такие крепкие! Я их у нас в Белоострове видела. Может, донесут до дома.
    Таксист заулыбался и подошёл к женщинам:
    — Ну что ж, принимайте товар: в Белоострове помогите маленькой маме донести до дома этот груз.
    Женщины улыбнулись:
    — Ну раз угадали, что мы из Белоострова, значит, поможем.
    За окном была зима, а в вагоне и на душе у Ирины было тепло. Женщины засыпали её житейскими вопросами и давали советы. А впереди… Впереди была жизнь, полная неожиданностей.
  {% endfilter %}
{% endblock %}
