{% extends template %}

{% set title = "Две Светланы" %}
{% set pubdate = "10.03.2008" %}
{% set titleDescr = "1970 год" %}

{% block content %}
  {% filter prose %}
    Жизнь Светланы, молодой женщины из города N, сложилась удачно. Интересная работа в научно-исследовательском институте вместе с мужем, которого она знала ещё с детства, и две маленькие дочери-погодки объединяли их жизнь и делали её наполненной.
    В то веселое майское утро на своей машине муж повез девочек к своим родителям. Но они были сбиты КАМАЗом, и Светлана осталась одна.
    Прошло два года. Светлана на работе случайно познакомилась с лётчиком-испытателем, командированным к ним из другого города и чем-то очень похожим на её погибшего мужа. Эта похожесть разбередила слегка затянувшуюся рану. Светлана хватается за это знакомство, как утопающий за соломинку. Её настрадавшаяся, истосковавшаяся душа принимает отчаянное решение — возродить семью.
    Вадим, так звали лётчика, стал часто и надолго прилетать в их город в командировки. В очередной раз, проводив Вадима до аэропорта, Светлана не спеша возвращалась в свой пустой дом.
    — Будь что будет. У меня снова будет двое детей, а Вадим, надеюсь, по возможности будет принимать участие в их воспитании. И если нам придётся расстаться, то мне уже не будет так одиноко. Я постараюсь никогда и ничем не нанести вреда его первой семье. Буду радоваться каждой минуте нашего общения и благодарить Бога за продолжение жизни.
    В Ленинграде у Вадима была жена и две маленькие дочки. Жена преподавала географию в школе. Жили дружно. По выходным обязательно отправлялись в театр или музей, в кино или на прогулку по воде. Дочки и жена провожали Вадима в очередную командировку с замиранием сердца и встречали с искренней радостью. Вадим мучился неверностью и в то же время понимал, что никогда не сможет признаться им в этом.
    А в городе N у Вадима и Светланы вскоре появились дочери, погодки, как и её погибшие дочки. И в новой семье его так же любили и ждали. С каждым годом ему становилось всё сложнее жить двойной жизнью. Он любил их всех. Душа его разрывалась от мысли, что однажды жизнь всё расставит на свои места и тайное станет явным. Светлана хранила тайну, её девочки не знали о другой семье папы. Естественно, что ленинградская семья и не подозревала, как хрупко их счастье.
    Прошло пятнадцать лет. В Центре был подготовлен приказ о переводе Вадима на новую, более высокую должность, и предстоящая командировка в город N должна была быть последней.
    Прилетев в далёкий и любимый для него город N, он не нашёл в себе сил признаться дорогим своим людям в том, что теперь уже очень долго, а может быть, и никогда не увидит их. Промолчал.
    Вернувшись в Ленинград, Вадим утром в понедельник направился на работу в Академию. Его преследовала мысль, что обе женщины стали для него теперь как одно целое. Он вспомнил свои последние слова, сказанные им Светлане перед вылетом из города N:
    — Что бы ни случилось, знай, что я любил вас всех. Будь сильной. Прощай!..
    Почти напротив Академии он замедлил шаг, взглянул в безоблачное небо, которое, как верный друг, соединяло его с близкими ему людьми. И именно в это мгновенье всем своим существом он осознал, что никогда не увидит их… Страшная обжигающая боль затмила его сознание. И он упал без чувств. Подъехавшая «Скорая» констатировала смерть…
    Академия достойно похоронила своего замечательного сотрудника. Жена и дочери были в отчаянье.
    Когда жена смогла собраться с силами и пришла в бухгалтерию, то она была удивлена полученной суммой.
    — Ведь это в два раза больше? — удивлённо сказала она кассиру.
    — Держите, держите, это — Ваше. Да распишитесь. Мы знаем, что он был замечательным человеком. Крепитесь! — сочувственно и нежно хлопотала кассир.
    Почти каждый выходной, а потом несколько реже (жизнь берет своё) они втроём приходили на его могилу. Девочки не пускали мать одну на кладбище.
    Однажды ясным майским утром мать проводила дочерей в институт — скоро сессия — и решила в первый раз одна навестить могилу мужа, пользуясь свободным днём в школе. У входа на кладбище она купила цветы и медленно пошла по главной аллее. Невольно вспомнилось, с какой неподдельной нежностью он дарил ей цветы. И она поймала себя на мысли, что двадцать лет совместной жизни пронеслись, как один праздничный день.
    В этой жизни она не чувствовала усталости — любила работу, дочерей и мужа. Воздух их отношений был наполнен искренним глубоким внутренним согласием.
    «Как жаль, что так быстро всё разрушилось. Ведь мы еще так молоды. Что же сразило его? Что он не смог пережить?» — размышляла она, сворачивая на нужную аллею.
    На утреннем полупустом кладбище ещё издали были слышны женские рыдания.
    «Вот ещё кто-то потерял родного человека», — подумала она и вскоре увидела около ограды могилы мужа рыдающих женщину и двух девушек. Могила была покрыта огромным количеством живых цветов.
    — Папочка, миленький, любименький наш папочка! Как же так случилось? Если бы ты знал, как мы тебя любим, — плакали девушки.
    — О Господи! — не веря своим глазам и ушам, обратилась она к ним. — Девочки, это же не ваш отец. Женщина, кто вы? Господи, да что же это?
    А незнакомка, тихо всхлипывая, молча подала ей несколько фотографий, где её муж — Вадим — был сфотографирован вместе с этими девушками и их матерью. Девушки были очень похожи на него. Ясно, что это были его дочери… И эта симпатичная женщина на фотографии была счастлива. Но в глубине её глаз просматривались испуг и печаль.
    — Мама, что это значит?! — спросила одна из дочерей. — Девочки, миленькие! — еле сдерживая дрожь в голосе, произнесла Светлана. — Простите меня. Чтобы не разрушить вашу веру в добро, щадя ваши души, я никогда не говорила вам о том, что у вашего папы в его городе — здесь, в Ленинграде — есть семья, жена и две дочки, и он их тоже очень любил, — лихорадочно вдохнула и продолжила: — Вы же знаете, что мой первый муж и наши девочки погибли в автомобильной катастрофе. Знакомство с вашим будущим папой вернуло меня к жизни.
    — Мама! Что ты говоришь?! Остановись! — отчаянно умоляли её ошеломлённые дочери. А их мать отчаянно продолжала:
    — Миленькие, да нас и зовут-то одинаково. Жена вашего папы, — и она глазами указала на незнакомую девушкам женщину, — тоже Светлана, и дочек зовут, как и вас, Люда и Надя, — она с трудом договорила последнюю фразу. — Теперь вы всё знаете. Не держите на своего папу зла. Я сказала вам то, что не смог произнести он. Простите меня!
    Обняв своих дочерей за плечи и приблизившись к жене Вадима, она опустила в карман её плаща свою визитную карточку, добавив при этом:
    — Пройдет время, и, может быть, судьба снова сведёт нас. Знайте: мы всегда душой с вами. Простите нас, если сможете.
    И Светлана осталась одна. Она была потрясена и парализована услышанным. В оцепенении долго смотрела на цветок гвоздики в изголовье могилы, не видя его. Вечером почему-то оказалась у своей давней подруги. Рассказала ей всё. От искреннего сочувствия Светлане стало легче, и она смогла хотя бы позвонить домой. О возвращении домой не могло быть и речи. Она не готова сказать правду детям, а скрывать — не было сил, и она сказала, что неожиданно её направили на курсы повышения квалификации в Москву, а также предложили перевод в Воркуту с предоставлением ей однокомнатной квартиры, и что она решила воспользоваться этим предложением, чтобы в корне изменить свою жизнь.
    Когда всё наладится, то она обязательно напишет им подробно и в первый отпуск непременно приедет к ним в гости.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2003-08">Август 2003</time>
{% endblock %}
