{% extends template %}

{% set title = "Отрезанный ломоть" %}
{% set workdate = "30.09.2007" %}
{% set pubdate = "10.03.2008" %}
{% set titleDescr = "1965 год" %}

{% block heading %}
  <h1 class="art__title">Отрезанный ломо{{acute}}ть</h1>
  <p class="art__title-descr">(1965 год)</p>
{% endblock %}

{% block content %}
  {% filter prose %}
    Жизнь Иринки в новой кооперативной квартире была наполнена и радостью, и страхом.
    Конечно, жить без особых удобств вроде было уже привычно. Сначала на Васильевском — там ведь не было парового отопления, ванны и горячей воды. А потом в связи с замужеством — вообще проживание в деревянном доме начиная с декабря. А в конце следующего декабря появилась малышка. Но Ирина справилась и с этим и прожила там самое трудное время. И вот сейчас, когда малышке уже девять месяцев, они получили кооперативную квартиру. Жизнь в таких условиях казалась ей хрупкой счастливой сказкой.
    Но, с другой стороны, надо было ещё как-то прожить три месяца на мужнину зарплату. А он в это время работал лаборантом в НИИ и учился на вечернем отделении института.
    Иринка очень старалась, но перед зарплатой мужа всегда было очень напряжённо. Сегодня, в выходной день, она ждала его из Белоострова, где они жили последнее время, до того как переехали сюда, в новую квартиру. Муж с утра поехал помогать Иринкиным родителям копать картошку. Иринка очень надеялась, что вечером он привезёт хоть немного этой картошки.
    Увидев в окно своего мужа с рюкзаком за спиной, она обрадовалась и поторопилась к дверям. Он вошёл, какой-то растерянный, притихший.
    — Помоги снять, а то неудобно.
    Он прикусил губу, пока снимал лямки рюкзака. Иринка, помогая мужу, поняла, что там совсем не картошка. А ведь в саду в этом году яблок уродилось видимо-невидимо. Но родители считали, что тот из детей, кто завёл семью, — отрезанный ломоть. И поэтому за целый день непосильной работы они не положили ни одной картошины. Вместо картошки мать решила положить ему в рюкзак Иринино зимнее пальто, которое она носила семь лет назад. Зато от напряжённой физической работы у него обострился геморрой, и это было ужасно.
    Прошла неделя, пришёл новый выходной день. Ирина решила, что она сама поедет к своим в дом и наберёт сумку картошки. Ведь все годы с раннего детства она честно относилась к работе на земле, потому что просто любила этот труд. Она знала, что дом закрыт, но в то же время знала и то, что в окне, которое относится к холодному коридору, стекло держится только на гвоздиках. Встать на широкую скамейку, которая стоит на улице около этого окна, отодвинуть гвоздики, не покрытые замазкой и вынуть стекло — не составляло большого труда. Войти в коридор, взять связку ключей, которая висит в условном месте, попасть на кухню и оттуда в подвал, набрать сумку картошки — было легко.
    И вот она уже отодвинула верхние и боковые гвоздики, стекло легко поддалось. Но вдруг в голове Ирины мысленно проносится её короткий разговор с отцом перед самым отъездом в новую квартиру.
    — Смотри, здесь на таком богатом участке остаётся такой богатый урожай. Будешь или не будешь брать — всё равно многое сгниёт, — говорил Иринке отец уже около грузовой машины, в которую она загрузила все оставшиеся книги и старинный книжный шкаф, тот, что приобрела в своё время в комиссионном магазине на Васильевском.
    — Ну что ж, папа, при таком раскладе, что происходит у нас, пусть всё сгниёт, мне ничего не надо. Хотя очень жалко такого огромного труда.
    И вот эти свои же собственные слова пронеслись в её голове. Она чётко слышала ту интонацию, с которой была произнесена эта фраза. Эта собственная фраза, сказанная месяц назад, остановила её. Иринка аккуратно закрепила гвоздиками стекло и медленно вышла с участка, тщательно закрыла калитку и задумчиво пошла к автобусной остановке.
    С соседнего участка навстречу её вышла хозяйка, тётя Вера Киреева.
    — Ирочка, здравствуй. Ты что такая печальная? Да заходи ко мне, а то я одна. Геля на работе, остальные — кто где.
    — Здравствуйте, тётя Вера. Да, я к нашим заезжала, а их дома не оказалось, — уклончиво ответила Ирина.
    — Подожди-подожди, Ирочка, мы ведь не первый день знаем друг друга. Да и с Гелей вы всегда дружили. Я же понимаю, что тебе на одну мужнину зарплату не прожить с малышкой. Ещё до года мучиться будешь, а потом — что Бог даст. Скажи мне, может, тебе что-нибудь надо? — и тётя Вера внимательно и по-доброму взглянула в Иринины глаза.
    — Да, тётя Вера, я очень хотела взять картошки, да одна не посмела. Вы знаете, какие они у нас строгие.
    — Ну-ка давай сумку. А я-то думаю, в чём дело? — и она взяла сумку у оторопевшей Ирины.
    — Тётя Вера, тётя Вера, у меня пятьдесят копеек есть. Если можно, то вы мне на столько и насыпьте.
    Раньше один килограмм картошки стоил десять копеек.
    — Оставь себе, они тебе пригодятся. У нас весной её много остаётся, — проговорила походя тётя Вера.
    — Нет-нет, я вам на стол денежку положила.
    — Ну ладно, ладно, — уже за дверью ответила тётя Вера.
    Она быстро вернулась с полной сумкой.
    — Ой, да здесь же намного больше, — охнула Иринка.
    — Ничего, это вам на первое время. А потом, если ваших не будет, то приходи ещё. А сейчас пойдём скорее к остановке, благо, рядом. Я сейчас видела, как автобус на кольцо пошёл. Сейчас повернёт, здесь и будет. Давай я тебя провожу, а то сумка очень тяжёлая, а ты ещё натаскаешься.
    — Вот и хорошо, что быстро вернусь, а то там маленькая одна в квартире. Правда, у неё сейчас тихий час, — обрадовалась Ира.
    Подошёл автобус. Тётя Вера быстро вошла с сумкой, поздоровалась с водителем и кондуктором, предупредила, что она сейчас выйдет, поставила поудобнее сумку, вышла и заботливо подсадила Ирину.
    — Давай устраивайся. Привет тебе от Гели.
    — Ой, и ей тоже огромный! Как плохо, что у нас нет телефонов. Тётя Верочка, огромное спасибо.
    Двери захлопнулись. А они ещё махали руками, искренне радуясь встрече.
    К Иринке подошла кондуктор. В то время её путь стоил двадцать копеек, а одна автобусная остановка стоила пять копеек. Она знала, что последний полтинник оставила на столе у тёти Веры, но всё равно машинально сунула руку в карман. И, на её удивление и, конечно же, на радость, её полтинник снова оказался на своём месте. Так тепло стало на душе! «Ай да тётя Верочка! Я потом с ней рассчитаюсь. Господи, как хорошо, что на свете есть добрые, понимающие люди!» — размышляла Иринка. Ирочка рассчиталась с кондуктором. С её лица ещё долго не сходила улыбка.
  {% endfilter %}
{% endblock %}
