{% extends template %}

{% set title = "Новенький и любименький" %}
{% set workdate = "01.11.2007" %}
{% set pubdate = "10.03.2008" %}
{% set titleDescr = "1972 год" %}

{% block content %}
  {% filter prose %}
    В педучилище у Иринки начиналась летняя сессия, а потом — долгожданный отпуск. Мужу первый раз дали летний отпуск, который совпал с учебным Иришкиным. Он взял дочек и поехал с ними в Подмосковье к матери. Та ещё лежала в больнице. Через три дня он вернулся к Ирине. В своё оправдание он чётко объявил:
    — Лучше я отгуляю отпуск в самую лютую зиму, но без детей и так, как я хочу. Я просто ждал, когда мать выйдет из больницы.
    Ирина послала мужниному брату Коле телеграмму, чтобы он взял билеты на неё с девочками до Бендер на время её рабочего отпуска.
    Сессия закончилась, и в двадцать три часа того же дня Ирина уже была в Москве. Её встретил Коля, и они вместе доехали автобусом до Николо-Урюпина. От перенапряжения у Иринки невероятно болела голова. Свекровь Анна Фёдоровна и её второй сын Николай, несмотря на позднее время, предложили ей посидеть за столом, полным всяких вкусных угощений. Ведь это — традиция русского человека: встретить гостя хорошим столом. Но из-за сильной головной боли ей пришлось отказаться от такого угощения.
    — Анна Фёдоровна, миленькая, простите вы меня. Может, у вас есть анальгин, таблетки две-три сразу, и чай горячий? Выпью чай да пойду лягу около девочек, ведь я соскучилась по ним.
    — Ну давай чайку, анальгин да, может, хоть какой бутерброд, — согласилась Анна Фёдоровна.
    Коля сказал, что билеты получены на число, которое наступит через день. Иринка, не уточнив час отправления, машинально решила, что завтрашний день свободен. Она вытащила приготовленные для них подарочки и угощения, всех поблагодарила и пошла спать, успокоенная тем, что завтра у неё будет целый день.
    Утром Ирина встала и приготовила завтрак. Вспомнила о предстоящей дороге, взяла билеты и обнаружила, что выезжать из дома надо сегодня вечером. Число отправления — следующее, потому что поезд отправляется сразу после полуночи.
    Коля ещё ранним утром уехал на работу, телефонной связи нет. «А вдруг он не сможет нас проводить, надо рассчитывать на себя». Ирина решила взять вещи и пока без детей отвезти их на вокзал в камеру хранения. Анна Фёдоровна согласилась, и Иринка поехала.
    Когда она вернулась, девочки сидели на веранде и кушали блины со всякой вкуснятиной. Здесь же в гостях у Анны Фёдоровны была женщина из посёлка — старше свекрови лет на десять. Девочки, увидев свою маму, стали веселиться. И вдруг младшая, Анюта, держа свой надкусанный блин, с блестящей от блина моськой сообщила:
    — Мамочка, мамочка, а мы с Алёнкой нашли себе новенького и хорошенького папочку Колю!
    Анна Фёдоровна насторожилась, а гостья из посёлка — тем более: вытянулась в струночку, чтобы услышать что-то свеженькое.
    Иринка подошла к Анюте, посадила её к себе на колени, обняла и стала расспрашивать:
    — Ну-ка расскажи, почему же он лучше?
    — Потому что наш папа уехал от нас.
    — А у бабушки ещё ножка очень болела, — подсказала Алёнка, прислоняясь к маме.
    — А дядя Коля стал с нами жить. Всё покрасил для нас в комнате. Вон как красиво стало! — торопилась младшая.
    — А он ещё гулял с нами далеко, и в магазин с нами ходил, и в Москву в зоопарк с нами ездил, — говорила теперь Алёнка.
    — Да-да, — кивала головой Анюта.
    — Подождите, девочки. Анна Фёдоровна, у него же отпуска не было? — удивлённо спросила Ирина.
    — Да он из-за меня еле выбил этот отпуск. Жалко ему было меня. Я ведь вынуждена была из больницы выписаться, раз Толя уехал, — неохотно отвечала Анна Фёдоровна.
    — Мамочка, а можно, чтобы наш новенький и любименький папочка Коля с нами жил? — оживлённо спросила младшая.
    — Нет, девочки. Дядя Коля и правда молодец. Я ведь и не знала об этом. Но он тоже однажды женится, и у него будут свои детки. А вы — доченьки своего папочки Толи. Когда мы вернёмся домой, вы ему всё расскажите и, может быть, он тоже будет у вас любименьким.
    Анна Фёдоровна выскочила на улицу и позвала Иринку.
    — Ты зачем детей против отца настраиваешь? Как раз ещё гостья у меня некстати, — взволнованно говорила Анна Фёдоровна.
    — Да вы что, Анна Фёдоровна! Я ведь ничего этого не знала. А вот ему потом скажите, что со своими детьми, наверное, надо дружить, тогда им не придётся мечтать о новеньком и любименьком папе. Не обижайтесь, пожалуйста.
  {% endfilter %}
{% endblock %}
