{% extends template %}

{% set title = "Пошутил" %}
{% set pubdate = "10.03.2008" %}
{% set titleDescr = "1970 год" %}

{% block content %}
  {% filter prose %}
    Раннее летнее утро. Сквозь открытое окно слышно пробуждение птиц, а вскоре единый, многоголосый, полный призывной радости хор заполняет воздух. Пока техника не проснулась, мы ещё можем услышать природу.
    Нашему деду Андрею уже восемьдесят девять лет. Он привык вставать ни свет ни заря. Сколько скотины он держал, живя на хуторе, недалече от Пушгор! Сколько сделано его руками! Какое крепкое хозяйство стояло на берегу небольшого озера, которое и было названо в честь деда Андрея — Селягино.
    Вода в этом озере была чиста, как слеза. В нём водились карпы.
    Дед Андрей пережил трех жён. Был жилистым, работящим и скупым. Но очень любил меня, своего единственного внука. Ничего не поделаешь, постепенно люди стареют. И мой отец увёз деда Андрея с его родного места к нам в пригород.
    Наверное, это было сделано преждевременно, потому что очень затосковал дед. Высокий и похудевший, но ещё не сгорбившийся, он мог помногу часов подряд сидеть или стоять у окна и петь только ему знакомые песни. Голос его немного дрожал. Видимо, так он прощался со своей прежней жизнью, в которой он был хозяином.
    Потом он присмотрел себе пожилую женщину, живущую неподалёку, в частном доме, и стал задерживаться у неё, помогая ей по хозяйству. А однажды остался там насовсем. Руки его скучали по топору, косе и лопате, по запаху земли и скотине.
    Но сын с невесткой, мои родители, забрали его и оттуда. Объяснив это тем, что им стыдно перед людьми, будто они его выгнали.
    Ещё круче загоревал дедок. Он по-прежнему вставал ранним утром и выходил из городской квартиры. Он шёл в сарай, который находился вблизи дома. Там он всегда отыскивал себе какую-нибудь работу.
    Здесь у деда Андрея появился приятель, моложе его на десять лет. Они часто толковали о своей прежней жизни, обсуждали события, происходящие в стране. Они нуждались друг в друге.
    В это утро дед Андрей тоже отправился в сарай. Несколько позже туда же пришёл его приятель. Увидев, что наш дедок увлечённо строгает какую-то палочку, приятель решил пошутить. И… подкравшись к нему неслышно, громко крикнул ему на ухо. Дед Андрей вздрогнул и… рухнул.
    Три дня лежал он, не приходя в сознание. На четвёртый день врачи констатировали смерть.
    Вот и ушёл от нас дед Андрей в мир иной, даже не поняв, что произошло. А было ему в ту пору 86 лет.
    А приятель, придя па похороны и чувствуя свою вину, не смог пережить это. Когда опускали гроб, он потерял сознание. Его привели в чувство и привезли домой. Наутро он не проснулся.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2003-02">Февраль 2003</time>
{% endblock %}
