{% extends template %}

{% set title = "За решёткой" %}
{% set workdate = "27.06.2007" %}
{% set pubdate = "10.03.2008" %}
{% set titleDescr = "Лето 1967 года" %}

{% block content %}
  {% filter prose %}
    Стоял замечательный июньский день. Сегодня, как только Ирина поняла, что начались настоящие схватки, хоть и редкие, она, как и договорились ранее, отвела дочку двух с половиной лет к знакомой медсестре и поехала в один из специализированных институтов города.
    Несмотря на неполные двадцать шесть лет, она казалась намного моложе. И дежурная врач, обращаясь к Иринке как к юной девушке, сообщила, что она не может принять её сегодня, так как до родов ещё недели три-четыре, и что Ирина в силу своей неопытности заблуждается в предполагаемых сроках.
    — Да что вы! — возразила Ирина. — Во-первых, я не девочка. Моя дочь госпитализирована только потому, что мне надо родить, так что я здесь по делу! Да и мой больничный, заполненный врачом нашей консультации, предполагает роды на сегодняшний день.
    Врач возразила Ирине:
    — Знаешь, дорогая девочка, я ведь не просто дежурный врач, а к тому же кандидат медицинских наук, доцент.
    — Вы уж меня простите! — убеждённо парировала Ирина. — Вы хоть и имеете свой опыт, а я знаю свой организм. Направление к вам я имею, схватки ощущаю, погода хорошая, даже замечательная! Так что я сейчас сяду на крылечко вашего института, и когда начнутся роды, то так или иначе окажусь у вас.
    Ирина направилась к выходу.
    — Что вы, что вы! — вдруг доброжелательно возразила доцент. — Около родилочки есть коечка. Я вас приму, пожалуйста, располагайтесь.
    Ирина удивилась такому обращению к ней, но в то же время обрадовалась. Ведь на возвращение домой в пригород надо затратить два с половиной часа.
    Медперсонал отнёсся к ней очень доброжелательно. Ей предложили вкусный ужин, а потом медсестра принесла какие-то порошки и объяснила, что это витамины, и ей надо набираться сил, ведь потом может быть не до еды. Ирина доверчиво отнеслась к предложению медсестры.
    Было ещё пять часов вечера. Ирина, устроившись поудобнее, беззаботно заснула. Проснулась только на следующее утро во время пересменки. Медсестра, ещё из той смены, что принимала Ирину, принесла ей порошок, на обёртке которого она случайно заметила штампик с изображением черепа и костей.
    — Ой, да что вы! Этот препарат резко останавливает родовую деятельность! Значит, вчера меня обманули и хитростью остановили всё! Зачем это? Кто разрешил? Ведь потом роды будут сложными! Это же вредно для ребёнка!
    Медсестра настаивала на своём. Ирина решила воспользоваться пересменкой и попросила заведующую собрать консилиум для решения вопроса о сроке родов. В заключение осмотра стало ясно, что Ирина была права. Но родовая деятельность уже была приостановлена, и её отправили в дородовое отделение. Ирине пришлось пробыть там ещё десять дней. Каждый день она вместе с соседками по палате делала специальную гимнастику, но именно с ней ничего не происходило.
    На одиннадцатый день в половине второго ночи начались схватки. Ирину перевели в предродовую палату. Схватки повторялись всё чаще и чаще. Они уже были через пять минут. Тогда Ирина попросила санитарку принести и поставить около её кровати будильник. На будильнике был крупный циферблат. Она считала минуты и дышала согласно нарастающей или угасающей боли.
    Трое безумных тяжёлых суток она лежала, как в агонии, у раскрытого окна. Ей вводили питуитрин, заставляли пить хину и касторовое масло. Но несмотря ни на что роды не начинались. Искусственно остановленная родовая деятельность не возобновлялась. Организм сдавал. Меж собой врачи решили ввести ей тяжёлый препарат аминазин, чтобы дать ей отдохнуть. Получив такую инъекцию и, наверно, немалую дозу, Ирина узнала о странном свойстве этого лекарства. Её мышцы были неподвластны её желанию двигаться, она не могла пошевелить ни рукой, ни ногой. Лёжа в неудобной позе, она слышала свой тяжёлый храп и не могла лечь по-другому. Кроме того, она слышала абсолютно всё, что творилось в палате. Обо всём этом она рассказала крайне удивлённым соседкам по палате. Получилось, что организм её совсем не отдохнул. Для неё вызвали профессора, очень пожилого человека, который, с трудом подойдя к ней, погладил её по голове и спросил:
    — Девочка, а как ты думаешь, что тебе надо сделать?
    — Да проколите же мне пузырь! А уж если не поможет, то сделайте кесарево сечение. Не умирать же нам вдвоём!
    Профессор вместе с сопровождающей свитой вышел из родильного зала. На смену ему моментально вошла акушерка с крючком в руке. Чпок! — и вода вырвалась из организма, а одновременно и малышка, которую акушерка еле успела поймать.
    Но даже после родов медсестра продолжала делать стимулирующие инъекции. Ирина просила её прекратить это, но она непреклонно отвечала:
    — Я выполняю указания врача.
    В брюшине поднялась невероятная ураганная боль, и всё померкло. Кто-то из врачей кричал:
    — Мамочка, откройте глаза! Откройте глаза!
    Больше Ирина ничего не помнила. Проснулась она утром. Бросила взгляд на окно. Оно оказалось зарешеченным. Справа у стены стояла кровать, одна сторона которой была заколочена горбылём. В кровати металась женщина.
    Другая женщина, бормоча, что-то искала под Ирининой кроватью. С улицы донёсся голос Ириной сестры Людмилы. Ира тихонько подошла к окну.
    — А почему на этом окне решётки? — спросила Люся.
    — А что, больше ни у кого нет? — недоумевала Ирина.
    — Я сейчас уточню, что случилось, а потом подойду сюда и позову тебя, — предупредила Люда.
    — Хорошо, я тоже спрошу. Здесь около открытой двери нашей палаты сидит дежурная медсестра, — ответила ей Ирина.
    Она аккуратно спросила у дежурной медсестры:
    — А вы не скажете, почему я здесь оказалась? Приехали мои родственники и пошли к заведующей уточнить, в чём дело.
    — К вам родственники пришли? А мы думали, что вы одни. Конечно, вас измучили, но и вы потом в беспамятстве почти с десятком сотрудников сражались. Не помните? — доверительно ответила медсестра. — Ладно, сейчас придёт врач и переведёт вас в обычную палату. Не волнуйтесь.
    Медсестра по сигналу вызвала врача.
    — Мамочка, роды были молниеносные. Малышка отдыхает, и вы пока отдыхайте. Медсестра проводит вас в палату.
    Ирине было горько от мысли, что врачебная ошибка или халатность и дополнительные тринадцать дней, из которых — три дня бесконечной стимуляции, могут отразиться на здоровье малышки. Она понимала, что её специально временно устроили в палату, предварительно наколов психотропными или снотворными веществами, чтобы дать ей понять, что лишние рассуждения могут привести к новым проблемам.
    В результате было объявлено, что институт будет закрыт на проветривание. Иринке, получившей в процессе родов пневмонию и мастит, был предложен перевод в другую больницу, а малышку решили перевести в другой институт. Но Ирина по-своему решила этот вопрос.
    Провожая их домой, врач попросила у неё прощения и поцеловала в щёку. Её с температурой под сорок привезли домой вместе с малышкой. В этот же день муж взял и старшую дочку из больницы.
    Первую неделю по три раза в день, как к родной дочери, приходила к ней замечательная участковая врач, приносила молочные продукты. Эта женщина стала для неё и матерью, и сиделкой, и другом, и наставницей.
    — Надо же, как происходит. Кто-то как будто вредит нам, а кто-то спасает. Я буду помнить вас всегда, — говорила Ирина при прощании с дорогим для неё человеком — участковым врачом, которая вынужденно, по семейным обстоятельствам, переезжала в Металлострой, расположенный на большом расстоянии от Сесторорецка.
    — Это очень здорово, что ты продолжаешь верить в людскую доброту и не несёшь в себе обиды, — ответила врач.
  {% endfilter %}
{% endblock %}
