{% extends template %}

{% set title = "Судьба мечты" %}
{% set pubdate = "10.03.2008" %}
{% set next = "lidija_seljagina/ir-4-1" %}
{% set nextTitle = "К следующей части книги" %}
{% set titleDescr = "1976 год" %}

{% block content %}
  {% filter prose %}
    Рассвет нового весеннего майского дня. Ирине не спится. Сегодня её друзья, соседи по дому, обещали ей доставить в квартиру концертный рояль, так как они навсегда уезжали из городка.
    К музыкальным инструментам Ирина относилась, как к божеству. Всё, что было связано с ними, для неё было святым и волшебным. Она понимала, что мечта детства в её судьбе уже не воплотится, но она сможет доставить эту радость, радость познания звука, своим дочерям. Сейчас они ещё совсем маленькие: одной — три с половиной, другой — через месяц годик.
    В этот день у Ирины собрались самые закадычные, самые настоящие друзья. Женщины занимались детьми, накрывали на стол, а мужчины готовили ремни к переносу рояля. И вскоре чёрный, важный концертный рояль устроился рядом со старинным книжным шкафом. В большой комнате он встал уверенно и величаво, обещая в будущем звучать, будоража души хозяев и прохожих.
    Сама мечта пожаловала в дом Иринки, заняла в нём самый красный угол. Лица хозяев и гостей светились. За длинным столом, поднимая стаканы с лимонадом (жара), больше ничего не хочется. Друзья пожелали роялю, как новому члену семьи, терпения и долголетнего служения своим будущим ученикам. Иногда вечерами, когда дети уже спали в соседней комнате, Ирина подходила к роялю и тихо перебирала клавиши, наигрывая гаммы.
    С той поры прошло уже семь лет. Дочки учились в начальных классах. Старшая с пяти лет с большим интересом познавала мир музыки. За эти годы муж Ирины дважды подавал на развод — «не сошлись характерами».
    Бессонной одинокой ночью Ирина поняла, что совместное проживание с мужем больше невозможно, и следующим этапом будет размен. Значит, она с девочками будет в однокомнатной квартире. Её взгляд упал на рояль, который как будто смотрел на неё грустными глазами.
    Вдруг Ирина уловила слабо звучащую минорную мелодию. И в душе у неё разлилась настоящая тоска и тревога за будущее детей.
    «Как жаль, что в жизни ничего нет вечного. Оказывается, ничто в этом мире не принадлежит лично нам, наверное, кроме нательного белья. Значит, придётся расстаться и со своей волшебной мечтой — с этим гордым великаном, концертным роялем. Но куда, куда же его определить, такой большой и добрый?
    И Ирина решила, что на следующий день она обратится в местные детские садики, школы и в музыкальную школу. Может, кто-то сможет его приютить, конечно, бесплатно. И она уснула беспокойным сном, но в надежде, что сможет передать его в добрые руки.
    Несколько дней она пыталась осуществить эту идею. Но… концертный рояль оказался никому не нужным.
    — Как мы его оприходуем? — спросила её бухгалтер одного из детских садов.
    А переезд был не за горами. «Ну почему! Почему всё так происходит!» — думала Ирина. Он, этот мудрый рояль, как бы пытался удержать семью, надеясь на перемирие супругов.
    Но ничего не происходило. Не помогло и то, что рядом в доме жила удивительная супружеская пара, которая часто выручала своих соседей. Виктор делал ремонты и был умельцем на все руки, а Мария всегда была готова посидеть с ребятами. Зная практически всё о жизни окрестных семей, они могли подсказать, кому можно предложить рояль. Но и эта идея не увенчалась успехом. И тогда Виктор предложил Ирине аккуратно разобрать его и раздельно, по частям, вынести и разложить вдоль ограды помойки в своём дворе.
    — Может, здесь кто-то увидит и подскажет настройщику инструментов. Да не мучайся ты так. Я этот грех на себя возьму. А ты приготовь хороший обед, купи маленькую водки и оставь мне пять рублей, если сможешь. После того, как я всё сделаю, мы вместе посидим за столом, и Мария подойдёт. Да не горюй сильно. Вот увидишь, кому-нибудь понадобится. Дай Бог! Ну до завтра. Жди.
    И снова пришёл, как семь лет назад, майский, удивительно теплый день… Перед тем, как Виктор приступил к исполнению заказа, Ирина подошла к роялю и с прощальной нежностью провела рукой по клавиатуре.
    — Прости меня, моя мечта, мой добрый рояль. Хорошо бы, если бы тебя действительно заметили.
    Все эти несколько часов разборки рояля Ирина провела на кухне, готовя поминальный обед и машинально перелистывая номер газеты. Войти в комнату не было сил. На память о добром музыкальном друге Ирина сохранила тяжёлый белый холщовый чехол.
    Прошло много-много лет. Но иногда, когда Ирина перебирает памятные только ей вещи, она вынимает с полки этот чехол, встряхивает его, накинув на диван, и вспоминает о светлой мечте своего детства, о попытке воплощения её в своих детях и о конечной судьбе своей мечты.
    Вот и сегодня, подойдя к окну, она задумчиво всматривается вдаль своими тёмными, еще не потухшими глазами. Там бурлит такая непростая, но желанная жизнь. «Кто знает, может быть, моя мечта воплотится в моих внуках», — размышляет Ирина.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2004-08">Август 2004</time>
{% endblock %}
