{% extends template %}

{% set title = "Неожиданное замужество" %}
{% set workdate = "10.01.2005" %}
{% set pubdate = "10.03.2008" %}
{% set prev = "lidija_seljagina/ir-2-16" %}
{% set prevTitle = "К предыдущей части книги" %}
{% set titleDescr = "1963 год" %}

{% block content %}
  {% filter ins %}
    {% filter poem %}
      О эта тайна совпадений
      И предсказаний, и решений!
    {% endfilter %}
  {% endfilter %}

  {% filter prose %}
    Скоро Новый год. За окном уже восемнадцатое декабря. Иринке двадцать два с половиной года. Она уже давно живёт одна за городом в дачном домике. Правда, по воле матери Иринка могла жить «официально» только в одной маленькой пятиметровой комнатке, хоть печь и плита отапливали весь дом.
    Сегодня в вечернюю смену их бригада работала только до обеда. «Ну и ладно, — подумала Ирина, — пораньше истоплю печь».
    На вокзале посмотрела расписание: до электрички ещё полчаса. Когда Ирина направилась в сторону зала ожидания, к ней обратилась миловидная женщина лет около пятидесяти, ничем не отличающаяся от обычных прохожих:
    — Миленькая, сейчас придёшь домой, затопишь печь, начнёшь читать книгу и задремлешь.
    — Да будет вам, остановитесь, — спокойно отреагировала Ирина. — Кто же в декабре не начнёт топить печь, вернувшись домой? — усмехнулась она.
    — Да я не об этом, — вполголоса продолжала женщина. — Когда ты задремлешь с книгой в руках, то встрепенёшься от каких-то ударов по крыше дома. Выходи на крыльцо, не бойся, там увидишь своего знакомого. Сегодня он сделает тебе предложение. Твоё право — согласиться или нет. Но предупреждаю, что он будет относиться к тебе очень бережно только какое-то время. Хотя этот период счастья и даст тебе передышку.
    — Ну я пошла. У меня электричка, — отмахнулась Иринка.
    — Ну что ж, — ответила незнакомка. — На прощанье я скажу тебе, что если ты решишься, то встречать Новый год поедешь со своим мужем в другой город. И потом ты будешь часто вспоминать серьбирьянку Марию. А вот в жизни берегись женщин с таким именем.
    И, нырнув в новую волну входящих в зал ожидания пассажиров, она затерялась в толпе. Огоньки электрички уже приближались к платформе, и Ирина ускорила шаг. В электричке она не раз ловила себя на мысли, что эта женщина кого-то напоминает ей и кажется старой знакомой. Ирина приехала домой, растопила печь и плиту и устроилась читать. Глаза сами стали закрываться.
    — Ну уж нет, не засну, мало ли кто захочет мне что-либо навязать, — подумала она и… задремала.
    Встрепенулась она действительно от ударов по крыше. Вышла на крыльцо и поняла, что к ней пришёл приятель Анатолий, который часто навещал её. Провела его в дом, угостила ужином, и он стал собираться на последнюю электричку. Проводила за калитку, немного постояла, помахала рукой и пошла в дом. Мелькнула мысль: «Ну вот, хоть в одном она не права, никакого предложения он мне не сделал».
    Но войдя на кухню, она увидела на столе конверт. «Да когда же это он успел?» Вскрыв конверт, она прочитала его признание в любви, его предложение связать их судьбы и что он готов ждать её согласия сколько угодно. Иринка вздохнула, присела напротив открытой печки и, глядя на языки пламени, задумалась…
    Она знала, что человек, навстречу которому она побежала бы в любую погоду и любое время суток, не сможет с ней быть никогда. И Анатолий знал об этом. Остаться одной без мужа она не хотела, потому что, вглядываясь в людей, которые окружали её, анализируя их судьбы, прислушиваясь к законам природы, к законам той жизни, в которой она живёт, понимала, что одному человеку очень плохо, и <cite class="page__cite-author">Маяковский</cite> прав:
  {% endfilter %}

  {% filter ins %}
    {% filter poem("quote") %}
      Плохо человеку, когда он один,
      Горе одному, один не воин,
      Каждый дюжий ему — господин,
      И даже слабые, если двое…
    {% endfilter %}
  {% endfilter %}

  {% filter prose %}
    «Кто не предаст тебя, Иринка? — задала она себе вопрос. — Наверное, твои дети», — отвечала она себе.
    Итак, к нерешённым Иринкиным проблемам добавилась ещё одна. Иринка и без того не знала, по какому пути ей пойти. Она хотела быть и актрисой, и литератором. Театральная студия предлагала ей ходатайство в театральный институт. Литературное объединение рекомендовало поступить в литературный институт. Это как раз то, о чём она мечтала. Однако печататься в альманахе «День поэзии» отказалась. Её душа кричала о том, что мешает жить, и она писала об этом, а у неё просили стихи о весне и любви. Но она считала, что свобода для поэта всего дороже, и решила подождать:
    — Пусть во мне скапливается. Если не смогу без стихов и записей впечатлений о жизни, значит, когда-нибудь они всплывут на поверхность. А вот учиться в литературном я бы очень хотела.
    На следующий день в конце рабочего дня позвонил Толя и просил её не уходить с завода без него, потому что он скоро будет.
    — Хорошо, подходи к комитету комсомола, — ответила Иринка.
    По окончании заседания она встретила его сияющие глаза, и он протянул ей кожаные рукавицы на меху.
    — На. Это тебе, чтобы не было больно твоим пальчикам, и чтобы ты могла гулять зимой, — сказал он, широко улыбаясь.
    — Какое тебе огромное спасибо! — и она чмокнула его в щёчку. Это была первая благодарность с её стороны.
    — Ну почему же раньше я не купила себе такие? — весело заговорила она. Руки Ирины были обморожены в седьмом классе так, что надень хоть десять рукавичек в двадцатиградусный мороз — не поможет.
    — А я знаю почему, — ответил ей Анатолий, — потому что младших своих не забываешь, а себя забыла. Слушай, пойдём немного прогуляемся. Теперь-то уж руки не замерзнут. А? Пойдём.
    — Ну давай попробуем, — ответила Ирина.
    Было видно невооружённым глазом, что Анатолий светится от счастья. Многие встречные оглядывались. И ей было от этого хорошо. Сегодня, девятнадцатого декабря, в четверг она уже шагала с ним по Большому проспекту Васильевского и с удивлением думала: «Что же он такой сегодня излишне суетливый, как будто боится моих вопросов? Беседа не ладится, слова не могу вставить».
    Вдруг Анатолий остановился.
    — Давай зайдём, а? — робко попросил он и взял Ирину за руку. Она подняла глаза и увидела, что они подошли к загсу.
    — Да что ты, так быстро, я же не готова к ответу, — растерянно произнесла Иринка.
    — Ну хорошо, хорошо. Я же не тороплю. Давай сделаем так: подадим заявление, нам назначат число в каком-то другом месяце, и если ты не решишься, то я не буду сердиться на тебя, я буду тебя ждать. Ну пожалуйста! — он снова взял её руки в свои.
    Иринка снова вспомнила слова серьбирьянки: «Сейчас и ещё какое-то время он будет относиться к тебе очень бережно…»
    «А что потом? Кто из нас окажется виноватым?» — Иринка понимала, что ему с ней надёжно, и что сейчас каждый из них очень одинок. «А вдруг всё сладится? Ведь он искренен, и мне его жаль».
    Они вошли в загс, заполнили заявление, и им назначили дату в феврале.
    — Ну вот видишь, до февраля ещё столько времени, — сказал он обрадованно.
    — Ну хорошо. Вот уж сколько времени. Ты поезжай на занятия, а я — домой печку топить. Теперь встретимся в субботу или воскресенье. Да?
    — Конечно. Если что, я позвоню тебе, — и он чмокнул её в щёчку. — Не обижаешься?
    Ирина покачала головой:
    — Да нет. Я поехала. Пока, — и она быстро пошла к остановке. Оглянулась, помахала ему рукой.
    Всю эту ночь, да и следующую она перебирала мысленно вновь и вновь все встречи с Анатолием. Он старше многих её ребят. Кажется стабильным, спокойным, без дурных привычек, заботится о ней, не настаивает и даже не напоминает о возможной близости. Часто провожает до электрички на Финляндском вокзале, хотя с Васильевского — далековато. Он не только работает, но и учится на вечернем в электротехническом институте, а ещё в Университете марксизма-ленинизма, куда была направлена и Иринка от своего завода, где и свела их судьба. Иринка ему очень понравилась, а узнав, что зимой она живёт одна в деревянном доме, Толя попросил разрешения иногда приезжать по воскресным дням, чтобы позаниматься в спокойной обстановке. И она разрешила ему, с ним ей стало веселее. Зима, родственники не приезжают. Места в доме много — не жалко. Всё равно печкой и плитой Ирина отапливала целый дом.
    Он привозил с собой трёхлитровый бидон молока и хлеб, а она всё равно готовила и первое, и второе. С ним было спокойно, он вёл себя сдержанно, внимательно, иногда помогал — приносил воду, дрова. Они были друзьями; хотя Иринка, конечно, видела, как сияли глаза Анатолия при каждой их встрече.
    Она знала его непростую судьбу. Он и его младший братишка родились в 1935 и 1937 годах под Рязанью. Ещё до начала войны их отец уехал на заработки в Ленинград и устроился на Балтийский завод красить корабли. А мать, светловолосая голубоглазая красавица, осталась с двумя детьми работать в колхозе. Во время войны отец встретил в блокадном Ленинграде женщину с тремя маленькими детьми, работающую в общепите. И хитростью («потеря» паспорта) зарегистрировал с ней брак. Позже они получили трёхкомнатную квартиру от завода. А Толина мать считала себя замужней женщиной, потому что, кроме официальной регистрации, они были повенчаны, да и развода не было.
    Толя учился в районном центре только до четвёртого класса, а пятый, шестой и седьмой он учился в Москве у своей тёти, которая работала учительницей. Толя оказался способным учеником и семилетку закончил с отличием. Раньше было достаточно семилетнего обучения, чтобы поступить в техникум.
    Отец в этот период написал матери письмо, что она может прислать к нему любого сына, а он пропишет его и даст ему возможность учиться. На что младший ответил: «Нет, не было у меня отца и не надо, и встретиться с ним не хочу». А Анатолий, видимо, оттого, что был постарше и лучше успел запомнить отца, очень хотел жить вместе с ним в Ленинграде. Отец встретил его очень хорошо. Они отправились в техникум, куда Толя был принят без экзаменов. Ночью он проснулся от крика мачехи, которая бранила отца, кричала о том, что он привёз ей нахлебника. Толя вышел на кухню и сказал, что не будет нахлебником, а завтра же заберёт документы из техникума и устроится на работу.
    Так он оказался в литейном цеху. Работа была тяжёлая, и не хватало здоровья, чтобы учиться дальше. Только в армии, попав в Германию, он задумался о своей жизни и стал готовиться к учёбе. После службы вернулся на завод и пошёл в вечернюю школу. За два года закончил её и поступил в институт. Учиться и работать в принципе нелегко, а в его окружении часто выпивали, и заканчивались попойки тем, что его конспекты нередко были залиты чернилами.
    Через день, в субботу, двадцать второго декабря Анатолий позвонил Ирине в конце рабочего дня:
    — Послушай, я тебя очень прошу, возьми три дня за свой счёт с понедельника.
    И перед Иринкиными глазами вдруг предстала картина, что он в загсе, в кабинете. Напротив него, за барьером, за столом сидит женщина и внимательно смотрит на него.
    — Толя, ты где? — тихо спросила Ирина.
    — Я в загсе, — так же тихо ответил он.
    — И что ты там делаешь?
    — Послушай, ты же хотела, чтобы я перешёл с базового завода в научно-исследовательский институт. Я сделал это вчера, а сегодня в отделе кадров института мне дали справку для загса о том, что я уезжаю в длительную и дальнюю командировку; в связи с этим отдел кадров просит загс зарегистрировать наш брак в ближайшие дни, — быстро договорил он.
    — И когда? — тихо спросила Иринка.
    — Двадцать четвёртого, во вторник. В конце дня я подъеду к проходной и всё тебе покажу.
    Ирина присела около телефона и почему-то вспомнила встречу с женщиной, что пророчила замужество в этом году. Девчата заметили её состояние, окружили и наперебой спрашивали:
    — Ты что? Что за новость? Говори, не тяни.
    — Я, кажется, выхожу замуж, — тихо ответила Иринка.
    — Да ты что! Так это хорошо или плохо? — спросила одна из них.
    — Это Толя? Да ведь он хороший парень, не бойся, — затрещала другая.
    — Ой, а когда? — вдруг очнулись девчата.
    — Двадцать четвёртого, во вторник. А сегодня суббота, — ответила растерянная Иринка.
    — Вот это скорость, даже завидно, — прощебетала одна из них.
    — Да ладно, давай пиши заявление, а то скоро конец дня. Дело твоё, если передумаешь, то в понедельник выйдешь на работу. На тебе листок.
    И Ирина написала заявление за свой счёт.
    После работы у проходной Ирину ждал Анатолий. Он взял её за руку, и они пошли к трамвайной остановке.
    — Сейчас мы поедем в магазин для молодожёнов. В загсе мне дали направление.
    И Ирина направилась по волне судьбы, продиктованной серьбирьянкой. Для неё в магазине после примерок, в которых Анатолий замучил и Ирину, и продавщиц, было приобретено всё: и нижнее бельё, и платье, и фата, и туфли. Совсем немного денег не хватило на кольца. Зашли к Иринкиной сестре, она с мужем жила недалеко от магазина для новобрачных. И наконец, обвешанные обновами, поехали к Иринкиным родителям на Васильевский.
    Мать видела Анатолия до этой встречи всего один раз, издалека, около дома, а отец и вовсе не видал. Дома были младшие брат и сестра. Неожиданное сообщение ошеломило всех. Мать разрыдалась, а Анатолий сказал ей:
    — Вы не беспокойтесь, моя мачеха с отцом обеспечат стол полностью. Они всё привезут. Если сможете, то купите немного водки и вина. Не расстраивайтесь, если что, то отец добавит всё что необходимо.
    Отец, до сих пор сидевший молча, взял гитару и, перебирая струны, сказал:
    — Ну что ж, ребята, если это со всех сторон серьёзно, то я — за такой союз. Думайте. Ещё есть время.
    Молодые разъехались по домам. Иринка поехала за город, а он — к своему отцу. В голове Ирины роились тревожные мысли. Вспоминалась серьбирьянка, её вещие слова. Удивляло, что её пророчества сбываются.
    На следующий день к Ирине за город приехал отец. Некоторое время сидел молча, собирался с мыслями. Спросил:
    — Хорошо ли ты подумала?
    — Знаешь, папа, совсем недавно я подала заявление в райком комсомола о желании уехать на стройку Севера, буду поварихой. Говорят, что в марте мы, все желающие, получим направления. Поэтому если что, то я и уеду, — ответила Иринка.
    — Да ты что! Уж если так, то можно сделать по-другому. Мой двоюродный брат работает в Свердловске директором крупного завода. Сегодня же я напишу ему письмо и дам тебе, а ты решай. Если в загс не придёшь, значит, буду знать, что ты уехала в Свердловск.
    Отец уехал домой, а Ирина опять осталась одна. «Очевидно, — думала она, — что полгода нам придётся занимать маленькую пятиметровую комнату. Но зато зимой мы будем совсем одни». Иринка машинально наводила порядок в доме и выселяла из своего сердца милое имя.
    Вот и настал день свадьбы. Толя должен был приехать в загс отдельно со своими родственниками, а она — из квартиры родителей.
    На всякий случай младшая сестра выставила на лестничную клетку чемодан, готовый для дальней дороги в Свердловск. Иринка вложила туда письмо отца к брату. Мать ничего не знала об этом.
    Ирина стояла на пятом, последнем этаже огромного старого дома. Широкие марши лестниц, итальянские окна квартирных кладовок, выходивших на лестницу, и огромный, широкий пролёт до первого этажа.
    Иринка облокотилась на перила и, глядя вниз, ещё раз задумалась. Проще всего для неё было бы взять чемодан и уехать в новую жизнь. Но ей было жалко этого паренька, обидно за его неудавшуюся жизнь. Она понимала, что если она сейчас уйдёт, то прежде чем погаснет его счастливый взгляд, с ним может что-нибудь произойти, и тогда именно она будет виновата в этом. «Пусть хоть один из нас будет счастлив», — решила она.
    Иринка опоздала в загс на целый час. Когда она вышла из комнаты невест, прошла волна тёплых улыбок. Да ведь с такой невестой надо было во Дворец ехать! Толя был счастлив бесконечно. И даже то, что она решила оставить девичью фамилию, не омрачило его радости. К Иринке подбежала старшая сестра:
    — Да почему же ты так? Почему фамилию не меняешь?
    — А я, может быть, потом это сделаю, — ответила ей уже молодая жена.
    Всё происходило, как во сне. И вдруг на короткое мгновенье она почувствовала присутствие серьбирьянки, её добрую улыбку.
    На свадьбе было двенадцать человек, внешне всё было хорошо. Но внутри что-то настораживало её и пугало. Иринка снова и снова вспоминала серьбирьянку.
    Тридцать первого декабря молодожёны действительно уезжали в Москву с Московского вокзала. В Подмосковье ждала их в гости Толина мама и вся родня, что жила в Москве.
    Побывали они тогда и в Литературном институте. И муж дал ей обещание, что она обязательно будет здесь учиться.
    Но обещанного долго ждут и редко когда дожидаются.
  {% endfilter %}
{% endblock %}
