{% extends template %}

{% set title = "Странное исчезновение, или Друг Мухтар" %}
{% set titleDescr = "Лето 1969 года" %}
{% set workdate = "23.12.2002" %}
{% set pubdate = "10.03.2008" %}

{% block heading %}
  <h1 class="art__title">Странное исчезновение</h1>
  <p class="art__title-descr">или</p>
  <p class="art__title">Друг Мухтар</p>
  <p class="art__title-descr">({{titleDescr}})</p>
{% endblock %}

{% block content %}
  {% filter prose %}
    Стояли темные летние молдавские вечера. Приезжим питерцам в такие вечера ни за что так просто не угомониться.
    Вот и в этот вечер Ирина уложила спать двух своих девчушек-дочушек. Подождала, когда они закроют свои глазёнки и сладко засопят, выключила свет и вышла из комнаты.
    Вечерами семья хозяев, где она сняла комнату, собиралась в летней кухне под виноградными лозами. Здесь обсуждались все события, происходящие на земле, а также планы на следующий день.
    Посидев немного с хозяевами, Иринка решила проверить своих малышек, а потом вместе со всеми приступить к чаепитию. Тёплый тёмный вечер поглотил её.
    Не включая свет, она тихонько приблизилась к кроваткам. Постояла немного около одной кроватки, прислушалась. Услышав спокойное, ровное дыхание старшенькой, на ощупь проверила одеяло на ней. Всё в порядке. Алёнка свернулась калачиком и сладко сопела. Также осторожно Иришка приблизилась к другой кроватке, склонилась над ней. Но… не услышала ожидаемого детского сопения. А проведя рукой по поверхности кровати, поняла, что смуглой толстощёкой Анечки в кровати нет!
    Тогда она мигом включила свет, заглянула под кровать, в платяной шкаф… О Боже, девочки нигде не было! Выключив свет, Ирина выскочила на улицу и бегом побежала на летнюю кухню к хозяевам.
    — Что с тобой? — спросила её тетя Паша.
    — Анютки моей нет в доме, — выдохнула Ира.
    — Как нет! Ты везде смотрела? — наперебой спрашивали домочадцы.
    — Что шумим? — резко оборвал всех хозяин и скомандовал: — Коля, Вера, Паша! Быстро берём фонарики! Обыскать всё во дворе!
    В голове у Ирины пробежала мысль: «Какие они молодцы. И фонарики у них тут же были в готовности. Наш бы брат полдома перерыл в поисках свечки или фонарика с подсевшими батарейками».
    Григорий распорядился действовать бесшумно, чтобы не напугать ребёнка. Он был уверен, что Анютка, которая ему очень нравилась, где-то здесь, рядом, так как калитка со своим хозяйским секретиком закрыта на ночь.
    Сначала поиски ни к чему не привели. Остановились в растерянности, выключили фонарики, экономя батарейки. И вдруг Ирина обратила внимание на какое-то странное белое пятно, ярко выделяющееся в темноте. Оно лежало не на земле, нет.
    — Что это? — шепнула она тёте Паше. — Вот там посветите.
    Все навели лучи фонариков на указанное пятно и поняли, что вход в будку сторожевого Мухтара заслонила белая ткань. Приблизившись, они увидели картину, какую вряд ли увидят ещё когда-нибудь: в просторной будке Мухтара расположились двое, понимающие друг друга, как никто другой. Упершись задом в противоположную от входа стенку будки и вытянув передние лапы, положив на них свою лохматую голову, лежал Мухтар. Рядом, устроившись на бочок, лицом к собаке, в длинной ночной рубашке лежала Анютка. Это её попа, прикрытая рубашонкой, торчала из будки белым пятном. А между ними стояла детская швейная машинка, которую Ирина купила только сегодня. Видимо, обсуждая новую покупку, они оба задремали.
    Господи, как трудно было удержаться от смеха! Но хозяин скомандовал шепотом:
    — Тихо!
    Мухтар почувствовал своих, приоткрыл глаза, потянулся вперёд. Иринка аккуратно достала из будки свою двухлетнюю Анютку. Пёс не удержался и лизнул её в щёчку, и она окончательно проснулась.
    — Мама, мамоцка! Я хотела показать масынку.
    — Хорошо, хорошо. Это мы сделаем завтра. А сегодня пора спать, — проговорила Ирина, неся свою озорную Анечку и еле сдерживая смех.
    И только когда она убедилась, что дочка действительно заснула, вернулась в летнюю кухню под лозы виноградника, где её встретила взрывная волна смеха.
    — Нет, нет, оставайся у нас подольше, с тобой не соскучишься, — перебивая друг друга, весело приговаривали хозяева.
  {% endfilter %}
{% endblock %}
