{% extends template %}

{% set title = "По лестнице жизни" %}
{% set workdate = "07.11.2007" %}
{% set pubdate = "10.03.2008" %}
{% set prev = "lidija_seljagina/ir-3-16" %}
{% set prevTitle = "К предыдущей части книги" %}
{% set titleDescr = "1970 — 1978 гг." %}

{% block content %}
  {% filter prose %}
    Шло время, и Ирина шагала по лестнице своей жизни.
    Уже сразу после поступления в педучилище она стала работать воспитателем в детском саду. Потом — вольнонаёмной в органах МВД (инспектором канцелярии). И наконец перешла на офицерскую должность — участковым инспектором по делам несовершеннолетних. Эта работа была мечтой её юности и более старшего возраста. Она искренне верила, что, придя на эту службу, сможет помочь многим подросткам и родителям.
    Одновременно с этими переменами менялась и её личная жизнь. Было невероятно <a href="/lidija_seljagina/point-2-10.html" title="Читайте об этом в цикле «По лабиринтам жизни»">трудно</a> — и морально, и материально: хоть она и разъехалась с бывшим мужем, разменяв двухкомнатную квартиру на две однокомнатные, но её квартира по площади оказалась несколько больше, и надо было кормить детей, а алименты составляли всего двадцать семь рублей в месяц. Всё труднее было сводить концы с концами, а в долг она уже не могла брать. Надеяться было не на что.
    Но помог случай. Из дома, где они жили с мужем, стали часто приходить две пожилые женщины и уговаривать Ирину обменяться с одной из них. Квартира этой женщины была значительно меньше метражом, и бухгалтерия кооператива должна была доплатить за разницу в метраже, а женщина в связи с крайней заинтересованностью в обмене обещала добавить ещё триста рублей. И тогда Ирина смогла бы в один день отдать накопившийся долг,  и дети были бы сыты, и лишний раз не надо было бы направлять их в санаторий.
    Ирина была благодарна женщинам, так как такой выход из положения был бы идеальным. Но эта квартира находилась на первом этаже, на одной лестничной клетке с квартирой её бывшего мужа, который на следующий день после переезда оказался с другой женщиной. Двери их квартир располагались напротив друг друга, между квартирами была общая стена, они объединялись вентиляцией в ванной и на кухне.
    Иринке казалось, что она никогда не сможет пойти на это, что умрёт, когда будет входить в эту парадную. Но одна из женщин сказала:
    — Миленькая, на кого же ты обращаешь внимание? Если даже, не дай Бог, с детьми случится беда, то он не заметит этого. Не услышит и пройдёт мимо.
    А другая предложила:
    — А хочешь, я предложу ему прийти к тебе сюда, чтобы он высказал свою точку зрения?
    И Ирина согласилась. Он пришёл. Не сразу, но пришёл. Заглянул в холодильник, прошёл по квартире, встал на кухне, заложив руки за спину, переминаясь с пятки на носок. Нервно улыбаясь, произнёс:
    — А я не против, чтоб вы приехали поближе. Как будто рядом, — сказал, сразу помрачнел, опустил голову и вышел.
    Ну что ж. Это был его выбор. И Ирина поняла, что сам Бог подослал этих женщин как спасение. В <time datetime="1976-12">декабре 1976 года</time> Ирина вернулась в старый дом, пусть в меньшую квартиру, но зато выплатив долги.
    Со страхом смотрела она за реакцией девочек. Лена при входе упала в обморок, а Аня, войдя в квартиру, сказала:
    — Вот и хорошо, папа рядом.
    Иринка понимала, что женщина, которая оказалась около её бывшего мужа, была очень небезопасна, изворотлива и являлась самой обыкновенной хищницей — это было видно по её беспардонному поведению. Иринка старалась не заглядывать в её злые, ненасытные глаза.
    Вскоре Ирина получила офицерскую аттестацию, надела форму, которая, конечно, ей очень шла, и бывший муж был поражён произошедшими переменами. Но повернуть назад прошлое было невозможно.
    Столько злобных взглядов и напутствий получала Иринка от этой дамы, что надо было обладать незаурядным характером, чтобы выровнять эту ситуацию и не поддаться ни на одну провокацию, к чему неоднократно прибегала дама, пытаясь использовать Ирининых девочек.
    На лето <time>1977</time> года Ирина взяла девочек с собой в Парголово, на территорию обслуживаемого ею участка, чтобы быть ближе к детям. Начальник отделения предлагал ей занять любой дом, но она поселилась с девочками в большой удобной комнате на втором этаже двухэтажного деревянного дома на улице Ленина — около станции и недалеко от работы. На этаже жила лишь пожилая женщина Екатерина, которая дежурила в филиале одного из предприятий, проходная которого находилась напротив этого дома, через просёлочную дорогу.
    Квартиру на лето сдали. Но их разыскал отец детей и попросил разрешения отправить девочек к бабушке: она очень об этом просила. Через два дня девочки согласились. Впереди было целое лето — можно было и у бабушки погостить, и в Парголово пожить. Так и сделали.
    По соседству был частный дом с большим участком, где жили замечательная хозяйка тётя Ксения, её дочь Рая и внучка <a href="/lidija_seljagina/signs-4-1.html" title="Этой девушке автор посвятила стихи">Лариса Нарбут</a>. Анюта и Лариса подружились между собой, а Лена не играла с ними (она была постарше Ларисы), а в основном читала книги.
    Ирина сроднилась с тётей Ксенией. Ещё в феврале та начинала выращивать цветочную рассаду. Это был бесконечный, кропотливый труд. А в начале зимы она, как настоящий флорист, создавала интересные композиции из гофрированной бумаги, веточек, дополняя цветами бессмертника.
    За чаем тётя Ксения рассказывала много интересных историй. Как в то лето, так и в последующие: <a href="/lidija_seljagina/ir-4-5.html" title="Рассказ «Огурчики»">одну из них</a>, случившуюся в <time>1981</time> году, Ирина очень хорошо запомнила.
  {% endfilter %}

  {% filter prose %}
    В <time>1978</time> году Ирина с девочками опять жила в Парголово по прежнему адресу. Около отделения милиции, где работала Ирина, стояла легковая машина от совхоза «Пригородный». Ночью на ней несли службу по охране урожая работники совхоза. Водитель Слава внимательно и с большим интересом относился к Ирине. Её участок территориально был очень велик, да ещё в тот момент напарница была переведена в город, и Ирине досталась территория двух участков. Время было самое горячее — создание стройотрядов. В них отправляли подростков, состоявших на учёте. Поэтому водитель предлагал ей использовать машину, чтобы не тратить огромное время на перемещение по участку пешком. А когда он узнал, что девочки здесь, то стал подъезжать к их дому, угощал чем-нибудь вкусным, катал на машине, привозил к Ирине. Слава нравился дочкам, но она не торопила события.

  <time datetime="1978-09-01">1 сентября 1978 года</time> Ирина в парадной форме выступала на праздничной школьной линейке перед ребятами Левашовской школы. Потом вернулась в Парголово, чтобы переодеться перед вечерней сменой.
    Возле дома тёти Ксении она услышала резкий скрежет тормозов. Мгновенно оглянулась. Из машины вышел Слава, лицо его было белым.
    — Что такое, что случилось?
    Он тихо сказал:
    — Выходи за меня замуж…
    Ира знала, что он единственный сын у родителей, а потому ответила шутя:
    — Ты что, твои родители сначала меня убьют, а потом с тобой разберутся. Ведь ты же знаешь, что у меня двое детей, а они не знают.
    — Ну тогда хоть в кино сходим, а?
    — Вот в кино, может, и сходим. Ведь мы оба свободные люди. Но только чтоб билеты были куплены в наш кинотеатр, в Сестрорецке.
    — Вот и хорошо, — сказал он улыбаясь, и предложил отвезти Ирину в Сестрорецк, зная, что у неё семья в Сестрорецке, а со следуюшего дня — отпуск. Ирина старалась всегда брать отпуск в сентябре.
    Она с радостью согласилась. Девочки были в восторге. Пока Слава катал их на машине, она разогрела обед.
    Через неделю Слава пришёл уже с билетами в кино, а Иринка в это время доставала из духовки отменные пирожки, и под впечатлением от этих пирожков, ароматного борща и билетов в кинотеатр Слава очень серьёзно и тихо при девочках сказал:
    — Ну выходи за меня замуж.
    — Подумаем, — ответила Иринка.
    Она понимала, что он для неё будет защитником. Её работа требовала много времени. Она неожиданно оказывалась в самых нелепых ситуациях или в позднее время застревала в других посёлках. Именно в это время из-за поворота мог появиться он, обеспокоенный её долгим отсутствием, и всегда предлагал подкинуть её к дому, где ждали Ирину её дочери. Ведь и правда было похоже, что ему очень не всё равно всё то, что касается её жизни. Такая человеческая теплота отношений делала её жизнь более защищённой.
    Вечером Ирина спросила дочерей:
    — Лена, Аня, послушайте. А что если мы поженимся и дядя Слава будет жить у нас?
    Лена, держа тетрадь в руках, взяла ручку и ответила:
    — Говори, какая фамилия, я поменяю. Анька, ты согласна?
    Анюта кивнула головой.
    — Нет, девочки, — пристраиваясь на диван, сказала Ира, — ваша фамилия — это наша первая семья. Отец у вас жив, он рядом, у него есть мама, это ваша бабушка — Анна Фёдоровна. У отца есть брат, дядя Коля, который для вас тоже делал много хорошего, и ещё по той линии сколько родственников живёт в Москве. А в Ленинграде живёт ваш дедушка Саша. И все они имеют вашу фамилию, а значит, и такую же кровь. Об этом надо помнить. Жизнь у вас ещё длинная. Бывает, люди не понимают друг друга и ссорятся на года. А потом со временем задумываются, осознают многое и становятся верными друзьями. Кто знает, может, придёт время — и ваш папа вам очень пригодится, а вы — ему. А я пока подумаю, стоит ли мне ещё раз выходить замуж.
    — Стоит, стоит, — заговорила Алёнка, — ты будешь ходить в кино, а мы — угощаться вкусненьким. Ань, скажи, а?
    Аня кивнула головой. Одобрение было достигнуто.
    Бывший муж жил в смежной квартире со своей невероятной женщиной, которая часто, как будто кому-то что-то доказывая, через общую вентиляцию то из ванны, то из кухни кричала о своей бешеной любви к нему. Чтобы не слышать всего этого, Ира выносила проигрыватель на кухню, включала его достаточно громко и ставила пластинку с песней из кинофильма «Генералы песчаных карьеров», которую он любил. «Пусть слушает, раз любит. Это ему что-то напоминает», — думала Ирина.
    Наверное, следовало дать Славе согласие на законный брак, чтобы защитить семью от нападок дамы из квартиры напротив. Ирину успокаивало то, что она не обижала этим никакого ребёнка, так как Слава не был женат и не имел детей.
    Ирина не искала ни больших звёзд, ни денег. Самым важным для неё было душевное равновесие, уважительное отношение к ней и, конечно, к её детям.
  {% endfilter %}

  {% filter prose %}
    В следующий выходной Ирина опять испекла пирожки — целых пятьдесят штук. Ей нравилось, когда девочки брали их с собой и угощали друзей в своём дворе. Пожив «с копеечки» и получая теперь, при офицерском звании, более достойную зарплату да добавляя, хоть и небольшие, алименты, она могла позволить себе жить посвободнее и угощать друзей просто так, без всяких праздников, — так же, как и те раньше угощали девчонок, зная, что тогда им было очень трудно.
    В тот день Слава опять собирался приехать за билетами в кино, ведь кинотеатр был в десяти минутах от дома. К вечеру пошёл дождь, временами переходя в ливень. Ирина подумала, что в такую погоду вряд ли захочется ехать туда и обратно из-за одного похода в кинотеатр. А позвонить возможности не было.
    Девочки уже заснули, а Ирина устроилась на кухонном диванчике почитать журнал «Юность». В два часа ночи раздался звонок в дверь. В глазок она увидела Славу, по которому скатывались струи воды: за окном шумел ливень. Ира открыла дверь и прошептала:
    — Заходи. Что произошло?
    — Машина заглохла. Я хотел снова взять билеты, как в тот раз, да застрял недалеко от вашего дома. Вот только что справился. Но если что не так, то я уйду, — и он повернулся к двери.
    — Да ты что, иди в ванную, там есть халат и большое полотенце. Бельё своё оставь, я его высушу, что-то простирну. Спать пойдёшь, можешь почаёвничать с пирожками. А я к девочкам в комнату, там у меня раскладушка всегда в боевой готовности. А утром разберёмся.
    Ирина выстирала часть вещей. Особенно поразили её его штиблеты — с узкими носами, задранными кверху, блестящие — как у клоуна Олега Попова.
    Утром девочки удивились и обрадовались, увидев дядю Славу. Он очень переживал за машину: когда прямо на проезжей части заглох мотор, гаишники оттащили машину в сторону. Анюта предложила сбегать и посмотреть, всё ли в порядке. Она вернулась и сказала, что с машины снят номер. Слава насупился, все притихли.
    — Да ладно, не горюйте, сейчас пойдём выручать номерочек. Я быстро.
    Придя в ГАИ, Ирина попросила помощи. Здесь её знали, так как раньше она работала при сестрорецком РУВД — сначала в медвытрезвителе, потом участковым инспектором.
    — Мы всё знаем, к Вам приехал человек из совхоза «Пригородный», мы помогли ему оттащить заглохшую машину на обочину. Он остался с ней разбираться. Но около двух часов ночи он исчез, видно, пошёл к Вам, — улыбчиво объяснил начальник ГАИ Марченко.
    — Ну а куда ему было податься? Он был мокрый как цуцик. Утром мои девочки сбегали посмотреть машину, а там номерочка нет. Я понимаю, у вас работа такая. Да вообще-то и правильно, а то мало ли кому в голову может прийти какая-нибудь ерунда. Ребята, а? Отдайте номерочек, пожалуйста.
    — А Вы не хотите познакомить нас с ним, а?
    — Обязательно. Подадим заявление — где-то ближе к Новому Году познакомлю как с официальным мужем. Так пойдёт?
    — Ну что ж, раз всё так серьёзно, придётся вернуть номер.
    Слава прикрутил номер, немного прокатил девочек и уехал на работу. А вечером Лена опять сказала:
    — Мама, а ты подумай. Ведь он неплохой и не пьёт. Нам вместе будет веселее.
    — Ладно, Алёнка, я подумаю.
    В <time datetime="1978-10">октябре</time> Ирину направили на курсы в школе милиции. Утром, пока девочки были в школе, заехал Слава:
    — Давай зайдём в одно место, очень тебя прошу.
    Она согласилась. Подходя к зданию администрации, он замедлил шаги и… остановился.
    — Слава, ты куда меня ведёшь? — уже догадываясь, спросила Ирина.
    — Ну пожалуйста, давай подадим заявление, а? — умоляюще произнёс он.
    — А ты хорошо подумал? А как твои родители?
    — Ну что тебе родители? Мы же не собираемся с ними жить.
    — Нет, Слава, ты неправ. Плохая примета, если родители — против.
    — Да никто не против, с чего ты взяла? Знаешь, давай подадим заявление сегодня, а там уж как получится, — ответил он, беря Ирину за руку.
    — Ну пошли, — согласилась она. В самом деле, ведь решение уже было принято — не в тот день, а гораздо раньше.
  {% endfilter %}
{% endblock %}
