{% extends template %}

{% set title = "Огурчики" %}
{% set workdate = "22.06.2003" %}
{% set pubdate = "10.03.2008" %}
{% set titleDescr = "1981 год" %}

{% block content %}
  {% filter prose %}
    Тётя Ксенья — небольшого роста, худенькая, уже немолодая, но ещё энергичная женщина с большой косой, уложенной на голове, взглянула в окно. Взгляд упал на новенькую красавицу теплицу.
    — Слава Богу, наконец-то удалось договориться с соседом. Конечно, не бесплатно, но он соорудил такую замечательную теплицу! Она и высока, и широка, и землю в ней подудобрили. А огурцы, почувствовав комфорт, так и прут.
    Тётя Ксенья взяла ведёрко под огурчики, чтобы подсобрать готовенькие да часть из них сделать свежепросольными, а остатки продать, чтоб внучке на сладкое хватило.
    Она подвязала фартук на случай, если огурчики в вёдерко не поместятся. Ещё раз взглянула в окно: не начался ли дождь?
    Чёрная грозовая туча постепенно закрывала небо. «Ещё успею», — подумала тётя Ксенья, издалека любовно взглянув на теплицу сквозь тюлевую занавеску. И замерла.
    Дверь теплицы открылась, и оттуда вышел молодой мужчина лет тридцати с полным тазом любовно выращенных ею огурчиков.
    — Господи, помилуй! Господи, помилуй! Чур меня! И тазик-то мой у окна взял, — бормотала тётя Ксенья, не веря своим глазам, опускаясь на табуретку у кухонного окна, пощипывая себя за икры ног, чтобы знать, не мерещится ли?
    Нет, не мерещится. Знать, и мужик-то взаправдашний. В её голове проносились шальные мысли: «Господи, что делать? Что делать? Да и Черныш-то, как на грех, к своей любимой суке умчался».
    А наглый молодой и сильный мужик, ухмыляясь своим мыслям, приближался к окну… Она замерла.
    — Хозяюшка! Взгляни! Хозяюшка! — вкрадчивым, даже тёплым голосом позвал её нахал.
    «Господи, если не отзовусь, ведь и в дом заберётся», — подумала тетя Ксенья и в приоткрытую форточку крикнула:
    — Что? Что тебе надо?
    — Хозяюшка, — любезно обратился бесстыжий, — купи огурчики, сам растил, а то не на что до города добраться.
    Тетя Ксенья чуть не задохнулась от такого перевоплощения.
    — Ты что, не видишь, что у меня теплица с огурцами? Почто мне твои?
    — Мать, не сердись. Пока они ещё подрастут! Купи один раз, а то не на что мне до города-то доехать.
    Тётя Ксенья понимала, что надо скорей расстаться с этим факиром.
    — Так. Вот что. Сколько тебе за это надо? Говори.
    — Тридцать. Тридцать рублей, мать. Ведь только с грядки.
    — Подожди, посмотрю, есть ли у меня столько.
    Она вытащила из кармана фартука носовой платочек, связанный узелком, развязала его на кухонном столе, посчитала, набрала нужную сумму. Оставалось ещё пять рублей. Молодой человек терпеливо ждал. Видя, что хозяйка с отсчитанными деньгами подходит к окну, сказал:
    — Ты, мать, на крыльцо бы вышла. Ведь удобнее будет.
    — Нет уж, мил человек. Тебе надо деньги? Я тебе их через форточку подам, а огурцы здесь, около окна, оставь. Сейчас зятья мои подъедут, они и внесут их в дом. А тебе советую больше в этот дом огурцов не носить. Зятья-то мои с сегодняшнего дня в отпуске, а выпимши-то они худые бывают. Иди-ка ты отсюда поскорей, а то не ровен час, встретитесь.
    — Спасибо, мать, спасибо, — ловя кулёчек с деньгами, приговаривал мужчина, — святая твоя душа, мать. Здоровья тебе. Спасибо.
    И мигом исчез с лёгкостью акробата, перепрыгнув через высокий забор. А тётя Ксенья ещё долго сидела около окна, ошеломлённая произошедшим. И вдруг она поймала себя на мысли, что она не разозлилась, а поразилась находчивости этого молодого человека.
    Началась гроза. Тётя Ксенья вышла из дома, взяла свой тазик с купленными у себя огурчиками. А они излучали такую смешинку, что, глядя на них, тётя Ксенья совсем заблудилась в своих чувствах.
    «Надо же, как попалась на старости лет, — рассуждала она сама с собой, — так поражена виртуозной наглостью, что даже разозлиться не могу… А ловко я его с зятьями-то, а?»
    Свежепросольные огурчики оказались очень удачными. Приехавшие в выходной день родственники похрустывали ими вприкуску с отварной свежей картошечкой, усыпанной измельчённым укропом, да запивали домашним кваском, нахваливая поварское искусство тёти Ксеньи.
    А она улыбалась в ответ на похвалу какой-то загадочной улыбкой, и глаза её излучали добрый, игривый свет.
  {% endfilter %}
{% endblock %}
