{% extends template %}

{% set title = "Жизнь продолжается" %}
{% set workdate = "08.11.2007" %}
{% set pubdate = "10.03.2008" %}
{% set titleDescr = "1979 год" %}

{% block content %}
  {% filter prose %}
    Ирина вышла замуж. Она присматривалась к девочкам и мужу. Вроде всё было неплохо. Когда она возвращалась домой после вечерней смены, то дома её ждал и обед, и ужин. Слава неплохо готовил и работал только в первую смену.
    Конечно, когда люди начинают жить вместе, то открывают друг в друге много неожиданного или преподносят друг другу сюрпризы. Право каждого — принять эти сюрпризы или заявить о своей несовместимости.
    Жизнь потихоньку налаживалась. Когда Ирина поняла, что она в положении, не раздумывая, решила оставить малыша, хотя такое решение затрагивало интересы службы, да и в тридцать семь лет здоровье оставляло желать лучшего.
    Врач в женской консультации отказывалась заводить специальную карточку, так как очень беспокоилась за её сердечно-сосудистую систему. Но Ирина спокойно заявила о своём решении оставить всё без изменения, обещая исполнять все предписания врача.
    Вскоре она была направлена в больницу: понизилось давление. Организм при бесконечно напряжённой жизни требовал отдыха и давал сбой. Ей просто хотелось лежать. За три недели она заметно похудела и была выписана со справкой, в которой утверждалось, что она не имела беременности, а случилось обострение какого-то хронического заболевания. Ирина не уточняла, какого, но такое заключение она считала нонсенсом.
    Врач в консультации снова заявила, что не будет заводить медицинскую карту. Ирина поблагодарила её и с имеющейся выпиской поехала в институт имени Отто, где и была поставлена на учёт под контроль специалистов. Всё встало на своё место.
    Домашние отнеслись к Ирине бережно. А на работе она торопилась закончить дела, довести всё до определённых решений, ведь судьбы всех подростков, которых она коснулась, были ей небезразличны.
    В родильное отделение быстро вошла очень симпатичная женщина и, тепло улыбаясь, обратилась к Ирине:
    — Ну что ж, мы ждём от вас джигита!
    Опасения врача района и женской консультации оказались обоснованными. Через три часа после родов у Ирины сняли капельницу, и врач, который дежурил около неё, сказал, что она их напугала. Но ей повезло. Ирина осталась жить.
    В тот день, когда муж привёз её домой, младшая дочь даже не пошла в школу. Она купила необходимое питание для кормящей мамы. Всё это ей посоветовала мама её подружки. Перед кормлением мальчика она предложила Ирине выпить чашечку чая с молоком.
    Все стали рассматривать малыша.
    В квартиру позвонили. Дверь открыла старшая дочь. На пороге стоял её отец, то есть бывший Иринин муж. Было слышно, как он спросил:
    — Ну? Кто родился?
    — Да, кажется, мальчик, — небрежно ответила дочь.
    — А как чувствует себя мама?
    — Да нормально. Нам сейчас некогда. Надо, чтобы она отдыхала.
    — Хорошо-хорошо. Я вас поздравляю. Берегите маму, — сказал он торопливо, так и не заходя в квартиру.
    В маленькой однокомнатной квартире всем нашлось место. Иринка с мужем умещались на диванчике «Юность» в кухне на четырёх с половиной метрах. У каждой девочки в комнате тоже была своя территория с диваном-кроватью и письменным столом. У малыша — тоже своя кроватка. Старинный книжный шкаф был хорошей разделительной стенкой.
    Младшая дочь относилась к малышу трогательно и нежно и ночью подскакивала первая. А старшая стала <a href="/lidija_seljagina/bio-48.html" title="Рассказ «С молоком матери»">ревниво</a> переживать всеобщее внимание к малышу. Ирина очень старалась наладить отношения с дочерью, и наконец всё встало на своё место.
    Когда малышу исполнилось полгода, Ирина каждое утро ехала в электричке до Парголово, оставляя его у свекрови. А вечером они возвращались домой. На службе была удача: она участвовала в работе суда и часто помогала выигрывать дела.
    Ирина понимала, что ей не справиться со всем сразу. Девочкам тоже нужно было её внимание, а правильнее — время, которого катастрофически не хватало. Она всё чаще стала испытывать набегавшую на неё слабость. У неё ничего не болело, но она таяла на глазах. Тогда решила уволиться, но это оказалось не так-то просто. Ирина написала шесть рапортов на имя руководства с просьбой уволить её как мать троих детей. Но с офицерской должности уйти непросто.
    Решение военно-медицинской комиссии было неожиданным: срочная операция в связи с онкологическим заболеванием. Тогда она не могла знать, что её испытания только начинаются, и, что бы с ней ни происходило, всегда считала, что ей повезло, а вот у других бывает хуже.
  {% endfilter %}
{% endblock %}
