{% extends template %}

{% set title = "Давайте помянем…" %}
{% set workdate = "28.12.2004" %}
{% set pubdate = "10.03.2008" %}
{% set titleDescr = "1983 год" %}

{% block content %}
  {% filter prose %}
    Ночью Ирина подскочила от привидевшейся трагедии. Она не могла поверить, но получалось так, что во сне она оказалась невольным свидетелем преступления. Сейчас только что она увидела Ивана в его квартире в деревянном доме.
    Он сидел за столом с одним из сотрудников РУВД. Однажды Иван уже предупреждал Ирину о нечистоплотности этого человека. Это был инспектор уголовного розыска. Ухмыляясь в свои рыжие усы, он периодически поглаживал начисто выбритую голову, проводя рукой по аристократически бледной щеке. Ирина знала в нём этот основной признак его внутреннего напряжения. «Что же задумала здесь эта рыжая лиса?» — пронеслось в её голове.
    И здесь она увидела, что Иван на мгновение по просьбе рыжего вышел из комнаты. В этот момент рыжий всыпал какой-то порошок в его бокал. Вошёл Иван, присел за стол напротив инспектора, взглянул на него как-то укоряющее, что-то сказал. Ирина не расслышала фразу, но только видела, как глаза рыжего сверкнули хищным светом. Оба подняли бокалы и не чокаясь выпили.
    Ивану сразу стало плохо. Он начал хватать ртом воздух, что-то лихорадочно искал руками на столе. Рыжий потащил его на диван и вкрадчивым голосом что-то говорил ему на ухо. Упав ничком на диван, Иван вцепился в его край и пытался перевернуться в удобное положение. А Рыжий, взяв со стола ключи от квартиры, на цыпочках вышел и закрыл дверь на ключ.
    Ирина ясно видела, как он, пригнувшись, неслышно, как лиса, спустился по деревянной лестнице со второго этажа, выскользнул из парадной и, крадучись, пробрался по посыпанной жёлтым песком дорожке за угол деревянного дома и исчез в снежной позёмке.
    Получалось так, что, находясь у себя дома и уже давно не встречая Ивана, она стала невольным свидетелем его ухода в мир иной. «Господи, неужели это правда! Ведь я так давно не видела его!» — и она вспомнила свою первую встречу с Иваном в Управлении Внутренних дел.
    Какой-то мощный электрический разряд поразил их одновременно. Он привлекал к себе своим спокойным нравом и какой-то искренней непосредственностью. А отведённую ему судьбой роль следователя исполнял честно. Через несколько месяцев Ирину перевели в другое управление, а его вместе с его другом — в управление главка. Но недавно она была в главке по делу одного несовершеннолетнего и по стечению обстоятельств встретилась с ними.
    «Господи, да за что же его так!» — она не сомневалась, что представшая перед ней во сне картина была правдой.
    В первых числах января она узнала, что, вскрыв квартиру через три дня после исчезновения Ивана, друзья сняли его с дивана с зажатыми в руках кусочками материи. Гримаса на его лице отразила те муки, которые он испытал перед смертью.
    Так не стало ещё одного порядочного человека в полном смысле этого слова. Ирина к этому времени была замужем, и у неё уже были маленький сынишка и две дочери от первого брака. Но, несмотря ни на что, после ухода Иван стал приходить к ней во сне каждую ночь. Закрывая глаза, Ирина видела его около себя. Он усаживался около неё, открывал большую книгу и, листая её, пытался что-то рассказать ей, о чём-то предупредить.
    Сама она очень похудела, и ей была назначена операция в онкологическом институте. Ей и невдомёк тогда было связать все события воедино. Послеоперационный период был осложнён. В организме всё разрушалось. А малышу шёл только третий годик. Она привыкла видеть во сне Ивана, такого спокойного, с Книгой Жизни в руках. Но, попав снова по скорой на больничную койку, вдруг поняла, что она живёт не по правилам этого Света. Ей не выгнать из сна Ивана, но надо что-то изменить.
    А сама Ирина уже готовилась к худшему и потому свою однокомнатную кооперативную квартиру сдала и получила до подхода очереди первый этаж большого деревянного дома на берегу Финского залива.
    На участке около дома — огромный яблоневый сад. Он был разделён пополам с соседом со второго этажа. Ирина заказала машину конского навоза от конно-спортивной школы и две машины земли из садово-парковой конторы. Удобрив деревья и плодово-ягодные кусты, они с мужем реанимировали все посадки.
    Днём она старалась жить для семьи, для детей, а ночью, как успокоительное лекарство, — Иван с книгой жизни, пытающийся что-то объяснить ей.
    В это лето был замечательный урожай яблок. Ирина с помощью друзей, так как физические силы покидали её, закатала много банок компота и соков, а также сварила варенье и повидло. Она зазывала в первую очередь тех, кто помог ей в её трудное время. Люди собирали яблоки прямо в рюкзак или брали уже готовые банки варенья.
    Но мысль о невольной связи с потусторонним миром не оставляла Ирину. Она стала думать о том, что, возможно, её неожиданные, возникшие на ровном месте онкологические заболевания развиваются не просто так. И надо же — мимо их дома, расположенного в стороне от городка, проходила родная сестра жены следователя, которая входила прежде в их общую компанию.
    — Аннушка! — окликнула её Ирина. — Сам Бог послал тебя ко мне, проходи!
    Они устроились за столиком под ветвями яблонь, и Иринка поведала ей свою историю:
    — Аннушка, видишь, что со мной происходит? Знаешь, что? А Ивана-то, наверное, не отпели. Это до меня только сейчас стало доходить. А у меня уже сил нет. Аннушка, миленькая, я тебе сейчас денежку дам, закажи ему службу, поставь свечечку за упокой. И ещё: пойдём ко мне в дом, я дам тебе банки повидла — тебе, Антонине, Роману, ещё можешь кому-нибудь передать. Вон я сколько заготовила! Сам Бог дал нам такой урожай, чтоб я рассчиталась с долгами. Давай договоримся: в воскресенье, когда ты в церковь пойдёшь, все мы в один день в своих семьях испечём блинов с повидлом, сварим поминальный киселёк и помянем Ивана, пожелаем ему Царства Небесного.
    — А ведь ты права, возможно, наши его и не отпевали, — ответила Аннушка. — А родственников его мы так и не видели.
    Ещё до воскресенья Иван приходил во сне к Ирине и продолжал листать эту тяжёлую, огромную книгу жизни, своим появлением расслабляя и как бы успокаивая её. А в ночь с воскресенья на понедельник она увидела его стоящим около его раскрытой могилы. Он был в чёрном костюме, при галстуке, такой же спокойный и аккуратный, и, обращаясь к Ирине, сказал:
    — Я так долго ждал тебя. Видишь, вот здесь было свободное место. Но теперь здесь уже лежит девочка. А вот это место я долго берёг для тебя. Но здесь будет вот эта женщина, — и он показал взглядом на неизвестно откуда возникшую женщину. — Я должен уйти с нею.
    Они оба повернулись и стали удаляться от Ирины.
    С той поры Иван уже никогда не приходил к ней во сне, даже если бы она и захотела этого. Жизнь её потихоньку стала налаживаться.
    Прошло почти десять лет. Ирина ехала в электричке в сторону города. Вдруг напротив неё сел мужчина. Взглянув на него, она даже вскрикнула и, наверно, изменилась в лице.
    — Что с вами? — участливо спросил он. — Я на кого-то похож?
    — Да, — еле ответила она. — Вы извините, я обозналась.
    — Да ничего. Это сейчас бывает. Кстати, вы не первая узнали во мне ранее очень близкого человека.
    — Нет, сейчас он был бы старше.
    «Господи! — подумала Ирина. — Неужели клонирование началось?»
  {% endfilter %}
{% endblock %}
