{% extends template %}

{% set title = "Не зови меня, мама" %}
{% set workdate = "02.01.2005" %}
{% set pubdate = "10.03.2008" %}
{% set titleDescr = "1982 год" %}

{% block content %}
  {% filter prose %}
    Сегодня в тёплый, но уже тёмный августовский вечер Ирина укладывала спать своего младшего сынишку. Лёжа около него на диване, она рассказывала ему сказку о Маше и Медведе да и не заметила, как уснула сама. Проснулась от лёгкого озноба, от ощущения какого-то внутреннего дискомфорта. Закутавшись в длинный тёплый халат, она вышла на кухню. Часы показывали один час двадцать минут ночи. Ирина обошла все комнаты. Оказалось, что кровать одной из дочерей пуста.
    — Где же она?
    Ирина понимала, что ей уже семнадцать лет, она работает. Но сегодня так неспокойно в мире. «С кем она сейчас? Почему мне так неуютно? — подумала Ирина. Она прикрыла глаза и хотела представить лицо дочери. Но была поражена тем, что не может это сделать. — Как же это? Ведь я её вижу каждый день, она всегда рядом. Что это со мной?»
    И вдруг вспомнила диалог двух женщин, случайно подслушанный в электричке. Пожилая женщина объясняла молодой, что если твой ребёнок уйдёт в компанию, где будут употреблять алкоголь или ещё хуже, то ты в этот момент не сможешь даже представить его лица.
    «Как же это? Неужели здесь то же самое?»
    Она ещё раз прикрыла глаза, образ дочери предстал перед ней. Тогда она взяла её фотографию и спокойно стала смотреть в её глаза. Ирина наблюдала, как они как бы наполнялись энергией, взгляд вздрогнул. Теперь, сидя за столом на кухне, она прикрыла глаза и увидела группу молодых людей; среди них была и её дочь.
    «Неуютное место и приятная подруга», — раздумывала Ирина.
    Ей показалось, что она должна вызволить её оттуда, ведь на дворе уже ночь. Она вышла на улицу, села на крылечко веранды и уже спокойно представила лицо дочери. Она стала звать её по имени, приговаривая: «Иди домой! Иди домой!»
    Она почувствовала, что дочь услышала её.
    «Господи, а ведь такая темень. Что я наделала! Ведь идти, особенно через парк, так небезопасно. Господи, помоги ей преодолеть это препятствие. Защити её, приведи домой».
    Через полчаса или минут через сорок растерянная дочь подходила к дому.
    — Ну ты, мам, как шпион или разведчик. Прямо на ухо шептала, чтобы я шла домой. Что-нибудь случилось?
    — Да нет, я испугалась за тебя. Да ведь ночь уже. А потом я испугалась, как ты через парк помчишься. Не обижайся на меня, утро вечера мудренее.
    — Мама. Не делай больше этого, не зови меня. Я сама решу, как мне быть.
    — Хорошо, договорились. Больше не буду, — ответила Ирина.
    И она больше никогда не внедрялась в жизнь дочери, хотя иногда очень хотелось этого. Она догадывалась, что этим она нарушает естественное течение законов природы.
    Однажды по воле судьбы при странном стечении обстоятельств Ирина встретилась с парапсихологом Лазаревым. И, используя необычность случая, задала ему вопрос: права ли была она в тот момент по отношению к дочери?
    И он ответил отрицательно. Объяснив это тем, что подросткам и молодым людям Бог ставит на их пути испытания. И если эти испытания молодой человек преодолевает сам с первого раза, то больше не встретит на своём пути искушения и пойдёт по судьбе дальше.
    А если ему будут помогать родители, то на пути у молодого человека препятствий будет встречаться больше и больше, и преодолеть эту череду преград будет с каждым разом сложней.
    Но это, конечно, не значит, что молодой человек не должен выслушать советы родителей. Он должен их выслушать, а решение принимать сам.
  {% endfilter %}
{% endblock %}
