{% extends template %}

{% set title = "Единственный у родителей" %}
{% set workdate = "01.08.2005" %}
{% set pubdate = "10.03.2008" %}
{% set titleDescr = "1978 год" %}

{% block content %}
  {% filter prose %}
    Заполняя в загсе брачное заявление, Ирина обнаружила, что её будущий муж младше её на десять лет. Она отложила ручку и выскользнула из загса. Он бросился за ней.
    — Ты что! Ты куда! Ну ведь ты же знаешь, что это не имеет никакого значения для нас, — дотронувшись до её руки уже на улице, тихо произнёс он.
    — Сегодня, может, и так. А завтра? Через эти самые десять лет? Ты подумал? Зачем же ты хитрил? А мои девочки? Да ведь и ты — единственный у родителей. Ты о них подумал? — с жаром, но тихо парировала Иринка.
    — Ну пожалуйста, перестань! Во-первых, жить мы будем отдельно от родителей. Я уверен в себе и не изменю своего решения ни через десять, ни через двадцать лет. Я тебя очень прошу: вернёмся в загс и до конца заполним заявления. Ну пожалуйста, — тихо говорил он, заглядывая ей в глаза.
    Ирина сдалась, так как могла вступить с кем-либо в отношения только через официальный брак.
    — Хорошо, но давай договоримся: как только ты поймёшь, что твоё решение ошибочно, то в любое время можешь, ничего не объясняя, встать и уйти. Я пойму и не стану удерживать, потому что в таких отношениях я признаю только честность.
    — Да перестань, всё будет хорошо. Давай вернёмся, а то убежали, как дети.
    Им назначили дату регистрации.
  {% endfilter %}

  {% filter prose %}
    <time datetime="1978-11-06">6 ноября 1978 года</time> Ирина с девочками напекла пирожков, а на следующий день приехал Слава. Ирина убедила его навестить своих будущих свёкра и свекровь. Нина Ивановна встретила свою будущую невестку очень по-доброму. Но Ирина обратила внимание, что как только она пыталась обратиться к ней, растерянный жених, словно боясь чего-то, сразу посылал мать на кухню за какой-нибудь ненужной мелочью. Ирина поняла, что его мать ничего не знает о её дочерях. «Ладно, — решила она. — Сказать всё равно надо. Поэтому приеду к ней отдельно, когда никого не будет дома».
    Провожая Ирину домой (они шли вдоль озера Разлив), Слава тихо спросил:
    — А, может, я сегодня у вас ночую? Так не хочется ехать обратно.
    — Да и то правда, надо же когда-то начинать. Считай, что решили.
    Дома Слава устроился на кухонном диванчике с книгой. Вдруг Анюта сказала:
    — А он горячий.
    Ирина подошла к нему и поняла, что у него огромная температура.
    — Ну надо же, что же ты молчал?
    — Извини, так получилось, — смущённо ответил он.
    — Да ладно, срочно меряем температуру и вызываем скорую.
    Температура оказалась тридцать девять с половиной. Врач определил пневмонию.
    — Дней десять на улицу нельзя. Участкового мы вызовем. Поправляйтесь, — сказал он.
    — Спасибо Вам, — ответила Ира, подавая ему пакет с пирожками.
    — На всю бригаду хватит, — пошутил врач.
    Из кухни выскочила Анюта испуганно произнесла:
    — А дядя Слава ничего не видит.
    — Господи, да что же это!
    — Ничего, ничего, это у меня бывает, только в больницу не отправляйте.
    Десять дней к Славе приходили врачи, а потом он был направлен в поликлинику по месту нахождения. В дальнейшем он уже должен был обращаться только по месту прописки.
    От его дома до поликлиники никакой транспорт не ходил, и болезнь обострилась. Вот после этого они и решили: если жить вместе, то не только расписаться, но и прописать его надо, чтобы всё было в одном месте.
  {% endfilter %}

  {% filter prose %}
    Через некоторое время Ирина вновь поехала к матери жениха. Нина Ивановна встретила Ирину радушно, быстро собрала на стол.
    — Нина Ивановна, миленькая! Ведь я к вам зашла не просто так, а предупредить вас хочу, чтоб вы потом не обижались на меня.
    — Да Бог с тобой, — отмахнулась Нина Ивановна. — Что уж там. Что бы ни было, он сам выбрал тебя. Вон до скольки лет не решался. И что может измениться теперь? Да ничего. Вот только предательства он не терпит.
    — Предательства не терплю и я. Вот поэтому я и рассталась с первым мужем.
    — Ну и ладно. А мне-то что? Самое главное, что ты ему нужна, — приговаривала Нина Ивановна, разглаживая рукой и так ровно лежащую на столе скатерть. — Да ты поешь, поешь. Поди, с дороги-то проголодалась? Ведь с раннего утра из дома.
    — Ниночка Ивановна, миленькая, да ведь у меня дети есть, — решительно отложив вилку в сторону, произнесла Иринка, — и вы об этом должны знать.
    Нина Ивановна замерла. Лицо её покрылось пятнами.
    — Ну что ж, дети так дети, — тихо ответила женщина.
    — Да Ниночка Ивановна, не переживайте вы так. Ведь это я так молодо выгляжу, а на самом деле я старше его на десять лет. И детей у меня не пятеро, а только двое. И уже не в младшие классы ходят. Да и жить-то он будет у нас. Никто из ваших соседей и знать-то не будет об этом, если вы сами не проговоритесь.
    Нина Ивановна с изумлением смотрела на свою будущую невестку.
    — Это правда? — тихо спросила она.
    — Да, Ниночка Ивановна, это правда. Я и сама не знала, что ваш сын настолько младше меня. Внешне всё казалось наоборот. Я узнала об этом только в загсе. Но он убедил меня. Я приехала сегодня для того, чтобы не только сказать вам о том, как есть на самом деле, но и объяснить вам, что признаю за вами право матери. До дня свадьбы ещё два с лишним месяца. А я вам обещаю: если он передумает, то вы не увидите меня под вашими окнами. Я всё пойму. А он подкупил меня тем, что первым делом окружил вниманием моих дочерей: угощал их вкуснятиной, катал на машине, расспрашивал их о школьных делах. А я всегда на работе. Вот так вот.
    Вдруг Нина Ивановна тихо спросила:
    — Ирина, я боюсь за своего мужа. А что, если я ему сначала скажу, что у тебя одна девочка? Ты не обидишься?
    — Ну давайте, — понимающе покачала головой Ирина. — Говорите, как вам удобнее, — она вышла из-за стола. — Ниночка Ивановна, моё время закончилось. Скоро электричка. Не обижайтесь на меня, если это возможно.
    — Да что ты! Какое здесь обижаться! Наоборот, спасибо тебе, что всё объяснила и предупредила. А он у меня упрямый. Значит, всё так и будет, как задумал. Спасибо тебе. Удачи.
    «Ну вот, этот вопрос уладила», — подумала Ирина, выходя из подъезда. Пройдя немного, она оглянулась. Откинув тюль, почти прислонившись к стеклу, Нина Ивановна вглядывалась вслед уходящей Ирине. Поймав Иринин взгляд, она помахала ей рукой, как будто знала её давным-давно. Ирина ответила ей тем же.
    Через несколько дней Ирина зашла в большой комиссионный магазин, который находился совсем близко от районного управления, где она служила. Здесь Ирина была своим человеком, так как часто заходила сюда, чтобы подобрать для своих девочек удобную и недорогую одежду. Но сегодня Ирина остановилась около отдела свадебных нарядов.
    — Здравствуйте, Ирина! У вас событие? Я угадала? — весело задавала вопросы продавец.
    — Здравствуйте. Вы правы, — улыбаясь, ответила Ирина. — Но у меня не очень простая ситуация.
    — Рассказывайте. Чем сможем, тем обязательно поможем.
    — Понимаете, что со своими девочками я живу очень скромно, а мой будущий муж на десять лет младше меня. А ведь хочется, чтобы платье было и удачно скроенным, и не очень дорогим, — вполголоса пояснила Ирина.
    — Да что вы, обязательно подберём. И прямо сейчас. Идите за ширмочку, будем мерить.
    В этот вечер Ирина перемерила двадцать платьев. Выбрали замечательного покроя, нежно-розового цвета, из кримплена и совсем не дорогое.
    В подготовке к свадьбе приняли участие близкие Иринины друзья. Как всегда, всё в последнюю минуту, и молодые вместе со свидетелями уже почти бегом примчались в загс.
    Началось торжество. Заведующая загсом Галина Аббатовна, очень симпатичная и обаятельная женщина, начала своё обращение к молодым. Но вдруг прервала сама себя и удивлённо спросила:
    — В чём дело? Почему нет фотографа? Почему не заказывали?
    — Забыла… — почти шёпотом ответила Ирина.
    Галина Аббатовна широко улыбнулась. Лицо её стало ещё более привлекательным. Что-то шепнула рядом стоящей девушке-сотруднице и весело и громко объявила:
    — Повторить процедуру!
    Из открывшейся двери появился фотограф. В ту пору фотографии были чёрно-белыми. Снимки оказались замечательными. А кримпленовое бледно-розовое платье, ладно облегающее стройную Иринину фигуру, на фотографии получилось ослепительно белым.
  {% endfilter %}
{% endblock %}
