{% extends template %}

{% set title = "Внучке" %}
{% set workdate = "28.05.2019" %}
{% set pubdate = "05.11.2019" %}

{% block content %}
  {% filter poem %}
    С Днём Рождения, дружок!
    Радости и счастья!
    Даже если за окном
    Всё ещё ненастье.

    Распогодится денёк,
    Разбегутся тучи,
    И начнется на Земле
    Снова день кипучий.

    Есть проблемы у тебя?
    У кого их нету?
    Интуицию свою
    Призови к ответу.

    Ты прислушайся, дружок,
    К своему сердечку.
    Справедливость победит
    И не даст осечку.

    Здравствуй, здравствуй, новый день!
    С Днём Рожденья, Оля!
    Пусть в душе шумит весна,
    Не встречая горя!
  {% endfilter %}
{% endblock %}
