{% extends template %}

{% set title = "«Я вскормленная молоком из сои…»" %}
{% set workdate = "14.04.2020" %}
{% set pubdate = "17.04.2020" %}
{% set next = "lidija_seljagina/ir-1-0" %}

{% block content %}
  {% filter poem %}
    Коронавирус захватил весь мир.
    Серьезный вирус Землю всю накрыл.
    Как хочется поверить, что опять
    Мир устоит! Всех жизней не отнять!
    И как бы ни страшна болезнь была,
    Создаст вакцину, чтоб Земля жила!
  {% endfilter %}
{% endblock %}
