{% extends template %}

{% set title = "«Если некого вспомнить Вам в вашей семье…»" %}
{% set workdate = "21.04.2019" %}
{% set pubdate = "05.11.2019" %}

{% block preface %}
  {% filter ins %}
    {% filter prose %}
      Совсем недавно я услышала, как две молодые женщины рассуждали над тем, стоит ли вспоминать жуткие картины Войны, Сражений, Блокады, Погибших в Концлагерях и так далее… А может быть, все эти майские дни превратить в весенние, беззаботные майские праздники без тяжких воспоминаний о тех, кто отдал свои, порой очень юные, жизни за то, чтобы мы остались жить в свободной мирной стране?
      И мне захотелось ответить: «А не кажется ли вам, что именно этого ждут от нас? Именно тогда будет легко стереть и извратить нашу историю. А тот, кто потерял своё прошлое, тот неустойчив на Земле».
      Это мое мнение, а потому…
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter poem %}
    Если некого вспомнить Вам в вашей семье,
    Тех, кто жизнь положил за Свободу,
    Значит, Вы не хотели узнать о Беде,
    Где погибло так много народу.

    Где оставшимся жить пришлось много принять:
    И разруху, и голод, и боли.
    Но никто не посмел даже в мыслях роптать
    О своей утверждающей роли.

    Нет семьи без беды в этой честной борьбе.
    Научиться той верности надо.
    И, как знамя неся эту память потерь,
    Быть готовым к защите от ада.
  {% endfilter %}
{% endblock %}
