{% extends template %}

{% set title = "«Не успеваю с переводом…»" %}
{% set workdate = "17.02.2019" %}
{% set pubdate = "05.11.2019" %}

{% block content %}
  {% filter poem %}
    Не успеваю с переводом.
    Кэшбэк и трэк, окей, бути{{ acute }}к…
    А что же там. за поворотом?
    И что ждёт русский наш язык?

    А почему <i>не прекратить
    желание</i> его убить?!
  {% endfilter %}
{% endblock %}
