{% extends template %}

{% set title = "«И мы, как березы…»" %}
{% set workdate = "04.09.2020" %}
{% set pubdate = "05.11.2020" %}

{% block content %}
  {% filter poem %}
    …И мы, как берёзы,
    Уйдём с-под откоса.
    И наша настанет пора.
    Пусть будет как будет.
    Нас кто-то проводит.
    И кто-то взгрустнёт иногда.
  {% endfilter %}
{% endblock %}
