{% extends template %}

{% set title = "Раздумья" %}
{% set workdate = "30.01.2020" %}
{% set pubdate = "22.03.2020" %}
{% set next = "lidija_seljagina/ir-1-0" %}

{% block content %}
  {% filter poem %}
    Я вско{{ acute }}рмленная молоком из со{{ acute }}и
    И хлебушек сквозь марлечку сосала.
    Потом рахит, алтайские дороги…
    Деревня Ляпино меня спасала.

    В Тверской (Калининской) волшебницы-старушки,
    Хоть в маленькой, но доброй деревушке
    Меня узнав, на лавочке сидящей,
    Смогли девчонкой сделать настоящей.

    И уж в пять лет, наверно, в благодарность,
    Плясала под гармошку и при том
    Частушки распевала, эка малость,
    А помнила всю жизнь свою потом.

    Дед Фёдор научил частушкам этим
    И на гармошке мне подыгрывал любя.
    Деревня веселилась в пляске летом
    И внучкой дедовой тогда и назвала.

    Деревни нас спасали от блокады
    И от войны, что шла за нами рядом.
    Уж так близка тропинка в белом свете,
    Чтоб встретиться нам с дедом на Планете.
  {% endfilter %}
{% endblock %}
