{% extends template %}

{% set title = "«Планета вздрогнула опять…»" %}
{% set workdate = "04.08.2020" %}
{% set pubdate = "05.11.2020" %}

{% block content %}
  {% filter poem %}
    Планета вздрогнула опять.
    И этот ужас не унять.
    Взлетел на воздух целый град!
    Без подготовки и преград!

    И без войны война порой
    Нас обходит стороной.
    Как важно бдительными быть,
    Чтоб города не загубить.

    Не ссорьтесь, люди, на Планете!
    Живите дружно в целом свете!
    Чтоб не ломали судьбы люди,
    Чтоб не случилось, как в Бейруте!
  {% endfilter %}
{% endblock %}
