{% extends template %}

{% set title = "«Чем дольше путь земной…»" %}
{% set workdate = "18.11.2017" %}
{% set pubdate = "16.12.2017" %}

{% block content %}
  {% filter poem %}
    Чем дольше путь земной,
    Тем ближе мы к началу.
    Воспоминаний нить
    Нас возвратит в весну,
    Где просто и светло
    Мы жили без печали
    И, познавая мир,
    Влюблялись в новизну.

    Весна души моей
    Весь путь со мной шагала
    И преданна была
    В любую круговерть.
    И в самый трудный час
    Вновь память оживала…
    И не дала поверить
    Уже почти что в смерть.

    А кто меня спросил,
    Что я хочу сегодня?..
    Опять шумит весна,
    Вновь новизной маня.
    Учитесь дорожить
    Душою человечьей —
    И станет ваша жизнь
    Шумом весны полна.
  {% endfilter %}
{% endblock %}
