{% extends template %}

{% set title = "«На пороге год быка…»" %}
{% set workdate = "01.12.2020" %}
{% set pubdate = "10.12.2020" %}
{% set next = "lidija_seljagina/ir-1-0" %}

{% block content %}
  {% filter poem %}
    На пороге год быка.
    Береги свои бока!
    Эй, «корона», не забудь!
    Уходи в обратный путь!

    Бык упрямый не отстанет!
    И к тебе он так пристанет!
    Будет просто не узнать,
    Где и как тебя назвать.

    Всё изменится в тебе.
    Не узнать тебя нигде!
    Помоги нам, милый бык!
    Хоть к такому не привык!!!
  {% endfilter %}
{% endblock %}
