{% extends template %}

{% set title = "«Что случилось? Не пойму…»" %}
{% set workdate = "29.05.2019" %}
{% set pubdate = "05.11.2019" %}

{% block content %}
  {% filter poem %}
    Что случилось? Не пойму.
    Вновь стоп-кран включился.
    И, хоть ночи два часа,
    Сон не получился.

    Вновь бессонница пришла.
    Маета и только.
    И зачем меня нашла?
    Для какого толка?

    Даже кот, смотрю, опять
    Громко когти точит.
    Об мою, пардон, кровать
    В третьем часу ночи.

    Так и встретили рассвет
    С Котофеем вместе.
    Пробуждения привет —
    От пернатых вести.

    Сквозь открытое окно
    Слышим трели пташек.
    Как волшебное кино…
    Просто до мурашек.

    Может, это всё не зря.
    Вот и стих родился.
    И кому-нибудь из вас,
    Может, пригодился.
  {% endfilter %}
{% endblock %}
