{% extends template %}

{% set title = "«Забайкалье горит каждый год…»" %}
{% set workdate = "24.04.2019" %}
{% set pubdate = "05.11.2019" %}

{% block content %}
  {% filter poem %}
    Забайкалье горит каждый год.
    Бесконечны степные пожары.
    Вновь сгорели дома и скот.
    Хоть садись и пиши мемуары.

    Кто виновен в том, как мы живём?
    Почему не поставить заслоны?
    Чтобы степь не горела кругом,
    На заслон положить миллионы.
  {% endfilter %}
{% endblock %}
