{% extends template %}

{% set title = "«Вот и Белые Ночи уходят…»" %}
{% set workdate = "28.07.2019" %}
{% set pubdate = "05.11.2019" %}

{% block content %}
  {% filter poem %}
    Вот и Белые Ночи уходят.
    Но красив ещё ранний рассвет.
    И душевные трели выводит
    В пробужденье пернатых привет.

    И роса перламутром искрится
    На травинках, листочках и мхах.
    И такой чистый воздух струится
    Наяву, а как будто в мечтах.
  {% endfilter %}
{% endblock %}
