{% extends template %}

{% set title = "От имени рёбенка начальных классов" %}
{% set workdate = "18.01.2019" %}
{% set pubdate = "05.11.2019" %}

{% block content %}
  {% filter poem %}
    Бабушки, прабабушки рассказывали нам,
    Как был город окружён врагом.
    И как с неба во{{ acute }}роги бомбили Ленинград,
    И как люди погибали в нём.

    Страшно было маленьким, и большим, и стареньким.
    Но народный фронт тогда помог.
    Выжили спасённые, блокадой окружённые,
    И сорвали с голода замок.

    А врага нечестного, злого и не местного,
    Проводила Армия домой.
    Пусть у себя вращается, а к нам не возвращается.
    И живёт свободно город мой!

    Блокада Ленинградская, мучительная, адская,
    В историю России внесена.
    Но город Петербургом стал, народ его вот так назвал.
    И знаем мы блокады времена.
  {% endfilter %}
{% endblock %}
