{% extends template %}

{% set title = "Памяти Юрия Гагарина" %}
{% set workdate = "12.04.2019" %}
{% set pubdate = "05.11.2019" %}

{% block content %}
  {% filter poem %}
    Давайте вспомним день
    И небо голубое.
    Апрель, число двенадцать,
    Гагарин в небесах…
    И страшно за него.
    И гордость, словно море,
    Волной безмерной вторя,
    Раскачивала нас.

    На улицах народ,
    Ликуя, торжествует.
    — Вернулся!!! Побывал!!!
    Живой!!! Ура!!! Ура!!!
    И это всё у нас,
    Среди обычных буден.
    У нас, в родном Союзе,
    Гагарин — космонавт!

    В ту пору было мне
    Всего лишь только двадцать…
    И громкоговорители
    Шумели до зари.
    На улицах то пели,
    То в танцах закружатся,
    И было море радости
    У всей большой страны.

    И в том двадцатом веке
    Шёл год шестьдесят первый.
    И в нашем Ленинграде
    Уже цвела весна.
    Так помню время то.
    И юность ту, и радость,
    Что заставляла нас
    Смотреть на небеса.
  {% endfilter %}
{% endblock %}
