{% extends template %}

{% set title = "«Мне уже не надо ждать звонков…»" %}
{% set workdate = "14.04.2019" %}
{% set pubdate = "05.11.2019" %}

{% block content %}
  {% filter poem %}
    Мне уже не надо ждать звонков.
    Заняты своей заботой люди.
    И звучит уже моя прелюдия.
    Есть ещё минута для стихов.
  {% endfilter %}
{% endblock %}
