{% extends template %}

{% set title = "«Оставшись один на один…»" %}
{% set pubdate = "05.11.2019" %}

{% block content %}
  {% filter poem %}
    Оставшись один на один
    В каморке два на четыре,
    Я стала, как тот Насреддин,
    Многое видеть шире.

    Всё так же хочется жить.
    Всё так же все ждут весну.
    Но жажду общения испить,
    Пока ещё жив, наяву,

    Желается больше всего
    Зал видеть с <i>обратной</i> связью.
    И чтобы на сцене никто
    Не смешивал искренность с грязью.

    Я бы открыла центр:
    Сегодня читает Петров,
    Завтра читает Камчатый,
    А в среду будет Седов…

    Темы? Пожалуйста, темы.
    Можно и их предложить…
    И заработает тенор,
    И бас заговорит…

    И в зале том будет шумно…
    Бесплатно шумит народ.
    Читают, спорят культурно.
    И песня в душе живёт.

    Кто-то станет желанней.
    Кого-то сложней понять.
    Но интереса к пишушщим,
    Видимо, не унять.

    Пока интерес живёт,
    Слушайте, возражайте.
    И сами себе решайте
    <i>Какое завтра грядёт.</i>
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2011">2011</time>
{% endblock %}
