{% extends template %}

{% set title = "«Разгулялся ветер, зашумел ветвями…»" %}
{% set workdate = "16.09.2012" %}
{% set pubdate = "16.12.2017" %}

{% block content %}
  {% filter poem %}
    Разгулялся ветер, зашумел ветвями.
    На пороге осень — новая пора.
    Разноцветьем вспыхнет, одарив плодами,
    Результаты жизни нашего труда.

    Содрогнётся сердце…
    «Здравствуй, бабье лето».
    Ах какие краски, на душе тепло.
    Вспыхнет и угаснет разноцветье это.
    И укроет Землю Зимушки крыло.

    А снежок-дружище сохранит Землицу,
    Сбережёт для будущей молодой весны
    И откроет в жизни новую страницу —
    Новую страницу световой волны.
  {% endfilter %}
{% endblock %}
