{% extends template %}

{% set title = "Памяти 50-х годов прошлого столетия" %}
{% set workdate = "02.12.2018" %}
{% set pubdate = "05.11.2019" %}

{% block content %}
  {% filter poem %}
    Всё запушило, запорошило, застыло.
    Колючий ветер души обжигал.
    А Солнце — рыжий шар — на всё светило
    И наслаждалось отблеском зеркал.

    Настала ночь. Всё до утра уснуло.
    В домах, кроватках уместились сны.
    На улице один мороз тоскует.
    Стучится треском в тёплые углы.

    С Морозцем вместе на ступеньках <abbr class="art__abbr" title="Жилищно-арендное кооперативное товарищество">ЖАКТа</abbr>
    Ночная глыба дышит и молчит.
    Она не пишет на Морозец акта.
    Она ногою об ногу стучит.

    То — дворник дома, наша тётя Аня,
    В тулупе, в валенках и со свистком.
    Сидит, вся преисполнена вниманьем,
    Дежурная заступница в ночном.

    Вдруг женский крик прорезал ночь слепую.
    К ней кто-то, тяжело дыша, бежит.
    Забыв усталость, голову больную,
    Она навстречу голосу спешит.

    Свисток взорвал вдруг тишину ночную,
    Вспугнув злодея, обратив в побег…
    Мороз смягчился… рук своих не чуя,
    Уж тётя Аня убирает снег.

    А снег летит, дорог не разбирая.
    Опять забота, ночь ещё длинна.
    Она в сугробы снег тот собирает.
    А дома — неотложные дела…

    И снова окна засветились светом,
    Трамвай прошёл, по рельсам простучав.
    И дворника сменить перед рассветом
    Спешит Прасковья, на детей ворча.

    И новый день… А дома ждут заботы:
    Обед, покупки, внучка, рынок, дочь…
    На целый день достаточно работы.
    А завтра тёте Ане снова в ночь.

    И каждый раз, когда однажды ночью
    Вдруг выпадает этот белый снег,
    Я вспоминаю тётушку Прасковью,
    И тётю Аню, и снежинок бег…
  {% endfilter %}

  {% filter ins %}
    {% filter prose %}
      В то время жилищные конторы назывались ЖАКТами. А ночному сторожу — дворнику — выдавались тулуп, валенки и свисток. Дежурство проходило действительно на ступеньках ЖАКТА.
    {% endfilter %}
  {% endfilter %}
{% endblock %}
