{% extends template %}

{% set title = "«Плечики с-под снега расправляя…»" %}
{% set pubdate = "16.12.2017" %}

{% block content %}
  {% filter poem %}
    Плечики с-под снега расправляя,
    Выглянули кустики черники.
    И одновременно, украшая
    Ореолом бархатным, — брусники.

    Бугорками встали на поляне,
    Протянув младые ветки к небу,
    Словно восклицая нам: «Земляне!
    Мы вернулись к вам, неся победу!»

    Ну и что ж, что год наш високосный!
    Любим мы весной рассветы росны.
  {% endfilter %}
{% endblock %}
