{% extends template %}

{% set title = "О беде в Кемерово" %}
{% set workdate = "28.03.2018" %}
{% set pubdate = "17.04.2018" %}

{% block preface %}
  {% filter ins %}
    {% filter short %}
      О самой страшной беде в «Зимней вишне».
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter poem %}
    Паралич души моей свершился:
    Вмиг окаменела от событий.
    Ведь руками взрослых завершился…
    Разгильдяйства собранные нити.

    И бесцветны сказанные речи.
    Заживо горели и не знали,
    Что в том зале радостные встречи
    Жуткую кончину предвещали.

    Содрогнись, Россия, от хаоса.
    Образумь людей, Господь Всесильный!!
    Утвердить Закон, где разгильдяйство
    Значится предательством России!!!
  {% endfilter %}
{% endblock %}
