{% extends template %}

{% set title = "«Сегодня — День эколога Планеты…»" %}
{% set workdate = "02.07.2017" %}
{% set pubdate = "16.12.2017" %}

{% block content %}
  {% filter poem %}
    Сегодня — День эколога Планеты,
    И Солнце улыбнулось нам не зря,
    Ведь мы Природе дарим комплименты,
    Особенно вот в этот День, друзья!
  {% endfilter %}
{% endblock %}
