{% extends template %}

{% set title = "Хвостом махнула нам комета" %}
{% set workdate = "10.08.2013" %}
{% set pubdate = "16.12.2017" %}

{% block content %}
  {% filter poem %}
    О настоящий звездопад!
    Персиды в августе летят
    И, свет нам дымчатый даря,
    Гипнотизируют, маня,

    Волнуя, будущим грозя.
    У каждого своя стезя.
    О звездопад! И всё равно
    Ты даришь радость и тепло.
  {% endfilter %}
{% endblock %}
