{% extends template %}

{% set title = "«Прозревайте, люди, прозревайте…»" %}
{% set workdate = "21.07.2017" %}
{% set pubdate = "16.12.2017" %}

{% block content %}
  {% filter poem %}
    Прозревайте, люди, прозревайте.
    Нашу Волгу-Матушку спасайте!
    Да не дайте ей погибнуть, братцы,
    Без воды нам некуда деваться.

    Тиной зарастает в ней водица.
    Рыба уж в воде не серебрится.
    Гибнет, гибнет красота земная.
    Погибает всё богатство края…

    Если здесь закона не принять,
    Люди будут массой вымирать…
  {% endfilter %}
{% endblock %}
