{% extends template %}

{% set title = "Хирургам НИИ им. Петрова" %}
{% set pubdate = "05.11.2019" %}

{% block content %}
  {% filter poem %}
    Наши лекари русской земли,
    К вам идём с преклонённой главою.
    Ведь от вас так зависимы мы,
    И глаза наши полны мольбою,

    Словно срок, отведённый нам здесь,
    Вы продлите волшебным советом.
    И Надежда, хоть мнимая, есть.
    И душа благодарна вам в этом.

    Ваша сущность полна волшебства.
    И, магически нами владея,
    Вы откроете суть естества.
    Или, холод вдохнув, леденея,

    Начинает душа замирать.
    Вот тогда и пора умирать…
    Но не хочется в тень превратиться.
    Очень хочется здесь заземлиться.

    Только жаль вас, кудесники наши.
    Оставляя все боли у вас,
    Заражая вас бренностью нашей,
    Беззащитными делаем вас.

    Потому, преклоняя колено,
    Я прощенья за всех попрошу.
    И, чтоб было вам чуточку легче,
    Свою боль я с собой уношу.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1992">1992</time>
{% endblock %}
