{% extends template %}

{% set title = "«Бывает, что накроют нас печали…»" %}
{% set workdate = "18.04.2018" %}
{% set pubdate = "18.04.2018" %}

{% block content %}
  {% filter poem %}
    Бывает, что накроют нас печали.
    У каждого в душе своя беда.
    Как сделать так, чтоб беды не мешали,
    А помогли найти свои дела?

    Всё в жизни относительно, родные.
    Забрезжит ранним утром Солнца луч —
    И мы увидим: всё же мы — живые,
    И Солнышко выходит из-за туч.

    А значит, что не всё ещё пропало.
    И мы рискнём, чтоб выйти из опалы.
  {% endfilter %}
{% endblock %}
