{% extends template %}

{% set title = "«Над Землёю шумит листобой…»" %}
{% set workdate = "22.10.2011" %}
{% set pubdate = "16.12.2017" %}

{% block content %}
  {% filter poem %}
    Над Землёю шумит листобой,
    Словно в гневе срывает одежды.
    И кружат, и кружат надо мной
    Эти всполохи вечной надежды.

    Укрывая Землицу свою,
    Как хирург, ветер рвёт с дерев листья.
    Верит он, что нельзя быть в плену
    У печали и горестных мыслей.

    Улыбнитесь же памяти встреч,
    Что теплом согревали вам душу.
    И тепло это надо сберечь,
    Чтоб законы Земли не нарушить.

    После бурь, и преград, и побед
    Зашумит снова ветер весенний.
    В тишине встанет ранний рассвет.
    Вновь услышим дыханье Вселенной.
  {% endfilter %}
{% endblock %}
