{% extends template %}

{% set title = "«День мира и небесной тишины…»" %}
{% set workdate = "01.05.2018" %}
{% set pubdate = "01.05.2018" %}

{% block content %}
  {% filter poem %}
    День мира и небесной тишины.
    И День надежд, что просто тешат душу.
    Врата открыты, и дурман Весны
    Вновь тишину Планеты не нарушит…
  {% endfilter %}
{% endblock %}
