{% extends template %}

{% set title = "«Наконец-то в мае солнышки проснулись…»" %}
{% set workdate = "22.05.2019" %}
{% set pubdate = "05.11.2019" %}

{% block content %}
  {% filter poem %}
    Наконец-то в мае солнышки проснулись.
    К моему оконцу головки потянулись.
    Их на хрупких ножках — целая поляна.
    Так лучисто-чисто, весело и пьяно.

    Эх, ещё немножко радости весенней!
    Превратятся солнышки в шарик неизменный.
    Ветерок заметит лёгкость их и нежность
    И, играя с ними, разнесёт небрежно.

    Семенами в землю упадут в веселье.
    А проснутся — снова будет новоселье.
    Одуванчик жёлтый заглянет мне в оконце,
    Заставит улыбнуться маленькому солнцу.
  {% endfilter %}
{% endblock %}
