{% extends template %}

{% set title = "«Ах эта буря перемен…»" %}
{% set workdate = "24.04.2020" %}
{% set pubdate = "05.11.2020" %}

{% block content %}
  {% filter poem %}
    Ах эта буря перемен…
    Цивилизации решенья,
    Мир познавать на «удаленье»
    И мозг искусственных систем.

    Не поддаётся осознанью
    Коронавируса метанье,
    Людей, лишённых пониманья,
    И дверь, закрытая извне.

    Под этот шум мирских потерь,
    Под эту круговерть событий
    Как удержать свои же нити?
    Ведь нам их не вернуть, поверь.

    Дай Бог, чтоб без больших потерь
    Открыли мы на выход дверь.
  {% endfilter %}
{% endblock %}
