{% extends template %}

{% set title = "«До окончанья лета сорок дней…»" %}
{% set workdate = "21.07.2017" %}
{% set pubdate = "16.12.2017" %}

{% block content %}
  {% filter poem %}
    До окончанья лета сорок дней.
    Заметьте, всем известная нам дата.
    Давайте верить, что тепло идей
    Согреет нас, и наша душа рада.

    Я верю, что за эти сорок дней
    Рассветы мы увидим и закаты.
    Грибов и ягод соберём, поверь.
    Услышим гроз небесные раскаты…
  {% endfilter %}
{% endblock %}
