{% extends template %}

{% set title = "«Уходит год… ох, как он был непрост…»" %}
{% set workdate = "31.12.2020" %}
{% set pubdate = "06.02.2021" %}
{% set next = "lidija_seljagina/ir-1-0" %}

{% block content %}
  {% filter poem %}
    Уходит год… ох, как он был непрост!!!
    Держитесь, люди! стройте жизни мост!!!
    Пройдёт лишь сильный, добрый и шальной
    В хорошем смысле, человек с душой!!!

    Да, зло с добром старалось рядом быть.
    Так трудно равновесие хранить!
    Но, чтоб планета продолжала жить,
    Зло не должно благоразумие сразить!
  {% endfilter %}
{% endblock %}
