{% extends template %}

{% set title = "«И трудный день идёт к концу…»" %}
{% set workdate = "25.07.2017" %}
{% set pubdate = "16.12.2017" %}

{% block content %}
  {% filter poem %}
    И трудный день идёт к концу…
    Свободнее дыханье.
    Сдувает лёгкую пыльцу
    Разлив благоуханья

    По летним площадям аллей…
    И город, затихая,
    Поможет теплотой своей,
    Усталость с нас снимая…
  {% endfilter %}
{% endblock %}
