{% extends template %}

{% set title = "«Вспоминаю своих земляков…»" %}
{% set workdate = "31.07.2016" %}
{% set pubdate = "16.12.2017" %}

{% block content %}
  {% filter poem %}
    Вспоминаю своих земляков.
    Земляков своей юности, братцы.
    Все ли живы? И впрямь хорошо ль?
    И легко вам судьбе улыбаться?

    Я бы рада была за вас всех.
    Наши души когда-то сроднились,
    Ну а души роднятся навек.
    Друг за друга порой мы молились.

    В этой жизни есть вечность родства,
    Ощущение кровного братства.
    Я вас знала, вы знали меня.
    Нашим душам — соприкасаться.

    И, в Иные Миры уходя,
    Говорим мы друг другу «Пока».
    Одиночества нет на Земле:
    В параллелях мы связаны все.
  {% endfilter %}
{% endblock %}
