{% extends template %}

{% set title = "«Чтобы небо было синим…»" %}
{% set workdate = "08.05.2018" %}
{% set pubdate = "08.05.2018" %}

{% block content %}
  {% filter poem %}
    Чтобы небо было синим
    И была светла Россия,
    Чтобы память не остыла,
    Сохраним Бессмертный Полк.
    Как деды{{acute}} в той юной жизни
    Были верными Отчизне!
    Полегли на поле брани,
    Дав нам верности урок.

    Чтобы сердцем не забыли
    Тех, что жизнь нам подарили,
    Чтобы в наших душах жили
    Благодарность и любовь,
    Мы возьмём ту память в сердце,
    Пусть звучит подобно скерцо,
    И сплотимся воедино,
    Если враг нагрянет вновь.
  {% endfilter %}
{% endblock %}
