{% extends template %}

{% set title = "«О настоящий звездопад…»" %}
{% set workdate = "15.08.2015" %}
{% set pubdate = "16.12.2017" %}

{% block content %}
  {% filter poem %}
    О настоящий звездопад!
    Персиды в августе летят.
    И, свет нам дырчатый даря,
    Гипнотизируют, маня,

    Волнуя, будущим грозя.
    У каждого своя стезя.
    О, звездопад, и всё равно
    Ты даришь радость и тепло.

    И каждый август в ночной час —
    Персиды с небушка у нас.
    Хоть астероиды опасны,
    Но ночи кажутся прекрасны!

    Эффект глобальный впереди.
    Им предстоит тот путь пройти
    Между Юпитером и Марсом…
    И как здесь думать о прекрасном?

    И утешает лишь одно:
    Мильоны лет на то дано.
  {% endfilter %}
{% endblock %}
