{% extends template %}

{% set title = "«В День пожилого человека…»" %}
{% set workdate = "01.10.2011" %}
{% set pubdate = "16.12.2017" %}

{% block content %}
  {% filter poem %}
    В День пожилого человека
    Куплю я тапочки себе.
    И стану вновь картиной века
    В своей малиновой поре.

    И коль решится стоматолог,
    Смогу я зубки заменить,
    И голливудскою улыбкой
    Успею Клинтона смутить.

    И вновь я юность вспоминаю…
    И осень снова хороша!
    Себя я прошлым воскрешаю.
    Мурлычет Матушка-Душа.
  {% endfilter %}
{% endblock %}
