{% extends template %}

{% set title = "Александре Семёновне Сарновской" %}
{% set workdate = "02.11.2020" %}
{% set pubdate = "05.11.2020" %}

{% block preface %}
  {% filter ins %}
    {% filter short %}
      Ушла в Миры Иные <time datetime="2020-11-01">1 ноября 2020 г.</time>
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter poem %}
    Ушла за горизонт,
    Святая и простая.
    Надёжная во всём
    Кремнёвая душа.
    Ушла за горизонт,
    И след вдали растаял…
    И вся моя душа —
    Печальная слеза…

    Я богу помолюсь,
    Чтоб ты спала спокойно,
    Чтоб душеньку твою
    Пустил в свой светлый рай.
    А на стенах висят
    Шедевры рук надёжных.
    И окна все в цветах —
    Вот твой домашний край.

    Ушла за горизонт
    И больше не вернёшься.
    А ночью — лишь душа
    Приблизится к душе.
    Ах, Александра наша,
    Ты наше ясно солнце!
    Пишу тебе в печали.
    И нету сил уже.

    Ещё звучит твой голос,
    И так ясны мгновенья,
    И солнышко в окошко
    Заглядывает пусть.
    Я знаю, это взгляд
    Прощальный, весь в надежде,
    Что у детей и внука
    Здесь будет верный путь.
  {% endfilter %}
{% endblock %}
