{% extends template %}

{% set parentTitle = "По лабиринтам жизни" %}
{% set title = "5. Машинистка-надомница в Инженерно-строительном институте" %}
{% set titleDescr = "С декабря 1966 по август 1968" %}
{% set pubdate = "10.03.2018" %}

{% block content %}
  {% filter prose %}
    Конечно, после всего того, что произошло с Алёнкой, я поняла, что мне необходимо найти надомную работу. Алёнке требовался восстановительный период, кроме того, я ждала второе дитя.
    Работа в райкоме, хоть и по четыре часа, дала мне море друзей. Ребята подсказали мне, что в Инженерно-строительном институте требуется машинистка-надомница. На собеседование я пришла с медицинскими документами Алёнки, чем и объяснила необходимость перехода на надомную работу.
    В декабре 1966 года у Алёны неожиданно начался афтозный стоматит в очень тяжёлой форме. Болезнь развивалась стремительно. По совету врача с помощью медсестры детской больницы Нины Михайловны Архиповой мы обрабатывали афточки на слизистой полости рта: длинной лучинкой с ватным наконечником наносили сначала раствор марганцовки, а следом покрывали перекисью водорода. Но остановить стоматит было невозможно, и на третий день Алёнку госпитализировали. А врач, Нонна И., попросила меня по возможности принести хотя бы одно яичко, желательно естественного происхождения, а не из инкубатора, и немного натурального мёда.
    Мёд с пасеки у меня был. А яички, целых пять штук, удалось раздобыть в родном Белоострове. Итак, к общему курсу лечения добавился ещё один процесс: гнойнички покрывались яичным белком, взбитым с мёдом. И в конце концов мы справились с бедой.
    А в феврале 1967 года меня срочно госпитализировали в больницу имени Дзержинского, на Васильевском острове, где уже тогда были инкубаторы для недоношенных детей, родившихся на сроке беременности от пяти месяцев. Показатель <abbr class="art__abbr" title="Скорость оседания эритроцитов">СОЭ</abbr> (в то время называвшийся <abbr class="art__abbr" title="Реакция оседания эритроцитов">РОЭ</abbr>) у меня составлял 50 единиц. Встать на ноги я могла, только превозмогая сильную, до иголочек, боль в подушечках пальцев рук и сжимающую боль в сердце.
    Мне дали направление на преждевременные роды. Но дежурный врач Шмидт (по стечению обстоятельств я попала к нему второй раз: первый — с будущей Алёнкой, тоже в пять месяцев) объяснил мужу:
    — Будем спасать маму, так как отёк распространился на брюшину. Если даже роды начнутся, то мы сделаем всё, чтобы их остановить, иначе это приведёт к кровоизлиянию в брюшную полость.
    Меня срочно доставили в палату на каталке, под задние ножки кровати подставили кирпичи, ноги зашинировали и привязали к кровати на месяц. Выписать могли только при наличии эластичных бинтов. Тогда их было трудно достать, купила их моя крёстная, тётя Гутя, а привезла моя мать. А Алёнку на это время направили в санаторий посёлка Ушково.
    Вернувшись из больницы и забрав Алёнку из санатория, я до самого декрета работала на дому. Мне повезло в том, что до родов я договорилась с медсестрой Ниной Михайловной Архиповой о том, что, когда мне придёт пора срочно ехать в роддом, я зайду с Алёнкой в райком партии, оставлю её у инструктора, а сама поеду по направлению в институт имени Отто.
    Что поделаешь, в июне 1967 года я оставила Алёнушку и поехала рожать. Слава Богу, Алёнка уже в два с половиной года была коммуникабельна, улыбалась людям, не боялась их.
    Роды затянулись. В итоге через тринадцать дней они оказались стремительными. Об этих событиях я написала рассказ «<a href="/lidija_seljagina/ir-3-6.html">За решёткой</a>».
    У роддома нас встретили, как и в прошлый раз, тётя Гутя и её муж дядя Вася. В тот день мой муж сразу же поехал за Алёнкой в больницу. А на следующий день я вызвала к себе участкового врача. Она выписала мужу больничный на три дня по уходу за нами. А сама приходила ухаживать за мной. Пока я не восстановилась, она не успокоилась.
    Господи, как много дали мне в жизни эти золотые люди!
    Я обожала своих девчонок. Мне с ними было тепло и уютно. Анюта была для меня подарком судьбы. Между кормлениями она спала, я ставила коляску на балкон. Когда выпал снег, я одевала ей шубку с зашитыми рукавами и подолом. В коляску подкладывала тёплое одеялко, на ножки одевала шерстяные носочки, а на головку — вязаную шапочку. Сверху накрывала лёгким одеялком и ставила коляску около приоткрытого балконного окна. Недаром у Анюты навсегда осталась привычка спать хотя бы с открытой форточкой.
    У нас была двухкомнатная квартира, основное время девочки проводили вместе. Но во время дневного сна Алёнка оставалась в своей кроватке в маленькой комнатке, а Анютка — то около открытой балконной двери, то на балконе в коляске, а на ночь устраивалась в своей кроватке.
    В мае 1968 года я ездила с дочками к свекрови в Николо-Урюпино. Об этой поездке, во время которой на дому за меня работала другая женщина, вы можете узнать из рассказа «<a href="/lidija_seljagina/bio-33.html">Наше первое путешествие</a>».
    Домой вернулись в конце августа. Муж уехал в командировку. Он уже получил диплом и был направлен в Германию. Перед нашим отъездом он заезжал к нам на несколько часов, но так был окрылён своими событиями, что даже не заметил, что я срезала свои длинные косы.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2012">2012</time>
{% endblock %}
