{% extends template %}

{% set parentTitle = "Точка отсчёта" %}
{% set title = "Раздумья, выводы, решенья" %}
{% set workdate = "17.03.2012" %}
{% set pubdate = "10.03.2018" %}
{% set prev = "lidija_seljagina/ir-4-12" %}

{% block content %}
  {% filter prose %}
    Так совпало.
    Сейчас <time datetime="2012-03-17T02:48:00+03:00">без двенадцати минут три часа утра</time>.
    Сегодня <time datetime="2012-03-17">17-е марта</time> — день рождения моей матери, Виноградовой (в девичестве Лебедевой) Лидии Арсентьевны. Но её уже нет, она ушла в миры иные в середине <time datetime="2004-11">ноября 2004 года</time> на 87-м году жизни.
    А в конце <time datetime="2011-08-24" title="Лидия Дмитриевна родилась 24 августа 1941 года">августа 2011 года</time> мне исполнилось уже 70 лет. И, возможно, это правильно, что с высоты этого возраста я оглядываюсь назад и пытаюсь мысленно пройти по своей жизни.
    Наверное, в связи с условиями военного и послевоенного детства жизнь заставила меня очень рано стать самостоятельной и привить себе привычку — перед сном проводить анализ собственных действий за пройденный день. Эта хорошая привычка прошла со мной по всей жизни, она помогла мне не совершить лишних ошибок, которые вполне возможны в юном возрасте.
    Вернуться в свой прежний мир мне хочется для самой себя. Я увижу это время с другой стороны: может, увижу свои ошибки или объясню некоторые действия своим детям.
    Захотят ли и смогут ли они прочесть это?
    Я знаю, что я честна перед собой. А если и совершила какие-либо ошибки, то не по злобе и зависти, а по недопониманию или вынужденно, в связи со сложившимися обстоятельствами.
    Я поняла, что иногда обстоятельства и действительность окружающего мира заставляют нас жить так, как мы не очень бы хотели. И если уж так складывалось, то я старалась жить по тем законам, которые я предъявила себе, а именно:
    <span class="page__mark">1.</span> Не навреди ближнему, не сломай его судьбу, никогда не говори о другом то, чего не видел своими глазами.
    <span class="page__mark">2.</span> Никогда не испытывай чувство зависти, ибо каждого человека на Земле ждёт своя полоса испытаний, то есть свой крест.
    <span class="page__mark">3.</span> Необходимо жить в рамках законов своей страны. Конечно, если ты смог получить высшее образование и выучил иностранные языки, то ты имеешь возможность уехать в ту страну, законы которой тебя устраивают больше. Но не забудь прежде изучить законы выбранной тобою страны. А если не успел, не смог получить образование, то лучше оставайся у себя на Родине, где ты по крайней мере не будешь значиться иностранцем. Ибо закон — это величина переменная, а Земля, на которой ты рождён, — величина постоянная. Ты здесь свой и найдёшь своих, себе подобных, и станешь сильнее, если очень захочешь. Это наш, понятный нам <span>менталитет</span>.
    <span class="page__mark">4.</span> Не нарушай <span>земные законы</span>:
    — Не лишай жизни другого человека.
    — Не предавай своих родителей.
    — Не издевайся над чувствами влюблённого в тебя человека.
    — Не оставляй без жилой площади того, с кем ты жил одной семьёй.
    — Не поднимай руку на того, кто перестал или устал тебя любить, ибо каждый человек на Земле имеет право выбора. Если ты пытаешься удержать человека около себя ложью и хитростью, это значит, что ты совершаешь при помощи мошенничества акт насилия не ради кажущейся твоей любви, а ради своего самоутверждения через свой махровый <span>эгоизм</span>.
    <span class="page__mark">5.</span> Никогда не появляйся на улице в нетрезвом виде, даже в самой лёгкой степени опьянения, чтобы не дать «добрым» языкам волю родить о тебе <span>миф</span>. Ну а если жизнь разберётся с тобой жёстко и даже жестоко и снятие стресса будет необходимо, то я бы, как Штирлиц, закрылась наглухо и переболела бы свою беду в своих слезах, осознав и приняв всё то, что со мной случилось. И, решив жить дальше с тем, что осталось, вышла бы в открытую дверь и пошла бы навстречу людям вновь с приветливой улыбкой, чтобы окружающим было легче, хоть на мгновенье, так как у каждого из нас свой крест жизненного пути и каждого из живущих на Земле ждёт своё бремя испытаний.
    <span class="page__mark">6.</span> Прежде чем осуждать проступки или неадекватное поведение другого человека, всегда старайся понять причину, мотив его поступка. Пытайся поставить себя на его место.
    <span class="page__mark">7.</span> Никогда не презирай и не брезгуй ни одним человеком. Только сочувствуй, так как пути Господни неисповедимы, и никто не может знать, что завтра будет с кем-либо из нас.
    <span class="page__mark">8.</span> Дав слово человеку, обязательно сдержи его. Но если непредвиденные обстоятельства не позволят исполнить обещанное, то обязательно сообщи об этом, чтобы человек не терял время на ожидание и знал, что его уважают и помнят.
    <span class="page__mark">9.</span> Если назвалась женой, то ни при каких обстоятельствах по собственному желанию не изменяй мужу, даже если совместная жизнь начала разрушаться… Следующий этап жизни может начаться только после завершения предыдущих, то есть развода, раздела имущества (иначе спор может возникнуть даже через три года после раздела жилплощади и оформления официальных документов). Какой бы он ни был, этот муж, он тоже имеет право на своё место жительства.
    <span class="page__mark">10.</span> Невзирая ни на что <span>никогда</span> не позволяй себе связь с женатым мужчиной, имеющим детей, чтобы не взять грех на душу, за который всегда можно ожидать «возвращения бумеранга».
    <span class="page__mark">11.</span> Не начинай жить с мужчиной и вести с ним общее хозяйство без вступления в брак. Совместное проживание <a href="/lidija_seljagina/poem-29.html" title="Стихотворение от автора в тему">вне брачных уз</a> беспринципно, неуважительно. Это <span>безответственность</span> мужчины по отношению к матери его будущего ребёнка, это незащищённость кормящей матери и грудного малыша.
    <span class="page__mark">12.</span> Наличие семьи не должно помешать наблюдать за развитием общества, в котором мы живём. В жизни хочется <span>не потерять своё лицо</span>, найти свою изюминку, почувствовать в себе большой интерес именно к своему, важному для себя делу.
    <span class="page__mark">13.</span> У каждого человека — свои физические возможности, свои ресурсы.
    По своему печальному опыту, я могу заниматься трудовой деятельностью с полной отдачей только в «классические» часы — между временем, когда все обычно выходят из дома, и временем, когда все возвращаются домой — то есть с утра до вечера.
    Из медицинской литературы я узнала, что молодой человек или девушка могут заложить неплохой фундамент своего психического и физического здоровья и сохранить его на долгие годы при условии <span>стабильного восьмичасового ночного сна</span> не менее чем до 25 лет. Если человек пренебрежёт соблюдением биоритмов сна (ночные смены, ночные клубы, ночные бдения), то его организм в очень молодом возрасте потрясёт множество <span>старческих</span> заболеваний. И тогда придётся не жить, а <span>выживать</span>.
    Поэтому необходимо воспитать в себе твёрдую <span>силу воли</span>!
    <span class="page__mark">14.</span> Не лги. Ложь может разрушить судьбы людей. Как ты её ни прячь, она всё равно всплывёт и нанесёт такой душевный удар, что не каждый сможет перенести его.
    Я никогда не умела лгать, а потому и не могла пользоваться шпаргалками. Даже при мысли солгать стыд обжигал меня краской. Поэтому приходилось самой вникать, понимать и запоминать. Может, это и не плохо.
    <span class="page__mark">15.</span> Если у тебя попросили в помощь какие-то небольшие деньги — дай, если можешь. Не надо осуждать просящего и унижать его. Ему сегодня хуже, чем тебе. Он обязательно встанет на ноги и будет вспоминать тебя добрым словом. Но если однажды тебе потребуется помощь, он обязательно окажется рядом. Ведь пути Господни неисповедимы.
    <span class="page__mark">16.</span> Не доверяй частному бизнесу. Сегодня, когда сравнительно недавно сменился режим в нашей стране, когда до сих пор нет стабильного порядка, побеждает сильный, ювелирно-изобретательный, имеющий предварительную материальную базу, с потерянной совестью, почти робот. Выжить в этом беспределе безумно сложно — всё равно что ходить по краю пропасти.
    Я могла бы работать в бюджетной организации с трудовой книжкой и белой зарплатой.
    <span class="page__mark">17.</span> Если работаешь заведующим по хозяйственной части, будь осторожен, потому что сегодня чистоплотный человек в этой должности или удивляет, или раздражает основную массу хитрых жуков. Для работы в данной сфере надо иметь кремнёвый характер, а также серьёзного покровителя, который своим присутствием помогал бы удерживать правильную линию поведения. Но такое бывает редко. В основном человек попадает в заключение не за то, что ворует, а за то, что воровать не умеет и с «жуками» не делится. Как говорится, не умеешь — не берись.
    <span class="page__mark">18.</span> Служи своему Государству — <span>по чести и совести</span>, наверное, это всё-таки почётно и ответственно.
  {% endfilter %}
{% endblock %}
