{% extends template %}

{% set title = "«Вот и нет меня у тебя…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Вот и нет меня у тебя.
    Благодарен ли новой судьбе?
    И похожа ли та на меня,
    Что измучила душу тебе?

    Ночью тёмною замирая,
    Я на цыпочках к двери иду.
    Но молчит тишина шальная,
    А в висках резонансом: «При-ду…»
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1976">1976</time>
{% endblock %}
