{% extends template %}

{% set title = "«Берегите же жён, мужья…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Берегите же жён, мужья.
    Это — ваша жизнь и семья.
    Это — ваша душа, ваш дом.
    Это — дети ваши потом.

    Берегите же жён, мужья.
    С ними — осень седая вся,
    С ними — горстка последних дней.
    Не глумитесь над Ней!

    Ваш союзник, ваш друг и мать,
    Сможет всё за нежность отдать.
    Тяжесть самых обычных дней
    Поделите вы с Ней!
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1968">1968</time>
{% endblock %}
