{% extends template %}

{% set title = "«Для чего мы живём на свете…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Для чего мы живём на свете?
    Для чего рождаются дети?
    Чтоб, дожив до возраста с наше,
    Заявляли вот так же:
    «Для чего мы живём на свете?»

    Все мы, может быть, даже герои.
    Зная все о конце, живём.
    И о взглядах на жизнь мы спорим
    И, не зная её, умрём.
    Все мы, может быть, даже герои.

    Но услышала я сегодня,
    Что есть люди. Они живут,
    Чтобы море простора увидеть,
    Чтобы воздух грудью вдохнуть.
    Но услышала я сегодня,
    Что есть люди. Они живут.

    Эти люди живут, мечтая
    О рассвете, волшебной ночи.
    Эти люди живут, мечтая
    Заглянуть в любимые очи.
    Эти люди живут мечтая.

    Говорят они: «Есть на свете,
    Для чего ещё стоит жить.
    Мать живёт для того, чтобы миру
    Очень нужного сына родить.

    Муж живёт, чтоб создать уют им,
    Наградить чтоб за муки мать».
    Вот живут и рождаются люди.
    И совсем не хотят умирать.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1959">1959</time>
{% endblock %}
