{% extends template %}

{% set title = "«Не поднимается рука…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Не поднимается рука
    Убрать увядшие цветы.
    В них мысль кончины так нага,
    В них столько горестной беды!

    И больно знать, что всё пройдёт:
    И зной, и стужа, и пороша,
    Что всё беспомощно умрёт
    И мы уйдём с земли хорошей.

    И пусть пока ещё цветут.
    Таков закон — они увянут.
    Прощальный взгляд того цветка —
    Немой укор издалека.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1991-05">Май 1991</time>
{% endblock %}
