{% extends template %}

{% set title = "«Нет, мой хороший, это не любовь…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Нет, мой хороший, это не любовь,
    Когда тебя как за душу хватают,
    И требуют, и мучают, и давят,
    Твоё достоинство унизив вновь.

    Прощают всё, надеждою живут.
    Хороший мой, коль любят, значит, дарят,
    Как высшую награду принимают —
    Побыть лишь рядом даже пять минут.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1976">1976</time>
{% endblock %}
