{% extends template %}

{% set title = "«Помыть бы тело, косу заплести…»" %}
{% set workdate = "18.05.2003" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Помыть бы тело, косу заплести
    И новый ритм жизни обрести.
    Но вновь беда! О Господи, прости!
    Ведь снова до себя не добрести!
  {% endfilter %}
{% endblock %}
