{% extends template %}

{% set title = "«Все жить торопятся, спешат…»" %}
{% set workdate = "30.04.2008" %}
{% set pubdate = "05.11.2008" %}
{% set next = "lidija_seljagina/signs-3-1" %}

{% block content %}
  {% filter poem %}
    Все жить торопятся, спешат
    Туда-сюда, обратно.
    Работа, дети, детский сад —
    Не до стихов, понятно.

    Но если вдруг сорвался ритм
    И счастье изменило,
    Тогда мы ищем море рифм.
    Всему своё мерило.
  {% endfilter %}
{% endblock %}
