{% extends template %}

{% set title = "«Господи, как хочется покоя…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Господи, как хочется покоя,
    Тишины, уюта и тепла,
    Чай из трав душистого настоя
    И души, что чувствами полна.

    Кажется, любое сладишь дело,
    При любой погоде сдержишь дрожь,
    Если рядом и тепло, и смело
    Ждёт душа, не терпящая ложь.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1992-10">Октябрь 1992</time>
{% endblock %}
