{% extends template %}

{% set title = "«Грядёт беда — мы в том должны сознаться…»" %}
{% set workdate = "29.06.1993" %}
{% set pubdate = "17.04.2008" %}

{% block preface %}
  {% filter ins %}
    {% filter short %}
      Под <a href="/lidija_seljagina/bio-66.html" title="У автора есть рассказ об этих событиях">впечатлением</a> от книги С. Н. Лазарева «Диагностика кармы».
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter poem %}
    Грядёт беда — мы в том должны сознаться.
    И в жизни сей давайте не теряться.
    Грядёт беда. Давайте дружно жить,
    Теплом души давайте дорожить.

    А чтоб понять, как можно всех простить,
    Я всех хочу сегодня <a href="/lidija_seljagina/signs-12-36.html" title="Издательство «Сфера»">пригласить</a>
    На чтенье книги, что буквально потрясла
    И тень обиды в омут унесла.

    О, если б человечество узнало,
    В какую пропасть с дерзостью попало!
    Здоровья вам от мудрости души
    И с книгой этой побывать в тиши.
  {% endfilter %}
{% endblock %}
