{% extends template %}

{% set title = "«Что мне делать с собой, не знаю…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Что мне делать с собой, не знаю.
    Я опять и опять забываю.
    Я совсем-совсем не твоя.
    Как же ты один без меня?

    Что мне делать с памятью этой,
    Что бродила с тобой до рассвета,
    Что запомнила сердца стук
    И кольцо твоих тёплых рук.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1974">1974</time>
{% endblock %}
