{% extends template %}

{% set title = "При посещении Литературного института" %}
{% set workplace = "Москва" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Может, я ещё начинающий,
    Может быть, ничего не знающий, —
    Только вы меня не бросайте
    И моей судьбой не играйте.

    Несмышлёная, беспонятная,
    И тетрадка в руках помятая.
    А я дверь приоткрою в трепете.
    Буду с вами всегда, поверьте мне,

    Рассекать словес океаны,
    Пеленать стихи-великаны,
    Разудалою рваться песнею
    Над Московскою Преснею.

    Все мы, может, немые зрители,
    Над земным бытием — смотрители,
    Все — мечтатели и романтики
    С неизученным миром Галактики.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1964-01">Январь 1964, Москва</time>
{% endblock %}
