{% extends template %}

{% set title = "«Я иду с душою нараспашку…»" %}
{% set workdate = "17.11.2003" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Я иду с душою нараспашку
    И вдыхаю аромат весны.
    Через душу, как сквозь промокашку,
    Впитываю жизненные сны.
  {% endfilter %}
{% endblock %}
