{% extends template %}

{% set title = "«Купеческие внучата…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Купеческие внучата,
    Они же — кулацкие дети
    И дети середняка.
    Жила же тогда Россия!
    Но тёмной, безумной силой
    Отброшена на века.
    Купеческие внучата
    Не все ещё на погосте,
    Но все они крепкой кости,
    И память у них крепка.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2002-08">Август 2002</time>
{% endblock %}
