{% extends template %}

{% set title = "«Есть местечко в далёкой глуши…»" %}
{% set workdate = "23.10.2003" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Есть местечко в далёкой глуши.
    Эх, как хочется там оказаться…
    Посидеть в первозданной тиши,
    Двойником из воды отражаться…

    Поразмыслив о жизни земной,
    Вдохновенным костром разгореться.
    Может, кто-то прибудет за мной,
    Если вслед облакам заглядеться…
  {% endfilter %}
{% endblock %}
