{% extends template %}

{% set title = "«С другого спектра, в объектив другой…»" %}
{% set workdate = "22.08.2002" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    С другого спектра, в объектив другой
    Подсматриваю мир в его движенье.
    Взгляну повыше — всюду пир горой,
    А ниже — слёзы, стон и униженье.

    Я знаю: не коммерческий расклад
    В моих тревожных умозаключеньях.
    Но мир как будто катится назад,
    Ворвавшись в тонкий мир без разрешенья.

    И мы не можем то не ощущать,
    Что мир подходит к грани разрушенья.
    Закон природы не дано вращать
    В любые неземные направленья.

    И всё равно ещё прекрасен мир,
    И жизнь спасти ещё совсем не поздно.
    Ещё у многих жив в душе кумир,
    И небо ясно, а ночами звёздно.
  {% endfilter %}
{% endblock %}
