{% extends template %}

{% set title = "«На полянке Полинка…»" %}
{% set workdate = "16.08.2007" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    На полянке Полинка
    Собирала цветы.
    Так девчонка-смешинка
    Рисовала мечты.

    То — из детства картинка,
    И тепло на душе,
    И девчонка Полинка —
    Не Полинка уже.

    Крест святой на Полине.
    Величава, стройна,
    На житейской тропине
    Вместе с нами она.

    Я желаю Полине
    Не терять свою стать,
    По житейской тропине,
    Не сгибаясь, шагать.

    В этот день я желаю
    Счастья, мудрости воз,
    Чтобы твой паровозик
    Аккуратненько вёз.

    Пусть друзья и родные
    Тебе дарят цветы.
    Им навстречу, Полина,
    Очи счастья твои.
  {% endfilter %}
{% endblock %}
