{% extends template %}

{% set title = "Автопортрет" %}
{% set pubdate = "17.04.2008" %}
{% set prev = "lidija_seljagina/signs-8-12" %}

{% block content %}
  {% filter poem %}
    Была когда-то «вся при всём»,
    Без пудры и белил.
    И разве думал кто о том,
    Что Бог ему сулил?

    И хоть давно в морщинах лоб,
    Но светятся глаза.
    Полубеззубым стал мой рот,
    Но есть своя стезя.

    И даже пара костылей,
    Что помогают жить,
    Не отвели моих друзей
    И жажду дальше жить!

    Таков сегодня мой портрет.
    Как быстро жизнь прошла!
    В душе ещё мне мало лет,
    И я не всё нашла.

    Я вставлю зубы, прифранчусь,
    Найду поводыря,
    И будет под руку водить
    Меня моя родня.

    Ну, это в шутку, а всерьёз —
    Нам всем давно утёрли нос.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2002-04">Апрель 2002</time>
{% endblock %}
