{% extends template %}

{% set title = "Вдове" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Ты всё же не горюй: наш опыт пригодится.
    И в жизни снова мы встречаем те же лица.
    С годами мы мудрей, спокойнее и тише,
    Но это лишь на взгляд, а уровень наш — выше.

    Всё то, что было с нами, нам дорого до слёз,
    И мы похожих ищем, волнуя море грёз.
    Но всё пройдёт однажды, уйдёт с пути мираж,
    И мы поймём, что дважды не вторит вернисаж.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1998-08">Август 1998</time>
{% endblock %}
