{% extends template %}

{% set title = "«Ирина Малярова умерла…»" %}
{% set workdate = "18.08.2006" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Ирина Малярова умерла.
    Не знала и не плакала страна,
    И Логинов с Никитиной ушли,
    Но некрологов мы в газетах не нашли.

    Трагически погиб их сын-поэт,
    Но информации об этом нет.
    Имён святых, увы, не перечесть.
    Они воспели родину и честь.

    О них потомкам нашим надо знать.
    На их могилах предлагаю написать
    Не только имя и число рожденья,
    А строчки лучшего стихотворенья,
    Чтоб знали все, что здесь лежит поэт,
    И помнили об этом много лет.
  {% endfilter %}
{% endblock %}
