{% extends template %}

{% set title = "«Хочешь, я растаю, как снежинка…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Хочешь, я растаю, как снежинка?
    Вспомнишь ли тогда моё крыльцо?
    Капелькою, маленькой дождинкой
    Упаду я на твоё лицо.

    И не важно, грустен ты иль весел —
    Бумерангом всё вернёт яйцо.
    Не дождинкой, а щемящей песней
    Обожгу тебя, забрав в кольцо.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1963">1963</time>
{% endblock %}
