{% extends template %}

{% set title = "«Готовится природа к увяданью…»" %}
{% set workdate = "29.03.2005" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Готовится природа к увяданью,
    Вздохнув, оставив чудный, дивный след.
    Я вспоминаю радости свиданий,
    Любви твоей волшебный тёплый свет.

    Готовится природа к увяданью,
    И я готовлюсь — Господи, прости.
    За каверзное странное признанье
    В любви к простору — тяжкий крест нести.
  {% endfilter %}
{% endblock %}
