{% extends template %}

{% set title = "«Пусть закружит нас вальс новогодний…»" %}
{% set pubdate = "17.04.2019" %}
{% set workdate = "17.12.2004" %}
{% set next = "lidija_seljagina/signs-8-1" %}

{% block content %}
  {% filter poem %}
    Пусть закружит нас вальс новогодний
    На мерцающем фоне огней.
    Нету танца у нас благородней.
    Нету в памяти ярче тех дней!

    Мы в стремительном вихре закружим.
    Так божественен танца полет!
    Пусть метелица в такт нам завьюжит.
    Пусть печаль и беду унесёт.

    Мы навстречу, как новому счастью,
    В Новый Год в вихре танца впорхнём.
    На мгновенье окутаны властью.
    Властью ритмов из разных времён.
  {% endfilter %}
{% endblock %}
