{% extends template %}

{% set title = "«Озерцо Селягино у деревни есть…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Озерцо Селягино у деревни есть.
    Озерцо Селягино — лес там до небес.
    Озерцо Селягино — в яблонях дома.
    Озерцо Селягино — заброшена земля.

    Хуторок стоял там раньше, дед Андрей в нём жил
    И за жизнь свою большую много трав скосил.
    И коровушка, и лошадь у него, браток.
    И водился, знамо дело, в ульях свой медок.

    От Пушгор там недалече хуторок стоит.
    Дед Андрей уже навечно сном глубоким спит.
    Был он сильный, не ленивый, и за то народ
    Озерцо у хутора Селягиным зовёт.

    Псковская губерния — хорошая земля.
    Псковская губерния — там вся его родня.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2002-04">Апрель 2002</time>
{% endblock %}
