{% extends template %}

{% set title = "«Серьёзными были мысли…»" %}
{% set workdate = "07.01.2007" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Серьёзными были мысли
    Лет пятьдесят назад.
    Читала детские книжки
    И взрослые — просто так.

    Мелькали образы, лица,
    Мысли стучали в такт,
    И стала душа слезиться —
    Некрасовской Волги знак.

    Пушкинская Татьяна
    И лермонтовский «гулаг»,
    Война с миром Льва Толстого,
    Смоленской дороги тракт —

    Так на серьёзных книгах
    Росли в этой жизни мы.
    Серьёзными стали лица,
    А сами остались детьми.

    Иосифа Уткина вирши,
    Корнилова Бори «валы»,
    И Маяковского — слишком
    Гиперболично-шумны.

    Есенин с берёзовой синью,
    А там — Евтушенко подрос.
    Так много нас, нежных и сильных,
    Не верящих в стадность и ложь.

    Простите, кого не назвала.
    Мы здесь, как трава-мурава.
    Не затоптали бы нынче
    Светлые имена.
  {% endfilter %}
{% endblock %}
