{% extends template %}

{% set title = "«Он сказал: «Не мучь себя ты…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Он сказал: «Не мучь себя ты.
    Приходи ко мне, родная.
    В ночь вдвоём заснём мы сладко,
    Огонька не зажигая».

    Он сказал: «Не прячь напрасно,
    Что природа подарила,
    Что естественно-прекрасно.
    В естестве — вся наша сила!» —

    «Это всё скажи невесте.
    Жизнь окажется трагичной,
    Если двое ночью вместе,
    А душа у них — различна».
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1962">1962</time>
{% endblock %}
