{% extends template %}

{% set title = "«В миры иные уходить не хочется…»" %}
{% set workdate = "25.05.2005" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    В миры иные уходить не хочется —
    Привыкли мы на Матушке-Земле.
    То плачется, то любится, то молится,
    Но каждый жаждет жить в своей семье.
  {% endfilter %}
{% endblock %}
