{% extends template %}

{% set title = "«Останься для меня хотя б однажды…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Останься для меня хотя б однажды,
    Чтоб знала я, что мир не вовсе пуст.
    И стану я увереннее дважды,
    Почувствовав тепло любимых уст.

    Останься для меня, любимый мой,
    Для равновесия израненной души.
    Возьми, дружок, в большую жизнь с собой.
    Одну меня оставить не спеши.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1975">1975</time>
{% endblock %}
