{% extends template %}

{% set title = "«Зачем? К чему ты плечи обнажила…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Зачем? К чему ты плечи обнажила?
    Зачем грустна и не смыкаешь век?
    Судьба тебе супруга подарила,
    А он — твой нелюбимый человек.

    Ты шла к нему и думала: привыкнешь.
    Да, ты хотела полюбить навек.
    И поняла, что в той беде погибнешь,
    Ведь рядом — нелюбимый человек.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1965">1965</time>
{% endblock %}
