{% extends template %}

{% set title = "«Морщинки — моё украшенье…»" %}
{% set workdate = "19.04.2005" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Морщинки — моё украшенье.
    В них прячутся годы терпенья.
    В них — горе, и радость, и страх.
    В них — звучные строчки в стихах.
    В морщинках — и мудрость, и радость,
    И то, что в наследство досталось.
  {% endfilter %}
{% endblock %}
