{% extends template %}

{% set title = "«Дождь за окном стучит монотонно…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Дождь за окном стучит монотонно,
    Тропинки становятся лужами…
    Земля принимает до боли покорно
    Зимою метели со стужами.

    И всё же, когда золотистая осень
    Украсит деревья плодами,
    Земля облегчённо вздыхает в просинь…
    И люди мужают с годами.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1963">1963</time>
{% endblock %}
