{% extends template %}

{% set title = "«Живёт поэзия. Я вижу в ваших лицах…»" %}
{% set workdate = "01.11.2003" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Живёт поэзия. Я вижу в ваших лицах
    Эмоций нескончаемый поток.
    Живёт поэзия не только на страницах,
    Но и в глазах — энергий огонёк.

    Живёт поэзия. И кто здесь скажет мне,
    Что не нужна она моей Земле!
  {% endfilter %}
{% endblock %}
