{% extends template %}

{% set title = "«Все знают, кто такая муха…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Все знают, кто такая муха
    И что она, хоть и грязнуха,
    С навозной кучи соскочив,
    По хлебу норовит промчаться…
    А если рыбки ей кусок оставить на тарелке,
    То мухи-цокотухи устроят посиделки
    И будут прелестью бесплатно наслаждаться,
    А иногда игриво драться
    И очень быстро размножаться.

    Готовенькое любят наши мухи.
    Но стоит только им поставить медовухи
    На мухоморе с нашего двора —
    От мух уж не останется следа:
    Уснут бедняги сразу навсегда.

    И мы порой, голодные, как мухи,
    Хотим съедать чужой кусок краюхи
    И можем не заметить с голодухи
    В нём мухомора с нашего двора.
    Поэтому мораль здесь такова:

    Будь бдительным и не надейся никогда
    На результат соседского труда.
    И берегись приманки-медовухи.
    Вдруг мухомор там с нашего двора?
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2001">2001</time>
{% endblock %}
