{% extends template %}

{% set title = "«Ведь соткан мир из тоненьких мгновений…»" %}
{% set workdate = "27.02.2007" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Ведь соткан мир из тоненьких мгновений,
    И я в том мире — крошечка одна,
    Частица серпантина в приземленье,
    И в мишуре той вряд ли здесь видна.
  {% endfilter %}
{% endblock %}
