{% extends template %}

{% set title = "В больнице" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Наше с вами место заточенья
    Требует от каждого терпенья.
    Нужно пересматривать границы,
    Чтобы в русло жизни устремиться.

    Каждая болезнь — предупрежденье.
    Присмотрись, верны ли убежденья.
    Не вини врача — он не при чём.
    Врач невинен, хоть и обличён.

    Врач приглушит муки и страданья
    Только тела — но не осязанья.
    Некогда врачу, не до души.
    Ты её пред Богом обнажи.

    Мы за всё должны здесь рассчитаться,
    Чтоб бедою для других не статься.
    Присмотрись, природа терпелива —
    Крест нести умеет молчаливо.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1992">1992</time>
{% endblock %}
