{% extends template %}

{% set title = "«Опьяняет весенний звон…»" %}
{% set workdate = "07.01.2006" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Опьяняет весенний звон.
    Даже с ясного неба гром
    Не пугает, но лик икон
    Укрощает сердечный шторм.

    Эйфория моей весны —
    Как энергия той сосны,
    Что грозится с обрыва вниз.
    Это просто внешний каприз!

    Её корни — сплетенья рук —
    Создают обережный круг,
    Сохраняя верность и стать,
    Что ветрам и штормам не под стать.

    Будет долго сосна скрипеть,
    С ностальгией о прошлом петь.
    Но сразит её подлая ложь,
    Словно в сердце вонзённый нож!

    Рухнет крона её в обрыв,
    Отражая душевный взрыв,
    И простится со мной сосна,
    Навсегда лишив меня сна.

    Будет небо всё созерцать,
    Будет стрелами молний мерцать!
    Эйфория покинет меня,
    И я вновь обрету своё «я».

    Как сосна, зацеплюсь за песок.
    Прошлой жизни, любви островок
    Будет душу мою согревать.
    Память прошлого — жизни печать!
  {% endfilter %}
{% endblock %}
