{% extends template %}

{% set title = "«И замкнулся мой круг. Сердце выход искало…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    И замкнулся мой круг. Сердце выход искало.
    Как хотелось порой мне уснуть навсегда!
    Я устала здесь жить, так безумно устала
    От бессонных ночей, безденежья зла.

    И однажды, невмочь видеть сполох зарницы,
    Убежала в ту ночь, где волна так нежна.
    Предо мною вдруг всплыли детские лица.
    Боже мой! Как же так! Я нужна им! Нужна!

    Я бежала домой. А вбежав, затаилась,
    Онемев от всего, ни жива ни мертва.
    А в девчонках моих — сила, что ли таилась?
    Как магнитом тянула и за душу брала.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1975">1975</time>
{% endblock %}
