{% extends template %}

{% set title = "«Я себя презираю…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Я себя презираю,
    Ненавижу себя.
    От тебя убегая,
    Не сбежать от себя.

    Буду маяться ночью я,
    Будут горькими сны.
    Но слова твоей дочери
    До сих пор мне слышны.

    Пусть дорога недолгая —
    Что смогу, то пройду.
    Пусть и доля нелёгкая —
    Уж другой не найду.

    Но за эту оттаянку,
    Что пришлась в декабре,
    Вот за эту крупиночку
    И спасибо тебе.

    Не жалей, не жалей меня,
    Я уйду — не приду.
    Я прошу, не жалей меня,
    То накличешь беду.

    И не справиться вместе нам,
    Ой, не справиться с ней.
    Я прошу тебя, слышишь ли?
    Сам уйди, не жалей.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1975">1975</time>
{% endblock %}
