{% extends template %}

{% set title = "«Соври мне что-нибудь однажды…»" %}
{% set pubdate = "05.11.2020" %}
{% set next = "lidija_seljagina/signs-5-1" %}

{% block content %}
  {% filter poem %}
    Соври мне что-нибудь однажды
    И обнадёжь.
    Скажи, скажи мне, что однажды
    Ко мне придёшь.

    Приди во сне. Во сне не страшно.
    И так легко.
    Никто не сдержит, никто не скажет
    Нам ничего.

    Поговорить, проговорить бы
    Всю эту ночь.
    Успеть сказать, успеть понять бы,
    Что не вернёшь.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2017">Декабрь 2017</time>
{% endblock %}
