{% extends template %}

{% set title = "«Как будто ухожу в небытие…»" %}
{% set pubdate = "17.04.2008" %}

{% block preface %}
  {% filter ins %}
    {% filter short %}
      Предчувствие транса и большее видение после.
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter poem %}
    Как будто ухожу в небытие,
    Как будто растворяюсь вся в пространстве,
    И телу в невесомости дано
    Стремление в заоблачное царство.

    Я говорю своим: «Я ухожу.
    Я ухожу, но скоро вновь вернусь».
    И это правда: по Земле хожу,
    А отдыхая, будто растворюсь.

    Природа, зарядив своим теплом,
    Вновь пробуждает утром заряжённой
    Энергией, и силой, и добром.
    Душа вот только стала обнажённой.

    И, ощущая боли у других,
    Неймётся ей, движение ей надо.
    И тягостна безвыходность больных.
    Но как раскрыть причину пыток ада?

    Ведь вижу я: безвинна есть душа,
    Глубинами и страстью хороша.
    Сгорает вся, упав у тупика,
    И в теле том безжизненна река.

    И знаю я: коль русла не найдёшь,
    Душой своей нечаянно замрёшь,
    А уж потом и тело, замирая,
    Не ощутит божественного рая.

    И страшно им, узнавшим о ночи,
    И в панике душа уже кричит.
    Коль не поймёшь причину бытия,
    То пропадёт и собственное «я».

    Физическая надобность в тебе
    Не станет нужной на Земле привычной,
    И вычеркнут из списка безразлично.
    Безликим ты не нужен и себе.

    Весь мир земной наш создан для добра,
    Тепла и зла… Как странно совмещенье.
    Кто в оболочке света и тепла,
    Тот неподвластен злому искушенью.

    Как ореол, хранит его тепло
    Души большой, помочь готовой людям.
    А свет тепла вмиг отражает зло
    Лишь на того, кем послана прелюдия.

    Коль не поймёшь своё предназначенье,
    Не ощутишь и счастья в сопряженье,
    Не ощутишь блаженства бытия.
    Но ты ищи лишь собственное «я».
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1992">Лето 1992</time>
{% endblock %}
