{% extends template %}

{% set title = "«В голове звучит мелодия…»" %}
{% set workdate = "05.05.2002" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    В голове звучит мелодия,
    А ей в такт звучат слова —
    То рождается рапсодия,
    И созвучна, и нова.

    В голове, как в вальсе, кружатся
    Мысли — умницы мои.
    На листок ложатся, жмурятся:
    Ах, успеть бы до зари!

    Не бывает по-другому, нет.
    Жизнь отчаянно-сложна.
    Как же нужен в жизни мудрый свет!
    Мысль всякая важна.

    Посидеть и призадуматься
    Очень просится душа.
    Хорошо бы нам додуматься:
    Всё же жизнь вся хороша!
  {% endfilter %}
{% endblock %}
