{% extends template %}

{% set title = "«Где-то солнце, просинь неба…»" %}
{% set workdate = "16.10.2005" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Где-то солнце, просинь неба,
    Золотистый листопад
    Легко в воздухе кружится,
    Мягко под ноги ложится,
    Создавая аромат.
  {% endfilter %}
{% endblock %}
