{% extends template %}

{% set title = "«Все буквы я вижу волшебными знаками…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Все буквы я вижу волшебными знаками.
    И если мы верно их стиль отразим,
    То жизнь обернёт их волшебными магами,
    И мы нерушимый союз создадим!
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1994">1994</time>
{% endblock %}
