{% extends template %}

{% set title = "Моему племяннику" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Разметались ручонки поверх одеяла.
    Спит мальчишка смешливый… Муха спать помешала…
    Открывает глазёнки, удивляется мухе.
    Растирает слезёнки, чешет пальчиком в ухе.

    Разметались ручонки поверх одеяла.
    Спит мальчишка смешливый… Я не всё рассказала…
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1961">1961</time>
{% endblock %}
