{% extends template %}

{% set title = "«Пусть это будет нашей передышкой…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Пусть это будет нашей передышкой
    В мороз и стужу нашего пути.
    Ко мне придёшь ты скованной ледышкой —
    Душой оттаять на моей груди.

    Не знаю я, что нас соединило:
    Родство ли душ, иль одинокий час.
    Жизнь до упора мозг наш раскалила,
    Врасплох застала передышка нас.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1976">1976</time>
{% endblock %}
