{% extends template %}

{% set title = "«Зачем по-прежнему сегодня на заливе…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Зачем по-прежнему сегодня на заливе?
    Зачем по-старому деревьев строгий ряд?
    Зачем мы встретились? Зачем с тобой любили?
    Зачем я помню твой влюблённый взгляд?

    Зачем так сердце ноет неустанно?
    Зачем сегодня ходят все вдвоём?
    Зачем весна? И всем вокруг отрадно,
    А сердце плачет о тебе одном.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1960">1960</time>
{% endblock %}
