{% extends template %}

{% set title = "«Когда я вижу: женщина идёт…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Когда я вижу: женщина идёт
    И на руках дитё своё несёт,
    Но отвернув от глаз своих его —
    Я вижу: сердце женское черство.

    Когда я вижу: женщина идёт
    И маленького за руку ведёт…
    Нет, не ведёт, а тащит и молчит,
    А то дитё от страха верещит —

    Моя душа, от боли разрываясь,
    К той женщине невольно обращаясь,
    Зовёт её опомниться, склониться
    К дитю тому. Но что же с ней творится,

    С той женщиной, что тащит малыша,
    Как груз ненужный? Где её душа?
    Где женственность, тепло и благодать?
    Как часто стали дети голодать!

    Голодные не в области желудка —
    Голодные по здравому рассудку.
    Голодны по душевному теплу,
    Они звереют… Кто виной тому?

    Но вижу я: вновь женщина идёт
    И маленького за руку ведёт.
    Нет, не ведёт, а тащит малыша,
    Как груз ненужный. Где её душа?

    Ну а дитё… безвинно и ненужно,
    Беспомощно, к бездушным безоружно.
    И в том грехе потонет вся Земля.
    Кто вырастет из этакого «я»?
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1992">1992</time>
{% endblock %}
