{% extends template %}

{% set title = "«Всё в жизни моей относительно стало…»" %}
{% set workdate = "13.08.2002" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Всё в жизни моей относительно стало.
    Наверное, я удивляться устала
    Всему, что кругом происходит.
    На всё оправданье подходит.

    И трудно сегодня сказать,
    Где вдохновенье искать.
    И только любовь может всё превозмочь,
    И искрой зажечь, и делом помочь.

    Душа прикоснётся к струне —
    И счастье польётся извне.
  {% endfilter %}
{% endblock %}
