{% extends template %}

{% set title = "«Забаюкаю себя, замурлыкаю…»" %}
{% set workdate = "02.07.2005" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Забаюкаю себя, замурлыкаю.
    Ох и песенку себе прочирикаю!
    Чтоб беда вокруг меня не вращалась бы,
    Чтоб одна и без меня вниз сорвалась бы.

    Забаюкаю себя, замурлыкаю.
    Тем, кто рядышком со мной, прочирикаю:
    «Да поможем тем, кто рядом, да чем сможем мы —
    Вот и нам придёт награда в этом море тьмы».
  {% endfilter %}
{% endblock %}
