{% extends template %}

{% set title = "«То ль от сглаза, то ль от насмешек…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    То ль от сглаза, то ль от насмешек
    Псевдонимы имеют поэты.
    Видно, жизнь наша — крепкий орешек.
    Лишь бы песни все были спеты.

    Когда тайное станет явным,
    Раскодируются имена…
    Лишь успели б сказать о главном
    И в конвейер заложить семена.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2002-02">Февраль 2002</time>
{% endblock %}
