{% extends template %}

{% set title = "«Я люблю хорошего. Что же тогда…»" %}
{% set pubdate = "17.04.2008" %}
{% set prev = "lidija_seljagina/signs-9-39" %}

{% block content %}
  {% filter poem %}
    Я люблю хорошего. Что же тогда?
    Ты скажи, рябинушка тоненькая.
    А он мне не скажет, любит или нет.
    Милая рябинушка, дай мне ответ.

    Ходит милый грустный, ах, ходит. Ну что ж.
    Сердце моё, сердце никак не уймёшь.
    А он мне не скажет, любит или нет.
    Милая рябинушка, дай мне ответ.

    Ты скажи, рябинушка, что делать мне?
    Не могу забыть я милого нигде.
    А он мне не скажет, любит или нет.
    Милая рябинушка, дай мне ответ.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1959">1959</time>
{% endblock %}
