{% extends template %}

{% set title = "«Душа моя трепещет от волненья…»" %}
{% set workdate = "28.06.2002" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Душа моя трепещет от волненья,
    И разум мой с душою слился вновь.
    Мои стихи — есть умозаключенья,
    Как выводы из прожитых годов.
  {% endfilter %}
{% endblock %}
