{% extends template %}

{% set title = "«А я хотела в первый день весны…»" %}
{% set workdate = "01.05.2003" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    А я хотела в первый день весны
    Вновь юность вспомнить и чудные сны,
    Хотела посмеяться, пошутить
    И просто так чуть-чуть поголосить.

    Но мне сказали: «Пусть поёт певец.
    Не порти песню». Вот он, мой конец!
  {% endfilter %}
{% endblock %}
