{% extends template %}

{% set title = "«А что сулит нам следующий год…»" %}
{% set workdate = "12.12.2004" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Уходит год. Листаю календарь…
    Передо мной — последняя страница.
    Ни счастье встреч, ни горечь, ни печаль —
    Земля моя, уже не повторится.

    А что сулит нам следующий год?
    Что с нами станет? Что должно случиться?
    Пусть он для нас надежду принесёт,
    Что худшее уже не повторится!

    Пусть будет на душе у нас светло
    И хватит сил на планы и движенья,
    И если в прошлом нам не повезло,
    То в новом будут новые решенья.

    О, дай нам Бог дожить до ясных дней,
    Не испытать последнего паденья,
    Вновь не узнать жестокость лагерей,
    Чтоб нас не оставляло вдохновенье.
  {% endfilter %}
{% endblock %}
