{% extends template %}

{% set title = "«Раскололося небо громом…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Раскололося небо громом,
    Разрыдались тучи от зависти.
    Кровь в висках отзывалась штормом,
    Замирало сердце от радости…

    Двое верили и не верили,
    Удивляясь нежданному счастью,
    А природа их души мерила,
    Заряжая земною страстью.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1963">1963</time>
{% endblock %}
