{% extends template %}

{% set title = "«Море красок у природы…»" %}
{% set workdate = "16.10.2005" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Море красок у природы!
    Я придумаю свою,
    Ту, которая не в моде,
    Ну а я её люблю.

    Я рисую краски неба.
    Проплывают облака.
    Вижу в них и быль, и небыль —
    Фантастичная река.
  {% endfilter %}
{% endblock %}
