{% extends template %}

{% set title = "«Остывает земля предрассветной святой порой…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Остывает земля предрассветной святой порой.
    Остывает земля от обиды и зноя.
    Отдыхает душа от вибраций порой ночной,
    Молодеет душа от ночного покоя.

    Искупаюсь душой я в свершеньях своих надежд.
    На добро и тепло нас настроит природа,
    Словно нет на Земле безнадёжно больных невежд —
    Уж такая она, человечья порода.

    Как мы утром добры, как нежны мы к своим родным!
    Как тепло на душе тишиной неземною!
    Все обиды твои улетают, как лёгкий дым,
    И мудреет душа предрассветной порою.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2003-07">Июль 2003</time>
{% endblock %}
