{% extends template %}

{% set title = "Матросская лирическая" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Жду всегда я вечера, жду, родная, встречи я.
    Очень хочется с тобою быть всегда вдвоём.
    О тебе, хорошая, так мечтаю ночью я,
    О тебе, моя родная, в кубрике моём.

    О тебе мечтаю я,
    О тебе страдаю я.
    Ты — любовь моя земная,
    Звёздочка моя.

    Вот и вечер близится, и в платьице из ситца
    На свидание со мною ты спешишь, любя.
    А вокруг встречают нас лишь радостные лица,
    И на этом белом свете я люблю тебя.

    О тебе мечтаю я,
    О тебе страдаю я.
    Ты — любовь моя земная,
    Звёздочка моя.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1959-07">Июль 1959</time>
{% endblock %}
