{% extends template %}

{% set title = "«Видно, птицы ранним утром…»" %}
{% set workdate = "05.07.2005" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Видно, птицы ранним утром
    Делают зарядку,
    Тренируют голоса
    Строго по порядку.

    Чтобы в воздухе парить,
    Надо хвостиком юлить
    В нужном направлении
    По правилам движения.
  {% endfilter %}
{% endblock %}
