{% extends template %}

{% set title = "«Вдруг комарик единственный…»" %}
{% set workdate = "07.08.2005" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Вдруг комарик единственный
    Разбудил тишину.
    Пикирнул вниз таинственно,
    Снова взмыв в вышину.

    Передал сообщение,
    Словно зуммер в тиши.
    Передал сообщение —
    И к себе заспешил.

    Ах, комарик таинственный!
    О тебе я пишу.
    За тобой за единственным
    Скоро я заспешу.
  {% endfilter %}
{% endblock %}
