{% extends template %}

{% set title = "«Я не всегда в машине разъезжаю…»" %}
{% set workdate = "30.08.2003" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Я не всегда в машине разъезжаю.
    Бывает, я совсем одна-одна.
    И взглядом, и душою проникаю
    До истины, до сути и до дна.
  {% endfilter %}
{% endblock %}
