{% extends template %}

{% set title = "«Что наделала ты, муха…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Что наделала ты, муха!
    Ты меня ошеломила!
    Ты пикировала в ухо
    И всю ночь меня будила!

    Может, где-то что случилось?
    Я же до сих пор не знаю,
    Может, горе приключилось
    Или жизнь подходит к краю.

    Как проникнуть в тайны света?
    Как найти язык природы?
    У кого просить совета?
    Или мы — не той породы?
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1992-07">Июль 1992</time>
{% endblock %}
