{% extends template %}

{% set title = "«Иду в своих суконочках…»" %}
{% set workdate = "17.05.2005" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Иду в своих суконочках
    При верных костылях.
    Сама я — как с картиночки
    И без рубля в руках.

    Но глаз моих искриночки
    Мне помогают жить.
    И часто умудряюсь я
    Своих друзей смешить.
  {% endfilter %}
{% endblock %}
