{% extends template %}

{% set title = "«Есть местечко одно…»" %}
{% set workplace = "Усть-Лабинск" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Есть местечко одно,
    Там тропинка у леса.
    Там Кубань мутноводна,
    Там сидела принцесса.

    Был там сам королевич
    Со своею мечтою.
    Самый лучший царевич
    Повстречался с сестрою.

    Были речи их нежны,
    Были грустны глаза их.
    Были судьбы их сложны,
    Были честны сердца их.

    Есть местечко одно,
    Там тропинка у леса,
    Там Кубань мутноводна.
    Вдруг… исчезла принцесса.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1963">1963, Усть-Лабинск</time>
{% endblock %}
