{% extends template %}

{% set title = "«Передо мной пейзаж Граве, Андреевны, Татьяны…»" %}
{% set workdate = "16.03.2007" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Передо мной пейзаж Граве, Андреевны, Татьяны.
    В нём засыпает день весны и утихают драмы.
    А завтра вновь грядёт рассвет, и поздно или рано
    Нам улыбнётся солнца луч, залижет ветер раны.

    Весна. И дышится легко. Душа полна надежды.
    И наряжается Земля в весенние одежды.
    Спасибо за пейзаж весны, за свет и осознанье,
    Что вновь за тёмной полосой приходит пониманье.
  {% endfilter %}
{% endblock %}
