{% extends template %}

{% set title = "«Я проснусь рано утром однажды…»" %}
{% set workdate = "22.07.2002" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Я проснусь рано утром однажды,
    Когда только забрезжит рассвет,
    И пойму, что я счастлива дважды
    Оттого, что явилась на свет.

    Тишина величавых просторов,
    Пробуждение птиц: «Ты живой?» —
    И слияние трепетных хоров
    В гимн единый рассветной порой.

    Постою босиком в травах росных,
    Помолчу, на весь свет погляжу.
    Как я помню вас, девичьи вёсны!
    Пред началом пути посижу.
  {% endfilter %}
{% endblock %}
