{% extends template %}

{% set title = "В. В. Кашинцевой" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Я поздравляю с новой датой,
    Желаю в меру быть богатой,
    Чтоб не дразнить в округе той
    Люд дискомфортный и хмельной.

    И, поздравляя с новой датой,
    Здоровьем быть тебе богатой.
    Но никому не говори —
    Себя от сглаза сбереги.

    А если ты здоровой будешь,
    Энергия проснётся вновь.
    Придёт и выдумка, и сила,
    Вернётся радость и любовь.

    А остальное — как даст Бог.
    И мы, подвластны Божьей воле,
    Несём свой крест согласно доле.
    В душе — у каждого свой Бог.

    Он — твой заступник и целитель,
    Он — твой кумир и утешитель.
    Дай Бог же мудрости тебе
    Прожить подольше на Земле.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1992-01">Январь 1992</time>
{% endblock %}
