{% extends template %}

{% set title = "«Но не заменишь никаким стихом…»" %}
{% set workdate = "07.04.2007" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Но не заменишь никаким стихом
    Души её раскрытые объятья.
    Она ведь точно знает: все мы — братья.
    И дом её, и стол — наш общий дом.
  {% endfilter %}
{% endblock %}
