{% extends template %}

{% set title = "«Я не хочу, читая, торопиться…»" %}
{% set workdate = "28.07.2003" %}
{% set pubdate = "17.04.2008" %}
{% set prev = "lidija_seljagina/signs-10-103" %}

{% block content %}
  {% filter poem %}
    Я не хочу, читая, торопиться.
    Мне хочется порою прослезиться
    Или таким весельем заразиться…
    От всех невзгод душа освободится
    Хоть на часок — пусть станет всем легко!
  {% endfilter %}
{% endblock %}
