{% extends template %}

{% set title = "«Быть может, ты сегодня не поймёшь…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Быть может, ты сегодня не поймёшь
    Всё, что сейчас в душе моей творится,
    И без меня покой свой обретёшь,
    И образ мой с годами растворится.

    Но я ещё сегодня так близка.
    Так выслушай души моей мученье!
    Безумная огромная тоска
    Устроила внутри меня крученье.

    Мне кажется, что я сойду с ума
    Лишь оттого, что нет тебя со мною,
    И тело стонет. Я иду сама
    И вся дрожу в тоске перед тобою.

    И страшно мне, что вдруг однажды ночью,
    Не выдержав сражения с собой,
    Я рассчитаюсь с грешною Землёй
    И стану жертвой перед ней воочию.

    И, опуская гроб в тайник земной,
    Пусть осуждают все мои порывы.
    Пусть очернят с язвительной слюной
    Стон тела моего, ночные взрывы.

    Пусть остаётся грешная Земля
    В своём движении калейдоскопом связи.
    Я так боялась статься для тебя
    Истоком грязи.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1978">1978</time>
{% endblock %}
