{% extends template %}

{% set title = "«Мы приглашаем всех друзей…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Мы приглашаем всех друзей
    На праздник доченьки своей.
    Сегодня нашей крошке год.
    Как человечек наш растёт!

    Мы приглашаем всю родню
    Взглянуть на девочку свою,
    Хоть расстоянье велико,
    Добраться будет нелегко.

    Но верим, все приедут к нам.
    Поделим радость пополам.
    Ах, как хотелось бы, друзья,
    Чтоб не разрушилась семья!
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1965-12">Декабрь 1965</time>
{% endblock %}
