{% extends template %}

{% set title = "«Я радуюсь тому, что в этой бурной жизни…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Я радуюсь тому, что в этой бурной жизни
    Я, как песчинка в море, место занимаю.
    Я радуюсь тому, что солнце ясно светит,
    А я живу и вижу, мечтаю и страдаю.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1970">1970</time>
{% endblock %}
