{% extends template %}

{% set title = "«Я не повешусь и не застрелюсь…»" %}
{% set workdate = "09.02.2005" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Я не повешусь и не застрелюсь.
    Не брошусь в воду, чтоб уйти на дно.
    Я просто в эту Землю вновь влюблюсь.
    Другого испытать мне не дано.
  {% endfilter %}
{% endblock %}
