{% extends template %}

{% set title = "«Какая небезоблачная старость…»" %}
{% set workdate = "14.09.2008" %}
{% set pubdate = "05.11.2008" %}

{% block content %}
  {% filter poem %}
    Какая небезоблачная старость
    Нам в этой жизни, милый друг, досталась!
    Безвыходность сегодняшнего дня —
    В вчерашнем дне, где жил не для себя.

    Всё это оказалось не в зачёте.
    С наивностью своей я здесь в расчёте.
    Как трудно удержаться, быть собой
    При переходе в старость, милый мой!
  {% endfilter %}
{% endblock %}
