{% extends template %}

{% set title = "«Живём, друзья, согласно купленным билетам…»" %}
{% set workdate = "18.06.2005" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Живём, друзья, согласно купленным билетам.
    Одним везёт, другим, скажу, — совсем беда.
    Хоть нами дадено всем множество ответов,
    Но так хотелось, чтоб всегда была еда.

    Звереют люди, не приняв еды привычной.
    Звереют люди, не учтя своих потерь.
    И слышу я вдруг от девчонки симпатичной:
    «Заткнись, бабуля, что же хочешь ты теперь?»

    Тоскуют люди, обделённые любовью.
    Звереют люди, обделённые судьбой.
    И даже если ты заплатишь за них кровью,
    Они воскликнут, недовольные тобой:

    «Заткнись, бабуля, что же хочешь ты теперь?
    Уйди отсюда и закрой входную дверь!»

    Уйду, конечно, даже, может, очень скоро.
    Не торопи меня, дружок, не торопи.
    Ах, если б знала ты, как видно в эту пору.
    Мне видно многое, чего не видишь ты.

    Остынь, хорошая, нам скоро расставаться.
    Давай попробуем поговорить, дружок.
    Не вешать носа и беде не поддаваться,
    Увидеть доброе — не каждый в жизни смог.

    К природе ближе будь, ищи в глазах тепло —
    И снова станет на душе твоей светло.
  {% endfilter %}
{% endblock %}
