{% extends template %}

{% set title = "«Я успела в Феофанов день…»" %}
{% set workdate = "25.08.2006" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Я успела в Феофанов день
    Бросить в землю семя огуречное.
    В этот день в ней прорастёт хоть пень,
    Прорастёт и доброе, и вечное.

    Важно очень вовремя успеть
    Сделать над собой порой усилие,
    Песню немудрёную запеть,
    Победить душевное бессилие.

    Ибо проморгай один денёк —
    И замрёт потухший фитилёк!
  {% endfilter %}
{% endblock %}
