{% extends template %}

{% set title = "«Проплывают облака…»" %}
{% set workdate = "02.06.2005" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Проплывают облака
    Из далёка-далека.
    И плывут ползучки-тучки,
    Ставя в небе закорючки.

    Мы готовимся к грозе.
    Только сдуло тучки все.
    Почему-то ветерок
    Сдул все тучки на восток.
  {% endfilter %}
{% endblock %}
