{% extends template %}

{% set title = "«Вот и утро. Уже рассвело…»" %}
{% set workdate = "31.03.2007" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Вот и утро. Уже рассвело.
    Месяц март, а в душе — сиротливо.
    Раскрываю от шторы окно.
    Облака — словно дивное диво.
  {% endfilter %}
{% endblock %}
