{% extends template %}

{% set title = "«Тянется девчонка за игрушкой…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Тянется девчонка за игрушкой,
    Тянется ручонка к погремушке.
    Тянется за светлым и красивым
    Новый человечек из России.

    Сколько этих славных ребятишек
    В Лондоне мы встретим и в Париже!
    Сколько этих маленьких ребят
    С нежностью на мам своих глядят!

    Так хотелось, чтобы наши дети
    Не боялись взрослых на Планете.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1967-07">Июль 1967</time>
{% endblock %}
