{% extends template %}

{% set title = "Памяти Киры Булат" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Не противься теперь ничему.
    Спи спокойно уж, раз так случилось.
    Если в жизни беда закружилась,
    Не сбежать от неё никому.

    В этой жизни оставила след.
    Трудный путь ты себе выбирала.
    Но взгляни, сколько нас здесь собрала,
    Хоть порою был призрачным свет.

    Закружилась над миром беда,
    Непонятною подлостью ставшая.
    Чистый путь светлой юности нашей —
    Безупречные наши года.

    Не противься сейчас ничему.
    Спи спокойно уж, раз так случилось.
    Пухом, пухом Земля закружилась,
    Закрывая вопрос: почему?

    И душа твоя, ввысь улетая,
    Нас увидит, хоть тени относит,
    И затеплится искра земная,
    И прощенья у Бога попросит.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1998">Октябрь 1998</time>
{% endblock %}
