{% extends template %}

{% set title = "«В долг бы к кому-нибудь забраться…»" %}
{% set workdate = "22.04.2005" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    В долг бы к кому-нибудь забраться,
    Чтобы потом мечтам отдаться,
    Чтобы успеть сегодня здесь
    Оставить след про то, что есть.
  {% endfilter %}
{% endblock %}
