{% extends template %}

{% set title = "«Который день горючими слезами…»" %}
{% set workdate = "28.10.2004" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Который день горючими слезами
    Рыдает осень по своей красе.
    Не слиться взором с чудо-облаками,
    Не пробежать по утренней росе.

    Дано природе снова повториться
    Лишь через год, всего лишь через год,
    Но прежней той уже не возвратиться,
    Закружит новых листьев хоровод.

    Уж не пронзит смирившуюся душу
    Печать прощанья в музыке дождя.
    И ностальгией наши губы сушим,
    Итоги прошлой жизни подводя.
  {% endfilter %}
{% endblock %}
