{% extends template %}

{% set title = "«Снова дышит земля облегчённо и нежно…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Снова дышит земля облегчённо и нежно.
    Снова травы шумят, ароматом полны.
    Снова сердце поёт, увлекаясь надеждой,
    Снова чайки кричат здесь у невской волны.

    Над такой красотой опускается вечер.
    И в росе вся трава, и туман над водой,
    И девчат голоса, и улыбки, и встречи —
    Город мой дорогой, я любуюсь тобой!
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1963">1963</time>
{% endblock %}
