{% extends template %}

{% set title = "«Бередили души нам поэты…»" %}
{% set workdate = "27.05.2005" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Бередили души нам поэты,
    С жаром говоря про то, про это,
    Заражали воздухом хмельным,
    Выпуская пар и лёгкий дым.

    Заражались мы проблемой света.
    Пишем сами мы про то, про это.
    Но не трогаем крамольных тем,
    Чтоб не стать наживками систем.
  {% endfilter %}
{% endblock %}
