{% extends template %}

{% set title = "«Я вспоминаю нас в те дни нашей весны…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Я вспоминаю нас в те дни нашей весны…
    Как были мы чисты, честны и многогранны!
    И планам юных лет дома были тесны.
    Наивны и просты, мы не казались странны.

    Свет неба был для нас бескрайне голубым,
    И след твоей лыжни надеждою искрился.
    И не было войны, весь мир нам был родным,
    И луч надежд и грёз из наших душ светился.

    Я вспоминаю нас в те дни нашей весны…
    Как были мы чисты, честны и многогранны!
    И планам юных лет дома были тесны.
    Наивны и просты, мы не казались странны.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2002-11">Ноябрь 2002</time>
{% endblock %}
