{% extends template %}

{% set title = "«Вибрируй в жизни звонче и смелей…»" %}
{% set workdate = "17.01.2004" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Вибрируй в жизни звонче и смелей —
    И станешь ярче, чище и мудрей.
  {% endfilter %}
{% endblock %}
