{% extends template %}

{% set title = "«Вот уж осень бросила к моему порогу…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Вот уж осень бросила к моему порогу
    Разноцветье листьев, шорох вялых трав.
    Ах, закрыла тучею светлую дорогу,
    Уронила к ноженькам серебро дубрав.

    Золотая, милая, задержись немного
    Клёном разнаряженным, яркою каймой.
    Самая нарядная ты моя тревога,
    Самая прощальная на Земле родной.

    Дай мне приготовиться, поседеть, осунуться,
    Похудеть, и сгорбиться, и совсем устать,
    Потерять энергию — и с угасшей силушкой
    На пороге к дому вдруг той песчинкой стать.

    А сегодня я ещё заряжусь энергией,
    Защищусь задачею подождать весну.
    Выйдя на пригорочек, с перелётной стаей
    Попрощаюсь бережно, вслед рукой взмахну.

    Возвращайтесь, милые, а я перезимую,
    Хоть астролог шепчет, что близок мой конец.
    Бог в пути хранит вас, я по вам тоскую.
    Сила вся в природе — так сказал мудрец.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1991">1991</time>
{% endblock %}
