{% extends template %}

{% set title = "«Люди, не теряйте своё время…»" %}
{% set workdate = "06.11.2006" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Люди, не теряйте своё время!
    Не теряйте время на Земле.
    И, взвалив на плечи тяжесть, бремя,
    Отдавайте дань своей земле.

    Постарайтесь отыскать дорогу,
    Ту, к которой тянется душа,
    И, с мечтой своей шагая в ногу,
    Та дорога будет хороша.

    Чтоб твоя душа в труде запела
    И друзьям тепло своё дарил,
    Надо, чтоб уверенно и смело
    Ты свой путь надеждой озарил.
  {% endfilter %}
{% endblock %}
