{% extends template %}

{% set title = "«Заболела душа о тебе…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Заболела душа о тебе.
    Как живёшь ты один на Земле?
    Рядом женщина, близок ты ей,
    Только близостью не моей…

    Посмотри — ты увидишь глаза.
    В них — любовь, и весна, и гроза…
    Как боимся дотронуться мы
    До своей сумасшедшей любви!

    Рядом женщина, близок ты ей,
    Только близостью не моей.
    И смотрю я на вас с расстоянья…
    Мне не надо любви подаянья.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1974">1974</time>
{% endblock %}
