{% extends template %}

{% set title = "«Полоса наша чёрная…»" %}
{% set workdate = "03.02.2005" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Полоса наша чёрная,
    Поскорей завершись.
    Воскресенье Господнее,
    Над Россией свершись.

    Над полями бескрайними,
    Над разливами рек
    Будет небо безоблачным,
    Дорогой человек!
  {% endfilter %}
{% endblock %}
