{% extends template %}

{% set title = "«И не стала я Питиримовой…»" %}
{% set workdate = "15.04.2006" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    И не стала я Питиримовой,
    И Иконниковой не стала!
    Очень долго по белу свету
    Я Лобзова Сашко искала.

    Ни Кобзарь, Денисюк, ни Родиной
    И ни Груздевой не пришлось.
    Что хотелось, то не исполнилось.
    Вот и с Букиным не сошлось!

    Говорковой, да и Ефимовой,
    И Устиновой уж не стать.
    Огальцовой, потом Селягиной
    Стали люди меня называть.

    В детстве я была Виноградовой.
    Ассорти — виноград и ад.
    Вот такою дорожкой адовой
    Я пришла в поэтический сад.
  {% endfilter %}
{% endblock %}
