{% extends template %}

{% set title = "Юрию Гагарину" %}
{% set workdate = "12.04.1961" %}
{% set pubdate = "12.04.2008" %}
{% set next = "lidija_seljagina/signs-2-1" %}

{% block content %}
  {% filter poem %}
    Мир земной в изумлении замер,
    Дух захвачен… не верим ушам…
    В высоту, небеса изучая,
    Человек отправляется сам.

    Мир считает не годы — мгновенья…
    Всё ликует, немеет, молчит…
    С необъемлющим изумленьем
    Любит, ждёт и с восторгом следит.
  {% endfilter %}

  {% filter ins %}
    {% filter prose("short") %}
      В тот день над Ленинградом было чистое голубое небо, очень тёплый солнечный день. И люди с восторженными лицами останавливались на улице и в изумлении обращали свои взоры в небо.
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block reviews %}
  {% filter review("Алексей Берестов", "kepalex@udm.ru", "20.04.2008 13:49") %}
    Мне понравилось.
  {% endfilter %}
{% endblock %}
