{% extends template %}

{% set title = "«Не поддавайся и держись…»" %}
{% set workdate = "22.05.2003" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Не поддавайся и держись.
    И не сгибайся, а волнуйся,
    Как та лоза или камыш.
    И йогой чаще тренируйся.
  {% endfilter %}
{% endblock %}
