{% extends template %}

{% set title = "«И нет той лёгкости, и нет того порыва…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    И нет той лёгкости, и нет того порыва.
    И каждый раз смешней весны визит.
    И словно тень бездонного обрыва
    Преследует, и стонет, и грозит.

    Возможны ль радость, счастье, и любимый,
    И море, и цветы, и жаркий пыл?
    А жажда счастья — как огонь незримый
    Среди разбушевавшихся ветрил.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1960">1960</time>
{% endblock %}
