{% extends template %}

{% set title = "«Ещё недели две — и осени дыханье…»" %}
{% set workdate = "10.08.2005" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Ещё недели две — и осени дыханье
    Ворвётся снова к нам, за душу теребя.
    Сегодня в воздухе стоит благоуханье,
    И я не думаю, что завтра ждёт меня.
  {% endfilter %}
{% endblock %}
