{% extends template %}

{% set title = "«Когда в душе твоей вдруг зазвучит…»" %}
{% set workdate = "27.10.2005" %}
{% set pubdate = "17.04.2019" %}
{% set next = "lidija_seljagina/signs-11-1" %}

{% block content %}
  {% filter poem %}
    Когда в душе твоей вдруг зазвучит
    Звук музы верной — ты не дай ей стихнуть.
    Пускай над тёмной силою парит
    Тепло любви. Дай звукам зла утихнуть!

    Угаснет зло, не получив ответа.
    Нейтрализует его лучик света.
  {% endfilter %}
{% endblock %}
