{% extends template %}

{% set title = "«Душа полна воспоминаний…»" %}
{% set workdate = "05.10.2003" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Душа полна воспоминаний.
    Они ласкают сердце мне,
    И память трепетных свиданий
    Вновь зажигает кровь во мне.

    И я лечу к себе, на встречу
    С девчонкой юной, озорной.
    И всё до точечки отмечу,
    И потеряю свой покой.

    И захочу со всеми встречи,
    С кем юность рядышком прошла.
    Но многих нет… И ставлю свечи,
    Чтобы душа покой нашла.

    А мир по-прежнему огромный,
    И синева над головой.
    Я вспоминаю взгляд бездонный
    И встречу… в юности с тобой.
  {% endfilter %}
{% endblock %}
