{% extends template %}

{% set title = "Александре Сарновской" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Всё так же вдаль бежит дорога,
    И дай Вам Бог, идя по ней,
    Не растревожиться глубоко
    В бессонном зареве ночей.

    Не пересвищешь массу нищих,
    Не сможешь всех закрыть собой.
    Пускай над миром ветер свищет,
    И горя миг зовём судьбой.

    У каждого свои колёса
    По рельсам катятся своим,
    А жизнь полна чудес и прозы,
    И путь наш будущий незрим.

    И снова вдаль бежит дорога,
    Даруя жизни новый год.
    Живите радостно и строго,
    Беря основу на учёт.

    Здоровья, радости, тепла,
    И чтоб душа была светла.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1996-03">Март 1996</time>
{% endblock %}
