{% extends template %}

{% set title = "«Природа приготовилась к прыжку…»" %}
{% set pubdate = "17.04.2019" %}

{% block content %}
  {% filter poem %}
  Природа приготовилась к прыжку.
  В воде студёной ноги замочив,
  Примолкла вдруг. Возможность улучив,
  Ещё вздохнула бабьим летом. Взмыв

  Прощальным косяком гусиной стаи
  И сердце пестротой своей оттаяв,
  Усилила щемящую тоску
  По вдаль летящему кленовому листку.

  Шуршит листва, и как бы невзначай
  Ты осени приметы примечай.
  Хотим мы с вами этого иль нет,
  Зима сквозь осень передаст привет.

  Природа знает, что близки снега.
  И сбросит лист, останется нага.
  Покорна, к звукам жизни безучастна.
  Как будто ни к чему здесь не причастна.

  Ах, Боже, как природа терпелива!
  Как крест нести умеет молчаливо.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate">1991</time>
{% endblock %}
