{% extends template %}

{% set title = "«С Новым годом, издательство «Сфера…»" %}
{% set workdate = "29.12.1993" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    С Новым годом, издательство «Сфера»!
    Как тепла нам твоя атмосфера!
    Видит Бог, мы не зря <a href="/lidija_seljagina/bio-66.html" title="У автора есть рассказ об этих событиях">повстречались</a>
    И пока до сих пор не расстались.

    О, как важно по жизни идти
    И <a href="/lidija_seljagina/signs-12-39.html" title="«Диагностика кармы»">хорошую книгу</a> найти,
    Где б системно законы Вселенной
    Отразили всю сущность пути!

    А за книгой стоит человек.
    Трудно знать, какой выпал нам век.
    А ему было Богом дано —
    Суть законов раскрыть суждено.

    С Новым годом, издательство «Сфера»!
    В жизни этой всему дана мера.
    Кто за рамки свои вылетает,
    Тому больно порой попадает.

    Все мы, видно, посланники Божьи.
    Разъясняя причинную связь,
    Очень важно, чтоб ниточка связи
    Беспричинно у нас не рвалась.

    С Новым годом, издательство «Сфера»!
    Дорога нам твоя атмосфера!
    Пусть же книги, рождённые здесь,
    Принесут миру важную весть.

    Всем здоровья и счастья в пути!
    Да храни вас, Господь, впереди!
    Я желаю вам счастья, друзья,
    Хоть есть грани у каждого «я».
  {% endfilter %}
{% endblock %}
