{% extends template %}

{% set title = "«В этой жизни всё, брат, в меру…»" %}
{% set workdate = "22.11.2005" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    В этой жизни всё, брат, в меру.
    Философствовать опасно,
    Разводить свой ум негласно
    И вершить свою премьеру.

    Хватит думать — надо жить.
    Уходить нам в экскурс можно,
    Только очень осторожно,
    Чтоб суметь всё пережить.
  {% endfilter %}
{% endblock %}
