{% extends template %}

{% set title = "«Сегодня я бессовестно-счастливая…»" %}
{% set workdate = "04.03.2007" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Сегодня я бессовестно-счастливая.
    Хоть, может, не богатая, не сильная,
    Но я успела то, что дал Господь,
    Всё людям передать в их разум, в плоть.
  {% endfilter %}
{% endblock %}
