{% extends template %}

{% set title = "«Это неважно, что ты не нужна…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Это неважно, что ты не нужна
    Тому, кто нужен тебе.
    Это неважно. Важнее понять,
    Что ты нужна не себе.

    И до тех пор, пока сможешь помочь
    Хоть чем-то в любой беде —
    До этих пор ты и будешь жить,
    Вставляя свой нос везде.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1993-07">Июль 1993</time>
{% endblock %}
