{% extends template %}

{% set title = "«Ах, болит, болит моя ноженька…»" %}
{% set workdate = "22.07.2005" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Ах, болит, болит моя ноженька!
    Что же сделала я не так?
    Вдаль бежит моя путь-дороженька,
    Но по ней ходить-то мне как?

    Помоги же мне, Боже праведный!
    Подскажи, как быть. Не пойму,
    Как сломалась я силой скаредной.
    И подняться никак не могу.
  {% endfilter %}
{% endblock %}
