{% extends template %}

{% set title = "«Из далёка далёкого…»" %}
{% set workdate = "21.08.2005" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Из далёка далёкого
    Излучается свет.
    Сердца стук синеокого
    И волшебный рассвет.

    Серебристая ивушка,
    Ты склонилась к воде,
    Словно дивное дивушко
    На зеркальной черте.

    Серебристая ивушка,
    Ты осенней порой,
    Как душа-сиротинушка,
    Будешь рядом со мной.
  {% endfilter %}
{% endblock %}
