{% extends template %}

{% set title = "«А под утро вся боль…»" %}
{% set workdate = "26.07.2005" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    А под утро вся боль
    Затихает во мне.
    Кто-то знает пароль
    В предрассветной поре.

    Тишина на душе.
    Замирает Земля.
    И вибраций клише
    Не допустит она.

    Ранний утренний рай,
    Ты — защита моя.
    Луч надежды вселяй —
    Исцеляюсь с ним я!
  {% endfilter %}
{% endblock %}
