{% extends template %}

{% set title = "Молодожёнам" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Чтобы небо было мирным,
    Чтобы солнце было ясным,
    Чтобы свежесть первой встречи
    С вами рядом шла!
    И тогда ничто не страшно:
    Ни метели, ни разлуки,
    А навстречу — жизни звуки,
    Буря счастья, буря муки.
    Ваши трепетные руки —
    Словно два крыла.

    Плачут матери на свадьбах,
    Вспоминая свою юность.
    Не вернуть поры горячей,
    Силы молодой.
    А у вас, ребята, счастье,
    Ваши годы, ваша юность
    И огромный мир, в котором
    Путь ваш непростой.

    Вы с пути сходить не смейте,
    Добивайтесь своей цели.
    Свежесть чувства молодого
    Не предайте, нет.
    А мы вас благословляем.
    Берегите честь друг друга,
    И ни дня вам друг без друга,
    Любовь вам да совет.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1984">1984</time>
{% endblock %}
