{% extends template %}

{% set title = "«Заштопаю свежие дырочки…»" %}
{% set workdate = "30.09.2006" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Заштопаю свежие дырочки,
    Распущу на юбочке выточки,
    И душа моя вновь засветится
    От возможности с Вами встретиться!

    Жизнь на пенсии — многогранная,
    В экономии постоянная.
    И никто ведь не догадается,
    Что во мне весна просыпается.

    Соберём-ка мы сил остаточки
    И, как прежде, присядем на лавочки.
    Посудачим о нашей юности,
    Удивимся пришедшей мудрости.

    Вновь увидим листвы трепетанье,
    Ручейков вспомним вешних журчанье,
    Лета знойные, зимы вьюжные,
    Как мы были кому-то нужные.

    Освежит память душу нежную —
    И вернёмся в жизнь нашу грешную.
  {% endfilter %}
{% endblock %}
