{% extends template %}

{% set title = "«Не обижайся — нечего страдать…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Не обижайся — нечего страдать.
    Твоя жена устанет тебя ждать,
    В постели беспокойным сном уснёт,
    И ты придёшь, уставший от забот.
    И ляжешь рядом. Всё, как дым, пройдёт.

    Вся страсть твоя ко мне угаснет здесь.
    Какой огромный смысл в этом есть!
    И будет всё как надо у тебя.
    И нет здесь вовсе места для меня.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1976">1976</time>
{% endblock %}
