{% extends template %}

{% set title = "«На землю упали сумерки…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    На землю упали сумерки,
    За окнами снег кружится.
    Мой самый родной и ласковый,
    Мне снова сегодня не спится.

    Ты не сердись, хороший мой,
    Что я у тебя такая —
    Смешная девчонка, глупая,
    И всё же — жена родная.

    И не тревожься попусту,
    Что часто ночами плачу.
    С годами становимся мудрыми —
    Сильнее становимся, значит.

    На землю упали сумерки,
    За окнами снег кружится.
    Мой самый родной и ласковый,
    Мне снова сегодня не спится.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1964">1964</time>
{% endblock %}
