{% extends template %}

{% set title = "Отчаявшемуся" %}
{% set pubdate = "17.04.2008" %}

{% block preface %}
  <p class="art__dedic">Саше Мурзину</p>
{% endblock %}

{% block content %}
  {% filter poem %}
    Мы все уснём однажды вечно,
    Вдохнув весь смрад могильных дней.
    Живи, мой друг, молю сердечно.
    Забудь о сути сих сетей.

    Чадра могильная покроет
    Тебя, меня и весь наш мир.
    Но всё потом… Хоть сердце ноет,
    Поверь же в рай блаженных лир!

    Живи, мой друг, молю, мужайся,
    Всели весь оптимизм в себя.
    В науки смело погружайся.
    Взгляни, уж не страшна та тьма.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1960">1960</time>
{% endblock %}
