{% extends template %}

{% set title = "«Как печально смотреть в уходящее лето…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Как печально смотреть в уходящее лето…
    Осень жизни моей, ты уже предо мной.
    Сколько горя оплакано, сколько не спето.
    И зима на пороге уж стоит предо мной.

    Белым саваном землю укроют снега…
    И под снегом усну я спокойно и сладко.
    А по милой Земле льётся жизни река…
    Как бы знать мне оттуда, здесь всё ли в порядке?
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1994-02">Февраль 1994</time>
{% endblock %}
