{% extends template %}

{% set title = "«В год Касьяна не лезь на рожон…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    В год Касьяна не лезь на рожон.
    Сложен мир, накалились здесь страсти.
    Будет каждый на месте сражён.
    Мир сегодня – в космической власти.

    Поднимись, сверху вниз посмотри.
    Что творится! Расчёты, напасти –
    Дрогнул мир. Кто у страсти во власти,
    Могут сгинуть в волненьях Земли.

    Год Касьяна – год страсти и бурь.
    Дай нам Бог пережить эту дурь!
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2000-01">Январь 2000</time>
{% endblock %}
