{% extends template %}

{% set title = "«Ах вы мои ножки, ножки дорогие…»" %}
{% set workdate = "18.11.2003" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Ах вы мои ножки, ножки дорогие!
    Вы меня носили, куда я захочу!
    И шагала я по моей России,
    Думала, что двигаюсь к свету и добру.
  {% endfilter %}
{% endblock %}
