{% extends template %}

{% set title = "«То аптека, то библиотека выручали нас с тобой не раз…»" %}
{% set pubdate = "17.04.2019" %}
{% set next = "lidija_seljagina/signs-6-1" %}

{% block content %}
  {% filter poem %}
    То аптека, то библиотека выручали нас с тобой не раз.
    Душу лечит нам библиотека, тело лечит фармацевта глаз.
    Всё прикинет вежливо, корректно, уточнит причину и наказ.
    И оперативно с комплиментом в дом доставит, выполнив заказ.

    То — аптека, то — библиотека выручали нас с тобой не раз.
    <i>Безвозмездно</i> дарит нам надежду наших бессеребреников класс.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate">2008</time>
{% endblock %}
