{% extends template %}

{% set title = "«По-одному мы в мир иной уходим…»" %}
{% set workdate = "09.09.2006" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    По-одному мы в мир иной уходим.
    У каждого туда своя тропа.
    Порою здесь ответа не находим,
    Но важно нам, чтоб связь времён была.
  {% endfilter %}
{% endblock %}
