{% extends template %}

{% set title = "«Кто в чём сегодня видит красоту…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Кто в чём сегодня видит красоту.
    У молодёжи нашей вкус так тонок.
    Кто видит радость в трудовом бою,
    Кто — в шорохе зауженных юбчонок.

    И чтоб мне лучшим обладать чутьём
    И выбрать в жизни верную дорогу,
    Я поброжу по свету босиком,
    Потом вернусь к родимому порогу.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1960">1960</time>
{% endblock %}
