{% extends template %}

{% set title = "«То питон на шее, то костыли под мышкой…»" %}
{% set workdate = "10.05.2003" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    То <a href="/lidija_seljagina/bio-58.html">питон на шее</a>, то костыли под мышкой.
    Не кажется ли, друг мой, что это просто слишком?
    Но, удивив немало, мой друг мне отвечает,
    Что в женщине-чудачке он души не чает.
  {% endfilter %}
{% endblock %}
