{% extends template %}

{% set title = "«Рождество Христово к нам пришло на землю…»" %}
{% set pubdate = "17.04.2019" %}
{% set workdate = "09.01.2012" %}
{% set next = "lidija_seljagina/signs-12-1" %}

{% block content %}
  {% filter poem %}
    Рождество Христово к нам пришло на землю…
    Просветлели лица, на душе тепло.
    Отдохните, люди, злобу не приемля.
    Хоть на миг поверьте в сказку и добро.
  {% endfilter %}
{% endblock %}
