{% extends template %}

{% set title = "«В год собаки, чур, не драться…»" %}
{% set workdate = "01.01.1994" %}
{% set pubdate = "10.03.2018" %}

{% block content %}
  {% filter poem %}
    В год собаки, чур, не драться,
    Не рычать и не кусаться.
    В стаи, чур, не собираться,
    На призыв не поддаваться.

    Жить спокойно, промышляя
    Для себя и ближнего,
    Чёрных дел не замышляя —
    Вот тогда и выживем.
  {% endfilter %}
{% endblock %}
