{% extends template %}

{% set title = "«Я люблю тишину и её обаяние…»" %}
{% set pubdate = "17.04.2008" %}
{% set prev = "lidija_seljagina/signs-11-49" %}

{% block content %}
  {% filter poem %}
    Я люблю тишину и её обаяние.
    Я ни с кем не делю, всё оставив в себе.
    Я люблю тишину за немые страдания
    И за явственность чувств, что живут на Земле.

    В тишине все слова зазвучат по-особому,
    Задевая за сердце, за струны души…
    Я люблю тишину человеческой ясностью,
    Простотою доверчивой, тишью души.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1975">Конец 1975</time>
{% endblock %}
