{% extends template %}

{% set title = "«Как хорошо забыть о том…»" %}
{% set workdate = "20.10.2004" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Как хорошо забыть о том,
    Что обнищал родимый дом,
    Что разрушается страна,
    Что разгулялся Сатана!

    Как хорошо забыть о том,
    Что вымер целый миллион!
    (Гораздо больше по стране,
    Но всё неважно Сатане.)

    Как хорошо устроить день,
    Где исчезает горя тень,
    Где совесть есть, душа чиста
    И не забыли про Христа!
  {% endfilter %}
{% endblock %}
