{% extends template %}

{% set title = "«Шум мотора мой стон заглушает…»" %}
{% set workdate = "04.09.2005" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Шум мотора мой стон заглушает
    И родных от страданий спасает.
    Или это лишь кажется мне,
    И я — глупый котёнок во тьме?

    Нет беды на Земле никакой,
    Если вдруг в ней найду я покой.
    Но помилуй, Господь, поддержи,
    На плаву хоть чуть-чуть удержи.
  {% endfilter %}
{% endblock %}
