{% extends template %}

{% set title = "«О, как хочу я нужной стать тебе…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    О, как хочу я нужной стать тебе!
    О, как хочу я быть с тобою рядом!
    О, как хочу я другом быть тебе,
    Надеждою твоею и отрадой.

    Бесцветными мне кажутся слова,
    И, как в хмелю, кружится голова,
    И я сама себя не узнаю.
    Я жду тебя, я очень долго жду.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1975">1975</time>
{% endblock %}
