{% extends template %}

{% set title = "«Пылало солнце, раскаляясь…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Пылало солнце, раскаляясь,
    Что было силы землю жгло.
    Колосья, в зёрна наливаясь,
    Стеной стояли. Но оно,

    Виденье это, оборвалось.
    Оркестр вдруг дрогнул, застонал…
    Так сердце биться перестало,
    Так кто-то сиротою стал.

    Она в гробу своём плыла
    По той дороге, где она
    Родилась, бегала, росла…
    Потом семью свою вела.

    Дай Бог, чтоб каждого из нас
    Так провожали в этот час.
    И кто-то плакал и стонал,
    И кто-то песни нам слагал.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1968">1968, Москва, Николо-Урюпино</time>
{% endblock %}
