{% extends template %}

{% set title = "«Кучевые облака…»" %}
{% set workdate = "04.06.2005" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Кучевые облака
    К нам плывут издалека,
    А навстречу кучевым —
    Грозовые, словно дым.

    Вот столкнулись облака,
    С неба падает река.
    А гроза гремит, хохочет,
    Напугать бояку хочет.
  {% endfilter %}
{% endblock %}
