{% extends template %}

{% set title = "«Я на нервной почве вставлю зубы…»" %}
{% set workdate = "09.04.2003" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Я на нервной почве вставлю зубы,
    С тросточкой по городу пройдусь.
    Припомажу чётких линий губы
    И опять на что-нибудь решусь.

    Не подумайте плохого, люди —
    Новая идея душу будит!
  {% endfilter %}
{% endblock %}
