{% extends template %}

{% set title = "«Как будто из другого измеренья…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Как будто из другого измеренья,
    Смотрю на Землю — сверху всё видней!
    Нет, это не земные сновиденья,
    То — отблеск жизни в подлинности всей.

    Отсюда видно всё земное царство…
    Мы, как в качелях… Всё сильней, сильней,
    И ярче, и блистательней коварство —
    И падаем, не удержав страстей.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1993-11">Ноябрь 1993</time>
{% endblock %}
