{% extends template %}

{% set title = "«Я не буду сегодня дерзить…»" %}
{% set workdate = "05.02.2005" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Я не буду сегодня дерзить
    Уходящей эпохе вслед.
    Я не буду гусей дразнить,
    Вспоминая эпоху бед.

    Я сегодня врачую души
    Ореолом большой любви.
    Поудобней садись и слушай,
    Как тепло пробегает в крови.
  {% endfilter %}
{% endblock %}
