{% extends template %}

{% set title = "«Как хороши, как свежи были розы…»" %}
{% set workdate = "29.09.2007" %}
{% set pubdate = "17.04.2008" %}

{% block preface %}
  {% filter ins %}
    {% filter short %}
      По просьбе М. П. Балашова.
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter poem %}
    «Как хороши, как свежи были розы!»
    И я немею, близостью маня.
    Никто не знал, как страшны будут грозы,
    Но помню я, как ты любил меня.

    Я помню всё… Прерывисто дыханье,
    Вечерних зорь прохладная роса,
    Прекрасных роз, судьбы благоуханье.
    И помнит нас весенняя гроза.
  {% endfilter %}
{% endblock %}
