{% extends template %}

{% set title = "«Наконец-то утихла боль…»" %}
{% set workdate = "26.07.2005" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Наконец-то утихла боль,
    И душа моя — вновь на свободе.
    Ты со мной, моя нота «соль» —
    Это значит, я вновь в полёте.

    Помоги, нота «соль», помоги.
    Я люблю твою верность звучанья,
    И с тобою, как в вешние дни,
    Отступают минуты прощанья.
  {% endfilter %}
{% endblock %}
