{% extends template %}

{% set title = "«Белая берёзонька, ты моя ровесница…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Белая берёзонька, ты моя ровесница.
    Ты моя подруженька, мы с тобой друзья.
    Белая берёзонька, ты моя волшебница.
    Все свои секретики подарила я.

    Осенью засветишься желтизной нарядною,
    А к зиме-разлучнице сбросишь свой наряд.
    Всё равно останешься стройною и статною
    Белою берёзкою много лет подряд.

    Мы с тобою будем жить — может, и не верится.
    Я тебе не изменю, мы с тобой друзья.
    Белая берёзонька, ты моя волшебница.
    Все свои секретики подарила я.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1999">1999</time>
{% endblock %}
