{% extends template %}

{% set title = "«Не изменяйте биоритмам сна…»" %}
{% set workdate = "23.04.2005" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Не изменяйте биоритмам сна,
    Иначе не проснётся в вас весна,
    Иначе не разбудит на заре
    Многоголосье в утренней поре —
    И не увидеть красоты земной,
    Так трогательно-чистой и святой.
  {% endfilter %}
{% endblock %}
