{% extends template %}

{% set title = "«Лобелия с настурцией…»" %}
{% set workdate = "07.05.2004" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Лобелия с настурцией —
    Прекрасное содружество,
    Как будто Север с Турцией
    Переплелись в любви.
    Лобелия с настурцией —
    Союз добра и мужества
    До осени седеющей
    До матушки зимы.
    До заморозка первого,
    До зелени редеющей
    Они обручены.
  {% endfilter %}
{% endblock %}
