{% extends template %}

{% set title = "«Не смею Вас тревожить, тревожить, тревожить…»" %}
{% set workdate = "01.04.2003" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Не смею Вас тревожить, тревожить, тревожить.
    Не смею к Вам стучаться в закрытую дверь.
    Но всё же мою душу безмерно тревожит
    Весело звенящая весенняя капель.
  {% endfilter %}
{% endblock %}
