{% extends template %}

{% set title = "«Полетели жёлтые листочки…»" %}
{% set workdate = "24.07.2005" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Полетели жёлтые листочки.
    Улетает лето — вот и точки…
    Улетают радость и забавы,
    И пестреют зелены дубравы.

    Вспыхнут разноцветьем на прощанье,
    Чтоб осталось в памяти свиданье.
    До свиданья, лето, до свиданья.
    Ты даёшь нам сил для созиданья.
  {% endfilter %}
{% endblock %}
