{% extends template %}

{% set title = "«Чтобы в комнатке моей…»" %}
{% set workdate = "22.05.2005" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Чтобы в комнатке моей,
    Маленькой и тесной,
    Не казалась наша жизнь
    Шуткой неуместной,

    Я гитарною струной
    Зачарую души
    И расширю горизонт
    От воды до суши.

    Будет небо надо мной
    Ясным, необъятным,
    А душевные напевы —
    Всем друзьям понятны.
  {% endfilter %}
{% endblock %}
