{% extends template %}

{% set title = "«Полежу немного и прикрою веки…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Полежу немного и прикрою веки.
    Прокручу я мысленно жизнь свою с полвека —
    Что сбылось, что не сбылось, а казалось только.
    Сколько сердцу близкого! А беды-то сколько!
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1994">1994</time>
{% endblock %}
