{% extends template %}

{% set title = "«О, нет, не торопись презреть и отодвинуть…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    О нет, не торопись презреть и отодвинуть
    Старушку иль отца, стоящих на пути,
    Ведь всем нам суждено на этом свете сгинуть.
    И ты идёшь вперёд, и ты уже в пути…

    Так пользуйся умом, возможностью и властью.
    Старайся мудрым быть, ведь душу не спасти.
    Коль сердце заразить животной дикой страстью,
    То через грех земной покой не обрести.

    А как прекрасен мир, хоть сны наши тревожны!
    И дышится легко, и хочется продлить
    Нам срок свой на Земле. Мы стали осторожны.
    И хочется об этом друзей предупредить.

    О, нет, не торопись презреть и отодвинуть
    Старушку иль отца, стоящих на пути,
    Ведь всем нам суждено на этом свете сгинуть.
    И ты идёшь вперёд, и ты уже в пути…
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2002-11">Ноябрь 2002</time>
{% endblock %}
