{% extends template %}

{% set title = "«Снится ветер, свежий ветер…»" %}
{% set workdate = "24.07.2004" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Снится ветер, свежий ветер.
    Он один на белом свете
    Поймёт,
    Как душа моя взлетает,
    С облаками совершает
    Полёт.

    Придавлю щекой подушку
    И скажу судьбе-подружке:
    «Терпи.
    Ты терпи меня такою,
    А я тайны приоткрою,
    Пойми».

    Вроде в такт стучат колёса,
    Но душа проблему вносит:
    «Пусти…»
    И, сливаясь с облаками,
    Обниму весь мир руками:
    «Прости…»

    Растворюсь в бездонном мире,
    Чтобы всплыть потом в эфире,
    Скользя.
    А нельзя ли возвратиться?
    Может, в образе Жар-птицы?
    «Нельзя…»
  {% endfilter %}
{% endblock %}
