{% extends template %}

{% set title = "На выпускном вечере 9-го класса" %}
{% set workdate = "08.06.2004" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Генералиссимус Суворов говорил:
    «В ученье трудно — так в бою легко!»
    Как много неизведанных мерил!
    И выбрать путь сегодня нелегко.

    И если были к вам учителя
    Строги безмерно, тренируя души,
    То станет крепче вас держать Земля,
    И страсть к познанью время не задушит.

    Вся наша жизнь — есть результат труда,
    Ведь ученик — учителя творенье.
    Мы видим, что тяжёлая руда —
    Вся на-гора, как миросотворенье.

    Переосмыслив всё в своей судьбе
    И вспоминая взлёты и паденья,
    Запомнит всё и унесёт в себе
    Ваш ученик, души вашей творенье.
    Пусть эстафетой прозвучит, как гонг,
    Однажды вами поданный урок.

    И я сама — в системе ожиданья.
    С Надеждою на Белый Свет смотрю.
    И всё, что мне даётся в Мирозданье,
    Я каждый миг в душе боготворю!
  {% endfilter %}
{% endblock %}
