{% extends template %}

{% set title = "«То, что было юности дорого…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    То, что было юности дорого,
    То, что было мечтою для нас,
    Мы запомним на время долгое,
    Мы не сможем забыть про вас:

    Про дороги, ручьи говорливые,
    Про дожди, золотой листопад
    И мечты наши детские милые,
    Про чубатых соседских ребят.

    Детство, юность… как птицы, несутся
    Годы самой чудесной поры.
    Пусть же в памяти остаются,
    Не стираются годы весны.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1962">1962</time>
{% endblock %}
