{% extends template %}

{% set title = "«Как хорошо, что надо торопиться…»" %}
{% set workdate = "02.09.2003" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Как хорошо, что надо торопиться
    И знать, что ещё кто-то тебя ждёт,
    Что можно в вихре жизни закружиться.
    Как плохо, когда всё наоборот!
  {% endfilter %}
{% endblock %}
