{% extends template %}

{% set title = "«Ах, Господи! Так хочется к тебе…»" %}
{% set pubdate = "17.04.2008" %}

{% block content %}
  {% filter poem %}
    Ах, Господи! Так хочется к тебе —
    Приблизить взгляд, ловить твоё дыханье
    И, окунувшись в взгляда глубину,
    Душой своей неметь на расстоянье.

    О Небо, я тебя благодарю!
    Блаженно и печально состоянье.
    Как хочется мгновения продлить,
    Душой своей неметь на расстоянье!
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="1992">1992</time>
{% endblock %}
