{% extends template %}

{% set title = "Быль иль небыль я?" %}
{% set pubdate = "05.11.2007" %}

{% block content %}
  {% filter poem %}
    Быль иль небыль я?
    Шепчет море…
    Руки — чтобы в крылья,
    Со скалы — да к воле.

    Птицей с ветром спеть
    За свободу.
    Фениксом сгореть —
    Прахом — в воду.

    Из золы восстать,
    Выпив соли.
    Людям дань отдать:
    Выплакать их горе.

    Небыль — быль былей.
    К праху прах — в огонь.
    Битым был — не бей.
    В рабстве — не неволь.

    «Боль иль неболь я?» —
    Стонет море…
    Сколько же в тебя
    Влито горя!
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2006">Осень 2006</time>
{% endblock %}
