{% extends template %}

{% set title = "«Хочешь, я подарю тебе кусочек лета…»" %}
{% set pubdate = "05.11.2007" %}
{% set prev = "esin/poem-16" %}

{% block content %}
  {% filter poem %}
    Хочешь, я подарю тебе кусочек лета,
    Такой ослепительный, жёлто-зелёно-синий?
    А хочешь, пробежимся по радуге
    И, взявшись за руки, со скалы прыгнем в море?

    А может, мне подарить тебе пригоршни осени,
    С её неестественным ярко-рыжим нарядом?
    Или без спросу мы натаскаем
    Спелых яблок из здешнего сада?

    Я могу тебе, если скажешь ты,
    Подарить белизну зимней вьюги.
    И мы сможем на санках скатиться с горы,
    Думая лишь друг о друге.

    А ты мне подаришь много весны,
    С её первой песней, с рассветом.
    И лес нам прошепчет: «Здесь только вы…»
    Слова его станут заветом.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2004">2004</time>
{% endblock %}
