{% extends template %}

{% set title = "«Глаза в глаза — искра к искре…»" %}
{% set pubdate = "05.11.2007" %}

{% block content %}
  {% filter poem %}
    Глаза в глаза — искра{{acute}} к искре{{acute}}.
    Нет и{{acute}}скры ярче поцелуя.
    Она сказала «да» себе.
    Он помнил, что любил другую.

    Ночь рисовала чертежи
    Построек призрачного счастья.
    Глаза в глаза — искра к искре.
    Друг к другу — толика участья.

    Ласкала океан луна,
    А ветер прошлого рвал нити.
    Она задумчива была,
    Он не желал её обидеть.

    Рассвет вступил в свои права
    И, зачеркнув былого тени,
    Убрал с лиц маски. Лишь тогда
    Они с волненьем посмотрели

    Глаза в глаза — искра к искре…
    Зажглось! Не гаснет! Запылало.
    То утро было как во сне.
    На сладкий сон всей жизни мало.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2005">Осень 2005</time>
{% endblock %}
