{% extends template %}

{% set title = "Юлия Чумакова" %}
{% set pubdate = "03.04.2008" %}
{% set contact = "//vk.com/id3853931" %}
{% set prev = "avgustina/index" %}
{% set next = "kiselev/index" %}
{% set gender = "female" %}
{% set tocBlockHeading = "Стихотворения" %}
