{% extends template %}

{% set title = "Новые флаги" %}
{% set titleDescr = "Рассказ" %}
{% set pubdate = "10.03.2008" %}
{% set prev = "hoholist/string-9" %}
{% set next = "pravednik/steps-1" %}

{% block content %}
  {% filter prose %}
    Депутат расхаживал по кабинету с телефонной трубкой в руке, благодушно улыбался и попивал виски. Естественно, ведь не начальство звонит, а подчинённый отчитывается.
    — Борис Петрович, мы можем потерять избирателей, — тем временем вещал голос в трубке. — У нас нет новых предложений, идём на выборы, по сути, с программой четырёхлетней давности.
    — И что ты предлагаешь? — всё так же благодушно ответил депутат.
    — Нужно что-нибудь новенькое. Креатив, если хотите. Такие предложения, которых нет у конкурентов, но такие, чтобы избирателям понравились. А людям нужны новые флаги!
    — А что, Антон, — удивлённо спросил Борис Петрович, — ты думаешь, нужны новые флаги? А что, бело-сине-красный флаг им не нравится уже? Согласен, простовато, но…
    — Борис Петрович, это же фигура речи такая! Не в прямом смысле! — сокрушался референт депутата. — Нужны новые предложения в законодательной сфере, реформы.
    Борис Петрович разозлился:
    — Так и говори в следующий раз! Не выпендривайся! Интеллигент нашёлся! Подумай над новой программой и перезвони через два часа! — и отключился.
    Депутат Борис Петрович ходил по своему кабинету, расположенному на сороковом этаже, и разминал шею. Затем он подошёл к окну.
  {% endfilter %}

  {% filter prose %}
    У Сигизмунда Ивановича раннее наступление зимы не вызвало никакого восторга. Пока было тепло, можно было переночевать на улице или в подъезде. А теперь — только вокзалы или метро, иначе рискуешь и не проснуться. Он шёл мимо многоэтажного небоскрёба, в котором обитала политическая элита, проверяя мусорные баки и урны в надежде чем-нибудь поживиться.
    Мимо прошёл мальчишка лет пятнадцати. По времени должен быть в школе, только вот шатается по улицам. Его звали Егор. Кстати, в школе он не учился. Времени не было. Мать — алкоголичка, всё пропивает, а кушать хочется… Вот и приходится крутиться…
    Так, он решил, что эта машина в подворотне ему подходит. Огляделся. Натянул на голову капюшон, достал из-за пазухи молоток и разбил окно. Взвыла сигнализация, но Егора это особо не напрягало — не в первый раз он такие штуки выделывает. Мальчишка нырнул в дыру, на месте которой только что было стекло, вырвал магнитолу, полез в бардачок и достал оттуда барсетку. Егор уже собрался вылезать, как кто-то схватил его за ноги и с нечленораздельными криками вытащил из машины. Это был владелец. Он кричал и бил Егора руками, ногами. Очень сильно. В какой-то момент Егор увернулся, достал молоток. Удар… Второй, третий… Он бил этого человека, пока не кончились силы, он бил и ревел… Бил и ревел…
    Потом он побежал оттуда очень быстро. Бежал, бежал, а потом почему-то остановился напротив большого небоскрёба. Посмотрел на это здание и заплакал… Кто-то в день зарабатывает столько, сколько Егору хватит на месяц. А он, чтобы не подохнуть с голоду, сегодня убил человека…
  {% endfilter %}

  {% filter prose %}
    Патрис тоже был не рад зиме. Просто холодно очень, а там, где он родился, холодно не бывает. И вообще он очень смешно выглядел в рукавицах и ушанке. Но, несмотря на холод, сегодня парень был в хорошем настроении. У него было первое свидание с девушкой, которую он добивался целый год. Только в России возможно, чтобы принц целый год бегал за обычной девушкой.
    В своих мечтах и фантазиях Патрис не заметил, как за ним увязались четверо бритоголовых. И когда он замедлил шаг, увидев девушку, к которой шёл, бритоголовые с криками «Слава России!» налетели на темнокожего Патриса. Он пытался сопротивляться, но шансов не было, в него воткнули нож. Его девушка кричала, бежала со всех ног.
    Патрис умирал у неё на руках. А бритоголовые, сделав своё дело, скрылись. Через дорогу стоял небоскрёб, и девушка кричала людям, выходившим из него, чтобы вызвали «скорую», но её не слышали. Или не хотели услышать…
  {% endfilter %}

  {% filter prose %}
    Борис Петрович из своего офиса наблюдал прекрасную картину: голубое небо, красивые дома, дорогие машины…
    «Зачем нам новые флаги? — подумал он. — И так неплохо живём».
  {% endfilter %}
{% endblock %}
