{% extends template %}

{% set parentTitle = "Антисумерки. Блог вампира. Часть I" %}
{% set title = "Глава вторая. Закрытая книга" %}
{% set pubdate = "23.06.2012" %}

{% block heading %}
  <h1 class="art__title">Антисумерки. Блог вампира</h1>
  <p class="art__title-descr">Часть I</p>
{% endblock %}

{% block content %}
  {% filter prose %}
    Вечером я спустилась на первый этаж, к папе. Его, да и меня, вообще-то, тоже, страшно напрягало то, что мы никак не можем нащупать общую тему для разговора. Пыталась заговорить о чём-то я — и он начинал смущённо заикаться и терять нить беседы. Пытался предложить тему он — и уже через минуту я понимала, что не понимаю, чего он от меня хочет.
    Чего он вообще хочет!
    — Надя, а помнишь, когда тебе было семь лет, вы приехали на целое лето, и ты здесь сдружилась с Верочкой Захарченко? — бодро завёлся папа, улыбчиво радуясь тому, что нашёл наконец благодатную тему.
    Забыл, что она была первой и единственной, которую мы с ним обсудили очень даже живо в самом начале вечера.
    — Ага. Помню.
    — А потом вы уехали, а Вера три раза пыталась сбежать в Дзержинск, чтобы уехать в Москву.
    — Ага. Ты говорил. Минут сорок назад.
    — Да? Да… кхм…
    После внушительной паузы я сделала не помню какую по счёту попытку завязать разговор:
    — А у вас тут супермаркеты есть?
    — Э, кхм… не дума… то есть, у нас замечательный военторг, да, там есть всё…
    — А какие бренды аксессуаров там представлены?
    — Бре… ак… что?
    — Ничего…
    Мы сидели на просторной кухне, ждали, пока пропекутся приготовленные папой кексы. Я размышляла о том, что новенькие поваренные книги на полке рядом с солонками и перечницами явно предназначаются для меня, не умеющей готовить, и в них наверняка полно картинок и пошаговых руководств по приготовлению тостов и яичницы с беконом.
    — А я что-то вспомнил сейчас, как тебе нравилось за нашим соседом Иваном наблюдать, когда он по улице ездил. Помнишь, у него был велосипед «Салют», и ты могла часами крутить заднее колесо, когда он его переворачивал, и говорила, что, когда вырастешь, такой же себе заведёшь…
    — Пап…
    — Да?
    — Знаешь, что…
    — М-мм…
    — Давай не будем напрягаться и пытаться беседовать. Чем больше будем стараться, тем хуже получится.
    Папа улыбнулся:
    — Ну давай попробуем!
    И мы в полной тишине дождались, пока кексы как следует подрумянятся.
    За это время я почти без папиных подсказок разогрела макароны и подливку, которые обнаружились в холодильнике. Они еле заметно пахли Валентиной Петровной Захарченко, да и вообще по дому из угла в угол перетекал аромат её духов, из чего я сделала вывод, что она тут очень частая гостья.
    Или живёт с папой, но съехала, узнав о моём появлении.
    Надо будет сказать им, что я ничего не имею против личной жизни моих родителей. Пусть, что ли, тётя Валя возвращается… по меньшей мере, этим она избавит меня от необходимости осваивать кулинарную премудрость.
    Кстати, подливка оказалась просто великолепной.
    Ночь прошла кошмарно. Я никак не могла уснуть на новом месте. Всё было таким непривычным! И этот сильный смолистый запах досок, переплетающийся с ароматами соснового бора, начинающегося чуть ли не от выходящих в сад окон, и запахи проточной воды, и городской свалки, и свежего навоза, и пегой нахалки Упы в дощатом сарайчике, и немецкой овчарки Бурана в побелевшей от времени будке… я помнила, как маленькая лазала к нему туда прятаться, играя с мамой, и обижалась, когда меня быстро находили. Ещё не понимала, что мама всегда и везде отыщет меня по запаху.
    Жгучими слезами накатило отчаяние.
    Кажется, я только теперь по-настоящему поняла, что Фролищи — это серьёзно. Что мне действительно не удастся сбежать отсюда по осени и я не приду в свою родную гимназию хвастать ровным загаром и свежим цветом лица, обретёнными на козьем молоке и качественной донорской крови. И мама не сжалится надо мной. Она лучше материально поможет при поступлении в вуз, чем будет заботиться о том, чтоб последний мой учебный год прошёл среди друзей…
    Хотя, чего уж там, друзей у меня как раз и не было. Сколько себя помню, девчонки меня избегали и сторонились по непонятной для меня причине, а мальчики расценивали вначале как объект для травли, а потом, когда стали постарше, — для любви. Что я, виновата, что ли, в том, что среди моих одноклассников так и не нашлось ни одного нормального человека, способного разглядеть за отличной успеваемостью, приятной ухоженной внешностью и стильной одеждой мою тонкую натуру? Мою потребность быть ласковой и нежной… трепаться вечера напролёт по телефону про то, что сказал Вася, как посмотрел Петя и какая стерва эта Маринка… ходить на концерты в филармонию и на премьеры американских блокбастеров, выезжать на «Нашествие» и фестиваль воздухоплавания…
    А вот Вера Захарченко, наверное, не будет обращать внимание на то, во что я одета и какой фирмы у меня босоножки, в каком салоне мне делали педикюр и сколько карат в бриллиантах моих серёжек. Я их, кстати, тут и носить не буду.
    Так, за горестными мыслями, постепенно переходящими в планы на ближайшее будущее, меня и сморил сон.
    С вечера я забыла задёрнуть шторы, и поэтому проснулась утром от лезущего в глаза солнца. Бррр… не люблю так просыпаться. Надо впредь быть осторожнее.
    В утреннем свете, заряженная незамутнённым позитивом самого начала дня, комната показалась чуть приятнее, чем накануне. Мягкий ковёр щекотал ноги, пробуждал странное желание: упасть на него и покататься, как катаются кошки по траве. Папа тихо напевал что-то, звеня посудой на кухне. Я сходила умылась, разобрала вещи, скинутые в чемоданах в шкаф. Надолго застряла перед зеркалом, выбирая наряд. Остановила выбор на потёртых джинсовых шортах и короткой оранжевой маечке, цвет которой придавал живости моим глазам и волосам. Немного подумав, всё-таки подкрасила веки и ресницы. Папа не заметит краску, а взгляд будет более выразительным.
    На кухне меня ждали папа с любящей улыбкой и комплексный завтрак из горячо ненавидимой овсянки со свежей малиной. Судя по тому, что рядом с тарелкой, полной овсянки, стояла моя чашка с крышечкой, это питательное витаминное блюдо предназначалось для меня.
    На другом конце узкого стола стояла тарелка с жареной колбасой и вчерашними макаронами с подливкой.
    Я без раздумий подтянула к себе колбасу с макаронами.
    — Доброе утро, папа!
    — Доброе утро, милая. Ты… уверена, что…
    — Ага, там макарон оставалось много, и подливки тоже, доставай, разогревай… кстати, почему ты сразу на двоих не согрел? Думал, я поздно встаю?
    — Н-нет, думал, вы с Кариной привыкли к здоровому образу жизни…
    — Па, мой здоровый образ жизни — это вкусная и неполезная еда каждодневно плюс двести пятьдесят граммов крови раз в месяц.
    Папа побледнел.
    — Но… овсяные хлопья, они определённо полезнее, чем…
    — Пап, ты же не хочешь, чтобы моё существование здесь стало совсем серым и безрадостным?
    Папа вздохнул и взял тарелку с овсянкой. Поковырял её пару минут, махнул рукой, отставил в сторону и пошёл за колбасой.
    Я, расправившись с едой, вылавливала малину из овсянки. Наблюдала за папой. Изредка мы встречались взглядами. Он смотрел робко и как-то жалобно. Я старалась, чтобы в моём взгляде было больше уверенности.
    Должен же хоть кто-то в семье сеять позитив.
    Конец первого семейного завтрака ознаменовало удивительное событие.
    Папа, преисполнившись значительности, встал передо мной, я невольно поднялась за ним следом, он возложил широкие ладони мне на плечи и торжественно проговорил:
    — Надя! Я подумал о том, что, раз ты переехала жить во Фролищи, тебе не помешает собственный… собственное средство передвижения.
    Я почувствовала, как уголки губ тянутся вверх и в стороны:
    — Ой, папа! Это правда?!
    — Да, конечно, милая.
    Я не верила своим ушам. Не думала, что у папы хватит средств купить мне автомобиль, а ведь, если ушам всё-таки поверить, он сделал это!
    — Папочка… а где…
    Окна моей комнаты выходили одно на улицу, второе во двор, и ещё утром я смотрела в оба и не видела никакой машины. Вряд ли папа приобрёл что-нибудь из того, что мне нравилось, но, думаю, на первое время, да ещё и во Фролищах, мне бы хватило чего-нибудь попроще. Например, «Лады-калины»… нет. Для папы она неподъёмна по цене. Может быть, что-нибудь малолитражное и бэ-у… «Ока»… мысли, в принципе, безрадостные, всё равно подняли моё настроение до заоблачных высот.
    Папа всё ещё держал меня за плечи, поэтому ему не составило труда развернуть меня и вывести во двор, закрывая мои глаза ладонями.
    — Но где…
    — Здесь, у порога.
    У порога, радостно сверкая свежей краской и всеми спицами, стоял велосипед.
    «Салют».
    Я так и села. Да, я в буквальном смысле этого слова села на порог, чтобы не свалиться с него.
    — Папа… — голос был не моим. — Папа! Что это?!
    Он присел за моей спиной на корточки:
    — Ну… ты не рада?
    — Ты ещё спрашиваешь, — сквозь отчаянно стиснутые зубы выдавила я и, перепрыгнув через папу, рванула к себе в комнату.
    Ох и досталось моей подушке! Перья припорошили всё и вся, а я, разрывая наперник на ленточки в полсантиметра шириной, мечтала, что вот сейчас оторву последнюю и спущусь вниз.
    Выдерну спицы, все, все, до единой… я знаю пару тёплых мест, где им понравится!
    Ворох перьев, получив от меня волшебный пендель, кружил по комнате, меняя цвет ковра. Оценить масштабы предстоящей уборки было несложно.
    Папа вздохнул на лестнице у дверей моей комнаты.
    Ну ёлки-палки!
    Щёки запылали от стыда. И уши.
    И за что я с ним так? Он же хотел как лучше.
    Я тихо выбралась на лестницу. Стайка пёрышек выпорхнула за мной, пара кудрявых прицельно легла на лопатки к папе.
    А ведь он и правда ангел.
    Прижавшись горячей щекой к его плечу, я долго-долго молчала в сумраке лестницы. Потом тихо-тихо, робко-робко попросила прощения. И он обрадовался, как ребёнок, и чуть не на руках отнёс вниз, предложил устроить праздник по случаю примирения.
    Я смаковала ледяную минералку и думала. Мысли, поначалу тяжёлые и неповоротливые, становились всё легче.
    Нет, ну правда же, то, что мы не в силах изменить, мы должны принимать. И если судьба дарит нам бесперебойную поставку лимонов, это знак, что пора открывать фабрику по производству лимонада.
    — Па…
    — Да, милая?
    — Я пойду, то есть поеду, покатаюсь.
    Он просто просиял:
    — Хорошо, милая! Только не отъезжай далеко!
    Я бы, может, и рада была отъехать подальше, да, видимо, не судьба.
    Чуть ли не у самого порога мне встретилась смутно знакомая парочка. Я определённо видела их обоих раньше. Очень высокий и очень худой парень лет семнадцати с короткими чёрными волосами и тёплыми серыми глазами за выпуклыми стёклами очков а-ля Гарри Поттер и девушка ростом ему до уха, то есть на полголовы выше меня, с толстой русой косой до пояса, чуть раскосыми светло-карими глазами и телом Мишель Брент, одной из рельефнейших культуристок. Лёгкий шифоновый сарафанчик смотрелся на её фигуре нелепо, больше подошёл бы парадный купальник для соревнования.
    Составив одну ногу на землю, я подождала, пока парочка подойдёт ближе, мысленно примеряя на неё имена тех, кого здесь можно встретить — из тех, кого знаю.
    — Вера? — спросила я девушку, когда она уже почти поравнялась со мной. — Вера Захарченко?
    Девушка широко улыбнулась:
    — А я-то уж думала, не признаешь! Ну ты, столичная штучка!
    Чудом удалось сдержаться и не увернуться от дружеского похлопывания по плечу, которое, несмотря на внушительность бицепса похлопывающей, оказалось почти невесомым.
    — Мне кажется, ты… несколько изменилась, Вер!
    — Да, есть немного. Знакомься, это Фил, мой будущий муж. Фил, это Надя Лебедева, помнишь, я тебе про неё говорила?
    Юноша закивал часто-часто, чуть не роняя очки, и очень приятно улыбнулся. Его круглое бледное лицо, ничем не примечательное, меня бы в жизнь не привлекло, а вот поди ж ты — будущий Верин муж.
    — И когда свадьба? — нелепо спросила я.
    А они смутились, порозовели, взяли друг друга за руки, переглянулись… похоже, ничего нелепого для них в моём вопросе не было!
    — Мы думаем, на следующий год, — красивым баритоном сказал Фил.
    — Или ещё через годик, — подтвердила Вера. — А ты надолго к нам?
    Пришлось задуматься. Ответила предельно честно:
    — Не знаю. Наверное, как раз на годик…
    Дальше осматривать окрестности я отправилась в компании Веры и её жениха.
    По улице Школьной, как, впрочем, и по любой другой пересекающей посёлок, можно было быстро добраться до речки, что мы и сделали.
    Лух Великий впечатлял. Не слишком широкий, но извилистый, он неторопливо тёк куда-то по своим делам. И вода в нём меняла цвет в зависимости от угла зрения, казалась то синей, как небо, то коричневой, как шоколад. И тот, и другой оттенок прекрасно сочетались с сосновым бором по обоим берегам и белым-белым песком.
    Мы вышли на поросший рогозом бережок чуть левее песчаного пляжа, Вера мечтательно прислонилась к худенькому плечу Фила, и он ласково обнял её:
    — Не замёрзла, моя маленькая?
    — Нет, мой хороший, а ты?
    — Нет, солнышко!
    Мне сделалось неловко. Всё-таки приятного мало — быть третьей лишней, особенно когда у людей настоящее чувство. А в том, что Вера и Фил друг друга любили по-настоящему, сомнений у меня не возникало.
    Пока я раздумывала, стоит ли прямо сейчас раздеваться до купальника и прыгать в воду, издалека к нам приближалась девчачья разноголосица. Влюблённые не замечали её, а вот меня немного напрягло то, что с минуты на минуту могут появиться здешние мои ровесницы, а я…
    В купальнике прошлогодней коллекции! В таком неприглядном виде! В первую встречу!
    Я посмотрела внимательно на Фила и Веру, подумала, что моего недолгого отсутствия они заметить не должны, и быстро-быстро закрутила педали «средства передвижения», позорнейшим образом удирая… нет, стратегически отступая с пляжа.
    Мне надо было переодеться. Зря я, что ли, скупила чуть не всю коллекцию купальников Бич Банни Свимвер!
    Вернулась на пляж я уже пешком. На велосипеде, да ещё на таком, смотрелась бы крайне странно, ведь на мне теперь были бело-золотые босоножки, взбирающиеся переплетением шнуров до самого колена (не будешь приглядываться — не заметишь пристроившихся с внутренних сторон ног молний), белый купальник, весь расшитый золотистыми цепочками (последняя коллекция Анжелы Читтенден!), и парео натуральной тигровой расцветки. А укладка!.. А макияж!..
    На берегу уже расположились здешние девчонки. Я насчитала четверых ровесниц, пока приближалась к ним грациозной походкой древнегреческой богини. Нет, пожалуй, богини ходили более чопорно, а я старательно подражала шагу живой тигрицы, завидевшей вдали подходящего самца.
    Правда, ни одного подходящего мне лично в радиусе километра не наблюдалось.
    Девочки меня тоже заметили, перестали раскладывать на песке какие-то пёстрые коврики, корзинки, от которых за версту несло дикой смесью запахов средств для загара, коровьего молока, варёной колбасы и свежих булок.
    Я помахала им ручкой, на ходу освобождаясь от парео. Невесомая тигровая шкура с шёлковым шелестом опала к моим ногам, сопровождаемая завистливыми взглядами.
    Да! Именно таким и должно было стать моё первое появление на этом пляже!
    — Всем привет! — и я по-настоящему приветливо кивнула. — Давайте знакомиться. Меня зовут Надежда. Надежда Лебедева. Я намерена провести с вами ближайший год моей жизни.
    — Это ты дочка Фёдора Борисовича? — настороженно переспросила высокая нескладная девица лет семнадцати на вид, огненно-рыжая и слишком веснушчатая, несмотря на шоколадный загар. Ей определённо не стоило брать раздельный купальник с поролоновыми чашечками. Слишком заметна была пустота в них.
    — Да, — кивнула я. — А ты…
    — А я Катя. Катя Болотова. Ну завмага нашего дочка.
    — Я ещё плохо знаю город, — улыбнулась я. — Пока магазинов не заметила вовсе.
    Они всматривались в меня, силясь понять, издеваюсь ли я, шучу ли или говорю совершенно серьёзно.
    — Приятно познакомиться, Катя! А тебя как зовут? — мой вопрос был обращён к низенькой полноватой блондиночке с очаровательными голубыми глазами.
    — Валя! — бойко ответила девочка. Она казалась самой юной в этой компании. Полнота её была из разряда той, которой стоит позавидовать. А эти ямочки на розовых щёчках, а эти вены под прозрачной белой кожей…
    Надо будет вечером крови попить. А то что-то от переживаний аппетит разгуливается.
    — А я Оля, — представилась девушка одного со мной роста и весьма бледной при всём загаре наружности. — А это моя сестра Света.
    Света была чуть более ярким, улучшенным, если можно так сказать, вариантом, да и глаза не светло-серые, а тёмно-серые.
    — Рада познакомиться с вами, девочки, — ласково пропела я, изящно расстёгивая босоножки. — Идёмте плавать?
    Завистливые вздохи мои новые знакомые проглотили, но с завистливыми взглядами ничего так и не смогли сделать. Я купалась в них. Наслаждалась ими. Даже не заметила, была вода тёплой или холодной!
    А когда Вера на крейсерской скорости наплыла на меня и попыталась не то утопить, не то подбросить, а в это время Фил и Света с Олей в шесть рук оттаскивали её, а Катя и Валя дуэтом визжали, когда я вывернулась из-под Веры, нырнула и стала тянуть её за ноги на глубину, всем уже было без разницы, какой фирмы на ком купальник.
    На берегу всё вернулось на круги своя. Девочки-аборигенки — к своим пёстрым коврикам, а я — к Филу и Вере. Вскоре появилось ощущение витрины. Будто меня выставили на продажу и все фролищенские девчонки рассматривают, прицениваются.
    Что ж, любуйтесь. Это бесплатно.
    Загорая на пляже, я применяла где-то вычитанную «старую индейскую хитрость»: старалась прикрыть глаза так, чтоб не видеть противоположного берега. И получалось море. А что? Песок — белый, море, то есть речка, кажется синей и безбрежной, можно внушить себе, что это где-нибудь на Сейшелах.
    Вот только неоткуда взяться сказочным принцам, страстным мачо, галантным кавалерам и прочим видам парней, которых можно будет разделять на блондинов, брюнетов и рыженьких, стройняшек, пончиков и шварцнеггеров… зато подтянулись ещё человек пятнадцать местной мелюзги, девчонки и мальчишки в возрасте от пяти до двенадцати лет. Что ж их тут так мало-то, людей вообще?
    Фил, по которому можно было изучать строение человеческого скелета, веретеном вертелся под боком у Веры, растянувшейся прямо на песке рядом со мной. По ней можно было изучать строение мышц. Она заметила мою хитрость, повторила манёвр и рассмеялась.
    — Вер, а скажи, как тебе пришла идея заняться бодибилдингом?
    Она усмехнулась, ласково притянула к себе Фила, шлёпнула по низу спины:
    — Ляжь спокойно и не ёрзай! До земли песок разбросаешь…
    Рельефная девушка принялась кончиками пальцев легонько массировать голову друга, и он затих.
    — Я тебе расскажу, Надь, но ты можешь не поверить.
    — А ты расскажи!
    — Ну так слушай. Это было… наверное, как раз когда я хотела сбежать в Москву. Ты уехала, тут было дико скучно, эти вон, — она кивнула на дремлющих девчонок, — со мной разговаривать не хотели, как же так, приехала тут какая-то из Мугреевки! А тут в военную часть перевели одну семейную пару, молодых, таких красивых. Елена Дмитриевна тогда ещё только-только из института была, хореограф, сказала, что будет в здешней школе уроки танцев давать всем желающим. А её муж сказал, что, опять же, всех желающих научит качать мышцы.
    Я плохо помнила то лето. Я вообще никогда не стремилась запоминать Фролищи и всё, что с ними связано. Но Веру помнила. Она была хрупкой девочкой чуть ниже меня ростом, с такими же выдающимися, как у Валентины Петровны, зубами и прыгучими манерами. Куда что делось? Только глаза и остались прежними.
    — И как-то раз я набралась смелости и отправилась записываться в кружок танцев. Иду себе, мечтаю, как буду кружиться в широкой юбке, как будут вертеть попой в ритме ча-ча-ча…
    — А тут на пороге — я! — вставил своё веское слово Фил и замурлыкал от удовольствия.
    — Да. Фил шёл записываться на бодибилдинг. Мы друг друга увидели…
    — Я сразу же взял её за руки…
    — Ты не представляешь, Надя, у него такие нежные руки!..
    — И мы пошли записываться вдвоём.
    — Я не помню, что мы говорили?
    — Я тоже не помню, ты была рядом, и мне было всё равно!
    — Какая разница! Главное, что в итоге я оказалась записанной на бодибилдинг, а Фил — на танцы. И мы даже не стали перепрашиваться, решили, что нет никакой разницы, кто чем занимается.
    — И мы не жалеем, ни капельки… — Фил ещё раз мурлыкнул, расплавился и впитался в песок.
    — Какая интересная история, — вежливо поблагодарила я.
    А сама подумала, что ни за что не стала бы заниматься не тем, чем хотела! И то, что Вера с Филом так легко отказались от своих решений и мечтаний, поставило им жирный минус в моей «табели о рангах».
    Я снова смотрела на речку, представляя море, когда вдруг из-за правого поворота Луха вырвался белый фонтан брызг, и тут же ещё один, и ещё! Это кто-то плыл баттерфляем. Сильные взмахи рук поднимали красивые веера брызг, загорелое тело волнообразными движениями посылало себя вперёд, по-дельфиньи взлетая на миг над водой и снова скрываясь под ней.
    Следом за первым пловцом показался второй. Потом третий, четвёртый…
    Девчонки зашевелились, до меня долетел шепоток: «Клюевы-Клюевы-Клюевы…»
    Фролищенские красавицы, ещё вчера не подозревавшие о моём существовании, пытались испепелить меня гневными взглядами. Казалось, они только теперь полностью осознали, чем им грозило моё появление.
    Я улыбнулась и облизнулась.
    Клюевы подплывали к нашему пляжу.
    Вера и Фил аккуратно и чётко сворачивали полотенца и одевались.
    — Ты хочешь остаться? — холодно спросила Вера.
    — А что случилось? — ответила я вопросом.
    — Это же… Клюевы!
    Передать всё отвращение, которое она умудрилась вложить в одну фамилию, не получилось бы даже у моей мамы. А уж она-то у меня мастер по части интонаций!
    — Ну… а что с ними не так?
    — Да всё с ними так, — хмуро ответил Фил. — Просто мы с ними не знаемся. А ты как хочешь.
    Я что-то начинала понимать.
    Клюевы по одному выходили на пляж. Их было семеро, и я невольно сравнивала их с семью богатырями. Высокие, статные, просто симпатичные и откровенно красивые, они вполне могли заменить собой тех разнообразных парней, об отсутствии которых я не так давно сожалела. Но, похоже, сейчас мне предстояло сделать выбор: общение с Широковым и Захарченко или общение с их врагами Клюевыми.
    Интересно было бы узнать, с чего брала начало их вражда? Мельком глянув на Верины бицепсы и трицепсы, мысленно усмехнулась. Чего уж тут интересного, небось в одном бодибилдерском кружке качались-качались, да и повздорили из-за того, что Вера предпочла им какого-то задохлика.
    И тут она удивительно мягко и неожиданно тепло проговорила:
    — Не обижайся, Надь, но мы не можем тебе рассказать… по меньшей мере, сейчас не можем рассказать, в чём тут дело. Если ты решишь остаться с ними сейчас, мы не обидимся, честное слово! Вечером тогда звякну, если будешь свободна, покажем тебе развалины химкомбината. Знаешь, как там по ночам круто?
    — Угу…
    Меня хватило только на этот оторопелый возглас. Полюбовавшись контрастной парочкой, на первой космической скорости покидающей пляж, я снова всмотрелась в Клюевых.
    Они не подходили ближе к возбуждённым их присутствием девушкам, хотя глаза Светы, Оли, Веры и Кати уже приняли форму пульсирующих сердечек.
    А мои — нет!
    Я лениво потянулась, и тоненькие цепочки заскользили по груди… ну по верхней части купальника, но она же где? На груди! А моё левое бедро сейчас выглядело куда интереснее правого, потому что по нему тоже вились золотистые цепочки. Именно левое несколько раз ненавязчиво вильнуло, пока я потягивалась.
    Ага! Есть.
    Семь пар глаз буквально впились в меня, и в душе поднялось ликование. Ура-ура! И во Фролищах мне есть с кем пофлиртовать!
    Пока я раздумывала, переворачиваться ли на живот и каким образом это делать или откинуться на спину, забросив руки за голову, и как именно согнуть при этом ноги, мой нос уловил очень странный, ранее ни разу не попадавшийся запах.
    Так пахнет в жару ванильное мороженое.
    Так пахнет восхитительно мягкое мясо под сложным соусом, которое готовит моя мама…
    Так пахнет вода для умирающего от жажды…
    Жажда! Она накатила так внезапно, что даже свело живот.
    Я замерла, принюхиваясь, стараясь понять, откуда идёт этот умопомрачительный аромат, от которого мне так хочется крови.
    От крови он и идёт… вопрос только — от чьей?
    Так. Как говаривал Шерлок Холмс, всё элементарно, Ватсон. От девчонок так пахнуть не может, потому что их я уже нанюхалась вдоволь. Значит, от семерых богатырей.
    Спрашивается, о каком флирте может идти речь, если я буду расценивать их как еду?!
    Я скользила взглядом по лицам и фигурам и буквально видела кровь, которой пропитаны эти тела. Облизывалась. Сдерживалась, чтобы не наброситься на них, на всех семерых разом.
    Юноша, который вышел на берег последним, ничем особенным не выделялся на фоне своих шестерых братьев. Такой же загорелый, подтянутый, в таких же белых плавках, может, только стрижка, когда подсохнет, будет менее аккуратной.
    Но мы встретились взглядами, он улыбнулся… и я пропала. Более прекрасной улыбки не видела никогда на свете! И даже не могла улыбнуться в ответ: мои клыки выдвинулись так, что их сложно было прятать под сомкнутыми губами.
    Я отвернулась.
    Вот теперь точно — позорное бегство.
    Что будут думать обо мне эти чарующе прекрасные богатыри, этот юноша с божественной улыбкой, озаряющей всё его лицо чистым светом, с ясными глазами цвета чёрного опала…
    Пока ещё могла управлять собой, пока ещё мои движения оставались грациозными, может быть, чуть нервными, пока можно было не бежать бегом прочь с пляжа, я встала, подобрала парео, пляжную сумку и ушла. Может, чуть быстрее, чем хотелось бы.
    Чем дальше отходила от пляжа, тем слабее становился пьянящий аромат крови Клюевых.
    За вечер я выпила целый пакетик крови. Мне всюду мерещился запах, настигший у Великого Луха, а перед глазами стояла улыбка. Улыбка Клюева. Умопомрачительная. Манящая. Мне казалось, что я поглаживаю обложку закрытой книги в предвкушении захватывающих приключений, таящихся внутри неё.
    Запретной книги.
    Ведь не дают же маленьким детям читать «1001 ночь» в полном варианте!
    Но я не маленькая. Мне можно. Я открою. Хоть ненадолго. На пару строчек. Только самое интересное. И всё, и закрою, и отложу на дальнюю полку, и не притронусь больше…
    Это была пытка. Я знала, что не позволю себе прикоснуться к этой книге. Потому что это не книга! Человека нельзя открыть — надкусить — полистать — попить — и закрыть — заклеить ранку пластырем.
    Тем более человека, у которого кровь так пахнет.
    Попробую — ведь досуха выпью, не остановлюсь.
  {% endfilter %}
{% endblock %}
