{% extends template %}

{% set parentTitle = "Антисумерки. Блог вампира. Часть I" %}
{% set title = "Глава восемнадцатая. Охота на кролика" %}
{% set pubdate = "23.06.2012" %}

{% block heading %}
  <h1 class="art__title">Антисумерки. Блог вампира</h1>
  <p class="art__title-descr">Часть I</p>
{% endblock %}

{% block content %}
  {% filter prose %}
    Ветерок мягко подталкивал меня в спину, словно направляя в сторону дороги. А Эдику он сейчас бил в лицо, я просто чувствовала, как он летит, не чуя ног, среди сосен, перепрыгивая кусты, молодые сосенки, папоротники… похоже, он сам испугался собственной смелости и теперь переживал время отходняка. Помнится, я как-то раз тоже решила съездить к маме на работу. Я училась тогда в первом классе и мужественно выдержала одинокое путешествие в метро, используя в качестве путеводителя поговорку о языке, доводящем до Киева. А когда моя мама, лучась радостью, что вырастила такую самостоятельную девочку, бросилась обнимать меня, я позорно разрыдалась и не могла успокоиться ещё часа полтора. Слезами изливались все те жуткие дядьки и тётки, встретившиеся на пути, кошмарные поезда метро, ужасы улиц в час пик…
    Так и Эдик сейчас. Он был умён и смел, силён и ловок, охотясь на своих родичей, тем более, рядом была я и, как могла, помогала ему находить очередные жертвы. Теперь же вдруг оказалось, что мы заблудились, и выводить нас из леса придётся ему одному. А охота уже закончилась! И метко стрелять больше не нужно, да и ружьё-то он сам же и разбил о голову братца, и вообще… вокруг — чужой, враждебный лес, полный всяких там Косичкобородцев…
    И зачем он только появился в моей жизни, этот «сладкоголосый певун»! Чего от меня хочет?
    Приближалась опушка леса, ветер становился крепче, конечно, всё меньше и меньше преград на его пути. Беззаботно перекликались птицы, вдали стали слышны голоса Клюевых, и я прибавила шагу.
    Эдик… что Эдик? Если что, я найду его за полчаса.
    А вот Максим… интересно, остыл ли он?
    Клюевы собрались уже почти все, Галя передала известие о том, что мы больше не играем, но никто не спешил пользоваться сумками-холодильниками. Все стояли тесной кучкой.
    Наверное, в центре был Максим, живописующий, как его огрели ружьём и он, крепкий парень, вырубился с одного удара. Не всякий же день такое случается!
    Но, когда я подошла ближе, увидела Макса во внешнем круге «могучей кучки».
    А кто же тогда в центре внимания?
    Ветерок ласково подпихнул меня ещё ближе к Клюевым… и только теперь проявился запах.
    Вонь!
    Это всё ветер виноват! Это он сдувал вонь Косичкобородца!
    Я замедлила шаг.
    Во мне схлестнулись два равнозначных желания: немедленно ринуться вперёд и придушить менестреля — или, пока никто не заметил, слинять потихонечку в лес, разыскать Эдика и утащить куда-нибудь, куда угодно, только чтоб при мне был. Пока я раздумывала, что мне делать, как мне быть, меня заметила Энди:
    — Наденька! — принялась она размахивать руками и прыгать. — Наденька, иди к нам! Смотри, кто пришёл!
    И я, как под гипнозом, медленно переставляя закостеневшие ноги, побрела вперёд.
    С каждым шагом запах Косичкобородца крепчал, а стоило мне подойти чуть ближе, стена Клюевых радушно расступилась, и менестрель предстал передо мной во всей красе. Со времени первой встречи он ничуть не изменился. Всё те же водянистые глаза на коричневом от загара лице, яркие, рыжие, нестерпимо рыжие волосы с волной… и длинная-длинная, кошмарная борода, всё так же заплетённая в косичку. Чтобы не расплеталась, он закреплял её на конце резинкой с божьими коровками. И широкие шорты камуфляжной расцветки, и замызганная майка неопределённого цвета — всё осталось таким же, как в том поезде.
    Только аромат стал ещё гуще, ещё сочнее. И от него не просто хотелось чихать, от него уже тошнило! А Клюевы словно и не замечали. Может, потому, что они не так чувствительны к запахам…
    — Надя, знакомься, это друг нашей семьи, Акакий Мерзлихин!
    — А? — я обернулась на голос Арсения Михайловича и только тогда поняла, что это он мне представляет Косичкобородца.
    Я всё-таки чихнула и энергично помотала головой, отступая на шаг. От позорного бегства, равно как и от агрессивного удушения менестреля, удержало недоумение во взгляде Клюева-старшего. Пока он не успел во всеуслышанье уточнить у меня, не случилось ли чего, я натянула на лицо что-то вроде милой улыбки и кивнула Косичкобородцу:
    — Очень приятно! А меня зовут Надя. Надя Лебедева.
    — Спасибо, я уже догадался, — неожиданно добродушно прищурился Акакий.
    А имя-то какое подходящее, да?
    Так мы стояли друг против друга и улыбались, как два идиота, пока меня не спасла Энди:
    — А Эдика чего нет? Где заблудился?
    Я улыбнулась чуть более естественно, чем Акакию, и бодро оттарабанила:
    — Нет, мы с ним договорились немного погулять!
    Энди свела к переносице тонкие бровки:
    — Но мы же сейчас домой поедем!
    — Ну а мы погуляем… совсем немного, — уже менее бодро ответила я и задумалась о том, как скоро смогу привести Эдика к машинам. Ведь его ещё надо найти… Я-то рассчитывала, что, пока орава Клюевых будет заводить шашлыки-барбекю, я разыщу и притащу своего любимого. А теперь вот оно как вышло…
    Взгляд Акакия, добродушно-насмешливый, всё больше напоминал тот самый, что прожигал дырочки мне в лопатках там, в вагоне.
    — Хочешь, я помогу тебе найти Эдика?
    Молодец, господин Мерзлихин, Станиславский поверил бы.
    А я — не верю!
    — Спасибо, вы так добры, но не стоит беспокоиться, честное слово… вы пока пообщайтесь с Арсением Михайловичем…
    Мне бы Константин Сергеевич тоже поверил.
    — Да, Ака{{acute}}, пусть молодёжь разбирается сама, пойдём, я покажу…
    Клюев-старший обнял за плечи оторопевшего от такой нежданной нежности Косичкобородца, и я осознала, что это — победа. Во взгляде Акакия читалось ничем не замаскированное желание наброситься на меня с кулаками, но он, похоже, действительно был давним знакомым Арсения Михайловича и при нём не мог себе позволить никаких радикальных действий.
    Постаравшись особо ничем не выдать ликования и не слишком долго объяснять Энди, в какой стороне намереваюсь искать Эдика и как скоро вернусь, я побежала в лес.
    Внутри разжималась пружина, и становилось с каждым шагом всё яснее, что теперь у меня не получится защитить любимого.
    Косичкобородец — друг семьи Клюевых!
    Косичкобородец будет жить в доме у Эдика!
    Косичкобородец…
    А с чего это я взяла, что он опасен и что Эдика, сына друга Косичкобородца, надо от него защищать? Ладно… об этом мы подумаем завтра, как говаривала Скарлетт О’Харра. Я вдохнула воздух, находя запах Эдика. Ага, правильно иду…
    Оттуда, куда я шла, доносился странный звук. С таким хомяки грызут прутики.
    Я замедлила шаг: похоже, что-то или кто-то впереди грыз вовсе не прутик, а, скажем, деревце. И был он при этом куда больше хомячка!
    На всякий случай пригнувшись, я кралась ближе к источнику звука и вскоре стала различать, что «хомячок» ещё постанывает, плюётся и вроде бы что-то сосёт. Запах Эдика перебивал все прочие, и я бесстрашно выпрямилась в полный рост.
    Эдик обеими руками держался за ствол молодой сосны и… грыз его! Грыз, отплёвывался, постанывал от удовольствия и сосал сосновый сок! Смолу, или что там у сосны… и при этом совершенно не обращал на меня никакого внимания!
    Это было… странно. И даже чуть-чуть жутковато. Я смотрела, как Эдик трудится над сосной, и понимала, что ещё несколько секунд — и его постигнет та же участь! Только грызть и урчать от удовольствия буду я. И плеваться — ни-ни! Такую драгоценную влагу, как кровь, нельзя выплёвывать… и мне всё равно, что и кто там скажет! Я хочу его крови!
    Громкий шелест за спиной, словно сквозь кусты шла по меньшей мере корова, заставил меня обернуться.
    — Фух-фух-фух, — сказал прямо мне в лицо громадный треугольный… нос? Чей нос?!
    Подняв глаза выше, я увидела, кажется, кроличий покатый лоб, грустные, несомненно, кроличьи глаза и длинные кроличьи уши… я что, Алиса в стране чудес и наелась волшебного гриба, или от чего там становятся меньше ростом?!
    Скосив глаза, убедилась в том, что сосны и кусты остались нормального размера. А громада кролика, в котором только в холке, наверное, метра два, если не больше, возвышалась прямо передо мной!
    Мотая головой и пытаясь издать хоть какой-нибудь, пусть нечленораздельный, звук, я отступала. Медленно и в надежде на как можно скорейшее пробуждение спиной вперёд шла к Эдику.
    А он сосал смолу и не видел, что за его спиной кролик-переросток пристаёт к его девушке!
    — Эдик… — кое-как прохрипела я.
    — М-м-мыу? — откликнулся он и наконец взглянул на меня.
    И увидел, как между сосен, сминая подлесок, идут кролики.
    Гигантские кролики!
    Рыжий, пушистый, со светлыми «очками» вокруг раскосых глаз. Бело-чёрный, мелкопятнистый, один глаз чёрный на чёрном, другой — чёрный на белом… время послушно растянулось, уважая моё желание разглядеть небывалое чудо.
    Кролики!
    Кролики!.. Белоснежный, наверное, ангорский… с шерстинками метровой длины. Серо-голубой с фиолетовым отливом… был бы плюшевым, если бы где-то существовал плюш с ворсом в полметра! И с каждой секундой их становилось всё больше и больше, у меня голова закружилась, а они вдруг начали верещать… вы слышали, как кричат зайцы? Попробуйте представить, что кто-то пытается этот звук наиграть на контрабасе!
    Эдик сгрёб меня в охапку и попытался прикрыть от сбежавших из кошмарного сна зверей собственным телом. Я даже почти пришла в себя от горячего чувства благодарности и радости за наконец осмелевшего Эдика, но тут откуда-то сбоку стремительным полупрыжковым бегом высыпали Клюевы во главе с Косичкобородцем и Арсением Михайловичем, и кролик, тот, первый, рыжий, прыгнул… его гигантская туша взвилась вверх с лёгкостью воздушного шарика и зависла на невероятно долгое мгновение, и Клюевы бросились врассыпную, поняв, что, приземлившись, это чудовище их просто расплющит. Энди, успевшая намалевать на личике с десяток камуфляжных полосок, припала на одно колено и, залихватски крутанув сразу два пистолета (один вывалился из руки, вывернув девушке пальцы), выстрелила кролику в брюхо.
    Я остолбенела, не в состоянии поверить, что всё происходящее перед моими глазами — не сон и не бред.
    Ещё два или три кролика распластались в прыжках, басовито вереща и дёргая лапищами, и только теперь до меня дошло, что происходит: сосны растут очень близко, а кусты и молодые деревца — густо, и тела кроликов слишком уж велики для того, чтобы скакать по лесу, не застревая между стволами, а шкуры их чересчур густые для того, чтобы выстрелы в упор из пневматических ружей причиняли ощутимый вред.
    Последнее, что я запомнила, — свой собственный тихий, но очень истерический смех.
    Потолок моей комнаты, оклеенный бледно-бежевыми обоями, успел стать родным и привычным для меня за… сколько я здесь живу? Неужели всего-то чуть больше недели?! Всего неделя во Фролищах! А как будто целая жизнь прошла! Я застонала от жгучих мыслей, но те, кто сидели рядом со мной, не поняли, что стон из моей груди исторгнут не физической болью, а душевной, и бросились скорее прикладывать мне мокрую тряпочку на лоб, поправлять подушки, одеяло…
    Вяло отмахиваясь плохо слушающимися руками от сердобольных доброжелателей, я наконец сфокусировала взгляд на них и поняла, что вся компания в сборе: Вера, Фил, Гар, а за их спинами — папа и тётя Валя.
    Ещё Вольных Волков сюда — и будет полный комплект.
    — Со мной всё в порядке, — я постаралась говорить уверенно, но голос был слабым, и это съедало две трети уверенности.
    У меня самой, кстати, и съедало…
    Решительно стряхнув оцепенение, села на кровати. Мокрая тряпочка сползла по лицу и шмякнулась на ногу. Стряхнув её на пол, встала: никому не пришло в голову переодевать меня, поэтому я была готова к бою.
    — Так, — сказала я, и орда сердобольных дружно отшатнулась. — Кто-нибудь может рассказать мне, что за мутанты бродят по фролищенским лесам?
    Папа с тётей Валей переглянулись и усмехнулись, Гар вскинул бровь и вытянул шею, Вера с Филом моментально залились густой пунцовой краской.
    — Я пойду чайку скипячу, — сказала тётя Валя и вышла, перепрыгнув чисто символический порог.
    — Угу, — сказал папа и вышел за нею следом.
    — Э-э… — беспомощно оглянулся на них Игорь.
    — Ну… — сказал Фил.
    — Ну… — повторила Вера.
    — Понятно, — вздохнула я, и в тот момент мне действительно было понятно, что кролики-гиганты мне не привиделись и некое мутированное зверьё по Фролищенским борам всё же разгуливает.
    И тут что-то щёлкнуло и встало на своё место в моей голове.
    — Вера. Фил… вы пахнете в точности как те кролики.
    Мои друзья побледнели, а Игорь басовито заржал и получил под дых сразу от меня и от Веры. Чей удар был сильнее, судить не берусь.
  {% endfilter %}
{% endblock %}
