{% extends template %}

{% set parentTitle = "Антисумерки. Блог вампира. Часть II" %}
{% set title = "Глава 7" %}
{% set pubdate = "23.06.2012" %}

{% block heading %}
  <h1 class="art__title">Антисумерки. Блог вампира</h1>
  <p class="art__title-descr">Часть II</p>
{% endblock %}

{% block content %}
  {% filter prose %}
    Стёпе и Раулю недолго удалось сохранять обиду на друга. Они же прекрасно понимали, чем вызвана его агрессия, — и, кстати, не понимали, зачем Карине было приходить под ручку с Заболонским, если в коридорах студии она очень скоро прилюдно опустила его, парой кратких фраз обрисовав характер и манеры Вольдемара, с которыми лучше и не прикидываться частью нормального общества.
    Мысленно поаплодировав Лебедевой, Степанищев и ле Руж отправились на поиски Акакия.
    Куда его могло занести?
    — Мне кажется, что он потащит их на крышу, — сказал Степан.
    — Да ладно, — не поверил Рауль. — После того, как нас там… э-э…
    — Ну… — засомневался Стёпа, но ле Руж продолжил свою мысль:
    — …после того, как мы там попали в переделку… всё-таки да, у него сейчас как раз такое настроение, в котором он захочет пережить заново…
    Степан фыркнул:
    — Тогда чего же мы ждём?
    Лица новых друзей выплясывали перед глазами дикие пиратские танцы. Акакий прекратил попытки запомнить, кого и как зовут, усвоив новую норму обращения — «эй, ты! Да не ты, а ты!». Его совершенно не напрягало, что и сам он тоже стал «эйтыем». Вокруг фантастической каруселью всё быстрее крутилась Москва. Прыгали, мелькали, мчались вскачь улицы, переулки, дома, афиши, витрины…
    Видимо, ноги сами вынесли Акакия к родному дому, сами привели на родную крышу. Развлекать новых друзей вампирьими клыками надоело ещё час назад — они смирились с неизбежным и перестали пугаться острозубой улыбки, а пугать тех, кто тебя не боится, неинтересно.
    Крыша же, определённо, впечатляла. Царившие там тишина, темнота и покой ярко оттеняли буйство стремительно пьянеющей компании.
    Акакий разорил свой тайничок и в два глотка высосал полтора литра крови, умудрившись при этом перемазать случайную девицу, которую заботило содержимое его высоко аутентичных, покроя XIX века, брюк, и ни капли не пролить на белоснежную рубашку. А где сюртук? Где синий, двубортный, шикарный?!.. Нету, нету… потерян! Утерян безвозвратно! А где платок? Где шейный, белоснежный?.. а нет, вот они, и сюртук — на полноватом коротко стриженном пареньке, и, похоже, уже лопнул под мышками. И платок, платок перетягивает талию сбрызнутой кровью девахи…
    Голову начинало сдавливать, пока ещё аккуратно и бережно, с висков. Акакий знал, что закончится это дичайшей головной болью, но что он мог поделать? Ничего. Ждать. Терпеть. В конце концов, эта жуткая ночь тоже когда-нибудь закончится. И после кошмарного сушняка, когда вдруг захочется выпить всю воду на этой планете, непременно наступит облегчение.
    Ну и что, что его так назвать можно будет только с большой-большой натяжкой.
    — А теперь, друзья мои! — взывал Акакий к мрачному, затянутому тучами небу. — Теперь давайте праздновать новый год! Что нам, привыкать, что ли, праздновать!
    — В лесу родилась ёлочка, — дурашливо затянули сразу несколько голосов.
    Висящая на Мерзлихине девица капризно заныла:
    — Раз новый год, то где же ёлочка? Где ёлочка, где подарочки? Где мой сладкий подарочек, мой сладкий шалунишка?..
    — Вот вам ёлочка! — провозгласил Акакий, стряхивая с себя девицу и обнимая антенну. — Вот она, нарядная! На праздник к нам пришла! Ой, а где ж её наряд, бусы и хлопушки?
    Чьи-то руки привязали к антенне полосатый свитер, отдалённо напоминающий костюм Фредди Крюгера. Другие руки привязали женскую блузку. Оглянувшись, Мерзлихин попытался понять, кто из его случайных спутниц лишился верхней половины гардероба, но перед глазами всё плыло.
    Защёлкали вспышки камер телефонов. Кто-то ставил Акакия то левее, то правее, кто-то укладывался у его ног, якобы для того, чтоб войти в кадр, а на самом деле мгновенно засыпая на месте.
    В какой-то момент Мерзлихину показалось, что народа определённо стало больше, но откуда бы взяться народу на крыше? На его любимой крыше…
    Резкий запах, острый, напоминающий о зверинце, ударил в нос, мгновенно выдувая половину хмеля.
    Акакий подобрался.
    Да, народу прибавилось. И все прибавления были одеты в спортивные костюмы — а вот этого блондина Мерзлихин определённо уже видел!..
    Отшив Заболонского, Карина некоторое время, минуты две или даже три, посвятила попытке осознать, зачем пряталась от Акакия и зачем приняла приглашение Вольдемара пойти на праздник вдвоём. Ведь изначально же хотела привести своего Серёженьку! Серёженька был просто лапочка, и Карина с нетерпением ждала конца учебного года, когда можно будет отправить Надю к папе, а самой посвятить всё своё время выстраиванию отношений с новым мужчиной. Вдруг он — именно тот, кто сможет хоть как-то, хоть чем-то заменить ей Александра?!
    А тут этот Заболонский… побрали б его черти вместе с его дурацким приглашением… а ещё этот Акакий…
    В какой-то момент Карине показалось, что она попала в прошлое. Это было неприятно и даже болезненно, видеть взгляд Александра на лице идиота с заплетённой в косу бородой. Однако как на нём сидел костюм!
    Карина замечталась.
    Всё-таки было что-то в этом Акакии такое… странное, непонятное. Тревожащее, будоражащее… вот бы его побрить! Постричь! Причесать! Спасти!
    Стоп.
    Кого спасти? От кого спасти?
    Карина не стала крутить головой в поисках попавшего в беду Акакия — что-то, что было сильнее неё, тянуло её на выход.
    Она не побежала бегом. Предприняла многоходовую операцию по усыплению бдительности сотрудников и гостей праздника и… испарилась в направлении, неизвестном даже ей самой.
    Сегодня Карина не брала «Мазерати» — Вольдемар подвёз её на своём «шевроле». Машинка была так себе, как и сам Заболонский, но речь не об этом. Ведь теперь Карине предстояло рассчитывать только на свои ноги!
    Да, обутые в стильные туфли на шпильке и платформе одновременно. В таких только бегать, разыскивая где-то в большом городе ещё большего идиота.
    Недолго думая Карина расстегнула ремешки, вытащила из клатча пакетик с логотипом Пако Рабана и доверила любимые алые туфельки от Версаче пакету конкурирующей фирмы. Ха-ха!
    Впрочем, было особо не до смеха, разве что нервного.
    Расслабившись, насколько это было возможно, Карина отдалась течению ощущений, влияний, призывов, запахов, тянущих то туда, то сюда… кажется, покинув праздник, Акакий направился… туда. Пройдя несколько шагов, Карина поняла, что на самом деле ей до дикости хочется домой!
    А как же спасение Акакия? Ведь ему же сейчас плохо.
    Но ведь и Акакий живёт в одном доме с Кариной, только парой этажей ниже. Кто знает, может, ему стало плохо дома!
    Ага, перепил крови, а в сочетании с поганеньким пивком она дала непредсказуемую реакцию, и бедного, бедного вампира теперь пучит! Карина пыталась подбодрить себя такими мыслями, но получалось плохо.
    Раньше она никогда не чувствовала на расстоянии другого человека. Или вампира. Кроме своей дочери Нади. Кроме её отца Скорпиона.
    Кроме своего любимого, Александра, память о котором до сих пор не даёт спать ночами…
    По лестнице Карина уже не бежала — почти летела, перепрыгивая за раз по пролёту.
    Там, наверху, что-то рычало, гремело, словно на крыше дома свирепствовало торнадо, с корнем вырывающее антенны и сдирающее с людей кожу. Ведь правда же, не могут так визжать люди, если с них живьём кожу не сдирать!
    И вдруг всё стихло.
    Вылетев на крышу, Карина от неожиданности замерла на миг.
    Всё было в порядке. Никто ни с кого ничего не сдирал. Просто стояли плечом к плечу два спортсмена, один из них каждое утро бегал под окнами Карининого дома, и лежали, вжимаясь в покрытие крыши, человек пять — та самая компания, с которой уходил Акакий с праздника — да два вампира, Степанищев и ле Руж.
    Сам Мерзлихин, пошатываясь, стоял на полусогнутых, размахивая руками и выкрикивая ругательства и призывы:
    — Ну вы! Кролики! Ценный мех! Выходи по одному! Всех урою!
    Карину он пока ещё не заметил.
    Спортсмены вежливо поздоровались с Лебедевой. Теперь её увидел и Акакий.
    Он упал на колени и пополз, простирая к ней дрожащие руки, пачкая брюки:
    — Свет очей моих! Карина! Ты пришла ко мне! Я спасу тебя от этих монстров! Дай мне шанс!..
    — Встань, — негромко приказала она, и Мерзлихин тут же вскочил, не забывая отряхнуть коленки.
    — Да! О да! Я готов! Приказывай! Хочешь, прыгну с крыши?!
    — Хочу, чтоб ты перестал нести ересь и пошёл домой. Понял?
    — Д-да… — неуверенно протянул Акакий, оглядываясь на спортсменов и на лежащих ровным рядочком людей. — А… а как же…
    — Тут разберутся и без тебя. Идём.
    Карина протянула руку, взяла Акакия за локоть… словно разряд тока! Словно порыв обжигающего ветра! Словно…
    Словно они оба испытали одно и то же от этого простого прикосновения.
  {% endfilter %}
{% endblock %}
