{% extends template %}

{% set parentTitle = "Антисумерки. Блог вампира. Часть II" %}
{% set title = "Глава 8" %}
{% set pubdate = "23.06.2012" %}

{% block heading %}
  <h1 class="art__title">Антисумерки. Блог вампира</h1>
  <p class="art__title-descr">Часть II</p>
{% endblock %}

{% block content %}
  {% filter prose %}
    Надя снова где-то шастала. На сей раз СМС-ка гласила: «Я в “Ожоге” с Таней, Димоном и Толей, ночую у Тани, буду после школы».
    — Ну я тебе покажу «после школы»! — скрипнула зубами Карина, вталкивая в дом Акакия.
    Что-то, что было сильнее её, заставило привести Мерзлихина не к нему домой — а к себе.
    Понять, что же она испытывает по отношению к этому Акакию, Карина никак не могла.
    Любопытство, интерес? Конечно. Интерес, влечение?..
    Возможно.
    Отправив Мерзлихина мыться, Лебедева кружила по комнате, раскладывая по полочкам мысли.
    Любопытство, интерес и влечение — это ещё не повод приводить домой совершенно постороннего человека, пусть даже и напоминающего внешне другого человека. Мало ли кто кого напоминает!
    Минута за минутой укатывались в прошлое, настоящее проскальзывало где-то между вдохами, а будущее пряталось за горизонтом, по одному выпуская вверх солнечные лучи: на востоке небо становилось всё светлее.
    Мерзлихин вышел из ванной, зябко кутаясь в махровую простыню, щедро выделенную Кариной на благие цели. Одежду свою, явно позаимствованную в какой-нибудь реконструкторской или театральной студии, он аккуратно разложил и развесил в ванной комнате.
    Карина с интересом отметила, что Акакий успел замыть особенно сильно загрязнённые участки брюк и даже почистить рукава сюртука (его она сама только что сдирала с какого-то толстячка).
    Молчание сначала казалось вполне органичным. Не должны же двое взрослых людей друг перед другом оправдываться или, там, извиняться за причинённые неудобства, если сами, по доброй воле, решили провести вдвоём некоторое время.
    Потом молчание стало слишком уж сильно затягиваться. Карина достала одноразовую пилку для ногтей и принялась подпиливать и без того идеальные ногти. Акакий замер, как птенец перед удавом, заворожённо наблюдая за движениями пальцев Карины. А потом нервы Акакия сдали.
    — Какого хрена ты меня к себе притащила?! — заорал Мерхлихин, и Карина выронила пилку, изумлённо распахивая глаза.
    Этот взгляд, исполненный непонимания, подействовал на Акакия как таран. Смял, опрокинул в глубины мягкого кресла.
    — Почему, почему, — бормотал Акакий, закутываясь в простыню, как в кокон, — почему ты смотришь на меня как на прокажённого, Карина? Почему ты на меня вообще не смотришь? Почему я для тебя — пустое место? Почему я для тебя меньше, чем пустое место? Что я тебе сделал, за что ты со мной так?
    Карина подобрала пилку с пола. Присела рядом с Акакием — на край дивана. Только теперь заметила, что всё ещё в алом праздничном платье. Отметила, что в уютных домашних стенах среди бежевато-коричневатых и приглушённых тонов это платье смотрится нелепо и неуместно.
    Вздохнула. Отвернулась.
    — Я… не могу тебе объяснить, Акакий. Это… сложно. Понимаешь…
    — Нет. Не понимаю.
    — А должен. Ты… ты очень похож на одного… мужчину. Он был… такой же, как ты, но совершенно, понимаешь, абсолютно… не такой. Понимаешь?
    — Нет. Не понимаю.
    — А придётся понять, иначе… иначе нам и правда не о чем разговаривать. Понимаешь?
    Уже готовая услышать очередное обиженное «нет, не понимаю», Карина удивилась тихому признанию:
    — Понимаю. Я люблю тебя, Карина.
    Внезапная волна нежности к этому Акакию, совершенно не похожему на Александра и в то же время такому знакомому и родному, подхватила Лебедеву и закачала где-то высоко над землёй, там, где миром правила память, крепкая вампирья память, бережно хранящая все взгляды, улыбки, прикосновения Александра…
    Они смотрели друг на друга, тонули во взглядах, растворялись и таяли, забывая, кто они, где они, чего хотят от этой жизни. Таким естественным казалось, что жизнь у них отныне, с этой минуты, будет одна на двоих, и в ней самым большим счастьем станет — касаться друг друга, сливаться в бесконечном поцелуе…
    Боже! Карина отшатнулась, зажимая рот руками.
    Как?! Не может быть! Она только что сама поцеловала этого Акакия?!!
    Акакий перестал понимать, что происходит, ещё тогда, когда сбежал с праздника. А уж когда на крыше появились сначала спортсмены, потом кролики, потом Рауль и Стёпка, потом вдруг, внезапно, как молния среди ясного неба, — Карина! Карина в огненном платье, Карина, как сполох пламени, Карина… что он говорил? Что он делал? Он не помнил, только хотел, чтобы жизнь остановилась, и вечно длилось это мгновение — рука Карины на его руке, бегущий по венам ток, ясный свет любимых глаз…
    А потом была вода.
    Вода была тёплой. Смывала грязь — с тела и с души. Несла покой. Прочищала мысли. Акакию казалось, что не только его волосы вплетаются в струи душа, но и все извилины в мозгу промываются, углубляются, электрические связи между аксонами и дендритами приходят в норму, и всё проще и проще думать обо всём, что случилось в жизни за последние месяц-полтора.
    Собственно, что случилось?
    Он влюбился. Он попробовал добиться взаимности от любимой женщины. Он потерпел поражение. Много раз подряд потерпел поражение! Сдавался и принимался снова, с чистого листа, строить планы, ухаживать… и всё время за ширмой внешней неприступности чудилась ему в Карине ответная страсть, ни в чём не уступающая его собственной.
    И вот оно! Разве нужно другое подтверждение, кроме этого поцелуя?
    Их губы коснулись друг друга несмело, робко, словно и он, и она опасались, что всё это мираж, что прикосновение разрушит прелесть и очарование, что закончится сладкий сон…
    Не зря опасались. Не успел Акакий толком поверить в свалившееся на голову счастье, как оно уже и махнуло хвостиком, разбивая вдребезги драгоценное золото долгожданного мгновения.
    Карина стояла, пламенея платьем на фоне белоснежной органзы штор, и отчаянно таращила в испуге красивые, карие глаза. И зажимала рот, словно боялась, что стоит убрать руки — и губы тут же вернутся к губам Акакия.
    Он яростно зарычал, понимая, что мгновение счастья осталось в прошлом.
    — Мы… — глухо, сквозь руки, выговорила Карина, — мы не должны, Акакий, мы не имеем права… Мы не можем! Понимаешь?!
    Последние слова она выкрикнула, опуская руки, стискивая в кулаки тонкие пальцы.
    — Нет. Не понимаю.
    Квартира Карины была прямо над квартирой Акакия, только двумя этажами выше. Когда он уходил от неё, во дворе собирались машины — скорой помощи, милиции, пожарные… бабушка Селестина встретила его в компании Рауля и Стёпы. Они решили, что подождут друга дома, раз уж он исчез с крыши не один, а в компании Карины.
    — Ну? — с надеждой вглядывался в Акакия Стёпка.
    — Как? — сопереживал Рауль.
    — Что вообще происходит?! — негодовала Селестина, которой никто не спешил рассказывать, что случилось.
    — Спокойно, — выставил ладонь в успокаивающем жесте Мерзлихин. — Спокойно. Ничего страшного нет.
    «Хорошего, впрочем, тоже», — добавил он мысленно и уполз к себе в комнату переодеваться.
  {% endfilter %}
{% endblock %}
