{% extends template %}

{% set parentTitle = "Антисумерки. Блог вампира. Часть II" %}
{% set title = "Глава 1" %}
{% set pubdate = "23.06.2012" %}
{% set prev = "avgustina/blog-1-23" %}
{% set prevTitle = "К предыдущей части книги" %}

{% block heading %}
  <h1 class="art__title">Антисумерки. Блог вампира</h1>
  <p class="art__title-descr">Часть II</p>
{% endblock %}

{% block content %}
  {% filter prose %}
    «25.04.ХХ.
    Мой милый дневник!
    Я рад, что снова добрался до компьютера, до Большой Сети и восстановил пароли блога. Да, по-видимому, мне уже не вернуться к моим прежним показателям популярности, не набрать прежнее число читателей, но я рад уже и тому, что просто здесь, сейчас, сию минуту могу рассказать всем — представить, что говорю со всеми своими прежними собеседниками, — рассказать всем, что я, в принципе, решил забить на сетевую жизнь. Меня не было здесь почти полгода. За это время я сменил место жительства, сменил работу, круг общения, можно сказать, сменил себя — привычки, повадки, да и вообще. А здесь ничего не изменилось. Всё те же темы, те же люди.
    Люди! Кто читает, отпишитесь, скажите: вы верите в то, что я вампир? Вам страшно, что я могу подойти к вам на улице и выпить вашу кровь? Впрочем, запущу опрос и узнаю».
    Акакий поправил ядовито-красные клубнички заколки, что не давала расплетаться его длинной рыжей бороде, и глубоко задумался.
    Аватарку в блоге он уже поменял, поставил свою реальную фотку, где изображал Дракулу на Хэллоуин. Длинные всклокоченные волосы на фоне жёстко накрахмаленного высокого воротника, сморщенный нос и радушно распахнутые челюсти… Тогда никто не понял, что клыки у него настоящие, и все только бегали спрашивали, где он добыл такие клёвые «вампирки». От нечего делать Акакий зевнул, выдвигая клыки, облизнулся. Подошёл к большому, в его рост, зеркалу.
    Сказать, что Акакий любил своё отражение, — значит ничего не сказать. Ему очень нравилось смотреть на себя, нравилось подолгу не пить кровь, чтобы амальгама воспринимала его как бледную призрачную тень. Вампира радовал контраст между чётко отражающимися предметами одежды и обувью — и полупрозрачными контурами живого тела.
    Скосив глаза на монитор, Акакий грустно вздохнул: перебор, однако, с «прежними», но ведь справедливо же. Уже сколько висит опрос, минут пять, наверно, и ни одного ответа. А вот каких-то полгода назад уже были бы ответы, штук по двадцать на минуту.
    — Ну не хотите как хотите, — пробормотал молодой мужчина, приглаживая волосы пятернёй. Можно было бы, конечно, и расчёской, но она в коридоре на тумбочке, а ведь туда ещё надо идти. А ведь там ещё бабушка Селестина на портативном транспортном средстве — почему-то она всегда оказывалась вместе с креслом-каталкой в коридоре, когда Акакий выбирался из своей комнаты.
    В зеркале чётко отражались синие шорты, белая майка, белые носки и поверх них сандалии, а также «правильные», призрачные тени головы, рук, ног — и бороды, заплетённой в косу и скреплённой на конце заколкой с клубничками… нет, пожалуй, клубнички не в тему! Акакий аккуратно снял заколку и примерил другую, со штурвалом, ведь вроде бы сине-белые тона отсылают к морской тематике.
    Нет, штурвал был великоват для такого лёгкого наряда. А вот ласточка… хм… надо же! Чёрная ласточка, а как мило смотрится! Акакий ещё раз посмотрел на компьютер. Выключать его перед уходом он не собирался, мало ли, пусть все думают, что он на сайте.
    За дверью раздался тихий скрип, и лицо Акакия исказила мука: сей звук был прямым свидетельством, что выйти из дома незамеченным у него не получится. Да, к этому пора уже было и привыкнуть за последние лет этак тридцать, но…
    Решительно распахнув дверь, он смело шагнул в коридор, точно зная, что не споткнётся об инвалидное кресло, стилизованное под кресло-качалку Шерлока Холмса, в котором по дому перемещалась бабушка Селестина.
    Бабушка знала, на каком расстоянии от двери надо останавливаться.
    Бледно-сиреневые волосы, тщательно уложенные в затейливый пучок с буклями, казалось, светились в полумраке коридора. Фианиты, которыми по заказу бабушки инкрустировали костяные гребни, скрепляющие причёски, таинственно мерцали, ловя свет из комнаты Акакия.
    Селестина, как всегда, оделась как на парад: блузка из натурального шёлка с рюшами и жабо цвета слоновой кости, изысканная подвеска, тоже по спецзаказу, костяная и с фианитами (бабушка из всех натуральных камней уважала изумруды и янтарь, а натуральным алмазам предпочитала искусственные), а на коленях мягкий клетчатый плед приглушённых тонов с пышными кистями. В левой руке — пульт управления креслом, в правой — просто громадная для такой хрупкой женщины курительная трубка. Тоже, что примечательно, костяная. Искусный резчик придал ей сходство с затейливым фантастическим цветком.
    — Мой мальчик! — пропела Селестина сухим, чуть надтреснутым голосом и втянула в рот изрядную порцию дыма.
    Акакий вздохнул.
    — Да, мой мальчик, — бабушка в совершенстве владела искусством одновременно говорить и пускать дым колечками. — Да, я не вижу твоего лица, но полагаю, что знаю, каково его выражение. Да, я не могу быть уверенной, но полагаю, что верно догадываюсь, что мою заботу о тебе ты считаешь не чем иным, как тотальным контролем за каждым твоим шагом, хе-хе-хе… но у меня предчувствие, мой мальчик.
    В доме было тепло, но по спине Акакия пробежал крепкий морозец.
    Ещё ни разу, когда бабушку Селестину посещали предчувствия, избежать того, чем они грозили, не удавалось. Как правило, они предвещали облавы на вампиров, и Акакию, избравшему определённый стиль внешности, ещё ни разу не поверили на слово, что он не дикий, и это означало от суток до пяти в приёмнике-распределителе. Заканчивались такие случайные поимки обычно звонком Селестины или её появлением в участке, но, несмотря на удовольствие, которое Акакий получал от того, как лихо бабушка усмиряла служителей правопорядка, приятного в этих ситуациях всё равно было мало.
    Да что там, не было вовсе.
    Пронзительный взгляд васильковых глаз бабушки Селестины смягчился.
    — Возьми документы, мой мальчик. Я знаю, ты из принципа не носишь с собой документы, но уважь старушку, возьми их сегодня с собой.
    Акакий молча шагнул назад, в комнату.
    Документы — паспорт и удостоверение — лежали в рюкзаке, замечательно вписывавшемся в странный облик мужчины. Джинсовый, украшенный невообразимым количеством брелоков, заплаток, кусков бахромы и просто верёвок, верёвочек и шнурков, в сочетании с джинсовым жилетом, выполненном в том же стиле, рюкзак, закинутый за спину, превращал вампира в горбуна.
    Акакий легко и изящно опустился на одно колено перед бабушкой Селестиной и галантно поцеловал пергаментно-сухую кожу на тыльной стороне её ладони с трубкой.
    Да, иногда из него прорывались некоторые несвойственные ему моменты, и почему-то это очень радовало Селестину.
    Бабушка отложила трубку и ласково взъерошила волосы вампира:
    — Мой мальчик, когда же ты приучишься мыть голову по мере загрязнения!
    Робкие лучи рассветного солнца задумчиво блуждали между домами, то загораясь бликами на стёклах верхних этажей, то высвечивая подмёрзшие за ночь ручьи на обочинах дорог. Голые скелетики деревьев и кустов зябко жались к домам. Те из них, до которых успела добраться пила лесорубов-градоустроитлей, больше походили на обгорелые кукиши, высунутые из-под земли тамошними обитателями.
    Акакий поёжился. Похоже, рано он решил перейти на летнюю форму одежды. Оно, конечно, замёрзнуть или даже просто простудиться ему не грозило, но всё-таки у мужчины в белой летней майке, джинсовых жилетке и шортах, белоснежных носках и лёгких сандалиях больше шансов привлечь к себе внимание апрельским утром, чем у того же мужчины в тёплой одежде по сезону. Пусть даже и с длинной бородой, заплетённой в косу.
    До работы Акакий ходил пешком.
    Путь его лежал дворами и подворотнями, мимо чистых подъездов и замызганных, мимо цветников, которые только-только сбрасывали ледяные панцири, и мусорных баков. Кое-где они стояли стройными рядами, кое-где толпились нестройными кучками, в некоторых дворах были ухоженными, в других — обшарпанными. За некоторыми следили дворники, возле других на метр-два-три вольготно раскидывались мусорные поляны, и ото всех исходил специфический, сложный, мусорный душок.
    Солнце поднималось всё выше, смелело. По небу в прогалах между силуэтами домов плыли лёгкие, пушистые облака. Акакию нравилось следить за тем, как они меняют формы, сходятся, расходятся… вот и в этот раз, зачарованный движением в небе, он перестал смотреть под ноги.
    Естественно, этого следовало ожидать! Зацепившись за прилипшую к асфальту обрезанную бутылку с клеем, Акакий растянулся во весь рост, с ужасом понимая, что инерция падения внесла его прямиком в «полянку» мусора. Проглотив ругательства — да, он считал вредным для ауры материться и даже просто ругаться! — Акакий быстро поднялся, осмотрел себя.
    Больше всего пострадали, как ни странно, сандалии: на правой, той, которой он и зацепился, начисто оторвалась подошва, с левой стесались декоративные пряжки. А вот майка сохранила изначальную белоснежность. И даже к жилетке всего-то банановая кожура прилипла! Кстати, а она там неплохо смотрелась.
    Продолжая отряхиваться, Акакий против воли возвращался взглядом к облаку.
    Пушистое, белое, низкое, оно так походило на кролика!
    Внезапное движение за мусорными баками привлекло внимание Акакия к земле. На миг даже показалось, что там проскакал… кролик? Нет, это только обман зрения — на самом деле там просто пробежал какой-то лохматый блондин в спортивном костюме.
    А кролик, верно, примерещился из-за облака.
    Пока Акакий следил за утренними спортсменами на земле, небесный кролик успел трансформироваться в крокодила. Акакий не любил рептилий, поэтому любоваться облаками перестал, решил смотреть под ноги и прибавил шаг.
    Карина с удовольствием наблюдала за сборами дочери в школу. Девочка была похожа и на неё, и на отца, но на неё всё-таки гораздо больше. Особенно — манерами, повадками, любовью к дорогой одежде, умением превращать себя в произведение искусства, точно соответствующее ожидаемой ситуации. Например, сейчас ожидалась ситуация «контрольная по математике», и дочка сосредоточенно перебирала гардероб: какие юбка и жилет подойдут к бледно-голубому батничку с перламутровыми пуговками?
    Карина распечатала одноразовую пластиковую пилку для ногтей и не глядя подровняла края на большом и указательном пальцах, бесшумно отошла от дверей Надиной комнаты. Позвала уже от входных дверей:
    — Скоро ты там? Я на работу опоздаю!
    — Ну ща! — недовольно протянула дочка. — Ща-а-а-а!
    Карина Лебедева усмехнулась, прошла на кухню и выкинула пилку в мусорное ведро. Задумалась о чём-то.
    Тонкие брови сдвинулись к переносице, тщательно уложенные кудри дрогнули, но не нарушили заданную композицию. Элегантный и модный, одновременно деловой и непринуждённый наряд Карины сидел на ней, как вторая кожа, оттеняя и лёгкий загар, и глубину карих глаз.
    Аккуратно, приняв позу буквы Г — чтоб не закапать одежду! — женщина вытянула из холодильника пакет донорской крови, вздёрнула губу. Холодная кровь из прокушенного пакета наполнила рот. Пряная такая… сладкая, она была всем хороша на вкус. Особенно в жару. Но почему тогда каждый раз Карина вспоминала вкус горячей, свежей, ещё живой крови?
    Она подошла к окну.
    В небе висело белое облако, очертаниями похожее не то на кошечку, не то на белочку, а то и вовсе на зайчика.
    Что-то белое шарахнулось по земле — Карина не успела испугаться, а зрение уже сфокусировалось, и стало понятно, что это просто бегает и прыгает какой-то спортсмен-блондин в белом костюме.
    Нашёл, называется, где бегать! Среди мусорных бачков!
    — Надя! — Карина добавила грозных нот в голос, и дочка появилась перед ней, как телепортировалась:
    — Ну вот! Ну всё! Ну и зачем кричать!
    — Быстро в школу, — скомандовала строгая мамаша. — Давай вниз, и я подвезу.
  {% endfilter %}
{% endblock %}
