{% extends template %}

{% set parentTitle = "Антисумерки. Блог вампира. Часть I" %}
{% set title = "Глава двенадцатая. На острие атаки" %}
{% set pubdate = "23.06.2012" %}

{% block heading %}
  <h1 class="art__title">Антисумерки. Блог вампира</h1>
  <p class="art__title-descr">Часть I</p>
{% endblock %}

{% block content %}
  {% filter prose %}
    К утру я всё-таки вернулась домой.
    Во всех окнах горел свет. На пороге сидел папа.
    С ремнём.
    Да уж…
    Эдик галантно помог мне преодолеть препятствие в виде калитки, прошёл вместе со мной по дорожке и очень вежливо улыбнулся папе:
    — Здравствуйте, Фёдор Борисович!
    — Здравствуй и ты, Эдуард, — ответил мой папа, и я не удержалась, спряталась за спину Эдика, чтобы только волны холода, исходящие от родного отца, не превратили меня в ледяную скульптуру.
    — Привет, па… — робко высунулась из своего надёжного укрытия. Взгляд тут же натолкнулся на безвольно свисающий с папиного колена кончик ремня.
    — Здравствуй, Надя.
    Мне показалось, или ледяной ураган начал утихать?
    — Я так полагаю, раз вы явились сюда вместе, эту ночь вы провели вдвоём?
    Показалось. Это было затишье перед девятым валом.
    — Да, — согласно кивнул Эдик.
    — Нет! — подскочила я. — То есть да, конечно, но это совсем не то, что ты мог подумать, папа!
    — Правда? — ремень чуть шевельнулся, и его движение меня заворожило. Я неотрывно смотрела на него, ожидая следующего проявления жизни. — И что я мог, по-твоему, подумать?
    Папа встал.
    — Что я мог подумать, когда мне позвонил Арсений Михалыч и спросил, знаю ли я, где сейчас моя дочь?
    Папа распалялся. Эдик молча обнимал меня за плечи. И эта молчаливая поддержка дорогого стоила.
    — Что я мог подумать, когда Арсений Михалыч сказал, что моя дочь увела с пляжа его больного сына в неизвестном направлении?! Что, как ты думаешь?! После всех этих твоих странностей, после… после, как ты… все эти пустые пакеты…
    А-га…
    Я допустила огромный промах: выкинула пакеты из-под крови в мусорное ведро. Мусор выбрасывал папа. И, похоже, те «глупости», от которых он меня предостерегал, означали просьбы пить поменьше крови. И не пить людей… А теперь он еле сдерживал себя — и то лишь потому, что здесь Эдик.
    — Папа, папа, я тебе всё объясню! — голос мой звучал уверенно и убедительно. Если б ещё я сама была убеждена в том, что действительно смогу объяснить всё!
    А папа завёлся не на шутку, и в голову ему пришла та же мысль, что и мне:
    — Что ты мне объяснишь?
    — Всё… — уже куда менее уверенно пообещала я. — Ну я по меньшей мере… постараюсь. Ну ответить на твои вопросы. Ну…
    — Не запрягла, — папа раздражённо хлестнул по брюкам ремнём и поморщился. Видать, больно хлестнул. — Иди в дом. Там поговорим. Эдик, ты тоже проходи, за тобой сейчас папа приедет. Валентина Петровна позвонила ему, когда мы вас увидели.
    Но Эдику не пришлось в тот день впервые посетить наш дом. Едва папа закончил свою речь, к забору бесшумно подкатила приземистая хищная иномарка. Из неё вышел мужчина лет сорока на вид… воплощённая элегантность и презентабельность! Если Эдик к его годам станет хотя бы вполовину таким же, я… не знаю. Любить его сильнее, чем сейчас, всё равно не смогу.
    Мужчина поздоровался, заговорил с папой. Это оказался тот самый Арсений Михайлович.
    Арсений Михайлович Клюев.
    Я, если честно, представляла себе его как-то иначе. Всё-таки он военный, а это у меня ассоциировалось прежде всего с формой, погонами. А тут дорогущий спортивный костюм, аккуратно уложенная причёска… бородка-эспаньолка.
    Клюев-старший очень пристально меня разглядывал, и, готова поклясться, недостаток света ему ничуть не мешал. Я очень и очень надеялась, что он остался доволен осмотром и что не будет против нашей с Эдиком дружбы. Оно, конечно, мне начхать, будет ли он против или за, но не хотелось бы, чтобы моему любимому промывали мозги на тему того, что «эта Лебедева — неподходящая партия».
    Арсений Михайлович очень корректно извинился перед папой за причинённые неудобства, одним взглядом отослал Эдика в машину… и Эдик задержался ровно на то время, какое понадобилось, чтобы безо всякого стеснения поцеловать меня на глазах у наших отцов.
    Отцы промолчали и, повергнутые зрелищем в шок, кажется, забыли попрощаться.
    Всю ночь мне снились кошмары. В них Арсений Михайлович приходил к нам на ужин с детьми, всеми, родными и приёмными, в количестве двадцати пяти человек, и все они разговаривали — вот только, едва открыв рот, издавали громоподобное рычание, как газующие на месте мотоциклы. Потом они начали превращаться в каких-то гигантских насекомых, наподобие богомолов, а Эдик истошно кричал, вернее, рычал, но его я почему-то понимала — он просил, чтобы я убила его, пока он не стал тараканом…
    Проснувшись, я поняла, что часть этих кошмаров ими вовсе даже не являлась, просто ночью во Фролищи прибыла делегация байкеров.
    Четыре мотоцикла, выстроенные пеленгом, стояли возле нашей калитки, перекрывая улицу. Их хозяева, раскинув на обочине покрывала, мирно храпели, распространяя вокруг себя ароматы здорового мужского пота, бензина, машинного масла, тёплой кожи, металла заклёпок и чужеродной для здешних мест дорожной пыли.
    Я слетела вниз, как на крыльях.
    Тётя Валя уже ушла на работу, а вот папа… он сидел за столом и ждал меня, скрестив руки на груди. Я остановилась в дверях кухни.
    — Так-так, — поприветствовал он меня. И это вместо «доброе утро»! — Так-так. Мне кажется, или ты куда-то собралась?
    — Э-э… Доброе утро, папочка… — пролепетала я. — Ты прав, я собралась, там приехали Вольные Волки…
    — Я видел. Я, ты не поверишь, даже приглашал их в дом, но они сказали, что хотят подышать свежим воздухом… — мне показалось, папа оттаял, и сейчас всё вернётся на круги своя, но что-то заставило его голос снова остыть до нулевой температуры: — Однако, я отвлёкся. Итак, детище бесовское. Что ты можешь мне сказать о своём безобразном поведении?
    — Э-э… — похоже было, только это и больше ничего я и могла сказать.
    «Детищем бесовским» папа назвал меня впервые. До этого бесовским я была отродьем, а детищем — любимым.
    — Э-э, — повторила я, в надежде, что папа придёт на помощь с наводящими вопросами.
    — Понятно, — кивнул он.
    Интересно бы узнать, что это такое он понял? Но спрашивать почему-то не хотелось.
    — Вчера я был уверен, что ты придёшь домой к ужину… — папа выдержал мхатовскую паузу. — Но ты не пришла… — пауза номер два длилась на несколько секунд меньше. — Валя сказала, что, вероятно, ты придёшь, как стемнеет.
    Пауза номер три оказалась самой длинной, и только во время неё я догадалась, что Станиславский тут ни при чём, а просто ожидается реакция от меня. И что, он хочет, чтобы я оправдывалась? Или, там, прощения просила? Прочитать папины мысли я не могла, поэтому продолжала молчать, ожидая прямого вопроса, на который смогу… или, как вариант, не смогу дать прямой ответ.
    — Но ты не пришла и тогда, когда стемнело, — решил всё-таки продолжить папа и больше таких гигантских пауз не делал, а говорил всё громче и всё быстрее, — и если до этого ты ставила меня в известность, куда и зачем идёшь, то на этот раз обошлась молчанием. Уже Вера с Филом по домам разошлись, уже все Клюевы домой вернулись, и только тебя где-то черти носили! И только когда Арсений Михалыч позвонил… Ты хоть можешь себе представить, что я мог подумать, когда он мне позвонил! Ты можешь представить, что я думал, когда понял, что ты пропала не одна, а в компании с Эдуардом! Ты хоть понимаешь, что мы тут думали?! Нет? Очень плохо!
    Я пыталась вставить хоть слово, но это было нереально. Все три возможности, которые мне предоставляли, я упустила. Оставалось только ждать, когда иссякнет красноречие папы.
    А оно, кстати, уже… того. Он смотрел на меня, и мне от этого взгляда становилось стыдно. Тошно. И хотелось провалиться сквозь землю.
    А лучше — перенестись, как по волшебству, к Эдику, обнять его и пожаловаться на то, как несправедлива к нам жизнь. То он не оправдывает моих ожиданий и игнорирует известие о том, что я вампир, то папа вдруг теряет ко мне всякое доверие и так и ждёт, что я начну набрасываться на людей средь бела дня. Ну или средь чёрной ночи.
    Слёзы навернулись на глаза. Ведь я же никому зла не желала! Ничего плохого не хотела! И не сделала! Я просто… просто влюбилась.
    — Но это же… это же прекрасно… — обескураженно проговорил папа.
    …и не заметила, как последние слова проговорила вслух.
    Я покраснела. Или даже побагровела. Не исключено, что аж посинела! И снова, как идиотка, завелась:
    — Пааа, это не то, что я имела в виду… то есть то, но не то… но, в общем, я…
    — Хватит, — жёстким возгласом остановил он меня. — Хватит. Я этого и опасался, с самого начала. С тех самых пор, как ты впервые заговорила о Клюевых. Не Эдуард, так другой, их там много. Я опасался того, что ты вскружишь им головы. Будешь вертеть ими, как марионетками. Ты же достойная дочь своей мамы! Тебе же нужны толпы поклонников, ты не можешь успокоиться, пока не удалишь со своего пути всех конкуренток. А ты ни разу не задумывалась, что чувствуют девочки, которых ты унижаешь? Ты вообще замечала, что унижаешь местных девочек?
    — Что?! Я?! Да я!.. Да я ни разу!.. — я лихорадочно перебирала в уме свои разговоры с местными и понимала даже без папиных подсказок, что была слишком резкой и насмешливой. Всегда.
    — Да, да. Ты. И не раз. Они виноваты, что во Фролищах нет магазинов, где можно купить туфли из последней коллекции Прада и сумочку от Вуттон? Они виноваты, что ты родилась с серебряной, нет, с золотой ложечкой во рту, а им в голову не придёт отдавать десять тысяч рублей за кусок шёлка, чтоб повязывать на бёдра? Уж не говоря о том, чтобы просто так, из прихоти, заводить двадцать таких кусков! А ты не замечаешь, ты всё время, каждым словом, каждым жестом даёшь им понять, что они из низшей касты и должны быть счастливы уже потому, что дышат одним воздухом с тобой!
    А вот тут папа перегнул.
    Если я когда и думала так, то только в первый день во Фролищах! Ну во второй, когда выбралась на пляж… но теперь же я другая! И уже прошла почти целая неделя! И теперь же я…
    Да. Теперь я продолжаю шпынять девчонок, чтобы они как можно дальше держались от Эдуарда.
    От моего Эдика.
    Я, стоявшая всё это время в дверях кухни, прошла внутрь и села за стол напротив отца.
    Он смотрел на меня так, что его взгляд входил в мои глаза и выходил из затылка двумя пытливыми лучами, просвечивающими голову изнутри.
    И чего он так взъелся на меня из-за девчонок… неужели они ему нажаловались? Ведь его самого на пляже ни разу не было.
    — Па… а откуда ты узнал про девочек?
    Теперь лучи моих глаз просвечивали папину голову.
    — Мы вчера разговаривали с Болотовым…
    — Ясно, — кивнула я.
    — Что тебе ясно?
    — Что мне не зря так не понравилась эта Катька. Ябеда.
    — Да что ты себе… — начал было папа, но тут же усмехнулся: — Да если честно, мне она тоже не очень-то нравится. Ну да бог с ней. Надеюсь, девочек ты оставишь в покое. Ты мне лучше скажи, что ты намерена делать с Эдиком? Он ведь как цыплёнок, впервые курицу увидавший, на тебя смотрит.
    Я успела остыть после нечаянного признания, но тут снова ощутила жар в щеках.
    — Но папа! Я же сказала уже — я люблю его!
    Второй раз признание далось куда легче.
    — Надолго ли? — с непонятной горечью проговорил он.
    — Навсегда! — с жаром выдохнула я. — Навсегда, папа! Я буду любить его, пока буду дышать!
    Он уставился куда-то в край столешницы, поколупал ногтем невидимую мне точку, усмехнулся:
    — Блажен, кто верует!
    А не слишком ли часто мой родной папа бога поминает?
    — Так… — он опёрся обеими ладонями о стол. — А теперь третий вопрос с повестки дня. Это ты вызвала сюда Вольных Волков?
    — Д-да… — переход с одной темы на другую оказался слишком резким, и я не уловила логики и даже не задумалась в тот момент о том, откуда папа знает маминых и моих знакомых — байкеров из «стаи» Вольных Волков. Да мало ли, в конце-то концов!
    — Зачем они тебе здесь?
    — Ну… мы решили… я, Вера и Фил решили устроить праздник, вроде как в честь моего приезда, и я решила, что…
    — О боже… — простонал папа, резко вскидывая кулак ко лбу. — Вы решили, и ты решила! Что решила? Пустить пыль в глаза всем Фролищам разом? Ты другого способа не могла найти? Более тихого? В два часа ночи кавалькада мотоциклистов — да здешние места такого не знали до приезда Клюевых!
    — Ну вот видишь, — обрадовалась я, — Волки уже не первые!
    — Но Клюевы ночью шумели только один раз! В день приезда!
    — Но ведь для праздника…
    — Надя! Ты слышишь меня? Никакого праздника! Я тебе запрещаю! Никаких Вольных Волков, никаких… чего вы там ещё напланировали? Я уверен, что Волками ты не обошлась! Выкладывай немедля! Всё!
    Я съёжилась под ураганом приказов и дрожащим голосом рассказала, как связалась по Интернету со своими и мамиными знакомыми, чтобы вызвать нормальную музыкальную группу, заказать фейерверки, пригласить байкеров, занимающихся фристайлом… если это всё и было тайной, то от основной массы жителей посёлка. А папе я бы, может, и раньше рассказала бы, но он ведь не спрашивал.
    Он, казалось, тоже стал меньше размером.
    — Это так ты решила отпраздновать своё появление во Фролищах, дочь?
    — Д-да…
    — О боже… и что, сегодня приедут ещё и эти твои… «Эмогёлз»?
    — «Эмобойз»…
    — На-а-адя… ты определённо думала не мозгом, а… нижней частью спины, когда надумала свести в одной точке байкеров и эмо!
    — Но а что тут такого?.. — не поняла я.
    — Что? Хмм… ну прислушайся, — с изрядной долей ехидства ответил папа.
    И тут я тоже обратила внимание на то, что на улице…
    На улице уже изрядно шумели.
    Красивые элегантные юноши со стильными причёсками, в красивой модной одежде выгружались из шикарных сверкающих «ниссанов» и «ландкрузеров». За ними следом выходили их представительные папочки.
    А у нашей калитки громко и без стеснения переговаривались Вольные Волки — Вулф, Мэйсон, Борода и Анчоус. И пусть я виделась с ними уже давно, не узнать их было невозможно.
    А чуть поодаль, широким кольцом, собирались зрители, фролищенские жители…
    — Оппа! Ты смотри! У него лысина сверкает ярче крыльев его повозки!
    — Ух ты! Он живой? Вот этот глист… пардон, йуноша бледный… слишком бледный, интересно, он пользуется той же пудрой, которой замазывают в белое гейш?
    — А может, оно она и есть? Ты смотри, мордашка беленькая, губки аленькие…
    — Ёлы-палы, присмотритесь, ногти, ногти! Все с крашеными ногтями!
    Странно даже. Ни единого слова матом! Какой интеллигентный байкер пошёл…
    Не сказать чтоб я так уж сильно обрадовалась окончанию разговора с папой, даже сказала бы, что мы и не поговорили толком и что нам ещё полные сутки сидеть бы и разговаривать, и то до конца беседы не доберёмся, ведь не бывает же, не должно быть так, чтобы папа и взрослая дочка, которую он последний раз видел ребёнком, прожили в одном доме неделю… прожили? Да я домой на ночь только и приходила! Я боялась! Не хотела надолго оставаться наедине с отцом! Не бывает, чтобы родные люди были родными только потому, что они так называются. Они должны знать друг о друге… если не всё, то многое. Должны переживать друг за друга… но как переживать за человека, который в твоей жизни появлялся на три-пять дней раз в год? Хотя… если б не переживала, не летела бы домой, когда поняла, что меня заманили в ловушку… ну, значит, мне будет легче полюбить своего папу.
    Вот ведь вопрос… люблю ли я его уже сейчас, не зная, кто он, довольствуясь тем, что когда-то они с мамой любили друг друга? Люблю.
    А какой он?
    Я оглянулась на папу. Он не стал выходить за мной во двор, стоял в дверях. Мне показалось даже, что он прячется, стараясь не появляться на освещённом пространстве.
    Я не знаю — какой. Мне было четыре, когда они с мамой развелись, и я вообще ничего о нём не знала. А последние лет этак тринадцать мне это было попросту неинтересно.
    Вот и сейчас я снова делала выбор между родным отцом и чужими людьми в пользу чужих людей.
    Ведь папа же никуда не денется, верно? А Вольные Волки порепетируют и уедут.
    И «Эмобойз» тоже.
    Я поправила хвостики, одёрнула майку, шортики, мельком пожалела, что не потрудилась сразу сделать дневной макияж, и вышла к Волкам.
    — Здравствуйте!
    Они неохотно отвлеклись от созерцания и обсуждения гламурных мальчиков, их родителей, водителей, машин и переключились на меня.
    Нестройно поздоровались и заулыбались. Вулф даже ближе подошёл:
    — Надя! Как выросла! Когда я тебя последний раз видел, совсем ещё вооот такой была…
    Я подумала, что показанный им рост — около полуметра — не мог быть моим полтора года назад, когда мы виделись с ним последний раз. Вот лет семнадцать назад, в первую неделю после рождения, — это да.
    Вулф, почти такой же высокий, как мой папа, но вдвое более широкий в плечах, втрое более загорелый и вчетверо более накачанный, под украшенной черепом банданой прятал шикарную лысину, от виска до виска через затылок обрамлённую редеющими и седеющими волосами. Его постоянно прищуренные глаза всё время улыбались и были такими добрыми, что слабо верилось в драчливость Вулфа, слухи о которой обычно летели впереди него со скоростью в двести двадцать километров.
    — А папа твой где же? — спросил Анчоус, сероглазый, невысокий и тщательно бреющий голову, чтобы скрыть намечающуюся лысину, и, конечно же, как обычно жующий сушёную хамсу.
    — А папа… — я оглянулась и замерла в растерянности.
    Папы на пороге уже не было.
    — Он в доме, — сказала я. — Позвать?
    — Ну да, — кивнул Вулф.
    Я не побежала бегом, но достаточно быстро и грациозно прошла в дом. Позвала папу. Он не откликнулся. И вообще, судя по запахам, прошёл насквозь, из одних дверей в другие. Выбежав в сад, я растерялась. Здесь «фоновый» запах папы был силён, как нигде больше, ведь он постоянно ухаживал за растениями, поэтому предположить, в какой стороне его искать, я не могла.
    — Пап! Паааап!
    Тишина в ответ меня порядком испугала. В голове галопом поскакали мысли о полчищах голодных косичкобородцев, проносящихся по Фролищам и похищающих Лебедевых, чтобы ритуально расчленить, поджарить на кострах и съесть.
    Задушив нелепые мысли, я вернулась в дом, снова заглянула на кухню и только теперь заметила записку на холодильнике.
    «Буду вечером».
    Ага, значит, ушёл на работу. Странно, конечно, обычно он не через сад в свою библиотеку ходит, ну да ладно. Я вернулась к байкерам.
    А у калитки тем временем остался только флегматичный Мэйсон, длиной и чистотой волос смахивающий на профессора Снегга из фильмов про Гарри Поттера.
    Вулф, Борода и Анчоус, держась большими пальцами рук за ремни рядом со сверкающими пряжками, врастали в землю напротив показывающих мужской стриптиз родителей и водителей группы «Эмобойз».
    Сами эмобойзы делали вид, что вся вот эта ситуация их не касается, однако перекочевали с широкой площадки, где разворачивался автобус и полукругом стояли теперь машины, под защиту авто, поближе к лесу. По выражениям лиц, на которых застыла смесь любопытства и испуга, можно было сделать вывод, что они готовы ускакать в лес в любой момент. И будут потом уцелевшие в бойне папы и дяди собирать их по всему лесу, подманивая звуками аплодисментов…
    В том, что бойни не избежать, убеждали лица мужчин, сопровождающих юные дарования. Их можно было показывать быкам, готовящимся к корриде: вот так надо пыхтеть. Вот так рыть копытом. И глаза должны быть налиты кровью именно так.
    Сопровождающие один за другим снимали наглаженные костюмы (не иначе как ручной работы, от Гуччи или, там, Элеганс), отдавали бледному коренастому пареньку, который ловко надевал их на невесть откуда появившуюся вешалку.
    Байкеры оскалили зубы и демонстративно сплюнули на дорогу.
    Сопровождающие запыхтели, выражая готовность к бою.
    Байкеры обидно расхохотались.
    Сопровождающие освободились от швейцарских часов.
    Байкеры снова хором заржали.
    Сопровождающие сдали пареньку на хранение солнцезащитные очки.
    Байкеры переглянулись и пригнулись, наконец-то сочтя противников готовыми к потасовке.
    — Стойте! — закричала я. — Остановитесь! Что вы делаете! Прекратите сейчас же!!!
    Я рванулась было к двум шеренгам, одна против другой выстроившимся на дороге, но меня поймал за локоть Мэйсон:
    — Не мешай, Надя. Это — дело чести. Мы всегда били, бьём и будем бить попсятину во всех её проявлениях.
    — Но… но они же совсем ещё дети!
    — Кто дети? Эти бугаи?
    — Нет! Певцы!
    — Они — певцы?
    — Нет, эти — родители певцов, а певцы — вон они, за машинами…
    — Надя, Надя… они не певцы. Они — позор нации. А вы все их ещё защищаете, вместо того чтобы умыть, постричь, побрить, переодеть и отправить в спортивный лагерь.
    Слова о спортивном лагере меня лично порадовали, но эмобои тоже их расслышали и особой радости не испытали.
    Ещё бы. Им уже, верно, примерещились подъём в шесть утра, водно-оздоровительные процедуры в виде обливания ледяной водой, разминка-пробежка на десять километров… Так, глядишь, и на пение сил не останется.
    — В общем, так, — громко сказала я, стараясь вложить в голос как можно больше царственной повелительности. — Вы не-мед-лен-но прекращаете этот балаган! «Эмобойз» и сопровождающие возвращаются к своим машинам, Вольные Волки — к своим байкам.
    На этот раз смеялись все.
    — Нет, вы не поняли! — я вырвала свой локоть у Мэйсона и решительно прошагала в эпицентр событий. Одарила каждого Волка и каждого их противника одинаково тяжёлыми взглядами, с удовольствием наблюдая, как они «сдуваются». Некоторые папы и водители даже отступили на шаг или два, кому насколько позволила гордость. — Вот теперь, похоже, поняли.
    Когда Вольные Волки с презрительными усмешками вернулись к своим мотоциклам, а осмелевшие эмобои вылезли из своих ненадёжных укрытий, я вздохнула с облегчением.
    Похоже, драки не будет.
    Можно было бы и успокоиться, но электрические искры напряжения пулемётными очередями прошивали воздух вокруг меня, когда сопровождающие «Эмобойз» и Волки обменивались взглядами.
    Ну, по меньшей мере, драки не будет прямо сейчас.
  {% endfilter %}
{% endblock %}
