{% extends template %}

{% set parentTitle = "Антисумерки. Блог вампира. Часть I" %}
{% set title = "Глава одиннадцатая. Осложнения на горло" %}
{% set pubdate = "23.06.2012" %}

{% block heading %}
  <h1 class="art__title">Антисумерки. Блог вампира</h1>
  <p class="art__title-descr">Часть I</p>
{% endblock %}

{% block content %}
  {% filter prose %}
    Я долго не могла уснуть, крутилась на кровати, снова сбивая в жгуты простыни и одеяло.
    Мне не надо было даже закрывать глаза, чтобы видеть перед собой Эдика. Не надо было сосредотачиваться, чтобы вызвать ощущения, кружившие голову во время моего первого поцелуя.
    Я уверенно называла его не первым поцелуем с Клюевым, а просто первым, потому что знала: всё, что было в моей жизни до него, — неправда. Этого всего просто не было! И жила я все семнадцать лет только для того, чтобы однажды приехать во Фролищи, увидеть свою судьбу, ощутить магический аромат крови и навсегда, навсегда полюбить Эдуарда Клюева. Он вдали от меня сейчас, и мне неспокойно. Мне хочется сорваться с места, побежать к нему, убедиться, что с ним всё в порядке, что он мирно спит в своей кровати… и в то же время я надеюсь, что он, как и я, не может уснуть.
    Это ли не любовь?
    Перед сном я тщательно, на все задвижки, закрыла окна, закрыла двери своей комнаты на ключ, подпёрла стулом и пожалела о том, что нет амбарного замка. Потом подумала, что дверь всё равно хлипковата, но стул убирать не стала.
    Зато теперь, проснувшись снова с незадёрнутыми шторами, некоторое время не могла понять, с чего это вдруг забаррикадировалась. Все события вчерашнего дня сосредоточились вокруг моего первого поцелуя, и вспомнить о том, что мне угрожает реальная опасность в лице Косичкобородца, стоило немалых усилий.
    За окном свежим одуванчиком на ясном голубом небе светило солнышко, весело шумели сосны, требовательно блеяла Упа, просясь на улицу, к своим товаркам, которые отвечали ей нестройным хором. Кудахтали куры. В отдалении мычала корова. Судя по времени — девять утра — она давно уже была подоена, и, наверное, ей просто нравилось мычать. Ветер качал затейливое макраме запахов, в котором я могла проследить каждую ниточку, каждый узелок. В нём всё ещё присутствовали тонюсенькие жилки, оставленные Белобрысым и Вторым (я не была уверена в том, что именно он и есть Косичкобродец).
    Нет, в такое мирное, тихое утро определённо не могло случиться ничего плохого.
    Я позавтракала вместе с папой и тётей Валей и отправилась на прогулку.
    Хоть и собиралась просто побродить по утренним Фролищам, добраться до Луха в надежде встретить Эдика, едва увидев пятиэтажки, вспомнила Гара и Интернет. Позвонив Игорю, удивилась. Мой звонок разбудил его! Ну и соня…
    Дверь мне снова открывала тётка. На этот раз она смотрела на меня с пристальным интересом, медленно водила взглядом с головы до пят, и я ощущала себя насквозь просвеченной рентгеном. Вот сейчас она видит аномально длинные клыки, втянутые в челюсти, теперь наблюдает, как бьётся моё сердце… ей что, так интересно проследить движение запечённой рыбки по моему кишечнику?
    Закончив осмотр, тётка неожиданно улыбнулась мне. И ещё подмигнула:
    — Проходи-проходи, там он, — указующий перст снова отправлял меня в комнату Гара. — Ждёт — не дождётся!
    — Ой, Наденька пришла! — закудахтала бабушка, выплывая из кухни в облаке пара и ароматного дыма. Похоже, оладушки сегодня пекли по другому рецепту. — А Игорёша только о тебе и говорит, Наденька! Да, такая справная девочка, конечно, ты ведь заметила, что ты ему нравишься…
    Интересно, что там «только обо мне и говорит» Гар? Но когда мои щёки горят так, они похожи уже не на помидоры, а на вишни-переростки, поэтому, не дослушав ласкового квохтанья бабушки о том, как Игорю повезло, что я обращаю на него внимание, я метнулась в комнату парня, на лету бормоча невнятные извинения.
    Мне действительно было стыдно. Очень стыдно за то, что я своими посещениями давала надежду мальчику, которого не люблю, тогда как на самом деле не то чтобы сердце моё принадлежало другому — я вся, все сто триллионов клеток моего тела, все вместе и каждая по отдельности, и каждый электрический импульс в нервных волокнах, и каждая порождаемая ими мысль… это всё было безраздельной собственностью Эдуарда Клюева.
    Игорь, пряча тоскливое выражение лица, скорчил забавную, на его взгляд, рожицу, которая мне напомнила оскал дохлой бешеной лисицы, и столь знакомым мне шутовским поклоном, сопровождаемым взбрасыванием брови, предложил проследовать к уже включенному компьютеру. А я… что я могла поделать, если мне действительно нужен был Интернет, а заказанный в «Озоне» USB-модем пока и не думали доставлять?
    Сегодня мне впервые мешало присутствие Игоря в комнате. Может быть, потому, что он подошёл ближе обычного? Я чувствовала на себе не только его жаждущий взгляд, но и жаркое возбуждённое дыхание. Наверное, в другой момент, с другим человеком, я бы ещё и испугалась. Как же так, раздраконила парня, он готов за мной на коленях по щебёнке до Москвы, а я на него ноль эмоций! Вот-вот кипением сорвёт крышечку, и что тогда будет, никому не известно.
    Но Игоря я не боялась.
    В глубине его выразительных тёмных глаз жило твёрдое понимание того, что он сам на это подписался. Он сам, зная, что девушке от него не нужно ничего, кроме его компьютера, согласился предоставлять ей по первому требованию доступ в Интернет.
    Ну и что, что девушка из вежливости улыбается и позволяет проводить себя до дома…
    Мне удалось выскользнуть от Гара, не попавшись на глаза ни бабушке, ни тётке. Милые женщины и так получили достаточно пищи для размышлений и выводов и вряд ли в скором времени откажутся от построения планов о светлом будущем внука и племянника в далёкой Москве.
    Между тем солнце успело взобраться в зенит и поливало оттуда одуряющим жаром, от которого, уверена, становилось неуютно не только мне, вампиру, но и обычным людям. Шутка ли — плюс тридцать пять!
    И так не отличающийся живостью посёлок вымер окончательно. Кто-то прятался от изнуряющего зноя в домах и квартирах, кто-то уже прописался на берегах Луха, Вареха и Санхара. Немного поразмыслив, я решительно присоединилась к последним.
    Как ни далека я была от реальности, витая в облаках любви к Эдуарду Клюеву, сумела заметить, что постоянно пребывают на пляже только фролищенские девчонки, с которыми познакомилась в первый же день, — Валя, Оля, Света и Катя. Остальные же пляжные жители делились на две группы, которые никогда не позволяли себе позагорать на одном пляже или поплавать в реке в одно и то же время.
    Группы эти были примерно равны по количеству, и первую, меньшую, для меня, без оговорок, элитную, составляли Клюевы. Красивые лицами и фигурами, модно одетые, элегантные, с ровным загаром, полученным на юге, они неявно сторонились «великолепной четвёрки» здешних девчонок и очень-очень странно относились ко мне.
    Можно было подумать, они меня боялись.
    Чем ещё можно объяснить их заискивающе-добрые приветствия и прощания, учтивую немногословность и неназойливое внимание к каждому моему слову или жесту? Даже когда со мной был Эдик, где-то в зоне досягаемости маячило от двух до пятерых Клюевых. Я бы организовала таким образом группу прикрытия для очень важного человека. Пока всё спокойно, группа шастает где-то рядышком. Как только человека начинают убивать, группа дружно набрасывается на убийцу, одновременно утаскивая подзащитного… а Эдик то ли не замечал этого, то ли успешно делал вид, что не замечает.
    По моим наблюдениям, около часу дня происходила «смена караула»: откуда-нибудь из-за поворота изгибистого Луха выплывали Клюевы, а отдыхающие в это время на пляже мальчики и девочки, преимущественно малого возраста, потому что самыми старшими из них были Фил и Вера, очень быстро собирали свои вещи и исчезали в неизвестном направлении. Потом, часа через два-три, они немой шеренгой вновь появлялись в отдалении, среди сосен, принуждая испариться Клюевых. Ещё через пару-тройку часов история повторялась.
    Если бы не это строгое чередование, ни разу бы не вспомнила рассказанную Верой смешилку. Ведь, кроме неё, другого объяснения этой холодной войны не находилось.
    Кстати, Вера позвонила и сказала, что сегодня весь день их с Филом не будет, а вот вечерком, если у меня будет время-настроение, прогуляемся.
    А перед моими глазами разворачивалась картина, поначалу повергшая меня в дежавю: из-за поворота Луха баттерфляем выплывали Клюевы-парни. Значит, скоро появятся и сёстры Клюевы.
    Я залюбовалась подтянутыми, скульптурными фигурами братьев моего Эдика… и выпала в глубокий осадок, не увидев его среди них.
    Паника встряхнула сердце. Что-то случилось?
    Я постаралась не слишком поспешно вскочить и не слишком быстро бежать к ним с расспросами, но всё равно выглядела со стороны сумасшедшей. По меньшей мере, Клюевы от меня шарахнулись. Они смотрели настороженно, а я с надеждой заглядывала в их лица, надеясь прочитать ответ на мой вопрос ещё до того, как он будет задан.
    — Да в порядке с ним всё… — осторожно протянул Максим, тот самый, что нравился Вере. — Ну приболел мальца…
    — Сейчас с девчонками подойдёт, — уже более спокойно и миролюбиво подхватил Саша — самый высокий и самый взрослый на вид братец Клюев.
    Максим, Вадим и Коля, Андрей, Арсений, Клим, а также Саша с Пашей и Кон-стан-тин — в таком ритме говорил Эдик — он сам запоминал своих родных братьев поимённо, чтоб никого не забыть. Действительно, легко запоминалось, даже я с первого раза усвоила все имена. Только по внешности пока чётко различала всего троих, Максима, Сашу и Константина — последнего по стильным очкам в роговой оправе.
    Интересно, а если вдруг вооон тот мальчик, кажется, Коля, почти такой же высокий, с такой же в точности причёской, как у Кости, наденет его очки, смогу я узнать Константина? Или, может, я его уже с кем-то попутала…
    — А чем он приболел, что с ним?
    — Ангина, — лаконично ответил Максим.
    — Фолликулярная, — так же лаконично пояснил Арсений, обладатель самого рыжего отлива в волосах.
    Хотя не уверена…
    На случай, если я не расслышала или не поняла, сразу двое Клюевых, кажется, Вадим и Клим, повторили:
    — Фолликулярная ангина!
    — Да я вообще-то хорошо слышу и понимаю с первого раза, — всё-таки обиделась я.
    Мальчики смутились. Однако… и что за день? Всё идёт наперекосяк и по диагонали!
    Из нестройного хора перемежающихся музыкальными эканьями-аканьями и немузыкальным мычаньем голосов я смогла разобрать извинения за то, что они так себя повели. Оказывается, они не хотели меня обижать, просто я смотрела так… ну будто их не слышала. Или правда не понимала… похоже, выражение на моём лице не отображало встревоженного состояния мыслей, а показывало всем их дебилистическую спутанность и заторможенность. Ррр…
    Что ж, ангина, даже фолликулярная, — это не самое страшное, что может в наши дни случиться с человеком. Даже в тихих и спокойный Фролищах.
    Ага, где шастает косичкобородый маньяк.
    С гордо поднятой головой, одарив их всех лучезарнейшей из улыбок, я вернулась на своё место и почти сразу же увидела — но не того, кого хотела бы видеть.
    Щеголяя болезненной белизной и худобой тела, на пляж шёл Игорь. Второй раз за лето? Или вовсе первый? Пусть я не так много времени пока ещё провела во Фролищах, но уж завсегдатаев пляжей узнать успела. К тому же, проводи Гар чуть больше времени на свежем воздухе, смотрелся бы куда здоровее. А так… сидит небось в обнимку с компьютером, общается с Интернетом…
    Он снова смутился под моим взглядом, и я узнала, что он краснеет именно что до корней волос.
    По всему телу.
    — Можно с тобой рядом? — тихо спросил Игорь.
    По-моему, от кого-то я это уже слышала… Сказать, что можно, — а вот сейчас придёт Эдик! Сказать, что нельзя… но как же тогда Интернет?
    Я пожала плечами. Мол, как хочешь.
    Понятливый мальчик с тяжким вздохом устроился чуть поодаль. У него не было пляжного коврика, он улёгся прямо на песок и тут же заворочался, забрыкал ногами.
    — Что-то не так?
    — Да всё не так! — объявил Гар, усаживаясь, мрачно сдвигая брови к переносице и угрюмо опуская голову на сцепленные руки. — Жжётся, сс…
    Он корректно проглотил окончание слова. Я незаметно дотянулась рукой до песка. И вовсе не жжётся. Нормальный тёплый песочек. Беленький, меленький, такой классный…
    Момент, когда на пляже появились сёстры Клюевы вместе с Эдиком, я всё-таки пропустила. Или они просто слишком быстро подошли слишком близко?
    Эдик не спрашивал, можно ли ему садиться рядом со мной. Просто сел и, прежде чем поздороваться, обнял меня, погладил, длинно, от затылка и до талии, одним движением руки.
    Я растаяла. Меня хватило только на то, чтобы ответить вежливыми улыбками на приветствия Эдиковых сестёр и заметить исполненный вселенской тоски взгляд Игоря.
    Раньше я не понимала, как это — просто сидеть рядом, держаться за руки и молчать? Теперь же сидела рядом со своим любимым и понимала, что могу так просидеть целую вечность… странно. В последнее время стало слишком много моментов в моей жизни, в которых мне хочется остаться навсегда.
    А как же развитие, личностный рост, самореализация и прочее, прочее, прочее?
    Я искоса рассматривала профиль Эдика.
    У моего любимого чуть припухли нос и губы, горло его было аккуратно обёрнуто лёгким шарфиком. И веки чуть отекли. И тело горячее обычного.
    — Эдик… тебе очень плохо?
    — Нет! Мне очень хорошо, потому что ты рядом! — героически просипел Клюев.
    Боль стиснула сердце. Ну почему он заболел? Почему не я? Случись у меня ангина — внеплановый стакан крови снял бы её моментально, любую. А Эдик… ему теперь лечиться, пить…
    Ха. А почему бы ему не попить целебных отваров?
    Я вскочила, отряхиваясь от прилипшего песка.
    — Как ты себя чувствуешь?
    — Э-э…
    — Ясно. Плохо. Идти сможешь?
    — Да! — шёпотом воскликнул Эдик, и я, в мгновенье ока свернув и свой, и его пляжные коврики, ухватила его под руку и потащила в лес.
    Мою спину… да чего уж там, не столько спину, сколько некую часть тела чуть пониже, прожигал взгляд Игоря.
    Да. Теперь он точно знает, кто его соперник.
    У меня в планах было найти листья мать-и-мачехи и малину.
    Сначала, уходя от пляжа, мы с Эдиком чуть ли не бежали, причём, стоит отметить, по его инициативе. Потом я стала замедлять движение и тщательнее приглядываться к траве и кустам.
    Похоже было, что сосновые боры — не лучшее место для малинников и мать-и-мачехи. Хотя должна же ведь расти, неприхотливая к почве, да ещё в высокой влажности… но она всё никак не попадалась. Увы мне, других трав для лечения горла я не знала. Да и вообще, просто других трав тоже. Смутные отголоски школьной программы по ботанике плавали в голове, противореча друг другу. Интуитивно понятные слова типа «биогеоценоз», «экосистема», «микобиота» проносило мощным течением мысли, да так, что я не успевала толком понять их значения. А ведь когда-то знала, раз вспомнила.
    Эдик, который всё время грыз какие-то травки, скоро заметно повеселел. Может, он, как кошка или собака, интуитивно выбирал целебные?
    Говорить он мог только с большим трудом, поэтому мы больше молчали. И это было изумительно! Всё-таки совершенно особое чувство вызывает такое безголосое взаимопонимание. Свернуть налево или направо? Не вопрос, мы свернём в одну сторону. Взобраться на пригорок или спуститься в овражек? Но мы оба захотим на пригорок… остановиться и безоглядно предаться поцелуям?..
    Мы побоимся.
    Мы будем долго переглядываться, замедлять шаг и снова ускорять, но повторить вчерашний подвиг будет страшно. Ведь вчера было… что-то совершенно не поддающееся никаким описаниям! А вдруг сегодня поймём, что всё на самом деле не так, вдруг очарование первого поцелуя убьёт второй?
    Сегодня решительность обуяла Эдика.
    Говорить он опасался из-за боли. Подозреваю, что целоваться тоже. Но именно он вдруг притянул меня к себе и, сначала осторожно, потом всё смелее и смелее, принялся целовать.
    Я столько раз читала о том, что во время поцелуя весь мир перестаёт существовать, время останавливает свой бег, в животе порхают бабочки, и так далее, и тому подобное в том же духе. Наверное, я читала про поцелуи людей! А у меня, вампира, резко обострялись все чувства. Я видела, слышала, осязала, обоняла всё стократ ярче. Каждую иголочку на сосне. Каждый листик папоротника. Каждую птичью трель в радиусе ста километров… если бы только птичьи трели и наполняли воздух! Ведь одновременно с ними звучали козы, коровы, машины, люди, куры, собаки… зато изо всех запахов я могла ощущать только один.
    Запах крови Эдуарда Клюева.
    И это было прекрасно.
    И ещё одно мгновение попало в копилку тех, которые мне хотелось растянуть на целую вечность…
    Мы бродили по лесу, уже напрочь забыв про малину и мать-и-мачеху. Нам просто было хорошо вдвоём. Так и настолько хорошо, что, когда вдруг сумерки под сенью сосновых крон стали сгущаться в ночь, мы удивились и впервые за весь день обратились к часам.
    Вот ведь! Одиннадцатый час!
    — Я так полагаю, к ужину мы опоздали? — мечтательно прошептал Эдик, берегущий голос, и я так же тихо отозвалась:
    — Похоже, мы опоздали и к первому ночному чаю!
    — Но что нам тогда мешает прийти к завтраку?
    Горячая волна странной смеси чувств обдала меня от головы до ног, если точнее, от уха, в которое мой любимый выплеснул горячий выдох, и до самых-самых пяточек. В этой волне прослеживались и внезапный стыд, и безотчётный страх… но преобладала всё-таки радость. Сметающая всё на своём пути, яркая и переливчатая радость, от которой не хотелось кричать дуриком и прыгать, но хотелось прижаться потеснее к Эдику и сказать ему большое спасибо, тихо-тихо сказать, на ушко, чтобы и ему от моего дыхания стало жарко…
    Мы никуда не спешили, бредя наугад между тёмных стволов.
    — Волшебное время — сумерки, — шепнул Эдик.
    Я тихонечко, чтоб не разрушать до конца мирное очарование момента, ответила:
    — А мне больше ночь нравится!
    — Ночью слишком уж темно, — усмехнулся Клюев.
    — В этом-то и вся прелесть! — клацнула я зубами рядом с его носом.
    — Ой!
    Эдик отшатнулся.
    Я смутилась.
    — Прости, не хотела тебя пугать…
    — Да ты и не напугала…
    И мы побрели дальше, пока вдруг не вышли на пригорок, с которого деревья сбегали редеющей гурьбой до середины склона, а внизу стоял завод. Заброшенный завод! Его кирпичные стены, на которых ещё кое-где сохранилась штукатурка, казались призрачными. У горизонта над ними виднелась малиновая полоска заката.
    А в небе висела полная луна, и рядом чернела заводская труба…
    — Как красиво… — выдохнули мы в один голос.
    Не сговариваясь, расстелили пляжный коврик прямо там, где нас застало это волшебное зрелище, и, обнявшись, залюбовались луной.
  {% endfilter %}
{% endblock %}
