{% extends template %}

{% set parentTitle = "Антисумерки. Блог вампира. Часть I" %}
{% set title = "Глава двадцатая. Ждать почти не приходится" %}
{% set pubdate = "23.06.2012" %}

{% block heading %}
  <h1 class="art__title">Антисумерки. Блог вампира</h1>
  <p class="art__title-descr">Часть I</p>
{% endblock %}

{% block content %}
  {% filter prose %}
    Похоже, во Фролищах большинство домов строились по одному плану. По крайней мере, у Захарченко был такой же, как у нас, коридор — сквозной, прямо с улицы и в сад, — такая же кухонька, зал на первом этаже, лестница на второй этаж. Аккуратно прикрыв за собой дверь, я даже не стала задумываться о том, что и как делать дальше, а просто прошла на улицу и направилась в сторону дома Эдика.
    Вот ещё! Ждать тётю Валю и её защиту! Тем более, она же ясно дала понять: Эдику придётся как-то отбиваться самому.
    А разве я могу позволить, чтобы мой любимый… я же даже не знаю, что с ним сейчас! Вот мама — она в Москве. Папа — он с Вольными Волками. А Эдик — один на один с «другом семьи».
    Ноги жалобно заныли, когда я снова перешла на бег.
    Теперь я не ловила в воздухе дикую вонь, знала, что её может и не быть.
    Едва замаячили вдалеке изящные башенки дома Клюевых, ноги перестали жаловаться и сами понесли в два раза быстрее. С разбегу перемахнув забор, успела только удивиться тому, что сад, кажется, снова стал другим. А сама уже швыряла камешек в окошко пятого этажа…
    Когда меня со спины кто-то страстно обхватил поперёк тела, я сначала огрела насильника по шее, а потом уже попросила прощения у своего любимого. Так настроилась на то, что он у себя в комнате, что даже не признала по запаху.
    — Да ничего, ничего! — уверял меня Эдик, потирая шею и плечо. — Ничего страшного, не, не сильно, что ты! Я очень рад тебя видеть, я уже хотел к тебе идти!
    Я вцепилась в него, как клещ. Повисла на нём.
    Он был живым.
    Живым, тёплым, ароматным, умопомрачительно влекущим и таким настоящим, что просто дух захватывало. В его тёмных глазах светилась такая нежность, такая страсть таилась в чувственном изгибе губ, что я чуть не забыла, зачем пришла к нему.
    — Эдик, он хочет нас убить!
    — Знаю, — мой возлюбленный обнял меня ещё крепче, чем я его. — Знаю. Но я ему не позволю.
    Прерывисто вздохнув, я уткнулась в его плечо. Ещё одно мгновение в копилку тех, в которых хотелось бы пребывать вечно.
    — Эдик!..
    Так хотелось сказать ему о том, как сильно я его люблю, как меня перехлёстывает через край это мощное чувство, как каждый мой вдох, каждый выдох наполняют меня ещё большей любовью, хотя казалось, что это уже просто невозможно…
    — Эдик, давай найдём моего папу… — прошептала я.
    Кажется, он ждал несколько иных слов.
    — Надо… доз… вонить… ся… маме!
    Не менее десятка попыток позвонить маме наткнулись на безразличное сообщение о том, что телефон абонента вне зоны доступа либо отключен.
    Мы решили не брать Эдиков мотоцикл и наперегонки мчались по лесу, стараясь шуметь как можно меньше и вслушиваясь в природу. Где-то должны были послышаться звуки моторов — или звуки отдыхающей компании байкеров.
    — Сна… чала… па… пу! — выдохнул Эдик, и мы продолжили свой стремительный бег.
    Сперва мы пытались найти следы папиного байка, но потеряли их на грунтовой дороге, едва-едва отойдя от дома. Потом пытались выслушать, откуда зазвучат моторы… но кто их знает, этих байкеров, куда понесёт вольный ветер? Потом снова учуяли ароматы мотоциклов — папиного и прочих — на дороге, ведущей к Еловому, ещё одному здешнему озеру, до которого мы с Эдиком так и не успели добраться. Мой любимый сказал, что знает, как срезать путь, и вот мы бежали, прыгая через кусты и корни.
    Что за день сегодня? Сплошная беготня да прыжки!
    Временами мы поглядывали друг на друга. У кого хватит сил и смелости остановиться и наконец, наплевав на возможность скорой гибели — откуда мы знаем, что там задумал косичкобородый монстр со своими дружками, не идут ли они за нами попятам — дать волю чувствам?
    Первым сдался Эдик. Помня о том, что нападения со спины чреваты последствиями, он обогнал меня, остановился. Я подошла к нему ближе.
    Ещё ближе.
    Мы целовались, забыв обо всём на свете, и, если бы вдруг этот момент стал последним в нашей жизни, боюсь, мы бы и не заметили, настолько глубоко погрузились в собственные чувства и ощущения. Мои руки блуждали по его телу, его руки ласково и бережно исследовали моё, мы привалились к сосне, капли смолы, чешуйки коры, пружинящее покачивание… оказалось, что оторваться друг от друга не менее сложно, чем признать за собой право на поцелуй.
    — Еловое там, — махнул Эдик рукой.
    — Знаю, — кивнула я. — Принюхайся, пахнет водой.
    Мой любимый старательно втягивал воздух, то носом, то ртом, и, похоже, ничего не чувствовал, только не сознавался.
    Да, похоже, нюх у растительных вампиров, или, по крайней мере, персонально у Эдика, слабее, чем у меня.
    Я так хотела, и стало так.
    Вольные Волки разбили лагерь на берегах Елового. Ну это, конечно, сильно сказано — лагерь. Сосны и ели врастали едва ли не в самую воду. Мотоциклы стояли среди них вертикально, опираясь на крутые склоны берега. У кромки воды на большом бревне сидели в ряд мой папа, Анчоус, Борода, Вулф и Мэйсон.
    В руках у папы и Мэйсона были удочки.
    Эдик неожиданно громко захохотал, и сразу четыре страстных «чшш!» заставили его резко умолкнуть, зажав рот руками. Я-то успела зажать раньше, чем засмеялась, поэтому моё приглушённое мычание Волки проигнорировали.
    — Как улов? — вежливо поинтересовались мы.
    — Плохо, — хором ответили байкеры.
    Не то чтоб не поверила, просто любопытство взыграло, и я сунула нос в обрезанную пластиковую пятилитровку, служившую контейнером для улова.
    На дне лежала маленькая, если не сказать крохотная, рыбка. Анчоус и то крупнее грызёт.
    — В прошлый раз, когда я тут днём рыбачил, — чуть виноватым тоном пояснил папа, — у меня был ого-го какой улов, мы потом с Валей дома взвесили, так четыре килограмма получилось, и это за один час рыбалки! А сегодня что-то не идёт…
    Сосны справа, ели слева, лёгкая рябь по воде, отражения прозрачных облаков в прозрачной воде и четыре сосредоточенных затылка над двумя неподвижными поплавками настраивали на умиротворённый лад, и предупреждение об опасности прозвучало из моих уст очень спокойно и совсем не страшно.
    — Па, тут на тебя будет охотиться один вампир…
    Байкеры захохотали, и хоровое «бу-га-га» пошло гулять от ёлок до сосен. Конечно, этот смех рыбу распугать не мог.
    Папа ещё более виноватым тоном объяснил:
    — Надь, ну ты понимаешь, это же не… не для всех понятно, да?
    Я поджала губы:
    — Понимаю, но я серьёзно. Он действительно будет охотиться.
    — Кто? — спросил, морща лоб, Вулф.
    — Вампир, — внятно, с чёткой артикуляцией выговорила я это слово и медленно выдвинула клыки.
    Эдик рядышком тяжко вздохнул и тоже улыбнулся по-особенному. У него было четыре пары клыков, две как у меня, поближе к резцам, длинные, чуть выступающие вперёд, и две по бокам, покороче.
    Он был божественно красив.
    И тут случилось то, чего я ждала давно и уже почти безнадёжно: байкеры дружно помянули чьих-то матерей и виртуозно развили тему! Эдик невольно заслушался, да и я тоже.
    — Хватит! — сопроводив слова властным мановением руки, папа оборвал словоизвержение.
    Вольным Волкам словно выключили звук: они продолжали шевелить губами, но мы больше ничего не слышали.
    — Так-то лучше.
    Папа скрестил руки на груди, гордо откинув голову:
    — Примите как данность! Вампиры — существуют, оборотни — существуют, и те парень с девушкой на «Крыльях» не были вашим пьяным бредом или глюками от дыма соседского костра!
    Судя по тому, как запереглядывались байкеры, им уже доводилось видеть то ли вампиров, то ли оборотней. Кто его знает, кого и на что разобрало там, на фестивале…
    — Э… ты, выходит, и тогда знал? — осторожно поинтересовался Мейсон.
    Папа молча отвернулся.
    — Это что ж тогда получается? — Борода в две пятерни принялся наводить причёску в бороде.
    — Получается, что вам надо быть осторожнее, — спрятала я клыки.
    — Ну… осина… святая вода, серебро… — забормотал Мейсон.
    — Нет, нет, — одновременно среагировали я и Эдик.
    — Это всё предрассудки, — развёл руками папа. — Увы. Так, конечно, было бы проще, но увы. Вампиры — очень быстрые, очень сильные и очень умные, поэтому и навыдумывали о себе небылиц, для успокоения общественности. Должны же люди не чувствовать себя совсем беспомощными перед лицом опасности. И… Надя, ты уверена, что он будет охотиться именно на меня?
    — Э… — моей короткой запинки хватило для того, чтобы он просто взорвался:
    — И ты! Ты идёшь по лесу, одна, чтобы предупредить меня?! Когда тебе самой грозит опасность!
    — Она не одна… — попытался робко вставить Эдик, но папа его словно и не услышал вовсе.
    — Вместо того, чтобы позвонить мне или маме!
    — Так у мамы не отвечает! И у тебя не берёт!
    — А Захарченко? А Широковы? Вы же вместе были все! Надеюсь, тебе известно, что они… способны помочь тебе?
    — Да известно, — отмахнулась я. — Но пойми ж ты! Тётя Валя сказала, что тебе и маме поможет, а Эдику — нет!
    В ответ папа глухо зарычал.
    Да, из него получился бы просто шикарный вампир. Или, на худой конец, оборотень.
    — Пап… ну ты пойми… я… я же не могла, ну…
    — Понимаю, — обнял он меня за плечи. — Рыбалка окончена. Рыбу купим в военторге. Сматываем удочки и… ты поедешь со мной, а Эдик…
    Вольные Волки дружно шагнули назад, приклеившись взглядами к плотно сомкнутым губам Эдика. Очевидно, живенько так припомнили божественную улыбку моего возлюбленного.
    — Да ладно, пап, мы пешком прогуляемся рядом с вами, всё равно вы тут большую скорость не разовьёте…
    — Ну ладно, — согласился он после некоторого раздумья. — Только чтобы в поле моего зрения, ясно?
    — Ага!
    — Хорошо!
    Мы с Эдиком взялись за руки и терпеливо ждали, пока байкеры соберут свои вещи и приторочат к сёдлам удочки и сумки. Обрезанную пластиковую бутылку они совсем уже было вознамерились оставить на память о рыбалке возле бревна, но под моим тяжёлым взглядом Борода уложил её в одну из сумок.
    Папа управился одним из первых, и теперь мы тихо переговаривались:
    — Ты звонила маме?
    — Да, говорю же, у неё не отвечает.
    — Странно… я тоже уже позвонил, телефон отключен.
    — Вот и я о том же… пап…
    — Да?
    — Скажи. Как ты думаешь… С ней… ничего…
    — С ней всё в порядке, вот увидишь, дочь. Твоя мама не из тех, кого… кому можно легко навредить.
    — Но я всё равно…
    — Успокойся, всё будет хорошо.
    Успокаивая меня, сам он слишком уж нервно оглядывался.
    — А что за вампир? Я его знаю?
    Мой папа действительно был знаком с несколькими московскими вампирами.
    — Не… Я сама его не знала, увидела первый раз в поезде, когда сюда ехала. Он такой противный! Такой вонючий!
    — Это у него такой дезодорант, — вклинился в беседу Эдик. — Он мне уже похвалился, что долго подбирал аромат, заглушающий его вампирский запах, и теперь всегда, когда хочет сбить с толку своих собратьев, пользуется им сам и друзьям тоже даёт.
    — Друзьям? — мгновенно среагировал папа.
    — Н-ну… да. Он тут с товарищами, — преувеличенно бодро ответила я, и папа понятливо так усмехнулся:
    — Ясно, и ты отправилась одна… хорошо, не одна, но с травоядным юнцом по лесу на поиски меня?
    — Так ведь твой телефон молчал!
    — Но ты же знала, что я не один!
    — Но они же всего лишь люди! А я и Эдик…
    — Ты — может быть, но не Эдик!
    Это прозвучало слишком уж резко, на мой взгляд.
    — Извините, пожалуйста, но что вы имеете против меня? — мой любимый хоть и покраснел до корней волос, а в голосе звучала похвальная твёрдость.
    — Против тебя, лично и персонально, ничего совершенно, — покаянно вздохнул папа. — Но, пойми, травоядные вампиры слабее обычных. И если я ещё верю в то, что Надя может справиться… а лучше удрать от одного или нескольких своих диких сородичей, или не диких, а просто сумасшедших, то твои возможности для меня под большим знаком вопроса.
    — Вы так хорошо разбираетесь в вампирах, — осторожно польстил Эдик будущему тестю.
    Я покрепче сжала его пальцы своими.
    Папа кивнул:
    — Что поделать! Приходится. Ну что, все готовы? Тогда по коням! И домой…
    Дорога до дома, как всегда, показалась стократ короче, но возле самого порога нервы ощутимо тряхнуло: в окнах кухни горел свет.
    Ни я, ни, похоже, папа не подумали о самом очевидном — о том, что в доме может быть тётя Валя.
    Зато всем разом примерещились враги и оккупанты. Я и Эдик крадучись пошли по ступенькам в дом, папа и Мейсон скользнули к окну…
    — Мама! — радостно взвыла я, едва учуяв родной аромат и ураганом влетела на кухню. — Мамочка! Ты жива!!!
    От неожиданности мама уронила чашку с кипятком почти на тётю Валю — та еле успела вовремя отпрыгнуть. Я перехватила чашку (уже без кипятка) за миллиметр от пола и тут же кинулась на шею к маме, мысленно восхваляя всех богов, в которых не верила, за то, что с моей единственной, любимой, горячо обожаемой мамочкой всё в порядке… по меньшей мере, визуально!
    Сказать, что такое бурное проявление чувств удивило её, — значит ничего не сказать. Она пыталась справиться с шоком, осторожно гладя меня по голове. Медленно, по одному, на кухню проходили Вольные Волки, папа, Эдик, все здоровались с мамой, рассаживались, стульев на всех, разумеется, не хватало, и тётя Валя поскакала за недостающими в зал, прихватив с собой моего любимого.
    Когда все наконец расселись, мама тряхнула тёмными кудрями:
    — Что ж, думаю, пришла пора объяснить причину моего появления здесь. Вы ведь все хотите знать, каким ветром сюда занесло ещё одну столичную штучку? Ах да, ведь не все со мной знакомы… Карина Леонидовна Лебедева, к вашим услугам.
    Из всех присутствующих не был знаком с мамой только Эдик.
    — Так вот. Вчера мне приснился очень интересный сон. Я такие называю вещими. Мне приснилось, что один из моих бывших, пару раз уже пытавшийся мне угрожать, если я не сойдусь с ним, решил взять в заложницы моих бывшего мужа и дочку.
    Похоже, день чтения по лицам продолжался. К тому же я, видя присутствующих, поняла, что тоже умею так читать.
    — А-га, ага, значит, я вовремя успела, — удовлетворённо замурлыкала мама. — Ну, Акакий, держись!
  {% endfilter %}
{% endblock %}
