{% extends template %}

{% set parentTitle = "Антисумерки. Блог вампира. Часть I" %}
{% set title = "Глава девятая. Практика" %}
{% set pubdate = "23.06.2012" %}

{% block heading %}
  <h1 class="art__title">Антисумерки. Блог вампира</h1>
  <p class="art__title-descr">Часть I</p>
{% endblock %}

{% block content %}
  {% filter prose %}
    Эдик зашёл за мною, как и обещал, через час. Я успела сдать папе его документы, наскоро перекусить, собрать сумку, приготовить пляжный коврик и всё, что нужно для купания. И даже заскучать успела, «гуляя» возле бочки с кувшинками.
    Мысли в голове крутились разные, преимущественно обрывчатые, непричёсанные. Вместо того, чтобы помечтать, как водится, о том, как всё будет хорошо, я принюхивалась к ветру. Мне снова казалось, что пованивает чем-то отвратненьким, но в то же время знакоменьким. Тошнотворненьким. Недавним. Память отказывалась отвечать, кто источает этот аромат, твёрдо уверяя в одном: это живое существо, и оно не из тех, которых я знаю с детства.
    А когда пришёл Эдик, мысли и вовсе разбежались в разные стороны. Успела только подумать, что это всё-таки обидно, когда твой возлюбленный не замечает, что ты отличаешься от остальных людей…
    И обидно, когда он не разделяет твоей любви.
    Хотя… кувшинки в бочке и песни по ночам заставляли отбросить прочь сомнения в ответности чувств!
    А когда я заглянула в его бездонные карие глаза, когда он погладил горячей ладонью моё плечо, помогая спуститься со ступенек… мне показалось, что я настоящая леди. Шикарная дама. Что я иду по ковровой дорожке где-нибудь на фестивале в Каннах.
    А в довершение всего возле дома нас ждало некое невообразимое чёрное чудо.
    Когда-то давно, не в прошлой даже, а в позапрошлой жизни, оно было мотоциклом. Но я за это не поручусь! Ёлки зелёные, напрочь в окрестностях отсутствующие, не выдерживающие конкуренцию со стороны сосен! Да я не думала, что у Эдика может оказаться мечта моего детства — самая что ни на есть настоящая «крыса», как у Петра Лома из одиннадцатого «Б», самого крутого парня из моей школы!
    Из моей бывшей школы…
    Сидеть на этом собранном из подручных средств мотоцикле было неудобно, однако круто. Два ряда крупных фар, подозрительно похожих на фары «Жигулей», закрытые толстыми металлическими решётками, крылья, полученные путём наезда на лежащие в песке полосы железа, вручную загнутый молотом из цельного металлического листа бак, и всё это покрыто натуральнейшей ржавчиной! И всё это в принципе не должно держаться вместе, но держится, рычит, гремит, грохочет! И едет! Да ещё как едет!
    Заднее колесо немилосердно таскало во все стороны по песку. Каждая выбоина и каждый поворот приближали мои попу и бёдра к состоянию хорошей отбивной… И всё-таки вот оно какое, счастье — обнимать любимого, пряча лицо от ветра, и под грохот и рёв мотора мчаться по грунтовой дороге между стройными рядами сосен…
    Озеро находилось в двадцати километрах от Фролищ, «крысобайк» Эдика развил скорость около пятидесяти. Конечно, мы должны были ехать до Санхара минут двадцать, но мне показалось, что я успела только сесть позади Эдика, прижаться к нему и вдохнуть живительный аромат, а самодельный мотоцикл уже тормозил на пологом берегу, поросшем яркой зеленью. Серо-коричневое кружево сосновых ветвей и стволов, щедро сдобренное солнечной зеленью, соединяло гладкую водную синеву с синевой небесной — со всех сторон.
    — Мы сегодня первые, — сказал, улыбаясь, Эдик и заправил мне за ухо выбившуюся из хвостика кудряшку.
    Еле удержалась, чтоб не поймать его руку и не прижаться к ней. А хотелось, очень… просто побоялась, что он неправильно поймёт.
    У меня внутри всё по-прежнему тряслось и вибрировало, а ноги так и норовили размякнуть и уронить тело. И всё равно я бы с радостью повторила эту поездку и ездила бы так каждый день. Хоть по какому бездорожью. Главное — возможность обнять любимого. Прижаться к нему. Дышать близким-близким ароматом…
    К озеру, показавшемуся мне не слишком-то большим, с той стороны, откуда мы заехали, примыкало совсем крохотное озерцо. Вот так и мы с Эдиком.
    — Мы с тобой как эти два озера, — задумчиво проговорил Клюев, и я пристально всмотрелась в него.
    — Ты читаешь мысли?
    — Нет, что ты! Просто ты так выразительно переводила взгляд с одного озера на другое, а потом на меня, что мне показалось, ты именно об этом и должна думать.
    — Но ты правда не читаешь мысли? — требовательно переспросила я.
    Он молча покачал головой.
    Чтобы порадовать трясущиеся ноги, я медленно села на траву.
    Реденькая, жёсткая, она пробивалась сквозь рыжую хвою, щедро устилавшую всё вокруг. Я с нажимом провела пальцем, и под слоем перепревающей ржавчины обнаружился песок. Да, сосны так чаще всего и растут.
    Эдик, поставив мотоцикл на подножку, расстелил на земле пляжный коврик, уселся, похлопал рядом с собой, приглашая присоединиться. Я на четвереньках, изображая пантеру, а на самом деле просто опасаясь вставать на две ноги, перебралась на предложенное место.
    Мы сидели там, откуда хорошо видны и большое озеро, и маленькое. Оба прекрасно смотрелись в обрамлении узких зелёных пляжей и высоких изящных сосен. Почти не видные в небе, лёгкие перья облаков чёткими штрихами отражались в воде.
    Аромат Эдика заслонял собою свежесть воды и сосновых лесов.
    — Ты говорил, будет всё семейство?
    — Ну они, наверное, задерживаются, — странным образом смутившись, ответил Эдик и тут же нашёл себе дело возле «крысоцикла», принялся копаться в сумке то ли с инструментами, то ли с пикниковым оборудованием (это не я, это он так гордо назвал три шампура и упаковку таблеток для розжига).
    А чего это я переживаю из-за остальных Клюевых? Я же хотела поговорить с одним Эдиком. Вот только бы он ещё не бегал по кругу на расстоянии пяти метров, а сел бы рядышком!
    В некоторых книжках пишут, что мы, вампиры, способны управлять людьми, зачаровывать их, гипнотизировать, подчинять своей воле. Я крутила головой, добросовестно пытаясь загипнотизировать бегающего Эдуарда. Парень, собирая хворост для костра, старался не выпускать меня из виду, говорил со мной, но при этом демонстрировал явно выраженную негипнабельность… пока не споткнулся.
    Я радостно поскакала оказывать первую помощь. У меня в пляжной сумочке всегда были перекись водорода, йод, бинты, пластырь и вата. А также нашатырь, валидол, холлс и анальгин.
    Я так надеялась, что Эдик поранился! Что у меня появится шанс под видом оказания первой помощи хотя бы лизнуть капельку его крови! Но он упал крайне неудачно — для меня. Ни царапины! Правда, когда попытался встать, ойкнул, поджимая левую ногу.
    — Похоже, растянул, — тяжко вздохнул Клюев.
    — Цепляйся! — скомандовала я, решительно закидывая себе на плечи руку Эдика.
    Мы быстро доковыляли до нашего коврика, и я принялась со знанием дела, как-никак пятёрка по ОБЖ плюс школьная сандружина, бинтовать повреждённую щиколотку.
    Эдик прикрывал глаза и часто-часто дышал, запрокидывая голову. На вопрос о том, что с ним, ответил невнятным мычанием. Я баюкала его ногу на коленях. И думала, думала, думала…
    — Эдик!
    — Да, Наденька?
    «Наденька»!
    — Эдик, я давно…
    — Бе-е-е! Бе-е-е!
    Горячие морщинистые губы зафыркали мне в ухо, по плечу мазнула мягкая щёточка коротенькой бородки…
    Сбросив Эдикову ногу на землю, я вскочила и уже сверху вниз как следует разглядела Бесстыжую Безрогую Бестию, помешавшую мне сделать важнейшее в моей жизни признание. Она продолжала требовательно блеять и тыкалась носом уже в Клюева. К-коза…
    А он радостно обнимал её:
    — Брахмапутрочка, милая, хорошая, нашлась!
    Похоже, Клюевы тоже хотели бы от своих коз больших удоев, иначе с чего бы им называть козу, как индийскую речку?
    — Надь…
    — Да?
    — Посмотри там в сумке с пикниковым оборудованием, там должна быть верёвка. Давай её привяжем? Она же неделю где-то бродила, мы думали уже, её тут волки задрали.
    — Волки-оборотни, — на автомате подсказала я, вспомнив недавнюю веселилку.
    — Да нет, — отмахнулся Эдик, продолжая чесать шею Брахмапутрочки, — тут волков-оборотней нет.
    — Так говоришь, словно не-волки-оборотни есть.
    Клюев прикусил губу:
    — Ну как знать…
    Я достоверно изобразила фырканье Брахмапутрочки.
    Верёвка нашлась, и оказалось, что в сумке кроме трёх шампуров и таблеток для розжига есть ещё коробка с пряностями и пластиковый планшет с набором для барбекю.
    Пряности перебивали аромат Эдика, и я раздражённо затолкала их поглубже в сумку.
    Стараясь не нагружать больную ногу, мой возлюбленный проявил чудеса ловкости и изобретательности, сварганивая что-то вроде шлейки для козы. Я помогала ему, чем могла, и вовсю пользовалась выдавшейся оказией перебить запах пряностей.
    Белая коза оказалась приятной на ощупь, гладенькой такой.
    — Это зааненская порода, — рассказывал Клюев. — Семьдесят пять процентов этих коз комолые…
    — Какие-какие?
    — Безрогие. А ты знаешь, сколько они молока дают, если за ними как следует ухаживать?
    «Не знаю и знать не хочу», — мысленно ответила я, вслух же сказала:
    — Нет, а сколько?
    — Семьсот литров в год!
    В голосе Эдика прозвучала такая гордость, будто это он сам собственноручно вывел эту комолую высокоудойную породу. Или давал по семьсот литров.
    — Как интересно… — пробормотала я, усаживаясь на пляжный коврик.
    Каждое слово разговора о козах сбивало мою решимость признаться Эдику прямо здесь и сейчас.
    Ветер окончательно утих, и поверхность озёр превратилась в два огромных зеркала. Перистые облака недвижимо стояли в зените, как кружевной зонтик, прореживающий солнечные лучи.
    Я откинулась назад на вытянутые руки, вцепляясь пальцами в смесь песка и хвои.
    Эдик налюбовался Брахмапутрочкой, подёргал узелок на верёвке, привязанной к молодой сосенке, и уселся рядом со мной, повторяя мою позу.
    Я прикрыла глаза.
    — Эдик…
    — Да, Наденька?
    Пусть это было уже ожидаемо, но ласковое «Наденька» снова обрадовало меня до глубины души.
    — Эдик, я давно уже хотела…
    — Ргав-гав-гав!
    Радостный лай смешался с воем отчаяния, и надо ли говорить, кто выл? Я-то думала, Брахмапутрочка была первой и последней помехой в моём признании, но оказалось, что есть ещё одно живое существо, жаждущее общения с Эдиком!
    Здоровенный рыжий пёс, который, почерней он вдруг, стал бы настоящим ньюфаундлендом, радостно скакал по Клюеву, умывал его большим розовым языком.
    — Байкал! Байкал! — восклицал Эдик, тиская пса.
    Да уж. Может быть, козу назвали в честь реки не ради удоев, а потому, что в семье Клюевых принято давать животным имена водных объектов на букву Б?
    Недовольство убрать из голоса не вышло:
    — Что, Байкальчик сбежал из дома, как и Брахмапутрочка?
    Эдик если и заметил, что я издеваюсь, то сделал вид, что принял мои слова за шутку, и рассмеялся:
    — Нет, Байкал просто бежал за нами, смотри, как дышит, эх, бедолага… не надо было тягаться с мотоциклом, не надо!
    Клюев подхватил собаку под живот и аккуратно отнёс в воду.
    — Охладись, малыш!
    В «малыше» только на вид было килограммов сто пятьдесят.
    А Эдик-то даже вроде и не напрягся особо! Ай да Эдик…
    Байкал не стал долго плескаться, выскочил на берег и порадовал нас мелким душем с отряхиваемой шкуры. По озеру от берега, от того места, где плавал пёс, шли круги, дробили отражения облаков и сосен.
    Во мне не осталось уже ни капли решимости, но отступать было некуда. Вот ещё одно, совершенно лишнее подтверждение того, что на практике всё происходит не так, как в теории да в мечтах.
    На этот раз я не стала разводить долгих предисловий, пока не появились никакие козы, собаки, кошки, мышки и прочая живность.
    — Я вампир.
    — Да, Наденька?
    Похоже, он сказал это рефлекторно!
    — Эдик, повторяю: я — вампир!
    Он улыбнулся, мягко и мило:
    — Это хорошо!
    Я вконец оторопела и тоже рефлекторно ляпнула:
    — Да уж чего хорошего-то?!
    — Ну как «чего»? Как в песенке — «ты цыганка, я цыган, оба мы цыгане, ты воруешь лошадей, я ворую сани»…
    — Эдик…
    — Да, Наденька?
    То, что каких-то пять минут назад, меньше, вызывало умиление и сладкий трепет, дико раздражало теперь.
    — Ну скажи же мне! — я нависла над ним, взяла его за грудки, поднимая вверх. — Ты хоть капельку… хоть самую малость — удивлён тем, что я тебе сказала?!
    Он молча покачал головой.
    Я молча встала, покидала в сумку полотенце и шлёпки и медленно пошла в сторону Фролищ.
    Он тут же догнал меня:
    — Наденька, успокойся, ну не принимай ты это так близко к сердцу, всё будет хорошо, всё обойдётся…
    Так-то вот. Я, значит, ему признание… а он, значит, как с сумасшедшей себя ведёт. Спасибо огромное, Эдик!
    Я обиделась на него и медленно, исполненная гордости, уходила от Санхара, не отвечала на настойчивые попытки разговорить меня, отказалась садиться на крысоцикл. Нет, конечно, через полчаса мы всё-таки помирились и некоторое время шли, держась за руки, в направлении Фролищ, а потом вернулись к озёрам, но не к теме вампиризма. Эдик предпочитал делать вид, что не было никакого признания. А я не могла долго на него дуться, и мы говорили, говорили, говорили… про любимые книги, кино и музыку, которые у нас совпадали почти на сто процентов, про глобальное потепление и причины вымирания динозавров, про Барака Обаму и как правильно называть афроамериканцев, живущих в других странах, про соседского Чубайса — огромного рыжего кота…
    Прочие Клюевы так и не появились до самого вечера.
    Несколько раз мне казалось, что Эдик меня поцелует. Вот-вот. Вот сейчас.
    Нет…
  {% endfilter %}
{% endblock %}
