{% extends template %}

{% set parentTitle = "Антисумерки. Блог вампира. Часть I" %}
{% set title = "Глава третья. Банальность" %}
{% set pubdate = "23.06.2012" %}

{% block heading %}
  <h1 class="art__title">Антисумерки. Блог вампира</h1>
  <p class="art__title-descr">Часть I</p>
{% endblock %}

{% block content %}
  {% filter prose %}
    Наверное, что-то похожее ощущают люди с похмелья: голова чугунная, в глазах песок, а что было — расскажут очевидцы, и останется только краснеть, слушая «всю правду о себе».
    Чётко я помнила только то, что вчера днём у Луха встретила свою воплощённую мечту.
    Свою любовь.
    Свою погибель.
    И была вынуждена сбежать, чтобы моя любовь осталась в живых.
    Застонав, оторвала голову от подушки… нет, это не подушка, это скрученные в рулон полотенца, а где же подушка?
    Сдунув с носа перо, я вспомнила где, и снова щёки и уши налились жаром.
    Шторы с вечера, конечно, никто не задёргивал. Солнце хозяйничало, как у себя дома.
    По комнате ровным слоем были размазаны перемешанные купальники, перья из подушки, босоножки, полоски наперника, парео, заколки, прочая одежда и косметика… и пустые пакеты из-под донорской крови. Четыре штуки.
    Я зарычала.
    Я заказывала кровь в аптеке всегда порциями по двести пятьдесят граммов. Именно такого объёма мне хватало, чтобы безбедно прожить целый месяц! И вчера умудрилась выхлюпать литр… Этого должно было хватить на всё лето и ещё остаться, но меня мучил такой дикий голод, что я не могла удержаться, пила и не напивалась.
    Дичаю.
    Надо было вставать и приниматься за уборку.
    Обувь я складывала без разбора в одну кучку, парео и купальники в другую, а юбки, брюки, блузки, майки разбирала по видам и сортам…
    События вечера прорисовывались немного отчётливее, по мере того как в комнате проявлялось некое подобие порядка. Удалось вспомнить, что мне «звякала» Вера, что я отказалась от ночного похода к руинам какого-то «элпэка», даже накричала на Захарченко, обвинив её в том, что она бросила меня на произвол судьбы. Этой истерики нервы собеседницы не вынесли, и мы рассорились.
    Как-то слишком уж насыщенно шла жизнь во Фролищах. За один день успело случиться столько, сколько обычно случалось за год. А то и за два.
    Внезапно словно обожгло: слишком уж тихо в доме!
    Я слетела вниз и со вздохом облегчения обнаружила записку, прижатую магнитом к холодильнику. Всё, теперь с чистой совестью можно выбросить из головы мысли о том, что вчера папа погиб смертью храбрых, сражаясь со взбесившейся мною.
    Магнит был красивый, яркая бабочка с крылышками на пружинках. Тронула пальчиком — затрепетали. В записке содержалась подробная инструкция по разогреву вчерашнего плова и завариванию чая. Почерк определённо принадлежал тёте Вале, но доступность объяснений происходила явно от папы.
    По поводу чая они перестраховались. Уж что-что, а напитки мне всегда удавались.
    Есть не хотелось совершенно. Ещё бы, после литра крови — да я теперь неделю буду только воду пить!
    В больших количествах.
    Мама рассказывала, что раньше вампиры были дикими, нецивилизованными. Не понимали, что жажда бывает разной, считали, что её можно утолять только кровью, раз уж они — вампиры! Они ни в чём не знали меры, и чем больше крови пили, тем больше её хотели. Я же вот буду водой отпаиваться, молоком и чаем. А дикие вампиры изматывали себя днём, пытаясь спать, в надежде, что жажда утихнет как-то так, сама, без воды или другой жидкости, а по ночам, ради скрытности, нападали на людей, убивали их.
    И в то же время часть диких вампиров обладала грандиозной силой воли.
    Им удавалось сдерживать себя, не пить кровь неделями и даже месяцами, и через некоторое время начинали проступать негативные последствия: боли во всём теле, прогрессирующее развитие грибка на коже и зуд от него, аллергии, бессонница и тому подобное. Следом развивались и психические расстройства, стократно возрастала агрессивность, и в какой-то момент это всё заканчивалось срывом. Дикий вампир начинал убивать людей ради крови, люди устраивали на него облаву, вытаскивали на свет из гнезда — а грибок при свете солнца распылял споры, тут же находился десяток очевидцев, уверявших, что душегубец сгорел на солнце, токмо дым и пошёл… Легенды множились и разрастались.
    Но были ещё и другие вампиры. Они научились различать жажду и жажду. Они открыли для себя мир человеческой еды и разнообразных жидкостей, помогающих пережить обычную жажду после утоления истинной, — таких как чай, кофе, молоко, сок, вино, да и просто вода, наконец. Эти вампиры могли спокойно жить среди людей, периодически меняя место жительства, ведь старели они очень и очень медленно.
    В конце концов, от людей нас отличает только лишний десяток мышц во рту, позволяющий управлять длиной клыков.
    Я за пять минут выпила три литра воды, отчётливо понимая, что сейчас вовсю начнут работать почки и мне желательно переместиться поближе к санузлу.
    Звонок в дверь застал меня на полпути к заветной точке.
    — Кто там?
    — Я, — крайне оригинально ответила Вера и, не спрашивая разрешения, вошла. Вдвоём мы прошли на кухню. — Привет, подруга. Так я верно поняла, ты вчера от Клюевых за нами следом смылась?
    Я кивнула. Вера хмыкнула, цепким взглядом окидывая полки, стол, словно в поисках изменений… только теперь почему-то пришла на ум здравая мысль о том, что тётя Валя могла здесь жить не одна, а с дочкой. Ну или по крайней мере Вера была здесь частой гостьей.
    — Так чего у вас там случилось-то? Рассказывай!
    — Да ничего…
    Вот ведь попала-то, а? Как рассказать? «Вер, ты знаешь, я вампирша, и вчера мне просто крышу снесло, так хотелось выпить Клюевых, вот я от них и убежала».
    — Когда «ничего», молодые девушки от симпатичных парней не сбегают, — глубокомысленно изрекла Вера.
    Я прищурилась:
    — Ага! Значит, молодые девушки не сбегают, а сладкие парочки сбегают?
    Вера искренне расхохоталась:
    — Да ты не из солидарности с нами часом?
    — Нет.
    — Ну и… — Захарченко задумчиво раскачивала шлёпанец, закинув ногу за ногу. — Ну и почему же тогда? Они тебя обидели?
    — Нет.
    — Они что-то сказали? Сделали?
    — Вер.
    — Да?
    — Ты следователь?
    Она снова захохотала. Такие искренние и непосредственные смены настроения меня умиляли.
    — Не, Надь, я не следователь, мне просто известна причина, по которой я на одном поле с Клюевыми с… — я, кажется, догадалась, что чуть было не сказала Вера, и улыбнулась. — А, ну в общем, ты поняла, да? Ну и интересно было, почему ты сбежала. Ведь ты же, кажется, обрадовалась, когда они приплыли.
    Мой молчаливый кивок подтвердил правильность догадки.
    — А потом мы с Филом сидим у него на чердаке, а тут ты летишь домой. Мы тебе вслед покричали, да ты не обернулась даже.
    Я удивилась. Ведь у меня хороший слух, но вчера не слышала, чтоб меня кто-то звал.
    У Веры было странное выражение лица. Словно она знала обо мне что-то, чего не знала я сама, и сейчас раздумывала, стоит ли мне доверять эту тайну. Словно своими напористыми вопросами она проверяла, а не догадываюсь ли я случайно, что она знает, что я не знаю того, что она зна… в голове немедленно закрутился голос Флёр, напевающий «Сфинксов».
    Я фыркнула:
    — Да я вчера вспомнила, что забыла позвонить маме!
    На самом деле это пришло на ум только теперь. Впрочем, не думаю, что мама нуждалась в моём звонке, ведь она сейчас была «не одна».
    — Вспомнила и побежала домой. Знаешь, какая у меня мама? Если не позвоню до обещанного часа, из-под земли достанет!
    Вера вздохнула, и в её глазах промелькнула лёгкая тень разочарования.
    Похоже, я не прошла тест на доверие, и тайна, которая известна Вере, уйдёт вместе с ней на прогулку с Филом.
    Ничего. Я знаю о существовании этой тайны — теперь точно знаю! — и приложу все усилия, чтобы выведать. Ну а пока есть более насущные вопросы.
    — Вер, а Вер, а вот вчера приплыли Клюевы… — начала я аккуратную подводку под свой вопрос и тут же махнула рукой — какие ещё подводки? — Помнишь, там был такой… самый красивый?
    Глаза Захарченко широко распахнулись:
    — Как? Ты уже определилась с тем, кто из них самый?
    — Шутишь?
    — Ни разу! Они тут третий месяц, и все такие лапочки, что я не могу понять, кто лучше.
    — Э-э… Вера, а это ты только что говорила, что на одном поле с Клюевыми… ни за что? Это ты сейчас говоришь, что они лапочки?
    Вообще-то я собиралась задать другой вопрос, но Верин интерес к симпатичным юношам, это при живом-то Филе, меня сразил наповал.
    — Я. И что теперь? Не могу отдать должное их физическому совершенству? Да не будь они Клюевыми, я б, наверное, в Максима, того широкоплечего с короткими ногами, влюбилась. Он такой, — Вера стрельнула глазами по сторонам, словно убеждаясь, что Фил не подслушивает, — такой секси!
    Мы вдвоём глупо похихикали, и я задала свой главный вопрос:
    — Ты говоришь — третий месяц, так они что, только-только приехали тоже?
    — Ну да, — Захарченко всё-таки уронила многострадальный шлёпанец. — У них же отец военный.
    А я и забыла, что во Фролищах всё повязано на военных.
    Меня никогда не интересовало, как и что здесь вообще обустроено. Достаточно было того, что мне не хочется во Фролищах жить. Не хочется навещать здесь папу — разве не проще ему приехать в Москву? Не хочется задумываться о том, какой тут чистый воздух, какие простые и добрые люди, как высок процент выпускников, поступивших в престижные вузы…
    Вера достаточно долго молчала, заметив мою философическую задумчивость. А потом прочитала мысли, поддержав в невысказанном начинании:
    — Ничего. Раз тебе тут ещё год почти жить, надо как-то осваиваться. Чем сможем, поможем. Думаю, ты быстро разберёшься. Не так уж много тут всего запоминать…
    А теперь Верины мысли читала я.
    Девяносто процентов из ста за то, что действительно угадала, о чём в тот момент подумала Захарченко. О том, что мне предстоит через год уехать и забыть Фролищи, как страшный сон. А ей — оставаться здесь. Выходить за Фила, обустраивать семейное гнёздышко, там, детишек рожать… хотя кто знает, какие у неё на будущее планы?
    Я внезапно рассмеялась, наверное, заразилась от Веры резкими сменами настроения. Но ведь это же действительно смешно! У меня за семнадцать лет не было ни одной подружки из тех девчонок, с которыми каждый день встречаюсь, подолгу разговариваю, знаю досконально их интересы, а они знают мои… а с Верой виделась лет пять назад. Мы провели вместе ровно два дня. Мы всего один раз обменялись письмами и ещё один — звонками. Однако какого-то часа на речке хватило для того, чтобы я считала её подругой!
    Наверное, я пригляделась к ним, и перекачанная девочка-бодибилдерша рядом с очень худеньким высоким мальчиком уже не вызывали даже мысленной усмешки. Ну, может быть, улыбку, и то сродни той, которая появляется при виде чего-то очень милого и симпатичного.
    Мы снова отправились на пляж, но где-то на середине пути сладкая парочка от меня откололась.
    — Клюевы сейчас там, — чуть ли не хором сказали Фил и Вера, прежде чем свернуть к дому Широковых.
    — Ты это, в воду сегодня особо не лезь, — добавил Фил. — Погода меняется, чуешь? Ветер всё сильнее. Вдруг чего…
    Я помахала им вслед и отправилась уже знакомой дорожкой на пляж.
    Сегодня там было побольше народа, может, потому, что температура воздуха поднялась повыше, а неделя докатилась до субботы?
    Я ожидала нового приступа тоски, ведь как ни хитри, а речка морем не станет и Фролищи в Фор Сизонс на Сейшелах не превратятся… но тоску сдуло свежим ветром с реки.
    Высокие сосны полукругом охватывали белый песок. Извилистый Лух рябил и морщинился, унося вдаль отражения облаков.
    От песка еле заметно пахло Клюевыми, хоть самих их и не было пока видно. Жажда не подавала голоса. Жизнь определённо налаживалась!
    Уже знакомые мне девочки, Катя, Оля, Света и Валя, как-то странно на меня поглядывали, о чём-то перешёптываясь с незнакомыми. Наверное, их заинтриговало моё вчерашнее экстренное бегство. Я поздоровалась с ними, разложила свой стильный коврик поближе к воде. На мне снова был шикарный купальник из новой коллекции Анжелы Читтенден, алый, с коричневыми кожаными вставками и блочками, а особым образом повязанное парео заменяло сарафан. Вот ведь, кстати, тоже странность — ни одного парня, кроме Клюевых и Фила…
    Признаться честно, вчера я переживала — как меня оценят здешние девушки? А сегодня меньше всего волновалась, что там будут обо мне думать. Они-то, вероятно, расценивали меня как сильную соперницу, но я, вспоминая ту леди в красном, что улыбалась мне минут десять назад из зеркала, понимала, что все эти фролищенские красавицы мне не соперницы. Нет, не спорю, каждая из них хороша по-своему, и дело даже не в том, что у меня парео от Прада, а у Кати — полинялый павловопосадский платок…
    Дело в том, что Клюев будет моим.
    И вдруг внезапно на меня накатило что-то… Это было странно. Сродни животному магнетизму. Я знала, что сюда идёт Клюев! Всего один. Именно тот, о котором так хорошо мечтается перед сном… когда, конечно, отдаёшь себе отчёт в том, что засыпаешь. Мне вот пока не выпало такого счастья, но, думаю, не всегда же буду вырубаться, как вчера. Воспоминания о вчерашнем вечере так и оставались размыто-съёженными, и разбираться в них не хотелось абсолютно.
    Ну тогда и не будем разбираться. Главное, что я уже чувствую его запах — и мне хочется на него наброситься и пить, пить, пить его кровь!.. А я полностью контролирую себя и могу почти совершенно спокойно не набрасываться и просто дышать им до умопомрачения. Так-то вот! Могу слушать его неторопливые шаги. Прогибать спинку покруче, чтобы виднее была шнуровка на груди.
    Он шёл ко мне, похожий на бога, сошедшего с небес. Улыбался, и я таяла от этой улыбки. Истинная жажда, Внутренний Дикий, требовали сделать хотя бы глоточек — ну же! Это же так просто! Всего один, ты же знаешь, что убивать не обязательно! — но сегодня рассудок был сильнее.
    И он шёл, я смотрела на него, а девчонки тихонько раскачивали шепотки: Эдик-Эдик-Эдик-Эдик.
    Теперь мне известно его имя.
    В прошлый раз, когда семеро пловцов выходили из воды, мокрые, блестящие, головокружительно прекрасные в своём загаре и интерьере из сосен, сине-коричневой речки и белого песка, мне казалось, что этот пьянящий аромат исходит ото всех. Теперь, чем ближе подходил ко мне Эдик, тем больше я убеждалась в том, что это — его персональный запах.
    Я нервно облизнулась.
    Он тоже.
    — Привет, — сказал он мне. — Можно, я рядом с тобой позагораю?
    Его тёплый баритон прогнал волну мурашек по спине и на какое-то время лишил дара речи, поэтому я просто кивнула.
    Эдик разложил соломенный коврик параллельно моему, скинул белую с синими кантами рубашку, навевавшую воспоминания о море, парусах и адмиралах, легко и изящно расстался с шикарными белыми шортами… и остался в шикарных алых плавках, похоже, от Ом.
    Мы лежали рядом, каждый на своём коврике, оба в красном, смотрели, как над нами плывёт прозрачное облако, похожее на дракона.
    Молчали.
    Я отчаянно придумывала, о чём бы с ним заговорить, чтоб не показаться полной идиоткой, чтоб заинтересовать его… да я же никогда не испытывала таких проблем! Всегда знала, кому, когда и что сказать, чтобы сцапать обеими лапками мужское сердце! А тут — поди-ка. Лежу, млею от пьянящего аромата и слова подбираю. А ещё надеюсь, что парень моей мечты сам заговорит со мной.
    — А меня Эдуард зовут, — сбылась мечта. Всем бы так сбываться! — Можно просто Эдик. А ты Надя, дочка Фёдора Борисовича Лебедева?
    — Ага, — кивнула я в ответ, переворачиваясь так, чтобы продемонстрировать Клюеву все изгибы своего тела в самом лучшем ракурсе, — мне очень приятно с тобой познакомиться…
    Он снова облизнулся.
    В груди сладко зазвенели колокольчики: Эдик тоже волнуется! Других причин для волнения кроме меня вблизи не видно!
    — А пойдём поплаваем? — предложила я, и он обрадовался:
    — А пойдём!
    Мы поднимались с ковриков, и он, и я, и зябкий холодок в районе копчика, предвестник всех неприятностей, никак не мог достучаться до сознания, одурманенного близостью Клюева.
    Обрати я внимание на знаки, всё могло быть иначе, а так — сначала раздался дикий Олин визг:
    — Па-да-еееееет!!!
    И только потом я услышала хруст и треск падающего дерева.
    На нас с Эдиком падала сосна.
    И не одна.
    Наверное, это круто смотрелось бы в кино: стройные темноволосые парень и девушка в красных купальных костюмах держатся за руки, а на них летят огромные в неотвратимости своего падения деревья…
    Но мы-то были не в кино!
    Если кто-то сейчас смотрел на меня, он видел размытое пятно: с такой скоростью способны передвигаться вампиры, когда возникает в этом необходимость. Пока Эдик, впав в столбняк, созерцал надвигающиеся на него ветки, я похватала в охапку парео, рубашку, шорты, коврики, а когда две сосны с треском и грохотом накрест рухнули туда, где только что были мы с Эдиком, нас уже качали волны на середине Луха.
    Клюев блаженно улыбался, растянувшись на мелкой водной ряби.
    С берега что-то кричали девчонки.
    У меня в голове прекращалась безумная пляска мыслей.
    Я только что обнимала Эдика.
    Я обнимала Эдика!
    Я обнимала его, обеими руками, он такой горячий, у него такая нежная-нежная кожа, упругая, гладкая! У него такие сильные мышцы — он не успел толком среагировать, когда я перехватила его поперёк тела, но какой у него великолепный пресс…
    — Спасибо, Надя! — сказал он, плывя рядом со мной.
    Приводимая в движение его руками и ногами вода ласкала моё тело, и мне хотелось, чтобы это длилось вечно. Я не обращала внимания на то, что лицо облепили волосы, что девчонки с берега орут всё громче.
    — П-пожалуйста, Эдик… — чёрт, я заикаюсь! — На моём месте так поступил бы каждый…
    Он, продолжая работать руками и ногами, чтобы удержаться на воде, убрал кудряшку, прилипшую к моему носу. Улыбнулся. Я размякла и растеклась по поверхности воды.
    Мы снова лежали рядом, оба в красном, и смотрели, как плывёт по небу кудрявое белое облако, ни на что не похожее.
    Мы бы гуляли, держась за руки, до самой темноты и почти всё время молчали бы. Ведь зачем слова, когда наши души говорят через взгляды?
    Но, пока любовались ни на что не похожим облаком, тот ветер, который повалил сосны, решил спуститься чуть ниже, устроил шторм на речке и принёс грозу с градом. Похоже, у меня вырабатывается рефлекс на уход с пляжа: срочно хватать вещи и бежать домой сломя голову!
    Уже дома задумалась: а ведь Эдик всё принял как должное. Ну то, что я так оперативно извлекла его из-под падающих сосен. Саму скорость, да и то, что довольно-таки хрупкая и изящная девушка кинула его, весьма высокого и тяжёленького, от берега и на середину Луха.
    Я бы на его месте удивилась. Пристала бы с вопросами, как, да что, да почему, а он? «Спасибо, Надя»? И всё? Ещё бы добавил: «Ты настоящий друг»…
  {% endfilter %}
{% endblock %}
