{% extends template %}

{% set parentTitle = "Антисумерки. Блог вампира. Часть II" %}
{% set title = "Глава 5" %}
{% set pubdate = "23.06.2012" %}

{% block heading %}
  <h1 class="art__title">Антисумерки. Блог вампира</h1>
  <p class="art__title-descr">Часть II</p>
{% endblock %}

{% block content %}
  {% filter prose %}
    Карина сама от себя не ожидала, что будет раз за разом возвращаться мыслями к этому странному человеку… вернее, вампиру — Акакию.
    Он был, с одной стороны, прост как две копейки. Однако было в нём и что-то… настораживающее? Цепляющее, привлекающее внимание, заставляющее раз за разом вглядываться в тени за спиной в ожидании лёгкого дуновения, сквознячка по спине…
    Сегодня у Карины состоялось свидание. Её новый ухажёр, Сергей Сафрончиков, предложил выбраться в новомодный ресторан, где можно было, согласно словам Сергея, «спокойно выпить хорошего вина, сжевать пару-тройку замысловатых и вычурных, но при этом вкусных блюд и послушать приятную музыку». Карину интересовало: он сам придумал такое определение ресторану или вычитал где-то в рекламном проспекте? Дело в том, что вин хороших в ресторане отродясь не бывало, готовить вкусно не умели в принципе, а «приятной музыкой» называли что-то неопределённого стиля, более всего напоминающее помесь шаманского горлового пения с цыганскими романсами.
    В принципе, Сергей ей нравился и даже очень. В нём точно так же, как и в Акакии, было что-то этакое, необъяснимое, но интригующее, вызывающее интерес. Только, в отличие от Акакия, Сергей не носил дурацкой бороды и регулярно мыл голову, а также одевался не в выгребенное с помойки барахло, а в современные модные костюмы.
    Но Акакий, Акакий!..
    Карина мечтательно прикрыла глаза, вспоминая его запах.
    Вспоминала и свой давний разговор с Александром…
    — Донорская кровь, — вещал с трибуны доктор медицинских наук Николас ван Дарейн, — открывает перед цивилизованными вампирами широчайшие горизонты. Благодаря донорской крови мы с вами можем полностью управлять своим самочувствием, сдерживать инстинкты и контролировать свой разум…
    — Слишком красиво поёт, чтобы это было правдой, — обдавая ухо жарким дыханием, шептал Александр, и Карина переставала понимать, о чём там бормочет Николас.
    — А ты же сам пьёшь донорскую кровь, — еле слышно проговорила Карина и почувствовала лёгкое прикосновение клыков к мочке уха.
    — Да, мррр… я пью в том числе и донорскую кровь, согласись, ведь вместе с кровью живых существ в нас попадает частица их силы… а это так приятно, когда живое существо… само… дарит тебе…
    — Ох…
    Карина не могла больше сдерживать себя. Она тоже склонила голову на плечо другу — нащупывая клыками его сонную артерию.
    Рука Александра медленно гладила её волосы, уложенные в аккуратную причёску.
    Возможно, в другой момент другой лектор и обратил бы внимание на то, что парочка на самом последнем ряду лектория занята вовсе не его увлекательным докладом, но близорукий ван Дарейн слишком уж увлёкся перспективами, открывающимися перед вампирским сообществом вместе с распространением донорской крови.
    Карина резко втянула в себя воздух. На какой-то миг ей показалось, что она чувствует запах Александра, но нет — то были всего лишь воспоминания.
    А вот Акакием пахло, да ещё как!
    Лебедева метнулась к двери. Запах усилился. Им тянуло с улицы!
    Вот чего ей только не хватало, так это соседа Мерзлихина! Конечно, покупая квартиру в этом доме, она ещё не знала о существовании этого Акакия, но… ну только бы он не был её соседом!
    Карина осторожно выглянула в глазок.
    Тишина, темнота.
    Аккуратно, стараясь действовать бесшумно, открыла дверь. В щель хлынул ночной воздух, щедро расцвеченный ароматами соснового леса, Акакия и зоопарка. Тут же что-то загрохотало, сверху, с самой крыши, посыпалось вниз, и Карина сочла за лучшее поскорее закрыть дверь.
    Что-то манило её посмотреть в дверной глазок.
    Ночное зрение позволило увидеть, как по лестнице спускаются три фигуры.
    Обоняние помогло опознать в них Акакия, Степанищева и ле Ружа. Сдержать истерический тихий смех не получилось, да Карина и не очень-то старалась.
    Всё-таки, похоже, этот самый Акакий — её новый сосед! Ну что, прикажете теперь снова квартиру менять? Да ни за что!
    Вон Надя только-только нашла себе новых друзей… кажется. Да и до работы добираться просто, дворами, минуя пробки… нет, Акакий. Мы с тобой уж как-нибудь разберёмся.
    Запах Акакия, залившийся в квартиру, дразнил и раздражал, вызывал желание сорваться, догнать и выпить досуха этого странного вампира.
    Карина облизнулась и отправилась на кухню за пакетиком крови.
    Акакий уложил друзей спать на диване и раскладном кресле в зале. Селестина развлекла их на сон грядущий светской беседой о былых временах, когда о донорской крови можно было только мечтать, цивилизованных вампиров жгли на кострах, обвиняя в колдовстве, а дикие всячески компрометировали образ вампира в сознании человека…
    Мерзлихин вывел компьютер из спящего режима.
    Н-да.
    Сколько часов он был онлайн на сайте — и что? Каких-то десять посещений? Когда это такое бывало-то… да никогда такого не бывало, чтобы в блоге Акакия ни посещений, ни обсуждений!
    Мерзлихин сцепил пальцы, вывернул руки над головой, потягиваясь, и сам себе скомандовал:
    — Приступим!
    «05.05.ХХ.
    Вернее, уже 06.05.ХХ — час ночи!
    Милый Дневник!
    Я не могу уснуть, или я не могу проснуться, но кой же фиг мне разница, если я наконец-то понял, как мне действовать, чтобы добиться благосклонности Карины! Нужные мысли сами собой всплывают в моей голове. Я знаю, что делать. Итак, план Б. Фаза первая начинается завтра!»
    Телестудия «Шарм» занимала весь третий этаж большого девятиэтажного дома. Съёмочный павильон, в котором под чутким руководством Заболонского трудились трое друзей, состоял из трёх сообщающихся между собой комнат. Центральная, самая большая — операторская, представляла собой средоточие техники. По бокам от неё располагались две комнаты чуть меньших размеров, казавшиеся совсем маленькими из-за декораций и камер. В одной писали утренние развлекательные сюжеты, в другой — вечерние расслабляющие беседы.
    Приближался час записи утреннего новостного блока, уже переоделись «в боевое» и прицепили микрофоны дикторы, Даша-гримёр бегала с пудреницей от Даши-диктора до Паши-диктора, Паша-диктор вяло переругивался с засевшим в операторской Вольдемаром — Заболонский, сам метросекс, ревновал свою внешность ко всем симпатичным юношам. В случае с Пашей это было оправдано, потому что Паша принадлежал к числу счастливых людей, щедро одарённых богом не только красотой, но и умом. Красота, которой распоряжаются с умом, — страшная сила!
    Акакий поправлял камеру, разравнивал провода, утекающие в операторскую. Он чувствовал себя пауком, сидящим в центре паутины. Чувствующим, как вибрируют под лапами тонкие ниточки.
    Вот Рауль, заметив, что Карина остановилась поболтать с операторами на расстоянии около метра, обращается к помощнику:
    — А ты уже видел Изабеллу?
    — Нет, — отвечает помощник, потому что иначе ответить просто не может.
    — Я тоже, — непринуждённо подхватывает Рауль. — Но говорят… м-м-м… говорят, что она просто бесподобна!
    Теперь, по идее, помощник оператора должен вспомнить о последней бесподобной даме, попадавшейся ему на глаза, и уточнить:
    — Ты про Карину?
    Акакий обращается в слух и слышит почти то же, что и представлял:
    — Ты про Лебедеву, что ли?
    — О нет! Карину мы все уже видели, она недавно перевелась к нам на студию из «Сарматов». А я говорю о девушке Мерзлихина, Изабелле.
    Акакий расслышал недоверчивый возглас помощника:
    — Чего? Девушка Мерзлихина — Светка!
    — Была Светка, — тихо смеётся Рауль. — А стала Изабелла… я видел её пока только на фото и, ты знаешь, горю желанием увидеть живьём!
    (Карина вслушивается, естественно, вслушивается в разговор, но Рауль уже откатал свою показательную программу, и теперь выход Степана.)
    Вот Степан, нагруженный ворохом папок и скрученных плакатов, пробегает мимо операторской — Акакий даже видит его тень — и кричит вслед напарнику:
    — Сев! Сева!
    — Ая?
    — Ты видел?
    — Кого-чего?
    — Изабеллу!
    — Кого?!
    — Ясно, не видел! Блин, я видел! Видел! Я только что видел! Сееееваааа… держи меня и мои плакаты! Ты бы видел! У неё ноги — во! У неё талия — во! А бюст! А глаза! Но бюст круче!..
    (И Карина вслушивается, и в Карине разгорается любопытство — что же такого в этом Акакии, что с ним дружит некая супер-пупер-Изабелла!)
    Акакий чуть выдвинул и облизал клыки.
    Пока всё хорошо так складывалось в соответствии с планом Б. Что ж, может, он сработает — раз уж план А, приглашение на экскурсию по городу, с треском провалился.
    Под вечер уже Вольдемар Заболонский лично подходил к Акакию осведомиться, нельзя ли познакомиться поближе с его новой подружкой Изабеллой.
    Мерзлихин скромно опускал очи долу и ехидно улыбался. Нет, нельзя ли. Нет, с какой стати Вольдемар считает Акакия обязанным сводить его со своей невестой. Да, а что тут такого? Невестой! Нет, дело не в Карине. Нет, ничего личного.
    Бабушка Селестина встретила внука яростной проповедью, темой которой был запрет выходить на крышу.
    — Ты в курсе, что там вчера ночью был какой-то большой зверь? Лев, не меньше! И его растерзали, разорвали на куски, сегодня с крыши снимали ошмётки мяса!
    Акакий глупо улыбался и чесал затылок.
    Значит, ему не померещилось, и на крыше действительно было какое-то зверьё.
  {% endfilter %}
{% endblock %}
