{% extends template %}

{% set parentTitle = "Антисумерки. Блог вампира. Часть I" %}
{% set title = "Глава семнадцатая. Страйкбол" %}
{% set pubdate = "23.06.2012" %}

{% block heading %}
  <h1 class="art__title">Антисумерки. Блог вампира</h1>
  <p class="art__title-descr">Часть I</p>
{% endblock %}

{% block content %}
  {% filter prose %}
    Мир, огромный, прекрасный, стелился нам под ноги, мы летели, едва касаясь травы ногами, как во сне, как в волшебной сказке… в безумной волшебной сказке.
    Нам было хорошо.
    Тянуло свежестью от реки, лирично шумел ветер в соснах.
    — Ну вот, — выдохнул Эдик. — А ты ещё не верила!
    — Во что?
    — Что я — вампир!
    — Да уж…
    Мой взгляд зацепился за границу между коричневой водой и синей — там, где Лух делал поворот. Белые сверкающие блики вслед за ветром прокатывались по волнам. Мысли замедлялись и успокаивались.
    — Попробуй тут поверь. Я же ориентируюсь на запахи, знаю, как пахнут люди и как пахнут вампиры. Но никто из вас не пахнет так, как нужно! И, кстати, да! Почему же вы никто вампирами не пахнете?
    Эдик смущённо порозовел:
    — Это долгая история…
    — Так мы никуда не торопимся! — заявила я, усаживаясь на пригорке над речкой.
    Эдик с сожалением погладил растопыренными пальцами свои белые шорты, нерешительно переступил с ноги на ногу, отмахнулся от кого-то рукой, наверно, от совести, и плюхнулся рядом со мной.
    И тут же взвыл! Я-то, когда садилась, смотрела, что подо мной, а он — нет, потому и приземлился не на что-нибудь, а на шишки.
    Я герой. Вернее, героиня. Даже не засмеялась, наблюдая за бешенством Эдика, пытающегося одновременно отскрести прилипшие к шортам смолянистые шишки и сохранить приветливое выражение на лице. И даже помогла ему — с шишками.
    Наконец мы уселись рядышком, прижались друг к другу, и я напомнила вопрос:
    — Эдик… почему вы не пахнете вампирами?
    Он расплылся в блаженной улыбке:
    — А я не знаю!
    — Но ты же сказал, что это долгая история!
    — Ну… я побоялся признаться тебе в том, что на самом деле я действительно Долбоклюев…
    — Эдик, не говори так! Это слово режет мне слух!
    — Но что поделаешь, если это так и есть? Мне слишком уж неинтересно, кто я, какой и почему… — кого-то это всё мне определённо напоминало. Уж не меня ли? — Главное, что — сильный, устаю медленно, проживу о-о-очень много лет… если, конечно, никто не помешает… но мне это всё неинтересно. И поэтому я До… хорошо-хорошо! — он вскинул руки.
    — Вот та-а-а-ак я и буду выдавливать из тебя каждого «Долбоклюева»! — грозно зашипела я, вцепившись в горло возлюбленного, и мы покатились с пригорочка к воде, коричневой, белой и синей.
    Это было просто чудесно — лежать рука к руке на тёплой утренней земле, вдыхать ароматы растревоженной нашей шутливой баталией травы, смотреть друг на друга…
    Мы ещё толком не успели насладиться тишиной и покоем, как у Эдика зазвенел телефон:
    — Ну и где вас носит? Мы все готовы! — капризно ныла в трубку Марина-Энди.
    Мой Клюев усмехнулся не без сожаления:
    — Собственно, вот и игра подоспела. Мерило моей ловкости и мужества!
    — Что за игра-то? — перевернулась я на живот, подпирая кулачками подбородок и болтая ножками. Да, я завлекала Эдика и не скрывала этого.
    Он поднял руку — коснуться моего лица — но на полпути передумал, спрятал за спину.
    — Вот сейчас и увидишь. Догоняй!
    Клюев метнулся вверх по склону, только белые шорты замелькали по кустам косульим хвостом.
    — Э-э! — бросилась я за ним следом. — Так нечестно! Сюда, значит, на руках нёс…
    Вдоль высокого каменного забора вокруг дома Клюевых выстроились длинной вереницей машины. О, какие то были машины! Любую из них, не глядя, себе взяла бы! Если б ещё кто дал… Новёхонький джип — бордовый «металлик»… Сверкающий «опель» — небесно-синий… умопомрачительный «ландкрузер» — цвета юной вишнёвой листвы… м-м-м… Я стояла и ласкала взглядом их, все вместе и каждую по отдельности, а душа моя, повизгивая от восторга, металась от одной до другой, чмокая в глянцевые бока. Одно дело — дорогие красивые машины. А вот красивые ухоженные машины — это, знаете ли, совсем другое дело!
    Автомобили Клюевых «держали марку»: как их хозяева не пахли вампирами, так они пахли чем угодно, кроме бензина и машинного масла. Они источали ароматы специальных автошампуней и экзотических освежителей, а из открытых салонов доносились ароматы натуральной кожи…
    Эдик стоял рядом со мной и делал вид, что его всё это богатство не интересует.
    Рассмотрев его слева, зайдя к нему справа, тщательно оценив каждую складочку на высоком лбу, я пришла к выводу, что ему… ему действительно всё равно на все эти машины!
    Ну и ну…
    Так и подмывало спросить ещё и вслух: тебе что, безразличны все эти сокровища? Исключительно ради того, чтобы получить в ответ удивлённый взмах ресницами: неужто не видишь, что — да, безразличны?
    Я вздохнула и пошла угадывать, на какой машине предстоит ехать мне и Эдику. Долго гадать не пришлось: к нам подбежала Энди и со сдержанной радостью усмехнулась:
    — Похоже, я первый! Идите со мной, у меня бэ-эм-вэ икс-пять.
    Помнится, кто-то из моих знакомых охарактеризовал это чудо техники как «чисто пацанскую тачиллу». Ну от Энди другого ожидать было сложно.
    Серебристое чудо, вылизанное до лунного сияния, обдало нас жасминовыми запахами, обняло мягкими кожаными сиденьями и с места в карьер понесло навстречу приключениям. Тонированные стёкла пропускали солнечный свет, чуть подкрашенный синим, кондиционер старательно охлаждал воздух, гоняя его свежим сквозняком по салону, и оттого казалось, что в машине царят зимние сумерки.
    Мы с Эдиком на заднем сиденье держали друг друга за руки.
    Дорога кончилась как-то слишком внезапно, я даже толком не поняла, что мне нравится больше — трястись на «крысе», обнимая своего любимого, или таять в комфортном авто, растворяясь в его ласковом взгляде?
    Энди, старательно копируя мужские жесты, вышла из машины и направилась к Клюеву-старшему.
    Арсений Михайлович подъехал на место первым… кстати, само место! Я такого в окрестностях Фролищ ещё не видывала. По левую руку от нас частой рябью убегали в горизонт мелкие холмы, по правую неровным частоколом тянулись к пятнистому от облаков небу сосны. Дорога ровной лентой разделяла холмы и лес. Машины в количестве чёртовой дюжины цепочкой вытянулись вдоль обочины.
    Клюев, выбравшись на центральную по отношению к веренице авто позицию, исполнил мою давнюю мечту, воздел руки к небу.
    В исполненные выспренности словеса, возвещающие начало великого события, я не вслушивалась. Я наблюдала за лицами «детишек» и думала, что это, вообще-то, странно — вся семья в сборе, только мамы и нет, и о её существовании (или, в конце концов, о существовании и количестве мам!) никто не говорит, словно это запретная тема.
    Клюевы-младшие слушали своего папочку с той же степенью внимательности, что и я. Возможно, причина была в том, что они слышали эту речь уже не раз: насколько я успела заметить, Арсений Михалыч обожал повторять особенно удачные «обращения к народу». На лицах Клюевых-младших отображалось явное нетерпение, и мне оставалось только гадать, какой же всё-таки игры они так ждут… жаждут!
    — …и я счастлив объявить нашу первую летнюю игру этого года открытой! — наконец-то закончил Арсений Михайлович, и дружное «урррааааа, страйкбоооол!!!» всколыхнуло тучки в небе, траву на холмах и сосны в бору и положило конец моей «угадайке».
    Я не успела опомниться, а на меня уже напяливали какой-то комбинезон, поверх него жилет, на голову шлем, как у мотоциклиста… Вокруг мельтешили разодетые во все оттенки камуфляжа парни и девушки, в руках у них то и дело появлялись и исчезали ружья и пистолеты. Эдик, тоже полностью закамуфлированный и узнанный мною только по запаху, небрежно опирался на жуткого вида винтовку. Перехватив мой растерянный и жалобный взгляд, он пожал плечами:
    — Сейчас на команды поделимся — и… — Эдик помрачнел, протяжно вздохнул: — Да, сейчас на команды поделимся, игра начнётся, меня подстрелят, и до конца игры большую часть времени я проведу в роли мертвеца.
    — Почему?
    — Потому что Эдик — Долбоклюев! — с радостным ржанием объявил Максим, прибивая меня к земле нехилым, по замыслу явно дружеским хлопком по плечу. Я змейкой вывернулась из-под руки парня и добросовестно попыталась испепелить его взглядом, но он оказался огнеупорным юношей.
    Да, ста восьмидесяти лет от роду, если мне не изменяла память.
    Лицо Эдика потемнело от прилившей к щекам крови. Конечно, ведь мало приятного, когда тебя при твоей девушке так называют. Но что-то… природная робость? Неуверенность в себе? Сила привычки? Не знала я, что! Это что-то мешало Эдику возмутиться и потребовать раз и навсегда, чтоб его милые родственнички забыли эту милую кличку и думать не смели к нему так мило обращаться!
    …а если ещё и я прямо сейчас не возмущусь, всё так и будет продолжаться! Максим уже отвернулся от нас, даже шагнул в сторону, сейчас он с сочным ржанием пойдёт проверять обмундирование игроков своей команды, Эдик перекипит бессильной злобой, и каждый из его братишек и сестрёнок сможет так же просто-запросто окликнуть его — эй, Долбоклюев!
    И он будет краснеть, бледнеть и отзываться.
    — Эй!
    Странно, но Максим понял, что я обращаюсь к нему, и обернулся:
    — Да-да? Есть вопросы?
    — Всего один. Когда ты перестанешь называть Эдика — Долбоклюевым?
    Какая-то странная, многосоставная эмоция отразилась на красивом лице парня. Он, кажется, даже удивился, по меньшей мере, несколько раз проехался взглядом на Эдика, на меня и обратно.
    — Наверное, тогда, когда он станет просто Клюевым — умным и смелым, сильным и ловким! — неожиданно добродушно усмехнулся Максим, наконец составив ответ на мой вопрос.
    Но меня такой ответ не устраивал. Тем более, уже человек десять Клюевых прислушивались к нашей беседе.
    — Нет, Максим, «тогда — когда» не пойдёт. Скажи, пожалуйста, конкретно! Когда, по каким признакам ты поймёшь, что Эдик стал просто Клюевым?
    Максим радостно улыбнулся во все тридцать два зуба плюс клыки:
    — Так говорю же, когда поумнеет, посмелеет, посильнеет и половчеет!
    Среди зрителей раздались одобрительные смешки.
    Эдик пошёл фиолетовыми пятнами.
    Я загадочно потупила глаза:
    — Но как ты поймёшь, что это случилось?
    — Я это увижу!
    — Нет, не увидишь! Потому что не желаешь видеть того, что не соответствует уже имеющимся представлениям об Эдике!
    — Да ладно! — отмахнулся Макс. — Надь, ты пойми, это ж невозможно не заметить — если вдруг наш Эдинька так переменится!
    Загадочное выражение на моём лице сменилось определённо плутовским:
    — Да я тебе хоть сегодня покажу все перемены! Вопрос в следующем, готов ли ты прямо сейчас их увидеть и признать!
    — Готов!
    Эдик застыл в полной прострации.
    Он ещё не понимал, к чему я клоню, да я и сама толком не знала, получится ли…
    — Тогда давайте сыграем, мы с Эдиком против вас всех!
    На какой-то невыразимо долгий миг мне показалось, что Эдик уже начал падать в обморок.
    Нет, всего лишь показалось!
    Слушали уже все. Все замерли в прострации сродни той, что недавно объяла моего любимого. Он же справился с первым шоком и улыбался, правда, пока ещё несмело, неуверенно. Но я видела, он испытывает ни с чем не сравнимое удовольствие при виде отпавших челюстей своих родственничков!
    А прямо напротив меня крутил головой и одобрительно усмехался Арсений Михайлович. Надо же, помощь — хотя бы моральная поддержка! — пришла, откуда не ждали.
    Пятна зелени. Пятна солнечного света. Звон в ушах от напряжения. Гибкий, хищный Эдик прозрачной тенью стелется, почти неразличимый в густом подлеске. Прямо перед ним — Энди. Я чувствую её запах.
    Энди крутит головой, пытаясь угадать, в какой стороне мы с Эдиком.
    Мы отправили в мертвятник уже пятнадцать человек, а нас ещё толком никто и не видел!
    Никто просто не ожидал, что я буду перепрыгивать с дерева на дерево — бесшумно, прямо со ствола на ствол, если деревья близко, или с ветки на ветку, если далеко. А я вспомнила свои сны, где бегала по деревьям в стиле «Матрицы», договорилась с Эдиком, что буду работать «отвлекающим манёвром», и мы пошли охотиться на его родственников.
    Сейчас в нашу засаду угодила Энди, и нам осталась самая малость…
    Я пробежала по нижней ветке сосны до того места, где она начала ощутимо прогибаться под весом моего тела, и «страшным» шёпотом, подражая голосам призраков из ужастиков, позвала:
    — Эээндииии!
    Девушка задрала голову — и поймала затылком пластиковую пульку из винтовки Эдика. Лёгонькую Энди впечатало ударом в сосну, с которой я с ней общалась. Еле удалось удержаться!
    — Ой! — пискляво отреагировала Энди, отклеивая нос от смолянистой коры, и тут же расхохоталась: — Ну вы, блин, даёте! Охотники, мать вашу!
    Интересно, что стало бы с нею, не будь она действительно вампиром…
    Эдик шутовски раскланялся, я же спрыгнула вниз:
    — Давай руку, Энди…
    Мой любимый радовался, как ребёнок, повязывая своим сёстрам и братьям белые ленты «мертвецов».
    — На! — протянул он сестрёнке телефон.
    Энди вздохнула, набрала номер Арсения Михайловича:
    — Па! Меня убили.
    Трубка разразилась многоголосым хохотом.
    — Ну беги к нам, — перекрыл хохот голос Арсения Михайловича. — Ждём с нетерпением!
    Энди развела руками:
    — Жаль вас покидать, но вы сами напросились одни против всех!
    — Да ладно, — снисходительно пожал плечами Эдик, ему каждый новый выстрел в цель придавал всё больше уверенности в собственных силах. — Вас уже не так много и осталось…
    — А скоро не останется вовсе! — поддержала я.
    И снова — пятна солнечного света, пятна зелени, переплетение запахов… мне нужен был, по совести, только один, Максимов. Очень уж хотелось прибить его как можно скорее!
    Прыгая с дерева на дерево, ловя малейшие оттенки ароматов, я чуть не свалилась в полупрыжке, когда вдруг учуяла отвратительно знакомый запах Косичкобородца.
    Эдик, заметив, что я едва не сорвалась, жестом подозвал меня.
    — Что? — коротко и тихо спросил он.
    — Косичкобородец, — так же тихо, пусть и не так уж коротко ответила я.
    Он нахмурился:
    — Его только и не хватало!
    Глубокая складка между бровями моего любимого притягивала взгляд и вызывала непреодолимое желание прижать её пальцами, разгладить…
    — Что делать? Ведь он сейчас следит за нами!
    Я пожала плечами:
    — А если нам самим проследить за ним?
    Эдик почти улыбнулся:
    — И как же ты это себе представляешь?
    — Да очень просто! Я уверена, что сейчас он меньше всего ожидает, что мы с тобой отвлечёмся от своей охоты и займёмся им!
    — Ой, Надя, тебя послушать — так всё так просто! И не-долбоклюевость мою доказать, и Косичкобородца отловить…
    — Ой, Эдик, а тебя послушать — так всё так сложно! Однако это не я, заметь, не я, а ты шестнадцать раз подряд не промахнулся!
    — Чшш!
    Мы не заметили, что увлеклись и стали разговаривать громче.
    Взглядом Эдик указал на дерево, и я без разбега прыгнула как можно выше и ящерицей вскарабкалась по стволу до первых ветвей, затаилась, стараясь слиться с ними. Эдик уже растворился в подлеске.
    Да, наши голоса были замечены: к тому месту, где мы завели свою высокоэмоциональную беседу, с двух сторон подходили… я втянула воздух носом, ага! Всего лишь Клюевы! Оттенок менестрелевой вони еле-еле различался на фоне прочих запахов.
    Две фигуры, мужская-широкоплечая-коротконогая и женская-девяносто-шестьдесят-девяносто, замерли там, где минуту назад стояли мы с Эдиком.
    — Странно, — тихонько прошептал Максим, — я их слышал.
    — Ну да, — вздохнула одна из сестрёнок Эдика, по голосу — Галина, блондинка-фотомодель, она ещё спрашивала, где я брала такие шикарные купальники, только тогда я не знала, как её зовут.
    — Тише. Они не могли далеко уйти!
    Гоняясь за Клюевыми, я успела понять, что ни у кого из них нюх не развит так, как у меня. Я бы вот себя уже учуяла, с такого-то расстояния! А они переговаривались, не замечая, что мы оба тут, и я, и Эдик.
    — Туда пойдём? — махнула рукой Галя, как раз в ту сторону, где стоял Эдик.
    — Туда пойдём! — ткнул пальцем Макс назад, откуда они пришли.
    — Но мы ж там были!
    — Но мы их слышали там! Могли просто проскочить то место, где они прячутся.
    — А если они уже ушли?
    — Да ладно тебе! Ушли они… стоят небось, как миленькие…
    — А е…
    — Хватит препираться, Галя! Двигай давай, — он пропустил её вперёд. — Давай, давай, мы должны найти их первыми. Я так хочу его пристре…
    Звук выстрела оборвал речь Максима. Пулька угодила ему чуть пониже кевларового жилета и, похоже, на его бедре скоро появится шикарный синячище.
    Галя суматошно задёргала свою винтовку, одновременно пытаясь нашарить спусковой крючок и понять, куда надо целиться. Я душераздирающе каркнула. Она в страхе присела, и ударом в плечо её опрокинуло в кусты: Эдик не промахнулся и в восемнадцатый раз!
    Я спрыгнула.
    Максим успел расстегнуть и снять защитный шлем. Эдик помогал Гале выбраться из молодых сосёнок.
    — Ну Эдик! — приговаривала девушка. — Ну Эдик!
    Максим молча сопел, и мне не нравилось его молчание.
    Галя покорно подставила руку под белую повязку «мертвеца» и потянулась за телефоном, когда Макс вдруг выхватил серебристую «раскладушку» и яростно стиснул её, размалывая пальцами.
    Галя пискнула, зажимая рот руками, Эдик отшатнулся. Я смотрела, как на землю сыплются осколки телефона, и понимала, что была права, когда говорила: Максим не готов признать в Эдике нормального человека.
    — Ну Долбоклюев! — наконец, заговорил Макс. — Готовься к смерти!
    — Почему это? — спокойно ответил Эдик. — Это я тебя убил честным выстрелом в… кхм… в спину и настаиваю на том, чтобы ты отзвонился папе, признав свою смерть.
    — А вот это мы сейчас проверим, кто кому отзвонится! — раскинул Максим руки, словно собираясь обнять Эдуарда, и я поняла, что Эдикову братцу очень хочется подраться.
    Вот только Эдик не собирался поддерживать его в этом желании.
    Никто этого не ожидал, но он быстрым, элегантным движением обрушил пластиковый приклад винтовки на голову брата — осколки брызнули во все стороны, — и тот, издав сочный шмяк, неэстетично рухнул в куст, из которого только что вылезла Галя.
    — Ого… — протянула она недоумевающим тоном, и мой возлюбленный извинился:
    — Прости, но мы спешим. У нас… кое-какие дела появились. Передай нашим, что игра на сегодня окончена.
    Галина восхищённо покрутила головой:
    — Ну и ну! Ладно, так и быть…
    Вообще, конечно, вампиры сильнее людей, и я знаю это по себе, но всё-таки зрелище худенькой маленькой девушки, легко забрасывающей себе на плечо увесистого большого юношу, всегда впечатляет.
    Мы с Эдиком проводили взглядами радостно напевающую Галю, несущую в «мертвятник» оглушённого Максима, и я пошла по кругу в надежде напасть снова на след Косичкобородца.
    А он был везде. Такое ощущение, будто кругами бегал вокруг нас, пока мы проясняли ситуацию с Максимом! Я тихонько зарычала.
    — Что такое? — спросил Эдик, и я вкратце обрисовала ему ситуацию.
    Каждое моё слово заставляло лицо любимого вытягиваться всё сильнее.
    — Да… — вздохнул он. — Выходит, мы его не найдём.
    — Или потратим на поиски непозволительно много времени… и не исключено, что, пока мы будем его искать, он будет следить за нами.
    И мы отказались от идеи выследить Косичкобородого монстра. В конце концов, он пока мешает жить только тем, что бегает вокруг и воняет.
    По заранее оговорённому плану игры, собраться по её окончании все должны были в «мертвятнике», который устроили на базе машин семейства. Там были и переносные холодильники с напитками, и еда для тех, кто проголодается, и ноутбуки с выходом в Интернет, и телевизоры, работающие от аккумуляторов, и многое другое. В общем, нашим «мёртвым» скучать не приходилось, и Эдик немало обрадовался, когда мы окончательно решили идти в «мертвятник».
    И тут нелёгкая меня дёрнула, иначе и не скажешь, дать моему любимому шанс окончательно поверить в свои силы и доказать, что в ориентировании на местности ему тоже нет равных, как и в меткости.
    — Ой! — изобразила я, как сумела, растерянность. — А куда нам идти теперь?
    Эдик улыбнулся:
    — Ты шутишь?
    — Нет… я не помню, мы оттуда шли? Или оттуда?
    Возлюбленный сосредоточенно проследил за движениями моей руки.
    Нахмурился.
    — Э-э… ты не помнишь? Ты точно не помнишь, Наденька?
    Я кивнула. Подумала и кивнула ещё несколько раз, часто-часто.
    Он побледнел:
    — Это… это не шутка?!
    Я энергично покрутила головой, подтверждая: нет, не шутка!
    Эдик пошатнулся и привалился спиной к ближайшей сосне.
    — Нет… Наденька, это не может, это не должно быть правдой! Ведь я же… я же совершенно не умею ориентироваться в лесу!
    Пришла моя очередь хмуриться:
    — Как это так? Ты — и не умеешь? Ты же живёшь рядом с лесом!
    — Ага, последние пару месяцев…
    — А до этого?
    — А до этого в городе жил! В большом городе! И я даже в чужом городе могу куда угодно и откуда угодно пройти, но не в лесу!
    Я чувствовала, что приближается истерика.
    Итак, моя попытка помочь Эдику обрести веру в собственные силы с треском проваливалась прямо у меня на глазах. Я смотрела на любимого, понимая, что не понимаю, за что я люблю это истеричное создание? За то, что оно вкусно пахнет? За то, что мне без него трудно дышать? За то, что он ещё слишком молод, но вырастет настоящим мужчиной, за которым я до конца дней своих — предположительно, очень и очень долгих, как и его! — буду как за каменной стеной… надо просто немного подождать. Всё-таки девочки-вампиры взрослеют быстрее мальчиков-вампиров, и в этом мы тоже очень похожи на людей! Только вампиры взрослеют ещё медленнее.
    Мальчики-вампиры, имела я в виду.
    О боже… сколько лет — или столетий?! — мне ждать, пока моя любовь повзрослеет?
    Не знаю, что прочитал Эдик в моём внимательном, любящем взгляде, но лицо его исказила гримаса отчаяния и боли, и он, резко вскрикнув и спугнув криком дятла, примеривавшегося к сосне, стремглав кинулся в чащу леса.
    Я вздохнула и пошла к дороге, где меня ждал горячий чай и дружеская компания.
    Да, и разборка с Максимом, который, гарантия, уже пришёл в себя.
  {% endfilter %}
{% endblock %}
