.collapse {
  @media screen {
    position: fixed;
    right: 200vw;
    visibility: hidden;
  }
}

.hidden {
  display: none;
}

.visually-hidden {
  position: fixed;
  right: 200vw;

  &--no-mobile {
    @media (max-width: 767px) {
      position: static;
    }
  }
}

.no-print {
  @media print {
    display: none;
  }
}
