{% extends template %}

{% set title = "«Какое небо! Ширь! Без дна…»" %}
{% set pubdate = "14.12.2011" %}

{% block content %}
  {% filter poem %}
    Какое небо! Ширь! Без дна!
    Всё в облачистых поволоках!!!
    Зачем вы, милые, куда?
    Меня оставив в мутных окнах…

    А этот лес! Помилуй Бог!
    С ним явно повенчалась Осень!
    Мой прорезиненный сапог
    Сдырявив вдрызг об иглы сосен…

    А вы — берёзка… ручеёк…
    Шептались над простой бедою:
    «К нам не дойти — ведь босиком
    И двери настежь не откроет…»

    В трясинку выброшенный ключ,
    Второй сапог и крючья кросен…
    Осталось — тонкое стекло,
    За ним — дома, меж ними — просинь…
  {% endfilter %}
{% endblock %}
