{% extends template %}

{% set title = "Песня потерявшего работу музыканта" %}
{% set pubdate = "14.12.2011" %}

{% block content %}
  {% filter poem %}
    Страшный кризис наступает —
    Медленно, но рьяно.
    Стану в ближнем переходе
    Со своей гитарой.

    Как рвану златые струны
    За свои два высших! —
    Соберу вокруг всех пьяных,
    Распугаю нищих.

    Приходите к переходу
    Вы меня проведать,
    Потому что музыканту
    Надо пообедать.

    Много песен мне не спеть,
    Вам их — не дослушать,
    Только бедному артисту
    Нужно что-то кушать.

    Эх! Бывают же в судьбе
    Глупые моменты…
    А в соседний — не ходите,
    Там поют… доценты!!!
  {% endfilter %}
{% endblock %}
