{% extends template %}

{% set title = "Лекция" %}
{% set pubdate = "14.12.2011" %}

{% block content %}
  {% filter poem %}
    Шагнув, как в пропасть, в Их глаза,
    Не знающих открытий груз
    (Это Гиппиус ранее описал
    В книге «Гимнастика чувств»),

    Я «прибиваю» словом к голове
    То, что сплошные раны…
    Пусть растёт внутри, во мне
    Их «Эстетика драмы».

    — «Ударься энергией» об острый лёд,
    Его — спали, себя — сделай! —
    Это сказал великий Мейерхольд
    В «Биомеханике тела»…

    — «Разбери» свой мозг, найди, что искал,
    И… уйди… в последний ряд… —
    Так Эфрос своё сердце отдал
    За «Психологический театр».

    Виснет в аудитории могильная тишина,
    В ней не было и нет постоянства…
    Втекаем, вливаемся, входим в ремесло
    «Композиции сценического пространства».

    Душу — в клочья вмиг разодрав,
    Я вывожу итогом:
    Вот что, друзья мои, Станиславский назвал
    «Внутренним монологом».
  {% endfilter %}
{% endblock %}
