{% extends template %}

{% set title = "«Я сегодня — извелась…»" %}
{% set pubdate = "14.12.2011" %}

{% block content %}
  {% filter poem %}
    Я сегодня — извелась,
    Как пружина завелась,
    Я сегодня — не простила
    И так странно «родилась».

    А вчера я просто пела…
    Просто верить не хотела…
    А потом — так испугалась,
    Что нечаянно сломалась.

    Ну а завтра — что сказать?
    Нужно «завтра» подождать,
    Ведь оно наступит завтра,
    Лишь бы только лечь в кровать…

    И лежит потерянный
    Сгусточек материи…
  {% endfilter %}
{% endblock %}
