{% extends template %}

{% set title = "«А день прошёл. Вечерняя заря…»" %}
{% set pubdate = "14.12.2011" %}

{% block content %}
  {% filter poem %}
    А день прошёл. Вечерняя заря
    Одела месяц в кепку набекрень…
    Мой милый, только… не было меня,
    Как без меня вершился этот день?

    Ты утром, видно, в зеркало смотрел,
    Расчёской смело мысли серебря,
    Бурча тихохонько такой припев:
    «Ну почему со мною нет тебя?»

    С тем — говорил, с тем — выпил от души,
    Тут — посмеялся, струны теребя…
    Он так прошёл? Ну, милый, расскажи,
    Что в этот день прожил ты без меня?

    А после — за окном кудрявил снег,
    Чтоб познавал ты игры фонаря…
    Так завершался суматошный бег
    Дня, милый, дня? Где не было меня.

    А может быть, не суетно, как встарь,
    Ты отвечал на письма и звонки.
    А слякотно-неистовый ноябрь
    Простуживал твои черновики?

    И в пледе весь, укутанный, как тень,
    Ты хорохорился, синоптиков кляня…
    Быть может, так прошёл тяжелый день?
    Ведь… в нём сегодня не было меня.

    Так пусто, так нелепо… Дребедень
    Мерещится мне в стенах бытия.
    Я сомневаюсь — нужен ли мне день,
    Такой, в котором не было тебя…
  {% endfilter %}
{% endblock %}
