{% extends template %}

{% set title = "«Сколько ж можно маяться…»" %}
{% set pubdate = "14.12.2011" %}

{% block content %}
  {% filter poem %}
    Сколько ж можно маяться
    Мозгом на обрыв?
    Лучше взять — да циркулем
    Вытащить нарыв…

    Вот оно, нетребное
    Всё в груди ужом.
    Что ж ты, гадость, делаешь,
    Больно ведь ножом.

    Вместе в позвоночнике
    Завершаем круг,
    И в руках рассыпался
    Ортопеда крюк.

    Всю себя измызгала,
    Сдула, закляла,
    Что-то очень мерзкое
    На руки взяла.

    И сказал мне голосом
    Высипшим Поэт:
    — Этого, голубушка,
    В организме — нет.
  {% endfilter %}
{% endblock %}
