{% extends template %}

{% set title = "Страшное" %}
{% set pubdate = "14.12.2011" %}

{% block content %}
  {% filter poem %}
    Лесу на краю дремотного
    Проживает тварь болотная.
    Вся покрыта шерстью рыжею,
    А глаза ж её — бесстыжие.

    А глаза ж её, как омуты.
    Глянешь… и уйдёшь из дому ты.
    Станешь ей мешки таскать с добром,
    А она за то — любить тайком.

    На вечорках девки вздохами
    Вслед хлопцу-красавцу охают:
    — Где ж взять зелья отворотного,
    Сгинула чтоб тварь болотная?

    И решилась Настья в лес идти —
    Чудо-юдо ягоду найти…
    Растемнелись больно небеса,
    Горькой потекла из них слеза…

    По деревне ходют новости:
    — Стала рыжей шерсть на нём расти,
    Вечерами тень красною
    Хлопец по болотам шастает…

    А ещё сказали старики,
    Что видали, будто бы у реки
    Пролегла тропинка-полоса,
    Словно Настьи-девицы коса…
  {% endfilter %}
{% endblock %}
