{% extends template %}

{% set title = "«Мои вокальные надрывы…»" %}
{% set pubdate = "14.12.2011" %}

{% block content %}
  {% filter poem %}
    Мои вокальные надрывы,
    Надеюсь… не обременяют?
    Безродной нежности порывы
    По нотным записям гуляют…

    Так забиякой, пусть нечёткой,
    Тональность только лишь послушав,
    Помятой вылезла чечёткой,
    На волю выпуская душу…

    Из контральта метнув в сопрано,
    Назло диезам и бемолям,
    Сипела ауфтактом рваным,
    Срывая связки колкой болью…

    Не смейте слишком сильно цапать
    Её немытыми руками…
    Я — не сломаю медиатор…
    Да кто вы — сами…
  {% endfilter %}
{% endblock %}
