{% extends template %}

{% set title = "Я — была" %}
{% set pubdate = "14.12.2011" %}

{% block content %}
  {% filter poem %}
    Возле тётки с пелёнкой
    Да рябин у двора
    Я была «октябрёнкой»,
    Я — «ребёнкой» была.

    На линейных парадах
    Горн трубил до утра…
    Я была пионеркой,
    Я — девчонкой была.

    Хитрый глаз из-под чёлки,
    Юбка — выше бедра…
    Я была комсомолкой,
    В общем — дурой была.

    Под окном гитаристы —
    Так, что мать не спала!
    Я была активисткой,
    Я — туристкой была.

    По профессии строго
    Пронеслась, как струна.
    Я была педагогом.
    Я — учёной была.

    Время выжгло заимки
    У меня на хребте.
    Да, в моих пелеринках
    Эти были и те…

    Все учили без спросу,
    Кто — наотмашь, кто — так…
    И выдергивал косы
    Морозящий сквозняк.

    Поседели откосы
    У меня на висках.
    Изменились запросы
    В межпредметных тисках.

    Вдруг по колким торосам,
    Тем, что выбили спесь,
    Я споткнулась вопросом:
    Что сегодня я есть?

    Что я? Только лишь звуки?
    Моросящие в ночь?
    Мысли, чаяния, муки?
    Мирно спящая дочь?

    Сны её — журавинки
    В фантастичных мирах?
    Или, может… рябинки,
    Что цвели во дворах?

    И пришла Богоравна,
    Отворяя мне дверь…
    Я теперь — православна!
    Во Христе я теперь…
  {% endfilter %}
{% endblock %}
