{% extends template %}

{% set title = "«Бумажки нелепые — ужасть проворные…»" %}
{% set pubdate = "14.12.2011" %}

{% block content %}
  {% filter poem %}
    Бумажки нелепые — ужасть проворные!
    Своим заполнением взяли за горло.
    «Журналы», «таблицы», «приказы» и «акты» —
    Я в них — словно курица: «Кудых-ты… кудах-ты…»

    И плачет гитара, за дверью забытая,
    А нотные записи — горем убитые.
    Сценарии стонут — не розданы роли,
    Фортепиано «заныло» от моли.

    Квартира — бедняга! Неделю не мытая,
    Ваза — хрусталь! Вся в цветах, да разбитая…
    Покинуты муж, кошки, тапки и дочка…
    Кудахтает мать над «приказом», как квочка,

    А мой интернет — ну тут просто «висение»:
    Ни встречи тебе и ни стихотворения…
    Такой дуркомании Вы не видали?
    Вот сели бы рядом — да позаполняли,
    Ну а потом уж меня б поучили,
    Как раньше в театре без этого жили…
  {% endfilter %}
{% endblock %}
