{% extends template %}

{% set title = "Весеннее" %}
{% set pubdate = "14.12.2011" %}

{% block content %}
  {% filter poem %}
    Залезла вверх по лесенке
    К зеленому ларцу
    И крашу домик песенкой
    Знакомому скворцу…

    А он, «собака в пёрышках»,
    На веточке сидит
    И в такт моим стараниям
    Презрительно свистит:

    «Здесь линия неровная
    И краска пролилась…
    Своими ми-бемолями
    Ты развела мне грязь!

    А я своей Сударушке
    Хвалился без конца,
    Что будет свет в окошечке
    И тополь у крыльца.

    Не восхитится жёнушка
    Нелепою мазнёй —
    Откажет мне в занятии
    Весёлою вознёй…»

    И так достали посвисты
    Пичуги-сорванца,
    Что краски вмиг забрызгали
    Подпорку у кольца.

    Ах ты, пернатый выскочка,
    Тебе рефреном дам:
    «Возьми-ка в клювик кисточку —
    Да выкраси всё сам!»
  {% endfilter %}
{% endblock %}
