{% extends template %}

{% set title = "«В мире мечтателей славных…»" %}
{% set pubdate = "14.12.2011" %}
{% set next = "taniacet/life-1" %}

{% block content %}
  {% filter poem %}
    В мире мечтателей славных
    Детство вписало мелом,
    Что равные выберут равных,
    А «спелое» — будет спелым.

    Дождями не смоет синими,
    Не скроет листвой златокудрой,
    Что «сильные» — имя сильных,
    А «мудрые» — звание мудрых!

    Мечтатели верили свято,
    В юность ворвавшись смело,
    Что песня — услышит слово,
    А слово — увидит дело!

    Не высохнет летом рваным
    Под солнцем шального мига
    Мечта их о самом главном,
    И книгой окажется книга.

    Не сгинет в дурацких спорах,
    А станет кружить по свету
    Открытиями — учёных,
    Порывом сердец — поэтов.

    Усталость свою мечтами
    Оденут они под снегом,
    И брызнет весна — цветами,
    А хлеб — уродится хлебом!
  {% endfilter %}
{% endblock %}
