{% extends template %}

{% set title = "В подражание Жуковскому" %}
{% set pubdate = "14.12.2011" %}

{% block content %}
  {% filter poem %}
    Волна, с волной играя,
    Подруге говорит:
    — На дне морском, родная,
    Прекрасный витязь спит…

    Он думал, что навечно
    Ему душа дана,
    Что доля человечья
    Прекрасна и вольна…

    Что смерти нет начала,
    А жизни нет конца…
    Как вдруг — пронзило сердце
    Железо подлеца…

    Вторая отвечала,
    Улыбки не тая:
    — Зато теперь он знает,
    Что вечны ты да я.
  {% endfilter %}
{% endblock %}
