{% extends template %}

{% set title = "«Весенние поэты — товарищи мои…»" %}
{% set pubdate = "06.01.2013" %}
{% set workdate = "27.03.2012" %}

{% block content %}
  {% filter poem %}
    Весенние поэты — товарищи мои —
    Надели эполеты из грёз, цветов, любви.
    И воспевают нежно смятение бельчат,
    По клавишам небрежно их пальчики стучат.

    Вокруг цветёт природа — рождаются мечты,
    И даже непогода с поэтами на «ты».
    И сладостным пороком под пение скворца
    Подкатит ненароком бутылочка винца.

    Хрустальные бокалы качнутся рифмам в такт,
    Со снегом талым быстро завяжется контакт.
    Он славно рюмку выпьет — и с возгласом «Налей!»
    Помчится и подпрыгнет проказливый ручей.

    А звук клавиатуры с капелью выйдет в пляс,
    Поэтов соблазняя на тысячи проказ.
    Мяуканье кошачье, чуть пьяные грачи
    Командуют поэтам: стучи, стучи, стучи!

    Весёлой птичьей трелью и солнцем в облаках
    Завьются, завеснятся их строки на листках —
    Задорные куплеты, затейливо в «посты»
    Стучат весне поэты — и я, и он, и ты…
  {% endfilter %}
{% endblock %}
