{% extends template %}

{% set title = "Под наркозом" %}
{% set pubdate = "06.01.2013" %}
{% set workdate = "26.03.201" %}

{% block content %}
  {% filter poem %}
    Я — нечто такое земное…
    Кто я?

    И не человек, и не рыба…
    Спасибо
    За то, что молчали без фальши.
    Дальше…

    Я, может быть, — голая ветка?
    Некто
    Следит за моим перламутром
    Утром.
    Когда мне милее в кровати.
    Хватит.

    Не добрая и не больная?
    Злая?
    Смогу я, крылатая, биться?
    Птица?

    В висок, может, бьющая точка?
    Дочка!
    Кричат в темноту мою громко…
    Ломка?

    А вдруг я березовый листик?
    Мистик!
    Не надо мне сердце дырявить!
    Память!
    Вернись ко мне, я умоляю…
    Не знаю…
  {% endfilter %}
{% endblock %}
