{% extends template %}

{% set title = "«Ты меня укради в травы…»" %}
{% set pubdate = "06.01.2013" %}
{% set workdate = "01.04.2012" %}

{% block content %}
  {% filter poem %}
    Ты меня укради в травы,
    Чтоб руками хватать корни.
    Те судьбой нанесённые раны
    Ты собою, любимый, заполни.

    А потом — укатай в росы,
    Чтобы кожей впитать ложно
    Все ответы твои на вопросы,
    Что чужому задать — невозможно.

    Приготовился миг к бою…
    С ветром в гривах летят кони…
    Усмири этот вздор ключевою,
    Подарив мне глоточек в ладонях.

    Я с ладоней вдохну солнца
    И добавлю чуть-чуть — соли.
    И взахлёб, до последнего донца,
    Буду пить родниковую волю.
  {% endfilter %}
{% endblock %}
