{% extends template %}

{% set title = "«У меня есть сосед-старичок…»" %}
{% set pubdate = "06.01.2013" %}
{% set workdate = "23.03.2012" %}

{% block content %}
  {% filter poem %}
    У меня есть сосед-старичок,
    Весь такой… как большой сверчок…
    В мятой шляпе, что — возраста нимб.
    Но… беседует Времечко с ним…

    Слышно то, что смешно он поёт,
    Словно детство своё зовёт.
    И, струну теребя с ним, в шёпот
    Подпевает бродяга — Опыт.

    (Сединой нас и не удивить —
    Уж давно — серебрится нить.)
    В «золотой» все его печали
    Красит Солнце само — лучами.

    Выделяя его из толпы,
    Так хотелось бы быть «на Ты»…
    Иногда его вижу в слезах,
    Но… лукавится Мудрость в глазах.

    Я жалею — ещё молода,
    Не догнать мне его года.
    Вот бы рядом с таким, старушкой,
    На одной засыпать Подушке…
  {% endfilter %}
{% endblock %}
