{% extends template %}

{% set title = "«Я спамом слетаю с привычных страниц…»" %}
{% set pubdate = "06.01.2013" %}
{% set workdate = "24.03.2012" %}

{% block content %}
  {% filter poem %}
    Я спамом слетаю с привычных страниц
    В мир, полный безумных хлопот.
    Пусть кто-то другой, создавая свой «ник»,
    Продлит виртуальный блокнот.

    И станет, как я, перед этим «окном»
    Безмолвную ночь коротать.
    Его, протерев специальным сукном,
    Писать, вспоминать, «зависать»…

    На письма наткнётся внезапно и зря,
    Которые бьют и грешат…
    Над ними страдала и плакала я,
    Его же — они рассмешат.
  {% endfilter %}
{% endblock %}
