{% extends template %}

{% set title = "«Так яростно и ярко глухарь в лесу токует…»" %}
{% set pubdate = "06.01.2013" %}
{% set workdate = "04.03.2012" %}

{% block content %}
  {% filter poem %}
    Так яростно и ярко глухарь в лесу токует —
    О курочке-подружке он, видимо, тоскует.
    В кружение волшебное вовлёк бродяга март —
    И птица в нетерпении творит весенний арт.

    Большое представление с надеждой на успех!
    В площадку театральную утоптан рыхлый снег.
    Расправив перья веером и «подмигнув» плечом,
    Выводит он мелодии под солнечным лучом.

    Вмиг на глазах рождается подснежников поэт,
    Шажочками выписывая строгий менуэт.
    В таинственно мерцающих зрачках — журчит весна…
    К нему, маэстро страстному, — пришла бы я сама!
  {% endfilter %}
{% endblock %}
