{% extends template %}

{% set title = "Знаю" %}
{% set pubdate = "06.01.2013" %}
{% set workdate = "24.03.2012" %}

{% block content %}
  {% filter poem %}
    Строчку к строчке верстая,
    Заменю падежи…
    «Я тебе не чужая»?
    Только это скажи…

    Что тобой не забыто,
    Что не вспомнится впредь?
    У больного корыта
    Я не стану сидеть!

    Золотистая рыбка
    Задохнётся в дыму,
    Если жалость улыбкой
    Подойдёт ко двору.

    Больше мыслям не надо
    Ни «в окопы», ни «в бой»…
    Вижу, что даже «взглядом» —
    Не «случится» с тобой.

    И взаимность наградой
    Ты мне не ворожи.
    Разум лечится правдой —
    Сердцу хочется лжи.

    Опрометчивой встрече,
    Чётко слышу, не быть!
    Что осталось — лишь свечи
    О ладонь загасить.

    Пульс растерянный, знаю,
    В каждом слове стучит…
    Извини… замолкаю…
    Прилетели грачи…
  {% endfilter %}
{% endblock %}
