{% extends template %}

{% set title = "Моим дорогим Оптималистам" %}
{% set pubdate = "06.01.2013" %}
{% set workdate = "02.03.2012" %}

{% block content %}
  {% filter poem %}
    Летние мои друзья
    Просто так, раскинув руки,
    Защитили от разлуки
    Несчастливую меня…

    Окунули с головой
    В первобытные расцветы,
    В запах пряных пустоцветов
    И брезента под щекой.

    Пусть недолго длился рай —
    Может, день, а может, вечность.
    Рек игривая беспечность
    Мне вернула невзначай

    Чистоту прозрачных слёз,
    Доверительность тропинок,
    Нежность летних паутинок
    И застенчивых берёз,

    Синеву над головой,
    Птиц, небесную тревожность
    И надежду на возможность
    Снова встретиться с тобой…
  {% endfilter %}
{% endblock %}
