{% extends template %}

{% set title = "«Зеленеет земля, как впервые…»" %}
{% set pubdate = "06.01.2013" %}
{% set workdate = "05.04.2012" %}

{% block content %}
  {% filter poem %}
    Зеленеет земля, как впервые…
    Будто эту работу не знала.
    Заказала цвета: серый, синий,
    А шампанского — не заказала…

    Зеленеет земля, и художник,
    Обречённо вздохнув над заказом,
    Вместо кисти взял в дело валёжник,
    Расстоянье измеривши глазом.

    Зеленеет земля — неумело…
    Вся пока в непонятных разводах.
    Видно, этот «мазилка» несмело
    На мольберт брызнул грязную воду.

    И подтёками паводок пылко
    Серость смыл. Ах как солнышко греет!
    И шампанским — взорвалась бутылка!
    Зеленеет земля и… хмелеет!
  {% endfilter %}
{% endblock %}
