{% extends template %}

{% set title = "«Весенняя дождинка, первая слезинка…»" %}
{% set pubdate = "06.01.2013" %}
{% set workdate = "03.04.2012" %}

{% block content %}
  {% filter poem %}
    Весенняя дождинка, первая слезинка.
    Зелёная травинка, первое «прости».
    Кудрявая тропинка, первая грустинка.
    Юность моя дерзкая, лети, лети, лети…

    Летняя малинка, первое свидание,
    Злющая крапивинка, первое враньё.
    Первые билеты в зале ожидания,
    Первые вагончики в далёкое «твоё».

    Первая разлука, слёзы, расстояния,
    Листики кленовые — осени букет…
    Первая гитара, песни, опоздания.
    Первого замужества несложный этикет…

    Первая снежинка и вредный зимний ветер.
    В гирляндах из сосулек хмурится сарай…
    Первые скандалы, тапки, муж и дети…
    Послушай, юность, сжалься, постой — не улетай…
  {% endfilter %}
{% endblock %}
