{% extends template %}

{% set title = "«Не люблю тебя, время: итожишь…»" %}
{% set pubdate = "06.01.2013" %}
{% set workdate = "28.02.2012" %}
{% set prev = "taniacet/century-25" %}

{% block content %}
  {% filter poem %}
    Не люблю тебя, время: итожишь…
    Всю судьбу мне, лихое, корёжишь.
    Так несёшься — с тобой не присесть,
    Хоть ты всё же не выше, чем честь.

    Но не жди — не согнусь, не сломаюсь.
    Пусть в игрушки твои проиграюсь.
    Губы страстные станут горчить,
    Гости частые будут учить,

    Как из старого дня сделать новый,
    Опрокинув стаканчик гранёный.
    Где дешевле купить, всё успеть…
    А я песни в ответ буду петь.

    Не прощу тебя, время, — торопишь,
    Как котёнка блохастого топишь.
    Управляешь моею звездой —
    Где ж мне, робкой, бороться с тобой?

    Но я всё же ещё постараюсь,
    Поцарапаюсь, покувыркаюсь,
    Умудрившись себя не сломать
    Рваной рифмой, похожей на «мать».

    Назовёшь все проблемы — нудными,
    Обзовёшь мои строки — скудными…
    «Не от мира сего» — стану слыть
    И в ответ — буду словом чудить.

    Не терплю тебя, время, а всё же
    Чем быстрей ты, тем жизнь — дороже…
  {% endfilter %}
{% endblock %}
