{% extends template %}

{% set title = "«И рванулась птица…»" %}
{% set pubdate = "01.12.2011" %}

{% block content %}
  {% filter poem %}
    И рванулась птица,
    Крылья не раскрыв…
    Думала — орлица!
    Стреляна в разрыв…

    Раскачалась ветка
    К облаку в ладонь,
    Да сломалась, детка,
    Брошена в огонь…

    Молодилась в поле
    Сочная трава.
    Жить мечтала вольно…
    Скошена в корма.

    Лихо песня вырвалась,
    Верила — права!
    Только не откликнулась
    Стёртая струна.

    Прикрывалась тайна,
    Гордостью таясь…
    Выдали нечаянно —
    Получилась грязь…
  {% endfilter %}
{% endblock %}
