{% extends template %}

{% set title = "«Не жди, милый мой, я не знаю…»" %}
{% set pubdate = "01.12.2011" %}

{% block content %}
  {% filter poem %}
    Не жди, милый мой, я не знаю…
    Где найду тебя и потеряю.
    Лепестки на себе обрываю
    И Снегурочкой трепетной таю…

    Не пой, милый мой, я рыдаю…
    В звуки чистые не попадаю…
    Я фальшивлю, сиплю и… теряю…
    Презираю себя… пропадаю…

    Не верь, милый мой, не случится…
    Хоть рванулась к тебе… голубицей,
    Да не птица я, вовсе — не птица!
    Не стреляйте меня — не годится…

    Не плачь, милый мой, я стараюсь…
    Я в полнеба зарёй простираюсь,
    Хоть осеннему ветру не нравлюсь…
    Я спешу, я пишу… я — поправлюсь…
  {% endfilter %}
{% endblock %}
