{% extends template %}

{% set title = "Я раскололась…" %}
{% set pubdate = "01.12.2011" %}

{% block content %}
  {% filter poem %}
    Я раскололась… нас двое…
    Первая — в розовом платье,
    Готовится, видно, к бою,
    Браслеты блестят на запястьях…

    Вторая — несчастье ходячее,
    Помойница-побирушка,
    Слепая, худая, бродячая,
    В насмешках чужих — игрушка.

    Я раскололась. Нас трое.
    Как эта жизнь переменчива!
    Две робко сидят на диванчике,
    А третья — в костюме невенчанном…

    Готовит им горькое варево,
    Клянёт их былые судьбинушки.
    По одури, как под заревом,
    Склоняются скорбные спинушки.

    Я — раскололась. Нас четверо!
    Надо всех как-то приветить…
    Много вас так, а некому
    Меня на пороге встретить.

    Первая в танцы бросилась,
    Вторая — всё песни пела,
    Четвертая третью морозила,
    А после — молитвой грела.

    Я — раскололась! Нас пятеро!
    И мир мой застыл в перепутье.
    Шептались о нём вольно-ветренно
    Все пятеро в пьяном распутье.

    Одна — о любви молила,
    Вторая — слала проклятья,
    Третья — соленья солила,
    Четвёртая — бредила счастьем.

    Пятая — дева мудрая,
    Пыталась сверстать балансы,
    Да вырвали счёты четверо,
    Ансамблем исполнив Стансы.

    Я… раскололась… шестеро…
    Ликуют, что ведьмы в «Фаусте»!
    И мне почему-то весело
    В этом кошмарном хаосе!

    Как первая — я нарядилась,
    Второй — дала толику денег,
    С третьей — я заблудилась,
    С четвертой — нашла свой берег.

    Пятой — сосватала мужа…
    С глазами — александрита…
    Кому только был он нужен?
    Шестую… звала — Маргарита…

    Я — рас-ко-ло-лась! Нас — семеро!
    Оборваны хрупкие нити…
    Пожалуйста!!! Кто-нибудь…
    Осколочки… соберите…
  {% endfilter %}
{% endblock %}
