{% extends template %}

{% set title = "Мрачное" %}
{% set pubdate = "01.12.2011" %}

{% block content %}
  {% filter poem %}
    Красит снег рябины в синий,
    Так, как в жизни — не бывает…
    Злобно впившись в землю, иней
    Молча розы убивает.

    Ветер, мрачный одиночка,
    Прострелил висок до дырки.
    И провисла тихо Строчка
    В виде похоронной бирки.

    Мановением напрасным,
    Ноябрём расправив спину,
    Окропит сухим да красным
    Ту поникшую рябину…

    Листья влёт охапкой трусит,
    Словно мир недоглядели…
    Горе яблоком закусит
    Нашей осени потери…
  {% endfilter %}
{% endblock %}
