{% extends template %}

{% set title = "Причитание" %}
{% set pubdate = "01.12.2011" %}

{% block content %}
  {% filter poem %}
    «Стерпится да слюбится», а правда ли?
    Причитали надо мной да плакали…
    Расплетали песней косу длинную
    Да тянули ниточку былинную.

    Всё учили, как его приветить-то…
    Ни одной слезинки не заметив-то…
    А слезинки ахали да капали,
    Сердце моё бедное царапали,

    Застывало тихо сердце льдинкою,
    Отравляясь песней-нелюдимкою.
    И не пелось после, и не ладилось,
    Не игралось, не велось, не гладилось…
    Не росло, не грело да не лащилось,
    Только всё щемило да таращилось.

    Не мытьём стерпелось… хоть бы катаньем,
    Только… где ж она, любовь проклятая?
    Под каким мосточком, ау! спряталась?
    Не слыхала, видно, как я плакалась…
  {% endfilter %}
{% endblock %}
