{% extends template %}

{% set title = "Некто" %}
{% set pubdate = "01.12.2011" %}

{% block content %}
  {% filter poem %}
    Стоит за стойкой некто,
    И стонет его душа,
    Являя вечности вектор
    Рыльцами карандаша.

    По клеткам тетрадным точки…
    Кровавится винная твердь…
    Рождаются в муках строчки,
    Способные… умереть…

    Три линии… как награда…
    Всем чаяниям… наконец…
    Всё тщетно! И больше не надо
    Срывать терновый венец…

    Получены два вопроса —
    И в звёзды летит ответ…
    Ликуют его матросы,
    За шквалом увидев свет!

    Спасутся огнеземельцы!
    И… горше вином греша…
    Ломается гадкое рыльце…
    Простого карандаша…

    И он уйдёт, поникнув,
    Ссутулив устало тыл…
    И бармен его не окликнет:
    — Тетрадочку позабыл!..

    Над ней пролетят столетия,
    Осенней листвой кружась,
    Пока он, непризнанный гений,
    За воздух идёт держась…

    И связанная с поколениями
    Той нитью, что не порвать,
    Вынырнет из забвения
    Потрёпанная тетрадь!

    Поруганная! Простая…
    С рыльцами карандаша…
    А он уж… давно растаял…
    Но строчки — его душа!
  {% endfilter %}
{% endblock %}
