{% extends template %}

{% set title = "На даче" %}
{% set pubdate = "01.12.2011" %}

{% block content %}
  {% filter poem %}
    Помахала печной трубою
    Дача с колышками у реки.
    Ах! Как водочка да сухое
    Нам развязывают языки…

    Подкатился мангальчик боком,
    Предлагая пивной шашлычок…
    Подари-ка мне тост ненароком,
    Разухабистый мой дурачок!

    Ты ж давно уже не безгрешный,
    Знаешь, правда где, а где ложь.
    Расскажи мне о самом нежном,
    Что в душе своей бережёшь…

    — Ну даёшь ты, мать, как итожишь,
    Мне язык твой, что острый нож,
    Ты ж меня им зарезать можешь…
    Вот так, вынь тебе всё — да положь?

    Ладно… помню я, прошлым годом
    Мне с тобой уже было не в мочь,
    Я решился простым уходом
    Развести нашу мятую ночь…

    Набросал чемодан безликий…
    И… увидел твои глаза,
    Что вцепились, как повилики,
    В мои тонущие небеса…

    Понял я: а ведь всё ж в порядке,
    Что не гонишь ты, а переждёшь.
    И завьются на вскопанных грядках
    Кабачок, боб, фасоль да рожь!

    Будет печка дымком клубиться,
    Зазывая теплом на ночлег.
    И колодезная водица
    Городской наш остудит бег…

    — Ох! Неловкий мой… некрасивый…
    Не Ален, не Делон… но Муж!
    Больше гордости нет спесивой:
    Как дурёшка, к тебе прижмусь…

    Дай, прижгу тебе йодом пальчик
    Да подую твою беду…
    Что сказал? — Мой ты летний зайчик,
    Я иду… я уже иду…
  {% endfilter %}
{% endblock %}
