{% extends template %}

{% set title = "Путь" %}
{% set pubdate = "10.08.2013" %}

{% block content %}
  {% filter poem %}
    Я вечером зажгу свечу в тиши ночной
    И, отгоняя прочь все страхи и сомненья,
    Скажу себе, что день не зря был прожит мной,
    И отпущу его уже без сожаленья.

    Что было, то прошло, а завтра снова в бой,
    Нам опыт — друг в пути, помощник всех идущих,
    И новый день зовёт не знающих покой
    К познанью новых тайн, ведомых и ведущих.

    Так что ж, друзья, — вперёд, пока открыт простор,
    Захватывает дух и трепетно немного,
    Начнём писать судьбы невидимый узор,
    Возьмём с собой лишь то, что нам дано от Бога.
  {% endfilter %}
{% endblock %}
