{% extends template %}

{% set title = "Весеннее настроение" %}
{% set pubdate = "24.09.2011" %}

{% block content %}
  {% filter poem %}
    Весеннее тёплое солнце рассыпало яркий свет,
    По улицам ходит кошка и смотрит прохожим вслед.
    А свежие юные листья всё шепчут о чём-то своём,
    Их тайны услышать можно лишь этим волшебным днём.

    Задумчиво ветер колышет деревьев зелёный наряд,
    Он вам об этом не скажет, он лучикам солнца рад.
    И хочется мне смеяться, пройти по траве босиком…
    Я стала вдруг сумасшедшей этим солнечным днём.
  {% endfilter %}
{% endblock %}
