{% extends template %}

{% set title = "Падший ангел" %}
{% set pubdate = "24.09.2011" %}

{% block content %}
  {% filter poem %}
    Ты мой бескрылый ангел,
    Падшего рая изгнанник,
    Вестник небес забытых,
    Просто усталый странник.

    Тихим, печальным звоном
    Травы шептать заставил.
    Если б желал короны —
    Миром давно бы правил.

    Лёгким весенним ветром
    Ты пробежал по крышам.
    Ты распевал песни света,
    Те, что никто не слышал.

    Падший усталый ангел,
    Мира былого изгнанник,
    Ветра седого вестник,
    Моего сердца странник…

    Ты уходил неслышно,
    Не закрывая двери.
    Может, унёсся в небо,
    Но кто тебе поверит?
  {% endfilter %}
{% endblock %}
