{% extends template %}

{% set title = "Незваная гостья" %}
{% set pubdate = "25.09.2011" %}

{% block content %}
  {% filter epigraph %}
    {% filter poem("quote") %}
      …Только Смерти я дал бы семнадцать неполных лет.
      Нам бы встретиться с ней за десяток столетий до Тьмы.
      Я бы вывел себе на запястье багровый след,
      Я носил бы её на руках, но промолвил лишь: «Мы

      Между Миром и Светом, что греет чужой пожар.
      Жаль, что мы не сгорели как птицы секунду назад».
      Смерть ответила мне: «Ты же знаешь, мне тоже жаль».
      Сожалея, она забрала меня в собственный Ад.

      [Саша Бес(t)]
    {% endfilter %}
  {% endfilter %}

  {% filter prose %}
    Медленно и лениво волны накатывают на берег. В небе слышны крикливые голоса чаек, рассекающих крыльями воздух. А по песку уже ползут длинные тёмные тени от лежащих у самой кромки воды валунов. Море отражает алый диск сонного солнца, а по небу неспешно плывут диковинные фиолетовые облака. Закат. Он опять незаметно раскрасил небо. А мы ничего и не заметили… Если бы кто-нибудь знал, какие истории может рассказать нам этот беспечный ветер, какие тайны хранят упорные волны…
    Это было давно. Так давно, что, кажется, само время тогда только появилось на свет. Это произошло, когда стихии ещё не перестали говорить с людьми, а люди умели их слышать. В те времена жил на свете юноша. И был он так удачлив, словно само небо преподнесло ему все свои дары. Он был богат, умён, красив. Но удача — не счастье. Каждый день юноша рисовал картины, сотканные из света. Во всяком случае, так казалось людям. Но и его талант не приносил ему радости. И однажды юноша захотел нарисовать небо таким, какими он его видит — непостоянным и меняющимся. Но разве может полотно запечатлеть волнение живой стихии? Разве может человек создать свою собственную частицу мира? Никогда ещё и никому этого не удавалось, но юноша не сдавался. Каждый день он рисовал картины, прекрасные, как сама жизнь, и всё же ему никак не удавалось создать то, к чему он так долго стремился.
    Но так чиста и сильна была его мечта, что ей было позволено сбыться. Всю ночь юноша рисовал, а когда под утро он задремал — картина была готова. Открыв же глаза, он увидел перед собой прекрасную незнакомку. Она любовалась картиной и немного улыбалась. Никогда ещё юноша не видел такого лица! Заметив, что он проснулся, девушка вздрогнула и попыталась уйти. Но юноша удержал её руку и попросил:
    — Не уходи. Слышишь! Не уходи! Пожалуйста… я так долго тебя ждал. Как майского ливня, как первых весенних цветов. — Девушка опустила голову, а он всё шептал: — Почему ты забираешь руку, почему не даёшь обнять себя? Разве я противен тебе? Хотя… ты столь прекрасна! Может, ты муза или ангел? Ты слишком красива для того, чтобы быть человеком! Постой, не уходи! Дай мне хоть полюбоваться тобой… Не покидай меня, я не смогу жить без тебя!
    — Я ещё вернусь, — только и проговорила грустно в ответ ему Смерть.
  {% endfilter %}
{% endblock %}
