{% extends template %}

{% set title = "Старые сказки на новый лад" %}
{% set pubdate = "25.09.2011" %}
{% set next = "kate_nest/blood-1" %}

{% block content %}
  {% filter epigraph %}
    {% filter poem("quote") %}
      А сценарий забыт или просто… неправильно сыгран.
      Что за сказка, в которой неправильно сыграны чувства?

      [Саша Бес(t)]
    {% endfilter %}
  {% endfilter %}

  {% filter prose %}
    Давным-давно жил на свете человек. И был он необыкновенно богат. Так богат, что мог устелить золотыми монетами морской берег или построить дворец из драгоценных камней. И этот человек думал, что он счастливее всех смертных. Но всё же он ошибался…
    Однажды, когда человек объезжал свои владения, он встретил девушку. Та смеялась и пела, и её голос звенел подобно чистому ручью, и казалось, что лёгкий весенний ветер переплетался в этой песне с золотым лучом. Человек застыл: он в жизни не видел подобного чуда.
    — Кто ты? — спросил он девушку. Но та лишь звонко рассмеялась.
    — Зачем тебе моё имя, богач? В нём не слышен звон монет, в нём нет блеска сапфира. Оно тебе не нужно!
    — Взгляни на меня, прошу. Не уходи. Останься. Проси любой подарок, всё, что пожелаешь, отдам тебе.
    — Неужели всё можно купить?
    — Да.
    — Так уж и всё? Не думаю… Но если ты так говоришь… Видишь тот покосившийся домишко? Там живёт девочка, которая никогда не сможет станцевать под мою песню. Никогда не сможет сама выйти на солнечный свет. Она больна, и ни один лекарь не смог её исцелить. Но ты говоришь, что я могу попросить любой подарок. Так подари ей надежду!
    — Нет, не могу… Проси что-нибудь другое.
    — Хорошо. Вечером, когда погаснет последний луч зари, на небе зажгутся звёзды. И я хочу, чтобы ты подарил мне одну из них. Подаришь?
    — И этого я не смогу сделать. Прости…
    — Тогда последняя моя просьба. Слышишь, деревья шелестят листьями? Заставь их заговорить.
    — И это желание не смогу я исполнить, — опечалился богач.
    — Что ж, видишь, не всё можно купить. А теперь иди за мной…
    И она направилась к домику девочки. Ветхие стены домика были увешаны яркими картинами. А у кровати больной лежали краски.
    — Здравствуй, Ассоль, — тихо шепнула гостья. — Я давно не приходила к тебе, но у меня есть подарок, — и она достала из небольшой плетёной корзинки книгу. — Видишь, я помню свои обещания. А ты обязательно нарисуй море, когда прочтёшь её. Знаю, ты увидишь его однажды!
    — Конечно, увижу! — воскликнула маленькая Ассоль и звонко рассмеялась. — Посмотри на эти картинки. Они забирают мою болезнь. Скоро я смогу ходить. И тогда я обойду весь мир…
    Когда девушка и богач вышли из дома, та сказала ему:
    — Видишь, надежду нельзя купить, но можно подарить! А теперь пойдём со мной, нам придётся немного подождать.
    И они ждали… Ждали, пока зайдёт солнце и на небе появятся звёзды. Когда наступила ночь, девушка склонилась над травами, а когда она выпрямилась, на её руке сверкали тёплые огни светлячков.
    — Взгляни, — сказала она — чтобы достать звезду, не нужно стремиться к небесам, достаточно поклониться земле. А теперь я преподам тебе последний урок. Разведи костёр у края поляны. И ты ещё кое-что узнаешь.
    Когда хворост в костре затрещал и полетели искры, девушка взглянула на могучие ветви старого дуба, прикрыла глаза. Она рассказывала волшебные сказки, пела песни лесных фей, и говорила о давно минувшем. Потом небо окрасилось заревом рассвета, она взглянула на человека и сказала:
    — Не всегда и не всех можно разговорить, но если вслушаться в окружающий мир, то оказывается, что сердце и без слов его понимает.
    С тех пор прошло много лет. Но люди говорят, что богач так и не вернулся в свой замок после того дня. Он путешествует по свету и учится видеть то, чего раньше не замечал. И рядом с ним всегда идёт девушка и поёт песни голосом, в котором сплелись воедино золотой луч и весенний ветер.
  {% endfilter %}
{% endblock %}
