{% extends template %}

{% set title = "«В ночь лунного свеченья…»" %}
{% set pubdate = "17.04.2002" %}
{% set workplace = "Санкт-Петербург" %}

{% block content %}
  {% filter poem %}
    В ночь лунного свеченья
    Смотрел на звёзды из окна.
    И нежных губ прикосновенья
    Мог вспоминать я до утра…

    Ты показалась на мгновенье
    Мне фруктом дивным — сочным, спелым!
    Любви и счастья воцаренье,
    В мой мир ты пала снегом белым.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2001-12">Декабрь 2001, {{ workplace }}</time>
{% endblock %}
