{% extends template %}

{% set parentTitle = "До того, как прольётся кровь" %}
{% set title = "Глава XI" %}
{% set pubdate = "06.08.2012" %}

{% block content %}
  {% filter prose %}
    — Эмили, я организую завтра вечеринку у себя дома, ты придёшь?
    Парень загадочно улыбнулся. Билл Уинслет всегда устраивал хорошие вечеринки, на которые всегда приходило много народа.
    — И во сколько?
    — В одиннадцать.
    — А Йен придёт? — поинтересовалась Эмили.
    Билл потёр рассечённую бровь. Он недобро ухмыльнулся.
    — Я не знаю. Пусть приходит, если хочет. Кстати, дресс-код особенный. Маскарадные маски. Это должно быть круто.
    — Пришли мне адрес, — сказала Эмили, при этом кокетливо улыбнувшись.
    Парень улыбнулся в ответ.
    — Тогда увидимся.
    Парень зашагал по коридору.
  {% endfilter %}

  {% filter prose %}
    — Что ты думаешь насчёт этой?
    Мелисса держала в руках золотистую маску, обильно расшитую блёстками.
    — Хороший выбор, Мелисса. Но нужно купить под него золотистое платье.
    Эмили улыбнулась сестре.
    — А в чём пойдёшь ты? — поинтересовалась Мелисса.
    — Я ещё не выбрала, — ответила Эмили, перебирая маски, — но я думаю, что скоро найду то, что искала.
    Эмили перебирала маски. Но, к её сожалению, она ничего не могла найти.
    — Я что-нибудь придумаю, — ответила Эмили, — а пока пойдём выберем тебе платье.
  {% endfilter %}

  {% filter prose %}
    — Эмили, кто-то звонит в дверь. Открой, пожалуйста.
    Эмили встала с кровати и направилась в сторону двери. Кого принесло в это время? Девушке так не хотелось вставать с кровати, она была поглощена мыслями о том, где взять платье и маску для предстоящей вечеринки.
    Девушка открыла дверь. На пороге стоял молодой парень. Курьер.
    — Вам посылка.
    Девушка увидела, что парень держал в руках большую коробку, обёрнутую подарочной бумагой и перевязанную бантиком.
    — От кого эта посылка? — поинтересовалась Эмили.
    — Это секрет, — загадочно улыбнувшись, сказал парень.
    Эмили поблагодарила курьера и отнесла посылку в комнату. Она села на кровать. Любопытство переполняло её. Эмили развязала бантик и открыла коробку. Внутри лежало красивое чёрное платье, приталенное на поясе. Эмили натянула платье. Оно было коротким и открывало её красивые ноги. Эмили снова подошла к коробке. К платью прилагалась маска. Она была тоже чёрной, под цвет платья, оклеенная чёрными пушистыми перьями. Эмили одела маску и заметила, что она очень выгодно подчёркивает её ясные голубые глаза. Маска чуть прикрывала её прямой нос, но полностью оставляла открытыми пухлые губы. Эмили, довольная собой, улыбнулась.
    Она покружилась перед зеркалом и подбежала к коробке, чтобы выяснить, кого следует поблагодарить за такой щедрый подарок. В коробке лежал только небольшой букет жёлтых цветов. Эмили внимательно осмотрела цветы. Ни записки, ни тайного послания — ничего. «Ну и ладно», — подумала Эмили. Она услышала звонок в дверь. Девушка открыла дверь. На пороге стоял Билл, одетый в строгий костюм. Его лицо скрывала маска.
    — Ты готова идти? — с улыбкой спросил Билл и галантно протянул ей руку.
    — Да, — сказала Эмили, опершись на его руку и аккуратно спустившись со ступенек на высоких шпильках.
    — Аккуратней, — с улыбкой ответил парень.
  {% endfilter %}

  {% filter prose %}
    — Как красиво!
    Эмили с восхищением рассматривала большой особняк, в котором уже собралось много народу. Эмили слышала, как они плескались в бассейне на заднем дворе. «Должно быть весело, — подумала она, — но в бассейн я не залезу». Билл проводил ее. Эмили зашла в дом и не узнала никого. Все были в масках. Только когда она начала вглядываться в толпу, она заметила пару знакомых. Она увидела девушку с густыми чёрными волосами, спадающими ей на бедра. «Мелисса», — подумала Эмили и направилась к сестре.
    — Мелисса, — позвала Эмили.
    Девушка обернулась.
    — Эмили, ты всё-таки нашла платье.
    Мелисса с восхищением оглядела сестру.
    — Ты так красиво выглядишь! Откуда оно? — Мелисса была явно удивлена.
    — Кто-то прислал, — с улыбкой ответила Эмили.
    К Мелиссе подошёл парень. Его лицо скрывала маска, но Эмили увидела, что лицо парня было рассечено.
    — Привет, Эми, — тихим голосом сказал парень, — это я. Марвелл.
    — Я узнала, — Эмили улыбнулась, — что ж, веселитесь. Я найду Билла.
    Эмили выискивала в толпе своего кавалера. Она не нашла его на первом этаже.
    — Вы не видели Билла? — встревоженно спрашивала Эмили, но люди отрицательно кивали головой.
    Эмили поднялась по лестнице на второй этаж. Она обошла все доступные комнаты, но так и не нашла парня. Она остановилась около одной из дверей и дёрнула за ручку. Дверь оказалась незапертой. Эмили понимала, что это неприлично, но всё же зашла. Что-то тянуло её в эту комнату. Она огляделась. Девушка оказалась в просторной гостинице, оклеенной дорогими обоями. Окна были завешаны массивными шторами, одна из которых слегка колыхнулась от ветра. Ветер дул с балкона. Эмили слегка отодвинула штору и увидела стоящую на балконе фигуру.
    — Билл? — позвала Эмили.
    Парень стоял неподвижно. Он никак не реагировал на неё. Эмили вышла на балкон.
    — Билл.
    Эмили коснулась плеча парня. Он повернулся.
    — Нет, не Билл, — ответил он, демонстрируя девушке свою кошачью улыбку. Его зелёные глаза, слегка прикрытые маской, сверкнули в темноте.
    — Йен, — чуть слышно прошептала Эмили, — ты не видел Билла?
    — А это так важно?
    — Что ж. Мне надо его найти.
    Эмили развернулась и попыталась поскорее удалиться с балкона. Она остановилась, услышав звон ключа в замочной скважине. Йен вытащил ключи и демонстративно помахал ими перед Эмили.
    — Нам пора поговорить, Эмили, — серьёзно ответил Йен.
    — Хорошо. Давай поговорим, — ответила Эмили.
    Страх сковал её тело, когда парень приблизился к ней. Эмили хотела казаться равнодушной, но её беспокойно поднимающаяся грудь и частое дыхание выдавали волнение. А как же тут не волноваться? Не думаю, что многие могли бы спокойно реагировать на сильного обиженного вампира, который запер тебя на балконе и, хотя питает к тебе нежные чувства, не прочь был бы разорвать тебе горло. Йен оглядел её с ног до головы.
    — Ты совершенна, моя дорогая.
    Эмили не двигалась. Её словно парализовало. Йен спокойно, медленным шагом подошёл к балкону и взял цветы, лежащие на бетонной плите. Эмили только что их увидела. Такие же цветы были в подарочной упаковке. Он подошёл к Эмили. Её охватил страх. От волнения она не могла произнести ни слова. Йен нежно взял её за руки, разжал их и вручил ей букет.
    — Ты знаешь, что жёлтые цветы — к измене? Ты просила время подумать, но что-то ты не выглядишь такой уж одинокой.
    Эмили молча убрала руки от букета. Йен схватил её за локти и прижал к себе. Эмили задрожала от страха. Её охватила лихорадка, как только она почувствовала напряжённое крепкое тело Йена. Каждый мускул его тела дрожал. Парень нежно погладил её по волосам. Его голос задрожал.
    — Что же ты делаешь, Эмили? За что?
    Эмили задрожала сильнее. Она совершенно не понимала, что происходит. Она будто вошла в транс. Йен тряхнул её за плечи. Он закричал на неё:
    — Эмили, посмотри на меня! За что ты так со мной? Прекрати этот детский сад. Хватит! Вернись ко мне! Перерыв окончен! И я вообще-то не разрешал тебе гулять с другими парнями!
    Перепуганная Эмили стояла неподвижно. Она никогда не слышала, как Йен кричал. Это было ужасно. Столько боли было в его голосе, что, кажется, она передалась и всему вокруг, подул прохладный ветер. Маска спокойствия и равнодушия появилась на его лице. Он плотно сжал губы. Парень посмотрел в глаза своей любимой, их слегка прикрывала маска, которую он старательно выбирал. Он знал, что собирается спросить, но боялся услышать ответ.
    — Неужели ты никогда не любила меня?
    Эмили увидела, как по его щеке течёт капля. Слеза? Нет, всего лишь дождь. Йен поднял голову к небу: заморосил дождь. Эмили смотрела на его идеальные черты лица. «Зачем это нужно было?» — подумала она. Девушка обняла Йена и нежно поцеловала его в шею. Она разрыдалась.
    — Я люблю тебя, Йен.
    Он прижал её к себе. Немного насладившись этим моментом, он отстранил её.
    — Тогда зачем всё это нужно было?
    «Действительно, зачем? — подумала Эмили. — Наверное, просто захотелось побыть подальше от вампиров». Но вслух произнесла лишь тихое и нелепое «прости».
    Йен прикоснулся к маске, слегка скрывающей взгляд Эмили. Он снял её.
    — Не надо носить при мне маски. Будь собой.
    Он улыбнулся. Эмили не могла не признать, что жутко соскучилась по этой счастливой улыбке. Он сорвал свою маску. Дождь капал и стекал ручьями с лица Йена. Его волосы стали влажными. Это очень понравилось Эмили. Парень заботливо смахнул воду с её лица.
    — Я так скучал по тебе, — тихо произнёс он, нежно поглаживая её щёки подушечками пальцев.
    Он наклонился, чтобы поцеловать её. Эмили закрыла глаза в ожидании. Она обвила руками шею парня. Эмили почувствовала его горячее дыхание, приближающееся к её губам.
    Неожиданно раздался стук. Поцелуй прервался, так и не начавшись. Йен выругался.
    — Откройте дверь! Кто давал вам право? Это мой дом!
    Йен открыл дверь. Разъярённый Билл вбежал на балкон.
    — Что за фигня, Йен?
    — Мы уходим, — спокойно ответил парень.
    — Вот уж нет! — прокричал Билл, выхватив деревянный карандаш.
    Йен почувствовал острую боль в боку, которая разошлась к мышцам пресса. Парень упал на колени. Билл выхватил острый нож и направился в сторону Эмили.
    — Я тебя убью, паскудная тварь!
    Билл бросился на неё. Он занёс нож. Раздался хруст. Эмили открыла глаза и увидела, что Билл отброшен на другой конец балкона. Он держался за руку. Похоже, Йен сломал её.
    — Зачем ты бросился на Эмили?
    Билл сжал губы. Йен схватил его за ногу. Снова хруст. Билл пронзительно закричал.
    — Ах ты ублюдок!
    Йен с размаху дал Биллу «леща».
    — Мне снова повторить вопрос?
    Билл дьявольски засмеялся. Йен пнул его ногой. Из груди Билла вырвался пронзительный стон.
    — Скажи мне, Билл.
    — Я не могу, — равнодушно ответил парень.
    Йен схватил его за воротник и посмотрел ему в глаза. Йен откинул парня назад.
    — Он под внушением.
    — Что? — Эмили не была удивлена, всё-таки она живёт в мире, полном вампиров.
    Йен подошёл к ней и схватил за руку.
    — Уходим отсюда. Мы едем ко мне.
    Эмили оглянулась. Билл лежал на балконе, схватившись за сломанные части тела. Дождь лил, как из ведра. Одно радовало — Йен снова рядом. И больше она не совершит глупостей.
  {% endfilter %}

  {% filter prose %}
    — Эмили, куда ты? — прокричала Мелисса. Её голос заглох в толпе. Эмили не услышала. Йен тащил её за собой, продираясь сквозь толпы людей.
    — Эмили, не отставай. Нам надо домой.
    Они выбежали из дома Билла.
    — Садись в машину.
    Эмили села, не произнеся ни слова, и пристегнулась. Машина тронулась.
    — Что это было, Йен?
    — Он был под внушением. Неизвестно, сколько ещё там было таких. Эмили, наверняка это — охотник. А получается, что охотник — вампир или же работает с вампирами. Что не делает ситуацию более простой. Я должен найти его и убить, пока он не нашёл меня. Я достаточно молодой вампир. И ещё кое-что… я не хочу впутывать тебя в это. Я не могу рисковать тобой.
    Эмили промолчала. Ей нечего было сказать в ответ. И её по-прежнему терзало чувство вины за то, что так издевалась над Йеном. Он видел её с другими. Очень злился ведь.
    Они доехали до дома. Йен открыл дверь и помог девушке выйти из машины. Они зашли в дом.
    — Пойдём ко мне в комнату.
    Йен схватил девушку за руку, и она покорно пошла за ним на второй этаж. Йен открыл дверь в комнату. В одно мгновение Эмили почувствовала, что сильные руки крепко прижимают её к стене.
    — Йен…
    Её тихий голос погас под его крепким страстным поцелуем. Когда Йен оторвался от её губ, Эмили расплылась в улыбке. Она схватила парня за шею и притянула к себе. Йен порвал её платье.
    — Эй, — возмутилась Эмили, — ты чего?
    — Я его купил, я его и испорчу.
    Он подхватил Эмили на руки и отнёс к кровати. Эмили схватила его за футболку и сделала то же самое, что и он сделал с её платьем. Порвала.
    — Ах так! — возмутился Йен, — держись.
    Он скинул остатки футболки и откинул Эмили на кровать. Он навалился на неё всем телом. Эмили почувствовала его тяжесть. Она упёрлась руками ему в плечи.
    — Йен, осторожней.
    Йен тяжело вздохнул.
    — Эх. Мне бы разгрызть тебе горло за то, что так мучила меня, — Йен схватил её за скулы и резко прижал её лицо к кровати, обнажив нежную шею. Эмили запаниковала. — Но я не буду, — с улыбкой ответил парень, приложившись губами к её шее.
    Эмили облегчённо вздохнула.
    — Йен, прости меня, — промурлыкала Эмили, нежно поглаживая накаченный торс парня.
    Он схватил её руки и крепко прижал к кровати.
    — Тебе повезло, я ведь люблю тебя, — нежно прошептал парень и поцеловал Эмили.
    Она прижалась к парню.
    — Всё ведь теперь в порядке?
    — Да, — спокойно ответил парень.
  {% endfilter %}
{% endblock %}
