{% extends template %}

{% set parentTitle = "Такая коварная женская дружба" %}
{% set title = "10. Секрет" %}
{% set pubdate = "15.01.2012" %}

{% block content %}
  {% filter prose %}
    — Эх ты, косорукая! — запричитала Аня. — Уже кружку удержать не можешь!
    — Господи! Господи! Господи!!!
    — Марин, ты чего? Из-за кружки так убиваешься, что ли? — спросила я.
    Подруга проигнорировала мой вопрос.
    — Марин, тебе плохо?
    — Да! Мне очень плохо!!! Господи!
    — Я вызову врача, — подала голос Аня.
    Марина резко перестала взывать к Богу, уставилась на блондинку и произнесла:
    — Сделай ветер!
    — Что? — опешила девица.
    — Дуй отсюда! Достала уже!
    — Ну знаешь! Я хотела помочь! — подпрыгнула Аня. — Извини, Мариночка, что я тебе мешаю, живя на этой планете! Я, наверное, случайно выпала из катафалка!
    Выкрикнув это, девица умчалась, обдав нас терпким ароматом своих духов.
    — Вот идиотка! Носит же таких Земля!
    — Зачем ты её прогнала? Она же не сделала ничего плохого!
    — Ахахах, — засмеялась Марина. — Ничего плохого? Да ну? Посмотрю, как ты заговоришь, когда узнаешь причину моей грубости с этой особой! Поднимайся и иди за мной!
    Я не стала вдаваться в подробности и требовать объяснений от подруги, а просто поцокала за ней.
    Мы сели в машину и сломя голову, нарушая всевозможные правила дорожного движения, пронеслись по Минску, оставив за собой многочисленные улицы и кварталы.
    Через двадцать минут Марина остановила машину около ресторана «Подсолнух».
    — И зачем мы приволоклись сюда? Тут пища вкуснее, что ли? Марина, ты меня слышишь?
    Кривонос была явно вне своего тела. Её разум парил далеко над облаками.
    — Марина, ау?!
    Подруга отмахнулась от меня, как от надоевшей мухи, и продолжила рыться в своей сумочке.
    — Да где же он? А?
    — Кто? — спросила я. — Вчерашний день пытаешься найти?
    — Телефон, — сквозь зубы ответила Марина. — Должен ведь здесь лежать! Мне срочно нужно позвонить!
    — Возьми мой, — протянула я мобильник.
    — О, спасибо большое! Выручила!
    — Всегда рада помочь!
    — Так! Красные шпильки, — пальцы Марины забегали по кнопкам телефона. — «Подсолнух»! Сейчас!!!
    Я ничего не поняла из сказанного и решилась задать мучающий меня вопрос:
    — Что происходит? Может, ты всё-таки объяснишь мне?
    — Узнаешь, как только все соберутся! Боже, это дурдом! Как он мог?
    — Кто? — спросила я, чувствуя, как голова начинает идти по кругу. — Я тебя не понимаю! При чём здесь красные шпильки?
    — Ой, ты же не в курсе. Что ж, попытаюсь тебе всё доходчиво объяснить. Когда с кем-нибудь из нас случается какая-то ужасная история или мы нуждаемся в помощи, мы посылаем друг другу сообщение, в котором пишем адрес, куда нужно явится, указываем время и делаем пометку «красные шпильки». Это фраза — наш секретный код!
    К нашему столику подошла официантка. Мы заказали по чашке капучино.
    — Учитывая, что сегодня состоится собрание в связи с «красными шпильками», я могу предположить, что случилось что-то из ряда вон выходящее…
    Марина кивнула.
    — Но кто замешан? Из-за кого весь сыр-бор?
    Кривонос не ответила. В «Подсолнух» заскочила, благоухая дорогим парфюмом, Стася Пупсикова.
    Ага, значит, это не она замешана в каком-то ужасном событии. Но кто тогда? Анфиса или Ярослава? Чаша весов склонялась в сторону госпожи Фрунзы. Отчего-то я была уверена, что именно она была причиной всеобщего сумасшествия.
    Но я ошиблась. Через десять минут после прихода Стаси в ресторан залетела Анфиса. Она, поправив волосы, села за наш столик и постаралась отдышаться.
    — А где Брикина? — спросила Стася. — Ещё не пришла?
    — Нет, — ответила Марина. — Я ей не отсылала сообщение.
    — Почему? — удивилась Анфиса.
    — В связи с тем, что… Господи, я даже не знаю, как сказать!
    — Ну постарайся как-нибудь! Не молчи! Говори быстрее, а то я с работы убежала буквально на полчаса.
    Кривонос зло глянула на Фрунзу, и та мгновенно замолчала. После Марина вздохнула, глотнула остывший кофе, снова вздохнула и прошептала:
    — Вениамин изменяет Яре!
    — Что?
    — Иди ты!
    — Шутишь?
    Все буквально сели на иголки. Такого поворота не ожидал никто.
    — Скажи, что ты пошутила! — приказала Стася. — Живо!
    — Это чистая правда!
    — Откуда такая уверенность? Свечу держала?
    — Нет. Догадалась, пообщавшись с его любовницей! Просто, как дважды два!
    — С кем?! С любовницей?!!
    — Её зовут Анна Минская! Я работаю с ней в «Раскрутке»!
    Я поперхнулась. Любовница Вени — это дочка Леди Дюшес?
    — Как ты узнала? — спросила Мартышка.
    — Хм, элементарно. Карина, вспомни и расскажи всем, сидящим за этим столом, что поведала нам милая блондинка во время обеда?!
    Все уставились на меня.
    — Эээ… Она рассказала о свидании с женатым мужчиной по кличке Архангел.
    — Ахххх…
    Неожиданный крик сорвался с губ всех моих подруг одновременно. Я прямо опешила от такой реакции девушек.
    — Что с вами?
    — Архангел — студенческая кличка Вениамина. Он раньше был религиозными фанатиком и часто пугал однокурсников ужасными пытками в аду, если они не покаются. Однажды он даже нарядился в белое одеяние, заходил ночью в комнаты и призывал испуганных полусонных студентов к раскаянию! После этого ночного происшествия администрация университета взялась за верующего студента и в считанные дни усмирила его религиозный пыл.
    — Но по сей день в его универе ходят истории о местном Архангеле! — усмехнулась Стася.
    — Девочки, простите, конечно, но я знаю ещё одного парня с точно такой же кличкой! Обычное прозвище ещё ничего не доказывает!
    — Я полностью с тобой согласна, Анфиса, но позволь, Карина расскажет всё до конца!
    Все снова с недюжинным интересом уставились на меня.
    — Я, кажись, всё уже изложила…
    — Нет! А как же родимое пятно в виде бабочки на ягодице парня?
    — Что?!!
    — Ах да, запамятовала, — произнесла я, но моя фраза утонула в возгласах девушек.
    — Это точно он!
    — Урод! Как он мог?
    — А Яра в курсе?
    — Нет, Ярослава ничего пока не знает. Именно поэтому я вас всех и собрала! Девочки, нужно решить: сообщать ли об адюльтере Яре или нет? — произнесла Марина.
    — Нет! — рявкнула Анфиса. — У нас недостачно доказательств.
    — Очень смешно! Мартышка, ты чем слушала? У любовника Ани родимое пятно и кличка, как у Вени!
    — И что? Возможно, это просто совпадение?! Ты так не считаешь?
    — Нет!
    — Обоснуй!
    — Легко. Родимое пятно в виде бабочки — редкость. Причём большая! Это не тату, которое можно сделать в любом салоне, специализирующемся на рисунках на теле! Не будет забывать о прозвище! Вдобавок, любовник Ани — женатый человек!
    — А вдруг она солгала? Возможно, эта Анечка всё придумала?
    — Зачем? — удивилась Кривонос.
    — Не знаю… Чтобы казаться крутой!
    — Ничего глупее не слышала! Чушь! Кто ещё считает, что Веня не виноват?
    Все промолчали.
    — Отлично. Теперь, когда все убедились в измене Вени, приступим к главному. Нужно ли сообщать плохую весть Яре? — спросила Марина.
    — Нет, — всё стояла на своём Марина. — Это разрушит их брак!
    — Пссс, а то, что он спит с какой-то вертихвосткой без мозгов, не разрушает их брак? Прямо смешно!
    — Девочки, давайте посмотрим правде в глаза. Я люблю и уважаю Ярославу, но она очень изменилась в последнее время. Исхудала, осунулась, перестала пользоваться косметикой, одевается в тряпьё, как бомжиха! Серость ходячая, а не женщина! Я ни капли не удивлена, что Вениамина потянуло сходить налево! К этому всё и шло! Вы вспомните, какой она раньше была красавицей! За ней парни толпами бегали, серенады пели каждый вечер! А сейчас? Никому она даром не нужна! Раздолбайка в огромных очках! Поэтому пусть она сама разбирается с мужем! Это её дело! Не наше!
    — Яра должна знать! — произнесла Стася. — Мы всё-таки подруги… И мы должны сказать!
    — Я тоже считаю, что Ярослава должна быть в курсе похождений Вадима. Лучше горькая правда, чем сладкая ложь!
    Марина с улыбкой посмотрела на меня. После произнесла:
    — Трое против одного. Будем приоткрывать завесу тайны.
    — Валяйте, но когда наша с Ярой дружба треснет пополам в связи с тем, что вы разболтали секрет Вени, не плачьте горько и не рвите на себе волосы!
    — Спасибо за совет! Учтём! — криво улыбнулась Марина. — Что ж, я звоню Ярославе.
    — Ты хочешь рассказать ей о Вениамине и Ане сейчас? — испуганно спросила Стася.
    — Да. Зачем тянуть?
    — Эээ… а может, раскроем карты чуть позднее? Например, через недельку?
    — Нет! Сейчас или никогда! — произнесла Кривонос и достала телефон из кармана юбки.
    Я невольно улыбнулась. Марина — та ещё растяпа! Час назад она пыталась найти свой мобильник в сумочке, а он лежал в кармане!
    — Алло! Привет, Ярусик. Что делаешь? В магазине сейчас? Понимаю… Шопинг — это всё для женщины. Ага! А то! Слушай, а мы вот собрались в «Подсолнухе». Может, подъедешь? Угу. Славно! Ждём, — отключилась Марина и, посмотрев на нас, произнесла: — Сказала, у неё для нас есть хорошая новость!
    — Отлично! Просто волшебно! — захлопала в ладоши Анфиса. — А мы тоже готовим сюрприз! Хоть и неприятный, но всё равно сюрприз! Кстати, вы в курсе, что раньше послам, приносившим плохие новости, отрубали головы? Эх, жаль, что времена изменились! Вот я сейчас бы повеселилась!
    — Мартышка, сделай одолжение — заткнись!!! — гаркнула Стася. — А лучше уходи отсюда! Ты, кажись, на работу спешила.
    — Да гори она адским огнём! Я тут лучше посижу — на вас полюбуюсь! Пропустить такой концерт? Да ни в жизнь!
    Марина сжала кулаки.
    Больше до прихода Ярославы мы не говорили. Внутри безжалостно скребли кошки. Может, зря мы решились открывать чужой секрет? Может, Анфиса права? Может, лучше сидеть молча? Притвориться, что ничего не знаешь?
    Нет! Брикина наша подруга! Мы должны сказать!
    Ярослава ворвалась в ресторан, светясь счастьем. Одета она была в брючный костюм серого цвета. Я, окинув взглядом подругу и её наряд, живо вспомнила слова Анфисы: «Серость ходячая, а не женщина»! Мне стало больно от того, что Фрунза говорила правду.
    — Привет, подружки! — улыбнулась Яра.
    — Хай, — в унисон ответила наша компания.
    — А почему вы такие грустные?
    — Эээ… Да так, устали просто, — произнесла Марина. — А ты прямо сияешь от счастья! Попала на распродажу?
    — Нет.
    — Отыскала эксклюзивную вещь?
    — Нет, — опять загадочно ответила Ярослава.
    — А что тогда? Давай колись!
    — Девочки! Я… Я беременна!
    Все вытаращили глаза и открыли рты. Казалось, будто под нами только что разошлась земля в разные стороны и мы рухнули в глубокую пропасть.
    Первой отмерла Кривонос.
    — Это просто великолепно! Ребёнок — это чудо! Поздравляю!
    Яра и Марина обнялись.
    Следом за Кривонос и мы поздравили Ярославу и заключили каждая в свои объятия.
    Когда страсти чуточку улеглись, Марина, будто между делом, спросила, растерянно глядя на нас:
    — И что теперь? Что дальше?
    — Буду рожать! — тут же ответила Ярослава, и не подозревая, что вопрос относился не к ней.
    — Молодец! — похвалила Стася. — А Веня уже знает, что скоро станет отцом?
    — Нет. Он в Могилёв уехал на три дня. У него там встреча с компаньонами по бизнесу.
    — Ахахах, вот как это сейчас называется, — хихикнула Анфиса.
    Я удивлённо посмотрела на неё. Чего она добивается? Неужели чужая боль ей принесёт удовольствие?
    — О чём ты? — резко спросила Яра.
    — Как о чём? Про командировку, естественно. А что?
    — Ничего, — подозрительно спокойно ответила Брикина и заказала чёрный кофе со сдобной булочкой. — Ой, девчата, я теперь так много ем! Хоть бы не поправиться!
    — Мы обязаны сказать, — вдруг произнесла Марина. — Мы ведь договорились. Сейчас или никогда! Она должна узнать от нас!
    — О чём это ты? — удивилась Яра.
    — Ярослава, дорогая подружка…
    — Марин, сразу к делу. Не юли! Оставь своё бла-бла-бла для клиентов «Раскрутки»!
    — Мы тут собрались не просто так! Понимаешь… эээ… Мы кое-что узнали… неприятное для тебя… Ты только не волнуйся, так?
    — Да что случилось-то? Говори прямо! — приказала Яра.
    — Эээ… В общем… Тебе измен…
    Я сжалась в комок. Главное, чтобы Брикина спокойно отреагировала на новость. Хотя, что за бред? Редкая женщина удержит себя в руках, узнав об измене супруга. Она будет крушить всё и вся!
    — …ить нужно внешность! — довершила свою фразу Марина и печально вздохнула.
    Анфиса глухо засмеялась, делая вид, что её замучил кашель.
    — Серьёзно? А что во мне не так? — стала рыться в сумочке Ярослава, пытаясь найти пудреницу.
    — Всё хорошо, но очки лучше заменить на линзы! — подключилась к разговору Стася. — Анфиса так уже сделала и не прогадала! Смотрится потрясно!
    — Ладно, — согласилась Яра. — Исправлю на этой неделе. Какие ещё претензии?
    — Твои волосы! Они как мочалка… Извини! — произнесла Марина.
    — Правда? О Боже…
    — Выкрой время и сходи наконец в парикмахерский салон!
    — Теперь обязательно, — улыбнулась Яра. — Ой, чтоб я без вас делала?
    — Ходила бы размытой тенью! — сказала Стася. — Ярослава, запомни раз и навсегда, что красивая девушка — не та, к которой пристают все парни! Красивая девушка — та, при виде которой они все замолкают!
    — Верно! Дельный совет!
    — Кхе-кхе, девочки, извините, что прерываю вашу интересную беседу, — подала голос Анфиса, — но позвольте напомнить, что мы здесь собрались не по этому поводу! Вы будете говорить Ярославе про то или нет? Если «нет», то я, пожалуй, вернусь на рабочее место!
    Вы представить себе не можете, как мне захотелось ударить Анфису! Взять бы сейчас стул — и как шандарахнуть им по её голове! Такое желание, кстати, было и у Стаси с Мариной.
    — Да, мы отвлеклись, — сквозь зубы сказала Марина. — Спасибо, что напомнила, Мартышка. Ты так мила…
    — Ах, ну что ты! Пара пустяков!
    — Девчата, а что происходит? — пыталась разобраться в неловкой для нас ситуации Яра. — Я ещё что-то должна знать? Я внимательно слушаю. Ну?
    Мы замолчали. От неловкости я даже опустила глаза.
    — Хм, а я предлагала, — съязвила Анфиса. — Ну вы же не послушали! Хотели горькой правды? И что в итоге?
    — Ладно! Я скажу!
    Все посмотрели на Стасю.
    — Яра, мы с тобой были не до конца честны! Мы тут кое-что узнали и, думаю, стоит и с тобой поделиться этой вестью.
    — Я вся внимание.
    — Ага, славно, — глупо захихикала Стася. — В общем… Твой Веня… Он… эээ…
    — Что? — изогнула бровь Яра.
    — Мог бы он прийти с тобой в этот четверг в Дом Моды?
    Анфиса загоготала, как сытая гиена в пустыне, и чуть не упала под стол.
    — Конечно, придём. Фу, напугала ты меня, Стася. Я уже подумала, что с моим супругом что-то серьёзное случилось!
    — У Артура презентация новой коллекции. Он будет рад вас видеть. Всех, кстати! Я надеюсь, что вы появитесь!
    Мы дружно закивали головами.
    — Ахахах! Девочки, я сейчас умру. Вы такие смешные. А правда где?
    — Анфиса, замолчи! — рявкнула Стася.
    — Правда? — спросила Ярослава. — Вы мне не всё рассказали?
    — Ооо, далеко не всё!
    Марина вспыхнула огнём и врезала каблуком по ноге Анфисы.
    — Ай, — визгнула та. — Осторожнее!
    — Вот именно! Осторожнее, Мартышка! — прошептала Марина. — А то когда-нибудь и про твой секрет узнают окружающие!
    Повисла тишина…
    Анфиса побелела и затряслась мелкой дрожью.
    — Ты не посмеешь!
    — Да ну? Уверена?
    Снова тишина…
    — Кстати, забыла сказать! — встряла Стася, чтобы остановить нарастающий скандал. — На показе будут знаменитости и… холостые богатые мужчины!
    — Вау! — обрадовалась Марина, забыв о Анфисе. — Может, замуж кто возьмёт! Это нужно отметить!!! Официант, мороженое нам!! Пять порций!
    Атмосфера накала спала сама собой. Уже через десять минут мы, поедая пломбир, напрочь забыли об адюльтере Вениамина. Это нас уже не волновало. Мы решили сохранить измену супруга Яры в тайне, отложив её раскрытие на неопределённое время.
    Единственное, что не давало нам покоя, — это секрет Анфисы! Что же она скрывает?
  {% endfilter %}
{% endblock %}
