{% extends template %}

{% set parentTitle = "Такая коварная женская дружба" %}
{% set title = "16. Любопытство" %}
{% set pubdate = "15.01.2012" %}

{% block content %}
  {% filter prose %}
    Несколько дней я ходила чернее грозовой тучи. Я избегала общения с подругами, ссылаясь на ноябрьскую меланхолию, и не рискнула рассказать им об истинной причине моей депрессии. Лишь Петру я открыла правду. Кочевников молча выслушал меня, вытер слёзы с моих глаз и произнёс:
    — Я помогу тебе.
    — Не нужно, я думаю, всё и так образуется.
    — Карина, нельзя всё пускать на самотёк. Где твоя мудрость, которая раньше пульсировала в тебе бешеным ритмом?
    — Я её обронила возле «Раскрутки». Давай съездим и подберём её?! — пошутила я, но ни один мускул не дрогнул на лице Петра. Таким серьёзным я видела его впервые. Я даже смутилась.
    — Ты высыпаешься? — спросил он.
    — Лучше спроси, сплю ли я. Я на взводе все эти дни… Ожидаю стука в дверь, позднего телефонного звонка или визга тормозов во дворе. Жду, что ещё вот-вот — и брат вернётся, но всё безуспешно. Я устала и еле стою на ногах! Ты не поверишь, но больше всего мне сейчас хочется покоя и тишины.
    — Ясно, — вздохнул Кочевников. — Мои люди будут искать твоего брата…
    — Пётр, это лишнее. Я не хочу нагружать тебя своими проблемами.
    — Карина, не неси чушь. Мы же друзья! И я перед тобой в долгу.
    — Ха, и каком же? — усмехнулась я.
    — Ты помогла мне разобраться в себе, теперь наступил мой черёд помочь обрести тебе умиротворение.
    Я закрыла глаза. Нежный тон голоса Петра убаюкивал.
    — Думаю, хватит на сегодня разговоров. Давай я отвезу тебя домой.
    — Пётр, я вызову такси…
    — Тебя никто не спрашивает, — произнёс Кочевников, и мы покинули ресторан.
    Проснулась я около двенадцати дня. За окном шёл мелкий дождь. Я набросила на голову одеяло и проспала так ещё пару часов.
    Обычно моё утро начинается с чашки зелёного чая и классической музыки, раздающейся из динамиков музыкального центра. Но сегодня я решила всё кардинально изменить, сломать стереотипы, чтобы хоть как-то войти в привычное русло жизни. И поэтому я включила радио, приготовила себе сытный завтрак, съев который, тут же принялась за масштабную уборку. Открыла окна, впуская в квартиру прохладный воздух. Протёрла везде пыль, сложила стопками одежду в шкафу, вычистила до белизны всю керамику.
    Уже вымыв и поставив в сушку посуду, я заметила на кране странное шевеление. Подойдя поближе и рассмотрев внимательнее подозрительный объект, я вскрикнула и отскочила на пару метров от раковины.
    На кране сидел таракан и нагло шевелил своими усами. Меня прямо всю передёрнуло. Признаюсь честно, я бы выдержала все виды пыток и унесла вверенную мне тайну с собой в могилу, но если бы меня пытали насекомыми, я бы выложила противнику все секреты, которые знала, и вдобавок приплела бы своих!
    «У меня на кухне таракан! С этим нужно кончать, пока к рыжему незваному гостю не присоединилось большое семейство!» — прошептала я и, не сводя глаз с таракана, приступила к военным действиям.
    До сих пор не могу понять, почему я не прихлопнула насекомое полотенцем, которое держала в руке, а понеслась в прихожую за молотком? Что мной руководило?
    Отыскав в шкафу молоток, я примчалась на кухню и со всей силы ударила им по крану. В тот же миг он упал в раковину, жалобно дзынкнув, а мне в живот ударила мощная струя воды.
    — О Господи, — вскрикнула я от неожиданности. — Мамочка! Что я наделала!
    Поток воды хлестал во все стороны, словно обезумевший фонтан. Скоро вся кухня уже превратилась в миниатюрный бассейн.
    Я пыталась исправить сложившуюся ситуацию, но безуспешно. Вода прибывала и прибывала. Вдобавок, спустя полчаса ко мне примчалась встревоженная соседка и запричитала:
    — Карина, что у тебя происходит? У меня водопад Ниагара с потолка льётся!
    — Кран сорвало! — ответила я, понимая, что совсем немного — и со мной случится истерический припадок.
    — Сорвало? — спросила соседка, наблюдая, как вода ручейком бежит из кухни в прихожую. — Дурдом! А я предупреждала Людку, что так случится, если она кран не поменяет! Дом же старый! Тут всё на ладан дышит!
    — Нужно что-то делать! — произнесла я.
    Соседка одарила меня строгим взглядом, так и говорившим: «Естественно, не стоять же столбом, как ты!»
    — Нужно сантехника вызвать. Где у тебя телефон?
    — В зале.
    — Карина, не стой на месте! Я тебя умоляю, — произнесла старушка, ковыляя в зал. — Закрой кран какими-нибудь тряпками! Останавливай воду, а то ты угробишь не только свою квартиру, но и мою! Шевелись!
    Я молча повиновалась.
    Сантехник появился в моей квартире минут через двадцать.
    — Хозяйка, — раздался приятный баритон. — Вы где?
    — На кухне, — измученным голосом ответила я, прижимая промокшую кучу тряпок к трубе.
    — Ого! — зашёл в комнату молодой парень. — Цячэ вада в ярок!
    Я скривила гримасу.
    — А где родители твои?
    — В Краснодеревенске, — ответила я. — А вы с ними знакомы?
    — Нет, — ответил парень. — Просто поинтересовался. А что они там делают?
    Я опешила.
    — Вам действительно интересно об этом знать? Или вы просто так спрашиваете, чтобы разговор поддержать?
    — Хм… Интересно, — ответил парень и полез под раковину.
    — Они там живут.
    — А ты почему здесь?
    — Работаю и учусь.
    — Понятно. А как произошла твоя катастрофа?
    Я уставилась на своего спасителя. Милый кареглазый брюнет со стройной фигурой. Кроме того, у парня были очень красивые руки, которые сразу же привлекли моё внимание. Руки аристократа или пианиста.
    — Ку-ку, — щёлкнул пальцами парень перед моим лицом. — Ты где летаешь? Что случилось?
    — А? Ахахах, так это… — задумалась я. Что придумать, чтобы звучало правдоподобнее? Что-нибудь такое, что никак не покажет мою глупость? — Полка упала!
    — Полка? — изумился парень.
    — Ага, — кивнула я и отвела взор, чтобы спрятать предательское покраснение лица.
    — А где она?
    — Выбросила, — продолжила я.
    — Неужели?
    — Ну да.
    — А где она раньше висела?
    — Как где? — спросила я. — Над раковиной, конечно.
    — Хм, но сейчас здесь висит шкаф-сушилка!
    — Да? — спросила я, поняв, что сморозила величайшую глупость. Нужно было сознаться и рассказать парню, как я, ведомая неизвестными идеями своего мозга, треснула по крану молотком, желая расправиться с несчастным тараканом. Да, это бы сказалось на мнении парня обо мне, но тогда мне не пришлось бы сочинять небылицы и громоздить одну ложь на другую.
    — Странно, — вздохнул парень. — Что-то не сходится!
    — О чём ты?
    — Пять минут назад ты утверждала, что здесь висела полка. Но сейчас я наблюдаю шкаф-сушилку, подобранную в тон цветовой гаммы кухни. Выходит, что ты, выбросив поломанную полку, каким-то удивительным образом отыскала шкаф-сушилку и прибила его над раковиной. Тебе не кажется сказанное мной бредом сумасшедшего?
    Я открыла рот. Ну и дура же я!
    — Так что же на самом деле произошло?
    — Эээ…
    — Только не ври снова! — подмигнул парень. — О’кей?
    Я сложила руки на груди и произнесла:
    — Уважаемый… Как вас величают?
    — Тимур, — усмехнулся сантехник, получая от моих терзаний только удовольствие.
    — Ага. Тимур, славно. Так вот, уважаемый Тимур, делайте лучше свою работу, а не приставайте ко мне с глупыми расспросами! Вы же не агент ЦРУ!
    — Нет, мне просто стало любопытно. И судя по твоей взвинченности, произошло что-то явно удивительное. Ведь так?
    — Не твоё дело!
    Обиженная и разозлённая, я прошла в зал и, плюхнувшись в кресло, стала щёлкать кнопками на пульте в надежде, что найду какой-нибудь интересный фильм. Но ни один из 63-х каналов мне не предоставил такой шанс. Поэтому, отключив телевизор, я принялась читать детектив, купленный неделю назад в переходе.
    Прочитав третью главу, я услышала:
    — Я всё сделал. Кран работает исправно. Принимай работу.
    Я зашла на кухню со строгим выражением на лице. Покрутила взад-вперёд ручку крана и сказала:
    — Отлично. Спасибо.
    — Помочь убраться в кухне?
    — Обойдусь!
    Тимур, усмехнувшись, начал одеваться. Уже на пороге квартиры он схватил меня за запястье и снова спросил:
    — Так что же произошло? Может, скажешь?
    Я, покраснев от гнева, громко захлопнула дверь, не попрощавшись с любопытным сантехником.
  {% endfilter %}
{% endblock %}
