{% extends template %}

{% set parentTitle = "Такая коварная женская дружба" %}
{% set title = "21. Плоды любви" %}
{% set pubdate = "15.01.2012" %}

{% block content %}
  {% filter prose %}
    В поезде меня разбудил звонок. Я, порывшись в сумочке, достала аппарат и сонно произнесла:
    — Алло.
    — Вы хотели услышать мой голос?
    Я посмотрела на дисплей. Номер был незнакомым.
    — Эээ… Маловероятно.
    — Кружевич, ку-ку! Это я, Руслан.
    — Ооо, привет, — очнулась я. — Рада тебя слышать. Как ты?
    — Я лучше всех!
    — Не сомневаюсь. Ты ж теперь звезда!
    — Завидуешь?
    — Нет, ни капли. Я довольна своей тихой жизнью. Тружусь экономистом в рекламном агентстве, заочно учусь и планирую скоро выйти замуж!
    — Серьёзно? — удивился Руслан.
    — Да. Правда, пока ухажёр не знает о моих планах, — усмехнулась я.
    — Ты не изменяешь себе! Какой была, такой и осталась.
    — Разве это плохо?
    — Нет, — ответил Руслан.
    — Слушай, что мы всё обо мне да обо мне? Как тебе живётся в амплуа начинающего певца?
    — Как рыбе в воде! Это моё!
    — Рада за тебя! Как тебе пришла идея выложить на сайт свои песни?
    — Это произошло благодаря тебе.
    — Мне? — удивилась я.
    — Да! Помнишь тот день, когда меня отшила Чернина?
    — Да, ты тогда прибежал ко мне и проплакал весь вечер. Кто же такое забудет? — сказала я.
    — Проверка билетов, — раздалось в вагоне.
    Я, зажав телефон между ухом и плечом, протянула талончик контролёру.
    — Я не плакал! — возразил Руслан.
    — Это ты матери своей рассказывай! Ты плакал, причём навзрыд! Но как сие помогло тебе?
    — Ты в тот вечер внушила мне, что я уникум и меня ожидает великое будущее…
    — Я действительно такое сказала? Что мы пили в тот вечер? — усмехнулась я.
    — Кружевич, вредина ты!
    — Уж какая есть!
    — Но я всё равно тебя люблю!
    — И я тебя, — сказала я. — Сейчас, наверно, Чернина локти кусает?!
    — Стопудово! Но я её ни капельки не жалею! Пусть живёт теперь со своим Лисовым!
    — Он её бросил, — произнесла я.
    — Да? Откуда знаешь?
    — Мама сказала!
    — Так ей и надо!
    — Согласна. Кстати, когда ты мне альбом пришлёшь?
    — Какой?
    — Для рисования, — съязвила я. — Музыкальный, Руслан! Му-зы-каль-ный!
    — Ааа, хоть сейчас.
    — Буду ждать. С автографом!
    — Обязательно. Ладно, Кариночка, я перезвоню тебе позже. Мне сейчас на съёмки клипа нужно ехать.
    — Ооо, это святое. Не буду отнимать твоё драгоценное время! Звони — не забывай!
    — Конечно, куда я без тебя! До встречи!
    — Пока, звезда, — сказала я и нажала на красную кнопку телефона.
    В Минск я приехала к четырём вечера. На перроне с букетом из белоснежных роз и ослепительной улыбкой меня уже дожидался Тимур.
    — Привет! — радостно воскликнула я и обняла парня. — Спасибо за чудесные цветы. Как провёл выходные?
    — То есть эту неделю?
    — Угу.
    — Отдохнул с друзьями, посмотрел в сотый раз с мамой «Унесённые ветром», сходил на рыбалку с отчимом и искупался в проруби с отцом.
    — В проруби? — воскликнула я. — С ума сошёл?
    — Ни в жизнь! Я «морж» с детства!
    — Вау! Узнаю о тебе интересные факты! — произнесла я, садясь в такси.
    — Может, и ты про себя что-нибудь расскажешь?
    — Что именно?
    — Ну… Какой-нибудь секрет.
    — Ой, у меня их тысяча. Несколько шкафов со скелетами!
    — А подробнее?
    — Опять мучает внеземное любопытство? — изогнула я бровь.
    — Нет, — примкнулся своим носом к моему Тимур. — Я же должен знать тебя лучше?!
    По моему телу пробежала приятная дрожь. Я прошептала на ухо парню:
    — Хорошо, я раскрою парочку своих секретов, но только дома. Боюсь, если я расскажу их прямо здесь, шофёр, услышав мою исповедь, позвонит в милицию, и я окажусь в тюрьме!
    — Заинтриговала, — засмеялся Тимур и обнял меня.
    Не успела я перешагнуть порог квартиры, как парень сразу же снова наехал на меня с допросом:
    — И вот мы дома, нет посторонних ушей…
    — Даже у стен они есть, — усмехнулась я и пошла на кухню, чтобы заварить себе чая.
    Тимур хвостиком вился сзади.
    — Ты обещала!
    — И уже пожалела об этом! Ладно, — вздохнула я. — Ты же не отстанешь, если не добьёшься своего!
    Тимур хохотнул.
    — Во-первых, я ненавижу белые розы…
    — Но ты назвала их чудесными, — опешил парень.
    — Это второй мой секрет! Иногда я бываю лицемерной. Боюсь, сказать правду.
    — Ясно, — вздохнул парень.
    — Не дуйся! Розы я не выброшу!
    — Буду надеяться!
    — Ну и третий мой секрет… Тимур, надеюсь, это никак не повлияет на наши отношения?
    — О чём ты?
    — Понимаешь… Мне сложно об говорить, но ты хотел знать, и… Ладно, скажу. Из песни ведь слов не выкинешь? Тимур, я лишилась девственности в 10 лет!
    Повисла тишина. Глаза Тимура округлились.
    — Расслабься! Я пошутила. Ахахаха, видел бы ты своё лицо! Ахахаха!!!
    — Карина!!! Ну и шуточки у тебя!
    — Привыкай! Сколько сахара?
    — Две ложки.
    Я взяла кружки с горячим чаем и поставила их на стол.
    — Ну а если без шуток, то у меня есть одна тайна, которую знают немногие. Я рыжая!
    — Не может быть! — застыл Тимур.
    — Может-может! Я крашусь каждый месяц! И это моя тайна. Только тссс! — приложила я палец к своим губам.
    Резко раздалась трель телефона.
    — Алло, — сказала я, поднеся трубку к уху.
    — Привет. Ты уже в Минске?
    — Привет, Стасенька. Да, только в квартиру зашла. А что?
    — Мне нужна твоя помощь…
    — А ты уже вернулась из Египта?
    — Д-да… — отчего-то замялась подруга. — Ты можешь ко мне приехать сейчас?
    — Сейчас? — переспросила я, посмотрев на Тимура. Он был явно не в восторге от моего скорого ухода.
    — Извини, что отвлекаю тебя. Я понимаю, что ты хочешь отдохнуть… Но мне больше не к кому обратиться. Прошу, приедь ко мне. Сейчас.
    — Хорошо. Буду через десять минут.
    — Спасибо.
    — Куда ты направляешься? — спросил Тимур, смотря, как я одеваю сапоги.
    — Стасе нужна помощь. Я вернусь скоро. Ты даже не успеешь соскучиться! А чтобы ты не сидел без дела — приготовь борщ!
    На лице Тимура отразилось изумление.
    — Спасибо, что не отказал, — сказала я, поцеловала парня в щёку и выскочила из квартиры.
    Февральский холод сразу набросился на меня. Я натянула шарф до глаз и пошла быстрее.
    Автобус прибыл на остановку вовремя. Я зашла внутрь салона и села на потрёпанное сиденье.
    Через пятнадцать минут я уже стояла около квартиры Стаси и жала на звонок.
    — Привет, — появилась на пороге Пупсикова.
    — При… Господи, что с твоим лицом? — опешила я и схватила за руку подругу, когда та, ничего не ответив, хотела скрыться в квартире.
    — Ай, — скривилась Стася. — Больно.
    — Стасенька, что произошло?
    Лицо подруги и её руки были покрыты фиолетовыми синяками. Один глаз девушки был опухшим. Я испуганно посмотрела на Стасю, и та, всхлипывая, произнесла:
    — Андрей меня избил.
    — Не может быть. Как он посмел?
    — Я не знаю, что на него нашло. Я вчера прилетела из Египта, пришла домой и сразу позвонила ему. Я накрыла стол, включила романтическую музыку… Думала, мы с ним хорошо проведём вечер, а он… Он… — заплакала Стася. Я положила руку ей на плечо. — Он примчался и прямо с порога, ничего не сказав, стал избивать меня! Я никогда не видела его таким! Господи, в него словно дьявол вселился! Мне было ужасно страшно! В какой-то момент, когда Андрей в очередной раз занёс кулак над моей головой, я подумала, что пришла моя смерть!
    — Бедная! Как ты пережила весь этот кошмар?
    — До сих пор теряюсь в догадках! Наверно, родилась в рубашке!
    — Ты обращалась за помощью в милицию?
    — Н-нет…
    — Нет?! — рявкнула я. — Ты сумасшедшая?! Тебя избил какой-то полоумный, а ты не написала заявление?! Только не говори мне про глупую женскую долю и про всепрощающую любовь! И ни слова про то, что «бьёт — значит любит»!!!
    — Я и не думала! Я бы с радостью усадила этого гада в тюрьму, но он пригрозил мне! Перед тем как слинять, он перебил многое в квартире и сказал на прощание: «Если сдашь ментам или проговоришься кому-либо, я доделаю своё дело!»
    — Это чистой воды угроза! С этим нужно что-то делать!
    — Я знаю, но в данной ситуации я бессильна!
    — Ты — да! Но Артур…
    — Я с ним рассталась и не хочу ему звонить!
    — Убери свою гордость! Она сейчас не к месту! Мужчина, поднявший руку на женщину, жалок и ничтожен! И с ним нужно бороться! Звони Коробкову! Тебе нужна защита, — протянула я Стасе трубку телефона.
    Пупсикова несколько минут не решалась, а после взяла телефон и набрала номер экс-бойфренда.
    Я тем временем пошла на кухню и, увидев царящий там хаос, пришла в ужас. Пол комнаты был усыпан осколками от битой посуды, землёй из цветочных горшков и разными видами круп.
    — Вот козёл! — сорвалось с моих губ.
    — Артур скоро приедет, — зашла в пищеблок Стася. — Боюсь, ему не понравится мой вид.
    — Не бойся. До свадьбы заживёт!
    — Ахаха, — скучно усмехнулась Стася. — Поверю тебе на слово. Кстати, я хочу ещё кое о чём тебя попросить. Ты бы могла спрятать вот это, — Пупсикова протянула мне сундучок, — на некоторое время у себя?
    — Что это?
    — Мои драгоценности. Я не хочу, чтобы они попали в лапы Андрея.
    — Хорошо, — кивнула я и спрятала сундучок в своей сумочке.
  {% endfilter %}
{% endblock %}
