{% extends template %}

{% set title = "Мысли перед сном" %}
{% set pubdate = "15.03.2008" %}

{% block content %}
  {% filter poem %}
    Телевизор скажет «До свидания» —
    И остынет недопитый чай,
    Улыбнётся вечер на прощание,
    Тихий город наведёт печаль…

    В серой комнате так тихо и спокойно,
    Но меня не радует покой…
    Я хочу быть сильным, быть достойным!
    За мечтой идти, как за звездой…

    За окном вновь выпадает снег,
    Он к рассвету превратится в лужи…
    И полночный стихотворный бред,
    Может быть, ещё кому-то нужен…
  {% endfilter %}
{% endblock %}
