{% extends template %}

{% set title = "Разговор Поэта и Музы" %}
{% set pubdate = "17.03.2008" %}
{% set next = "s.fedotovz/prose" %}

{% block content %}
  {% filter poem %}
    Ночь на дворе. Пришла к поэту Муза.
    — Давно не виделись, как жив, как сам?
    — Всё вроде бы путём, всё вроде бы по вкусу…
    — Да не обманывай, зачем-то я пришла!

    — Ты понимаешь, жизнь такая штука…
    — Я всё пойму, ты не таи секрета!
    — Когда любви протягиваешь руку,
    То можешь не услышать ты ответа…

    — Да, видно, ты влюбился не по-детски…
    — Да, по большому счёту, это всё пустяк!
    Я жив, покуда бьётся моё сердце!
    А сердце моё бьётся ещё как!

    Но вдруг поэт увидел свет планет далёких,
    И понял он, насколько тесен мир!
    Среди желаний низких и высоких
    Любовь — единственный оправданный кумир…
  {% endfilter %}
{% endblock %}
