{% extends template %}

{% set title = "Старая регата" %}
{% set pubdate = "15.03.2008" %}

{% block content %}
  <p class="art__dedic">Памяти А. Козлова (гр. «Агата Кристи»)</p>

  {% filter poem %}
    Как в старые добрые времена,
    Колесо iPod’a — к «Агате».
    Загоняю себя в состояние сна
    Возвращением к старой регате.

    Привыкшие нервы уснут по звонку,
    Фабричные трубы разрушив,
    Зачем-то старой гармонии ран
    Кусок для спокойствия скушав.

    Розовый — серый, сердечки — короны…
    Стандартный узорчик, а буквы — из спаржи.
    Красиво уложенный злым камертоном —
    Фасон этой выкройки даже не важен.
  {% endfilter %}
{% endblock %}
