{% extends template %}

{% set title = "«Должно быть, это всё — из-за дождя…»" %}
{% set pubdate = "17.03.2008" %}
{% set next = "korovionkoff/grief-1" %}

{% block content %}
  {% filter poem %}
    Должно быть, это всё — из-за дождя…
    Смывая всё тяжёлое в процентах,
    Вот так, а там, немного погодя,
    Найдёт средь килобайтов документов.

    Снег — заметает, делая всё глуше
    Укоры совести… Замучившая всех,
    Пожалуй, справилась бы там гораздо лучше,
    Чем глупый и всевластный князь успех.

    Но это, впрочем, всё уже не важно,
    В остатке — лишь два слова: «Это я…»
    Да как-то напролом — смешно-отважно…
    Наверно, это всё — из-за дождя.
  {% endfilter %}
{% endblock %}

{% block reviews %}
  {% filter review("Лунатик", "shuvalow", "07.04.2008 19:40") %}
    Стих хороший, причём выдержан, как я это ныне называю, в современном стиле. Лексика современная. Ритм во многих местах сбивается и размер неточен. Хотя огромный плюс за точные рифмы.
    По поводу содержания: «напролом», по моему субъективному мнению, «смешно» не идут. «Отважно» — да, но смешно… выглядит, как хромой боец, хотя, возможно, это вы и хотели сказать.
    Пейзажная лирика в гармонии с собственным чувством — это органика, и до неё я сам всегда падок был. Поэтому мне понравилось. Первая строфа — отличная, лучшая из остальных. Последующие строфы не выдерживают её глубины и красоты, я бы переделал, но автор — Вы, Вам видней.
  {% endfilter %}
{% endblock %}
