{% extends template %}

{% set title = "«Забавно ехать в трамвае в дождь…»" %}
{% set pubdate = "16.03.2008" %}

{% block content %}
  {% filter poem %}
    Забавно ехать в трамвае в дождь —
    Машина времени в складках асфальта.
    Грустно, что некоторых не вернёшь —
    Осталась от них только мыслей смальта.

    Лёгкие капли — усмешки лучших,
    Тонкая нитка, упавшая с неба.
    Весь механизм природы изучишь —
    Ах, да зачем… и тайга по колено.
  {% endfilter %}
{% endblock %}
