{% extends template %}

{% set title = "Смерти нет и не будет, поверьте" %}
{% set pubdate = "12.03.2008" %}

{% block content %}
  {% filter poem %}
    Брызги сока — на грязный снег,
    Дождь — из мыслей уснувших ангелов.
    Всё смешалось в забавный омлет,
    Как «Трагедия дома Ашеров».

    Заострившийся мир — к печали,
    Растворившийся в звуках — к смерти?
    Никогда вы не замечали:
    Смерти нет и не будет. Поверьте.
  {% endfilter %}
{% endblock %}
