{% extends template %}

{% set title = "«А у розы — лепестки…»" %}
{% set pubdate = "05.11.2007" %}

{% block content %}
  {% filter poem %}
    А у розы — лепестки,
    Красный бархат и шипы.
    Защищает красоту,
    Не надеясь на листву.

    Средь цветов она, как львица,
    Грациозна и умна.
    Понимает, что листва
    Не спасает от врага.

    Как сорвут — она завянет,
    Никому не нужной станет.
  {% endfilter %}
{% endblock %}
