{% extends template %}

{% set title = "«Песок течёт, как время во Вселенной…»" %}
{% set pubdate = "05.11.2007" %}

{% block content %}
  {% filter poem %}
    Песок течёт, как время во Вселенной.
    Часы бегут, не повернуть их вспять,
    Проносятся года, и над землёю бренной
    Всё так же звёзды зажигаются опять.
  {% endfilter %}
{% endblock %}
