{% extends template %}

{% set title = "«Муар сиреневого неба…»" %}
{% set pubdate = "05.11.2007" %}

{% block content %}
  {% filter poem %}
    Муар сиреневого неба,
    Сияющие звёзды — ордена!
    Вселенная — блистательная нега! —
    Творцом — Всевышним — нам дана!
  {% endfilter %}
{% endblock %}
