{% extends template %}

{% set title = "«Зимние узоры мне Зима рисует…»" %}
{% set pubdate = "05.11.2007" %}

{% block content %}
  {% filter poem %}
    Зимние узоры мне Зима рисует
    И стекло оконное словно бы целует,
    От Зимы-девицы — каждый день подарок,
    Серебро рисунка — как луч солнца ярок.

    Все рисунки разные — мастерство творенья,
    А с морозом сильным — больше вдохновенья,
    Не устанет девица создавать картины,
    До Весны укроет снежною периной!
  {% endfilter %}
{% endblock %}
