{% extends template %}

{% set title = "Вуаль осени" %}
{% set pubdate = "05.11.2007" %}

{% block content %}
  {% filter poem %}
    Вуаль печальной осени сияет
    Багрянцем золотых ковров:
    Их ткут деревья, рассыпая
    Свой бывший солнечный покров.

    Букеты звёзд на небе светят ярко.
    Как призрак, убывает месяц молодой.
    А лета мне совсем не жалко:
    Оно вернётся, но постареем мы с тобой!

    Ничто не вечно под луной,
    И скоро души полетят в космической пустыне.
    Я не хотел судьбы иной,
    Разлука — не для нас отныне!
  {% endfilter %}
{% endblock %}
