{% extends template %}

{% set title = "«Птичья песнь в небесной синеве…»" %}
{% set pubdate = "05.11.2007" %}
{% set prev = "natashe5ka/poem" %}

{% block content %}
  {% filter poem %}
    Птичья песнь в небесной синеве
    Надо мной, как струи водопада,
    В вышине невидимый певец
    Воспевал сиянье листопада.

    И бальзамом утреннего дня
    На душу покой спустился,
    Осень вдохновенье принесла,
    Лист осенний за окном кружился…
  {% endfilter %}
{% endblock %}
