{% extends template %}

{% set title = "Свеча" %}
{% set pubdate = "05.11.2007" %}

{% block content %}
  {% filter poem %}
    Свеча горела, не коптила.
    Она сияньем говорила:
    «Не всё потеряно, поверь,
    И если хочешь, то проверь,

    Когда горю, несу я свет,
    А значит — пользу, а не вред.
    Бери пример с меня — и не копти,
    А чистым пламенем гори!
  {% endfilter %}
{% endblock %}
