{% extends template %}

{% set title = "Документация" %}
{% set pubdate = "22.03.2019" %}
{% set prev = "kiselev/index" %}
{% set next = "icecreamhater/index" %}
{% set prevTitle = "К крайнему автору" %}
{% set nextTitle = "К первому автору" %}
{% set biographyHeading = "Почему эта платформа?" %}

{% block content %}
  {% filter prose %}
    Документация проекта для специалистов, работающих над его наполнением.
    При запуске сборки в режиме разработки доступна в самом верхнем списке ссылок главной страницы.
  {% endfilter %}
{% endblock %}

{% block toc %}
  {{worksCollection([
    "docs/page-structure",
    "docs/vars",
    "docs/add-author",
    "docs/add-work",
    "docs/dev"
  ])}}
{% endblock %}

{% block biography %}
  {% filter prose %}
    А почему бы и нет? Она предназначена для удобочитаемых адаптивных публикаций, с удобной навигацией и структурой, привычной для целевой аудитории.
    Отказ от традиционного варианта (markdown, jekyll, GitHub Pages) был обусловлен нежеланием прикручивать поддержку кода nunjucks к jekyll (в дефолтном варианте GitHub кидает ошибку и отказывается деплоить проект). И практика показала, что мы ничего не потеряли: на момент начала работы основной функционал уже присутствовал, недостающий был реализован с помощью фильтров.
    Очень удобным оказалось иметь документацию под рукой прямо на проекте (в dev-версии ссылка на неё выводится прямо на главной странице).
  {% endfilter %}
{% endblock %}
