{% extends template %}

{% set title = "Предопределённые переменные" %}
{% set pubdate = "22.03.2019" %}
{% set prev = "docs/page-structure" %}
{% set next = "docs/add-author" %}
{% set tocTitle = "Содержание" %}

{% block content %}
  {% filter ins %}
    {% filter prose %}
      Здесь описаны переменные, создаваемые окружением сборки, конфигурацией шаблона и т. п., которые запрещено модифицировать, но рекомендуется использовать при добавлении контента.
      Чем более параметризован сайт, тем проще его поддерживать и модифицировать.
      Переменные, которые необходимо или можно задавать, приводятся при описании <a href="/docs/page-structure.html#settings">структуры страницы</a>.
    {% endfilter %}
  {% endfilter %}

  <h2 class="art__subtitle" id="universal">Универсальные переменные</h2>
  {% filter ins %}
    {% filter prose("short-marked") %}
      Некоторые из этих настроек задаются в `/source/data/project.json`.
    {% endfilter %}
  {% endfilter %}

  {% filter prose("list-marked") %}
    `headTitle` — заголовок страницы в `&lt;title&gt;` и настройках OpenGraph.
    `host` — глобально заданный адрес сайта, включая протокол, без концевого слэша.
    `nick` — никнейм (алиас) — часть пути к странице автора от корневого до следующего слэша, совпадает с именем каталога исходников и готовых страниц автора.
    `pageType` — тип страницы (`author`, `work` (произведение) или `index`). Позволяет создавать различное поведение для тех или иных разновидностей страниц.
    `page` — имя страницы от корня (не включая его) до `.html`. Следует не забывать дописывать расширение явно, когда в конце пути передаётся hash.
    `siteName` — имя издательства.
    `titleDelimiter` — разделитель между фразами в `headTitle`.
    `url` — полный путь: комбинация первых двух параметров с учётом расширения файла.
    `openGraphType` — дополнительный тип настроке OpenGraph (для страниц произведений или авторов).
  {% endfilter %}

  {% filter prose("marked") %}
    Одиночный слэш в значениях параметров `href`, `src`, `srcset`, `action`, `content` тоже является своего рода переменной, поскольку преобразуется шаблонизатором к корректному префиксу относительного пути (ничто для корневых страниц и `../` для страниц в каталоге). Глубина вложенности на проекте — не более одного каталога, но при появлянии более глубоких уровней это преобразование будет также работать корректно).
    Двойной слэш в начале значения тех же параметров будет преобразован к явному протоколу `https://`.
  {% endfilter %}

  <h2 class="art__subtitle" id="helpers">Хелперы</h2>
  {% filter ins %}
    {% filter prose("short") %}
      Для удобства форматирования контента некоторые фрагменты кода вынесены в отдельные переменные:
    {% endfilter %}
  {% endfilter %}

  {% filter prose("list-marked") %}
    `asters` — пустой блок с презентационной ролью, отбитый двойным отступом сверху и одинарным снизу. В качестве контента - звёздочки. Следует помнить, что в случае соответствия заголовка произведения паттерну `/^«(.+)…»$/` он автоматически преобразуется к показу звёздочек в заглавном блоке страницы.
    `acute` — ударение. Следует добавлять после соответствующей гласной.
  {% endfilter %}

  <h2 class="art__subtitle">Настройки авторских страниц</h2>
  {% filter prose("list-marked") %}
    `names` — массив, нулевым элементом которого является имя автора, а первым (если есть) — фамилия.
  {% endfilter %}

  <h2 class="art__subtitle">Настройки страниц произведений</h2>
  {% filter prose("list-marked") %}
    `authorPage` — `nick` с добавлением `/index`, получается тот же формат, что и у текущей `page`.
    `authorParams` — объект, ключи которого соответствуют всем настройкам страницы автора произведения.
    `author` — алиас для `authorParams.title`.
    `collectionIndex` — часть `page` после последнего дефиса, обретает смысл, когда является числом.
    `collectionBase` — часть `page` до последнего дефиса.
    `collectionName` — часть `collectionBase` без учёта `nick` и следующего за ним слэша.
  {% endfilter %}
{% endblock %}
