{% extends template %}

{% set pageType = "index" %}
{% set title = "Наши партнёры" %}
{% set prev = "kiselev/index" %}
{% set next = "icecreamhater/index" %}
{% set prevTitle = "К крайнему автору" %}
{% set nextTitle = "К первому автору" %}
{% set openGraphType = "website" %}

{% block content %}
  <ul class="banners">
    <li class="banners__item">
      <a href="http://stihi.orthodoxy.ru/">
        {% if isAmp %}
          <amp-img src="http://stihi.orthodoxy.ru/images/psth1.gif" width="88" height="31" alt="Антология православной поэзии, православный сайт stihi.orthodoxy.ru"></amp-img>
        {% else %}
          <img src="http://stihi.orthodoxy.ru/images/psth1.gif" width="88" height="31" alt="Антология православной поэзии, православный сайт stihi.orthodoxy.ru">
        {% endif %}
      </a>
    </li>
    <li class="banners__item">
      <a href="http://olgabossa.narod.ru/">
        {% if isAmp %}
          <amp-img src="http://olgabossa.narod.ru/2.jpg" width="88" height="31" alt="Ольга Босс — личная страничка"></amp-img>
        {% else %}
          <img src="http://olgabossa.narod.ru/2.jpg" width="88" height="31" alt="Ольга Босс — личная страничка">
        {% endif %}
      </a>
    </li>
  </ul>

  {% filter prose %}
    Сайт «<a href="http://m-passion.ru/" title="Русская любовная лирика">Русская любовная лирика</a>». На сайте собраны произведения русской классической поэзии.
    <a href="http://gs-lyrics.ru/" title="Лирика Francua">Глухов Сергей</a> — поэт, лирик. Биография автора, архив стихов и рассказов. Творчество друзей.
    <a href="http://liberato.ru/" title="Современная эротическая поэзия">«Эрато»</a> — эротическая поэзия наших современников. На сайте размещена галерея эротической живописи. Здесь же вы найдёте библиотеку электронных книг в популярных форматах.
    Ежемесячный электронный журнал современной литературы «<a href="http://m-tz.ru/" title="Ежемесячный электронный журнал «Точка ZRения»">Точка ZRения</a>». Современная литература различных жанров. Информация об авторах, их фотографии, интервью, проза, поэзия. Редакционный отбор произведений.
    На сайте «<a href="http://folkarm.ru/" title="Армянский фольклор">Армянский фольклор</a>» вы найдёте  информацию об армянской культуре, фольклоре, традициях.
    Мифы, сказки и легенды народов севера на сайте «<a href="http://northlights.ru/" title="Северное сияние">Северное сияние</a>».
    «<a href="http://liberot.ru/" title="Классическая эротическая поэзия">Шаловливый эрот</a>» — классическая эротическая поэзия. На сайте размещена галерея эротической живописи.
    Сайт «<a href="http://m-fantasy.ru/" title="Хитрый мышонок">Хитрый мышонок</a>». На сайте собран фольклор народов Европы.
    На сайте «<a href="http://k-tales.ru/" title="Сказки народов Кавказа">Сказки народов Кавказа</a>» собрана богатая колекция фольклора народов Кавказа.
  {% endfilter %}

  <h2 class="art__subtitle">Стать партнёром</h2>
  {% filter short %}
    Заявки принимаются на <a href="mailto:raskatov@netbiblio.ru">raskatov@netbiblio.ru</a> или отзывом к этой странице.
  {% endfilter %}
{% endblock %}
