{% extends template %}

{% set title = "Писатель не от бога" %}
{% set pubdate = "05.07.2011" %}
{% set prev = "aram/poem-7" %}

{% block preface %}
  {% filter ins %}
    {% filter short %}
      <span class="page__mark">Слоган.</span> А на что ты готов ради бестселлера?
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter prose %}
    Как иногда сложно заставить себя писать! Вроде бы есть идея, которая тебе кажется интересной в данный момент. Но сесть за компьютер или печатную машинку или открыть тетрадь со своими набросками иногда очень трудно. И даже когда ты включаешь компьютер, вставляешь бумагу в печатную машинку или берёшь ручку и открываешь свою тетрадь, ты всё равно не знаешь, как писать. Начать — это всегда трудно: мысли сразу вылетают из твоей головы, и ты начинаешь писать всякий бред, лишь бы пальцы щёлкали по клавишам или ручка бегала по бумаге. Вот точно как я сейчас! Вы читаете эти строчки, ещё не понимая, к чему и зачем я их пишу, ведь эта история не обо мне. Она об Александре Хромове, писателе, который хотел изменить этот прогнивший мир.
  {% endfilter %}

  {% filter prose %}
    Александр Хромов мог стать физиком или биологом, к счастью, знания ему позволяли: он мог стать учёным, и кто знает, возможно, он даже мог изобрести лекарство от какой-нибудь смертельной болезни. Но Саня решил стать писателем, так как верил, что именно книги способны изменить человечество. Почему он так думал, об этом я не стану вам рассказывать, так как это займёт очень много времени и вы потеряете всякий интерес к этой истории, если вы его уже не потеряли. Если нет, я продолжаю.
    Александр писал небольшие рассказы и даже иногда печатался, но всё это не доставляло ему особой радости. Его рассказы не приносили пользы — они были всего лишь лёгким чтивом, служившим для развлечения. Хромову хотелось написать книгу, да не просто книгу, а настоящий бестселлер, хотя нет, не просто бестселлер, а книгу, которая взорвёт этот мир, ну, не в прямом смысле, разумеется. Но с большими произведениями у него всегда были проблемы: писать маленькие рассказы он умел, и получалось это у него достаточно неплохо, а вот на настоящие романы терпения у него и не хватало.
    По вечерам Саня часто включал свой компьютер и около часа тупил в экран, так как не знал, о чём писать: все истории, что приходили ему в голову, были или очень короткими, или не достойными целого романа, который, как верил сам Александр, должен был стать великим творением, написанным человеком.
    В один из таких вечеров и начинается наша история, да, она только начинается, а то, что вы уже прочитали, — всего лишь безумный трёп одного сумасшедшего.
    Александр сидел за своим компьютером, но не стучал по клавишам, а думал. Думал, как начать, а главное — про что именно писать. Идей было много, но все они были какие-то банальные. Но отступать он не хотел. Александр поставил себе цель написать за ночь хотя бы одну главу своего первого романа. Он накупил себе энергетических напитков, которые сейчас стояли на его столе рядом с компьютером. С их помощью он собирался сегодня не спать. Почему такие жёсткие условия? Причин много, их я тоже не буду перечислять, скажу лишь, что последней каплей стал заголовок статьи в местной газете, который гласил: «В метро взорвали очередную бомбу». Хромов искренне верил, что его писанина сможет избавить мир от терроризма.
    Именно поэтому он и сидел за компьютером, даже когда стрелка часов перевалила за два часа ночи. Половина энергетических напитков уже была выпита, и сердце писателя бешено колотилось, что совершенно не помогало ему писать. За всё это время он не написал и строчки. От волнения Александр даже стал потеть. Он смотрел в монитор, затем на клавиатуру, но не мог даже прикоснуться к ней.
    Хромов не верил в бога, но сейчас стал молиться. В молитве он просил господа о музе и вдохновении: не о том, чтобы терроризм исчез, а именно о музе и вдохновении. И тут началось самое интересное.
    В его маленькой однокомнатной квартире, которая напоминает чем-то свинарник, появляюсь я.
    Вы бы видели его глаза! а рот! Челюсть отвисла на максимально возможное расстояние, а затем этот как бы писатель упал со стула и начал пятиться. Даже не знаю, что его так напугало: может, моё внезапное появление, или мои маленькие рожки, торчащие у меня из головы. Ему ещё повезло: я недавно их подпилил, и сейчас они выглядели очень аккуратными, а раньше это были настоящие рога, увидев которые, наш писатель, думаю, точно бы грохнулся в обморок. Я специально одел красный пиджак, который сочетался с моей красной кожей, да и брюки были не обычными: они прятали мой хвост. Зачем лишний раз травмировать психику творческого человека? И после всех моих стараний — такая вот реакция!
    — Что ты такое?! — заорал Хромов, спрятавшись под своим компьютерным столом. Теперь он потел в два раза сильней.
    Мне, конечно, хотелось провести с ним длинную дискуссию о том, что я не «что», но я решил не тратить попусту время.
    — Ты же молился о музе! Правда, твоя просьба пошла не по тому адресу, и тебе прислали меня. Можешь называть меня ЧЁРТ! И хватит уже сидеть под столом, негоже так себя вести тому, кто хочет изменить этот дурацкий мир.
    Сначала Саня не хотел вылезать, он с подозрением косился на меня и, как мне показалось, даже чувствовал себя в безопасности под столом, будто там я не смог бы его достать. Но затем он всё-таки вылез и встал в полный рост.
    — Откуда ты знаешь, что я хочу изменить этот мир?
    Глупее вопроса трудно придумать даже писателю.
    — Я всегда наблюдаю за безумцами, которые хотят изменить этот мир, не поверишь, как их много. Но у тебя даже, возможно, всё получится — с моей, разумеется, помощью.
    Следующий вопрос, который мне задал этот писатель, не был неожиданностью: его задают все, к кому я прихожу. Поверьте, когда я приду к вам, вы тоже рано или поздно спросите:
    — И что ты хочешь взамен? Мою душу?
    Если бы я знал имя писателя, который придумал, что чёртам или дьяволу нужна человеческая душа, я бы нашёл его могилу, раскопал её и помочился бы на труп этого так называемого писателя. Что за бред, у человека вообще нет души, а то, чего нет, и забрать нельзя. Но так нашему писателю я отвечать не стал: он мог обидеться, эти творческие люди такие обидчивые!
    — Зачем мне твоя душа? Мне нужен ты! Но не весь, разумеется, думаю, для начала твоя левая нога пойдёт.
    И тут он снова стал потеть, при этом его начало трясти. Вот, оказывается, как: душу вы легко отдаёте, а когда дело касается ваших конечностей, то тут теряете равновесие и грохаетесь в обморок. Но Саня не грохнулся, хоть и был близок к этому.
    — Что значит «для начала»?
    Хороший вопрос, значит, он готов пожертвовать своей ногой.
    — Условия таковы. Слушай внимательно, Александр Хромов, в будущем, возможно, великий писатель. Ты отрезаешь себе ногу — и уже наутро пишешь свой первый роман, который, поверь, перевернёт этот мир с ног на голову (в хорошем смысле). Если ты вдруг захочешь написать ещё одну книгу, то мне понадобится ещё какая-нибудь часть твоего тела, но не думай, что пальцы или ухо меня устроят: за них вдохновения у тебя хватит лишь на короткую повесть. Хотя ты вполне можешь написать один роман и успокоиться. Писателю же не нужна нога!
    После этих слов, чтобы добавить устрашающей нотки в моё выступление, я громко рассмеялся, согласно протоколу опрокинув голову назад ровно на 45 градусов, слегка обнажив клыки и даже чуть закатив глаза. Нельзя сказать, что я находил ситуацию забавной для подобного веселья, но отходить от утверждённого протокола в работе с клиентом было чревато. Любые вольности и отступления от запланированного сценария сразу же строго пресекаются. О подробностях я лучше умолчу. И если кто-то вдруг сейчас рассмеялся вместе со мной, то, может, сходите к зеркалу — вдруг у вас на голове тоже растут рога? Тут я смеюсь по правде.
    Саня помрачнел, по его лицу было видно, что про себя он рассуждает, стоит ли идти на такую жертву ради этого мира. Но Хромов был героем, вернее, он чувствовал себя таким, что было мне на руку.
    — Хорошо, я сделаю, как ты сказал.
    На его столе рядом с энергетическими напитками появилась пила. А я исчез — здесь мне делать было больше нечего. Но история на этом не заканчивается, всё самое интересное ещё впереди.
    Обычная пила, какой многие наверняка пользовались на уроках труда в школе, сейчас спокойно лежала на столе писателя. В ней не было ничего необычного. Александр был уверен, что она должна была быть украшена всякими сатанинскими символами, ну, или хотя бы на ней должны быть высечены три шестёрки. Но ни символов, ни числа шестьсот шестьдесят шесть на ней не было. Хромов на секунду даже засомневался, подумав: а вдруг это всё дурацкий розыгрыш. Но как я уже сказал, засомневался он только на секунду, так как это не могло быть розыгрышем.
    Саша взял пилу в свои руки и простоял с ней минут пять, так ничего и не сделав. Писатель только в школе выпиливал всякие поделки лобзиком, больше он некогда не пользовался пилой, поэтому сейчас даже не знал, как нужно точно пилить. Знал он только одно: крови будет много, поэтому нужно подготовиться. Хромов бросил инструмент на пол, который, соприкоснувшись с паркетом, издал звонкий звук, словно скрипка в неумелых руках.
    Писатель достал жгут, чтобы обвязать им ногу и перекрыть поток крови. Достал бинты, а главное, поставил разогреваться сковороду. Зачем, спросите вы. Всё очень просто: Александр не хотел ехать в больницу, после того как самовольно лишит себя левой ноги, так как врачи стали бы задавать кучу вопросов, и пусть соврать им у него бы не составило труда, писатель решил всё-таки обойтись без них. «Ложь рождает новую ложь», — так он часто думал. А поэтому, чтобы не истечь кровью и не умереть, ему нужно прижечь свою рану, для этого ему и понадобится адски горячая сковорода, именно адски!
    Хромов достал свой кожаный ремень, когда сковорода начала становиться красной. Он расположился на кухне. В правой руке пила, на левую надета варежка, чтобы в нужный момент снять сковороду с плиты, а во рту — собственный ремень. О чём думал в этот момент писатель — это невозможно описать: даже будь я Стивеном Кингом, а не адским отродьем, у меня всё равно ничего бы не вышло. Мысли в голове писателя путались, а сердце билось сильней, чем после энергетических напитков. На его теле опять выступил пот, даже не выступил, правильнее будет сказать, что пот лил как никогда, словно Александр — лимон, который хорошо выжимают.
    Знаете, отрезание ноги можно сравнить с написанием книги: самое трудное — начать. Руки писателя тряслись как никогда, во рту был вкус кожи, но про него Хромов очень скоро забудет.
    Ногу писатель поставил на табуретку: так, он думал, будет проще пилить. Прав он или нет, я не знаю, так как пилой вообще никогда не пользовался.
    Прикоснувшись пилой к ноге, Александр почувствовал холод метала. Инструмент очень острый, писатель это понял, когда только от одного прикосновения с пилой по его ноге пустилась в пляс тонкая струйка крови. «Это очень хорошо, — успокаивает себя писатель, — пилить будет проще». Хромов крепко сжимает в зубах кожаный ремень. Собравшись с мыслями, он начинает пилить. Пила хорошо идёт, она без проблем режет мясо на ноге писателя, и кровь, которой куда больше, чем думал писатель, растекается по табуретке и аккуратно стекает на пол кухни. Голова Александра начала кружиться, весь мир вокруг него превратился в красный цвет — цвет жизни, который у многих ассоциируется со смертью.
    Перед писателем стояли две нелёгкие задачи. Первая: не закричать, так как крик мог разбудить соседей и они могли бы вызвать полицию. А что он мог сказать полиции? «Понимаете, я пишу книгу, и чтобы она получилась, я должен ногу себе отпилить!» — после таких слов о карьере писателя можно забыть, зато открывается куча новых вакансий — Наполеон, Пушкин и так далее: в психушке ты можешь быть кем угодно, только не Александром Хромовым.
    И задача номер два: не упасть в обморок. Так как это могло его убить.
    Хромов пилил возле щиколотки, так как там кости были слабей. Он искренне надеялся, что эта часть ноги меня устроит, и был прав. Зачем мне его нога? Скажу просто, я люблю издеваться над людьми.
    Когда пила наконец коснулась кости, на полу уже лежали целые ошмётки мяса, которые отваливались от ноги, когда пила продолжала свой путь. Александр не хотел на это смотреть, он закрыл глаза и ещё сильнее сжал ремень в зубах.
    И пусть инструмент был очень острый, но кость пилить он не хотел. На ней появлялись лишь мелкие царапины, куда тут же забивалась кровь. Лишь изредка осколки кости отлетали, словно щепки, и падали в ручей алой жидкости, что образовался рядом с писателем.
    Хромов испытал адскую боль. Ему и до этого было больно, но не так, как сейчас. Кость не хотела поддаваться, и Сане пришлось ещё сильней надавить на инструмент. Из глаз Хромова хлынули слёзы. Он слишком долго пилил и потерял уже очень много крови — медлить был нельзя.
    Писатель открыл глаза, и его тут же чуть не вывернуло: смотреть на свои куски мяса, покрытые белыми щепками, было отвратительно. Он лежал в луже собственной крови и смотрел на свою ногу. Казалось, что её обглодал волк, который почему-то решил не доедать и бросил на половине. Но наш писатель не хотел заканчивать: им двигала благородная цель, во всяком случае, он так думал. Александр понял, что пила ему уже не поможет. Он отбросил её в сторону, а сам схватился двумя руками за окровавленную ногу. Мясо вокруг кости уже не было, и это радовало, если, конечно, данное слово уместно в такой ситуации.
    Александр со всей силы начал ломать свою кость, как в детстве ломал слишком длинные веточки. Послышался хруст, и Хромов выронил ремень. Он издал нечеловеческий вопль — поверьте, вопль был именно таким — и ещё сильней надавил на кость. Ему уже было плевать на соседей, ему было плевать уже на всё, кроме его книги. Даже в такой ситуации он всё равно думал о ней — Александр был настоящим писателем. Пожалуй, более настоящим, чем все самые великие писатели.
    Наконец кость поддалась, часть ноги отделилась от тела писателя. Он быстро отшвырнул её в сторону. По иронии, она упала туда же, где и пила. Александр быстро схватил сковороду и прижал её к своему обрубку, который раньше был вполне нормальной ногой.
    Что было дальше, вы действительно хотите знать? Хромов вырубился, но рану всё-таки прижёг. Но и на этом наша история ещё не заканчивается.
    Писатель проспал двенадцать часов. Проснулся он от жуткой боли в ноге, в той её части, которой уже не было. По всей кухни валялись ошмётки его мяса, всюду была его кровь. Рядом с табуреткой, на которой и произошла казнь ноги, лежали костыли, мой подарок писателю — пусть не думает, что я плохой.
    Александр взял их под мышки и стал аккуратно продвигаться в свою комнату. В комнате на компьютерном столе его ждали триста страниц формата А4. Ещё тёплые, словно только что сошли с принтера, хотя тёплыми они были по другой причине. Если вспомните, где я живу, то догадаетесь, по какой именно. Но они были пустыми, и Хромов это сразу заметил, хотя, конечно, пустым мог оказаться только первый лист. Он взял эту кипу листов и стал их быстро перебирать. Пустым оказался не только первый лист, но и вся пачка белых страниц. Как он тогда меня проклинал! Боюсь, я не могу написать, что он тогда говорил, — меня могут читать дети; скажу только, что мне было неприятно. Но постепенно на страницах начинали появляться чернила, которые превращались в буквы, а те в свою очередь превращались в слова. И через минуту в руке писателя находился его первый роман.
    Он назывался «Сказка для взрослых». Писатель плюхнулся в своё кресло и стал тут же его читать. Самое удивительное, что этот роман действительно был написан Александром Хромовым: стиль написания был такой же, как у него, словесные обороты такие же, какие использует он. И идея самой книги лежала у него в голове, только очень глубоко, и он не мог её достать. Эта книга была самой великой, что когда-либо читал писатель, и её автором был он сам. Про что эта книга? Так я вам и сказал!
    Хромов тут же отправил её в редакцию. И ответ не заставил себя ждать: её, разумеется, приняли, и уже через месяц она стала бестселлером. Об Александре Хромове заговорили, но это было не главное. Главное, что каким-то невероятным образом, ведомым только мне, книга избавила мир от терроризма. Все самые ярые террористы сдались властям, больше никто не взрывал бомбы в метро, и всё вроде бы должно быть хорошо, но нет!
    По новостям то и дело сообщали, как группа скинхедов избила, а то и убила очередного чернокожего паренька. «Расизм — что может быть хуже, так как все мы одинаковые», — так думал Александр Хромов.
    Ему очень хотелось побороть эту болезнь современного общества, хотя почему современного? Люди с древности были расистами, но Саня хотел это исправить. А как? Конечно, с помощью книги! Книга избавила мир от терроризма, спасёт и от расизма. Если бы Квентин Тарантино снимал кино про супергероя, который спасает мир с помощью книг, то это было бы очень скучное кино, даже у Тарантино.
    Но, как всегда, написать книгу оказалось гораздо сложней, чем казалось на первый взгляд. И Хромов решил снова прибегнуть к уже проверенному методу. Он привык жить, не выходя из своей комнаты. Когда есть Интернет, ноги тебе уже не нужны!
    Достав пилу и расположившись снова на кухне, он принялся за дело. Жгут, варежка, бинты, сковорода — я не буду травмировать вам психику, описывая то, что происходило на кухне. Ой, я, кажется, вам её уже травмировал.
    Подведём итог: наш писатель снова отрезал себе ногу. Теперь вместо костылей я прислал ему инвалидное кресло — видите, какой я добрый? В его комнате снова лежала кипа страниц, которые ждали его прикосновения, чтобы превратиться в новый роман. Который на этот раз назывался «Последнее интервью супергероя» — опять-таки странное название для книги по борьбе с расизмом. Но на название не стоит обращать внимания, оно не в тему. А в тему будет сказать, что расизма с выходом нового бестселлера Александра Хромова в мире не стало. И всё вроде бы должно быть хорошо, но нет! Это только мне кажется, что я повторяюсь?
    Александра Хромова устраивала его жизнь, пусть он был в инвалидном кресле и на улицу уже около полугода не выходил, а именно столько прошло времени после нашей с ним встречи. Про него писали в Интернете, о нём говорили в новостях, его называли героем, но в новостях говорили не только о нём. Бедность — ещё одна страшная болезнь человечества. Людям не хватает еды — и они умирают. А как хорошо было бы сделать так, чтобы человечеству всего хватало, и искоренить бедность и голод навсегда. И Александр знал способ. Книга снова спасёт мир!
    На этот раз он даже не начинал пытаться писать сам. А зачем, когда есть волшебная пила, которая решит все проблемы? Жаль, правда, что у человека только две ноги, но ничего, у него ещё есть руки. Хромов решил, что вполне обойдётся без левой руки: ради человечества ему ничего не жалко.
    И снова пила, кухня, жгут, бинты, сковорода, много крови и мяса! А наутро — новый роман, который рождается только от одного прикосновения.
    Вам интересно, как он назывался? Не важно, я всё равно скажу: на этот раз он назывался «Идеальное свидание» — и — да! — он искоренил бедность.
    И всё вроде должно быть хорошо. Терроризм, расизм и бедность уничтожены, но в мире ещё есть зло, а конечностей у нашего писателя практически не осталось.
    Александр Хромов хорошо помнил, что пальцы или ухо меня не устроят, мне нужно что-нибудь более веское. И он нашёл выход.
    Своим последним действием писатель решил изменить этот мир полностью. Он всё продумал. Инвалидное кресло находится как раз у того края, где появляются белые листы. Дробовик в руке упёрся в подбородок писателя. Когда он выстрелит, его мозги окажутся на потолке, а голова, точнее, то, что от неё останется, упадёт на будущий роман, который от прикосновения напишется сам. Письмо в редакцию отправлено, завтра за романом придут прямо к нему домой. Они найдут мёртвого писателя, а главное, найдут книгу, которая его обессмертит и изменит навсегда этот мир.
    Александр Хромов оказался очень хитёр, и я решил снова явиться к нему, так сказать, напоследок. На это раз он не был удивлён моему появлению, даже несмотря на то, что рога мои подросли, а из штанов торчал хвост.
    — Я рад, что ты появился, — сказал он, так и не отпустив дробовик. — Я хотел сказать тебе спасибо.
    Смотреть на него было страшно даже мне, а я, поверьте, навидался кошмаров. Безногий парень в инвалидном кресле, да еще с одной рукой, ужас! Он сильно исхудал, потому что практически не ел, только и делал, что смотрел новости и читал в Интернете статьи о себе. Александр Хромов помешался на себе и на мире, который он собственной кровью хотел изменить.
    — Может, одумаешься, ты уже сделал мир лучше. Что ты ещё хочешь поменять? — сказал я, хотя мне было плевать.
    — Всё! Моя смерть изменит это мир.
    — Весь мир ты всё равно не сможешь изменить, твоя жизнь не такая уж ценная, — а вот это чистая правда.
    — Не важно, я изменю хоть что-нибудь — это лучше, чем просто сидеть и ничего не делать!
    — Ну, тогда давай! Нажми на спусковой крючок, я хочу на это посмотреть.
    И я действительно хотел: нет ничего лучше, чем смотреть, как вы сами себя убиваете!
    Писатель ничего не ответил. Он закрыл глаза и нажал на спусковой крючок. Выстрел прогремел как гром среди ясного неба. Мозги, как я и предполагал, оказались на потолке. И, чёрт бы меня побрал (а для меня это даже очень хорошо), мозги на потолке напоминали открытую книгу — он точно был настоящим писателем! Его окровавленная голова упала на кипу листков, на которых тут же начали появляться строчки. Через минуту эти бумаги превратились в настоящую книгу, а я исчез, так как не хотел находиться в комнате с покойником.
    Наутро, как и предполагал Александр Хромов, его нашли мёртвого и с дыркой в голове. Но не это, как вы уже догадались, главное. Главное — роман, который нашли рядом с ним. Его опубликовали, и вы не удивитесь, когда я скажу, что он стал бестселлером, но ненадолго. Даже великие книги и великих писателей забывают. Александр Хромов стал как раз таким великим писателем, которого забыли. Изменил ли его последний роман мир? — ну конечно! Мир, в котором не было терроризма, расизма и бедности, перевернулся. В метро снова стали закладывать бомбы, многие снова стали относиться друг к другу по цвету кожи, а на улицах снова стали умирать дети от голода. Мир и вправду изменился!
    Знал ли я, что всё будет именно так с самого начала, когда только предлагал писателю отрезать ногу? Думаю, вы и сами знаете ответ. Что же касается самого Александра Хромова, то мы с ним теперь друзья. У него каждый день отрастают конечности, и он каждый день их режет — это очень весело. Будете в Аду — а многие из вас там будут — заходите в гости, сами всё увидите.
  {% endfilter %}

  {% filter prose("short") %}
    Я чуть не забыл сообщить вам бессмысленную информацию: тот роман, который перевернул мир, назывался «Писатель не от Бога»!
  {% endfilter %}
{% endblock %}

{% block reviews %}
  {% filter review("Иван Захаров", "icecreamhater", "13.07.2011 21:47") %}
    Рассказ оставил у меня несколько неоднозначные мысли. Написано вполне понятно и просто. Честное слово, сказал бы, что автору около 16-ти лет.
    По поводу эмоций: процесс чтения у меня сопровождался чувством отвращения, как при просмотре фильма ужасов с мозгами и кишками.
  {% endfilter %}

  {% filter review("Андрей Раскатов", "raskatov", "14.07.2011 11:46") %}
    Тема затронута интересная, и без некоторых неприятных деталей не обойтись. Тем не менее, есть, на мой взгляд, некоторые перегибы, например, неожиданно большая кровопотеря при ампутации. Если жгут наложен на бедро достаточно туго, то во время разъединения тканей кровотечения не будет вовсе. Или герой плохо жгут наложил, или не на то место — об этом автор молчит.
  {% endfilter %}

  {% filter review("Борис Хантаев", "buryan", "08.12.2011 21:11", "answer") %}
    Рад, что вам понравилось, а насчёт жгута вы, наверное, правы.
  {% endfilter %}
{% endblock %}
