{% extends template %}

{% set title = "Волшебник" %}
{% set pubdate = "09.11.2011" %}
{% set prev = "alra/poem-8" %}

{% block content %}
  {% filter poem %}
    На самой окраине — дом, тих и скромен.
    При домике садик, совсем небольшой.
    В округе все знают: живёт в этом доме
    Добрейший волшебник с широкой душой.

    Все жители города верят: не сможет
    Вломиться к ним в двери несчастье, беда:
    Добрейший волшебник спасёт и поможет,
    На помощь придёт днём и ночью — всегда.

    Со светлой, приветливой, доброй улыбкой,
    С душой, постоянно открытой для всех…
    Прийти к нему в гости — не будет ошибкой:
    Весь день в тихом домике слышится смех.

    А ночью, когда окончательно стихнет,
    Умаявшись за день, весь город большой…
    В холодной постели вдруг жалобно всхлипнет
    Усталый волшебник… С уставшей душой…
  {% endfilter %}
{% endblock %}
