{% extends template %}

{% set title = "Рисунок" %}
{% set pubdate = "09.11.2011" %}

{% block content %}
  {% filter poem %}
    Карандаш простой и кисти.
    Не люблю точилок — нож.
    И не холст — бумаги листик.
    Нарисую — не сотрёшь.

    Не листок, а листик, точно,
    Оговорки вовсе нет.
    Нарисую ярко, сочно
    Не пейзаж и не портрет —

    Домик маленький с окошком,
    Без изысков и затей,
    На окне рисую кошку
    В ожидании гостей.

    А чтоб те не заплутали,
    Прямиком пришли сюда —
    Вот свеча горит: едва ли
    Вы собьётесь, господа.

    Тёмно-синий лунный вечер
    Акварелью создаю…
    Так. Ещё штришок… Для встречи
    Всё готово: тишь, уют,

    Проторённая дорожка
    До порога, настежь дверь…
    Смотрим. Дом. Свеча. И кошка.
    Где же гости? Верь, не верь,

    Но гостей давно не видно,
    Пуст покоя островок…
    Просто грустно… и обидно,
    Что гостей зазвать не смог,

    Что в прибежище уюта
    Слышен только бой часов…
    Пусто… Горько почему-то
    Здесь без песен, голосов…

    Я смотрю, застыв, как в коме,
    Обомлев, едва дыша…
    Рисовал же просто домик!
    На листке… моя душа…
  {% endfilter %}
{% endblock %}
