{% extends template %}

{% set title = "Разговор с дождём" %}
{% set pubdate = "09.11.2011" %}
{% set next = "korovionkoff/quietly-1" %}

{% block content %}
  {% filter poem %}
    Бьётся в окно дождь,
    Плачет: «Впусти, друг,
    Ты же меня ждёшь,
    Чтоб завершить круг,

    Чтоб отыскать путь,
    Определить край,
    Чтоб разогнать муть
    И обрести… рай.

    Сам же хотел смыть
    Старых времён тлен;
    Сам же хотел жить,
    Преодолев плен

    Прошлого, сняв гнёт
    Пережитых лет
    И, растопив лёд,
    В душу вернуть свет.

    Шрамы былых ссор,
    Брошенных слов соль,
    Старых обид сор,
    Прежних потерь боль —

    Смою в один миг,
    Тягот прерву нить,
    Без колдовских книг
    Вновь научу жить.

    Ну же! Впусти!..» — Нет.
    Сор из души, хлам,
    Щепки былых бед
    Вымету я. Сам…
  {% endfilter %}
{% endblock %}

{% block reviews %}
  {% filter review("Алексей Горбатюк", "hoholist", "21.11.2011 21:22") %}
    Больше всего зацепил «Разговор с дождём». Какое-то противоречие между бодрым ритмом и грустью, пронизывающей всё стихотворение.
  {% endfilter %}
{% endblock %}
