{% extends template %}

{% set title = "Тепло и свет моей души примите в дар…" %}
{% set pubdate = "23.11.2011" %}

{% block content %}
  {% filter poem %}
    Тепло и свет моей души примите в дар…
    Взамен? Ну, разве только доброе словечко:
    Наградой станет мне, коль мой душевный жар
    Согреет хоть одно замёрзшее сердечко,

    Растопит лёд непонимания, обид,
    Невзгод и бед, вас донимавших бесконечно,
    Теплом наполнит, снова к жизни возродит
    То, что казалось замороженным навечно…

    Вы осознаете: любовь ещё жива.
    Не умерла она — забылась, задремала…
    Для пробуждения нужны ей не слова —
    Тепла душевного ей просто не хватало.

    И вновь закружит разноцветный хоровод
    Доброжелательных улыбок, счастья, света;
    Всё окружающее краски обретёт,
    Душа… воскреснет! Вот — награда для поэта…

    И, вдохновлённый, буду вновь в ночной тиши
    Писать стихи, теплом душевным наполняя…
    Примите в дар тепло и свет моей души.
    Оно — для вас, возьмите, я вас умоляю…
  {% endfilter %}
{% endblock %}
