{% extends template %}

{% set title = "Душа в скорлупе" %}
{% set pubdate = "23.11.2011" %}

{% block content %}
  {% filter poem %}
    Ранимую, доверчиво-святую,
    Ты душу, что от Бога получила,
    Скрываешь ото всех. И в золотую
    Скорлупку из фантазий заключила.

    Не бойся: скорлупы я не разрушу,
    Тебя вторженьем грубым не обижу —
    Мятущуюся, трепетную душу
    На расстояньи чувствую и вижу.

    Я вижу, как ей неуютно, тесно —
    Но скорлупа сковала, держит прочно.
    Мне это всё доподлинно известно,
    Я не предполагаю — знаю точно.

    Я знаю, как душа твоя томится,
    Я чувствую… Чему ты удивилась?
    Ты вспомни, что моей души частица
    В твоей душе когда-то растворилась…
  {% endfilter %}
{% endblock %}
