{% extends template %}

{% set title = "В запертую дверь" %}
{% set pubdate = "29.11.2011" %}

{% block content %}
  {% filter poem %}
    Рыча в глухом бессилии, как зверь,
    Так, что округа в страхе сотрясалась,
    Я снова рвался в запертую дверь…
    А может быть, мне просто показалось —

    И дверь была отнюдь не заперта,
    А просто сил немного не хватило.
    А может быть, и дверь была не та,
    В которую войти мне надо было…

    Но, как бы ни было, я дверь толкал,
    Я бил в неё ногами… Безуспешно.
    Я на неё всем телом налегал,
    Ругаясь и рыдая безутешно.

    Мне крайне нужно было дверь открыть!
    Что я хотел найти за ней? Не знаю.
    Но продолжал толкать, пинать, давить,
    В изнеможеньи чуть не умирая…

    Не удалось за дверь мне заглянуть,
    Увидеть то, о чём давно мечталось…
    А надо было просто потянуть —
    Дверь на себя свободно открывалась.
  {% endfilter %}
{% endblock %}
