{% extends template %}

{% set title = "Только не стихи!.." %}
{% set pubdate = "29.11.2011" %}

{% block content %}
  {% filter poem %}
    Ну здравствуй… Я — мириться, дорогая.
    Вот — розы, вот — французские духи.
    И… вот… всю ночь писал я, сна не зная…
    Что ты сказала?! Только не стихи?!!

    А чем тебе стихи-то не по нраву?
    Неужто так бездарны, так плохи?
    Что? Ты готова в дар принять отраву
    Иль пулю в сердце? Только не стихи?

    Ну, знаешь!!! Хоть терпенье и без края:
    Я в жизни не обидел и блохи…
    Но это — издевательство!.. Родная,
    Иди-ка ты… Нет! Только не в стихи…

    О! Проявленья гнева твои ярки!
    Готов принять их платой за грехи…
    И пусть в окно летят цветы, подарки!
    Пусть я — в окно! Но только не стихи!..

    Прошла гроза? Мы больше не лютуем?
    (Вот только уши — словно лопухи…)
    Скрепим же мир наш страстным поцелуем
    И впишем его… Только не в стихи!

    Поцеловавшись, станем мы не грубы,
    А томно-нежно-ласково-тихи…
    Куда целуешь?! Вот же мои губы!
    Сказал же — в губы! Только не в стихи!
  {% endfilter %}
{% endblock %}
