{% extends template %}

{% set title = "Седина — в бороду. А бес?.." %}
{% set pubdate = "29.11.2011" %}

{% block content %}
  {% filter poem %}
    Вот есть в народе присказка одна,
    Её, наверно, всякий слышал, знает:
    Лишь бороду украсит седина —
    Так бес в ребро немедленно толкает.

    Я этот факт, отнюдь не упустив,
    Решил проверить. Так, из интереса…
    И, бороду седую отпустив,
    Стал с нетерпеньем ждать визита беса.

    Мешает за обедом борода,
    А я всё жду: не слышно ль в сердце песни?
    И борода совсем уже седа,
    А бес всё не толкает, хоть ты тресни!

    Уже теряю к жизни интерес,
    Бессовестного беса поджидая…
    Эй! Заблудился, что ли, чёртов бес!
    Придёшь ли ты? И ждать ли мне — не знаю…

    Нет, не идёт. Хоть смейся, хоть рыдай…
    А с бородой я выгляжу балбесом…
    Эксперимент окончен. Баста. Край!
    Сбрил бороду к чертям! И… бес с ним, с бесом…
  {% endfilter %}
{% endblock %}
