{% extends template %}

{% set title = "Подруга моя" %}
{% set pubdate = "29.11.2011" %}
{% set next = "raskatov/poem-1" %}

{% block content %}
  {% filter poem %}
    Подруга моя, сколько лет мы с тобою
    Единое целое — не сосчитать…
    Мы вместе стареем, но оба душою
    Юны и задорны, друг другу под стать.

    Твой тонкий настрой мне всегда был по нраву:
    Ты можешь заплакать от сердца, навзрыд;
    О чём-то взгрустнуть; накричаться на славу;
    Веселье твоё — всех вокруг заразит.

    Когда вечерами спадёт напряженье
    Дневной суматохи, возни, суеты,
    Тогда, примостясь у меня на колене,
    Ко мне прижимаешься ласково ты.

    Изгибы твои мне знакомы до боли,
    Ласкаю и глажу их с нежностью я.
    Расстаться с тобой я себе не позволю,
    Моя шестиструнка, гитара моя…
  {% endfilter %}
{% endblock %}
