{% extends template %}

{% set title = "Ну и денёк…" %}
{% set pubdate = "29.11.2011" %}

{% block content %}
  {% filter poem %}
    Вот же выдался день! Всё не так, как назло:
    Встал не с той, что обычно, ноги,
    И, как водится, сразу же не повезло:
    Свет отключен — не видно ни зги!

    Света нет — полбеды, так ведь водопровод
    Приказал долго праведно жить:
    Кран, зверея, кручу — а вода не идёт!
    Не умыться и щёк не побрить…

    Только вышел из дома — три чёрных кота,
    Будто ждали нарочно меня,
    Возле ног, друг за другом, гуськом… Красота!
    Замер в ступоре, беса кляня,

    Сплюнул влево, как принято, трижды… Попал!
    Но не в беса — соседу на плащ —
    Шёл сосед за мной следом и чуть не упал,
    В шок повергнут… Хоть смейся, хоть плачь!

    Извинился, конечно, исчерпан вопрос —
    И за руль. Но злорадствует бес:
    Пробка жуткая: иль ДТП, иль занос —
    И, увы, невозможно в объезд…

    До работы добрался… без нервов, без сил,
    Неумытый, помят и небрит…
    Чашку кофе себе принести попросил…
    Отдохну-ка хоть здесь… Бог простит.
  {% endfilter %}
{% endblock %}
