{% extends template %}

{% set title = "А что бы стоило Вам дом мой посетить…" %}
{% set pubdate = "10.11.2011" %}
{% set next = "korovionkoff/destiny-1" %}

{% block content %}
  {% filter poem %}
    Не посетить ли Вам, сударыня, мой дом?
    Для Вас я вход в него держу всегда открытым.
    Мы посидели б с Вами чинно за столом,
    Поговорили бы о вечном, не забытом…
    Нет, право, что Вам стоит посетить мой дом!

    Да, я, как видите, давно не офицер.
    Да, дочки. Две. А внуки?.. Скоро будут внуки.
    Да, я по-прежнему галантный кавалер.
    И, как и прежде, я целую дамам руки.
    Прошу простить за то, что я — не офицер…

    Ну, Вы же знаете, что сам я не спрошу…
    Да, я всё так же очень глупо деликатен.
    Ну, вот… Опять я Вас манерами смешу!
    А смех… как прежде… музыкален и приятен.
    Прекрасно знаете, что сам я не спрошу.

    А где?.. Ах, вот ведь как сложилось… И давно?
    А ностальгия? Понимаю… временами…
    Жизнь? Как обычно — чёрно-белое кино…
    И… я забыл, что там… когда-то… между нами…
    А я не знал, что в дальних странах Вы давно…

    Желаю счастья Вам… И смею повторить:
    Для Вас в мой дом открыты двери — денно, нощно.
    Проездом будете — извольте навестить…
    Что? Никогда?.. Пожалуй, лучше… Это — точно…
    А что бы стоило Вам дом мой посетить…
  {% endfilter %}
{% endblock %}
