{% extends template %}

{% set title = "А рукописи не горят…" %}
{% set pubdate = "28.11.2011" %}

{% block content %}
  {% filter poem %}
    Слова написаны. Излиты
    Раздумья, мысли… И забыты?
    Нет. Видно, правду говорят:
    Написаны — уже реальны,
    Весомей стали во сто крат,
    Абсурдны или идеальны —
    Они вполне материальны…
    А рукописи не горят…

    Слова — знамёна мыслей, флаги…
    И пишутся не на бумаге,
    А в высших сферах… Бытия?
    Иль в сферах высшего сознанья?
    Сокрыта истина сия,
    Непостижима для познанья…
    Постичь глубины мирозданья
    Пока, увы, не в силах я,

    Да и никто… Непостижимы,
    Для разума недостижимы
    Глубины философских сфер,
    Смысл изначально бесконечный…
    Скиталец вечный Агасфер —
    И тот не смог бы, хоть и вечный,
    В поток сознанья быстротечный
    Проникнуть мыслью, например…

    Все пироманы, геростраты
    Бессильны — пусть горят палаты,
    Устои каменных оград,
    Горят мосты и виадуки,
    Сгорают храмы муз, науки,
    Дворцы, лачуги — всё подряд,
    Всё, что смогли воздвигнуть руки…
    А рукописи не горят…
  {% endfilter %}
{% endblock %}
