{% extends template %}

{% set title = "От рассвета до заката" %}
{% set pubdate = "28.11.2011" %}

{% block content %}
  <div class="art__poem">
    <h2 class="art__subtitle">Рассветный час…</h2>
    {% filter poem("raw") %}
      Рассветный час… В предутреннем тумане
      Почти неразличимы краски дня —
      Театр теней на матовом экране…
      Рожденье, детство, юность — словно грани,
      В оправе из тончайшей филиграни,
      Алмаза — камня, полного огня…
    {% endfilter %}

    <h2 class="art__subtitle">И первый луч…</h2>
    {% filter poem("raw") %}
      И первый луч небесного светила
      Мир озарит и краски оживит…
      Взросленье. Обретенье знаний, силы,
      Азарта, воли, разума и пыла,
      Желанья жить, да так, чтоб жизнь пьянила,
      Чтоб каждый день был с пользою прожит…
    {% endfilter %}

    <h2 class="art__subtitle">День наступил…</h2>
    {% filter poem("raw") %}
      День наступил, неся с собой цветенье
      Оттенков, красок яркую игру…
      Прошёл период самоутвержденья,
      Настало время переосмысленья
      Пережито{{acute}}го, муки и сомненья,
      Похмелья, может быть, в чужом пиру…
    {% endfilter %}

    <h2 class="art__subtitle">Вот и закат…</h2>
    {% filter poem("raw") %}
      Вот и закат приходит неизбежно
      И повергает краски в мир теней…
      Не опыт — мудрость — широко, безбрежно
      Овладевает разумом прилежно.
      Любое чувство — обострённо-нежно,
      Сентиментально… на исходе дней…
    {% endfilter %}

    <h2 class="art__subtitle">И грядет ночь…</h2>
    {% filter poem("raw") %}
      И грядет ночь… А вслед за нею — утро!..
    {% endfilter %}
  </div>
{% endblock %}
