{% extends template %}

{% set title = "В подземном переходе. Музыкант" %}
{% set pubdate = "28.11.2011" %}
{% set prev = "korovionkoff/heat-7" %}

{% block content %}
  {% filter poem %}
    В подземном переходе у вокзала
    Играл самозабвенно гитарист.
    В его руках гитара то рыдала,
    То смех звучал — заливист, серебрист…

    Она жила! И отзывалась чутко
    На лёгкие касанья нервов-струн:
    То вскрикивала вдруг надрывно-жутко,
    То замирала… Голос свеж и юн,

    Предельно чист, без фальши, нежно-звонок —
    То рокотал тревожно на басах,
    То причитал, как плачущий ребёнок,
    То пел, как ангел в горних небесах…

    Вокруг, забыв рутинные заботы,
    Не помня, что кого-то где-то ждут,
    Что время — деньги без рассрочек, квоты,
    Застыл, притих всегда спешащий люд…

    Невидяще и как-то отрешённо
    Смотрел в пространство парень-музыкант…
    Ошеломлённо и заворожённо
    Внимал народ. Вот истинный талант!
  {% endfilter %}
{% endblock %}
