{% extends template %}

{% set title = "Хрустальный нежный перезвон…" %}
{% set pubdate = "28.11.2011" %}

{% block content %}
  {% filter poem %}
    Хрустальный, тонкий, очень нежный перезвон,
    Чуть ощутимый, как прикосновенье,
    Касанье лёгкое… Звучит со всех сторон…
    Что значит это странное явленье?

    Ночные улицы, во власти тишины,
    Не по-дневному странно молчаливы,
    И в их молчании всё явственней слышны
    Неведомого звона переливы.

    Стою и слушаю. И силюсь осознать
    Природу чудных звуков непонятных:
    Да уж не ангелам ли вздумалось играть
    На инструментах, слуху столь приятных?

    Ну и какой же музыкальный инструмент
    Способен на божественные звуки?
    В моей душе восторг! Чарующий момент…
    Я затаил дыханье, стиснул руки…

    На тонких-тонких ветках капельки дождя,
    Дневного, ночью тронуты морозом,
    При самом лёгком ветре, душу бередя,
    Звон издают, подобный нежным грёзам…
  {% endfilter %}
{% endblock %}
