{% extends template %}

{% set title = "Заблудился во времени" %}
{% set pubdate = "28.11.2011" %}

{% block content %}
  {% filter poem %}
    Заблудился во времени… Наверняка заблудился:
    Видно, кто-то ошибся — и я средь веков заплутал.
    Часто чувствую, что не в свою я эпоху родился…
    Поспешил? Нет, скорее — на век или два опоздал.

    Не приемлю разгула обмана и хамства господство,
    От обилия лжи просто кругом идёт голова:
    Часто слышу — «достоинство», «мужество», «честь», «благородство»…
    Только как-то не так понимаются эти слова.

    Я не чувствую лет, и мой возраст меня не смущает —
    Я смущаю других оптимизмом, живущим во мне.
    Я летаю во сне, и меня это не удивляет —
    Удивляются те, кто не знает полётов во сне.

    Умилить меня может на маленькой девочке бантик,
    Вгонит в гнев суесловье ханжей и бездарных невежд.
    Про меня говорят: «Что возьмёшь? Безнадёжный романтик»…
    Безнадёжный? Романтик! И полон прекрасных надежд.

    Мне претит серый фон и унылые мрачные лица,
    Я хочу быть собой, быть любимым, мечтать и любить!..
    Да… Наверное, я опоздал в своё время родиться…
    Или нет — поспешил… Что же делать? Приходится… жить…
  {% endfilter %}
{% endblock %}
