{% extends template %}

{% set title = "Закат" %}
{% set pubdate = "28.11.2011" %}

{% block content %}
  {% filter poem %}
    Тревожных красок гневная палитра
    Багрянцем расцветила небосклон…
    Я из окна, смятеньем поражён,
    Смотрел, как дирижёр из-за пюпитра…

    Предчувствий мрачных тяжкое удушье
    Подкатывало к горлу, словно ком,
    Катилось сердце в бездну кувырком…
    Зловещих туч багровое подбрюшье

    Вселяло ужас первобытный в душу,
    Влекло, к себе притягивало взгляд,
    Напоминая то ль разверстый ад,
    То ли вулкан, грозящий: «Я разрушу,

    Я погребу под пеплом эту землю,
    Покрою лавой! И спасенья нет.
    Жалейте же, что рождены на свет!»
    Объятый страхом, трепещу и внемлю,

    И вижу — однозначно, не двояко,
    Что предвещает гневный сей закат:
    Светило — раскалённый жуткий ад —
    Садится в тучу… Всё!!! К дождю, однако…
  {% endfilter %}
{% endblock %}
