{% extends template %}

{% set parentTitle = "Фантазии маленького Кая" %}
{% set title = "Глава VIII. Возвращение домой" %}
{% set pubdate = "22.09.2011" %}
{% set next = "avgustina/blog-1-0" %}

{% block content %}
  {% filter prose %}
    Когда Кай проснулся, за окном было так же темно, как тогда, когда он засыпал. Проспав весь день, он хорошо отдохнул и не заметил ухода Наамы.
    Лакей, которого он встретил в коридоре, пригласил его к ужину. Хорошенько перекусив, Кай поинтересовался, где хозяйка особняка.
    В ответ ему была вручена записка. Развернув белый лист бумаги, Кай прочёл:
    «Дорогой Кай! Мне пришлось покинуть тебя, потому что у меня возникли срочные дела. Я очень рада тому, что ты помог мне вытащить ещё одну душу в этот мир. Мы навсегда останемся благодарны тебе за это. Мои дети помогут тебе добраться к тому месту, о котором ты шептал, когда засыпал. Я навела справки и узнала, где это находится. Тебя доставят на мой личный самолёт, а уже там тебя будет ждать машина, которая и привезёт тебя в «Старый вяз». Март будет сопровождать тебя всё это время. Я же обязательно найду тебя позже, когда твой брат научится всем необходимым вещам. Ещё раз благодарю тебя от всех нас и желаю удачного возвращения».
    Возвращение действительно было удачным. Удачно добравшись на машине до аэропорта, Кай в сопровождении Марта сел в небольшой самолёт и оказался в небе. Полёт был недолгим. Всё это время он разговаривал с Мартом о том, чем занимается Наама и как ей помогают её дети. Оказывается, по всему миру у неё имеются различные заводы и фабрики. В нескольких городах даже есть приюты для детей и больницы, которые также принадлежат Нааме. Март рассказал Каю о том, как Наама помогла ему оказаться здесь и как он был благодарен ей. Рассказал он ему и об остальных своих братьях, которые вместе с ним вели дела Наамы.
    В ответ Кай поведал ему свою странную историю о том, как он повстречал тролля, которого когда-то придумал, и совершил с ним путешествие в Серый заповедник. Март внимательно его выслушал и посоветовал быть осторожным в полдень, когда тени становятся сильными.
    Когда самолёт приземлился, Кая посадили в машину, которая доставила его прямиком к «Старому вязу». Попрощавшись с Мартом, Кай уселся возле высокого дерева и некоторое время размышлял о том, как ему лучше попасть внутрь.
    Не найдя более подходящего способа, как забраться по водосточной трубе на крышу и уже оттуда попасть в палату Келли, он уже хотел было направиться к зданию, однако, нащупав в кармане круглые тяжёлые часы, остановился.
    Достав их, он открыл верхнюю крышку и посмотрел на стрелки, которых было несколько. Кай вспомнил, как придумал их, разгадывая загадку паука. Он точно помнил, что на тех часах было две стрелки. Однако на часах, которые он держал в руках, теперь стрелок было несколько. Да и деления на циферблате не походили на обычные. По окружности циферблата были вырисованы несколько кругов и разноцветных секторов с непонятными символами.
    Сбоку он нащупал несколько кнопок, а на задней крышке было ещё несколько подвижных выступов, которые можно было по ней перемещать.
    «Выходит, я по ошибке подобрал часы того гоблина», — с досадой подумал Кай. Он вспомнил, что тот рассказывал ему про эти часы, и задумался.
    — Интересно, как они действуют, — произнёс тихо Кай, поворачивая один из выступов и нажимая среднюю кнопку.
    Необычные часы отреагировали на его действие странным ходом стрелок, одна из которых быстро закрутилась по циферблату, а другая медленно переместилась на зелёное деление с непонятным символом, который был похож на перевёрнутую вверх тормашками букву Т.
    Внезапно ветер, трепавший волосы мальчика, стих. Кай посмотрел вверх и увидел, что листва на дереве больше не шевелится.
    Отойдя подальше, он обнаружил птицу, что пролетала мимо. Та, широко расправив крылья, застыла в полёте и не двигалась.
    — Я остановил время, — прошептал Кай. Улыбнувшись, он добавил: — Что ж, теперь мне не обязательно лезть на крышу, чтобы незаметно проникнуть внутрь.
    С этими словами он направился к главному входу в здание.
    Внутри он увидел несколько фигур людей, застывших за своими привычными делами.
    Пройдя мимо санитара, застывшего с коляской, в которой мирно дремала пожилая женщина, он направился к сторожу, который замер с чашкой кофе, так и не донеся её до рта.
    Пройдя мимо него, Кай оказался в коридоре, у стены которого, наклонившись к ведру с водой, застыла уборщица.
    «Здорово, — подумал Кай, — а эти часы, оказывается, — забавная штука».
    Пройдя по коридору, он оказался возле уже знакомого ему столика, за которым сидела полная медсестра, замерев с бумагой листа и ручкой в зубах.
    — Значит, повернув направо, я окажусь у палаты Келли! — радостно заключил Кай.
    И правда: стоило ему обогнуть стол с медсестрой и, повернув направо, пройти несколько метров, как он оказался у палаты, на двери которой висела знакомая табличка. Толкнув дверь рукой, Кай с удивлением обнаружил, что она не заперта.
    Войдя в палату, он увидел Келли, которая, укутавшись в одеяло, дремала на своей узкой койке.
    Кай подошёл к ней и присел рядом. Он посмотрел на её лицо, которое было задумчивым.
    «Интересно, — подумал он, — какой сон ей сейчас снится?»
    Прикоснувшись ладонью к её щеке, Кай ощутил приятное тепло. Ресницы девочки несколько раз вздрогнули, и она проснулась.
    Посмотрев на него удивлённым взглядом, Келли наконец улыбнулась и обняла Кая.
    — А я уже думала, ты потерялся, — с несвойственным ей ребячеством произнесла она, — где ты был?
    — Я выполнил все свои обещания, — радостно произнёс Кай, — и обзавёлся интересной вещицей.
    Вытащив из кармана часы, он протянул их Келли.
    — Что это? — спросила она, крутя в руках часы.
    — Эти часы могут останавливать время, — заявил Кай, — они оказались у меня случайно, и, по всей видимости, тот, к кому я прикасаюсь во время того, как время останавливается, становится неподвластен их действию.
    — Интересно, — произнесла девочка, рассматривая часы, — и сейчас ты остановил время?
    — Да, — махнув головой, ответил Кай.
    — И как отменить их действие? — спросила она.
    — Понятия не имею, — сказал Кай, — они у меня недавно.
    — Может быть, Альберт знает, — произнесла быстро Келли и спрыгнула с кровати, — пойдём.
    Палата Альберта находилась в противоположенном крыле. Открыв дверь, Келли и Кай увидели сидящего в кресле-качалке Альберта, который замер у окна с книгой в руках. Кай прикоснулся к нему, и старик встрепенулся.
    — Как вы здесь оказались? — спросил настороженно он, — ведь секунду назад вас здесь не было.
    — Это всё его странные часы, — произнесла Келли.
    Альберт посмотрел на Кая и радостно улыбнулся.
    — Рэм рассказал нам, что потерял тебя, когда сражался с Хозяином ливня, — произнёс он, — как ты?
    — Хорошо, — ответил Кай, — я встретился с Наамой, и у меня случайно оказались часы, останавливающие время.
    Старик настороженно поправил очки и переспросил:
    — С Наамой?
    — Да, — ответил Кай, — она помогла мне выполнить своё последнее обещание.
    — А что за часы? — спросил Альберт, поднимаясь с кресла.
    — Я по ошибке поднял их в электричке, — протянув часы, проговорил Кай, — они могут останавливать время.
    — Волшебный маятник, — произнёс Альберт, раскрывая полученный часы, — ты представляешь, что оказалось у тебя в руках?
    — Честно говоря, не совсем, — ответил растерянно Кай, — кроме того, что они могут останавливать время.
    — Волшебный маятник был сделан много веков назад одним безумным творцом, — произнёс, изучая странный циферблат, Альберт, — они могут не только останавливать время, но и обращать его вспять.
    — Замечательно, — произнёс Кай.
    Старик подошёл к книжной полке, стоящей в углу комнаты, и, пройдясь пальцами по переплётам книг, достал одну из них.
    — Вот, — прошептал он, — «Полезные вещи творцов», — прочитал он на обложке и открыл книгу. Перелистав несколько страниц, Альберт остановился на одной из них и прочитал: — Волшебный маятник, потерянный несколько веков назад, обладает свойством останавливать время, обращать его вспять и направлять своё действие на других людей.
    — Что это значит — обращать своё действие на других людей? — спросил Кай, всматриваясь в старые страницы.
    — Это значит, что эти часики могут возвращать вспять время, которое прошло для определённых людей, — произнёс старик.
    — Выходит, если я захочу вернуться домой и сделать так, чтобы мои родители не заметили моего исчезновения и воспринимали всё так, как будто ничего не произошло, эти часы помогут мне сделать это? — спросил возбуждённо Кай.
    — По идее, да, — ответил Альберт, — надо только разобраться как они работают.
    — А тут и разбираться нечего, — взяв из рук Альберта часы, произнёс Кай, — эти стрелки предназначены для отсчёта и остановки времени, а эти — для возврата назад. — Покрутив часы в руках, Кай добавил: — При помощи символов и этих двух маленьких стрелок можно задать, для кого и когда остановится время или обратится вспять. Необходимо только высчитать, какой знак и какой сектор циферблата соответствует нужному человеку.
    — Откуда ты это взял? — спросил Альберт.
    — Я вспомнил, что видел подобные символы в одной астрологической книге, — произнёс мальчик, — высчитаем, как и на какие знаки поставить самые маленькие стрелки, и тогда родители не заметят моего исчезновения.
    — Тогда, с твоего позволения, я снова запущу время, — произнёс Альберт и нажал на кнопку.
    Часы щёлкнули стрелками и остановились.
    — Ну а мы подождём, пока стемнеет, и придём ко всем в Беседный зал, — произнесла Келли.
    — А я пока покопаюсь в книгах и постараюсь изучить, как работают эти символы, — произнёс Альберт, — думаю, сегодня ночью ты вернёшься домой, а то твои родители уже, наверно, с ума сошли.
    Как и договорились, когда стемнело, Кай и Келли пробрались к заветным дверям и вошли в беседный зал. Тролль, которого Кай обнаружил в палате Келли, весьма обрадовался его появлению и принялся жаловаться Каю, как здесь его все принижали и забрасывали поучениями. Ещё он рассказал Каю, что за него все переживали и уже начали предпринимать меры по его поискам.
    Оказавшись в Беседном зале, Кай увидел уже знакомый стол, вокруг которого сидели знакомые творцы.
    Но одного человека Кай здесь не знал.
    Пожилой высокий мужчина увидел, как они заходят в зал, и, встав, направился к ним.
    Кай сразу догадался, что это был тот сказочник, который придумал парк снов и древесную деву.
    — Я ждал тебя, — произнёс мужчина, приблизившись к Каю, — рад встретиться с тобой, Кай.
    Клаус наклонился и протянул руку Каю. Кай с удовольствием пожал её.
    — Мне очень помог фокус с костями, который вы придумали, — произнёс Кай.
    — Спасибо тебе, — произнёс Клаус и обнял Кая.
    Кай почувствовал себя слегка неловко, однако обнял мужчину в ответ.
    — Ну присаживайтесь, — произнесла, подходя к ним, Агата и обняла Кая за плечо, — мы здесь все переволновались за тебя, — и она и повела Кая ко всем.
    — Юный везунчик, — услышал Кай голос толстяка, — рад видеть тебя.
    Кай поблагодарил его в ответ и сел за стол.
    — Как же ты проворонил маску? — спросил толстяк его.
    — Он пожертвовал ей, воплощая фантазию несчастного художника, — прозвучал голос Рэма. — Достойный поступок для твоего возраста.
    Рэм сидел поодаль вместе со своим темноволосым братом и, как прежде, улыбался.
    — Я рад, что с вами всё в порядке, — произнёс Кай ему.
    — Со мной всегда всё в порядке, Кай, — прозвучал весёлый голос Рэма, — я бессмертный. Я волновался за тебя.
    — Было бы весьма некстати потерять такого сильного донора, — добавил Ромул, хитро улыбаясь.
    — Вы очень кстати оказались возле старого метро, — озадаченно произнесла Агата, — Рэм рассказал нам про ваше путешествие. То, что хитрый ткач, которого ты великолепно обыграл в его же игру, решил напоследок отомстить тебе, кажется мне весьма предсказуемым.
    — Если смотреть на эту ситуацию сейчас, — произнёс, обнимая Агату, Клаус, — тогда же они были увлечены поисками маски, и ход событий просто не было времени анализировать.
    — Во всяком случае, у мальчика, — укоризненно посмотрев на Рэма, произнесла Агата.
    Рэм улыбнулся в ответ своей обычной улыбкой.
    — Возможно ли было всё предугадать? — спросил он, — нам повезло, что он остался цел.
    — Тебе просто захотелось посмотреть, какой выбор он сделает, — произнесла Агата, — ты предвидел подвох, Рэм, я успела тебя узнать.
    Ромул весело просмеялся в ответ и легонько толкнул плечом своего брата:
    — Тебя раскрыли, дружище!
    — Ты не сможешь меня узнать никогда, — ответил Рэм Агате, — для этого тебе потребовалось бы прожить столько, сколько прожил я.
    Он посмотрел на Кая и произнёс:
    — Я предполагал, что ты сделаешь что-то в этом роде.
    — Просто мы позволили себе поспорить, — сказал Ромул.
    — И я выиграл спор, — подтверждая слова брата, произнёс Рэм.
    Тролль молча прошёлся мимо них и уселся на свободный стул.
    — Я слышал, ты повстречал Нааму, — спросил у Кая толстяк, — неужели это правда?
    Кай кивнул головой и, посмотрев на тролля, решил, что будет лучше, если он не станет вдаваться в подробности всего того, что произошло с ним в электричке и в особняке. Посмотрев на Альберта вопросительно, он увидел, как тот легонько кивнул ему незаметно для всех, и, обратившись к Клаусу, произнёс:
    — Прекрасный повод написать ещё что-нибудь, старина.
    Клаус посмотрел на Кая и добродушно ответил:
    — Хочу вспомнить былые времена и взять перо в руки. — Он посмотрел на Агату и добавил: — Но я провёл слишком много времени здесь, и теперь, я думаю, нам не помешает немного попутешествовать.
    Агата одобряюще улыбнулась и сделала небольшой глоток из своей кружки.
    — Ну а что же ты, — обратился толстяк к Каю, — что бы ты хотел, чтоб произошло далее?
    — Я думаю вернуться к родителям и побыть некоторое время дома, — произнёс Кай откровенно.
    — И как же, думаешь, они отнесутся к твоему долгому отсутствию? — хитро улыбаясь, спросил толстяк, глядя своими маленькими тёмными глазками.
    — Думаю, будут рады узнать, что со мной всё в порядке, — ответил Кай, в глубине души надеясь, что Альберт сумел разгадать секрет символов на часах.
    — И ты полагаешь, что, упустив маску, ты сможешь долго находиться там?
    Толстяк хитрил и что-то чувствовал — это было видно по его интонации и улыбке.
    — Постараюсь поболеть немного, — произнёс спокойно Кай, — а там будет видно.
    — К тому же, у него есть зонтик мрака и неплохой длинноносый оз, который уже однажды выручил его, — пришла на помощь Каю Келли, — некоторое время я буду его навещать, пока мы не раздобудем ему новую маску.
    — Или не придумаем что-нибудь ещё, — добавил Альберт.
    Некоторое время Каю пришлось потратить на рассказ, как он перехитрил паука, потому что любопытный толстяк, да и все остальные попросили его пересказать это несколько раз.
    Когда же он начал рассказывать про то, что ему удалось увидеть в глазах несчастного художника, толстяк долго распрашивал, почему он поступил именно так.
    Клаус же, наоборот, попросил его подробнее описать картины, которые он увидел в воспоминаниях того человека, и, внимательно выслушав, согласился, что он и сам бы не смог поступить иначе.
    Кай не стал подробно рассказывать про то, что произошло в метро, потому что ему показалось весьма важным то обстоятельство, что у него оказались странные часы, обладающие такой способностью манипулировать временем.
    Рассказ о Нааме заинтересовал толстяка и братьев, которые, внимательно выслушав его, начали делиться воспоминаниями о том, какое впечатление произвела она на них во время их встречи с ней.
    — Странная она, — произнёс толстяк, — глаза непонятные, кожа холодная, а разговоры угрюмые, впрочем, как и то, чем она занимается.
    — Когда-то она была другой, — почесав подбородок, произнёс Рэм, — однако мысли о детях её изменили очень сильно. Но она интересный персонаж, — Рэм посмотрел на своего брата, — как она тебе?
    — Довольно серая, — произнёс он нехотя, — хотя могла бы быть чернее ночи. Мне бы её способности.
    — Что значит быть чёрным и серым? — задал Кай вопрос, который хотел задать ещё при первом посещении Беседного зала.
    — Принадлежность к образу жизни и мышлению, — произнёс Альберт, — ну и к поступкам, разумеется.
    — Вот сначала я думал, что ты серый, — произнёс Ромул, — даже надеялся, что можешь оказаться чёрным.
    — Однако теперь никто из нас не может сказать наверняка, какой ты, — добавил Рэм, — твой поступок поменял тона и направление силы, которой ты нас питаешь.
    — Ты и не серый, — прошептал Ромул, — не чёрный, — он засмеялся, — но и не светлый. Таких вообще единицы, и Рэм бережёт их как зеницу ока.
    — Но тогда какой же я? — спросил Кай у Альберта.
    — По всей видимости, у тебя какое-то своё собственное назначение, — ответил он, — которое не исключает всё то, что было здесь перечислено, потому что поток силы одинаково поступает как в Ромула, так и в Рэма.
    — Я даю силу как одному, так и другому? — спросил Кай.
    — Да, — произнесла Агата, — и это весьма необычное явление, если учесть то, что большинство творцов серые по своей природе, и их сила практически не передаётся братьям, которые питаются силами, противоположными друг другу.
    — Поэтому они и не вмешиваются в жизнь тех творцов, которыми манипулирует Моб, — произнёс Кай.
    — Потому что они серые, — кивнула Агата
    — А мы защищаем либо тёмных, либо светлых, — произнёс Рэм.
    — Брат не стал бы помогать тебе, если бы у него не было в этом своих интересов, — продолжил Ромул, — он полагал, что ты можешь стать светлым, да и старина Клаус — тоже неплохой донор.
    — Вы светлый, — произнёс, Кай обращаясь к сказочнику.
    Тот кивнул, улыбнувшись:
    — И даже когда твой поступок, казалось, мог сделать тебя светлым, поток силы, которая шла от тебя к Ромулу, не прекратился.
    — А должен был, — вставил своё слово толстяк, — потому что его питают только такие, как я.
    — Тёмные, — ворчливо произнесла Агата.
    — Поэтому тебе повезло, — сказал Рэм, — в наших интересах приглядывать за таким ценным донором.
    — Добро пожаловать в компанию, — произнёс толстяк, лукаво улыбаясь.
    После этого вся компания ещё долго разговаривала на различные темы.
    Агата и Клаус обсуждали, куда они отправятся путешествовать. Келли и Рэм беседовали по поводу того, как им следует поступать, присматривая за Каем, а тролль и Ромул принялись играть в карты, в которые всегда проигрывал тролль.
    И лишь старый Альберт не проронил ни слова. Он выглядел задумчиво, тихо попивая горячий шоколад.
    В конце вечера, а вернее будет сказать, ночи, компания, простившись с Каем, разошлась, оставив Келли, тролля и Кая в общества Альберта.
    Убедившись, что они остались одни, Альберт подозвал к себе троицу и достал из кармана часы и листы тетради, исписанные заметками.
    — Ты правильно сделал, что не рассказал про свою находку, — похвалил старик мальчика, — не стоит распространяться про такую важную вещь, которая может натворить многое.
    — Тебе удалось научиться с ними обращаться, Альберт? — спросила Келли, увлечённо рассматривая писанину на листе.
    — Пожалуй, — произнёс старик, — всё оказалось весьма просто, стоило лишь покопаться в нужных книгах.
    — Ты любишь это занятие, — сказала Келли, — ну давай же, рассказывай!
    Тролль уселся, как обычно, прямо на стол и молча стал ждать, что скажет Альберт.
    — Эти символы, — указав на разноцветный циферблат, произнёс Альберт, — как ты правильно предположил, и впрямь есть не что иное, как обозначения планет и их спутников. Также здесь есть небольшие деления, над каждым из которых имеется свой знак. Оказывается, это буквы странного языка, учебник по которому я позаимствовал у Клауса — он у нас мастер по наречиям, — Альберт подвинул лист исписанной бумаги и продолжил: — Имена должны быть выставлены этими тонкими стрелками на делениях с буквами наречия гномов — вот так. — Старик повернул несколько пластинок на задней крышке часов. — Все имена состоят из странного сочетания этих букв.
    После того как он закончил свои действия, Кай увидел, что механизм часов тихонько щёлкнул и из циферблата вылезли через едва заметные отверстия ещё две красные стрелки.
    — А теперь размещаем эти стрелки так, чтобы они совпадали со знаками-планетами, под которыми твои родители были рождены. Высчитать это было несложно, раньше я занимался разоблачением гороскопов шутки ради.
    Альберт повернул спусковой механизм сбоку, и стрелки сдвинулись на зелёный и оранжевый сектора циферблата.
    — Ну и дело за малым, — произнёс, облизывая губы, старик, — надо отсчитать, на сколько время для них должно вернуться.
    Кай принялся прикидывать в уме, сколько же могло пройти времени с тех пор, как он с троллем шагнул в зеркало.
    — Можешь не утруждать себя, — пробормотал тролль, — ровно неделя, — достав из кармана дырявых штанов потрёпанный блокнот, он показал кривые палочки, нацарапанные чёрным карандашом, — я отмечаю каждый день и веду собственный дневник.
    — Тоже мне, летописец, — потрепав по грязным волосам тролля, улыбнулась Келли, — впрочем, ты весьма забавен и можешь быть полезным.
    — Ну-ну, — пробормотал тролль, поправляя грязные волосы.
    — Отсчитываем обычными стрелками ровно семь дней, — произнёс старик, поворачивая большие толстые стрелки, — их найти легко — они самые заметные.
    Потратив несколько минут на то, чтобы отсчитать семь дней на циферблате, Альберт наконец перевёл дух и нажал на длинную, вылезшую из правого бока часов, кнопку.
    Часы зазвенели и, медленно щёлкнув три раза, затикали.
    — Теперь всё время, которое касается произошедшего с твоими родителми, вернётся на семь дней назад, и они не заметят твоего исчезновения, — произнёс Альберт, — однако ты должен пообещать мне, что будешь беречь эти часы как зеницу ока.
    — Обещаю, — ответил Кай, — но, признаться честно, я думал, что вы оставите их у себя.
    — Они тебе ещё пригодятся, — произнёс озадаченно старик, — не забывай, что тебя будут искать тени и ты можешь удрать от них, просто остановив время.
    Глаза тролля загорелись.
    — Вот оно что, — произнёс оживленно он, — а я всё в толк не мог взять, что это вы задумали.
    — Обещай, что больше никто не узнает о них, — серьезно сказал Клаус, — обещай, что будешь хранить их.
    — Обещаю, — ответил Кай, — они всегда будут у меня.
    — Тогда удачи! — произнёс Альберт, — и до встречи, маленький творец.
    — До встречи, — ответил Кай, не понимая, как должен оказаться дома.
    Келли взяла Кая за руку:
    — Теперь пойдём. У меня в палате зеркало — через него ты попадёшь домой.
    Кай вспомнил про необычное зеркало Келли, которое могло открывать проход во все зеркала, и поспешил за ней.
    — Ну вот, — произнесла Келли, оказавшись у зеркала, — пришло время вернуться домой.
    Её глаза как-то странно заблестели.
    — Я лишь хочу повидать своих родителей, — заметил Кай, — думаю, мы ещё увидимся.
    — Ещё как! — произнесла Келли, — мне тоже нужно возвращаться, Ильна уже заждалась меня там.
    — Незачем тебе там быть. Рано или поздно она догадается, что ты помогаешь творцам.
    Келли вздохнула.
    — Может, и так. Однако мне нравится Серый заповедник и те, кто там появляются. Мне нравится ухаживать за статуями творцов. Да и всем остальным нужна моя помощь: кто знает, что ещё взбредёт в голову Моб.
    — По-моему, она достаточно предсказуема, — произнёс тролль.
    — В некоторых вещах она уже стала правилом, — согласилась Келли, — но так должно быть, — произнесла она, как-то странно встрепенувшись, — и, возможно, нам ещё предстоит узнать, как можно исправить положение вещей.
    — Буду думать об этом, — сказал Кай.
    — Не думай, — ответила Келли, — продолжай мечтать и будь осторожен.
    С этими словами она толкнула Кая в зеркало, и он почувствовал, как палата исчезает.
    Кай возвращался домой, вспоминая мыльные пузырьки на крыше и луну, освещавшую лицо бледной девочки с красивыми чёрными глазами.
    Его рука нащупала в кармане необычные часы и крепко их сжала.
    Открыв глаза, он увидел знакомую прихожую и старое зеркало, в отражении которого едва заметно промелькнул силуэт тролля, прячущегося в большой вещевой шкаф. Коротышка вернулся вместе со своим создателем и теперь незаметно исчез, оставив после себя лишь едва заметный след маленького башмака.
    Пройдя в гостиную, Кай посмотрел на потухший камин и неподвижные лосиные рога.
    За окном начинался рассвет, а где-то в соседней комнате храпела бабушка, которая проснётся утром и начнёт рассказывать своей знакомой по телефону, что слышала ночью странные звуки, которые могли принадлежать чему угодно и доноситься вовсе не из прихожей, а с площадки или вовсе с улицы.
    Кай улыбнулся и направился в свою комнату, обратно к своим самодельным игрушкам и листкам с рисунками, которые, как всегда, были разбросаны по комнате.
    Наступало утро, и, несмотря на то, что он соскучился по родителям, ему вдруг захотелось спать, как если бы он вернулся из долгого путешествия, которое и впрямь было.
    Лениво опустившись на кровать, он укрылся тёплым мягким одеялом и закрыл глаза.
  {% endfilter %}
{% endblock %}
