{% extends template %}

{% set parentTitle = "Фантазии маленького Кая" %}
{% set title = "Глава III. Город теней и обещания" %}
{% set pubdate = "22.09.2011" %}

{% block content %}
  {% filter prose %}
    Высокие шпили башен были первым, что увидел Кай. Мощённая красным камнем мостовая приняла гостей, когда за ними закрылись ворота, и Кай замер, потрясённый увиденным. Громадные башни, дома-замки, часовни и статуи наполняли это место. Неба не было видно — и, наверное, здесь его не было вовсе, потому что острые шпили сотен башен затмевали его. К тому же город теней находился под землёй, пускай хоть и выше норы, в которой обитали гоблины.
    — Этот город — сплошная головоломка, — произнёс тролль, — сколько я не пытался его запомнить — каждый раз он менялся заново.
    — Как это? — произнес, открыв рот, Кай.
    — Да так! Никогда одна улица не бывает в одном и том же месте всегда. Каждую ночь, как только ворота открываются, в городе всё меняется. Вместо старых улиц появляются новые. Меняют свое положение башни, дома, дворцы, — тролль сплюнул. — Мне больше нравится в подземельях гоблинов: там, по крайней мере, всегда знаешь, куда нужно идти.
    — Зачем же тогда мы пришли сюда? — спросил Кай.
    — А потому, что только через город теней мы сможем попасть в серый заповедник.
    Тролль посмотрел на башни, уходящие высоко вверх, и произнёс:
    — Никогда не находил здесь неба. Сооружения тянутся бесконечно вверх — и сколько ты ни поднимайся по башням, всё равно конца им нет.
    Мимо них проплыло нечто, напоминающее туман, собранный в человеческий силуэт. От него повеяло прохладой. Силуэт остановился на несколько мгновений, и Кай увидел, как струи тумана вырисовывают лицо мужчины.
    — Тени, — промолвил тролль, — тут их полно: словно привидения, снуют то тут, то там.
    — А откуда они взялись? — спросил у него Кай, — откуда вообще взялся этот город?
    — Когда кто-то из фантазий умирает, то превращается в тень, — промолвил печально тролль. — Всех нас ожидает этот город.
    — Отчего же умирают вымышленные?
    — От того, что в них больше никто не верит, — лицо тролля исказилось, — вот если ты умрёшь — я стану тенью, потому что кроме тебя в меня пока что никто не верит.
    — А если в тебя поверит кто-нибудь ещё? — обратился к троллю Кай.
    — Это не так просто, — строго произнёс тролль. — Королева Моб строго карает тех, кто являет себя людям без нужной на то причины. Мы можем находиться в мире людей, делать там свои дела, можем убивать, пугать, воровать, похищать. Но просто так ни один вымышленный не может явить свой облик человеку. Ты даже не представляешь, как это нелепо — давать пинок человеку и исчезать, оставляя его в непонимании стоять и потирать ушибленное место, оглядываясь по сторонам. Все мы, озы — сотворённые темной фантазией людей, — к сожалению, зависим от вас, и приходится придумывать разные головоломки, чтобы вы питали нас своей верой.
    — Почему же вам не показаться людям, ведь тогда они поверят в вас, и вы не будете ломать голову, как вам добиться их веры?
    — Нет, — ответил Каю тролль, улыбаясь. — Королева Моб запрещает так себя вести — она может уничтожить любого оза, и тех, кто нарушал её законы, стражи тут же обращают в теней. Это и есть правило сумеречных пределов.
    — Сумеречных пределов? — непонимающе спросил Кай.
    — Да, сумеречных пределов, — развёл руками тролль, — все озы — сумеречные существа. Только с наступлением сумерек мы можем проникать в мир людей. Исключение составляют лишь гоблины, которые по своей странной природе почему-то могут появляться в вашем мире днём. Некоторые озы, такие как болотные, городские каменные тролли, пребывают в вашем мире постоянно. Днём они прячутся в убежищах, ночью выходят из них. Но правило сумеречных пределов распространяется на всех озов без исключения.
    — Тяжело вам, — с сочувствием сказал Кай.
    — Ещё бы! — согласился тролль, — вот, к примеру, придуманная тобой голова лося говорила когда-нибудь с кем-нибудь, кроме тебя?
    Кай почесал затылок.
    — Нет, — ответил он наконец, — говорить не говорила, однако крутила рогами, когда бабушка сидела в кресле и смотрела очередную мыльную оперу. Правда, она это не видела, так как сидела к голове спиной.
    — Вот видишь, — прошипел тролль, — мы можем играть с людьми, шутить над ними, издеваться, — но правило гласит: человек без особой причины не должен видеть обличья оза. — Тролль рассмеялся: — Если бы только твой лось на стене выдал себя — я бы с удовольствием посмотрел, как стражники обращают его в тень!
    — А что происходит, когда тебя обращают в тень?
    — Ну тени очень немногое могут, — произнёс неуверенно тролль, — потеряв своё обличье, озы, превратившиеся в тень, могут бесконечно блуждать по миру людей, но толком там ничего сделать не могут: никто их не замечает, они ни на что не влияют; в общем, бесполезное это дело — быть тенью.
    — И многих теней ты знаешь? — спросил Кай, осматривая причудливые хитросплетения башен.
    — Есть парочка, — почесав нос, ответил тролль, — правда, скучные они — всегда печальные и удручённые скитаются. Скитаются и наблюдают за всем, что происходит вокруг.
    — Хочу познакомиться с ними! — выпалил Кай.
    — Что ты несёшь, наглый людишка! — выругался тролль, — нам надо в серый заповедник.
    — Нет! — отрезал Кай, — я никуда не пойду, пока ты не познакомишь меня хотя бы с одной тенью.
    — Ну где я тебе сейчас найду эту тень? — выругался тролль, — они сами по себе, непредсказуемы и могут быть где угодно.
    — Тогда давай познакомимся с той, что я видел, — не сдавался Кай.
    — Её уже нет! — рявкнул тролль, — она скрылась за той башней.
    — Тогда догоним её! — бросил Кай и побежал к башне.
    — Какой ты неугомонный! — размахивая руками, кричал тролль, который бежал вслед за Каем, — прям как я!
    Они пробежали по узкой улочке, которая появилась прямо за башней, и, миновав несколько высоких домов, оказались в странном парке. Тень промелькнула за мраморной статуей непонятного рогатого существа и скрылась за толстым стволом старой карликовой яблони, на которой не было листьев.
    — Оно видело, что мы бежим за ним? — спросил Кай у запыхавшегося тролля.
    — Не знаю, — ответил тот, — тени странные — сложно понять, что у них на уме.
    В парке было много разных статуй и фонтанов, которые поражали манерой своего исполнения. Некоторые были сделаны в виде животных — волков и оленей, — другие же изображали разных существ, многих из которых Кай никогда не видел.
    Посмотрев на стоящую вдали статую, которая изображала существо, напоминавшее осьминога, только с причудливым туловищем и головой женщины, Кай направился туда, где недавно промелькнула тень.
    — Парк снов, — промолвил тролль, — забавное место тебе попалось.
    — Ты здесь бывал? — спросил Кай.
    — Приходилось, — ответил тролль, — здесь ты можешь встретить свои кошмарные сны, хотя чаще попадаются просто интересные метаморфозы ночных видений.
    Проскочив под вытянутой рукой мраморного демона-статуи, Кай развёл руками плотные сухие кусты и вошёл в них.
    Каменная дева, располагавшаяся у небольшого пруда, слева от статуи-демона, повернула свою голову и печальным взглядом посмотрела на тролля.
    — Да уж, любопытный паренёк, — пожал плечами тролль и прыгнул вслед за Каем в кусты.
    — Потрясающе! — услышал он, освобождая запутавшуюся в кустах кривую ногу.
    Кай стоял и, раскрыв от удивления рот, смотрел вперёд себя.
    Впереди возвышались полуразрушенные колонны, опоясывающие огромное кладбище, с гротами и склепами, покрытыми мхом и терновником.
    — Никогда не набредал на это место, — прошептал тролль, проходя вперёд Кая.
    Несколько старинных фонарей, выполненных в форме появляющейся прямо из-под земли руки, которая держала огонь, освещали потрескавшиеся каменные плиты. Слабое багровое свечение утомляло зрение, от него клонило в сон, и тролль раскрыл зубастую пасть и громко зевнул.
    Кай пошёл вперед, с интересом рассматривая надгробия без надписей и фиолетовые цветы, растущие повсюду. На некоторых надгробиях вместо мха росли грибы чёрного, красного и зелёного цвета.
    — Ой, грибочки! — радостно выпалил тролль и, сорвав красный гриб, быстро сунул его в рот.
    — Брось, — серьезно сказал Кай, — вдруг они ядовитые.
    — Отлично! — пережёвывая, ответил тролль, — именно такие я и люблю.
    — Ты питаешься грибами? — удивился Кай.
    — Да, — довольным голосом произнёс тролль, — обожаю их.
    Тролль принялся прыгать по надгробиям и, срывая грибы, кидать их в рот.
    Кай пошёл дальше, дотрагиваясь до могильных плит рукой. Плиты были холодными и гладкими.
    Вскоре он обнаружил надгробную плиту, которая находилась в основании огромного двухметрового чёрного гриба с небольшими шипами на шляпке. Гриб выглядел настолько необычно, что Кай поспешил приблизиться к нему. Когда он подошёл и присел на корточки возле гриба, то заметил маленькую ножку младенца, которая незаметно торчала из основания гриба.
    — Ого! — сказал себе под нос Кай и дотронулся до неё пальцем. Нога была скользкой и холодной.
    Внезапно скрюченные пальчики на ней дёрнулись, и нога шевельнулась.
    Из тела гриба появилась голова младенца с белыми глазами и шрамами, уродовавшими лицо. Голова моргнула маленькими глазками, и синие губы прошептали:
    — Привет, братик!
    Кай отпрыгнул в сторону и, не веря своим ушам, уставился смотреть, что будет дальше.
    Голова улыбнулась, и постепенно из гриба возникло маленькое тельце младенца-уродца. Казалось, оно было сшито по частям сумасшедшим мастером, следовавшим неведомой логике.
    Младенец вытянул в разные стороны маленькие ручки и, потянувшись, зевнул.
    — Ты кто? — промолвил наконец Кай.
    Младенец улыбнулся своей безумной улыбкой и произнёс тоненьким детским голосом:
    — Я твой братик!
    — Что за глупости ты говоришь, — прошептал опешивший Кай, — у меня нет братьев.
    — Да, нет! — продолжая улыбаться, промолвил младенец, — но ты мой братик.
    Тут он запел детскую песенку и направился к Каю.
    Кай попятился назад, обернувшись на тролля, который весело жевал грибы и смотрел на него полными наслаждения глазами.
    Младенец, вытянув руки, прыгнул к Каю и обнял его ногу.
    — Пойдем со мной, братик, я тебя зову! — пропищал он, заглядывая своими белыми зрачками Каю в глаза.
    Тролль спрыгнул с плиты и подошёл к Каю.
    — Это кто тут с тобой? — спросил он, присаживаясь на корточки и тыкая младенца пальцем.
    — Я его брат, — произнёс младенец и со всех сил щёлкнул зубами по длинному кривому пальцу тролля.
    Тот разразился проклятиями, держась за палец, и запрыгал на месте.
    — Пойдём со мой! — настойчиво произнёс он, облизывая окровавленные губы.
    Тролль размахнулся ногой и хотел было ударить маленького уродца, но тот вовремя отпрыгнул на могильную плиту и, устроившись там, провернул головой вокруг своей шеи.
    — Да чтоб тебя разорвало, маленький поганец! — крикнул тролль, хватая палку и направляясь в ту сторону, где смеялся младенец.
    Младенец соскользнул с плиты и нырнул в свой огромный гриб.
    — Ну и хорошо, — прокричал тролль ему вслед, — прячься в нём и не вылезай!
    — Что это такое? — спросил Кай у него.
    — Да вот, — вздохнул тролль, — не знаю.
    — Я твой неродившийся брат, — пропел детский голос из гриба.
    Тролль постучал себя по голове.
    — Ну конечно — на плитах нет подписей и дат. Как я сразу не догадался — это же обитель неродившихся!
    Кай замер.
    — Выходит, у меня был братик, который не родился?
    — Да, я здесь! — проговорила голова младенца, высовываясь из гриба.
    — И чего тебе надо? — спросил у него Кай. Чтобы ты остался играть со мной! — радостно произнёс младенец.
    Тролль взмахнул палкой.
    — Ну нет уж! Мы не собираемся оставаться здесь — я должен провести его к Моб.
    — Нет, он останется со мной здесь навсегда, — злобно пропищал голосок, — мне скучно и я хочу его!
    Кай заметил, как теперь повсюду на могильные плиты начали залазить маленькие истерзанные швами тела младенцев. Они злобно смотрели на них и крутили маленькими головками.
    — Иди в наше чрево. Смотри на нас. Играй с нами, — десятки тоненьких детских голосов зловеще звучали отовсюду.
    — Ты хочешь покинуть меня? — спросил появившийся из соседней могилы младенец. — Но ведь ты ещё не посмотрел на нашу колыбель.
    Кай сделал несколько шагов к могиле, из которой по пояс торчало туловище младенца.
    — Но мне нужно идти к Моб, — смущённо произнёс он.
    Голова младенца быстро повернулась на сто восемьдесят градусов.
    — А куда ты идёшь потом?
    — Думаю, что домой, — ответил, улыбаясь, Кай.
    — Так дело не пойдёт, — зло пропищал младенец, — я здесь — ты тоже должен быть здесь. Я тоже хочу к вам.
    Тут к ним подбежал тролль.
    — Эй ты, дрянная кукла, — прошипел он, — ты отпустишь нас, если мы вытащим тебя отсюда?
    Туловище младенца полностью появилось из земли, и он произнёс:
    — Наама?
    — Да, да, — прохрипел тролль, — она самая.
    Кай с удивлением посмотрел на него.
    — Мама! — весело пропищал младенец. — Хочу к ней.
    — Тогда она придёт за тобой.
    Тролль схватил Кая за руку и уже хотел было бежать, но младенец ухватился за другую руку.
    — Пускай он обещает, — настороженно проговорил он.
    — Обещай, — нервно произнёс тролль Каю.
    — Обещаю, — вырвалось само собой из уст Кая.
    Младенец резко наклонил свою маленькую головку и укусил Кая за запястье.
    — Поклянись кровью!
    — Обещаю, — растерянно произнёс Кай, глядя на сочащуюся из раны кровь.
    Младенец поднял головку и улыбнулся. С его синих губ стекла струйка крови и упала на землю.
    — Тогда бегите, — произнёс он и скрылся в могиле.
    — Бежим! — прокричал тролль, бросая палку в огромный гриб, на котором сидело три младенца, похожих на того, что укусил Кая.
    Палка врезалась в гриб и разлетелась в щепки. А младенцы бросились в их сторону.
    Кай не помнил, как им удалось скрыться от этих страшных младенцев, которые повылезали неведомо откуда.
    — Зачем ты это сделал? — кричал Кай, еле успевая бежать вслед за троллем.
    — Иначе бы он нас не отпустил.
    — И как я вытащу его отсюда?
    — Я потом тебе объясню, — задыхаясь, ревел тролль, перепрыгивая через кусты.
    Они выбежали в парк, к статуе огромного кота, который, увидев их, зашевелил усами.
    — Только этого не хватало! — провизжал тролль и потянул Кая за собой.
    Кот сорвался с места — камень посыпался с его тела, и, отряхнувшись от каменной шелухи, он зашагал в их сторону.
    — Парк снов, — кричал тролль Каю, пока они бежали, — место, где хранятся сны людей, и если натыкаешься здесь на кошмары, то лучше убежать от них.
    Они пробежали мимо странного дерева, которое имело форму женского тела. Дерево колыхнулось, и из его ветвей высунулась голова с корнями вместо волос.
    — Эй, тролль! — крикнула она. — Отчего же ты бежишь?
    Тролль остановился и, переводя дух, ответил:
    — Да котик ваш поиграть захотел. Диада, ты не могла бы его утихомирить?
    Теперь дерево, скрюченное до этого, выпрямилось и обрело очертания женской фигуры. Длинная ветка-рука вытянулась в сторону приближающейся статуи кота, и тот остановился.
    — Тебе известно, что статуй нечего бояться, могильный обитатель, — прозвучала несколькими голосами Диада. Её древесное лицо, рельеф которого вырисовывали переплетения нескольких стволов одновременно, улыбнулось, как показалось Каю, зловещей улыбкой.
    — Со мной один из творцов! — пробурчал тролль. — На него многие озы странно реагируют.
    Дерево-женщина повернулась к Каю, и её маленькие чёрные глаза уставились на него.
    — Творец, говоришь? — заинтересованно прошипела она, — интересно, как же он здесь оказался?
    — Мы направляемся к Моб, — сухо произнёс тролль, — пожалуй, нам надо спешить.
    — Как интересно, — произнесли голоса Диады, — один из творцов озов оказался в их власти!
    — Они и так в нашей власти, — произнёс тролль, — ах, да! Я совсем забыл, что ты не можешь покидать этот парк.
    Тролль расставил шире ноги и усмехнулся.
    — Верно, коротышка, — ответила она, — ты лишний раз напомнил мне об этом.
    — Так что мы покидаем тебя, хозяйка статуй, — бросил ей настороженно тролль.
    — Нет, — произнесли голоса, — неужели ты думаешь, что я просто так отпущу его?
    Деревянная дева уперлась руками-ветвями в землю и выдернула из неё свои корни-ноги.
    Медленно подойдя к Каю, она наклонилась и произнесла:
    — Ты можешь оказать мне одну услугу, маленький бог?
    — Какую? — спросил Кай.
    — Есть один из ваших, — ласково пропела она ему, — он создал меня. Но, к моему великому сожалению, сделал он это, пребывая без сознания на койке врачевателей. До сих пор он не очнулся, и, так как он придумал меня в своём странном сне, длящемся всю жизнь, я обречена оставаться в парке снов до тех пор, пока он не пробудится и не продолжит свою фантазию дальше, но уже в реальности.
    — Другими словами, ей надо, чтобы ты нашёл прикованного к койке человека, который придумал её, и разбудил его, — быстро произнёс тролль.
    — Верно, — продолжала Диада, — для меня важно, чтобы он вспомнил про меня, про то, что создал его разум.
    — Ясно ему всё, — пробубнил тролль, — нам надо идти.
    — И как же я смогу найти его? — поинтересовался Кай.
    — Тебе подскажет этот длинноносый болтун, — улыбаясь, пропела Диада, — к тому же, ты бог, пусть даже маленький, и можешь что-нибудь придумать по этому поводу.
    — Подскажу, подскажу! — пропищал тролль. — Мы спешим к Моб.
    — Пообещай мне, — ещё сильнее наклонившись, произнесла деревянная дева.
    — Обещаю, — ответил Кай и отступил в сторону. Ещё одно обещание в обмен на дальнейший путь показалось Каю слишком уж большим совпадением.
    — Я буду наблюдать за тобой, маленький бог, — пропели голоса, и дева замерла на месте, превратившись в обычную кривую яблоню.
    — Вот и ладненько, — произнёс, вытирая пот с лица, тролль и направился в сторону полуразрушенной стены.
    — Она так легко отпустила нас, — заключил, почёсывая голову, Кай, — но я всё равно разберусь с её просьбой.
    — Ну вряд ли она тебя отпустила, — произнёс в нос тролль, лениво улыбаясь.
    — Да?
    — Понимаешь, она каким-то странным образом может командовать всем этим парком снов. Ну и к тому же может посещать твои сновидения.
    Тролль задумчиво почесал свою грудь.
    — Поразительно! — хихикнул он. — Выходит, она — оз больного человека, прикованного к постели!
    Кай вздохнул.
    — Диада теперь едва ли тебя отпустит, — произнёс сочувственно тролль, — придётся выполнять обещание.
    — А почему она назвала меня маленьким богом? — спросил Кай.
    — Есть озы, которые считают, что те, кто создаёт фантазии, — боги. Есть бесполезные боги, те, которые ничего не делает для страны озов. А есть подобные тебе, фантазия которых не даёт озам обратиться в тени.
    Тролль пнул ржавую железную бочку и прыгнул в разлом каменной стены.
    — Бесполезных богов озы ненавидят, — произнёс он, — тех же, кто им помогает, они не трогают и даже нередко помогают им сами.
    Миновав стену, тролль и Кай посмотрели на площадь, располагавшуюся у подножия горы, на которой возвышался город теней. Площадь была испещрена невысокими, но широкими каменными плитами, которые были похожи на миниатюрные склепы. На многие километры простирались эти строения, и при взгляде на сонм этих каменных нагромождений начинала кружиться голова.
    Каменные коробки испещряли площадь, в центре которой находилось огромное, высотой в многоэтажный дом или даже небоскрёб, иссохшее дерево, ветви которого украшали изорванные серые куски ткани, развевавшиеся по ветру, словно лохмотья одежды нищего.
    — Нужно достигнуть спящего дерева, — пробормотал тролль.
    Он присел на корточки и, обняв руками колени, кубарем покатился с горы.
    Кай улыбнулся, наблюдая, как за его удаляющимся спутником поднимается облако пыли, и направился вслед за ним.
    Когда он спустился к подножию, то увидел, что тролль уже стоит весь покрытый серой грязной пылью и улыбается.
    — Лучше, конечно, принимать ванны из могильной грязи, но в данных условиях сгодится и пыль.
    Он запрыгнул на каменный куб и тут же перепрыгнул на другой.
    Повернувшись к Каю, тролль раскрыл пошире блестевшие жёлтым цветом глаза и произнёс:
    — Давай забирайся сюда, иначе мы долго будем блуждать в лабиринте этого некрополиса.
    Кай ухватился за тощую кисть тролля и забрался к нему.
    Сверху открывался вид на хитросплетения однообразных каменных склепов, настолько неуклюже и хаотично расположенных рядом друг с другом, что Каю показалось, будто тот, кто творил это всё, делал это в спешке.
    — Что это за некрополис? — спросил Кай, разглядывая лабиринт.
    — Город мёртвых озов! — ответил тролль, перепрыгивая на другой склеп.
    — Я думал, — произнёс растерянно Кай, следуя за ним и с трудом сохраняя равновесие, — что мёртвые озы — это тени.
    Тролль засмеялся.
    — Нет, — проговорил он, — тени — лишь озы, лишённые сил, забытые. — А вот мёртвые озы, — он запнулся, оступившись и чуть было не упав с края каменного склепа, но удержался. — Мёртвые озы — это те, кого не успели дофантазировать.
    — Как это? — Кай ловко перепрыгнул то место, где чуть было не свалился вниз тролль.
    — Это озы, чьи создатели не успели до конца вдохнуть в них силу, — тролль присел и, оттолкнувшись, перепрыгнул сразу через два склепа. — Не знаю, почему все они находятся здесь, в преддверии Серого заповедника.
    — И что они из себя представляют? — спросил Кай.
    — Да откуда же мне знать, — посмотрев на бледное небо, проговорил тролль, — эти склепы, которые являются их темницами и одновременно их миром, навсегда запечатаны.
    Кай не заметил, что ни в одно из грубых сооружений не было входа.
    — В них таятся незаконченные образы, формы, сущности, — проговорил тролль, нагибаясь и прислоняясь ухом к каменной плите склепа. — Можно только слышать эти непонятные кусочки чьей-то незавершённой фантазии, неизвестного разума.
    Кай прислушался. В тихом нашёптывании бродившего меж каменных склепов ветра его слуху удалось различить слабые непонятные звуки льющихся ручьёв, шелестящих листов бумаги, капель дождя, хруста снега, топота голых ступней о паркет, шороха одежды, шелеста ресниц. Разные голоса — детские, мужские, женские, писклявые, басовые, смешанные, неизвестные и казалось бы, знакомые — наполнили его разум.
    — Ну хорошо, — перебил странные звуки тролль. — Мы должны поскорее оказаться у Спящего дерева.
    Кай встрепенулся и последовал за силуэтом своего спутника, который стремительно перепрыгивал препятствия на пути к огромной высоты дереву.
    Спящее дерево было слишком огромным, чтобы назвать его деревом. Скорее, оно могло быть небоскрёбом толщиной в целый городской квартал, нежели деревом. По крайней мере, деревьев такой высоты Кай никогда не встречал.
    — Просто голова кружится, — произнёс он, когда посмотрел туда, где ветви дерева скрывались в небе.
    — Да уж, — согласился тролль, — придумано так придумано.
    Коротышка присел, облокотившись на крону дерева, и начал рыться в карманах.
    — Что ты делаешь?
    — Ищу пилюли, — ответил тролль.
    — Ты болен?
    Спутник Кая недовольно хрюкнул.
    — А вот и они, — пропищал радостно он, вытягивая ладонь с синими пилюлями, — бери себе одну.
    Мальчик послушался.
    — А теперь, — произнёс тролль, проглатывая пилюлю, — просто проглоти её.
    Кай с недоверием посмотрел на свою ладонь. Таблетка была довольно большой и к тому же перепачканной пылью.
    — Зачем? — произнёс он, наблюдая, как тролль корчится.
    — Спать ты должен, — тряся головой, выдавил из себя тролль, — ух, какой же отвратительный вкус!
    — Я не хочу спать.
    — Поэтому и глотай её! — разозлился тролль, — спать тебе всё равно тут никто не даст. А спать надо.
    Кай ничего не понял и взял пилюлю указательным и большим пальцем.
    — Только уснув под Спящим деревом, ты попадёшь в заповедник, — проговорил тролль. — А уснуть под ним ещё никто просто так не мог.
    — Это почему же?
    Тут до Кая стали доноситься странные звуки откуда-то сверху. Они напоминали крики, наплывающие откуда-то издали. Медленно, но уверенно крики становились громче, пока их звук не стал резать уши.
    — Попробуй, раз такой умный! — прокричал тролль.
    «Видимо, здесь и вправду не обойтись без лекарств», — подумал Кай. Он очень не любил докторов и лекарства, однако делать было нечего, и пришлось глотать пилюлю.
    Вкус и впрямь был скверным.
    Крики и вопли стали теперь невыносимыми, и мальчик опустился на корточки, закрыв уши ладонями.
    Постепенно его глаза начали закрываться. И когда он моргнул в последний раз, тролля уже не было рядом с ним.
  {% endfilter %}
{% endblock %}
