{% extends template %}

{% set title = "Падение" %}
{% set pubdate = "18.11.2011" %}

{% block content %}
  {% filter ins %}
    {% filter short %}
      Тематическое подражание А. Блоку.
    {% endfilter %}
  {% endfilter %}

  {% filter poem %}
    Вы пали! Да! Вы с неба пали,
    Пока леса под снегом спали…
    Звездой, что чертит в небе путь…
    В снегах глубоких утонуть…
    Не утонули, не пропали
    И не уснули. Девой стали…

    Шагами медленного танца
    По мо{{ acute }}сту, с берега на брег,
    Плыла Мадонна декаданса,
    Ловя ладонью синий снег…

    И у заснеженных перил
    Вы замерли, чего-то ждёте.
    И лев из камня взор вперил
    На птиц над волнами в полёте…

    Печально строен силуэт,
    Высок, как чёрная свеча.
    Взгляд синих глаз, как два меча,
    Пронзает серый полусвет…

    И сыпят, сыпят хлопья снега,
    Слетают плавно, тихо с неба
    На Ваше чёрное манто.
    Вы обернулись резко: «Кто?

    Кто там стоит в начале мо{{ acute }}ста?»
    Поэт ответил тихо, просто:
    «Я человек, что в Красоту
    Влюблён давно и безнадежно
    И, глядя в неба высоту,
    Любимой имя шепчет нежно…

    Вы с неба пали в белый иней
    Звездою, огненной богиней.
    За Вами шлейф тянулся синий
    По небу плавною дугой…
    …По мо{{ acute }}сту шли Вы и рукой
    В ладонь ловили хлопья снега.
    Как Вас зовут?» — «Не помню…» — «Вега.

    Позвольте мне Вас Вегой звать.
    Найдя, боюсь Вас потерять…»
    Летящий снег, тишайший снег.
    Снег серебрит пушистый мех.

    Ваш звонкий смех. Ваш сладкий смех:
    «Кто Я? Зачем, иду куда?
    Сказали вы, что я звезда.
    Земле — чужда, стройна, горда.
    Любовь ко мне — увы, беда…
    Я с неба пала? Пала — да!»
  {% endfilter %}
{% endblock %}
