{% extends template %}

{% set parentTitle = "Художница" %}
{% set title = "Эскиз" %}
{% set pubdate = "14.02.2019" %}

{% block content %}
  {% filter prose %}
    На следующее утро художница отыскала меня глазами, улыбнулась, а спустя ещё некоторое время подошла, обращаясь ко мне по имени (да-да, из пятидесяти мастериц она узнала моё имя!):
    — Т., я подарю вам свой эскиз, вот только наклею его на картон.
    — Спасибо, — от неожиданности смущение овладело мной.
    — А мне предоставили двухнедельный отпуск! — поделилась она радостью, и лицо её засветилось.
    — Это — хорошая новость, — порадовалась вместе с нею и я.
    На эскизе крупным планом — Кэти Остен, девушка, изображённая в двух вариациях: одетая и раздетая, а вокруг подробно прорисованы предметы женского гардероба и аксессуары.
    Даже будучи раздетой, Кэти оставалась в панталонах и бюстье, а множество стрелочек, таких как шляпка, баска, туфельки из радома,красноречиво говорили об утончённом вкусе, фантазии, любви к избранному делу и таланте художницы!
    Очарование запело, дало толчок эмоциональному всплеску, без чего немыслима моя жизнь. После обеда долго хожу по костюмерной. Вот мимо прошли на примерку балерины-звёзды: Ирина Колпакова и Габриэла Комлева.
    Заглядывая через витраж в кабинет Виктории на стопки эскизов, наборы красок и кисточек, всё не могла взяться за шитьё. И вот поймала вопросительный взгляд Лидии Константиновны. Душа-человек, уважаю её за честность, прямоту и, не желая её расстраивать, сажусь за машинку. Надо торопиться: ведь скоро — генеральная репетиция!
  {% endfilter %}
{% endblock %}
