{% extends template %}

{% set parentTitle = "Художница" %}
{% set title = "Начало пути" %}
{% set pubdate = "14.02.2019" %}
{% set prev = "gusarova-matveeva/forest-11" %}

{% block preface %}
  <p class="art__dedic">Виктории Родионовой — художнику Мариинского театра</p>
{% endblock %}

{% block content %}
  {% filter prose %}
    Вопрос «кем быть?» встаёт перед нами в десятом классе. А годом раньше судьба свела меня с преподавателем русского языка и литературы в средней школе № 1 города Лихославля — Александровой Анной Александровной. Порою даже отличники трепетали на её уроках, затрудняясь раскрыть ту или иную замысловатую тему сочинения. Что же оставалось мне — ученице средних способностей?
    Мои одноклассники успешно поступили в вузы и благодарили педагога за высокий уровень подготовки.
  {% endfilter %}

  {% filter ins %}
    {% filter poem %}
      Закончила школу я среднюю.
      Семнадцать исполнилось лет.
      Какой же мне выбор сделать?
      Счастливым ли будет билет?
      Подругам знать не терпится,
      А я молчу застенчиво…

      Не желаю быть врачом.
      Ирина Колобова — мечтает!
      По мне — лучше карандашом
      Стих слагать, в небесах витая…

      Душа к полёту рвётся птицей —
      Ведь я хочу пойти и научиться
      Высокому искусству сочинять,
      И в конкурсах участие принять.

      Но поэтом быть не надо стремиться —
      Им просто надо родиться!
      Всегда пригодится умение шить,
      И ремеслу меня стали учить.
    {% endfilter %}
  {% endfilter %}

  {% filter prose %}
    Как оказалось, шитьё — это совсем не то, чем мне хотелось бы заниматься. Однажды, услышав объявление по радио об открытии литературного объединения в областном центре — в городе Калинине — я ожила! Ещё не зная любви — выдумала её! И отослала рассказ в редакцию. В ожидании хоть какого-то результата провела долгих два месяца. Печальное известие — объединения не будет — произвело в душе переворот. Впервые я задумалась об отъезде.
  {% endfilter %}

  {% filter ins %}
    {% filter poem %}
      Часто севера столица
      Мне ночами стала сниться,
      И я умчалась в Ленинград —
      В царство каменных громад!

      Где волны, как искусные пловцы,
      К граниту мчали, головы задрав,
      И разводились в полночи мосты —
      Чудесный город есть на островах!
    {% endfilter %}
  {% endfilter %}
{% endblock %}
