{% extends template %}

{% set parentTitle = "Лесная быль" %}
{% set title = "Отец сердится" %}
{% set pubdate = "06.02.2019" %}

{% block content %}
  {% filter prose %}
    Отсутствие каких-либо признаков грибов, нескошенная трава раздражали идущего впереди отца, и с его стороны доносились ругань и ворчание, что де скот зимой кормить будет нечем, а травостой пропадает даром… И даже ещё не найденные грибы были обложены матюгами.
    Измученные напрасными поисками несуществующих, похоже, в этой местности грибов, обойдя лес уже не по одному кругу, через два часа мы вышли наконец на огромнейшую поляну… Отец вывел-таки! Оказалось, что за пятнадцать лет лес сильно изменился: там, где раньше было много грибов, теперь их и в помине не было.
    Обессиленные, мы рухнули на траву, улеглись на солнышке и быстро разомлели: вокруг пели птицы, поляна пестрела множеством цветов: ромашками, колокольчиками, фиалками. В воздухе кружились разноцветные бабочки. Душистый запах клевера опьянял.
    Плутая по лесу в поисках треклятой поляны, мы изрядно проголодались и набросились на еду. С расстройства мы разом съели весь свой скудный завтрак, состоящий из хлеба и свежих огурцов. Чего-чего, а уж ягод-то мы всяко надеялись найти…
    Когда перекусили, настроение чуточку поднялось, и мы пошли в сторону станции, надеясь успеть на ту же электричку, которая нас сюда привезла. Но задолго до станции услышали её гудок и поняли, что опоздали… Наша младшенькая как чувствовала, порывалась вернуться, бедняжка. Какое же у неё чутьё на неприятности!
  {% endfilter %}
{% endblock %}
