{% extends template %}

{% set parentTitle = "Лесная быль" %}
{% set title = "А дома нас заждались…" %}
{% set pubdate = "06.02.2019" %}

{% block content %}
  {% filter prose %}
    Не прошло и получаса, как мы подъезжали к Лихославлю! Словом, не было бы счастья, да несчастье помогло. Подходя к дому, племянница ядовито заметила, что заранее знала: ничего с грибами не выйдет, особенно с таким проводником… В общем, отыгралась как могла за «безмозглую корову».
    Стыдясь своих пустых корзинок, мы обошли дом с дальней стороны, чтобы не встретить вездесущих бабулек, но этого нам избежать не удалось: на лавочке у подъезда сидели соседки — Лидия Васильевна и Аннушка. Мы так быстро проскочили мимо, что они не успели нас ни о чём спросить, только крикнули вдогонку, что дома нас совсем заждались…
    А дома нас ожидала в единственном числе мама, жена и бабушка — Анастасия Никифоровна. Она всегда неохотно отпускала нас с отцом в лес, боясь, что он там нас потеряет, и всегда напутствовала, чтобы мы не отставали от него ни на шаг. Мама уже в третий раз подогревала суп, когда мы наконец явились, целые и невредимые. Слава Богу!
  {% endfilter %}
{% endblock %}
