{% extends template %}

{% set parentTitle = "Лесная быль" %}
{% set title = "О том, как мы пошли «на разведку»" %}
{% set pubdate = "06.02.2019" %}
{% set prev = "gusarova-matveeva/runezh-5" %}

{% block content %}
  {% filter prose %}
    Как-то в один из июльских дней отпуска отец позвал меня в лес по грибы, и я решила воспользоваться случаем побывать на природе и хотя бы на один денёк удалиться от ежедневной суеты и забот. Мне удалось уговорить и восемнадцатилетнюю племянницу-красотку, чтобы было веселее втроём.
    Отец рассуждал так: целую неделю лили дожди, поэтому грибы должны быть. По прогнозу синоптики обещали ясный, солнечный день, плюс двадцать пять! Семичасовая электричка ещё не подошла, когда у привокзальной кассы мы с Марианной решали, брать ли билеты. И, выяснив у отца, что на третьей остановке выходим, брать билеты не стали.
    Вошли почти в пустой вагон, и за окнами потянулась изумрудная лента смешанного леса. Не успели сесть, как уже приехали. Спрыгнули на гравий и пошли за грибниками, вслед уходящему составу. Выяснив по расписанию, что обратная электричка будет в половине четвёртого, мы уверенно пошли по шпалам.
    Вожаком у нас стал отец. Быстрый на ногу, несмотря на тяжеленные литые сапожищи, он и в восемьдесят два переступал по шпалам проворно и шустро. Перед глазами замелькала зебра шпал, но вот отец скомандовал: «Налево!» — и, показав направление рукой, сам первым сошёл на тропинку, ведущую в лес.
    Пятнадцать лет не бывал он в этих местах — не было у него времени ходить в лес за грибами. Летом он работал на дачном участке. И вот решился произвести «разведку» этих мест. Ему нужно было, по старой памяти, отыскать поляну — отправную точку, а уже по ней выйти на грибное место. Поэтому-то отец нервничал и спешил.
    Вскоре тропинка оборвалась, и постепенно мы оказались в настоящем дремучем лесу, без троп и дорог, куда солнце едва-едва пробивалось.
    Мокрая от росы трава в человеческий рост постепенно и нас сделала мокрыми с головы до пят. Влага с курток и брюк сочилась в сапоги, ветки лезли в лицо, и нам приходилось непрерывно раздвигать их в стороны, расчищая перед собой дорогу. Пригибая головы, преодолевали мы завалы упавших выкорчеванных деревьев в поисках долгожданной поляны. Каждая освещённая прогалина манила к себе, вселяя надежду, что вот-вот мы выйдем наконец к нужному месту…
  {% endfilter %}
{% endblock %}
