{% extends template %}

{% set parentTitle = "Лесная быль" %}
{% set title = "Гигантский «гриб»" %}
{% set pubdate = "06.02.2019" %}

{% block content %}
  {% filter prose %}
    Шарахаясь то вправо, то влево, мы с Марианной зигзагами мчались к заветной цели: выбраться из леса, а там и — домой! От этих мыслей в «лосих» теперь превратились мы. Отец же, торопясь и не поспевая за нами, что-то недовольно бормотал, дрожащей рукой утирая с носа капельки пота. Ничего уже на различая под ногами, он споткнулся об очередную кочку, оступился и сел… Тут же попробовал было приподняться, но не получилось — усталость взяла своё. Успев сказать себе «Отдохнём немного», он так и остался сидеть на этой кочке.
    Замерев в десятке шагов, я обернулась и поймала себя на мысли, что в высокой осоке его шляпа походит на гигантский белый гриб!.. А мы не смогли отыскать даже маленький подберезовичек…
    Отец долгие годы, трудясь на руководящем посту предприятия, взял себе в привычку: выглядеть представительно. Пусть даже в лесу, но всегда при шляпе! Со шляпой он никогда не расставался.
    Чуточку передохнув, он без посторонней помощи поднялся и снова указал нам направление движения. Так шли мы и шли, а линии всё не было и не было. Но всем мучениям когда-нибудь приходит конец, и мы вдруг увидели над верхушками берёз провода линии электропередач!
  {% endfilter %}
{% endblock %}
