{% extends template %}

{% set parentTitle = "Лесная быль" %}
{% set title = "Наш «Сусанин»" %}
{% set pubdate = "06.02.2019" %}

{% block content %}
  {% filter prose %}
    Потерпев неудачу с грибами, опоздав на электричку, отец вконец обессилел. Ноги его в тяжёлых литых сапогах заплетались, когда в высокой траве он переступал с кочки на кочку. Теперь из «лося», который поначалу рвался в лес, он превратился в разбитого и жалкого старикана, совсем выбившегося из сил…
    Опять — мокрая трава, кусты, валежник и комары, искусавшие кожу до волдырей. Мы снова пошли вперёд, напролом. Наш «Сусанин», утирая платком капли пота с кончика носа, опять нервно и раздражённо стал выкрикивать команды:
    — Марианна, правее! Чёрт возьми, я же говорю: правее, корова бестолковая!
    И тут я начала догадываться: правее никогда не получится из-за непролазной стены сплетённых веток и поваленных деревьев, всегда стоящих на пути нашего движения. Это скопление топлива для огромного костра всегда стояло как раз «правее» или «левее». По мере обхода «правее» становилось «левее». Мы застыли около «стены», не в силах выполнить очередную команду: пусть бы сам попробовал «пробить» её!
    Мы дружно обернулись: куда дальше-то? И вдруг увидели, что наш грозный вожак еле плетётся позади, по носу стекают капельки пота, дыхание заядлого курильщика стало затруднённым, и лишь язык, злой и острый, продолжал командовать…
  {% endfilter %}
{% endblock %}
