{% extends template %}

{% set parentTitle = "Синяя Ирма" %}
{% set title = "Часть 1" %}
{% set pubdate = "06.02.2019" %}
{% set prev = "gusarova-matveeva/prose-2" %}

{% block preface %}
  <p class="art__dedic">Отцу</p>
{% endblock %}

{% block content %}
  {% filter prose %}
    Эта встреча произошла в 1936 году, в дни моей молодости, в теплое летнее время. Тогда я находился проездом на Урале в городе Свердловске. Мы часто играли с пацанами в «очко» — на деньги. В то лето мне очень везло: неоднократно обыгрывая всю компанию, я вдруг стал обладателем баснословной суммы в двенадцать тысяч рублей!
    Большую часть денег я спрятал в сарае, где спал, а остальные носил с собой, прибинтовав их к лодыжкам под брюками. Сразу же решил привести в порядок свой внешний вид: заказал костюм из твида, купил плащ, шляпу, лакированные полуботинки и комплект рубашек. Больше того — снял комнату на привокзальной площади, сделал стрижку по последней моде и научился курить трубку — словом, преобразился так, что от уличного мальчишки не осталось и следа.
    Как-то, проходя мимо цирка, на афише прочитал объявление: «СПЕШИТЕ ВИДЕТЬ! — гласило оно, — ТОЛЬКО ТРИ ВЕЧЕРА ВЫСТУПАЕТ ФРАНЦУЖЕНКА, ТАНЦОВЩИЦА — СИНЯЯ ИРМА».
    Готовый оплатить выступление, я пригласил с собой друзей, а так как они по разным причинам отказались, пошёл один. У знакомого кассира попросил билет на лучшее место. Программа называлась «Первый рассветный луч».
    Вся артистическая публика в сборе. После показа цирковых акробатических номеров и фокусов — всякой мути, — на сцене появилась долгожданная девушка: хорошенькая, как куколка, одета в платье золотисто-солнечных разливов, и в жёлтой маске, под ней — глаза, большие и блестящие. У миниатюрной шатенки волосы — «волной», в них закреплены разноцветные ленточки. Гармоничные сочетания теней в прорезях маски с тёмными бровями сделали её взгляд таинственным и загадочным…
    Вокруг себя девушка распространяла красоту молодости, излучая внутренний согревающий, пробуждающий к жизни свет.
    С лёгкостью, почти воздушностью, входя в права танцовщицы, она закружилась по сцене, гибкая и стройная, с большими раскосыми глазами под маской. На спине платья красовались два жёлтеньких кружевных крылышка. Раскрывая в танце чувственную сторону женской натуры, она точь-в-точь копировала круженье бабочки, приковывая к себе сотни взглядов.
    Я смотрел на неё с тайным восхищением, и на какое-то мгновение мне почудилось, будто нахожусь в лучистой комнате: изумительного цвета, золотисто-жёлтой окраски бабочка обрела крылья, чтобы наслаждаться свободным полётом.
    В иллюзорном призрачном счастье она живёт вдохновенной жизнью. В чем же секрет очарования этих необыкновенных прелестных созданий? — Восхитительные, они пленяют наши взоры. Кто-то гоняется за ними всю жизнь, а к кому-то они сами садятся на руки, голову, плечи. «Бабочка» заворожила: мне захотелось погнаться за нею вслед.
    Сквозь прорези в маске Ирма почему-то смотрела на одного меня, а возможно, мне так только казалось. Мелодия оборвалась, а хотелось, чтобы прекрасная сказка не заканчивалась. Я боялся, что этот мираж исчезнет, растворится, «бабочка» улетит в неизвестном направлении.
    Но вот снова зазвучала музыка, быстрая, волнующая, девушка разбежалась на большой скорости и ударилась о декорацию. Стекло разбилось, и осколки тут же рассыпались и разлетелись по полу. Зрители не успели толком понять, что, собственно, произошло, как вдруг, стремительно перелетев через витраж, она упала в неподвижной позе… Зал ахнул в недоумении. Никто не ожидал этой нелепой внезапности. Многие встали с мест и замерли в растерянности.
    И я был ни жив ни мёртв, готовый устремиться на помощь, на сцену! Кто-то даже крикнул:
    — Быстрее пригласите врача! — и тут танцовщица поднялась, как ни в чём не бывало: взмах — и она вспорхнула в воздухе, «бабочка» ожила!
    Зал выдохнул, и я несказанно обрадовался, теряясь в догадках, что это было — бутафорское «стекло» из сахара или же очередной хореографический трюк?
    Время от времени, исчезая за кулисами, Ирма вновь появлялась в очередном наряде, движениями показывая игру бликов из царства фантазий — экстаз! Медленно затихающие звуки мелодий смолкли, она раскланялась, сделала «плие», подобрала цветы и под громкие аплодисменты покинула сцену. Народ еще долго аплодировал ей стоя.
    После пятого танца Ирма выглядела обессиленной. Все стали постепенно расходиться, и я в том числе, с потрясающе-одухотворенным чувством: образ произвёл неизгладимое впечатление. Спектакль доставил удовольствие, весь оставшийся вечер образ бабочки преследовал меня как наваждение, поэтому сами собой сложились строчки:
  {% endfilter %}

  {% filter ins %}
    {% filter poem %}
      Ничем не примечательная жизнь
      Несла неспешно свои воды,
      Пока не появились виражи,
      Обязанные написанию оды,

      Пока не обозначилось тепло:
      И в созерцании, обаянии — искра!
      И русло изменилось, понесло
      Скопление вод с энергией неистовой.

      Где понимание и доверие — суть,
      Душа и воспарила, и запела,
      И в бабочке ударом о стекло
      Струну сердечную задело.

      И чувство зазвенело в стоке вод,
      С явлением «бабочки» прелестной,
      Её чарующий прилёт:
      И — наваждение,
      И — весна, и — песня!
    {% endfilter %}
  {% endfilter %}

  {% filter prose %}
    Под названием «Синий блюз» программа продолжилась на следующий день. У меня был билет на то же место. Опять сначала — цирковые и акробатические номера, а затем — выступление Ирмы. Из-за кулис она выплыла одетая во всё синее, и маска тоже — синяя. Лишь изредка, с разбегу сделав пируэт или садясь на шпагат, — тонко передавала настроение, игривость, азарт. И я полностью подчинялся магии танца, не смея оторвать от неё глаз ни на секунду.
    Волосы девушки были аккуратно забраны в «ракушку», особая легкость и плавность поступи, шелковистая ткань обнимала её стройные формы. Синий кружевной шарфик, аквамариновое ожерелье, прелестный подбородок, красивые тонкие руки — её обольстительный образ! В синем цвете Ирма выглядела потрясающе! Разве что до сих пор она в маске, и зачем она ей? У меня, честно сказать, душа — не на месте: я осознавал, что существует какая-то тайна.
    Танцы следовали чередою, пластика движения подчёркивала искренность и нежность обладательницы: приветливым поворотом головы, взглядом, взмахом рук. Благовония пробуждали чувства, пьянили, манили в увлекательное приключение. Музыка смолкла, Ирма низко поклонилась аплодирующим, казалось, они хлопали непрерывно. На сцену, к её ногам, летели букеты роз, лилий, хризантем, и вот она с цветами исчезла за таинственным бархатом занавески.
    Публика покидала зал, и я тоже подался к выходу. А в ушах ещё долго звучала мелодия, и очаровательное видение продолжало волновать воображение. Влюбился в образ под маской и каждый раз открывал в ней что-то новое: облик, загадочную магию, женскую тайну.
    В третий вечер зрители в нетерпеливом ожидании встретили долгими продолжительными аплодисментами свою желанную гостью.
    — Дамы и господа, — приветствовал нас конферансье, — сегодняшнее выступление называется «Звёздное шоу»! Всем приятного вечера!
    Я, как и прежде, — на том же месте и готов бесконечно купаться в музыке танца — мерцающем танцевальном ритме, — внимая вдохновенному искусству пластики. Ирма трогала своей поэзией и свежестью, изяществом грации, артистизмом натуры. Наши взоры, за прорезями в маске, то и дело встречались, как лучики в темноте: то — сталкивались, то — безмолвно разбегались в разные стороны (а, возможно, мне это всего лишь казалось).
    Ткань костюма подобна сумеркам, усеянным звёздами, — у присутствующих поднялось настроение. И, как бы дополняя образ, даже её глаза в прорезях маски излучали ласковый свет. Романтический вечер — незабываемый отдых. Её манящая обольстительная сила притягивала взоры мужчин, и они с упоением глядели ей вслед, вдыхая неповторимый аромат французских духов — всё, что оставалось им напоследок…
    После исполнения танца «Звёзды» публика долго аплодировала Ирме, снова неоднократно вызывая её. Поклонники таланта бросали букеты цветов на сцену, а в связи с последним концертом в городе и вовсе не желали расставаться с нею: аплодировали, кричали, свистели, неоднократно вызывали «на бис».
    Вышел конферансье и сообщил:
    — Дамы и господа, леди и джентльмены, «Синяя Ирма» решила исполнить прощальный танец. Начнем торги за танец с суммы 500 рублей!
    Публика удивилась.
    — 600 рублей! Кто — больше?!
    И сразу же: 700, 800, 900! — с каждой новой цифрой желающих участвовать в аукционе становилось на порядок меньше. После оглашения стоимости танца в 1000 рублей, прекрасно понимая, что настал мой единственный шанс, и осознавая, что люблю её больше жизни, я встал и крикнул:
    — Две тысячи рублей!
    Сотни глаз обернулись и устремились в мою сторону: что за миллионер объявился? А мне легко было выдержать их вопросительные взгляды. Ведь, одетый «с иголочки», выглядел я весьма презентабельно.
    Мне предложили кресло, и, когда принесли его, я сел. Соблазнительное видение кружилось вокруг, я не ощущал, что это — я. Мысли текли медленно и умиротворённо.
    Умея грациозно двигаться, пластичная, гибкая, она извивалась как змея. Декольте лилового цвета платья и приглушённый свет в зале создали дополнительную ауру очарования.
    Тут музыка стихла, обидно: мне показалось, что из всех танцев этот — самый короткий! Да что со мной? Сердцебиение участилось, кровь прилила к виску. Потеря реальности, а земля вот-вот готова уйти из-под ног. Вдруг я осознал, что могу её потерять. И в тот момент, когда девушка раскланялась в очередной раз, я устремился к ней. Сорвался и побежал. Остановил, взял за руку, желая удержать. А потом — оробел, стал запинаться, потерял дар речи и — умолк.
    Глаза под маской оставались безучастными. После концерта у неё сохранялись учащённое дыхание в разгорячённом теле и лёгкая испарина на лбу.
    — Ну говорите же! — вырвалось у неё на чисто русском языке, нетерпеливо и резко.
    — О чаровница! Свет глаз моих! — пролепетал я.
    Она улыбнулась, отодвинула мою руку в сторону и как ни в чём не бывало направилась в гримёрную.
    — Ирмочка, милая, вы мне нужны больше жизни! Выслушайте!
    Она находилась в какой-то растерянности и не уходила.
    — Я вас люблю! Останьтесь со мной! Прошу: не покидайте меня, иначе я умру!
    Мгновение она молчала и вдруг неожиданно произнесла:
    — Ждите меня у фонтана…
  {% endfilter %}
{% endblock %}
