{% extends template %}

{% set parentTitle = "Компаньонка" %}
{% set title = "Раскладка по энергетике" %}
{% set pubdate = "06.02.2019" %}

{% block content %}
  {% filter prose %}
    После отъезда заведующей Лида с Наташей работали на пару. Справлялись без особого напряжения. Лида отбелила полотенца, прачка — это так же естественно для женщины, как поварское искусство. У них была взаимозаменяемость: если девушка не успевала отпускать посетителей, то Лида ставила воду на газ для самовара.
    Случалось, подойдёт старушка с просьбой разбавить слишком горячий чай — всегда пожалуйста, разбавляла холодной кипячёной водой. Однако бывало, что попадал ненароком таракан в самовар. Что и говорить, очень надо быть внимательной. То и дело поглядываешь: не плавает ли?
    Вот ведь незадача: и тараканов выводить тоже ей! А она их не разводила! Пришла, а они тут как тут повсюду бегают! Вот и теперь их было полно, но пока светло — они сидят под плинтусами, не высовываются: не хотят умирать.
    За время отсутствия заведующей Лида вплотную занялась их уничтожением. Смешав борную кислоту с яичным желтком, разложила шарики по кухне. А то ишь активизировались, вон сколько усов торчат из-под плиты!
    Появился Николай и сообщил, что из Москвы приехал его друг, который зарабатывает десять миллионов в месяц!
    — И каким бы путём, вы думали? — обратился он к Лидии.
    — Никаких догадок нет, — призналась она.
    — «Гербалайфом»! — радостно воскликнул он.
    — Надо уметь торговать…
  {% endfilter %}

  {% filter prose %}
    На завтрак пришла приятельница Рита.
    — Ты, кажется, уходить собираешься? — уточнила она.
    — Собираюсь.
    — В Академии наук требуется кухонная работница. Пойдёшь?
    — Пойду.
    — Сегодня же сходим и всё узнаем.
    Желание подруги помочь с трудоустройством обрадовало Лиду. После обеда пошли в соседнее заведение, однако, увидев её без причёски, шеф-повар задумалась: брать — не брать? (Она ещё не знала, что в верхнем ряду в центре у Лиды отсутствует зуб…) Это Катя терпит её, маленькую, прилизанную, худосочную, и довольна: кто ещё так усердно станет трудиться за эти гроши?.. Подруги вернулись ни с чем.
    А в Америке незамужнюю поди на работу не приняли бы? К тому же тогда она знать не знала, что хозяйка кафе видит ауру! Грязно-серую ауру страха она всё же рассмотрела, как бы Лида ни сутулилась и ни сжималась от её насквозь пронизывающего взгляда. Поэтому испытательный срок миновала благополучно. Её Катя проверяла рамкой, а это — раскладка по энергетике!
    Всякое было: поначалу — притирка. И обиды, и стычки с ней, и дерзость со стороны обеих. Лида справлялась с собой и неоднократно усмиряла поднимающихся и роящихся в глазах чёртиков…
    И в результате на день рождения этой весной пожелание хозяйки кафе — как можно дольше работать у них. «Единая заповедь да будет тебе — останься чиста», — написано в библии в пятой заповеди: не кради.
    Что это у них с Наташей сегодня? То она «бочку выкатит», то — Лида на неё. Обе пытались сорвать своё никудышное настроение друг на дружке… Вот что значит некому сегодня «строить»…
  {% endfilter %}
{% endblock %}
