{% extends template %}

{% set parentTitle = "Компаньонка" %}
{% set title = "После банкета" %}
{% set pubdate = "06.02.2019" %}

{% block content %}
  {% filter prose %}
    В году банкетов насчитывалось семь или девять. И вот Лида в очередной раз явилась разгребать кавардак: мыть кастрюли, посуду, плиты, полы.
    Мыть посуду начала со стаканов, так как разбирало любопытство: сколько человек присутствовало на банкете? Насчитала тридцать два стакана!
    Бутылок — изобилие! Интересно, что употребляли сотрудники института? И она склонилась над батареей пустых бутылок, выстроенных в ряд, читая: «Соткари», «Шардоне», «Монастырская изба», «Рябина на коньяке», «Столовая водка на троих».
    Им, умеющим веселиться по тем тяжёлым временам, в лихие девяностые, воскликнула: «Вы — молодцы, ребята!»
    Шампанского было 9 бутылок, «Аквареджо» — 11, коньяка — две, водки — две, а ещё и пиво. На том юбилее произошёл несчастный случай: одному из сотрудников после передозировки спиртного даже вызывали скорую помощь.
    В тайне от всех Лида мечтала о своём банкете. К своему дню рождения, не успевая испечь пироги дома, пекла их в кафе. Измучилась от возложенных обязанностей, а также от того, как дети заведующей набросились на свежеиспечённые пироги! Что же она завтра предложит своим гостям, если так пойдёт дело и дальше?
    После работы семья хозяйки поймала такси и поехала в сторону Московского вокзала, на электричку, в пригород. Лида же — в противоположном направлении. Её попросили привезти старую заслуженную женщину.
    Всю дорогу творческая личность читала стихи вслух, на весь троллейбус! Так интересно и необычно! Старушка заметила бледность лица и высказала предположение, что Лида не бывает на воздухе. Мало того, что совсем не бывает, но ещё и нервничает…
    Трамвая долго не было, лишь около полуночи прибыли домой. На следующий день, ожидая гостей, за полтора года единственный раз отпросилась с работы на свой собственный день рождения! Хотя для хозяев — работать Лиде как можно дольше — была бы «самая большая похвала».
  {% endfilter %}

  {{asters}}
  {% filter prose %}
    После банкета работников Зоологического музея, увешанная сумками, прибыла к месту работы. Как обычно, обошла владения, включила музыку, газовую плиту, титан, самовар и принялась носить посуду со столиков в мойку.
    То вниз, то вверх сбегала по мостику, увитому пёстрыми лентами, испытывая жажду участвовать в конкурсе и непременно победить.
    Выстрел пушки Петропавловской крепости лёгким дрожанием стёкол оповестил о полудне, однако хозяйка кафе явно запаздывала… В это время все обычно собираются за «вкусным столиком» и пьют чай. Лиде захотелось что-нибудь перекусить, и она заглянула в кастрюлю с сосисками: надо же, Наташа забыла убрать в холодильник, и, пролежав всю ночь в жаре, они заплесневели. Окатила их кипятком.
    Вдруг её позвали к телефону, и Наталья передала, что можно ехать домой: и сегодня, и завтра не работали в связи с годовщиной смерти брата. Что же, весть неплохая, а раньше позвонить не могли?
    …Эх-х, ма… коли приехала, пусть будет не напрасно. На душе неприятный осадок: это уже второй раз так… Так далеко жила, зачем зря через весь город ехала — непонятно.
    Перемыла пять подносов тарелок и бокалов, две кастрюли, две плиты и все три мойки в очередной раз.
    И тогда выпила чай и решилась съесть сосиску. Ведь с роду не дали бы. Тогда как целая кастрюля на выброс пойдёт! Заглянула в пакеты с хлебом: сколько следует купить для следующего раза?
    — А батоны-то! Тоже — в плесени! — зачистила на сухари лошадям, катающим богатую публику по Университетской набережной за баснословные деньги.
    Напомнила боль в ноге, надо срочно увольняться! Подруга Галина по телефону похвалила «за терпение», но ведь всякому терпению когда-нибудь приходит конец…
  {% endfilter %}
{% endblock %}
