{% extends template %}

{% set parentTitle = "Компаньонка" %}
{% set title = "Летающие тарелки" %}
{% set pubdate = "06.02.2019" %}

{% block content %}
  {% filter prose %}
    Как-то Е. В., заметив на Лиде плотную вязаную юбку с тридцатью двумя складками и свитер, тут же сделала замечание: тяжёлая одежда. И спросила:
    — Есть ли у тебя, Лидия, что-нибудь полегче одеть? В этой — продираться через людей неудобно, а тебе надо — летать!
    — Есть, в раздевалке висит! — Поэтому она сразу же переоделась в цветастое воздушное платьице. А вот осуществить намерение «летать» — с этим ни в какую не могла согласиться. Это ещё первоначально она порхала как бабочка, а теперь, спустя год, летать разучилась, не получается… жизнь тяжела…
    Зато как летали у неё тарелки! Они-то и впрямь были летающими! И, вдребезги разбиваясь о кафельный пол, рассыпались осколками по всей кухне. Прикрывая глаза, Лида сообщала во всеуслышание: «Посуда бьётся — жди удач», — а открывая глаза, взирала на измельчённое стеклянное крошево, прикидывая в уме стоимость одной тарелки — 1500, — всё же побаивалась, как бы с неё потом не высчитали.
    К её везению, ей многое спускали с рук: даже приехав с отпуска из Германии, директор Н. В. улыбалась и не делала замечаний.
  {% endfilter %}
{% endblock %}
