{% extends template %}

{% set parentTitle = "Компаньонка" %}
{% set title = "Когда совесть молчит?" %}
{% set pubdate = "06.02.2019" %}

{% block content %}
  {% filter ins %}
    {% filter poem %}
      Делай всё добросовестней, лучше,
      Не теряй в своём сердце накал!
    {% endfilter %}
  {% endfilter %}

  {% filter prose %}
    Настал день, когда сестрёнка привезла дочку, а затем из-за простуды болела две недели. Больничные в кафе не предусмотрены, и денег не оказалось на продукты питания. Тут и припомнились слова Кати: «А почему ты дочку от мамы не привозишь?»
    В день, отведённый для поисков работы, Лида принесла заведующей запись, что её берут санитаркой в поликлинику. Неожиданно случилось, что после долгих сопротивлений та скрепя сердце вернула трудовую книжку, сообщив очень приятное напутствие, предполагая, что всегда примет назад хоть через месяц, хоть через три, хоть через год.
    — Я тебя жду, дверь открыта в любое время. Если будет трудно, возвращайся, когда будешь нуждаться, — сказала она напоследок.
    Так Лида покинула кафе, и пусть Катя уверяла, что примет, если Лида будет нуждаться, но ведь она у неё и так крайне нуждалась!
    Точно так же тысячи людей по всей стране работали в перестройку за обед, и точно так же с них сдирали кожу. Золушки девяностых! Это — всего лишь частный случай.
    Правда, задолженность по квартплате её научили гасить частями, и постепенно всё нормализовалось. Всё же горьким показалось Лиде «бесплатное» питание. Хотя она считала, что отсутствие рабочих мест вовсе не значит, что на чужой беде можно наживаться. Но «когда говорят деньги, совесть молчит».
  {% endfilter %}
{% endblock %}
