{% extends template %}

{% set parentTitle = "Компаньонка" %}
{% set title = "Энергичные люди" %}
{% set pubdate = "06.02.2019" %}

{% block content %}
  {% filter prose %}
    Мудрость ли, хозяйственность, а так и рыскают. Очень энергичные люди. Сколько у них энергии! Отличительная черта: подминать по себя. А кому это понравится?
    «Меня не видно, не слышно, не доставляю беспокойства. Но от меня многого хотят: брали мыть посуду, а превратили в рабыню. Человек от рождения не раб, а вольная птица», — так думала про себя Лидия. В погоне за деньгами люди сходят с ума, глаза их — безумны, они терпят бедствия. Ценой, которой достаются деньги, они причиняют боль, как другим, так и себе тоже.
  {% endfilter %}

  {% filter prose %}
    Лида носилась с тарелками и вилками, а над ней всегда располагался скелет синего кита. Она даже поднималась на этаж выше, чтобы постоянно видеть огромный позвоночник — это успокаивало её.
    И вот под скелетом синего кита стали происходить трагедии. Несчастья сыпались с лихвой на головы членов трёх работающих семей. Сначала бухгалтер, которая уволилась, потеряла сына, а теперь у сестёр Н. В. и Кати убили родного брата. За два года — два покойника. Здесь есть над чем задуматься. Два молодых человека, им бы ещё жить да жить! Одному — 19, другому — 33.
    Старшая дочь Лиды мечтала уехать за границу, а денег не было… Родственники готовы были «помочь» уехать. Они задабривали, зазывая её работать у них в магазине. Началось «перетягивание каната». Катя объяснила: покатилась — пусть катится. Лида настаивала: нельзя махать на это рукой. Отлично зная, что когда эту Наташу, тогда ещё 16-летнюю, увёз к себе на дачу парень, то её брат — ныне покойный — не дал «катиться по наклонной», а приехал за ней на «Мерседесе», затолкал в машину и вернул домой. Хорошо, что у неё заботливый дядя был (царствие ему небесное).
    А её мать? Исчезла внезапно и долго не объявлялась. Это как называется: «покатилась и пусть катится»? А разыскивал ли её кто? Неизвестно… Объявилась она через пять лет и, прожив недолго, умерла, оставив дочь, эту Наташу, сиротой.
  {% endfilter %}
{% endblock %}
