{% extends template %}

{% set parentTitle = "Компаньонка" %}
{% set title = "Блаженная" %}
{% set pubdate = "06.02.2019" %}

{% block content %}
  {% filter prose %}
    А недавно на работу, в кафе, родственница М. приехала… Всё разузнать: как тружусь, график, заработок — её многое интересовало. Беседовать вдвоём они с заведующей ушли в её кабинет.
    Лида окунала руки в клубящуюся пенную жидкость, и пар застилал глаза, а сердце учащённо билось: о чём они там шепчутся за спиной?
    Тут из кабинета выскочила М. и сообщила, что на выходные заберёт девочку к себе: пусть воздухом подышит… «А как же ей всё сказать-то теперь?» — ужаснулась Лида.
    Её взгляд скользнул с умного и проницательного лица родственницы и далее вниз по упитанному телу, упакованному в чёрную кожаную куртку, на туфли — блестящие, новые — да так там и остановился…
    — Где ребёнок-то, в садике? — весело спросила она.
    Чем ярче вспыхнула её улыбка, тем сильнее сжалась Лида внутри, еле выдавила из себя:
    — Н-не-ет, не в садике. Мама приехала и забрала к себе…
    Ох как по-недоброму полоснул взгляд и как искривилась линия рта богатой родственницы! В мгновение ока на глазах произошло перевоплощение из «благодетельницы» в злую фурию:
    — Да как же так?! Мы же договорились, что поможем тебе! — грозно вскричала М.
    — Так и мама мне поможет, — немного осмелела Лида.
    Явно осознавая крах своих далеко идущих планов и не желая примириться с этим — чувствовалось, как всё кипело и клокотало в её возмущённой натуре, — прохаживаясь вперёд и взад, она вдруг остановилась у обеденного стола и громко припечатала по нему своим кулаком:
    — Знаешь ли что?! — её взгляд метнул молнию. Не зная, как унизить или обозвать, в присутствии заведующей всё же сдержалась. — Блаженная, если ты через неделю не привезёшь ребёнка… — здесь она перевела дух, — если ты не будешь делать того, чего мы тебе говорим, то мы вас знать больше не желаем!.. — и с этими словами, не оглядываясь, быстрым шагом покинула кафе. У выхода её ждала машина.
    Лида с Катей дружно выдохнули.
    — Ну у тебя и родственники крутые! — воскликнула Катя. — Спросила меня: сколько я плачу тебе? Я ответила: пятьсот! — «Что?!» — Лида с недоумением взглянула на заведующую и про себя подумала: хитрюга, врать-то как умеет! Со страху увеличила зарплату в два раза! — Поинтересовалась окладом — с целью тебя переманить к себе. Сообщила, что 700 заплатит.
    — Вот так да! Надо подумать… — шутливо отозвалась Лида.
    Так неумышленно она узнала себе цену. Теперь явилось подтверждение её мизерному заработку.
    Кто-кто, а даже героическая К., с огромным шрамом по всей правой щеке, спасовала, стало быть, бояться есть чего!.. Стало быть, она не защитит её?..
    {{ notelink("«Несчастного человека легко поработить. Весёлого блаженного человека поработить невозможно».", 1) }}
  {% endfilter %}
{% endblock %}

{% block notes %}
  [Ошо] — прим. авт.
{% endblock %}
