{% extends template %}

{% set parentTitle = "Компаньонка" %}
{% set title = "А зачем тебе деньги?" %}
{% set pubdate = "06.02.2019" %}

{% block content %}
  {% filter prose %}
    А что же у неё? — На дорогу карточку оплачивают, а льгот — никаких. Из прежней зарплаты в 160 рублей (до перестройки) квартплата составляла 8 рублей — это двадцатая часть! А нынче — вся зарплата уходит на квартплату, все 100 процентов надо отдать! С маленьким ребёнком попробуй-ка выживи! Лида бьётся как рыба об лёд. Одной не поднять, не в силах прокормить, поэтому с февраля деточку отправила к маме в Тверскую.
    Всё чаще Е. В. стала спрашивать:
    — Почему дочку от мамы не привозишь?
    — Не прокормить будет: нет денег…
    — А зачем тебе деньги? — в упор пытала она и сама же отвечала: — Ты здесь сыта, дорогу оплачиваю.
    — Я-то сыта, а дочку кормить надо, и молочко, и обуть-одеть, и за садик заплатить…
    До заведующей не доходило, как на те деньги, которые она платит, можно жить? На её дерзость оставалось моргать глазами… Получалось, что деньги нужны ей одной, а Лидии они — не обязательны…
  {% endfilter %}
{% endblock %}
