{% extends template %}

{% set parentTitle = "Компаньонка" %}
{% set title = "Эпилог" %}
{% set pubdate = "06.02.2019" %}
{% set next = "gusarova-matveeva/tree-1" %}

{% block content %}
  {% filter prose %}
    Вот и приблизилась к завершению повесть «Компаньонка».
    Через 3 месяца после ухода Лиды кафе разорилось, а быть может, они успели хорошо обогатиться. Напоследок не такси ловили до Московского вокзала, а купили собственный автомобиль!
    Убегали они спешно, в выходные, пока руководство Зоологического института отсутствовало. Открутили свои мойки и раковины, убраться как положено им не хватило времени. Наелись буфетом после 2-х лет. То ли сбежали, покуда не разорились, то ли — нахапали, обогатились. Скорее всего, второй вариант. Энергичные люди. Награбив, наворовав на бутербродах, они растворились в неясной дали…
  {% endfilter %}
{% endblock %}
