{% extends template %}

{% set parentTitle = "Компаньонка" %}
{% set title = "«Член» семьи" %}
{% set pubdate = "06.02.2019" %}

{% block content %}
  {% filter prose %}
    Добрая Катя готова была отпустить Лиду в один день (без отработки), да вдруг стала осознавать потерю и поэтому умышленно тормозила уход, растягивая его аж до трёх недель, но легче ей от этого не становилось…
    «Желает, чтобы я ей к приходу СЭС все стены перемыла? А кто их пачкал?»
    С тех пор как у мамы началась «посевная», дочка с ней, и Лида постоянно просила знакомых посидеть с ней в выходные. Казалось бы, ложась в 23, просыпалаь в восемь, а — разбита, словно капитулировала перед Катей. Возня мышиная с увольнением да и только! Она постаралась перевести так производственные проблемы на домашние, вспоров все свежие раны, доведя до слёз. Готовая сделать виноватыми кого угодно, кроме себя, однако в полный рост её проколы и те слова, что если Лида не почувствует себя членом их семьи, то её ли в этом вина?..
    Да, за последнее время она утеряла бдительность, скажем так, перестаралась, пытаясь по больному делать больно — лишь переборщила… «Крик вопиющей в пустыне» не слышит якобы…
    Вечером Наташа спросила:
    — Так вы уже всё, завтра не выходите?
    — Ещё неизвестно, — ответила Лида, и это была правда.
    От Кати нельзя было добиться ничего конкретного. Чувствовалось так, словно холодные щупальца держали Лиду заложницей источника дохода, которого упускать ни в какую не хотелось.
    Лишь теперь она прикинула всё, взвесила и поняла, что совершила промашку. А ведь хотела остаться в глазах Лиды хорошей. Вид от этого растерянный, неуверенный в себе, как-никак неделя длится канитель с двойственным знаком зодиака — Близнецом.
    В 12:30 приехала Катя:
    — Ладно, договорились: завтра ты не выходишь, а ищешь работу. Посмотрим, что у тебя из этого выйдет…
    — Договорились, — Лида обрадованно кивнула, но внутри всё же было неспокойно: чего можно ждать от одного дня? Что, за день можно найти работу?
    Нервы сдавали, и она начала мыть всё, что попадалось под руку: стены, шкафы, плинтусы… вдруг — кишечная колика, желудок пустой, а её продолжало выворачивать наизнанку… И стало очевидным: видимо, от того, что её не отпускают, на нервной почве схватило желудок… То сердце, то флюс, теперь — это…
    — Всё с меня довольно! — сказала Лида себе и укрепилась в желании на следующей неделе положить на стол заявление, ибо твёрдо решила для себя: хуже нет, чем ходить на нелюбимую работу.
    С утра лил дождь, медленный и затяжной, с пузырями на лужах. Две недели отсидела с дочкой за свой счёт, и «финансы запели романсы». Один раз сходила за молоком, и деньги закончились. Телефон не оплачен месяц, квартира — три месяца, работа не одевает, не обувает.
    Утром, оставив дочку приятельнице Валентине, нехотя побрела к трамваю, углубилась в метро, на Невском села в троллейбус, переехала Неву через Дворцовый мост. Вчера по этому мосту шли захоранивать царскую семью.
    Отнималась нога — это может вывести из строя. Страдала семья, голодала кошка: никто в кафе не оставлял ей ни одного сантиметра сосиски. Мухи одолевали, им пора бы уйти в спячку, а они всё жужжали без толку, кружась над ароматно пахнувшими бутербродами с сыром.
    Кстати, липучки следует приобрести! Ведь одолели совсем! А на лапках носят 84 болезни! Некоторые мухи вовсе не засыпали на зиму: а зачем? Если тепло и большой ассортимент продуктов! Даже мухи кормились. В отличие от Лиды, все радовались, в том числе и мухи. Даже мухам было хорошо, а ей — плохо.
  {% endfilter %}
{% endblock %}
