{% extends template %}

{% set parentTitle = "Компаньонка" %}
{% set title = "Награда" %}
{% set pubdate = "06.02.2019" %}

{% block content %}
  {% filter prose %}
    Лидия выглядела подавленной. Вот Катя принесла дебет-кредит на её фамилию, взглянула — если с неодобрением, то, по крайней мере, терпимо. Что на этот раз? Карающее слово всегда за ней…
    Прошли три дня, а бухгалтер всё ещё решала: сколько ей заплатить? И вчерашняя депрессия — не предчувствие ли? Заведующая никогда не давала ей подработать: ни на банкете, ни на каникулах, ни подменяя их.
    А когда сели делить деньги, вид у обеих был серьёзный: одна не желала переплатить лишние, а другая боялась недополучить свои, кровно заработанные.
    Мысленно не раз она представляла трёхсотграммовый кусок колбасы, купленный за свои деньги в магазине… Интересно, сколько бутербродов получилось бы, если нарезать колбасу так же тонко, как это делают здесь, в кафе? Ежели их десять — то, умножая на стоимость одного бутерброда — на три тысячи, — получаем тридцать тысяч! Вот так кругленькая сумма получается!
    Да, наверняка там 25-30 штук! Галина, прежний бухгалтер, говорила, что в кафе «накрутка» 300 процентов! Играть — так по-крупному!
    Вот и теперь работала два дня одна за двоих, наторговала им 700 рублей, а «награда» — двадцатка! Три с половиной процента — грустно!.. Свою приятельницу отвезла вымыть трёхкомнатную квартиру бабушке к «чистому» четвергу: ей за 3 часа заплатили 50 рублей! От досады на глазах выступили слёзы… Перечить не стала: как бы не было ещё хуже. Однако хуже было некуда; где ещё поискать такую дешёвую рабочую силу? Нигде не найдут. Э-эх! Только и осталось, как тяжело вздохнуть, вспомнив, как те дни были просто вычеркнуты из жизни… Потом все выходные в лёжку лежала: приходила в себя. А они были на похоронах.
    «Собственно, чего я от неё ждала? Надо было ещё при первом жульничестве расторгнуть договор, а я разрешила ей себя обижать, на себе кататься. Вот и получаю теперь, — корила себя Лида. — Доцеловалась! Верно Галина говорила: членом их семьи ты никогда не была и никогда не будешь. Ты — рабыня». — И как бы ни называли они её «членом семьи», Лида здесь лишняя, чужая — никто!
    Сегодня решила не хлопотать за всех, не готовить ужин — самоустранилась от ненужной дополнительной нагрузки. Поэтому успевала заглянуть в женский роман, изгрызть по три ногтя на обеих руках, наставляя себя на поиск другой работы.
    Наталья стояла у прилавка и кормила сотрудников Зоологического института в счёт аренды. Лида и Катин муж пили чай, он то и дело подкладывал бутерброды ей на тарелку.
    Он читал Шелдона, она — Хейгер и, как мартышка, грызла ногти от сильного расстройства, высчитывая: 700 тысяч для них как находка, а для неё — потерянные два дня. Крах, неудача! Тут она так переусердствовала, что оторвала (аж до мяса!) на пальце лоскут кожи. Рана неприятно саднила…
    «Зарабатывай сама, ни на кого не надейся», — внушала себе урок жизни. В полумраке огромного города встретила она видимость искреннего сочувствия. Убывает в людях человеческое достоинство, растёт жлобство, при котором ни звука на глас вопиющий, на обессилевшего, в надежде хоть как-нибудь выжить биологически. Крепло тайное желание вырваться из зависимости.
  {% endfilter %}
{% endblock %}
