{% extends template %}

{% set parentTitle = "Компаньонка" %}
{% set title = "Под скелетом синего кита" %}
{% set pubdate = "06.02.2019" %}
{% set prev = "gusarova-matveeva/artist-12" %}

{% block preface %}
  {% filter epigraph %}
    {% filter prose("quote") %}
      Подчинённый перед лицом начальствующим должен иметь вид лихой и придурковатый, дабы разумением своим не смущать начальство.
      [Указ Петра I]
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter prose %}
    В зоологическом музее Российской Академии наук в числе редких и поистине уникальных экспонатов — скелет синего кита длиною 27 метров. При жизни кит весил 150 тонн.
    В 1856 году он был приобретён жителем Казани коллежским советником Балабиным и передан в дар императорскому Зоологическому музею.
  {% endfilter %}

  {{asters}}
  {% filter prose %}
    Этажом ниже, под «охраною» скелета cинего кита, располагалось кафе, где Лидия работала почти год. Пустые прилавки в магазинах, продукты по талонам, зарплата с квартплату — торгашеская спекулятивная лихорадка девяностых годов.
    Устраивалась на 10 тысяч в день, а воз и ныне там. О прибавке к жалованью просить не осмеливается; что ни говори, а единую карточку оплачивают, плюс ежедневное питание с 12-ти до 17:00. И думать нечего: найти желающих на это место им не составит большого труда…
  {% endfilter %}

  {% filter ins %}
    {% filter poem %}
      Чтобы подольше можно спать —
      В кафе устроилась «мечтать»,
      Где дни проходят в сонном забытьи.
      Посуды сколько? — кружки 43…

      Пусть денег недобор в кафе,
      По выходным зато втройне
      И беготня, и пыль столбом,
      Так как народ в музей идёт битком!

      А значит, выручка пойдёт «горой»!
      В восьмом часу разъедемся домой.
      Сытое брюшко и весёлый взгляд —
      На «тачке» мчимся. Невский, ты нам рад?
    {% endfilter %}
  {% endfilter %}

  {% filter prose %}
    Всё же в глубине души она понимала: этих денег недостаточно. Долги по квартплате скопились за несколько месяцев, поэтому мозг постоянно изыскивал всевозможные резервы.
  {% endfilter %}
{% endblock %}
