{% extends template %}

{% set parentTitle = "Компаньонка" %}
{% set title = "Чревоугодники" %}
{% set pubdate = "06.02.2019" %}

{% block content %}
  {% filter prose %}
    С тех пор как Лида утвердилась в желании уйти, настроение значительно улучшилось. И веселее стала нарезать капусту для щей. Вот она замурлыкала мелодию вслух, улыбаясь вдруг вылетевшим ноткам. Десятилетний сынишка заведующей почувствовал приподнятое настроение:
    — Вы счастливы?
    — А что, заметно?
    — Да, слышу — запели.
    — Конечно, при счастье! — и продолжила натирать морковь для квашения капусты. Мальчик готовил шаверму с начинкой из курицы и помидоров…
    Однако вспышка радости быстро угасла: денег нет. Вытирала столы, убирала посуду, а бокалы в мойке, качаясь на волнах, позвякивали и словно разинули рты на её беспомощность.
    Все дружно съели крабовый салат. Катя сообщила, что надо будет пройти медкомиссию. А Лида поведала ей о своём душевном состоянии, которое никуда не годилось: скоро майские праздники, и как же ей быть?
    — Куда бы ты их дела?
    — К маме поехала, — не задумываясь выпалила Лида.
    — Но это же 150 тысяч рублей! — ужаснулась Катя. — Где бы ты эти деньги взяла сейчас?
    — В одну сторону — 75, а на обратный выезд заработала бы массажем .
    — Ну раз недостаточно было отпуска, то иди догуливай, — пошла она навстречу. И пусть поездка за свой счёт не улыбалась, всё же настроение приподнялось, и Лида веселее забегала с подносами.
    Затем сынишка Кати предложил шаверму, подоспели щи, все пили томатный сок, а никогда не переводящиеся ветчина и сыр всегда присутствовали на столе. Сегодня ещё и корзина с киви! Только ешь!
    — Богатый стол у нас сегодня, — сделала Лидия комплимент доброй хозяйке.
    — Неправда, вчера был не хуже: вчера была икра!
    Тут у Натальи и у мальчика схватило животы — они то и дело отлучались со своих рабочих мест. Их нежные желудки отказывались переварить всё подряд и выбрасывали остатки непереваренной пищи. Чревоугодие наказывалось Богом. Вот снова: не успела вернуться с туалета Наталья, как побежал кто-то другой…
    Кто же следующий? Нет, только не Лида!
  {% endfilter %}
{% endblock %}
