{% extends template %}

{% set parentTitle = "Компаньонка" %}
{% set title = "Искусство кашеварить" %}
{% set pubdate = "06.02.2019" %}

{% block content %}
  {% filter prose %}
    Через два месяца, чтобы и далее не сидеть на сухомятке и не питаться бутербродами, по предложению Кати Лида согласилась готовить обеды.
    Сколько же на неё навалилось неоплачиваемых обязанностей вместе с этой готовкой — мамочка родная! И закупка продуктов — круп, масла, овощей и зелени — которые надо было на себе доставить в музей, с учётом того, что на Университетской набережной магазины полностью отсутствуют. И мытьё кастрюль, сковородок, тёрок, плиты и всей послеобеденной посуды!
    День за днём осваивала она это непростое искусство кашеварить. На приготовление обеда — первого и второго (мясных блюд) — у неё уходило 2-3 часа. И как только обед был готов, тут же его растаскивали по разным пунктам назначения: бабушкам и дедушкам на вахту — в первую очередь! Затем Светлане — продавцу бижутерии, — затем — привозящим товар и всем приходящим к бухгалтеру гостям. Сердобольной хозяйке кафе было всех жалко. Трудом Лиды благодарили всех! И ежедневно ей приходилось слышать одну и ту же «песенку»:
    — Дедушек покормить не забыла, Лидия?
    — Конечно нет, Екатерина Владимировна, да их я самых первых покормила!
    — Ай да молодец! — не скупилась на похвалу бухгалтер и заведующая в одном числе.
    Год прошёл как вместе отработали, а вот дедушек и бабушек «жалеть» у неё никак не получалось. И однажды она задумалась о причинах, которые мешали «пожалеть» бедных и разнесчастных…
    Как дедушки, так и бабушки с вахты получали пенсию и зарплату. Работали сутки через трое — это 7-8 трудовых дней, им полагалось питание (сосиска и чай), да кафе подкармливало их супами и салатами. Перед уходом Е. В. вечно совала тем в руки либо шоколадку, либо мороженое. Как ей — так никогда! Далее: дорога у дедушек и бабушек была бесплатной. А ежели они ещё блокадники или участники, ветераны или инвалиды (одна из категорий непременно присутствует), тогда им шла льгота пятьдесят процентов за жильё, телефон и электроэнергию. А Е. В. всё ещё продолжала их «жалеть»! Вечно у той перед глазами стояли проблемы бабушек и дедушек, но — увы — не своей работницы…
  {% endfilter %}
{% endblock %}
