{% extends template %}

{% set parentTitle = "Компаньонка" %}
{% set title = "SOS!" %}
{% set pubdate = "06.02.2019" %}

{% block content %}
  {% filter poem %}
    Словно на дне забытого колодца,
    О помощи взываю скоро год/
    Никто не слышит и не отзовётся —
    Неужто гибели настал черёд?

    Сигналом «SOS» взываю. И — напрасно…
    Туги на уши те, кто «наверху»,
    А пальцы исцарапанные красные
    Цепляются за ветхую труху…
  {% endfilter %}
{% endblock %}
