{% extends template %}

{% set title = "Трень-брень" %}
{% set pubdate = "06.02.2019" %}

{% block content %}
  {% filter poem %}
    Ещё вчера ритмы сердца: трень-брень…
    А сегодня: трень-трень, брень-брень —
    Целый день! Даже — ночью!
    Мамочка, что с твоей дочкой?!!

    Увижу лишь воочью
    Всего лишь раз и — точно!
    Гимнов слышен поток,
    Радость в них и восторг:

    Трень-трень-трень,
    Брень-брень-брень,
    И так — весь день и целую ночь,
    Чем же себе помочь?

    Горстка божественных искр —
    На благодатной почве
    Увеличилась в разы!
    И это ли — не сон? —
    Стоит предо мной он! —

    Чертежи подает… —
    Крови безудержный ток
    Стучит в висках, играя —
    Мамочка, я умираю! —

    От взгляда незнакомых глаз
    И близких…
    От мельком оброненных фраз,
    Но искренних…

    Блаженство: видя, лицезреть,
    Быть рядом!
    О, мамочка, во столько лет —
    Отрадно!..
  {% endfilter %}
{% endblock %}
