{% extends template %}

{% set title = "Слоники с большими ушами" %}
{% set pubdate = "06.02.2019" %}

{% block content %}
  {% filter poem %}
    Вновь уснуть не могу, только губы кусаю.
    Ну-ка слоников я в этот миг посчитаю:
    Первый слоник с большими ушами,
    Второй слоник с большими ушами,
    Третий слоник с большими ушами! —

    Когда стало их за пятьдесят —
    Пришлось всё-таки осознать:
    Если ни в одном глазу — сна,
    Идея эта — призрачна, пуста!
    Тычась в простыню губами —
    Не сыскала милых глаз —
    Изойти могу рыданьем.

    Сердце муторно щемит,
    Переполненное дрожью,
    Кровь бушует и бурлит,
    Сдерживает мысль тревожно…
  {% endfilter %}
{% endblock %}
