{% extends template %}

{% set title = "Октябрь" %}
{% set pubdate = "06.02.2019" %}

{% block content %}
  {% filter poem %}
    Пушистой рыжею лисой
    Прокралась осень меж домами,
    Так поскорей глаза раскрой:
    Очарование — рядом с нами!

    Кругом такая благодать!
    И красок солнечных разливы.
    Есть в осени момент счастливый,
    Который нам не удержать.

    Не скажешь осени: постой!
    Ведь у неё характер — лисий!
    Она уйдёт, взмахнув хвостом
    Из красновато-рыжих листьев!
  {% endfilter %}
{% endblock %}
