{% extends template %}

{% set title = "Признание Петербургу" %}
{% set pubdate = "06.02.2019" %}

{% block content %}
  {% filter poem %}
    Здравствуй, мой милый город!
    Без тебя я жила, как в изгнании.
    Ты мечтами, как шпилями, вспорот.
    Просыпаюсь я утром ранним:

    Купола устремлялись к звёздам,
    Иглы шпилей сверлили небо.
    Ощутила себя непросто:
    О себе заявить и мне бы!

    Петербург, словно в розовом свете,
    Белой ночью встревожил сердце —
    Породниться с тобою в расцвете
    И оставить свой след — лестно!

    Приподняться в полёте славном,
    С твоим сердцем в одном биении.
    Завоёвывать тебя стану
    Каждым новым стихотворением!
  {% endfilter %}
{% endblock %}
