{% extends template %}

{% set title = "В глубинке прекрасной Твери" %}
{% set pubdate = "06.02.2019" %}

{% block preface %}
  <p class="art__dedic">Марианне</p>
{% endblock %}

{% block content %}
  {% filter poem %}
    Как дни без неё проводил? —
    Сомнения одолевали.
    А вдруг он теперь — не один? —
    И сердце томилось печалью.

    Льва приручив, сбежать —
    Будет ли ей прощенье? —
    Навзрыд готова рыдать —
    От собственного решенья…

    И на большом расстоянии —
    Только так и смогла! —
    Заметила хрупкое здание —
    Первой любви купола.

    На пики пришлось забраться:
    Возможно, оттуда видней? —
    Вглядывалась и вглядывалась
    В мириады огней…

    И ковш Медведицы яркий,
    И всплеск Полярной звезды —
    Сердце стучалось жаркое
    В ярых огнях ночи…

    В туманной долине сонной,
    В глубинке прекрасной Твери,
    Парень, изменой пронзенный,
    Умирал от любви…
  {% endfilter %}
{% endblock %}
