{% extends template %}

{% set title = "Сезоны Петербурга" %}
{% set pubdate = "06.02.2019" %}

{% block content %}
  {% filter poem %}
    Лето — прекрасное дитя —
    Развёртывая бережно с пелёнок…
    Оно лишит тебя покоя, сна —
    И незаметно подрастёт ребёнок.

    Он — лето, что мелькает впереди,
    Маячит розово-лиловым платьем…
    Любить, лелея, прижимать к груди —
    Осознавая: в этом — счастье!

    Цветистое! Прелестною порой
    Маячит розово-лиловым платьем.
    В веснушках носик доченьки родной,
    И символом её можно назвать-то.

    Промчалась быстро, голосок звенит,
    А я зову, бегу, кричу вдогонку!
    Явилась, чтобы подразнить?
    И вот попробуй догони девчонку!

    Зима — полгода или более того:
    Так разойдётся! — и не остановишь…
    Другого, к сожалению, не дано…
    И о тепле ты постоянно молишь.

    На очереди — осень и весна:
    С ветрами, золотым дождём из листьев!
    Продуют и промочат! Кто бы знал,
    Как молишься, чтобы умчались быстро:

    И ветродуи, и унылое ненастье…
    В основе — мокнешь и скулишь:
    От холода, нужды, напастей.
    О Господи, нам лето возврати.
  {% endfilter %}
{% endblock %}
