{% extends template %}

{% set title = "Шляпка" %}
{% set pubdate = "06.02.2019" %}

{% block content %}
  {% filter poem %}
    Мечтаю о шляпке, но нет — не скопить, —
    Без шляпки красивой приходится жить…

    Мне волосы ветер лохматит и рвёт,
    А шляпка укрыла б надежно, тепло.
    Вон женщина в шляпке идёт впереди,
    Другая в машину садится, ты — жди…

    трамвай… Зазвенел на соседнем дворе,
    А мне, а мне грезится рай в Шевроле!
    Комфорта, бассейна в квартирке-то нет,
    И мал «Поэтический кабинет»!

    Бильярдная комната тоже — увы…
    Отложим на время златые мечты, —
    В далеком ли будущем? Скоро ль, ау!
    И жду терпеливо, и ночи не сплю…

    Что это такое — богатства синдром? —
    Зудит неустанно и ночью, и днём!…
    Журналов ли я начиталась мирских? —
    Рука потянулась к молитве — утих

    Своих безрассудных стремлений поток.
    Мне воздуха свежего бы глоток!..
    Прекрасно — есть много других интересов,
    И всё это — творческие процессы!
  {% endfilter %}
{% endblock %}
