{% extends template %}

{% set title = "Когда вы становитесь львом" %}
{% set titleDescr = "Очерк" %}
{% set pubdate = "06.02.2019" %}
{% set prev = "gusarova-matveeva/poem-10" %}

{% block content %}
  {% filter prose %}
    Оказавшись по делам на Литейном, я решила заглянуть к родственникам в магазинчик, где отработала год. Чувствуя, как они меня эксплуатировали. Кто же при этом не испытывает гнева? Многие не решаются бросить вызов тому, кто внушает им страх, не идёт на это открыто, публично. Я пошла. Выигрыш был невелик, а потери — ощутимые…
    К этому времени успела поработать в прачечной и не задержалась там надолго. Интересуясь новой работой, Юрий и Лариса не могли удовлетвориться несколькими фразами, а мне тоже нужно было выговориться…
    И припомнилась мне эта прачечная в одном из дошкольных учреждений и события, которые происходили в ней.
    Татьяна, напарница по работе, была, как и я, женщиной средних лет. Неустроенная в жизни толстушка без мужа и детей почувствовала, что на мне можно периодически срывать своё плохое настроение, неудовлетворённость, злость…
    По утрам санитарки приносили, порой волоком, непомерно тяжёлые мешки с одеждой и бельём в стирку. Там собирался контингент работников, к кому всегда можно было придраться, кого можно было унижать. Там «бурлила река» недовольства многим: придирками старшей медсестры, низкой заработной платой, на которую не прожить, высокими ценами на продукты питания, самим правительством. И всё это не выплёскивалось дальше порога прачечной, а оставалось бурлить внутри…
    В ней сыро и холодно от раскрытых окон (иначе от вороха мокрых пелёнок можно задохнуться!). Северный ветер, воющий за окнами, настолько силён, что постоянно распахивал двери настежь. Старшей медсестре, чей кабинет располагался напротив, с чувством брезгливости на лице то и дело приходилось захлопывать их… Нам тоже не доставляло удовольствия видеть эту ненависть к нашей работе.
    Среди гула пяти стиральных машин, водяных испарений, склок и сплетён «бабьего царства», недовольного всем и вся, я не сразу услышала крик, а когда поняла, в чём дело, — вздрогнула. Это «психологическая атака» без особых на то причин. Татьяна не давала мне спокойно жить и постоянно устраивала скандалы. Пытаясь успокаивать её, отвлекать забавными историями, я хотела работать с ней мирно, быть ей подругой. Однако она постоянно раздражалась, устраивала ссоры и конфликты.
    Первопричиной этому послужил случай с забытыми в электросушилке ползунками, которые уже дымились… На брошенные в лицо не отреагировала должным образом — поначалу просто растерялась. И с тех пор, увы, это имело продолжение… И ещё её настраивали против меня завхоз и бельёвщица, точнее — они натравливали её на меня по непонятной мне причине.
    — Татьяна, не будем ссориться, — уговаривала я её. Зачастую она обходилась посланием нескольких непристойных слов. А мне было грех обижаться, находясь с нею в одинаковых унизительных условиях, будучи подавленной ощущением беспомощности, глупой покорности всем требованиям руководства. Но с тех самых пор мы почувствовали вражду, которая установилась между нами.
  {% endfilter %}

  {{asters}}
  {% filter prose %}
    Заратустра разделял человеческую жизнь на последовательные метаморфозы духа. Первую стадию он назвал «верблюд», вторую — «лев».
  {% endfilter %}

  {% filter ins %}
    {% filter prose("short") %}
      Стадия верблюда даётся обществом, на ней каждый должен говорить «да». Нужно понять, что верблюд очень долго говорил «да», настолько долго, что должен был подавлять в себе «нет». «Нет» накапливалось, и наступал момент, когда колесо перевёртывалось, верблюд переворачивался вверх ногами и становился львом.
    {% endfilter %}
  {% endfilter %}

  {% filter prose %}
    Подъехала машина: в мешках привезли пелёнки с комбината. Тут же нас позвали их разгружать. Огромные по габаритам и тяжёлые по весу мешки мы перетаскивали на спине. Под тяжестью ноши у меня, маленькой женщины, подкашивались ноги. Я негодовала:
    — А грузчики где?! — ответа не последовало. Я продолжала вслух возмущаться, что это не входит в мои обязанности — в носильщицы не нанималась — и что по технике безопасности женщинам не полагается поднимать более пятнадцати килограммов. В душе зарычал лев!
  {% endfilter %}

  {% filter ins %}
    {% filter prose %}
      Лев — это реакция, восстание против обстоятельств, делающих людей верблюдами. Когда вы становитесь львом — это дар, который вы даёте себе сами. Если вы любите себя, вы сможете этого сделать — рискнув пойти против потока, вы сможете стать львом.
      Стадия льва имеет следующие характеристики: независимость, непослушание, восстание: против авторитета, против догмы, против государства — против всего! Поэтому ведётся настоящая война между львами и верблюдами. Но верблюдов — большинство, львы появляются очень редко, лев — это исключение.
    {% endfilter %}
  {% endfilter %}

  {{asters}}
  {% filter prose %}
    Когда же мы вернулись из бельевой после разгрузки машины, среди гула тарахтящей сушилки я едва расслышала:
    — …мать! — и увидела Татьяну со шваброй в руках, направляющуюся в мою сторону…
    Под напором массы в девяносто килограмм я отступила к окну, а когда уже отступать стало некуда, изловчилась и вцепилась двумя руками в швабру. Одна её рука толщиной была как две моих. Её перекошенное злобой лицо извергало ругательства:
    — Погоди же у меня! Я покажу сейчас, как ты «в носильщицы не нанималась»! А кто же, по-твоему, нанимался? Я одна, что ли? Отвечай!..
    Инстинкт самосохранения заставил меня ещё сильнее вцепиться в палку пальцами и не разжимать их. Они словно стали железными. Ждать помощи было неоткуда. Расчётливо я пыталась оттеснить противницу к двери…
    Швабра, как часовая стрелка, обегала круг то в одну, то в другую сторону. Вдруг послышался треск: палка зацепила карман Татьяниного халата и вырвала его «с мясом». От этого её лицо ещё больше искривилось, и сквозь сжатые зубы она процедила:
    — Ну всё, теперь держись у меня…
    Тут пальцы мои разжались — спасительная дверь совсем рядом! Схватилась за ручку, рванула её на себя, прыжком оказалась в коридоре. Здесь, в оживлённом месте, всегда людно: прошли две воспитательницы и повариха. В безопасности смогла отдышаться и успокоиться. Перевела дух и помолилась Деве Марии, чтобы день завершился без дальнейших эксцессов.
    Затем я вернулась на своё рабочее место. Татьяна бросилась обнимать меня, поцеловала в щёку, вид у неё был такой испуганный и виноватый, что мне захотелось всё забыть:
    — Прости, пожалуйста. Ты меня простишь?
    — Конечно, прощаю.
    Дружно мы перестирали уйму белья: от халатов врачей до детских платьев, колготок, ползунков и чепчиков. По окончании рабочего дня я спешно покинула детское учреждение: прочь от унижения, матерщины, издевательства. И пусть здание оставалось далеко позади, но меня несло, как ветром.
    Когда же остановилась, порадовалась: как хорошо дышится! В воздухе медленно кружились снежинки, мирные, лёгкие, невесомые.
    На душе стало спокойно, и не верилось, что, выдержав там полгода, не обозлилась на придирки и нападки, не пала духом. Позже я уволилась.
    Закончила рассказ и взглянула на родственников, к моему удивлению, не перебивших меня ни разу. Они задумались о чём-то о своём.
  {% endfilter %}

  {% filter ins %}
    {% filter prose("short") %}
      Львы — нежелательны. Общество всячески обороняется от львов. Верблюды их боятся, так как они тревожат их сон, создают беспокойство. Они создают у верблюдов желание стать львами…
    {% endfilter %}
  {% endfilter %}

  {% filter prose %}
    Сбросьте с себя оковы верблюда, хотя бы на время.
    У каждого в жизни бывает момент, когда он становится львом.
  {% endfilter %}
{% endblock %}
