{% extends template %}

{% set parentTitle = "Раствориться в «Рунеже»…" %}
{% set title = "Часть 3" %}
{% set pubdate = "06.02.2019" %}

{% block content %}
  {% filter prose %}
    Начался вечер. На сцену поднялась Валентина и неожиданно для всех начала со скорбной вести — о кончине тёти из Архангельска. Даже ночью не спала: сочиняла некролог в стихах, и теперь предлагает аудитории послушать его…
    Вполне возможно, что он мастерски написан, ну а как же быть мне? Достаточно ли мне будет времени выступить перед публикой? Ведь такая возможность предоставляется раз в году!
    Вот если бы не умерла тётя — всё бы шло как надо, «как по маслу», как на репетициях — без проблем! Но тётя всё же умерла, не раньше и не позже, в аккурат перед моим вечером — смелым выходом на сцену…
    Из присутствующих в зале навряд ли кто-то знал или видел когда-нибудь в глаза эту тётю: всё-таки — Архангельск… Получается так: и знать — не знали, и видеть — не видели, а теперь — и точно не увидят… Охотно верю, что замечательная женщина, вечная ей память.
    — Может, не надо?! — кто-то из мужчин в зале смело выкрикнул свой протест.
    Я убеждена: голос был далеко не единичным. Добрых три четверти присутствующих явно не нуждались в семейных подробностях автора. Траур — не у них, и вообще в свой выходной они явились на зрелище, на праздник! Мне так же, как им, не хотелось некрологов… Для этого существуют церковные дни: кремация, девять и сорок дней — там и можно прочитать памяти усопшего, все родные будут только рады.
    И так программа насыщена до предела, а тут ещё добавилось трагическое вступление… Начинать «за упокой» — мы так не договаривались! Поэтому тоже — против! Протестует и всё моё нутро! А снаружи показывать недовольство — без толку, поэтому плыву по течению…
    Краска вмиг прилила к лицу Валентины, ей стало не по себе: чувство уязвлённой гордости взяло верх. Позади — минута молчания в честь усопшей, за это время она-то и справилась с ситуацией: краснота с лица постепенно стала уходить…
    Хозяйка, можно сказать, вечера, по собственной инициативе и усмотрению направила действие по своему руслу:
    — Нет, я всё же прочту! — утвердительно заявила она, несмотря на негласное, немое нежелание многих присутствующих и единичный протест — выкрикнувшего смельчака… Помимо их воли она окунула всех в свой семейный траур…
  {% endfilter %}
{% endblock %}
