{% extends template %}

{% set parentTitle = "Раствориться в «Рунеже»…" %}
{% set title = "Часть 2" %}
{% set pubdate = "06.02.2019" %}

{% block content %}
  {% filter prose %}
    Валентина появилась в лито значительно позднее. Она махом закончила двухгодичные курсы литераторов на коммерческой основе, поэтому по качеству и численности стихов превзошла многих. Она существовала где-то, а близко в творчестве мы ещё не соприкасались. Однако моя малая проза воодушевила её, и вот — наше первое совместное выступление.
    Зал-«погорелец», в котором планировался вечер, восстановлен полностью, правда, по-прежнему в нём нет ни одного окошка! Зато есть сцена, а чтобы взобраться на её подмостки, надобно иметь определённую смелость!
    К концерту мы готовились основательно: из-за дефицита времени и невозможности встретиться репетиции проводились по телефону. Идея Валентины была такова: читая стихи поочерёдно, переплести нашу любовную лирику воедино.
    На одном из заседаний клуба Диана Петровна передала мне программу нашего вечера с целю ознакомления. Дома, перечитав её, я вдруг прозрела и задалась вопросом: что делаю я на вечере у Валентины? Вклиниться в её выступление — значит нарушить размеры ритма и ритмики её стихов, энергетику, наконец!
    Для кратковременных выходов с чтениями стихов — своего рода «вкраплениями» или «вспышками» восторгов очарованной души, чтобы она раскрылась и вызвала резонанс в сердцах зрителей, — мне явно недоставало времени…
    Созерцая программку, я понимала, что вечер перегружен стихами и что по времени он не укладывается ни в два часа, ни в два с половиной!..
    Валя поинтересовалась:
    — Сколько времени займёт твоё выступление?
    — В двадцать минут уложусь…
    — Как хорошо! — торжествовала она.
    Руководитель не заметила того, что на вечере мне «слова не дадут вставить», однако договариваемся между собой мы всегда сами.
    Активной, с хорошей дикцией и актёрскими данными, Валентине к тому же удалось собрать большую аудиторию своих поклонников. В этом она преуспела. Её знакомые привели детей, внуков, пожилых родителей. В зале около пятнадцати рядов, в каждом ряде — семнадцать мест, и все — заняты! Людей набилось — до отказа.
  {% endfilter %}
{% endblock %}
