{% extends template %}

{% set parentTitle = "Раствориться в «Рунеже»…" %}
{% set title = "Часть 5" %}
{% set pubdate = "06.02.2019" %}
{% set next = "gusarova-matveeva/forest-1" %}

{% block content %}
  {% filter prose %}
    В расстройстве оттого, что зрители не успеют прослушать мой гениальный рассказ «Когда вы становитесь львом», я тоже поддалась панике. Завидев раскрасневшиеся лица, намеренно ускоряя процесс чтения, я догадалась на ходу выбрасывать малозначащие (как мне тогда казалось) эпизоды…
    Выбрала три странички, а почему-то им не было ни конца, ни края… Не понимала, что делать: либо продолжать читать, либо удерживать убегающих за пиджаки, шарфики и сумки… Мой взор беспомощно и с мольбой метался от убегающей прочь публики — к рассказу. Суетно выбрасывая из текста предложения, я стремилась к скорейшему его завершению!..
    Голосок и так-то не сильно прорезан, а теперь-то и вовсе почти смолк…
    Дала маху, вот ведь — оказия! Нет ведь чтобы прочитать его в начале выступления, когда у народа ещё головки свежие, не обременённые поэзией…
    А ведь так хотелось сделать концовку сильной! Вот и сделала, можно теперь себя поздравить… Это не пятый ли мой выход на сцену? Понятное дело: не всегда всё идёт гладко, могут приключиться всякие казусы… И даже если провалиться — то не на двадцатиминутном же выступлении!
  {% endfilter %}

  {{asters}}
  {% filter prose %}
    Закончен обзор субботнего праздника. И до, и после него удачи чередовались с поражениями, за восторгом обычно следовало разочарование. И спуски нам необходимы лишь для того, чтобы потом забраться ещё выше — на хребет!
    И всегда на праздниках и встречах неизменно присутствовали аплодисменты, цветы, фуршет, дружеские пожелания, благожелательность, обмен творчеством — растворение в «Рунеже», растворение в нежности…
  {% endfilter %}
{% endblock %}
