{% extends template %}

{% set parentTitle = "Встреча в «Подводной лодке»" %}
{% set title = "Часть I" %}
{% set pubdate = "06.02.2019" %}
{% set prev = "gusarova-matveeva/irma-2" %}

{% block preface %}
  {% filter epigraph %}
    {% filter prose("quote") %}
      До боли, до отчаяния чарует меня не овладение, не обладание, а нахождение, а преследование, искание овладевания.
      [Ницше]
    {% endfilter %}
  {% endfilter %}

  {% filter epigraph %}
    {% filter prose("quote") %}
      Непознанное — моя безграничная область, разряд силы, «борьба с сонливостью» — моя единственная радость.
      [Ницше]
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter prose %}
    В полуподвальном помещении пивного бара «Подводная лодка» стояла тропическая жара. Даже электронные часы, размещённые в голове кабана в виде его глаз, и те раскалились докрасна и показывали время 19:27 — шёл «мой» час…
    …Соседке Римме, проживавшей ниже этажом, недолго пришлось уговаривать меня, Веру, к себе в напарницы: работа по двенадцать часов, два через два, с зарплатой сорок рублей в день. А где и кем — оставалось загадкой, и чем большей пеленой тайны она окутывалась, тем интереснее становилось мне.
    — Не пожалеешь, — сказала Римма, а услышав о доставке на автомобиле и на работу, и домой, я без раздумий согласилась.
    И вот — в пивном зале: убираю посуду, мою, а вечером полы протираю. Низина общества, кабак да и только. Романтики — никакой, но храбрюсь…
    Третий день наблюдаю, как завсегдатаи бара приходят утопить в стакане неудовлетворённость, печаль, измену и другие невзгоды. По моим подсчётам, все сроки утопить давно прошли, а они всё идут и идут вереницей… Ежедневно одни и те же лица.
    На меня поглядывают с любопытством, как на новенькую, а я на них: ведь мужским обществом не избалована. Не думала, не гадала: один из них понравился. Ждать каждый вечер, зная, что он непременно будет, — это замечательно!
    При виде его сердечко моё учащённо забьётся и, готовая к встрече, я опрометью укроюсь за шкафом с зеркалом, чтобы оживить помаду, удостовериться, что причёска в порядке, и расправить складочки нового передника на груди.
    Вчера он поинтересовался у Риммы, как зовут новенькую девушку. По сути дела всё с этого и началось: как только услышала, что Римма называет моё имя, сердце охватил трепет. Внимательнее взглянув на мужчину из-за стойки, я нашла его симпатичным и как-то сразу расположилась к нему.
    А сейчас — уже так много времени, а его почему-то всё нет и нет, и когда я утеряла всякую надежду, он вдруг явился. Взглянул на меня, словно полоснул ясным взором. Магнитофон гремел во всех трёх залах:
  {% endfilter %}

  {% filter ins %}
    {% filter poem("quote") %}
      Ну почему ко мне ты равнодушна?
      И почему ты смотришь свысока?
      Я не прекрасен, может быть, наружно,
      Зато душой красив наверняка…
    {% endfilter %}
  {% endfilter %}

  {% filter prose %}
    Под звуки этой песни я выскочила в зал по одной простой причине: с ним поздороваться. Он ответил на приветствие. Народу было мало. Взяв со стола кружки, вернулась с подносом к мойке, чувствуя спиной его пристальный взгляд — от неуверенности и смущения даже покачнулась на каблучках: только бы не упасть!..
    Всё же это счастливый момент — ждать встречи целый день и свидеться! Тем временем он подошёл к стойке бара и заказал водку и томатный сок. Я ловила все его движения, не сводя взора от симпатичного мужчины. Как давно моё сердце так не колотилось!
    А вечером подруге обрисовала, какой красавчик приходит в бар!
    — Не понимаю, кто там тебе может понравиться, — возразила она, — давай начнём с того, чего он там покупает?..
    Я и язык прикусила; она застала меня врасплох, и я не знала, что ответить ей: или скрыть, или рассказать всё как есть…
    — Я ещё не интересовалась этим… — И тут же пообещала, что завтра сообщу, «что он покупает в баре»… Во мне будто что-то перевернулось внутри: мужчина, который понравился, — выпивает!..
  {% endfilter %}

  {% filter prose %}
    Сегодня непременно выясню у Риммы, не знает ли она имён посетителей, в частности, его. В ожидании изнервничалась, изошлась, чуть было не перепутала с похожим на него… Но нет, не он, у этого лицо благороднее.
    В ожидании пятнадцатиминутного созерцания весь день проходил вхолостую. 19:31, 19:40, 19:44, 19:48 — в любую минуту он может появиться в зале, где я из-за холодильника наблюдаю: пришёл — не пришёл. Без него — тоска.
    Когда он подойдёт к Римме, она задаст традиционный вопрос:
    — Что будем заказывать, солнышко?
    На этот раз он был с другом:
    — Нам, как всегда, два раза по сто и два сока.
    — На, зайка, — она придвинула стаканы к нему.
    — Приговор?
    — Тридцать рублей.
    Так продолжалось изо дня в день, а сегодня на вопрос «Что будем заказывать, солнышко?»:
    — Э-эх, солнышко… — он вздохнул, не договорив фразу, отыскивая кого-то взором. И меня тут же осенило: нравлюсь ему!
    На столиках тем временем скопилось много посуды и, когда я проходила мимо Риммы в зал, вдруг резануло по ушам:
    — Опять каблуки одела! Ишь вырядилась!
    Я оглянулась по сторонам: кто же это к нам пожаловал? Странно… вокруг меня никого больше не было. Оказалось, это замечание было в мой адрес. Вместо того чтобы отшутиться: «работа обязывает», — я смолчала. А Римма, какова? Вместо того чтобы порадоваться за опрятную посудомойку — грубо меня одёрнула.
    Перед уходом незнакомец подошёл к Римме и завёл разговор о погоде, на что она охотно откликнулась:
    — А сегодня по метеосводке объявили дождь.
    — А сегодня дождя не будет, — констатировал он.
    Чтобы привлечь моё внимание к себе, он отменил дождь! Мы встретились тёплыми понимающими взглядами, и я улыбнулась ему на прощание, а Римма сказала:
    — Приходите завтра!
    Я не расслышала, что он ответил ей, возможно, кивнул? Я возмутилась: «Да как она может давать такую программу! Нет-нет! Никогда не приходите больше сюда», — хотелось крикнуть мне ему вдогонку, и я следом выскользнула на улицу. Во мне всё перевернулось: что же я подруге-то скажу? Хотелось вмешаться, направить в правильное русло. В лицо пахнуло свежим июньским ветерком. Он был в машине: через окно кабины виднелась фигура мужчины, с некоторых пор ставшего мне небезразличным. Тёплый ветерок развевал моё платье, как флаг, а я не сводила глаз с белого пятна, всё более и более удаляющегося. Беспокойство овладело мной: в таком состоянии за руль?! Я перекрестила и взором проводила газель до конца улицы: «Господи, помоги ему благополучно добраться до дома».
    Вдруг на машине замигали поворотные огоньки: сейчас она свернёт на Автовскую и исчезнет из виду! Благодаря длинному световому дню было отчётливо заметно, что, не доехав до угла, она свернула в арку одного из красивейших домов микрорайона Санкт-Петербурга!
    Однако как близко живёт-то! Испытывая спокойствие за него, я благодарила всевышнего: «Слава богу, добрался благополучно».
    Вернулась в прокуренный зал, я первым делом спросила барменшу:
    — Римма, не знаете ли вы, как зовут этого посетителя?
    — Павлом Фёдоровичем, — сморщив лоб, как будто припоминая, недовольно пробурчала она.
    «Неужели в самом деле Павел? — всплыл в голове образ Павла из „Встречи с прошлым“. — Не может быть!» — подумала я про себя.
    Впереди были выходные. Как я проживу, не видя Павла Фёдоровича?
  {% endfilter %}
{% endblock %}
