{% extends template %}

{% set parentTitle = "Встреча в «Подводной лодке»" %}
{% set title = "Часть II" %}
{% set pubdate = "06.02.2019" %}

{% block content %}
  {% filter prose %}
    Что касалось работы, то поначалу вроде бы всё меня в ней устраивало. Кафе-бар — это музыка целый день, а где музыка — там и праздник! Самыми большими праздниками становились дни, когда появлялся П. Ф., а он появлялся ежедневно! Целый день проходил в ожидании встречи: пятнадцатиминутные созерцания из всего двенадцатичасового рабочего дня были самыми яркими, насыщенными и неповторимыми.
    Как будто бы вроде всё неплохо: и на машине привезут, и на машине отвезут! Однако, приноравливаясь к работе вникая в её суть, я понимала: многое в ней становилось мне не по нраву, например, то, что меня не кормили. На тебе положенные сорок рублей — и всё! «А на большее ты не рассчитывай…» — как поётся в песне. Целый день взирать на то, как посетители объедаются, тогда как запах охотничьих сосисок из микроволновки раздражает слизистую оболочку носа, вызывает обильное слюноотделение и недовольную воркотню в желудке, — было выше моих сил. Разве что ходить домой столоваться — так эдак половину зарплаты прокушать можно, да и набойки на туфлях менять — денег не напасёшься. А если трамваем добираться? — 6 рублей дорога. Куда ни кинь — всюду клин!
    И всё же, как ни пыталась я питаться запахами, исходящими из быстро разогретых блюд, всё же Римма настояла на своём и стала выпроваживать меня в обеденный перерыв на улицу. И я, отправляясь гулять по уютным дворикам, садилась на раскачиваемую как гамак скамейку и под звуки пробуждения природы — пение птиц, цветение яблонь — съедала ряженку с булочкой. Здесь все деревца были мне знакомы: как-никак около пяти лет прожито. Родные места навевали сердцу радость, и в благоухании цветущих деревьев я на миг забывала о своей неприглядной должности. В одном я испытывала успокоение: скоро вечер и новая встреча с П. Ф., что она сулит нам?.. Однако наблюдать, как спивается мой обожатель, равно как и другие завсегдатаи бара, — неприятно. Знаю, что пора сказать своё слово, а как, если я не знаю их имён? Разве что в беспорядочные надписи, сделанные фломастерами или нацарапанные остриём ножей, на выбеленных мелом стенах, как то:
    — Ничто так не согревает, как пиво.
    — Народ не крадёт: он компенсирует издержки, нанесённые ему государством.
    — На ошибках учатся, а после ошибок — лечатся.
    — Водка без пива — деньги на ветер (!), — добавить свою:
    — Пьянству — бой!
    Сегодня пронизывающий северный ветер, обедать на скамейке холодно и неуютно. Мой перекус длился минут 10, во избежание простуды я побродила по помещению рынка. В нём тепло и уютно, а вот изобилие продуктов расстраивает: откуда взяты астрономические цены на продукты — неясно; ясно, что цены не по моему карману. Сардельки, сало, ветчина, яблоки, черешня — увы, их позволить себе не могу.
    Устав бесцельно прогуливаться по рынку, я вернулась чуть раньше положенного срока и увидела, как муж Риммы загружал в свою машину коробки с соками, по всей вероятности, скопившийся за дни работы «излишек». Также в эту заключительную смену Римма отпускала меня на час раньше. Заинтересованная в этом, я своим ходом добиралась до дому, тогда как они на пару имели возможность вывезти все сэкономленные в результате недовеса и недолива продукты. И всё ради того, чтобы я меньше знала, а стало быть, спокойно спала. Несомненно, Римма знала, за что работала.
    Радостная, я шла домой пешком или добиралась на трамвае, и барменше это было на руку. Чтобы мне когда-нибудь налить стакан сока — да ни за что! Сок стоил 5 рублей.
    А ещё ежедневно к нам забегал на огонёк представитель по таре — мужчина спортивного склада, вечно спешащий, быстрый на ногу, шумливый и словоохотливый. Нескольких минут ему было достаточно, чтобы обговорить с Риммой «о таре». Он говорил и ел, ел — и говорил. Между жевательными движениями в его челюстях аппетитно и с быстротой исчезали куски сельди. Я не запоминала, о чём они говорили: о ящиках для пивных бутылок или ещё о чём? Мой голодный желудок урчал, не умея спокойно дождаться «обеда» — ряженки с булочкой в холодном сквере на скамейке.
    Набрасываясь на блюда с разделанной моими руками селёдкой, он без зазрения совести съедал её. Я поражалась его скоростям, сожалея об утраченной возможности, покачивая головой, начинала понимать, что только что у меня на глазах была съедена предназначенная мне пайка, которая составляла минимум две селёдины! Этого обжору я терпеть не могла, а когда он приходил, тихо ненавидела.
    Впрочем, грустно вспоминать Риммину щедрость ко мне величиною с селёдочный хвостик… Однако и она претерпевала изменения. Как-то в один из дней барменша спросила меня:
    — Вера, ты пьёшь?
    — Пью, — подтвердила я, недолго раздумывая, не подразумевая тот смысл, какой вкладывала она в это слово. Я что-то не то сделала? Или она меня не поняла… Задала бы вопрос несколько иначе: «Выпиваю ли я?» — и тогда ответ прозвучал бы совершенно по-другому: «Выпиваю: в день рождения и в Новый год».
    Не ответила Римме внятно — и вот результат: она протянула мне под нос полстакана пахучей прозрачной сверкающей жидкости одной рукой, второй держа бутерброд с селёдкой…
    Не смея принять стакан, я для начала понюхала его. Без сомнения, это была водка: гремучая жидкость с отвратительным запахом! Я обомлела! Пытаясь догнать П. Ф., я хотела просить его перестать пить эту заразу — и вот теперь сама? Холодный пот выступил на спине, и я отпрянула от протянутого стакана:
    — Римма Николаевна, — спешно заговорила я, — если я это выпью, тогда и грязную посуду, и полы за меня придётся мыть вам!..
    Она выслушала меня. Как бы не так! Не хватало ещё ей с грязью водиться! И нарядная, расфуфыренная Римма оставила было в покое свою затею. Однако через некоторое время повторила то же самое с красным вином. К вину прилагалась конфета…
    …Голова моя медленно крутанулась сначала в одну сторону. Взглянув в зеркало, я заметила, что румянец заиграл на щеках, а улыбка озарила моё лицо радостью и весельем. В одно мгновение жизнь моя переменилась и преобразилась. В залах гремела музыка, и многочисленные посетители — как мне теперь казалось — были прекрасными людьми, веселились, пили и улыбались не кому-нибудь другому, а непременно мне одной! И не было на этом празднике места для жадной Риммы, морившей меня голодом, а также для её компаньона-обжоры, съедающего мою селёдину.
    А затем голова крутанулась в обратную сторону — и в задраенных люках показались разнопёрые разноцветные рыбы, а среди них золотая — это я — на крючке…
    Римме пришлось по душе моё новое состояние: повеселела, стало быть, похорошела, к тому же весёлый работник — довольный работник. До прихода П. Ф. оставалось долгих семь часов!
    С тех пор Римма перед обедом предлагала мне вина, а я не отказывалась. К сожалению, действие его было кратковременным: посетившие меня улыбки, как бабочки с цветка, в два счёта вспархивали и улетали куда-то. Для того, чтобы поддерживать меня в эйфорическом состоянии, вина потребовалось бы немерено! Это стало невыгодно Римме, и подача вина мне была прекращена.
    И она тогда стала высказывать мне свои недовольства:
    — Делай что-нибудь со своим лицом. Не могу смотреть на тебя. На людях надо улыбаться. Эдак ты мне всех посетителей распугаешь!
    Я ходила, как потухшая: как подумаю, что из питейного заведения уйти придётся, — сердце сжималось. Как же П. Ф. без меня останется? Кто его спасать будет? Ведь мужчины пьют и дерутся оттого, что их никто не любит… И эта дополнительная грусть делала меня просто неузнаваемой, а причиной грусти были чувства к П. Ф.
    В выходной я рассказала о своём унынии подруге Любаше. И она полностью оказалась на стороне начальницы: кому может понравиться кислое выражение? Тут же, подозвав к зеркалу, она стала обучать меня искусству быть обворожительной и притягивать взоры общества:
    — Надо говорить: сс-ыы-ыр, сс-ыы-ыр… — и лицо Любы расплывалось в улыбке. — Вот попробуй, как это просто! — показывала она, стараясь получить от урока хороший результат.
    — С-ы-р, — медленно и протяжно повторяла я вслед за нею.
    — Вот так на работе и повторяй: сыр да сыр…
    И всё же мне было до конца не уяснить разницу в том, что говорить «сыр» — это одно, а есть сыр — это совсем другое. Сыр стоил дорого и был мне «не по зубам». Так зачем же лишний раз душу травить, вспоминая донимавшее меня в кафе неутолённое чувства голода, бесконечное слюноотделение? Так зачем вспоминать о нём лишний раз?
    Так Любины уроки не пошли мне впрок. Всё чаще видя моё упадническое настроение, Римма интересовалась, буду ли я работать у неё, и просила сказать ей об этом заблаговременно. Я взяла на обдумывание два дня, хотя для себя я давно уже решила: не буду. Здесь абсолютно всё меня не устраивает, и, вдобавок ко всему, быстро можно пристраститься к спиртному, а с женщинами это происходит быстрее, чем с мужчинами. Кстати, работаю без оформления — значит, стаж не идёт, санкнижка не требуется. Словом, забегаловка да и только. Уважать себя надо. Нет работы, и эта — не работа.
  {% endfilter %}
{% endblock %}
