{% extends template %}

{% set parentTitle = "Цитадель" %}
{% set title = "Свобода. Часть 1" %}
{% set pubdate = "21.01.2013" %}
{% set prev = "miss_rina/story" %}

{% block content %}
  {% filter poem %}
    Помню я время, оно было когда-то,
    Сидели дети в стенах уютного сада.
    Сидели, играли, пели, плясали,
    Никогда не дрались и горя не знали.

    У каждого плечо было верного друга,
    Никто не предаст, если приходится туго.
    Каждый знал своё место в мире дневном,
    В мире полночном и в мире ночном.

    Дети любили смотреть, как всходит заря,
    Как небо синеет, куда впадают моря,
    Как птицы трели поют, звон их ухо ласкает,
    Как ползёт на берег вода, а потом убывает.

    Дети весь день сидели у своих океанов,
    Дома на прибрежье, вблизи от их станов.
    Их никто не торопит, дома близкие ждут,
    Свобода лелеет с заботой их детский уют.

    Время шло, спешить не торопилось совсем,
    Дети играли, ограждаясь от взрослых проблем.
    Будущего эхо щеки касалось едва,
    Детей в церкви хранила Божья молва.

    Эдем продолжался бездонные годы,
    Дети росли, ощущая дыханье свободы.
    Сказка продолжалась почти бесконечно,
    Но к ней так нельзя относиться беспечно.

    Раз отец одного из детей к тому наклонился,
    Чаду разум в ухо свинцовой пулей вонзился.
    Ведь жестока была правда из отцовых глубин,
    Прошептал он на ухо страшное о бесах пучин.

    «Что за пучины?» — пугливо спросило дитя,
    Не умело оно ещё жить тогда не шутя.
    Отец же встал прямо, жёстко на сына глядя.
    «Время и смерть», — правда вонзилась в дитя.

    Не сразу взрослое семя в мозг ударило током,
    Не сразу сознанье прониклось жестоким уроком.
    Не сразу игрушки были брошены в горячую печку.
    Не сразу океаны превратились в зловонную речку.

    Но сразу что-то сломалось в мозге младом.
    Но сразу в нём что-то пошло кувырком.
    Но сразу свободы свеча потухла бесшумно.
    Но сразу жизнь в оскале улыбнулась безумно.

    Нельзя незаметно убить человека.
    Бог взял над миром тяжесть опеки,
    Но Он не смог усмотреть на долгие годы,
    Как свобода превратилась в одни лишь невзгоды.

    Нельзя незаметно превратить дитя в не дитя.
    Бог создал младенцев, будто шутя,
    Ведь должен был знать, что однажды росток
    Скрутится в мёртвый иссохший жизни моток.

    Ужасная правда открылась детской душе:
    Свобода — не вечность, на пути к смерти уже.
    Сосуд её испит не до дна, но почти вполовину,
    Потеряно всё, жизнь теперь другая отныне.

    Поздно прятаться под тенью материнской груди.
    Настало суровое время — нужно взять и уйти.
    Пробил час судного дня — дети замкнули свой круг.
    Впереди проверка, кто кому будет брат или друг.

    Тот, кому правда эта внезапно открылась,
    Того речь калёная к другим обратилась.
    Звали несчастного просто, не слишком вникая,
    Звали Фримэн его, и он же, круг замыкая,

    К другим обратился со словом суровым,
    От речи его веяло чем-то свежим и новым,
    Поэтому каждый, кто стоял в круге друзей,
    Стал внимательно слушать о свободе, о Ней.

    «Братья мои! Мы с вами это знали давно,
    Каждому из нас иногда подчас суждено
    Измениться, перетечь в русло иное,
    Каждого волна перемен однажды накроет,

    И нам нужно смириться с правдою этой.
    Я больше не волен скрывать эти секреты,
    Есть две вещи, мы должны их понять:
    Есть время и смерть — мы должны их принять».

    Дети смотрели на вожака с пораженьем,
    Жёны с испугом, бойцы — с удивленьем,
    Шикэт смотрела в сердце с любовью,
    Хидог — в сердце с потом и кровью,

    Уже тогда они первые сумели понять:
    Фримэн — это тот, кто сможет унять
    Их боль от потери зари и свободы,
    Что продлится даже не долгие годы,
    А вечность. Целую вечность.

    Пока же небо вдруг потемнело,
    Оно говорило: «Ваше время поспело».
    Облака встали в свой тучный ряд,
    Гром прогремел, приближался тёмный обряд.

    Дети испуганно сгрудились в круг,
    Каждый друг был каждому друг,
    Прижались они теснее к спинам своим,
    Небо показало, что скрывалось за ним.

    Открылось здание им в сети чёрных туч,
    Было бело — мерк даже солнечный луч,
    Зданье громадное, на окнах — решётки,
    Не по зубам оно ни топору, ни отвёртке.

    Дети посмотрели — на фасаде надпись виднелась,
    Подвинулись тучи, снежная пыль завертелась,
    Чёрным по металлу, небесная прочь акварель,
    Надпись гласила: «You’re welcome. Мать Цитадель».
  {% endfilter %}
{% endblock %}
