{% extends template %}

{% set parentTitle = "Цитадель" %}
{% set title = "В цитадели" %}
{% set pubdate = "21.01.2013" %}

{% block content %}
  {% filter poem %}
    В центральном саду цветёт спокойно красная ель,
    Дети идут, смотря на свою новую мать цитадель.
    Как здесь чудесно, как здесь прекрасно,
    Закончились суровые дни и грусти ненастья!

    Теперь заживёт народ жизнью счастливых,
    Вперёд храбрецов — прочь нечестивых.
    Невозможно представить, что закончится Рай,
    Здесь вечное лето, по выходным же здесь май.

    Вокруг сада разбросано множество комнат,
    Обитель детей — в кельях они радостно стонут.
    Ровные стопки манишек лежат на кроватях,
    Все лучшие дни здесь они навечно потратят.

    Фримэн оделся, остальные тоже не медлят,
    Вот все в саду, заправлены ровно постели.
    Готовы дети отдавать долг матери снов,
    Матери счастья — лучшей в пантеоне богов.

    «Дети мои, вот и ваш первый день,
    Вы все молодцы, побороли матушку-лень,
    Все пришли, подарили море улыбок,
    Добавили слёзы — говорю вам спасибо.

    Но вы понимаете — Рай требует сил,
    Каждый из вас о благодати вечно молил,
    Так теперь же, дети, вопрос задам вам:
    Готовы трудиться во имя Рая на славу Богам?»

    Дети хором воскликнули: «Да, наша мать!
    Мы благодарны! Долг готовы отдать!
    Всё сделаем, ты нас лишь попроси!
    Молимся на тебя, Цитадель, — ты нас спаси!»

    Фримэн кричал, слюна брызгала вдаль,
    Хидог кричал, сверкала в глазах его сталь,
    Шикэт кричала, в глазах её — боль,
    Остальные — рабы, пустой круглый ноль.

    И назначила дела мать-Цитадель:
    Кто-то готовит, убирает постель,
    Кто-то сад стрижёт, кто-то моет полы,
    Стирают манишки, передвигают столы.

    Хидога поставили во главу охраны —
    Защищать от лазутчиков до последней раны,
    Шикэт стала главной по дисциплине,
    Всё в порядке в Цитадели отныне.

    Фримэн за главного Цитаделью назначен,
    Круг занятий широк, но вполне однозначен:
    Следить за всеми, над каждым стоять.
    Главный любимчик, избрала Цитадель — его мать.

    Должен он следить, чтобы каждый дарил
    Улыбки и слёзы — каждый не меньше минуты лил,
    Чтобы зеркало не смели трогать руками,
    Свобода свободе, остальное — за семью замками.

    Так потекли безмятежные дни,
    Каждый видел лишь счастливые сны,
    Дети росли, года шли в Цитадели,
    Однажды уже взрослые заправляли постели.

    И вот бывшие дети детей несут на руках,
    Обрезают женщины хвосты на пупках.
    Вот семьёй все в Цитадели обзавелись,
    Теперь напротив зеркала и младенцев слёзы лились.

    Лишь три человека по-прежнему в думах.
    Фримэн, Шикэт и Хидог. Пытлив ум их,
    По-прежнему три одиночки поверх остальных,
    Не понять им простые утехи иных.

    Уверенность Шикэт умирает в углах Цитадели,
    Уверенность Хидога — в засохшей крови на постели,
    Уверенность Фримэна летает птицей в саду,
    Все говорят — Рай, а он себя видит в Аду.

    Всё в Цитадели идёт своим чередом,
    Порядок — высок, низок дурдом,
    Все улыбаются, плачут, стирают, поют,
    В кельях чистота, добродетель, уют.

    Но слепота постигает всегда незаметно,
    Она не сразу сражает, не убивает мгновенно.
    Лишь пелена на глаза накинута сеткой,
    Цитадель ставит очередную отметку.

    Что далее будет? Тишина и степь?
    Едва ли. Мир не лежит бревном.
    Не знает никто, что в будущем ждёт,
    Всё покрыто страшным неведомым сном.
  {% endfilter %}
{% endblock %}
