{% extends template %}

{% set parentTitle = "Матадор" %}
{% set title = "Глава 8" %}
{% set pubdate = "16.01.2012" %}

{% block content %}
  {% filter prose %}
    Трибуны шумно выдохнули, кто-то возбуждённо закричал, показывая на арену. Женщины находились в предобморочном состоянии, а дети лишь молча с восхищением наблюдали за разворачивающимся действом.
    Секунду назад Эмильяно едва увернулся от стремительного, яростного шторма по прозвищу Малыш. Начало первой терции явно проходило не под диктовку матадора.
    На этом этапе Эмильяно было необходимо пройти так называемое «испытание плаща», или «капоте». Матадор должен был артистично избегать рандеву с быком, дразня того плащом, красным с внешней стороны и жёлтым с внутренней.
    На каждую терцию отводилось определённое время, в последней матадор убивал быка.
    Но сейчас до этого было слишком далеко.
    Эмильяно ощущал нарастающую боль в ноге. Он напряжённо всматривался в пространство перед собой, видя там разворачивающегося Малыша, который неспешно двинулся к нему, фыркая и вздымая пыль своими копытами. Матадору эта арена показалась чрезвычайно маленькой. На лбу выступила испарина, Эмильяно ощущал, что у него медленно поднимается температура. Во рту пересохло, словно во сне он видел эти трибуны, полные возбуждённых людей, которые, в отличие от него, казалось, сейчас взорвутся от напряжения.
    — Ну давай, давай!
    Гонсалес улыбнулся, встал в стойку, размахивая плащом. Он знал: шоу должно продолжаться, публику не устроит его победа, добытая обычным кровопролитием. Впрочем, при таком раскладе совсем не было очевидным то, что победит именно Эмильяно.
    Перед глазами поднялся очередной клуб пыли, сквозь который Гонсалес увидел надвигающегося быка. Малыш набрал уже достаточно большую скорость, он страшно заревел, несясь на матадора.
    Эмильяно сделал шаг влево и вдруг почувствовал, что нога его не слушается. Он едва не упал, и тут сквозь шум трибун прорвался новый звук — стук копыт и пыхтение. Эмильяно, успев осознать, что не успевает уступить, изо всех сил прыгнул влево. Упав на землю, в сантиметре от себя он увидел огромную тушу, пролетающую мимо. Матадор перевернулся ещё раз и попробовал встать, перенеся вес на здоровую ногу. С большим трудом это удалось ему, с большим трудом он снова стоял в стойке, приветствуя зрителей и показывая, что ничего страшного не случилось — всё в порядке.
    Но публика уже не верила Эмильяно. Кто-то свистел, кто-то махал руками, показывая на него. Гонсалес увидел краем глаза, что за перегородкой арены бегает врач, что-то объясняя организатором и бешено жестикулируя. Чуть правее Эмильяно видел Мигеля. Он не мог различить его лица, но знал, инстинктивно чувствовал, что тот улыбается. Сейчас все желали того, чтобы он закончил бой, и это придало ему сил, это сладкое чувство противоречия, противовеса толпе. Он ещё сильнее оперся на здоровую ногу, стараясь по возможности делать свои движения естественней.
    Но он не видел, что на самом верху арены в чёрном плаще сидел никому не приметный человек. Он сидел неподвижно, лишь что-то нашёптывая и вскидывая руки, будто молясь кому-то. Пабло Руис всеми фибрами души болел за молодого матадора.
    Малыш только начал снова разворачиваться, как послышался звук трубы. Первая терция завершилась, на арену выбежали люди, которые несколькими уверенными движениями накинули верёвки на быка, подавив волю того и загнав обратно в загон до наступления второй терции.
    Публика на время замолкла. Не было слышно привычных восторженных криков. Мексиканцы очень чутко ощущают настроения участников корриды, их сложно было обмануть. Они видели, что с Эмильяно что-то не так, что Малыш пару раз чуть не затоптал его и что матадор как-то странно передвигается, подволакивая одну ногу.
    Хотя, вполне может быть, трибуны ошибались. Вот Эмильяно кланяется им, просто сияя от счастья и всячески демонстрируя уверенность. Особенно долго матадор задерживается перед трибуной, где сидит известный Мигель Гарсия Родригес, крупнейший спонсор боев. Странно, но Мигель, вместо того чтобы приветствовать матадора, лишь мрачно взирает на него и, лишь заметив, что все взгляды обращены на него, кривит рот в улыбке.
  {% endfilter %}

  {{asters}}
  {% filter prose %}
    Эмильяно зашёл в помещение под трибунами, чтобы выпить немного воды и попросить приложить лёд, когда из соседней комнаты выскочил альгвасили:
    — Вас просят уведомить, что второй терции не будет!
    Гонсалес нахмурил брови.
    — Что значит «не будет»? А что же вместо этого?
    — Сейчас сразу начинается третья терция, где вы должны будете убить быка! Это личное распоряжение мэра! Видите ли, мы считаем, что вторая терция кое-кому может быть скучна, к тому же публика сильно волнуется, они, кажется, видят, что с вами не всё в порядке. Мэр хочет завершить в этот раз всеё быстрее. Правда…
    Альгвасили понизил тон:
    — Я видел, как Мигель подходил к нему. Должно быть, он тоже видит, что вам будет легче пропустить вторую терцию.
    Эмильяно кивнул:
    — Хорошо, спасибо. Позови врача.
    — Сию секунду!
    Альгвасили ушёл, а Эмильяно расплылся в горькой улыбке.
    Мигель отнюдь не хотел упростить задачу матадора. Его извращённое, злое, жестокое нутро просто уже заждалось, когда наступит развязка этого поединка. Вторая терция проходила в спокойном ключе, Эмильяно получил бы шанс привыкнуть к быку. А сейчас шансы на победу казались призрачными. Малыш явно превзошёл ожидания Гонсалеса. Даже в своём оптимальном состоянии Эмильяно с трудом справился бы с быком, а сейчас он едва мог ходить.
    В помещение вошёл врач. Его красное лицо говорило само за себя.
    — Я хочу заявить вам, что вы — ненормальный! Я видел, Малыш пару раз пронёсся в сантиметрах рядом, а последний раз он едва не размозжил вашу голову!
    — Хватит разговоров! Приложите ещё больше льда к ноге.
    Врач покачал головой.
    — Вы собираетесь выходить на третью терцию? Это верная смерть. Мне будет чрезвычайно жаль, вы ведь действительно хороший человек. Но вам не победить сегодня. Эта травма слишком серьёзна. Вы уверены, что выйдете сейчас на арену?
    Эмильяно замолчал.
    Он вдруг на секунду представил картину того, как бык топчет его уже мёртвое тело, Мигель торжествует, его сестра… что будет с Лаурой? Ведь она сгинет без него… что ещё хуже, её приберёт к своим рукам Мигель. Этот город полностью на его попечении, никто не будет слушать истории о том, что помещик домогается молодой девушки, всем плевать. Мариана выйдет замуж за какого-нибудь богатого друга Мигеля, и на этом конец…
    Всё это пронеслось в голове Эмильяно. В следующую секунду он сказал:
    — Побольше льда, господин врачеватель, побольше льда. Чем больше холода, тем легче страдать.
  {% endfilter %}

  {{asters}}
  {% filter prose %}
    …Эмильяно взмахнул плащом и резко ушёл от очередного столкновения с быком.
    Публика ревела от восторга. Матадора будто подменили, в третьей терции он выглядел человеком их мечты. Быстрый, как молния, весёлый, как придворный шут, сильный и уверенный в себе, как истинный воин — Эмильяно покорял людей одного за другим.
    Он действительно чувствовал себя намного лучше. Лёд сильно снизил болевые ощущения, к тому же нога сама по себе слушалась намного лучше, что позволяло ему каждый раз избегать столкновения со своим тяжёлым свирепым оппонентом.
    Но проблема состояла в том, что для убийства быка необходимо было максимально сблизиться с ним, чтобы вонзить шпагу в тело животного, а Эмильяно пока не рисковал подходить на слишком малые расстояния к Малышу, потому что вблизи требовалась гораздо более быстрая работа ног, а с этим у матадора всё равно возникали серьёзные проблемы.
    Мигель сидел мрачнее тучи. Его первоначальные надежды не оправдались, матадор продолжал поединок. Правда, Хесус предполагал, что в этом случае Малыш должен победить наверняка, ибо травма Гонсалеса была действительно серьёзной. И Мигель видел, что Эмильяно выступает далеко не на оптимальном для себя уровне, однако сейчас в его душу стали вкрадываться смутные тревоги. Он подумал о том, что чудо может случиться именно сейчас, когда оно ему так не нужно.
    Эмильяно сделал выпад в сторону быка, но в следующую секунду вынужден был в невероятном пируэте отскочить в сторону. Малыш не давал пока ни единого шанса чуть ближе подобраться к своим уязвимым местам, в первую очередь к сердцу.
    Матадор увернулся во второй, в третий раз… Эта игра заводила его до предела, даже сейчас, когда смерть, казалось, танцует рядом с ним.
    «А не такой уж ты и сильный, Малыш! Не слишком».
    Эмильяно замер в позиции и весело крикнул:
    — Ну давай же!
    Малыш заревел от ярости, которая никак не могла найти выход, и снова помчался на этого ненавистного ему человека.
    Эмильяно ловко убрался с пути быка и снова стал дразнить своего соперника:
    — Ну давай, давай же!
    Он помахал плащом, держа шпагу наготове.
    Малыш пока лишь рыл копытом землю, смотря на Эмильяно. Смерть этого двуногого, страшная смерть под копытами — вот что сейчас могло бы успокоить быка, дать выход гневу и страсти бедного животного, которого загнали в эту огромную клетку без решёток и заставили играть в свою игру.
    Малыш помчался вперёд, целясь точно в матадора. Эмильяно улыбнулся и стал отходить, когда вдруг почувствовал, что в больную ногу будто что-то вонзилось, хотя никто её не трогал. Странное, непонятное ощущение охватило его, и Гонсалес внезапно с ужасом понял, что не чувствует ноги, которая являлась для него опорной.
    Он постарался докрутить корпус, но было слишком поздно. Эмильяно почти увернулся от быка, но тот немного изменил траекторию движения и частью своего массивного тела в последний момент врезался в другую, здоровую, ногу матадора. Гонсалес отлетел на десять шагов от быка, растянувшись на земле. Правую ногу, в которую врезался бык, будто сковал «испанский сапожок» — страшная боль скручивала её по всей длине.
    Гонсалес попробовал сразу же встать… и упал. К нему пришло страшное осознание, что он не может управлять ни одной, ни другой ногой. Он посмотрел вокруг и увидел, что в пяти шагах от него лежит шпага. Перед глазами всё расплывалось, гул стал будто тише. Эмильяно не видел Малыша, должно быть, тот осматривался в поисках своей жертвы. Быки не нападали на лежащих со столь же яростным напором, как на стоящих, дразнящих их, это давало матадору маленький шанс. Эмильяно изо всех сил пополз к шпаге, страшно крича. На трибуне забегали люди, врач показывал на арену, но стоило Мигелю поднять руку, как от ограждений всех оттащили организаторы. Бой продолжался несмотря ни на что.
    Матадор дополз до шпаги. Схватив рукоятку, он сразу же перекатился на спину.
    Прямо перед ним в нескольких шагах стоял Малыш. Его глаза с покрасневшими белками смотрели точно в глаза Эмильяно. И тот видел в них лишь неудержимую ярость и злобу. Малыш был близок, чрезвычайно близок к тому, чтобы пополнить свой счёт.
    Мигель немного привстал, прошептав:
    — Давай, забей эту тварь, забей до смерти, сделай так, чтобы его мозги растеклись по арене, как же я хочу этого! Сделай это!
    Мигель затрясся, из его рта потекли слюни, он сам сейчас походил на дикое животное. Его зубы сверкали в неприличном оскале, кулаки плотно сжались.
    Эмильяно, смотря по-прежнему на быка, стал понемногу отползать. Бык несколько более быстро пошёл к нему, явно желая завершить представление.
    Матадор развернулся и пополз к ограждениям. Гонсалес понимал сейчас, что бой явно проигран, надо хотя бы сохранить жизнь. Всё его нутро напряглось до предела, одна нога не слушалась вовсе, другую сотрясала чудовищная боль. Должно быть, она была сломана в нескольких местах.
    Эмильяно продолжал ползти, когда услышал прямо за спиной, как кто-то сопит. Он обернулся и увидел прямо перед собой Малыша. Тот заревел и немного приподнялся, готовясь нанести решающий удар по матадору.
    Мигель вскочил в своей ложе и, не обращая уже внимания на окружающих, закричал:
    — Вот тебе! За жену, за дочь! За всё! Лаура будет моей!
    Врач и несколько альгвасили попробовали вновь перелезть ограждения, но охрана Мигеля снова сняла их оттуда, успокоив парой ударов.
    Перед глазами Эмильяно всё пронеслось с калейдоскопической скоростью. События из далёкого прошлого моментально перемещались к настоящему моменту. Первый бой, отец, мать, смерть, победы, Мигель, Лаура, Пабло Руис, подготовка, огромный незнакомец, Малыш…
  {% endfilter %}

  {% filter prose %}
    …Матадор услышал крик Мигеля… всё происходило в одну секунду… Малыш медленно продолжал приподниматься, забыв уже о всякой осторожности… приподниматься… приподниматься…
    Эмильяно сквозь свой затуманенный разум вдруг увидел, что Малыш оголил часть своего туловища. Не думая ни о чём, матадор издал страшный крик, приподнявшись на сломанной ноге, и изо всех сил вонзив шпагу в сердце быка до самого основания. Он успел увидеть глаза быка, вдруг резко расширившиеся, почувствовать, как трясётся его плоть под прокручивающимся лезвием…
    В следующую секунду Эмильяно получил удар в грудь от Малыша, который начал медленно заваливаться на бок. Гонсалес отлетел на двадцать шагов назад и ударился о землю. Перед глазами всё поплыло, Эмильяно попробовал вдохнуть воздух, но перед глазами незамедлительно повисла тьма. Он уже не видел, как по арене мечется агонизирующий бык со шпагой в сердце, становясь всё слабее и слабее. Вскоре он с предсмертным хрипом упал, неподвижно растянувшись в клубах пыли, которые поднял своими копытами.
  {% endfilter %}
{% endblock %}
