{% extends template %}

{% set parentTitle = "Матадор" %}
{% set title = "Глава 9" %}
{% set pubdate = "16.01.2012" %}

{% block content %}
  {% filter prose %}
    В тот момент, когда сознание покинуло ваш разум, вы ничего не ощущаете кроме странной чёрной пустоты. Но в какой-то момент белые вспышки будто вздымаются над вами, уши заполняются давящим на низких частотах гулом… вы ещё не осознали, что существуете, но уже подозреваете это.
    В какой-то момент звуки становятся уже отчётливыми, и вы понимаете… здесь. Вы уже здесь.
  {% endfilter %}

  {{asters}}
  {% filter prose %}
    — Ш-ш-ш-ш-ш…
    И вдруг внезапное:
    — Эмильяно!!!
    Удар по щеке. Резкое увеличение звука, странные размытые картины отступают…
    Эмильяно открыл глаза.
    — Он жив, чёрт бы вас всех побрал, он жив!! Я же говорил! Я всегда в это верил!
    Гонсалес увидел над собой чьё-то лицо. Через пару секунд он понял: это тот самый врач, который не хотел пускать его на третью терцию. Матадор попробовал вдохнуть и сразу же пожалел об этом — грудь будто взорвалась вспышкой боли. Он аккуратно посмотрел вниз и увидел у себя там огромные синяки, оставшиеся после удара Малыша. Должно быть, пара рёбер сломана.
    Но он был жив, и это уже внушало определённые надежды. Эмильяно стал дышать неглубоко и часто.
    Врач наклонился:
    — Ты жив — как же я рад этому! Мы перевязали твою грудь, предположительно у тебя перелом нескольких ребёр, но они срастутся. Не забудь менять повязку эти дни и побольше отдыхай. Слушай, ты чувствуешь свои ноги? Я немного поработал над ними…
    Эмильяно только теперь увидел, что обе ноги чем-то перебинтованы и крепко перевязаны. Сначала он попробовал пошевелить той ногой, в которую врезался Малыш. Было больно, но терпимо. Левая нога слушалась плохо, но Эмильяно мог хотя бы ощущать её.
    — Да, я чувствую их… правая чуть лучше левой… доктор, я смогу вновь ходить?
    — Я скажу больше: вы сможете даже снова выйти на арену.
    Новый голос прибавился к беседе. Эмильяно немного приподнялся и присел. Тело страшно болело, ноги то и дело начинали покалывать и неметь, но Гонсалес понимал: ему неслыханно повезло.
    Прямо перед ним стоял мэр города. Небольшого роста усатый мужчина с добрым выражением лица — к сожалению, давно уже потерявший свой город, который был разделён на зоны влияния иными силами. Тем не менее, его имя всё ещё что-то значило в этом месте.
    — Это самое потрясающее, что я когда-либо видел! Вы — удивительный человек, господин Гонсалес! И поистине матадор удивительного таланта! Мой врач говорит, вам неслыханно повезло — у вас пара существенных переломов и сильных ушибов, но вы сможете выздороветь в течение года. Ну а пока вы будете лечиться… думаю, этого вам должно хватить.
    В комнату два альгвасили внесли огромный мешок. Эмильяно внимательно посмотрел на него.
    — Что там?
    Мэр улыбнулся.
    — Это ваша награда. Думаю, на первое время хватит.
    Гонсалес немного приоткрыл мешок. Там лежали небольшими кучками песо, бесконечное число песо…
    Эмильяно опешил.
    — Это всё мне?
    — Разумеется.
    Гонсалес напряг память. Он готов был биться об заклад, что сумма выигрыша составляла гораздо меньшую величину.
    — А вы ничего не перепутали? Как-то здесь очень много… я не жалуюсь, но не желаю брать чужого.
    — О нет, нет, успокойтесь. Гильермо, организатор, сказал, что это премия от господина Родригеса за усердие и доблесть, которые вы проявили…
    — Родригес?
    Мэр нахмурился.
    — Что-то не так?
    Эмильяно прикусил язык. Все в этом городе были на поводке у Мигеля, кто-то на коротком, кто-то на более длинном. Мэр был в числе них, правда, в отличие от других, длина его поводка была известна лишь самому Родригесу.
    — Всё отлично… просто несколько неожиданно…
    — Пожалуй, вы просто ещё не отошли от шока и от случившегося. В любом случае, вы теперь — самый известный матадор Мексики, прервавший гегемонию Малыша… да ещё в каком стиле — браво, браво!
    Эмильяно улыбнулся, но его всё ещё мучили сомнения.
    Мигель? Мигель пытается его убить, а затем даёт премию величиной с десять домов Эмильяно? В чём подвох?
    Может быть, не он пытался его убить? Но Гонсалес помнил этот крик… за жену… за дочь… дочь… дочь… Мариана…
    «Мариана! Она же ждёт меня!»
    Эмильяно резко попытался приподняться, но его остановили.
    — Куда вы? Вам необходим отдых!
    Гонсалес покачал головой.
    — Мне не нужен отдых. Мне нужно ехать. Меня ждут. Это крайне важно.
    Его слова звучали отрывисто и несколько несвязно, но те эмоции, которые Эмильяно вкладывал в свою речь, не оставляли сомнений: ему действительно важно сейчас куда-то срочно уехать.
    Все вокруг неодобрительно зашумели. Мэр тоже покачал головой, однако пошёл на уступки:
    — Отчаянный вы, господин Гонсалес. Что ж, мой экипаж доставит вас до вашего дома.
    — Спасибо, господин мэр.
    — Вам спасибо… вы порадовали мой народ.
  {% endfilter %}

  {{asters}}
  {% filter prose %}
    Эмильяно аккуратно слез с повозки, поблагодарив кучера. Тот лишь хмыкнул в ответ.
    Пока они ехали мимо людей, Гонсалес начал осознавать, ради чего он дрался. Ради Лауры? Да. Ради Марианы? Конечно.
    Но не только ради них, не только ради своей любви…
    Люди показывали на него пальцем, бросали ему цветы, дети бежали за повозкой, крича: «Это же он победил Малыша!» Люди любили его, люди превозносили его, люди почитали его как героя. И Эмильяно понимал: пока это возможно, пока возможно это получать, это имеет смысл. Его жизнь имеет смысл — он его всё-таки нашёл, спустя годы после смерти родителей, после лет упорных тренировок и, кажется, бессмысленных скитаний. Чувствовать себя победителем — вот ради чего люди идут на подобный риск, занимаются подобным делом. Быть победителем над собой, обуздать себя — вот что главное для матадора. Бык — лишь средство, лишь шкала того, насколько ты побеждаешь себя, не более того. Если бык тебя победил, это не значит, что ты проиграл. Ты проиграл тогда, когда не смог победить себя.
    Эмильяно вошёл в дом. Почему-то наружная дверь оказалась незапертой, а он столько раз говорил своей сестре, что следует соблюдать правила безопасности…
    — Лаура! Лаура! Я дома, собирайся! Нам надо ехать! Лаура!
    Никто не отозвался, и сердце Гонсалеса сжалось в тугие тиски. Он, опираясь на небольшую трость, которую ему также вручил мэр, так как ноги ещё плохо слушались новоиспечённого героя, пошёл по комнатам, зовя сестру. Превозмогая боль, Эмильяно двигался и выкрикивал имя сестры, хотя и понимал уже подсознательно, что её здесь нет.
    Он вошёл в комнату Лауры и увидел на столе листок бумаги. Гонсалес подошёл и взял его в руки.
    «Эмильяно! Ты помнишь, куда надо ехать! Отец обо всём узнал, Лаура у меня! Встретимся в назначенном месте, там же, под оливковым деревом. Возьми с собой всё, что у тебя есть, чтобы мы могли сразу уехать. Торопись! Твоя Мариана».
    «Мариана? Забрала Лауру? И та так спокойно это приняла?»
    В голову матадора вкрались сомнения… всё выглядело чересчур странным… премия Мигеля, письмо Марианы, Лаура, которая так легко согласилась… в голове всё путалось…
    И ещё Эмильяно почувствовал себя чересчур уставшим. Он будто постарел немного, стоя здесь с этой клюкой, будто древний старик, с многочисленными травмами и ушибами. Ему было тяжело привести свои мысли в порядок. Бой с Малышом его не убил, но он отнял последние силы — матадор сейчас мог лишь с честью принимать события, которые подкидывала ему жизнь.
    Но он ещё раз внимательно посмотрел на письмо. Это был явно почерк Марианы, даже если сравнить с теми письмами, которые ему присылали ранее. Именно поэтому Эмильяно взял свой мешок, несколько самых нужных вещей, сложил их в один свёрток и вышел из дома, заперев дверь на ключ.
    Гонсалеса вдруг накрыло щемящее чувство тоски. Где-то внутри Эмильяно подумал, что уже не вернётся сюда. Никогда. Это было для него уже свершившимся фактом.
    Он пока ещё не имел возможности как следует всё обдумать, события сменяли друг друга с космической скоростью, однако Гонсалес отметил про себя, что он всё равно слишком много ошибался в последнее время. Возможно, он уже исчерпал свой лимит.
  {% endfilter %}

  {{asters}}
  {% filter prose %}
    Гонсалес стоял под тем самым деревом, где буквально неделю назад признался в любви Мариане. Его тело стонало от боли, ушибы от копыт Малыша стали болеть несколько сильнее. Он не менял повязку уже несколько часов, хотя ему советовали это сделать сразу по приезде и лечь спать. Но у Эмильяно попросту не было на это времени.
    Внезапно сзади его ударили чем-то тяжёлым, и он свалился наземь, не в силах больше пошевелиться.
    Лимит действительно оказался исчерпанным.
  {% endfilter %}

  {{asters}}
  {% filter prose %}
    В этот раз возвращение к реальности проходило гораздо тяжелее.
    Эмильяно открыл глаза, но в этот раз он не лежал на перине, а был брошен на холодный пол какой-то комнаты. Он поднял голову и увидел, что лежит в главном зале особняка Родригесов. Перед ним сидел Мигель.
    Не успел матадор удивиться, как справа кто-то ударил его ногой по животу. Эмильяно немного перевернулся, но получил вдогонку ещё удар по спине. Кто-то кричал:
    — Нет, нет, пожалуйста, за что, пожалуйста, нет, нет, не надо, сволочи, не надо!!
    Эмильяно узнал голос сестры. Он не мог её видеть, по его лбу стекала тонкой струйкой кровь, потому что секундой ранее удар пришёлся в голову по касательной, оставив рассечение. Гонсалес собрал силы и хрипло прокричал:
    — Лаура!
    В ту же секунду он получил ещё удар. Эмильяно был не в силах больше разговаривать. Его лик покрывала густая маска из грязи и засохшей пыли, на глаза лился пот пополам с кровью. Он лишь увидел перед собой лицо того самого страшного огромного человека, которое, казалось, состоит из одних шрамов. Хесус… улыбался, держа в руке странно зазубренный нож.
    Эмильяно почти лежал. Мигель крикнул:
    — На колени, на колени, собака!
    Гонсалес, быть может, сопротивлялся, быть может, просто уже не слышал Родригеса, но приказание помещика не исполнил. Тот закричал ещё сильнее и страшнее:
    — На колени его, Хесус!
    Тот кивнул, и через пару секунд измождённый Эмильяно стоял на коленях перед Мигелем. Хесус облил его лицо водой, Гонсалес немного более отчётливо увидел картину перед собой.
    Впереди — Мигель, справа стоит Валери, слева — Мариана. Чуть дальше находится Лаура, которая тщетно бьётся в истерике в руках крепких мужчин — верных прислужников Мигеля.
    — Так, а теперь пора ответить за всё, что ты сотворил со мной и с моей семьёй! Ты слышишь меня?!
    Эмильяно в этот раз услышал. Он мрачно взирал на Мигеля, не ощущая страха или боли. Лишь странное презрение и досаду из-за того, что сестра видела его в таком виде.
    Мигель подошёл к нему и тыльной стороной кисти ударил по лицу.
    — Ты думал, можешь переспать с моей женой, затем совратить дочь и спокойно смотреть мне в глаза?! Ты, ничтожная тварь, отродье, сукин выкидыш?! Ты так действительно думал?!
    Эмильяно, немного покачиваясь в крепких руках Хесуса, сказал:
    — Я слышу только ложь в твоих словах. Лишь ложь. Я чист перед собой и перед Богом.
    — Как, ты смеешь ещё и лгать мне?!
    Удар.
    — Говори правду!
    Молчание.
    Удар.
    — Ты будешь говорить правду, тварь?!
    Молчание.
    Холодный голос Марианы:
    — Хесус, поддай ему.
    Удар. Удар. Удар.
    Эмильяно поднял голову. Он задыхался — не только и не столько от боли, сколько от горечи, досады и от этого предательства.
    — Мариана… за что? Я думал… мне казалось… за что…
    — Тебе казалось?!
    Мариана встала. Её красивое лицо крайне некрасиво исказилось маской гнева:
    — То есть ты считал, что можешь грязно домогаться моей матери и одновременно встречаться со мной?! Да как ты смел! Как ты смел это делать! Ты грязное животное! Ты не заслуживаешь ни жалости, ни сострадания! Я хочу, чтобы ты умер, да, хочу, хочу, хочу!
    Мариана залилась горькими слезами. В ней билось сердце ребёнка, капризное сердце ребёнка, которого настолько сильно обидели, настолько сильно предали… Эмильяно прошептал:
    — Вот она… ирония…
    Он поглядел на Валери, но та лишь ответила ему нарочито презрительным взглядом. Рядом снова загремел Мигель:
    — Моя жена всё рассказал мне! Как ты затащил её в спальню и силой захотел похитить её добродетель! Какой негодяй!
    Эмильяно лишь улыбался. Он ничего больше не говорил, он лишь смотрел перед собой и улыбался.
    Даже Хесус, который до этого чувствовал себя привычно, вдруг ощутил необычный холод в сердце. Он проникся уважением к этому смелому человеку, ибо тоже присутствовал на бое. Хесус не мог не уважать смелость и доблесть. Это не помешает ему убить матадора, если будет дан приказ, не помешает отрезать ему голову и насадить на кол ограды… но он его будет уважать.
    Мигель наконец остановился. У него уже не осталось сил. Он выплеснул свою ярость, тот начальный порыв. Родригес наклонился и взял рукой подбородок Эмильяно, всё ещё стоявшего на коленях под напором Хесуса.
    — Слушай теперь меня сюда. Сейчас мы отпустим тебя. Ты уедешь с сестрой отсюда. Навсегда. Твои деньги мы забираем. Твой дом будет снесён завтра же. Если ты попытаешься что-либо предпринять, все узнают, что ты домогался моей жены, и тогда я официально убью тебя на центральной площади. Если ты возобновишь своё дело матадора, я сделаю то же самое. Тебе не выжить в этой стране. Ты будешь стёрт из всех списков. Ты никогда больше не будешь матадором. А теперь бери свою потаскуху и уезжай отсюда навсегда.
    Хесус изо всех сил бросил на пол Эмильяно. Тот всё ещё продолжал улыбаться. Мигель вдруг взревел:
    — Почему ты улыбаешься?! Ты всё потерял! У тебя нет моей дочери, у тебя нет средств к существованию, ты нищий! Чему ты улыбаешься?! Ты, в конце концов, больше не матадор! И ты — проиграл, проиграл, проиграл!!!
    Эмильяно, не в силах встать, сумел повернуть голову и посмотреть в глаза человеку, который, кажется, разрушил его жизнь. Гонсалес ещё пару секунд смотрел будто в душу Мигелю, а затем прошептал:
    — Вот здесь вы всё-таки ошиблись, господин Родригес.
  {% endfilter %}
{% endblock %}
