{% extends template %}

{% set parentTitle = "Матадор" %}
{% set title = "Глава 2" %}
{% set pubdate = "16.01.2012" %}

{% block content %}
  {% filter prose %}
    — Эмильяно, иди сюда! Посмотри, какие они замечательные!
    — Лаура, тебе семнадцать лет, но ты ведёшь себя хуже пятилетнего ребенка.
    — А тебе двадцать пять, и ведёшь ты себя, как занудный восьмидесятилетний дед!
    И Лаура звонко засмеялась, продолжая бросать хлеб налетевшим голубям. Те отрывисто мотали головами, стараясь поймать каждую крошку, некоторые наглели до такой степени, что подлетали к ней вплотную, чтобы стянуть с руки кусочек побольше.
    В свои семнадцать лет она поражала окружающих красотой зрелой женщины. Длинные тёмные волосы спадали на небольшую высокую грудь, окутывая мимоходом идеальный овал лица. Большие чёрные глаза, казалось, испепеляют вас насквозь. Любой, кто хотя бы один раз посмотрел в них, никогда больше не мог забыть этот странный пристальный взгляд. Многие сникали после этого, ибо в этом взоре они читали насмешку над своим несовершенством. Однако же это был взгляд ребёнка, с любопытством изучающего находящегося перед ним человека. Лаура, несмотря на свою чарующую красоту, пока ещё не догадывалась, какой страшной силы оружием наделила её природа. Они считала свои полные красные губы несуразно большими и вульгарными, не замечая, как мужчины косятся на них, сглатывая слюну и начиная часто дышать.
    В то же время Лаура знала толк в красоте, её брат был довольно известной личностью в Мехико, поэтому он часто принимал благодарности от высокопоставленных гостей. Эти гости никогда не ездили без своих супруг — чопорных сухощавых дам. Те, кто сумели сохранить молодость, выглядели достаточно надменно и чересчур искусственно, их тонкие черты лица почти не выражали эмоций, лишь изредка показывая что-нибудь вроде «да, неплохо». Лаура же на их фоне выглядела этакой бестией — живая, горячая, весёлая, с огоньком в душе. Проявление эмоций в те времена считалось недопустимым в приличном обществе, особенно в американском — а Лаура Гомес Гонсалес интересовалась другими странами, и США для неё являлись эталоном государства. Но ей было невдомёк, что её живость как раз и привлекала мужчин, устававших от бесконечных игр со своими супругами.
    Однако же пока Лаура оставалась нетронутой и безмятежной, словно одинокое белое облако в бесконечной синеве небес.
    Для Эмильяно его сестра была кем-то вроде маленького ребёнка. Беззащитным существом, которое нужно свято оберегать. Он часто не замечал, как другие мужчины смотрят на неё, не замечал, как спрашивают о ней вскользь. Лаура казалась ему вечным ребёнком, он никак не хотел верить в то, что она уже совсем взрослая и настанет скоро тот миг, когда ему придётся отпустить её.
    А пока же он с усмешкой смотрел на её игры с голубями и поражался, откуда в ней столько энергии. Лаура была права: Эмильяно чувствовал себя человеком, уже много пожившим и много повидавшим на этом свете. Он стала матадором в двенадцать лет. Более юных тореро в то время мир не знал. И сразу успех — первые три боя он заканчивал победителем, причём его стиль вызывал у всех восторг. Эмильяно буквально играл с быком, давая тому почти полную свободу, но в последний момент всегда расправлялся с бедным животным. До восемнадцати лет его карьера шла постоянно в гору: отец, тоже пробовавший заниматься корридой в молодости, но бросивший это дело из-за недостатка талантов, активно помогал юному отпрыску, выбивая для него лучшие бои.
    Однако всё закончилось в одночасье. Отец ушёл на войну, людей не хватало, мать двинулась за ним, в итоге оба погибли в бою. Всё это случилось в 1861 году. Эмильяно остался один с десятилетней сестрой на руках. Всё, что ему оставалось, — это продолжать выступать, чтобы прокормить себя и её. В итоге за последние семь лет он не потерпел ни единого поражения, и на следующей неделе ему предстояло провести главный бой в своей карьере.
    Организатором боёв в Мехико являлся некий Гильермо. Личность тёмная, почти мистическая, он редко показывался на людях, контролируя процесс изнутри. После смерти отца Эмильяно Гильермо взял на заметку юношу, отмечая фантастический талант последнего. За семь лет он не раз выручал его материально, в то же время срывая большие деньги за блестящие выступления юного таланта. Гильермо не относился к Эмильяно как к сыну или вообще родному человеку, для него этот матадор был кем-то вроде проекта. Пока проект оправдывает вложения, есть смысл его поддерживать, если же Эмильяно начнёт проигрывать — всё очень быстро закончится.
    Сейчас известность Эмильяно достигла своей наивысшей точки, о нём знали в других городах и даже странах, включая США. Гильермо считал, что из этой ситуации необходимо извлечь максимум пользы, и он знал как.
    За последние семь лет наравне с матадором был ещё кое-кто, кто не проиграл ни одного боя, став легендой мира корриды. Его звали Малыш, он весил 990 фунтов и за семь лет убил тридцать два матадора, ещё четверых отправил на больничную койку. Бои с ним привлекали внимание людей со всех концов света, даже из Европы приезжали любители пощекотать себе нервы.
    Гильермо решил, что бой Эмильяно и Малыша — это именно то, что может принести ему неплохой доход. К тому же, если Эмильяно выиграет, то станет мировой знаменитостью, откроется золотая жила.
    В итоге, подождав месяц после очередного выигранного Гонсалесом боя, Гильермо вызвал его к себе и предложил сразиться с Малышом. Предложение ставилось в ультимативной форме, Гильермо намекнул, что в случае отказа о карьере лучше забыть. У Эмильяно не оставалось иного выбора, как только согласиться, ведь в случае победы он получал хорошие деньги.
    К тому же он был уверен, что выиграет. Для него не являлась секретом сила Малыша, и этот бой становился для матадора новым вызовом. Эмильяно был готов принять его.
    Но возник щепетильный нюанс.
    Гильермо, будучи организатором боёв, естественно, обращался за помощью к высокопоставленным лицам, имевшим вес в городе. Одним из таких лиц был Мигель Гарсия Родригес — крупный помещик, страстный поклонник корриды. Он настоял на том, чтобы непосредственно за неделю до боя Эмильяно встретился с ним для обсуждения некоторых условий. Гильермо фактически был привязан к Мигелю, отказывать своему главному спонсору и покровителю он попросту не мог.
    Об этом сейчас и размышлял Эмильяно. Он понимал, что помещик хочет сделать ему некое предложение относительно боя, но какое? Проиграть бой? Вряд ли, в интересах Мигеля было, чтобы Гонсалес выиграл, потому что карьера Малыша близилась к закату в силу возраста, к тому же это оказалось бы сенсацией.
    Но тогда что? Эмильяно пока не мог найти ответа. Что его ещё удивило — Мигель настоял, чтобы он приехал к нему в гости со своей сестрой. Для человека такого уровня — неслыханное добродушие.
    Решив, что не стоит думать об этом сейчас, потому что время всё рассудит (к тому же у него не оставалось иного выбора), он крикнул Лауре:
    — Ты помнишь, что завтра мы должны посетить господина Родригеса?
    В ответ он услышал лишь громкий девичий смех.
    «Господи, какая же она маленькая ещё!»
    Эмильяно встал и подошёл к сестре. Она обернулась на него:
    — Что хочет мне сказать мой любимый брат?
    Эмильяно улыбнулся:
    — Завтра мы едем к господину Родригесу. Надо себя показать в лучшем свете, надеюсь, ты меня понимаешь. Для нас это может быть очень важно, ведь Мигель — крупнейший помещик в нашем городе, от его настроения зависит многое. Произведи на него впечатление, я хочу завтра гордиться тобой.
    Лаура кивнула:
    — Не беспокойся, этот твой Мигель завтра потеряет дар речи, когда увидит меня.
    Эмильяно расхохотался:
    — А ты ещё более самоуверенная, чем я думал!
    Лаура поджала губы:
    — А ты сомневаешься во мне?
    — Нет, вовсе нет!
    И он поцеловал её в лоб. У Эмильяно было хорошее настроение. Он даже не подозревал, как дорого может ему обойтись обращённая к сестре невинная просьба произвести впечатление на такого во всех смыслах внушительного человека.
    Они ещё немного посидели перед домом, вдвоём прикармливая голубей, а затем пошли домой, думая о светлом будущем.
  {% endfilter %}
{% endblock %}
