{% extends template %}

{% set parentTitle = "Матадор" %}
{% set title = "Справка" %}
{% set pubdate = "16.01.2012" %}
{% set prev = "rk/prose-3" %}

{% block preface %}
  {% filter epigraph %}
    {% filter prose("quote") %}
      Одиночество особенно остро чувствуешь, когда кто-то только что ушёл из твоей жизни, захлопнув навсегда за собой дверь. До встречи с этим человеком было куда проще. Ты сам выстроил толстую стену между собой и всем миром. Добровольно принял своё одиночество, которое тебе предложил мир. Ты радовался этому маленькому уютному оазису, в который мог сбежать в любой момент, в котором было хорошо и спокойно. Но ты сделал ошибку. Впустил туда другого человека. И твой цветущий мирок превратился в выжженную пустыню. А стена стала ещё прочнее. И после этого ты остаёшься один. Когда ты один, крошечная неуверенность разрастается до размеров кафедрального собора. Когда ты один, озерцо грусти превращается в океан печали.

      [Луис Ривера]
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter prose %}
    Матадор (исп. «matador de toros» — «тот, кто убивает») — в испанском бое быков — главный участник, убивающий быка. После проведения артистической работы с быком, когда он утомлён и обессилен, наступает решающий момент — смерть быка, и это является кульминацией корриды.
    Маэстро при помощи мулеты — небольшого красного плаща, натянутого на деревянную палку длиной около пятидесяти сантиметров — достигает наивысшего сближения с быком, используя самые предприимчивые и чувствительные приёмы. Различают следующие основные ходы с мулетой:
    «El Natural» — мулета берётся без шпаги в левую руку, затем тореро выискивает расстояние с быком, выбрасывает вперёд мулету, и, когда бык срывается с места, выбрасывает ногу для того, чтобы разбить прямолинейное движение быка. Даётся свободный ход руке, чтобы бык продвинулся как можно дальше, заканчивая понизу. Обычно за этой фигурой следует «Pase De Pecho» (два этих приёма — «джентльменский набор» матадора, обязательная программа с мулетой).
    «El Derechazo» — используется та же техника с мулетой, что и в предыдущем приёме, но вместе со шпагой в правой руке.
    «Pase De Pecho» — после двух предыдущих ходов бык полностью проходит под низко опущенной мулетой или остаётся рядом, причём тореро должен стоять на месте. Приём проводится в противоположном направлении, нежели первые два, в зависимости от того, какой рукой он выполняется. Эта фигура считается самой важной из всех, по ней оценивается мастерство матадора.
    «Trinchera» — осуществляется справа налево, сокращая атаку быка при помощи проведения мулеты понизу с целью подчинить и сосредоточить быка.
    Убийство всегда реализуется лицом к животному, и целью является ввести шпагу в отверстие между передними рёбрами, чтобы попасть в сердце и вызвать как можно более быструю смерть.
    Существуют следующие способы его осуществления:
    «Recibiendo» — это самая древняя и опасная форма убийства быка. Когда у быка есть силы, чтобы сделать бросок, матадор становится на благоприятном расстоянии по прямой линии с правым рогом быка, с чуть согнутой мулетой и правой рукой, в которой шпага, приставленной к груди, локоть на высоте плеча. Сам бык приходит к тореро.
    «Volapi&egrave;» — это способ убить обессиленного и стоящего на месте быка. Тореро бежит по направлению к животному, держа мулету понизу в левой руке, заставляя быка склонить голову, в этот момент правой рукой вонзает шпагу. Один из самых распространённых способов убийства.
    «Al Encuentro» — с места срываются и бык, и тореро, встречаясь посередине пути. Этот момент может быть реализован двумя способами, в зависимости от того, где находится тореро после нанесения удара шпагой — «Suerte Natural», когда матадор остаётся между барьером арены и быком, либо «Suerte Contraria», когда бык остаётся между барьером и матадором.
  {% endfilter %}
{% endblock %}
