{% extends template %}

{% set parentTitle = "Матадор" %}
{% set title = "Глава 5" %}
{% set pubdate = "16.01.2012" %}

{% block content %}
  {% filter prose %}
    Эмильяно в полном смятении покидал поместье. Его мысли прыгали из стороны в сторону.
    Он понимал в течение своего визита, что Валери явно нравится его присутствие, но он не ожидал, что она посмеет совратить его, попытаться согрешить с ним прямо в супружеском ложе… Мигеля. Эта мысль не поддавалась логическому соображению Эмильяно. В его понимании, быть супругой такого человека уже означало счастье; вообще принять тот факт, что такая особа могла вступить в связь с простым, пусть и прославленным матадором, — истинный бред. Но он понимал, с другой стороны, что этой женщине явно не хватало мужского внимания, и то, что произошло в спальне, можно было назвать только лишь актом отчаяния.
    Что ещё более огорчало Эмильяно — теперь вообще вряд ли он приедет к Родригесам, а это означало, что придётся забыть о Мариане. Кроме того, он явственно понимал: если Валери прознает, что он влюблён в её дочь, то сделает всё, чтобы у них ничего не вышло. И Эмильяно не сомневался: у такой женщины это получится.
    В таких расстроенных чувствах он сел в экипаж, который должен был его доставить обратно. Но стоило ему тронуться, как тут же кучер резко остановил коней.
    Эмильяно высунулся и спросил:
    — В чём дело?
    Только тут он увидел маленького сгорбленного человека, спешащего к ним и машущего руками с явным призывом не ехать. Он узнал в нём одного из членов прислуги Родригесов. Человек протянул ему конверт:
    — Господин Гонсалес, вам просили передать.
    Эмильяно удивлённо вскинул брови:
    — Кто это?
    — Мне сказали, в письме всё написано. И будет лучше, если вы его не будете никому показывать.
    Человек подмигнул ему:
    — Ох и повезло вам, господин!
    Эмильяно кивнул головой. Экипаж двинулся.
    Сначала он хотел посмотреть содержимое дома, но не выдержал и вскрыл конверт по дороге.
    В следующие пару минут он выпал из этой жизни, потому что там было написано следующее:
    «Во вторник в полночь около западной стены нашего особняка. Под оливковым деревом. Ваша Мариана».
    Эмильяно почувствовал странное нарастающее чувство в груди. Это был ни с чем не сравнимый восторг.
    Мариана назначила ему свидание! Это было просто потрясающе! Он даже на секунду забыл обо всех этих раскладах с ней и Валери. Теперь у него не было сомнений: всё получится! Эмильяно начал даже насвистывать что-то, рассеянно вертя письмо в руке и перечитывая его снова и снова. Только подъезжая к дому, он спохватился и засунул его к себе под рубашку. Он не думал сейчас о возможных последствиях. Он вообще кроме Неё ни о чём и ни о ком не думал. В голове прокручивалась только одна мысль: «Мариана, моя любимая, Мариана…»
    Экипаж остановился в нескольких десятках метров от дома матадора, потому что сам дом находился в небольшой низине, спускаться туда было несколько проблематично. Эмильяно одним махом выпрыгнул, поблагодарил кучера и быстрым шагом пошёл к дому. Он ожидал увидеть на улице Мигеля и сестру, но вокруг дома никого не находилось.
    «Вероятно, они внутри».
    Эмильяно поднялся на небольшой пригорок перед дверью. До него донеслись чьи-то крики. Он взялся за дверь и дёрнул её, чтобы открыть, но дверь не поддалась. Кто-то запер её изнутри.
    В Гонсалесе всё вспыхнуло, он представил на секунду, что его сестра в опасности. Разбежавшись, Эмильяно врезался правой ногой в дверь, выбив её с первого раза. Затем он вбежал в своё жилище. Его глазу открылась такая картина, по сравнению с которой выходка Валери сразу же показалась чем-то далёким и несуществующим.
  {% endfilter %}

  {{ asters }}
  {% filter prose %}
    Лаура лежала на столе, крича и отбиваясь от Мигеля. На ней остались лишь изорванная в клочья ночная блуза и нижнее бельё. Сам Родригес со странным рычанием пытался стянуть с сестры Эмильяно остатки того, что прикрывало её наготу.
    Гонсалес на секунду оцепенел, но обращённый на него отчаянный взгляд сестры и её жалобный крик «Эмильяно, помоги!» расставили всё по своим местам.
    Эмильяно подскочил к Мигелю, который даже не заметил внезапно нагрянувшего хозяина дома, одним движением развернул его к себе и сильно ударил в челюсть.
    Мигель, успевший возбудиться от вида полуобнажённой красивой девушки, даже не пытался сопротивляться и лишь невпопад размахивал руками под градом ударов, сыпавшихся на его немолодое тело, через несколько минут покрывшееся ссадинами и кровоподтёками. Эмильяно отчаянно бил помещика, невзирая на возможные последствия, невзирая на все договорённости, изредка брызгая слюной и в ярости крича:
    — Грязная скотина! С моей сестрой! Тварь, недоносок!
    В какой-то момент Мигель уже был не в силах отбиваться. Он прислонился к стене, лишь пытаясь закрыться руками, но это не спасало его. После очередного удара из носа хлынула кровь, и он начал обессиленно спускаться вниз, на пол, немного всхлипывая.
    — Эмильяно, нет! Ты убьёшь его!
    Лаура, которая хоть и жаждала смерти своего вероятного насильника, всё-таки осознавала всю тяжесть поступка, от которого был недалёк её брат. Убийство такого человека погубит их семью, и даже наслаждение от этого зрелища не смогло затмить ей разум.
    — Лаура! Ты понимаешь, что он хотел сделать с тобой?!! Понимаешь?!! Эта тварь должна сдохнуть!
    — Остановись, Эмильяно!! Он ничего не успел сделать, а ты из-за своего преступления сядешь в тюрьму надолго, если не навсегда! Подумай обо мне хотя бы: что я буду делать?!
    Эти слова образумили матадора. Он внезапно прекратил добивать Родригеса, глубоко вздохнул и застыл на месте, нервно стуча ногой по полу. Поверженный соперник лишь смотрел в одну точку, немного постанывая. Сложно было догадаться по его замутнённому взгляду, понимает ли он, что происходит.
    Эмильяно долго смотрел на него.
    — Как жаль, что в этом мире никто не может быть убит без суда и следствия, если того заслуживает по справедливости! Лаура, позови кучера. Пусть отвезёт его домой.
    — Эмильяно, ты теперь откажешься от боя, да?
    Матадор посмотрел на свою сестру, которая, немного подрагивая, пристально смотрела на своего брата.
    — Нет, я не откажусь от боя. Я никогда не дрался ради этих мешков с деньгами в человеческой шкуре. Я дрался ради себя, ради тебя и ради того, чтобы доказать кое-что себе. Я выйду и убью Малыша.
    Мигель вдруг открыл глаза. Его взгляд приобрёл осмысленное выражение. Он взглянул на Эмильяно и заговорил. Его речь звучала странно, будто разрываясь на отдельные куски. Язык Мигеля заплетался, создавалось впечатление, что он слишком много выпил:
    — Я молю тебя об одном: не рассказывай никому об этом! Это было вне моего контроля и разума… твоя сестра — богиня красоты. Её…
    — Заткнись! — Эмильяно побагровел. — Ты никогда не войдёшь в мой дом. Никогда!!! И не смей упоминать имени моей сестры! Я буду драться, ты заплатишь мне причитающиеся деньги — и всё. На этом всё. Я больше не хочу тебя видеть. Все дела можно решить через Гильермо. Прощайте.
    Мигель немного приподнялся, пытаясь что-то сказать.
    — Ты знаешь, кто я такой, я могу сделать так, что ты и твоя…
    Эмильяно взял за грудки помещика.
    — Я знаю про вас, господин Родригес, теперь такое, что может испортить вам репутацию на всю жизнь. И… вряд ли Валери и Мариана будут рады узнать, что их муж и отец решил переспать с молоденькой девочкой из семьи простого матадора, не так ли?
    «Хотя, возможно, ваша жена будет как раз довольна. Пока муж развлекается с сестрой матадора, она сама будет показывать мне секреты любовного искусства».
    Мигель замолчал. Он даже не мог разозлиться, не мог произнести внятно ни одного слова. Казалось, что стоит человеку его уровня с такими обширными связями заставить матадора молчать или же купить себе имя честного человека? В конце концов его сила всегда всех устрашала, он брал то, что хотел.
    Однако он ощущал скрытую мощь в матадоре, такую силу, которой сам не имел. Он будто смотрел на себя в молодости. Эта энергия давно ушла из Мигеля и теперь будто вселилась в матадора. Родригес явно чувствовал, что он уступает Гонсалесу. Впрочем, стоило учитывать, что резкий приход хозяина дома, собственное неловкое положение и полученные побои могли сломить кого угодно. Мигель понимал, что он не в том положении, чтобы сейчас диктовать свои условия. Матадор в таком состоянии мог его убить. А органы закона и порядка в Мексике в то время действовали из рук вон плохо. Вряд ли его тело найдут, если зарыть его где-нибудь в прериях в нескольких сотнях миль отсюда.
    Оставался один вариант — уйти с позором и постараться забыть дорогу к дому матадора. В этом сейчас Родригес видел своё единственное спасение, единственный вариант развития событий.
    — Я всё понял. Вы меня больше не увидите.
    Эмильяно отпустил помещика. Он глядел на него с нескрываемым презрением.
    — Я никогда бы не подумал, что вы такой низкий человек, господин Родригес.
    Мигель ничего не ответил, лишь поправил свой камзол.
    «Я бы никогда не подумал, что я стал настолько слабым, что меня унижает обыкновенный матадор».
  {% endfilter %}

  {{ asters }}
  {% filter prose %}
    До боя оставалось ровно три дня.
    Мигель перестал появляться вблизи жилища Эмильяно и Лауры. Семье он сказал, что не стоит беспокоить матадора перед боем, ему надо сосредоточиться, поэтому Гонсалес получил возможность спокойно тренироваться. Хотя… не до спокойствия было молодому матадору, в чьих жилах кипела страсть. Его сжигала любовь к Мариане.
    И как раз сегодня в полночь ему предстояло встретиться с ней. Существовал определённый риск, ведь они встречались почти у неё дома. После последних событий это казалось абсурдным и противоестественным, но если Мигеля Эмильяно видел чудовищем, которое достойно лишь самых последних слов, то Мариана, напротив, представала в наилучшем свете, словно ангел, спустившийся с небес. Гонсалес, безусловно, идеализировал свою любимую, впрочем, такой недостаток свойственен всем влюблённым сердцам.
    Была и другая проблема. Сестра Эмильяно, Лаура.
    Очевидно, после того, что с ней попытался сделать Мигель, она вряд ли захочет породниться с дочерью своего несостоявшегося насильника. К тому же, обращаясь к делам насущным, Эмильяно предстояло оставить дома сестру одну, что было крайне небезопасно.
    Она ещё не совсем отошла от случившегося. Гонсалес слышал, как Лаура по ночам стонала и вскакивала с постели: кошмары душили бедную девушку. Как выяснилось из истории, когда Эмильяно уехал к Валери, Мигель стал довольно галантно обращаться с Лаурой, пытаясь завладеть её вниманием. А в какой-то момент он просто резко прижал её к себе и поцеловал. Она вырвалась и убежала к себе в комнату, где заперлась. Пока матадор отсутствовал, помещик пытался выломать дверь и ворваться к объекту вожделения. Это ему удалось, и опоздай Эмильяно на пару минут — и его сестра стала бы женщиной.
    Но свидание с Марианой стояло для него на первом месте. Только несколько раз он испытывал чувство любви, а сейчас же оно захватило его всего, без остатка. Это тот самый случай, когда отступать некуда — можно только отдаться нахлынувшему чувству.
    Эмильяно решил ничего не говорить Лауре, а когда наступит ночь, тихо уйти из дома. Это вряд ли мог бы кто-либо одобрить, однако же шансы, что Мигель пожалует к ним, были невероятно малы. Шанс же ещё когда-либо повидаться с Марианой практически равнялся нулю.
    Поэтому не стоит удивляться, что уже ночью матадор встал с кровати, тихо пробрался к выходу, сел на своего старого скакуна, доставшегося ещё от отца, и торопливо помчался навстречу своему счастью.
  {% endfilter %}

  {{ asters }}
  {% filter prose %}
    В назначенное время Эмильяно стоял в описанном в письме месте.
    Тени играли на соседних стенах, причудливо соединяясь в узоры в самых неожиданных формах. Где-то неподалёку заухал филин, дополняя едва уловимыми деталями общую обстановку загадочности. Эмильяно озирался по сторонам. Он стоял рядом с самым ненавистным ему домом, где жил самый дорогой его сердцу человек после Лауры. По его расчётам, Мариана должна была появиться совсем скоро, однако её пока не было нигде видно.
    Матадор начал волноваться. А что, если его любимую перехватили на пути к нему и сейчас сюда идёт Мигель собственной персоной? Тогда Эмильяно явно попадал в затруднительную ситуацию.
    И вот, когда его нервы напряглись до предела, кто-то тихо окликнул его:
    — Эмильяно?
    Матадор обернулся и увидел девушку, закутавшуюся в тёмный плащ. Но эти контуры, это проступавшие контуры тела… Сердце Эмильяно забилось быстрее. Он сглотнул и немного хрипло спросил:
    — Мариана, это ты?..
  {% endfilter %}

  {% filter prose %}
    …Потом было всё, что бывает у влюблённых. Признания в любви, горячие поцелуи, обещания никогда не покидать друг друга и никому не отдавать… Как часто люди в забытьи и в эмоциях своих забывают, насколько жизнь не расположена к подобного рода обещаниям и клятвам! Жизнь не любит тех, кто дерзит ей, она обычно расплачивается той же монетой.
    К утру Эмильяно и Мариана расстались, пообещав встретиться следующей ночью. Матадор понимал, что вся эта любовь может выйти ему боком, что лучше остановиться, что лучше тренироваться и забыть о Мариане… но ему хватало одного маленького воспоминания о её глазах, губах, улыбке, смехе, волосах, странном сочетании черт лица — и всё исчезало. Абсолютно всё. Мигель, Малыш, Валери, Лаура — всё отходило на второй, третий и четвёртый планы. Только Мариана владела его разумом, лишь она.
    Эмильяно попал в опасную ловушку. Он попал в любовь.
  {% endfilter %}

  {{ asters }}
  {% filter prose %}
    Лаура ни о чём не догадалась. Когда утром Эмильяно аккуратно вошёл в дом, то услышал, как заскрипела кровать сестры. Заспанная девушка вышла и пожелала доброго утра. Даже если она о чём-то догадывалась, то, видно, была совсем не против.
    Поэтому на следующую ночь Эмильяно, поспавший немного днём и совершенно разбитый, снова стоял под оливковым деревом. Это место казалось ему особенным, предначертанным судьбою. Он действительно видел во всём этом тайный знак, послание свыше. Мариана же была для него божественным существом, которое Господь специально послал для него, дабы воздать за все приложенные ранее усилия.
    Она немного опаздывала, впрочем, это нисколько не смущало Эмильяно. Мариана обычно приходила с небольшой задержкой, специально, чтобы у матадора была возможность понять, нет ли за ним или за ней слежки.
    Как ему показалось, всё было чисто. Поэтому он абсолютно не удивился, снова увидев перед собой прекрасную особу в тёмном плаще, сливавшуюся со светом окружающей и окутывающей всё вокруг ночи.
    Он подошел к ней, видя самые привлекательные губы на свете, прикоснулся к ним… и тут же отскочил назад, смотря перед собой в недоумении.
    — Кто ты?!
    Девушка сняла плащ, и Эмильяно увидел, что она далеко уже не девушка. Перед ним стояла Валери.
    — Я не отпускаю людей просто так. Особенно тех, которые мне не дают спать ночами.
    Эмильяно покраснел настолько, что это можно было увидеть в темноте. Смятение охватило его:
    — А… а что вы здесь делаете?
    Валери усмехнулась:
    — То есть вы стоите рядом с моим домом ночью и спрашиваете, что я делаю здесь? А не кажется ли вам это неслыханной наглостью? Впрочем, всё можно исправить…
    — Я не хочу ничего исправлять!
    Эмильяно почти закричал это, сорвавшись. Валери приложила палец к губам.
    — Тише, тише… ты же не хочешь, чтобы Мигель всё узнал, верно?
    — Где Мариана?
    — Она взаперти в своей комнате. Рыдает, наверное. Но это должно было случиться. Она говорит, что ты любишь её… Я не верю, что ты можешь любить её больше меня.
    Валери ещё ближе придвинулась к матадору.
    — Она никогда не сможет дать тебе того, что могу дать я… никогда…
    Эмильяно отступил на пару шагов назад.
    — Мне ничего не надо от вас… ничего… я хочу её видеть, вы должны меня понимать…
    Валери возмущённо всплеснула руками:
    — Что я должна понимать? Почему я вообще цацкаюсь с тобой? Многие всё отдали бы за ночь со мной, а ты, простой матадор, и так… я не понимаю!
    Сзади раздался третий, чей-то холодный голос:
    — Я тоже.
    Валери обернулась и застыла на месте. Эмильяно же быстрее понял, что к чему — он развернулся и резво перемахнул через стену, вскочив на своего верного скакуна.
    Это можно было предугадать, но всё пошло по наихудшему сценарию. Валери откуда-то прознала, что Мариана встречается с Эмильяно. А Мигель выяснил, куда пойдёт его жена этой ночью. Он не знал наверняка, кто этот мужчина, но догадывался. В его мозгу рисовались самые разнообразные картины, одна из которых, конечно, — месть матадора за сестру.
    На самом деле в этих совпадениях не было ничего удивительного. В особняке Родригеса давно жил и служил негр Жуан, следивший за перемещениями всех проживающих в особняке. Естественно, он быстро узнал о том, что Мариана влюбилась в матадора, к тому же он видел того маленького человека, передающего в экипаж записку Эмильяно. Надо отметить, что Жуан работал при дворе Родригеса исключительно из-за Валери: она когда-то обратила внимание на этого бедного чёрного парня, который проявлял недюжинную смекалку и часто мог выручить хорошим советом. Жуан был благодарен хозяйке до такой степени, что доносил ей каждый день всю информацию о передвижении Мигеля, Марианы и остальных. Он же выследил влюблённых ночью, о чём, естественно, поведал Валери. Поэтому та сделала всё так, что матадор лишь в последний момент понял, что перед ним — не его любовь.
    Но надо также сказать, что Жуан очень боялся Мигеля. Тот видел, что Валери часто болтает с ним, и догадывался об истинной сути вещей. Иногда он подзывал чёрного слугу и приказывал рассказывать ему всё, что хотела узнать жена, под страхом смертной казни.
    От Мигеля не укрылось, что жена куда-то прихорашивается на ночь. Жуан долго не хотел раскалываться, но под дулом ружья сказал всё как на духу. Помещик, услышав, что жена собралась на свидание, ни секунды не сомневаясь, сделал верный вывод, кто это может быть. Вся беда состояла в том, что Жуан не сказал о связи Марианы и матадора, и теперь Мигель чувствовал страшную ревность. Увести его женщину! Да, пускай он её не любил, но он никому и никогда не давал права так унижать себя.
    Но теперь они посчитаются. Мигель абсолютно не сомневался, что это Гонсалес и что ему не скрыться.
    Это всё оказалось чистейшей правдой. Несмотря на то, что Эмильяно около пяти минут пытался ускакать от экипажа Мигеля, на очередном повороте его коня подстрелили, и матадор свалился на землю, сильно ударившись правой ногой.
    Он сумел подняться и, сильно хромая, попытался скрыться в лесу. Но в следующую же секунду его ударили в спину, и матадор со стоном упал. Из раны у виска сочилась кровь, но затем боль усилилась: к этому виску приставили огнестрельное оружие. Эмильяно заставили встать на колени, и он увидел перед собой своего визави.
    Мигель мрачно взирал на побитого и израненного матадора. Он не забыл, что его чуть не убили, да и шрамы на лице давали знать о себе. Семье он сказал, что неудачно упал с коня, хотя все, особенно Валери, догадывались, что произошло нечто посерьёзней, потому что после того дня, когда Родригес вернулся избитый, в полубессознательном состоянии, о семье Гонсалесов не говорилось ни слова.
    — Итак, вот мы и снова встретились. Сукин сын, о чём ты думал, просто скажи — о чём ты думал?!
    Эмильяно лишь исподлобья смотрел на помещика. Он не знал, известно ли тому об их связи с Марианой, известно ли Мигелю вообще что-то определённое.
    Они долго смотрели друг другу в глаза. Мигель сплюнул и процедил сквозь зубы:
    — Итак, теперь слушай меня. Ты больше никогда не появишься у порога моего дома. Мы с тобой рассчитались сполна. А если попробуешь поведать о том случае с Лаурой, я повешу тебя на первом же суку. Ты будешь драться, и теперь ты отдашь мне в два раза больше денег с боя, а если проиграешь — сдохнешь ещё до того, как успеешь попрощаться с сестрой. Ты всё понял?
    Эмильяно кивнул. Он понимал, что потерял всякие шансы быть с Марианой, да и бой теперь превращался в главное событие его жизни. Жизнь ещё раз дала крутой виток, теперь не в его сторону.
    Мигель наотмашь ударил матадора, и тот свалился без сознания.
    — Отвезите его к дому и положите рядом, на пороге. Пусть сестрёнка увидит братца тоже в не самом лучшем свете.
    Он развернулся и пошёл обратно к своей повозке.
    «Эта тварь всё отняла у меня. Честь, достоинство, любовь, жену… как же я хотел бы, чтобы этот чёртов бык поднял его на рога на глазах всей толпы! — Мигель продолжал раздумывать: — Конечно, я потерплю убытки, но какая теперь к чёрту разница. Мне хватит денег, чтобы обеспечить дочь и её избранника, а остальное уже не волнует. Ничего не волнует. Эта пустота уже никогда не закроется. Но ведь он снова выиграет! Эта сучья порода всегда выигрывает, везде, где бы ни был! Правда, он давно не тренировался, эти события должны выбить его из колеи, к тому же раны и ушибы…»
    Мигель остановился.
    «Раны. Конечно, с ранами он не сможет драться. Этот бык растаптывал самых здоровых и искусных матадоров. Израненный мальчишка — это лёгкая добыча. А потом можно будет сказать, что этот выкидыш свиноматки приставал к моей жене, жене своего благодетеля, и тогда, тогда его имя навсегда покроется позором! Навсегда! А Лауру я заберу себе, и эта глупышка ничего не скажет, ни слова против, а если посмеет, то я научу её правильно общаться со мной!»
    — Венедикт!
    — Да, господин!
    — Помнишь Хесуса? Он нужен мне.
    — Помню… господин, он — страшный человек, вы уверены, что следует…
    — Да, уверен! Я спас его от тюрьмы, когда он вырезал всю свою семью, мне как раз нужен сумасшедший. Найди его и приведи ко мне, а если не придёт, заставь прийти. Мне он нужен для одного дела…
    Мигелем овладела ярость. Его красные, воспалённые глаза бессмысленно смотрели в ночное небо, где только зарождался месяц, а в голове роились самые злые мысли. Разум оставил Родригеса. Теперь всё было направлено на одно: убить матадора, но не просто убить, а опозорить на всю страну. Кроме ярости и странного красного цвета ничего не видел перед собой помещик, чья жизнь стремительно катилась под откос. Он никак не мог понять, что пока собственная жизнь идёт вниз, ничего не изменится, если направить вниз жизнь другую.
  {% endfilter %}

  {{ asters }}
  {% filter prose %}
    Эмильяно сидел, мрачно взирая на запотевшие с утра окна, прикладывая компрессы к своим ранам. Лаура суетилась вокруг него, пытаясь помочь брату, хотя и видела, что её хлопоты не больно его интересуют.
    Матадор очнулся несколько раньше, чем наступило утро. Он смог подняться, войти в дом и налить воды, когда перед его глазами внезапно всё поплыло, и он упал на пол. На стук проснулась Лаура. Её ужаснуло состояние брата, который еле держался на ногах. На все вопросы сестры Эмильяно отвечал, что выезжал перед сном на прогулку, наткнулся на банду, которая и избила его.
    Конечно, сестра не верила ему. Она прекрасно понимала, что Эмильяно куда-то ездил по ночам и что от любой банды можно было бы оторваться на блестящем скакуне, который так и не вернулся к ним домой. Но если брат ничего не говорил, значит, так было нужно. Она безропотно доверяла ему во всех ситуациях, в чём, возможно, зачастую была не права.
    Когда Эмильяно стало лучше, он сказал, что хочет выйти прогуляться в город. Лаура хотела пойти с ним, но он наотрез отказался. Матадор не видел смысла в тренировках. До боя оставались всего сутки, лучше как следует выспаться. Он и так много потерял, участвуя во всех этих интригах. И хотя Эмильяно корил себя за то, что пошёл на такой риск, он ни о чём не жалел, потому что понимал: оно стоило того, та единственная ночь с Марианой — стоила того.
    Сегодня он хотел погулять по городу, пообщаться с людьми. Эмильяно давно не выходил в свет, не считая поездки к теперь проклятому для него дому семьи Родригесов, он почти три недели не бывал среди мексиканского народа. Ему необходимо было побыть наедине со своими мыслями, хотя бы чуть-чуть. Потом он собирался вернуться домой и лечь спать, спать сладким сном вплоть до того момента, когда наступит час ехать на арену и принимать поставленный вызов. Главный вызов в своей жизни.
  {% endfilter %}
{% endblock %}
