{% extends template %}

{% set title = "Быть правым и правильно поступать" %}
{% set pubdate = "25.12.2011" %}

{% block content %}
  {% filter prose %}
    Сегодня в ночь я провожаю сына.
    Он улетает на неопределённое время. Может быть, на два-три месяца, может, на год. Впрочем, если всё сложится так, как он задумал, то на всю жизнь.
    В этом нет трагедии. Мы будем видеться, навещать друг друга.
    Нечасто. Скорее всего, раз в год. Может, и реже.
    Я должен был бы, наверное, остановить его. Сказать своё веское отцовское слово. Мол, нужно не искать себя и своего счастья в неведомых странах, а устроиться на работу, начать жить взрослой жизнью.
    Как все. Как принято.
    Если бы я так сказал, то был бы прав. Кто бы упрекнул меня в том, что я не желаю своему сыну добра?
    Никто бы не упрекнул.
    Кроме меня самого.
    И ещё сына, по прошествии десятков лет, когда человек оглядывается назад — проверить, всё ли, о чём он думал и мечтал, свершилось или хотя бы имело шанс состояться, — и вдруг начинает понимать невосполнимость потери так и не испытанного.
    Тогда вся правильно прожитая жизнь начинает казаться бессмысленной и блёклой, несмотря на уважение окружающих, в глазах которых ты жил по правилам и теперь заслужил достойный отдых.
    Отдых от чего? Вдумайтесь в вопрос. Отдых от жизни…
    Парадокс. Какой же была в таком случае эта жизнь, от которой теперь нужно достойно отдыхать?
    Разве в природе — высшем проявлении божественной сути — животные отдыхают от жизни на старости лет? Нет. Они просто уходят, когда жизнь заканчивается.
    Мой сын ломает правила и устои при моём попустительстве. Он уходит в жизнь, которую так любит. Растворяется в ней. Ему не нужно хотеть хотеть. Он хочет и жаждет. Как настоящее дитя Природы. Без правил и устоев.
    Он счастлив от предвкушения соприкосновения с его жизнью.
    И я вместе с ним.
    Мы с ним совершенно неправы, но поступаем абсолютно правильно.
  {% endfilter %}
{% endblock %}
