{% extends template %}

{% set title = "День Рождения" %}
{% set pubdate = "25.12.2011" %}

{% block content %}
  {% filter prose %}
    Завтра мой день рождения.
    Некоторые считают этот день праздником внимания и подарков.
    Есть такие, что и взгрустнут — мол, годы идут, нет, летят, и что?..
    Особо кокетливые скрывают свой возраст или включают счётчик в обратную сторону.
    Я не отношусь к этому дню никак. Разве что делаю «приятное лицо» для мамы.
    Ведь это её день. Не буду лицемерить. Я знаю, сколько мне календарных лет. Просто умею хорошо считать.
    А я увидел в этот день свет, чтобы в один из последующих дней родиться. Может быть, даже родиться несколько раз. Если очень повезёт и заслужу.
    Если не повезёт и не заслужу, то только промелькну, механически выполняя правильные действия, манипулируя своим телом, перемещая его в пространстве между правильными местами.
    Как говорится, Дом — Работа, Работа — Дом.
    Ещё отпуск с завидной периодичностью.
    Рождаться можно и несколько раз в год. Просто в месяц уж очень напряжённо, но можно, теоретически. Промежутки времени роли не играют.
    Свой момент очередного рождения невозможно пропустить.
    Это когда ты перестаёшь чувствовать своё тело, и кажется, что летишь. Счастливый…
    Это называют вдохновением, озарением, талантом — и, в конце концов, какая разница, каким словом назвать своё очередное рождение!
  {% endfilter %}
{% endblock %}
