{% extends template %}

{% set title = "Всё так и было" %}
{% set pubdate = "25.12.2011" %}

{% block content %}
  {% filter prose %}
    Этим летом я попал на концерт органной музыки в одном из известнейших залов Европы.
    В программе известные композиторы — Бах, Вивальди…
    Ничего нового, но всегда предвкушение от соприкосновения с божественным монологом-откровением авторов.
    «Ничего нового» в этот раз не случилось…
    Впервые почувствовал, в чём божественная гениальность Баха.
    Монолог не состоялся, диалог — да.
    Бах знал, что у каждого человека есть своя частота вибраций. В его музыке есть вся палитра звуков. Каждый найдёт для себя уголок. А если найдёт свою вибрацию, остальное уже не важно. Нравится всё.
    Вивальди же говорит только с себе подобными. Не твоя вибрация? Твоя проблема!
    Это всеобщий закон. Я назвал бы его Законом Вибраций.
    Пусть книга о пятистах страницах. Если найдётся хоть одна фраза или только одна мысль, близкие по ощущениям, — все 500 страниц станут твоими. А если нет — грустно, но автор не думал о читателе. Проблема автора.
    Что уж тогда говорить о, скажем, современной скороспелой шлягерной зоне?
    Приходит, в одно ухо входит, незаметно из другого выходит и растворяется в небытие, как будто и не было.
    Иногда задерживается на несколько мгновений. Кому-то близко начало, кому-то конец. Задело?! Не важно, что начало и конец не гармонируют универсально для всех. Каждый нашёл свою вибрацию — это уже успех.
    Собственно, в чём цель искусства в чистом виде?
    Настроиться на вибрацию читателя-созерцателя-слушателя и передать ему свою мысль.
    И всё.
    Нет, не всё. Это при условии, что мысль есть.
    Теперь всё.
  {% endfilter %}
{% endblock %}
