{% extends template %}

{% set title = "Напишу-ка я роман…" %}
{% set pubdate = "25.12.2011" %}
{% set next = "ourbooks.el/intelligent-1" %}

{% block content %}
  {% filter prose %}
    Все пишут. Стихи, прозу и непонятно что.
    В основном — непонятно что. А главное — о чём?
    Вы скажете: как это ни о чём, когда там и про любовь, и про ужасы всякие с погонями? Интересно!
    Про любовь… да ужасы с погонями…
    И мне не слабо! Напишу-ка я роман!
    А что? Не сложно!
    Главное, чтобы много.
    Почему не стихи? Можно и стихи, в принципе.
    Четыре строки загадок. Пусть думают, что я что-то хотел сказать.
    Главное, чтобы рифма была.
    Но стихи не роман. Роман можно огромный накатать.
    Пусть читатель разбирается, читая, пока я по ходу дела события развиваю.
    Так и до сериала дойду серий на двести по моему роману.
    Итак, начинаю писать роман.
    Набросаю сперва планчик, пока у меня опыт не появился. Всё же первый роман в жизни, хоть и сразу успешным обещает быть.
    Любовь — четыре женщины и четыре мужчины. Итого шестнадцать любовных переживаний. Маловато для двухсот серий. Но если запустить пару циклов по кругу, то это уже тридцать два.
    С любовью решили.
    Погоня. Чтобы гнались — нужно, чтобы убегал.
    Варианта два: убегает хороший, догоняет плохой. И наоборот.
    Можно ещё и третий, мой авторский: хорошего преследует тоже хороший, но по ошибке. В конце это раскрывается, все дружат и счастливы.
    Классно я придумал!
    Теперь — причина погони. Ясно, что любовь или деньги. Может быть, и то и другое. В машине полный багажник денег, а в салоне любимая женщина, связанная по рукам и ногам. Женщина может быть и в багажнике тоже.
    Она, которая связанная, приехала из провинции покорять столицу.
    Ей делают по ошибке пластическую операцию, и она становится владелицей крупного холдинга.
    За погоней с вертолёта наблюдает её незаконнорожденный сын. Он не знает, что в багажнике едет его мама с новым лицом. Он думает, что это конкурентка по бизнесу, и решает на ней жениться, чтобы потом её разорить и бросить.
    Остальные главные персонажи, трое мужчин и три женщины, в это время сидят на работе. Нет, только двое мужчин и одна женщина на работе.
    Оставшийся мужчина — следователь. Он на работе не сидит. Только в машине или в кафе.
    Осталось разобраться с парочкой женщин. Одна — домохозяйка. Потом она найдёт себя, тоже сделает пластическую операцию и выйдет замуж за следователя. Но это в сто девяностой серии.
    Последняя дама — коварная интриганка и обольстительница. В последней серии поймёт свои ошибки и уйдёт в монастырь.
    Ну, в принципе, сюжет готов. Осталось только поподробней расписать, поприукрасить всякими описаниями типа: что ели, что пили и курили, во что были одеты.
    Попью кофейку, набросаю на первых десяток серий и пошлю на студию.
    Пусть снимают.
    Скоро на экранах и в книжных магазинах.
    Так что ждите…
  {% endfilter %}
{% endblock %}
