{% extends template %}

{% set title = "Остров Санта Виноватых" %}
{% set pubdate = "25.12.2011" %}

{% block content %}
  {% filter prose %}
    Где-то далеко-далеко, за синими морями и океанами, за высокими горами и зелёными долинами, жёлтыми знойными пустынями и ещё одним морем находится океан, в середине которого расположился маленький остров, а скорее, островок.
    Зелёный рай с пресным озером посередине.
    Каким-то совершенно непонятным образом на это островок попадают люди.
    Никто и никогда не видел ни причаливающих кораблей или лодок, ни самолётов в небе.
    Впрочем, эти же Никто также и Никогда не задумывались о том, как они попали на этот остров. Попали — и всё тут. Знали, почему. И ладно.
    Награда за повышенную совестливость. Потому что чувствовали себя виноватыми когда-то. Тяжёлое чувство. Но «награда нашла своего героя» — и теперь они Здесь.
    Посему и остров назвали — Санта Виноватых.
    Почему Санта? Представьте себе название — «остров Виноватых». Не звучит. Напоминает что-то каторжное. А Санта Виноватых — совсем другое дело.
    На Санте нет забот пропитания, как и жилищно-бытовых проблем.
    Разнообразные и многочисленные плодовые деревья щедро кормят островитян.
    С жильём нет проблем, так как в нём нет нужды. А крыша над головой из пальмовых листьев есть у каждого. Бытовых проблем нет по причине отсутствия быта как такового и какой-либо необходимости в нём.
    Целыми днями островитяне слоняются по острову. Впрочем, почему слоняются?! Прогуливаются.
    Купаются в океане и озере. Нежатся на белоснежных пляжах. Всегда сытые и беззаботные.
    О такой жизни можно только мечтать. Нет забот и печалей. Никто никому ничего не должен. Нечего делить. Не перед кем чувствовать себя виноватым.
    Отдых для уставшей совести.
    И всё же среди фланирующей толпы превалируют виновато понурые фигуры.
    От себя не убежишь…
  {% endfilter %}
{% endblock %}
