{% extends template %}

{% set title = "Овощная база" %}
{% set pubdate = "25.12.2011" %}

{% block content %}
  {% filter prose %}
    В период развитого социализма, на пороге коммунизма, настойчиво стучавшегося в дверь периода, который сегодня получил «погоняло» Застойный, весь советский народ с ИТР во главе открывал дверь в светлое будущее на овощных базах.
    Не минула эта честь и меня.
    Действительно, как тут построишь светлое будущее на рабочем месте, если в это время кучи капусты и картошки одиноко гниют на овощных базах?!
    Ответ прост: никак.
    Оторвавшись от написания программ для гениального монстра, который назывался тогда простым словом ЭВМ, мы, работники ВЦ, объединились в едином порыве решить картофельно-капустную проблему в стране.
    Наш союз обречённых на светлое будущее скреплялся скидыванием по рублю, чтобы после творческого процесса отделения гнилых овощей от очень гнилых пообщаться и закрепить радость настоящего труда на лавочке близлежащего жилого района. И не потому, что так уж хотелось. Но традиции — часть культуры…
    На подходе к овощному храму, ещё не обозрев всего его величия, мы уже не сомневались в том, что не сбились с пути.
    Говорят, что «язык до Киева доведёт», а в нашем случае роль языка выполнял нос, даже совершенно забитый насморком.
    При входе в ворота нас встречали жрецы и хранители храма, находившиеся, как правило, уже с утра в состоянии эйфории, близкой к религиозному экстазу.
    Нужно отметить, что жрицы были настроены более прозаически.
    Заняв место у алтаря, мы довольно быстро из одной кучи строили две, почти одинаково вонючие. Это уже для тех, кто придёт после нас. Нетрудно было прикинуть, что «кучеобразование» подчинялось законам геометрической прогрессии и естественного биологического распада.
    Жрецы в это время уже не появлялись. Видимо, экстаз окутывал их так плотно, что уже и не двинуться.
    Жрицы иногда вяло фланировали, равнодушно косясь на энтузиастов овощного дела.
    Лавочка поначалу казалась довольно гостеприимной, потом — просто родной.
    Наутро при воспоминаниях о ней ничего кроме «Никогда больше!» в голову не приходило.
  {% endfilter %}

  {% filter prose %}
    Недавно я увидел по телевизору знакомое лицо: министр давал интервью.
    Знакомое лицо — не потому, что министр, а потому, что мы с ним вместе строили светлое будущее на отдельно взятой овощной базе.
    Нашёл способ с ним связаться.
    Спрашиваю:
    — А помнишь?.. Как дела?..
    — Да в принципе ничего не изменилось, кроме того, что не езжу на овощную базу.
    А что на неё ездить, если мы уже и так в Светлом Будущем?!
  {% endfilter %}
{% endblock %}
