{% extends template %}

{% set parentTitle = "Неоконченная книга для самостоятельной работы" %}
{% set title = "Предисловие" %}
{% set pubdate = "25.12.2011" %}
{% set prev = "ourbooks.el/prose-5" %}

{% block content %}
  {% filter prose %}
    Как принято начинать фундаментальные труды, чтобы заинтересовать и заинтриговать читателя, дабы он не бросил чтиво на первой странице?
    Не пытаться понравиться и не стараться угодить таким разноречивым нравам, именно разноречивым, несмотря на то, что пишу на одном языке.
    Ещё не наскучило?
    Обещаю, что не буду хитро выворачивать, лицемерить, приукрашивать и льстить.
    Впрочем, каждый найдёт здесь уголок для себя.
    Если не найдёт — то зачем я буду всё это затевать?
    Писать, издавать, переживать… Ведь одними переживаниями здесь не обойтись.
    А деньги? Грязь, конечно. Но как без них в этом нашем сегодняшнем мире?
    Если вы думаете, что в этой книге нам удастся обойти эту тему стороной, то таки да, но посмотрев в оглавление и проскочив неприятные темы.
    Почему?
    Хочу, чтобы вы продолжали читать. Хочу, чтобы каждый нашёл кусочек себя в этой книге. Знаете что? Хочу, чтобы эта книга лежала на столе в каждом доме.
    Несмотря на то, что в интернете можно найти сегодня всё.
    И бесплатно. И в количествах необъемных. И всё же… Что может заменить книгу?!
    Начнём?
    Вы думаете, я знаю, о чём буду писать?
    Даже не надейтесь! Мы будем писать эту книгу вместе, а потом каждый допишет её самостоятельно. Я ведь только беру на себя функцию писаря, а авторы мы все. Вместе. Кто начинает? Ладно, я. На правах писаря.
  {% endfilter %}
{% endblock %}
