{% extends template %}

{% set title = "Опасный сервис" %}
{% set pubdate = "25.12.2011" %}

{% block content %}
  {% filter prose %}
    В конце 90-х, когда молодой, ещё с белозубой улыбкой капитализм был желанным гостем, обещавшим Светлое и Безоблачное будущее всем и вся, я оказался в городе Северных Ворот.
    Прилетев из Санкт-Петербурга, который проще было называть Питером, а привычней — Ленинградом, я ступил почти на Северный Полюс.
    Встречающие сразу проинструктировали, что в условиях близости к Северному Полюсу уже не работают основные правила жизни средней полосы.
    Например, «водка без пива — деньги на ветер» — не совсем верно. А вот то, что даже съеденный апельсин, не запитый водкой, просто бесполезен, архиверно.
    Мол, такова уж деривация в этом районе — витамины без водки перестают быть витаминами.
    Когда-то изучал артиллерийское дело и знал, что говорят о влиянии вращения земли на этой широте.
    По всему было видно, что мужчины этого города очень следили за своим здоровьем и количеством потребляемых витаминов.
    Очаровательные красавицы волокли своих рыцарей по улицам города, периодически усаживаясь передохнуть, а рыцари покорно лежали у их ног не в силах пошевелить членами от витаминного удара.
    Обсуждение с коллегами перспектив развития бизнеса в условиях острой конкуренции, борьбы за клиентов и роли рекламы привели запасы продуктов и витаминов к истощению.
    Спускаюсь в магазин, расположившийся на первом этаже. Сервис! Удобно!
    — Двести грамм сыра, пожалуйста!
    Продавщица, кровь с молоком, с огромным ножом в руке, бросает на прилавок кусок сыра.
    — Девушка! Будьте добры порезать…
    Продолжительное напряжённое молчание, сопровождаемое сверканием молний из глаз, от которых все мухи попадали замертво, глаз, выражающих презрение, удивление, гнев и опасение, что перед ней стоит душевнобольной, прервалось фразой:
    — Вам надо, вы и режьте!.. — сопровождаемой швырянием ножа на прилавок в мою сторону. Я ловко увернулся.
    И порезал… Сыр.
    Вернулся к коллегам, и мы продолжили обсуждение нюансов ведения бизнеса в условиях острой конкуренции.
  {% endfilter %}
{% endblock %}
