{% extends template %}

{% set title = "Интеллигент на курорте" %}
{% set pubdate = "28.12.2011" %}

{% block content %}
  {% filter prose %}
    Я заграницей ещё не бывал. Так уж сложилось. Застой, перестройка. Сейчас другое дело — капитализм. Мы теперь, как все. Утром деньги — вечером стулья, но деньги вперёд.
    Лечу в Египет. Волнуюсь, конечно. А что вы думаете, как там у них? Как у нас или не так как-то?
    Всё, приземлился. Да, Запад! В самолёте давали соки — пей сколько хочешь. Я выпил три стакана томатного, пять — минералки с газом и два — яблочного. Больше не мог. Вы же меня понимаете, я же не резиновый!..
    У нас группа хорошая. Мы все, мухосранские, вместе. Нужно помогать друг другу на чужбине, хоть и капитализм на дворе.
    Я много читал, как дурят нашего брата… Не передать! Шляпу купил, деньги на голову положил, а сверху шляпу надел. Шиш найдут. Клава между грудей деньги засунула. Там такая грудь, что слон потеряется.
    Гостиница. Ни хрена себе! Все по-русски говорят. А я думал, в английском попрактикуюсь… У меня в пятом классе была твёрдая тройка!
    Подхожу к стойке регистрации и так легко, смотря в глаза иностранцу, говорю: «Май мазер из нот мaй фазер!» А как же! Капитализм! Языками владеть нужно!
    Смотрю, глаза у иностранца за конторкой округлились и побелели. Видно, не знает английского и поражён, что мы так легко. Ладно. «Салями!» — говорю. Он наклонил голову и закивал. Смотрю, вроде слёзы из глаз, икает и головой бьётся об стойку. Вот ведь растрогался… Это я с ним по-арабски поздоровался; если языками не владеете, не знаете.
    Пришёл в номер. Запад! Что ещё сказать? Кровать, тумбочка, столик у стенки. И ещё ящик с ключом. Открываю… Мать честная! Всё есть, только в маленьких бутылочках. Я хоть сока в самолёте напился, но приналёг. Смёл почти всё. Халява. Капитализм. Уплочено.
    В столовке у них — закачаешься! Бери что хочешь и сколько хочешь. Короче, знай наших! Мы с Клавой так долбанули по их бюджету, что долго помнить будут. Клава аж захрюкала от возбуждения, когда четвёртый раз сделала заход с тарелкой. Ясен пень, ей своё природное богатство кормить надо!
    На море тоже здорово, но не так, как в столовке. Клава на море не хрюкала от возбуждения. Только немного от восторга.
    Я поплыл в шляпе, а деньги на голове. Чуть не захлебнулся, но шляпу не снял. Попробуйте вы поплавать в шляпе с деньгами на голове!
    Так дни и пролетели. День отъезда… Отдохнули — класс! Этот, у стойки, который английского не знает, суёт мне бумажку. Смотрю, телефон, что ли, мне свой даёт? Больно цифр много. Спросил одного: «Тебе тоже телефончик дали?» Тот посмотрел и говорит: «Это счёт за мини-бар».
    Упал я на пол и уже ничего не помню. Ни как Галя визжала, ни как тот, что английского не знает, полицию вызывал…
    Короче, сдалась нам эта заграница! Капиталисты проклятые! И аллергия у меня теперь на соки и минералку.
  {% endfilter %}
{% endblock %}
