{% extends template %}

{% set title = "Каналы и Мосты" %}
{% set pubdate = "28.12.2011" %}

{% block content %}
  {% filter prose %}
    Я сижу в кафе «Пироговый Двор Санкт-Петербурга» на канале Грибоедова. Жду, когда официантка с условным именем Маша, но не с Машиным лицом, принесёт заказанную уху по-питерски и пироги с судаком.
    За соседним столиком щебечет по телефону студентка. Объясняет своей подруге азы статистики: «…Понимаешь, в статистике два умножить на три — не шесть… Ну, в общем, там всё не так… А на социологию не пойду. Там лектор каждый день с бодуна…»
    Ещё через пару столиков — тихое переругивание за право обладания вожделенным стулом. Улавливаю краем уха разговор, видимо, стоматологов о чистке зубных каналов и стоимости протезирования мостов.
    Пирогов с ухой всё ещё нет…
    Я прошёл километры по улицам этого дивного города.
    Каждый дом, каждый камень — история и судьба. Столько хрестоматийных имён на стенных мемориальных досках!.. Эти люди ходили по тем же набережным, по тем же улицам и мостам. Кипели страстями, испытывали творческие муки и эйфорию озарения.
    За окном открывается дивный вид на Казанский Собор и Канал Грибоедова.
    Ухи всё нет…
    Закрываю глаза, и тёплая волна обволакивает меня, начиная с плеч, через грудь и живот до бёдер.
    Вижу тот же город, те же улицы, мосты и каналы с их изысканными набережными, но свет… Всё как будто озарено столбами мягкого свечения, уходящего в невидимую заоблачную высь. Огромные мосты, подобные радуге, причудливо переплетают эти столбы и уходят далеко за горизонт в другие Города Каналов и Мостов.
    Я знаю, что это. Ничего не исчезает. Прошлое, настоящее и будущее — лишь модель, в которой мы привыкли жить. Светящиеся столбы и мосты — это каналы озарений и связь между озарёнными.
    Интересно, лет через 100 будет ли освещение этого города ярче?
    — Пожалуйста, ваша уха по-питерски и пироги с судаком…
  {% endfilter %}
{% endblock %}
