{% extends template %}

{% set title = "Игра слов" %}
{% set pubdate = "28.12.2011" %}

{% block content %}
  {% filter prose %}
    Русский язык непрост. Даже для его носителя. Так принято называть тех, у кого он родной и зачастую единственный.
    Вот, например, козёл — животное. И, извините, то же самое слово — но в смысле определения мужчины. Что общего? Иногда рога разве что. Шутка, как вы понимаете.
    Но много и более сложных слов, принесённых из других языков. Заимствованных. Эгоизм и Эго, например.
    Интересно, а Эго — это сокращение от Эгоизм? Не получается. Нет, видимо, не зря -изм прибавили.
    Я знаю, что Эгоизм — это когда себе всё, а другим кукиш с маслом! И радуешься себе спокойно в тряпочку.
    А Эго? Пошёл в библиотеку, начал рыться в книжках. Рылся, рылся… Нашёл…
    Мать честная!
    Эго — это когда другим ничего, а себе ещё меньше…
  {% endfilter %}
{% endblock %}
