{% extends template %}

{% set title = "Бюстгальтер" %}
{% set pubdate = "30.12.2011" %}

{% block content %}
  <h2 class="art__subtitle">Она</h2>
  {% filter prose %}
    Выбор бюстгальтера в магазине у меня занимает каких-то пару часов. Не больше.
    Мне нужен удобный, чтобы красиво грудь подчёркивал, но не вульгарный.
    Моя грудь в бюстгальтере должна говорить:
    — А вот и я! Я пришла украсить этот мир…
    Он ничего не понимает. Сидит с кислой рожей. Я же и для него стараюсь. Моя грудь и его мир украсит.
    Мужчины…
  {% endfilter %}

  <h2 class="art__subtitle">Он</h2>
  {% filter prose %}
    Не понимаю, неужели так сложно выбрать лифчик?
    Главное, чтобы грудь не скрывал и был позаманчивей, как на картинках.
    Единственное, что меня примиряет с ожиданием, так это то, что иногда можно в соседние кабинки заглянуть. Прикольно…
    А моя уже всё намеряет по второму кругу. Взяла да пошла!
    Женщины…
  {% endfilter %}
{% endblock %}
