{% extends template %}

{% set title = "Жених" %}
{% set pubdate = "30.12.2011" %}

{% block content %}
  <h2 class="art__subtitle">Он</h2>
  {% filter prose %}
    Что это за горилла с головой микроцефала?
    Слова сказать не может. Видно, дебил.
    Рюмку даже не пригубил. Больной или закодированный.
    И на мои анекдоты даже не улыбнётся. Точно, дебил. Не мои же анекдоты дебильные!
  {% endfilter %}

  <h2 class="art__subtitle">Она</h2>
  {% filter prose %}
    Чудный мальчик. Какая фигура! Атлет.
    Аккуратненькая головка только подчёркивает ширину плеч.
    Умница! Знает, что молчание — золото!
    Не пьёт. Значит, наследственность здоровая.
    А главное — прекрасное чувство юмора. Ни разу не улыбнулся анекдотам моего домашнего Дебила.
  {% endfilter %}
{% endblock %}
