{% extends template %}

{% set title = "Приготовление пищи" %}
{% set pubdate = "30.12.2011" %}
{% set next = "ourbooks.el/margin-1" %}

{% block content %}
  <h2 class="art__subtitle">Он</h2>
  {% filter prose %}
    Любит готовить. Хотя делает это не часто. Но иногда балует семью.
    Всё спорится в руках. Глаза горят.
    Получается — пальчики оближешь.
    Вкусно! Пусть она гордится им и хоть иногда вкусно поест.
  {% endfilter %}

  <h2 class="art__subtitle">Она</h2>
  {% filter prose %}
    Он опять всё перепачкал, перемазал, перепортил.
    Суп убежал. Даже не суп, а вода из-под картошки.
    Ведь говорила: крышкой не накрывать! Ведь говорила!
    Ну почему нужно использовать все тарелки, все кастрюли и все ложки одновременно?
    Ради того, чтобы сварить картошку и пожарить яичницу…
  {% endfilter %}
{% endblock %}
