{% extends template %}

{% set title = "Невеста сына" %}
{% set pubdate = "30.12.2011" %}

{% block content %}
  <h2 class="art__subtitle">Он</h2>
  {% filter prose %}
    Симпатичная девчонка. Молодец сын. Весь в меня!
    Я, конечно, в его возрасте был ещё младенцем неопытным в этих делах.
    А он уже матёрый. Ух, какая барышня!
    Девчонка симпатичная, как все невесты. Вот что с ней будет после свадьбы?
    Вдруг перестанет причёсываться и следить за собой? Будет следить только за моим сыном.
    Может, не спешить ему? Куда спешить? Свой срок успеет отсидеть.
    Бедный мальчик, подумай…
  {% endfilter %}

  <h2 class="art__subtitle">Она</h2>
  {% filter prose %}
    Боже!
    Мой мальчик, такой наивный и невинный. Жениться! На этой Женщине?!
    Можно сказать, Тётке!
    И для этого я его растила?
    Нет, она, конечно, не уродина. Внешне. Но внутри-то хищница.
    Моего цыплёнка хочет утащить из гнезда.
    Моего наивного и невинного малыша…
  {% endfilter %}
{% endblock %}
