{% extends template %}

{% set title = "Политика" %}
{% set pubdate = "30.12.2011" %}

{% block content %}
  <h2 class="art__subtitle">Он</h2>
  {% filter prose %}
    Я политику не люблю и политикой не живу.
    Но иногда нужно посмотреть на то, что нас окружает и окружает. Подготовиться.
    Смотреть можно только по телевизору. Как по-другому?
    Разные группировки и партии борятся за власть через умы зрителей.
    Смотришь на «поединки» политиканов и диву даёшься — почему мы ещё живём?
    А она не интересуется. Говорит, что они же говорят одно и тоже. Как ты только что-то разбираешь в этом гуле?
    Раньше всё переключала на сериал, а сейчас терпит. Телевизоров у нас несколько.
    Говорит, что уйдёт в другую комнату. Но это означает: «Шёл бы ты в другую комнату сам!»
    Женщины…
  {% endfilter %}

  <h2 class="art__subtitle">Она</h2>
  {% filter prose %}
    Он — просто идиот. Не полный, конечно, но всё же.
    Впялится в программу с такими же придурками, как он сам.
    Те-то хоть деньги таким образом зарабатывают, а он просто время тратит.
    И, главное, понять ничего невозможно. Только крики. Когда особенно сильно кричат, даже немножко интересно. На сериал похоже. А так… Скукота.
    Ну иди себе в другую комнату и смотри на этих уродов, если времени не жалко. Нет, торчит здесь.
    Мужчины…
  {% endfilter %}
{% endblock %}
