{% extends template %}

{% set title = "Макияж" %}
{% set pubdate = "30.12.2011" %}

{% block content %}
  <h2 class="art__subtitle">Она</h2>
  {% filter prose %}
    Пока не приведу лицо в порядок, из комнаты не выйду.
    Я без макияжа чувствую себя голой. Но не обнажённой на шёлковых простынях…
    Крем-пудра. Заметен, незаметный, старит, молодит. Или мусс? Вот!
    Тени. Золотистые, персиковые, синие, черные… Всё не то. Ага, наконец!
    Так. Помада… Эту? Нет. Слишком блёклая. Эта слишком яркая. Тусклая, красная, бледная, вульгарная… О, то, что надо! Хотя нет!
    Боже! Всё не то!
    Так. Крем-пудра…
  {% endfilter %}

  <h2 class="art__subtitle">Он</h2>
  {% filter prose %}
    Я всё время в напряжении. Вдруг она постриглась или волосы покрасила… А я не заметил. Она рассердится.
    Я ведь с линейкой не хожу всё время длину волос замерять. А цвет? То был белый-белый, а стал очень белый. Почувствуйте разницу.
    Если, конечно, была копна волос, а стал ёжик — тут сразу видно. Контрастные цвета тоже можно заметить. Была брюнетка, стала блондинка.
    А уж косметика… Губы должны быть ярко-красными, ногти очень длинными и тоже красными, глаза подведены до ушей. Вот эта простая красота мне понятна. Быстро, ярко, броско.
  {% endfilter %}
{% endblock %}
