{% extends template %}

{% set title = "Носки" %}
{% set pubdate = "30.12.2011" %}

{% block content %}
  <h2 class="art__subtitle">Он</h2>
  {% filter prose %}
    Вот женщины… Может, только моя такая примитивная?
    И что она меня с этими носками достаёт?
    Ведь гораздо удобнее, чтобы они стояли рядом с ботинками. Впрыгнул в носки — и сразу в ботинки. И искать не надо. Всё аккуратно и сконцентрированно.
    А она: «Ты неаккуратный!» Кто? Я?!
    Никакой логики!
    Женщины…
  {% endfilter %}

  <h2 class="art__subtitle">Она</h2>
  {% filter prose %}
    Сил моих больше нет!
    Неужели так сложно поменять носки? Ну хотя бы раз в два дня! На каждый день я уже не рассчитываю.
    А этот разбросает их по квартире. Однажды даже в холодильнике нашла…
    Видно, ногой полку задвигал, а носок к полке и прилип. Этот даже не заметил.
    Мужчины…
  {% endfilter %}
{% endblock %}
