{% extends template %}

{% set title = "Весенний интеллигент" %}
{% set pubdate = "26.12.2011" %}
{% set next = "ourbooks.el/past-1" %}

{% block content %}
  {% filter prose %}
    Весна! Наконец-то!
    Боже, какие ручейки и проталинки! А солнце! Ласкает и нежит.
    Ноздри раздуваются, грудь вздымается. Хочется петь, любить и бесчинствовать в безумной тарантелле.
    Что это? Второе солнце зажглось?! Это Она… Да, это Она…
    Лёгкая, воздушная… Я ждал её всю жизнь, ну, может быть, не всю, а последние четыре месяца точно. После того, как от меня Клава ушла. Теперь понятно, что слава Богу, что ушла. О счастье!
    Так. Как начать? Начать, начать, начать… Что сказать?.. Думать… Думать!.. Не обидеть, не покоробить… не спугнуть, в конце концов.
    — Девушка! Извините, пожалуйста… Я так волнуюсь… Поверьте, у меня это в первый раз… Чтоб вот так, на улице…
    — Кароче, мущщина! 1000 — за час, 3000 — за ночь, 500 — в подъезде. Чё замер? Можно и в этом… А, ты ж сказал, что на улице. Лады, не боись, очкарик. Всё будет тип-топ, — сказала Она и прилепила вынутую изо рта жевательную резинку к стенке дома.
  {% endfilter %}
{% endblock %}
