{% extends template %}

{% set title = "Интеллигент на природе" %}
{% set pubdate = "26.12.2011" %}

{% block content %}
  {% filter prose %}
    Говорят, что Природа — мать наша… Сослуживцы сагитировали меня оторваться от любимого занятия — разглядывания на досуге коллекции очень редких комаров, которую начал собирать ещё мой дедушка.
    Ну, природа так природа. Надеюсь, что это испытание закончится быстро. В конце концов, нужно поддерживать социальные контакты.
    Вот мы и приехали. Лес, озеро… Тоскливое зрелище, доложу я вам. Сидел бы сейчас у настольной лампы и любовался бы на своих питомцев, глядящих на меня с застывшими нежными улыбками, которые для меня во сто крат милее улыбок этих жизнерадостных неотёсанных сослуживцев. Ишь ты! Не успели приехать, а Петров уже увивается возле Полосуевой… Так бы на работе извивался во время квартального отчёта… Так нет! На работе похож на комара из моей коллекции (прости меня, мой хороший, за сравнение!). А она тоже штучка! Нет, чтобы осадить холодным взглядом — туда же, шуры-муры. Гейша русопятая! Фу! Противно даже.
    Нет, определённо, тоска. Даже из автобуса выходить не хочу. И не выйду! Буду сидеть немым укором, может быть, станет стыдно и раньше вернёмся в город?!
    О, еду приготовили! Да ещё и на костре. Наверняка микробов полно. Спасибо, я не хочу! Да не уговаривайте меня, я сыт!
    Что-то бурчит в животе. Может, действительно выйти на пять минут и поесть чего-нибудь стерильного? Уломали… Ладно, голод — не тётка! Но в последний раз! Больше никаких поездок!
    Здрасьте! Спасибо, я только вот этого чуть-чуть… Не утружд…
    Что это! О, Боже Праведный! Какое количество комаров! Какая прелесть! И слепни… Да какие! Не ожидал! Господи, хорошо-то как!
    Какой вкусный шашлык! И Петров — такой джентльмен, и Полосуева — обаятельная женщина. И на меня так загадочно поглядывает…
    Нет, Природа — всё-таки Мать! Только сейчас я это понял.
  {% endfilter %}
{% endblock %}
