{% extends template %}

{% set title = "Осенний интеллигент" %}
{% set pubdate = "26.12.2011" %}
{% set prev = "ourbooks.el/book-13" %}

{% block content %}
  {% filter prose %}
    Он подошёл к окну. Серая мгла поздней осени окутала двор.
    «Нет, больше никогда!..» — подумал он.
    «Никогда!» — всё уверенней и отчётливей звучало в его мозгу.
    Уверенность переполняла его сердце перехлёстом тёплых волн крови.
    Всё! Начинаю новую жизнь! Прямо сейчас! Нет, не отговаривайте меня! Сейчас или никогда!
    В конце концов, я умён, ещё не стар, образован… Помню, в МГУ № 140 (московском городском училище) мой портрет висел на стене почёта среди передовиков по сбору макулатуры.
    Как я мог так бездарно растратить себя?! Себя! Потерять всё, что имел… А какие перспективы были! Всё коту под хвост…
    Растратить себя на эти мелкие, ничтожные делишки, жалкие переживания, страстишки…
    Нет! Никогда я больше не буду выносить мусор в дождь! Слышите?! Никогда!
  {% endfilter %}
{% endblock %}
