{% extends template %}

{% set title = "Интеллигент и настоящий мужик" %}
{% set pubdate = "26.12.2011" %}

{% block content %}
  {% filter prose %}
    У меня сломался на кухне кран. Жена испилила: ничего не можешь, только бумажки свои писать и умеешь.
    Вон у всех мужики, как мужики — что надо, то и сделают. Поучился бы у настоящих мужиков-то. Бездарность…
    И правда, бездарность… Пишу свои рассказики. Конечно, читают, и живём мы на это неплохо, но в остальном… Права Клава. Бездарность я.
    Нашёл в телефонной книге номер водопроводчика. Думаю: вот везёт же человеку — всё может. И с женой, верно, всё хорошо. Мужик ведь настоящий!
    — Алло! Здравствуйте! Будьте добры водопроводчика! Вы знаете, у меня…
    — Короче! — раздалось на другом конце провода.
    — Кран у меня.
    — Ещё короче!
    — Течёт…
    — Так бы сразу и говорил! А то мямлит чего-то!
    Вот это мужик! Конкретный какой! Повезло! Кажется, есть у кого поучиться. Клава будет рада.
    — Ща буду.
    — Спасибо Вам огромн…
    Звонок в дверь. О, Боже! Вот он, настоящий мужик. Лёгкий запах вчерашнего перегара, шатающаяся походка хозяина жизни.
    — Где?
    — Извините, что «где»?
    — Кран где, придурок!
    И как я сразу не догадался?! Бездарность я полная. Судорожно стараюсь запоминать всё, что настоящий мужик делает.
    — Иди воду перекрой!
    — Где?
    — В Караганде! Ни хрена не понимаешь… Держи, крути… Да не так крути… Ох, ихтеллигхенция… Пить есть?
    — Вам воды или чаю?
    — Ты шо, не видишь, шо душа горит? Совсем люди озверели! Стопарь налей!
    — Вы коньяк будете?
    — Шо, ничего лучшее нету? «Ежедневку» не держишь? Придурок! — в сторону. — Ладно, давай, но с огурцом солёным.
    Пока настоящий мужик поправлял здоровье, я открутил кран, потом каким-то чудом прикрутил новый. Открыл… Вода течёт!
    — Ну всё, деньги давай, и я пошёл.
    — Конечно, конечно. Сейчас! Спасибо Вам огромное!
    Все-таки бездарность я полная! Спасибо, что мужики настоящие есть, а то пропали бы совсем такие, как я.
  {% endfilter %}
{% endblock %}
