{% extends template %}

{% set parentTitle = "Пазл для тех, кто на Краю" %}
{% set title = "На Краю" %}
{% set pubdate = "06.11.2011" %}
{% set prev = "ourbooks.el/identical-10" %}

{% block preface %}
  <p class="art__dedic">Посвящается Тебе, Читатель</p>
{% endblock %}

{% block content %}
  {% filter prose %}
    Сижу на краю пропасти, глаза закрыты. Сейчас упаду. Ноги тяжеленные, как будто к ним прикрепили свинцовые пластины водолазов.
    От выкуренных сигарет тошнит, но курить всё равно хочется. «Хочется» уже, правда, не подходит. Не хочется ничего, кроме того, чтобы то уже свершилось, а это прекратилось навсегда.
    Уже ничего не будет, да и не может быть. Всё, что было, пройдёт очень скоро.
    И слава Богу! Богу? Сам не прыгну. Говорят, нельзя. Может, он всё-таки разрешит?
    Столько ждал и страдал, а теперь, когда то так близко, не буду брать Греха. Кто знает, что там и как отнесутся к инициативе? Может быть, там ничего и нет. Всё равно страшно. Но и это давит, душит и толкает, нашёптывает: «Давай… Ну же…»
    Буду ждать, пока не соскользну.
  {% endfilter %}
{% endblock %}
