{% extends template %}

{% set parentTitle = "Пазл для тех, кто на Краю" %}
{% set title = "Лекарство для души" %}
{% set pubdate = "06.11.2011" %}

{% block content %}
  {% filter prose %}
    Жаль, что не выпил…
    Было бы не так страшно сидеть на краю. Соскользнул бы уже давно вниз — и привет.
    Рисуем картинку.
    Кишки на обозрение прохожим. Фарш из костей и мышц. Мозги в радиусе десяти метров вперемешку с выбитыми зубами.
    Так зачем я тогда следил за собой, зубы чистил дважды в день, причёсывался и прыскался одеколоном после бритья? Уж точно не для того, чтобы меня соскребли лопатой и засунули частями в кулёк на глазах у толпы зевак. Ещё, не приведи Господи, дети увидят. Не для того я их воспитывал, любил и переживал за них.
    Но это я на трезвую голову такие картинки рисую, а пьяному всё равно, как после смерти выглядеть.
    «Под этим делом» и жить не так страшно.
    Примеров в истории — масса. Многие Великие не гнушались. Потом творили. И остались в памяти. Не как любители горячительных напитков, конечно, а как Великие. И никто не помнит, что они были пьяницами. Ну, на то они и Великие. А мы — простые пьющие смертные.
    Поэтому от большинства из нас хорошей памяти не остаётся.
    Остаётся боль оставшимся.
    Что останется от меня? Боль или хорошая память? Скорее всего, ни того ни другого.
    Душа болит. Вот и лечат её, кто как может. И я лечил.
    Пятьдесят грамм коньяка для души — это как трость для денди. Придаёт шарм и кураж.
    Увеличенная доза для души — это уже костыли для больного тела. А потом — инвалидная коляска для безногих. И каталка для коматозных. Eсли больную душу сравнить с больным телом.
    Не лечит «огненная вода», но отводит какое-то время на существование. Какое-то время до ухода — естественного или добровольного.
    А душа болит у всех, но по-разному. Всё зависит от души. У некоторых она маленькая. Просто душонка. Тогда алкоголь её наполняет.
    Душа с большой буквы справляется сама.
    Люди с большой душой лечатся творчеством, стараются творить добро. По делам воздаётся. Причём сторицей.
    Но всё равно не всем удаётся душу вылечить добрыми делами. Много сил и времени на лечении чужих душ уходит, а своей всё равно алкоголем помогают. Парадокс. Вот и подзаряжаются. Это как завести машину кабелями, когда аккумулятор сел. Потом он и сам подзарядится.
    Правда, такой аккумулятор всё равно менять надо. Кабелями не обойтись.
    Сколько же надо на такую душу великую алкоголя!
    Хочется вылечить душу.
    Для этого нужно знать, что она, душа эта, есть. Чувствовать её.
    И Хотеть…
  {% endfilter %}
{% endblock %}
