{% extends template %}

{% set parentTitle = "Пазл для тех, кто на Краю" %}
{% set title = "Прыжок" %}
{% set pubdate = "06.11.2011" %}

{% block content %}
  {% filter prose %}
    Ещё не упал, но страха уже нет.
    Спокойствие. И какая-то странная радость.
    Надо было оказаться на краю, чтобы прекратить бег от себя и задуматься.
    Сейчас бы жить да жить с этим ощущением. Но…
    — Ты обедать будешь? Тебя ждать? Или поспишь ещё?
    — Буду, — машинально отвечаю и открываю глаза.
    Смотрю вниз.
    Тапочки. Собака свернулась калачиком.
    Я на диване. Правда, на самом краешке…
  {% endfilter %}
{% endblock %}
