{% extends template %}

{% set parentTitle = "Пазл для тех, кто на Краю" %}
{% set title = "Что ты хочешь?" %}
{% set pubdate = "06.11.2011" %}

{% block content %}
  {% filter prose %}
    Масса мыслей… Но не блуждающих, когда думаешь обо всём сразу и в то же время ни о чём.
    Почему и зачем эти картинки прошлой жизни? Как я в них попал?
    Что ты хочешь?
    Положа руку на сердце — чего я хотел? Про хочу уже не говорю. Скоро всё кончится. Какой смысл про хочу…
    Не знаю… Наверное, что-то хотел.
    Попробую методом «от противного».
    Огромную виллу с бассейном и прислугой? Нет. Наскучило бы через месяц одному.
    Быть финансовым магнатом и жить в самолётах, окружённый голливудскими красотками? Нет. Представил себя обрюзгшим и усталым. Какие уж тут красотки…
    А потеряй я капиталы — останусь один как перст.
    Быть мачо мускулистым в шёлковом халате и в феске, рассеяно поглядывающим на восторженных поклонниц? Нет, не то. Надоест. И если мышцы подряблеют…
    Учёным. Великим. Возможно, Лауреатом самых важных премий? В каких науках? Для этого нужны способности. А я не знаю, есть ли они у меня, а если есть, то к чему?
    Космонавтом — точно нет.
    Политиком? Грязная сфера. Не моё.
    Ну не знаю я!
    А хотел ли вообще?
    Ну, да! Щенка очень хотел и был счастлив, когда он у меня появился. Родная душа.
    Влюбился. Был счастлив.
    Когда дети родились, был счастлив.
    На даче, на природе, был счастлив.
    Почему же я оказался здесь, на краю?
    Ведь у меня есть и собака, и жена, и дети. Дача всегда ждёт…
    Может быть, я — не Такой? Может быть, что-то во мне не так?
    Скорей всего. Но что? Я так и не понял. И уже не пойму. Скоро всё кончится.
    Чего мне не хватало в жизни?
    Были проблемы.
    Какие? Не помню уже. Помню, что были. Помню, что казались неразрешимыми.
    Но какие конкретно, уже не помню. Как-то сами собой решились.
    Спина болит. Затекла…
    Читал, что боли в спине — результат страхов от неизвестности и тяжести ответственности. Всё от плохих мыслей.
    Неужели правда? А если правда, то как я этого раньше не понимал? Почему только сейчас, на краю… Если бы раньше… Hе сидел бы здесь, на краю бездны. Как теперь проверишь? Поздно…
    Итальянец, владелец забегаловки под названием «ресторан» на берегу лазурного океана в Сьерра Леоне?
    Может человек быть счастлив просто так?
    Что он говорил? Ах, да! У него было всё, и он устал от жизни, а сейчас в своей хижине на сваях он впервые счастлив. В свои семьдесят с гаком.
    Я помню его глаза. В них было желание жизни.
    Я понял.
    Хочу хотеть.
  {% endfilter %}
{% endblock %}
