{% extends template %}

{% set parentTitle = "Пазл для тех, кто на Краю" %}
{% set title = "Начало начал" %}
{% set pubdate = "06.11.2011" %}

{% block content %}
  {% filter prose %}
    Уж не знаю, как и сказать, «мне повезло» или «меня угораздило», но появился я на свет в полярную ночь при такой температуре на улице, что если я только произнесу эту цифру, у вас или застынет кровь, или вы сочтёте меня вруном. Лучше разумно промолчу.
    Но зато у меня всегда была возможность отшутиться: «Что вы от меня хотите?! Я ведь отмороженный!» — чем повергал собеседника в ступор.
    Любящие родители носились со мной как с писаной торбой, только закутанной в шубы, шарфы и прочие утепляющие предметы.
    Как и в каждом младенце, во мне искали сходство с близкими и дальними родственниками.
    Но я-то уже тогда точно знал, что самые мои близкие родственники — это северные олени и белые медведи. Я ведь не такой. Так что, если бы умел уже в нежном возрасте иронично улыбаться, утопил бы в море сарказма и пузырях иронии.
    Гуляя по тундре с родителями, где грибы растут величиной с маленькие деревья, а деревья — с большие грибы, я слушал рассказы местных жителей — ненцев — о жизни вообще и мироустройстве в частности. Так, от ненцев я узнал, что нганасанин — не человек, а от нганасан, что ненец — не человек. Я не очень вдавался в детали рассуждений, так как меня больше интересовали ездовые собаки и олени. В чуме, куда приглашали моих родителей-врачей местные жители, было очень интересно. Правда, со временем этот интерес улетучивался, как дым неизменной ненецкой трубки.
    В углу сидел очень «старый» человек лет сорока, непонятного пола, но с неизменной трубкой, которая чадила без перерыва и передавалась соседям по жилью. В центре чума на огне булькала мутная жижа в большом котле. Я никогда не мог определить, что это. Нечто среднее между супом и чаем.
    Пили и нганасане, и ненцы только спирт. Или чай с оленьим жиром.
    Мне это не мешало. Я не пил ни того, ни другого. А вот моим родителям приходилось туго. Не выпьешь — тоже не человек будешь, а выпьешь — кто лечить людей будет?
    Частенько среди мха после таяния снега мы находили выбеленные временем кости и черепа. Сначала меня это пугало, потом привык. Человек — не собака, привыкает ко всему.
    Это были черепа оленей и заключённых, погибших в тундре. Вперемежку… Всё это только укрепляло меня в мысли, что все мы, жители Севера — и люди и олени, — родня.
    Родители пользовались большим уважением, но, если бы больной умер, рисковали остаться наедине с телом в чуме посреди тундры. Племя снималось и уезжало на другую кочёвку. «Лишних» не брали.
    Трагедия с комедией бегали наперегонки по тундре везде и постоянно. Так, когда в пургу мою мать везли на упряжке к больному, возница давал инструкции: «Упадёшь (с упряжки) — лежи! Другой поедет — подбирать будет». Процесс был отлажен и укатан…
    Северные воспоминания обрываются неожиданно. Я заснул, а проснулся уже в столице первоклашкой.
    Именно с меня тогдашнего срисовали портрет вождя мирового пролетариата в детстве, а затем увековечили в металле октябрятской звёздочки. Эдакий беленький наивный ангелок с грустным взглядом пожившего ангела.
    Одним из сильнейших впечатлений того периода были многочисленные плакаты на улицах столицы, где мускулистый негр разрывал цепи колониализма.
    Я очень сочувствовал чернокожим братьям в их борьбе с «канализаторами» и, свято уверовав в фантастическую силу человека другого цвета, не пропускал на улице ни одного из плакатных Геркулесов. Завидев представителя борцов на улице, подбегал к нему и, замирая от восхищения, произносил: «Здравствуйте!»
    Чернокожие Геркулесы разного телосложения, часто тщедушного, сначала с испугом смотрели на городского сумасшедшего мальчика с внешностью ребёнка их колониальных хозяев, а потом привыкли и уже не дёргались от неожиданности. Улыбались.
    В стране победившего интернационализма таких мальчиков было почему-то немного. Даже несмотря на усиленную уличную пропаганду.
    Так и рос. Положительный во всех отношениях, но любимый и уважаемый всеми, включая дворовых хулиганов.
  {% endfilter %}
{% endblock %}
