{% extends template %}

{% set title = "Ей посвящается" %}
{% set pubdate = "27.12.2011" %}

{% block content %}
  {% filter prose %}
    Она боялась летать на самолётах панчески и безотчётно.
    Одна мысль о предстоящем полёте вызывала ужас, сравнимый разве что с сообщением в прессе, что завтра наступит конец света.
    И вот опять полёт…
    Уже в кресле, напоминающем электрический стул… Ещё и ремни эти… Не убежать, не зарыться с головой под одеяло, не закричать: «Мама!» В горле пересохло, ног не чувствует. Только за что это наказание? За что? Ну хоть было бы за что! Совершенно не за что!
    Уже в воздухе. Ревут моторы. Не так уж сильно и ревут, но раздражает и пугает всё.
    Стюард, молодой, симпатичный и улыбчивый парень, разносит напитки.
    Знает ли он то, что знаю я?! Такой молодой… Ещё и не пожил как следует… Жалко парня.
    Летим уже полчаса, а ещё ничего не произошло. Странно…
    В принципе, всё не так уж и скверно. Скверно, но не так уж…
    Немножко тишины не помешало бы. Заснуть, чтобы не ощутить ничего, когда наступит оно, то мгновение.
    — Стюард! Скажите, дорогой, а нельзя ли немножко тишины? Уж очень шум раздражает…
    — Нет проблем, мадам! Уважаемые дамы и господа! По просьбе одной из пассажирок, которой мешает шум двигателей, мы их выключаем… Пожелания пассажиров нашей компании — закон для нас!..
  {% endfilter %}
{% endblock %}
