{% extends template %}

{% set title = "Я много лет пиджак ношу…" %}
{% set pubdate = "27.12.2011" %}

{% block content %}
  {% filter prose %}
    Я помню из детства, как в нашем доме собирались гости.
    Родители, тогда ещё очень молодые, как и их друзья, сидели за столом, выпивали, разговаривали, спорили и всегда слушали песни бардов (тогда я ещё не знал этого слова). Окуджава, Высоцкий, Кукин… На массивном и ультрасовременном в то время катушечном магнитофоне «Мелодия». Я помню запах и тепло его ламп и неторопливое повествование, доносящееся из его динамиков. Такое приятное, не всегда понятное, но вошедшее в память на всю жизнь.
    «Я много лет пиджак ношу…» Запало в душу… Представлял себе такой уютный, сросшийся с телом пиджак, может быть, из вельвета — модного и статусного в то время…
    Сегодня я значительно старше своих родителей тех дней. За плечами много пиджаков из разных материалов, модных и не очень… Прошло много времени, а с ним и утекло воды…
    Интернет вместо посиделок и споров. Форумы и сайты… Виртуальная жизнь и виртуальная любовь.
    И вдруг… «Я много лет пиджак ношу… Перекроите всё иначе. Сулит мне новые удачи искусство кройки и шитья…»
    Я плачу, простите меня…
  {% endfilter %}
{% endblock %}
