{% extends template %}

{% set title = "Я с тобой" %}
{% set pubdate = "27.12.2011" %}

{% block content %}
  {% filter prose %}
    Ты сейчас в дороге. А я уже давно не сплю. Я буду с тобой весь твой полёт. Закажи мне 5 стаканов томатного и два яблочных, да и минералки не забудь…
    Не нужно бояться жизни. Она нам дана как процесс, как некие действия, которые нужно совершить. В них самих нет никакого смысла кроме того, что в процессе их совершения происходит наполнение невидимой, но гораздо более значительной части нашего Я. Оно больше, чем просто физическое тело. Наше Я наполняется удивительной и неведомой нам энергией, которая является и великим смыслом, и предназначением. Иначе нам не выполнить своей миссии на земле…
    Я с тобой!
    Эй! Подвинься-ка! Или садись на коленки! Пристегнули ремни… Летим!
    А я пока пойду прогуляю своё тело (маленькую часть моего Я) по лесным тропинкам.
    Я здесь и не здесь, я везде и нигде… Но я с тобой.
    Прилетишь — напиши…
  {% endfilter %}
{% endblock %}
