{% extends template %}

{% set title = "Сонная явь" %}
{% set titleDescr = "Миниатюра" %}
{% set pubdate = "15.12.2011" %}
{% set prev = "eva/poem" %}

{% block content %}
  {% filter prose %}
    Обычный день позади.
    День, безвозвратно ушедший в прошлое, ничем не примечательный, один из многих, из которых складываются годы, также безвозвратно ушедшие.
    Скоро пойду спать.
    Завтра будет день опять. Если повезёт. Может и не быть. Так бывает.
    Тогда говорят: ему (или ей) повезло — такой уход…
    Так что всё хорошо. Все варианты приемлемы.
    Скоро конец недели. Нужно сделать уборку. Генеральную. Ну, хотя бы косметическую.
    Закупить продукты, приготовить обед. Пусть не обед, а просто еду.
    Давно ничего не читал нового. Не хочется. Телевизора достаточно. Даже много.
    Семья. Интересное слово — семь я. Семь меня…
    Нас двое. Дети разъехались. Я пойду спать, а жена останется смотреть сериал.
    Никому это не мешает. Бывает и наоборот. Тоже никому не мешает. Гармония…
    Болит спина. И голова. Зубы не болят. Когда-то болели. А теперь протезы снимаю, чищу — и в чашку.
    Снотворное всегда на тумбочке рядом с водой. Обычный ритуал перед сном. Иначе и сна может не случиться. Спать не хочу, но хочу сна.
    Заболтался я тут. Все вы обо мне уже узнали. Ну, почти все.
    Спать… И видеть сны…
  {% endfilter %}

  {% filter prose %}
    …Я ещё не открыл глаза, а чувство радости уже заполняет каждую клеточку моего тела. За окном утренняя прохлада и молодой свет — яркий и свежий.
    Так бывает всегда, когда я просыпаюсь.
    Впереди день. Волнующий и важный.
    Сегодня я улетаю. На четыре дня. Но в эти четыре дня нужно вместить, впихнуть, втиснуть несколько лет метаний, восторга и сомнений своей души.
    Самолёт вечером. А презентация завтра утром. В этой изумительной европейской столице…
    Пора вставать. Легко… Вскакиваю, и я yже в душе. Наслаждение утреннего ритуала. Вода и освежает, и очищает.
    Всё готово. Нужно только успеть в тренажёрный зал. Всё же четыре дня без спорта.
    Завтра утром я увижу её. А потом три с половиной дня вместе. Покрутимся на презентации и удерём куда-нибудь. Не важно, куда…
    Гостиница в центре города. Перелёт и вечерняя прогулка по этому бесконечно близкому городу сказывается.
    Глаза слипаются. Завтра увижу её. Но как же я не люблю спать!
    Эти сны…
  {% endfilter %}

  {% filter prose %}
    …Как хорошо я поел! Вкусный был хорёк. Я умею его так разделывать, что он почти совсем не пахнет. Другие так не умеют.
    У меня самая красивая кожа в племени. Самая чёрная, как уголь из костра. И сам я самый сильный и красивый. Я живу в самой красивой и большой хижине и у меня три жены. Я возьму четвёртую.
    Жёны будут днём отгонять от меня мух, а ночью любить меня.
    У меня часто болит живот. Это потому, что я не люблю жарить мясо на костре. Я ем его сырым. Поэтому я такой красивый и умный. И у меня три жены, а скоро будет и четвёртая. А живот… За хижиной много места. Я туда хожу.
    Перед сном.
    Я люблю спать после ласк моих жён.
    Вот и луна на небе. Жёны!.. Сюда…
    Я забыл сказать, что у меня самые белые зубы в племени. А теперь спать…
  {% endfilter %}

  {% filter prose %}
    Вот только сны у меня не очень…
    Я там какой-то некрасивый, белый. И жена у меня только одна, и тоже белая. Фу…
  {% endfilter %}

  {% filter prose %}
    6:00.
    Ещё можно поспать полчаса. Ну, хотя бы полежать с закрытыми глазами.
    Рядом спит жена, насмотревшись сериалов, в чашке зубы…
    Всё, как всегда…
  {% endfilter %}

  {% filter prose %}
    Утро…
    Кажется, сегодня выходные. Точно! О, радость!
    Буду спать. И видеть сны… Такие приятные и не похожие на мою жизнь. Там будет Она. И я такой… такой…
    Всё! Скорее спать!..
  {% endfilter %}

  {% filter prose %}
    Слава Богу, утро! Эти сны… Как будто я негр и живу в Африке. Бррр. Завидую тем, кто сны не видит или не помнит.
    Утром, нет, скорее, к полудню, после презентации, я увижу её, чьё мнение о моей работе важнее официальных протоколов. Я слепо ей доверяю и никогда не пожалел об этом.
    Но что такое работа, когда у нас будет три с половиной дня вместе!
    Я стоял на трибуне и видел её в зале: глаза, сверкающие, восторженные и такие родные, придали мне куража.
    Сейчас завершу презентацию, причём блестяще, и только нас и видели.
    Три с половиной дня счастья. Ради этого стоит жить и ждать…
    Её рука в моей. Хочу прыгать до потолка от счастья.
    Едем, мчимся. Мы уже далеко ото всех.
    Вечер. Сидим на веранде и просто молчим. Слова неуместны.
    — Спать?! — смотрю я на неё.
    — Конечно! — отвечает её взгляд.
  {% endfilter %}

  {% filter prose %}
    Сон… Может быть, сегодня обойдусь без этого ночного чёрного кошмара…
    Так бы и спал всё время и видел сны. Как там всё счастливо!
    За окном осенняя мгла.
    Завтра на работу. Потом неделя до выходных.
    И что мне выходные?! Ну да, я ведь могу дольше видеть счастливые сны.
    А может быть… Может быть, сон — это сейчас, и я просто сплю?
    А настоящий я — тот, из сна (совсем запутался). Ну, тот, который с ней эти три с половиной дня?!..
  {% endfilter %}
{% endblock %}
