{% extends template %}

{% set title = "Хлопоты Небесные" %}
{% set titleDescr = "Рассказ" %}
{% set pubdate = "11.01.2012" %}

{% block preface %}
  {% filter ins %}
    {% filter short %}
      Говорят, что 21.12.2012 наступит Конец Света. К чему бы это?..
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  <h2 class="art__subtitle">Небесная Канцелярия</h2>
  {% filter prose %}
    В Небесной Канцелярии переполох.
    Он рвёт и мечет, и это вызывает ураганы, цунами и наводнения на Первом Этаже.
    В Канцелярии все ходят на цырлах… Ещё бы!
    Отправиться в Подвальное Помещение — невелика радость. Совсем наоборот…
    — Всех на ковёр! Всех, кроме Отдела Науки. Особенно хочу видеть Здесь и Сейчас Отдел Культуры и Отдел Морали! Вызвать Типичных Представителей!
    — Как, сразу всех? — робко спросила Орлеанская Дева.
    — Начните с Отдела Культуры, Русского Сектора! И личныe дела мне на стол!
    Стук в дверь…
    — Войдите!
    — Вызывали? — вразнобой спросили робко входящие.
    Трое — Бородатый Благообразный, Лысыватый Очкарик и Кудрявый Бакенбардист — втиснулись в Его комнату.
    — А, вы здесь, Сеятели Разумного, Доброго, Вечного? — мрачновато и с нескрываемым сарказмом спросил Он. — Вы знаете, почему получили распределение в Небесную Канцелярию, а не в Подвальные Помещения? Да потому, что Я, старый осёл, был уверен, что то, что вы посеяли, уже не истоптать. А что получилось?! Ерунда получилась! Видно, плохо сеяли и забыли удобрить и полить! Вот что, молодые люди. Слушайте сюда! Я вас, Бабель, правильно цитирую? Думаете, то, что на лошади скакали да шашкой мотали куда попало, вам в плюс пошло? Нет, мой дорогой. Я вас за «Одесские рассказы» сюда определил. А что получилось? Где вы — и где Одесса?! И вообще… Национальный вопрос! Какие у них, мать их, вопросы? Да ещё и ответы дают, кому не лень! На меня ссылаются, а ведь никакого представления обо мне… Темнота! Задача понятна, или вам разжевать?
    Лысыватый Очкарик, оказавшийся Бабелем, потупился, заёрзал на стуле, как будто у него вдруг вырос прыщ на одном месте, и выдохнул:
    — Понятно… Не надо разжёвывать…
    — А вы, Тургенев, — обратился он к Бородатому Благообразному. — Где ваша хвалёная тургеневская девушка или, по крайней мере, барышня? Всё запущено! По заграницам всё больше колесили. Придётся поработать на Родине! Просто ужас какой-то. Может быть, вас сразу в Подвальное Помещение, а сюда классика соцреализма вместо вас? Нет?! Так вот, милостивый государь, вы в своей биографии имеете пятно труса. Придётся вам исправить ошибочку! Об этом позже. Не буду повторяться! А вам, Пушкин, придётся привести себя в подобающий вид. Баки сбрить! Кудри состричь! И не делайте мне удивление на лице! С вами особый разговор, кутила и дуэлянт. Вы классиком там, на Первом этаже, числитесь, символом и гордостью национальной. Как бы в авторитете — на современном жаргоне. Придётся повкалывать и заняться посевом Доброго, Вечного и Прекрасного. Можете ведь, если хочете! Я, Бабель, правильно вас трактую?!
    Он нервно заходил из угла в угол.
    — Если бы случайно, я повторяю, совершенно случайно, не заглянул в последний Вековой Отчёт, так бы и думал, что «картина маслом»! Так у вас принято было говорить в Одессе, Бабель? Кстати, этот фильм немного меня порадовал. А вообще, хочется просто рвать и метать, рвать и метать!.. — Итак, зайдёте в Отдел Снабжения и получите свои Творческие Каналы. Их немного модернизировали, но они не хуже, чем были. Даже посильнее. Кроме того, в Отделе Новых Методик пройдёте курс адаптации к новым технологиям и понятиям. Придётся осваивать сети. Нет, Бабель, не рыболовные. Компьютерные. После этого спуститесь на Первый Этаж и начнёте исправлять свои недоделки. Даю вам месяц срока! Какой месяц?! Земной, то есть Первого Этажа, конечно! Через месяц — ко мне с отчётом о проделанной работе! Связь через Жанну. А вам, Орленанская Дева, — подобревшим голосом сказал Он, — я поручаю курировать этих деятелей. Всё! Всем вниз, на Первый Этаж!
  {% endfilter %}

  <h2 class="art__subtitle">Пушкин. Первая неделя на Первом Этаже</h2>
  {% filter prose %}
    «Ах, вновь я посетил! Кто бы мог подумать, что так повернётся колесо Фортуны… Если хочешь рассмешить Его… Воистину справедливая поговорка. Пойду-ка я домой».
    Кудряво стриженый, трёхдневно небритый, смуглый, с горящими глазами, мужчина до сорока подошёл ко входу дома на Мойке, 12. Даже родная мать не узнала бы в нём Пушкина. Но Он сказал сбрить баки и вообще не выделяться…
    «Однако… Перемены… Перестроили, похоже. Или я запамятовал? Ах, впрочем, какая разница! А ведь меня помнят. Кумир! В книжном на Невском моих книг изрядно! Прав был Он. Я классик, в авторитете. Так ведь и писал я: мол, памятник себе воздвиг… Да, ай да Пушкин, ай да сукин сын!»
    Путь мужчине перегородила… касса. Вспомнив уроки в Отделе Новых Методик, Александр не удивился, запустил руку в карман и, найдя там купюру, протянул её кассиру-женщине.
    — Паспорт какой? — спросила кассирша.
    — Извините?..
    — Иностранцам в два раза дороже. Платите, не задерживайте!
    Александр Сергеевич прошёлся по своему последнему дому, из которого он и попал в Небесную Канцелярию. Честно говоря, кроме своей посмертной маски ничего оригинального из той жизни в своём некогда доме, а ныне музее, и не увидел.
    Всё равно приятно! Помнят, знают, чтят. Талантище, одним словом. Национальный символ!
    Пушкин рысцой направился на служебную квартиру от Канцелярии. На душе — восторг!
    Творческий Канал работает. Да ещё как! Только успевай записывать шедевры.
    Да, что там его прежние произведения?! Вот сейчас произойдёт чудо!
    Такого литература ещё не знала!
    Дома Александр Сергеевич быстро записал несколько шедевров и послал их, согласно инструкциям, полученным в Отделе Новых Методик, по адресам издательств.
    Разумное, Доброе, Вечное было посеяно. Осталось подождать всходов в виде ответа редакции.
    — Представляю, какой шок они получат! Я и сам в восторге от того, что написал. Пойду пройдусь по улицам любимого города…
    Каналы… Мосты и мостики… Многое изменилось, но кое-что и осталось узнаваемым.
    «Какое удовольствие стоять на мостике и смотреть на медленное течение воды в канале! Муза просто не покидает. Вернуться домой, записать ещё несколько шедевров? Да, так и сделаю!»
    Размышления Пушкина нарушила фраза:
    — Чего это ты, Чучмек, Чурка, Чебурек, стоишь на моём мосту? Понаехали тут!
    Сергеевич оглянулся на голос и увидел перед собой молодого человека, вернее, двух молодых людей с сердитыми глазами и совершенно бритыми черепами.
    — Что, черно..опый, уставился?
    Фраза, судя по всему, была обращена к нему, Пушкину, так как на мостике больше никого не было. Да и последний эпитет развеял сомнения.
    От неожиданности Пушкин растерялся, в глазах помутилось…
    — Милостивый государь, да как вы смеете так…
    Дальше не помнил…
  {% endfilter %}

  {% filter prose %}
    …Хорошо, что в холодильнике квартиры от Канцелярии оказался лёд.
    Пушкин, прижимая холодный компресс к распухшему носу, включил компьютер.
    Ответ редакции:
    «Уважаемый автор! К сожалению… Мы специализируемся на высокохудожественной литературе… Желаем…»
    Ещё один:
    «Мы работаем только с известными авторами… Сожалеем…»
    — Что Он сказал? Связь через Жанну… Связываюсь… Но как же болит нос!
  {% endfilter %}

  <h2 class="art__subtitle">Тургенев. Первая неделя на Первом Этаже</h2>
  {% filter prose %}
    К группке молодых людей, оживлённо беседовавших, потягивая пиво из банок, подошёл пожилой бородатый, благообразного вида мужчина.
    — А что, молодые люди! Узнаёте ли вы меня?
    Молодые люди скосились на чудака. Один изрёк:
    — Дикуль, что ли? С тюбика мази…
    — Нет, Иван Сергеевич Тургенев! Великий русский писатель!
    — Ну и чо?
    — Вы читали мои книги? Например, «Отцы и Дети», «Муму», «Записки Охотника»?
    Молодые люди с интересом посмотрели на полубомжа-полупридурка.
    Одна девушка вдруг зaверещала:
    — Я знаю! «Записки Охотника» — это прикольный сериал про киллера!
    Её кавалер, чтобы не показаться совсем лохом, тоже вставил:
    — А я Му это, как его, читал. Там ещё про корову. Мутотень одна. А про родителей и детей ихних и читать не будем. Надоела эта занудиловка.
    Тургенев побледнел, сгорбился и побрёл на служебную квартиру от Небесной Канцелярии.
    — Не помнят… Вот так: во Франции прожил, а на родине не помнят. Как тут тургеневскую девушку воспитать, когда такое творится…
    «А собственно, что творится?
    Буду изучать жизнь сначала по телевизору. Пока по улице шёл, понабрался словечек и выражений. Не очень понял… Ничего, разберёмся!
    Удача.
    Программа про то, как правильно одеваться. Прямо по теме!
    Интересно! В кресле сидит, кажется, мужчина, но говорит забавно так, что и не поймёшь его пол. Всё же мужчина. Кажется…
    А это что за моль в очках? Похоже, из главных. Нет, на тургеневскую девушку и даже барышню не тянет. Переключим канал.
    А здесь что? Дискуссия. Интересно… Делят детей… Странно.
    А вот эта женщина красива и загадочна, как картина со многими слоями краски.
    Снимешь слой, а там совершенно другой сюжетец. О, так она ещё и писательница! Посмотрим, что написала… Много! Больше нас с Пушкиным!
    Как он там, дружище, кстати?
    Так. Как соблазнить любого мужчину… Как завоевать любого мужчину… И так далее.
    А что?! Близко к моей теме.
    Вообще, мне нравится на Первом Этаже! Переоденусь и начну сживаться с народом. А то Франция… Я же исконный!»
  {% endfilter %}

  <h2 class="art__subtitle">Бабель. Первая неделя на Первом Этаже</h2>
  {% filter prose %}
    Бабель сразу взял «быка за рога». Не зря же у Будённого служил.
    Он сказал, что надо изучать сеть, причём не рыболовную.
    Эта Его фраза запала в сердце старого бойца. Сказано — сделано. Исаак овладел всемирной паутиной, преодолев её сопротивление.
    А как же поймёшь иначе, что творится с идеями, за которые на лошади скакал до мозолей на заднице?..
    «Ой! Лучше бы я умер! — подумал Бабель после короткого знакомства с мнениями на форумах. — Ой! Что я говорю! Умер… А то я живой! Но я же не знал, что всю жизнь был жидомасоном, да ещё и кровопийцей! Я ж из нищей семьи. Меня и учиться не приняли из-за процентной нормы. Что там я уже пил? Ничего кроме водки и самогона.
    А это?! Вы только посмотрите! Они говорят, что царя Александра русских заставили убить еврейские банкиры! Мама дорогая! Какие еврейские банкиры в то жидоморское время? И вы мне объясните, что, русский народ уже без евреев даже своего царя убить не может?
    Это же какое унижение великого народа!
    Не могу! Буду звонить Жанне. Мне нужны консультации…»
  {% endfilter %}

  <h2 class="art__subtitle">Жанна, Дева Орлеанская</h2>
  {% filter prose %}
    Работа секретаршей в Небесной Канцелярии Жанне нравилась.
    Вокруг много интересных личностей, а главное, начальник — Он — добрый и не занудный.
    Правда, иногда любит пошутить так, что ноги леденеют.
    «Вы, Жанночка, не угорели, случайно?» — или: «А вам, милая барышня, не холодно, случайно? А то я могу и погреть…»
    От этих шуточек сначало мутило, потом привыкла. Он добрый…
    Жанна, ответственная за Сеятелей Разумного, Вечного, Доброго, которых отправили на Первый Этаж, пришла к Нему с отчётом.
    — Общалась с Сеятелями. У Пушкина разбит нос, Тургенев притих, а Бабель в шоке.
    — Конкретней можете? Что вы такая замороженная? — лукаво и с прищуром спросил Он.
    — Прошу командировку на Первый Этаж для выяснения обстоятельств на месте.
    — Добро, Жанночка. С Богом, то есть, со Мной, — поправился Он.
  {% endfilter %}

  <h2 class="art__subtitle">Жанна. На Первом Этаже</h2>
  {% filter prose %}
    — Александр! Как нос? Что вообще слышно?
    — Ах, Мадмуазель д’Арк! Пьяные, видимо, извозчики, избили меня. Низкие люди. Мне их даже на дуэль не вызвать. Не по чину! Но самое странное, что мои стихи… никому не нужны. Говорят, что не литература. Я был в редакциях. Мне показали книжки в мягких обложках, много — и одного автора, женщины, кажется. Спросили: «Так можете?» Я посмотрел. Нет, так не могу. Лучше в станционные смотрители пойду! Ещё один предложил стихи писать для рекламных роликов женского нижнего белья. Говорит, на большее пока не тяну…
    — Понимаю, Александр. Держитесь и дерзайте! Он с вами, то есть с нами. Я ему всё доложу. И берегите себя. Говорите по-французски. Так спокойней, а то думают, что вы из… ну, вы знаете откуда…
    — Иван Сергеевич! Что это с вами? Насмотрелись передач о моде? Что расскажете?
    — Милочка! Не помнят меня, не знают. Молодежь, я имею в виду. Думают, что «Муму» — это про корову. Представляете? Но я не сдаюсь. Читателя нужно узнать, войти в его шкуру. Вот и вхожу!
    Жанна с нескрываемым любопытством разглядывала Тургенева.
    Гобеленовый пиджак в красных петухах, кокетливая косыночка на шее, серьга в ухе и причёска в форме петушиного же гребня.
    — Передайте Ему, что я полон оптимизма.
    — Хорошо, передам. Будем на связи.
    — Бабель!
    — Ой, Жанночка! Вы себе даже не представляете! Что они себе там думают! Просмотрите, что пишут эти бандиты! Посмотрели? Это они пишут мне, борцу за Светлое Будущее, красному коннику! Если бы Иешуа только это почитал! Он бы заплакал. Вы же знаете, мы там, Наверху, часто собираемся. Сидим и вспоминаем — я за Одессу, Папа за Краков, а Иешуа за Иерусалим. И чтобы кто-то кого-то распял… Я вас умоляю! Ни Боже мой, вы же знаете! Эти биндюжники думают, что они знают что-то за Него. Это же смешно, Жанночка. Что они себе там думают?
    — Исаак! Я поговорю с Ним. Он этот вопрос решит. Не кисните. И не теряйтесь.
  {% endfilter %}

  <h2 class="art__subtitle">Жанна. На ковре у Него</h2>
  {% filter prose %}
    — Была, видела, разговаривала. Пушкин попал в разряд гастaрбайтеров. Может быть, будет писать стихи про трусы. С Тургеневым лучше. У него планы. А вот с Бабелем хуже. Его обвиняют в том, что он масон и Иешуа Вашего распял. Вы же понимаете…
    — Спасибо, понял! — грозно воскликнул Он. — Они будут решать, кто там кого распял?! И вообще, я Первый Этаж уже подтопил однажды. Они что, опять нарываются?! Опять хотят «каждой твари по паре»? Я им устрою! Ещё недавно на каждом углу орали, что Меня нет, а сегодня за Меня решать будут? Я им дал правила поведения в общежитии. Всего-то 613 пунктов. Никто не соблюдал. Сократил до десяти. И что?! Да ничего! Ровным счётом ничего! Топить буду! Как думаешь, Жанна? Топить или жечь?.. Ой, извини! У тебя это больное… Подождём ещё две-три недели. Не больше!
  {% endfilter %}

  <h2 class="art__subtitle">Пушкин. Текущий отчёт</h2>
  {% filter prose %}
    Разместился хорошо. Удобно. Спасибо!
    Разбили нос. Оказывается, что ещё легко отделался. Не думал, что здесь так не любят не таких, как все. В моё время в Лицее было иначе. Правда, было. Такая у меня судьба.
    Стихи мои не нравятся. Зато хорошо пошли рубаи в стиле Хайяма. Здесь многие балуются двух-четырёхстишиями. Считаются поэтами. Вот и я клепаю десяток в день для рекламного бюро. Рекламирую дамские трусики. Например:
  {% endfilter %}

  {% filter ins %}
    {% filter poem %}
      В чём смысла жизни кроется загадка?
      В трусах, конечно, фирмы «Ренегатка».
    {% endfilter %}
  {% endfilter %}

  {% filter prose %}
    А что?! Говорят, главное — чтобы «башли платили». Башли — это у них деньги так называются. И ещё говорят, что они не пахнут. Странные, однако, ассоциации.
    Так что сею… Что сею? Пока не понял, но Вам виднее.
    Пока всё.
  {% endfilter %}

  <h2 class="art__subtitle">Тургенев. Текущий отчёт</h2>
  {% filter prose %}
    Сначала я грустил. Но недолго. Ну не помнит меня молодёжь!
    Напишу-с что-нибудь эдакое! Может быть, песню. Я тут слышал одну про шоколадного зайца. Неплохо. Говорят, платят недурственно.
    Мне всё нравится. Особенно женщины.
    Должен отметить, что в городе много пчёл. Это говорит о хорошей экологической обстановке. Я сужу об этом по многочисленным укусам милых дам в верхнюю губу. Но никто не жалуется. Ах, эти русские женщины! Терпение и кротость!
    Настроен оптимистично.
    Пробую писать стихи в стиле рэп.
    Перерабатываю написанное ранее. Вот смотрите:
  {% endfilter %}

  {% filter ins %}
    {% filter poem %}
      Герасим с Муму утонул поутру.
      Не видно уж Геры, пропала Муму.
    {% endfilter %}
  {% endfilter %}

  {% filter prose("short") %}
    А вот переработка «Отцов и Детей». Начало такое:
  {% endfilter %}

  {% filter ins %}
    {% filter poem %}
      Мы ребята клёвые, мобильные,
      Нам не надо черепа сенильные.
    {% endfilter %}
  {% endfilter %}

  {% filter prose %}
    Черепa — это отцы. А ребята клёвые — это дети. Понимаю, понимаю… Но молодёжи нравится. Как здесь говорят: «Пипл хавает».
    Вы мной довольны?
    Я собой доволен.
  {% endfilter %}

  <h2 class="art__subtitle">Бабель. Текущий отчёт</h2>
  {% filter prose %}
    Вы уже всё знаете от Жанночки. Такая милая девочка!
    Я имею к Вам вопрос. Что такое масоны и с чем их едят?
    А то мне как-то неловко. Все знают, а я, будучи главным масоном, по их словам, таки понятия не имею.
    Вообще, я хочу назад. Не подскажете, когда это Сеяние закончится?
    Хочу сидеть со своими друзями — Папой Римским с Кракова, Вашим сыночком Иешуа с Иерусалима — и, как всегда, думать за всякие смешные разности. И хохотать!
    Я тут уже совсем не смеюсь.
    И я Вам скажу, что с каждым днём не смеюсь всё больше и больше. Уже часто думаю за Мишу Япончика, а за Вас — так всё время.
    Ваш навеки Исаак.
  {% endfilter %}

  <h2 class="art__subtitle">Он. У Себя</h2>
  {% filter prose %}
    Он неподвижно сидит в кресле. Взгляд упёрся в Никуда.
    На столе разбросаны отчёты Сеятелей.
    — Каждой твари по паре — уже было. Не помогло. Что ещё?!.. Думай, думай!.. — шепчет Он.
    — Есть! Все таки я — Он! — гордо восклицает Он.
    — Жанна! Пригласите Николу из отдела Науки. И продлите Сеятелям командировку до особого распоряжения. А нам с Николаем нужно пошептаться…
  {% endfilter %}

  <h2 class="art__subtitle">Бабель. Копает</h2>
  {% filter prose %}
    В Одесском областном архиве было всё или почти всё про Япончика. И про других масонов тоже.
    Слава Ему, евреев держали в строгости всегда, поэтому записывали про них всякие всячины — когда родился, от кого, что делал и когда умер, слава Богу, то есть Ему.
    Бабель с интересом листал личное дело Мишки, его письма с просьбой положить разные суммы денег во всяческие места, типа, под мусорное ведро или в клетку с голубями.
    Одно Мишкино письмо его особенно заинтересовало:
  {% endfilter %}

  {% filter prose %}
    «Никола!
    Я вам пишу за деньги, которые вы получили от меня. Так я вам скажу, что не надо суетиться под клиентом, работайте себе на здоровье до ста двадцати, а за гроши и не думайте!
    Тока я вас попрошу! Когда изобретёте ваши важные глупости, положите и мене записку под камень у Того дерева. Чтобы я тоже порадовался, что за эти гроши не зря пацаны фартовые под пули лазали. Ваш Мишка Король».
  {% endfilter %}

  {% filter prose %}
    Бабеля как по затылку стукнуло! Он даже оглянулся.
    — А шо! Я То дерево знаю. Все камни переверну. Копать так копать…
  {% endfilter %}

  <h2 class="art__subtitle">Пушкин. Сеет</h2>
  {% filter prose %}
    Александр Сергеевич нашёл себя. Скорее, нашли его.
    Талант не пропьёшь, а Пушкин начал попивать.
    Работу он освоил, поэтому и рубаи, и прочие рифмы выдавал без труда и количествами.
    Он уже давно рекламировал не только дамское бельё, но и другие необходимые для полного счастья предметы быта и не только. Успех был гарантирован, оплату, хоть и скромную, как правило, не задерживали.
    Вот и сейчас, вспоминая страсти той жизни, когда ревность ослепляла, а кровь кипела, машинально творил:
  {% endfilter %}

  {% filter ins %}
    {% filter poem %}
      Над сенью струй летают осы,
      Купите наши пылесосы.
    {% endfilter %}
  {% endfilter %}

  {% filter prose("short") %}
    Или:
  {% endfilter %}

  {% filter ins %}
    {% filter poem %}
      Под сенью струй сидели козы,
      Дарите вашей даме розы.
    {% endfilter %}
  {% endfilter %}

  {% filter prose("short") %}
    Да, талант не пропьёшь. Пушкин — всё-таки сукин сын…
  {% endfilter %}

  <h2 class="art__subtitle">Тургенев. Прозрение</h2>
  {% filter prose %}
    Совершенно неожиданно для Ивана переработанная им стихотворная версия «Муму» сотрясла культурный мир Первого Этажа.
    Шлягер про Муму и Герасима устойчиво занимал ведущую позицию рейтинга.
    Всплеск патриотических настроений достиг своей наивысшей точки. Детей называли Герасимами, вне зависимости от пола ребёнка, а правильные олигархи называли своих домашних крокодилов Муму.
    Тургенев уже не носил гобеленовый пиджак и косыночку, а одевался под стать любимцу масс. Скромно, но со вкусом. А как иначе, когда финансовый успех уже пришёл, творческое признание на пике? А хочется… Власти!
    Иван Сергеевич стал чаще задумываться о природе бытия на Первом Этаже.
    И понял, что он — настоящий Патриот. Да и потянулись к нему всякие кондовые. О том, что Он послал его на Первый Этаж искупать позор трусливого поступка в той жизни, Иван предпочел не думать.
    Уж очень его закружили, завертели местные соблазны.
    «Вот Бабель, к примеру, — думал Тургенев, — хороший человек. А десять Бабелей — это уже синагога, а тыща — масонская ложа, — правда, вспомнил, что декабристы тоже были масонами, но отогнал эти воспоминания, как и о своей трусости, — а миллион — мировое господство… Нет, не допустим! Оторвём гидре бошку, — вспомнил Иван выраженьица кондовых, увидевших в его Герасиме символ культурного и национального возрождения. — А Пушкин? Сидел бы в своей Эфиопии-черно..опии. Понаехали тут…»
    Вообще-то Тургеневу как представителю патриотически настроенной части населения предложили лично посидеть на нефтяной и газовой трубе.
    За лояльность. Ну кто устоит?..
    И сел. На трубу. И с тех пор стал плохо спать. Боялся сесть. В тюрьму. Сначала удивлялся, что ещё не взяли, а потом привык и понял, что сажают не за это. А за то! Про то он и не помышлял, рядом с тем хотелось потереться. За это не сажали.
    Завёл себе Иван молодых любовниц. Положено так. Чем моложе — тем престижней. И в память о Франции звал всех Полинами. Только вот толком не всегда знал, что с ними делать.
    Но менял регулярно. Полину на Полину.
    И пошло… и поехало…
  {% endfilter %}

  <h2 class="art__subtitle">Эпилог</h2>
  {% filter prose %}
    Бабель таки нашёл тот камень и откопал письмо Николы. Оказалось, что Николина фамилия — Тесла, тот, из Отдела Науки…
    И было в том письме прописано, как энергию получать в неограниченных масштабах и совершенно бесплатно.
    Долго мыкался Бабель по всяким там фирмам, предлагая такое счастье. За это нефтяные и газовые трубники чуть голову ему не оторвали. И оторвали бы, если бы не провалился кусок пола Первого Этажа по причине образования подпольной пустоты. Повыкачивали без меры нефти. Чуть обитателей Подвального Помещения не задавили.
    Вот тогда-то и наступил Конец Света, того Света. И начался Новый Свет.
    Деньги отменили, потому как всё стало бесплатным.
    Короче, просто Небесная Канцелярия на Первом Этаже.
    Счастье через край плещется. Всё изменилось. Всё не так, как было до Конца того Света.
    В Небесной Канцелярии жизнь вошла в свою колею.
    Пушкин вернулся в Небесную Канцелярию. Теперь — ответственным за творческие каналы. Тургенева отправили в Подвальное Помещение как «не оправдавшего». Вместо него из Подвального Помещения забрали давно обещанного классика соцреализма. Бабель с Папой Римским и Иешуа регулярно собираются посудачить, как когда-то.
    На Первом Этаже хоть и всё изменилось, да не всё…
    Говорят, скучно, когда никто не виноват, даже если и обвинить не в чем.
    Всё чаще снова слышится слово «масоны»…
    Бабель, как-то встретившись с Ним в коридоре Канцелярии, спросил:
    — Неужели опять?.. Почему?.. В чём?.. Чего не хватает?..
    И ответил Он:
    — Такова природа Человека. Ну допустил я брачок при создании… И знаешь что, Бабель?! Не тошни мне на нервы! Я правильно тебя цитирую? А ты мне для чего? Нужно будет ещё один Конец Света произвести — поедешь в командировку на Первый Этаж. Такая у тебя роль! Если что — выручу. Иди к своим приятелям пока. Мне некогда.
  {% endfilter %}
{% endblock %}
