{% extends template %}

{% set title = "Не станционный смотритель и даже не путевой обходчик" %}
{% set titleDescr = "Рассказ" %}
{% set pubdate = "11.01.2012" %}
{% set next = "ourbooks.el/book-0" %}

{% block content %}
  {% filter prose %}
    Радостное возбуждение и монотонный гул в актовом зале Дома Культуры «Золотой Рельс».
    Через несколько минут откроется Торжественное Заседание, посвящённое безаварийной работе всей службы «Рельсы и Шпалы», причём без капитального или какого-либо другого ремонта.
    Так что к безаварийной работе прибавилась ещё и экономия на ремонтах, что особенно обрадовало руководство службы в лице Важнейшего Начальника и его заместителя — Просто Важного Начальника.
    Зрители в актовом зале и не догадывались, что радость так безмерна.
    Зачем волновать народ?.. Достаточно им и безаварийности…
    Как говорил старик Ломоносов: «…сколько чего у одного тела отнимется, столько присовокупится к другому, так ежели где убудет несколько материи, то умножится в другом месте…»
    Умели предки завернуть выраженьице. А по-простому — если где-то что-то пропадёт, то в другом месте обязательно всплывёт.
    Оба начальника не нарушили этого основополагающего закона материи и провели капитальные ремонты у себя на виллах в заморских странах, причём от нулевого цикла с бассейном до крыши. И всё — на сэкономленные средства… и ещё чуть-чуть.
    — Товарищи! То есть Господа, конечно… Мы собралися сюда, чтобы отметить «Очень Замечательную» работу нашей службы за прошедшие годы. Сичас будут выданы почётные грамоты и памятные медали нашим передовикам — станционным смотрителям и путевым обходчикам. Именно их самоотверженным трудом наша служба во главе с её Управлением, под мудрым руководством товар… то есть Господина Важнейшего Начальника, — бурные аплодисменты, — и его соратников в лице Господина Просто Важного Начальника, — просто аплодисменты, — достигла немыслимого до сих пор показателя — полнoй безаварийности. Трудно в это поверить, тов… то есть Господа, но ни один состав не сошёл с рельсов. И даже не пытался. После вручения наград нашим передовикам будет банкет с танцами. А сейчас слово предоставляется…
  {% endfilter %}

  {% filter prose %}
    Отгремели пламенные речи — и вот он, заветный корпоратив… А как же?!
    Пригласили известных артистов, то есть их пародистов.
    Из областной филармонии.
    Радость круговая: передовики и рядовые труженики радуются празднику души, а артисты филармонии — что и их не забыли. Будет на что коммуналку oплатить.
    Важнейший Начальник со своим соратником тоже довольны: «Дёшево и сердито…» Ну, что дёшево — не обязательно распространяться, не надо народ волновать. Пусть думают, что это сами Известные перед ними тут изгаляются. Всё, мол, по высшему разряду и тарифу. Людей понимать нужно и уважать… в разумных пределах.
    Экономить нужно. Есть участочек один… даже два…
  {% endfilter %}

  {% filter prose %}
    За столами весело. Есть и выпить, и закусить. Артисты представление дают.
    «Так бы всегда… Всю жизнь…
    А то что у нас-то? Сидишь в своей сторожке да радио слушаешь, телек смотришь. Ну, что греха таить, накатишь горькой, да с огурчиком или сальцом… Но всё же — не тот респект.
    Правда, и работа не пыльная. Была бы пыльная — враз ушёл бы. За такие-то деньги! Тьфу да и только. Но что… доложу я вам… Не понимаю!
    Не понимаю — и всё! Вот сами посудите. Рельса — она ведь стальная. Это она в Управе, может, золотая. Крепкая, но не вечная. Трещины могут быть и прочие неприятности. А тут… В последние годы, ну лет двадцать, ничего… ну как новые.
    Уже и проверять даже не стали. А чо проверять, если всё путём! Поезда как миленькие проносятся, не спотыкаются. Вон, даже награды выдали да кооператив устроили с танцами.
    Мы тут с коллегами, мужикам да бабами, пошушукались. У всех одна картина, должен сказать. Рельсы в порядке и шпалы тоже. Ни-ни… И никто ни фига не делал и не делает.
    Но cтранность есть одна. Все коллеги рассказывают, что мужик какой-то всё ходит вдоль рельсов-то, бродит, бормочет и мажет иногда чем-то. Посмотрели, что он там намазал, так ведь ничего нет! Нормальная рельса, как новая. Спросили: чо делаешь? А он бормочет, что хранит. А!.. Ну и перестали внимание обращать. Болезный, видать, юродивый!.. Только перья разбрасывает иногда. Ну да не беда. Не мешаить».
  {% endfilter %}

  {% filter prose %}
    Всё когда-нибудь заканчивается. И корпоративы тоже.
    Герои трудовых будней разъехались по своим рабочим местам.
    И потекла жизнь как по накатанной. Грамоты на стене, медали на парадном пиджаке. Живи не хочу!
    И подумали работники службы «Рельсы и Шпалы»:
    «3ачем он нам нужон?! Мотается, бомжара. И без него обойдёмся. Сами с усами».
    Причём подумали так не все, но обменялись свежей и светлой мыслью по служебной связи. И те, кто так не думал или не думал вообще, тоже согласились. Чтобы чего не подумали…
  {% endfilter %}

  {% filter prose %}
    И изгнали бомжа. Иди, мол, отсюда, аферюга.
    «Небось спереть чего намереваешься?! У нас и так всё хорошо, не порть атмосферу своим запахом опиума или ещё какой гадости».
    Надо сказать, что запах от бродяги исходил даже приятный, благовонный.
    Но… Гнать так гнать!
  {% endfilter %}

  {% filter prose %}
    И пропал Юродивый. Во всяком случае, его больше не видели бредущим вдоль железнодорожного полотна. В газетах писали о промелькнувшем однажды странном НЛО, похожем на человека. Да сколько уж сказок про это наслушались! Надоело!
  {% endfilter %}

  {% filter prose %}
    А через год сразу два поезда свалились под откос. Рельсы лопнули…
    Рассказывают, что и в авиации была подобная ситуация.
    Это уже на разборе авиакатастрофы нашептали.
  {% endfilter %}

  {% filter prose %}
    Сейчас ищут того бомжа юродивого. Бывает, схватят кого-нибудь по приметам и просят рельсы проверить. А толку нет.
    Видно, не тот бомжара.
    А случается, что и сами приходят всякие и говорят, что это они и есть.
    Но опять толку нет.
    Видать, скоро все поезда под откос свалятся и самолёты рухнут.
    Проблема…
  {% endfilter %}
{% endblock %}
