{% extends template %}

{% set title = "Подумать" %}
{% set pubdate = "29.12.2011" %}

{% block content %}
  {% filter prose %}
    Думать вредно! Это не я сказал. Просто слышал.
    Значит, я в порядке. Не думаю совсем. Может, и подумал бы, да не знаю о чём.
    Так что здоровье сохранил.
    Правда, не думать совсем не получается. Я же не камень.
    Камень вот не думает и миллион лет лежит себе такой же крепкий.
    Хотя, может, не миллион? Кто это знает? И почему миллион, а не два или три с половиной?
    Интересно, а собака думает? Наверное, да, потому что живёт не так уж и долго. Видимо, от дум здоровье подрывает.
    Человек живёт дольше. Значит, думает меньше собаки.
    Что же получается? Мой Тузик думает больше меня?!
    Тогда почему я на работу хожу, здоровье надрываю, а не Тузик, если он умней меня?!
    Ой! Я, кажется, думаю.
    Не заболеть бы…
  {% endfilter %}
{% endblock %}
