{% extends template %}

{% set title = "Ха! Голливуд…" %}
{% set pubdate = "29.12.2011" %}
{% set next = "ourbooks.el/identical-1" %}

{% block content %}
  {% filter prose %}
    Сидим у меня на даче с двоюродным братом жены. Мы с ним большие друзья. Есть что вспомнить, есть о чём поговорить.
    А вот ещё случай был… Анекдот… Понимаем друг друга с полуслова.
    Я тебе рассказывал про Кирилла? Не помню… А что?
    Поздние 80-е. Учительствую, рассказывает брат-друг.
    Лето. Каникулы. Денег — как всегда… А хочется…
    Говорят, что на ловца и зверь бежит.
    Кирилл… Учились вместе. Или делали вид, что учимся. У каждого своя судьба, хоть и равные возможности.
    Вальяжный… и обеспеченный.
    — Хочешь заработать и много?
    — А кто же не хочет? Только не криминал… Я и курицу не убью.
    — Да нет, курицу не надо. Ты же знаешь, что у нас с наглядной агитацией и пропагандой просто беда. Помочь надо Родине.
    — Я всегда за, если даже курицу для этого не надо…
    — В общем, так, поедешь в Мухосранский район. Его мы ещё не охватили. Просто руки не доходят. Их много, а мы одни. С ног уже сбились.
    — А что делать-то надо?
    — Приедешь и покажешь наши идеи, — сказал Кирилл, доставая альбом с картинками.
    Посмотрел и обомлел! Красота-то какая! На все случаи жизни наглядная агитация и пропаганда!
    И убеждать не надо. Просто посмотрел и проникся.
    Например, увеличение поголовья свиней. Нарисован розовощёкий хряк, как с рекламы здорового питания, стоит гордо и уверенно на трёх задних ногах, подбоченясь левой и приветственно помахивая правой.
    Убедительно!
    Или о вреде пьянства на работе и в личной жизни… Ну, была тогда такая проблема. Что уж тут скрывать! Сидит мужик с красным носом в бутылке из-под водки с этикеткой «Ежедневка». А вокруг счастливые лица людей (не в бутылке, конечно) с транспарантами идут. Ну как тут не бросить пить на работе и дома?!
    Зашёл в закрома, то есть мастерскую, которая располагалась в подвале жилого дома.
    Райское удовольствие!
    Комната метров 30-ти, заваленная деревянными планками, досками, ватманом и его обрезками, а главное, огромным количеством пустых бутылок, как по-хозяйски сложенных в углу, так и катающихся по полу в анархическом беспорядке.
    В центре комнаты сидел мужик с лицом, не выражающим ничего, кроме презрения к окружающей среде, производящий методические и однообразные движения, в результате которых в коробку, стоявшую от него справа, отлетали куски искривлённого листового металла.
    Присмотрелся — Ильич! А похож…
    Спрашиваю:
    — Семеныч! — мужика так звали. — И сколько ты таких шедевром выдолбил?
    — Тыщи. Летом больше делаю, потому как без кепки, а зимой в головном уборе — ещё минуту берёт.
    В углу другой мастер ваял из гипса, но тоже Ильича. Похож — умереть не встать.
    Заметив мою заинтересованность и восторг, завязал разговор:
    — Что, нравится? А вот поспорим на бутылку, что я не глядя, стоя спиной, вылеплю такого же? Не отличишь!
    — Давайте!
    — Тока бутылку вперёд. Если хочешь, чтоб быстро и качественно.
    Сказано — сделано! Любопытство выше рассудка, да и внутреннее чувство говорит: «Делай, как скажет! Не пожалеешь!»
    Творческий процесс… Не забуду никогда!
    Скульптор, покачиваясь от выпитого аванса, стоя спиной к массе гипса, уверенными шлепками и поглаживаниями минут за 10 с перекуром сваял шедевр со знакомым прищуром типа «Ну что, Батенька, съел фигу с маслом?!»
    Убедил меня Кирилл! Еду в мухосранский район.
    — Здрасьте! — тяжёлый взгляд из-под отёкших век пронзил меня насквозь.
    — Что вам?
    — Так вот, приехал помочь с пропагандой и этой, как его, наглядной агитацией.
    Листает альбом. Глаза проясняются, веки поднимаются.
    — Вовремя вы, товарищ! Сколько, когда? Выдайте аванс!
    Всё?.. Так просто? Сколько?! Я там в школе… А тут!
    Привожу, получаю… Сам счастью своему не верю…
    И пошло и поехало. Весь родной Союз объехал. Убеждал и наглядно агитировал.
    Столько всего было… Ну, об этом отдельно… Потом расскажу.
    Но всему хорошему приходит конец. Перестройка. Деньги пропали. Агитация и наглядная пропаганда уже никому не нужна. Хряк грустит и не знает, как поступить. Нет больше мотивации размножаться. Транспаранты и счастливые лица тоже не каждый день встретишь.
    Я учу детей и вспоминаю… А что остаётся?
    А Кирилл понял, что вечное и нетленное нужно нести в массы. У нас с вечным и нетленным тогда было в порядке.
    И стал Кирилл мьюузик холл возить… куда? Ну, в Америку, конечно!
    Всё клеится без клея! Только поплёвывай на пальцы да зелёные деньги считай!
    У них-то вечного и нетленного мало, а у нас — хоть отбавляй. Правда, с зелёным у нас тогда было туго.
    Однажды в Америке Кирилл подвыпил. Вы же помните, что с наглядной агитацией и пропагандой было покончено, как и с транспарантами и счастливыми лицами? Вот он и не учёл ситуации. Короче, побратался с одним мужиком, а тот оказался американским адвокатом. Тоже не видел наглядной агитации и пропаганды. Ну и поехало… Адвокат позвонил куда надо и заявил, что только теперь понял, как ему нужен Кирилл. И он Кириллу. Короче, Кирилл просыпается, пьёт пиво, а ему сообщают, что он попросил политического убежища и у него есть и адвокат, и защита Америки.
    Ойкнул, выпил ещё пивка и ещё водочки с виски и понял, что открываются возможности, в том числе и неограниченные.
    И начал Кирилл реализовывать американскую мечту в отдельно взятом универмаге города Нью-Йорка. Не врут люди. Через два месяца мечта забрезжила, и он стал главным и ответственным по уборке отдельно взятого универмага.
    Через год и того больше — у Кирилла свой дом, а универмаг закрывается на учёт в связи с недостачей. Вы же учили всеобщий закон сохранения всего?! Где чего убудет, в другом месте прибудет…
    Но в Америке с образованием не очень… Не поняли главного принципа, что ничего не пропадает. И получил Кирилл условный срок за безграмотность американскую.
    Много чего с Кириллом происходило по серости окружения.
    А тут — Любовь. Влюбился, да сразу в двух. Близнецов из Эфиопьевских. Одна, правда, пропала вскоре в неизвестном до сих пор направлении, но другая крепко запала Кириллу во все места.
    Девушка была не простая, а ищущая себя. Кирилл идёт утром реализовывать американскую мечту, а вечером дома находит свою любовь в углу комнаты в героиновых грёзах, а дома уже ничего, пусто от вещей. Мол, быт опошляет отношения.
    Но Любовь…
    Поехал Кирилл в родной город себя показать да на людей посмотреть. Заодно проверить следы былой агитации и наглядной пропаганды. Или наоборот. Вдруг опять есть нужда?
    Ничего такого не нашёл и вернулся в свой рай.
    Когда приехал в рай к себе домой, то обнаружил там Ангела, посиневшего от наркоты в углу, а дом — полностью освобождённый от мирской суеты.
    Согрешил Кирилл 28 раз кухонным ножом… Ангел улетел по месту жительства, а Кирилла — до конца жизни в скорбную одиночную обитель.
    Ох, и не закончился ещё рассказ.
    Ждём с нетерпением продолжения…
  {% endfilter %}
{% endblock %}
