{% extends template %}

{% set title = "Кризис жанра" %}
{% set pubdate = "29.12.2011" %}

{% block content %}
  {% filter prose %}
    Пишу как хожу.
    А хожу по-разному.
    Иногда, когда болит спина, то с трудом.
    Иногда, если всё в порядке со здоровьем, как стайер или спринтер. Бегу.
    Впрочем, другого не бывает. Из двух «иногда» складывается моё «всегда».
    Спина болит по разным причинам.
    От неправильного образа жизни, например.
    Нет, не не подумайте, что от банального пьянства или другой мерзости.
    Скорее, от тяжести. Но не поднятых сумок в супермаркете.
    Скорее, от мыслей. Да, да, представьте себе, что бывает и такое.
    И не просто от мыслей, а от их безответной безысходности и надоевшего постоянного присутствия.
    А вот когда приходит ответ, мысль находит выход, и я бегу.
    Как стайер или спринтер.
    Пишу…
  {% endfilter %}
{% endblock %}
