{% extends template %}

{% set title = "О чём писать-то?" %}
{% set pubdate = "29.12.2011" %}

{% block content %}
  {% filter prose %}
    Фильмы снимают по сценариям. Как ни странно, сериалы — это те же фильмы. У них тоже бывает сценарий. Правда, не всегда это можно назвать сценарием. Тексты. Диалоги. Монологи.
    Что тут добавить?..
    Смотришь, читаешь и тут же забываешь. «Каждый раз, как в первый раз».
    Ну, что о других? Критиковать каждый может. А вот создать нечто, что не забыли бы, и оно, это нечто, оставило след — задача не из простых.
    Много было написано до нас, многое осталось с нами.
    Ницше, Омар Хайям, Пушкин… Не хочу быть банальным, перечисляя известные имена Великих.
    Подражать им? Нет смысла. Копия всегда хуже оригинала.
    У них был открыт творческий канал, связывающий с Пространством, часто называемым Богом.
    А у меня? Не знаю. Время покажет. Если то, что напишу, заставит кого-то задуматься, то на тонкий ручеёк можно рассчитывать.
    Я знаю, что слово Пространство, которое назвал Богом, многих возмутит.
    Как это? Пространство — Бог?
    Существует множество религиозных конфессий, а в них ещё и течения. И у каждого своя правда. Самая правдивая. У остальных — заблуждение.
    Так ли это?
    Ведь конфликты мира имеют именно эти корни. У кого правда правдивее.
    Вот об этом и стоит написать.
    Не о самой правдивой правде. А просто о правде, которая для всех одна. И которую мы не знаем, а только ощущаем, когда заслуживаем и прислушиваемся.
    И о том, как нам вместе её познать.
  {% endfilter %}
{% endblock %}
