{% extends template %}

{% set title = "Табу из семейства кошачьих" %}
{% set pubdate = "25.06.2011" %}

{% block content %}
  {% filter poem %}
    Котенок, ты моё табу.
    Тебя всех больше восхваляю.
    Тебя коснуться не могу.
    У деревца того гуляю,

    Что ты обителью зовёшь,
    Где спишь и ешь, где ты поёшь
    Той тёмной мартовскою ночью.
    Когда не спится сильно мне,
    Когда во мгле стремлюсь здесь прочь я,
    Когда я будто в страшном сне.

    Погладить я тебя хочу
    И молоком поить желаю,
    Сквозь атмосферу я лечу
    И в то же время убегаю.

    Бегу от гнева твоего,
    Бегу от страха пред тобою,
    Ты выпила меня всего,
    Не прикоснувшись и губою.

    Хочу тебя и ненавижу,
    Люблю и мучаю тебя,
    И только свет лишь яркий вижу,
    А тьма зовёт вперёд меня.
  {% endfilter %}
{% endblock %}
