{% extends template %}

{% set title = "Syndrome selvmord" %}
{% set pubdate = "25.06.2011" %}

{% block content %}
  {% filter poem %}
    Время идёт, подкравшись незаметно,
    Внутри меня закралась пустота,
    И тлеют угольки, безжалостно сжигая
    То, что вчера ещё я называл «мечта».

    Зелёные леса заменены пустыней,
    Где пели птицы — тихо там теперь,
    Здесь глухо всё, здесь мёртво всё отныне,
    Замок заклинило. Закрыта к сердцу дверь.

    Готов я был всегда, пустив в свои объятья,
    Ростки берёзок в поле рассадить,
    Но убеждался ещё раз в пылу ненастья,
    Что будут там растенья счастья только гнить.

    Не вырастить в долине смерти сладких ягод,
    Не вырастить и полный сад цветов,
    Лишь изобилие разнообразных ядов
    И множество болезней полных снов.
  {% endfilter %}
{% endblock %}
