{% extends template %}

{% set title = "Страшный сон" %}
{% set pubdate = "25.06.2011" %}

{% block content %}
  {% filter poem %}
    Твой самый главный страх предстал перед тобой,
    И ты сбежать пытаешься из мутной невесомости,
    Опору ты найти не можешь: твои сложности,
    Объединившись, на тебя летят гурьбой.

    Воля твоя не может телом руководствовать,
    Секунды в этом мире — ночь, вся наяву прошедшая,
    Всю твою смелость на верёвку жёстко вешая,
    Тобою Фобос вдруг решил господствовать.

    Морфею всё трудней глаза твои удерживать,
    Так скоро на сетчатку будут струи света капать бешено,
    Твоё сознание бессмыслено, нутро картинами увешано,
    Не умирал ты этой ночью, но пытался страх свой сдерживать.
  {% endfilter %}
{% endblock %}
