{% extends template %}

{% set title = "Appel a la nuit" %}
{% set pubdate = "25.06.2011" %}

{% block content %}
  {% filter poem %}
    Тьмою окутан мой старый дом,
    Пространством его я сейчас окружён.
    Вгляды во мглу как потребность в ином,
    В осознании жизни своей страшным сном.

    Дыхание ночи во мне пробуди,
    Всю тяжесть тех дней позабыть помоги,
    Сделай меня ты осколком своим:
    Отныне хочу быть тобою любим.

    Мысли от рабства мои отдели:
    Волю к свободе хочу обрести,
    Путь свой короткий со смыслом пройти,
    В лёгкие воздух небес принести.

    Ночь, ты подруга особых друзей!
    Ночь, разбивай же оковы скорей!
    Ночь, сделай меня ты сильней!
    Ночь, ты подруга великих людей!
  {% endfilter %}
{% endblock %}
