{% extends template %}

{% set title = "Наивные герои" %}
{% set pubdate = "25.06.2011" %}

{% block content %}
  {% filter poem %}
    Всё проходит, даже бесконечность,
    Не давая нам себя объять,
    Даже наша детская беспечность,
    Что нам так не просто вспоминать.

    Есть конец всему концу и краю,
    И непреходящее уходит прочь,
    Есть конец богам и аду с раем,
    Ночь сменяет день, а день сменяет ночь.

    Мы — материи обрывки тленной,
    Наша участь — просто выживать,
    Мы — осколки полумысли бренной,
    Любим мы в сверхсущества играть.
  {% endfilter %}
{% endblock %}
