{% extends template %}

{% set title = "Адреналин. Физиология опасностей" %}
{% set pubdate = "25.06.2011" %}

{% block content %}
  {% filter poem %}
    Полуночный бег моего сердца часов
    Тревожит тропы для моей помутневшей крови,
    Холодный пот от реальности страшных снов
    Сквозь кожу стекает со лба на опалённые брови.

    Два воздуха мешка, наполняясь и раздуваясь,
    В тюрьме из рёбер создают неслабый напор,
    А мои мышцы-ткани, со временем окисляясь,
    Принимают форму твёрдых каменных гор.

    Это гормона время, это кровавый экстрим.
    Что с моим телом? Я уже не властвую над ним!
    Во рту безмолвие и сухость, будто там песок!
    А в горле встал опасной ситуации кусок!

    Я просыпаюсь от повседневности деяний,
    Что-то животное празднует во мне,
    Мой организм от адреналина влияний
    Энергию черпает откуда-то извне.
  {% endfilter %}
{% endblock %}
