{% extends template %}

{% set title = "Где-то там" %}
{% set pubdate = "25.06.2011" %}

{% block content %}
  {% filter poem %}
    Слишком поздно родиться,
    Слишком рано чтоб жить,
    И с природой дружить,
    Речкой горной разлиться,

    Ветром кроны кружить,
    Диким зверем беситься,
    Криком птиц разноситься,
    Глубь лесов ворошить.
  {% endfilter %}
{% endblock %}
