{% extends template %}

{% set title = "Вот такое непостоянство" %}
{% set pubdate = "14.01.2012" %}

{% block content %}
  {% filter poem %}
    Не могу ничего обещать тебе
    Кроме того, что хочу сейчас.
    Не могу утверждать, что не быть беде,
    Что она не пройдёт мимо нас.

    И что в вазе твоей всегда будут цветы,
    Я, увы, обещать не могу,
    И что самые главные наши мечты
    Мы срывать будем на лугу.

    Даже то, что до смерти я буду с тобой,
    Не войдёт в наш совместный прогноз,
    Жаркой страсти моей неизбежный прибой
    Не исчезнет от ветра и гроз.

    А быть может, когда-то случится беда,
    И тебя защитить не смогу —
    Вот тогда я, конечно, в последний раз
    Доломаю свою судьбу.

    Самую малость могу утверждать,
    В твои милые глазки смотря:
    Очень сильно хочу я тебя целовать!
    Я сегодня люблю тебя!
  {% endfilter %}
{% endblock %}
