{% extends template %}

{% set title = "Неизлечим" %}
{% set pubdate = "14.01.2012" %}

{% block content %}
  {% filter poem %}
    Ты будешь жить, а я умру…
    Я буду стёрт с лица сознания,
    И годы тихо будут плыть,
    Уйдут твои воспоминания

    О безнадёжном моногаме,
    О странных выходках его,
    И новоиспечённой маме
    Не вспомнить этого всего.

    Вот женщина, уже за тридцать,
    По скверу ускоряет ход,
    Спешит домой к счастливцу-принцу,
    Растящему пивной живот.

    Вот женщина, уже за сорок,
    Гуляет с внуком, им гордясь,
    И смотрит, как бы славный малый
    Не шёл по лужам, не лез в грязь.

    А вот сидит бабуля дома,
    Грустит, вздыхает у окна,
    Что на запястье гематома,
    Что каждый день болит спина.

    Ты будешь жить, а я умру…
    Внутри меня ты бесконечна,
    И я нисколько не совру
    О том, что ты во мне навечно…
  {% endfilter %}
{% endblock %}
