{% extends template %}

{% set title = "Снаружи и внутри" %}
{% set pubdate = "10.07.2011" %}
{% set prev = "icecreamhater/femina-8" %}

{% block content %}
  {% filter prose %}
    Вечернего неба лазурь окраплена кровавыми пятнами. Свежий ветер, вызывающий небольшую дрожь, говорит о постепенном дня угасании. Большой, едва проглядываемый между облаками и уже частично скрывшийся за горизонтом шар особенно красен в это время.
    Это вечер Солнца, привлекающего и манящего. Это вечер неба, берущего верх над всем существом и рождающего маленькие жёлтые бусинки на своём чернеющем полотне. Это вечер леса, леса ещё более загадочного и неприступного, более дикого и туманного. Это вечер земли, тихой и холодной, безропотно удерживающей нас и наши поступки, вечер матери. Это вечер воды, громко журчащей среди горных ущелий и сохраняющей тепло, подобно детскому одеяльцу. Это вечер человека, человека-романтика, человека живого и чувственного, человека, единого с природой и космосом.
    Конечно, это иллюзия, но и иллюзиям должно быть место в нашем мире. Кажется, что самая дальняя звезда вот-вот заменит вырывающееся из груди сердце, стремящееся стать частью этого мира, мира естественности, настоящего мира.
    А вокруг всё уже утонуло в атмосфере ночи, и последний луч умирающего Солнца — уже луч, рождённый для других миров этой планеты. Столько мыслей в голове, столько эмоций внутри! Будто вся материя дышит только этими мгновениями. Их так не хочется терять!
    Но сон овладевает наблюдающим, и наступает гармония, гармония закрытых глаз и погасшего дня.
    Меня больше нет в рамках этого дня. Я лишь горячее тело, смирно лежащее в гуще галлюцинаций. И я уже — мои образы, гибко плывущие по течению фантазии.
  {% endfilter %}
{% endblock %}
