{% extends template %}

{% set title = "Ненаучно-непоэтический подход к человеческой любви" %}
{% set pubdate = "10.07.2011" %}

{% block content %}
  {% filter prose %}
    Что такое любовь между мужчиной и женщиной с точки зрения ощущений? На этот простой, как нам кажется, вопрос трудно найти сто-ящий ответ. То вердикт мозга делает это «высокое чувство» слишком инстинктивным и «неодухотворённым», то эмоция сердца ставит его на одну ступень с фантазиями о Боге. Причём это происходит с такой долей «чистоты», что половой акт как-то не смотрится в рамках такого явления. Более того, он её (любовь) оскверняет.
    Должен ли быть человек любящий готовым на любые жертвы во имя объекта восхищения? То есть, для по-настоящему любящего партнёр является высшей ценностью? Или нет? Так ли выходит, что одной из неотъемлемых частей «истинной любви» должно быть добровольное рабство? Да и вообще, нужен ли раб тому, кому так хочется прислуживать?
    Ревность. Есть ли ей место в этом доме? Производная чувства собственничества, как ты вписываешься в один ряд с желанием прислуживать? Раб, который дорожит своим господином и готов убить его, если тот позволит другим быть рабами. Вещь, претендующая на право принадлежать одному хозяину.
    Именно эта амбивалентность в чувстве под названием «любовь» приводит к довольно странным душевным состояниям. Мы одновременно хотим владеть и принадлежать по отношению к одному и тому же существу. Мы самые нежные, но в то же время может причинять боль, которую превысить вряд ли что-то сможет. Объект восхищения при определённых обстоятельствах вмиг становится самым ненавистным человеком на свете, а через секунду мы уже жалеем, что даже в мыслях хотели его страданий.
    Не менее странным кажется нам процесс идеализации потенциального или реального партнёра, мы как бы приписываем часть несуществующих качеств тому, в ком намерены их найти. В психоанализе этот процесс называется «проекцией» (насколько мне это известно), то есть мы переносим часть собственного внутреннего мира на внешнюю среду. По сути дела, происходит частичное или более полное искажение объективной реальности.
    Но что более всего странно, для того, чтобы добиться ответных чувств со стороны желаемого существа, необходимо вести себя неискренне. Более того, нужно в большей мере скрывать свои чувства и уж тем более намерения. Для победы в этой нелёгкой игре нужно следовать определённым правилам, которые сегодня изучают пикаперы и прочие НЛПерцы в области взаимоотношений полов. Здесь возникает новый парадокс: большинство тех, кто поддаётся соблазнению по «канонам любовной психологии», напрочь отрицают свою слабость по отношению к ним, а, напротив, возносят качества, при наличии которых они бы ни за что не заинтересовались человеком. Это вышеуказанное нами превознесение потенциального партнёра, как ни странно, отбивает всякое сексуальное и эстетическое желание у, собственно, него же.
    Вот такая вот штука — наша любовь. Я как автор этой статеечки ни в коем случае не претендую на научность или что-то подобное и уж тем более не считаю, что в полной мере раскрыл эту поистине бесконечную тему. Моя цель — заставить уже в сотый раз читателя задуматься об этом великом чувстве, только вот с несколько более широкой точки зрения, чем обычно приходится размышлять простому человечку.
  {% endfilter %}
{% endblock %}
