{% extends template %}

{% set title = "«Я ни о чём не пожалела никогда…»" %}
{% set pubdate = "18.03.2008" %}
{% set prev = "kate_nest/blood-16" %}
{% set next = "kovalyova.k/prose" %}
{% set prevTitle = "К последней главе произведения предыдущего автора" %}

{% block content %}
  {% filter poem %}
    Я ни о чём не пожалела никогда —
    О том лишь, что так мало я молилась
    И что лишь изредка горячая слеза
    От горя по щеке моей катилась.

    Жила я честно, да и буду так всегда.
    И судьи мне — лишь Бог и моё сердце.
    Не говорите «Ты виновна!», господа.
    То, в чём вина моя, вам вовсе не известно.

    Я проживу всю жизнь свою счастливо;
    Судьба пророчит мне удачу и успех.
    И мужу своему рожу я сына,
    И буду матерью нежнее, чем у всех.

    Никто не скажет мне: «Ты жизнь жила напрасно».
    Никто не взглянет косо на меня.
    Мне скажут в старости, что я была прекрасна
    И до седых волос не потеряла я огня.

    Никто не вспомнит про мои ошибки,
    Никто не упрекнёт меня в делах.
    И дело вовсе не в моей улыбке —
    Я знаю, кто я, и душа моя светла.

    Никто не запятнает мою слабость,
    Никто не сможет обо мне соврать.
    Я людям в сердце принесу лишь радость,
    Если не вздумают мне в душу наплевать.

    Я страшна в гневе (что случается нечасто),
    Прекрасна в танце (это моя жизнь),
    Я удивительна в стихах, всегда я страстна.
    Если ты свяжешься со мной, тогда держись!

    Я вихрем закручу тебя по жизни;
    Если найдёшь меня — откроешь в сердце клад,
    И небо яркое над головой повиснет;
    Понять непросто меня, но ты будешь рад.

    Возьмешь мою любовь — получишь счастье;
    Возьмешь огонь мой — пламенно сгоришь;
    Но обойдут все стороной тебя ненастья,
    Получишь крылья и свободно полетишь.

    Захочешь чувства неба — будешь выше;
    Захочешь жить красивей — станешь петь.
    А будешь наблюдать ты птиц на крыше,
    Захочешь — можешь с ними полететь.

    Как ветер, ты свободным будешь вечно,
    Как солнце, будешь ярок и весёл.
    А я шепну на ушко тебе нежно:
    «Мой ласковый, это еще не всё».

    И если ты не глуп, получишь больше,
    А если захочу — получишь мир;
    И ночи наши будут жизни дольше…
    Ты только лишь пойми меня, пойми!
  {% endfilter %}
{% endblock %}
