{% extends template %}

{% set title = "День, когда сжигают золото" %}
{% set pubdate = "21.10.2011" %}
{% set prev = "tulina/dabt-13" %}
{% set next = "emma/summer-1" %}

{% block content %}
  {% filter prose %}
    Когда настала осень, у Эльмиры настала не менее унылая пора. В октябрьский вторник она открыла дверь Меланхолии, которая на три месяца слово закрыла её глаза серой пеленой.
    Из окна Эльмира видела серые стволы клёнов и акаций, серые покосившиеся заборы, серых птиц, улетающих на юг, даже серое солнце, которое лишь на мгновение показывалось из-за не менее серых облаков.
    Но, как и все предыдущие годы, Эльмира избавлялась от Меланхолии буквально на несколько недель, но затем снова падала в её объятия. Причиной двухнедельного пробуждения от серых кошмаров было главное преимущество осени, её уникальное свойство окрашивать чёрную землю, серую пыль и неприветливый асфальт в один пёстрый, кричащий оазис, извивающийся между тусклых домов, похожих на коробки.
    У жертвы Меланхолии было лишь две недели, чтобы запомнить это ощущение, когда скупые солнечные лучи превращают землю в горящую лаву, отражаясь и играя огненными листьями, устилающими весь земной покров.
    За две недели она успевала заметить всё: и собак, которые по уши зарывались в море листьев, словно видели в них злейшего врага, и кошек, которые без устали подгоняли лапкой шуршащий лист, упавший на тротуар, и детей, которые, поминутно поднимая листья всё красивее и красивее, несли в кулачках пёстрые осенние букеты.
    Каждый день она, словно по привычке, перед завтраком распахивала настежь свои ветхие окна так, что ручки легко бились о стены. Занавески взмывали вверх, словно паруса на шквальном ветре, и осенний запах с характерным ароматом сухих листьев врывался в её комнату, освежая и бодря.
    Но спустя две недели в окно спальни ворвался не приятный аромат, а резкий и удушающий запах горелых листьев.
    Настал Судный день для Эльмиры и День Воскрешения для Меланхолии — «Общегородской субботник», назначенный главным инквизитором на девять часов утра.
    Тысячи палачей своими железными крюками рвали плоть огненных Прометеев, спустившихся сверху на землю для облагораживания и украшения. Тысячи безразличных к этому лёгким движением кисти чиркали своим орудием убийства и поджигали кучу осеннего золота, отравляя октябрьское утро удушливыми диоксинами.
    С болью открыв глаза, Эльмира увидела голую, серую и безжизненную землю, так долго скрывавшуюся сначала под зелёной травой, затем под сухими листьями.
    Словно после бомбёжки, там и сям догорали бесформенные нагромождения прежде пёстрых листьев и вились тоненькие струйки дыма, словно символ иссякания и постепенного исчезновения.
  {% endfilter %}
{% endblock %}
