{% extends template %}

{% set title = "Эльвира-Дырокол" %}
{% set pubdate = "03.10.2011" %}

{% block content %}
  {% filter prose %}
    В одном доме жила тётушка Эльвира. Она была совсем одинока, и компанию по вечерам ей составляла лишь её верная собака — пуделиха Эвра. Единственной радостью в жизни Эльвиры был дырокол: без работы, без семьи, без хобби, она сидела в своём старом продавленном кресле и совершала однообразные движения — клац, клац, клац.
    За десятилетия у неё собрались сотни выпусков газет «Мой сад — моя крепость», «Светские новости», «Бесплатная газета», «Обзор дня» и т. п.
    Материала для работы было больше чем надо, а результаты этой самой работы уже еле умещались в скромном жилище Эльвиры.
    Флюгер на крыше соседнего дома сумасшедше крутился, со скрипом указывая то северное направление, то западное. Бушующая стихия с невероятной силой гнула упругие ветви и издавала заунывные звуки.
    Эльвира вышла на покосившееся крыльцо и оценивающим взглядом оглядела всё вокруг: погода больше напоминала осеннюю, нежели летнюю. Затем она вошла в дом, не закрыв двери, и начала методично открывать все окна в доме. Ставни с шумом захлопывались и снова открывались, занавески белыми языками высовывались из окон, словно молоко проливалось через дырявый пакет.
    Летом наступила зима, зелёная трава покрылась слоем первого снега, вместо одиноких зелёных листиков в воздухе носились снежинки с еле заметными типографскими буквами, вылетавшие из окон Эльвиры.
  {% endfilter %}
{% endblock %}
