{% extends template %}

{% set title = "Драма Мирты" %}
{% set pubdate = "03.10.2011" %}

{% block content %}
  {% filter prose %}
    Очаровательная Мирта сидела у окна и грустила. О как тоскливо было ей! Знали бы вы, какие кошки скребли у неё на душе… Даже не кошки, а здоровенные тигры рвали когтями свою добычу. Шумно вздохнув, Мирта опустила глаза и покачала головой. В её голове, словно на киноплёнке, всплывали различные фрагменты из собственной жизни.
    Какой кошмар, ведь она однажды купила книгу «Садоводство для чайников» и оплатила курсы по фотографии от настоящего профессионала! Печально, но Мирта не учла, что у неё нет ни сада, ни фотоаппарата.
    Часы пробили шесть раз.
    Мирта резко встала со стула, перестала грустить и пружинистым шагом направилась смотреть телевизор.
  {% endfilter %}
{% endblock %}
