{% extends template %}

{% set title = "Ангелы Рока" %}
{% set pubdate = "13.12.2011" %}

{% block content %}
  {% filter poem %}
    Взорвать бы эфир — да, наверно, пустая затея…
    Ропщу в телевизор — ведь нету «высокой трибуны»:
    «Эстразные» «звёзды» — ни рожи, ни кожи, ни тела —
    Терзают лужёные рты под фальшивые струны…

    Взяв пульт, телевизор давлением кнопки врубаю —
    Опять Голливуд, и опять тошнотворная «action»…
    И… выключил. Ставлю «винил» — и весьма одобряю:
    Мик Джаггер, и Rolling…, и присная их «Satisfaction».

    Вот «Angie» вернулась — без слёз и в пылу поцелуев,
    Хоть дырки в карманах — но с верой в мирскую любовь…
    Поможет Deep Purple — «Lady Luck» — осчастливит любую,
    Расскажет, как жизнь оседлать и начать её вновь…

    Бросая курить, далеко зашвырнул сигареты.
    Без водки — ништяк, а без дыма седого — хоть вой!
    Смакую Deep Purple и «Дым над водою» — конкретно!
    Любуюсь туманным дымком над прозрачной водой…

    Я в жизни старался прозреть, ни на глаз не ослепнуть,
    И розовый цвет я презрел, и очки раскромсал…
    Whitesnake стал мне другом и братом, помог мне воскреснуть,
    И «Blindman» мне радужный круг в небесах показал…

    …Поёт «чья-то дочь»: обнажаясь, насилует песню,
    Всё тело в истоме, от света лоснящийся лоб…
    Талант её — призрак. Как пыль. И не купишь, хоть тресни!
    Слова — не из душ, из эфиром разорванных поп…

    Стыжусь, что на полке в пыли — застоявшийся Beatles.
    Давно «Мюзик-Холл», «Альберт-Холл», «Одеон» — запустели…
    Включу «Let It Be»! Человечество былью прониклось…
    Весна на душе! И по-майски «Жуки» зазвенели…

    Мгновенно растаяло всё: «голубой» зомбоящик,
    И «звёзды» ушли, осчастливив уставший экран…
    И в мире осталось «жужжание» Beatles — в настоящем!
    Бальзам на душевные раны — нетленное «Rain».

    Я с жизнью бодаюсь: бьюсь лбом в неприступные стены,
    Карабкаюсь вверх, понапрасну мозоли кровя…
    Толкает Led Zeppelin — вечная «Stairway To Heaven»
    Ковровую лестницу стелет и манит, под небо зовя…

    Black Sabbath блистает металлом на rock-сталеварне,
    Metallica мечет бесценный булатный прокат.
    Гигант «Iron Man» — брэнд возмездия — враг мирозданья:
    «To Live Is To Die…» — колоколит загробный набат…

    К «Иуде-Священнику» мольбы свои адресую:
    Где «вести благие»? Где ангелы — те, что с небес?
    И вот — Judas Priest посылает мне Ангела всуе —
    И «Angel» звучит, протрубив благолепную весть…

    Победу над тупостью Uriah Heep заказали…
    «Conquest»! На Парнас! Мне друзья подставляют плечо.
    А глупые «Fools» тьму и свет неразрывно связали,
    Но — реет в ночи, освещает нам путь «Светлячок».

    Вот занавес пал. Тишину распороли гитары:
    «The Show Must Go On»! — вырывается жизнь из узды…
    Queen с «Федей Ртутным» мне шлют королевский подарок:
    В «Богемской Рапсодии» — луч путеводной звезды…

    Santana и Scorpions, Rainbow и Nazareth, Geordie —
    Все — Ангелы Музыки — скрасили серую жизнь…
    Не вянут! Растут! Расцветают на Rock-огороде,
    Их надо дослушать! И песнями Их дорожить!..
  {% endfilter %}
{% endblock %}
