{% extends template %}

{% set title = "Лабиринт" %}
{% set pubdate = "13.12.2011" %}

{% block content %}
  {% filter poem %}
    Поскитаюсь в лабиринтах своей памяти,
    Вспомню давнее — оплывшая свеча…
    Настоящее чуть тлеет, как на паперти,
    Но не гаснет — согревает, трепеща…

    Забреду — куда поглубже. Свет ли, темень ли —
    Непонятно, где начало, где конец…
    Мысли мечутся толпою возле темени,
    Будто стадо заблудившихся овец.

    Лабиринт: туда вошёл — не факт, что выйдешь ты,
    Можно раз и навсегда — попасть в тупик…
    Где дорога?.. — Пол кривой, следами вышитый…
    Здесь нельзя остановиться ни на миг…

    Заплетаются извилины заросшие,
    Через вход хотя бы выйти — побыстрей…
    Но надолго заплутал в корявой роще я —
    В мире стен без потолков и без дверей.

    Наши мысли очень редко ладно скроены,
    Часто с чувствами не вяжутся совсем —
    В лабиринте стылой жизни похоронены
    И затеряны в глуши змеиных стен.

    Заплутав, от страха мёрзнем ли, потеем ли,
    Ищем выход, непутёвые, всю жизнь…
    Больно мысли роем жалят в область темени —
    Впору голову на плаху положить.

    Но вернусь! Черчу, по стенке пальцем следуя,
    Жизни линию — обратный путь далёк,
    Но — надёжен… И предчувствую победу я
    Над зигзагом лабиринтовых дорог…
  {% endfilter %}
{% endblock %}
