{% extends template %}

{% set title = "Ода «малышу»" %}
{% set pubdate = "13.12.2011" %}
{% set next = "sangry-ya/phil-1" %}

{% block preface %}
  <p class="art__dedic">Гимн «Бекасу» и другим самолётикам с авиахимработ</p>
{% endblock %}

{% block content %}
  {% filter poem %}
    Мне досадно: не вышел размахом,
    И другие размеры — не те…
    Обречён я с предательским страхом
    На сверхмалой «порхать» высоте…

    Над полями с пшеницей и рожью
    Кувыркаюсь, как рыбка в воде.
    Я — не трактор. И мне невозможно
    Хоть на миг замереть в борозде.

    Я — не лебедь, а гадкий утёнок:
    Выцвел нос, облупились бока.
    Опостылел мне «лётчик с пелёнок» —
    «Залетал» меня, как ишака…

    А по рангам летающей братии
    Я — в «корнетах» (то бишь — в «юнкерах»).
    На меня комплименты не тратили
    Те — «витающие в облаках».

    Это — птицы высокого лёта —
    Отливают меж звёзд серебром.
    Средь «орлов» я — простая «пехота»,
    Что катает свой Сизифов ком.

    Под крылом плачет росное утро.
    Здесь я бог! Нет владыки сильней!
    Гон за гоном — ныряю я круто
    В живописную зелень полей.

    Ждут поля своего Айболита,
    Что излечит и плесень, и гниль.
    «Проутюжу» от всех паразитов,
    Рассыпая целебную пыль.

    «Накрываю» озимые всходы —
    Их, родимых, люблю и кормлю.
    Отрастут по канонам природы —
    Я им двигателем подпою.

    Я сражаюсь! С клопом-черепашкой,
    С тлёй-личинкой и кузькой-жуком;
    Пусть с врагом не схожусь в рукопашной —
    Здесь борьба! Чтобы хлеб — в каждый дом!

    Пусть в груди у меня ритмом сердца
    Не стучать каблучкам стюардесс…
    Мы с пилотом, что смотрит сквозь дверцу,
    Донесём свой химический крест.

    Пусть кручусь от темна до темна я,
    Пусть не светит мне высь бирюзой…
    Я горжусь! Что так низко летаю
    Над кормилицей мамой-землёй…
  {% endfilter %}
{% endblock %}
