{% extends template %}

{% set title = "Порог 1999" %}
{% set pubdate = "10.01.2012" %}

{% block content %}
  {% filter poem %}
    Из глубин пронёсшихся столетий,
    С паутины вечностных дорог
    Не второй, не первый и не третий —
    Двадцать Первый рвётся на порог!

    От лучины — до лучей неона,
    От костра — до атомной войны,
    С каланчи — до «сототелефона»,
    До сирен — от мёртвой тишины,

    От копья — и до шальной ракеты,
    С древней лодки — и до корабля,
    До автомобиля — от кареты,
    С каменной «валюты» — до рубля, —

    Растеклась, цветной кометой брызнув,
    Где — горячая, а где-то — холодна —
    Млечная река под лодкой жизни —
    Без истока, и без устья, и без дна…

    Дождь столетий бегло канул в Лету,
    Заметался дней водоворот,
    Закрутил, как мелкую монету,
    И — швырнул «орлом» последний год…
  {% endfilter %}
{% endblock %}
