{% extends template %}

{% set title = "Тени" %}
{% set pubdate = "10.01.2012" %}

{% block content %}
  {% filter poem %}
    Ползут позади нас тени,
    Суть — «чёрные ящики» душ…
    Скользят по асфальту, стенам,
    Купаются в зеркале луж…

    И свет, очертив фактуры,
    Низложит их в плоскую тень;
    Как в чёрную масть — фигура —
    Падёт, словно в тире, мишень.

    «Под траур» — гравюра жизни —
    Сокрытого мрачная сень,
    Их «цвет», что разломлен призмой,
    Вмещает зловещую тень…

    На Солнце пятно: blackout!
    Иссякла энергия лет!
    Земле — световой нокаут:
    Здесь Тень, разложившая Свет.

    Чернь дёгтя в бочонке мёда —
    Есть вкуса отменного тень…
    Безумная в гневе природа
    Зашторила солнечный день.

    Рассвета искра истлела
    В бессилии тьму превозмочь —
    Свой Суд над Душой и Телом
    Вершит бесноватая ночь…

    Смерть — изваяние жизни —
    Шлёт осень — изнанка весны.
    Тень… От рожденья — до тризны.
    Всё — тени… Реальные сны.
  {% endfilter %}
{% endblock %}
