{% extends template %}

{% set title = "Сорок восемь" %}
{% set pubdate = "10.01.2012" %}

{% block content %}
  {% filter poem %}
    Я по жизни летел, кое-что не успев,
    Не пошёл, нахлебавшись, ко дну…
    Покружился — и сел, поредев, поседев, —
    В свою сорок восьмую весну…

    И мольберт затрещал, и поблёкла палитра,
    Краски жизни подёрнулись дымкой…
    Мне б на каждый годок — свежей гаммы пол-литра,
    Чтоб не стать под конец невидимкой…

    Сколько лет, сколько вёсен, друзей и любимых
    Провожать мне пришлось и встречать…
    Скольких нет! Те, кто есть, дефилируют мимо —
    Всё труднее меня замечать…

    Возрождается жизнь, расцветает природа,
    Заступает на вахту весна…
    Только снегом виски всё сильней год от года
    Покрывает метель-седина…

    Где же тот горизонт, за которым Нирвана?
    Сердце рвётся с душой на куски…
    Подожди меня, пап, не кори меня, мама, —
    Есть ещё той «пол-литры» мазки…

    Скоро финишный трек. Крутит годы одометр,
    Вот и топливо-страсть не горит…
    Расписная душа — пёстрой жизни барометр —
    Непогодится и барахлит…

    Сорока восьми вёрст бубенцы отзвенели,
    Только тройка, измылившись вся,
    По весне перешла на движении к цели,
    С иноходи в карьер понеся…

    Помнят руки, что в карты на жвачку играли,
    Тот причал — деревенский забор,
    Где ватага мальчишек — наш детский кораблик,
    И галдит дружный «палубный» хор:

    «Сорок восемь! — половинку просим!!!..»
  {% endfilter %}
{% endblock %}
