{% extends template %}

{% set title = "Одинокая свобода" %}
{% set pubdate = "10.01.2012" %}

{% block content %}
  {% filter poem %}
    Дискутировать как-то не хочется,
    Что, мол, «вышли мы все из народа» —
    Разрубив кандалы одиночества,
    Обрели наконец-то «свободу»…

    Я не верю ни в рок, ни в пророчества,
    И «свободу» — считаю за мистику…
    Черноокая мгла одиночества —
    Моя мрачная характеристика…

    Бьюсь всю жизнь за «свободное творчество»,
    В синяках, как в печатях признания…
    И в «свободное одиночество»
    Опускаюсь, как в дальнее плаванье.

    Это плаванье-пытка — на годы!
    Хейердал и Сенкевич — не врут!
    По волнам одинокой свободы
    Не пройти кругосветный маршрут…
  {% endfilter %}
{% endblock %}
