{% extends template %}

{% set title = "Шаг 7. Своё" %}
{% set pubdate = "20.11.2011" %}

{% block content %}
  {% filter poem %}
    Не ищите своё одиночество,
    Оно в вас замерло по углам.
    И не верьте чужому пророчеству
    И фальшивым, но красочным снам.
    Но — своим.

    Не считайте небесные звёздочки.
    Это — вы: без конца и числа.
    И в душе на запыленной полочке
    Одиноко сияет Звезда.
    Но — своя.

    И не думайте, что не узнаете
    Вы себя, избегая других.
    Чёрно-белое соло играете,
    Но не в такт, мимо нот, не для них.
    Но — своё.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2004">2004</time>
{% endblock %}
