{% extends template %}

{% set title = "Шаг 22. Поэту Серебряного века" %}
{% set pubdate = "20.11.2011" %}

{% block content %}
  {% filter poem %}
    С тех пор, когда берёзы
    Роняли нежно слёзы,
    Прошло сто лет, но грусти нет
    В миноре лакримозы.

    Глагол застывших уст.
    Мир отсырел и пуст.
    Рождён поэт, но силы нет…
    Лишь слышен рифмы хруст.

    С тех пор, когда рябины
    Зажглись огнём Марины,
    Я вижу свет, и воли нет,
    И снятся мандарины…

    Поэтам Серебра —
    Цветы, икра, ура!
    То был рассвет, и страха нет,
    И дышится с утра!

    С тех пор, когда берёзы
    Роняли нежно слёзы,
    Прошло сто лет, но боли нет,
    И не засохли розы…
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2006">2006</time>
{% endblock %}
