{% extends template %}

{% set title = "Шаг 25. Послание стиху" %}
{% set pubdate = "20.11.2011" %}
{% set next = "alra/poem-1" %}

{% block content %}
  {% filter poem %}
    Лейся, мой стих, выпестовывай песню!
    Будь сутью мира: сложно-простым!
    Будь музыкальным! Будь интересным!
    И — не банальным! И — не больным!

    Бей прямо в лоб! Будь чётко продуманным!
    Взвей звуков столп средь циклических стоп!
    Где-то с улыбкой, а где-то нахмуренным
    Будь! Структурируй свой хронотоп!

    Стихотворение — тихо… Творение!
    Места науке в нём вроде бы нет!
    Только (вот скука!) стих — сам наука!
    Миророждение! Жизни букет!

    Лейся же, стих, под поэта рукою!
    В сущности Творчества — вечности миг.
    Вверен талант стихотворца Судьбою…
    Я жив тобою! Лейся, мой стих!
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2007">2007</time>
{% endblock %}
