{% extends template %}

{% set title = "Шаг 18. Всё" %}
{% set pubdate = "20.11.2011" %}

{% block content %}
  {% filter poem %}
    А небо всё покрылось серой краской,
    Таинственный осенний небосвод.
    Про солнце позабыли, тухнут ласки
    Лучей слепящих — умер хоровод…

    Колодцы глаз — в них тонут все сомненья,
    Но не испить из них. Тот терпкий привкус слёз
    Напомнит о величии мгновенья
    И заберёт туда, где слышен стук колёс.

    Несётся вдаль под странным серым небом
    Забытый всеми поезд в Никуда.
    И зёрнышко — застывшим чёрствым хлебом…
    И испарится в небо вся вода,

    И вновь родится, озарившись светом,
    За облаками — выше всех вершин.
    Низвергнется, чтоб стать святым обетом
    Для тех, кем правит гордый херувим.

    По старым шпалам, позабыв про ноги
    Босые, оставляя кровью след,
    Мы добежим, увидим все дороги
    И метроном судьбы услышим вслед.

    Куда ведут они? Ответ летит над нами.
    За серой пеленою прячет взгляд…
    Настанет время — всё узнаем сами.
    Но будет поздно повернуть назад…
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2005">2005</time>
{% endblock %}
