{% extends template %}

{% set title = "Шаг 12. Каждый сам выбирает свой Путь и свой флаг…" %}
{% set pubdate = "20.11.2011" %}

{% block content %}
  {% filter poem %}
    Каждый сам выбирает свой Путь и свой флаг,
    Каждый сам выставляет счета за ошибки.
    Был я другом тебе, а теперь просто — враг.
    Средоточие боли — гримаса улыбки.

    Отрицая всё то, что велели ценить,
    Заставляя себя балансировать ровно,
    Мы с годами теряем способность любить,
    Забываем друзей, умираем духовно.

    Это чувствует каждый с младенческих лет.
    Но боится признаться, сорвав с лица маску.
    Я хотел бы предвидеть то, чего нет,
    Но, увы, лишь прищурился глупо, с опаской.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2008">2008</time>
{% endblock %}
