{% extends template %}

{% set title = "Шаг 1. Исповедь" %}
{% set pubdate = "20.11.2011" %}
{% set prev = "decadent/flags" %}

{% block content %}
  {% filter poem %}
    {{notelink("<q class=\"page__cite\">Я не ищу пред небом оправданья</q>", 1)}}
    За те грехи, что прячут по углам.
    В дурмане жизни отдан на закланье,
    Я превращаюсь в позабытый хлам.

    Я трудную дорогу выбираю,
    Куда идти и с кем свой кров делить.
    При виде смерти я не замираю —
    Зачем о неизбежном слёзы лить?

    Мой Путь тернист, и на душе тревожно.
    Мой Свет — Твой взгляд в застывшей хищно Тьме.
    Я сделаю возможным невозможно,
    Но люди и не вспомнят обо мне…

    Я не молю о славе повсеместно,
    Я не прошу даров из рук чужих,
    Но только буду рад, признаюсь честно,
    Когда меня заменит мой же Стих!
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2005">2005</time>
{% endblock %}

{% block notes %}
  [Строка] принадлежит <cite class="page__cite-author">поэту и музыканту Сергею Калугину</cite>.
{% endblock %}
