{% extends template %}

{% set title = "Шаг 23. «C»" %}
{% set pubdate = "20.11.2011" %}

{% block content %}
  {% filter poem %}
    Крылья свободы — написано всё,
    Сказано, выпито, съедено.
    В нынешний век нелегко отыскать
    Тропы «свободоведения»…

    Ветер и небо, морские края —
    Искренне, просто, банально ли?
    Каждый пытается выразить «я»
    В области «C», но реально ли?

    Предрасположено Богом-отцом,
    Создано, сосредоточено.
    Кто-то когда-то планировал нас,
    В будущем — «дом» заколоченный…

    Люди кидаются в омуты лжи,
    «Я» своё ищут; бросаются,
    Словно снежки, пустозвонно слова
    С целью подняться, понравиться…

    Только вот нет, как и раньше, нигде
    Этой Свободы таинственной.
    Стоит ли плакать, страдать и искать?
    Жизнь посвящать ей единственной?

    Мы не найдём свою «C» никогда.
    Муза сама улетучится…
    Чувство Свободы и заданный мир —
    Вместе, увы, не получится…
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2004">2004</time>
{% endblock %}
