{% extends template %}

{% set title = "Шаг 14. Взорвалось Небо мокрым градом…" %}
{% set pubdate = "20.11.2011" %}

{% block content %}
  {% filter poem %}
    Взорвалось Небо мокрым градом…
    Декабрь всё ближе. У окна
    Я провожаю грустным взглядом
    Свои прошедшие года…

    Уходит осень золотая.
    Унылый дождь. Свет тусклый бра.
    На стенах тени. В сердце тают
    Снежинки цвета серебра.

    Волной накатывает нежность.
    Печаль светла. Почиет мгла.
    В душе — покой, любви безбрежность.
    Преддверье счастья — чудо сна…

    В нём — тайна вечного Загранья.
    В нём — вздох осенней Красоты.
    В нём — радость первого свиданья.
    В нём — снова вместе я и…
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2008">2008</time>
{% endblock %}
