{% extends template %}

{% set title = "Шаг 24. Живу в своём унылом теля я…" %}
{% set pubdate = "20.11.2011" %}

{% block content %}
  {% filter poem %}
    Живу в своём унылом теле я:
    Болезненном, невечном, ненадёжном.
    Как страждет сбросить груз душа моя!
    Но обрести свободу невозможно

    Без шага в Вечность — зол её оскал.
    Для созидания страшно{{ acute }} удушье.
    О, сколько обошёл я! Не сыскал
    Того, чей Путь — спасенье от бездушья…
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2010">2010</time>
{% endblock %}
