{% extends template %}

{% set title = "Шаг 9. Ангел" %}
{% set pubdate = "20.11.2011" %}

{% block content %}
  {% filter poem %}
    Я знаю, ты помнишь, как плавилось Небо, свинцово-тягучее…
    Я знаю, ты видел остывшим вулканом застывший на памяти Сон…
    И будто всё знал и свой век доживал ты, и тёмные тучи и
    Тяжёлые волны метались; и в Небе кружились голодные стаи ворон…

    Я знаю, ты думал, что рухнула жизнь в Безвозвратное…
    Я знаю, ты пал на колени и криком потряс суть Времён…
    И Ангел явился — знамением света, объяв Необъятное…
    И знаком Любви осенил и ладонь протянул тебе Он…

    Я знаю, ты плакал, и рушились своды хрустальные…
    Я знаю, ты понял, где Мрак, где Свобода твоя…
    И вспыхнуло сердце, и Ангел ушёл в Беспечальное…
    Я знаю, поверь, я всё знаю, ведь Ангел тот — Я!
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2007">2007</time>
{% endblock %}
