{% extends template %}

{% set title = "Шаг 5. Непознанному…" %}
{% set pubdate = "20.11.2011" %}

{% block content %}
  {% filter poem %}
    Хаотичному внимая,
    Вижу профиль Бытия.
    И, как пуля, попадаю
    В сердце трепетное я.
    Перемолота душонка,
    Из страстей дымит тушёнка,
    И взмывает тарантелла
    Выше ночи, ниже дня.
    Рвусь на части, ломит тело,
    Я — отважный, самый смелый.
    Ах, любимая моя!
    Ах, любимая моя!

    Расскажи про тайну Чувства.
    Я — Хранитель,
    Ты — Искусство.
    Распознай и раз за разом
    Режь, низвергнув в Волшебство.
    На волне тугой экстаза
    Я спасён и я наказан.
    И любовь, как метастазы,
    Проникает в Естество.
    Проникает в Естество.

    Страх надломленных пределов,
    Перекрашен Чёрный в Белый.
    Биполярность вечной пляски
    В триединстве Тишины.
    Ты есть Суть покорной стали.
    Не дождались. Растеряли.
    Долго мы тебя искали,
    Но остались только Сны.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2006">2006</time>
{% endblock %}
