{% extends template %}

{% set title = "Шаг 17. Грустный кисёнок" %}
{% set pubdate = "20.11.2011" %}

{% block content %}
  {% filter poem %}
    Маленький кисёночек весь дрожит от холода,
    Осени и голода, ветра и дождя.
    Кошечки ребёночек, одинокий смолоду,
    Тихонько мяукает, глядя на меня.

    Тёпленький комочек мой (шёрстка чёрно-белая)!
    Я тебя, несчастного, бросить не смогу!
    От волшбы Ненастного (в бурю оголтелую!)
    Я тебя, кисёночек милый, сберегу!

    Осень льёт, безумная, слёзы в мир заброшенный,
    Я несу за пазухой — Жизнь и Теплоту.
    Грустного кисёночка назову Алёшей я —
    Верой в Счастье выстелю Путь сквозь Пустоту…
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2009">2009</time>
{% endblock %}
