{% extends template %}

{% set title = "Шаг 10. Умирало солнце" %}
{% set pubdate = "20.11.2011" %}

{% block content %}
  {% filter poem %}
    Выжигало солнце
    На душе узоры,
    На душе узоры
    Вязью золотой.
    Билось об оконце
    В сердце наше солнце,
    В сердце наше солнце
    Плакало порой.

    Растрепало солнце
    По дороге кудри,
    По дороге кудри —
    Тихий, долгий путь.
    Мчалось окаянное,
    Яркое и пьяное,
    Яркое и пьяное
    Не могло свернуть.

    Разрывало солнце
    На осколки небо,
    На осколки небо,
    Грело на Земле.
    Было странным, вечным,
    Даже человечным,
    Даже человечным,
    Будто в детском сне.

    Убежало солнце,
    Не найдя ответа,
    Не найдя ответа —
    Вдаль за горизонт.
    Умирало солнце,
    Чтобы вновь родиться,
    Чтобы вновь вернуться
    В свой далёкий дом!
  {% endfilter %}
{% endblock %}
