{% extends template %}

{% set title = "Народ, взятка и власть" %}
{% set pubdate = "09.06.2012" %}

{% block content %}
  {% filter prose %}
    Приходит народ наш взятку дать власти, а ему говорят: не взятка енто теперь, пройдите в кассу, оплатите 50 тыщ евро за банкротство, а там вам и чек кассовый, и всё остальное вплоть до пи..дюлей выдадуть. Ну вот, пошёл он и оплатил, а касса — енто же ведь теперь в казну, вроде как для народа, ну, типа, в бюджет же.
    То есть что тогда получается: народ пришёл, дал взятку, получил что хотел, а потом через бюджет, который вроде как для народа, своё же бабло и получил совершенно легально и по закону обратно, тогда нужно пошлину на гособналичку ввести.
  {% endfilter %}
{% endblock %}
