{% extends template %}

{% set title = "Гармония" %}
{% set pubdate = "09.06.2012" %}

{% block content %}
  {% filter prose %}
    Один человек сказал мне перед самоубийством: «У меня пропал интерес к людям, но не пропал интерес к жизни, который порождает много размышлений о смерти, то есть как раз именно противоположности той самой жизни. Это и есть гармония — жить и думать о смерти, творить и думать о бездействии, любить и думать о расставании, обретать и думать о потере, это крайности, которые постоянно в состоянии борьбы, то есть перевеса, как на весах, а это и есть гармония. Как только этого не станет, наступит конец. Конец миру, так как всё завязано на гармонии и противовесе одного другому.
    Нельзя винить человека, делающего зло, и так же нельзя хвалить того, кто сделал добро, но если хвалим, то уж надо журить того, кто шкодит, ведь тем самым мы принимаем участие в совершенствовании гармонии. Но возникает вопрос: делая те или иные вещи, как поступаем мы сами, хорошо или плохо? Никто не знает, как только узнает, то вопрос отпадёт, а значит, отпадёт и потребность делать что-то хорошее и не очень. И снова мы приходим к гармонии. Если мыслить логически, то как ни крути, но все дороги ведут к гармонии. Вывод — любите мир таким, каков он есть». Потом он выстрелил себе в рот, а я в размышлении ушёл прочь.
  {% endfilter %}
{% endblock %}
