{% extends template %}

{% set title = "О красоте внешней" %}
{% set pubdate = "09.06.2012" %}

{% block content %}
  {% filter prose %}
    Как-то 22-летний парень мне говорит: «Ты такой красивый, классный, стройный, не то что я, сутулый, живот висит, никому не нравлюсь, никому не нужен, а у тебя вон куча поклонниц, просто разрывают тебя». И задумался я о том, почему так, откуда такая несправедливость, ну почему же у одного — все достатки, а другой сам целиком и полностью — одно ходячее недоразумение. И постепенно начал приходить к выводу, что он сам-то и виноват в этом. Всё ведь так просто. Ухаживать-то за собой никто не отменял, а я не так уж и красив, просто не ленился заниматься спортом, ходить в солярий и, что самое важное, ухаживать за собой, ведь ухоженность есть более интересное дело, чем природная красота.
    Крастота требует очень больших усилий. Человек не рождается прямым или кривым, он это приобретает впоследствии. Расправь плечи, выправи спину, следи за походкой, жестами, шеей, постоянно, каждую секунду, ни на миг не расслабляйся, и тогда всё получится. Даже когда один, со временем научишься не расслабляться, даже мало того, что научишься, ещё будешь получать от этого своеобразное удовольствие. Красивым нужно быть не только на людях внешне, но и внутренне и наедине с самим собой. Мало одних физических данных, нужно ещё быть выхоленным и ухоженным. Не позволять себе ходить в грязном и безвкусном. Ни в коем случае нельзя допускать вонючих носков, грязных и нестриженных ногтей, неухоженной причёски и дешёвой туалетной воды, лучше уж водкой намазаться, хотя сейчас куча магазинов, куда можно всегда зайти и воспользоваться пробниками, на крайний случай. Красота любит нас, когда мы ухаживаем за ней, а иначе она просто уйдёт, подобно женщине.
  {% endfilter %}
{% endblock %}
