{% extends template %}

{% set title = "Счастье" %}
{% set pubdate = "09.06.2012" %}
{% set prev = "peugeot93/thoughts" %}

{% block content %}
  {% filter prose %}
    Когда один, с ума сходишь от недостатка внимания, тепла и потому холодный и чёрствый становишься. Когда оказываешься в чьей-то тёплой постели, окружённый вниманием, теплом, заботой, становишься горячим и мягким, но понимаешь, что это не та постель, в которой желаешь быть, что это не тот человек, которому хотел бы дарить это тепло, и одно другим начинает компенсироваться, и итог — результат ноль.
    Когда я был женат, был счастлив, так как имел возможность дарить себя, жить чувствами, наслаждаться гармонией, которую постоянно приходилось подпитывать заботой, вниманием и радостью. Но, как ещё Соломон сказал, а он был мудрый мужик, всё проходит, прошло и это мнимое счастье, как только нарушилась гармония, но потребность в тепле, любви, заботе, уюте — она не проходит никогда, лишь затухает на время, когда мы ей наслаждаемся. Каждый хочет, чтобы его любили так, как он этого хочет, это понимает, чувствует и видит, и вот когда у двоих это совпадает, это и является исключением из слов Соломона, а исключения везде имеют место. Я просто хочу обычного человеческого счастья и чтобы меня любили не за что-то, а просто так.
  {% endfilter %}
{% endblock %}
