{% extends template %}

{% set title = "Бескорыстность" %}
{% set pubdate = "09.06.2012" %}

{% block content %}
  {% filter prose %}
    Однажды были серьёзные проблемы с деньгами. Шёл по улице и ломал голову, что делать дальше. В кармане позвякивали последние 12 рублей, как раз буханка хлеба. И в очередном проходняке увидел бабулю, ковыряющуюся в мусорном контейнере. Остановился, достал 12 рублей, подошёл к ней и отдал. Потом, пройдя минут пять-десять, подумал о том, зачем я это сделал. Ведь отдал последнее, зачем же? А вот порыв, интуиция, как хотите называйте. Вот почувствовал, что надо, и отдал. Мне, наверное, за это теперь что-то хорошее будет, думал я, идя дальше, Бог — он, наверное, вознаградит, какой же я классный.
    И незаметно пришёл к той мысли, что сделал-то я это вовсе не бескорыстно, если думаю такие вещи, а значит, и смысла не было в этом добре. Но нет же, вовсе нет. Ведь в тот момент, когда отдавал, испытывал именно этот самый порыв настоящности, искренности, именно хотелось отдать это последнее, и при этом испытывал искренние эмоции, а значит, сделано это было искренне, а то, что думал потом, — это уже анализ.
  {% endfilter %}
{% endblock %}
