{% extends template %}

{% set title = "Незнакомка" %}
{% set pubdate = "09.06.2012" %}

{% block content %}
  {% filter prose %}
    В конце 90-х произошёл один случай. Приехал с тремя друзьями в город N, мы сделали все дела и заехали в кабак на центральной улице. В ЦУМе, кажется, была пиццерия, тогда это было неким новшеством, а по соседству — бар с вкусным пивом, он там и сейчас, кажется, есть.
    Мы взяли пива, пиццу, сидели, пили, ели и общались, было обеденное время, часов 12 дня примерно, может, чуть больше. Через столик сидела девушка. У неё на столе стоял один-единственный бокал пива, который она очень быстро выпила. Когда в бокале осталось уже совсем немного, я подошёл к барной стойке и заказал ещё два бокала, а официанта попросил отнести их за её стол и поставить один к ней, а другой, напротив, на её же столе.
    Разумеется, она поинтересовалась у официанта о происходящем, он, соответственно, указал на меня со словами: «Всё оплачено». В этот самый момент мы с ней смотрели друг другу в глаза, и когда я отвёл взгляд, возникло ощущение, что моя душа снова вернулась в тело. Это было как какой-то выпад из реальности. Очень необычное ощущение.
    Далее не было никаких жестов и никаких слов. Я сказал своим парням, чтобы они ехали без меня, а я остаюсь, и направился к ней. Сел напротив, и мы пили это пиво и просто смотрели друг на друга. Когда всё выпили, я спросил, как её зовут, а она ответила, что это не важно, и спросила, куда мы пойдём. «На край света», — сказал я. Мы встали и пошли. Прошли метров сто, сняли номер в гостинице «Центральная», что на Красной площади, и занялись прямо со входа там таким сексом, мысль о котором меня до сих пор уносит в тот день, в тот взгляд, когда мы смотрели друг на друга с пивом.
    Я впервые тогда ласкал женщину и совсем ни о чём не думал, всё ушло куда-то далеко и в сравнении с происходящим казалось каким-то банальным, не имеющим права на существование бредом. Не было её и меня, не было секса, не было пошлости и разврата. Хотя происходило всё, что кто-то даже извращением обозвал бы, было умиротворённое блаженство, я впервые понял, что значит слиться в одно целое. Никогда и нигде я больше подобного не испытывал.
    Я вспоминаю её постоянно, я очень хотел бы её найти, но всё, что я о ней знаю, — это то, что её зовут Оля, что она уже тогда была замужем, муж изменял ей, а на тот момент был в командировке, и одета она была в джинсовый брючный костюмчик. Такие встречи случаются один раз в жизни, и их нельзя упускать. Мне кажется, это была встреча с судьбой, именно с той самой единственной моей женщиной. А я её отпустил.
  {% endfilter %}
{% endblock %}
