{% extends template %}

{% set title = "Одежда" %}
{% set pubdate = "09.06.2012" %}

{% block content %}
  {% filter prose %}
    Обычная чёрная шапочка из тонкой ткани. Все говорят, что она мне очень идёт, хотя они и говорят, что мне идет всё, как подлецу, но эта шапочка, похожая на презерватив немного большего размера, натянутый на член негра, особенно к лицу. Только ведь у нас же люди ещё не все совок пережили, а кто-то и вовсе никогда не переживёт.
    Заходишь в клуб, а тебя просят снять шапку и, что самое интересное, просят снять куртку, а порой говорят, что она грязная, а она ведь на самом деле ручной работы, закос под байкерскую, эксклюзив, так сказать. Ну как можно просить снять человека имиджевую вещь? Это часть меня на сегодняшний день. Прихожу в стрип-бар, а меня просят снять эту шапочку и эту куртку, ну это же полный звиздец. Стоят два колхозника-охранника в дешёвых мятых костюмах и говорят, чтобы снял. Куда мы катимся?!
  {% endfilter %}
{% endblock %}
