{% extends template %}

{% set title = "Руслан Лукьянов" %}
{% set pubdate = "13.01.2012" %}
{% set contact = "mailto:ruslanlukianov@yandex.ru" %}
{% set prev = "rk/index" %}
{% set next = "lanadar/index" %}
{% set openGraphImg = "peugeot93.jpg" %}
{% set openGraphImgType = "image/jpeg" %}
{% set openGraphImgWidth = 600 %}
{% set openGraphImgHeight = 888 %}
{% set openGraphImgAlt = "Портрет автора" %}
{% set gender = "male" %}
{% set biographyHeading = "Об авторе" %}

{% block toc %}
  <h2 class="art__subtitle">Стихотворения</h2>
  <h3 class="page__toc-title">Утро вечера мудрёнее</h3>
  {{ worksCollection("morning") }}

  <h2 class="art__subtitle">Малая проза</h2>
  <ul class="page__toc toc">
    <li class="toc__item">
      <a class="toc__link" href="/peugeot93/thoughts.html">
        Мысли и афоризмы
      </a>
    </li>
  </ul>

  <h3 class="page__toc-title">Про…</h3>
  {{ worksCollection("about") }}
{% endblock %}

{% block biography %}
  {% filter prose %}
    Лукьянов Руслан Валерьевич.
    Писатель, поэт, киноактёр.
    Родился 12 октября 1979 года в городе Щигры Курской области. Родители — педагоги, папа, Валерий Ильич, — резчик-краснодеревщик и мама, Надежда Ивановна, — педагог-хореограф, с раннего детства таскали на свои занятия, прививая ребёнку любовь к искусству и подарив тем самым к более зрелому возрасту возможность определиться с профессией в жизни.
    Первые стихи поэт написал в весьма необычной ситуации. В 1995 году шёл выпускной экзамен по русскому языку, задание — изложение с элементами сочинения. Руслан сидел и ломал голову полтора урока, а за 15 минут до окончания написал стихотворение по теме, размером в несколько страниц. Учитель оценил его первое творчество на 5/1, где 5 — за изложение, а 1 — за грамматику.
    В 98-м, окончив медицинский колледж, он уезжает в Питер, оканчивает военное училище и подписывает контракт, но через год уходит в запас в связи с ранением. После возвращается на родину в Щигры и спустя несколько лет возвращается в Петербург. Работает в банке и параллельно получает профессию экономиста. Все эти годы пишет много стихов, но никак не может освоить азы написания прозы, мечтая в будущем написать книгу. В то же время он попал и на свой первый проект на ТВ под названием «Горькая правда». Блестяще справился со своей первой ролью, после чего было ещё несколько ролей в шоу-проектах, а потом затишье в съёмках на пару лет, после которого наступил новый, более серьёзный и плодотворный, период в его творческой жизни.
    В 2009 был очень переломный момент в жизни актёра, и он провёл четыре долгих месяца в монастыре. После, немного оправившись, Руслан ушёл с головой в съёмки и также в тот год написал множество стихотворений, высказываний и афоризмов. А 2010 год для него заканчивается в Карельских лесах, где он провёл почти 3 месяца и вёл дневник, на основе которого написал эссе под названием «Железнодорожниковый лес», с которого, собственно, и началось написание им прозы и которое вошло в его первую книгу «Утро вечера мудрёнее». После возвращения он бросает курить и многое меняет в своей жизни. Немного позднее издаётся совместный, с другом и соавтором Всеволодом Нелюбовым, сборник стихотворений под названием «Коллаж 50%50».
    Сейчас Руслан много работает на съёмочной площадке и готовит к изданию новые книги.
  {% endfilter %}

  {{ authorLinks([
    "//ruslanlukianov.narod.ru",
    "//stihi.ru/avtor/peugeot93"
  ]) }}

  {{ figure("peugeot93.jpg", "Руслан Лукьянов", "", openGraphImgWidth, openGraphImgHeight) }}
{% endblock %}
