{% extends template %}

{% set title = "Родина на колёсах" %}
{% set pubdate = "13.01.2012" %}
{% set workplace = "Россия" %}

{% block content %}
  {% filter poem %}
    Дом старый, ветхий, чуть живой,
    У дома джип стоит со ржой от соли,
    С селом сливаясь авто-красотой,
    В лучах играет блеском полироли.

    В соседнем доме, что с трубой,
    Стоящем километра в два отсюда
    (Тоже старый, ветхий, чуть живой),
    Изводит бабку осенняя простуда.

    Болото, снова лес, канал с бетоном,
    И снова дом, без крыши, но с трубой.
    В нём ветер безмятежно вечным стоном,
    Неспешно жизнь уводит за собой.

    Мужик валяется какой-то, пьяный, видно,
    На той тропе, что ранее была дорогой,
    Теперь же трассою назвать её постыдно —
    Она ведь стала совсем разбитой и убогой.

    И вдруг взор радует цветное что-то,
    Что за последних долгих километров -цать,
    Как мечта далёкая из той деревни идиота,
    Вышка ТВ в тумане будет иногда мерцать.

    Дым за холмом, забор зелёный и столбы,
    Деревья, листья жёлтые валяются везде,
    Вон ходит кто-то и пытается найти грибы
    В той засранной людьми и временем среде.

    Таким из поезда увидел я сегодня край,
    Который родиной учили в школе называть.
    Что ни дом — то убогий обязательно сарай,
    Что ни мужик — то матом хочет чью-то мать.

    Ты, мчась куда-то в торопях тревожно,
    Лишь краем глаза успеваешь созерцать
    Всё то прекрасное, что очень осторожно
    Хранишь, чтоб никогда не растерять.

    Хранишь, не понимая, для чего всё это,
    Зачем хранение чего-то Бог позволил,
    Из вечности ведь нет обратного билета,
    И всё, что ты берёг, лишь опозорил.

    А ведь иначе в юности всё мнилось,
    Казалось, что всё будет лучше впереди,
    Но чудо ликом светлым так и не явилось,
    И промахов печальных тьма осталась позади.

    Порой их хочется все разом разрулить,
    Не так уж это сделать тяжело и сложно.
    А может, просто взять всё — и забыть?!
    Хотя забыть совсем всё невозможно.

    Что делать? Ведь нельзя без смысла,
    Ведь без него не хочется творить,
    Жизнь словно на краю крутом повисла,
    А мне так хочется кого-нибудь любить!
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2011">2011, {{ workplace }}</time>
{% endblock %}
