{% extends template %}

{% set title = "Купе" %}
{% set pubdate = "13.01.2012" %}
{% set workplace = "Россия" %}

{% block content %}
  {% filter poem %}
    Я в паровозе как-то ехал необычно.
    Вошёл в него нормально так, прилично.
    В купе один, нет никого пока.
    Я разложился тут слегка.

    Заходят вдруг две тёти симпатявых:
    Одной за сорок, а другой — со мной на равных.
    То, как оказалось, чья-то мамка,
    А помоложе — пассия её сынка Миланка.

    Что с ними делать? Обе смотрят так стыдливо,
    При этом лишь моргая, ненавязчиво, игриво,
    Друг от друга пряча взгляд свой блядский,
    Мечтают окунуться в омут страсти адской.

    Я это вижу и, лишь робко сталкиваясь взором,
    Взгляд уводя наивно, завожу их похоти задором.
    Как я кайфую! Эйфория и страстей накал!
    Мне сложно даже описать, как их обеих ублажал.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2009">2009, {{ workplace }}</time>
{% endblock %}
