{% extends template %}

{% set title = "Гном" %}
{% set pubdate = "13.01.2012" %}
{% set workplace = "Россия" %}

{% block content %}
  {% filter poem %}
    Не так давно, во времена былые,
    Существовали гномы, добрые и злые,
    И был средь них один такой,
    С кроваво-рыжей бородой.

    Она была длиннее и пышней,
    Так как один секрет таился в ней,
    Секрет волшебный, полон чуда:
    Златые локоны виднелися оттуда.

    И если дёрнуть локон тот,
    Мечта мгновенно оживёт,
    Но чистым нужно быть душою,
    Иль горе сбудется с тобою.

    И жил тогда в стране одной
    Зверь с человеческой душой,
    Он был упрям и одинок,
    Опасен очень и жесток.

    Его боялись, презирая, все на свете:
    И взрослые, и старики, и даже дети,
    А он желал лишь одного —
    Чтобы любили искренне его.

    Он так мечтал о той одной,
    Любимой, близкой и родной,
    Чтобы себя всего ей подарить —
    И душу ей свою открыть!

    Он ненавидел жизнь порою
    И жил одною лишь мечтою,
    Во сне которой был пленён,
    Что лик звериный сбросит он.

    И серой осенью бродя отчаянно,
    Он гнома повстречал нечаянно
    И был приятно удивлён,
    Что не боится его гном.

    А гном сказал, что тоже одинок,
    Мир и к нему особенно жесток,
    Что все хотят лишь одного:
    Златых волос сорвать с него.

    Но вот пришла пора проститься,
    И гном решил ему открыться:
    «То, что сейчас ты не просил,
    Тебе уже я подарил.

    Твоя задача — удержать
    И никогда не потерять
    Вот этот волос золотой —
    И будешь счастлив ты душой.

    Не зверь ты больше, не забудь,
    На новый встал теперь ты путь,
    На путь нелёгкий, но высокий,
    Там ты не будешь одинокий».

    Зверь услыхал протяжный стон,
    И тут исчез внезапно гном.
    Зверь посмотрел на землю, ввысь —
    И вдруг понёсся, словно рысь.

    Летел, стремясь к заветной цели,
    Минуя дни и долгие недели,
    Он пролетал мимо всего,
    Вокруг не замечая никого.

    Несясь вперёд с оскалом на устах,
    Летел жестоко к цели грешной,
    И позабыв о нежности, любви, мечтах,
    Едва не утонул во тьме кромешной.

    Он мчался, но не настигал
    Того, что гном недавно нагадал.
    «Так неужели ж обманул?! —
    Он рёвом страшным протянул. —

    Злость лишь в душе и огорченье:
    За что же это всё терпеть?
    Я — бога жалкое творенье,
    Живущее, чтоб умереть».

    И мимолётно взором вдруг столкнувшись
    С улыбкой неподдельной на устах,
    Он, замерев, стоял не шелохнувшись,
    И запылал огонь в отчаянных глазах.

    И разлилось всё ярким, сочным светом,
    И жизнь раскрылась, как цветок весной,
    И словно снег, упавший с неба летом,
    Любовь пришла и принесла покой.

    Вдруг так легко на сердце стало,
    И захотелось нежно всех обнять,
    Оттаяла душа, которая страдала,
    А злой оскал улыбкой стал сиять.

    Без страха лютого стояла и смотрела
    Невинным чистым взглядом на него,
    Как зверь оттаивал, робея неумело,
    И кровожадный облик исчезал его.

    Она была прекрасна, невинна и чиста,
    Как ангел, что с небес пришёл внезапно,
    И вспомнил гнома он, и осознал, что это та,
    О ком твердил старик так непонятно.

    Из уст её теплом повеяли слова,
    Лаская сладким звуком его слух,
    И так приятно закружилась голова,
    И так нежно перехватывало дух!

    «То, что тебя, лишив уютного покоя,
    Тревожит и мешает вдоволь жить,
    Связать попробуй ты со мною,
    Меня попробуй полюбить.

    И если чувства посетят тебя,
    И ты почувствуешь желанье жить,
    Отдайся страсти ты любя,
    Чтоб ненависть и злобу позабыть».

    И речь вернулась к нему вновь,
    И стал он говорить тогда
    Слова ей не про боль и кровь —
    Про то, что он желал всегда:

    «Я, о такой всегда мечтая,
    Которая умела бы любить,
    Падал и вновь вставал, не успевая
    Даже пытаться тот обман забыть.

    Не позабыв и о прекрасном,
    Что чуть не обратилось прахом,
    Скитаясь по путям опасным,
    Я утешался лишь грехом.

    Но в тоже время я порой
    О жизни думал предстоящей,
    И так желая обрести покой,
    Не ведал я о встрече настоящей.

    Той, что лучом улыбки озарила
    Туманное моё сознанье,
    Заботою и лаской одарила
    Меня, само очарованье».

    И сделав паузу мгновенно,
    Припал к груди её навек —
    И, голову склонив смиренно,
    Молвил уже не зверь, а человек:

    «Когда-то были мы чужие,
    Не знали друг о друге ничего,
    Теперь, как люди самые родные,
    Желаем оба одного —

    Прекрасного начала той поры,
    Что начинается с колец,
    Дарующей сладкие дары,
    Переплетая судьбы двух сердец.

    Так радует и так манит,
    И душу делает светлей,
    И разум сладостно мутит
    Улыбкой ласковой твоей.

    Пусть поцелуем страстным
    Сольются губы наши враз,
    И озарят лучом прекрасным
    Любовь и красота навеки нас!»
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2006">1998&hairsp;–&hairsp;2006, {{workplace}}</time>
{% endblock %}
