{% extends template %}

{% set title = "Утратa" %}
{% set pubdate = "13.01.2012" %}
{% set workplace = "Санкт-Петербург" %}

{% block content %}
  {% filter poem %}
    Встреч наших странное с тобой начало
    Того, что породило невзаимный интерес,
    Никак собой беды такой не предвещало,
    Что кабалою оказалась, в которую залез.

    «Страсть» — поначалу мило заблуждался,
    «Влеченье» — утешал себя наивно я потом,
    Любовью сильной тот камень оказался
    И душу придавил, как в горле давит ком.

    Не видел без тебя существованья дальше,
    Сердце рвало от жгучей ревности и боли,
    Тогда к тебе припал, как ангел падший,
    Страданья поглощая, словно пуды соли.

    Ты же, болтаясь по притонам мрачным,
    Жила и растворялась в поиске дурмана
    И, яда наслаждаясь опьяненьем злачным,
    В пропасть катилась похотливого обмана.

    Любил, страдал, ждал и мирился с ложью,
    Но всякому терпенью приходит свой конец,
    С израненной душой, болея нервной дрожью,
    Тебя, заблудшую, покинуть смог я наконец.

    Сгорела молодость твоя в угаре пьяном,
    Любовь большую схоронивши навсегда,
    А ведь могла своим характером упрямым
    Рабом своим любого сделать ты тогда.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2012">2012, {{ workplace }}</time>
{% endblock %}
