{% extends template %}

{% set title = "Поэт" %}
{% set pubdate = "13.01.2012" %}
{% set workplace = "Санкт-Петербург" %}

{% block content %}
  {% filter poem %}
    Мотаясь в безмятежно адском круге
    С тоской по чистоте давно минувших дел,
    В кабак забрёл, мечтая о надёжном друге,
    Которого в тридцатник так и не имел.

    Бокал пивка и бутерброд домашний,
    Элвис что-то фоном мрачно блеет.
    На стойке бара бюст стоит уставший,
    Чем-то вечным от него немного веет.

    Лишь он один сегодня мне случайный
    Друг, собутыльник и знакомый просто.
    Нет, это не какой-то вам статуй банальный —
    Велик он был душой в свои два метра роста.

    Он, словно памятник живой, стоит и смотрит,
    Вкушая бредни мнимых гениев порочных.
    Он Маяковский, его от вас уже воротит,
    Он здесь один, похвал достойный очных.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2010">2010, {{ workplace }}</time>
{% endblock %}
