{% extends template %}

{% set title = "Лесозабор" %}
{% set pubdate = "13.01.2012" %}
{% set workplace = "деревня Лужайка" %}

{% block content %}
  {% filter poem %}
    Верхушки сосен, озеро, дорога,
    Забор длиною в километры.
    Осталось ждать совсем немного —
    Мне шепчет мягко голос ветра.

    Зима грядёт, мороз и стужа,
    Но всё ж не голод, не война.
    Потом весною снова лужи —
    И грязь таскать туда-сюда.

    Боюсь лишь молодость оставить,
    Ведь мудрость слишком быстро старит.
    Зачем быть мудрым, чтоб лукавить?!
    Нет, меня жизнь больше не ударит.

    Не допущу упасть я ниже,
    Хотя ведь некуда уже.
    В лесу, конечно, — не в Париже,
    Но ведь и мы не в Ле Бурже.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2010">2010, {{workplace}}</time>
{% endblock %}
