{% extends template %}

{% set title = "Два одиночества" %}
{% set pubdate = "13.01.2012" %}
{% set workplace = "Санкт-Петербург" %}

{% block content %}
  {% filter poem %}
    Он тихо пил какое-то дешёвое спиртное.
    Она же руль держала, слезою упиваясь,
    В уме гоняя его пророчество хмельное,
    Что одинокой бабкой сгинет, трепыхаясь.

    Не верил ей, что будут скоро перемены,
    Она же убеждать не собиралась никого.
    Он знал: пророчества его все бренны.
    Она же спать хотела — и больше ничего.

    Катились по ночной они стихии зимней,
    В беседах жарких размышляя о былом.
    Авто укрыл морозный равнодушный иней,
    Они же говорили терпеливо обо всём.

    О бытие, о космосе, картинах и вине,
    О милости, великодушии и страсти,
    О граффити, увиденных на гаража стене,
    И о несправедливости продажной власти.

    Её глаза напоминали ему детства взгляд,
    Ей же хотелось просто рядом с ним сидеть.
    Он этим встречам был всегда безумно рад.
    Если б умели, наверняка могли б дуэтом спеть.

    Он зимней ночью как-то, на мосту холодном
    Стоя, смотрел на лёд, не замечая никого.
    И с высоты моста в своём полёте гордом
    Хотел увидеть Бога, поверить чтоб в него.

    Стоял недолго, в страх с судьбой играя,
    Вниз глядя, понимал, что лишь калекой станет.
    Что при желании, своей судьбою управляя,
    Он и живым до тех небес рукой достанет.

    Согнулся, в воротник уткнувшись, кашлянул —
    И прочь с моста побрёл печальной тенью.
    «Чуть не погиб душою и телом чуть не утонул, —
    Подумал, — засравши мозг какой-то хренью».

    Мост кончился. Ступенька, зебра, поворот,
    Автомобиль затормозил со скрипом впереди.
    Поднял глаза! Она навстречу уверенно идёт.
    «Мой Бог! Я идиот, меня ты строго не суди».
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2010">2010, {{ workplace }}</time>
{% endblock %}
