{% extends template %}

{% set title = "Тоска" %}
{% set pubdate = "13.01.2012" %}
{% set workplace = "Санкт-Петербург" %}

{% block content %}
  {% filter poem %}
    Я дарю стихи тем, кто их недостоин,
    Цветами радую неверных чужих жён,
    В любви я — словно обнажённый воин,
    В оружии которого всего один патрон.

    Патрон с названием простым — тоска,
    Которая не хочет мне отдать покой
    От наслаждения любви обильного куска,
    Который где-то далеко, но всё же мой.

    Быть может, это силуэт твой, тенью вставший
    Мне на пути, как разукрашеный шлагбаум,
    Твой взгляд печальный, от потерь уставший,
    Мне не даёт покоя по этим грустным вечерам?
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2010">2010, {{ workplace }}</time>
{% endblock %}
