{% extends template %}

{% set title = "Молитва артиста" %}
{% set pubdate = "13.01.2012" %}
{% set workplace = "Санкт-Петербург" %}
{% set next = "peugeot93/thoughts" %}

{% block content %}
  {% filter poem %}
    Господи, молю тебя
    О проекте хорошем.
    Избавь меня грешнаго:
    От роли ненужной,
    От сценария дурного
    И группы недружной,

    От режиссёра тупого
    И гримёра косого,
    От костюмера безвкусного
    И оператора гнусного,

    От партнёра неловкого
    И коллег слова колкого,
    От продюсера-идиота
    И работы до седьмого пота,
    От дублёра-дурака
    И поклонника-маньяка.

    Дай мне, Боже,
    Рабу твоему вечному,
    Актёру беспечному:
    Гонорар, как в Голливуде,
    И чтоб любили все люди,

    Проект на два года
    И любовь всего народа,
    Карьеру блестящую
    И роль настоящую,

    Славу отличную
    И поклонницу личную,
    Удовлетворенья безумного
    И реквизитора умного,

    Обеда самого вкусного
    И коллегу не грустного,
    Спаси от всех тяжб бумажных
    И дай ролей мне отважных.
    Фото моё — ассистенту приличному,
    А меня — режиссёру отличному.

    На пробах дай силы
    Сценарий мне не забыть,
    И помоги красивым
    И талантливым быть,
    И на съёмки в Монако закинь,
    Спасибо, Боже, тебе и аминь.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2012">2012, {{ workplace }}</time>
{% endblock %}
