{% extends template %}

{% set title = "Просто" %}
{% set pubdate = "13.01.2012" %}
{% set workplace = "Москва" %}

{% block content %}
  {% filter poem %}
    Я безумно хочу увидеть тебя —
    Что же это такое творится!
    Ругая за эту слабость себя,
    Хочу в тебе раствориться.

    Банально и просто, возможно,
    От сложностей уже так устал!
    С тобой спокойно и не тревожно,
    К тебе почему-то душою припал.

    Я перестал тебя стесняться,
    Но я хочу тебя обнять,
    Я не хочу в тебя влюбляться,
    Я лишь хочу тебя понять.

    Мне без тебя неплохо,
    Но не хватает лишь тебя,
    Я б мог сыграть ботаника иль лоха,
    Но ты же смотришь на меня любя.

    Я не похожий на других,
    И нет желанья обольстить.
    Дарю тебе я этот стих
    Лишь с просьбой строго не судить.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2009">2009, {{workplace}}</time>
{% endblock %}
