{% extends template %}

{% set title = "Обморок" %}
{% set pubdate = "13.01.2012" %}
{% set workplace = "Санкт-Петербург" %}

{% block content %}
  {% filter poem %}
    Один совсем ночами я брожу.
    Гуляю, пишу стихи, мечтаю.
    Десятки вёрст я за ночь прохожу,
    Одиночество угрюмо убивая.

    Хочу гулять с ней по ночам, мечтая
    О мелочах мирских, отнюдь не пошлых,
    И, этот стих ей с выражением читая,
    Лишь вспоминать о неудачах прошлых.

    Дышать, жить ею лишь одной,
    Смотреть в глаза не уставать,
    Делиться радостью, бедой
    И вместе век наш проживать.

    Родить двух малышей, а может, больше,
    И радоваться вместе каждому движенью.
    То счастье будет длиться вечно, может, дольше…
    Ой, бля, я чё-то голову забил какой-то хренью.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2009">2009, {{ workplace }}</time>
{% endblock %}
