{% extends template %}

{% set title = "Предательство" %}
{% set pubdate = "13.01.2012" %}
{% set workplace = "Санкт-Петербург" %}

{% block content %}
  {% filter poem %}
    Оберегал её, хранил, боготворил,
    Ведь так боялся потерять,
    Не обижал и крепко полюбил,
    И не давал о ней кому-то знать.

    Считал, что мой очаг и радость —
    Она лишь, её хотелось навсегда,
    Всё в ней, и искренность, и страсть,
    Которую я не обижу никогда.

    Живя своею жизнью непонятной,
    Её оберегая из последних сил,
    Пытаясь сделать всё понятней,
    Её лишь об одном просил:

    «Лишь будь мне преданна и жди,
    Всё я смогу с тобой, поверь,
    На шаг тебя я буду впереди,
    И для тебя я отворю любую дверь».

    Так затуманен был мой мутный разум,
    Что не заметил, как она уже давно
    Предала меня вот так вот, сразу,
    Как только в жизни началось дерьмо.

    Не замечал предательства и лести,
    Сам отдаваясь женщине всецело.
    Любовь навек мечтая обрести,
    Нож в спину получил очень умело.

    Как жить, как верить и простить,
    Ведь перечёркнуто всё разом?
    Я не способен за обиду мстить
    И не хочу с ума свести свой разум.

    Набраться разом, силы, воли, духа,
    Всё просчитать — и, развернувшись,
    Сказав открыто всё и очень сухо,
    Уйти, красиво и цинично улыбнувшись.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2008">2008, {{workplace}}</time>
{% endblock %}
