{% extends template %}

{% set title = "Бомж" %}
{% set pubdate = "13.01.2012" %}
{% set workplace = "Санкт-Петербург" %}

{% block content %}
  {% filter poem %}
    Когда-то назывался человеком,
    И имя было у него.
    Мама была врачом, отец — генсеком.
    Они любили сына своего.

    Обычным рос мальчишкой,
    Учился в школе хорошо.
    Подрос — стал обаятельным парнишкой.
    С тех пор немало времени прошло.

    Закончил вуз приличный,
    Девчонку встретил, полюбил.
    Всё было супер — на работе, в жизни личной.
    Он, в общем, неплохим мужчиной был.

    Всегда всё в дом, в семью,
    Любил детей, жену безумно,
    Но вдруг судьба подкинула свинью,
    Продумав план свой хитроумно.

    Банально всё произошло:
    На самолёте, вдруг упавшем,
    Семья погибла — все до одного.
    И потерялся смысл жизни дальше.

    Страдал безумно, но держался,
    А боль сильнее становилась.
    И всё ж не выдержал, сломался —
    Тогда в тартар всё покатилось.

    Его быстро змей зелёный съел,
    Он всё пропил. И не хотелось жить.
    Он только пил — не спал, не ел,
    Желал спиртным себя убить.

    И под щитом рекламным ярким,
    Изображён где в проруби довольный сытый морж,
    Лежал зимой холодной жалкий,
    Замёрзший, никому не нужный мёртвый бомж.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2007">2007, {{workplace}}</time>
{% endblock %}
