{% extends template %}

{% set title = "Чел" %}
{% set pubdate = "13.01.2012" %}
{% set workplace = "Санкт-Петербург" %}

{% block content %}
  {% filter poem %}
    Зелёный странный человек
    План забивал в «казбек».
    Он делал это ежедневно,
    Потом раскуривался нервно.

    Раз затуманив дурью разум,
    Словил он глюка как-то сразу.
    Ему поесть бы да попить,
    Но он же продолжал курить.

    Он, затянувшись, простонал —
    И душу господу отдал.
    Вот так и скорчился бедняга,
    А был ведь неплохой парняга.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2005">2005, {{ workplace }}</time>
{% endblock %}
