{% extends template %}

{% set title = "Прощай" %}
{% set pubdate = "13.01.2012" %}
{% set workplace = "Санкт-Петербург" %}

{% block content %}
  {% filter poem %}
    Я не хочу того, что происходит,
    И не желаю, чтобы было, как вчера.
    Тоска с меня свой глаз не сводит,
    Лишь сохраняя мудрость старого пера,

    Того, что чувство из нутра выводит,
    Чтоб было понято оно.
    Но, к сожалению, отчаяние сводит
    Всё на корню — и на говно.

    Желанного не достигая совершенством мнимым,
    Я, заблуждаясь глубоко,
    Самим себя, собой гонимым,
    Пытаюсь сделать всем легко.

    Не понимая смуты милость,
    Гоним своею пустотой,
    Едва сдержавши злую ярость,
    Сижу сейчас я сам не свой.

    Исполнив смутные страданья,
    Хочу сказать лишь об одном:
    Гоните первое свиданье
    И не пускайте чувства в дом.

    Иначе ждут причуды
    Судьбы неистовой такой,
    И извращенцы, рукоблуды
    Пренебрегут в тот час тобой.

    Всё пониманье сути дела
    Никак не даст понять одно:
    Что дело это уж сгорело
    И не волнует никого.

    Не нужен суд и слов борьба,
    И ни к чему обиды лицезреть.
    Такая, видимо, судьба:
    Терпеть, любить и не сгореть.

    Договоренности в игнор
    И в жопу все сомненья.
    Я б расстрелял себя в упор,
    Но нет судьбы благоволенья.

    Всё будет миленько и смело.
    Себя надеждою пленя,
    Вгоняя чувства в омут бренный,
    Несёмся голову сломя.

    И лишь потом, лишь после боли,
    Лишь оценивши мазохизма прелесть,
    Того, что чувства, как пуд соли,
    Залезут в рану, словно лесть.

    Зачем всё было то когда-то,
    Зачем мы мучаем себя
    (А было всё ведь так п..здато!),
    Одиночеством мозги ..бя?

    Пусть все простят меня за это,
    Пусть все простят меня за то,
    Что мозг больной у идиота
    Всё переводит на говно.

    Как трудно на тот шаг решиться,
    Что в пекло вводит с головой,
    Как трудно с совестью сразиться,
    Когда от чувств ты сам не свой!

    Всё поминая лихом прошлым,
    Всё, что приходит к нам теперь,
    Становишься ты лицемерным, пошлым,
    И закрываешь в душу дверь.

    И снова грязь, печаль, тоска,
    И снова будней канитель,
    И снова ты со мной резка,
    И закрываешь сердца дверь.

    Да, понимаю, всё возможно:
    И разум и болезнь,
    Но я влюблён, понять-то можно?
    И не хочу замков на дверь.

    Совсем пропасть мы можем оба
    И распрощаться с чистотой.
    Разве важней того свобода,
    Что не является мечтой?
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2008">2008, {{ workplace }}</time>
{% endblock %}
