{% extends template %}

{% set title = "Запрет на любовь" %}
{% set pubdate = "13.01.2012" %}
{% set workplace = "Выборг" %}

{% block content %}
  {% filter poem %}
    Хочу тебя я видеть, хочу тобою обладать,
    Хочу тобою наслаждаться,
    Хочу обнять душевно и прижать,
    Но приходится держаться.

    Очаг, семья и мир твой есть святое,
    Я никогда об этом не забуду,
    К нему имею уважение большое,
    Даже когда тобою наслаждаться буду.

    Пусть будет мир мой для тебя усладой,
    Пусть голос будет мой тебе как выдох,
    Тепло моё твоею станет пусть отрадой,
    А ласки будут, словно жизни вдох.

    Когда тебе вдруг одиноко станет,
    Ты приходи ко мне — я приласкаю.
    Когда обидят больно или ранят,
    Ты приходи, тебя я жду, хочу и понимаю.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2010">2010, {{ workplace }}</time>
{% endblock %}
