{% extends template %}

{% set title = "Порочность" %}
{% set pubdate = "13.01.2012" %}
{% set workplace = "Санкт-Петербург" %}
{% set prev = "peugeot93/netbiblio" %}

{% block content %}
  {% filter poem %}
    Из прозябанья вырвавшись,
    От серости, к безумию ведущей,
    В мир ярких красок и огней,
    Но более жестокий и гнетущий,
    С желаньями, мечтами
    О бога милости грядущей,
    С пути сошёл, сорвавшись в пропасть,
    Надежды нить утратив навсегда.

    И впереди всё пусто,
    И позади шальной песок.
    Как тяжко и как грустно,
    Как сладок был падения порок,

    Ведущий из мечты больной
    Туда, где серость угнетала,
    Где было легче жить с мечтой,
    Что всё живое прахом обращала!

    Та сила, что с небес приходит,
    Что заполняет голову и сердце,
    Что в паутине мыслей водит,
    К желаньям отворяет дверцы,

    Стремленье к красоте и шику,
    К тому, что виделось тогда
    Сродни божественному лику, —
    Обманом оказалась навсегда.

    Желаемое счастье ложно,
    И нет того, чего имел.
    Да, ошибаться в жизни можно —
    Но разве ж этого хотел?

    То, что сейчас имеем, мы не ценим,
    Бросая время в пустоту,
    Но, потеряв всё это, сожалеем,
    Утратив молодость и красоту.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2007">2007, {{ workplace }}</time>
{% endblock %}
