{% extends template %}

{% set title = "Льстя" %}
{% set pubdate = "13.01.2012" %}
{% set workplace = "Санкт-Петербург" %}

{% block content %}
  {% filter poem %}
    Не сердцеед я, не подлец,
    Лишь странник одинокий.
    Своей я музы преданный гонец,
    Мечтающий найти свой путь высокий.

    Вы называете меня словами лести,
    Вы видите во мне таланты и успехи,
    Не зная, что на этом самом месте
    Грешит кто-то со мной ради утехи.

    Конечно, выглядит всё очень мило,
    Конечно же, красиво и стабильно —
    Лишь сверху, внешне, а внутри — уныло,
    Щемит порой сердечко сильно.

    Любить хочу, но верить разучился,
    Ласкать мечтаю, но огрубел от горя.
    На женщину когда-то я молился,
    Теперь же, избегая, лишь игнорю.

    Проходит всё, и сбудутся приданья,
    Что всё изменится и будет обретён покой.
    Но навсегда останутся страданья
    В душе, что сбылися уже давно со мной.

    Спасибо тем, кто рядом есть,
    Спасибо тем, кто не забавы ради
    Дарил слова мне тёплые, не лесть,
    Что много лет храню в тетради.

    Меня ведь кто-то не поймёт,
    А кто-то взглянет злобой хмуро,
    Но я уверен точно, что и к вам придёт
    Любовная стрела прекрасного Амура.
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2012">2012, {{ workplace }}</time>
{% endblock %}
