{% extends template %}

{% set title = "Посвящение Netbiblio.RU" %}
{% set pubdate = "10.06.2012" %}
{% set workplace = "Санкт-Петербург" %}
{% set prev = "rk/matador-10" %}
{% set next = "peugeot93/morning-1" %}

{% block content %}
  {% filter poem %}
    Творил ты что-то очень увлечённо –
    И вот создал дитя фантазии своей.
    Произведение, которое не скромно,
    На суд читателей отдал скорей.

    Всё хорошо, ликует сердце,
    Творений результат – выше похвал,
    Но услыхал, что где-то есть умельцы,
    Что могут то, что ты не дописал:

    Коррекцией владеют очень смело,
    Макеты делают в формате всяком,
    Откритикуют творчество умело
    И не зовут ошибку браком.

    Нетбиблио – так очень просто
    Зовётся та библиотека сетевая,
    И цель её стремительного роста –
    Вратами стать читательского рая.

    Всегда прочтут, оценят и поймут,
    Идею автора советом смогут сохранить,
    Вознаградят вниманием за труд,
    Помогут мысль в реальность воплотить.

    «Нетбиблио» их люди называют,
    Добавишь к слову этому ты «Р» и «У» –
    И равнодушным не оставит
    Тебя их адрес сетевой – netbiblio и «точка ру».
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2012">2012, {{ workplace }}</time>
{% endblock %}
