{% extends template %}

{% set title = "Всех старых коров отправляют на бойню" %}
{% set pubdate = "31.12.2011" %}
{% set prev = "mouse/love-12" %}

{% block content %}
  {% filter prose %}
    Егорка старательно выводил петельную загогулину, в школе это называлось — пропись.
    Я смотрела в «дневник», на сантиметровую домашку по окружающему миру — «праект из листов».
    — Сын, это как?
    Егоркин пожал плечами:
    — Сказали: пойти в лес, взять листы, принести в школу.
    Я присела рядом:
    — Зачем?
    — Чтобы было.
    Мне стало смешно. С такой надобностью можно что угодно принести.
    — Сын, а в лес идти обязательно?
    — Нет. Можно из-под окнов нарвать.
    Я не стала поправлять, «из-под кого». Оделась, вышла к подъезду. Надо было уши обмотать: октябрьский ветер срывал последние проекты вперемешку с полузамерзшими каплями.
    Так, сначала ива. Ты у нас плакучая, королева осеннего сплина, аккомпаниаторша разнесчастных любовей.
    Теперь берёзка — тотем Есенина и «Любэ» вкупе с Безруковым.
    Далее — советского образца шумливый клён.
    И какая-то фигня в крапинку. Осина? Кой знает, дома разберёмся.
    Дома уже работал компьютерный зал: сын самозабвенно гонял синего ежа, венец инженерной мысли японских извратов.
    Я выложила богачество на стол. Взяла степлер. Егорка левым глазом отследил телодвижения.
    — Мам, ты чего?
    Я крепила листья к цветастой бумаге.
    — Хочу, чтобы было красиво.
    — Нам сказали: просто принести.
    — И что? Это же я для себя делаю.
    — А… тебе опять грустно. Ты пока не старая. Так что можешь не беспокоиться.
    Я отвлеклась от крапинок.
    — Не поняла?
    Сын притормозил ежа.
    — Ну, женщины грустят, когда они старые. Ты ещё весёлая. Тебя рано на бойню.
    О как.
    — А что там с бойней?
    — Как что? Всех старых коров туда отправляют.
    Я на всякий случай улыбнулась пошире.
    — Значит, я корова?
    — Нет, ты — классная тёлка. Мне один мальчик из класса про тебя сказал.
    — А-а-а.
    Я повертела ватман с листьями. Красотища… Надо подписать.
    — Егор, мне нужна твоя помощь!
    Сын гыкнул:
    — Попроси по-пусяцки, ласково.
    Я представила на голове рога и с чувством протянула:
    — Му-у-у-у…
  {% endfilter %}
{% endblock %}
