{% extends template %}

{% set title = "Соплячья война" %}
{% set pubdate = "31.12.2011" %}

{% block content %}
  {% filter prose %}
    Сын смотрел в математический учебник.
    — Мам, почему дети должны учиться решать тупые задачи?
    О как… Я мягко отвлеклась от общения по скайпу. Подошла к столу, отыскала глазами текст задачи: «У Вовы пять линеек, а у Мити шесть. Cколько линеек у них вместе?»
    — Ну почему тупые?
    Егорка хмыкнул:
    — Пацанам делать, что ли, не фиг, как линейки собирать и потом ими меряться, у кого больше?
    Как бы объяснить, что в призме некоторой сферы жизни подобные соревнования у мужчин — очень даже логичная и весьма полезная штука?
    — Знаешь, представь, вместо линеек — карточки со Spider Man.
    Сын сморщил бровки:
    — А сразу дядя не мог написать современный учебник. Ну, там, про то, что нам интересно?
    Ну вот как ответить, что дядя мог, но либо ему не дали, либо это есть суть какого-то заговора. Дебилоидов.
    Сын любовно вывел «Ответ: 11 (лин.)» и захлопнул тетрадь.
    — А теперь моделирование вселенной! Полчаса.
    Я начала торговаться:
    — Пятнадцать минут.
    Егорка показал язык:
    — За столько минуточков я не успею ни одного криэйча засоплячить.
    Криэйчи (creatures), скользкие создания с липкими конечностями, копошились на экранчике в преддверии межгалактической разборки.
    Я присела рядом. Сын подставил щёку:
    — Целуй, и я пошёл на соплячью войну!
    Я поцеловала:
    — Возвращайся, я буду ждать.
    Егорка отмахнулся: типа, не мешай.
    Я не мешала. Просто смотрела на грандиозные замыслы в формате одной крохотной компьютерной баталии.
    Мальчикам нужны войнушки. А девочкам — мальчики, которые не могут жить без войнушек. И пока они бьются и бьют своих демонов, мы ждём их. Преданно и верно.
    Любыми. Израненными. Почти обессиленными. Но не сломленными. Героическими.
    И мужественными.
  {% endfilter %}
{% endblock %}
