{% extends template %}

{% set title = "Любить Бога" %}
{% set pubdate = "31.12.2011" %}

{% block content %}
  {% filter prose %}
    Сижу в кафешке, ем пошлый гамбургер, пью химическую шипучку, наблюдаю за бегающим на детской площадке сыном.
    Идиллия вторника.
    Махонький выходной.
    Скоро сдам Егорку няне и поеду с подругой в караошку.
    Буду напрягать голосовые связочки, петь лирические куплетики, коверкая язык английскими рифмами «When I was young…»
    Когда я была молода и безудержно попаста, юноши складывали свои сердца штабелями в мою честь. И не ждали моей благосклонности. Знали, что девушка умна и разборчива до безобразия.
    Прошли года. Поток юношей неугасаем. Неистончаем, впрочем, как и моя мадам Сижу.
    Попа моя по-прежнему упруга и сочна. А шкала разборчивости просто сходит с ума от набора качественных характеристик.
    Первое — он, мой потенциальный возлюбленный, должен быть Богом.
    В принципе, на этом всё и заканчивается.
    Остальное я сделаю сама.
    Если Богу моему будет потребно выращивать планктон на Марсе, я терпеливо буду ждать его положенные 580 дней. Или сколько там ещё понадобится.
    Не важно, я придумаю, чем занять свои мозговые полушария.
    Я буду верной. Я рожу нашу дочь и начну рассказывать ей каждый день о том, какой у неё героический папа.
    И вот однажды, когда ты возвратишься, я подзову тебя к её колыбели.
    А ты стряхнёшь с вороных висков звёздную пыль и протянешь ей свою обветренную ладонь:
    — Дочь, я дарю тебе эту звезду. Её зажгла твоя мать. Её свет сделал многое. Он помог мне не сойти с ума. От одиночества и боли. Вот здесь. Слышишь? Оно бьётся. И всё это для тебя. Весь свет далеких планет. Это всё для тебя. Твоей улыбки. И твоих бесконечно счастливых глаз.
  {% endfilter %}
{% endblock %}
