{% extends template %}

{% set title = "Невозможные отношения" %}
{% set pubdate = "08.03.2012" %}
{% set prev = "mouse/ft-5" %}

{% block content %}
  {% filter prose %}
    Иногда любовь спускается в грудь, в самую суть, туда, где страшно, но правильно и по-настоящему. Врывается и выжигает одно лишь слово — ненавижу.
    Потому что жить не могу. Потому что дышать разучился. Потому что знаю, что ты тоже любишь. И мне ничего не остаётся, как только умереть самому за тебя и нашу любовь.
    Но я не могу, пока не услышу от тебя всего три слова, всего три крохотных слова… скажи, скажи, скажи мне, пусть просто одним лишь взглядом, я должен, я должен знать, что я твой Мужчина. Иначе мне не жить. Иначе мне не выжить в эту ночь. Мне не дожить до рассвета. Я умру вместе с этой луной.
    Заклинаю, умоляю, молю, скажи это первой, стань слабой, поддайся, опустись, растай, прильни, будь просто Женщиной. Будь нежной. Будь кроткой. Будь покорной. Будь такой, какая ты мне нужна.
    Умоляй меня, что я нужен тебе.
    И я спасу тебя в самый последний момент.
    Я приду.
    Я ворвусь.
    Я порву свой страх.
    Я верну тебе саму себя.
    Пусть я не тот, пусть я не там и не так, как ты хотела. Но кроме меня у тебя никого больше нет. И не будет. Я тебя не отдам. Никому. Никогда. Ни за что.
    Ты только признай, что я тебе нужен.
    Что я твой Герой.
    Я твой. Мужчина.
  {% endfilter %}
{% endblock %}
