{% extends template %}

{% set title = "Изумрудная волна нежности" %}
{% set pubdate = "08.03.2012" %}

{% block content %}
  {% filter prose %}
    Я сижу и смотрю на твои широкие плечи. И руки. Загорелые мужские руки. Первичное орудие классного любовника. Пусть и бывшего. Ты жуёшь плоть ягнёнка и выстраиваешь мне свои синие глазки. Я стучу ноготком по ножке бокала.
    — Маус, почему вино не пьёшь? Невкусно?
    Нет. Одной не вкусно и не слаще. Надо, чтобы вдвоём. И у камина. С той же обжаренной ягнячьей спинкой, но только чтобы знать, что сегодняшняя ночь будет твоя. Ваша. Наша. А ты женат.
    — Слушай, а жена на каком?
    Ты прищуриваешь правый глаз до невозможной вычислить скорости.
    — Не помню. Честно. Штрудель будешь?
    — Тебя что, совсем не кормят?
    Ты киваешь и постанываешь:
    — И не трахают.
    Я морщу носик:
    — Женатых больше не е..ём.
    Ты облизываешь пальцы.
    Я качаю головой:
    — И даже не отсасываем.
    Ты веселишься, кладёшь пахнущие ягнёнком и тобой пальцы на моё колено:
    — Слушай, а ты в труселяшках?
    Я мурлычу:
    — Я в трусепопках. С одной ниточкой посредине. Труселяжки приберегите для беременных.
    — Ты злая. Значит, до сих пор меня хочешь.
    Я смотрю на официанта с зализанной чёлкой грустного педика.
    — Я тебя до сих пор люблю. Точнее, любила. Ну, когда ты меня хотел.
    Ты убираешь руку. Манишь грустную чёлку. Я смотрю в окно на твою новую машину. Красная морда сверкающей касатки. Бэх-бэх-бэха.
    — Жена подарила?
    Ты сухо поправляешь:
    — Тесть. После свадьбы.
    Мне вдруг становится весело:
    — Извинился за страшную дочь?
    Ты криво усмехаешься. И крохотная слеза никогда не выскальзывает по левой щеке.
    — Я тебя ненавижу. Каждую ночь. Каждую секунду, когда вижу сиреневый цвет. Тебя мало убить. Тебя мало любить. Тебя просто нельзя было делать женщиной.
    Я киваю. И чуть-чуть плачу за тебя. Официант приносит сдачу. У него изумрудные туфли. Классический вызов сентиментального одиночки.
    — Юноша, вас как зовут?
    Педик испуганно моргает:
    — Ваня.
    Бля, а так хорошо начиналось. Зелёный протест против пермской серости. На улице холодный июнь. А под сердцем горячий камень. Надо просто проститься. Ты обнимаешь меня за плечи, дуешь в макушку:
    — Я тебя подвезу.
    — Не надо. Я на такси. Не хочу, чтобы потом ты вдыхал мой запах и уже плакал как настоящий мужчина.
    Тогда год назад ты уже делал это, получив мой отказ быть твоей настоящей женой.
    Я иду по ночному Компросу, прогоняя шпильками жгучие слёзы и тебя из своей памяти. Из своей любви. Из своей изумрудной нежности.
  {% endfilter %}
{% endblock %}
