{% extends template %}

{% set title = "Танго синих снежинок" %}
{% set pubdate = "08.03.2012" %}

{% block content %}
  {% filter prose %}
    Ласковый, суровый. Взгляд твой полыхал в пространство. Внутренние демоны неслышно потешались: Хозяин пьянел, им предстояло веселье.
    Я подозвала официанта, изобразила вежливое возмущение: где мой штрудель? Мальчишка нервно моргнул:
    — Через пять минут.
    Ты опять всполохнул в мою сторону. У меня по спине проскочила первая мурашка. Самая сладкая. На раздумье у тела оставалось две-три секунды. Не больше.
    Я медленно облизала губы. Ты хищно прищурился и постучал наконечником кальяна по «деревянной» столешнице, стряхивая невидимые пылинки.
    Какие мы, однако, требовательные. Я отрицательно покачала головой на твоё постукивающее «приглашение».
    Ты вскинул бровь. И отправил мягкий поцелуй. Почти незаметный. Нижняя губа полоснула полуоскалом-полуулыбкой вампира. Десять баллов по пятибалльной шкале эротичности.
    Ладно, ради твоей шёлковой рубашки на широкой груди — так и быть, встану.
    Ну что, встала. Додефилировала. Присела. Ты перестал улыбаться. И уставился в упор.
    …Иногда достаточно просто смотреть. Можно даже не дышать. Сердцу уже всё равно. Незачем колдовать словами. Прикосновениями, касаниями. Очевидные половинки. Или отражение одного целого?
    Я проследила за твоей слезой. Столько боли и столько гнева! Ярости на себя. На меня. Когда оба равные, невозможно начинать быть счастливыми. Никто не уступит. Зато проиграют оба.
    Я перевела взгляд на твои руки. Слишком грубые для того, кем ты был до этого.
    Что-то в тебе неправильно. Как будто ты специально пришёл только ради того, чтобы поддразнить себя. Помучить, показнить. А тут я… Кто ж знал, кто ж ведал.
    Невыносимо сидеть вот так. Можно просто смотреть. Умирать — возрождаться. И не прикасаться. Нельзя.
    Уходи. Просто уходи. Я сильнее. Я смогу.
    Я отыскала взглядом официанта, нацарапала ноготком в воздухе четырёхугольник. Посмотрела в последний раз в твои зелёные демоны.
    Ты даже не пытался меня остановить.
    Я молча встала и вернулась к своему столику. Вишенка на штруделе была влажной, идеально круглой формы. Но абсолютно неживой и несъедобной.
    Я расплатилась и вышла.
    Синие снежинки. Первые. Робкие. Паутинкой опускались на землю, на мои дрожащие губы, вбивая ритмичное танго: «Не беги, не беги, задержись!»
    Мне стало жарко. Я не умела ждать. Я никогда никого не ждала. Тем более равных.
    Спустя минуту или вечность ты вышел-выбежал. И замер.
    Я подошла и положила свои руки тебе на плечи. Ты одним рывком полуприжал-полуприжался, впиваясь всей безудержной тоской, сбиваясь то на шёпот, то на беззвучный вой.
    Щёки твои, пальцы мои, наши ресницы сплелись в одно сплошное одиночество.
    Ты хрипел, умолял, чтобы я тебя остановила. Оттолкнула, выгнала.
    Но я сдалась. Я научилась.
    А ты взлетал всё быстрее, выше… туда, где сильные могут стать слабыми.
    Навстречу синему снегу.
  {% endfilter %}
{% endblock %}
