{% extends template %}

{% set title = "Сиротинка-нежность" %}
{% set pubdate = "02.11.2011" %}

{% block content %}
  {% filter poem %}
    Сиротинка-нежность
    От любви отбилась
    И в моей гордыне
    Молча притаилась.

    Сломана застёжка
    На развратной ножке,
    Ждёт уже дорожка
    Сини босоножки.

    Моя грудь в кровинках
    От ночных признаний.
    Смазалась картинка —
    Больше нет свиданий.

    Жму «прости» ладошкой,
    Нету боле силы.
    И пошла… завыла…
    «Я ж тебя люби-и-ла…»
  {% endfilter %}
{% endblock %}
