{% extends template %}

{% set title = "«Наши ангелы дружат ладошками…»" %}
{% set pubdate = "02.11.2011" %}

{% block content %}
  {% filter poem %}
    Наши ангелы дружат ладошками
    И целуются понарошками.
    И роняются на пол целовыши,
    Как обглоданные сердцесковыши.

    И любуются cостоянием,
    Неизвестностью ожидания.
    Наши ангелы тихо зарёваны,
    Пока демоны плотью скованы…

    Пока злобыши упиваются,
    Серафимыши умираются.
    Умирание ожидания…
    И без встреч одно расставание…

    Наши ангелы дружат слезинками,
    Нерождённой любви хрусталинками.
    Провожая луну зведокрылую,
    Обнимают солнце постылое…

    Прилетай, приползай — я всё выдержу
    И твоих яркокрылых всех выреву.
    И пусть голос на шёпот сбивается.
    Демон твой от тебя отрекается.
    Пусть хрипит, пусть ревёт и брыкается,
    Он уже начинает каяться…

    Я его обласкаю, постылого,
    И отправлю в бездонность унылую.
    Я смогу, я сумею, я смелая!
    Ведь душа у меня оголтелая…

    Сердце сможет моё миллионное,
    Что до боли в тебя развлюблённое,
    Что до крови в тебя звучностонное
    И на вечную жизнь обречённое…
  {% endfilter %}
{% endblock %}
