{% extends template %}

{% set title = "Семейная ссора" %}
{% set pubdate = "22.03.1997" %}
{% set workdate = "10.03.1997" %}
{% set workplace = "Лигово" %}

{% block content %}
  {% filter prose %}
    Сварила бабка кашу. Поставила её на стол. Дед хотел было её съесть, а бабка — трах! — деда ложкой по голове:
    — Ты куда вперёд батьки лезешь!
    У деда шишка вылезла. Он сидит — а слюни ручьём текут. Бабка ему по зубам как даст!
    — Ты что свои слюни мне в миску кидаешь!
    Разозлился дед на бабку — да как стукнет кулаком! Бабка встала — в огород. В капусту. Сидит на капустине — и тут вдруг вылезает крыса полевая из-под капусты. И говорит:
    — Ну-ка слазь с моего дома! Вообще обалдела — села на мою крышу!
    Бабка слезла и говорит:
    — Вот молодёжь пошла — бабке старой посидеть не дают!
    Входит она в дом с кочергой — и на деда! А дед взял ухват — да как бабку защемит в стенку! Бабка караул кричит! Как даст ногой! — дед с ухватом-то отбежал, а бабка и думает: прикрыться бы чем. Взяла кастрюлю… Подходит с кастрюлей… Побила деда, переоделась.
  {% endfilter %}

  {% filter prose %}
    Натопил дед баню. Бабка снаряжение одела банное — купальник. Дед приготовился, голый стоит. Бабка ему:
    — Ну-ка уйди с дороги!
    Моется бабка, моется, дед голый стоит. Смотрит — что такое! — бабка мочалку оставила…
    Бабка — мешком деда Андрея, голого! Дед по деревне бежит как ненормальный, а бабка за ним, как кенгуру, прыгает. Бегали они так, бегали, да и помирились.
  {% endfilter %}

  {% filter prose %}
    Проходит так день, проходит второй, третий. Деда нет. Пошла бабка его искать, смотрит — он под кустом валяется пьяный.
    — Ну-ка марш домой!
    — Да я, бабка, спать хочу!
    А она — давай его хлестать! Отхлестала и пошла домой.
  {% endfilter %}

  {% filter prose %}
    Приходит дед домой, смотрит — бабка валяется по всему полу! Трезвая, нормальная. Что такое! Пузо — больше её! К носу выросло!
    — Что такое, что случилось!
    — Да я решила купить мешок сахара и съесть. Взяла и съела.
    Вот так они и жили себе: дед Андрей бабку Таню не слушался — и она его тоже. Вот и вся сказка.
  {% endfilter %}
{% endblock %}
