{% extends template %}

{% set title = "Сказка о короле Андрее и королеве Тане" %}
{% set pubdate = "10.03.1997" %}
{% set workdate = "05.11.1993" %}
{% set workplace = "Сосновая Поляна" %}
{% set prev = "worldeater/not-formal" %}

{% block content %}
  {% filter prose("short") %}
    Жили-были король с королевой. Долгое время у них не было детей. Однажды уехал король по делам, а к королеве пришёл колдун и сказал, что она родит дочь. Так и случилось: когда через девять месяцев приехал король домой, королева родила дочку. Страшную, как колдун. С горя назвали её Таней, думали, что пусть хоть имя будет красивое.
  {% endfilter %}

  {% filter prose("short") %}
    Выросла принцесса — страшная дурында, любительница тупых шуток. Нашли ей жениха — короля Андрея.
  {% endfilter %}

  {% filter prose %}
    Как-то раз уехал Андрей, как водится, по делам. Встречает его королева Таня во дворе, булку жрёт. От этих булок вымахала она большущая-пребольшущая. А король Андрей — тощий, как палка, потому что пьёт много.
    По двору как раз свинья ходила — мясокомбинат ходячий. Король Андрей и говорит:
    — Здравствуй, королева Таня!
    А королева Таня на свинью посматривает и говорит:
    — Ну здравствуй, старая и грязная свинья!
    — Как я соскучился! — и обниматься лезет.
    А королева Таня свинью обняла да и говорит:
    — И я по тебе соскучилась, жирная свинья!
    — Таня, да ты что! Я же люблю тебя! — вскричал Андрей.
    — И я люблю тебя, грязная свинья!..
    Не выдержал король Андрей, выпорол королеву Таню. С тех пор стала она как шёлковая!
  {% endfilter %}

  {% filter prose("short") %}
    Жили они с ней долго и счастливо. Королевство пропили, поселились в деревне и превратились в деда Андрея и бабку Таню.
  {% endfilter %}
{% endblock %}
