{% extends template %}

{% set title = "Сказка № 4" %}
{% set pubdate = "10.03.1997" %}
{% set workdate = "07.11.1993" %}
{% set workplace = "Сосновая Поляна" %}

{% block content %}
  {% filter prose("short") %}
    Жили-были дед Андрей и бабка Таня. Дед Андрей был «безъяичным»: смолоду потерял где-то яйца свои.
  {% endfilter %}

  {% filter prose %}
    Как-то раз собрался дед на рыбалку, а наживки нет. Попросил у бабки Тани жопу на время. Бабка согласилась:
    — Только смотри не потеряй!
    Пришёл на речку, закинул удочку — леска и порвалась, жопа-то большая! И унесло жопу течением. Искал дед жопу, искал, но нигде не нашёл, пустым к бабке вернулся.
    С тех пор стало у них так: бабка «безжопная», хотя как бы и «яичная», а дед «жопный», но «безъяичный».
  {% endfilter %}

  {% filter prose %}
    Однажды идёт дед по лесу и видит: сидит на ветке обезьяна, а у неё — бабкина жопа и его яйца!
    — Отдавай жопу и яйца! Жопа бабкина, в реку уплыла, а яйца мои! — закричал дед и попытался оторвать жопу.
    Обезьяна бросилась бежать, но дед догнал её, тогда она сказала:
    — Жопу бери, жопа-то бабкина, я её у берега нашла. А яйца — ребёнка: посмотри, какие маленькие!
    — А где мои яйца?
    — А твои яйца давным-давно похитила ваша старая свинья и теперь носит их по всем лужам, по говну…
  {% endfilter %}

  {% filter prose %}
    Отдал дед Андрей бабке жопу, теперь бабка Таня стала и «жопная», и «яичная». А дед нашёл свинью, отобрал свои яйца, почистил, теперь и он стал «жопным», и «яичным».
    Тут и сказочке конец!
  {% endfilter %}
{% endblock %}
