{% extends template %}

{% set title = "Сказка № 2" %}
{% set pubdate = "10.03.1997" %}
{% set workdate = "06.11.1993" %}
{% set workplace = "Сосновая Поляна" %}

{% block content %}
  {% filter prose %}
    Жили-были дед Андрей и бабка Таня.
    Дед пердел — так, что дом трясся. Бабка не знала, что и делать.
  {% endfilter %}

  {% filter prose %}
    Пошла она как-то к соседке да и рассказала о своей беде. Соседка предложили вставить деду в задницу свисток.
    Бабка так и сделала. Ночью просыпается от оглушительного свиста!
    Вынула свисток — дед пердеть опять начал, сильнее прежнего! Вставила свисток обратно — свистит! Вынула — пердит! Так и не выспалась!
  {% endfilter %}

  {% filter prose %}
    На следующий день пошла бабка Таня опять к соседке. Соседка стала думать: чем бы заткнуть деда-то? И тут увидела в углу голову петуха. Дала бабке голову эту.
    Ночью дед уснул, а бабка голову петуха ему в жопу вставила.
    Спит бабка, вдруг: «Ку-ка-ре-ку! Ку-ка-ре-ку!»
    Бабка вскочила, думает: «Откуда кукареканье? Петуха-то нет!»
    Вспомнила, матернулась, вытащила голову и легла пердёж слушать.
  {% endfilter %}

  {% filter prose %}
    На третий день соседка нашла у себя дома пробку
    — На этот раз точно сработает!
    …Ночью бабка Таня проснулась от взрыва! А это пробка вылетела.
  {% endfilter %}

  {% filter prose %}
    Надоело бабке дурью маяться, пошла она к колдунье. Колдунья пошептала-пошептала и говорит:
    — Что у калитки найдёшь — то тебе и поможет! Положишь на деда сверху, не вздумай только в задницу пихать!
    Бабка Таня пошла домой и увидела курицу у калитки. Ночью сделала всё как полагается: на деда Андрея сверху курицу посадила. Курица ходила-ходила по деду — и насрала ему в рот!
    Проснулась бабка, потому что дед заорал:
    — А-а-а-а! Кислятина!!!
  {% endfilter %}

  {% filter prose("short") %}
    От этого потрясения перестал дед громко пердеть. И зажили бабка Таня с дедом Андреем душа в душу!
  {% endfilter %}
{% endblock %}
