{% extends template %}

{% set title = "В школе" %}
{% set pubdate = "10.03.1998" %}
{% set workdate = "06.02.1998" %}
{% set workplace = "Лигово" %}}
{% set next = "emma/gold" %}

{% block content %}
  {% filter prose %}
    Жили-были дед Андрей и бабка Таня. Были они неучами: не умели ни читать, ни писать, ни дважды два сосчитать. Потому что в школу никогда не ходили.
    И решили они пойти учиться. Пришли первого сентября в школу. Другие ребята учителей ищут (у учителей таблички с номерами классов в руках), а дед с бабкой стоят, рты разинув, и не знают, куда им идти. Потому что цифры не учили.
    Наконец учитель подходит к ним и спрашивает:
    — Вы кто такие? Что тут делаете?
    А бабка говорит:
    — Мы учиться хотим! Возьмите нас!
    Привёл их учитель в класс. Ребятам пирамидки раздали. И деду с бабкой тоже.
    — Давайте, ребята, посчитаем, сколько колец в пирамидках! — говорит учитель.
    Дети правильно отвечают, а бабка никак сосчитать не может, всё время сбивается. Спрашивает деда:
    — Ну что, пень старый, сосчитал? Помоги мне, никак не выходит!
    А дед сидит, как идиот, с открытым ртом, пирамидку эту вертит в руках, смотрит на неё и молчит.
    — Что ты вылупился, идиот! Считай давай!
    Получили дед с бабкой по двойке. А дневника у них нет — в магазине забыли купить.
    На следующем уроке конструктор разбирали и собирали — машинки всякие. Дед с бабкой и тут никак не могли ничего сделать. Дед сидит опять разинув рот, на машинку смотрит, колесо пальцем крутит, а разобрать не может. Бабка повыдирала колёса и двери, половину сломала и никак не соберёт машинку.
    Короче, и тут они по банану схлопотали.
    Потом всех детей фотографироваться повели. Деда с бабкой в задний ряд поставили. Они там стоят, рожи корчат, детей сзади щекочат. И фотограф их быстренько сфотографировал с классом, а потом говорит:
    — Давайте я вас отдельно сниму.
    Поставил деда в угол, дал ему в руки лисичку меховую. Дед стоит, руки об лису вытирает. А бабку усадили под фикусы, она сидит открыв рот, пузо наружу выпирает. И думает: «Когда эта птичка посрать вылетит! Я уже кушать хочу!»
    Потом детей в столовую повели, а дед убежал куда-то. Еле нашли его. Он в туалет дрожжи бросал.
    В столовой бабка с дедом расстроились, что порции маленькие, и с горя подрались. Едой перемазались, посуду перебили.
    Вызвали их к директору, а директор и говорит:
    — Вы ещё немного дома посидите, а потом идите учиться. Вам ещё повзрослеть надо.
  {% endfilter %}

  {% filter prose("short") %}
    И решили дед с бабкой больше не ходить в школу. Считали они дважды два в столбик — и получалось у них десять!
  {% endfilter %}
{% endblock %}
