{% extends template %}

{% set title = "Сказка о быке" %}
{% set pubdate = "10.03.1997" %}
{% set workdate = "08.11.1993" %}
{% set workplace = "Сосновая Поляна" %}

{% block content %}
  {% filter prose %}
    Жили-были дед Андрей и бабка Таня. Бабка завела себе корову, а дед Андрей — быка.
    У бабки корова каждый день молоко давала, а у деда — ничего!
    Как-то раз дед бабке и говорит:
    — Как же так! У тебя корова каждый день даёт молоко, а мой бык ничего не даёт!
    — А ты его доишь?
    — А как его доить? Где у него вымя?
    — А ты поищи, должно же быть!
  {% endfilter %}

  {% filter prose %}
    Пошёл дед Андрей в хлев, стал быка щупать. Вымя не нащупал, стал кзади искать, нашёл кое-что. У коровы-то такого нет!
    Стал доить. Вместо молока надоил жёлтого чего-то с пенкой.
    — Лимонад! Мой бык даёт лимонад!
    Кончился лимонад, дед потянул сильнее, бык от натуги пукнул! Заинтересовался дед, засунул руку в жопу быку и вытащил оттуда…
    — Шоколад! Вот бабка обзавидуется!
  {% endfilter %}

  {% filter prose %}
    Прибежал к бабке Тане и кричит:
    — Бабка! Ты не представляешь, какой у нас бык чудный! Вместо молока лимонад даёт, а сзади у него шоколад!
    — А что ты так мало принёс? Пойдём ещё добудем!
  {% endfilter %}

  {% filter prose("short") %}
    Пришли они к быку. Дед дёрнул — нет лимонада! Дёрнул сильнее — опять нет! Дёрнул сильнее — и оторвал хозяйство вместе с яйцами! Бык рассвирепел, на деда двинулся, дед — во двор, бык — за ним!
  {% endfilter %}

  {% filter prose %}
    Бегает бык без яиц.
    Бабка сзади схватила быка за хвост — хвост и оторвался!
    Бегает бык без хвоста и без яиц.
    Бабка изловчилась и на ходу ему руку в жопу засунула, шоколада-то хочется! Рука на ходу застряла, бабка за быком потащилась. Дёрнула сильнее — жопу оторвала!
    Бегает бык без жопы, без хвоста и без яиц!
    Дед от страха на берёзу залез, бык берёзу боднул — рога застряли! Дёрнулся — сам освободился, рога в дереве остались!
    Бегает бык без рогов, без жопы, без хвоста и без яиц!
    Опять к берёзе подбежал, ударился об неё безрогим лбом — и помер.
    Вот и вся сказка.
  {% endfilter %}
{% endblock %}
