{% extends template %}

{% set title = "Рина Баринова" %}
{% set pubdate = "09.07.2011" %}
{% set prev = "associator/index" %}
{% set next = "rk/index" %}
{% set gender = "female" %}
{% set tocBlockHeading = "Малая проза" %}
