{% extends template %}

{% set title = "Галатея" %}
{% set pubdate = "31.10.2011" %}

{% block content %}
  {% filter poem %}
    Какие игры с жизнью ты затеял —
    Неужто просто полюбить не смог?!
    Но вспомни о прекрасной Галатее —
    Самонадеянному скульптору урок.

    Суров и строг к единственно прекрасной,
    Пытался свою волю диктовать…
    Но лишь узнал он, как напрасно
    Дыханье ветра в клетку загонять!

    Остановить мгновенье не под силу
    Лишённому сомнений мудрецу…
    Но оживить улыбку милой
    Подвластно лишь влюблённому творцу!

    Люби ж её! Люби как есть — такую!
    Она — одна! Другую — не слепить…
    Пигмалиону истину простую
    Лишь Галатея сможет подарить.
  {% endfilter %}
{% endblock %}
