{% extends template %}

{% set title = "Плач Медеи по Язону" %}
{% set pubdate = "31.10.2011" %}

{% block content %}
  {% filter poem %}
    Милый, что за война над нами?
    За право друг друга любить?!
    И кто подымает стеною цунами,
    Чтоб нашу любовь погубить?!

    Разве нам мало выпало горя
    На этой грешной земле?
    Но, сговорившись, суша и море
    Пылают в любовном огне.

    Чем ближе друг к другу тянутся души —
    Больнее в глаза заглянуть.
    Сердца наши строят, стихия — всё рушит!
    И тонет любви нашей суть!

    Любимый, иссохлась земля под ногами,
    Надежда потрескалась в кровь,
    Ну что ж, видно, только на гребне цунами
    Оправдана наша Любовь!
  {% endfilter %}
{% endblock %}
