{% extends template %}

{% set title = "Ванда" %}
{% set pubdate = "31.10.2011" %}

{% block content %}
  {% filter poem %}
    Та дорожка была золотой,
    Что тебя мне с небес спустила.
    И, застыв пред такой красотой,
    Я отдался улыбке милой.

    Но ты, тихо глаза потупив,
    Наблюдала просто за мной,
    Как невольно скользил я в обрыв,
    Не умея остаться с тобой!
  {% endfilter %}
{% endblock %}
