{% extends template %}

{% set title = "Дежавю" %}
{% set pubdate = "31.10.2011" %}

{% block preface %}
  <p class="art__dedic">Ирине Ржевской</p>
{% endblock %}

{% block content %}
  <h2 class="art__subtitle">1</h2>
  {% filter poem %}
    Я вижу тебя в платье красном и длинном,
    Стоишь ты с подсвечником у камина
    С полуулыбкой зовущих губ,
    И голос прекрасный — и нежен, и груб.
    Загадочно-томная — вожделенна…
    Не роковая, но всё же — Сирена!
  {% endfilter %}

  <h2 class="art__subtitle">2</h2>
  {% filter poem %}
    Ты пела про горящую свечу,
    А у меня душа — горела:
    Я так грустить и плакать не хочу,
    Но таяла свеча, а ты всё пела.

    Движенья сдержанны, хоть в них
    Всё было — точно тело пело…
    Но ты ушла, и я в мечтах своих
    Вновь вижу, как свеча горела.
  {% endfilter %}
{% endblock %}
