{% extends template %}

{% set title = "Нежность" %}
{% set pubdate = "31.10.2011" %}

{% block preface %}
  <p class="art__dedic">Ромео и Джульетте</p>
{% endblock %}

{% block content %}
  {% filter poem %}
    Она приходит запоздалой
    И даже незаметной,
    Приходит бодрой и усталой,
    И всё же — нежно-нежной.

    К губам влюблённых вдруг прильнув,
    Вдохнёт незримо свежесть,
    Свои ладони протянув,
    К нам приходит Нежность.

    Явиться было ей дано
    К Ромео и Джульетте,
    Любовью вечной суждено
    Возвыситься над смертью.

    Нечасто верим ей, увы,
    И треплем нашу нежность.
    Она же ласкою любви
    Нам дарит безмятежность.

    Приходит ночью или днём —
    Такой же незаметной.
    А мы ей душу отдаём —
    Нашей нежно-нежной!
  {% endfilter %}
{% endblock %}
