{% extends template %}

{% set title = "Айседора" %}
{% set pubdate = "31.10.2011" %}

{% block content %}
  {% filter poem %}
    Любви хочу! Я — Айседора!
    Мне от судьбы не убежать.
    Любовным даром-приговором
    Поэту — всю себя отдать!

    Уютный холод «Англетера»
    Сменив на страстный мир притона,
    В златые кудри, как мегера,
    Вцеплюсь в прекрасного барона.

    Пройдусь насмешкой, его Бабой
    Среди орущих бузотёров —
    И, пусть меня он всю ограбит,
    Станцую «болеро» актёров.

    Страдать могу: я — Айседора!
    Оставлен скучный ряд дворцов,
    Пустых рулад глухого хора,
    Укоров всех святых отцов.

    {{notelink("Где моя шаль — небес посланье?", 1)}}
    Закутав шею, как в меха,
    Приму его, как наказанье
    Любви прекрасного греха!
  {% endfilter %}
{% endblock %}

{% block notes %}
  [Айседора погибла, задушенная собственной шалью, попавшей в колесо автомобиля,] — прим. авт.
{% endblock %}
