{% extends template %}

{% set title = "Адам и Ева" %}
{% set pubdate = "31.10.2011" %}

{% block content %}
  {% filter poem %}
    Ни с чем не сравнить твоё и моё
    Два лона, прильнувших друг к другу!
    Один на двоих — прорыв в Бытиё,
    Где жизнь зачинает бессмертье своё,
    Наполненно страстью упругой.

    С чем можно сравнить единенье сердец,
    Возвысивших ритм одномерный?
    Неотделимы начало, конец.
    Спасибо тебе, наш строгий Отец,
    Простивший нам плод неверный!

    Зачем нам грустить о потерянном Рае,
    Где сладостно-немо можно прожить,
    Не ощутив, как Душа вдруг взлетает
    И новую Жизнь в тебе зачинает…
    Можно ли с чем-нибудь это сравнить?!
  {% endfilter %}
{% endblock %}
