{% extends template %}

{% set title = "Ева" %}
{% set pubdate = "31.10.2011" %}
{% set prev = "lanadar/poem-6" %}

{% block content %}
  {% filter poem %}
    О, не спеши её судить!
    Рождённая из твоего ребра
    Обречена того любить,
    С кем рай покинула вчера!
  {% endfilter %}
{% endblock %}
