{% extends template %}

{% set title = "Маргарита" %}
{% set pubdate = "31.10.2011" %}

{% block content %}
  {% filter poem %}
    Спасибо тебе за встречу!
    Господи, благослови
    Пьяный угар и вечер
    Страстной бесстыжей любви!

    Зов истомившейся плоти…
    Одежду с меня сорви…
    Грешно? Но я всё ж не против…
    И, Господи, благослови!

    Замешан мой грех на желаньи
    Слишком горячей крови…
    За что мне такое страданье?
    Но, Господи, благослови!
  {% endfilter %}
{% endblock %}
