{% extends template %}

{% set title = "Ленка" %}
{% set pubdate = "31.10.2011" %}

{% block content %}
  {% filter poem %}
    Ленка — звонкая недотрога,
    Что за чёртик в тебе сидит?
    То ворчит по-старушечьи строго,
    То девицей разгульной глядит.

    Припечатает острым словом,
    В сердце раня кого-то стрелой…
    И не знает никто, как снова
    Тебе больно остаться одной!

    Ленка-Ленка! Неразбериха
    Под кудрявой копной волос,
    Ну куда же ты мчишься так лихо,
    То ли в гору, а то ль под откос?

    Только где-то когда-то, мгновенно
    Неожиданной лаской поймав,
    Назовет тебя кто-то Еленой —
    И, поверь мне, окажется прав!
  {% endfilter %}
{% endblock %}
