{% extends template %}

{% set title = "Певица" %}
{% set pubdate = "31.10.2011" %}

{% block preface %}
  <p class="art__dedic">Алле Пугачёвой</p>

  {% filter epigraph %}
    {% filter poem %}
      О Господи! Какая благодать!
      Я — Женщина! И это — прекрасно!
      И ни к чему ханжам упрекать,
      Что прожила жизнь я вольно и страстно!
    {% endfilter %}
  {% endfilter %}

  {% filter ins %}
    {% filter prose("short") %}
      Алла Борисовна Пугачёва своим талантом, своим голосом, своим творчеством — своей яркой личностью, умея «ласкать» и «корябать», но не умея оставлять за собой равнодушных… украсила или, если можно так выразиться, — «расцветила» всю мою жизнь…
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter poem %}
    Моя душа болит и плачет,
    А сердце — пляшет и поёт.
    И не могу я жить иначе:
    Мой жребий так меня ведёт!

    Я не смолчу о чьей-то боли,
    Взорвавшись пульсом состраданья,
    Чтобы потом — рывком на волю,
    Отдаться песне, как желанью.

    Я так дышу и так — пою.
    Я так грешу и так — люблю!
  {% endfilter %}
{% endblock %}
