{% extends template %}

{% set title = "Светланка" %}
{% set pubdate = "31.10.2011" %}

{% block content %}
  {% filter poem %}
    Как по-детски ноет душа,
    Как упрямо хочет понять…
    Как сама стремится спеша
    В один миг целый мир объять.

    Отвернётся ж в обиде глухой —
    Ты, пожалуйста, не просмотри,
    Как своей поникшей спиной
    Она просит: не уходи!
  {% endfilter %}
{% endblock %}
