{% extends template %}

{% set title = "Наташенька" %}
{% set pubdate = "31.10.2011" %}

{% block content %}
  {% filter poem %}
    Как говорят, в отцы годится!
    И дочь большая, и года…
    Не знаю — как к Вам обратиться:
    Я вас люблю? Люблю тебя?!

    Вас дядей вслух я называла.
    В душе я милым Вас звала.
    Ваш смех с надеждой я встречала,
    Вам вторя, счастлива была!

    Такой большой! Такой хороший!
    Смешно… девчонке приглянулся…
    Ах, знали б Вы — какою ношей
    Ваш лёгкий смех мне обернулся!

    Какая зависть и обида
    К судьбе, столкнувшей поздно нас…
    Я — та березка, та ракита,
    Что к ветру ветвями рвалась.

    Пусть я мала, но это значит —
    Не искушённа, не смела.
    В душе, поверь, смеюсь и плачу,
    Что защититься не смогла.

    Что сразу сердцем потянулась,
    Что не сумела отойти…
    Прости, что счастье приглянулось,
    Что в счастье верилось — прости!
  {% endfilter %}
{% endblock %}
