{% extends template %}

{% set title = "Динго Галины Польских" %}
{% set pubdate = "31.10.2011" %}

{% block content %}
  {% filter poem %}
    Есть женщины на земле —
    Как просто цветы под солнцем.
    Посмотрит — и взглядом к тебе,
    Как сердцем своим, прикоснется.

    И шёпотом вдруг позовёт
    В мир чистых прохладных рассветов,
    И всю себя отдаёт,
    Срастаясь обратно при этом.

    В ней тайна творений Природы,
    Загадок её и сомнений,
    Блаженство капризов погоды,
    Где бунт обречён поклоненью.

    В неё прямо с детства влюблялись,
    Как любят девчонки одни,
    И вещими оказались
    Сравненья {{ notelink("великой Ани.", 1) }}

    С тех пор актрис знали стольких!
    И не одна — волновала…
    Но Динго Галины Польских
    Самой таинственной стала!
  {% endfilter %}
{% endblock %}

{% block notes %}
  [Великая Ани] — французская актриса Ани Жирардо — прим. авт.
{% endblock %}
