{% extends template %}

{% set title = "Афродита" %}
{% set pubdate = "31.10.2011" %}

{% block content %}
  {% filter poem %}
    Ну что ж — люби! И будь любима!
    Исполнь предначертание сполна.
    И пусть болит невыносимо
    Душа, смятения полна!

    …Из пены вышла Афродита,
    Ведя с собой русалок хор.
    И с головою непокрытой
    Вела запретный разговор.

    Она не каялась — смеялась!
    И в свой любовный вечный круг
    С тех пор навеки обещалась
    Своих заманивать подруг.

    И, как молясь, душа вновь просит:
    «Мне жизнь дана,чтобы любить!
    И в холод зимний, в серость осени
    Нам не дано весны забыть!» —

    Ну что ж, люби! И будь любима!
    Исполнь предначертание сполна.
    И пусть болит невыносимо
    Душа — прекрасных чувств полна!
  {% endfilter %}
{% endblock %}
