{% extends template %}

{% set title = "Пенелопа" %}
{% set pubdate = "31.10.2011" %}

{% block content %}
  {% filter poem %}
    Тебя нет со мной… А я пойду к морю
    И отдамся прибою волн,
    Чтоб тебе у самой Трои
    Отозвался мой сладкий стон.

    Ты пируешь с друзьями… А я тебе — сына
    Воспитаю в любви сыновней,
    Чтобы вырос таким же сильным
    И тебе стал и другом, и ровней.

    Ты забылся в объятьях Сирены,
    Ну а я в ларец золотой
    Под замок запрячу измены,
    Приготовив любовный настой.

    Я простить тебе всё готова!
    И пожертвовать жизнью всей!
    Лишь бы знать, что вернёшься ты снова,
    Мой беспутный герой — Одиссей!
  {% endfilter %}
{% endblock %}
