{% extends template %}

{% set title = "Ночи Кабирии" %}
{% set pubdate = "31.10.2011" %}

{% block preface %}
  <p class="art__dedic">Джульетте Мазине</p>
{% endblock %}

{% block content %}
  {% filter poem %}
    Моей любви на многих хватит,
    Обида ей не застит дня!
    Всегда является так кстати —
    Спасеньем новым для меня!

    Когда стою я у порога,
    Когда повисну на краю…
    Лишь о любви молю я Бога
    И за любовь — благодарю!
  {% endfilter %}
{% endblock %}
