{% extends template %}

{% set title = "Против всех" %}
{% set pubdate = "27.09.2017" %}

{% block content %}
  {% filter poem %}
    Горит восток огнём кровавым,
    Крошится сталь, и погибают россы,
    И наступает враг…

    Не будет никому спасенья,
    Ведь гибнем мы не просто так!
    Мы — дети матушки России;
    Пока мы живы — умирает враг!

    Пока мы живы — ты жива, Россия!
    Есть в жилах кровь — а значит, будут силы
    Бороться против всех!
  {% endfilter %}
{% endblock %}
