{% extends template %}

{% set title = "«Бушует ветер на просторах…»" %}
{% set pubdate = "27.09.2017" %}
{% set prev = "vshiviliceist/poem-4" %}

{% block content %}
  {% filter poem %}
    Бушует ветер на просторах,
    Град стучит по крыше,
    Сидим мы в домике вдвоём
    И ничего не слышим.

    Мечтаем о любви и счастье:
    Жить в мире и растить детей,
    И чтобы не было ненастья
    И на дворе всегда был день!
  {% endfilter %}
{% endblock %}
