{% extends template %}

{% set title = "«Города настигла ночь…»" %}
{% set pubdate = "27.09.2017" %}

{% block content %}
  {% filter epigraph %}
    {% filter poem %}
      Погас огонь, погасли свечи,
      Великий Град накрыла тьма...
    {% endfilter %}
  {% endfilter %}

  {% filter poem %}
    Города настигла ночь.
    Одиноко иду в тишине.
    Я с тобою, мой друг, навсегда!
    Я с тобою, родной человек!

    Не горит ни окно, ни фонарь.
    Нет на небе ни звёзд, ни луны.
    Я бреду в темноте наугад
    По проспектам, где нет ни души.

    Где-то там вдалеке у окна
    Ждёшь меня, наверное, ты.
    Я приду, когда включишь ты свет;
    Я приду — и увидимся мы.

    Города не настигнет ночь,
    Воссияет на небе рассвет.
    Я тебя никому не отдам,
    Я искал тебя тысячи лет!

    Позади осталась ночь,
    Тьма не властна над нами теперь,
    Я с тобою, мой друг, навсегда!
    Будь со мною, родной человек!
  {% endfilter %}
{% endblock %}
