{% extends template %}

{% set title = "Все мысли о тебе…" %}
{% set pubdate = "27.09.2017" %}

{% block content %}
  <p class="art__dedic">Посвящается Ю. В.</p>

  {% filter poem %}
    Люблю тебя, скучаю.
    Ты рядом не со мной.
    Куда же ты пропала,
    Прелестный ангел мой?!

    Ревную, не скучаю,
    Однако что со мной?
    Других не замечаю.
    Возможно, это сон?

    С тобою я встречаюсь
    В ближайшие часы.
    Я о тебе мечтаю —
    Нужна лишь только ты!

    Люблю тебя, скучаю,
    Скучаю и люблю.
    С тобою жить мечтаю!
    С тобою быть хочу!
  {% endfilter %}
{% endblock %}
