{% extends template %}

{% set title = "Звезда" %}
{% set pubdate = "01.03.2008" %}

{% block content %}
  {% filter epigraph %}
    {% filter poem %}
      Звёзды падают с небес
      и, врываясь в атмосферу,
      оставляют серебристый свет.
    {% endfilter %}
  {% endfilter %}

  {% filter poem %}
    Только тогда, когда в небе погаснет последняя звезда, люди поймут,
    что небо темно и нет в нём всей прелести ночного неба.
    Только тогда, когда мы теряем человека, мы вдруг понимаем, что он нужен нам.
    Только тогда, когда мы теряем любовь, мы...

    Люди подобны звёздам.
    Когда звезда падает, желание не загадывают.
    Когда звезда падает, гибнет чьё-то счастье, любовь, жизнь.
    Нехорошо загадывать желание, когда кому-то очень плохо.

    Звезду провожают молча. Дают ей спокойно уйти.
    Уйти! Чтобы по законам Вселенной
    где-то далеко, а может быть и совсем близко, родилась новая звезда
    и осветилось небо ещё одной звёздочкой.
  {% endfilter %}
{% endblock %}
