{% extends template %}

{% set title = "«Золотая осень, золотые дни…»" %}
{% set pubdate = "05.10.2017" %}
{% set next = "worldeater/not-formal" %}

{% block content %}
  {% filter poem %}
    Золотая осень, золотые дни.
    В это время года повстречались мы.
    Осенью волшебной полюбил тебя.
    Красотой твоею очарован я.

    Золотые листья, вечер у огня;
    Я смотрю, любуюсь нежно на тебя!
    Тёплая улыбка, дочка на руках.
    Мы с тобою вместе, будет только так!
  {% endfilter %}
{% endblock %}
