{% extends template %}

{% set title = "На двоих" %}
{% set pubdate = "30.11.2011" %}

{% block content %}
  {% filter poem %}
    На двоих с тобой — рассветы,
    Нежность песен и слеза,
    На двоих — кусок планеты
    И нежданная гроза.

    На двоих — очарованье,
    Что нам дарит тишина.
    На двоих — любви желанье,
    Свет далёкого окна.

    На двоих — струны дрожанье
    И сердец безумный стук.
    На двоих — луны сиянье
    И сплетенье наших рук.

    На двоих — строка в куплете
    И улыбка светлых глаз,
    Томность губ в прошедшем лете,
    Счастья найденный алмаз.

    На двоих с тобой делили
    Мы во сне цветные сны.
    Чувства наши не остыли —
    Лишь померкли до весны.
  {% endfilter %}
{% endblock %}
