{% extends template %}

{% set title = "Мой друг" %}
{% set pubdate = "30.11.2011" %}
{% set next = "eva/poem" %}

{% block content %}
  {% filter poem %}
    Мой друг, меня уже не радует рассвет,
    И тень моя не хочет быть со мной.
    Да. Я забыт. Меня уже здесь нет,
    И грусть моя повенчана с тоской.

    Мой друг, а знаешь, что такое осень?
    Это — увидеть в этом мире свет.
    Есенин на себя петлю набросил —
    И мёртвый уже встретил он рассвет.

    Мой друг, мы много в этой жизни встретим,
    Но не забудем и о прошлых мы годах.
    Пройдём, друг друга, может, не заметим,
    А новый снег грустит на проводах.

    Мой друг, я знаю, ты меня поймёшь.
    Я помню, понимал меня не раз,
    И в трудную минуту не уйдёшь,
    Не бросишь ты в лицо ненужных фраз.

    Мой друг, а если что не так — прости.
    Навеки будем мы с тобой друзья,
    И ни о чём ты в жизни не грусти —
    Ведь жизнь даётся нам всего одна.
  {% endfilter %}
{% endblock %}
