{% extends template %}

{% set title = "С каждым днём" %}
{% set pubdate = "30.11.2011" %}

{% block content %}
  {% filter poem %}
    С каждым днём всё сильней и сильней
    Меркнут листья осеннего сада.
    Я один среди сотен огней,
    Без волос твоих в цвет винограда,

    Без того, что невольно уйдёт —
    Всё, что дорого, мило и вечно.
    На ресницах расплавленный лёд
    Одиночеством давит беспечно.

    А на крышах отчаянный снег
    Снова слепит глаза белизною.
    Сердца скрип — как иступленный бег,
    Что ведёт нас ко встрече с весною.

    Рассекая веслом синь небес,
    Отражённую в водах прибрежных,
    Я плыву, ухожу через лес
    Вновь в объятиях осени нежных.

    С каждым днём всё сильней и сильней
    Меркнут листья осеннего сада.
    Я один среди сотен огней,
    Без волос твоих в цвет винограда.
  {% endfilter %}
{% endblock %}
