{% extends template %}

{% set title = "Письмо" %}
{% set pubdate = "30.11.2011" %}
{% set prev = "silver88darya/poem" %}

{% block content %}
  {% filter poem %}
    В плеере моём играет рок-н-ролл,
    А осень за окном пакует чемоданы.
    Письмо твоё легло ко мне на стол,
    И строки в нём красивы и туманны.

    Ты пишешь, что одна встречаешь вечер,
    И как укрыты белым пледом все мосты,
    Как помнят рук моих касанье твои плечи,
    И что стихи мои понятны и просты.

    Ты пишешь, что по всем частотам
    Передают лишь только сердца стук,
    Когда снежинки в медленном полёте
    Касаются твоих ресниц и рук.

    А поцелуй, как дивное признанье,
    Заменит тысячи красивых, связных фраз,
    Когда одним становится дыханье
    И неотрывны взгляды томных глаз.

    Я почему-то вспомнил своё детство,
    Как бегал босиком средь грязных луж,
    И не было меж нами километров,
    Мешающих родству уставших душ.

    Зима уже звонит на мой мобильный,
    Слова её наивны и туманны,
    А в плеере моём играет рок-н-ролл,
    И осень за окном пакует чемоданы.
  {% endfilter %}
{% endblock %}
