{% extends template %}

{% set title = "Зима" %}
{% set pubdate = "23.02.2008" %}

{% block content %}
  {% filter poem %}
    После солнечных дней наступила зима:
    Листья наземь опали, и снова
    От зари до зари печь не гаснет в домах,
    А на улице царствует холод.

    День — не день — серый мрак, ночь же — страх и обман.
    Вьюга в ставни стучит до рассвета,
    Снегопад застилает дороги следы.
    И так длится до самого лета.

    Но поверь, что зимой не всегда стелет снег:
    Солнце выглянет после ненастья,
    Ночь пройдёт, зимний день в свои вступит права,
    А душа вновь наполнится счастьем.

    И деревья со снегом в ветвях серебром
    На морозе под солнцем сверкают,
    С неба льются лучи, ослепляют меня,
    Лёд искриться они заставляют.

    Свет лучей отражается в стёклах домов,
    На снегу и на ледяных крышах,
    А попав мне в глаза — отражается в них
    Этот солнечный свет светом свыше.

    То божественный дар, торжество света дня:
    В первый раз после вьюжного плена
    Жизнь и радостный блеск подхватили меня,
    Закружив среди зимнего неба.
  {% endfilter %}
{% endblock %}
