{% extends template %}

{% set title = "Мечта" %}
{% set pubdate = "19.02.2008" %}
{% set prev = "olgadyakova/poem-7" %}

{% block content %}
  {% filter poem %}
    Я знаю, что нельзя из сказки сделать быль,
    Что не дано мечтам стать образом земным.
    Не встречу никогда прекрасных тех существ,
    Что грезились мне в час, когда смеркался лес.

    Не будет реять стяг в прозрачном ветерке,
    Не будут трубы возвещать победу вновь и вновь,
    Не будут жизнь и честь висеть на волоске,
    И не спасут весь мир отвага и любовь.

    Так просто полюбить заветную мечту,
    Поверить: в нашем мире есть место волшебству.
    Несовершенен он и будет глух к мольбам:
    Под натиском обид пасть суждено мечтам.

    Не будет реять стяг в прозрачном ветерке,
    Не будут трубы возвещать победу вновь и вновь,
    Не будут жизнь и честь висеть на волоске,
    И не спасут весь мир отвага и любовь.

    Останется мой сон в тени густых аллей,
    В течении ручья или среди полей.
    Я знаю, где искать, о дивная мечта,
    Жаль, на земле тебя не встречу никогда!

    Не будет реять стяг в прозрачном ветерке,
    Не будут трубы возвещать победу вновь и вновь,
    Не будут жизнь и честь висеть на волоске,
    И не спасут весь мир отвага и любовь.
  {% endfilter %}
{% endblock %}
