{% extends template %}

{% set title = "«Мы стоим на вершине скалы…»" %}
{% set pubdate = "25.02.2008" %}
{% set next = "associator/poem" %}

{% block content %}
  {% filter poem %}
    Мы стоим на вершине скалы.
    Наши взоры нацелены вдаль.
    В этот час нам слова не нужны,
    Даже ветер здесь слышен едва ль.

    Камни, ночь, красота островов,
    Средь фиордов раскинувших сеть:
    Здесь, возможно, картины из снов
    Оживут, стоит лишь захотеть.

    И как будто сейчас из-за скал
    Тихим взмахом и всплеском весла
    Выйдет к нам крутобокий драккар,
    Опустив на ночлег паруса.

    Но пока среди нас только ночь,
    Только звёзды горят в вышине.
    Словно время не двинется прочь:
    Дремлет вечность здесь в каждой скале.
  {% endfilter %}
{% endblock %}
