{% extends template %}

{% set title = "Finis" %}
{% set pubdate = "15.11.2011" %}
{% set workdate = "27.09.2008" %}

{% block heading %}
  <h1 class="art__title">{{notelink("Finis", 1)}}</h1>
{% endblock %}

{% block content %}
  {% filter poem %}
    Зарастают оконные стёкла
    Белым инеем снежной души.
    Всё размыто недвижным и блёклым,
    Бесконечным потоком воды.

    Белых чаек кричащие стаи
    Улетают в беззвучную даль.
    Ночь меняет простые вуали
    На бескрайнюю чёрную шаль.

    Над полями огни, загораясь,
    Потухают в забытом краю.
    Белый ангел, легко улыбаясь,
    Мне откроет ворота в раю…
  {% endfilter %}
{% endblock %}

{% block notes %}
  [Finis] (лат.) — «конец» — прим. авт.
{% endblock %}
