{% extends template %}

{% set title = "Снегу суждено всё замести…" %}
{% set pubdate = "15.11.2011" %}
{% set workdate = "09.01.2010" %}

{% block content %}
  {% filter poem %}
    Снегу суждено всё замести:
    Страхи, сны, обиды и желанья.
    И, возможно, не останется пути,
    Как избавиться от разочарованья

    В том, что сделать что-то мог,
    Полюбить, простить, оставить что-то,
    В том, что, соблазнившись от дорог,
    Ты ушёл, не взяв с собой кого-то.

    И тот «кто-то» смотрит тебе вслед
    Фонарями на твоём пути…
    Ты идёшь, и под ногами свет.
    …Снегу суждено всё замести…
  {% endfilter %}
{% endblock %}
