{% extends template %}

{% set title = "Печальное Солнце стекает…" %}
{% set pubdate = "15.11.2011" %}
{% set workdate = "01.06.2011" %}

{% block content %}
  {% filter poem %}
    Печальное Солнце стекает за горизонт,
    Стекает… Следы затирает планета.
    И звёзды идут на невидимый фронт,
    Воюют, как будто последнее {{ notelink("лето", 1) }}.

    В безумном молчании движутся тени,
    Скрываясь от истинно Светлых Миров.
    Незримы бои между диких Вселенных.
    Упавшие звёзды — то отзвук боёв…

    Но в тихом сиянии северных нитей,
    Зажжённых народам Д`Арии светлой,
    Имеющий очи узрит: Света ждите!
    Ведь звёзды воюют последнее лето.
  {% endfilter %}
{% endblock %}

{% block notes %}
    [Лето] — здесь и далее означает «год» — прим. авт.
{% endblock %}
