{% extends template %}

{% set title = "Улыбка" %}
{% set pubdate = "15.11.2011" %}
{% set workdate = "02.12.2010" %}
{% set prev = "krylov/poem" %}

{% block content %}
  {% filter poem %}
    Чмокала грязь под ногами идущих,
    Шли только семь человек.
    Кто-то из них пел про райские кущи
    И про бессмертия будущий век.

    Чмокала грязь под ногами идущих.
    Мглистое утро осеннего дня…
    Дождь расходился всё пуще и пуще,
    Мир поглотила его пелена.

    Сосны, берёзы, притихшие ивы
    В мягком плену намокающих дней.
    Струи дождя так печально-красивы…
    Кто-то торопит: «Скорей же, скорей!..»

    Ящик, обитый зелёным вельветом,
    К месту, не к месту ли празднично нов.
    Мрачные лица. Лишь призрачным светом
    Полно лицо у того, кто без слов

    В лодке своей, что плывёт безразлично
    В серую даль. Всё качается зыбко.
    Мглистая вечность… И так непривычно
    Эта чужая застыла улыбка…
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2010-12-02">01.12.2010 — 02.12.2010</time>
{% endblock %}
