{% extends template %}

{% set title = "Дарья Хвальковская" %}
{% set pubdate = "06.04.2008" %}
{% set contact = "mailto:silver88darya@mail.ru" %}
{% set prev = "sangry-ya/index" %}
{% set next = "denver1982/index" %}
{% set gender = "female" %}
{% set tocBlockHeading = "Стихотворения" %}
{% set biographyHeading = "Об авторе" %}

{% block biography %}
  {{authorLinks("//vk.com/id3738146")}}
{% endblock %}
