{% extends template %}

{% set title = "«Снова ветер сплетёт игриво…»" %}
{% set pubdate = "25.10.2011" %}
{% set workdate = "05.08.2011" %}

{% block content %}
  {% filter poem %}
    Снова ветер сплетёт игриво,
    На галоп сумасшедший глядя,
    Золотистые пряди гривы
    И волос золотые пряди.

    Вся долина росой умыта,
    Век глядеть бы — не наглядеться…
    Приглушённо стучат копыта,
    Повторяя удары сердца…

    По теченью — веселья ради,
    В ореоле десятка радуг!
    Брызги солнца вплетутся в пряди —
    И останутся нам в награду…

    А потом в деннике прохладном
    Белый кубик возьмёшь с ладони —
    Так доверчиво-деликатно,
    Словно линию жизни тронешь…
  {% endfilter %}
{% endblock %}
