{% extends template %}

{% set title = "О чём молчат холмы" %}
{% set pubdate = "25.10.2011" %}
{% set workdate = "14.09.2011" %}

{% block content %}
  {% filter poem %}
    Кто-то депрессию топит в вине,
    Кто-то бормочет псалмы,
    Кто-то лежит, словно якорь, на дне…
    Я — удаляюсь в холмы.

    Древние тайны веками хранят,
    Шепчут — хоть с виду немы —
    Сотни преданий, легенд и баллад
    Знают седые холмы!

    Сколько их было за тысячи лет —
    Дней, что страшнее чумы!
    Битвы и войны — за войнами вслед
    Кровью багрили холмы…

    Кто-то жирует, купаясь в деньгах,
    Кто-то пирует взаймы…
    Те и другие — не больше, чем прах —
    Прах, что питает холмы.

    Где они — те, кто на братьев восстал —
    Грозной эпохи умы?
    Время сжирает и плоть, и металл,
    Глубже вгрызаясь в холмы.

    Время, детей превратив в стариков,
    Ждёт за воротами тьмы…
    …Чтобы почувствовать бремя веков —
    Я удаляюсь в холмы…
  {% endfilter %}
{% endblock %}
