{% extends template %}

{% set title = "Сентябрьский ливень" %}
{% set pubdate = "25.10.2011" %}
{% set workdate = "23.09.2011" %}

{% block content %}
  {% filter poem %}
    В небесной канцелярии
    Объявлена авария
    (Труба, видать, заварена
    Неправильно была):
    Вода на землю хлынула,
    А солнце тучи сдвинуло,
    И — в щелочку — невинно так:
    Мол, как у вас дела?

    Дела внизу не очень-то:
    Текут потоки мощные,
    Несутся прямо к площади,
    Смывая по пути
    Окурки сигаретные,
    И фантики конфетные,
    И надписи заветные:
    «Привет!», «люблю», «прости»…

    Кленовых листьев крабики,
    Каштановых — кораблики
    Плывут навстречу радуге,
    Спешат за Рубикон,
    В далекий край таинственный,
    Туда, где душам лиственным
    Вернёт их облик истинный
    Волшебник-лепрекон!

    Прохожие, похожие
    На гусениц стреноженных,
    Ползут-бредут, скукожившись,
    Укутавшись в плащи.
    Они бормочут: «Боже мой!» —
    Они всерьёз встревожены
    Сомнительной возможностью
    Простуду притащить.

    А я бегу с коляскою,
    Смеюсь и строю глазки им.
    Они глядят с опаскою —
    Мол, часом, не больна?
    Без куртки и без зонтика!
    — В порядке я! Позвольте-ка…
    …Такая вот экзотика —
    Осенняя весна!
  {% endfilter %}
{% endblock %}
