{% extends template %}

{% set title = "Радуга в душе" %}
{% set pubdate = "25.10.2011" %}
{% set workdate = "11.08.2011" %}

{% block content %}
  {% filter poem %}
    Не знаю, что сваять хотел
    Создатель наших душ и тел
    В день моего на белом свете появленья…
    Лепя души моей овал,
    Он что-то тихо напевал
    И пребывал в весьма игривом настроенье.

    Хотя апрельский госзаказ
    Творцом был выполнен «на раз»,
    Дежурный аист обнаружил недостачу:
    «Нужна еще одна душа,
    Давай-ка, Отче, поспешай —
    Сегодня в полдень прилечу за передачей!»

    Царил порядок и покой
    В Его прохладной мастерской,
    Флаконы с красками на полке подсыхали;
    И окна с видом на закат
    Раскрыты были в райский сад,
    Где ангелочки над деревьями порхали…

    Осталось глянец навести,
    Когда, в районе десяти,
    Дежурный аист приземлился на окошко.
    Спросил: «Ну как, готов пакет?» —
    Творец ответил: «Нет-нет-нет!
    Сейчас покрашу, подожди, дружок, немножко!»

    Был выбран цвет — наверняка!
    Но, видно, дрогнула рука,
    Когда поспешно доставал Он краски с полки…
    …Создатель, руки опустив,
    Смущённо хмыкнул: «Креатив!» —
    И смёл флаконов разноцветные осколки…

    И вот — который год уже —
    Ношу я радугу в душе.
  {% endfilter %}
{% endblock %}
