{% extends template %}

{% set title = "Пора верлибра" %}
{% set pubdate = "25.10.2011" %}
{% set workdate = "31.08.2011" %}

{% block content %}
  {% filter poem %}
    Вновь под порывами ветра
    рифмы осыпались с веток:
    видишь — они сверкают
    в жухлой траве —
    золотыми монетами…
    Строчки, размытые ливнями,
    сразу утратили стройность:
    видишь — раскисшее нечто,
    месиво —
    в старом саду под яблоней…
    Рвутся привычные ритмы
    клочьями серых туч:
    видишь — они, ураганом гонимы,
    летят
    по небосводу сознания…
    Стопы — горошины града —
    скачут — то чаще, то реже:
    видишь, они на асфальте
    танцуют
    бешеную лезгинку…
    Спутаны солнце и холод,
    знания и эмоции,
    ямбы, хореи, дактили —
    видишь —
    осень — пора верлибра…
  {% endfilter %}
{% endblock %}
