{% extends template %}

{% set title = "Что — имя?" %}
{% set pubdate = "25.10.2011" %}
{% set workdate = "08.09.2011" %}

{% block content %}
  {% filter poem %}
    «Что — имя? Звук!» — «Не просто звук:
    Весна. Рассвет. Вода вокруг.
    Густой туман, седая мгла,
    Уключин скрип и плеск весла…»

    «Что — имя? Сон!» — «Не просто сон:
    Шуршанье ливня, грома стон,
    Безумство ночи грозовой
    И молний танец огневой…»

    «Что — имя? Пепел!» — «Не скажи:
    Закат над полем спелой ржи,
    Рябина, крики журавлей
    И дым полынный из полей…»

    «Что — имя…» — «Иней, снегири,
    На стёклах — отблески зари,
    Мороз, снежинки в волосах,
    Салют — и полночь на часах…
    Огромный мир, уютный дом…
    Всё это — в имени твоём…»
  {% endfilter %}
{% endblock %}
