{% extends template %}

{% set title = "Уравнение с одной неизвестной" %}
{% set pubdate = "05.01.2012" %}
{% set workdate = "06.12.2011" %}

{% block content %}
  {% filter poem %}
    Торшер. Забытый телевизор — треск, как в рации…
    Салат засохший, фрукты. Скатерть. Пятна винные.
    В хрустальной вазочке нелепой декорацией
    Стоят нарциссы — снежно-белые, невинные.

    Мерцают звёзды — будто свечи поминальные.
    Ты у окна застыла куклой бессловесною:
    В любви до гроба уравнение банальное
    Случайным образом закралась неизвестная.

    Все вещи свалены надгробием бесформенным:
    Пусть собирает — и уходит! Утешение?
    По запотевшему стеклу ты пишешь формулы,
    Пытаясь как-то докопаться до решения.

    Решать систему с «Как же быть?» — задача сложная,
    С «Кто виноват» — идея вовсе бесполезная!
    Его уходы, возвращения… А можно ли
    Понять, откуда появилась неизвестная?

    «Я. Он. Семья. Любовь? Она». Опять зачёркнуто.
    «Его признания. Она. Семья. Стихи мои».
    Нет, не решается никак задача чёртова!
    А может… не было любви — сплошная химия?

    Уже тошнит от всех усилий прилагаемых,
    И значит — хватит лить тут слёзы неуместные,
    А взять — и выбросить второе из слагаемых,
    Стереть из памяти — и эту… неизвестную!

    Он в сотый раз к твоей душе звонками тянется:
    «Прости, любимая! Мы снова будем счастливы!»
    Опять делить любовь? И что тогда останется?
    Но… ноль в делителе не даст в итоге частное!

    Уже летит к тебе ночными светофорами,
    Готов терпеть упрёки, беды и лишения…
    И ты стираешь опостылевшую формулу,
    Найдя единственное верное решение.

    Ну сколько можно труп семьи реанимировать?
    Простить? Принять? Ведь не удержишь зверя кордами!
    Все знаки сложатся в «Казнить. Нельзя помиловать!» —
    Твои слова добьют любовь — мизерикордами.
  {% endfilter %}
{% endblock %}
