{% extends template %}

{% set title = "Рождественский сонет" %}
{% set pubdate = "05.01.2012" %}
{% set workdate = "09.12.2011" %}

{% block content %}
  {% filter poem %}
    В сахарной пудре — верхушки холмов-куличей.
    Свечи берёзок цветут снегириными грудками.
    В небо шпагатами тянется дым от печей.
    А под ногами не чавканье — бодрое хрумканье.

    Сосны кудрявые в лёгких ажурных платках,
    Белая скатерть с мережкой на поле расстелена.
    Месяц лукаво глядит, улыбаясь слегка:
    Мол, суетитесь, бедняжки? Эх, молодо-зелено!

    Пара сорок-поварих согласует меню.
    Тучная тучка барашком пасётся по озими.
    Скоро — волшебный подарок короткому дню —
    Дали начнут розоветь маргаритками поздними,

    Солнечный шар заалеет — зимы колдовство…
    Всё подготовлено: время встречать Рождество!
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2011-12-09">08.12.2011 — 09.12.2011</time>
{% endblock %}
