{% extends template %}

{% set title = "Несходство" %}
{% set pubdate = "05.01.2012" %}
{% set workdate = "10.11.2011" %}

{% block content %}
  {% filter poem %}
    Ты, на конюшню попав, можешь только ахнуть,
    Скорчив гримасу от запаха лошадей…
    Я утверждаю, что лошади славно пахнут,
    Чем отличаются — выгодно — от людей.

    Главному держишь и зонтик, и дверцу «доджа» —
    Я не терплю раболепных лакейских поз.
    Кто тот безумец, сказавший, что мы похожи?!
    Мы непохожи, как волк — и домашний пёс!

    Ты в коньяках extra old несомненный профи,
    Чуешь нутром характерный купюрный хруст —
    Я потребляю армянский с остывшим кофе,
    Деньги — на ветер (а может — на корм костру)!

    Ты без веселья минуты прожить не можешь —
    Я то смеюсь, то опять улетаю в грусть…
    Как можно было подумать, что мы похожи?
    Мы непохожи, как лебедь — и жирный гусь!

    Вновь в бенуар достаёшь VIP-билеты,
    Чтоб послушать известных «крутых» певиц —
    Я же любуюсь неярким нарядом лета
    И наслаждаюсь симфонией певчих птиц.

    Ты отдыхаешь в кальянной на низком ложе —
    Я у палатки сижу и смотрю в огонь…
    Только слепец может верить, что мы похожи!
    Мы непохожи: мустанг — и конкурный конь.

    Жертвуя эго во имя своей карьеры,
    Скачешь карьером сквозь строй однотипных дней —
    Я же ломаю устои, крушу барьеры:
    Быть бы собой, а карьера — холера с ней!

    Только… пишу этот стих — а сомненье гложет,
    Где-то в подкорке упрямо скребётся мысль:
    Знаешь, а всё-таки… всё-таки мы — похожи,
    Два человека, безумно влюблённых в жизнь!
  {% endfilter %}
{% endblock %}
