{% extends template %}

{% set title = "Лучший психолог" %}
{% set pubdate = "05.01.2012" %}
{% set workdate = "30.11.2011" %}

{% block content %}
  {% filter poem %}
    Не торю я тропку к знатному психологу,
    Если вдруг душевные струны где-то рву:
    Нужный мне психолог чинно бродит по лугу,
    Тычась храпом шёлковым в сочную траву.

    Мы к нему приедем — в полном соответствии
    С личным расписанием — в среду, скажем, в шесть.
    Видите, несётся с радостным приветствием…
    Кстати, предоплата же! Что в карманах есть?

    Уберите евро, спрячьте в сумку доллары:
    Не унизьте гения, чванясь и кичась!
    За свои услуги он берёт недорого:
    Сушками и сахаром — семь кусочков в час.

    Методы и средства — только невербальные,
    Но — чужой обидел ли, близкий ли отверг —
    Острые проблемы, ранее — глобальные,
    Станут незначительней дождика в четверг!

    Этот врач не станет мучить вас советами,
    Изводить вопросами в поисках корней…
    Психотерапия будет незаметною:
    Не полезет в душу он — прикоснётся к ней!

    И в ладошку ткнётся — бархатно, доверчиво,
    В ухо фыркнет ласково: всё, мол, хорошо!
    Стоит пообщаться с ним с утра до вечера —
    Выйдете с очищенной заново душой.

    Ну а в благодарность — если вдруг не хлопотно
    (Он подставил спину вам — это неспроста!),
    По упругой холке доктора похлопайте,
    Да репьи колючие выньте из хвоста.

    …Солнце льётся лавой, север веет холодом,
    Ветер воет жалобно, дождь, гроза, буран —
    Всё равно я еду к лучшему психологу
    На сеанс лечения всех душевных ран!
  {% endfilter %}
{% endblock %}
