{% extends template %}

{% set title = "Ревность" %}
{% set pubdate = "05.01.2012" %}
{% set workdate = "12.12.2011" %}
{% set next = "urfygeck/fantasy-1" %}

{% block content %}
  {% filter poem %}
    Это — медленный яд, отравляющий газ,
    Что готов заменить атмосферу вам.
    И, вдохнув его, чувств белоснежный Пегас
    Обернётся конём Люциферовым.

    Вороному не нужно ни плёток, ни шпор —
    Он сорвётся без всякого повода,
    Сразу с места — в карьер, словно выстрел в упор,
    Игнорируя доводы повода.

    Грызло крепко закусит — хоть рот разорви! —
    Понесётся без страха, без робости
    По истерзанной плоти вчерашней любви
    Прямо к хищно оскаленной пропасти.

    И, вцепившийся в гриву, что жарче огня,
    Ты боишься — боишься панически!
    Вопль «Снимите меня! Пристрелите коня!»
    Заглушит чей-то смех демонический…

    Но бывает, что, пущена метким стрелком,
    Пуля входит в коварную бестию.
    Та споткнётся — и ты полетишь кувырком
    За секунду, казалось, до бедствия.

    …Наблюдаешь агонию — слёзы из глаз.
    Подползёшь — и нащупаешь пульс её:
    Не чудовище — чувств белоснежный Пегас
    Под рукой твоей бьётся в конвульсиях…
  {% endfilter %}
{% endblock %}
