{% extends template %}

{% set title = "Зона доступа" %}
{% set pubdate = "05.01.2012" %}
{% set workdate = "16.11.2011" %}

{% block content %}
  {% filter poem %}
    Чем ты платишь Морфею — маками
    Или — к горлу клинками острыми?
    Пробираешься снами как ко мне?
    Я ведь ночью — вне зоны доступа!

    Неужели и вправду — вечная
    Та любовь, что по дури начата?
    Пролетаешь путями млечными,
    Игнорируя знаки начисто.

    А в реальности, милый, вспомнишь ли —
    Губы бледные, пальцы нервные —
    Ту, что взглядом просила помощи
    И всегда приходила первою?

    Прикоснёшься, бывало, — шалости! —
    Но расплавилась воском я уж вся…
    Ты тогда ещё был безжалостен,
    И сегодня — как прежде — явишься.

    Подкрадешься во сне, неспешно так,
    Грациозной кошачьей поступью —
    Сердце глупое, сердце грешное
    Не отпустишь из зоны доступа…
  {% endfilter %}
{% endblock %}
