{% extends template %}

{% set title = "В защиту мужчин" %}
{% set pubdate = "05.01.2012" %}
{% set workdate = "22.11.2011" %}

{% block content %}
  {% filter poem %}
    Век железный — и люди железные.
    Мало мёда — как правило, яд.
    Но опять над житейскою бездною,
    Как Атланты, мужчины стоят.

    В дни, когда от бессилия воем мы
    И беспомощно машем рукой,
    Беспристрастно-суровые воины
    Охраняют наш шаткий покой.

    Нет, не плачьтесь на долю тяжёлую —
    Нам полегче: хоть беды и бьют,
    Мы становимся мамами, жёнами,
    Возвращаясь в домашний уют.

    А мужчины до изнеможения
    В бесконечном нелепом бою
    Дни и ночи проводят в сражениях:
    За карьеру, за мир, за семью.

    Их с рождения учат быть сильными.
    Жизнь шипит, прямо в ухо, как змей:
    «Пусть коленка разбитая, синяя —
    Ты мужчина! И плакать не смей!»

    Что — коленка! И судьбы ломаются.
    Но по-прежнему хлещет, как плеть:
    «Встать! Оправиться! Дурью не маяться!
    Ты — мужчина! Ты должен терпеть!»

    Терпят — всё. С побелевшими пальцами,
    Стиснув зубы, идут до конца,
    Оградив нержавеющим панцирем
    Беззащитные прежде сердца.

    Покрываются лица морщинами,
    Но крепчает с годами броня —
    И они умирают — Мужчинами.
    За неё. За тебя. За меня.

    …Мало сделано, много обещано —
    Но не сдастся мужчина, пока
    Беззащитная хрупкая женщина
    Чутко спит у него на руках.
  {% endfilter %}
{% endblock %}
