{% extends template %}

{% set title = "«Нет, лето не умерло — временно вышло из строя…»" %}
{% set pubdate = "05.01.2012" %}

{% block content %}
  {% filter poem %}
    Нет, лето не умерло — временно вышло из строя,
    В густые леса удалилось залечивать раны —
    Подбито, утыкано белыми стрелами с неба,
    Не в силах пока продолжать бесполезных сражений.
    И пусть календарь от тоски ощутимо худеет —
    Нельзя со счетов преждевременно сбрасывать лето!
    Я вижу везде незаметные, тайные знаки —
    Оно намекает, что живо, и помнит, и рядом:
    Мигает лукавыми глазками поздних ромашек,
    И машет зелёным листком из-под первого снега,
    На мокром асфальте предзимнего синего неба
    Мелком самолёта рисует секретные карты,
    Брусничным пунктиром разметит пути наступлений,
    Маршрут обозначит пурпурными точками яблок…
    А дятел-радист по стволу отбивает морзянку:
    «Я с вами. Сейчас отлежусь до апреля — и встану!»
  {% endfilter %}
{% endblock %}

{% block dateplace %}
  <time class="page__workdate" datetime="2011-11">Ноябрь 2011</time>
{% endblock %}
