{% extends template %}

{% set title = "Храм природы" %}
{% set pubdate = "05.01.2012" %}
{% set workdate = "01.12.2011" %}

{% block content %}
  {% filter poem %}
    Пришедший к зимнему костру
    В извечных поисках покоя!
    Святого леса тайных струн
    Коснись почтительно рукою —

    Услышь природы дивный ритм,
    Напейся воздухом бодрящим,
    Взгляни вокруг, застынь, замри —
    Припомни: ищем — и обрящем!

    Пусть пламя беличьим хвостом
    Мелькает в ветках с тихим треском…
    Ты в храме, странник! В храме том
    Есть место росписям и фрескам.

    Его хрустальный силуэт
    Стремится ввысь, к воротам рая,
    Вздохнёт восторженно поэт,
    От восхищенья замирая —

    И атеист впадёт в экстаз,
    Покрыв неверие позором…
    Взгляни, резной иконостас
    Блестит серебряным узором,

    Горят лампады-снегири
    Под сводом, светлым и прохладным…
    Войди, почувствуй, воскури
    Опавшей хвои терпкий ладан

    В ладье-кадильнице зимы,
    Закатным золотом облитой!
    Затишье кончилось — и мы
    Внимаем шёпоту молитвы

    Ветров — и пусть отдельных слов
    Не разобрать — молчи и слушай!
    Далёкий звон колоколов
    Вольёт покой в любую душу —

    Вином — по капле, не спеша…
    Осанну птицы солнцу спели —
    Его огромный алый шар
    Уже спускается к купели

    Святой, озёрной, ледяной.
    Оно грехи дневные смоет —
    И мир наполнит тишиной
    Благословение немое.

    В сплетеньи веток кружевном
    Начнётся лунная дорога,
    А сквозь витражное окно
    Проступит лик седого Бога…
  {% endfilter %}
{% endblock %}
