{% extends template %}

{% set title = "Город, в котором я жила" %}
{% set pubdate = "05.01.2012" %}
{% set workdate = "13.11.2011" %}
{% set workplace = "Могилёв" %}

{% block preface %}
  {% filter epigraph %}
    {% filter poem("quote") %}
      Тот город, мной любимый с детства,
      В его декабрьской тишине
      Моим промотанным наследством
      Сегодня показался мне…

      [Анна Ахматова]
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  <h2 class="art__subtitle">1</h2>
  {% filter poem %}
    Упавший в бокал зимы,
    Невидимый в белой взвеси,
    Был кем-то мне дан взаймы —
    Его я вернула весь, и

    Забыла до той поры,
    Где снова проценты платим —
    Стянула дары-дворы
    Коротеньким детским платьем,

    Растоптанным башмачком,
    Что стал вдруг ужасно тесен.
    …А город лежал ничком,
    Одетый в обрывки песен,

    Подобранных невпопад,
    Безвкусно, смешно, нелепо…
    Исполнило снегопад
    Уставшее плакать небо.

    Он с детства меня носил
    Над синей, весенней, талой —
    Баюкал, качал… но сил
    Решительно не хватало.

    Бедняга сдавал, старел
    Безжалостно одиноко,
    Лишь преданно так смотрел
    Глазами погасших окон…

    Безумец — он верил мне,
    Хоть видел уже — чужая…
    Как нищему — медь монет —
    Кинжальное «уезжаю»

    Швырнула на парапет
    Хмельному вокзалу в горсти.
    Последний куплет пропет,
    Возможно, приеду — в гости…

    Алисой в реальном сне
    Шагнула в привычный тамбур,
    Не глядя, как пьяный снег
    Танцует шальную самбу

    Под уличным фонарём —
    Последнюю, может статься…
    …Но с тем, что взаймы берём,
    Так трудно порой расстаться!
  {% endfilter %}

  <h2 class="art__subtitle">2</h2>
  {% filter poem %}
    Опершись на костыли
    Днепровских мостов,
    Ты клятвы мои делил —
    Примерно на сто.

    И думал, что снова — зря,
    И в этом был прав,
    Но всё-таки, несмотря
    На старческий нрав,

    Тишовские огоньки
    Ты жёг для меня.
    На двух берегах реки
    Встречали, маня,

    Высотных домов глаза,
    Дубровенский плёс
    И шумный базар-вокзал,
    Знакомый до слёз…

    С визитом бежала я
    К бродяге-Днепру,
    Вдыхала тягучий яд
    Лавсановских труб.

    А ты сквозь привычный гам
    Всю ночь до утра
    Прислушивался к шагам
    По плитам двора

    И скупо так, по-мужски,
    У входа в «Метро»
    Касался моей щеки
    Руками ветров…

    И вновь за составом шёл,
    Сердясь и ворча
    О людях с пустой душой,
    О нравах минчан,

    Отстав под пустым мостом
    В кольце фонарей
    И воздух хватая ртом
    Вокзальных дверей —

    Приплывший на мели сом
    В рыбацкой сети;
    Старик с молодым лицом…
    Я знаю. Прости!
  {% endfilter %}
{% endblock %}
