{% extends template %}

{% set title = "Стихорождение" %}
{% set pubdate = "05.01.2012" %}
{% set workdate = "02.11.2011" %}
{% set prev = "sicista_napaea/gears-18" %}

{% block content %}
  {% filter poem %}
    Яркий всполох — и мир киноплёнкой
    Запестрел, оборвался, затих,
    Лишь под сердцем желанным ребёнком
    Ощутимо толкается стих.

    Беззащитный, упорный и светлый,
    Как же он незаметно пророс —
    Тёплый сгусток энергии ветра,
    Солнца, радуги, ливней и гроз…

    Облекается плотью из мыслей
    Силлабический хрупкий скелет.
    Пусть ещё до конца не осмыслен,
    Невесомый — как призрачный след —

    Прибавляет в размере и весе,
    Обретает способность дышать…
    Всё — доношен, активен и весел.
    Белый лист, принимай малыша!

    Он, согласно законам природы,
    Рвётся в мир, ничего не боясь…
    С сожалением матери в родах
    Обрываю незримую связь.

    На подушки откинусь в бессильи,
    Нежным взором окину дитя:
    — Что же, маленький, вот тебе крылья —
    Не забудь меня, к людям летя!
  {% endfilter %}
{% endblock %}
