{% extends template %}

{% set title = "Ураган" %}
{% set pubdate = "05.01.2012" %}
{% set workdate = "28.11.2011" %}

{% block content %}
  {% filter poem %}
    Вновь Борей буянил не по-детски —
    Знать, с похмелья утро было хмурым!
    С разудалым свистом молодецким
    Проскакал карьером на кауром.

    Проскакал над полем полусонным —
    Пыль столбом вздымалась за пролёткой;
    От бессилья стонущий сосонник
    Отстегал нещадно чёрной плёткой.

    На лету сорвал с берёзки платье —
    Странны тела гибкого изломы;
    А дубы — её суровых братьев —
    Разметал, как пригоршню соломы.

    И в бесстыдной, жадной, дерзкой ласке
    К белоснежной шее приникая,
    Закружил в безумной пьяной пляске,
    Хохоча: «Распутная какая!»

    Начертал затейливые руны,
    Препираясь в небе с облаками,
    Проводов серебряные струны
    Оборвал могучими руками.

    В непонятной ярости звериной,
    Одержим мечтой попасть в анналы,
    Раздробил зеркальные витрины
    На тугой поверхности канала…

    Целый день крушил столбы, заборы —
    И, в озимых вытоптав арену,
    Завалился спать у края бора,
    Обнимая томную Морену.
  {% endfilter %}
{% endblock %}
