{% extends template %}

{% set title = "Прометей" %}
{% set pubdate = "05.01.2012" %}
{% set workdate = "29.11.2011" %}

{% block content %}
  {% filter poem %}
    Слоишь в пустом бокале неба утро-вечер ты,
    Закат стекает по скале «кровавой Мэри».
    И у подножья не найдёшь в густой траве черты —
    Той, что могла б границу вечности отмерить.

    Бледнея, день у ног свернулся тёртым калачом —
    Возможно, он тебя бы вызволил и свёз, но,
    Топча беднягу, Знаменосец проскакал… О чём
    Тебе пролаял Гончий Пёс из своры звёздной?

    О том, что скоро обозначит утро охры нить,
    Над головой, как прежде, крылья будут хлопать…
    Существованье — спорный клад! Зачем его хранить,
    Растя ошмётки свежевыклеванной плоти?

    А на Олимпе вновь мелькание туник и тог,
    И ты кричишь — хоть знаешь: тщетно! — не немой же!
    Бессильной яростью умылся — и поник. Итог:
    Сойти б с ума! Но даже этого не можешь.

    Забыть про всё, облечься плотью новой, лечь — но пут
    Не разорвать. Забвенье — миг, как он далёк от
    Дороги жизни, что не хочет влиться в Млечный Путь…
    «Свободен! Боги!» — …Свист стрелы. Орлиный клёкот.
  {% endfilter %}
{% endblock %}
