{% extends template %}

{% set title = "Отпущу" %}
{% set pubdate = "13.11.2011" %}
{% set workdate = "30.10.2011" %}

{% block content %}
  {% filter poem %}
    Вот и вспомнила про душу —
    Срок бедняга отбывает.
    Осознала — жутко, чётко:
    Отпущу!
    Затаившись, буду слушать,
    Как дождинки отбивают
    Сумасшедшую чечётку
    По плащу…

    Отпущу её — мгновенно,
    И обидеть не позволю
    С завидущими глазами
    Подлецу.
    Перережу путы-вены,
    Заскулив от острой боли…
    Потечёт ноябрь слезами
    По лицу.

    Всех давно за всё простила —
    И не горько, и не больно!
    За окном зима застыла —
    Мне под стать:
    — Что, подруга, загрустила?
    — Просто душу птицей вольной
    Я сегодня отпустила
    Полетать.
  {% endfilter %}
{% endblock %}
