{% extends template %}

{% set title = "Пасмурное" %}
{% set pubdate = "13.11.2011" %}
{% set workdate = "06.10.2011" %}
{% set prev = "sicista_napaea/autumn-23" %}

{% block content %}
  {% filter poem %}
    У осенней депрессии — гордый классический профиль,
    У апатии — сотня дверей, но отсутствует выход!
    В пятый раз спохватиться — забыла про утренний кофе! —
    А дойдя наконец — обнаружить, что он уже выпит.

    На хранилище памяти снова ржавеют засовы,
    Шестерёнки иллюзий скрипят, как тележные оси…
    В тёмных дебрях сознания жалобно ухают совы.
    И стихи — не про демонов даже: про горечь и осень.

    Все идеи стары, до безумия хочется новых:
    Голова — как ночлежка для мыслей бродячих, бездомных…
    Листопад за окном — смесь дубовых, вишнёвых, кленовых,
    Листопад по квартире — блокнотных, тетрадных, альбомных…

    Пероксид — на душевные раны: поднимется пена.
    Дней накладывать швы и глотать анальгетики-книги.
    Нелегко говорить о прошедшем: так хочется bene,
    Но опять почему-то выходит как минимум — {{notelink("nihil", 1)}}…
  {% endfilter %}
{% endblock %}

{% block notes %}
    [<q class="page__cite">«De mortuis aut bene, aut nihil»</q>] (лат.) — «о мёртвых либо хорошо, либо ничего» (прим. авт.).
{% endblock %}
