{% extends template %}

{% set title = "Брюнетка осень" %}
{% set pubdate = "13.11.2011" %}
{% set workdate = "06.10.2011" %}

{% block content %}
  {% filter poem %}
    Солнце проснётся, молочную бледность тумана
    Вмиг оживит золотистым рассветным румянцем.
    Осень-брюнетка, мила и немного жеманна,
    Снова порадует мир зажигательным танцем.

    Дерзость в глазах, отливающих сталью озёрной,
    Соком калиновым влажно блестящие губки…
    Вздрогнет волос водопад фиолетово-чёрный,
    Вихрем взметнутся цыганские пёстрые юбки.

    Руки раскинет — и звоном ответят браслеты,
    Хлынет мелодия птичьих оркестров из чащи:
    Иволги скрипка рыдает, стучат кастаньеты,
    Ритм каблучки отбивают — всё чаще и чаще…

    Осень-брюнетка гадала ладоням кленовым —
    Линия жизни на них истончается, тает…
    Карты разбросаны: в луже — листочек бубновый,
    В небе — крестовая масть улетающей стаи…

    Скоро старуха-зима подкрадётся с кинжалом,
    Мраморный склеп возведёт над кровавым багрянцем.
    Осень-брюнетка, презрев бесполезную жалость,
    Мир удивит безысходности бешеным танцем…
  {% endfilter %}
{% endblock %}
