{% extends template %}

{% set title = "Хардворкинг" %}
{% set pubdate = "13.11.2011" %}
{% set workdate = "25.10.2011" %}

{% block content %}
  {% filter poem %}
    На сыворотке туманов мешаю депрессий тесто,
    Добавив муки{{ acute }} из му{{ acute }}ки и чайную ложку грёз,
    Репризы ночных капризов — не вместе со сном, а вместо;
    Вдогонку плесну по вкусу солёных осенних слёз.

    Действительность цвета хаки и воздух со вкусом сидра.
    Похмельная память варит компот из знакомых лиц.
    Судьба шевельнула пальцем — разбилась её клепсидра,
    И время течёт сквозь небо, играя то блюз, то блиц.

    Осадки осели в массы, и градус упал с балкона,
    На юг — самолётов стаи — возьмите меня с собой!
    У стаи судьба простая — устои свои, законы,
    А я — там и тут — чужая. До встречи. Гуд бай. Отбой!

    Про жёсткий погодный прессинг сегодня писали в прессе:
    Мол, кто-то уснёт в процессе — и exitus невзначай…
    Ну что ж — остаётся exit — лепить пирожки депрессий
    И с белым песком Сахары цедить подостывший чай…
  {% endfilter %}
{% endblock %}
