{% extends template %}

{% set title = "Чудо" %}
{% set pubdate = "13.11.2011" %}
{% set workdate = "19.10.2011" %}

{% block preface %}
  <p class="art__dedic">Ладушке</p>
{% endblock %}

{% block content %}
  {% filter poem %}
    Ходит Чудо по квартире —
    Озорное существо…
    Ты проснёшься в добром мире,
    Где повсюду волшебство,

    В мире радостных событий,
    Чудо-сказок, чудо-книг —
    Чудной прелестью открытий
    Прорастает каждый миг:

    Ночью Соники с карниза
    Дарят сотни чудо-снов —
    Про лошадку в брызгах сизых,
    Про летающих слонов…

    А с рассвета до заката —
    Время смеха и игры:
    По постели, как цыплята,
    Скачут пёстрые шары,

    Зайчик солнечный — в ладошку —
    Словно чудо-колобок,
    За окошком — чудо-кошка
    Ловит солнечный клубок,

    Чудо-птицы в чудо-клёнах
    Чудо-листьями шуршат,
    Мышка яблоком зелёным
    Кормит выводок мышат.

    С верхней полки чудо-звери
    Щурят добрые глаза…
    В чудеса легко поверить,
    Если рядом — чудеса.

    Чудо — жить в волшебном мире
    В чудо-возрасте — четыре!
  {% endfilter %}
{% endblock %}
