{% extends template %}

{% set title = "Татьяна Шеина" %}
{% set pubdate = "25.10.2011" %}
{% set contact = "mailto:skymouse@tut.by" %}
{% set prev = "taniacet/index" %}
{% set next = "urfygeck/index" %}
{% set openGraphImg = "sicista_napaea.jpg" %}
{% set openGraphImgType = "image/jpeg" %}
{% set openGraphImgWidth = 300 %}
{% set openGraphImgHeight = 240 %}
{% set openGraphImgAlt = "Портрет автора" %}
{% set gender = "female" %}
{% set tocBlockHeading = "Стихотворения" %}
{% set biographyHeading = "Автобиография" %}

{% block toc %}
  <h3 class="page__toc-title">Осенние стихи</h3>
  {{worksCollection("autumn")}}

  <h3 class="page__toc-title">Шестерёнки иллюзий</h3>
  {{worksCollection("gears", 0)}}

  <h3 class="page__toc-title">Грань бытия</h3>
  {{worksCollection("edge")}}
{% endblock %}

{% block biography %}
  {% filter prose %}
    Здравствуйте!
    Автобиографии писать не люблю — да и не умею, если честно.
    Я — Шеина Татьяна Валерьевна. Родилась <time datetime="1980-04-29">29.04.1980</time> в Минске.
    Часть детства провела на исконно родной Смоленщине, часть — в Могилёве.
    В университетские годы вернулась в Минск, где и обитаю по сей день.
    По первой профессии — фельдшер-акушер, по второй (и ныне основной) — биолог, генетик.
    Совмещаю такие несовместимые вещи как научная деятельность, семья и подвижный образ жизни. Ну и стихи, конечно…
    Ходить, говорить и рифмовать начала почти одновременно. Возможно, рифмовать — даже немножко раньше.
    Ничего не пишу «на заданную тему» или «потому что нужно что-нибудь писать». Стихи рождаются сами — порой абсолютно неожиданно.
  {% endfilter %}

  {{figure("sicista_napaea.jpg", "Татьяна Шеина", "", openGraphImgWidth, openGraphImgHeight)}}
{% endblock %}

{% block reviews %}
  {% filter review("Андрей Коровёнков", "korovionkoff", "22.11.2011 13:23") %}
    Татьяна, спасибо Вам за прекрасные стихи. Получил истинное наслаждение.
  {% endfilter %}

  {% filter review("Иван Захаров", "icecreamhater", "10.01.2012 17:25") %}
    Прочитал, показалось интересно. Правда, стихотворения женские, которые мне как мужчине до конца бывает трудно понять на эмоциях, но речь хороша и богата.
  {% endfilter %}

  {% filter review("Алексей Горбатюк", "hoholist", "10.11.2011 22:40", "", "raw") %}
    {% filter poem %}
      Непостижимо, божественно, главное —
      Эти стихи бесконечно талантливы.
      Даже не верится, что в наше время
      Кто-то способен нести это бремя.
      Пусть Вам и дальше сопуствует муза,
      Ждём от Вас тонн стихотворного груза.
    {% endfilter %}
  {% endfilter %}

  {% filter review("Татьяна Шеина", "sicista_napaea", "14.11.2011 13:54", "answer", "raw") %}
    {% filter prose("short") %}
      Алексей, спасибо Вам за такую позитивную оценку моего творчества!
    {% endfilter %}

    {% filter poem %}
      Радость дарить — не является бременем,
      Ну а талант — проверяется временем.
      Хочется — завтра, сегодня, вчера —
      Чтобы стихи были легче пера:
      Людям не надобно лишней обузы!
      Жаркий привет — от меня и от Музы!
    {% endfilter %}
  {% endfilter %}

  {% filter review("Мелиус", "pstarshiy@mail.ru", "19.01.2012 01:22") %}
    Массаракш, ну почему Вы на 9 лет старше меня! Я тоже биолог… а, ладно. Спасибо за стихи! Огромное спасибо! Я редко видел что-то подобное.
  {% endfilter %}
{% endblock %}
