{% extends template %}

{% set title = "Крик" %}
{% set pubdate = "04.05.2008" %}
{% set next = "ivanup/poem-1" %}

{% block content %}
  {% filter poem %}
    Крик чёрно-белым рисунком на стенах,
    Из головы выливается грим.
    Может, это просто свет играет в венах?
    О чём мы смеёмся, когда мы не спим?

    Бог наверху нажимает на кнопки.
    Я разучился верить в Бога.
    Мне улыбаются круглые скобки.
    Вот она — твоя свобода.

    Тени застынут в нахальных позах,
    Лишь я на секунду прикрою глаза.
    Ну где вы? Давайте роняйте слёзы!
    Я был сам собой полсекунды назад.

    …На моём лице — холод прошлого лета
    И зимы трёхсекундный стон.
    Ждёт окно твоего ответа…
    Смерть — только лишь… летаргический сон.

    В моей набитой чернотой башке
    Бомбы и пули привычно летают,
    Время моё оставляет след,
    Небо моё непривычно тает.

    Но небо, что сердце — бездонное, чёрное,
    Сквозь хохот дождя мне о чём-то скажет.
    Миллиарды лун закопчённых
    Я обернул в блеск конфетных бумажек…
  {% endfilter %}
{% endblock %}
