{% extends template %}

{% set title = "Капитаны" %}
{% set pubdate = "18.03.2008" %}
{% set next = "icecreamhater/brain-1" %}
{% set nextTitle = "К первому произведению первого автора" %}

{% block content %}
  {% filter poem %}
    Жестокие законы улиц
    Поглощают пацанов.
    Капитаны районов
    Выходят в дозор.

    Наши районы терпели,
    Наши районы горели.
    Наши ребята не ждали —
    Наши ребята восстали.

    Опьянённые кровью,
    В бой идут Капитаны,
    Капитаны районов,
    Города Капитаны.

    Наши районы терпели,
    Наши районы горели.
    Наши ребята кричали,
    Наших ребят убивали.

    «Холодная кампания» —
    Так называли наш конфликт.
    И те, кто остались живы,
    Помнят каждый миг.

    Да, возможно, это глупая война,
    Но шла она за то,
    Что каждый ценит:
    Дом, семья, район, родная улица,
    Покой сестёр и слёзы матерей.
    И вот он, бой,
    Осталось ждать мгновения,
    И те, кто видел этот марш,
    Застыли в изумлении.

    Давно не слышал тихий город
    Топота яростных шагов.
    Забыты старые проблемы —
    Весь город, как одна стрела.
    И каждый для нас уже герой,
    И для себя каждый уже Капитан.
    Страх уже прошёл,
    Осталась только ярость,
    Ещё остался яд в душе,
    Который прожигает до сих пор.
    А что произошло потом?
    Спросите у ребят,
    Которые под серым снегом
    Там лежат…

    Нас осталось двести…
    Двести из двух тысяч.
    Но мы не проиграли,
    И не было реванша.
    В этот день, точнее, ночь,
    Мы потеряли своих братьев,
    Сыновей, друзей
    И просто лучших парней.
    Знайте, ребята,
    Вы в наших сердцах на века,
    Вы Капитаны улиц,
    Герои районов.
  {% endfilter %}
{% endblock %}
