{% extends template %}

{% set title = "Не курю" %}
{% set pubdate = "09.03.2008" %}

{% block content %}
  {% filter poem %}
    Я не курю, курю лишь сигареты.
    Чтобы забыться или что-нибудь забыть.
    Я не курю, но иногда стилеты
    Вонзаются в измученную грудь.
    Не помогают даже пистолеты,
    А хочется банально закурнуть.

    Я не курю, курю по воскресеньям.
    Воскресным утром хорошо курнуть.
    За куревом, бывает, засыпаю,
    За куревом ведь так легко уснуть!

    Я не курю, курю я лишь на завтрак,
    Чтобы проснуться или лучше спать.
    Я не курю, и, в общем, на курящих
    Мне, если честно, просто наплевать.

    Я не курю, но мне табачный запах
    Роднее самых близких мне родных.
    Я не курю, я свой посеял тапок,
    И лишь поэтому мне надо закурить.

    Я не курю, бывает, я читаю,
    Читаю я рассказы про войну.
    Я не курю, я часто отдыхаю,
    Лежу я с сигаретою во рту.
    Её я никогда не замечаю,
    И лишь поэтому я вовсе не курю…
  {% endfilter %}
{% endblock %}
