{% extends template %}

{% set title = "Сити Дарк" %}
{% set pubdate = "06.03.2008" %}
{% set prev = "chumakova/poem" %}

{% block content %}
  {% filter poem %}
    День промчался, словно тень,
    Мне об этом думать лень.
    Даже в шорохе шагов,
    В окружении врагов.
    Образ Светлый
    Унесёт меня
    Туда, гда я забуду этот город.
    Люди правдой жгут сердца.
    Нет начала,
    Нет конца,
    Только страх и милость,
    Только боль и ярость!
    Но…
    Тихий покой не так далеко — небо рядом,
    Провожаю взглядом
    Солнце. И стирают грани бомбы,
    Я искал покой,
    А душа сбежала в катакомбы.
    Слякоть, пепел, темнота и ночь.
    Могут лишь они помочь.
    Смысл плавится,
    Мысль сбивается.
    В эти страшные мгновенья
    С жаждой полного забвенья
    Ходят промокшие люди-прохожие…
    С ног сбивая друг друга.
    Жизнь нам не подруга.
    С деревьев падают листья,
    Нам не угнаться!
    А в глазах пустота…
    Только полночь одна
    Способна понять одинокий призрак…
    Мечты.
    А ты — в плену пустоты,
    Ищешь себя,
    Не хватает угля,
    Чтобы забыться сном
    Или уйти под гром
    Небесного свода.
    Такая свобода
    Душит и давит.
    Кто-то не ищет, а кто-то теряет.
    Его друг пошёл в бой,
    Ну а он гниёт здесь…
    И зачем создал бог эту адскую смесь?
    Я помню. Я помню этот страх и эти крики.
    Я помню темноту,
    Все её лики.
    Такого совершенства не бывает.
    Кто знает?
    Во тьме идеально…
    Прохладно, спокойно и тихо.
    Я чую между нами эту связь.
    И за покой готов глотать я грязь…
    Убить кого-то…
    Изящно, красиво и мило.
    Мне слов не хватало…
    И сейчас не хватило…
  {% endfilter %}
{% endblock %}
