{% extends template %}

{% set title = "Hе люблю" %}
{% set pubdate = "24.10.2011" %}

{% block content %}
  {% filter prose %}
    Почему я тебя больше не люблю? Совсем не люблю…
    Я не радуюсь, когда случайно с тобой сталкиваюсь. Мне комфортнее, когда я тебя не вижу.
    Меня не бросает в жар от твоего присутствия, как когда-то. Мне намного лучше, что тебя нет в моей жизни.
    Я не замираю от восторга, если случайно дотрагиваюсь до тебя. Если же это вдруг происходит, моё лицо искажает гримаса гадливости.
    Я совершенно равнодушно перешагиваю через тебя, когда вижу у своих ног. Иногда даже специально задеваю тебя носком туфли. Назло тебе, да и самой себе тоже.
    Мне давно не хочется зарыться лицом в твою нежность и вдохнуть твой запах. Наоборот, флёр твоего существования вызывает у меня приступ тошноты.
    Я устала от твоего присутствия. Все воспоминания о прекрасно проведённых, счастливых днях, когда прохожие на нас оглядывались: мужчины — с восхищением, женщины — с завистью, — я хочу спрятать на самую дальнюю полку памяти. Как в старый тёмный шкаф.
    И не помнить тебя, не видеть, не прикасаться, не ощущать! Ничего!
    А знаешь, почему это происходит? Потому что я ненавижу тебя, старое, дурацкое, такое нелепое маленькое чёрное платье прошлого сезона!
  {% endfilter %}
{% endblock %}
