{% extends template %}

{% set title = "Korcula" %}
{% set pubdate = "12.11.2011" %}
{% set prev = "jesholland/song-5" %}

{% block content %}
  {% filter prose %}
    Тысячи скрипок в голосах птиц. Влекут и манят бирюзовые глаза русалок, играющих в волнах. Жемчужинами сверкают их улыбки.
    Руки-мачты. Паруса-крылья. Краса морей — огромный фрегат. Он блещет позолотой в лучах заходящего солнца. Он горд и смел.
    А на его борту — дети страха. Им не дано летать, как птицы. Они не умеют покорять морские глубины.
    Им остаётся только завидовать и роптать на свою судьбу.
  {% endfilter %}
{% endblock %}
