{% extends template %}

{% set title = "Жена смерти" %}
{% set pubdate = "22.10.2011" %}

{% block preface %}
  {% filter ins %}
    {% filter short %}
      По мотивам новелл Эдгара Аллана По.
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter poem %}
    Сердце зашью себе ниткой суровой,
    Схиму приму и надену оковы.
    Выжгу калёным железом глаза,
    Чтоб никогда не сверкала слеза.

    Мрачной черни{{ acute }}цей пойду я на ощупь,
    Буду пугать жизнелюбов, как мощи.
    Кружкой бренчать, собирая гроши,
    И «Stabat Mater» вопить от души.

    Во{{ acute }}рон и я вмиг узнаем друг друга,
    Блюдо кровавое пустим по кругу.
    С вьюгой повоем, как пьяные, всласть,
    В терцию к волку стараясь попасть.

    Полчища крыс соберу я в упряжку.
    Что? До сих пор не узнали бродяжку?
    Дьявол трепещет! Я — смерти жена.
    И откликаюсь на имя Война.
  {% endfilter %}
{% endblock %}
