{% extends template %}

{% set title = "Не думай, что ведьмой быть просто!" %}
{% set pubdate = "22.10.2011" %}

{% block content %}
  {% filter poem %}
    Враньё надо мною сверкает,
    Как меч, — хладнокровно и остро.
    Все судьи меня обвиняют:
    «Не думай, что ведьмой быть просто!»

    Шаги по ступеням помоста…
    Палач улыбнулся в лицо:
    «Не думай, что ведьмой быть просто!» —
    И пламя замкнуло кольцо.

    Петля на ветру напевает:
    «Не думай, что ведьмой быть просто!» —
    И сердце моё обрастает
    Кровавою ржавой коростой.

    Не думай, что ведьмой быть просто!
    Вода, словно гроб ледяной,
    Захлопнула крышку за мной.
    Мне жить за стеною погоста…
  {% endfilter %}
{% endblock %}
