{% extends template %}

{% set title = "По мотивам Фудзивара-но Садаиэ" %}
{% set pubdate = "12.01.2012" %}

{% block content %}
  {% filter poem %}
    У нашей встречи вид осенний,
    Заледенел рукав от слёз.
    «Оставь надежду, всяк входящий»
    В страну с названием Любовь…

    …Перебираю в памяти слова,
    Как пряди длинные возлюбленной на ложе.
    Ищу следы любви былой
    И знаю, что неправ. Но всё же…
  {% endfilter %}
{% endblock %}
