{% extends template %}

{% set title = "Не вспоминая моих грустныx любовников" %}
{% set pubdate = "12.01.2012" %}
{% set prev = "jesholland/cro-4" %}

{% block preface %}
  {% filter ins %}
    {% filter short %}
      Не Маркес.
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter poem %}
    Не жаль мне вас,
    Случайных, недолюбленных,
    Опустошённых и обугленных
    Прикосновеньем быстрых глаз.

    Всегда был спрос,
    А я не помню всех возлюбленных.
    Не знаю судеб, мной загубленных,
    Сердец, любивших на износ.

    Смешные грустные любовники…
    Как пресный вкус плодов шиповника —
    Воспоминаний… никаких.
    Вас не зову. Люблю других.
  {% endfilter %}
{% endblock %}
