{% extends template %}

{% set title = "Выверты" %}
{% set pubdate = "12.01.2012" %}

{% block content %}
  {% filter poem %}
    Это будет завтра в прошлом.
    Ты пришёл и не вернулся.
    Не дышал, но задохнулся,
    Плакал пеплом слёз.

    Незнакомое я помню.
    Оживу, не умирая,
    И по середине края
    Медленно пройду.

    Мы разорваны, мы вместе.
    Я с тобой, но в одиночку.
    Не возьму любoвь в рассрочку.
    Раз и навсегда.
  {% endfilter %}
{% endblock %}
