{% extends template %}

{% set title = "Mолюсь за тебя" %}
{% set pubdate = "12.01.2012" %}
{% set next = "jesholland/black-1" %}

{% block content %}
  {% filter poem %}
    В храме сумрачном лик.
    Я стою на пороге.
    Никогда ничего не искала я в Боге,
    Но теперь я молюсь за тебя.

    Мне отпущен лишь миг —
    Попросить о прощенье,
    Несвершённых грехов получить отпущенье,
    Но защиты прошу для тебя.

    Разум мой не постиг
    Всех основ мирозданья,
    Знаю только одно: что любовь — созиданье.
    Свою душу отдам за тебя.
  {% endfilter %}
{% endblock %}
