{% extends template %}

{% set title = "Дочь самоубийцы" %}
{% set pubdate = "04.11.2011" %}
{% set next = "mouse/love-1" %}

{% block content %}
  {% filter prose %}
    Это я, твоя девочка.
    Родная моя, кто сказал твоей дочери, что жизнь дана только для радости и счастья? Ты помнишь, кто это сказал?
    Сколько всего было пережито… И слёзы от моей первой «несчастной» любви, и совместные творческие победы, и долгие ночные разговоры, когда мы с тобой часами бродили по старому городу и болтали, болтали, болтали обо всём на свете. И ссоры, конечно…
    Мы с тобой больше, чем мама и дочь. Помнишь, как ты гордилась мной? Только твоя девочка ездит верхом, как настоящая амазонка! Только твоя малышка танцует лучше всех… Только она читает книги не в инете, а в библиотеке. Только она смотрит фильмы, заставляющие думать, а не тупо гоготать… Только с твоей «ребёнкой» можно говорить на все темы — запрещённых нет!
    Ты говорила: «Детка, ты самая лучшая в мире. Я никогда тебя не предам!» И я верила тебе. А ещё ты говорила: «Я никогда не покину тебя. Я всегда буду рядом». И я верила тебе. Я тебе верила!
    Знаешь, как можно «помертветь»? Я тоже не знала. Это когда миллионы ледяных игл пронзают всё твоё существо! Омертвение. Мозг отключён. Я умерла. Мгновенно… И никто этого не заметил.
    Одна единственная мысль, пробивающаяся сквозь толщу льда, всё-таки напоминающая, что я умерла не до конца. Это не ты. Люди ошиблись. Не может быть, чтобы это была ты. Ты обещала. Ты никогда не обманывала меня. Они перепутали. Не может быть, чтобы это была ты!!!
    Вижу твоё опрокинутое лицо в обрамлении волос, которые я накручивала на палец, когда засыпала. А ты пела мне японские колыбельные и гладила по голове. Теперь я машинально глажу тебя по голове и пою тебе колыбельную. Нашу любимую. Ты меня слышишь? Ты должна меня слышать. Ты обещала, что никогда не уйдёшь. Ты всегда выполняла свои обещания.
    Но приехали они и забрали тебя. А меня не стало на долгие три недели. Осталось что-то, имеющее возможность ходить и говорить. Иногда. Это что-то кому-то что-то отвечало, делало вид, что двигается. Что-то приезжало к тебе в больницу и сидело часами, всё так же монотонно напевая ту же японскую колыбельную. Что-то пыталось изображать жизнь.
    Ты слышала меня? Ты понимала, что я рядом?
    Как ты могла забыть о своём обещании? Как ты только посмела нарушить своё слово? Разве ты не хотела больше видеть меня? Тебе было уже не интересно, что нового я придумала? Тебе было всё равно, о чём я мечтаю? Тебе больше не хотелось хохотать над моими приколами и дурацкими танцами? Почему ты захотела оставить меня? Только потому, что какой-то мерзавец решил искалечить твоё тело? Но разве не я защищала тебя? Разве не я отводила занесённый над тобой кулак? Разве не я вытирала кровь и слёзы с твоего до боли любимого лица? Это же я, вспомни! Я всегда была рядом с тобой. Почему ты решила бросить меня? Оставить одну. Разве ты меня больше не любишь?
    Ты никому ничего не доказала. Он ни разу не пришёл к тебе… Неужели ты и теперь простишь? Если ты это сделаешь, тебя не прощу я. Ты уже один раз предала меня. Я простила. Второго раза не будет.
    Я люблю тебя. Но простить ещё раз не смогу. Прости.
  {% endfilter %}
{% endblock %}
