{% extends template %}

{% set title = "Подростка" %}
{% set pubdate = "04.11.2011" %}
{% set prev = "jesholland/black-3" %}

{% block content %}
  {% filter prose %}
    Я — гадкий утёнок. Тощая, страшненькая, голенастая. Рот, как у Щелкунчика. Глаза, как у удивлённой жабы. Цвет какой-то непонятный у этих вытаращенных глаз. Не то серый, не то зелёный. Или голубой? Идиотский цвет. Всегда мечтала о глазах карего цвета. Как у Светки Орловой. Она — самая красивая девочка во всех классах нашей параллели. Завидую…
    Я ещё и длинная. Самая высокая в классе. Выше всех девочек. Да и мальчиков тоже. Ну, эти-то вообще шпендики.
    Ненавижу мальчишек. Придурки! Даже не могу представить себе, чтобы нормальные родители хотели иметь сына.
    Получается, что мои предки — ненормальные. Они хотели мальчика, а родилась я. Не оправдала доверие. И родилась сразу страшилой. Лысая, как колено, с паучьими лапами вместо рук и ног. Нет чтобы белокурым херувимчиком с ручками и ножками, перетянутыми, как сосисочки в гирлянде! Щас! Ну и скажите на милость, кто же это будет любить паукообразное лысое существо, к тому же не заказанного пола. Бедная моя маменька! Она — эстетка и умница. Её жизнь наполнена до краёв красотой и гармонией. На красоту она молится. В её мире нет места паучатам. У неё арахнофобия. Поэтому она и спровадила меня как можно скорее к бабушке. Бабуля за свой век ко всему привыкла, не на такое насмотрелась. Смогла и большеротого членистоногого головастика полюбить.
    Через два года матушка соизволила явить себя моему детскому миру. «Ни фига себе!» — сказал паучишка, превратившийся к тому времени в милого пушистого цыплёнка. Да, такого не происходит в животном мире. Но мы-то — венцы природы. У нас и не такое случается. Так вот. «Ни фига себе! — сказал сам себе цыплёнок. — У меня, оказывается, две мамы! Одна красивая, а вторая — добрая. Что делать? Кого выбрать?» Но за цыплёнка сделала выбор одна из мам. Которая была красивой.
    Однажды я опозорила матушку в троллейбусе. Одна пассажирка долго сюсюкала со мной, восхищаясь моими глазками и волосиками, а потом, устав, замолчала. Мне же хотелось, чтобы мне снова уделили внимание. Подёргав добрую женщину за рукав, я похвасталась: «Тётя! А у меня глисты!» Я сейчас уже не помню, доехали мы до своей остановки или на ходу из троллейбуса выпрыгнули…
    Если бы моя маман была менее восторженной, она бы никогда не сделала такую роковую ошибку. Никогда не забрала бы меня от доброй мамы. Она не знала, что паучьи трансформации продолжаются. Спустя короткое время она получила вместо золотисто-пуховой очаровашки, на которую оглядывались прохожие, то, что имеет сейчас. Голенастого пучеглазого гадёныша.
    А тут ещё одна «радость». Фурункулёз… Докупалась в речке. Мало того, что боль адская, так ещё и морду периодически перекашивает с одного бока на другой.
    Недавно поехали с матушкиными коллегами на экскурсию в Питер. А меня как раз перекосило в очередной раз. Так одна из конторских крыс елейным голоском Лисы Алисы спросила: «Ой, Анна Сергеевна! А на кого Ваша Люсенька похожа? Вы с мужем такие интересные…» Дура, блин! На сватью Бабу Бабариху я похожа, после её поцелуя с князем Гвидоном в роли комара.
    В принципе, нет худа без добра. Благодаря тому, что мои предки периодически исчезали с моего горизонта и скрывались в мире гармонии и красоты, я научилась читать самостоятельно и слушать русские классические оперы. Арии из них я разучивала на слух. Особенно лихо мне удавалась ария варяжского гостя из «Садко». Голос у меня всегда был достаточно низким… Не бас, конечно.
    Вот интересно. Если у меня когда-нибудь будет дочка, и какая-нибудь старая грымза начнёт что-то слюняво пришепётывать про внешность моего ребёнка, я буду реагировать так же, как моя маменька? Подтрунивать над дочкой и рассказывать, что девочка — не красавица, конечно, но живо интересуется искусством? Интересно, предки у всех такие придурки?
    К сведению моей маман. Справка. Я не люблю русскую классическую литературу (хотя читаю запоем, делать-то всё равно нечего). Я не особо увлекаюсь живописью русской школы девятнадцатого века. Да и театр мне по барабану. В том виде, в котором мне его навязывают. Всё та же бесконечная русская классика. Но! Я научилась отменно притворяться и мастерски врать. Представляю, как бы взвыла моя эстетствующая родительница, если бы узнала, что наиболее ожидаемый мною момент театрального действа — это окончание спектакля. Ха, тире, ха, тире, ха!
    А, ну да! Она же до сих пор всем с умилением рассказывает, как я плакала в глубоком детстве, когда заканчивался фильм. Для неё это — свидетельство исключительной духовности её чада. До сих пор своими восторженными мозгами не может сообразить, что орала я по одной простой причине. Не хотела из надышанного тепла кинозала выползать снова в промозглую хмарь ненавистного города.
    О да! Играть я умела уже тогда. Видимо, появилась на свет с врождённым чувством лицедейства и двуличия. Хотя маман с упорством идиота доказывает и мне, и себе, и окружению, что раньше меня родилась моя лень. Пожалуй, единственное, в чём она права. Я патологически ленива. И что? А если мне не хочется убирать комнату? Нет, тут же бухтят с двух сторон. Это тот случай, когда в процесс воспитания вмешивается папенька. Выползает из света идеальных отношений ушедших веков в мою, кстати, и не такую уж захламленную комнату. И начинается! Ты должна. Ты обязана. Если тебе не хочется, ты должна заставить себя. Сделать через «не могу»… Я что, Рахметов, что ли? На гвоздях должна спать, как это делала моя маменька, начитавшись галиматьи Чернышевского? Или эту дурацкую математику учить, в которой я ни бельмеса не смыслю? Угу, бегу уже по синусоиде. Оборжёшься! Я тут недавно папашкин табель за девятый класс нашла… Ну-ну!
    Господи! Kак они мне надоели своими нотациями! Как меня достала эта постоянная бесконечная трепотня о вечном и нужном! Как мне осточертели эти еженедельные посиделки всей их рефлексирующей богемы с их страданиями по своим загубленным, непризнанным талантам!
    И маменька краше всех! Ах, театр! Ах, живопись! Ах, музыка! Ах, литература! Классика, классика, классика… Бренность бытия, мещанство быта… Ещё три раза «ха» через тире. Квохчет, а сама себе такие туфли из Москвы привезла, что вся её артистически-музыкальная братия челюсти на пол уронила.
    Eсли бы она внезапно умерла, её туфли достались бы мне.
  {% endfilter %}
{% endblock %}

{% block reviews %}
  {% filter review("Елизавета Золотухина", "elizaveta-zolotuhina", "29.12.2011 12:51") %}
    Каждое Ваше творение по-особому зацепляет, мне понравилось всё, что я пока прочитала, но особенно, конечно, «Подростка»… Вы молодец!
  {% endfilter %}
{% endblock %}
