{% extends template %}

{% set title = "Статуэтка" %}
{% set pubdate = "08.11.2011" %}

{% block preface %}
  <p class="art__dedic">Посвящается моей прабабушке</p>

  {% filter ins %}
    {% filter short %}
      По мотивам сказок Г. Х. Андерсена «Пастушка и Трубочист» и «Старый дом».
    {% endfilter %}
  {% endfilter %}
{% endblock %}

{% block content %}
  {% filter poem %}
    На высоком фарфоровом лбу —
    трещины.
    Плачет кто-то в старинном шкафу
    женщины.
    За стеклянной решёткой тюрьмы
    мается,
    Перед ликом гончарных святых
    кается.

    Керамической звонкой душой
    сетует,
    Что в судьбе статуэтки простой
    света нет.
    Но не слышит Верховный Гончар
    жалобы.
    Безделушек в забытых домах
    мало ли…
  {% endfilter %}
{% endblock %}
