{% extends template %}

{% set title = "Моя бодлеровская осень" %}
{% set pubdate = "08.11.2011" %}
{% set prev = "jesholland/experiment-5" %}

{% block content %}
  {% filter poem %}
    Бледные рыбы, скучные птицы.
    Тихие звери, тусклые лица.
    В трауре листья. Скорбные травы
    Cлёзы роняют, как зёрна отравы.
    Время природе в чахотке свалиться.
    Сжалась в комок в ожиданьи расправы.
  {% endfilter %}
{% endblock %}
